[2017-07-11 17:52] sdwilsh opened #5 "`yarn` install instructions"
It'd be great to supply `yarn` instructions in addition to or in place of `npm` instructions.  Most of this stuff maps directly between the two, but things like saving dev dependencies, `yarn` wants this to be written into the `package.json` file.

[2017-07-11 20:41] sdwilsh opened #6 "Development Port Should Be Configurable"
Port 3000 doesn't work in all environments.  It'd be great to be able to override this somehow.

[2017-07-11 21:06] sdwilsh opened #7 "Search bar not positioned correctly"
I'm creating a new site, and I loaded the site in Firefox:
![capture](https://user-images.githubusercontent.com/656602/28090676-ef77b19c-6641-11e7-9284-44e738d79489.PNG)

Appears to be broken in Chrome too.

[2017-07-11 21:31] sdwilsh opened #8 "Adding additional external links doesn't appear to work"
In my `siteConfig.json`:
[code]

Results in this HTML being generated:
[code]

While the node was created, it doesn't have the text in it.  Order doesn't seem to matter; GitHub is always printed, and Buck isn't.

[2017-07-12 19:10] #8 closed, assigned to nobody

[2017-07-13 22:13] #6 closed, assigned to nobody

[2017-07-13 22:22] #5 closed, assigned to nobody

[2017-07-17 23:05] #7 closed, assigned to nobody

[2017-08-07 17:53] JoelMarcey opened #29 "Docathon August 2017: Master Issue List"
Use this to come up with issues and items we want to close during this docathon

- [x] Logo (@ericnakagawa)
- [ ] Sidebar content (see below for details)
- [x] Landing Page - Includes icons/graphics, CSS (@ericnakagawa)
- [x] Footer
- [ ] Help Page
- [x] Site look and feel - (@ericnakagawa)
- [x] Site launch (Cloudflare, SSL, nameservers) (@JoelMarcey)
- [ ] CircleCI or Travis to actually publish

[2017-08-07 17:53] ericvicenti opened #30 "When starting dev server it should show the full link"
When the full link is provided (`http://localhost:3000/`) it can be clickable in some circumstances, like with cmd-click

[2017-08-07 17:56] ericvicenti opened #31 ""get started" link on docusaurus homepage is broken"
"Cannot GET /docusaurus/docs/en/getting-started.html"

[2017-08-07 20:56] JoelMarcey opened #34 "Write a script that does all installation pre-work"
We should be able to write a script that creates the website directory, adds the `package.json` info and does the `npm` or `yarn` install.

[2017-08-07 21:01] JoelMarcey opened #35 "Avoid error when doc is missing from sidebar.json"
This should be valid

[2017-08-07 21:46] hramos opened #37 "Website generation fails with SyntaxError: Unexpected token < | <DocsLayout ... >"
Docusaurus is not starting up for me on a handful of demo sites. I was able to repro on a clean new project.

## Steps to reproduce

1. Create a brand new project. For example:
[code]

2. Update `website/package.json` with the following:

[code]

Note that this checks out a particular commit. I was able to reproduce the issue by pulling in docusaurus from master as well (by omitting the commit-ish

[2017-08-07 21:58] hramos opened #38 "docusaurus-examples places examples in wrong subdirectory"
The example files are being copied to `YOUR_SITE/website/YOUR_SITE/website/node_modules/docusaurus/examples` instead of `YOUR_SITE/website`.

Consider a new plain example site, `docusample`, with a single package.json file:

[code]

It's contents are:

[code]

Running `npm run examples` will place all the placeholder files inside `YOUR_SITE/website/YOUR_SITE/website/node_modules/docusaurus/example

[2017-08-07 22:27] ericvicenti opened #40 "Review .isActive functionality on nav bar"
Seems to not work entirely

[2017-08-07 23:18] ericvicenti opened #42 "sidebar.json rename to sidebars.json"

[2017-08-07 23:28] JoelMarcey opened #43 "Next Label should show next doc name instead"
Instead of `Next ->`, be `Name-Of-Next-Doc ->`

[2017-08-07 23:55] hramos opened #44 "GitHub Button in core/Footer.js"
`core/Footer.js` has a GitHub button that links to https://github.com/deltice/test-site by default. The user will already need to configure their repo URL in siteConfig.js, so I wonder if we can just default to using that here.

[2017-08-07 23:59] JoelMarcey opened #45 "Add page tabbing infrastructure"
Similar to https://facebook.github.io/react-native/docs/getting-started.html

<img width="707" alt="screenshot 2017-08-07 16 58 53" src="https://user-images.githubusercontent.com/3757713/29050584-bb740642-7b91-11e7-9295-b7f873b168a4.png">

[2017-08-08 00:00] JoelMarcey opened #46 "Feature: Pluggable infrastructure"
We need to figure out a way to make Docusaurus pluggable.

There are features we are not going to support that some people may want. How can we make it easy for folks to add those features.

[2017-08-08 00:14] ericvicenti opened #47 "API Change: siteConfig headerLinks"
`headerLinksInternal` and `headerLinksExternal` should be replaced with one array in siteConfig: `headerLinks`.

Each headerLink is one of the following:

### Link to Doc:
[code]

### Link to Page:
[code]

This is the page located at `website/pages/[en/]foo/bar.js`

### Manual/External Link

[code]

### Search Box

Specifies the location of the search box in the header

[code]

[2017-08-08 18:59] JoelMarcey opened #51 "Better error message if remove default doc"
Right now

[code]

Probably could do a check and give a message like "Did you remove the default document and forget to remove from siteConfig.js"???

[2017-08-08 20:46] ericvicenti opened #52 "'Edit this page' link is broken for docusarus pages"
It seems to include the '/en/', even though it is not inside an en folder

[2017-08-08 20:53] #52 closed, assigned to nobody

[2017-08-08 21:09] #42 closed, assigned to nobody

[2017-08-08 21:10] #30 closed, assigned to nobody

[2017-08-08 21:10] #31 closed, assigned to nobody

[2017-08-08 21:10] #35 closed, assigned to nobody

[2017-08-08 23:07] #40 closed, assigned to nobody

[2017-08-09 04:38] JoelMarcey opened #56 "Add unit testing framework"
.... maybe with Jest.

That way we can regression test changes, etc.

[2017-08-09 18:37] ericvicenti opened #58 "MetadataBlog.js should be in .gitignore"
This is a build file and I should not be encouraged to commit it

[2017-08-09 20:14] #47 closed, assigned to nobody

[2017-08-09 21:32] #58 closed, assigned to nobody

[2017-08-14 15:53] JoelMarcey opened #65 "Licensing for installs of Docusaurus"
When someone installs Docusaurus via `yarn` or `npm`, we need to do one or maybe two things re: licensing:

1. Remove the license headers from the code that is generated in `website` for the site that uses Docusaurus since it points to the actual Docusaurus GitHub repo license which may not be applicable to the site using Docusaurus.

2. Add our Examples license to the `examples` directory. We sho

[2017-08-15 18:13] #37 closed, assigned to nobody

[2017-08-31 01:33] hramos opened #72 "Add support for blog author avatars"
The React Native blog has some additional frontmatter tags. One of those allows a blog post to display the author's profile picture. See https://github.com/facebook/react-native/blob/master/blog/2017-08-30-react-native-monthly-3.md for an example.

I'll add this functionality to Docusaurus.

[2017-08-31 21:50] hramos opened #73 "Fix mobile layout"
I noticed that the React Native site looks weird on mobile. I'll come back to this task later with examples.

[2017-08-31 22:17] hramos opened #74 "Remove react-warning-keys"
When Docusaurus is running, the following warning can be seen in the console when a page is accessed:

[code]

Fixing this warning is straightforward in React code, but notice that it's coming from `marked.js`. If I understand this correctly, we're generating HTML from Markdown and placing the output inside a React component. The generated HTML lacks the keys props, causing this warning to show.

[2017-08-31 22:17] hramos opened #75 "Remove use-check-prop-types warning"
The following warning can be seen in the console when a page is served by Docusaurus:

[code]

[2017-08-31 23:07] ericnakagawa opened #76 "Resolve website "key" prop warning in console"

[2017-08-31 23:07] ericnakagawa opened #77 "Support themes"

[2017-08-31 23:08] ericnakagawa opened #78 "Support autogeneration steps"
* Sphinx (Python)
* Jazzy
* Doxygen (C++)
* etc

[2017-09-22 05:55] rickyvetter opened #82 "Read More link on blog posts"
It looks like blog posts without `` comments still show a `Read More` link even though they are shown in entirety in the /blog page.

[2017-09-22 06:01] rickyvetter opened #83 "Blog posts with . in file name don't get loaded correctly"
For example - `2017-09-01-0.2.4.md` will try to generate `/blog/2017/09/01/0-2-4.html`, but when loading the page using `docusaurus-start` there is an error message that looks like:

`Error: ENOENT: no such file or directory, open '/path/to/project/website/blog/2017-09-01-0-2-4.md'`

[2017-09-25 17:06] ericnakagawa opened #85 "Jest Blog doesn't render, no error message"
* add some info about _why_ the blog fails

[2017-09-25 17:07] ericnakagawa opened #86 "Sidebar error shown when front matter includes more than just supported fields {id, title, sidebar_title}"
* show a more descriptive error to user

[2017-09-25 17:10] ericnakagawa opened #87 "Feature Request - Blog mode"
A personal site like mine could benefit from a "start at blog" feature.

How it would work:

Set starting page as /blog --> reroute /index to /blog

Could also render the /blog in /index.html

[2017-09-26 00:32] rickyvetter opened #89 "max callstack error"
I'm running into a max call stack error for what I assume are deeply nested modules - I haven't really done anything outside of the default setup, so I'm assuming this is pretty easy to hit. Makes it so I'm unable to use `docusaurus-start`.

[code]

[2017-09-26 04:03] rickyvetter opened #90 "Better crowdin command documentation."
Currently in the translation documentation it's recommended that you add a line like: `"crowdin-upload": "export CROWDIN_DOCUSAURUS_PROJECT_ID=$YOUR_CROWDIN_ID; export CROWDIN_DOCUSAURUS_API_KEY=$YOUR_CROWDIN_API_KEY; crowdin-cli --config ../crowdin.yaml upload sources --auto-update -b master",` to your package.json. What is `crowdin-cli`? It doesn't work the the `npm i crowdin-cli` package, and t

[2017-09-27 05:37] rickyvetter opened #95 "Duplicate translations required."
When translating .md files, the titles also get put into en.json. This causes duplicate entries in crowdin.

See:
https://crowdin.com/translate/reason-react/4/en-enud
https://crowdin.com/translate/reason-react/25/en-enud#q=Working+with+Children

for duplicates.

[2017-09-27 18:18] rickyvetter opened #96 "Can't have a static resource with a file name that includes the word 'static'"
These lines will best case scenario throw a cryptic error, worst case scenario not copy your files correctly:

https://github.com/facebookexperimental/Docusaurus/blob/master/lib/server/generate.js#L342-L344

Try `yarn build` with a file called `staticRedirect.js` for a repro.

[2017-09-27 22:28] JoelMarcey opened #97 "Clobbering CSS files for external pages"
If you have a page that you don't want to have the default design for the site, but it still has CSS files, and you put those CSS files in static, those files will possibly clobber the CSS files of the site.

To fix, maybe...

have a flag that tells Docusaurus which are the canonical CSS files that should be used when rendering. While the others will be ignored.

[2017-09-29 17:12] rickyvetter opened #99 "[feature request] manual deploy"
I definitely see the advantage of setting up CI deploys, but it would be really nice to be able to run `docusaurus-publish --manual` or `docusaurus-publish --local` and deploy from your own machine with your github identity. I think this would lower the barrier greatly for getting a site up and getting it running.

[2017-09-29 21:45] ericnakagawa opened #101 "Support permalinks configured in head matter"
Feature Request:

Allow defining a permalink in post and doc markdown frontmatter.

[2017-09-30 07:39] chenglou opened #102 "Mobile nav breaks too early"
It seems to break at 1024px; should it rather be 736px?

[2017-09-30 16:05] hramos opened #103 "[Enhancement] Improved code blocks"
In this issue I want to collect some ideas for improving our fenced code block widget. 1.0 will launch without this.

- [ ] Language toggling
       A good example of this can be found in the [Parse docs](http://docs.parseplatform.org/ios/guide/#objects).
- [ ] Sub-language toggles
        (e.g. ES6, ES5)
- [ ] Line highlighting
       Support ```javascript{3,5-7} syntax for highlighting (#105 @ri

[2017-09-30 17:13] rickyvetter opened #104 "Runtime error when adding new translation string."
Adding a new translation tag like `<translate>hello</translate>` without running `docusaurus-write-translations` results in a cryptic runtime error when running `docusaurus-start`. Would be nice to get explicit instructions on next steps.

[code]

[2017-10-03 17:30] #89 closed, assigned to ericnakagawa

[2017-10-06 19:16] #104 closed, assigned to ericnakagawa

[2017-10-10 06:17] ericnakagawa opened #120 "Side Bar link sends user to weird url"
Sidebar links send a user to `url#content`. Not sure what the rationale was for doing this, but we shouldn't.

[2017-10-12 19:46] JoelMarcey opened #123 "Prettier output for init script"
See internal Docusaurus post from @caabernathy

[2017-10-13 10:04] JoelMarcey opened #124 "Check if port 3000 is already in use"
@caabernathy ran into the problem where she was running on 3000 for another app, and we got confused why Docusaurus would not load.

[2017-10-13 11:33] chenglou opened #125 "Sidebars fails after adding a new item; not reflected in `i18n` and `translated_docs`"
I added a valid item to the sidebar and then did  `docusaurus-write-translations` (not sure if this part's relevant). When I go to the doc page it gives the typical error:

[code]

I've found out that it's because I downloaded all the translations through crowdin, which adds a new `translated_docs` folder and many json files into `I18n`. These aren't updated. Removing the folder and the other tran

[2017-10-18 03:15] JoelMarcey opened #129 "Check to see if permalinks actually work"
@caabernathy ran into a problem where permalinks are not working and I ran a test and found similar non-working behavior.

[2017-10-18 17:19] JoelMarcey opened #139 "Should lib/server/readMetadata.js/splitHeader() return an empty object"
....instead of `false` in the case where there is nothing to be split.

See #127

[2017-10-18 20:05] rickyvetter opened #143 "Date localization"
Currently blog post dates are not correctly localized
https://github.com/facebookexperimental/Docusaurus/blob/e466c60481d14d57a0e5d4d9fd2ca7dd0fa0fce5/lib/core/BlogPost.js#L87-L99

[2017-10-18 22:17] ericnakagawa opened #144 "Better Translation Support When File or Translation doesn't exist"
bug when a language is enabled but a corresponding translated string or document doesn't exist

[2017-10-19 21:18] #144 closed, assigned to nobody

[2017-10-23 22:54] #143 closed, assigned to ericnakagawa

[2017-10-24 14:18] #87 closed, assigned to ericnakagawa

[2017-10-24 14:36] #82 closed, assigned to ericnakagawa

[2017-10-24 14:38] #85 closed, assigned to nobody

[2017-10-24 20:32] #124 closed, assigned to JoelMarcey

[2017-10-24 20:33] #76 closed, assigned to nobody

[2017-10-24 20:33] #75 closed, assigned to nobody

[2017-10-24 20:33] #74 closed, assigned to nobody

[2017-10-24 20:35] #83 closed, assigned to ericnakagawa

[2017-10-24 21:24] #96 closed, assigned to nobody

[2017-10-24 21:32] #29 closed, assigned to ericnakagawa, hramos, JoelMarcey

[2017-10-24 21:33] #34 closed, assigned to nobody

[2017-10-24 21:38] #51 closed, assigned to nobody

[2017-10-24 21:40] #65 closed, assigned to nobody

[2017-10-24 21:43] #38 closed, assigned to nobody

[2017-10-24 21:45] #72 closed, assigned to nobody

[2017-10-24 21:46] #73 closed, assigned to nobody

[2017-10-24 21:46] #86 closed, assigned to nobody

[2017-10-24 21:51] #129 closed, assigned to JoelMarcey

[2017-10-24 22:16] #120 closed, assigned to ericnakagawa

[2017-10-24 22:19] #90 closed, assigned to ericnakagawa

[2017-10-24 22:24] #95 closed, assigned to ericnakagawa

[2017-10-24 22:26] #125 closed, assigned to ericnakagawa

[2017-10-25 01:51] vjeux opened #178 "Missing active class on the header links"
I want to highlight the header section which is currently active but there's no indication right now.

Example on the RN website:
![image](https://user-images.githubusercontent.com/197597/31976446-79020f6e-b8ec-11e7-880c-686b644d19db.png)

[2017-10-25 14:31] #43 closed, assigned to JoelMarcey

[2017-10-25 17:53] ericnakagawa opened #183 "Support autogenerating pages/locale from pages/en"
* update example/crowdin.yaml
* update translations guide go include a section on pages

Idea comes from this discussion https://github.com/facebookexperimental/Docusaurus/pull/157#discussion_r146741587

[2017-10-26 03:23] vjeux opened #188 "Inline code snippets are no longer inline"
After the switch to hljs, writing inline `code` with a single backtick triggers a full code block :(

![image](https://user-images.githubusercontent.com/197597/32033610-3dc2474e-b9c2-11e7-8d1a-5f31dd306c99.png)

[2017-10-26 14:02] #139 closed, assigned to JoelMarcey

[2017-10-26 17:11] vjeux opened #190 "Anchor offset doesn't work on the mobile view"
In order to get #links to work correctly with the static header, we offset it by the size of the header + some free room. But the mobile view has another header, which is not taken into account. So when you click on the link, it doesn't jump to the right location.

https://github.com/facebookexperimental/Docusaurus/blob/f72df94dd33f4d92f151a78a52a4f9733ddf2991/lib/static/css/main.css#L78-L82

[2017-10-26 19:16] #44 closed, assigned to hramos

[2017-10-26 19:17] #188 closed, assigned to nobody

[2017-10-26 23:34] #190 closed, assigned to hramos

[2017-10-30 18:00] #102 closed, assigned to JoelMarcey

[2017-11-01 17:04] vjeux opened #205 "Docusaurus swallow errors inside of siteConfig.js"
If there's a syntax error (and I believe it anything throws) in siteConfig.js, then the error is completely swallowed:

[code]

would be nice to not swallow them, it makes for a bad developer experience :)

[2017-11-01 19:18] vjeux opened #207 "Cleanup startup logs"
Right now it logs a bunch of things.

[code]

- It generates metadata three times
- It yells at me twice because I don't have a blog folder (but I don't want a blog!)
- It tells 4 times that it's using port 8082

Docusaurus starts fast enough, I think that we should just put the last line, and none of the rest.

[2017-11-01 20:04] JoelMarcey opened #210 "Check links before starting the site"
Can we have it where if links are known to be bad, that when you run `yarn start` to run a site, it fails with a bad links message?

[2017-11-03 20:10] JoelMarcey opened #212 "Document default language config setting"
Ref: https://github.com/facebookexperimental/Docusaurus/pull/206

[2017-11-03 20:12] JoelMarcey opened #213 "Review prettier feedback"
https://github.com/prettier/prettier/pull/3115#issuecomment-340269103

[2017-11-09 20:41] JoelMarcey opened #218 "Add more social media integration"
... for things like the footer.

Twitter
Facebook (likes and shares)

[2017-11-09 20:42] JoelMarcey opened #219 "Add page ratings"
Stars? Something to get info on how a page is doing.

[2017-11-09 20:45] JoelMarcey opened #220 "Make font-family as configurable parameter"
... in `site-config.js`

We do it for `primaryColor`, for example.

[code]

[2017-11-10 01:24] caabernathy opened #221 "Error publishing to non gh-pages branch"
The publish command seems to want to put things in the `gh-pages` branch which doesn't exist for this test repo:

[code]

Which leads to this:

[code]

[2017-11-15 17:41] caabernathy opened #227 "Renaming version doesn't update the sidebars.json file"
Steps to reproduce in your website:

[code]

Result from checking the folders, files:

[code]

Note that `version-1.1.0-sidebars.json` wasn't renamed to `version-2016.1.1.0-sidebars.json`.

So when running:

[code]

One gets this error:

[code]

Workaroud:

[code]

Then change all occurrences of `version-1.1.0` to `version-2016.1.1.0` in the file.

[2017-11-15 17:50] caabernathy opened #228 "Versions HTML page not created"
I ran the versions script to create a snapshot version.

When I run `yarn run start`, I see my website with a new link at the top for versions. Clicking that link leads to a page not found.

<img width="443" alt="screen shot 2017-11-15 at 12 49 49 pm" src="https://user-images.githubusercontent.com/691109/32851642-81a97e86-ca03-11e7-986d-a2c023b0b852.png">

Upon checking the `website/pages/en` fold

[2017-11-15 23:22] JoelMarcey opened #232 "Allow configuration option to choose which version of docs shows up by default"
Currently it is the latest, but there may be reasons to show a version before latest by default.

So maybe in we have a `showVersion` option in `siteConfig.js` or something.

[2017-11-16 19:52] ericnakagawa opened #234 "Feature: Live-reload"
Allow editing files and reloading the pages automatically during development. @mitermayer

[2017-11-18 00:41] ericnakagawa opened #235 "Bug - after docusaurus-init, yarn start prints misleading error message"
When a new site is created using `docusuaurus-init` the example docs folder isn't moved to `/docs`. With the files not accessible to Docusuaurus, Running `yarn start` results in an error message about localization. This is incorrect.

[2017-11-18 01:12] ericnakagawa opened #236 "Bug - Encountering issues with readCategories and sidebar.json"
Versioning logic is triggering error message.

[code]

[2017-11-18 04:39] chenglou opened #237 "Main blog page isn't updated upon refresh"
Repro:

- Tweak some blog post words
- Go to /blog
- Refresh browser
- No change picked up

This works fine on individual blog post pages.

[2017-11-18 06:08] chenglou opened #238 "Nonexistent items in sidebars.json causes `docusaurus-start` to silently fail"
This is the output of `docusaurus-start`

[code]

The command exits afterward.

[2017-11-21 19:16] hramos opened #240 "[Docs] Document how links to other pages should be formatted"
Should clients update all their links?

React Native's links are in the following format:

[code]

This is resulting in broken links to docs/docs/tutorial.html.  I fixed it by updating the link to

[code]

This is sort of documented in the `basics` example, in doc2.md, but it could be more obvious (maybe as part of Preparing your Site).

[2017-11-21 23:31] hramos opened #242 "[Docs] Document how static assets (such as images) should be handled"
See https://github.com/facebookexperimental/Docusaurus/blob/master/lib/server/generate.js#L183

It looks like we automatically handle converting 'assets/' references to 'docs/assets'.

Does that mean I should create an 'assets' folder in my docs folder for all my images? Will Docusaurus copy images from that assets folder to the right place?

[2017-11-22 22:59] hramos opened #243 "[Docs] editUrl value needs to be updated if versioning is enabled"
See https://hramos.github.io/react-native/docs/getting-started.html

The link directs to https://github.com/facebook/react-native-website/edit/master/docs/version-0.5/getting-started.md instead of https://github.com/facebook/react-native-website/edit/master/docs/getting-started.md or https://github.com/facebook/react-native-website/edit/master/website/versioned_docs/0.5/getting-started.md

[2017-11-29 22:54] JoelMarcey opened #245 "Footer may be empty on the mobile version websites"
https://github.com/prettier/prettier/issues/3335

[2017-11-30 20:59] JoelMarcey opened #246 "Create default "Contributing to the docs" README from docusaurus-init"
`README` will have content such as:

- prereqs
- running locally
- directory structure
- configuration

Much of the README may be able to link to the docusaurus.io docs instead of repeating within the README itself. We can see.

[2017-11-30 23:33] ericnakagawa opened #247 "Support Auto-wrapping HTML Pages"
"I want a flag in siteConfig that wraps .html files in pages with <Site />. The use case is for automatically generated documentation that only outputs html.
^^ api documentation that's generated off code in particular.
We'd keep the header/footer but insert the html into the main content area."

[2017-11-30 23:34] ericnakagawa opened #248 "Easier way to support redirects"
Perhaps a bulk method for managing these -- especially helpful for an existing site migrating to Docusaurus.

"Docusaurus is pretty limited on where pages can go. For all of our sites, it's required adding a bunch of redirects to keep links working. I'd like to have an easier (automatic?) way to generate these other than copying and pasting a bunch of files in pages."

[2017-11-30 23:35] ericnakagawa opened #249 "Make Docusaurus Components more extensible"
More exposure to the React components in componentlib so folks can build their own pages and insert the html they want/need.

[2017-12-02 00:21] hramos opened #251 "Update to Algolia DocSearch v2"
I noticed Algolia has a v2 of their docsearch.js snippet (see https://community.algolia.com/docsearch/documentation/)

It looks like a breaking change, as simply loading the new file introduces some inconsistencies in React Native's search drop down (v2 requires a new css stylesheet).

I need to look into this and see what benefits we might get from v2.

[2017-12-02 04:52] chenglou opened #253 "Support publishing to master"
We just converted https://github.com/BuckleScript/bucklescript.github.io to Docusaurus!

Except the workflow doesn't allow publishing to master. For an organization's page, we have no choice but to publish to the `orgname.github.io` repo's `master`branch. So right now we're publishing manually (copy paste artifacts & push)

[2017-12-02 11:24] chenglou opened #254 "Mobile safari nav header vertically misaligned"
![img_15cf1519af9f-1](https://user-images.githubusercontent.com/1909539/33514920-41eb3220-d710-11e7-9f15-39bc5cad15d7.jpeg)

See the vertical alignment for the word BuckleScript vs the search

[2017-12-04 01:18] JoelMarcey opened #257 "Support reference style linking"
https://github.com/prettier/prettier/pull/3353/files#r153973850

https://daringfireball.net/projects/markdown/syntax#link

[2017-12-05 23:44] #243 closed, assigned to JoelMarcey

[2017-12-06 16:40] hramos opened #263 "Add tests"
Better late than never, lets add some tests to catch regressions.

- [x] Test `lib/build-files.js`
- [ ] Test `lib/version.js`
- [ ] Test `lib/write-translations.js`
- [ ] Test `lib/start-server.js`
- [ ] Test `lib/publish-gh-pages.js`
- [ ] Test `lib/generate-feed.js`
- [ ] Test `lib/copy-examples.js`

[2017-12-07 17:58] hramos opened #264 "If a site has a docs/assets directory, Docusaurus fails to generate the static site"
Repro steps:

1. Create a `assets/` directory in your docs folder, e.g. `docs/assets/`. You may need to add a dummy asset file in here, but I don't think it's necessary.
2. Run `yarn build`

The build script will fail with something like:

[code]

The culprit is that the updated `generate.js` script is checking for the presence of an assets directory, and when one is found, it will try to copy the

[2017-12-07 18:14] #264 closed, assigned to nobody

[2017-12-07 22:44] ericnakagawa opened #267 "Reload siteConfig.js automatically when locally served page is refreshed"
Mentioned by @vjeux in https://github.com/facebook/Docusaurus/issues/205

[2017-12-07 22:57] ericnakagawa opened #268 "Integrate prettier into our PR workflow"
Let's standardize on a single prettier config so we can... move fast!

[2017-12-08 00:14] hramos opened #269 "Add dummy circle config to prevent failures in gh-pages branch"
See https://circleci.com/gh/facebook/react-native/28132#config/containers/0

That build is failing because the gh-pages branch has no tests defined. The way to get around this is to add a basic '.circleci/config.yml' file to the branch that basically acts as a no-op.

The old RN site used a simple Circle 1.0 config to achieve this: https://github.com/facebook/react-native/blob/ecdafbf8ed9ee5f330a1

[2017-12-08 23:47] #269 closed, assigned to nobody

[2017-12-12 00:31] JoelMarcey opened #274 "Spacing around H1 headers that are not the title of the page"
Check the middle of https://facebook.github.io/relay/docs/en/mutations.html

<img width="1055" alt="screenshot 2017-12-11 16 31 14" src="https://user-images.githubusercontent.com/3757713/33861084-b8f1b7fe-de90-11e7-9562-ce6db4255fa6.png">

[2017-12-14 21:16] roryokane commented on #268
It looks like this issue can be closed: [`.prettierrc`](https://github.com/facebook/Docusaurus/blob/deafdbde0416d9884c9c01788f2bda39c6e39608/.prettierrc), [`package.json` scripts using Prettier](https://github.com/facebook/Docusaurus/blob/deafdbde0416d9884c9c01788f2bda39c6e39608/package.json#L17-L23)

[2017-12-14 22:40] prescottprue commented on #268
Might also be nice to use something like [husky](https://github.com/typicode/husky) to add a `prepush` hook that runs `npm run prettier`. That way lint can be caught before pushing as opposed to through the CI build failing.

[2017-12-14 22:42] JoelMarcey commented on #268
@prescottprue Yes, I think that was part of the creation of this issue too, because you are right, we catch the failures after we push and thus have to patch with an updated fix if there is a failure.

[2017-12-14 23:32] #268 closed

[2017-12-15 02:23] Ethan-Arrowood commented on #274
Can i snag this one? I'd love to get familiarized with this project source code 😄

[2017-12-15 03:34] JoelMarcey commented on #274
@Ethan-Arrowood Absolutely. Let us know if you have any questions!

[2017-12-15 03:37] JoelMarcey opened #290 "/docs/ redirect should work correctly"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

1. Go to https://docusaurus.io/docs/

### Expected Behavior

Should redirect to https://docusaurus.io/docs/{lang}/installation.html  ({lang} defaults to en)

### Actual Behavior

404

### Reproducibl

[2017-12-15 03:56] Ethan-Arrowood commented on #274
They seem to have updated their docs. Can't find an example of this issue

[2017-12-15 04:36] JoelMarcey commented on #274
@kassens Did you work around the H1 header issue on relay?

[2017-12-15 04:39] duailibe opened #292 "Dynamic JS pages/components"
Hey guys! Loving this is open now, I hope to be to contribute soon!

We've been using just a [simple JS script](https://github.com/prettier/prettier/blob/8bb6e16/website/static/playground.js) on the Prettier docs playground and I've been pushing for a rewrite in React so we could do some cool stuff more easily:

- creating the options sidebar automatically so a new PR that changes anything could b

[2017-12-15 13:53] xyclos commented on #254
I'd like to work on this.

[2017-12-15 14:16] ForbesLindesay commented on #219
I'd think a better option would be a way of providing feedback on pages. Some combination of a link to edit the page on GitHub/crowdin and maybe some kind of comments system (although that creates the nightmare of out of date comments/moderation/etc.).

[2017-12-15 15:33] ndelangen opened #297 "versions.html doesn't seem to be generated"
### Is this a bug report?

YES

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

YES

### Environment

(OS: MacOS, Node: `8.8.1`, npm: `5.4.2` , yarn: `1.3.2`)

### Steps to Reproduce

I'm trying to add docusaurus to [Storybook](https://github.com/storybooks/storybook) see [branch](https://github.com/storybooks/storybook/tree/doc

[2017-12-15 15:41] ndelangen commented on #297
duplicate of https://github.com/facebook/Docusaurus/issues/228

[2017-12-15 18:13] richardzcode commented on #245
Requested a PR: https://github.com/facebook/Docusaurus/pull/299

[2017-12-15 18:18] JoelMarcey commented on #297
Hi @ndelangen Thanks for filing this issue. I am going to make some time to look at this today. I am hoping we are just omitting some step here since I believe the workaround from @caabernathy helped her get around this.

[2017-12-15 19:29] ndelangen commented on #297
Yes, I got a `versions.html` file generated too. Might just need a docs change to fix?

[2017-12-16 10:43] lipis opened #300 "What would be the best way to integrate Google Analytics?"
Maybe it would make sense to have some sort of setting for it to just be able to add the Google Analytics Tracker ID..

[2017-12-16 13:37] azu opened #301 "How to create /404.html?"
### Is this a bug report?

Yes, or feature request.

GItHub pages and Netlify treat `404.html` as special url.

- <https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/>
- <https://www.netlify.com/docs/redirects/#custom-404>

Current docusaurus can not output `/404.html`.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/

[2017-12-16 13:48] azu commented on #301
Ah, I've noticed that docusaurus create from `en/404.js` to `build/<site>/404.html` if default lang is `en`.

![404 js almin 2017-12-16 22-43-32](https://user-images.githubusercontent.com/19714/34071013-c2a833ba-e2b2-11e7-97aa-b5cd4852cd9c.png)

This issue has been resolved. I'm close this issue.

[2017-12-16 13:48] #301 closed

[2017-12-16 20:57] rickyvetter commented on #300
It should work with `gaTrackingId` in your siteConfig. http://docusaurus.io/docs/en/site-config.html#siteconfig-fields

[2017-12-16 20:59] lipis commented on #300
Maybe :) hehe... next time I should spend more time RTFM 😃 thabks

[2017-12-16 20:59] #300 closed

[2017-12-17 00:19] JoelMarcey commented on #301
@azu Thank you for the detailed issue description.

Another option is to put a raw HTML page (e.g., `404.html`)  into the `website/static` directory as well. And that file will get copied over to the root of the site upon build/generation.

[2017-12-17 00:45] JoelMarcey commented on #297
@ndelangen Hi!

So I did find a pretty crucial error in the docs.

I assume you went to https://docusaurus.io/docs/en/versioning.html and followed the instructions there to create versions.

When you did, it said:

<img width="1024" alt="screenshot 2017-12-16 16 41 55" src="https://user-images.githubusercontent.com/3757713/34075591-25d8e84a-e280-11e7-9f30-8f95a55cab56.png">

That is very wrong! :)

[2017-12-17 00:51] #207 closed

[2017-12-17 07:10] azu commented on #248
I want to get this feature.
My site([almin](https://almin.js.org/https://github.com/textlint/textlint/issues/346#issuecomment-352193883)) use a workaround that embed redirect script in `404.html`

- https://github.com/almin/almin/blob/c2c676825b979b810bab6e431f115d897ac6a3fd/website/pages/en/404.js#L29-L79

For example,

- [jekyll-redirect-from](https://github.com/jekyll/jekyll-redirect-from "jeky

[2017-12-17 07:16] zhaozhiming commented on #242
Yes. The example as bellow should be change to `![alt-text](assets/doc-image.png)`.
And it seems have been changed already.

![image](https://user-images.githubusercontent.com/1436694/34077349-df935ac4-e33c-11e7-9b2e-94d96a27cc8f.png)

[2017-12-17 18:14] neilsutcliffe commented on #290
To be fair, https://docusaurus.io/docs/en/ does not work either.

Is there the concept of a default docs page ATM, as the header and landing page link is just a link to a specific page?

[2017-12-17 18:33] neilsutcliffe commented on #246
With regard to running locally, I found a few issues.

Cloning the repo directly, there will not be any translated files. Since the crowdin API key isn't included, then these files can't be downloaded either. I had to go ahead and delete the following line to get it to work temporarily

`{ doc: "installation", label: "Docs" },`

Also, the package.json has the following line

`"start": "../lib/star

[2017-12-17 22:19] neilsutcliffe commented on #274
They have changed it as part of this commit

[Commit: Update mutation docs](https://github.com/facebook/relay/commit/6ad8b246540427df91458b0f86fb7105b8cca6e3#diff-9b5621142c64f09dec2594f1e9619e23)

To reproduce, just go into your devtools and change it to a H1. I can see if I can get to the bottom of this though.

[2017-12-17 23:59] JoelMarcey opened #305 "Broken links in example `index.js` because of language"
### Is this a bug report?

Yes. In the example `index.js` we have a line `let language = this.props.language...`. However, in `generate.js` and particularly `metadata.js` we are actually setting the permalink on the assumption that the language isn't set.

[code]

But in the code before this, we are actually setting this.props.language to `en` by default, I think. So we are conflicting.

There are

[2017-12-18 00:32] neilsutcliffe commented on #274
So the H1 at the top of the page is actually from the header section of the markdown file, so it is formatted differently.

You should never really have more than one header on a page, but if you wanna be all punk-rock, then #306 should solve the problem.

[2017-12-18 00:37] neilsutcliffe commented on #305
I can have a look tomorrow at this as I've been messing around with the language stuff recently. For now sleep.

[2017-12-18 01:16] JoelMarcey commented on #245
Closed by #299

[2017-12-18 01:16] #245 closed

[2017-12-18 01:18] JoelMarcey commented on #210
Maybe `textlint` and friends described in https://github.com/facebook/Docusaurus/issues/210 could fix this?

[2017-12-18 01:21] JoelMarcey commented on #274
@neilsutcliffe I do agree in general that no more than one H1 should be on a page. I try to adhere to that as much as possible myself. But, of course, there are always exceptions. I am glad you have a PR to support it.

[2017-12-18 01:43] aadsm opened #307 "Lack of instructions on how to run the site locally"
On https://docusaurus.io/docs/en/site-preparation.html it says:

Some information is missing here:
1) What are the few changes needed?
2) How to run the site locally?

[2017-12-18 01:46] JoelMarcey commented on #307
Hi @aadsm, there should probably be a link for "verify" pointing to the bottom of that same page. I can add that, or if you want to send a PR, that would be good too.

https://docusaurus.io/docs/en/site-preparation.html#verifying-installation

Sorry for the confusion.

[2017-12-18 01:59] aadsm opened #308 "`projectName` doesn't have description in siteConfig.js"
`url` and `baseUrl` are kind of self-explanatory and have a description.
I also recommend naming this property to what it means: `githubProjectName`.

[2017-12-18 02:01] JoelMarcey commented on #292
@duailibe Thanks for writing this up. While not totally related, I believe @hramos had to do some customization to get the React Native web player running (e.g., http://facebook.github.io/react-native/docs/flexbox.html); so he might have some insight on this as well.

Let me talk this over a bit with the team.

cc: @ericnakagawa @hramos

[2017-12-18 02:08] aadsm opened #309 "Cryptic message regarding language support"
After I added my own data to siteConfig.js, I reloaded and got:

I didn't enable language support, or if I did it was not explicit. This message doesn't help me figure out what is going on. I believe two things are missing on this message.
1) What makes docusaurus believe I've enabled language support.
2) Link to the documentation pointing to language support.

[2017-12-18 02:16] JoelMarcey commented on #309
@aadsm Yeah, I filed a bug today re: how we are dealing with languages overall, particularly when running the `docusaurus-init` script to start off with a sample website.

https://github.com/facebook/Docusaurus/issues/305

Are you starting off with the `site-config.js` that was provided by the `docusaurus-init` script? Or are you creating it from scratch?

[2017-12-18 02:20] JoelMarcey commented on #308
Yeah, we have a `TODO` in `generate.js` about this.

https://github.com/facebook/Docusaurus/blob/master/lib/server/generate.js#L102

I need to think about this some more. But, regardless, we should have it documented.

[2017-12-18 02:23] aadsm commented on #307
Oh I see, what if we just put the Verifying Installation at the top, instead of the initial paragraph?
I'm happy to put a PR for this.

[2017-12-18 02:25] aadsm commented on #308
Interesting, I'm happy to talk about this too, if you need someone to bounce ideas at.

[2017-12-18 02:27] JoelMarcey commented on #307
Or you could just move that sentence to just after the first sentence in the Verifying Installation section?

I liked the Directory Structure as an introduction to folks to give them some context of what is going on after they run the `docusaurus-init` script.

What do you think?

[2017-12-18 02:28] aadsm commented on #309
I've started with the siteConfig.js provided by the `docusaurus-init`. I figured out what the problem was, the `doc` property is actually an `id` (should probably be named `docId`, yeah, I'm a pain with names 😛).
Once I fixed this I got an exception (I haven't debug yet):
[code]

[2017-12-18 02:49] aadsm commented on #307
If you have a strong opinion on that structure then my recommendation is to remove the "With a few changes, you can verify that Docusaurus was installed correctly by running the site locally.".
From a personal point of view I like to see things up and running once I've installed them, just to make sure everything is fine. Then I read the docs.

For instance, when I read `The website/pages folder c

[2017-12-18 03:04] zhaozhiming opened #310 "Integrate with Contentful"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Expected Behavior

Docusaurus can integrate with [Contentful](https://www.contentful.com/).
For example, my product site have many docs to maintenance and the maintenance people don't know `markdown` syntax. If Docusaurus can integrate with C

[2017-12-18 07:14] azu commented on #210
Probably, correct link is https://github.com/facebook/Docusaurus/pull/302

[2017-12-18 09:20] ndelangen commented on #297
Yes, that helped, thanks 🙇

[2017-12-18 09:20] #297 closed

[2017-12-18 16:22] geekyd opened #313 "Incorrect link of documentation in CONTRIBUTING.md"
### Is this a bug report?
Yes.

Currently the link to the documentation is incorrect. The current link is `http://docusaurus.io/docs/` which gives Error 404. The link must be replaced with the correct url i.e `https://docusaurus.io/docs/en/installation.html`

(write your answer here)

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md

[2017-12-18 16:53] neilsutcliffe commented on #313
Is this fixed in 2bc5438?

[2017-12-18 16:55] neilsutcliffe commented on #313
Another issue. My bad. Will look into it

[2017-12-18 16:56] geekyd commented on #313
@neilsutcliffe Can I send a PR for the Issue?

[2017-12-18 17:07] neilsutcliffe commented on #77
I'm thinking this is a pretty good feature, however I would like to see this as part of a move to sass or less.

The current style sheet could be simplified a bit.

The current method uses $variables to define custom colours, which is not really valid CSS. However I'm not sure if adding Sass is really something that Docusaurus needed. The current CSS solution whilst not technically correct is very

[2017-12-18 17:08] neilsutcliffe commented on #313
I'm not working on it ATM so go right ahead. :)

[2017-12-18 17:22] JoelMarcey commented on #313
@geekyd Awesome. I was just about to fix this, but I will wait for you. Thanks for the detailed issue, btw, even for a documentation fix. Much appreciated.

[2017-12-18 18:03] JoelMarcey commented on #210
Oh right. Nice catch. I updated my comment :)

[2017-12-18 18:17] JoelMarcey commented on #274
Closed by #306

[2017-12-18 18:17] #274 closed

[2017-12-18 19:58] geekyd commented on #313
Closing this via #314

[2017-12-18 20:00] #313 closed

[2017-12-18 20:14] neilsutcliffe commented on #305
The example website from docusaurus-init does not have a `languages.js` for starters.

I am a bit concerned though the default language is English. I'm trying to hack together something where any documents in the root docs/ folder do not get a language tag in the metadata.

[code]

If we don't have a language.js file, then we don't need any prefixes for language and it is a simple markdown file se

[2017-12-18 20:22] JoelMarcey commented on #305
I am very interested in looking at your fix.

I was thinking one approach that we would make `en` the default if not languages.js is not provided, sort of like we do now and that all links will have a language component to it. e.g., `xxx/docs/en/doc.html`

Yours is generally the opposite thinking of that, which may be ok too.

[2017-12-18 20:27] JoelMarcey commented on #305
If there is no agreement to a fix in relatively short order, I may just add `useEnglishUrl: true` to the `examples/core/siteConfig.js` file so that we can at least make the links work short-term.

[2017-12-18 20:38] neilsutcliffe commented on #305
I would be tempted to remove the language part from the links instead from, after all it's impossible for multiple languages to work with the default docusaurus-init file.

In order to get links other than /en/ to work would require adding stuff (langauges.js, translations and crowdin) to the demo site.

[2017-12-18 20:41] JoelMarcey commented on #305
I think that's fair.

Although, I will say, 9 out of the 10 Docusaurus users showcased in https://docusaurus.io/en/users.html use the `xxx/docs/en/doc.html` format, even though not all have translations. They may have copied a `language.js` file from the Docusaurus site or something.

The only site that doesn't use that format is React Native -- a major site, of course :)

[2017-12-18 22:55] JoelMarcey commented on #263
First test added by #259

[2017-12-19 02:11] richardzcode commented on #305
Made a PR for it. Not a small change. More reviews are better. :)

[2017-12-19 02:20] richardzcode commented on #305
The PR failed on CircleCI. Not sure what's going on. I've run tests and check prettier locally seems no issue.

[2017-12-19 02:42] JoelMarcey commented on #305
@richardzcode Excellent! Thank you so much. I am reviewing it now.

Re: CircleCI - today, I turned on Circle for PRs so we can see tests failing *before* they land :) Looking at the details, it seems like it is a Prettier issue; so I am going to import your PR locally and check it out.

[2017-12-19 02:43] JoelMarcey commented on #305
I am also interested in seeing how @richardzcode's approach is similar or different to what @neilsutcliffe was thinking as well.

[2017-12-19 02:49] JoelMarcey commented on #305
@richardzcode I commented on the PR re: the prettier failures.

[2017-12-19 03:45] richardzcode commented on #305
It was a stupid error. I ran prettier but didn't commit prettier changes...

Yes, I think @neilsutcliffe and I are on the same direction. We all agree if no language.js, there shouldn't be language prefix. This approach is a more fundamental change rather than a quick fix. Need to be careful here.

[2017-12-19 04:04] rauanmayemir opened #317 "Links to sections in other pages"
### Is this a bug report?

I'm not sure if this is a bug-report or a feature-request, somewhat both.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

`docusaurus@1.0.3`
`node@v.8.9.1`
`yarn@1.3.2`

### Steps to Reproduce

If I add a link in one docs page to another, let's say, in `configuration.md` I'll wr

[2017-12-19 04:06] rauanmayemir commented on #317
This is reproducible on the latest `docusaurus@1.0.3`.

[2017-12-19 05:18] #317 closed

[2017-12-19 05:19] rauanmayemir commented on #317
I'm sorry, there were two instances of that link in the text and I was looking at the wrong one.

[2017-12-19 05:34] JoelMarcey commented on #317
Thanks @rauanmayemir for filing the issue with such detail even though it didn't end up being an issue. I was worried for a bit there because I thought we had supported links to anchors like that.

[2017-12-19 06:47] neilsutcliffe commented on #305
We are on the same page. Exactly the same page.

https://github.com/neilsutcliffe/Docusaurus/tree/fix-translation-urls for reference. Don't PR it, it is is broke.

Not the best way to wake up in the morning admittedly.

[2017-12-19 07:24] neilsutcliffe commented on #305
So feel free to cherry pick from my working copy. It's not in a PR ready state like this is.

I also added a lot of comments to server.js as I found it hard to follow, especially the file system lookup area for pages.

I do like the way you have moved away from lacking a translation.js check in every file.

If I can elaborate further though. I think that even if languages are enabled, there should

[2017-12-19 12:34] richardzcode commented on #254
Just tried with my phone. Looks good now, with icon. Maybe the misalignment was from empty icon

[2017-12-19 15:41] hramos opened #318 "Header anchor links are not clickable"
Originally reported at https://github.com/facebook/react-native-website/issues/71:

Each prop title [in the React Native docs] has a link/button to the left of it:

![image](https://user-images.githubusercontent.com/199935/34018662-be3a100c-e0df-11e7-9067-678e120d4d81.png)

This link/button only appears when you hover over the text representing the prop name. Consequently, you cannot click on the

[2017-12-19 15:46] hramos commented on #318
Nevermind - this was an issue in the React Native site itself. Fixed in https://github.com/facebook/react-native-website/pull/79.

[2017-12-19 15:46] #318 closed

[2017-12-19 17:28] JoelMarcey commented on #305
Reopening this because some links I found in docusaurus.io that were broken. So I reverted #316 for now. Investigating.

[2017-12-19 18:05] steveklabnik opened #319 "Binary distribution / build step without needing to install node"
Hey there! Thanks for Docusaurus, it looks great!

This is sort of a non-time sensitive feature request. Is there any good solution, or plans, to distribute a Docusaurus binary?

I have an environment where a Node dependency is, well, maybe not an *absolute* dealbreaker, but a big 👎 in the overall decision. This is really about just the build step. I would rather not try to re-implement it, of cou

[2017-12-19 21:52] steveklabnik opened #323 "Support sub-directories in docs/"
I believe this is a feature request. If not, it's a request for docs 😄

I believe that currently, all docs files must live in the root of `docs`. I'd like to be able to group them together with subfolders.

Currently, it seems that directories inside of docs are simply ignored.

[2017-12-19 22:30] hramos commented on #323
Right now Docusaurus expects all files to be on a flat `docs/` folder. I believe this is a decision made to simplify internationalization support where `docs/` would contain multiple sub-directories (one per language).

We can leave this open as a feature request in case someone wants to take a stab at implementing this.

[2017-12-19 23:10] JoelMarcey commented on #323
@steveklabnik Hi! What @hramos says is basically correct. But, I wanted to correct one thing in your initial issue comment and his response:

We implemented that you can put the docs in any directory you want. But the files have to be flat still.

See `customDocsPath` here: https://docusaurus.io/docs/en/site-config.html#optional-fields

[2017-12-19 23:13] steveklabnik commented on #323
Gotcha! Thanks for the quick response :)

To be honest, I'm more concerned about the urls than I am about the directory structure. I'm experimenting with some API docs, and `/api/foo/bar/baz.html` is much nicer than `api-foo-bar-baz.html`. If there was a way to do this, while still keeping the flat structure, I'd be okay with that as well.

[2017-12-19 23:16] steveklabnik opened #324 "Confusing interaction between sidebar_label and title"
As https://docusaurus.io/docs/en/doc-markdown.html says:

I'm trying to use these two together. Here's a concrete example:

I have `foo.md`. It has this as its header:

[code]

This works great. But, this means I have "A Foo" in the sidebar, and I'd like it to be Foo. So I set the sidebar_label:

[code]

And now, my page title is back to `Foo`, rather than `A Foo`.

[2017-12-19 23:17] JoelMarcey commented on #323
@steveklabnik We have a feature request (probably should be one of our top ones) to support custom permalinks. https://github.com/facebook/Docusaurus/issues/101

That would help you sorta solve that problem too, right, assuming we don't get to non-flat doc structures first?

[2017-12-19 23:20] steveklabnik commented on #323
I think so! Will comment over there too 👍

[2017-12-19 23:21] steveklabnik commented on #101
What does "permalink" mean in this context? If it's setting the URL that a page is configured at, like I described [over here](https://github.com/facebook/Docusaurus/issues/323#issuecomment-352915482), then a huge 👍 from me.

[2017-12-19 23:23] JoelMarcey commented on #319
@steveklabnik That's a good question. We haven't thought about a pre-built Docusaurus binary for our launch, but I suppose it is something we could consider. Let me talk to some other folks on the team about this.

[2017-12-19 23:25] JoelMarcey commented on #101
Hi @steveklabnik. Yes, like allowing the actual link that is navigated to be different than our default.

e.g.,

[code]

[2017-12-19 23:31] JoelMarcey commented on #324
@steveklabnik Hi! Interesting. Let me make sure we are on the same page here. The example documentation that comes with `docusaurus-init` or `npm run examples` has a file called `doc1.md` that looks something like:

[code]

When I run the site, I get:

<img width="1345" alt="screenshot 2017-12-19 15 31 19" src="https://user-images.githubusercontent.com/3757713/34183845-ae82ad18-e4d1-11e7-9870-1e21

[2017-12-19 23:43] steveklabnik commented on #324
Hm, okay. So I have:

[code]

I get this:

![future1](https://user-images.githubusercontent.com/27786/34184044-cb67cfd4-e4eb-11e7-9fcd-372da972d076.png)

If I remove the sidebar label

[code]

I get this:

![future2](https://user-images.githubusercontent.com/27786/34184107-07df2c1e-e4ec-11e7-9901-dd35f3b5b1b2.png)

This is true if I set `id` explicitly as well.

I was mulling over what's different

[2017-12-19 23:54] JoelMarcey commented on #324
@steveklabnik Good reproduction. Thanks! I will look into this.

[2017-12-20 00:22] steveklabnik commented on #309
I'm seeing this today too.

[2017-12-20 00:40] neilsutcliffe opened #325 "Duplication of Code in generate.js and server.js"
### Is this a bug report?

No. Technical Debt

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Steps to Reproduce

Look at the `/lib/server/server.js` file and `/lib/server/generate.js` and notice that we have two code paths that do the same task. Specifically the reading of documents (and to a lesser degree pages and b

[2017-12-20 01:44] #305 closed

[2017-12-20 04:31] JoelMarcey commented on #254
@chenglou - are you still seeing the issue?

[2017-12-20 04:44] chenglou commented on #254
I can still see it. Not in chrome inspector, but in safari's inspector (Develop -> Responsive Design Mode)

[2017-12-20 05:40] JoelMarcey commented on #325
Yes, we have known about this for a little while. Glad you brought it up in an issue as I don't think we have put that in a public issue yet. I agree, refactor and de-dupe should be done though.

[2017-12-20 08:46] richardzcode commented on #254
Now I see it. It can be reproduced in Chrome as well, but not on phone. Basically screen width need to be pretty small ( < 376px ) to make the icon go away then we can see the misalignment.

The CSS on navigation is kind of complicated. Luckily seems found a good fix.

I was going to make a PR but noticed there are differences between bucklescript.github.io and current example, in HTML and CSS. So

[2017-12-20 09:32] chenglou commented on #254
Thanks for diagnosing this! Ideally the custom.css file in ReasonReact and BuckleScript can completely disappear (we do have site-specific css file, but the custom.css are downstream fixes). So I think a PR to fix this in docusaurus is valuable. It also happens to the docusaurus website itself

[2017-12-20 18:05] #247 closed

[2017-12-20 18:37] richardzcode commented on #254
<img width="268" alt="docusaurus" src="https://user-images.githubusercontent.com/1006903/34222564-d885de60-e570-11e7-922f-b92ddd81f62f.png">

Docusaurus site look fine on my Safari, not as misaligned as in BuckleScript

I see BuckleScript and Docusaurus sites had already diverged on HTML and CSS. I assume new websites wouldn't have the problem.

Also, I just realized I was trying to fix the alignm

[2017-12-20 19:46] JoelMarcey opened #334 "Add spell checking to CI flow"
### Is this a bug report?

No. Enhancement.

Ref: https://github.com/facebook/Docusaurus/pull/327

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

N/A

### Actual Behavior

N/A

### Reproducible Demo

N/A

[2017-12-20 20:39] neilsutcliffe commented on #334
Can we add accidental variable names into this as well? Stuff like the following?

- docusuarus
- langauges

And similar variations there-of.

[2017-12-20 21:54] n7best commented on #309
Having same issues after clone and install from a different computer. But the original doesn't pop up the error.

[2017-12-20 21:59] JoelMarcey commented on #309
I think that error is actually misleading. I am working on a fix now.

[2017-12-20 23:43] neilsutcliffe opened #336 "npm run build fails on Windows"
### Is this a bug report?

Yes

The 'npm run build' process does not work on Windows. Specifically we use string concatenation and regex with UNIX specific patterns in generate.js

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

WINDOWS

### Steps to Reproduce

With a working install on Windows

[code]

###

[2017-12-20 23:45] neilsutcliffe commented on #336
This is mostly for my reference, as I seem to be the first to try it on local storage.

I have fixes for this in my massive insane PR as well, but I have streamlined the code at the same time.

#326

[2017-12-21 00:05] JoelMarcey commented on #309
I got a pull request out. Hopefully the error message is more useful now.

[2017-12-21 02:14] richardzcode commented on #325
Making a first step attempt

[2017-12-21 02:28] nelKorajkic opened #339 "When using windows line endings ( CRLF ) sidebar and docs aren't rendered correctly."
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Windows 10, Node 8.9.3, NPM 5.5.1, VS Code 1.19.0, Running locally through 'npm run start'

### Steps to Reproduce

1. Install docusaurus-init through npm and run 'docusaurus-init'.
2. Change the names docs-examples and website/

[2017-12-21 03:47] #309 closed

[2017-12-21 03:55] JoelMarcey commented on #339
Hi @nelKorajkic Thanks for your issue. I think this //may// be fixed (at least partly) in the upcoming 1.0.4 Docusaurus package, which I may be pushing tomorrow.

See this commit: https://github.com/facebook/Docusaurus/commit/21cbece838706992a6aac5d4c32e780b29cf7485

[2017-12-21 03:58] JoelMarcey commented on #339
cc @neilsutcliffe who sent that commit via pull request.

[2017-12-21 05:27] chenglou commented on #254
I've tested without custom styles at all and still saw the misalignment. This is what I see on iOS11:

<img width="375" alt="pasted graphic" src="https://user-images.githubusercontent.com/1909539/34241764-9f5e4986-e5cc-11e7-86f3-0b9692f5aa7f.png">

[2017-12-21 08:31] neilsutcliffe commented on #339
It does indeed fix that. It fails to split out the header correctly when it sees windows style line endings.

So instead the id falls back to the filename

[2017-12-21 09:24] micksatana opened #340 "Missing or wrong link to Contributing Guide"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Docusaurus website

### Steps to Reproduce

(Write your steps here:)

1. Go to GitHub docusaurus README.md and click Contributing Guide
2. Navigated to https://docusaurus.io/docs/how-to-contribute.html

### Expected Behavior

Se

[2017-12-21 13:25] nelKorajkic commented on #339
@JoelMarcey Thank you for the information! I'll be on the lookout for 1.0.4.
@neilsutcliffe I did actually look through your issue for the 'npm run build' on Windows, which is what I was originally gonna report, but I only briefly glanced at your PRs. Great work on fixing those bugs!

This can be closed now, thanks a lot!

[2017-12-21 13:44] steveklabnik commented on #336
I was seeing this, but wasn't sure that it was a bug. Guess I know now!

[2017-12-21 14:11] neilsutcliffe commented on #336
Aye. I think that issues like this can generally be avoided if the 'path' functions are used for anything when working with filePaths.

It results in slightly less readable code, but is guaranteed to be cross platform.

[2017-12-21 14:47] aadsm opened #342 "Not able to render the docs due to faulty metadata file?"
[code]
I've debug the code in `readCategories.js` and noticed it's cycling the `metadata.js` that is automatically generated. I believe there's a problem with how this file handles translated and non-translated ids as it mixes both in it:

[code]

The code in question: `articles[metadata.next]`, checks if there is an entry in metadata for the `next` property, however, the `next`is a non-localized

[2017-12-21 15:10] JoelMarcey commented on #342
@aadsm Hi. I assume you are running Docusaurus 1.0.3 via `docusaurus-init`. This may be fixed in `master` that will go out with 1.0.4, which I hope to get out sometime this week.

To check to see if you get the error still, we could try installing the latest Docusaurus from `master` for `draft-js` and testing via the instructions here: https://github.com/facebook/Docusaurus/blob/master/admin/local

[2017-12-21 16:57] aadsm commented on #342
I've updated to master using the instructions but still have the same error :(.
Is there a way to completely avoid using languages? I'd imagine most projects only have one language also.

[2017-12-21 17:00] JoelMarcey commented on #342
@aadsm We are updating the code to make it so that the default is not to have a set language for the links and ids unless a `lanaguges.js` file is present.

Is there anyway you can give me access to the repo where you are developing the site so I can run some tests too?

[2017-12-21 23:48] JoelMarcey opened #344 "Support sidebars with links to anchors in the same page"
### Is this a bug report?

No. Feature request

### Have you read the [Contributing Guidelines]

Why, yes, I have :)

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

Have a sidebar with links that don't go to different pages, but rather goes to anchors within the same page.

### Actual Behavior

N/A

### Reproducible Demo

N/A

[2017-12-22 00:03] JoelMarcey opened #345 "Update a specific docs version with latest content from docs folder"
### Is this a bug report?

No. Feature request.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

A way to automatically update a specific docs version with the latest content from within the docs/ folder.

To elaborate, say for example one wanted to c

[2017-12-22 00:06] JoelMarcey opened #346 "Add a config option to allow custom version to be shown first"
### Is this a bug report?

No. Feature request

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

Add a `siteConfig.js` option that allows you to explicitly specify a valid version to show by default and then just check for that option when rendering.

[2017-12-22 01:09] neilsutcliffe commented on #344
I would suggest this be auto generated from the markdown content.

Something like the following

[code]

And display an icon like ⚓ next to any of these.

[2017-12-22 01:22] neilsutcliffe commented on #325
@richardzcode

I'm heading off. Check my repo for an example of the getPage.js.

I haven't touched the blogs at all.

Also I pulled in your render.js as it is much better than mine was.

I'm concerned that having all the render methods in one file will be massive though. Can we get them in multiple files, or do they have too many common dependencies?

Would the following structure be 'standards co

[2017-12-22 02:08] richardzcode commented on #325
@neilsutcliffe I think that is a good structure. Eventually probably evolves to this structure, just takes time, step by step.

I think for this size of refactoring, the concern is not only on correctness, but also on how comfortable the team feels about when and how. Because at end of the day if anything goes wrong, it is the team taking blames. I am taking a pause on more changes right now. I th

[2017-12-22 03:49] JoelMarcey commented on #325
@neilsutcliffe @richardzcode Thank you both for this discussion. Sorry, I got a bit sidetracked today on some other work. I will try to look at the PR and this issue tomorrow and provide my thoughts.

[2017-12-22 03:50] #340 closed

[2017-12-22 16:34] marcosvega91 commented on #324
@steveklabnik I think that the problem is in write-translation.js file
[code]
If localized_id=id is the same as sidebar_label inside the if  sidebar_label value replaces the localized_id one

Maybe a possibile solution can be moving sidebar and id translations under different keys inside 'localized-strings'. What do you think @JoelMarcey ?

[2017-12-22 19:40] Daniel15 opened #350 "Localization page should be updated for CircleCI 2.0 + best practices"
Currently, the page at https://docusaurus.io/docs/en/translation.html explains how to configure the older CircleCI 1.0 system. CircleCI 2.0 changes the config system a little bit, and has first-class support for Docker.

These changes should be made:
 - `circle.yml` is now `_circleci/config.yml`
 - Dependencies such as `default-jre` and `crowdin` should be installed as part of a Docker image, not

[2017-12-22 23:15] neilsutcliffe commented on #325
I'd wait until the weekend. I'm splitting the generate.js file into multiple files.

The output of build should be relatively easy to check right? It should give the exact same file structure/content as your master, unless I make some improvements along the way?

I'd suggest getting the split in place like follows

![download](https://user-images.githubusercontent.com/13319277/34314653-1860cd86-e7

[2017-12-24 12:33] ThomasG77 opened #353 "Change default port behavior"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

* Ubuntu 16.04 64 bits
* Node 8.4.0
* npm 5.6.0

### Steps to Reproduce

When I run `npm run start` from step 4 of https://docusaurus.io/docs/en/site-preparation.html#verifying-installation, I encounter following message (as I h

[2017-12-24 18:11] richardzcode commented on #353
@ThomasG77 it is because you are adding parameter to npm not its script `docusaurus-start`

To let npm pass arguments to script, you'll need to add a `--` in between.

Like this: `npm run start -- --port 3001`

[2017-12-24 18:35] ThomasG77 commented on #353
Thanks @richardzcode for the answer but it's not the issue: I already mentioned your solution in the issue description.

I do not care about option `--port 3001`. I just want the usual environment variable with PORT=3001.
It don't want to be a replacement just an alternative as on every project I use and see in the Node landscape, changing port is about `PORT=3001 node myservercode.js`

[2017-12-25 00:12] vjeux opened #356 "<table> are ugly"
### Steps to Reproduce

https://prettier.io/docs/en/options.html

![image](https://user-images.githubusercontent.com/197597/34329864-b1563af8-e910-11e7-8e39-4f32802d61a3.png)

### Expected Behavior

They should look better :)

[2017-12-26 14:34] IniZio opened #358 "Published to subfolder rather than root"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

(OS, Node, npm, yarn)

OS: Ubuntu 17.10
Node: 8.7.0
npm: 5.6.0
yarn: 1.3.2

### Steps to Reproduce

(Write your steps here:)

1. Set up .travis.yml as follows:
[code]
2. Push to Github develop branch

### Expected Behavior

Expe

[2017-12-27 06:49] sudhirj opened #359 "Customizable blog folder"
Is there any reason why docs are outside the `website` folder but blog posts are inside? And there's no customization allowed either?

Is it because projects at FB already tend to have a `docs` folder, but not necessarily a `blog`? If that's the case, it would be great to have it customizable, for cases where the website is being set up as a first class citizen in its own repo.

[2017-12-27 12:16] neilsutcliffe commented on #359
At this time the blog folder is hard-coded. It would make sense to have it in the web-config like the docs does.

`return siteConfig.customDocsPath ? siteConfig.customDocsPath : 'docs';`

I believe this is as there are no markdown files inside the website folder. Everything inside the website folder is either a html template of a js React component.

This would be a small change to make as the def

[2017-12-27 12:25] neilsutcliffe commented on #356
I agree.

I am not advocating a full on UI framework here, just offering options of how it should look.

For comparison here is **Semantic UIs**

![image](https://user-images.githubusercontent.com/13319277/34381443-c9e6857e-eb08-11e7-94f8-e179bd1f2f17.png)

**Bootstrap**

![image](https://user-images.githubusercontent.com/13319277/34381464-e9a1f95c-eb08-11e7-928b-6361c277feb4.png)

**Picnic CSS**

[2017-12-27 12:28] neilsutcliffe commented on #353
Is this generally what people expect to happen. Does create-react-app fall-up to 3001 when 3000 is used?

[2017-12-27 13:03] vjeux commented on #356
My preference would be the first one, but honestly anything different than the current one would do :p

[2017-12-27 15:24] JoelMarcey commented on #359
@sudhirj @neilsutcliffe  Hi! We made a conscious decision to only have `docs` outside of the `website` folder. We did this to try to maintain a semblance of simplicity and approachability for Docusaurus. Generally all websites will have documentation. Much less will have a blog, and we didn't want to confuse the issue by appearing that a blog was required, etc.

We could possibly have a config for

[2017-12-27 15:40] neilsutcliffe commented on #359
~Jeff Goldblum (ish)

[2017-12-27 15:41] JoelMarcey commented on #359
@neilsutcliffe Ha ha ha - nice quote 👍

[2017-12-27 15:41] JoelMarcey commented on #359
Reminds me that I should watch the original Jurassic Park again.

[2017-12-27 21:14] sudhirj commented on #359
Makes a ton of sense to do it this way when injecting Docusaurus into an existing project - so kudos for making that really well thought out and easy.

Docusaurus works great as a first class citizen as well, though, it would be a shame if the defaults look odd when initialized as a standalone project. Slash ought to be happy to be a strong independent saurus.

[2017-12-27 22:21] JoelMarcey commented on #359
@sudhirj That's a fair point. Let me tag this as `enhancement` and look at seeing how we can make this happen so that is satisfies both our requirements. Thanks!

[2017-12-28 00:49] ThomasG77 commented on #353
@neilsutcliffe FYI https://github.com/facebookincubator/create-react-app/blob/master/CONTRIBUTING.md#heuristics

[2017-12-29 02:46] ppatel221 commented on #240
Hey I'm a student in an open source development class. Can i help with this bug?

[2017-12-29 05:40] JoelMarcey commented on #240
@ppatel221 Hi! Absolutely. Please send a pull request. We would be happy to review it.

[2017-12-29 05:41] JoelMarcey commented on #240
...and if afterwards (or in parallel) you want something code related and related to this issue, there is https://github.com/facebook/Docusaurus/issues/257 as well.

[2017-12-29 05:48] ppatel221 commented on #240
I can also take a look at that bug!  Can you help me get started with this? What would be my first step

[2017-12-29 05:51] JoelMarcey commented on #240
@ppatel221 I wold start by reading the [contributing documentation](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md). That should help you get oriented on how to generally make pull requests for this project.

[2018-01-01 19:23] ppatel221 commented on #240
I've requested PR for one of the links I updated. Are there more places that need these updates?
https://github.com/facebook/Docusaurus/pull/366

[2018-01-01 20:17] ppatel221 commented on #240
Ive requested a PR here as well https://github.com/reactjs/reactjs.org/pull/478

[2018-01-02 01:57] alexkrolick commented on #240
@ppatel221 ReactJS doesn't use Docusaurus, I think you may have intended to update the React Native docs.

[2018-01-02 10:31] neilsutcliffe commented on #77
https://github.com/Munter/express-compile-sass

Does this npm plugin seem acceptable. It would easy to drop in, although I'm not sure yet how to tie in the primary and secondary colours with it?

[2018-01-03 03:36] wulucxy opened #367 "need hot reload md"
### Is this a bug report?

no

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

yes

### Environment

(OS, Node, npm, yarn)

### Steps to Reproduce

(Write your steps here:)

1. when I edit the md docs，I have to reload the page to see what i have changed, it is not very pleasant experience。so hmr can help a lot。
2.
3.

### Expect

[2018-01-03 05:58] chenglou opened #368 "URL hash collide when different subsections have the same title"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Doesn't matter

### Steps to Reproduce

Try any markdown file

[code]

Maybe `baz-1`. for the second one is good enough? No way to guarantee the titles from not clashing, since you might actually have a title called `baz 1`

###

[2018-01-03 14:25] Deterus commented on #336
I am eagerly awaiting this PR to be merged.  As soon as this goes through were going to convert most of our internal wikis to Docusaurus.  Our build servers are windows based, and this is our last major hurdle. Thanks for working on this its much appreciated!

[2018-01-03 17:09] JoelMarcey opened #369 "Better error message when missing versions.js file"
### Is this a bug report?

 No

### Have you read the [Contributing Guidelines]

Yes

### Environment

N/A

### Steps to Reproduce

See https://github.com/facebook/Docusaurus/pull/333#issuecomment-353166152

### Expected Behavior

Better error message telling user that they might be missing `versions.js` file.

### Actual Behavior

404 for versions.html missing

### Reproducible Demo

https://gith

[2018-01-03 17:23] JoelMarcey opened #370 "Blog feed fixes"
### Is this a bug report?

Yes.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

https://github.com/facebookresearch/fastText/issues/399

### Expected Behavior

feed has HTML instead of markdown

### Actual Behavior

feed shows markdown

### Reproducible Demo

https://github.com

[2018-01-03 18:06] JoelMarcey commented on #358
Hi @IniZio. Thank you for publishing this issue. Sorry for the delayed response. I am back from the holidays now.

I just want to verify that you are still having this issue.

In the Docusaurus docs - https://docusaurus.io/docs/en/publishing.html#using-github-pages

Under the `CURRENT_BRANCH` line:

[2018-01-03 21:23] JoelMarcey commented on #336
Hi all - I am back after some holiday and end of year work that I needed to get taken care of.

Since I see this is a popular issue that needs fixing, I will focus on this now.

@neilsutcliffe Hi! It looks like #360 is your PR that would fix this issue, correct?

[2018-01-03 21:40] JoelMarcey commented on #336
Oh wait! I think I know why.

[2018-01-03 21:40] JoelMarcey commented on #336
And, if it is, I am going to hang my head in shame.

[2018-01-03 21:42] neilsutcliffe commented on #336
#360 Will fix it. It's as the build process uses the incorrect path seperation character. The refactor uses the NPM path tools all over to ensure that it works cross platform.

#360 is a big change, but will only affect the built files. Should be relatively easy to test, although I haven't tested with translated docs or versions myself. Would it be worth creating a release branch?

[2018-01-03 21:43] JoelMarcey commented on #336
Those previous comments that I deleted were made for another repo -- too many tabs open. Sorry.

[2018-01-03 21:47] JoelMarcey commented on #336
@neilsutcliffe Would it be worth creating a smaller commit/PR to fix this particular issue now since #360 may require a bunch of testing?

[2018-01-03 22:15] neilsutcliffe commented on #336
I'm gonna say it's not worth it, as the PR is too different from the existing codebase to copy and paste lines. It's a complete refactor.

Any fixes would have to be made from scratch as the code just is not comparable.

[2018-01-04 01:00] IniZio commented on #358
I am using a workaround, but if i use the documented approach it still clones in a subfolder of rather than right inside '<repo-name>-master' folder, so it deploys in a subfolder also.

[2018-01-04 22:06] neilsutcliffe commented on #336
I'm going to try and write some extra tests in #360 for versioning, amongst other things.

The hardest bit of tests are determining behavour.

I wonder if it is possible to write a test for windows path issues on a linux box? Honestly, I'm just glad they both treat extensions the same way.

[2018-01-05 00:55] aadsm opened #374 "ORGANIZATION_NAME and PROJECT_NAME didn't work as expected"
I followed the guide on publishing to github and used `GIT_USER=aadsm ORGANIZATION_NAME=aadsm PROJECT_NAME=draft-js CURRENT_BRANCH=docusaurus USE_SSH=true npm run publish-gh-pages` to publish to my own fork of draft.js.

I was expecting the aadsm/draft-js#gh-pages branch to be updated but in reality facebook/draft-js#gh-pages was instead!
I haven't debug why, I'm assuming that at some point the co

[2018-01-05 05:51] JoelMarcey commented on #374
Hi @aadsm. Yeah, if you have `organizationName` set in `siteConfig.js` set, that currently takes precedent. https://github.com/facebook/Docusaurus/blob/master/lib/publish-gh-pages.js#L23

[code]

We can discuss whether that should be the case. I can see the argument that manually set environment variables should take precedent, but at the time we thought that all siteConfig variables should be fir

[2018-01-05 12:08] j-f1 opened #375 "Allow use of gtag.js Google Analytics script"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

OS: macOS 10.12.3 (16D32)
Node: v9.0.0
npm: 5.5.1
Yarn: 1.3.2

### Steps to Reproduce

1. Add a `gaTrackingId` to the site config.
1. In a file added to the `scripts` config option, add this code:
[code]
3. Open your website

##

[2018-01-05 14:46] aadsm commented on #374
Oh I see. I assumed that these would override any siteConfig options as that's usually what happens with these type of variables.
Take as an example git, if you set the `GIT_AUTHOR_NAME` environment variable then this will take precedent to the git configuration: https://git-scm.com/book/gr/v2/Git-Internals-Environment-Variables#_committing

[2018-01-05 16:04] haskellcamargo opened #376 "Escape pipe inside code inside table"
The markdown parser currently doesn't allow having the pipe character `|` inside backticks inside tables.

Example:
[code]

In this situation, `|` will not be escaped. This will break when rendering.
Putting `\` before will not work and will render `\` also.

Some markdown parsers solve this by allowing to use `&#124` as the pipe. Using
it outside backticks correctly renders the pipe. Using it ins

[2018-01-06 17:08] chenglou opened #378 "1.0.4 fails on publishing to github pages"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

CI (linux)

### Steps to Reproduce

Not too sure this repros on every project setup. See below

### Expected Behavior

Build succeeds.

### Actual Behavior

Error message:

[code]

### Reproducible Demo

See the failure at https

[2018-01-07 12:55] filipdanic opened #379 "DX Issues when getting started (Non-obvious errors with docusaurus-init)"
### Is this a bug report?
No, but it’s pretty important for general developer experience.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Steps to Reproduce

1. Follow the guide over at https://docusaurus.io/docs/en/installation.html
2. Bootstrap the project with `docusaurus-init`
3. Run `docusaurus-start`

This will f

[2018-01-08 16:37] JoelMarcey commented on #379
Hi @filipdanic - thank you for filing this issue. I definitely can see validity in some of your points here. The reason we just don't use `docs` is because we didn't want to deal with the possible problems of clobbering or somehow merging with an existing `docs` folder.

We do mention that you have to do the renames here: https://docusaurus.io/docs/en/site-preparation.html#verifying-installation.

[2018-01-08 21:04] JoelMarcey commented on #336
See #381 for a hopefully targeted fix to the Windows build problem.

[2018-01-08 22:45] Tonours opened #383 "Missing doctype on pages"
### Is this a bug report?

Yes, when markdown files are generated to html one we expect that it will include a doctype for the generated file.

### Environment

**OS:** OSX 10.12.6
**Node:** 8.9.3
**Npm:** 5.5.1
**Yarn:** 1.3.2

### Steps to Reproduce

1. Clone Docusaurus repository
2. Go to `./website` run `yarn install && yarn build`
3. Go to `./website/build/*.html`

### Expected Behavior

When

[2018-01-08 22:47] Tonours commented on #383
Hi !
As i have time today, i have made a pull-request for this #382 :-)

[2018-01-08 23:00] JoelMarcey commented on #378
Thanks @chenglou -- yeah, I didn't expect that behavior to change from 1.0.3 to 1.0.4 -- so this is definitely a bug. Let me go through the relevant commits to see where we might have gone awry here.

[2018-01-08 23:45] JoelMarcey commented on #336
Fixed by #381.

[2018-01-08 23:45] #336 closed

[2018-01-09 02:00] JoelMarcey commented on #378
@chenglou I have a test site that I am using to try to fix this...

https://github.com/JoelMarcey/JoelMarcey.github.io

I ran into the same bug you did, but only after I set both:

[code]

in `siteConfig.js`.

This is because in order to test locally, these variables need to be set; If you leave those blank, it will use the the information from the CircleCI when running there as described here: ht

[2018-01-09 02:16] JoelMarcey commented on #378
We use `fs.copy`, and this is probably the reason why it is failing:

https://github.com/jprichardson/node-fs-extra/issues/83

[2018-01-09 05:27] JoelMarcey commented on #378
I think we got the fix in #384. I will push out a 1.0.5 bug fix release tomorrow/Wed so that these are part of the npm package.

[2018-01-09 10:16] filipdanic commented on #379
Yes, it seems like moving the whole `Verifying Installation` section to the `Installation` page would make sense. I can submit a PR for that.

[2018-01-09 10:46] Haroenv opened #385 "Search is clipped on mobile"
Hey there! Thanks for making docusaurus 👋

### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

### Steps to Reproduce

1. go to any of the websites using docusaurus
2. use Safari
3. open "responsive mode" (cmd-ctrl-r)
4. type something in the search bar

### Expected Behavior

Th

[2018-01-10 05:04] azz opened #387 "Improve SEO"
### Is this a bug report?

`enhancement`.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

👍

### Issue

Google search results for Prettier could do with some improvement.

#### Short listing

![image](https://user-images.githubusercontent.com/1297597/34756286-ccd38834-f61d-11e7-9556-dffae3ec6dbd.png)

#### Long listing (Require

[2018-01-10 08:02] viktorsmari commented on #323
I would also very much like to see the non-flat folder structure, allowing subfolders for better organization.
I have a large markdown codebase with subfolders I would like to migrate to Docusaurus.
I also have non technical people editing the files on Github and they know how basic folder structure works and maps to real urls.

[2018-01-10 10:59] j-f1 commented on #387
That’s definitely not what we’re looking for to describe the playground.

[2018-01-10 22:58] brentvatne opened #388 "Syntax highlighting: highlight.js doesn't work well with JSX"
### Is this a bug report?

Kind of -- lots of people using Docusaurus will probably use it for React related projects (I'm using it for React Navigation).

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes!

### Environment

Not relevant

### Steps to Reproduce

Add this code block:

[code]

### Expected Behavior

I expected i

[2018-01-11 03:08] chenglou opened #390 "Feature request: translatable siteConfig.tagline"
### Is this a bug report?

Yes and no

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Expected Behavior

siteConfig's key `tagline` should be translatable

### Actual Behavior

It's not (I think).

[2018-01-11 14:40] robertopc opened #391 "Feature: Arrow keys to navigate"
Arrow left to previous page.
Arrow right to next page.

[2018-01-11 19:56] brentvatne commented on #391
imo this isn't worth adding to docusaurus itself. you can implement this pretty easily with just adding a custom script to your page

[2018-01-11 20:30] agepoor opened #392 "Test Site returns inconsistent footer links"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Windows, Node, npm

### Steps to Reproduce

1. > docusaurus-init
2.  Rename example folders to '/doc' and '/blog'
3. > cd website
4. Make no changes in siteConfig.js
5. > docusaurus-start

### Expected Behavior

The Test Site wo

[2018-01-12 00:36] #240 closed

[2018-01-12 05:16] JoelMarcey commented on #378
1.0.5 has been pushed and this should be fixed now. Thanks for bringing this up.

[2018-01-12 05:16] #378 closed

[2018-01-12 05:21] JoelMarcey commented on #254
Since the height is different on Chrome than Safari, I think fixing an absolute value of a CSS property isn't the answer. There is some underlying difference in how Safari is rendering the search box relative to the top vs. Chrome. We need to figure out why that is.

[2018-01-12 06:23] kirtan403 commented on #323
I think when markdown base increases, It would be hard to maintain it in a flat file structure. Just allowing sub-directories would be a very nice feature really. I am migrating to Docusaurus from gitbook and I think it will make it easy to maintain..

[2018-01-12 12:08] azz commented on #292
We'd really like to be able to hydrate the code on the client-side to support some interactions. Is that on the cards?

[2018-01-12 13:12] julen opened #395 "Feature: referencing variables from markdown pages"
First of all, thanks for sharing and supporting Docusaurus! It's been pretty easy to get started.

I'm posting a feature request — I haven't found anything similar in the issue tracker so forgive me if it's been discussed before.

Motivation: sometimes docs need to reference information such as version numbers, URLs etc. and having them manually typed in the markdown pages is not ideal because thi

[2018-01-13 15:52] cyan33 opened #397 "The `imgAlignSide` component only has a `margin-right`"
### Is this a bug report?
bug

(write your answer here)

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

(Write your answer here.)
Yes

### Expected Behavior

I found this issue originally in the `jest` website. And after some discussion we figured that it would be ideal to fix this issue in the upstream.

If you look at the web

[2018-01-14 09:00] Kikobeats commented on #234
Because internally docusaurus uses express, it could be done using [svr](https://github.com/Kikobeats/svr).

The only prerequisite is separate the express routes into a separate file.

[2018-01-14 22:41] julen commented on #374
Just adding a note to mention I also hit this unexpected behavior. Same as @aadsm, I was expecting explicitly set environment variables to take precedence over any configuration set in `siteConfig.js`.

[2018-01-15 17:23] s-pace commented on #251
👋  @hramos,

The latest version (`2.5.2` so far) had some improvement like:
* polish the DOM structure
* add new (pre/post processing method)["https://github.com/algolia/docsearch#docsearch-options](e.g. _handleSelected_, _queryHook_, _transformData_ , ... )
* enhance the search Input
* had responsive behaviour to the dropdown
* fix bugs (obviously)

Please note also that the V1 isn't maintained a

[2018-01-15 17:38] #339 closed

[2018-01-15 20:51] haraldur12 commented on #254
I am tackling the issue. I mean I am trying. I think it has not been fixed yet I assume.

[2018-01-16 01:50] JoelMarcey commented on #339
Hi @nelKorajkic - I just wanted to make sure your issue here was resolved. Did the fix work as you expected?

[2018-01-16 14:40] montogeek opened #399 "Releases page support"
Hello!

This is a great project that solves every author/maintainer problem: My library/framework website documentation.

Is there any plan to support a Releases page? This is extremely important in any library/framework website, show your users what changes were done in each release.

It could pull a CHANGELOG.md file or even Releases GH page info through the API to build a nice, eye candy page.

[2018-01-17 18:54] richardzcode commented on #392
Yes docs are stored in `docs` folder. But one major feature of Docusaurus is multi-language support. In runtime the doc is translated into multiple copies, one language each, depending on how many languages you enable in settings. 'en' is the default language.

My understanding is 'docs/doc1.html' and 'docs/en/doc1.html' should both exist. The link shouldn't be broken.

[2018-01-17 20:25] agepoor commented on #392
To reproduce this:
1. `docusaurus-start`
2. Go to http://localhost:3000/
3. Click on footer link 'Getting Started (or other categories)' under Docs
4. You will be on http://localhost:3000/test-site/docs/doc1.html now
5. Click on 'Getting Started (or other categories)' under Docs again
6. It now returns 'Cannot GET /test-site/docs/en/doc1.html'

[2018-01-17 20:28] nelKorajkic commented on #339
@JoelMarcey Yup the issue is resolved with [21cbece](https://github.com/facebook/Docusaurus/commit/21cbece838706992a6aac5d4c32e780b29cf7485)

Thanks for all the help @JoelMarcey and @neilsutcliffe .

[2018-01-18 00:44] JoelMarcey commented on #397
@cyan33 Sorry I didn't respond to this sooner. I would, of course, have loved a PR. I appreciate any PRs to fix bugs :)

We will go with https://github.com/facebook/Docusaurus/pull/398

[2018-01-18 03:04] #397 closed

[2018-01-18 15:57] micnic opened #402 "siteConfig.users should be optional, but it is not"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

npm, docusaurus 1.0.5

### Steps to Reproduce

1. Remove siteConfig.users array
2. Run `npm run build`
3. Get the error

### Expected Behavior

From the docs it's expected that siteConfig.users is optional and if not need it can

[2018-01-18 21:14] hramos opened #403 "[Blog] OpenGraph description tag stumbles with img tags"
Docusaurus will automatically generate OpenGraph metatags based on a blog post's content. One of the tags, 'description', is generated by grabbing the markdown content up to the first line break. If the blog post has a reference in markdown to an image at the top, [it will avoid using the image as the description](https://github.com/facebook/Docusaurus/blob/4c2558e8bd538ea6f49867e18c1bbd9489e7ba2c

[2018-01-19 18:21] mitchellurgero opened #404 "Incorrect HTTP code in places."
### Is this a bug report?

yes.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

Ubuntu 16.04, Node 8.9, Lastest (As of this post) Docusaurus from npm.

### Steps to Reproduce

Viewing pages that do not exist return error code 200, but should be returning 404.

### Expected Behavior

Return HTTP code 404.

[2018-01-20 10:19] t3573393 opened #406 "gh_pages publish error"
### Environment
OS:  ubuntu 17.10
Node: v6.11.4
npm: 5.6.0
yarn: 1.3.2
(OS, Node, npm, yarn)

### Steps to Reproduce

1. publish use local project to remote use : yarn run publish-gh-pages command, first time is ok, but when checkout the second time fail;
2. error info shows:

    $ docusaurus-publish
    master
    generate.js triggered...
    feed.js triggered...
    feed.js triggered...
    Sit

[2018-01-21 09:17] yanivnis commented on #234
+1 for this feature. It can make the development process much easier.

[2018-01-22 00:56] JoelMarcey commented on #404
@mitchellurgero Hi. Thanks for filing this issue.

Interesting...

I went to your website: https://urgero.org (thanks for using Docusaurus, btw).

I tried https://urgero.org/opos/index.html -- and I got a 404.

I tried https://urgero.org/opos - and I get what you pasted in your screenshot.

I wonder if this has to do more with [express.js](https://expressjs.com/) than the Docusaurus core? Needs in

[2018-01-22 01:05] JoelMarcey commented on #404
Probably have to do some additional routes or checking in `server.js`.

[2018-01-22 03:00] JoelMarcey commented on #403
@hramos I wonder if #407 will fix this issue?

[2018-01-22 03:40] mitchellurgero commented on #404
Hey @JoelMarcey ! Thanks for fixing so quickly! Idk what you mean by that. I am using the latest package from npm (npm install Docusaurus-init)

[2018-01-22 03:44] JoelMarcey commented on #404
@mitchellurgero Sorry for not being clear -- what I am asking is your website https://urgero.org running on GitHub Pages (e.g., did you use `docusaurus-publish`)? Or is it running somewhere else using the built-in Docusaurus server?

[2018-01-22 03:55] mitchellurgero commented on #404
I am using docusaurus via it's server.js (using nodeJS and apache2 to proxy.

[2018-01-22 03:56] JoelMarcey commented on #404
Perfect. That makes sense, because you would only get those errors running the Docusaurus server. GitHub Pages would give you different messages, etc. on those routes.

[2018-01-22 04:11] JoelMarcey commented on #220
This was closed via #294 and #409.

[2018-01-22 04:11] #220 closed

[2018-01-22 10:19] Fl4m3Ph03n1x opened #410 "sidebar.json does not allow for subcategories"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

yes

### Environment

OS: MacOS High Sierra
Node: 8.6.0
npm: 5.6.0

### Steps to Reproduce

1. Create an app following docusaurus docs
2. Try creating a subcategory using the `sidebar.json`:
[code]

3. Launch the website and access documentation

###

[2018-01-23 15:32] julen opened #413 "Allow using extension-less URLs"
### Is this a bug report?

No.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

Any.

### Expected Behavior

Since [Docusaurus has been designed to work well with GitHub Pages](https://docusaurus.io/docs/en/publishing.html#using-github-pages), it would be ideal if the links it generates via markdown refere

[2018-01-23 17:53] danphamus304 commented on #254
https://github.com/facebook/Docusaurus/labels/Starter%20Task

[2018-01-23 21:13] #404 closed

[2018-01-23 23:22] hramos commented on #403
Hm I don't see anything in #407 that might address this.

[2018-01-24 03:55] balancelove opened #415 "About gitignore"
Hi, I have a question about `.gitignore`.
When I init my project, `.gitignore` in `website/`,but in this file, ignore list is `website/yarn.lock`,I think this should be `yarn.lock`. `website/yarn.lock` match file like this `website/website/yarn.lock`.

[2018-01-24 09:17] ivangretsky opened #416 "Docs on frontpage - is it possible?"
Good day! Thanks for cool open source project!

My question is: is it possible to put docs page on the front page? While it is cool to have the whole promo site, but sometimes all you need is docs.

[2018-01-26 17:14] Tautorn opened #420 "Private Project"
I can use Docusaurus in a private project?

[2018-01-28 21:34] flarnie opened #423 "Adding instructions for Travis CI integration"
Would you be open to adding a section to the docs about Travis CI integration? Right now we talk about Circle CI. https://docusaurus.io/docs/en/publishing.html#automating-deployments-using-continuous-integration

Asking because we will be setting up integration with Travis anyway in the Draft.js repo, thought the info could be good to share. See https://github.com/facebook/draft-js/pull/1607

[2018-01-29 04:31] JoelMarcey commented on #423
Hi @flarnie. Absolutely. We only started with CircleCI because that is what we use for Docusaurus. But we are definitely happy to add other CI flows. Are you thinking a PR?

[2018-01-29 21:54] nicolo-ribaudo opened #424 "Allow setting scripts and styles for a specific pages."
### Is this a bug report?

No, it is a feature request.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yup

### Feature request description

While working on using Docusaurus for the Babel website, the only way I could find of importing some scripts/styles only in one specific page was to directly write `<script` and `<link` i

[2018-01-31 02:01] kierandg opened #427 "Allow use of base 64 encoded images with reference style in markdown"
### Is this a bug report?

No, it is a feature request.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Request description

Markdown should accept images in base64 for small image. It's useful when we don't want to upload the image to anywhere in the server.

[code]

[2018-01-31 04:01] wulucxy opened #428 "custom highlight.css url"
### Is this a bug report?

No， This is a feature

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

(OS, Node, npm, yarn)

### Steps to Reproduce

**Our users mostly locate in China，they not not freely visit  cloudflare**
I want to get control of the hightlight.js url, I wish you can‘t give the options to dev

[2018-02-01 04:15] JoelMarcey opened #429 "Remove dead code in sitemap.js"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

Look at https://github.com/facebook/Docusaurus/blob/master/lib/server/sitemap.js

There are three variables that are never used.

[code]

### Expected Behavior

Let's get rid of that dead code.

### A

[2018-02-01 04:46] sufuf3 commented on #429
May I take this?
I'm interested in this one.
Thank you.

[2018-02-01 04:47] JoelMarcey commented on #429
@sufuf3 Hi. Absolutely. Thank you!

[2018-02-01 05:02] sufuf3 commented on #429
Thank you very much.
I sent a PR here #430.
Hope it is good for working. :)

[2018-02-01 17:27] JoelMarcey opened #431 "Move Verifying Installation section to Installation doc"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

The section should be in https://docusaurus.io/docs/en/installation.html

The first paragraph in will need to be updated too.

### Actual Behavior

It is in https://docusau

[2018-02-01 21:34] richardzcode commented on #420
Docusaurus just generate static website for you. I don't think there is any problem with private project. Just be aware your GitHub pages are public even if project is private.

[2018-02-02 06:26] JoelMarcey commented on #420
Hi @Tautorn. Exactly what @richardzcode said. You can use this on any GitHub project that is private. Just know that does in the `gh-pages` branch will be public even if your repo is private.

[2018-02-02 06:26] JoelMarcey commented on #420
I am going to close this. Reopen if you have any questions. Thanks!

[2018-02-02 06:26] #420 closed

[2018-02-02 09:48] wulucxy commented on #178
@rickyvetter do you have any plan to get this feature done? I think this is something need to be done as soon as posible

[2018-02-02 11:27] Tautorn commented on #420
Thx so much!

[2018-02-03 03:30] JoelMarcey opened #433 "Update docs to clarify latest and current versioning"
see: https://github.com/facebook/Docusaurus/pull/418

### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

yes

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

N/A

### Actual Behavior

N/A

### Reproducible Demo
N/A

[2018-02-03 03:45] #429 closed

[2018-02-03 19:09] chimon2000 commented on #253
I am running into the same issue.  After the first publish I get the following error:

[code]

[2018-02-03 19:13] JoelMarcey commented on #253
@chimon2000 Hi! I believe this has been fixed, but I want to be sure. There is a note in https://docusaurus.io/docs/en/publishing.html#using-github-pages talking about how to publish to the `master` branch.  Have you seen that?

I want to try to get this working for you, since it definitely should.

[2018-02-03 19:14] JoelMarcey commented on #253
Also, if there is a way we can describe how to do it better, definitely let us know.

To be honest, I had hoped I could close this issue, but I had just forgotten. Hoping I can still close it. :)

[2018-02-03 19:17] chimon2000 commented on #253
@JoelMarcey thanks for the quick reply.

I'm assuming that you're referring to the following

After making those changes I was still seeing the same error.  It's possible that I just fudged something.
 Here is what my siteConfig looks like:

[code]

[2018-02-03 19:23] JoelMarcey commented on #253
Thanks for the `siteConfig.js` - I have a couple of things we can try here. It's possible I messed up the docs.

Can you try changing the `organizationName` to empty?

e.g.,

'''
projectName: 'codeforcharlotte.github.io',
organizationName: '',
'''

and remove the `organizationName: 'codeforcharlotte', // or set an env variable ORGANIZATION_NAME` line.

[2018-02-03 19:26] JoelMarcey commented on #253
Actually, I am looking at my site that I am using to test this. And I had something similar to your original. Let me make sure that works.

[2018-02-03 19:30] JoelMarcey commented on #253
Ahh -- I just looked at your site.

https://github.com/codeforcharlotte/codeforcharlotte.github.io

So I think the problem is that you are trying to both have the docs in the `master` branch and publish to the `master` branch.

If you move the docs to a branch called `source` or something. And then try to publish to `master` it should work.

Check out:

https://github.com/JoelMarcey/joelmarcey.git

[2018-02-03 23:17] chimon2000 commented on #253
Ah, I see that makes sense.  I was under the impression that I was supposed to be housing both in the same repo.

[2018-02-04 02:45] JoelMarcey commented on #253
I will update the documentation in that section to make it a bit more clear.

[2018-02-04 03:03] #253 closed

[2018-02-04 08:36] chimon2000 commented on #253
@JoelMarcey I can verify that changing the default repo works. Thank you!

[2018-02-04 11:51] gedeagas commented on #431
Hello @JoelMarcey i just make a pr about this but i seem a bit lost on what needs to be updated in the first paragraph.

[2018-02-04 20:24] JoelMarcey opened #436 "Organize siteConfig.js options documentation page better"
Some ideas:

- [ ] Better categorization
- [X] Alphabetize
- [ ] Table format

### Is this a bug report?

No. It is more of an efficiency report.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

N/A

### Steps to Reproduce

1. Go to https://docusaurus.io/docs/en/site-config.html
2. See how the options are

[2018-02-05 04:54] JoelMarcey commented on #431
Hi @gedeagas

The first paragraph in https://docusaurus.io/docs/en/site-preparation.html says:

The second sentence there would be out of place, I think, if you are moving the verification of the install to the installation page. So maybe that just should be removed?

Actually you can take this paragraph from down below on that page:

and move it to the top of  https://docusaurus.io/docs/en/site-p

[2018-02-05 06:44] gedeagas commented on #431
Ah, I got it now 😃
Thank you for your insight @JoelMarcey.

[2018-02-08 03:49] JoelMarcey opened #438 "Look at supporting multiple syntax highlighters"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

https://twitter.com/notbrent/status/961436860928049152

### Expected Behavior

JSX is supported

### Actual Behavior

JSX is not supported

### Reproducible Demo

N/A

[2018-02-08 03:51] JoelMarcey commented on #438
cc @brentvatne

[2018-02-08 03:58] brentvatne commented on #438
closing this related issue: https://github.com/facebook/Docusaurus/issues/388

[2018-02-08 03:58] #388 closed

[2018-02-08 04:02] JoelMarcey commented on #388
Sigh - sorry for not getting to this issue sooner. :(

Although, I guess I the result would have been the same unless we supported prismjs again. Which may not be hard to add back since we did it before :)

I think it is time for a non-feature-enhancement issue triage :)

[2018-02-08 04:12] brentvatne commented on #388
haha, no problem @JoelMarcey, my fork has worked fine for me so far!

[2018-02-09 05:22] tooooolong opened #439 "Add fingerprint to compiled css/js files"
Case we have CDN front of our website, So main.css can not update automaticly.

Now, the css tag is:
[code]
I think it should add fingerprint to static files.
Something like this:

[code]

[2018-02-09 09:41] wulucxy commented on #428
@JoelMarcey Hi，I think this has a easy solution，but is crucial to the users in china，so please give the feedback soon，I appreciate for your feedback

[2018-02-09 15:28] JoelMarcey commented on #428
HI @wulucxy Are you looking to add your own highlighting hook so you can register another language?

As in what is described here: https://docusaurus.io/docs/en/doc-markdown.html#registering-additional-languages

[2018-02-10 01:56] JoelMarcey opened #441 "Header links on mobile get cutoff"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Chrome development tools

### Steps to Reproduce

https://github.com/babel/website/issues/1556

### Expected Behavior

All header links shown

### Actual Behavior

https://github.com/babel/website/issues/1556

### Reproducible D

[2018-02-10 02:56] ceparl opened #442 "Hi! Do you need any translation to spanish?"
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

(Write your answer here.)

### Environment

(OS, Node, npm, yarn)

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actual Behavior

(Write what happen

[2018-02-10 03:58] maaz93 commented on #441
I would like to fix this! What should be the behavior when the links in the header overflow the viewport?

[2018-02-11 01:39] wulucxy commented on #428
HI @JoelMarcey I don't think this is the solution, what I really want is full control of the `hightlight.css`, as the source code here
https://github.com/facebook/Docusaurus/blob/c6a9848a17b7ac27f43a58c6cecacf905fab0cbc/lib/core/Head.js#L67

the truth is：we will encounter these messages when try to get the url：
[code]
I think the host of cdn **cdnjs.cloudflare.com** can be customized，so the user i

[2018-02-11 04:50] Glavin001 commented on #219
@ForbesLindesay : I've seen https://disqus.com/ before, would this work for a comments system? Any others you would recommend?

[2018-02-11 05:04] JoelMarcey commented on #441
@maaz93 That would be great if you wanted to tackle this.

I think there are three options:

1. Make the font smaller
2. wrap the cutoff to another line/row in the header
3. Create some sort of menu system (hamburger?) for those that are cutoff.

I would think that (1) would be easiest, but maybe less scalable for long length headers. On the other hand, should we make assumptions on how long a hea

[2018-02-11 09:45] maaz93 commented on #441
I agree that (1) is not scalable and probably not a good solution too. (2) and (3) will require some sort of javascript intervention I think. (3) looks less hacky and more intuitive, but definitely more work.

For trying out (2), just changing the `flex-wrap` to `wrap` in the header, looks something like this:
![wrap](https://user-images.githubusercontent.com/6594255/36071935-c7b634a4-0f3c-11e8-99

[2018-02-11 15:42] JoelMarcey commented on #442
@ceparl Hi! I believe we would love translation of the Docusaurus site to Spanish. Are you interested in helping us there?

cc: @ericnakagawa

[2018-02-11 15:44] JoelMarcey commented on #441
@maaz93 Ooooh - a scrollbar in the header. I actually think I like that. I think it may be intuitive given that touch and scrolling are natural on a mobile device. Maybe let's go with that.

[2018-02-11 16:05] #370 closed

[2018-02-11 16:09] ceparl commented on #442
Yes, I would love to contribute with you!

[2018-02-11 16:52] ceparl commented on #442
Are you going to create a directory for the translations? or Can I do a PR of the files to be translated?

[2018-02-12 00:49] JoelMarcey commented on #442
Let me chat with @ericnakagawa tomorrow morning on the best way to approach the translation since this will be our first translation of docusaurus.io. Then we will get back to you.

[2018-02-12 03:36] ceparl commented on #442
Sure! Don't worry. I'll be waiting for your answer.

[2018-02-12 14:08] kvolkovich-sc opened #445 "Search input bug (site)"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

yes

### Environment

MacOS High Sierra, Chrome 64 (Firefox ESR - same behavior)

### Steps to Reproduce

1. Go to https://docusaurus.io/
2. Focus "Search" input
3. Type some text

### Expected Behavior

Display search results correctly

### Actual B

[2018-02-12 15:31] JoelMarcey commented on #445
@kvolkovich-sc Thank you for bringing this to our attention. I fixed the bug.

[2018-02-12 15:33] JoelMarcey commented on #445
@maaz93 Hi. The [overflow commit])https://github.com/facebook/Docusaurus/commit/5e39b2e01f79cf235cf23753634e831dc55d6a72) seemed to cause this issue. I [reverted](https://github.com/facebook/Docusaurus/commit/69603c968ecb8bd1dafe506bb516b11232f01967) it for now.

Maybe we need to be more specific with the placement of the overflow? Such as only when we are in mobile mode (which is done through the

[2018-02-12 15:36] JoelMarcey commented on #445
I am going to close this issue since it is fixed. But I still want to try to get the overflow working on mobile.

[2018-02-12 16:02] JoelMarcey commented on #441
Reopening

[2018-02-13 02:19] #445 closed

[2018-02-13 03:56] JoelMarcey commented on #431
Fixed by https://github.com/facebook/Docusaurus/commit/c8781bedced205cd2a5c876af62623795d7aaf81 and https://github.com/facebook/Docusaurus/commit/9931ed86d28a3ea64c9878536a4d2f91765f1d26

[2018-02-13 03:56] #431 closed

[2018-02-13 05:05] huchenme opened #448 "Support Relative Path"
Docusaurus expect `baseUrl` to be absolute path, to use relative path, I have tried to put `baseUrl=''` and it does not work for `docs` link and generated build.

It will be nice that Docusaurus support relative mode as well

[2018-02-13 23:36] Daniel15 commented on #423
Seems like it'd be better to encourage more flexible hosting services such as Netlify. You could use Docusauraus with Netlify without requiring an extra CI system like CircleCI ro Travis.

[2018-02-14 04:48] JoelMarcey opened #450 "Versioning a new doc is broken"
If you add a new doc to a versioned site, the new doc is not seen and an error is thrown.

### Is this a bug report?

Yes.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes.

### Environment

Docusaurus 1.0.6

(and confirmed it happens in Docusaurus 1.0.5)

### Steps to Reproduce

1. Have some docs in your `docs` folder
2. `n

[2018-02-14 08:46] miralemd opened #451 "[Proposal] Expose `ogImage` property"
Noticed that it's possible to get an `og:image`meta header in the generated website by setting a value for `ogImage` in `siteConfig.js`.

Would be nice to have this documented on [site-config.html](https://docusaurus.io/docs/en/site-config.html)

[2018-02-15 00:39] #441 closed

[2018-02-15 00:45] JoelMarcey commented on #423
#m whynotboth

In the end, we should probably be fairly agnostic in the hosting service. Having docs for CircleCI, Travis, Netlify all seem quite reasonable. We just chose CircleCI because that was a familiar platform that current docs used for CI and it was easy to get started with that.

[2018-02-16 01:34] rafaelnsantos opened #454 "AlgoliaSearchError: Invalid Application-ID or API key"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Github gh-pages
docusaurus: 1.0.6

### Steps to Reproduce

1. Open https://rafaelnsantos.github.io/unity-cloudsave/
2. Type in search box

### Expected Behavior

Show result box.

### Actual Behavior

Result box don't show.

Thi

[2018-02-16 04:40] rafaelnsantos commented on #454
This is the siteConfig https://github.com/rafaelnsantos/unity-cloudsave-site/blob/master/website/siteConfig.js#L68

I couldn't find how to set the id.

[2018-02-16 04:45] JoelMarcey commented on #454
Hi @rafaelnsantos -- your setting looks correct. Maybe I am misunderstanding the issue here.

Did you get that `apiKey` directly from Algolia? i.e., did they email it to you?

I see you have an Algolia config here for your site: https://github.com/algolia/docsearch-configs/blob/master/configs/unity_cloud_save.json

[2018-02-16 05:02] rafaelnsantos commented on #454
Hi @JoelMarcey I'm using the apiKey from algolia dashboard, the email didn't have an apiKey.

The issue is the application-id in the request, I believe BH4D9OD16A is facebook's algolia application id.

Where can I change algolia application id?

[2018-02-16 05:12] JoelMarcey commented on #454
We don't use the `application-id` in Docusaurus. e.g., no where in https://github.com/facebook/Docusaurus do we use `application-id`.

I checked a couple of other sites that use Docusaurus - https://docusaurus.io/en/users.html

They don't use `application-id` either.

Is this something you may want to ask support@algolia.com about?

[2018-02-16 14:49] rafaelnsantos commented on #454
Thank you @JoelMarcey ! Solved talking to algolia support.

[2018-02-16 16:06] JoelMarcey commented on #454
Great! I am glad you were able to resolve this.

[2018-02-16 16:06] #454 closed

[2018-02-16 18:39] zanonnicola opened #456 "Highlight menu item if selected"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

yes

### Environment

MacOS
Node 9
Npm 5

### Steps to Reproduce

1. Open https://docusaurus.io/
2. Click on one of the nav item
3. The nav items doesn't change state
4. There's no visual clue that the page has changed in the navigation (aside from t

[2018-02-17 03:16] #450 closed

[2018-02-17 04:53] JoelMarcey commented on #456
This is similar to https://github.com/facebook/Docusaurus/issues/178

[2018-02-17 04:57] JoelMarcey commented on #456
@zanonnicola Thanks for raising this. I just looked at  babel/website#1580. We can probably do something similar to integrate into the Docusaurus core.

[2018-02-17 06:32] iRoachie commented on #346
Jumping on this band wagon.

Use case:

[2018-02-17 06:48] real34 opened #458 "Offline version (PWA)"
### Is this a bug report?

No, a feature request

### Have you read the [Contributing Guidelines]
Yes

### Environment

Web browser

### Steps to Reproduce

As a developer
In order to work on the documented project while offline
I would like to « download it » in my browser

Is it something you’d like to support at some point?
Any ideas of features that you’d like in priority? For instance search

[2018-02-17 17:52] borekb opened #459 "Docusaurus for docs-only sites"
I've been looking for a system to publish our Markdown documents and Docusaurus looks really nice. However, it currently seems to be targeted on "project websites" where the base URL (`docs.example.com`) hosts a front page and the docs live in the `/docs` subfolder. There might be workaround like using only the `/build/docs` folder after build-time but it would be really great to see first-class s

[2018-02-17 18:44] giansalex opened #460 "Fix Header base path"
I have a project `/project-name/en` but when i click on 'project header name' result in 404 Not found, because the link is  `/project-name/`.
Can i change this path or remove `en`  prefix.

[2018-02-18 23:23] AlanFoster commented on #459
This seems like a similar request to: https://github.com/facebook/Docusaurus/issues/416

[2018-02-19 03:48] JoelMarcey opened #462 "Pa11y fixes to Docusuarus"
### Is this a bug report?

Not technically, but would be good to fix.

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

N/A

### Steps to Reproduce

1. npm install -g pa11y
2. pa11y https://docusaurus.io
3.

### Expected Behavior

No errors

### Actual Behavior

A bunch of errors 😄

https://gist.github.com/J

[2018-02-19 18:24] wang701 commented on #406
+1

[2018-02-19 22:01] JoelMarcey commented on #406
Hi @t3573393 @wang701 -- are you trying to publish a user/org site? https://docusaurus.io/docs/en/publishing.html#using-github-pages

[2018-02-19 22:25] wang701 commented on #406
@JoelMarcey yes, I am trying to publish a org site.

I have followed the instructions on the page you provided: setting up environment variables (GIT_USER, USE_SSH), setting up a `source` branch for the web page source, adding a `cname` in `siteConfig.js`. When I run the deploy command, it shows the error @t3573393 provided. I have to comment out the same lines of code to deploy.

[2018-02-19 22:39] JoelMarcey commented on #406
@wang701 - what version of Docusaurus are you running?

I have a test user site at https://github.com/JoelMarcey/joelmarcey.github.io and I have published it via the publishing steps -- https://joelmarcey.github.io

Do you have your `docs` and `website` dir in a different branch other than `master`? e.g., I have mine in a branch called `source`

[2018-02-20 00:59] wang701 commented on #406
@JoelMarcey from `package.json`, my docusaurus version is 1.0.5.

I do have my `docs` and `website` in a branch other than `master` (mine is called `source` as well).

I just upgraded docusaurus to 1.0.7. Problem persists. I should have followed all the instructions correctly on the docusaurus page.

[2018-02-20 02:51] JoelMarcey commented on #406
HI @wang701 I just published to my user site. You need to make sure you set the branch to `source` when you publish:

e.g, my command was:

[code]

Also make sure you have the right settings in your `siteConfig.js` for your project and org. e.g., mine is:

[code]

[2018-02-20 02:51] JoelMarcey commented on #406
Here is the output of my publish:

[code]

[2018-02-20 05:40] atroncy opened #465 "[proposed enhancement] Algolia - Allow appId in algolia configuration"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

any env

### Steps to Reproduce

(Write your steps here:)

1. Add appId into algolia configuration inside siteConfig.js
2. appId is ignored during the creation of the docsearch client in lib/core/Site.js

### Expected Behavior

I

[2018-02-21 01:10] sheldonhull opened #466 "Offline Search Option"
### Is this a bug report?
no

## Offline search functionality

Has anyone successfully implemented Lunr.js or another offline based search provider? I'm looking to create a offline static documentation site, and can't grant a web crawler the ability to index. I need to leverage something offline like Lunr, solr, or another option, but haven't done that before. Is this a possible enhancement, or an

[2018-02-21 13:57] lipis opened #467 "Content type of the sitemap.xml is missing"
Should be: `application/xml`

https://stackoverflow.com/a/3272572/8418

[2018-02-21 19:40] wang701 commented on #406
@JoelMarcey I looked into `publish-gh-pages.js` again. For this particular block,

[code]
It means that if the first `git checkout origin/${DEPLOYMENT_BRANCH}` return code is 0, the script goes to the `else` block and tries to make a another `${DEPLOYMENT_BRANCH}` branch which causes the error @t3573393 and I are experiencing. I am confused by code in the `else` block.

My rewrite is this:
[code]

[2018-02-22 03:28] loveky opened #468 "when run "npm run build", index.html file only exists in build/xxx/en/ dir, but not copied to the root dir"
### Is this a bug report?

Not Sure

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

Windows 7
Node 6.9.5
npm 3.10.10

### Steps to Reproduce

(Write your steps here:)

1. Follow the [installation](https://docusaurus.io/docs/en/installation.html) process
2. run `npm run build`
3. check the `build` directory

[2018-02-22 08:19] st0012 commented on #406
@JoelMarcey 's solution work for me, but I need to remove my `master` branch and set default branch to `source`.

[2018-02-22 22:19] JoelMarcey commented on #406
@st0012 Thanks for the verification. I am surprised you have to remove your `master` branch though. Setting the proper default branch seems reasonable.

@wang701 Do you want to submit a PR with your suggested fix?

[2018-02-23 19:57] wang701 commented on #406
@JoelMarcey I followed what @st0012 said about removing the `master` branch as well as setting the default branch to `source` and the original code works.

I still don't fully get why that block was written as it is though (mainly the logic). I will create the PR anyways.

[2018-02-25 07:44] chenglou opened #470 "Blog posts can't refer to images in static"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?
Yes

### Environment
macOS, node v8.6.0, npm 5.6.0
(OS, Node, npm, yarn)

### Steps to Reproduce
1. Write a blog post
2. Refer to e.g. an image in /static/img/foo.png

### Expected Behavior
Being able to access that url and show the image. This works f

[2018-02-25 08:00] chenglou commented on #470
Nvm I was being dumb, sorry...

[2018-02-25 08:00] #470 closed

[2018-02-26 10:07] microbouji commented on #344
I can work on enabling this as a config option as discussed in babel/website#1582

Live demo of proposed UI: https://deploy-preview-1582--babel-new.netlify.com/docs/en/index.html

With the new option set to on, the html for the on page navigation will be generated from h2s and h3s in the markdown, and on big screens the main sidebar will switch to fixed position and the new sidebar will show up as

[2018-02-26 16:11] kwailamchan opened #472 "Syntax error when using `docusaurus-init` on OSX 10.13.3?"
Installing docusaurus on OSX (High Sierra, V10.13.3) by the commands

[code]

Syntax error was shown as

[code]

[2018-02-26 16:42] JoelMarcey commented on #344
Hi @microbouji. Thanks! We have PR https://github.com/facebook/Docusaurus/pull/349 that I would love for you to take a look at to see if it meets your standard for this feature. If so, we could use that (or make minor improvements). If not, would love to see what you come up with.

[2018-02-26 19:27] microbouji commented on #344
Hi @JoelMarcey! That's a nice alternative and should probably be the default as it doesn't change the layout from fixed to full width. The separate sidebar that I proposed above could then be enabled with an option for folks who have long doc pages with many subheaders. Option could look like this:
[code]

I should have a PR tomorrow and we can iterate there more. Even if you don't end up needing

[2018-02-26 23:03] JoelMarcey commented on #472
Hi @kwailamchan. What version of yarn are you using? Do you get the same error when running using `npm`?

[2018-02-26 23:10] JoelMarcey commented on #468
Hi @loveky! Interesting. I followed your process and I see an `index.html` file in the root `build/site` directory. Do you have a repo I can look at to try to reproduce exactly?

[2018-02-26 23:17] JoelMarcey commented on #466
Hi @sheldonhull. I have not added an offline search provider. But I imagine you could follow https://lunrjs.com/guides/getting_started.html and do some stuff in siteConfig.js to add it. And then maybe mimic how we add Algolia to the header links bar for Lunr?

[2018-02-26 23:19] JoelMarcey commented on #465
Hi @atroncy. I do not think that should be too difficult to add. Should just be an `if` check into siteConfig.js to add to Algolia config.

[2018-02-26 23:28] JoelMarcey commented on #460
Hi @giansalex Can you point me to your site or the code for your site? Are you using translations?
 Generally the front page of your site, with the default language, should not have the language associated with it.

[2018-02-26 23:29] JoelMarcey commented on #416
Hi @ivangretsky Thanks for this issue. I am going to merge this issue with #459 since it has a bit more detail to it. Thanks!

[2018-02-26 23:29] #416 closed

[2018-02-27 00:22] JoelMarcey commented on #459
@ericnakagawa - you did this with your personal blog, didn't you?

[2018-02-27 00:27] JoelMarcey commented on #458
Hi @real34 -- Just wanted to clarify when you say "offline" is that you want the website available when you do not have internet access? Or you want to work on the documentation itself when offline. For the latter, you can use the local web server to do your testing.

[2018-02-27 00:30] JoelMarcey commented on #451
Hi @miralemd Are you willing to provide a pull request adding to the documentation? You would edit https://github.com/facebook/Docusaurus/blob/master/docs/api-site-config.md

[2018-02-27 00:32] JoelMarcey commented on #448
@huchenme Hi. What error do you get when you use `baseUrl = ''`? Do you get the same thing if you use `baseUrl='/'`?

[2018-02-27 00:35] JoelMarcey commented on #442
Hi @ceparl Do you have an account on Crowdin? Have you seen https://crowdin.com/project/docusaurus

[2018-02-27 00:39] JoelMarcey commented on #439
Hi @tooooolong! How would one know whether a fingerprint should be used? Some sort of configuration option?

[2018-02-27 00:45] JoelMarcey commented on #428
@wulucxy I see. I think we could fix this really easily like you said. I wonder how many URLs should be customizable like this though. Is this the only one that is blocking you?

[2018-02-27 00:50] JoelMarcey commented on #427
Hi @kierandg Is there anything special that we would need to do here other than support reference style linking as documented here: https://github.com/facebook/Docusaurus/issues/257

[2018-02-27 00:52] JoelMarcey commented on #424
Hi @nicolo-ribaudo -- would love to see a PR around this. I think I like the second way better as well, although I think it would need to be documented more clearly than the first way.

[2018-02-27 00:54] JoelMarcey commented on #415
@balancelove Hi. I think there is a bug in the creation of the `.gitignore` when you run `docusaurus-init`. Is that what you ran to get that bad `.gitignore` file?

[2018-02-27 00:56] JoelMarcey commented on #413
Hi @julen - I agree we should support this. Thanks!

[2018-02-27 01:00] JoelMarcey commented on #410
@Fl4m3Ph03n1x Hi!

Just so I am clear, you want a sidebar that looks something like:

[code]

If so, not sure this a bug more of a feature request. Just like with links to anchors in the sidebar, etc. this is a reasonable request. Thanks!

[2018-02-27 01:08] JoelMarcey commented on #406
@wang701 Hi. Just want to be clear -- when you followed the setting the `source` as default way and you say the "proposed fix is broken", are you saying your proposed fix to the code is broken?

cc @rickyvetter who updated the publishing script to support user and org pages.

[2018-02-27 01:11] JoelMarcey commented on #403
Gotcha - ok. This is a quasi-bug, I think vs. a feature request. We can treat it as such.

[2018-02-27 01:12] JoelMarcey commented on #402
@micnic Thanks! I believe we just need to do a check for `siteConfig.users` here before the `.map` call.

[2018-02-27 01:29] kwailamchan commented on #472
Hi @JoelMarcey Thanks for your response. Problem solved when node updated after reading your message.

[code]

It worked good.

[2018-02-27 01:57] JoelMarcey commented on #472
@kwailamchan What version of `node` were you running before you updated? Just curious.

[2018-02-27 01:57] #472 closed

[2018-02-27 02:09] wang701 commented on #406
@JoelMarcey yes, my proposed fix, specifically, this rewrite is broken after setting the default branch to `source`:
[code]

[2018-02-27 02:18] JoelMarcey commented on #399
@montogeek Hi! Sorry it took me a while to get back to you.

So, you could theoretically create a `releases.js` under `website/pages`. But it seems like you are asking for a page built in that comes with Docusaurus, similar to the `users.html` or `index.html` pages.

I would be interested in your thoughts around this.

[2018-02-27 02:21] JoelMarcey commented on #395
Interesting idea. We did something similar for nuclide.io using JS and referencing the package.json file. I think this is something that could definitely be implemented for some upcoming version of Docusaurus.

[2018-02-27 02:25] JoelMarcey commented on #391
@robertopc Thank you for the feature request. But I agree that this may be getting way to specific of a use case that may not be of general use to the Docusaurus users. Adding this as a custom script is a good idea.

I will say that I can see a more generalized implementation around accessibility that could be set in `siteConfig.js`, but not just this alone.

[2018-02-27 02:25] #391 closed

[2018-02-27 02:26] JoelMarcey commented on #390
@chenglou Hi. Agree, most any string should be translatable.

[2018-02-27 02:28] JoelMarcey commented on #387
Ok, I am convinced with the random code snippet for the playground 😄

[2018-02-27 02:40] kwailamchan commented on #472
@JoelMarcey It was v4.1.0.

[2018-02-27 03:25] JoelMarcey commented on #385
@Haroenv Thank you for this issue. Are you seeing this on Chrome too, btw?

[2018-02-27 03:27] JoelMarcey commented on #383
@Tonours Hi. I debated whether to call this a bug or feature request -- called it a bug. I know your PR has been sitting around for a while, but I am still debating whether there is a cleaner way we can accomplish it. But, maybe we just have to go with it.

[2018-02-27 03:29] JoelMarcey commented on #379
@filipdanic Hi. Given that we moved the verifying installation section, do you think the developer experience is adequate now? Or do you want to propose other changes?

[2018-02-27 03:32] JoelMarcey commented on #376
@haskellcamargo Thanks for pointing this out. This is kind of a mess. We will have to see what we can do to allow this.

[2018-02-27 03:34] JoelMarcey commented on #374
Seems reasonable that we should reverse the precedent. Anyone want to submit a PR here?

[2018-02-27 03:37] JoelMarcey commented on #368
@chenglou We fixed this in the nuclide.io docs with the old template. We can see what we can do here. Thanks!

[2018-02-27 03:38] JoelMarcey commented on #367
@wulucxy Hi. So this is different than having to restart the local server (which in some cases you have to do) -- you just want the page to refresh itself periodically without having to press `cmd-R` or equivalent. We could do some time-based polling maybe.

[2018-02-27 03:40] JoelMarcey commented on #359
Yeah, we could probably do something similar like did with the `docs` folder where we allowed a customizable path.

[2018-02-27 03:42] JoelMarcey commented on #358
@IniZio Hi. Since we last discussed this, we have made some changes to org and user pages. I assume you are, but can you confirm to me that you are still having this issue with Docusaurus 1.0.7

[2018-02-27 03:46] JoelMarcey commented on #353
@ThomasG77 Hi. I think this is more a feature request than a bug since you can accomplish the same thing with the command line option. But I see your point in allowing an environment variable as well.

[2018-02-27 03:47] JoelMarcey commented on #350
We should probably update all of our docs and Docusaurus itself to use Circle 2.0.

[2018-02-27 03:49] JoelMarcey commented on #344
@microbouji By the way, I am loving the new Babel site. You all have done really good work.

[2018-02-27 03:51] JoelMarcey commented on #342
Hi @aadsm - can you let me know if this issue is resolved in Docusaurus 1.0.7?

[2018-02-27 04:01] JoelMarcey commented on #308
We documented `projectName` - https://docusaurus.io/docs/en/site-config.html#mandatory-fields

We can put the rename in a different issue.

[2018-02-27 04:01] #308 closed

[2018-02-27 04:02] JoelMarcey commented on #307
We move the verifying installation instructions - https://docusaurus.io/docs/en/installation.html#verifying-installation

Reopen if you feel that does not close the issue.

[2018-02-27 04:02] #307 closed

[2018-02-27 04:05] JoelMarcey commented on #254
I assume this issue still exists, but would love if someone can confirm it.

[2018-02-27 04:09] JoelMarcey commented on #238
HI @chenglou -- hopefully #296 fixed this. If not, please feel free to reopen.

[2018-02-27 04:09] #238 closed

[2018-02-27 04:11] chenglou commented on #254
Still is for docusaurus.io

[2018-02-27 04:39] sheldonhull commented on #466
Thanks! I ended up sticking with Mkdocs as I had an easier time using what was already built in. Just was a better fit for what I already knew how to use. You guys have a great project though, thanks for the hard work!

[2018-02-27 04:39] #466 closed

[2018-02-27 04:53] IniZio commented on #358
Yes i think the limitation still exists and I am still using a workaround for it.

[2018-02-27 05:00] JoelMarcey commented on #237
@chenglou I will try to reproduce this.

[2018-02-27 05:01] JoelMarcey commented on #235
We should verify that this is still indeed true.

[2018-02-27 05:03] JoelMarcey commented on #232
This may be a duplicate of another issue.

[2018-02-27 05:05] JoelMarcey commented on #228
We should probably check for a `versions.js` file  and do not run the server if it doesn't exist. We may do that already, I will need to check.

[2018-02-27 05:06] JoelMarcey commented on #221
I think this works now, right?

[2018-02-27 05:06] #221 closed

[2018-02-27 05:06] tooooolong commented on #439
maybe something like this。

https://github.com/webpack/webpack/issues/86#issuecomment-179957661

this is a plugin for Webpack, it will add a hash to the static file name automatically.

[2018-02-27 05:07] JoelMarcey commented on #212
`defaultLang` has been documented - https://docusaurus.io/docs/en/site-config.html#optional-fields

[2018-02-27 05:07] #212 closed

[2018-02-27 05:10] JoelMarcey commented on #205
@vjeux I believe https://github.com/facebook/Docusaurus/commit/a49787a56e31790f11faf47f12cd496af73fc878 fixes your original issue.

And we have another feature request issue re: reloading automatically.

Please reopen if you find this is not the case.

[2018-02-27 05:10] #205 closed

[2018-02-27 05:11] JoelMarcey commented on #178
https://github.com/facebook/Docusaurus/pull/463 should fix this. I will review that soon.

[2018-02-27 06:27] Daniel15 commented on #350
I can create a Docker image with all the prerequisites if you like.

[2018-02-27 06:58] juanpicado commented on #374
Me 👍

[2018-02-27 07:36] huchenme commented on #448
@JoelMarcey after running `build` command, css path and docs path not working

[2018-02-27 09:23] Fl4m3Ph03n1x commented on #410
OHhh, I assume it was possible but that it was not working as intended. Feature Request it is then!
Your understanding of the issue is correct.

Feel free to check my basic github repo for additional information, I did it with all the coding love in the world :P

Anyway, thanks for acknowledging this ticket! I look forward to seeing this feature implemented !

PS: Now that we established that this

[2018-02-27 10:45] montogeek commented on #399
@JoelMarcey Yes, it should be created by Docusaurus, not by its users.

[2018-02-27 16:50] #374 closed

[2018-02-27 16:54] JoelMarcey commented on #410
Hi @Fl4m3Ph03n1x - You are welcome 😄

The process would be to implement this feature. Would love a PR; otherwise, it will most likely come when we do our next feature set for Docusaurus. Or if I just get some time to do it before that.

[2018-02-27 20:32] giansalex commented on #460
I built Docusaurus docs:
![docusaurus](https://user-images.githubusercontent.com/14926587/36753098-2940b1d4-1bd3-11e8-9289-7711aa8e8693.png)
but my project result don't have the pages in root directory, I used `publish-gh-pages`
https://github.com/giansalex/sunat-docs/tree/gh-pages

[2018-02-28 01:06] html5cat opened #476 "Docs site, Search bar is misaligned on iOS in Safari"
### Is this a bug report?
Yes

### Have you read the [Contributing Guidelines](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md)?

Yes

### Environment

iPhone 7 Plus, Latest iOS, Safari

### Steps to Reproduce

1. Go to https://docusaurus.io/
2. Notice that Search bar is misaligned

### Expected Behavior
Search bar is centered vertically

### Actual Behavior
![image](https://use

[2018-02-28 05:16] JoelMarcey commented on #254
cc @html5cat

[2018-02-28 05:24] JoelMarcey commented on #460
@giansalex Oh - I think I see what might be going on. In your [`siteConfig.js`](https://github.com/giansalex/sunat-docs/blob/master/website/siteConfig.js#L21) you have as the `url` as

[code]

The `url` in this case should just be `https://gainsalex.github.io` - the top level.

I can see how that may be a confusing name for non-custom GitHub pages domains.

Let me know if that fixes the problem. I

[2018-02-28 05:26] JoelMarcey commented on #399
@montogeek Could you provide an idea of what such a page might look like - or even better, propose a `.js` template that may fit into our `pages` directory with the other built in pages Docusaurus provides?

[2018-02-28 05:27] JoelMarcey commented on #448
@huchenme Hi. Do you have a repo I can look at to see your `siteConfig.js`? Thanks!

[2018-02-28 05:31] JoelMarcey commented on #350
Would definitely love that if it is not too much trouble.

cc: @ericnakagawa

[2018-02-28 06:28] juanpicado commented on #465
Would it be something like this? or you were thinking about a different approach?

[code]

[2018-02-28 08:09] juanpicado commented on #442
@JoelMarcey the website seems to be 100% translated already 😕

[2018-02-28 13:59] huchenme commented on #448
Hi @JoelMarcey , I have just created this repo https://github.com/huchenme/docusaurus-demo

It is generated from `docusaurus-init` and changed the baseUrl to "", you could cd into website and try

[code]

and click [Docs header](http://localhost:3000/docs/doc1.html), you should able to see the error.

and then try run `docusaurus build` and open generated index.html, click the Docs header again, t

[2018-02-28 15:29] filipdanic commented on #379
Looks good @JoelMarcey. 👍

[2018-02-28 15:39] lipis opened #478 "How can we change the <title> of the /en/users?"
Related: https://github.com/prettier/prettier/issues/4062

[2018-02-28 15:45] giansalex commented on #460
@JoelMarcey i made that [change](https://github.com/giansalex/sunat-docs/commit/ac91cc6826b2abbdf23f7afaf3d75d8b0dab5a5e), but i can't see the page in

expected https://giansalex.github.io/sunat-docs/
current https://giansalex.github.io/sunat-docs/en/

I'll need to copy the pages from `en` directory to root directory (gh-pages branch).

[2018-02-28 16:24] JoelMarcey commented on #379
Excellent. I will close out this issue then.

[2018-02-28 16:24] #379 closed

[2018-02-28 19:04] JoelMarcey commented on #478
Hi @lipis - thanks for raising this issue. Just for clarity, you are ok with the URL structure for `users.html` - e.g., https://docusaurus.io/en/users.html - you just want want to be able to change the the title that people see in the browser, which in our case is

[code]

If so, I agree - the title for this page should be configurable. And I will label this as a possible bug and investigate.

[2018-02-28 19:24] lipis commented on #478
https://prettier.io/en/users/ we don't want to use the .html extension.. so I believe it should be easily configurable

[2018-02-28 19:58] JoelMarcey commented on #478
Hi @lipis - thanks for the response. Just so we are not conflating two issues here, I see to requests from you:

1. Change the `<title>` of the `users.html` page to be something different than the generic title it has now.
2. Allow URLs with no file/extension as discussed here in https://github.com/facebook/Docusaurus/issues/413

[2018-02-28 21:04] juanpicado commented on #442
@ericnakagawa  well, that's a different story. I wonder how can I help whether if I see something is good or bad? I have a bit experience with crowding. How can I approve something whether I considere is good? Can I?

[2018-02-28 22:28] JoelMarcey commented on #367
This is a duplicate of #234, so let's use that as the canonical issue.

[2018-02-28 22:28] #367 closed

[2018-02-28 22:29] JoelMarcey commented on #234
cc @wulucxy

[2018-02-28 22:30] JoelMarcey commented on #232
This is a duplicate of #346. Let's use that one by default.

[2018-02-28 22:30] #232 closed

[2018-02-28 23:44] hramos opened #479 "Blog Index / Archive"
### Is this a bug report?

No, this is a feature request.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

No.

### Environment

[Docusaurus v1.0.3](http://facebook.github.io/react-native/blog/)

### Description of the feature

Docusaurus currently displays the 5 most recent blog posts on a sidebar

[2018-02-28 23:53] JoelMarcey commented on #479
@hramos Did you know about https://docusaurus.io/docs/en/blog.html#changing-how-many-blog-posts-show-on-sidebar ? Would that help you?

We should probably document it also on https://docusaurus.io/docs/en/site-config.html too.

[2018-02-28 23:59] hramos commented on #479
I knew about the number of posts being configurable, but wasn't aware ALL posts could be displayed. I think that might be sufficient for us.

[2018-03-01 00:01] JoelMarcey commented on #479
Let me know - if it isn't sufficient, we can add this to our list of feature items to be implemented.

[2018-03-01 00:07] hramos commented on #479
Just tried it out and I think it works really well for React Native.

[2018-03-01 00:08] #479 closed

[2018-03-01 00:35] JoelMarcey commented on #479
Did document it here too - https://github.com/facebook/Docusaurus/commit/f0937909478217b2b48b79ac3fcac355d742247a

[2018-03-01 02:25] lipis commented on #478
We just want to be able to add a title to the https://prettier.io/en/users/

Here is the actual issue: https://github.com/prettier/prettier/issues/4062

[2018-03-01 10:05] atroncy commented on #465
hey thx for the answer
I just issued a new pr for this issue.
It's similar to your solution @juanpicado (with some quote around the props followed by a comma :) )

[2018-03-01 15:28] Glavin001 commented on #467
@s-pace from Algolia also reported `sitemap.xml` is not compliant with https://www.sitemaps.org/protocol.html

See https://github.com/algolia/docsearch-configs/pull/312#issuecomment-364871456

[2018-03-01 18:17] hramos opened #483 "[Docs] Publishing your Site: Update to Circle 2.0 Config"
The existing Publishing doc uses an example `circle.yml` config file based on Circle 1.0. Circle has announced they will [stop supporting Circle 1.0 this August](https://circleci.com/blog/sunsetting-1-0/), therefore the guide should be updated at some point to use a Circle 2.0 `config.yml` instead.

React Native uses Docusaurus and Circle 2.0, so it might serve as a good example to base the new do

[2018-03-01 20:11] Glavin001 commented on #103
What would be a good syntax for code blocks with language toggling?

![image](https://user-images.githubusercontent.com/1885333/36867298-1d940180-1d6b-11e8-8774-1640f45a03de.png)

I am very interesting in trying to make a Pull Request for this. Before I get started, I'd appreciate some collaboration on the design :).

[2018-03-02 08:18] real34 commented on #458
It is for being able to read the docs (maybe the website is not necessary) while not having internet access.

Of course a PWA would help, but there may also be other alternative (maybe easier and more in the SSG spirit) like generating alternative outputs compatible with existing tools such as Dash / Zeal or http://devdocs.io/

[2018-03-02 08:59] juanpicado commented on #465
It looks good to me, I hope it get merged soon 💯

[2018-03-02 12:15] haraldur12 commented on #462
I am working on it. How shall I be committing to it though ? Do I have to tackle all the errors first and then send the pull request or just send a pull request every time I have checked something ?

[2018-03-02 18:10] ForbesLindesay commented on #103
I like the idea of just having multiple code blocks, one after another, with no text between them:

<img width="174" alt="screen shot 2018-03-02 at 18 10 12" src="https://user-images.githubusercontent.com/1260646/36914367-fe0e5a88-1e44-11e8-8414-c179e71b47ec.png">

[2018-03-02 21:18] ericnakagawa commented on #442
@juanpicado Which other projects have you helped translate?

[2018-03-02 21:32] juanpicado commented on #442
- babel-handbook (60%)
- verdaccio (wip, 25%)
- appium (the first website, it does not longer exist) 100%

[2018-03-04 01:26] codering commented on #234
+1

[2018-03-04 11:30] No1illuminati commented on #234
What?

[2018-03-04 12:28] wulucxy commented on #428
@JoelMarcey for me, yes!

[2018-03-04 14:19] ceparl commented on #442
Hello again!

I would like to help with the spanish translations for the Docusaurus project, but since last week I haven't had intente due to some inconveniences that my internet providers present. Therefore, I haven't been able to contribute. I just checked the project in Crowdin and the spanish translations appear to be 100%. So I can contribute to the translations from now on, but I need to kno

[2018-03-04 16:53] #178 closed

[2018-03-04 17:10] Happy-Ferret commented on #468
Same issue here.

Repo: https://github.com/Anima-OS/dev-corner

[2018-03-05 01:23] aimeerpierce commented on #402
Hey thanks @JoelMarcey for the explanation, I'm going to look into it!

[2018-03-05 01:42] JoelMarcey commented on #402
@aimeerpierce Hi! I am going to say the issue is current claimed then -- let me know if you end up not wanting to submit a PR for it.

[2018-03-05 03:35] aimeerpierce commented on #402
@JoelMarcey will do - thanks!

[2018-03-05 08:26] neerajdotname commented on #406
I'm running into the same detached HEAD issue. However pages are published but the css is messed up.

[2018-03-06 09:00] Happy-Ferret commented on #458
If you need guidance/assistance, I'd love to help out!

[2018-03-06 12:09] Happy-Ferret commented on #468
I just tried doing the same on another machine, using just the default example and can reproduce this behavior.

[2018-03-06 15:43] cheercroaker opened #485 "Footer links/columns "shift" to the right when navigating through site's "sections" on mobile"
### Is this a bug report?

Yes.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.
I proudly contributed to 2 merged PRs recently—:tada:—but for this one I won't be able to directly bring a fix myself as easily (should be easy for a CSS Jedi though), hence this issue.

### Environment

Observed

[2018-03-06 17:05] Happy-Ferret commented on #468
I just checked again, this time using WSL (Windows Subsystem for Linux), because I had already suspected it might be due to a Windows specific bug.

Sure enough, there it generates the correct output.

[2018-03-06 18:14] No1illuminati opened #486 "No1illuminati"
### Is this a bug report?

(write your answer here)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

### Environment

(OS, Node, npm, yarn)

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

### Actu

[2018-03-06 18:48] #486 closed

[2018-03-06 19:09] No1illuminati commented on #485
no1illuminati69@gmail.com

On Mar 6, 2018 09:43, cheercroaker <notifications@github.com> wrote:
Is this a bug report?

Yes.

Have you read the Contributing Guidelines on issues<https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues>?

Yes.
I proudly contributed to 2 merged PRs recently—🎉—but for this one I won't be able to directly bring a fix myself as easily (sho

[2018-03-06 19:50] JoelMarcey commented on #442
@ceparl Hi! I commented on your message you sent to me on Crowdin. We still need to enable the Spanish translation for Docusaurus, but one option is that you can always verify the translations are correct and we are actually at 100%.

[2018-03-06 20:00] JoelMarcey commented on #458
@Happy-Ferret Hi. You have some ideas around this? What type of help do you have in mind?

[2018-03-07 02:55] richardzcode commented on #459
Take this gist as index.js: https://gist.github.com/richardzcode/d0fcb3a98e60528340175aa5168835bb

It assumes you have a `../README.md` file. If not then just modify the file path.

[2018-03-07 03:14] Happy-Ferret commented on #458
@JoelMarcey

I've got some experience producing PWA's (albeit of a simpler nature) and wouldn't mind working on a simple PoC here, once I can make some time.

[2018-03-07 03:17] JoelMarcey commented on #458
@Happy-Ferret I will say that you claimed this issue for now. Feel free to let me know if you will not have time. Thanks!

[2018-03-07 03:44] Happy-Ferret commented on #458
@JoelMarcey

Thanks!

Unrelated, but could you have a look at #468?

That one is rather bothersome. Unfortunately, it's over my head what exactly might be the issue there.

[2018-03-07 04:17] JoelMarcey commented on #458
@Happy-Ferret I will take a look at that issue tomorrow PST.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 06:46] Happy-Ferret commented on #468
Curious. I spend some time debugging the issue via VS Code earlier this morning.

Changing

<pre>writeFileAndCreateFolder(targetFile.replace('<b>/en/</b>', '/'), str);</pre>

on [line 466 in generate.js](https://github.com/facebook/Docusaurus/blob/48ee457ec98b728343196362d5d42c0dc3d1cff9/lib/server/generate.js#L466)

to

<pre>writeFileAndCreateFolder(targetFile.replace('<b>en</b>', '/'), str);</pr

[2018-03-07 13:41] Happy-Ferret opened #488 "Replace hard-coded links/text with siteConfig variables"
### Is this a bug report?

No.

It's a PR proposal/RFC.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(OS, Node, npm, yarn)

**OS:** Windows 8.1
**Node:** v6.10.3
**npm:** 3.10.10

### Steps to Reproduce

1. Create new project utilizing ``docusaurus-init``.
2. Set siteConfi

[2018-03-07 19:52] JoelMarcey opened #489 "Embed React components in docs markdown?"
[code]

### Is this a bug report?

No.

### Have you read the [Contributing Guidelines on issues]

Yes

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

N/A

### Actual Behavior

N/A

### Reproducible Demo

N/A

[2018-03-07 21:10] #451 closed

[2018-03-07 21:24] ashleytqy commented on #483
Hi! I can help with this documentation?

[2018-03-07 22:29] JoelMarcey commented on #483
@ashleytqy That would be awesome if you could submit a PR for this.

I believe It would fit in a section here: https://docusaurus.io/docs/en/publishing.html#automating-deployments-using-continuous-integration

So you would update: https://github.com/facebook/Docusaurus/blob/master/docs/getting-started-publishing.md

But please feel free to do what you think is best. 😄

[2018-03-07 22:37] JoelMarcey commented on #488
I think I would actually consider this on the border of feature request and bug 😄

Would you like to submit a PR for this?

[2018-03-08 01:24] JoelMarcey commented on #468
@Happy-Ferret Hi. Would you mind integrating #490 into your local repo and see if it fixes this problem for you?

[2018-03-08 01:30] JoelMarcey commented on #458
@Happy-Ferret I commented on #468 and submitted a PR that I would love for you to test #490

[2018-03-08 01:38] JoelMarcey commented on #406
@wang701 Just curious, now that you got it working after removing the `master` branch and setting the default branch to `source`, does it work correctly now on subsequent publishes? In other words, if you publish again does it work without having to remove the `master` branch again?

[2018-03-08 15:32] wang701 commented on #406
@JoelMarcey

Yes, it does.

Yes. I only removed the `master` branch **once** (`git branch -D master`) and changed the default branch to `source` on the github website. All subsequent publishes work afterwards.

[2018-03-08 16:47] JoelMarcey commented on #406
@wang701 Great. Thanks!

Do you think this is more a documentation issue then? Basically, say more clearly upfront that if you are using an org/user page published on `master`, that you need to remove your `master` branch, have your docs on a different branch, publish to `master` to create it and the publish normally? Something like that?

[2018-03-08 16:54] wang701 commented on #406
@JoelMarcey Yeah, I agree.

[2018-03-08 17:17] JoelMarcey commented on #488
@Happy-Ferret All right. I consider this issue claimed then 😄

[2018-03-08 19:42] pharophy commented on #323
I would also like to see subfolder support!

[2018-03-08 20:47] JoelMarcey commented on #483
@hramos Can you check https://docusaurus.io/docs/en/publishing.html#automating-deployments-using-continuous-integration to see if all looks good to you now?

[2018-03-08 20:47] #483 closed

[2018-03-09 03:29] ashleytqy commented on #290
hi! can i try to work on this?

[2018-03-09 06:20] neilsutcliffe commented on #290
Sure. Knock yourself out. I don’t really have time to work on stuff outside work at the moment

[2018-03-09 10:22] Happy-Ferret commented on #488
Unless there's something I haven't considered (code style? Additional occurrences of hard-coded values one could easily get rid of?), I'll create the PR later today.

[2018-03-09 10:32] Happy-Ferret commented on #488
FYI. My current implementation replaces the editUrl inside ``users.html``, too.
Figured we could just base this on ``siteConfig.repoUrl`` + ``/edit/master/website/siteConfig.js``.

Although in the future it might make sense to modify the siteConfig API and retarget ``editUrl:`` so it can be applied to more than just docs (I'm thinking an array would be nice).

[2018-03-09 14:49] JoelMarcey commented on #290
@ashleytqy Thank you!

[2018-03-09 16:31] neilsutcliffe commented on #290
Sorry. Was a bit short. Thanks for helping out. Let me know if you have any questions. :)

Sent from my iPhone

[2018-03-11 06:03] real34 commented on #458
Thanks for your positive feedbacks. Let’s start working on this as soon as someone finds time. I will very likely only have time for it in 1-2 weeks.

[2018-03-11 07:49] SleepWalker commented on #368
Hi, all

@JoelMarcey, is there any updates with this issue? I would like to try to submit a PR with fixes.
What kind of fix was on nuclide.io? I've noticed, that an anchor also inherits the anchor of a parent title, e.g.:

[code]

This behavior will fix the bug from issue description, but will not help in rare case, when user will have two same headers on the same level, e.g.:

[code]

Probably th

[2018-03-11 15:15] SleepWalker opened #493 "Allow <AUTOGENERATED_TABLE_OF_CONTENTS> for h2 headings too"
Currently if we want to have contents on top of document, we need to use `<AUTOGENERATED_TABLE_OF_CONTENTS>`. This tag works only with h3 headings and forces us to use backticks to mark the headers, we want to see in contents.

This format is very suitable for API-only docs where you have no hierarchy. But when you want contents for e.g. guide page where you have many sections and subsections you

[2018-03-11 19:14] deadcoder0904 opened #494 "Load images before displaying content"
### Is this a bug report?

No, a feature request

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Problem

I was visiting the new [React Native Elements Site](https://react-native-training.github.io/react-native-elements/docs/overview.html) & when I clicked on `Avatar` docs, the content lo

[2018-03-12 04:26] JoelMarcey commented on #462
@haraldur12 Hi. We would be happy for you to work on this. As @Happy-Ferret said, you can send one big PR, with multiple commits. Or, maybe preferably, just send multiple PRs -- I tend to like smaller PRs since they are easier to deal with, review, and revert if necessary.

I am going to consider this issue claimed by you. If you do not want to do this any longer, let me know. Thanks.

[2018-03-12 06:16] ajomadlabs commented on #485
Can I to take up this issue

[2018-03-12 07:28] huang-x-h commented on #428
Hi @wulucxy @JoelMarcey i send a PR to add `highlight` config option support **string** type

[code]

[2018-03-12 15:20] JoelMarcey commented on #485
@ajomadlabs Would love a PR for this. Thank you!

[2018-03-12 23:01] #468 closed

[2018-03-13 00:10] JoelMarcey commented on #465
Closed by https://github.com/facebook/Docusaurus/pull/481 😄

[2018-03-13 00:10] #465 closed

[2018-03-13 12:00] SleepWalker commented on #493
Looks like `1.0.8` includes the thing I need: On page navigation sidebar. So I closing this issue

[2018-03-13 12:00] #493 closed

[2018-03-13 15:07] JoelMarcey commented on #493
@SleepWalker I am glad the new feature may resolve the issue for you.

[2018-03-13 15:28] wulucxy opened #500 "Any plan to support copy the example code?"
### Is this a bug report?

no, this is a feature?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

![_abd5a8ee-21e1-4992-b9f1-cdba20413c47 1](https://user-images.githubusercontent.com/5326403/37351341-cea020f4-2715-11e8-8f2e-6d1e6ec4c434.png)

[Ant.d](https://ant.design/components/alert-cn/) i

[2018-03-13 21:17] pestevez opened #503 "Add config option for Facebook Pixel ID"
### Is this a bug report?

No, this is a feature request.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

### Proposal

Add a new config field `facebookPixelId` to support analytics using the [Facebook Pixel](https://www.facebook.com/business/a/facebook-pixel).

We would then add the followi

[2018-03-13 21:17] pestevez commented on #503
I am happy to submit a pull request if this proposal makes sense to the team.

[2018-03-14 02:41] wulucxy commented on #466
@sheldonhull do you have solved this problem? my website is only for company-internal network，so the recommend `Algolia DocSearch` is not suitable for me。

[2018-03-14 03:48] JoelMarcey commented on #503
@pestevez Hi! Nice to virtually meet a fellower FB'er. I would love for you to submit a PR for this. I don't see why we wouldn't want something like this, but a PR would help us get more eyes on it possibly.

I am going to consider this issue claimed.

[2018-03-14 17:10] JoelMarcey commented on #456
This was fixed in https://github.com/facebook/Docusaurus/pull/463. I hope that resolves the issue. Let me know if it does not.

See https://docusaurus.io/docs/en/installation.html for an example of the highlight.

[2018-03-14 17:10] #456 closed

[2018-03-14 18:12] zanonnicola commented on #456
Awesome!! 🎉

[2018-03-14 19:23] JoelMarcey opened #504 "Fix onPageNav scrolling"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.0.9

### Steps to Reproduce

See https://github.com/babel/website/pull/1604

### Expected Behavior

Better scrolling

### Actual Behavior

https://github.com/babel/website/pull/1604

#

[2018-03-14 19:24] JoelMarcey commented on #504
The fix is in https://github.com/babel/website/pull/1604 - so basically a copy of that fix into `main.css` should do it.

[2018-03-14 19:43] JoelMarcey commented on #504
Fixed by https://github.com/facebook/Docusaurus/commit/56bae1d70ca6e0467b4f43fcc2b3adf72a5296db

[2018-03-14 19:43] #504 closed

[2018-03-14 20:29] JoelMarcey opened #506 "Document how to update docusaurus"
### Is this a bug report?

No. Documentation addition.

We want to explain:

`npm update`

and

`npm list docusuarus` to tell folks what version they currently have.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.0.9

### Steps to Reproduce

N/A

### Expected Be

[2018-03-14 22:14] pestevez commented on #503
Nice to e-meet you too, @JoelMarcey! The PR is coming soon.

[2018-03-15 10:45] alhajjabbass commented on #472
Hello, did you solve the error you were having ?

[2018-03-15 12:06] kwailamchan commented on #472
@alhajjabbass upgraded node from v4.1.0 to v8.9.4, problem solved.

[2018-03-15 13:01] pestevez commented on #503
Fixed by #507

[2018-03-15 13:01] #503 closed

[2018-03-15 13:49] alhajjabbass commented on #472
yep it's solved, thank you very much!

[2018-03-15 14:27] JoelMarcey commented on #472
I documented the Node requirements at https://docusaurus.io/docs/en/installation.html so people can know this for the future.

[2018-03-15 18:21] Happy-Ferret commented on #489
Related: https://github.com/andreypopp/reactdown

[2018-03-16 12:12] Happy-Ferret commented on #489
FYI.

Here's what a quick hack (static React Styleguidist build with custom template, the ``.html`` page moved to ``/pages`` and the ``.js`` files moved to ``/static/js``) looks like.

Everything but the code editor works right off the bat. The editor isn't properly loaded because the ``require`` inside the bundle file is wrong still.

![styleguidist](https://user-images.githubusercontent.com/1962

[2018-03-16 21:07] #488 closed

[2018-03-17 06:37] Happy-Ferret commented on #489
Live example:

https://anima-os.github.io/dev-corner/STK

[2018-03-17 10:29] InternetExplorer7 commented on #436
Hi, can I take on the other 2/3 issues?

[2018-03-17 12:58] InternetExplorer7 commented on #413
Hi, I think I've addressed this issue in the referenced issue above! Please feel free to take a look!

[2018-03-17 21:57] InternetExplorer7 commented on #413
For some reason, http://localhost:3000/blog/.../introducing-docusaurus/index.html
gives a page with a response code of 200 and a blank page is rendered. Any idea why that may be returning a 200 response?

Other than that, every page still works the same with extensions, and every page (except this /blog one) works without the .html extension!

[2018-03-19 03:40] #485 closed

[2018-03-19 03:51] JoelMarcey commented on #489
@Happy-Ferret Cool! So if we integrate ReactDown, we could get this going, you think?

[2018-03-19 12:48] Happy-Ferret commented on #489
Not sure about ReactDown. I was using StyleGuidist for my little PoC.
I have no experience with ReactDown. Only found out about it and thought it might be an option, too.

ReactDown is static though, from what I can gather. No live editing capabilities.

[2018-03-19 21:18] longility commented on #506
I prefer `yarn outdated' and `yarn upgrade --latest'. What are your thoughts?

[2018-03-19 21:33] longility commented on #242
I believe this issue can be closed.

[2018-03-20 04:08] JoelMarcey commented on #242
@longility Did we document this? Sometimes I forget 😄

[2018-03-20 04:09] JoelMarcey commented on #506
@longility Hi! I did document this here: https://docusaurus.io/docs/en/installation.html

If you want to send a PR with your suggestions, I would be willing to have a look.

[2018-03-20 04:10] JoelMarcey commented on #506
Closing as this is documented - although we may consider changing it.

[2018-03-20 04:10] #506 closed

[2018-03-20 14:44] longility commented on #242
@JoelMarcey I by no means have tested what this documentation says. I'm just helping close some issues so I may not be too familiar with this.

After a little more investigation, the generated doc from [gh-pages](https://github.com/facebook/Docusaurus/blob/75d4655416f776529b9c99871b0b028ff2262e0d/docs/en/doc-markdown.html#L63) does not reflect the [markdown source](https://github.com/facebook/Docu

[2018-03-22 07:43] muthugit opened #520 "Getting installation error "Could not find or load main class add""
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

npm

### Steps to Reproduce

(Write your steps here:)

1. Installed using npm
2. initialized using "docusaurus-init" command
3. Got the error

`Website folder created!

Installing latest version of

[2018-03-25 12:25] nadeemkhedr commented on #459
How would you render a markdown file + the docs sidebar, I can see `DocsSidebar` requires metadata, which i am not sure how to access

[2018-03-25 21:48] diboy2 commented on #410
Hello @JoelMarcey ,
I'm new to contributing, but I want to take on this feature.

[2018-03-25 21:55] diboy2 commented on #410
Here's a screenshot of what it will look like in the page.

![image](https://user-images.githubusercontent.com/1735785/37880395-5d968c7c-304d-11e8-8ea7-a5c38e3f87e5.png)

[2018-03-30 05:56] yangshun commented on #462
@haraldur12 Are you still working on this issue?

[2018-04-02 02:20] vonagam opened #525 "Nested folder named "static" inside static files folder causes build error"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Steps to Reproduce

1. Have a folder named "static" inside "website/static" folder.
2. Run `docusaurus-build` command.
3. Get error from `fs.js` about not permitted operation.

### Cause

The problem lies in co

[2018-04-03 23:16] giansalex commented on #460
I had to copy the files from `/en/` to root site.

[2018-04-03 23:16] #460 closed

[2018-04-03 23:18] JoelMarcey commented on #460
@giansalex You had to do that manually? You shouldn't have to do anything like that manually to get a site running by default. I suppose if you did some custom work outside the scope of what Docusaurus offers by default, maybe. But it you just ran `docusaurus-init` and tried to run the site out of the box, y you shouldn't have to move anything.

[2018-04-03 23:38] giansalex commented on #460
`Docusaurus build`  don't copy files in root site,

![image](https://user-images.githubusercontent.com/14926587/38280943-af6bc734-376d-11e8-84d4-2ad5644d7905.png)

[2018-04-04 00:01] JoelMarcey commented on #460
Oh - you are on Windows! We had a problem with this very issue on Windows that we fixed in a later version of Docusaurus. What version are you using now?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-04 15:14] giansalex commented on #460
Hello @JoelMarcey , i have docusaurus@1.0.1, it's the latest in npmjs, but in github release i see v1.0.9

[2018-04-04 15:35] giansalex commented on #460
yes, i had in `package.json` v1.0.6, i update to 1.0.9 and it works
Thanks

[2018-04-04 19:28] JoelMarcey commented on #410
@diboy2 Hi! I would love it if you wanted to send a PR for this feature. I am a bit confused on the screenshot though. I see a bunch of duplicates in there. For example, why do I see "Site Preparation" three times.

[2018-04-05 07:36] amyrlam commented on #462
So, I started fixing some a couple of the `Error: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.` ones in WIP PR https://github.com/facebook/Docusaurus/pull/528.

Then I was wondering if it would be good to add https://github.com/evcohen/eslint-plugin-jsx-a11y to keep it a11y compliant long term.

There are definitely a lot of things to fix if you

[2018-04-05 09:55] zbycz commented on #234
You may use nodemon tool:
[code]

[2018-04-07 18:54] yangshun commented on #415
Just confirmed this bug. Refer to the following screenshot

<img width="575" alt="screen shot 2018-04-07 at 11 54 03 am" src="https://user-images.githubusercontent.com/1315101/38459103-796111d6-3a5a-11e8-961c-d1faf0217306.png">

[2018-04-07 21:14] yangshun commented on #462
@haraldur12 , @amyrlam will be working on fixing the rest of the a11y fixes. If you like to work on some of them, please comment here or we will assume that you are ok with us taking over.

[2018-04-08 02:15] JoelMarcey commented on #433
Please do @amyrlam 😄

[2018-04-08 02:24] yangshun commented on #520
@muthugit There isn't enough information in your bug report to reproduce this error. Could you add more information?

[2018-04-08 04:36] JoelMarcey commented on #415
@yangshun, @yykamei - see #533 for a fix (I hope 😄)

[2018-04-08 14:35] #415 closed

[2018-04-08 16:10] zenflow opened #534 "feature request: local project files in siteConfig.scripts & siteConfig.stylesheets"
We want to include our library distributable in the pages of our documentation site to demonstrate it. There's also a 3rd-party (vendor) script in the `node_modules` dir that we need to include (to make the indicated code blocks "executable").

Is there a nice way to include local project files in siteConfig.scripts that are outside the `./website/static/` dir?

Right now I'm copying the needed fi

[2018-04-09 20:46] JoelMarcey opened #539 "Convert Docusaurus to React 16"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

N/A

### Steps to Reproduce

N/A

### Expected Behavior

N/A

(Write what you thought would happen.)

### Actual Behavior

N/A

### Reproducible Demo

N/A

[2018-04-10 04:28] amyrlam commented on #462
Updated as WONTFIX. These two `Iframe` errors are from GitHub and Twitter social buttons / plugins. They are third party scripts that the page imports on load, which is why they're not in the Docusaurus codebase. Thanks yangshun for the help in figuring this out! 🙏

[2018-04-10 05:03] ChaoyueZhao opened #541 "onPageNav links not working for headings written in Chinese"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

Web browser

### Steps to Reproduce

1. write markdown file in Chinese, using headings like "### 第一章"、“## 第二节”
2. set ``onPageNav: 'separate'`` in siteConfig.js
3. heading links on the right side o

[2018-04-10 15:49] JoelMarcey commented on #462
I am super excited these are getting fixed. Thanks!

[2018-04-11 01:48] yangshun commented on #462
Yes I think this is sufficient. I'll close this task later!

On Tue, Apr 10, 2018, 6:18 PM Amy Lam <notifications@github.com> wrote:

[2018-04-11 03:06] yangshun commented on #462
Closed via #529 and #542 . The remaining errors are not suitable to be fixed by external contributors.

[2018-04-11 03:06] #462 closed

[2018-04-11 07:27] yangshun commented on #500
This sounds useful! The new Babel site (https://new.babeljs.io/docs/en/learn) uses Docusaurus and has these copy buttons. We can see how it's done there.

[2018-04-11 07:29] yangshun commented on #353
Closed in #516

[2018-04-11 07:29] #353 closed

[2018-04-11 07:38] yangshun commented on #467
@rizafahmi It's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-04-11 09:41] rizafahmi commented on #467
Thanks @yangshun !

[2018-04-11 17:00] zenflow commented on #424
Actually, isn't it pretty easy to accomplish this already?

Example: https://github.com/babel/website/blob/master/website/pages/en/repl.js

[2018-04-11 17:28] zenflow commented on #424
As is, I think I'd personally prefer to use the pattern in the example over the proposed API..

[code]

because that info is co-located with the html content it goes with _and_ much simpler.

[2018-04-12 12:41] iRoachie commented on #346
Hey @JoelMarcey what would I need to do to enable this functionality?

[2018-04-12 20:02] JoelMarcey commented on #346
Hey @iRoachie - good to hear from you again. Are you saying enable in terms of creating a PR?

[2018-04-12 20:12] iRoachie commented on #346
If it's something I can fix sure. Can you at least point me in the right direction?

[2018-04-12 21:50] JoelMarcey commented on #346
@iRoachie Can you try this PR out on your site - https://github.com/facebook/Docusaurus/pull/554

Let me know if you get good behavior.

Just add

[code]

to your `siteConfig.js` where `xxxx` is a valid version number for you.

Thanks.

[2018-04-12 21:51] JoelMarcey commented on #346
The PR is an RFC, btw. If it is reasonable, we will want to make some more changes, including maybe checks to make sure the version given for `defaultVersionShown` is valid, etc.

[2018-04-13 13:54] microbouji commented on #541
Confirming as a bug. The on-page nav currently uses the existing [toSlug](https://github.com/facebook/Docusaurus/blob/master/lib/core/toSlug.js) function which apparently removes non-ascii characters. Should be easy to swap with another slug generator like [uslug](https://www.npmjs.com/package/uslug).

[2018-04-13 14:49] limonte opened #555 "body height 100vh is incorrect"
### Is this a bug report?

Yes.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

### Environment

Chrome on Linux

### Steps to Reproduce

1. Open https://docusaurus.io/docs/en/installation.html
2. Scroll the document
3. Inspect the `body` element

### Expected Behavior

Body height equals th

[2018-04-13 15:40] #555 closed

[2018-04-13 15:47] JoelMarcey commented on #541
@microbouji Nice find. Thanks. Is that something you would want to send a PR for?

[2018-04-13 15:58] microbouji commented on #541
Can do. Not sure which slugiffier to use though. uslug linked above preserves the unicode characters as part of the slug. [node-slug](https://github.com/dodo/node-slug) on the other hand does romanization as described by @ChaoyueZhao

[2018-04-13 16:13] JoelMarcey commented on #541
`node-slug` seems to be the more popular one, right? Maybe we try that one first to see if it solves the problem without causing other problems?

[2018-04-13 16:16] JoelMarcey commented on #424
@zenflow - good idea, I think. And there would be no change to the Docusaurus core nor a new config option. But documenting it would be key, like you said.

@nicolo-ribaudo Do you agree?

@zenflow (or @nicolo-ribaudo) would you be willing to submit a PR to add the documentation for how to do this?

[2018-04-13 18:57] DanielMSchmidt opened #557 "Use git tags for versioning"
### Is this a bug report?

No, a feature request.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Environment agnostic

### Steps to Reproduce

1. Add Docusaurus to your project
2. Release a new version and create a versioned documentation
3. Get "annoyed" by all the informat

[2018-04-14 05:17] meows opened #558 "Multiple Docusaurus documentation link broken"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(OS / Browser)

### Steps to Reproduce

1. Visit [docusaurus site prepation page in English](https://docusaurus.io/docs/en/site-preparation.html).
2. Click on the **[installing  Docusaurus](https:/

[2018-04-14 15:09] zenflow commented on #424
Sure, I'd be happy to add @nicolo-ribaudo's pattern to the documentation.

I'll go ahead once we all agree

[2018-04-14 15:31] iRoachie commented on #346
Works great @JoelMarcey. I've had no issues. I even tried running a version(`yarn version 1.xx`) and the links and everything work as they should

[2018-04-14 15:43] microbouji opened #560 "Headers markup in slugs"
### Is this a bug report?

no

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Current Behavior

Headers with content like

[code]

produce slugs like these

[code]

We have a case like this at babel where the slug includes the whole link:
http://new.babeljs.io/docs/en/next/v7-migration.ht

[2018-04-14 15:47] iRoachie commented on #346
Not yet published, but I just added the [commit](https://github.com/react-native-training/react-native-elements/commit/276b346c4ccef1a9b330de8bf9c7cd727724b2cd) over at react-native-elements/next.

I have it on a slightly modified [fork](https://github.com/iRoachie/Docusaurus/tree/default-version) of Docusaurus that also includes `prismjs` markdown rendering instead of the default renderer.

[2018-04-14 16:12] microbouji opened #561 "Config option for custom slug"
### Is this a bug report?

no

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Proposal

I might be getting a bit carried away here, but keeping in mind #559 and #560,  I think people might want a way to customize the slug from their side. The `siteConfig.js` option could look like this:
[

[2018-04-14 20:31] yangshun opened #564 "Broken links on site after translation"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(OS, Node, npm, yarn)

### Steps to Reproduce

1. Load https://docusaurus.io/docs/en/site-preparation.html. Try to click on the "installing Docusaurus" link. It leads to a 404.
2. Load https://docu

[2018-04-15 05:27] yangshun commented on #564
The translations were turned off in #565 so that as to not break the links. To reproduce the bug, turn on Espanol in `languages.js`.

[2018-04-15 06:16] yangshun opened #567 "Use Netlify to preview PR builds"
Would be helpful to generate builds for each PR using [Netlify](https://www.netlify.com/) so that reviewers can try out the latest site built from the PR branch.

[2018-04-15 14:51] rizafahmi commented on #467
Hi @lipis can you please confirm that the content-type is not `application/xml`?

I tried it with curl & httpie, it's already `application/xml`.

[code]

[2018-04-15 17:06] lipis commented on #467
![screen shot 2018-04-15 at 19 04 18](https://user-images.githubusercontent.com/125676/38781041-da071856-40df-11e8-8374-4164db6e4ff2.png)

Type: Document

And it renders it wrong in the browser..

Compare the two in the browser:

- https://docusaurus.io/sitemap.xml
- https://www.google.com/sitemap.xml

[2018-04-15 19:10] SleepWalker commented on #541
@JoelMarcey , @microbouji please look at my PR too (yep, this bug was fixed a month ago :disappointed: ):

* there are no extra dependencies
* all covered with tests
* it ensures anchor uniqueness
* does not uglify non latin anchors. E.g. it will generate `#第二节”` instead of `#di-er-jie`

[2018-04-15 20:51] zenflow commented on #424
Actually one question - what about API symmetry?

If we all agree that its easy enough to render the `<script>` or `<link>` tags yourself, and for global scripts this can be done in the `Footer.js`, then why do we need `siteConfig.scripts`? I think `siteConfig.stylesheets` is necessary so that those resources will be loaded *before* the html content, but it seems like the `siteConfig.scripts` isn'

[2018-04-15 22:39] JoelMarcey commented on #541
@SleepWalker Hi. Sorry it took so long to get to your PR. I do like the fact that tests exists. That is a big plus. The question is whether or #559 provides all that functionality with just the added dependency. Are you thinking that the added dependency is actually worse than what your PR provides?

@microbouji, what do you think here about #492?

[2018-04-15 22:49] JoelMarcey commented on #424
@zenflow I kinda see what you are saying. But I think it is ok for global scripts to have two options - the `siteConfig.js` option (which I like better because it is more easily exposed and visible) and you could, in a note, say you could also add scripts in `Footer.js` as well. The thing about just allowing `Footer.js` scripts for global scripts is what happens if someone removes `Footer.js` beca

[2018-04-15 22:51] yangshun commented on #383
Closed by #566

[2018-04-15 22:51] #383 closed

[2018-04-15 23:08] yangshun commented on #439
This is a good idea 👍

[2018-04-15 23:11] JoelMarcey commented on #467
So we use a third party npm library for the sitemap. https://github.com/ekalinin/sitemap.js (or https://www.npmjs.com/package/sitemap).

https://github.com/facebook/Docusaurus/blob/master/lib/server/sitemap.js#L96 is where we set it. Maybe we are missing some options?

I do notice we are doing `<url><loc>...` if you view the source  (view-source:https://docusaurus.io/sitemap.xml)

instead of

`<si

[2018-04-15 23:12] JoelMarcey commented on #564
@yangshun I am still trying to figure this out. Haven't made too much progress yet.

[2018-04-15 23:29] yangshun commented on #564
Cool! I haven't really looked into it yet as I was busy with other work. I may only have time next weekend to look into it. I guess it's not really urgent to fix after we turned off Espanol.

[2018-04-15 23:45] yangshun opened #568 "Generated static files are not optimized"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Proposal

The generated static files in the `build` directory upon running `yarn build` are not minified, which can cause longer load times. Ideally, Docusaurus should have an asset minification pipeline that:

[2018-04-16 01:10] JoelMarcey commented on #558
@meows Thank you for noticing this. @yangshun noticed it as well. We turned off translations for now while we investigate why this is happening.

[2018-04-16 03:21] #558 closed, assigned to nobody

[2018-04-16 04:59] jamesplease opened #570 "Require paths / CompLibrary suggestion"
:wave: Hi there!

I was reading [this section](https://docusaurus.io/docs/en/api-pages.html#page-require-paths) of the docs and was wondering about the decision to copy the pages into node_modules for the requires. Wouldn't it be more straightforward for the `CompLibrary` components to be available through an npm module, such as:

`import CompLibrary from 'comp-library';`

That way, it is easier t

[2018-04-16 05:07] SleepWalker commented on #541
@JoelMarcey #559 should be enough for this issue. Regarding #368, I can re-submit my PR with fixes only for that issue.

I think, that both solutions are ok. They provide different anchor styles. We should select the one, that suits better.

In my PR anchors are similar to github's. The ugly part of my solution is that I've copy-pasted regexps, because we have no babel here (alternatively we could

[2018-04-16 05:11] zenflow commented on #570
I'm curious about this decision too. Copying the js modules to another location seems out of the ordinary. It breaks the normal module resolution and forces us to do things different, not pretty.

I don't see how @jamesplease's exact suggestion would work, since it seems like a new `'comp-library'` package would be needed? But why not create a `CompLibrary.js` module in the root dir of *this* pack

[2018-04-16 05:40] s-pace commented on #467
👋 @JoelMarcey ,

Thanks for the details.

One of the main point is to be compliant with [the official standard](https://www.sitemaps.org/protocol.html). Definitely possible with [the npm package](https://www.npmjs.com/package/sitemap).

Happy to help if needed.

Cheers

[2018-04-16 09:44] Happy-Ferret commented on #459
Just a heads-up, but [BlueWhale](https://facebookresearch.github.io/BlueWhale/docs/begin.html) seems to do what the OP asked for.

Although how, I have yet to investigate. Probably during the build step?

[2018-04-16 11:14] rizafahmi commented on #467
@lipis both docusaurus and google was document on my side.
<img width="820" alt="screen shot 2018-04-16 at 6 12 27 pm" src="https://user-images.githubusercontent.com/1147918/38805947-e8dec87a-41a1-11e8-90f3-00183a19c667.png">
<img width="895" alt="screen shot 2018-04-16 at 6 12 33 pm" src="https://user-images.githubusercontent.com/1147918/38805954-eb6bd0d8-41a1-11e8-9abf-6103d4927764.png">

But yo

[2018-04-16 11:24] lipis commented on #467
@rizafahmi My bad.. check the Response Headers the `content-type` is missing

<img width="448" alt="screen shot 2018-04-16 at 13 21 58" src="https://user-images.githubusercontent.com/125676/38806363-4900af26-4179-11e8-801a-72438338a073.png">

[2018-04-16 11:32] rizafahmi commented on #467
ah. i see. Thanks for the clarification @lipis

[2018-04-16 12:00] jacarma commented on #448
I think this is the same feature request: "Make the built site work without a web server"
Acceptance criteria:
`yarn build`
open `file://{PATH}/website/build/{projectName}/index.html` in a browser

Expected behaviour: You can navigate through pages and docs and links work

[2018-04-16 15:37] SimenB opened #571 "Version in header clashes with search box on mobile"
### Is this a bug report?
 Yup

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
 Yup

### Environment

N/A

### Steps to Reproduce

1. Navigate to docusaurus.io on mobile
2. See the issue in the header

### Expected Behavior

Not sure. Make search smaller until clicked?

### Actual Behavior

![image

[2018-04-16 15:43] JoelMarcey commented on #571
That’s funny - I literally was just about to file this issue myself 😄. Saw it over the weekend.

Gotta work some CSS magic I guess.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-16 16:38] JoelMarcey commented on #459
@Happy-Ferret So the way we solved it for BlueWhale, which I don't think is a horrible solution, is to do a redirect from index.html to the first docs page.

https://github.com/facebookresearch/BlueWhale/blob/docs/website/static/index.html

[2018-04-17 01:49] philipmjohnson opened #572 "How to use remarkable-katex plugin with docusaurus?"
### Is this a bug report?

Not sure. Perhaps I don't understand how the plugin service for docusaurus works.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(OS, Node, npm, yarn)

MacOS, Node 8.9.1, NPM 5.6.0

### Steps to Reproduce

I am trying to get the [remarkable-katex p

[2018-04-17 04:00] rizafahmi commented on #467
Sorry @lipis to bother you again. There is actually `content-type` on the response headers.

<img width="1190" alt="screen shot 2018-04-17 at 10 50 20 am" src="https://user-images.githubusercontent.com/1147918/38847823-cc93c3f0-422d-11e8-9036-97b012b5d455.png">

I did validate the sitemap over https://validator.w3.org and https://www.xml-sitemaps.com/validate-xml-sitemap.html and all says valid.
T

[2018-04-17 04:27] JoelMarcey commented on #467
@s-pace Thanks for chiming in here. Hope all is well. Given what @rizafahmi says in the comment just above, do you think we what we have is already good and we do not need to make any changes?

[2018-04-17 07:43] yangshun commented on #572
Hi @philipmjohnson the `markdownPlugins` field is supposed to take in an array of functions that receive the remarkable instance as a parameter. Refer to the [example config](https://docusaurus.io/docs/en/site-config.html#example-siteconfigjs-with-all-fields)

I fixed it for you in https://github.com/openpowerquality/docusaurus/pull/1. Have a go at it 😄

[2018-04-17 07:43] #572 closed

[2018-04-17 07:46] amyrlam commented on #500
👋Hi, I'd like to claim this issue!

[2018-04-17 07:46] yangshun commented on #500
@amyrlam It's yours! 🎉

[2018-04-17 08:14] philipmjohnson commented on #572
Wow!  Now that's service!  Thank you so much for the quick response. Things almost work perfectly now---KaTeX needs the DOCTYPE added to HTML files, but I see that you've just merged #383 yesterday so I will patiently await the next release for perfection.

[2018-04-17 12:10] bsdkurt commented on #458
I think one of the prerequisites for achieving offline/PWA would be to use an offline search. Please consider adding [lunarjs](https://lunrjs.com/) option for offline search.

[2018-04-17 15:17] #571 closed

[2018-04-17 16:33] #541 closed

[2018-04-17 16:39] JoelMarcey commented on #467
@s-pace This is the link that is being debated whether is wrong or correct? https://docusaurus.io/sitemap.xml

This is a link that is assumed correct - https://www.google.com/sitemap.xml

[2018-04-17 16:43] JoelMarcey commented on #572
@philipmjohnson I should be pushing another release sometime this week, possibly today or tomorrow.

[2018-04-17 16:53] #433 closed

[2018-04-17 17:08] s-pace commented on #467
@JoelMarcey

Works 💯. I have made an example:

- Copy the following CSS/JS snippets and add them to your page

[code]

- Add a search input in your page if you don't have any yet. Then update the inputSelector value in JS snippet to a CSS selector that targets your search input field.

- Replace `$LANG` with the lang you want to search on.
   The list of possible lang is hardcoded in the config.

[2018-04-17 18:55] deadcoder0904 opened #578 "Twitter Cards do not work for og:image"
pnpm.js.org uses Docusaurus but on Twitter the social cards do not appear proper.

Checkout [this issue](https://github.com/pnpm/pnpm.github.io/issues/10) which is closed with [this PR](https://github.com/pnpm/pnpm.github.io/commit/45be93a8c14ec486fec94426ab9dd6e652cc636c) which should work.

But as you can see on https://twitter.com/deadcoder0904/status/986310714011869184 the Twitter card isn't w

[2018-04-17 20:57] phated opened #579 "[Enhancement] Custom front-matter separators"
### Is this a bug report?

This is an enhancement/feature request.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

OSX, node 8, npm 5

### Steps to Reproduce

1. Write docs with custom front-matter separators
[code]
2. Add the custom separator tag to `siteConfig.js`

### Expe

[2018-04-17 22:09] JoelMarcey commented on #578
@zkochan -- Do you want to try this PR out on pnpm.js.org to see if this solves the problem?

Btw, I didn't know pnpm.js.org used Docusaurus. Thanks! Site looks good.

[2018-04-17 22:43] zkochan commented on #578
@JoelMarcey, for some reason it didn't help. The new tag is present now on the pnpm site but the image did not appear when I shared it via twitter.

[2018-04-17 22:49] JoelMarcey commented on #578
Hmmm... 😕

I wonder if there is a caching issue going on?

The only other thing I can think of is that `og:image` is clobbering the `twitter:image` tag somehow, causing it not to work like before.

[2018-04-17 22:53] zkochan commented on #578
Confimed, it is some caching on Twitter's side. I just tried to share a different URL: https://pnpm.js.org/en/
and it worked

https://screenshots.firefox.com/9PWW5CAx05b6P0Dp/twitter.com

[2018-04-17 23:08] JoelMarcey commented on #578
@zkochan Sweet! Looks like this PR might do it then?

Just as a double-check, it wasn't a Twitter caching issue before, right? The cards were indeed broken before this PR.

[2018-04-18 04:04] #578 closed

[2018-04-18 04:33] JoelMarcey commented on #467
@s-pace Thank you! 👍 I commented on the docsearch commit you made that I think you changed the wrong config file. Let me know if that was the case. If so, we can fix that 😄

In the case of Docusaurus, we probably only need to add the `algoliaOptions` field since we already have the search box, etc. Does that seem right?

[2018-04-18 06:44] s-pace commented on #467
@JoelMarcey

Exactly! I use this index in order to show you how it would looks like. Let me know if I can merge it to the original one.

[2018-04-18 18:28] BrunoQuaresma opened #582 "Can only update a mounting component."
### Environment

React, Node

### Question

I'm trying to render this page:

[code]

And I'm  getting the following error:
[code]

Is it possible to render dynamic content on Docussauros or only static?

[2018-04-18 18:43] yangshun commented on #582
Unfortunately, Docusaurus uses React mainly to render the components statically into HTML on the server, so your code wouldn't work. There's no React library being sent to the client to hydrate the markup and add interactivity.

For now, you would have to inject scripts tags to add client-side logic - https://github.com/facebook/Docusaurus/blob/4553afda2bdb68db2f5f014a117cf93e81014037/lib/core/nav

[2018-04-18 18:43] #582 closed

[2018-04-18 19:03] BrunoQuaresma commented on #582
Thanks @yangshun .

[2018-04-18 20:24] DanielMSchmidt opened #584 "onClick not working for custom components"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(OS, Node, npm, yarn)

- OS: OSX
- Node: 9.11.1
- npm: 5.6.0
- yarn: -

### Steps to Reproduce

1. Clone [my demo repository](https://github.com/DanielMSchmidt/docusaurus-onclick)
2. Run `npm insta

[2018-04-18 20:26] zenflow opened #585 "Minimal support for IE11"
### Is this a bug report?

It's a browser compatibility issue, so Yes?

I couldn't find any documentation on supported browsers. I assume that the *modern* major browsers are all supported but what about Internet Explorer which is still a major browser? I hope we can have minimal support for it, since our library targets the latest version of *all* major browsers and our users would expect our doc

[2018-04-18 20:29] zenflow commented on #584
With Docusaurus your components get converted into static HTML at build-time, they are never mounted in the browser.

[2018-04-18 20:39] DanielMSchmidt commented on #584
Oh, where was the piece of documentation I missed here 🙈

[2018-04-18 21:08] zkochan commented on #578
@JoelMarcey I think it was a caching issue to begin with. The pnpm site was shared before I added `og:image`.

[2018-04-18 21:41] JoelMarcey commented on #578
@zkochan Ha! Ok. Well, we added a new config option anyway, just in case you want just the Twitter image 😄

[2018-04-18 21:51] #584 closed, assigned to nobody

[2018-04-19 05:03] amyrlam opened #586 "Feature request: Add ability to change default language"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Steps to Reproduce

1. Clone https://github.com/reasonml/reasonml.github.io.
2. Change `website/languages.js` to just have `Deutsch` as the only `enabled: true`.
3. `cd website` and `yarn start`.
4. http://local

[2018-04-19 14:01] BrunoQuaresma commented on #582
@yangshun Is it possible to use async/await ?

[2018-04-19 15:04] #428 closed

[2018-04-19 15:38] JoelMarcey commented on #584
@DanielMSchmidt, if you would like to send a PR to add some documentation around this, that would be great. Maybe a sentence or two at the beginning of https://docusaurus.io/docs/en/installation.html?

[2018-04-20 06:48] DanielMSchmidt commented on #584
@JoelMarcey I would have thought https://docusaurus.io/docs/en/site-creation.html might be a better place, would that be ok for you?

[2018-04-20 21:44] JoelMarcey commented on #584
@DanielMSchmidt Sure. That could be a decent place too. Let's see what content will go there and then we can make the final decision. Thanks!