[2020-03-09 00:33] KohheePeace commented on #969
@maxarndt I made npm package for generating PDF.
https://github.com/KohheePeace/docusaurus-pdf

[2020-03-09 09:26] raisty opened #2389 "Syntax highlight design was blocked due to MIME type"
## 🐛 Bug Report

If you define custom highlight design, you get the following error:
`The resource from “http://localhost:3000/docs/css/atom-one-dark.css” was blocked due to MIME type (“text/html”) mismatch (X-Content-Type-Options: nosniff).`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

👍

## T

[2020-03-09 11:38] LynxyssCZ commented on #2337
Seconding this. We use Docusaurus for project documentation pages and having `README` and `CHANGELOG` in each repository is imo quite silly.

Adding the front matter is not really an acceptable solution, since it does not make sense when people are reading the actual `README.md` in the repo and we have formating validation on `CHANGELOG.md`

[2020-03-09 16:06] jugglingcats opened #2390 "Latest alpha version is less resilient to import errors"
## 🐛 Bug Report

In version 44 a failed import reports an error but docusaurus continues to run and reload changes. In 48 the server terminates and has to be restarted after the error is fixed. This is quite inconvenient during the development/documentation cycle.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting

[2020-03-09 17:34] rlamana opened #2392 "Routes including `index.html` are broken"
## 🐛 Bug Report

In `v1` URLs with and without `index.html` properly route to the same page. In `v2` URLs including `index.html` will result in a "Page not found". `react-router` should use a pattern that matches both URLs.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1.

[2020-03-09 19:47] littlespex opened #2394 "Hosting environments that add a trailing back slash break page links"
## 🐛 Bug Report
Hosting setups that add a trailing back slash to urls break all inter-site links on the page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new site using `npx @docusaurus/init@next init test-site classic`
1. Create two new sub folders in docs ca

[2020-03-09 22:49] phryneas commented on #2220
![image](https://user-images.githubusercontent.com/4282439/76263942-8a022400-6260-11ea-8d67-9e1e1d52183f.png)

This is really problematic, as for something with a 50%/50% screen split, finding certain navigation points becomes really non-intuitive.

[2020-03-10 09:41] lukecollier commented on #2362
@lex111 hello! Thank you for the quick response,
I don't believe this is the problem I mean (although this is a cross repo publish)
The issue is difficult to explain but I'll try again,
https://pages.github.com/ described here can also be done on an enterprise self hosted github (though the url will end in /pages) however when we try this on our self hosted github we have a different end to the ur

[2020-03-10 09:52] lex111 commented on #2362
Will it solve this problem if we just introduce a new environment variable
`DEPLOYMENT_BRANCH`?

вт, 10 мар. 2020 г. в 12:41, Luke Collier <notifications@github.com>:

[2020-03-10 09:56] lukecollier commented on #2362
That would be an ideal solution

[2020-03-10 17:11] prateekrastogi opened #2398 "Google Analytics App+Web Data Stream Not Respecting Docusaurus Analytics Config"
## 🐛 Bug Report

Google Analytics All -in-One Data Streams for Web Not Working

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1.  Go to Google Analytics
2.  Create New App+Web Tracking Account
3. Get Web Measurement ID and config it in Docusauraus

## Expected behavior

Goog

[2020-03-10 22:19] Noah-Silvera opened #2399 "Markdown Header Anchor Links do not work on page load"
## 🐛 Bug Report

Each markdown header has a targeted anchor link which corresponds to a URL.
i.e. http://<hostname>/docs/mobile/doc1#header1

If you click on the headers in the right sidebar when the documentation is loaded, the page scrolls to the header that is the anchor link target as expected.

**But,** if you copy a link to one of the headers with a anchor `#` in it, and paste it into a new

[2020-03-11 06:41] lex111 commented on #2399
Is there a similar bug on the builded website? This should be relevant only in development mode.

[2020-03-11 10:36] johnny353535 commented on #2152
You can add your own scope by overwriting the MDX's code component. The `<CodeBlock />` component Docusaurus uses to render the live editor accepts a `scope` prop that will make your own modules available in the live editor.

**Step-by-step guide**
1. Make sure `@docusaurus/theme-live-codeblock` is installed and configured in your docusaurus configuration
2. Swizzle MDXComponents by running `docus

[2020-03-11 10:41] Naturalclar opened #2400 "[Feature Request] Add a copy to clipboard button for Color Scheme"
## 🚀 Feature

Adding a `copy to clipboard` button for each hex value generated by the color generator.

<img width="674" alt="Screen Shot 2020-03-11 at 7 32 01 PM" src="https://user-images.githubusercontent.com/6936373/76407952-880aa300-63cf-11ea-8c59-e7444531e542.png">

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#repo

[2020-03-11 10:52] lex111 commented on #2400
Better add this button to code block, right?

![image](https://user-images.githubusercontent.com/4408379/76409394-5d085b00-639f-11ea-8c39-db6b2446ab87.png)

[2020-03-11 12:01] Naturalclar commented on #2400
@lex111 oh wow, I didn't even realize that code block was also being generated 🤣
yes, a copy button in the generated code block would be awesome.

[2020-03-11 14:02] ayshiff commented on #2370
I would love to work on it @yangshun 👍

[2020-03-11 14:20] yangshun commented on #2370
@ayshiff go ahead

[2020-03-11 16:41] Noah-Silvera commented on #2399
No there is no similar bug in prod. It only affects development mode.

[2020-03-11 19:42] prateekrastogi commented on #2398
You need to add that tracking code on google tag plugin instead of google analytics plugin

[2020-03-11 19:42] #2398 closed

[2020-03-11 21:37] lex111 commented on #2399
In dev mode, we do not use SSR, so this issue occurs. I do not think this is a serious bug, since there is no such thing in the production build. This may not be very comfortable, although it is unlikely that you will often use anchors links in dev mode :man_shrugging:.

[2020-03-11 23:20] Noah-Silvera commented on #2399
Should we just close this issue then? Seems very minor if it only affects dev mode.
Might be worth documenting under https://v2.docusaurus.io/docs/markdown-features#markdown-headers?

[2020-03-12 01:20] fakela commented on #2353
@liushooter I had similar issue too, this does not have any effect because it's not properly referenced. It's actually best to style the blog using the styles.module.css and use this **src/css/custom.css**  for styles you want to be available globally. This is what I figured out when trying to style my blog

@yangshun should be able to give a more detailed explanation

[2020-03-12 02:00] KohheePeace commented on #2353
@fakela

1. Run the below command in `terminal` to swizzle default theme
[code]

It generates `src/theme/BlogPostItem` in your website.

You can overwrite your custom style in `src/theme/BlogPostItem/styles.module.css`

Sorry if this is different answer what you want!

[2020-03-12 02:55] fakela commented on #2353
@KohheePeace thank you alot for this
I used a different approach
I had to copy the files and paste them in my website

This is a lot easier . Thanks

[2020-03-12 08:43] maxarndt opened #2402 "MDX does not render correctly"
## 🐛 Bug Report

MDX does not render correctly.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Setup a fresh docusaurus v2 project: `npx @docusaurus/init@next init docu-test classic`
1. Replace content of `docs/mdx.md` with the raw content of the following [gist](https://

[2020-03-12 08:55] yangshun commented on #2402
Repro case attached here for easier reference:

[code]

I don't think this is something to do with Docusaurus. Might want to file on the MDX repo instead. Anyway one easy work-around for you is to wrap the line which doesn't render properly with a `<div>`, which "turns on JSX mode" for that line.

[2020-03-12 09:09] maxarndt commented on #2402
My bad! The [mdx docs](https://mdxjs.com/getting-started#jsx) explicitly say:

[2020-03-12 09:09] #2402 closed

[2020-03-12 09:21] jaimeiniesta opened #2403 "Accessibility issues"
## 🐛 Bug Report

Related to https://github.com/facebook/docusaurus/issues/462

I've run an HTML and Accessibility check on 100 pages from https://v2.docusaurus.io/ - each page was checked using the latest version of W3C Validator for HTML issues, and Deque Axe-core 3.5.2 for Accessibility issues.

Here is the result report per page - the tabs allow to group the common issues on the site:

https://

[2020-03-12 13:46] rlamana opened #2404 "Documentation-only sites do not work if baseUrl is not `/`"
## 🐛 Bug Report

A docusaurus site (v2) without a landing page and documentation as the index page does not work if `baseUrl` is other than `/`.

It seems like `@docusarus-utils`.`normalizeUrl` is generating double forward slashes when `routeBasePath` is set to a single '/' in the docs plugin configuration.

For a `baseUrl: 'metro/'` and `docs.routeBasePath: '/'` the generated routes are:

[code]

[2020-03-12 14:11] yangshun commented on #2404
Sorry our previous docs-only instructions were incorrect. We've updated it but have yet to publish it - https://v2.docusaurus.io/docs/next/configuration/#docs-only-mode

[2020-03-12 14:35] #2404 closed

[2020-03-13 10:17] matmalkowski commented on #2152
@johnny353535 so for now this is preferred way, or its solution that expected to be followed long term on final product? Asking because current readme discourages users from swizzling components

[2020-03-13 12:38] johnny353535 commented on #2152
I'd also consider this a temporary workaround. Especially, because we can't rely on this workaround to also work in the future.

Providing scope to the live-editor should be a first-party feature, but I haven't research the cleanest way of providing this functionality.

[2020-03-13 12:41] fanny commented on #1834
Hi, I would like to work on [facebook/watchman#787](https://github.com/facebook/watchman/issues/787)

[2020-03-13 13:43] Alcatros opened #2407 "Docusaurus 2 - Adding GTAG Manager doesn't work"
## 🐛 Improvement (European E-Privacy directive and GDPR) - GTAG Manager not recognized

We add the google tag manager configuration like described in Docusaurus 1 but Docusaurus 2 seems not to recognize it. Responds with : Error: The field(s) 'gaTrackingId', 'gaGtag' are not recognized in docusaurus.config.js

I've realised that GTAG Manager can't be loaded with the current implementation, this is

[2020-03-13 16:30] yangshun commented on #2407
Please read the docs - https://v2.docusaurus.io/docs/migrating-from-v1-to-v2/#gatrackingid

[2020-03-13 17:02] Alcatros commented on #2407
@yangshun thanks for the quick hint, how come the documentation doesnt show GTM-ABCDE , Google Tag Manager Identifications start with GTM and Universal Analytics from Google with UA

[2020-03-13 17:40] Alcatros commented on #2407
@yangshun Actually you should reopen the Issue. Docusaurus can't load GTAG Manager and is therefore uncompliant by default for European data regulations and privacy rights of the customer.

This makes docusaurus un-useable for european companies.

The modern GTAG (not to mistake by "GATAG or UA" which are the old versions), can understand if the customer wants his data to be taken or not for visit

[2020-03-13 17:45] yangshun commented on #2407
Ok then it's an improvement to make, and not a bug in the current implementation.

[2020-03-13 17:52] Alcatros commented on #2407
@yangshun Thanks, i've corrected the header accordingly

[2020-03-14 09:31] bravo-kernel commented on #2394
@littlespex are you sure the **browser** is adding that slash? Try running your site locally and see if the slash gets added. If not, it most likely is your hosting server.

FYI I am seeing the same behavior on Netlify (adding the slash, breaking the links)

[2020-03-14 10:17] joe223 opened #2410 "Support custom build path"
## 🚀 Feature

Add a new configuration of docusaurus `output` with default value `build`

## Have you read the [Contributing Guidelines on issues]yes

Yes

## Motivation

We can build static web site to specific directory directly with any other actions. That would be more convenient.

## Pitch

Just likes:

[code]
If we execute `npm run build`, the build assets are save at `../docs` directory.

[2020-03-14 10:41] bravo-kernel commented on #2394
💡 If you are using Netlify, disabling `Pretty URLs` should solve the problem. I unchecked the first two boxes to prevent Netlify from both lowercasing the urls and.. adding the trailing slash.

![image](https://user-images.githubusercontent.com/230500/76680429-a39cc600-65e8-11ea-9631-705536db3a0f.png)

[2020-03-14 10:55] bravo-kernel commented on #2190
Netlify users: **make sure to disable `PrettyURLs`** (as that will prevent lowercased URL redirects and added trailing slashes leading to 404s). See https://github.com/facebook/docusaurus/issues/2394#issuecomment-599039072

[2020-03-14 13:38] yangshun commented on #2410
Sure, we don't mind accepting such a flag.

Alternatively, if you want to unblock yourself, you could also modify your `package.json`'s `build` command and add a [`mv`](https://shapeshed.com/unix-mv/) after it:

[code]

[2020-03-14 13:49] joe223 commented on #2410
@yangshun Thanks for the advise, that is what I did so far.  I don't need to ensure the new directory is empty in case the build command break off if we got `output` configuration. 😁

[2020-03-14 13:51] yangshun commented on #2410
Ok then do `docusaurus build && rm -rf <new directory> && mv build <new directory>`

[2020-03-14 14:45] joe223 commented on #2410
Thanks again! @yangshun

[2020-03-14 14:47] ayshiff commented on #2370
Hey @yangshun, I have a question about the way stylelint rules should be tested !

I followed the way stylelint's rules were tested by adding a **jest setup file** and defining a **testRule method**.
I think I have to do some tricks around the way the plugin is created because it gives me the error  "Unknown rule docusaurus/copyright-header."

Otherwise I checked the way "stylelint-test-rule-tape"

[2020-03-14 14:53] yangshun commented on #2370
Please try to reuse the Jest file at the root of the repo.

[2020-03-14 17:14] littlespex commented on #2394
I had updated the ticket description earlier to mention the hosting environment instead of the browser. Unfortunately we don’t have admin control over our docs environment and the team that runs it has enabled these url rewrite rules for other reasons. Our current workaround is to revert to docusaurus v1 which works as expected.

[2020-03-15 05:48] yangshun commented on #2349
Closed by #2366

[2020-03-15 05:48] #2349 closed

[2020-03-15 05:50] yangshun commented on #2410
@jsjoeio I heard from @JoelMarcey you would like to work on some ramp up tasks. Would you be interested in this?

[2020-03-15 05:51] yangshun commented on #2403
Thanks for the reports. Most of the violations are code-block/syntax highlighting related and unfortunately we can't really do anything about them. PRs welcome to fix the other issues.

[2020-03-15 06:48] yangshun commented on #2400
If you want to copy the individual colors, just double click on the hex code. I don't think it's worth adding the copy button to each row. Copy button is more useful when users have to copy multiple lines of code.

[2020-03-15 06:48] #2400 closed

[2020-03-15 15:07] raisty opened #2414 "Broken some CSS tags from Docusaurus CSS stylesheet"
## 🐛 Bug Report

`html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fig

[2020-03-15 15:30] jsjoeio commented on #2410
Hi @yangshun! That's right. This one sounds good to me, sure!

[2020-03-16 06:12] hotlong opened #2418 "Console error in IE 11"
## 🐛 Bug Report

SCRIPT438: Object does not support "assign" attribute or method.
main.2d92dee9.js (2,45516)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Open IE 11
1. navigate to https://v2.docusaurus.io/docs/introduction

[2020-03-16 10:35] adamstevens87 opened #2419 "Adding class to markdown header puts class name in URL"
Example:

`### My Great Heading {#custom-id}`

Output URL:
http://someurl.com#my-great-heading-custom-id

Expected output URL:
http://someurl.com#my-great-heading

I am adding a custom class to my header to add styling as needed. However, this impacts the URL of the header in an unexpected (and unwanted) way.

I also tried:

`### <span class="class-name"> Title </span> `

but this output is even w

[2020-03-16 13:55] lex111 commented on #2419
This syntax is used to define a custom ids for the headings, see https://www.markdownguide.org/extended-syntax/#heading-ids for details.

So when you use this code:

[code]

URL will be like this: http://someurl.com#custom-id

However, I think we can add support for this feature in v2. @yangshun agree with this?

* * *

But in fact, this does not apply to the topic of this issue.

@adamstevens87 y

[2020-03-16 14:11] hsluoyz commented on #2349
Thanks! We will absorb this feature when v2 translation is ready.

[2020-03-16 14:19] adamstevens87 commented on #2419
Hi @lex111 - thanks for you answer - I reaslie the title was misleading, but I also tried:

## <span class="faq-header"> General </span>

And the output URL is:

https://dosomeutl.com#span-classfaq-header-general-span

I wanted to use the ## notation so the title was added to the sidebar.

Is there something I am missing?

[2020-03-16 22:41] mbykovskyy commented on #1258
@endiliey, is there away to specify a `data.destinationDir` on a currently processed MD vFile? Without such configuration `remark-mermaid` writes SVGs into the same directory as the MD file.

[2020-03-17 11:32] lex111 commented on #2419
@adamstevens87 I see, then when generating slug we will not consider any HTML, and in the end slug will be clean (just `general` in your case).

[2020-03-17 12:37] adamstevens87 commented on #2419
Thanks for confirming.

[2020-03-18 01:19] fanny opened #2422 "Files with extension '.markdown' are not detected by our plugin of docs"
## 🐛 Bug Report

I'm trying to build the watchman doc using the docusaurus v2, and to reuse some files of the older structure, I decided to move all old markdown files, to my new project. But, when i tried to build the site with the `.markdown` extension I didn't have success. Only when I change to `.md` file

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/do

[2020-03-18 03:09] amimas commented on #2337
Just wanted to share my personal feedback. I am also using Docusaurus to build site where a considerable portion of the contents are coming from output of another repository (generated markdown files).

In my case, that repository has been updated so that generated the markdown files contain the necessary frontmatter. I think that's a reasonable ask because that's what those markdown files are for

[2020-03-18 03:23] amimas commented on #2354
Not sure if this really improves ux.

If I'm a new user to the site and by default the references section is open, I'd probably find it confusing because I need to know the introduction docs first before getting into other details.

The scenario mentioned in the original post is probably an example but it feels more like content organization issue rather than needing a feature from the ssg tool.

[2020-03-18 03:29] amimas commented on #2355
Agree with @yangshun that it can be difficult to tell if code blocks should be grouped or tabbed. Someone else might want them as individual code blocks without tabs.

This feels like getting into the territory of markdown parser and that's not what Docusaurus is for/does.

[2020-03-18 03:37] amimas commented on #2403
I wonder if the code block or syntax highlight related issues need to be opened as separate issues elsewhere.

[2020-03-18 03:41] amimas commented on #2407
This would be a nice feature but just wanted to point out that google tag manager integration never existed in v1.

[2020-03-18 05:42] mingrammer commented on #2269
+1

[2020-03-18 07:11] yangshun commented on #2354
I would keep this. I think this option is feasible. It doesn't add much
complexity in terms of Engineering and gives people more flexibility
without causing confusion.

On Wed, Mar 18, 2020, 3:07 PM Asier Illarramendi <notifications@github.com>
wrote:

[2020-03-18 10:06] yangshun commented on #2422
Older Jekyll templates use `.markdown` extensions whereas these days Markdown files commonly use `.md`. It's not tough to support `.md` but we think it's unnecessary given that it's extremely rare now. We can close this.

[2020-03-18 10:06] #2422 closed

[2020-03-18 10:33] jaimeiniesta commented on #2403
In case it helps, I finally chose another template for our [documentation site](https://docs.rocketvalidator.com/) - I run into similar issues for code blocks, fixing was easy: choosing a higher contrast theme, and making scrollable code blocks focusable by the keyboard (tabindex=0).

Also, I'll be happy to provide free accounts on our accessibility scanner for those interested in improving the ac

[2020-03-18 14:07] vishwa306 opened #2425 "Add feature image for social media for Docusaurus 1 blogs"
## 📚 Documentation

How do I set a "feature image" for my docusaurus blogs?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)? Yes

Our docusaurus(v1) site contains several articles, each with its own set of images. How do I set one of those images as a featured image that would appear as a banner whe

[2020-03-19 10:46] garethnunns opened #2427 "All OpenGraph URLs link to homepage"
## 🐛 Bug Report

All pages of a Docusaurus have the same `og:url` of the `baseUrl`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Share any page on Facebook and they have the same `og:url`, e.g.

- https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fdocusaurus.io%

[2020-03-19 13:29] dvanlaeken commented on #2244
I'm hitting this issue as well.

1. Is there any workaround other than swizzling more components?
2. Is there a way to build without SSR?

[2020-03-19 15:52] #2410 closed

[2020-03-19 23:16] aldeed opened #2429 "Can't remove deleted pages from search or "current" URL"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I highly recommend them

## To Reproduce

1. Follow https://docusaurus.io/docs/en/installation to make a new docusaurus v1 project
2. `cd website`
3. `yarn examples versions`
4. `yarn run version 1.0.0`
5. Delete `docs/doc3.md` f

[2020-03-20 19:24] nicholas-ochoa opened #2430 "Navbar hideOnScroll: true shows light mode logo in dark mode"
## 🐛 Bug Report

I have the following settings configured:

[code]

When I scroll down the page in dark mode, the nav bar disappears as expected but the logo above the sidebar is the normal logo and not the logo specified in `srcDark`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Rep

[2020-03-20 21:06] lex111 commented on #2430
Oops, good catch, thanks, this will be fixed in the next release (end of March)!

[2020-03-20 21:21] avkonst opened #2431 "[v2] yarn build hangs forever after build is completed successfully"
## 🐛 Bug Report

Docs for my project can not be built non-interactively as 'yarn-build' hangs forever.

### Have you read the [Contributing Guidelines on issues]
yes

## To Reproduce

## Expected behavior

Build is finished and process exists

## Actual Behavior

Build is successful (according to logs), but the process does not exit.

## Your Environment

- Docusaurus version used: 2 alpha 48
- Op

[2020-03-20 21:53] rachelnabors opened #2432 ""These docs are out of date!" banner support for older docs pages"
## 🚀 Feature

A configurable banner that shows at the top of all versioned docs, directing people to the most recent page.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Sure have :)

## Motivation

On ReactNative.dev, 3.5% of traffic is to versioned docs. Sometimes search engines mess up (don't w

[2020-03-21 04:42] #2370 closed

[2020-03-21 05:57] shinebayar-g commented on #2407
@Alcatros Is Google Tag Manager even supported in v1?

@amimas Is there any workaround to get google tag manager working?

[2020-03-21 07:22] #2419 closed

[2020-03-21 07:41] Alexander-Linkov commented on #1769
@endiliey It does not help at all. I do steps in tutorial and gets an error:
`Error: Cannot find module '../../core/CompLibrarary.js'`

And I do not know how to fix it.

[2020-03-22 02:05] #2430 closed

[2020-03-22 02:06] #2390 closed

[2020-03-22 05:05] jugglingcats commented on #2390
Thanks!

[2020-03-22 12:13] bravo-kernel opened #2441 "Markdown code block does not correctly render \$"
## 🐛 Bug Report

Inside a markdown code block, `\$` is presented as `$`.

## To Reproduce

1. create a new docs page (`.md` or `.mdx`)
2. add the following markdown code block:

[code]
3. view rendered page

## Expected behavior

We expect to see `$here\$sut` on rendered page

## Actual Behavior

We see `$here$sut` on rendered page

![image](https://user-images.githubusercontent.com/230500/7724902

[2020-03-22 12:17] yangshun commented on #2441
It's actually an MDX bug. We previously reported it at https://github.com/mdx-js/mdx/issues/902.

[2020-03-22 12:39] bravo-kernel commented on #2441
@yangshun thanks for confirming this one, I looked for two hours but could not find anything. Let's await their fix 👍

[2020-03-22 12:42] bravo-kernel commented on #2441
for future reference: does this mean mdx-js is used for both `.md` and `.mdx` file rendering?

[2020-03-22 12:51] yangshun commented on #2441
@bravo-kernel I doubt this bug is a serious one and it's unlikely to get prioritized. It might never be fixed.

Yes MDX is being used for both `.md` and `.mdx`

[2020-03-22 12:52] bravo-kernel commented on #2441
Thanks for confirming 💯. Maybe I can motivate someone to fix this one.

[2020-03-22 13:18] tomByrer commented on #2431
I got the same hung issue, even though on the same system running the basic template (`npx @docusaurus/init@next init my-website classic`) ran fine.

Perhaps something with your config?  I do not get the following errors installing the template:

[code]

[2020-03-22 18:23] markerikson commented on #2271
Looks like the filename title PR is almost done.  @elviswolcott , are you still looking at doing the code highlighting comments feature?

[2020-03-22 18:44] elviswolcott commented on #2271
Yeah, lost track of this with everything going on the last few weeks. I'll get a PR together in the next few days.

[2020-03-23 04:34] itelofilho opened #2445 "Update the sidebar.js by a docusaurus lifecycle"
## 🚀 Feature

I want to write a plugin that will update the sidebar.js

## Motivation

I'm planning to write a plugin for docusaurus that will look to my components and generate the docs automatically using react-docgen. So I need a way to update the sidebar using this plugin.

[2020-03-23 06:32] lex111 commented on #2431
Resolved in #2443.

[2020-03-23 06:32] #2431 closed

[2020-03-23 11:47] #2353 closed

[2020-03-23 13:37] lukecollier commented on #2362
resolved in https://github.com/facebook/docusaurus/pull/2396,
can this be closed?

[2020-03-23 13:42] lex111 commented on #2362
@lukecollier yes, thank you for your help!

[2020-03-23 13:42] #2362 closed

[2020-03-23 14:10] Kimi-Gao opened #2447 "[v2] custom configuration for remark-admonitions does not work"
## 🐛 Bug Report

custom configuration for remark-admonitions does not work.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

adding these lines in md file:
[code]

## Expected behavior

custom admonition can render correctly

## Actual Behavior

<img src="https://user-

[2020-03-23 14:18] yangshun commented on #2447
cc @elviswolcott

[2020-03-23 16:37] ianschmitz opened #2448 "Build warnings about unresolved MDX components don't fail build"
## 🐛 Bug Report

Build system warnings don't cause a build failure in CI, even when `CI` env variable is set to `true`.

For example:
![image](https://user-images.githubusercontent.com/6355370/77339546-2ad4f280-6ce9-11ea-85a4-6f608ae0907b.png)

IMO this should cause the build to fail as the component wasn't imported in the `.mdx` file correctly.

### Have you read the [Contributing Guidelines on i

[2020-03-23 16:48] ianschmitz opened #2449 "Syntax error causes yarn start to exit"
## 🐛 Bug Report

Accidentally introducing a syntax error in JSX code causes `yarn start` to exit completely. This is unexpected coming from other tools such as CRA, Next.JS, etc.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

:+1:

## To Reproduce

1. `yarn start`
1. Introduce syntax error in JSX

[2020-03-23 17:34] #2392 closed

[2020-03-23 19:27] lex111 commented on #2449
This is already fixed in #2437

[2020-03-23 19:27] #2449 closed

[2020-03-23 19:56] elviswolcott commented on #2447
It looks like the root of the problem is that the plugin and options tuple was being flattened by concat
https://github.com/facebook/docusaurus/blob/08616997dad3fcc567026f8beed8c8b986371f73/packages/docusaurus-preset-classic/src/index.js#L20-L25
resulting in something like
[code]
instead of
[code]

[2020-03-23 19:58] lex111 commented on #2447
@elviswolcott could you please fix this?

[2020-03-23 20:01] elviswolcott commented on #2447
@lex111 PR is up 😄

[2020-03-23 20:20] elviswolcott opened #2452 "Prettier breaks `remark-admonitions`"
## 🐛 Bug Report

`yarn prettier-docs` breaks the formatting of `remark-admonitions`

I believe it may be related to, but am not that familiar with prettier's rules to be sure.
https://prettier.io/docs/en/options.html#prose-wrap

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[2020-03-23 23:00] rosibaj opened #2454 "Cannot use docusaurus with windows with current dependency versions"
## 🐛 Bug Report

Cannot lauch localhost from Windows WSL

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes.

## To Reproduce
Windows 10
1. Using Powsershell, run npm start
1. Get this error:
![image](https://user-images.githubusercontent.com/15824252/77370694-d1e07b00-6d37-11ea-87b9-c0e20ba12fab

[2020-03-24 00:42] #2447 closed

[2020-03-24 00:46] yangshun commented on #2452
I'm not sure of a good way around this. What we've done here in Docusaurus v2 website is to add extra empty lines around the content so that Prettier respects the line breaks.

[code]

[2020-03-24 03:28] elviswolcott commented on #2452
That seems like a workable solution for the time being. I'll update the templates for `@docusaurus-init` to be formatted that way (and anywhere in the docs that prettier is trying to change right now).

[2020-03-24 04:39] yangshun commented on #2441
Addressed in https://github.com/mdx-js/mdx/pull/991

[2020-03-24 07:06] elviswolcott commented on #2271
My PR implements `highlight-next-line`, `highlight-start`, and `highlight-end`.

The linked Gatsby plugin also includes a `highlight-range` comment which I did not implement, as it doesn't seem particularly useful. It is somewhat more useful than the current method (e.g. highlighting relative to a function declaration) but it seems that `highlight-next-line`, `highlight-start`, and `highlight-end`

[2020-03-24 08:35] adamstevens87 opened #2459 "Unable to set C# for code styling"
Example:

[code]
![image](https://user-images.githubusercontent.com/16194236/77404273-5e775180-6da9-11ea-8023-e5768d8e14fa.png)

However, js does apply styling. Example:

[code]

![image](https://user-images.githubusercontent.com/16194236/77404402-95e5fe00-6da9-11ea-80ec-90cd10d5a8a9.png)

[2020-03-24 08:42] yangshun commented on #2459
You might need to add it into the additional supported languages - https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

[2020-03-24 10:24] adamstevens87 commented on #2459
Oh, yes that worked. I added csharp as a language - sorry for the unnecessary 'bug'.

I would have expected cs to be common enough to be default!

[2020-03-24 10:24] #2459 closed

[2020-03-24 16:51] #2454 closed

[2020-03-24 17:11] amimas commented on #2407
@shinebayar-g - I'm using V1 in several of my documentation website and have integrated with Google Tag Manager.

The way I've done it is this:

1. Add a script file in `website/static/js/google-tag-manager.js` that looks like this:

[code]

2. Refer to the above script in site configuration (`website/siteConfig.js`):

[code]

The above steps will add the integration for you.

This would be a very

[2020-03-24 21:59] Noah-Silvera opened #2463 "Markdown Headers from nested MDX should be included in table of contents"
## 🐛 Bug Report

Markdown headers from nested MDX are not included in the table of contents for a page. If you import another markdown file as a MDX component, any headers if defines do not show up for the table of contents in the page it's embedded in. This makes sharing content between documentation pages using snippets less useful, as you lose any table of contents navigation that comes with it

[2020-03-25 10:22] #2452 closed

[2020-03-25 23:20] cdaringe commented on #1769
removed in 2.x sounds like. unsure if there will be another provider for the `<Markdown>in _jsx_</Markdown>`

[2020-03-26 00:35] fanny opened #2467 "feat(v2): add time prediction in the description of a post blog"
## 🚀 Feature

In our blog plugin, it can be in interesting adds a time prevision of blog post.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes
## Motivation

Its very common in modern web blogs(some examples are: medium; dev.to and etc), to have the time prediction in the description

## Pitch

[2020-03-26 00:45] yangshun commented on #2467
Yes! Sounds good, this can be an option on the blog plugin 😄

[2020-03-26 05:16] oo10 commented on #1804
I have the same problem. How can you solve it?

[2020-03-26 07:48] lex111 commented on #2467
@yangshun do we really want to include this in core? Or will it be done as a plugin?

[2020-03-26 07:53] yangshun commented on #2467
It'll be in the blog plugin, not Docusaurus core. We don't have a good way of augmenting data to plugins at the moment.

[2020-03-26 17:59] yangshun opened #2468 "Built-in Flow support"
## 🚀 Feature

Docusaurus supports TypeScript out of the box now but it'd be cool if we had Flow support out of the box without having to modify/extend the Babel config.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-03-26 19:10] fanny commented on #2467
Yeah, I was thinking in a extension for `@docusaurus-plugin-content-blog`

[2020-03-26 19:39] fanny commented on #2468
I was thinking if can be a plugin.

It would be interesting if the developer adds a field in the `.babelrc`, enabling the typescript or flow config, like:
`{
  "presets": [['@babel-react', { types: {"flow": true}}]]
}`

or
`{
  "presets": [['@babel-react', { types: {"typescript": true}}]]
}`

and you make this setup depending of the option.

[2020-03-26 22:03] fanny commented on #2468
I also saw something similar of my idea in CRA [see](https://github.com/facebook/create-react-app/tree/master/packages/babel-preset-react-app)

[2020-03-26 22:32] fanny opened #2470 "refactor(v2): Typescript support in our theme plugin"
## 💥 Proposal

(A clear and concise description of what the proposal is.)
I know that we already have this for some plugins, like [docusaurus](https://github.com/facebook/docusaurus/tree/master/packages/docusaurus/src), [docs-plugin](https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-plugin-content-docs), [blog-plugin](https://github.com/facebook/docusaurus/tree/master/packages

[2020-03-27 02:00] lex111 commented on #2470
Honestly, I don’t see big advantages in rewriting theme components from JS to TS. I would even recommend not to do this.
Using TS in core is justified and reasonable, but not in React components, IMO.

[2020-03-27 08:45] gedenata opened #2471 "<html> element does not have a [lang] attribute"
## 🐛 Bug Report

If a page doesn't specify a lang attribute, a screen reader assumes that the page is in the default language that the user chose when setting up the screen reader. If the page isn't actually in the default language, then the screen reader might not announce the page's text correctly.

Have you read the Contributing Guidelines on issues?
yes.

### To Reproduce

* When deploy the in

[2020-03-27 11:04] #2277 closed

[2020-03-27 11:34] tkdrahn commented on #2269
hello - any ETA on this ticket?

[2020-03-27 11:37] yangshun commented on #2269
It will be in our next release

[2020-03-27 18:28] yangshun commented on #2470
I think it'll be good to rewrite our components in TS. Our theme components are considered APIs and typesafety will be useful. However, it might be an issue if someone swizzles a tsx component but are not using TypeScript.

[2020-03-28 02:46] SamChou19815 commented on #2470
Is it possible to write theme components in TS, and then use babel to generate the JS just with all the types stripped? When running swizzle, it still defaults to emit JS code, but it can emit TS code by passing `--typescript`.

[2020-03-29 04:10] #2399 closed

[2020-03-29 12:56] uanaoeng opened #2481 "docs(v2): document about allowing multiple blogs"
## 🚀 Feature

I want to use docusaurus to organize my blog posts, which have different categories.

If I put these blog posts under the docs folder, I will need to manually add these blog posts to the sidebar, that would be a burdensome task.

If there is only one blog folder, I will not be able to sort these blog posts well.

## Have you read the [Contributing Guidelines on issues](https://github

[2020-03-29 15:34] #2441 closed

[2020-03-29 15:43] #2273 closed

[2020-03-29 17:36] markerikson commented on #2220
@yangshun , @lex111 : any thoughts on this?  Seems like it might relate a bit to #2269 .

[2020-03-29 18:09] bravo-kernel commented on #2441
🎉

[2020-03-30 08:06] dotansimha commented on #599
If someone needs it, with v1, you can add this plugin: https://github.com/dotansimha/graphql-code-generator/blob/b1820380fff5692b4c3a5be1335dd94ac572dc1f/website/remarkable-plugins/import-md.js

And load it as specified here:  https://github.com/dotansimha/graphql-code-generator/blob/master/website/siteConfig.js

Then, you can do in your `.md` files:

[code]

[2020-03-30 08:38] gedenata opened #2484 "Background and foreground colours do not have a sufficient contrast ratio"
## 🐛 Bug Report

Contrast — These are opportunities to improve the legibility of your content. Low-contrast text is difficult or impossible for many users to read.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

* `<section className="copyright"></section>`. In the developmen

[2020-03-31 18:26] yangshun commented on #2350
It's already possible as per what @benclmnt  said. Checkout `website/sidebars.js` for an example.

[2020-03-31 18:26] #2350 closed

[2020-03-31 18:43] yangshun commented on #2220
This will involve a huge Docusaurus v2 theme change if we want to change this in core. Not opposed to it, but the problem now is that the docs feature doesn't really have access to the mobile menu.

This is not really related to #2269 which is about the navbar.

[2020-03-31 19:10] #2269 closed

[2020-03-31 19:25] markerikson commented on #2220
Yeah, I know it's a big change to the theme, but that's kinda my point - the theme atm is a significant regression in functionality from v1.

[2020-04-01 06:23] hotlong commented on #2481
+1

[2020-04-01 14:09] swieczorek opened #2492 "Dropdown with all versions"
For software product documentation versioning is essential.

It would be great to have a dropdown with all versions available and with the active one highlighted.

As a good example you can check GitLab:

https://docs.gitlab.com/12.9/ee/README.html

You see directly that you are in version 12.9 and you can easily change to a previous one.

Versioning is already working with the alpha49 but the ver

[2020-04-01 15:06] markerikson commented on #2271
Looks like both the requested features are in https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.49 , so I'll close this.  Thanks!

[2020-04-01 15:06] #2271 closed

[2020-04-01 17:03] yangshun commented on #2271
Thank you @KohheePeace and @elviswolcott!

[2020-04-01 17:11] SamChou19815 opened #2493 "v2: blog-only mode blog post link is broken"
## 🐛 Bug Report

The link of blog post is prefixed with an additional `/`

<img width="936" alt="Screen Shot 2020-04-01 at 13 05 55" src="https://user-images.githubusercontent.com/4290500/78165815-e26cb180-7419-11ea-8324-2621722f3fde.png">

Even if I manually type the correct URL, it will say page not found.

<img width="1651" alt="Screen Shot 2020-04-01 at 13 11 24" src="https://user-images.githu

[2020-04-01 18:00] rickhanlonii opened #2494 "Failed to deploy: Reference error self is not defined"
## 🐛 Bug Report

I get a ReferenceError in Webpack while running `yarn build` to deploy the Hermes website.

I _think_ it's due to `monaco-editor-webpack-plugin` but I'm not sure.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce
Note: I setup a branch that has the required herm

[2020-04-01 18:09] lex111 commented on #2494
@rickhanlonii could you please upgrade D2 to the latest version (2.0.0-alpha.49)?

[2020-04-01 21:42] rickhanlonii commented on #2494
@lex111 I did try it with the latest alpha as well, sorry I left that out of the description. I also reverted back to 2.0.0-alpha.19 (the last version that we deployed with successfully) but that failed for a different reason.

[2020-04-01 23:03] RossMurr4y commented on #2269
@yangshun I'm unable to get this one to work. Other than upgrading to alpha 49 is anything else required? I've copy/pasted the updated example in the documentation and thrown in some test urls but the dropdown never appears.

[2020-04-01 23:44] lex111 commented on #2494
@rickhanlonii this is not really a D2 bug. This bug is related to what we do prerendering (something like SSR). But I fix it, you can see my commit here https://github.com/lex111/hermes/commit/b8a3e14c111697114321b06eeedcbd2b5b11806c

[2020-04-01 23:49] lex111 commented on #2274
@pfongkye sorry for the long wait, could you please reproduce this bug on the latest version (2.0.0-alpha.49)?

[2020-04-02 00:19] rickhanlonii commented on #2494
Thanks @lex111, I verified that that fixed the issue and deployed the site. PR is here https://github.com/facebook/hermes/pull/204

For D2, is there a way we can surface these errors with an explanation of how to fix? If I got an error that told me the issue was that I broke server side rendering I may have been able to fix this myself.

[2020-04-02 00:27] lex111 commented on #2494
@rickhanlonii I don't think there's that easy way to find out that the issue is related with SSR.

[2020-04-02 02:42] yangshun commented on #2494
I agree it's hard for us to determine if the issues are caused by SSR. One rule of thumb I use is if a component has highly complex interactions (e.g. videos, playgrounds), chances are it relies on browser APIs.

I think this issue is common enough and we can start an FAQ page and document these down. To get around them you can use [`<BrowserOnly>`](https://v2.docusaurus.io/docs/docusaurus-core/#b

[2020-04-02 02:53] yangshun commented on #2493
Oops our blog-only instructions are outdated. It's updated for docs-only - https://v2.docusaurus.io/docs/next/configuration/#docs-only-mode where the `routeBasePath` should be `''`.

But I think we can try to dedupe the slashes indeed. Thanks for the PR 😄

[2020-04-02 03:02] #2493 closed

[2020-04-02 04:25] yangshun opened #2501 "feat(v2): add edit link to blog posts"
## 🚀 Feature

Just like we have the "Edit on GitHub" link for docs, we want the same for blog posts.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

More convenient way to edit blog posts.

[2020-04-02 04:26] yangshun commented on #2501
@fanny this issue might help you gain familiarity with the Docusaurus v2 plugins 😄

[2020-04-02 06:49] yangshun opened #2507 "feat(v2): home page for docs"
## 🚀 Feature

Refer to https://v2.docusaurus.io/feedback/p/home-page-for-docs

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

This can be specified via an option on the docs plugin.

[2020-04-02 10:26] pfongkye commented on #2274
hello @lex111
no problem. I'll take a look and will keep you updated.

[2020-04-02 13:00] imrishabh18 commented on #1834
@yangshun Are any migration still left ?

[2020-04-02 15:30] mohamedsgap commented on #2507
I think we should make a list with the latest 5 versions of docs, so it will be easy to navigate between them, and also write an introduction about the whole doc, and some feature of the last shipped version of the doc too

[2020-04-02 15:42] yangshun commented on #2507
Not every docs have versioning. People can already built it themselves like how we do it on https://v2.docusaurus.io/versions

[2020-04-02 19:05] ianschmitz opened #2511 "Search not working on docusaurus v2 website"
## 📚 Documentation

Wanted to give you the heads up that the search doesn't appear to be working any more on https://v2.docusaurus.io/

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-04-02 19:34] fanny commented on #2501
For sure, I'll take. Can you assign for me?

[2020-04-03 01:00] Alquimista3301 commented on #1437
Hey! Can I take React data grid ? 🙂

[2020-04-03 01:43] Hongarc commented on #1437
@ericbuss take it https://github.com/adazzle/react-data-grid/issues/1687

We need wait to accept from `adazzle`

[2020-04-03 02:13] yangshun commented on #2511
Thanks for reporting! It was not working indeed. I triggered a local rebuild and it's working fine again o.o

cc @s-pace

[2020-04-03 02:13] #2511 closed

[2020-04-03 05:18] netroby commented on #586
Really need i18n support. not just one language.

[2020-04-03 06:12] netroby opened #2514 "404 not found :the sidebar-item page not found"
https://v2.docusaurus.io/docs/sidebar.md#sidebar-item

[2020-04-03 06:19] awalias opened #2515 "navbar links opening in new tab"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. go to https://supabase.io/docs/about and click any of the links under Docs >
2. note that the same urls in the sidebar open in the same tab
3. source is available [here](https://github.com/supabase/supabase/tr

[2020-04-03 06:25] lex111 commented on #2515
@awalias please use `to` field instead of `href` for internal links. Then the link will open in the current tab.

https://github.com/supabase/supabase/blob/master/web/docusaurus.config.js#L49

[2020-04-03 06:31] #2515 closed

[2020-04-03 06:38] lex111 commented on #2514
This page is now available at the new link -> https://v2.docusaurus.io/docs/docs#sidebar

[2020-04-03 06:38] #2514 closed

[2020-04-03 06:42] lex111 commented on #2511
I think crawler Algolia needs some time to index new docs. Therefore, the docs will not be available for search after immediately the new release.

[2020-04-03 07:01] SamChou19815 opened #2516 "v2: Sitemaps are not always generated"
## 🐛 Bug Report

`sitemap.xml` is not always generated. It might be caused by #2443 and #2496 does not fix the issue for sitemap generation.

Here is the code that writes the sitemap file.

https://github.com/facebook/docusaurus/blob/6935b3315e72503ebcac6925e038d195fa6979d1/packages/docusaurus-plugin-sitemap/src/index.ts#L38-L43

Writing the file is async, and the process might already be killed b

[2020-04-03 08:06] netroby commented on #2514
![Snipaste_2020-04-03_16-05-49](https://user-images.githubusercontent.com/278153/78338278-0f10fc80-75c5-11ea-83d7-d1df91e16679.png)
This link broken

[2020-04-03 08:39] mnbf9rca commented on #2445
Yes - having the sidebar auto-generate based on the content, folder/file structure in /docs etc. would make content management so much easier.

[2020-04-03 10:05] AlbertDavid94 opened #2517 "unable to get local issuer certificate"
## 🐛 Bug Report

I am getting an error saying the following

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Have a virtual machine on a windows stationary behind a corporate firewall
2. Attempt to install docusaurus
3. Fail at it, miserably

## Ex

[2020-04-03 11:37] lex111 commented on #2517
This is not a Docusaurus bug, however, this issue seems to be easily resolved.

https://stackoverflow.com/questions/40124008/error-unable-to-get-local-issuer-certificate-while-running-yarn-command
https://github.com/yarnpkg/yarn/issues/841

[2020-04-03 11:38] #2517 closed

[2020-04-03 12:20] AlbertDavid94 commented on #2517
How do I update a package.json that isn't there? It is happening upon executing `docusaurus-init`

[2020-04-03 12:33] lex111 commented on #2517
As I understand it, you cannot install packages due to SSL restrictions, so there is no `docusaurus-examples` command.

I therefore provided links where you need to run the command like the one below to install all the required packages:
[code]

Doesn't this fix the issue?

[2020-04-03 12:46] AlbertDavid94 commented on #2517
Again, there is **no** package.json.

[2020-04-03 12:56] lex111 commented on #2492
The Bootstrap website is a better example  https://getbootstrap.com/
I think we need to do by analogy as there.

[2020-04-03 13:23] pfongkye commented on #2274
Hello @lex111
I've tested with version `2.0.0-alpha.50` and it deployed correctly.

[2020-04-03 13:24] lex111 commented on #2274
Great, thanks for the confirmation!

[2020-04-03 13:24] #2274 closed

[2020-04-03 15:30] mohamedsgap commented on #2507
oh okay, just let me know what we need to render on this page, and I gonna take this issue and submit the PR asap @yangshun

[2020-04-03 19:25] JaceHensley opened #2522 "CodeBlock Horizontal Scroll Could Be Improved"
## 🐛 Bug Report

Currently the CodeBlock contents scroll when too long, but the way it looks could be improved. Right now

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Use CodeBlock with code that has long line length
1. See that the inner "well" is clipped instead of ha

[2020-04-03 20:06] Noah-Silvera opened #2523 "Codeblock Copy button styling broken in "classic" template"
## 🐛 Bug Report

The copy button styling for the codeblock in the "classic" template is broken. The "copy" text is  dark against a dark background

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1.Initialize a new docusaurus project using the create script and "classic" templ

[2020-04-03 20:20] dalexhd commented on #2523
I also had the same issue. Currently we will need to wait until next release. https://github.com/facebook/docusaurus/pull/2502#issuecomment-608570006_

[2020-04-03 21:14] lex111 commented on #2522
Hmm, on Linux there is no such issue, however, I did not want to complicate the markup of the code block with new (nested) HTML elements. Is this a really critical bug?

![screencast-v2 docusaurus io-2020 04 04-00_10_56](https://user-images.githubusercontent.com/4408379/78405405-16f29000-7609-11ea-94d5-4789ed3c27f7.gif)

[2020-04-03 21:18] lex111 commented on #2523
Sorry about this, as a workaround (temporary) solution, you can [define your own Prism theme for dark mode as done on v2](https://github.com/facebook/docusaurus/blob/master/website/docusaurus.config.js#L69).

[2020-04-03 21:23] JaceHensley commented on #2522
No it's not critical, just nicer looking. Also that gif doesn't look like the same element, there's no outer darker container with the lighter inner container

[2020-04-03 21:27] lex111 commented on #2522
It really should not be, this is a record from v2 website, which uses the latest version D2.

[2020-04-03 21:31] JaceHensley commented on #2522
Hmm odd, [this](https://bloom.co/documentation/share-kit/full-example) is the link to our docs which I just redeployed with the latest alpha.

Maybe it's a different component? I noticed CodeBlock in the classic theme didn't use code/pre but that's what's rendered for me there

[2020-04-03 21:36] lex111 commented on #2522
It looks like you are not using the latest version, as we have added a version name to the meta tag. For example, on website of v2:

[code]

In the source code by your link does not specify the version at all:

[code]

[2020-04-03 21:40] JaceHensley commented on #2522
Weird, I'll double check when I get back to my computer. Thanks!

[2020-04-04 00:33] JoseRenan commented on #2467
Hi! I'm a first-time contributor on docusaurus, could I work on this issue?

[2020-04-04 01:52] phated opened #2525 "[v2] unable to use theme-classic without remark-admonitions"
## 🐛 Bug Report

Due to https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/index.js#L56, you are unable to to use the `@docusaurus/theme-classic` theme without installing the `remark-admonitions` module. This shouldn't be a hard requirement.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTI

[2020-04-04 05:06] #2523 closed

[2020-04-04 07:01] lex111 commented on #2525
This is weird, since we included admonitions in core (so there should be no errors with CSS file), how did you remove this module?

[2020-04-04 07:07] lex111 commented on #2516
@yangshun so do we use synchronous write to sitemap file?

[2020-04-04 08:42] yangshun commented on #2516
Let's do that if we aren't already

On Sat, Apr 4, 2020, 3:08 PM Alexey Pyltsyn <notifications@github.com>
wrote:

[2020-04-04 09:09] aeneasr opened #2528 "Support versioning of individual sections"
## 🚀 Feature

First of all, thank you for docusaurus - we use it exclusively in v1 for https://www.ory.sh/docs/ and it's been a treat!

Similar to Angular, React, and other ecosystems we have several projects (ORY Kratos, ORY Hydra, ...) that need documentation. Right now, we run one docusaurus installation for all these projects. This is very tricky from a versioning standpoint because it is not

[2020-04-04 09:35] lex111 commented on #2516
@SamChou19815 you don't want to do it?

сб, 4 апр. 2020 г. в 11:42, Yangshun Tay <notifications@github.com>:

[2020-04-04 13:36] fanny commented on #2470
Good question @SamChou19815. I'll investigate

[2020-04-04 13:47] SamChou19815 commented on #2516
My concern is that the implementation detail of terminating the process has been leaked into the userland.

Let's imagine an example: suppose a user creates a plugin that generates a `robots.txt` file that includes all paths of docs but excludes everything else. If the user implements it in the same way we did currently (use `writeFile` with callback), then it will run into the same situation that

[2020-04-04 13:55] fanny commented on #2528
I think that would be a good addition, but I don't see many use cases for this feature, because if we have different projects why not create a specific documentation for each?

Right now, as far as I know, we can select an specific version for whole site and see a tag in each page like below:

![F135E7CA-D285-412E-9041-104716717142_1_105_c](https://user-images.githubusercontent.com/14113480/784524

[2020-04-04 14:01] fanny commented on #2492
I think that was implemented here https://github.com/facebook/docusaurus/pull/2487, right?

[2020-04-04 14:02] aeneasr commented on #2528
Yeah, I'm currently exploring to structure them individually (so one docusaurus "installation" per docs) and then just link between the projects. I also think that this would probably be a very edge case solution, especially - as I'm thinking about this - properly tagging / versioning each project will become kind of messy when automated.

Separating docs into different repos for each project prob

[2020-04-04 14:25] fanny commented on #1196
@yangshun I think that would be a good way to explore more the plugins config. What do you think?

[2020-04-04 17:31] DaHolt commented on #2528
I'd love it if this was possible. At the moment we're having to use four separate docs for each of our products due to each have different versions which is fine, but each one is a separate domain which isn't great. It would be really nice if we could do what we have the moment in one doc and therefore, all docs under one domain.

[2020-04-04 20:45] phated commented on #2525
@lex111 you don't include admonitions in core (see https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/package.json#L34-L88) but include it only in preset-classic (https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-preset-classic/package.json#L19) which I'm not using because I always avoid the preset. I think this theme should check if admonitions is enabled

[2020-04-04 23:07] phated opened #2532 "[v2] Swizzling doesn't fail on case-insensitive filesystems"
## 🐛 Bug Report

When running `docusaurus swizzle` on a case-insensitive filesystem like MacOS, it can successfully export but the new file won't be used.

I was trying to swizzle the NavBar, but it wasn't working. So, I did some searching and found that the file is actually named Navbar (no capital B) but the swizzle succeeded because MacOS is case-insensitive.

### Have you read the [Contributin

[2020-04-05 01:07] Alcatros commented on #2407
No it isnt, the naming made me think it was but it was the prior version

Would have been nice if you wrote it into the new codebase, the current Docusaurus cant be used without the consent notices for spying which documentation pages are visited. Makes it very unuseable, we like Docusaurus very much but compliance comes first

[2020-04-05 04:18] #2516 closed

[2020-04-05 06:35] lex111 commented on #2525
@phated aah, I get it, we did not consider the case when someone can use the classic theme directly without using the preset (this is not a very popular use case).

[2020-04-05 07:08] #2467 closed

[2020-04-05 09:34] #2501 closed

[2020-04-05 10:29] aeneasr opened #2537 "[v2] Support index.md filenames / IDs"
## 🚀 Feature

Docusaurus v1 had a feature where creating an `index.md` file would generate an `index.html` file at the same, relative, directory path:

[code]

generates

[code]

In v2, creating - using the docs plugin - an `index.md` file results in a structure of `index/index.html`.

[code]

generates

[code]

This requires calling `http://foo.bar/docs/getting-started/index` or even `http://foo.

[2020-04-05 10:33] yangshun commented on #2537
Sure, we're open to this. But why don'y use create `getting-started.md` instead?

[2020-04-05 10:35] aeneasr commented on #2537
Maybe `getting-started` was a bad example, let's take:

[code]

[2020-04-05 10:37] yangshun commented on #2537
Makes sense 👍

[2020-04-05 12:19] Celeborn2BeAlive opened #2539 "[v2] RSS feed generation seems broken"
## 🐛 Bug Report

The rss.xml and atom.xml files are empty after building.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new docusaurus 2 project with `npx @docusaurus/init@next init exploring_docusaurus2 classic`
2. Add blog entry to docusaurus.config.js as desc

[2020-04-05 15:09] #2539 closed

[2020-04-05 15:51] aeneasr opened #2543 "[v2] Generated sitemap is empty"
## 🐛 Bug Report

The file `./build/sitemap.xml`  which is generated by docusaurus-plugin-sitemap is just an empty file.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

[code]

## Expected behavior

Sitemap should be generated.

## Actual Behavior

Sitemap is empty.

## Your E

[2020-04-05 15:52] yangshun commented on #2543
Fixed in #2530

[2020-04-05 15:53] aeneasr commented on #2543
Oh sorry, I saw that PR but thought it was already released - looks like that's not the case :)

[2020-04-05 15:53] #2543 closed

[2020-04-05 15:54] aeneasr commented on #2537
I could try to help, although I would need pointers because I've never worked with docusaurus internals.

[2020-04-05 17:16] yangshun opened #2546 "docs(v2): add team member profile"
## 💥 Proposal

This task isn't really involve coding, it is more about familiarizing with markdown and getting to know the people involved in the project (past and present).

- Add member profiles to the "Team" and "Honorary Alumni" section on https://v2.docusaurus.io/docs/next/team. Reach out to the various people and get them to provide a profile. Similar to https://reactjs.org/community/team.ht

[2020-04-05 17:19] yangshun commented on #2528
Ideally want to have versioning on a sidebar-level, and not on a site-level. That was our oversight when we implemented versioning in v2.

[2020-04-05 17:21] fanny commented on #2546
Great suggestion! I would like to work on this! Also, In the suggested template, there are some phrases, after the photos. Can you guys left your description here?

@lex111 @JoelMarcey  @yangshun

[2020-04-05 17:23] yangshun commented on #2481
Is this for v2 or v1? It's not that obvious, but in v2 you can have multiple blogs as long as you specify your own blog plugin under the plugin section. Maybe we should be documenting this instead.

[2020-04-05 17:26] yangshun commented on #2546
cc @wgao19 as well

[2020-04-05 17:37] yangshun commented on #2481
I just tested it and it works

[code]

[2020-04-05 17:49] yangshun commented on #2414
We use a CSS reset in v1 and that's the point of a CSS reset. To reset the default browser styling. You'd have to add your own styling for those elements.

[2020-04-05 17:49] #2414 closed

[2020-04-05 17:56] raisty commented on #2414
Sure, this is best solution to reset. Unfortunately there are not correct defined some elements...
I can give you some fixes, if you want.
But seems better will be release v2... 🐐

[2020-04-05 18:01] Dannyholt opened #2548 "Codeblocks breaking layout on iPads (horizontal scrolling)"
## 🐛 Bug Report

Code blocks appear to cause horizontal scrolling on landscape iPads (not tried other tablets), but this also appears on Chromes emulator.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yep

## To Reproduce

1. Visit any doc which have code blocks e.g. [Markdown Features](https://

[2020-04-05 19:38] markerikson opened #2551 "Admonitions broken in .mdx files as of v2.0 alpha.50"
## 🐛 Bug Report

Docusaurus is no longer correctly parsing admonition blocks in files with a `.mdx` extension as of alpha.50.  They worked correctly in alpha.48 .

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a project using v2 alpha.48
2. Create a `.mdx` file and

[2020-04-05 19:43] JoseRenan commented on #2492
@fanny I suppose that it's about showing also the v1 also on the dropdown :thinking:

[2020-04-05 19:53] yangshun commented on #2551
Instead of

[code]

try

[code]

with the empty lines around the content. See if it helps.

[2020-04-05 19:58] markerikson commented on #2551
Was doing that already:

[code]

[2020-04-05 19:59] phated commented on #2525
@lex111 is there a reason that `remark-admonitions` isn't just providing that lifecycle hook for itself?

[2020-04-05 21:47] JoseRenan commented on #2492
In this case, fixing the version on the topbar to display the version selected by the drop-down that @fanny shown resolves the problem? If so, could I work on it?

[2020-04-05 23:21] JaceHensley commented on #2522
So I'm definitely on alpha 50 and this may be why it's not showing up in the meta tag https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/src/client/templates/index.html.template.ejs#L6.

I was able to get it looking like your gifs if I use `@docusaurus/theme-live-codeblock`. So I think the base theme just needs to be updated to match the design of the live code block theme

[2020-04-05 23:45] JaceHensley commented on #2522
The new code block does still have the problem where the right edge, when scrolled, doesn't have padding (on macos on FF, Chrome, and Safari). I think this is due to just how CSS overflow/padding works. Which is one of the same problems I first had, but again not critical

[2020-04-06 01:13] amimas commented on #2407
Not sure what you mean @Alcatros . It was just a workaround showing how gtm can be used with V1 as of this moment.

[2020-04-06 03:58] yangshun commented on #2525
We should shift `'remark-admonitions/styles/infima.css'` out of `packages/docusaurus-theme-classic/src/index.js` into the preset but unfortunately presets don't allow lifecycle hooks at the moment. We might need to change that or create a new API to modify themes within presets. The dependency is a bit tangled up at the moment :/

[2020-04-06 08:26] aeneasr commented on #2537
This becomes more acute when we run Docusaurus in "docs only" mode because we can't generate the index.html of the root directory. There's also #1973 which is a symptom of this issue IMO, but the proposed workaround https://github.com/facebook/docusaurus/issues/1973#issuecomment-554063866 does not work when using docs only mode!

[2020-04-06 08:28] aeneasr commented on #1973
The proposed workaround does not work when using docs only mode. The missing `index.md` feature also affects subdirectories - see #2537

[2020-04-06 10:14] uanaoeng commented on #2481
Hi, yangshun, thanks for your reply.

This is for v1.

And in addition, I've find out that the TOC (Table Of Content), which is a important feature for me, is not available by default in v2, is this also can to be achieved by specifying the plugin?

[2020-04-06 11:35] fanny commented on #2492
Could you confirm if this is the purpose of this issue? @lex111. IMO, you are right, @JoseRenan is confused, to select a version with the dropdown and see another on the topbar.

[2020-04-06 12:18] fanny commented on #2481
Is basically provide other object like:
[code]
And can we route for both things?

[2020-04-06 12:33] ghominejad opened #2552 "In markdown, Link to the content doesn't work when the link name is Unicode"
## 🐛 Bug Report

All non-ASCII links to the page content work fine except those are not in ASCII!
These links work inside the table of content (TOC) perfectly but not working from the document itself!

As you can see the example below I've used Persian characters in the link and won't work:
[code]

[2020-04-06 15:53] daneah commented on #2152
I've tried the temporary workaround described above, and it indeed works for development, but I'm finding that it breaks the production build. We're using web components with React wrappers—not sure if that specific use case is what's breaking things?

<details>
<summary>Error message</summary>

[code]
</details>

[2020-04-06 16:13] yangshun commented on #2152
@daneah Refer to https://v2.docusaurus.io/docs/docusaurus-core#executionenvironment and https://v2.docusaurus.io/docs/docusaurus-core#browseronly

[2020-04-06 16:32] daneah commented on #2152
@yangshun thanks for the quick reply and suggestions. I tried inserting the workaround above only `if (ExecutionEnvironment.canUseViewport)` and also tried wrapping my `jsx live` code block in `<BrowserOnly />`, neither of which seemed to work. Was that what you were suggesting, or am I still missing something? Appreciate the help!

[2020-04-06 16:36] yangshun commented on #2152
Try `ExecutionEnvironment.canUseDOM()`

[2020-04-06 16:46] daneah commented on #2152
Same results, it appears. Specifically, after `import * as Components from '@our/react-package';` is fine, but adding the line `scope = {...React, ...Components}` causes the error to arise.

[2020-04-06 21:38] daneah commented on #2152
Tracked this down to a piece of code in `lit-html`, so my suspicion about this being web component-specific was indeed true. Not sure why the `ExecutionEnvironment` trick isn't working for me, but will continue to tinker.

[2020-04-07 20:47] smyrick commented on #2507
Maybe instead it should just redirect to the "real" home page https://v2.docusaurus.io/docs/introduction

[2020-04-07 21:14] chandankumar4 commented on #2350
Thanks @benclmnt, I'll check this out

[2020-04-07 22:06] fanny commented on #2546
I was thinking if isn't better create a component to render this, the visual that is applied for each member is equal, we can have a .json with the members info, like, the github, twitter, and a brief description about the person.

[2020-04-08 12:39] yangshun opened #2560 "chore(v2): migrate @endiliey/lqip-loader to our monorepo"
## 💥 Proposal

As a follow up to #2544 by @Simek, we want to move https://github.com/endiliey/lqip-loader into our monorepo for better maintenance. While that's done, we need to move a few more things too:

- [ ] Convert [original tests](https://github.com/endiliey/lqip-loader/tree/master/test) to Jest
- [x] Potentially convert the loader into TypeScript

Help is welcome!

### Have you read the [C

[2020-04-08 14:49] francoischalifour opened #2562 "[v2] document the programmatic navigation API"
## 🚀 Feature

A programmatic way to navigate through pages.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Docusaurus v2 exposes a [`Link` component](https://v2.docusaurus.io/docs/docusaurus-core/#link) but doesn't seem to support a **programmatic way to navigate through page

[2020-04-08 15:02] yangshun commented on #2562
We do something similar for our Algolia theme component - https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js#L47

We use React Router as the underlying router.

[2020-04-08 17:40] lex111 commented on #2548
@Dannyholt I can't reproduce it, which iPad do you use?
It seems that this bug has already been fixed, can you confirm this on your side?

[2020-04-08 18:00] Dannyholt commented on #2548
@lex111

I've just checked again, cleared browser history etc... and I'm still seeing the issue. I'm using an iPad Pro (2018) and is happening in all browsers (Chrome, Safari and FF), but only in Landscape.

I also had a colleague check on his iPad Mini and he gets the same horizontal scrolling.

[2020-04-08 18:02] lex111 commented on #2548
@Dannyholt thanks for the confirmation, try to fix it.

[2020-04-08 21:57] watzon opened #2564 "prism.additionalLanguages broken in v2"
## 🐛 Bug Report

`themeConfig.prism.additionalLanguages` seems to be broken in the most recent v2 alpha.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

- Create a new docusaurus app using `2.0.0-alpha.50`.
- In `docusaurus.config.js` within `themeConfig` add
[code]
- Run `np

[2020-04-08 23:20] lex111 commented on #2564
I cannot reproduce with similar errors, but Crystal syntax highlighting really will not work like that, because you still need to include Ruby, because Crystal extends it's syntax (this is done in Prism)

[code]

[2020-04-08 23:24] watzon commented on #2564
@lex111 I tried that as well. I still get the same error in the terminal, and in the browser console I get `Error: Cannot find module './prism-ruby'`.

[2020-04-08 23:36] watzon commented on #2564
Weird. It works when I deploy to zeit, just not locally. So it has to be a system issue.

[2020-04-08 23:50] watzon commented on #2564
Ok well I got it working locally. I was using asdf to version node, so I uninstalled the asdf node plugin and installed node using my system package manager. Now things work.

[2020-04-08 23:50] #2564 closed

[2020-04-09 00:58] hammadj opened #2565 "Ability to set dark mode as default"
## 🚀 Feature

I would like to set the default theme of my Docusaurus website to be in dark mode instead of light mode

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The branding for my project is more dark, so I would like the website to default to dark mode to fit the brand

[2020-04-09 06:50] lex111 commented on #2551
I could not reproduce it locally, it works for me correctly:

[code]

Result:

![image](https://user-images.githubusercontent.com/4408379/78866003-4eb56980-7a47-11ea-81b4-f27a653bcc67.png)

Try removing `node_modules` dir and reinstalling deps.

[2020-04-09 10:19] jcomack opened #2567 "Allow marking a documentation page as the landing page"
## 🚀 Feature

Allow maintainers to configure a documentation page as their landing page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Currently, Docusaurus allows users to setup in a 'docs only' mode, which requires setting your `routeBasePath` to an empty string and redirec

[2020-04-09 10:38] francoischalifour commented on #2562
Yep that's perfect, I missed that one for some reason—thank you!

(It'll be a nice addition to the documentation)

[2020-04-09 10:42] xgp opened #2568 "bug(v2): href links in Footer append a leading slash to mailto: links"
## 🐛 Bug Report

Using the preset-classic theme, when you add a link to the `footer` element of the `themeConfig` using an `href`, it automatically appends a leading slash if the content of the `href` doesn't start with an `http`. This breaks `mailto:` links.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-

[2020-04-09 12:55] yangshun commented on #2567
We could add an option to the `@docusaurus/plugin-content-docs` to specify the root route to map to another doc route.

[2020-04-09 15:19] yangshun commented on #2492
This is quite hard because versioning should be a doc-plugin only concept and the navbar currently isn't able to fetch it.

[2020-04-09 20:56] Noah-Silvera opened #2571 "@docusaurus/plugin-ideal-image doesn't respect `sizes` or `size` option."
## 🐛 Bug Report

The @docusaurus/plugin-ideal-image doesn't respect `sizes` or `size` option.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new project from the classic template as per [instructions](https://v2.docusaurus.io/docs/installation)
2. Add the `@docus

[2020-04-09 21:17] Noah-Silvera commented on #2571
After more testing, I figured out that this issue only affects development mode. The options are respected in a production build. Created a [documentation PR](https://github.com/facebook/docusaurus/pull/2572) to note this.

[2020-04-09 21:17] #2571 closed

[2020-04-09 21:52] Gtosta96 commented on #2494
@lex111 I'm having troubles importing `<BrowserOnly> into my project.
`Cannot find module '@docusaurus/BrowserOnly'`. I'm using `@docusaurus/core": "2.0.0-alpha.50` installed. Could you help me? =(

[2020-04-09 22:54] jsjoeio commented on #2354
### WIP Approach

These are some rough notes on how I'm thinking of approaching this.  Note: they are more meant for me so you can ignore them if you're watching this issue.
- creating a test site using the suggested Categories: "Introduction", "Reference"
- see if swizzling the `DocSidebarItem` is a an approach we can take and then go from there.

### Notes

Hard to tell exactly where the code re

[2020-04-10 02:12] nebrelbug opened #2573 "feat(v2): add fallback to BrowserOnly component"
## 🚀 Feature

Fallback support for the BrowserOnly component, for SEO reasons.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I'm embedding RunKit playgrounds on my Docusaurus v2 sites (https://eta.js.org) and (https://squirrelly.js.org). I want fallback content to render if t

[2020-04-10 02:19] nebrelbug opened #2574 "feat(v2): allow `activeBasePath` to be a Regular Expression"
## 🚀 Feature

Currently,`activeBasePath` can only be a string. Allowing it to be a Regular Expression would solve use cases

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

On https://eta.js.org, I have several "sections" of documentation pages. "Docs" contains API and syntax do

[2020-04-10 03:27] yangshun commented on #2574
Sounds reasonable. Let's support both `String` and `RegExp` types.

[2020-04-10 03:29] yangshun commented on #2573
Sounds reasonable. I like that this API is similar to `<Suspense fallback={...}>` (as of now).

[2020-04-10 03:30] yangshun commented on #2568
Indeed, we failed to account for such a use case and assumed all href values are browser URLs

[2020-04-10 09:55] ArielGueta opened #2575 "Link to resources is not correct"
I'm using `v2.0.0-alpha.50`, and when I run the `build` command I get the wrong path for the resources inside the `build/index.html` file, for example:

[code]

Where it should be:

[code]

I can't find any option in the docs to change this.

[2020-04-10 10:39] lex111 commented on #2575
You probably specified custom `baseUrl`, we need your website config so that we can help you.
https://v2.docusaurus.io/docs/docusaurus.config.js#baseurl

[2020-04-10 10:43] ArielGueta commented on #2575
[code]

[2020-04-10 10:47] lex111 commented on #2575
We need a full real config or best of all the repository in which it is possible to reproduce this issue.

[2020-04-10 10:51] ArielGueta commented on #2575
Sorry, a stupid mistake from my end. Thanks for the quick support, and this awesome tool!

[2020-04-10 10:51] #2575 closed

[2020-04-10 11:56] KingScooty opened #2576 "Non declared dependencies throwing errors in Yarn v2 (berry)"
## 🐛 Bug Report

Attempting to use Docusaurus v2 with Yarn v2 (berry).
As soon as i run `yarn build` the build explodes with dependency errors from yarn v2.

Lots of peer dependencies aren't specified and yarn v2 doesn't know what to do.

### Example error
[code]

Interesting that this doesn't happen in yarn v1, but it seems to be due to no dependencies/peer dependencies being specified for the va

[2020-04-10 16:52] xgp commented on #2568
Thanks. Should I try to fix it and submit a PR? Do you think the correct entry point is to update `@docusaurus/Link` to take a new prop (e.g. mailto)?

[2020-04-10 18:04] oriooctopus opened #2577 "How to override infima variables"
## ❓ Questions and Help

In my custom.css file, I can override the basic color variable such as `--ifm-color-primary`, but I can't seem to override the other variables such as `--ifm-heading-vertical-rhythm-bottom)`

Is this at all possible?

[2020-04-11 06:49] joeplaa commented on #2027
@amimas thanks for your reply. You're mentioning a Lambda function you are using:

Are you willing to share that? I have the same setup and this would solve my problem.

Thanks

[2020-04-11 09:15] lex111 commented on #2522
This has been fixed in #2533

This template applies to SPA, so when you are building your website, another template is used, in which the version of Docusaurus will be indicated in the meta generator tag.

[2020-04-11 12:25] ghominejad opened #2581 "Changing the plugin context values"
I have tried to change the context values but it doesn't seem to be possible inside the plugin :
[code]

[2020-04-11 13:30] lex111 commented on #2581
What do you want to achieve? Please fill out the issue strictly according to the opened [template](https://github.com/facebook/docusaurus/issues/new?labels=feature%2C+needs+triage&template=feature.md), only this way we will help you.

[2020-04-11 14:59] #2548 closed

[2020-04-11 14:59] #2568 closed

[2020-04-11 15:00] #2552 closed

[2020-04-11 15:50] #2581 closed

[2020-04-11 18:00] SamChou19815 commented on #2576
This is a little tricky. Docusaurus v2 runs on a plugin system, so `@docusaurus/core` should not even know about the existence of `@docusaurus/plugin-content-blog` and should not declare plugin-specific stuff as its peer dependencies.
Right now Docusaurus relies on `@docusaurus/theme-classic`'s dependencies (including `@docusaurus/plugin-content-blog`) to be hoisted to the root of `node_modules`.

[2020-04-11 22:17] fanny commented on #2470
I think that is possible, I'll test this approach: https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#a-simple-transform-function

[2020-04-11 22:19] fanny commented on #2565
Good proposal. Maybe we can have a opt-in config in the `docusaurus.config.js` file to activate and deactivate this feature.

[2020-04-11 22:23] fanny commented on #2532
I'll try to investigate

[2020-04-12 07:03] chinajinwanjun opened #2586 "When will the multi language feature of i18n release?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus)

[2020-04-12 15:44] Hongarc opened #2589 "Add `docusaurus` to awesome-nodejs"
This project is awesome

I created a PR sindresorhus/awesome-nodejs#1032.

Can you help me add more detail about [that project](https://github.com/sindresorhus/awesome-nodejs) and correct me if I'm wrong.

Thank you.

[2020-04-12 16:03] yangshun commented on #2589
Not an issue.

[2020-04-12 16:03] #2589 closed

[2020-04-12 22:22] chengtie opened #2594 "Correct approach to load external libraries and undertake operations upstream to Docusaurus and ensure the correct order of loading files"
Hello,

I guess it happens often that we may need to load external libraries and undertake some operations in the very beginning of our Docusaurus website, I'm wondering what's the correct and common way to do so. The follows is our try, which did not work quite well.

------------------------------

I'm taking over [a website](https://www.10studio.tech/docs/verificatorResearch/) by [V2 Docusaurus

[2020-04-13 11:20] kripod opened #2598 "improvement(v2): typography"
## 🚀 Feature

The default settings for Infima provide tight line heights, which is hard to comprehend, especially on desktop. Also, the root font size is overridden by a small, pixel-based value, which is bad for accessibility.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I

[2020-04-13 14:27] Gtosta96 commented on #2494
Can I use ExecutionEnvironment outside .mdx files?
I'm facing the following issue when importing ExecutionEnvironment inside .tsx files.

`Cannot find module '@docusaurus/ExecutionEnvironment'.`

[2020-04-13 15:40] kripod opened #2599 "improvement(v2): customizable code snippet copy button"
## 🚀 Feature

Currently, the background color of the code snippet copy button is [not customizable](https://github.com/facebook/docusaurus/blob/ea8c916528d448b2d0684597158a9506fb40fa98/packages/docusaurus-theme-classic/src/theme/CodeBlock/styles.module.css#L33).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-n

[2020-04-13 16:02] kripod commented on #2599
It looks like that #2526 has fixed this problem. However, it'd be great to make other aspects customizable (e.g. uppercased letters for "COPY").

[2020-04-13 17:53] lex111 commented on #2599
For these purposes, you need to swizzle the CodeBlock component, these are very special cases to make them customizable.

[2020-04-13 22:04] jsjoeio commented on #2354
I was able to swizzle `DocSidebar` and make the category open by default.

![2020-04-13 14 56 00](https://user-images.githubusercontent.com/3806031/79164941-f956c080-7d96-11ea-96a4-f71223f62306.gif)

Next is how to implement this?

### Suggested approach:

Modify the [Sidebar object](https://v2.docusaurus.io/docs/docs/#sidebar-object). Currently, it looks like this:
[code]

New proposed interfaces

[2020-04-13 22:06] jsjoeio commented on #2354
## Todos

- [ ] add failing test to `packages/docusaurus-plugin-content-docs/src/__tests__/sidebars.test.ts`
- [ ] update interfaces in `packages/docusaurus-plugin-content-docs/src/types.ts`
- [ ] run tests
- [ ] test change locally by creating a new site
- [ ] open PR

[2020-04-13 22:47] jsjoeio commented on #2354
Failing test added:
<img width="1144" alt="image" src="https://user-images.githubusercontent.com/3806031/79168038-c6fc9180-7d9d-11ea-8350-8961d0d98345.png">

But updating the interfaces did not work as expected...Hmm

[2020-04-13 23:00] jsjoeio commented on #2354
Ah, I had to update a view functions:
- `assertIsCategory`
- `normalizeCategoryShorthand`

Snapshot written ✅

[2020-04-13 23:05] jsjoeio commented on #2354
Additional suggestion: we should link to the `local-third-party-project-testing.md` in the `CONTRIBUTING.md`

[2020-04-13 23:15] jsjoeio commented on #2354
TIL: you can publish learna to verdaccio like so

[code]

[2020-04-13 23:36] jsjoeio commented on #2354
Wow...I forgot that before `npx` we just installed everything globally 😂 I was like "how do I do this if I can change the registry for npx..."

https://github.com/zkat/npx/issues/133#issuecomment-345027555

[2020-04-13 23:40] jsjoeio commented on #2354
Okay this needs to be documented somewhere:

## Testing your changes locally

1. Set up verdaccio
2. run `yarn lerna publish --registry http://localhost:4873`

If you need to test something like a new docusaurus site,

1. install `@docusaurus/init` globally with
[code]
This will install from your verdaccio registry
2. create a new site with it
[code]

[2020-04-13 23:50] jsjoeio commented on #2354
Hmm...now I'm not sure if this is actually the right way to test things locally. Talking out loud here...

I made changes to `@@docusaurus/plugin-content-docs`. This package is used in other packages including `@docusaurus/theme-classic`.

What I should do is create a new docusaurus site that uses the `@docusaurus/theme-classic` from my verdaccio registry. Does that mean that I can do this?

1. `n

[2020-04-14 01:38] amimas commented on #2027
@joeplaa glad you found a pointer to get started. In case it helps, you can also deploy the following directly from aws lambda. The concept is the same.

https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:621073008195:applications~standard-redirects-for-cloudfront

[2020-04-14 10:26] grananqvist commented on #1059
+1

[2020-04-14 11:43] jcomack opened #2601 "Bug (v2): Meta description outputting MDX import statements"
## 🐛 Bug Report

MDX import statements which are required to be placed on the first line of a doc (i.e. after the doc header section), are being used in meta descriptions.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new doc item.
1. Write the necessary header

[2020-04-14 11:53] lex111 commented on #2601
I tried to fix it in [this PR](https://github.com/facebook/docusaurus/pull/2380), but @yangshun did not approve of it. Unfortunately, in the current architecture, it is difficult to come up with something else.
@yangshun so can we give this PR another chance?

[2020-04-14 11:55] jcomack opened #2603 "Improvement (v2): Allow authors to define a canonical URL to help with SEO"
## 🚀 Feature

Allow users to define an optional canonical URL per doc item.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
Allowing users to define a canonical URL will greatly help with pointing search engines into the right direction, especially when multiple versions of the

[2020-04-14 12:15] jdevalk opened #2604 "Add lastmod to sitemap"
## 🐛 Bug Report

The XML sitemaps currently output `loc`, `changefreq` and `priority` for every `url` set. I would propose dropping the `changefreq` and `priority` fields, as none of the search engines use these, and instead _adding_ the `lastmod` field, with the last modification date of the file.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/bl

[2020-04-14 12:17] jdevalk opened #2605 "Don't include the 404 route in XML sitemaps"
## 🐛 Bug Report

When testing the XML sitemaps I found that the first URL in it on our site was the 404 route:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. I guess: open any DocuSaurus v2 XML sitemap.

## Expected behavior

The XML site

[2020-04-14 14:22] wallynm commented on #2586
I would like to work into this but don't now where to start or what it's planned, would appreciate help from some maintainer

[2020-04-14 14:50] Alquimista3301 commented on #1437
Hello I would like to support, what projects are available? 🖖

[2020-04-14 15:07] RDIL commented on #2604
I think this would be a good addition, but I do know web crawlers that use the priority field.

[2020-04-14 15:10] jdevalk commented on #2604
@RDIL such as? Honestly I’ve been doing SEO for well over a decade, not seen it used in the last 5 years.

[2020-04-14 15:12] RDIL commented on #2418
Hi!  I'd love to help.  The translation of the error looks to be `SCRIPT438: Object does not support "assign" attribute or method`.

Can you please attach the file `main.2d92dee9.js` from your site build?

[2020-04-14 15:12] RDIL commented on #2604
Fair enough.

[2020-04-14 16:03] ghominejad commented on #2445
@mnbf9rca Try this plugin, i've just published it to npm

https://github.com/acrobit/docusaurus-plugin-auto-sidebars

You can override the name or the order of folders in the `sidebars.yaml` file.

[2020-04-14 16:57] yangshun commented on #2605
Seems legit. PRs welcome!

[2020-04-14 17:18] watzon opened #2607 "Meta description not formatting/removing markdown"
## 🐛 Bug Report

I don't know if this is 100% a bug or not, but the meta description created for blog posts includes unformatted markdown.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Write a blog post where markdown is used in the section that will become the meta descrip

[2020-04-14 18:36] wallynm commented on #2586
@yangshun ok so, still i wish to implement this through plugins but didn't investigate too much, you think this would be possible?

[2020-04-14 19:02] yangshun commented on #1437
Everything here is up for grabs :)

[2020-04-14 19:11] yangshun commented on #2604
Great idea! Thanks for the suggestion!

[2020-04-14 19:22] yangshun commented on #2601
The fix might also fix https://github.com/facebook/docusaurus/issues/2607. A few suggestions I have:

- Compile the Markdown/MDX into just text form before extracting the description. This will incur a performance cost but would eliminate the issue entirely
- Add a description front matter field to override the automatic extraction of the description. This is troublesome for users but might be use

[2020-04-14 19:22] yangshun commented on #2607
Potentially could use the same solutions as #2601

[2020-04-14 21:53] kripod opened #2609 "[v2] Text near code spans illegible with note admonitions in dark mode"
## 🐛 Bug Report

In dark mode, the text surrounding code spans may become illegible, as the code span's background gets mixed with the text color. For instance, the `,` after `breakpoints` is almost invisible below:

![image](https://user-images.githubusercontent.com/14854048/79277100-770af100-7ea9-11ea-845c-97f33b58155c.png)

Better results can be achieved by putting spaces near code spans – "( `

[2020-04-14 22:19] jsjoeio commented on #2354
To be honest, I'm not sure if that worked...I created a new website with `npx` then tried installing the local package. Nothing broke, but also confused. I'm not sure if using the `collapsed` property would have resulted in an error without my changes.

I'm worried that somehow when I run `npx` it's using my local verdaccio registry.

[2020-04-14 22:28] jsjoeio commented on #2354
Suggestion, the swizzle section of the docs should have an example:

[code]

[2020-04-14 22:37] jsjoeio commented on #2354
Okay I think I'm getting somewhere...I set up a new site, swizzled the `DocSidebar` and updated the `sidebars.js` to use the new property `collapsed`

[code]

And I'm getting the error:
[code]

This is good! Now, if I try what I tried above (using my local package), and restart, the error should go away.

## Update

Looks like it did! The functionality isn't fully working, but at least we know the

[2020-04-14 22:47] jsjoeio commented on #2354
Continuing to test with my changes...one thing I'm noticing is that the `collapsed` property is being overwritten somewhere so my changes aren't working as expected. Let's dive deeper and find out why.

[2020-04-14 22:54] chengtie opened #2610 "Standard way to embed a video that occupies 100% of the width"
I would like to know if there is a standard way to embed in a page of Docusaurus a video that occupies 100% of the width.

-----------------

I'm building [a website](https://www.10studio.tech/docs/prettyFormula/) by [V2 Docusaurus](https://v2.docusaurus.io/).

I want to embed a youtube video into the page. I want the width of the frame to be `100%` of the page. I tried a lot of solutions, but the

[2020-04-14 22:58] jsjoeio commented on #2354
## Follow the trail

### <DocSidebarItem />

This is where the component is actually rendered. `collapsed` should be `false` when I set it to `false` in the `sidebars.js` but it's not. Let's move up a level to the parent - `<DocSidebar />`

### <DocSidebar />

Here, we receive `props.docsSidebars.someSidebar` (someSidebar is what I called my sidebar in `sidebars.js`) and the property `collapsed` i

[2020-04-14 23:09] jsjoeio commented on #2354
Ah-HA! I think it is here that it is happening:

[code]

This means `collapsed` will always be `true` - oops!

[2020-04-14 23:45] jsjoeio commented on #2354
I think I was misunderstanding how it worked. I added another test and it looks like `loadSidebars` is working as expected:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/3806031/79284390-5c1b8b00-7e6f-11ea-8186-2ed56e26ed77.png">

[2020-04-14 23:48] jsjoeio commented on #2354
Ah! I think I was looking in the wrong place. `<DocSidebarItem />` renders the individual item, not the category.

<img width="668" alt="image" src="https://user-images.githubusercontent.com/3806031/79284507-b4528d00-7e6f-11ea-8110-e29d7802bb04.png">

[2020-04-14 23:52] jsjoeio commented on #2354
Hmm...I think I'm looking in the wrong place.

The `collapsed` property does not correspond to the actual state value. the property does not change (which makes sense).

![2020-04-14 16 50 33](https://user-images.githubusercontent.com/3806031/79284645-21feb900-7e70-11ea-9152-8fe393647941.gif)

However, the property should be determined by the `sidebars.js` file which is currently not the case.

[2020-04-14 23:54] jsjoeio commented on #2354
Okay next step is to figure out how to pass down the correct value from the `sidebars.js` because once we get that, it should work as expected.

[2020-04-15 02:06] yangshun commented on #2610
You're hardcoding a width value which is larger than on most mobile, so that's expected. See how the [Flux docs](https://facebook.github.io/flux/docs/in-depth-overview) does it in https://github.com/facebook/flux/blob/master/docs/In-Depth-Overview.md.

[2020-04-15 02:07] #2610 closed

[2020-04-15 06:28] hotlong commented on #2418
Thanks RDIL，To reproduce this error, Open IE 11,
navigate to https://v2.docusaurus.io/docs/introduction/
You can see the page has lot of bugs, and debug console has some error messages.

[2020-04-15 13:00] kripod commented on #599
Is it possible to do this with v2? I would like to embed the `CONTRIBUTING.md` and `CODE_OF_CONDUCT.md` files from the repo's root, without the beginning `# Title` (`<h1>Title</h1>`).

[2020-04-15 13:12] dotansimha commented on #599
@kripod I created the same for v2, it's a bit buggy but works.

The plugin is here: https://github.com/dotansimha/remark-import-partial , and usage example: https://github.com/Urigo/graphql-mesh/blob/master/website/docusaurus.config.js#L82-L86

[2020-04-15 14:17] hong4rc commented on #1437
You can use `gh-dependents` to know dependents project

[code]

and check it has ready in user showcase

[2020-04-15 18:58] benmccann opened #2612 "docs(v2): unclear if React classes are supported in mdx or only functions"
## 📚 Documentation

I'm attempting to migrate the documentation for the popular [Chart.js](https://github.com/chartjs/Chart.js) library from GitBook to Docusaurus 2. I created an `.mdx` with the following contents :
[code]

It gives me the error:
[code]

If I simply remove `componentDidMount` then it works

Is there some restriction on the types of React components that I'm missing? I don't see an

[2020-04-15 20:18] jsjoeio commented on #2354
WOW!

The issue was right in front of my face.

[code]
I'll need to find a workaround in this `packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js`

[2020-04-15 20:25] jsjoeio commented on #2354
Talking out loud here...we have a function `mutateSidebarCollapsingState`. According to the comments:

We want to automatically expand the categories which contains the current page

That means when we load the page, expand the categories on the current page.

Cool!

I always find it helpful to use concrete examples. Let's do that to understand what we should implement.

## Example 1

I have a sit

[2020-04-15 21:04] jsjoeio commented on #2354
Let's try this out.

## Context
[code]

"Powering MDX" should not be collapsed because it's set to `false` in `sidebars.js`

## Before

This is what happens before I made any changes. (note: I load the page, "Powering MDX" is collapsed).

![2020-04-15 13 27 25](https://user-images.githubusercontent.com/3806031/79388145-b07f4300-7f21-11ea-96a2-395410a3725f.gif)

## After

I made the change and now

[2020-04-15 21:13] jsjoeio commented on #2354
[code]

NOTE: this pushes a new git tag 😅 Which is not desired, you can disable with the flag `--no-git-tag-version`

https://github.com/lerna/lerna/tree/master/commands/version#--no-git-tag-version

[2020-04-15 21:38] jsjoeio commented on #2354
Now, I am unsure if this works as expected...

1. `npx @docusaurus/init@next init my-website classic`
2. `cd my-website`
3. `npm install @docusaurus/preset-classic --registry http://localhost:4873`

I mean it worked to test changes to a plugin `docusaurus-plugin-content-docs` but I don't know if it's working to test changes to `docusaurus-theme-classic` womp womp womp...

[2020-04-15 22:11] jsjoeio commented on #2354
I tried this:
[code]

and then
[code]

But didn't have any luck...I think the issue is with verdaccio. the packages are showing up correctly on verdaccio
<img width="1321" alt="image" src="https://user-images.githubusercontent.com/3806031/79393933-2cca5400-7f2b-11ea-9228-104b1374b9bc.png">

However, when I install it, it looks like it's installing from the npm registry (at least the versions make

[2020-04-15 22:29] jsjoeio commented on #2354
Going a different route:
[code]

Let's see if this works

[2020-04-15 22:33] jsjoeio commented on #2354
Hmm...this is super ugly but it got the right versions:
[code]

[2020-04-15 22:35] jsjoeio commented on #2354
Hallelujah!!! IT WORKED!!! (notice how "Powering MDX" is not collapsed!!!!)

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3806031/79395544-b7608280-7f2e-11ea-9e69-7ada8ccfc883.png">

[2020-04-15 22:37] jsjoeio commented on #2354
Last thing to do is to update the documentation! 🎉 Then I can open a PR

[2020-04-16 00:01] fanny commented on #2470
I didn't found any good solution that can solve our problem with interoperability. One possible approach is use JSDoc, but I don't know if is the more appropriate. Since put types as comments, can be weird, but ensure that the types are correct and make the things easier to contribute. What do you think?

[2020-04-16 00:55] SamChou19815 commented on #2470
@fanny I created a proof-of-concept JS file generation in #2614. Using typescript compiler API might be an overkill. Babel's TS plugin seems to solve the problem pretty good.

[2020-04-16 06:03] nainardev opened #2615 "@docusaurus/router"
## 📚 Documentation

https://v2.docusaurus.io/docs/docusaurus-core/#redirect

[code]

But no such package exists

[2020-04-16 07:03] doup commented on #2355
What about adding a hook to be able to pre-process docs? The idea would be that before generating the docs it could pass through the hook, this would modify the content and then it goes to rendering.

[2020-04-16 08:52] alexsierro commented on #1094
I had same issue with a link... Finally filename was just mistyped the path. ;-)

[2020-04-16 08:52] alexsierro commented on #1094
I had same issue with a link... Finally filename was just mistyped. ;-)

[2020-04-16 09:09] jacarma commented on #448
I agree with you @endiliey, I wanted to provide an easy way to check the requirement is complete, it's not that I use it with file://

We generate the documentation site as an artifact on the CI and it stores and serves it for us. The builds have auto-generated ids so we don't know the final url in advance.
It's a nice feature for us to be able to check the docs in past versions and it would be gr

[2020-04-16 13:09] amimas commented on #2355
Not sure I understand the proposal on hooks. But it still doesn't answer the fact that not everyone may not want consecutive code blocks as tabs. They could be a series of code samples that needs to be presented/executed sequentially.

I'm also a bit worried about the this tool modifying the actual markdown content behind the scene. Again, this tool is not meant to be a markdown parser, as far as

[2020-04-16 13:12] olafurpg commented on #448
To echo @jacarma 's comment, our primary use-case is also to host Docusaurus sites at URLs we don't know in advance. For example, here is a 3rdparty service that is hosting our Docusaurus documentation for every published version of a library we maintain https://www.javadoc.io/doc/org.scalameta/munit-docs_2.12/0.4.3/index.html

[2020-04-16 14:54] fanny commented on #2470
Amazing @SamChou19815. Thanks to put effort on this, I didn't think in use the babel, because I thought that was a think that only ts compiler would can solve. I loved your solution, I'm looking forward to replicate in a theme that I'm building.

It'll be very useful for the community.

[2020-04-16 14:55] RDIL commented on #2605
I opened a PR to fix this issue.

[2020-04-16 15:21] dotansimha commented on #2494
I'm having the same issue, but with `navigator`.
The error is:
[code]

`start` works fine, it only happens with `build`. I guess one of the deps in not compatible with SSR? but the error is not helpful :(

[2020-04-16 16:04] benmccann commented on #2615
The redirect works for me

The file `@docusaurus/core/lib/client/exports/router.js` just re-exports `react-router-dom`. I'm not sure why this exists rather than just using `react-router-dom` directly though

[2020-04-16 16:47] ismailvtl commented on #2308
I added the following CSS as quick fix :)

`html[data-theme='dark'] .navbar .navbar__logo {
  content: url(/img/dark-node-logo.svg)
}`

[2020-04-16 16:50] benmccann commented on #2612
@nainardev advised me to use a function together with the `useEffect` hook. That solved my problem and I think would be a good addition to the documentation.

My code is here: https://github.com/benmccann/Chart.js/commit/04c586e92f4a3ca47e381fe2be3a7cf7a8e5edfd

[2020-04-16 17:20] prma85 commented on #2308
This is fixed now!!!

[2020-04-16 18:00] atilkan commented on #448
@endiliey That is your view based on 12 years old article and a couple false information.

[2020-04-16 20:39] etherai opened #2617 "npx docusaurus-init does a scandir '/Users/*/Library/Application Support/AddressBook'"
Why is `npx docusaurus-init` trying to access my contacts?

<img width="532" alt="Screen Shot 2020-04-16 at 3 34 28 PM" src="https://user-images.githubusercontent.com/6188314/79504342-63ba6b80-7ff8-11ea-9f6f-7b9bc6347cca.png">

Is this project shipping malware?

[2020-04-16 21:30] etherai commented on #2617
Looks like this is a side affect of running `npx` is your user's home directory.

[2020-04-16 23:37] tiptronic commented on #448
@endiliey Sorry - the whole security in a browser is about running a browser safely on a local machine AND on the web. This is how browsers worked since they were invented.
And since Flash is dead, there's no risk at all to run under the file:// protocol... that's why browser-security is there.
For the link, I agree with @atilkan

[2020-04-17 02:15] JoelMarcey commented on #448
All - I find it surreal that I was looking at this closed issue less than 24 hours ago and all of a sudden it started gaining traction with comments again.

That said, I just want you to be aware, in case you didn't know, that @endiliey passed away this past early this year after a long battle with cancer. https://docusaurus.io/blog/2020/01/07/tribute-to-endi

[2020-04-17 07:03] tiptronic commented on #448
@JoelMarcey That's *really, really* sad to read... :(

[2020-04-17 07:55] jdevalk commented on #2605
Awesome. I've asked @jcomack to test it :)

[2020-04-17 09:04] atilkan commented on #448
RIP.

[2020-04-17 10:26] kripod opened #2618 "v2: doc page description is not inferred properly when the first line is an import statement"
## 🐛 Bug Report

While transcluding a markdown file from an MDX file like below:

[code]

The following metadata gets generated into `.docusaurus/docusaurus-plugin-content-docs/site-docs-code-of-conduct-mdx-59f.json`:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1

[2020-04-17 11:19] #2565 closed

[2020-04-17 11:22] yangshun commented on #2618
Tracking in #2601

[2020-04-17 11:22] #2618 closed

[2020-04-17 11:24] kripod commented on #2618
Thank you for the response, and sorry for duplicating by mistake.

[2020-04-17 11:32] yangshun commented on #2618
No worries, that's the responsibility of the maintainer. If you don't mind you could add more details to #2601 which you think could be helpful.

[2020-04-17 14:09] jcomack commented on #2605
I checked the instance that was spun up for the PR and that looked good to me :)

[2020-04-17 14:43] krillboi opened #2620 "Sidebar scrolling thumb is not always visible when hideOnScroll = false"
## 🐛 Bug Report

The sidebar has some problems with scrolling when hideOnScroll = false. The scrolling thumb is only partially visible when scrolled to top, as it is hidden by the NavBar. If the sidebar content is long enough, the thumb can disappear completely behind the NavBar.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUT

[2020-04-17 17:48] kripod commented on #599
@dotansimha Thank you for the response!

It turns out that Docusaurus v2 supports [MDX transclusion](https://mdxjs.com/getting-started#documents) by default. However, only files from `website/docs/` can be imported, due to [the limitation](https://github.com/facebook/docusaurus/blob/14f4ef875aaad6471e9558da571f773fccb25621/packages/docusaurus-plugin-content-docs/src/index.ts#L411-L412) of the curr

[2020-04-17 18:39] yangshun commented on #2598
Agreed. Will fix in Infima.

[2020-04-17 18:40] yangshun commented on #2601
@lex111 let's go with your previous PR. It's better than having a buggy result now. Maybe we can also filter out require statements to make it more robust.

[2020-04-17 18:52] kanoshin commented on #2539
When is this going to be released?

[2020-04-18 02:32] benmccann opened #2623 "theme-classic(v2): navbar shows with no links"
## 🚀 Feature

My `themeConfig.navbar` config has no `links`. This looks fine on desktop. However, on mobile it shows a hamburger menu, which when pressed slides out an empty side panel. I'd like for this hamburger menu not to appear since there's no value to having the empty panel

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBU

[2020-04-18 03:18] yangshun commented on #2623
Good catch, PRs welcome!

[2020-04-18 03:27] #2605 closed

[2020-04-18 03:37] benmccann commented on #2623
I probably don't know enough React or have enough time to fix this myself, but thanks for triaging!

[2020-04-18 03:40] yangshun commented on #2623
No worries, not asking you to fix it yourself, it's up for grabs by the community :)

[2020-04-18 04:09] yangshun commented on #2615
Please reopen using the bug template and provide repro instructions? What package manager and version are you using? Certain `@docusaurus/...` imports don't exist and are added as webpack aliases. So I'm not sure why it's not working for you.

The router is an implementation detail and we don't want to expose that to the users.

[2020-04-18 04:09] #2615 closed

[2020-04-18 04:09] #2623 closed

[2020-04-18 14:21] kripod commented on #2609
After inspecting [the code of Infima](https://unpkg.com/browse/infima@0.2.0-alpha.6/dist/css/default/default.css), I saw in lines 987–993 that secondary alerts are handled specially, causing the trouble described above:

[code]

As a quick fix, I suggest applying the following CSS, making secondary admonitions independent from the active color scheme:

[code]

[2020-04-18 14:28] kripod commented on #2598
Also, please inherit the color of links for `<code>` elements, e.g. with:

[code]

New vs. flawed approach:

![Link color comparison](https://user-images.githubusercontent.com/14854048/79640368-95b30580-8191-11ea-9670-1a4a0d901d36.png)

[2020-04-18 14:32] vinibalbino commented on #2507
Hello everybody, what do you guys think about creating a custom page with the currents docs that have in the website instead a dropdown button?

[2020-04-18 17:09] vinibalbino commented on #2507
![Layout](https://user-images.githubusercontent.com/37583954/79644252-0f40f880-817e-11ea-8c24-f4b475a78f79.PNG)

I created this simple design thinking of being the home page for the docs page. for the user to select the version he wants to use. could it be a solution?

[2020-04-18 22:31] jonsanjuan commented on #969
Hi Kohhee. I was trying to install your npm package and it was failing during the following install process. I am also rather new on Docusaurus and pdf translations, so thanks in advanced:

make: *** [Release/obj.target/hummus/src/PDFDictionaryDriver.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_

[2020-04-19 00:10] KohheePeace commented on #969
@jonsanjuan Thanks for your report! I think it is better to talk about this in my repo. Could  you post issue in my repo?

[2020-04-19 14:13] sonicdoe commented on #1312
To follow up, this feature request [has been filed](https://docusaurus-2.netlify.app/feedback/p/permanent-url-support-for-current-version) with Docusaurus v2.

[2020-04-19 16:26] dylandamsma opened #2628 "ERRNAMETOOLONG - Long file names cause issues"
## 🐛 Bug Report

When having long file names in large sub-directories, the build fails causing an error "ERRNAMETOOLONG" as shown in the picture below:

![image](https://user-images.githubusercontent.com/5804574/79693450-42c67480-829d-11ea-82e4-372010cdd642.png)

We're trying to make a good searchable website for the companies law in Malaysia. Steps to reproduce below.

## To Reproduce

(Write you

[2020-04-19 16:30] yangshun commented on #2628
Possible fix can be to learn from https://github.com/gatsbyjs/gatsby/pull/21518

[2020-04-19 16:30] yangshun commented on #2628
Can you rename the file to make it shorter for the time being?

[2020-04-19 16:40] dylandamsma commented on #2628
Would that change the url Path as well?

On Mon, Apr 20, 2020, 12:31 AM Yangshun Tay <notifications@github.com>
wrote:

[2020-04-19 16:44] ranyitz opened #2629 "A header tag (h1) with the name of `exports` causes algolia search to stop working"
## 🐛 Bug Report

A header tag (h1) with the name of `exports` causes algolia search to stop working. This may be an algolia bug, but I encountered it in the context of using docusaurus and i'm not able to tell whether it's an algolia or docusaurus bug.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)

[2020-04-19 16:45] dylandamsma commented on #2628
It'd be a bit tricky though, there's 633 files like this, where this issue
probably would pop-up more than once. So I would have to either rename all
with some script which admittedly I can't do myself or fix the issue.

On Mon, Apr 20, 2020, 12:40 AM Dylan Damsma <dylandamsma@gmail.com> wrote:

[2020-04-19 19:25] lex111 commented on #2525
@phated I see that the Gulp website is already using the latest version of D2, which is awesome!
I hope you were not disappointed with the new version 😜

Regarding this issue, why don't you use preset-classic? Even if you do not need a blog, this should not bring overhead.

[2020-04-19 19:28] lex111 commented on #2418
Unfortunately, IE11 support is unlikely to improve in the future. It's pretty hard to maintain this old browser.

[2020-04-19 19:32] lex111 commented on #2355
For this purpose, you can write your own plugin for Remark (Markdown processor, which is used in D2) and then include it to the config file.

[2020-04-19 19:32] jonsanjuan commented on #969
will do

[2020-04-19 19:34] phated commented on #2525
Yeah, we pushed through any issues because I needed to get it released before a podcast appearance this week. Docusaurus has been amazing, as always!

I'm generally against presets for most tools I use because I end up needing to change a lot of things. For example, I see a world where the gulp team creates their own theme (we've done medium customization already and need more), so I wouldn't want

[2020-04-20 00:55] lex111 commented on #2525
@phated we really love the feedback from our users, thank you for that. We welcome any feedback, because we are still in the alpha stage.

I tend to include admonitions in every plugin (both for docs and blogs), instead of doing this in a preset. I think it was a predictable behavior.

BTW consider adding your project to our showcase at https://v2.docusaurus.io/showcase 😇

[2020-04-20 01:35] Lumersgo commented on #1804
In my case, 3 steps  solved this problem.
- set http_proxy=http://127.0.0.1:1080
set https_proxy=http://127.0.0.1:1080
- add 199.232.4.133 raw.githubusercontent.com to hosts files.
- cmd.exe  ipconfig/flushdns

[2020-04-20 04:09] Hanhan93 commented on #1804
能具体说说每步要执行的命令吗，新手，万分感谢

[2020-04-20 04:14] Hanhan93 commented on #1804
Can you tell me the specific commands to be executed in each step？thank you very much

[2020-04-20 06:09] fishcharlie opened #2632 "Code Tab Examples"
## 📚 Documentation

On [this page](https://v2.docusaurus.io/docs/markdown-features#tabs) there is no information about code based tab examples. There should be some information about how to use tabs with different code snippets. Especially for different languages this would be really helpful.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/mas

[2020-04-20 06:10] fishcharlie commented on #2632
Oh sorry. Found it [here](https://v2.docusaurus.io/docs/markdown-features#multi-language-support-code-blocks). Was expecting it to be under the `Tabs` header. Not sure if that is just me or if it should be moved.

[2020-04-20 06:26] yangshun commented on #2632
There's nothing special about code tabs because it's just an example of how to use the Tabs for code. The tabs section is use-case agnostic and can be left as such.

[2020-04-20 06:26] #2632 closed

[2020-04-20 07:14] z970445720 commented on #1804
You can try to use cnpm of Taobao mirror：
1、npm install -g cnpm --registry=https://registry.npm.taobao.org
2、cnpm i -g gifsicle

[2020-04-20 14:23] jcomack opened #2633 "Feature(V2): Support assets directory for docs- and blog-specific assets"
## 🚀 Feature

Support assets directory for blog- and docs-specific assets (i.e. `docs/assets`), such as images, video and other media.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

The reason for this feature request, is that this seems to be [supported in V1](https://docusau

[2020-04-20 14:33] awibox opened #2634 "Using icons in the navigation bar"
I want to use icons in navbar as in the screenshot:
<img width="393" alt="Screenshot 2020-04-20 at 5 30 42 PM" src="https://user-images.githubusercontent.com/1931010/79763403-b6fc2900-832c-11ea-9d48-169e52b27cde.png">

Is this possible with docusaurus v2?
If not, how difficult is it to implement it?

[2020-04-20 23:34] fanny opened #2636 "New plugin for classic theme hooks"
## 💥 Proposal

### Context

A few days ago, I started to build another theme to docusaurus, since we already have a good separation of concerns, I didn't have many problems to develop my components using the data provided by the `@docusaurus/plugin-content-blog`(Until now, I only created the blog components). This week I'm working in layout components, like: footer, navbar and etc. and because thi

[2020-04-21 10:26] m4tx opened #2637 "[v2] `build` does not work on a fresh install"
## 🐛 Bug Report

After creating a fresh docusaurus page and executing `yarn run build`, it build Client successfully, but throws an error when building Server starting with `Error: Cannot find module '@theme/NotFound'` (see below for the full log).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Y

[2020-04-21 10:38] lex111 commented on #2637
It seems that this bug is still relevant for v2.0.0-alpha.49 :confused:

[2020-04-21 10:51] AmitKumarDas commented on #2637
I am getting this for all the versions I tried even with v2.0.0-alpha.50

[2020-04-21 11:52] #2560 closed

[2020-04-21 12:24] ajeshbaby commented on #2637
Any workaround for this. Appreciated.

[2020-04-21 12:45] luxplanjay commented on #2637
Exactly the same issue for me, was unable to finish production build after upgrading to `alpha-50`. It has something to do with theme past `alpha-43`. Fixed it by downgrading to pre-update `yarn.lock` where `alpha-43` theme links were saved.

[2020-04-21 12:55] yangshun commented on #2637
Possibly related to #2244. Not swizzling any components might fix the issue.

[2020-04-21 13:12] luxplanjay commented on #2637
In my case no components were implemented or used, just pure md files.

[2020-04-21 14:29] coreybrown89 commented on #2637
Seeing the same on version `2.0.0-alpha.43` with preset-classic theme

[2020-04-21 14:58] luxplanjay commented on #2637
Did you upgrade to `alpha-50` and then downgraded back to `alpha-43`. If that is the case check your yarn.lock, it actually still has `alpha-50` theme links as deps. That's what happened to me.

[2020-04-21 15:14] coreybrown89 commented on #2637
@luxplanjay I have not, but will try that. Thanks.

[2020-04-21 17:04] coreybrown89 commented on #2637
So before today I was on `alpha.43` and had not upgraded yet to `alpha.50` and I was getting these errors.

It looks like when installing any version of docusaurus the yarn.lock resolves to `alpha.50` for several of the plugin packages. This was with a fresh install. Also, `package.json` is locked to `alpha.40`

package.json
[code]

yarn.lock
[code]

[2020-04-21 17:58] sserrata commented on #2637
@coreybrown89 I've encountered a similar issue in the past, especially when using `npm` for package management. By default, `npm` doesn't honor the lock file for package installs, so we ended up adding `npm ci` right before our build command so it will always base package installs on the lock file. Anyway, `yarn` honors the lock file for installs by default.

Concerning the issue you pointed out,

[2020-04-21 18:15] lex111 commented on #2637
Please add the code below to your `package.json` file and reinstall your deps.

We will pin the version of this dependency (_babel-plugin-dynamic-import-node_) in the next release and you (and our new users) will not need to do any manual work, so think about this as a workaround  then!

[code]

We will consider a solution to use the exact versions of the dependencies used (without caret (`^`) cha

[2020-04-21 18:33] sserrata commented on #2634
Hi @awibox - it should be possible to `swizzle` and customize the `Navbar` component to add icon menu items. I can't speak to the difficulty level but my suggestion would be to wrap the icons in an Infima avatar, minus the additional text: https://facebookincubator.github.io/infima/docs/components/avatar#horizontal

Basically, add something like this to your custom `Navbar` component:

[code]

[2020-04-21 20:22] lex111 commented on #2637
Manual fix is no longer required, the building website should work as expected.
https://github.com/airbnb/babel-plugin-dynamic-import-node/commit/5fdba6e43d1cf8ec768e2cba251691c3ea67e78e

[2020-04-21 20:22] #2637 closed

[2020-04-21 21:45] lex111 commented on #2551
@markerikson can I close this issue? It is rather related to deps, because I could not reproduce it.

[2020-04-21 21:49] lex111 commented on #2522
@JaceHensley can I close this issue? You can see the [website v2](https://v2.docusaurus.io/), it uses the latest version of D2, if there are no issues with displaying code blocks, then most likely the matter is in the local setup of your site.

[2020-04-21 21:52] lex111 commented on #2244
@yangshun could we close this issue if there is no way to reproduce it?

[2020-04-21 22:24] markerikson commented on #2551
Let me try it again this evening.

[2020-04-22 03:00] yangshun commented on #2244
Repro is here https://github.com/facebook/docusaurus/tree/repro-2244/website-build-fail

[2020-04-22 05:00] AmitKumarDas commented on #2637
Thanks a lot. Things have started to work without any changes!!

[2020-04-22 11:12] malek0512 commented on #1508
Hello @endiliey Livereoload does not work on 1.14.4 version.
Was there any fix delivered for this issue ?

[2020-04-22 12:28] #2373 closed

[2020-04-22 12:28] #2601 closed

[2020-04-22 15:30] XavierNV opened #2643 "Sidebar categories linking to a doc or category index page"
## 🚀 Feature

Category in docs are only container for subitems (topics). But some help system enable category to be introductory topic to subitems (ie containing text that introduce the subitems or refers to subitems  ie see also links to subtopic1, sub..)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-iss

[2020-04-22 16:48] coreybrown89 commented on #2637
Thank you for the quick update! Much appreciated

[2020-04-22 21:06] mharsat commented on #2494
Also having the same issue with components in a mdx file. Only happening with `build`.
[code]

Any solution for mdx files yet?

[2020-04-23 00:03] KimBurgess opened #2646 "useLogo hook does not update on theme change"
## 🐛 Bug Report

When using the [useLogo hook](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/theme/hooks/useLogo.js) provided by theme-classic in a custom page, the associated attributes do not update following a chance between dark/light themes.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/

[2020-04-23 02:13] yangshun commented on #2494
The solution is the same. What are you importing in your MDX files?

On Thu, Apr 23, 2020, 5:06 AM Matan Harsat <notifications@github.com> wrote:

[2020-04-23 02:31] KanonWang opened #2647 "Nav sidebar fail to hide after clicking its second level content"
## 🐛 Bug Report
On the mobile, after clicking the secondary directory in the navigation sidebar, the sidebar is not hidden.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. run `npx @docusaurus/init@next init my-website classic`
1. modify the `docusaurus.config.js`:
[code]

[2020-04-23 02:52] fishcharlie opened #2648 "Node.js v14 Warning: Accessing non-existent property ___ of module exports inside circular dependency"
## 🐛 Bug Report

On Node.js v14 there are a lot of warnings when using docusaurus v2. These warnings do not occur when running Node.js v13.13.0.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Install Node.js v14.0.0
2. Run `npm start` on a docusaurus v2 project (looks lik

[2020-04-23 02:54] fishcharlie commented on #2648
It looks like this is related to https://github.com/nodejs/node/issues/32987.

[2020-04-23 05:01] jacarma commented on #448
My most sincere condolences

[2020-04-23 05:54] lex111 commented on #2646
We have not documented this hook, so it is not intended to be used by end-users.
But if you want this hook to work, you  need to use state of `isClient`, as shown below.

https://github.com/facebook/docusaurus/blob/409f8788dc36842679ae6f16558c7c42ee09ccd1/packages/docusaurus-theme-classic/src/theme/Navbar/index.js#L172

[2020-04-23 07:14] #2647 closed

[2020-04-23 07:16] mharsat commented on #2494
I am importing a

[2020-04-23 07:20] mharsat commented on #2494
[code]

I am importing a few libraries, one of them has a dependency using `scss` files. So I installed the `docusaurus-plugin-sass` plugin, and then stopped getting the error for unrecognized `scss`. Now `start` works but `build` fails with the above   `ReferenceError`. What do you suggest? Is this really SSR related?

[2020-04-23 07:29] KimBurgess commented on #2646
Awesome. Thanks for looking into this.

After putting that into the test case unfortunately the behavior is the same.

[code]

[2020-04-23 08:36] Norcy commented on #2648
the same question i meet

[2020-04-23 08:43] lex111 commented on #2646
Indeed it is, even `useThemeContext` does not work in pages.
@yangshun any ideas on this?

[2020-04-23 08:46] lex111 commented on #2648
It seems that this is due to one of the dependencies we use. We will wait for patch version https://github.com/shelljs/shelljs/issues/991

[2020-04-23 08:47] Norcy commented on #2648
As for me, delete the "package-lock.json" can fix this problem

[2020-04-23 09:06] KimBurgess commented on #2646
I'm still building up my mental model of this project, but in case it's of relevance pulling `isDarkTheme` directly from [`useTheme`](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/theme/hooks/useTheme.js) does work, but only on initial page load page load.

[2020-04-23 09:24] Norcy commented on #2648
Coincidentally, the same question to me. When i change the NodeJs's version to 13.13.0, the problem disappear.

[2020-04-23 15:45] dotansimha commented on #2494
@mharsat It's usually happen because of SSR related issues. You can bypass that by loading those only for client side.

I did something like that:
https://github.com/dotansimha/graphql-code-generator/blob/master/website/src/components/live-demo/Editor.js#L1-L4

[2020-04-23 21:26] mharsat commented on #2494
Thanks @dotansimha that helped

[2020-04-23 23:42] jsjoeio commented on #2354
@lex111 seems like we should discuss what went wrong in the implementation and what new approach we should take moving forward

[2020-04-24 04:04] yangshun opened #2651 "[v2] Translations approach"
## 💥 Proposal

An umbrella issue to track the translations work for v2 and guide the design and implementation on the feature in v2. Give suggestions and feedback on this issue.

Some initial thoughts:

- Translations should be a core feature built into Docusaurus core, not implemented specifically by any plugins
- We expose a current locale value in the context. Elements which need it can read fr

[2020-04-24 04:10] yangshun commented on #2586
Please follow #2651

@wallynm it's unlikely you can achieve it entirely through plugins for the whole website. Might be possible for the docs.

[2020-04-24 04:11] #2586 closed

[2020-04-24 04:18] #2525 closed

[2020-04-24 10:40] Saumya29 commented on #827
Is this issue up for grabs?

[2020-04-24 15:46] kamdjouduplex commented on #466
@lelouch77 thank you very much for this plugin, I succeed integrating it on my docusaurus v2 project in a minute.
good job!

[2020-04-24 18:57] kripod opened #2654 "Improve support for trailing slashes"
## 🚀 Feature

Add a `preferTrailingSlashes` option (or something similar) to `docusaurus.config.js`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

If hosting documentation on GitHub Pages, a trailing slash appears in the URL when navigating to a specific Docusaurus page from

[2020-04-24 19:05] omry opened #2655 "Python syntax highlighting in a code block is inconsistent"
## 🐛 Bug Report

Python syntax highlighting in a code block is inconsistent

## To Reproduce
Add this block:
[code]

## Expected behavior
Syntax highlighting is applied consistently.

## Actual Behavior
See screen shot, only the first @dataclass annotation is highlighted.

![image](https://user-images.githubusercontent.com/376455/80247812-8d404c00-8623-11ea-8ca2-344ad8ef819e.png)

## Your Environm

[2020-04-24 22:05] lex111 commented on #2655
This is probably because `prism-react-renderer` uses an older version of `prismjs`, in which decorator syntax highlighting has not yet been fixed.

https://github.com/PrismJS/prism/pull/2018/files#diff-e99f677a9aaad5549db82df4b410cb1fR47
https://github.com/PrismJS/prism/blob/master/CHANGELOG.md#1180-2020-01-04

[2020-04-24 22:57] lex111 commented on #2354
@jsjoeio in short, this line of code does not need to be changed. I would add an additional condition under which item must be expanded.

https://github.com/facebook/docusaurus/blob/510bec65325dcada1c14627910087d29749b16d5/packages/docusaurus-theme-classic/src/theme/DocSidebar/index.js#L109

Please see the docs https://v2.docusaurus.io/docs/next/docs#collapsible-categories

I recommend checking th

[2020-04-24 23:47] jsjoeio commented on #2354
Awesome, thanks for the tip!

Ah, didn't think of that. I'll give that a try!

I'll see if I can work on this next week and submit a new PR.

[2020-04-25 01:39] H4kim commented on #2648
same for me

[2020-04-25 02:14] omry commented on #2655
cool, what is the path to get this dependency upgraded?

[2020-04-25 03:58] yangshun commented on #2636
Why close this? I agree with this issue. Not all the hooks are generic enough to be shared though, e.g the theme ones which are only useful for a CSS framework supporting dark mode.

[2020-04-25 06:11] chengtie opened #2657 "How to make Docusaurus support IE?"
Previously, my developer succeeded to add `react-app-polyfill` to a version of Docusaurus such that it supports Edge and IE. Here is the modification: https://github.com/BurdenBear/docusaurus/compare/78159f6..f5c6ffd.

I tried to do the same thing to v2.0.0 of Docusaurus: https://github.com/chengtie/docusaurus/compare/1262c68..fcf89d0, but it did not work.

Here is the error is IE:

![Screenshot 2

[2020-04-25 06:28] XavierNV opened #2658 "Add Filter Textbox upon docs left sidebars"
## 🚀 Feature

Add Filter Textbox upon docs sidebars to filter the sidebar navigation and keep only item matching the filter

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

It' a kind of basic search box based on items title. Not based on an external service... Maybe not too hard to

[2020-04-25 06:54] lex111 commented on #2657
I think more polyfills and other dependencies are needed to make D2 work on IE11. In any case, this requires a lot of effort, especially since we do not have a active core developer who uses Windows.

Any help is highly appreciated, but at the moment we cannot help, sorry.

[2020-04-25 07:10] chengtie commented on #2657
Thanks for your reply.

Adding `react-app-polyfill` did make commit `1262c68` work on IE and Edge, you confirmed that it is expected that this action is largely not enough for the current version?

[2020-04-25 07:46] Lumersgo commented on #1804
- First step use command.exe

[2020-04-25 08:26] chengtie commented on #2657
Otherwise, do you remember since which commit you started to support [scripts:](https://github.com/facebook/docusaurus/blob/master/docs/api-site-config.md#stylesheets-array), maybe I could add polyfills to that version and maybe that could work.

[2020-04-25 11:19] lex111 commented on #2655
If I understand correctly, then we need to bump to latest version of prismjs in prism-react-renderer, however that dependency seems to be abandoned (its author @kitten does not accept PRs very well :disappointed:).

[2020-04-25 16:08] lex111 commented on #2657
I have not tested proposed fix, but we are using CSS features that are not supported in IE11 (you can see the issue #2230 for details).

This option has existed for a very long time, but better use the latest version.

[2020-04-25 16:15] jz222 opened #2662 "Must use import to load ES Module when creating a new project"
## 🐛 Bug Report

I tried to create a new project with `npx @docusaurus/init@next init my-website classic` but it failed without creating a folder that includes basic project data.

## Expected behavior

I expected it to create a folder `my-website` with project data as described in the docs.

## Actual Behavior

Got the the following error message:

[code]

## Your Environment

NodeJS: v12.16.1
NP

[2020-04-25 16:41] lex111 commented on #2662
This is related with `is-promise`. https://github.com/then/is-promise/issues/13

[2020-04-25 18:15] lex111 commented on #2662
This is already fixed, I successfully installed the new Docusaurus website on Node.js v12.16.1 https://github.com/then/is-promise/commit/ca22483a69980369c8d7eb6573aa1c157eff727d

[2020-04-25 18:15] #2662 closed

[2020-04-25 19:34] #2648 closed

[2020-04-26 10:23] userqin commented on #2648
node -v v14.0.0
npm --v 6.14.4
hexo --v
(node:15335) Warning: Accessing non-existent property 'lineno' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
(node:15335) Warning: Accessing non-existent property 'column' of module exports inside circular dependency
(node:15335) Warning: Accessing non-existent property 'filename' of modu

[2020-04-26 10:24] lex111 commented on #2648
Docusaurus is not Hexo.

[2020-04-26 10:32] userqin commented on #2648
(node:15335) Warning: Accessing non-existent property 'lineno' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
(node:15335) Warning: Accessing non-existent property 'column' of module exports inside circular dependency
(node:15335) Warning: Accessing non-existent property 'filename' of module exports inside circular dependency
(n

[2020-04-26 12:39] #2573 closed

[2020-04-26 13:31] yangshun commented on #2598
- [ ] `--ifm-font-size-base: 100%;` - Why?
- [x] `--ifm-code-font-size: 93.75%; /* 15/16, one px smaller than the base font */`
  - I'll change to 90%
- [x] `--ifm-line-height-base: 1.75; /* Instead of 1.5 */`
  - I like this.
- [x] `--ifm-leading-desktop: 1.25; /* Instead of 1.5 */`
- [ ] `--ifm-list-margin: var(--ifm-leading); /* Keep consistent with the leading */c`
  - I believe this is alread

[2020-04-26 13:59] arieller commented on #2648
same here with mongodb -

(node:9736) Warning: Accessing non-existent property 'count' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
(node:9736) Warning: Accessing non-existent property 'findOne' of module exports inside circular dependency
(node:9736) Warning: Accessing non-existent property 'remove' of module exports inside c

[2020-04-26 16:50] #2655 closed

[2020-04-26 17:31] fishcharlie commented on #2648
@userqin @arieller This is the repository for Docusaurus, **NOT** MongoDB or Hexo. Please create or search on issues on those repositories for support. This is not the correct place to post these questions.

---

@lex111 Might be worth deleting the comments above since they aren't relevant and off topic, as well as considering locking this thread.

[2020-04-26 17:37] yangshun commented on #2658
While possible, I think it's better to use Algolia search which lets you search the entire site, not just docs headings.

[2020-04-26 17:37] #2658 closed

[2020-04-26 17:55] fanny commented on #2636
It's because i'm not certain if is really necessary, for example, studying more about bootstrap, they already have some built-in functions that i can use, instead of our hooks. And thinking in other user builtin themes, maybe they also want to build your own logic

[2020-04-26 19:53] kripod commented on #2598
- `--ifm-font-size-base: 100%;` – Users like to specify the preferred font size in their browsers. Bigger is okay, but anything smaller than `100%` for body text should raise accessibility concerns.
- `--ifm-list-margin: var(--ifm-leading)` doesn't seem to be done [in `infima@0.2.0-alpha.8`](https://unpkg.com/browse/infima@0.2.0-alpha.8/dist/css/default/default.css):
   ![Code lines 783–794 of the

[2020-04-27 05:54] lex111 commented on #2598
I agree about this, it's really best not to override the default font size.

[2020-04-27 05:59] lex111 commented on #2634
In the upcoming version of D2, it will be possible to specify a custom CSS class for any navbar item.
I think this is enough to styling a navbar item in such a way as to add an icon.
As example, you can go to v2 website, it now uses the GH icon instead of text.

[2020-04-27 05:59] #2634 closed

[2020-04-27 06:26] yangshun commented on #2634
Let's add some examples for this to the docs if possible.

[2020-04-27 12:38] sriramgroot opened #2674 "Carousel Feature in docusaurus"
## 🚀 Feature

Carousel or Slider feature to be implemented in docusaurus

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes and I thought of having this feature in docusaurus versions

## Motivation

I we are using the docusaurus for creating a new or changing existing blog webpage

## Pitch

1.

[2020-04-27 12:46] fanny commented on #2674
Great suggestion! Current, we are working in a new theme based on bootstrap, probably will be easier integrate with it than in the classic theme.

[2020-04-27 12:52] yangshun commented on #2674
This will unlikely be part of Docusaurus scope. More of our UI library maybe.

[2020-04-27 13:01] Ehesp opened #2675 "[v2] Usage with TypeScript"
## 🐛 Bug Report

I'm struggling to get TypeScript working with v2. The exported functionality which comes out of the box has a number of issues which are getting flagged. My IDE also complains about these when using standard JS but I can disable the inspection.

## To Reproduce

[code]

Rename `pages/index.js` to `index.tsx`.

I'm getting import errors, such as:

- `TS2307: Cannot find module '@do

[2020-04-27 16:33] nebrelbug commented on #2574
@yangshun I'm working on this right now, I'll submit a PR sometime today :)

[2020-04-27 16:56] yangshun commented on #2574
Thank you :)

[2020-04-27 17:49] sriramgroot commented on #2674
Hi Yangshun,
Thanks for replying me immediately, May i know if there is any carousel feature that can be imported into the docusaurus app

[2020-04-27 17:53] nebrelbug opened #2681 "Search on v2.docusaurus.io is currently broken"
## 🐛 Bug Report

Typing in a query results in "No results found for query"

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yep

## To Reproduce

Go to https://v2.docusaurus.io and search for something

## Expected behavior

Search works

## My Guess

Perhaps Algolia just hasn't indexed the current

[2020-04-27 17:59] yangshun commented on #2681
It's probably something to do with Algolia. We experienced similar issues on our previous release.

[2020-04-27 18:02] nebrelbug commented on #2574
See #2683! I just need to do a little more testing, then I'll change it from a draft PR to a ready-to-merge PR.

[2020-04-27 18:16] lex111 commented on #2681
cc @s-pace

[2020-04-27 18:30] s-pace commented on #2681
Needed a new fresh crawl for the release. Fixed now

[2020-04-27 18:35] yangshun commented on #2681
@s-pace will this happen every time we release a new version? What can we do to reduce the downtime here?

[2020-04-27 18:51] s-pace commented on #2681
The downtime will be less than 24h. You can ping me so that I trigger it. We are working on making a crawl on demand remotely. Stay tune.

[2020-04-27 19:22] lex111 commented on #2522
In order to reduce staled issues, I am closing this issue, but feel free to open it again if you run into this again.

[2020-04-27 19:22] #2522 closed

[2020-04-27 19:22] lex111 commented on #2551
In order to reduce staled issues, I am closing this issue, but feel free to open it again if you run into this again.

[2020-04-27 19:22] #2551 closed

[2020-04-27 19:25] markerikson commented on #2551
Yeah, I've been otherwise occupied.  I'll let you know when I have a chance to look at it.

[2020-04-27 23:15] afking opened #2685 "Blog only breaks post links"
## 🐛 Bug Report

Setting `routeBasePath: "",`  as part of the blog preset breaks links to content.
https://v2.docusaurus.io/docs/blog/#blog-only-mode

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

1. Set `routeBasePath: "",`
2. Visit base page
3. Click

[2020-04-27 23:16] davekover opened #2686 "Swizzling theme-classic broken on latest release"
## 🐛 Bug Report

Unable to swizzle theme-classic components on v2.0.0-alpha.53

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Start fresh and install v2.0.0-alpha.53
    (npx @docusaurus/init@next init my-website classic)
2. Run example swizzle command
    (yarn run swiz

[2020-04-28 06:21] lex111 commented on #2685
@afking there was a mistake in the docs, we fixed it now, sorry for misleading! https://github.com/facebook/docusaurus/commit/f8f6478c3652f375604d9ff8dd1c85ef4204475f

[2020-04-28 06:21] #2685 closed

[2020-04-28 06:30] #2686 closed

[2020-04-28 06:53] lex111 commented on #2675
@Ehesp this issue should be fixed in v2.0.0-alpha.54. Please use that version. Sorry for that.

[2020-04-28 06:53] #2675 closed

[2020-04-28 06:55] lex111 commented on #2686
@davekover this issue should be fixed in v2.0.0-alpha.54. Please use that version (or install new fresh website). Sorry for that!

[2020-04-28 07:00] lex111 commented on #2681
@s-pace thank you! I think we can close this issue then.

[2020-04-28 07:00] #2681 closed

[2020-04-28 07:30] Ehesp commented on #2675
Sort of fixed - the `@theme` ones work, not the `@docusaurus` ones (see PR)

[2020-04-28 12:51] fanny commented on #2636
Thinking in the architecture, I'm wondering whats the best place to put this plugin. Current, the plugin abstraction has the responsibility to provide the data for our components, right? But we do this based on some route(from what I saw), for example our `docusaurus-plugin-content-docs`, provide the data for all `docs/*` routes, this is what the `actions` are based on.

The `theme` plugin doesn't

[2020-04-28 19:57] lex111 commented on #2681
@s-pace please re-run your crawler again.

[2020-04-28 20:19] jz222 opened #2692 "Footer background color can't be customized"
## 🐛 Bug Report

I would like to set the footer background color through the `custom.css` file. I set the variable `--ifm-footer-background-color` to my desired color but it gets not picked up.

I found out, that the footer background color is, in contrast to the other variables, hardcoded. This seems to overwrite the variable I set in `custom.css`.

[code]

## To Reproduce

I'm using a device wit

[2020-04-29 07:17] lex111 commented on #2692
For the `themeConfig.footer.style` field in your config file, set the value to "light" or completely remove this field, then you can override the background footer.

[code]

[2020-04-29 07:17] #2692 closed

[2020-04-29 11:44] fanny commented on #2651
Do you plan use an approach like the [`react-i18n-intl`](https://github.com/i18next/react-i18next/)? In the v1, we have the `crowdin` to make the translations, but this put the limitation to assume that the default language is english. Is a plan to v2 change this architecture, to make possible the developer submit your own translations and we use a framwork to read them?

[2020-04-29 12:08] yangshun commented on #2651
There are two things we need to translate here:

- UI and React components - Those can be powered by i18n libraries such as [FBT](https://facebook.github.io/fbt/) and [`react-i18n-intl`](https://fburl.com/deltoid3/sprmvo2j)
- Documentation - I presume the docs for another language would be side-by-side with the original docs:

[code]

[2020-04-29 17:19] davekover commented on #2686
Thanks for the quick fix!

[2020-04-30 01:40] nebrelbug commented on #2651
@yangshun would #2302 need to be completed first, or will versioning stay similar enough as presented to the user?

[2020-04-30 02:04] wez opened #2697 "Docusaurus v2 doesn't allow for "mypagename.html" links"
We migrated and now have a series of issues being raised because none of our 7 year old links ending in `.html` resolve correctly.

This is the main issue tracking this:
https://github.com/facebook/watchman/issues/798

A couple of kind souls have submitted PRs to change links elsewhere:
https://github.com/facebook/watchman/pull/806
https://github.com/facebook/watchman/pull/801

but this is really

[2020-04-30 07:11] jk-gan opened #2698 "[v2] The blog posts order is wrong"
## 🐛 Bug Report

In blog, there is a suggestion button for previous post and next post. However, the order is wrong. It will suggest the previous blog post in the "Next Post" button and vice versa.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes.

## To Reproduce

1. create a new docusaurus v2

[2020-04-30 07:19] lex111 commented on #2697
I don't really understand why this should be considered a bug v2. Obviously, when migrating to v2, you need to create redirects from old URLs to new ones.

And it is completely correct behavior in v2, why links with the `.html` extension at the end do not work. Just use _valid_ internal URLs -
https://facebook.github.io/watchman/docs/nodejs.html -> https://facebook.github.io/watchman/docs/nodejs

[2020-04-30 07:28] lex111 commented on #2698
I think it was done on purpose. @yangshun  isn't that right?

[2020-04-30 07:33] lex111 commented on #2577
Sorry for late response.

Not all CSS vars of Infima are defined in the global scope, for example, to override the value for `--ifm-heading-vertical-rhythm-bottom`, you need do this in the proper CSS class:

[code]

[2020-04-30 07:33] #2577 closed

[2020-04-30 07:34] #2599 closed

[2020-04-30 07:39] lex111 commented on #2594
Sorry for late response.

I do not think this applies to Docusaurus directly. If this approach works for you, then you to go this way. It is up to you, we do not have a clear opinion on this.

[2020-04-30 07:39] #2594 closed

[2020-04-30 07:49] #2355 closed

[2020-04-30 07:53] lex111 commented on #2230
Closes in favor of #2657
We'll only have one issue to track it.

[2020-04-30 07:53] #2230 closed

[2020-04-30 08:11] lex111 commented on #2418
To avoid duplication of this problem, we leave only one issue is #2657 and close current one.
We also explicitly noted on the v2 site about the current status support of IE11, so that people know about it.
Any help is appreciated as always.

![image](https://user-images.githubusercontent.com/4408379/80687658-4d6dde80-8ad3-11ea-9cfb-d2cc4a996055.png)

[2020-04-30 08:11] #2418 closed

[2020-04-30 08:36] yangshun commented on #2698
Yes it's on purpose. It depends on perspective. If you view the posts as a list of entries in reverse chronological order (newest first, on the left), then the next post is an older post. Seems like Gatsby does the reverse of us. IMO we should just do what makes the most sense and what most blogs do. If someone is interested in researching and coming up with a conclusion, we could change it.

[2020-04-30 08:46] davidhagg commented on #2654
I've noticed that the trailing slash potentially destroys internal links as well since the relative root is different. Don't know if this is a separate bug or a side effect.

[2020-04-30 09:08] yangshun commented on #2697
@lex111 While this is not a bug, I think https://github.com/facebook/docusaurus/pull/2393 by @rlamana was supposed to add support for such cases. Seems like it isn't working.

[2020-04-30 09:11] lex111 commented on #2697
But it is works fine - https://v2.docusaurus.io/docs/introduction.html -> https://v2.docusaurus.io/docs/introduction/

[2020-04-30 09:17] yangshun commented on #2697
Maybe cuz we don't have a baseUrl while https://facebook.github.io/watchman/docs/install.html has.

[2020-04-30 09:22] davidhagg commented on #2394
We are having this issue too running on an Azure Webservice.

[2020-04-30 09:23] lex111 commented on #2697
Maybe it depends on the hosting provider, since in #2393 only the paths with `index.html` at the end are normalized.

However, this is still not a proper redirect, and does not affect SEO very well. Therefore, I would not trust this approach, and would generate real redirects with a custom plugin.

[2020-04-30 10:28] TomBrien opened #2699 "alpha-54: Site title no longer wraps - search box moves"
## 🐛 Bug Report

In alpha-0.49 and previous (I believe but I'm struggling to get these to build now), longer site titles would wrap at the search in the header bar. This was especially important on mobile browsers where the width is obviously limited. As of alpha-54, the title is not wrapping and search box is being pushed out of the header.

### Have you read the [Contributing Guidelines on issue

[2020-04-30 10:56] yangshun commented on #2699
There's no good way around this as the site title can be potentially very long. I think as a lasting solution we could make the search as an icon-only on mobile, and focusing on it will expand and fill the whole bar.

[2020-04-30 10:58] rlamana commented on #2697
@lex111 is right, my change was meant to fix paths ending with `index.html` only. My intention was to keep the same behavior that currently docusuarus v1 has. The truth is that v1 also supports links ending with `*.html` and in my humble opinion v2 maybe should also support it. But a custom plugin sounds like a fair option too.

The change would be as simple as updating the regex here: https://git

[2020-04-30 11:02] hhk7734 opened #2700 "Configure table-of-contents heading levels (h2, h3, h4...)"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

I read the issue side.

Docs: ToC is created using only `<h2>` and `<h3>`.

After changing `node_modules/@docusaurus/mdx-loader/src/remark/rightToc/search.js`
with the code bel

[2020-04-30 11:14] TomBrien commented on #2699
An icon that expands (on top of title) when tapped would be a really nice solution. Or on mobile move the search into the hamburger menu

[2020-04-30 14:11] wez commented on #2697
In my perspective as a consumer of a doc build system, my motivation to write custom plugins for a complex system in a foreign language is basically zero.  I can switch back to our prior Jekyll based system to restore my URLs: they work out of the box there, and it just simply isn't a question of writing code for that.

Speaking honestly, I'm surprised that such a basic feature is not considered a

[2020-04-30 14:20] yangshun commented on #2697
@wez we never thought of that feature but since it has been added and it's not working correctly, it's a bug. We'll prioritize fixing this. Apologies!

[2020-04-30 15:52] marcosvega91 commented on #2699
Hi the only thing to do is to change the media query of the search-bar class.
Now the icon is shown under 360px. I think that we need to change it

[2020-04-30 16:44] lex111 commented on #2697
@wez sorry about that, but I closed your issue based on our past experience. Docusaurus v2 is significantly different from Jekyll, so when migrating from your previous static generator website, the one who did the migration of Watcher should take into account that the URLs will be different and therefore it was necessary to create redirects. I did not track the process of migrating your project we

[2020-04-30 17:53] JoelMarcey commented on #2697
Hi all 👋

While Facebook's open source projects have general autonomy in what infrastructure they use for their documentation, I, of course, hope they choose Docusaurus. We felt Watchman was a good starter candidate for community members to use to migrate to Docusaurus 2, given that it was a relatively vanilla site with good content.

So it wasn't @wez who proactively did the migration. It was me

[2020-04-30 20:19] mharsat opened #2705 "Adding theme-live-codeblock makes prism.darkTheme stop working"
## 🐛 Bug Report

When adding `theme-live-codeblock` to `themes`, `prism.darkTheme` has no effect.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Set different light and dark themes under prism, for example:
[code]
2. Add `theme-live-codeblock` to `themes`
[code]
3. `yarn

[2020-04-30 20:30] lex111 commented on #2705
Strange, we at our website v2 use a [separate theme for dark mode](https://github.com/facebook/docusaurus/blob/master/website/docusaurus.config.js#L71), but it works for us, you can see it yourself (eg. https://v2.docusaurus.io/docs/docs)

[2020-04-30 22:10] jonnynabors commented on #2494
I have a similar issue when importing the Redoc React Component (https://github.com/Redocly/redoc#usage-as-a-react-component). The error only occurs when I'm actually importing the component. I've tried to use the `ExecutionEnvironment.canUseDOM` in a parent component to conditionally render a child component with the import statement, but the error persists.

Is there any way to disable the SSR b

[2020-05-01 05:05] techieshark opened #2706 "useBaseUrl description a tad confusing"
## 📚 Documentation

`useBaseUrl` is described as a "React hook to automatically append baseUrl to a string automatically."

Pedantic, but I think it actually *prepends* `baseUrl` to the supplied string. (Reporting here since this confused me a bit, not because I'm trying to be pedantic.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/C

[2020-05-01 05:34] yangshun commented on #2706
You're totally right. It's a blind spot for us because we know what it does and didn't notice that it doesn't really mean what it does. We'll fix it if nobody beats us to it!

[2020-05-01 07:42] lanyusan opened #2708 "Unable to parse markdown generated by microsoft api-extractor"
## 🐛 Bug Report

V2 is unable to parse markdown generated by Microsoft api-extractor.

Github is able to the parse the markdown correctly.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Use Microsoft api-extractor to generate api markdown.
2. Put the markdowns under a fo

[2020-05-01 15:24] hacktivist123 commented on #2562
What help do you need with this @yangshun, can you explain better?

[2020-05-01 19:05] #2706 closed

[2020-05-01 21:40] rjpsingh commented on #2562
I would love to help but need some assistance.

[2020-05-01 21:41] rjpsingh commented on #2562
I would love to help but need some guidance.

[2020-05-02 16:48] chetanmajithiya opened #2712 "Allow custom pages to use docs sidebar and table of contents"

[2020-05-02 17:31] chetanmajithiya opened #2713 "How change url names for the following example. remove docs in url"
currently:
 /docs
/docs/programming
/docs/programming/cpp
/docs/web/html
/docs/web/css

but i want:
/programming
/programming/cpp
/web/html
/web/css

how to remove this docs in url ?

[2020-05-02 20:01] fanny commented on #2713
You can change your config of the `docusaurus-config-docs`, like the following:
[code]

Also, I think that you'll need to remove the `@docusaurus/plugin-content-pages`, since the default route path is there.

[2020-05-02 20:04] #2713 closed

[2020-05-02 20:06] fanny commented on #2712
Can you clarify a little bit?

[2020-05-02 21:19] Zenahr opened #2715 "Lookup of css and static source files invalid when deploying into subdirectory (self-hosted)"
## 🐛 Bug Report

Placing the build files into a subdirectory does yields broken css and js.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. npx docusaurus-init
2. cd website
3. yarn build
4. put built files into subdirectory on website via ftp
5. visit page

You can see f

[2020-05-02 21:26] Zenahr commented on #2715
Found the cause.

I didn't test it yet but I guess I need to change the baseUrl variable inside siteConfig.js in order for it to work properly.

Would be nice to add this tip to the deployment wiki when deploying on own servers.

[2020-05-02 21:26] #2715 closed

[2020-05-03 17:11] donaldboulton opened #2717 "Add Toc to blog posts"
## 💥 Proposal

(A clear and concise description of what the proposal is.)

Docusarus v2 -54
How to add a Table Of Contents to Blog Posts like docs have.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-05-03 19:57] markerikson commented on #2551
Just tried this on alpha.54 and it appears to be working fine.  Thanks!

[2020-05-04 18:23] jmcshane opened #2719 "Issue running docusaurus v2 on github pages behind a proxy"
## 🐛 Bug Report

When running behind an nginx proxy, the github pages site responds with a redirect to github pages rather than serving the content through the proxy.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## To Reproduce

1. Nginx config:

        location / {
            set $doc_si

[2020-05-04 19:21] jmcshane commented on #2719
This appears to be caused by the jekyll structure that gets generated with v2 vs v1. When generating the pages in v1, markdown documents get created as `/docs/mypage.html`. When generating pages in v2, the same pages are built as `/docs/mypage/index.html`. When requests go to the Jekyll server to `/docs/mypage`, it redirects them to `<PAGES_URL>/docs/mypage/`, rather than just redirecting to add t

[2020-05-04 19:39] jmcshane commented on #2719
This creates a problem for migration. V1 can respond on `docs/mypage` and `docs/mypage.html`, V2 can respond on `docs/mypage/` and `docs/mypage/index.html`. This seems like something that could be set as a build option

[2020-05-05 08:14] yangshun commented on #2717
Swizzle the components.

[2020-05-05 08:38] yangshun commented on #2494
@jonnynabors the workaround is along the lines of what I would recommend. Refer to https://github.com/facebook/hermes/pull/204/files for the recommended solution of using `<Suspense>` and `React.lazy` to lazily import the modules.

Nope. But we could consider adding that although we rather try to solve the problems that emerge along the way.

[2020-05-05 08:45] yangshun commented on #2708
This is not a bug but a limitation/specification of MDX/JSX. GitHub uses Markdown which allows HTML, but Docusaurus 2 uses MDX which requires that your tags are all closed. Few ways:

- Write a postprocessing step which closes the violating tags
- File an issue on microsoft api-extractor to get them to close the tags

[2020-05-05 08:45] #2708 closed

[2020-05-05 13:50] sriramgroot opened #2721 "Target blank in header link of siteconfig.js"
## 🐛 Bug Report

How to add support for `target='_blank'` in headerlink of siteconfig.js file

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce
Tried to have external link in header segment
`{href: 'https://github.com', label: 'Github', target: '_blank'}`

## Expected behavior

[2020-05-05 19:19] benmccann opened #2722 "Mixed content warning"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Load https://www.chartjs.org/docs/next/

## Expected behavior

Everything is loaded over https

## Actual Behavior

I get the following in the Chrome dev console:

## Your Environment

- Docusaurus version used:

[2020-05-05 20:21] lex111 commented on #2722
@benmccann is this error still relevant? I do not see it in my browser (Chrome). Moreover, this kind of error can hardly be associated with Docusaurus.

[2020-05-05 20:32] benmccann commented on #2722
Hmm, I just tried again and it still is happening for me. It's simply Docusaurus docs deployed to GitHub pages and I do not have "http" anywhere in my config, so I'm not sure where it would be coming from.

One weird thing that I just noticed - If I open up the Chrome developer console and then go to https://www.chartjs.org/docs/next/ it doesn't happen. If I go to https://www.chartjs.org/docs/next

[2020-05-05 20:57] lex111 commented on #2722
Now I see this error, although it is strange to me. As I understand it, the matter is in a redirect

![image](https://user-images.githubusercontent.com/4408379/81113713-56264080-8f29-11ea-9578-b130a0ba2cdc.png)

https://github.com/chartjs/Chart.js/blob/2851a94b9206a37a238f91a8d364f75df17d4d14/docs/src/pages/index.js#L7

But how can this internal redirect might cause such an error? Maybe @yangshun

[2020-05-05 21:06] benmccann commented on #2722
Oh, awesome. I will subscribe to that issue. I'll test it out when it's done and see if it fixes this

[2020-05-07 05:35] chetanmajithiya commented on #2712
if i'm creating custom page,
then how to use docusaurus sidebar (left, right side for inner page link) in the page,
like docs page.

[2020-05-07 09:03] krillboi opened #2723 "Specify input build for deployment"
## 🚀 Feature

We would like to be able to specify an input for deployment - that is a folder with the whole documentation site built. This is because we would like to be able to:

* Build the documentation
* Then run some validation on that build
* Supply this build for deployment instead of the deploy script building the documentaion again

### Have you read the [Contributing Guidelines on issues

[2020-05-07 09:17] aeneasr opened #2724 "Support prepending of base url in markdown image paths"
## 🚀 Feature

I want to display images without using JSX in my Markdown code

[code]

and have Docusaurus modify the image `src` using the project's baseUrl.

### Have you read the [Contributing Guidelines on issues]

Yes

## Motivation & Pitch

Currently, it's recommended to link to an image using:

[code]

This has several disadvantages. First it doesn't work with native markdown and thus looks

[2020-05-07 09:38] chetanmajithiya commented on #2712
@fanny

[2020-05-07 12:27] comradekingu commented on #2278
Adding stuff to potfiles.in is the gettext way to do it. Crowdin is a spying and tracking platform, and a lackluster tool for translation. Don't subject your translators to that. Use Weblate instead.

[2020-05-07 13:17] jmcshane commented on #2719
Ok, so I've got this solved in nginx. I needed to add the following two proxy redirect blocks next to the proxy_pass:

[code]

The reason for the first one is that based on some admin configurations (which I don't have access to view) GH pages redirects will respond with http rather than https. Using the redirect structure like this will allow both v1 and v2 sites to continue to work with the same

[2020-05-07 13:17] #2719 closed

[2020-05-07 17:47] yangshun commented on #2719
Thanks for sharing your solution!

[2020-05-08 01:10] Atiladanvi opened #2725 "Integrate with github wiki"
## 🚀 Feature

Integrate docusaurus with github wiki

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation & Pitch

  The github wiki tools is a way very simple for write docs for applications because they has a dynamic versionament system without git wrapper. Its a easy way to manage

[2020-05-08 01:56] amimas commented on #2725
Do you mean just presenting github wiki differently? That's really not the purpose of this tool. It's a static site generator. Maybe I misinterpreted the proposal.

[2020-05-08 01:58] yangshun commented on #2725
I think what @Atiladanvi means is to use GitHub wiki as a source of the docs content. This should be possible using plugins.

[2020-05-08 02:06] amimas commented on #2725
Ahh... Source of docs from github wiki. Thanks for clarifying it.

[2020-05-08 02:13] amimas commented on #2725
It still feels a bit outside of Docusaurus purpose - creating technical docs site.

Sourcing docs from another source like headless cms (i.e. contentful) might make sense. What would be the point of sourcing from github wiki? That's just presenting wiki content differently than how github does it.

[2020-05-08 02:15] amimas commented on #2721
I don't think it's a bug. If anything, it's probably a feature request. Based on the docs, I don't think it's currently possible to set a header link to open in a new tab.

[2020-05-08 02:25] yangshun commented on #2725
Yeah, agreed. I think this is out of scope of Docusaurus.

[2020-05-08 02:25] #2725 closed

[2020-05-08 02:28] Atiladanvi commented on #2725
Thanks for explanation. I will write a plugin to implement this feature

[2020-05-08 04:50] rrousselGit commented on #1330
I ran into the exact same issue

[code]

Which generates the same `package.json` as @xypnox

FWIW I'm on an account without admin rights, and with a slow bandwidth.

Doing:

[code]

did the trick

[2020-05-08 08:01] hhk7734 commented on #2078
@sivakon
solved it by writing the code below.

[code]

[2020-05-08 11:32] lex111 commented on #2723
The `docusaurus deploy` command already has an option for this purpose, isn't that what you need? https://v2.docusaurus.io/docs/cli#docusaurus-deploy

[2020-05-08 13:55] fabrusso opened #2726 "Error with SVGs and Images from an imported library"
## 🐛 Bug Report

Hi,

I'm creating a documentation site for a React framework.
I decided to use DocusaurusV2 to document with MDX.

I imported my framework with npm into the project and in an MDX file I ran:

The Framework is imported correctly but apparently DocusaurusV2 has a problem loading some SVGs from my framework.

My Framework uses mainly:
Create React App
styled-components

some SVGs are

[2020-05-08 14:18] Ultra-Instinct-05 opened #2727 "Sidebar doesn't generate if markdown files are not in root of docs folder."
## 🐛 Bug Report
Not sure if this is a bug, but it seems the sidebar doesn't get rendered if the markdown files are present within sub directories of `docs`. Does that mean we are limited to having all markdown files within a single directory and can't organize it within  the `docs` folder ?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/maste

[2020-05-08 17:13] sriramgroot commented on #2721
Hi @amimas ,
Really thanks for the reply. Whether it is possible in Version 1 of **["Docusaurus"](https://docusaurus.io/)**. If there is not possible in Version1 can you please add them as Version2 of **["Docusaurus"](https://v2.docusaurus.io/)**

[2020-05-08 17:15] lex111 commented on #2721
This is already possible in v2, but I am not sure if it will be added in v1.

[2020-05-08 22:48] prestonvanloon commented on #1111
We would also like this to be part of our CI. I am not sure how bcl is relevant for a presubmit check since it seems to require a live site to function.

[2020-05-09 12:55] sriramgroot commented on #2721
Hi @lex111,
How can we add this as a feature in upcoming version release of **[Docusaurus V1](https://docusaurus.io/)**

[2020-05-09 20:40] danyalasif commented on #2727
Currently dealing with the same thing. I was looking into dynamically generating all the filenames and directories, but seems like it does not support having files in subdirectories inside docs folder. All the examples I'm seeing don't have any nested directories either

[2020-05-09 21:11] fanny commented on #2700
Hey @hhk7734 I appreciate your suggestion, but I don't know if make sense allows the TOC in every level of Heading. The goal of the TOC is set highlights for sections, if you put a Head like `h5, h6` sounds like less important, so for me is ok not include in TOC.

[2020-05-09 21:24] fanny commented on #2612
Hey @benmccann it seems that this problem is not related with Docusaurus, so maybe it's better report this issue in [`mdx-js`](https://github.com/mdx-js/mdx) repo. I'm so happy that you found the solution, current the most recommenced approach is use functional components instead of classes and use the hooks for define lifecycle methods.

For help to solve this problem, you can show more about you

[2020-05-09 21:39] benmccann commented on #2612
Sure. Here's an example of where we're doing this: https://raw.githubusercontent.com/chartjs/Chart.js/master/docs/docs/charts/line.mdx

[2020-05-09 23:32] hhk7734 commented on #2700
Hi @fanny
The range that user want to display may be different. I want to be able to set the range. So I used minDepth and maxDepth in the code.

[2020-05-10 11:02] KimBurgess opened #2731 "Docs editURL assumes `docs/` base path"
## 🐛 Bug Report

The `editUrl` built as part of [doc metadata](https://github.com/facebook/docusaurus/blob/5e664a1f26fc980033bb3b25a80bdc6cb1edd2c2/packages/docusaurus-plugin-content-docs/src/metadata.ts#L93) assumes that the base path for the docs source matches the local paths (e.g. always processed with `docs/`). This may not always be the case if the content is coming from a separate repo.

As

[2020-05-10 14:34] zkrami opened #2732 "error importing 'vscode-languageserver' in Docusaurus"
I am trying to create a playground using `monaco-editor` and `vscode-languageserver` to show the features of my language server.

However when I try to import `vscode-languageserver` from a page like the following example

[code]

https://github.com/zkrami/docusaurus-test/blob/master/src/pages/test.js

I get the following errors:

`Module not found: Can't resolve 'child_process' in 'C:\Users\Rami\

[2020-05-10 14:59] yangshun commented on #2732
`fs` is a Node module and requires Node runtime, you can't use it in the browser.

[2020-05-10 14:59] #2732 closed

[2020-05-10 17:52] omry opened #2733 "Line highlight is not working in D2"
## 🐛 Bug Report

Line highlight is not working in D2,

## To Reproduce

(Write your steps here:)

code block:
[code]

## Expected behavior
line 3 should be highlighted in the rendered codeblock.

## Actual Behavior
![image](https://user-images.githubusercontent.com/376455/81506617-7731bd00-92ac-11ea-81aa-0dc3a414c3d2.png)

## Your Environment

- Docusaurus version used:
2.0.0-alpha.50

- Environme

[2020-05-10 18:02] yangshun commented on #2733
Can we see this code block live on hydra.cc?

Btw did you follow this?

[2020-05-10 18:21] omry commented on #2733
Ah, I missed that.I was expecting to to work out of the box.

once I add the css block to my custom.css it works:
![image](https://user-images.githubusercontent.com/376455/81507184-6420ec00-92b0-11ea-9637-9b1efb07cb2c.png)

[2020-05-10 18:27] yangshun commented on #2733
We added this line to the default `custom.css` in one of the recent versions but you didn't get updates for it.

Closing this out since not really a bug!

[2020-05-10 18:27] #2733 closed

[2020-05-10 18:31] omry commented on #2733
sounds good.
"didn't get updates for it" meaning it's just being delayed?

a related question:
I remember seeing something about specifying a filename for a codeblock in previous release notes. but I can't find it in the docs.
I am able to find title though. Is this the same feature?

![image](https://user-images.githubusercontent.com/376455/81507361-bf9fa980-92b1-11ea-8375-42766949638f.png)

[2020-05-10 19:31] yangshun commented on #2733
Nope, this file is cloned on init.

Yes

[2020-05-10 22:37] omry commented on #2733
Does it mean that if I recreate my website it would work?

[2020-05-11 02:14] yangshun commented on #2733
Yes kinda, if you ran the init command again and moved all your contents there. But I wouldn't advise to do that. This is probably the only change that we made to the skeleton `custom.css`.

[2020-05-11 11:19] limkinZero opened #2736 "Add support deploy to Gitlab pages"
## 🚀 Feature

Add support deploy to Gitlab pages

## Motivation

To add more functionality

## Pitch

I consider that you can give more facilities to projects that use this repository. It should be something similar to what already exists for Github pages.

[2020-05-11 12:45] krillboi commented on #2723
I might be misunderstanding something, but isn't that option just what the folder for the output should be?

What I would like is for there to be an input option, so you're effectively skipping the build step of the deploy script because you're supplying a build yourself.

[2020-05-11 18:48] raisty opened #2737 "Include SVG logo directly to the code"
## 🚀 Feature

SVG images should be inserted directly to code. This will provide manipulation of the logo in case - for example, a dark theme. Currently, is SVG linked to img tag.
`<img class="navbar__logo" src="/img/docusaurus_keytar.svg" alt="Docusaurus Logo">`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-n

[2020-05-12 10:39] jonathasbsouza opened #2738 "Wrong margin-top in inactive tabs"
## 🐛 Bug Report

Right now, all tabs of a tabbar (excluding first one) are receiving a margin-top of 0.25rem, from Infima `markdown.css` file. This makes tabs uneven.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Go to https://v2.docusaurus.io/docs/installation#running-t

[2020-05-12 19:11] Morriz opened #2740 "v2 cli expects siteConfig.js and sidebars.json to exist"
## 🐛 Bug Report

v2 cli expects siteConfig.js and sidebars.json to exist

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

(Write your steps here:)

1. `npm install -g docusaurus@^2.0.0-alpha`
2. `docusaurus-build`

## Expected behavior
The build to continue

## Actual Behavior

[2020-05-12 21:48] benmccann opened #2741 "Search not finding text on page"
## 🐛 Bug Report

Search can't find the text "autoSkipPadding". It does find some other text on the site though, so is not completely broken

Is it because it's in backticks or because it's in a table? https://raw.githubusercontent.com/chartjs/Chart.js/master/docs/docs/axes/cartesian/index.md

@s-pace do you have any ideas why Algolia only finds some text on the site?

### Have you read the [Contri

[2020-05-12 22:33] s-pace commented on #2741
Should be good now :)

[2020-05-12 23:13] benmccann commented on #2741
thanks!

[2020-05-12 23:13] #2741 closed

[2020-05-13 00:19] #2740 closed

[2020-05-13 00:19] yangshun commented on #2740
You're still installing v1. V2 package is called @docusaurus/core. Please
refer to the exact installation instructions.

On Wed, May 13, 2020, 3:11 AM Maurice Faber <notifications@github.com>
wrote:

[2020-05-13 05:11] geekodour commented on #2078
@hhk7734 where did you put this and which version did you try this on?

[2020-05-13 07:23] geekodour opened #2742 "<kbd> does not work."
## 🐛 Bug Report

[code]
<kbd>something</kbd>

I have docs full of `kbd` tags from v1 that used to work and now none of them work in v2. Any migration steps for `kbd` tags?

This does not work with `"@docusaurus/core": "^2.0.0-alpha.54"` I've tried remark plugins https://www.npmjs.com/package/remark-kbd it does not seem to help either :/

[2020-05-13 07:33] hhk7734 commented on #2078
@geekodour

docusaurus.config.js
https://github.com/hhk7734/wiki.loliot.net/blob/8c7e503e930a47a0f470c880f1ac77e8420b01d3/docusaurus.config.js#L111-L116

package.json
https://github.com/hhk7734/wiki.loliot.net/blob/8c7e503e930a47a0f470c880f1ac77e8420b01d3/package.json#L14-L16

example page
https://wiki.loliot.net/docs/etc/project/ahrs/ahrs-quaternions-rotations

[2020-05-13 07:34] yangshun commented on #2742
What does "won't work" mean? Doesn't appear or no styling added?

[2020-05-13 07:39] geekodour commented on #2742
See the `kitty` section.
![2020-05-13-131113_1365x767_scrot](https://user-images.githubusercontent.com/12918431/81784701-e3b1f380-951a-11ea-865b-4be06946c584.png)

The markdown for that part is:
[code]

[2020-05-13 07:41] yangshun commented on #2742
So that's just a different styling, not that it doesn't work. If you see, the styling is still present. It's unlikely we're gonna add the styling in, so for now you can add it into your own website.

[2020-05-13 07:45] geekodour commented on #2742
[](url)
![2020-05-13-131615_1365x767_scrot](https://user-images.githubusercontent.com/12918431/81785214-a6019a80-951b-11ea-9251-73d1902852ab.png)

@yangshun the markdown is not rendered aswell. What could be causing this.

[code]

[2020-05-13 07:49] geekodour commented on #2078
thanks. got it working :)

[2020-05-13 07:54] geekodour commented on #2742
I'd expect this to work without any styling.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd

eg. `<button>` tag works, why not `<kbd>`

[2020-05-13 07:57] yangshun commented on #2742
`<kbd>` *is styled*, just not the way GitHub does it. It's using monospaced font.

You can't mix JSX and Markdown on the same line. You can do this instead:

[code]

and it should work

[2020-05-13 07:58] Morriz commented on #2740
Tnx. Can you tell me where to look? I thought I followed them

[2020-05-13 08:02] Morriz commented on #2740
I feel really stupid, but can't find anything related to @docusaurus/core. Maybe the v2 docs are missing the part in installation about the cli.

[2020-05-13 08:06] yangshun commented on #2740
Starting from scratch - https://v2.docusaurus.io/docs/installation

Migrating from v1 - https://v2.docusaurus.io/docs/migrating-from-v1-to-v2#packagejson

[2020-05-13 08:09] geekodour commented on #2742
Thanks for the help @yangshun , I applied [these styles](https://www.rgagnon.com/jsdetails/js-nice-effect-the-KBD-tag.html) and it seem to work as expected now. :)

[2020-05-13 08:11] Morriz commented on #2740
You do see my point, right? There is no clear documentation on how to install the cli...

[2020-05-13 08:24] lex111 commented on #2742
I think we can stylize this tag in Infima if @yangshun doesn't mind?

[2020-05-13 08:28] Morriz commented on #2740
I just installed the 2 packages mentioned (core and presets) but still get an error when using cli:
[code]

[2020-05-13 08:29] Morriz commented on #2740
I guess I will keep adding the missing packages until no errors occur. But would be nice to just offer docs for this.

[2020-05-13 08:48] yangshun commented on #2742
I had it last time but I removed it because I felt that it was quite a rare use case. Idm adding it back I guess.

[2020-05-13 08:50] yangshun commented on #2740
The preset should already include those modules you'll need as dependency. What cli are you talking about?

[2020-05-13 09:12] Morriz commented on #2740
Maybe not on a global install? I have no clue why it won't find them. After installing like this:
[code]
And then doing `docusaurus build` I get the errors about all those missing plugins, starting with:
[code]
After explicitly installing that one it starts complaining one by one about the others. So far I explicitly installed:
[code]
But still getting errors...

[2020-05-13 09:15] Morriz commented on #2740
I don't have a clear head, my NODE_PATH is probably not correct. Using nvm. Weird...

[2020-05-13 09:17] yangshun commented on #2740
Don't use global installs. You should be adding them to your `package.json` and running `npm install` or `yarn install`.

[2020-05-13 09:27] Morriz commented on #2740
I can't as I am building a docker image that I wish to use the cli version in, as it's used in a workflow/pipeline that injects the sources to work with. So I can't depend on local `node_modules`

[2020-05-13 16:14] MichaelBaj opened #2744 "hide_table_of_contents: true does not expand column to page width"
## 🐛 Bug Report

Adding the front matter tag `hide_table_of_contents: true` does not expand column to page width.

## To Reproduce

1. Create any page with content, preferably with headings >2.
2. Observe right hand TOC and formatting
3. Add meta tag `hide_table_of_contents: true`
4. Observe the right hand TOC is no longer present, yet the contents are still fixed at 75% page width

## Expected be

[2020-05-13 16:35] yangshun commented on #2744
I think this is a regression in the UI when @lex111 was tweaking it to make the code block width work. The test plan of #2012 showed that it was working.

[2020-05-14 01:21] yangshun opened #2745 "Opt-out of using react-router for specific links in the navbar"
By @jknoxville:

What would work is to manually prepend the baseUrl to every navbar link, and use a href, but I'm setting the baseUrl dynamically, so having to alter navbar links would get very messy.

[2020-05-14 01:22] yangshun commented on #2745
As discussed internally, we will be adding a boolean prop called `prependBaseUrl` work? It would add the `baseUrl` to the `href` when `prependBaseUrl` is `true`. I think it would solve the issue.

[2020-05-14 03:47] #2745 closed

[2020-05-14 05:53] yangshun commented on #2546
Components are ok, but it's also ok to hardcode this. I've made the page use card components similar to the showcase. Closed via c117a6fe7.

[2020-05-14 05:53] #2546 closed

[2020-05-14 14:10] jcomack opened #2748 "(v2) Results from tests vs client differ"
## 🐛 Bug Report

In some cases, test output differs from the output on the client-side.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Place https://gist.github.com/jcomack/688851466b0deebaef419a52e3a4cc26 in a `formatUrl.ts` file, in the `/packa

[2020-05-14 16:02] slorber commented on #2697
Hi all,

Here are a few comments, proposals and questions I have

# Valid urls of Watchman

I understand that such url should work:
- https://facebook.github.io/watchman/docs/nodejs.html

Does it mean that BOTH urls should work?
- https://facebook.github.io/watchman/docs/nodejs
- https://facebook.github.io/watchman/docs/nodejs.html

I don't know how Watchman site worked before, is it still online

[2020-05-14 21:55] mtooke commented on #2494
@jonnynabors would you mind posting your entire page code? I'm trying to make redoc work and am running into the same problem (when building only). I'm not a react dev.

For instance, where do I put that bit? Where does the ReactStandalone component go? Do I need the import statement, etc.

Thanks!

[2020-05-14 23:26] JoelMarcey commented on #2697
Thank you so much @slorber for the wonderful summary of the options here.

I would definitely prefer the option that could apply to the most sites that would run into this problem. So while I like the custom domain idea for Watchman specifically, that wouldn't scale to all sites that may not be able to have a custom domain. Same for migrating over to Netlify. We could probably do that, but not all

[2020-05-14 23:46] wez commented on #2697
Thanks @slorber!

I did try simply renaming files before I posted this issue and it didn't change the behavior.
If there have been changes since then I'm happy to work through and try your suggestions.

Regarding whether we need to support both names: we didn't, but now that we've been in the current state for a couple of months(!) we have both names out there and will need to transition back to t

[2020-05-15 11:56] oriooctopus opened #2750 "Mobile nav does not close when expanding width"
## To Reproduce

(Write your steps here:)

1. Reduce size of screen to mobile size (<~1000px)
2. Open mobile nav (bottom right button)
3. Expand screen to desktop size.
4. The nav is not closing, this is what it looks like on the docusaurus official site

<img width="1426" alt="Screen Shot 2020-05-15 at 5 57 45 AM" src="https://user-images.githubusercontent.com/20331238/82047867-c727cf80-9670-11ea

[2020-05-15 12:09] yangshun commented on #2750
It's a bug indeed, but low priority. We likely won't ever fix this. Why would you do such a thing as a user?

[2020-05-15 12:12] oriooctopus commented on #2750
True

[2020-05-15 12:58] slorber commented on #2697
Hi @wez @JoelMarcey

I understand that we are looking for a portable solution, and not really willing to leverage hosting platform configuration.

That means that we must write to disk these 2 files if we don't want a 404 status code from github pages:
- docs/nodejs.html
- docs/nodejs/index.html

I'm looking at how to make this work and I see 2 solutions:
- duplicate the page, and use canonical ur

[2020-05-15 13:30] yangshun commented on #2750
We can leave it open for interested contributors to try it out :)

[2020-05-15 13:33] yangshun commented on #2697
@slorber This plugin by @lex111 might be helpful - https://github.com/single-spa/single-spa.js.org/blob/master/website/src/plugins/docusaurus-plugin-redirects/src/index.js

[2020-05-15 15:35] pbeshai opened #2752 "v2 theme-classic `.contents` className is very generic and can easily clash with other libraries like monaco-editor"
## 🐛 Bug Report

Just trying to get started with docusaurus v2 and wanted to use the [monaco-editor](https://github.com/Microsoft/monaco-editor) (VS Code editor) to make a playground page, but I noticed the tooltips didn't render properly within it:

![image](https://user-images.githubusercontent.com/793847/82066825-c436da00-9684-11ea-989e-56514203f08e.png)

After some investigation, it became cle

[2020-05-15 18:43] mharsat commented on #2705
I created a minimal repo with the steps I wrote and it doesn't reproduce. Might be some other condition I'm missing. The issue can be closed if others don't experience this.

[2020-05-15 18:51] #2705 closed

[2020-05-15 21:29] fishcharlie opened #2754 "Algolia DocSearch Dark Mode"
## 🚀 Feature

There should be support for the dark mode for the Algolia DocSearch.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Almost everything in Docusaurus has support for dark mode, except for the Algolia DocSearch.

## Pitch

There should be support for dark mode for t

[2020-05-16 17:37] maximousblk commented on #776
@yangshun What can be possible problems if you make this a core feature? And what code are you talking about, the plugin or lunrjs?

---

As an alternative to lunsjs, I would like to suggest [FlexSearch](https://github.com/nextapps-de/flexsearch). It's super fast, [less resource hungry](https://github.com/nextapps-de/flexsearch#memory-usage) and requires no dependencies. This can be turned into a

[2020-05-16 18:21] JoelMarcey commented on #776
cc @slorber

[2020-05-17 03:08] hckhanh commented on #2576
Me too, I try out everything but it's still hopless. Even I try to change pnpMode to loose. :(

[2020-05-17 04:29] yangshun commented on #776
The fact that the plugin is built by the community. The scenario I'm afraid of here is that we require patches to the community plugin but the maintainer is no longer active, we would then have to fork the project in order to make updates to it. We might relax the stance here because we're using remark-admonitions now which likewise is built by the community.

What's wrong with using Algolia and w

[2020-05-17 06:03] lex111 commented on #2723
Fine, then we need a new option something like `yarn deploy --skip-build`, right?

[2020-05-17 06:18] maximousblk commented on #776
Nothing. Don't remove algolia. It's just that a local alternative would be super helpful.

For proprietary software documentation. The index is stored on the algolia servers which can be a problem if ever it gets breached, all the documentation will be public. Though that is a very narrow scenario.

Another case would be if the documentation is stored on a network totally cut off from the internet

[2020-05-17 07:45] #2744 closed

[2020-05-17 09:15] yangshun commented on #2598
In `markdown.css` there's `.markdown ul` which adds a bottom margin of `--ifm-leading` already, so this doesn't do anything.

Closing this issue as we've implemented the changes in Infima and will release a new version soon.

[2020-05-17 09:15] #2598 closed

[2020-05-17 09:32] cmfcmf commented on #776
The reason why I didn't want to use Algolia was mainly to avoid having to read through their terms of service and privacy policy to figure out *if* and *what* data they collect from visitors of my website when I load their JavaScript SDK and connect to their servers.

Thank you for bringing up FlexSearch! This is certainly an interesting alternative. I will see if using that instead of lunrjs woul

[2020-05-17 09:37] #2738 closed

[2020-05-17 09:48] #1973 closed

[2020-05-17 09:48] #2507 closed

[2020-05-17 09:48] #2567 closed

[2020-05-17 17:16] lex111 commented on #2737
Use the `srcDark` option to set the logo for dark mode. https://v2.docusaurus.io/docs/theme-classic/#navbar-title--logo
I think this option will be enough. If not, please give another real-world example.

[2020-05-17 18:51] raisty commented on #2737
Acceptable answer: **Yes**
Ideal solution: **No**
_"Real-World" example_: We have in design manual transformations based on color. My proposal will do the job without uploading a new image. Another advancement will be applying all portfolio of CSS transformations for special events - like Christmas, Easters, etc.

[2020-05-17 21:57] lex111 commented on #2698
I think we can close this issue due to a long lack of response from the author.

[2020-05-18 03:10] yangshun commented on #2737
This can be done by using your own webpack plugin - to inject the svg or base64 representation into the code. Will not be done in core.

[2020-05-18 03:10] #2737 closed

[2020-05-18 03:18] #2726 closed

[2020-05-18 03:19] yangshun commented on #2698
We can leave it open in case someone else wants to research and recommend something.

[2020-05-18 07:04] lex111 commented on #2574
Implemented in #2690.

[2020-05-18 07:04] #2574 closed

[2020-05-18 07:44] arrowak opened #2769 "Authentication for private pages"
## 🚀 Feature

Add the authentication layer to support hosting the private pages in the same documentation site.

A simple example:

- Let's say we have an "_API integration guide_" which is generic and open to anyone who wants to integrate it.

- Let's say we have some premium partners for whom we have some custom APIs documented with some confidential parameters and values (on and above public on

[2020-05-18 09:24] krillboi commented on #2723
Yeah that would work as well.

[2020-05-18 09:34] lex111 commented on #2769
Docusaurus is a static site generator, it is not a server, so we cannot control access to pages. What you want, I think, can be done through a reverse proxy, for example, https://github.com/bitly/oauth2_proxy

[2020-05-18 09:58] arrowak commented on #2769
Thank you for quick reply. Seems like it is doable. Let me quickly check and confirm.

[2020-05-18 10:30] arrowak commented on #2769
It appears that https://github.com/bitly/oauth2_proxy repo is not maintained anymore. It has also been marked read-only by its owner.

I am not sure if I want to use it for production purposes.

[2020-05-18 10:35] lex111 commented on #2769
See other projects, there are links in that repo. Moreover if that project is no longer maintained, this does not mean that this is not a working solution.

In any case, that was only the first example I know, you can find other options. I mean, this issue still doesn't apply to Docusuarus directly.

![image](https://user-images.githubusercontent.com/4408379/82203380-e9894980-990b-11ea-8be4-156a32

[2020-05-18 10:45] arrowak commented on #2769
Whoops! Boy, did I miss that notice. Thanks again. I understand the static only nature of Docusaurus. May be we should let it be what it is.

Closing the ticket on that note.

[2020-05-18 10:45] #2769 closed

[2020-05-18 11:57] #2607 closed

[2020-05-18 15:08] shujathkhan commented on #1834
Hey @yangshun  is https://ax.dev still up for grabs? Would like to take it up

[2020-05-18 17:13] maximousblk commented on #2537
A solution similar to vuepress would be nice. If the `/docs` directory has a `README.md` file it should be at `foo.bar/docs/` and not `foo.bar/docs/README`. And in 'docs only' mode, The `README.md` contents should be displayed at `foo.bar/`. This would be only if there is a `README.md` file in the `docs/` directory

[2020-05-18 17:26] sriramgroot commented on #827
Hi Folks,
Whether this feature/issue can we addressed in version 1 of docusaurus. This could be helpful if this issue is fixed in version 1 itself

[2020-05-19 03:40] Huxpro opened #2772 "Configurable Babel Plugins"
Posted in v2 feedback as well : https://docusaurus-2.netlify.app/feedback/p/configurable-babel

## 🚀 Feature

Being able to configure/add babel plugins such as optional chaining and Flow.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I'm not sure if it's not supported or just

[2020-05-19 07:19] dotansimha commented on #2654
@davidhagg Same here. I'm deploying to GH Pages (v2, latest alpha). It seems like it adds `/` always to all pages, so relative links are broken :(

[2020-05-19 07:21] dotansimha commented on #2394
Same here, with GH Pages.

[2020-05-19 07:27] dotansimha commented on #2394
My current way to workaround that:
1. Create a file called `static/js/fix-location.js` with:
[code]

2. Load this file as static JS file in `docusaurus.config.js`:

[code]

[2020-05-19 08:10] lex111 commented on #2700
I think this will be a useful feature, definitely we need it. However, the algorithm presented in the issue does not seem reliable, we need to work on a better solution. PR as always welcome.

Similar issue on Canny - https://docusaurus.canny.io/admin/board/feature-requests/p/configuration-option-for-table-of-content