[2020-10-05 21:31] lex111 commented on #3537
Done.

[2020-10-05 21:31] #3537 closed

[2020-10-06 01:06] sarthakkundra commented on #3030
Hey @slorber
Thanks for the clarification. I'll try to make the dropdown work just with HTML and CSS

[2020-10-06 04:55] JuanVqz commented on #3434
It seems like both volunteers won’t answer, can i take this one? It looks so challenging for me but I think I’ll do it with your help.

[2020-10-06 06:19] ywtsang opened #3542 "[v2] Blog home page support different meta title"
## 🚀 Feature

In the blog home page, the meta title is hardcoded as `Blog | {site title}`.

This may not be a problem if we just have a single blog, but when we are setting multiple blogs, it would be confusing to see the meta title (from the browser tab) to be "Blog" when switching between different blogs.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docu

[2020-10-06 09:28] devil-cyber commented on #1195
hey, can i work on this issue

[2020-10-06 09:29] devil-cyber commented on #1195
hey, can I work on this issue?

[2020-10-06 10:46] slorber commented on #1195
@devil-cyber why not, but it's not likely a very easy task

[2020-10-06 10:53] slorber commented on #3542
agree.

I thought this pr from @zxuqian added support for this: https://github.com/facebook/docusaurus/pull/2359

But it seems to only handle the description.

Adding support for title config option should be easy, inspired by the PR above, while keeping retro compatibility.

[2020-10-06 11:08] slorber commented on #3434
Yes @JuanVqz thanks ;)

[2020-10-06 11:10] slorber commented on #3030
My mistake @sarthakkundra I think this dropdown already works without much js (worth checking if this can be improved though, particularly keyboard-based navigation)

The critical part that is not working without JS is the docs sidebar, that we can't expand.

[2020-10-06 11:19] #3275 closed

[2020-10-06 11:20] slorber commented on #3275
Thanks @utkarsh867  the new output is

![image](https://user-images.githubusercontent.com/749374/95195286-9fc7cf80-07d6-11eb-83fe-955954bb2333.png)

WDS log does not include the baseurl but I think it's good enough so that we can close this issue.
If you feel it's not enough please open a PR with an implementation proposition.

[2020-10-06 11:25] devil-cyber commented on #1195
Can you help to get started on this?

On Tue, Oct 6, 2020, 4:16 PM Sébastien Lorber <notifications@github.com>
wrote:

[2020-10-06 11:39] slorber commented on #1195
@devil-cyber unfortunately it's exploratory work, I don't have a good idea on how this should be implemented exactly without actually working on this directly.

[2020-10-06 11:40] devil-cyber commented on #1195
Ok

On Tue, Oct 6, 2020, 5:09 PM Sébastien Lorber <notifications@github.com>
wrote:

[2020-10-06 13:08] DeadEnglish commented on #3542
Hey, I'd love to take this issue if possible?

[2020-10-06 13:14] slorber commented on #3542
yes @DeadEnglish thanks ;)

[2020-10-06 13:32] slorber commented on #3396
Important to consider: if we persist a "preferred version" we probably should search in this version when searching on unversioned pages (see also https://github.com/facebook/docusaurus/pull/3543)

[2020-10-06 14:11] fasolens commented on #3309
@slorber I hadn't update docusaurus. I thought it was alpha.63 but it was alpha.53 or something :(
It is working fine right now.

[2020-10-06 14:14] uditalias commented on #789
I created this simple CSS gist that shows how you can add Line Numbers to code blocks.

https://gist.github.com/uditalias/3969a20ef759bf3a8757499429b30063

You can see it in action here: https://www.injex.dev

[2020-10-06 16:07] craigpalermo commented on #3515
We're also experiencing a similar issue with `docusaurus build`. Development mode works fine, but the server has compilation errors and `docusaurus build` results in the following stack trace. We think it began in `2.0.0-alpha.63`, but can't tell for sure since we can't get back to a working state. Our repo uses Rush and PNPM, so the docs project shares a lockfile with other projects.

[code]

[2020-10-06 16:34] slorber commented on #3399
Note: we should rather wait for documenting these things.

`onRouteUpdate` fires too early (before new route actually has rendered), and the `PendingNavigation` component implementation looks not very robust (particularly due to doing things in `shouldComponentUpdate`).

Until we have a better implementation, we should probably keep this undocumented.

[2020-10-06 17:44] imabp commented on #3399
we can do this by putting  `onRouteUpdate` inside `componentDidMount()`

But finally its actually, whenever we create a new route, ga analytics are set up for that route, so that whenever user clicks on that page, the analytics data is sent to the Google Analytics. right @slorber  ?

[2020-10-06 17:46] slorber commented on #3399
@imabp just tried that and it didn't work, as comparing prevProps.location to this.props.location always returned true, due to the hacky code in shouldComponentUpdate, so it never fired.

[2020-10-06 17:57] slorber commented on #3515
Thanks @craigpalermo

If you have a babel config at the root of your site, it should rather have the docusaurus preset indeed. Why do you need the react-app preset in the site folder?

Without access to the source code it's hard to see what could go wrong.

[2020-10-06 18:15] imabp commented on #3399
Yaa we need to deep dive into this.

[2020-10-06 18:20] craigpalermo commented on #3515
@slorber I'm not entirely sure why we used the `react-app` preset in the first place.. I actually got the idea to switch over to the Docusaurus preset by comparing our project against a newly created Docusaurus project.

For future reference, do you know if there's a better way to get visibility into the build process? I couldn't find anything like a `verbose` flag for `docusaurus build` in the do

[2020-10-06 18:41] Southclaws commented on #3518
Oh, that cross-mdx import is probably what I want, thanks!

[2020-10-07 06:08] dopecodez commented on #3542
@DeadEnglish do give a heads-up if you're unable to raise a PR at this time, I'll take a look at this in case you are not solving this.

[2020-10-07 08:20] omry opened #3547 "Native GitHub linking support"
## 🚀 Feature

It is common to add links to GitHub from project documentation, for example to example applications.
The approach of using a regular link has multiple problems.
1. GitHub repositories are live and constantly changing, this means that documentation linking master is more likely to break.
There is no central place to change all the links to a specific branch.
As an example, when cuttin

[2020-10-07 10:30] slorber commented on #3547
Hi,

There is no central place to change all the links to a specific branch.
As an example, when cutting a version of the docs, it is common to have a release branch. It would be great if I could tell the Docusaurus something like "Use 1.0_branch for all the GitHub links in this version" instead of having to fix them one at a time.

We can probably have a markdown preprocessing step (remark plugin

[2020-10-07 10:32] slorber commented on #3542
Let's say we expect news from @DeadEnglish in the next 7 days, after it gets reassigned to the next candidate ;)

[2020-10-07 11:42] #3320 closed

[2020-10-07 13:12] slorber commented on #3518
please let me know if this works for you, and if we can close this issue ;)

[2020-10-07 13:32] slorber commented on #3515
I don't really know a good way to debug webpack builds unfortunately. BTW your issue does not really seem related to the one of @taylorreece and seems fixed, so I'll hide the comments. If you want to discuss more about your problem, let's continue on discussions (or Discord)

[2020-10-07 14:00] slorber commented on #3399
Note, events are inspired from Gatsby (that also has a `onRouteUpdateDelayed`) https://www.gatsbyjs.com/docs/browser-apis/#onRouteUpdateDelayed

[2020-10-07 14:02] JuanVqz commented on #3434
does anyone can help me guide me on how to create the route I saw how the [blog tags](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/index.ts#L150) create the route as @fanny pointed up but the [doc](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-docs/src/index.ts#L44) file it's kind of different. (I'm assuming

[2020-10-07 14:23] Southclaws commented on #3518
It looks like it works well! Thanks!

[2020-10-07 14:23] #3518 closed

[2020-10-07 19:12] harsh599 opened #3551 "why importing Ideal image pulgin is giving error as module not found?? tried many things but didnt worked"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus)
![image](https://user-images.githubusercontent.com/31313683/95376714-25

[2020-10-07 20:36] HonkingGoose opened #3552 "Use a dependency management bot to deal with upgrades"
## 💥 Proposal

I propose that this project uses a dependency management bot like **Renovate** or **Depfu** to get upgrades in a timely fashion.

## Current situation

I know that this project already uses Dependabot to get security updates for the main Docusaurus dependencies which is fine, and a good thing to have.

The main development dependencies seem to get updated when needed.

However there

[2020-10-07 22:44] leeyspaul commented on #877
Hi! Is this stale? I tried to replicate this and I could not reproduce. @JoelMarcey @endiliey

[2020-10-07 23:55] leeyspaul commented on #1196
Reviving an old thread. What constitutes vanilla? I was browsing around and starting with `init` gave me a few reference to docusarus but not a lot. Thank you for the context in advance. :]

@JoelMarcey

[2020-10-08 07:17] lensbart commented on #877
I can’t reproduce this either.

If memory serves me well, this used to be a Safari bug, because I think I encountered this on other (non-Docusaurus) web pages as well.

So yes, I think you can close this issue!

[2020-10-08 11:05] sarthakkundra commented on #3030
@slorber I will look into it. Thanks!

[2020-10-08 11:49] charlax commented on #2985
I have the same issue with a similar setup (docs-only mode). What did you do to find the fix? Not sure how to debug, and I have deleted the `src/pages/index.js`

[2020-10-08 13:02] Martinsos opened #3559 "Additional prism language (shell-session) is not colored."
## 🐛 Bug Report
As per Docusaurus docs, I added
[code]
under themeConfig in docusaurus.config.js.

I can see that the block of code where I use shell-session is being correctly tokenized, by inspecting it in the browser via "inspect element". However, no colors are applied! I see that in docusaurus, again via inspect element, other language blocks have colors applied directly via inline style tag

[2020-10-08 13:31] leeyspaul commented on #877
@lensbart awesome! I guess we'll leave that to the folks who can do it. :]

[2020-10-08 13:40] slorber commented on #3559
Hi,

I've debugged this issue.

![image](https://user-images.githubusercontent.com/749374/95465910-020e0500-097c-11eb-82f6-da348ff43f8e.png)

The tokens are in the DOM, you should add the `shell-session` flag to all your codeblocks, many don't have it.

It's not a highlighter problem,  it's just that Docusaurus default syntax highlighting themes don't have anything to highlight properly the  shell

[2020-10-08 14:27] mkcode commented on #3030
Goal is to have this on all of the themes. But start with the classic theme.

[2020-10-08 14:39] Martinsos commented on #3559
@slorber thank you for quick response!

Yes, as I mentioned, tokens are in the DOM, but no style was being applied to them. I had `shell-session` only on one code block because I wanted to compare the difference between one working and one just being plain once I get it working.

Great, your suggestion solved the problem! I wonder though, how is Docusaurus user supposed to figure this out on their

[2020-10-08 15:47] nicolas-actyx opened #3561 "JSON parse fails after updating to 2.0.0-alpha.64"
## 🐛 Bug Report

I got this error after I updated the docusaurus version from 2.0.0-alpha.48 to 2.0.0-alpha.64.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes.

## To Reproduce

1. Download this example repository:
[test-docs.zip](https://github.com/facebook/docusaurus/files/5353148/test-docs

[2020-10-08 16:17] slorber commented on #3561
Hi,

You upgraded Docusaurus and likely many other deps were upgraded too in this process, so it's hard to know the problem and  if it's our fault without a repro. If you can try to create the minimal repro case that would be great.

I don't even know what is the content of this json file, and how/where it is consumed, so it's hard to solve.

[2020-10-08 16:25] slorber commented on #3559
@Martinsos great to know your problem is solved.

we are alpha, it's open source, our doc is not perfect and we rely on other open-source projects whose doc is not perfect either .

I had no idea that default prism themes had missing classes for specific languages, I don't know what to do about it right now, and have other more important things to fix and missing docs to write.

If you do not subm

[2020-10-08 16:47] slorber commented on #1196
Not sure exactly either what should be done, but it looks related to https://github.com/facebook/docusaurus/issues/3489

[2020-10-08 16:48] slorber commented on #3551
Have you added the ideal image plugin in the config?

[2020-10-08 16:49] slorber commented on #3471
no answer so closing

[2020-10-08 16:53] slorber commented on #877
Let's close it until someone else find this bug again.

Note: it's v1 so must be looked for in v1 websites :)

[2020-10-08 16:53] #877 closed

[2020-10-08 16:59] slorber commented on #2985
@charlax newest versions shouldn't have this problem anymore

[2020-10-08 17:05] slorber commented on #3434
@JuanVqz this is how the plugin creates the tags page: https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/index.ts#L324

[2020-10-08 17:29] charlax opened #3562 "Sidebar won't show up in docs-only mode + home page not included in sidebar"
## 🐛 Bug Report

If the sidebar object does not include the home page, the sidebar won't be included.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Activate docs-only mode
1. Create a `sidebar.js` file without including the home page.

## Expected behavior

The sidebar

[2020-10-08 17:43] omry commented on #3547
I agree.
I think we can try to ask other people that use versioning if the problem described here resonates with them.

[code]
If config specifies a branch, it should point to that branch:

[code]
Which suggests that the pattern is:
[code]

The main config already contains the first two and those are stable across versions (although maybe we can also support overriding them to support a repo move

[2020-10-08 18:05] slorber commented on #3562
@charlax this is a feature, not a bug.

All docs pages that are not in a sidebar appear without any sidebar.

Remember that we can have multiple sidebars. In such case, which sidebar would we decide to show?

[2020-10-08 18:05] #3562 closed

[2020-10-08 18:14] harsh599 commented on #3551
Yes hopefully i have fixed that issue but currently facing another one as I had written this code below but getting an error in console how should i fix it.
![image](https://user-images.githubusercontent.com/31313683/95497584-2be91b00-09c0-11eb-8a77-dfb1a9d77f63.png)

Below is the code i have written:
![image](https://user-images.githubusercontent.com/31313683/95497608-39060a00-09c0-11eb-9641-e2f1

[2020-10-08 18:45] JuanVqz commented on #3434
maybe I need more experience to do this, I'll let another person do this task

[2020-10-08 20:06] Martinsos commented on #3559
Hi @slorber, I am maintaining an open source project myself, and I often try to contribute to other projects when I encounter an issue like this, so I very much understand what you are saying -> when I asked how is user supposed to figure this out on their own, I did it because I was interested if I am missing something or if this information is genuinely missing. I did not ask the question in ord

[2020-10-08 20:33] slorber commented on #3551
These screenshots do not show that you installed the plugin correctly.

Please read plugin doc again

Le jeu. 8 oct. 2020 à 20:14, harsh599 <notifications@github.com> a écrit :

[2020-10-08 20:39] slorber commented on #3559
Sorry for misinterpreting as a complaint then.

I don't know if this should be in the doc or not. We have setup prism, loaded a theme. I think user should rather look at prism doc. We can't duplicate doc of prism, MDX webpack etc in docusaurus doc without cluttering our own doc.

Maybe we could just mention that the default themes may not include highlighting classes for all languages or something

[2020-10-08 20:49] charlax commented on #3562
Should this be mentioned in the v2 docs? https://v2.docusaurus.io/docs/docs-introduction/#sidebar

Or perhaps I missed it?

[2020-10-08 20:53] Martinsos commented on #3559
Got it -> I created PR, it is very simple, so let's see, if that makes sense great, if not maybe it will at least start discussion about the correct solution for this.
PR: https://github.com/facebook/docusaurus/pull/3563 .
Thanks!

[2020-10-09 02:18] ywjr opened #3564 "key word “fs” is declared in node_modules\@types\node\fs.d.ts file, this cause Node.js file system ‘ fs’ not work 。"
## 👉 [Please follow one of these issue templates](https://github.com/facebook/docusaurus/issues/new/choose)

👈

fs is  declared    in   node_modules\@types\node\fs.d.ts  file,

this   cause  Node.js file system ‘ fs’     not work   。

const FS = require('fs');

![fs](https://user-images.githubusercontent.com/62584887/95534530-b198b500-0a18-11eb-9c0a-92b34a2f09ba.png)

[2020-10-09 04:13] harsh599 commented on #3551
I have installed the plugin correctly have look of my Package.json file

![image](https://user-images.githubusercontent.com/31313683/95542611-eeae7880-0a13-11eb-8c4e-4da13531abbb.png)

[2020-10-09 05:13] niheaven commented on #3471
Sorry, on vacation...

Please check https://github.com/niheaven/docusaurus-debug, and output on my machine likes:

![image](https://user-images.githubusercontent.com/5832170/95545680-2c6dca00-0a31-11eb-8aa2-f6eced5df993.png)

`init commit` runs well.

[2020-10-09 07:18] slorber commented on #3562
Our doc is not perfect yet, if it's not clear and you have a good idea where to mention that behavior, please send a PR :)

[2020-10-09 07:19] slorber commented on #3562
Probably not good enough but found this

![image](https://user-images.githubusercontent.com/749374/95554459-7e522800-0a10-11eb-83ea-f1ed58fd010f.png)

[2020-10-09 07:23] nicolas-actyx commented on #3561
Hi,

Thanks for the quick feedback. I updated the bug report descriptions and added an example repository. Hope this helps!

[2020-10-09 07:23] slorber commented on #3471
Thanks, let's reopen.

I don't have windows to test the repro, unfortunately, but people have reported that using other shells (like PowerShell) could solve problem. Can you try some other Windows shell if possible?

[2020-10-09 07:27] slorber commented on #3551
![image](https://user-images.githubusercontent.com/749374/95555120-98403a80-0a11-11eb-9413-5034636043ff.png)

[2020-10-09 07:29] slorber commented on #3564
Sorry but I'm not able to understand anything about this issue, please give more infos about what you want, and we'll reopen.

[2020-10-09 07:29] #3564 closed

[2020-10-09 08:19] slorber commented on #3434
Thanks for trying @JuanVqz  :)

[2020-10-09 09:07] niheaven commented on #3471
What I use is PowerShell 7, and I also tried PowerShell 5.1, CMD and nu shell. Unfortunately, the same error...

`npm run start` cannot work, too.

It seems like parsing engine treat `./assets/测试.pdf` as `./assets\测试.pdf` in Windows and the backslash is used as an escape character.

[2020-10-09 14:36] slorber opened #3566 "CSS + SVG: can't use background-image: url('/mySvg.svg');"
## 🐛 Bug Report

**Problem:**

The following svg  usage in css URL does not work

[code]

This leads to code being in the CSS instead of the SVG url.

![image](https://user-images.githubusercontent.com/749374/95595808-e32b7380-0a4c-11eb-90ac-9a3d9c02734e.png)

---

**Solution:**

This happens because webpack css-loader convert urls to require calls, and  we have a svg loader that  convert svg requ

[2020-10-09 14:36] #3566 closed

[2020-10-09 14:36] slorber commented on #3566
initially reported here: https://github.com/react-native-website-migration/react-native-website/issues/26

[2020-10-09 17:31] tlm28 opened #3567 "Docs-only mode doesn't work"
# Docs-only mode doesn't work

I ran the following command to install Docusaurus 2.0.0-alpha.65:

  $ npx @docusaurus/init@next init website classic

and follow the instructions in
https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode
to get rid of the landing page:

1. Add "routeBasePath: '/'" (under presets) to docusaurus.config.js.
2. Delete the file src/pages/index.js.

When I built

[2020-10-09 18:21] slorber commented on #3567
Hi,

The "docs-only" name may be misleading, but using `routeBasePath: '/'` does only set the / URL for docs, but it does not disable the blog.

If you want to disable the blog, pass `blog: false` to the classic preset

If you want to keep the blog, the remaining blog posts should not link anymore to `/docs/` because your docs are at `/` now, so this is not a bug, it's a feature that prevented you

[2020-10-09 18:53] tlm28 commented on #3567
I want to get rid of the landing page and keep the blog. I follow the instructions in https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode to do that, but clearly they don't work.

[2020-10-09 18:57] tlm28 commented on #3567
Why should I deploy a site with broken links?

[2020-10-09 21:07] cmdcolin commented on #3515
I think I ran into the same issue. I get yarn why html-minifier-terser to be 5.1.1, with react-scripts contributing.

Poking into the node_modules/@docusaurus/core/lib/client/serverEntry.js    and removing minifyJS: true line did fix the build

[2020-10-09 21:09] cmdcolin commented on #3515
Note I have a monorepo setup also...I had considered taking the website out of the monorepo but curious if anything comes from this one

[2020-10-09 21:14] taylorreece commented on #3515
Interesting.  I'm also pinned to `html-minifier-terser` 5.1.1. Though, if I replace my yarn lock file with 5.0.5, I still see these issues.

[2020-10-09 22:46] JoelMarcey commented on #3567
@tlm28 I don't think @slorber is suggesting you deploy a site with broken links. He is saying you can workaround it short-term, build/load the site and ignore the errors while you work out the issue re: whether you want a blog or not. In other words, I believe he is first asking whether you want to disable the blog or not. And if you don't, you need to set `blog: false`. And if you do that, the er

[2020-10-09 23:32] tlm28 commented on #3567
We do want to keep the blog.

The broken links include paths to docs. Here's the complete list of the errors:

Error: Broken links found!

- Page path = /404.html:
   -> link to /docs/
   -> link to /docs/doc2/

- Page path = /blog:
   -> link to /docs/
   -> link to /docs/doc2/

- Page path = /blog/hello-world:
   -> link to /docs/
   -> link to /docs/doc2/

- Page path = /blog/hola:
   -> link t

[2020-10-10 00:45] leeyspaul commented on #1196
Yeah, it seems like #3489 is about splitting up the base template into a series of templates for different use cases. So this vanilla template would be the base perhaps.

I think the maintenance factor is a valid concern too. Definitely still seems like an open and ongoing discussion. @fanny might have some creative ideas!

[2020-10-10 00:57] leeyspaul commented on #3526
I'm interested in helping out with the translation efforts for i18n! Would you be able to put more information here on what that would look like for interested folks?

[2020-10-10 08:33] huntye1 opened #3570 "[v2]tag style must be object even though file extension is .md"
I write my doc file in Typora that can custom tags style by inline style. like this:
[code]
but when i run my site, I got an Error ` Error: The `style` prop expects a mapping from style properties to values, not a string.`

I read the doc said that I must change my inline style syntax into object style that using in jsx.

Is there some way to config this action or disable it  in .md extension file

[2020-10-11 06:51] isaac-philip commented on #3434
I will take a try on this today.

[2020-10-11 11:17] breyed opened #3572 "Stable unreleased alpha with no release notes"
## 📚 Documentation

The [versions](https://v2.docusaurus.io/versions) page shows 2.0.0-alpha.66 as a stable unreleased alpha, which seems like a contradiction. Improved terminology or at least some explanation on the page would be helpful to avoid confusion. I was hoping the [Release Notes](https://github.com/facebook/docusaurus/releases/tag/vcurrent) would clear things up, but the link 404s.

###

[2020-10-11 15:14] lunelson commented on #3515
This is a pretty bad bug. I'm surprised the Docusaurus team has not run in to it, since they are also using a yarn workspace structure 🤔. I am also working in a monorepo, with a custom theme under `/packages/` and my test site under `/sites/`, and the test site wouldn't build after bumping up from `alpha.63`. I finally managed to get a `nohoist` config that seems to work but this feels like a very

[2020-10-11 20:43] lex111 commented on #3572
Agree, I think we need to explicitly separate versions page, something like this:

[code]

Or dev/latest versions need to inverted?

[2020-10-11 21:16] amimas commented on #3417
That's the setup I have. Whether you use netlify or some other service, you can deploy the site from every branch. And there's your "draft". When changes are finalized and merged into the main branch, the changes will be in production site.

That's why I'm still not seeing a lot of benefit of the proposed feature. Also, i agree with @slorber about the fact that this is not a CMS. It's a static sit

[2020-10-11 21:23] amimas commented on #3396
Not sure what is "docs multi-instance" @slorber .

[2020-10-11 21:34] alexnaiman commented on #3450
Hello! Can I try to tackle this issue for the Hacktoberfest2020? If so, can you assign it to me?

[2020-10-11 23:01] facultymatt commented on #3450
Hello, we have a branch what fixes this, just waiting on our company to
address the CLA to open the PR.

I’d suggest tackling something else for the hack event! 👍👍

On Sun, Oct 11, 2020 at 2:35 PM Alexandru Naiman <notifications@github.com>
wrote:

[2020-10-12 08:41] slorber commented on #3567
@tlm28 if you used the Facebook template, you should have this default footer config:

![image](https://user-images.githubusercontent.com/749374/95724435-a773f200-0c76-11eb-93ee-bb2c62df945b.png)

You have in practice 2 links to /docs/ and /docs/doc2 from your footer, appearing on all the pages of your site, and those links to not exist anymore because you decided to move `/docs/` to `/`, and `/do

[2020-10-12 09:48] slorber commented on #3567
The new error message  will be:

![image](https://user-images.githubusercontent.com/749374/95732219-d1caad00-0c80-11eb-9caa-3ab37b0bd24d.png)

Let me know if you think it's not clear enough to understand what's going on.

[2020-10-12 09:51] #3567 closed

[2020-10-12 10:01] slorber commented on #3450
Thanks, waiting for your PR @facultymatt

Still interested to know: do you actually need this feature? I'm not 100% sure to understand in which case I'd use it. Do yu often init a new docusaurus project at the same time as you bootstrap a monorepo?

[2020-10-12 10:06] slorber commented on #3572
Hi,

The alpha 66 (unreleased) means it's what will be in next release.

We use this version by default as it nudges users to contribute docs to the ./docs folder (via the edit button).

Not totally satisfied with this solution either, have some ideas to improve current setup.

If you have any ideas on how to make it clear that one version of the dropdown is the "work in progress" (ie code from ma

[2020-10-12 10:44] #3189 closed

[2020-10-12 10:47] slorber commented on #3526
Thanks @leeyspaul. In which language are you able to translate?

Basically, the work would be to use Crowdin and translate:
- a file of layout key/value pairs
- whole markdown documents

Very similar to v1 translation process. To get familiar with it, you can join the v1 translation project here: https://crowdin.com/project/docusaurus and submit a few translation proposals.

[2020-10-12 10:49] slorber commented on #3570
Hi @huntye1 , this JSX object syntax is required by the MDX parser that we currently use.

There's already an issue about the current parser limitations regarding compatibility with existing MD ecosystem, so I'm closing this one.

https://github.com/facebook/docusaurus/issues/3018

[2020-10-12 10:49] #3570 closed

[2020-10-12 10:53] lex111 commented on #3572
@slorber I think it would be enough for now to change only the versions page, I suggested how this can be done in my previous comment.

[2020-10-12 11:03] slorber commented on #3572
@lex111 yeah why not first modifying this version page.

Note that "current" is now the name for the version of the `./docs` folder, so it's more dev/current, latest/alpha65.
See also https://v2.docusaurus.io/docs/versioning/#figure-out-the-behavior-for-the-current-version

Do you want to submit a PR?

In the future, I'd like the docs plugin to generate it, as many docusaurus sites have such page

[2020-10-12 11:23] #3542 closed

[2020-10-12 11:29] slorber commented on #3561
Thanks @nicolas-actyx

It seems we try to load your json file as a static asset like we do for images. Probably make sense. to do so but I suspect there is a conflict between assets loader (file. loader) and code loader (babel loader).

I suggest you use the `pathname://` prefix as an escape hatch for such case

[code]

[2020-10-12 11:29] #3561 closed

[2020-10-12 11:44] nicolas-actyx commented on #3561
Thanks a lot for the quick help, just tried it and it works!

[2020-10-12 11:51] Simek opened #3575 "Open Source Infima framework"
## 💥 Proposal

Currently the Docusurus styling is based on the [Infima](https://facebookincubator.github.io/infima/) framework which is a FB Incubator project (currently closed source).

I acknowledge this statement, but Infima is used in default theme, most of Docusaurus V2 websites are based on `theme-classic` package and they are already running "in production": https://v2.docusaurus.io/showcas

[2020-10-12 12:42] #3268 closed

[2020-10-12 13:26] slorber commented on #3515
Hi,

Tried to hack a bit the repro from @taylorreece and found the issue:

In Docusaurus core we run this static html files minification, which includes JS minification using the terser package.

![image](https://user-images.githubusercontent.com/749374/95750670-c8037280-0c9d-11eb-996c-19094e8512c2.png)

This html minify package calls terser:

![image](https://user-images.githubusercontent.com/749

[2020-10-12 13:40] slorber commented on #3515
Related to this issue: https://github.com/terser/html-minifier-terser/issues/49

[2020-10-12 14:11] slorber commented on #3515
I was able to make the repro  repo build with the following:

[code]

Note: I'm not sure the  "nohoist" config works with just `yarn install`, had to regenerate the whole lockfile to make it work.

Please let me know how this workaround works for you

[2020-10-12 14:21] slorber commented on #3396
@amimas not well documented yet but you can understand the idea here: https://github.com/facebook/docusaurus/issues/3299

One Docusaurus site can host the doc for 2 sdks (like ios + android) that have different versions/release cycles.

[2020-10-12 14:33] taylorreece commented on #3515
Hey @slorber - thanks a bunch for looking into this!
[code]
ended up working. I did _not_ need regenerate a new `yarn.lock` file, but instead removed all `node_modules` directories and re-ran `yarn install`.

[2020-10-12 15:08] slorber commented on #3515
Great to know 👍

Let me know if this workaround is not good enough, but I don't have anything better to propose for now ;)

[2020-10-12 15:08] #3515 closed

[2020-10-12 15:18] slorber commented on #3547
@omry to me a more generic solution could be to just have a remark plugin that replaces the link target value by another value.

For example.

In md, you could have:

[code]

In config you could have:

[code]

This way you have maximum flexibility to generate all the "link aliases" you want in config, through code. It does not have to be coupled to any SCM system, you just create your aliases the

[2020-10-12 15:41] cmdcolin commented on #3515
@slorber great sleuthing :) thanks so much...will hope to see the dependencies catch up

[2020-10-12 16:02] amimas commented on #3396
Thanks for the reference @slorber .

Sounds like a neat feature. I am actually doing something like this using V1 already. I have separate Docusaurus V1 instances for different tools and they are all deployed at subfolder from the root of the domain. Each docusaurus instance has its own versioning and search index with algolia. As a result, when you are in a page doing a search, the search is alre

[2020-10-12 16:47] slorber commented on #3396
Great, hope we'll be able to solve your usecase.
Although if you have large sites to assemble it may be better to keep them separated to avoid long build times.

There's already a PR here: https://github.com/facebook/docusaurus/pull/3543, but waiting for Algolia inputs to complete it.

[2020-10-12 17:09] #3572 closed

[2020-10-12 17:12] omry commented on #3547
1. This would require configuration per link (I have tens, maybe hundreds of such links).
2. I am not sure how this works across different versions (I want to link to different branch depending on the documentation version).

[2020-10-12 17:33] slorber commented on #3547
At some point, we need to be aware of which links to rewrite and which links to not rewrite so you'll need to maintain an exhaustive list on your side.

You can generate the aliases object using node code.

We can create one `linkAliases` config per version as well, so that the same alias is not resolved the same way according to the version.

---

Can you give concrete examples of pages linking t

[2020-10-12 18:38] omry commented on #3547
For starters, I understand that tension between adding new APIs and reusing existing ones.
Implementing this as a kind of plugin sounds like a good idea, but at the same time it could maybe be generalized as a "Templated link" which can again be in a core or as a plugin.

This can be achieved in many ways, an exhaustive list in the config does not sound like a good one to me.
The involved work is

[2020-10-12 18:59] leeyspaul commented on #3526
@slorber I'd be able to contribute in Spanish and maybe in Korean in the future. But for now I'd like to start with Spanish. I'll check out the links and ask any questions through the discord channel. Would it be helpful for perhaps new folks looking to contribute to have a page on the localization process? Perhaps a new issue could be opened up on that.

[2020-10-12 22:09] tlm28 commented on #3567
Thanks @slorber.

[2020-10-13 09:58] charlax opened #3579 "Add support for loading symbolic links to md files"
## 🚀 Feature

This is for docusaurus v2.

Allow having symbolic links in `docs/`. Currently, using links (e.g. `docs/index.md` -> `../index.md`) raises the following:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I have the current setup:

[code]

I would like to hav

[2020-10-13 11:38] jcs98 commented on #2930
@slorber I would love to take this up as a first-issue for docusaurus as part of mlh
Can you please help me with a starting point?

[2020-10-13 13:21] slorber commented on #2930
Hi @jcs98 ,

This is part of Infima alerts(https://facebookincubator.github.io/infima/docs/components/alert), and kind of related to if we open-source it or not (https://github.com/facebook/docusaurus/issues/3575).  We'll figure this out soon but this is not a good time to work on this until then.

[2020-10-13 15:45] harsh599 opened #3581 "Urgent Help needed regarding plugin support."
https://github.com/lelouchB/final-space-api/issues/33

kindly visit the link you will better understand the issue

[2020-10-13 19:48] rafaelrdealmeida commented on #2736
Hi, eu tentei fazer o deploy do docusaurus v2 no gitlab pages. O site esta no ar mas aparentemente só com o html tem alguma coisa que falta no build?

Em minha maquina local funciona perfeitamente e todos os arquivos do build/ local e gitlab-pages são iguais. Você saberia me dizer  o que houve?

[code]

cheers

[2020-10-13 19:49] rafaelrdealmeida commented on #2736
Hi, I tried to deploy docusaurus v2 on gitlab pages. The site is live but apparently only with html is there anything missing in the build?

On my local machine it works perfectly and all the files in build / local and gitlab-pages are the same. Could you tell me what happened?

site:
https://unesp-labri.gitlab.io/docs/idocs/

yml:
https://gitlab.com/unesp-labri/docs/idocs/-/blob/master/.gitlab-ci

[2020-10-13 20:43] limkinZero commented on #2736
Check your path and url attributes in config file.

Test with:

url: 'https://unesp-labri.gitlab.io/docs/idocs/',
baseUrl: '/',

El mar., 13 oct. 2020 21:49, rafaelrdealmeida <notifications@github.com>
escribió:

[2020-10-13 20:53] rafaelrdealmeida commented on #2736
Hi, I just tested, the problem remains

https://gitlab.com/unesp-labri/docs/idocs/-/blob/master/docusaurus.config.js

[2020-10-13 21:55] leeyspaul opened #3582 "Document i18n contribution process"
## 📚 Documentation

There doesn't exist documentation on how to contribute to localization/translation efforts related to #3526.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

It would be helpful to document the i18n process formally so new contributors who would like t

[2020-10-13 23:00] hamzahamidi commented on #3513
I think the Back to top button should only be visible when scrolling.

[2020-10-13 23:30] rafaelrdealmeida commented on #2736
Hi,

Continue testing here and below follow my conclusions.

To deploy docusaurus on Gitlab Pages as things are currently structured, it is necessary that the project is not within a group or subgroup. The creation of groups and subgroups is an interesting feature of GitLab and when you create a static website within a group it becomes a subdomain.

For example, the users "Slash" have a group call

[2020-10-14 06:34] azzyx opened #3583 "Failed to compile"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus)
![image](https://user-images.githubusercontent.com/19355323/95951684-74

[2020-10-14 08:48] ArtFlag commented on #3526
I could help with French, if needed.

[2020-10-14 08:50] slorber opened #3584 "DX: show big help message when baseurl problems"
## 💥 Proposal

Not configuring the baseurl properly is the most common Docusaurus error, and lead to site deployments such as:

![image](https://user-images.githubusercontent.com/749374/95964651-53e5dd80-0e09-11eb-9a8d-d7e849a10a41.png)

It's very often asked on issues or Discord why a site does not work after deployment, and the answer is always the same:  baseurl.

---

I suggest that:
- We inli

[2020-10-14 09:08] slorber commented on #3526
Thanks. I'm French so would be able to translate it in French but still help is welcome 👍

@leeyspaul the localization process does not exist yet. We'll actually write it from practical experience traducting the Docusaurus site. There are multiple things to figure out, including Crowdin recommended settings etc...

[2020-10-14 09:10] slorber commented on #3582
@leeyspaul we can't contribute to translations before there's an actual translation system in place.

I'll write the I18n contribution process as part of this PR, but it's not figured out yet: https://github.com/facebook/docusaurus/pull/3325

[2020-10-14 09:10] #3582 closed

[2020-10-14 09:14] #3528 closed

[2020-10-14 09:36] slorber commented on #3583
Hi and thanks, this looks like a. duplicate of https://github.com/facebook/docusaurus/issues/3471 so I'm closing.

Try a folder without Chinese characters as a workaround

[2020-10-14 09:36] #3583 closed

[2020-10-14 09:38] slorber commented on #2953
So it seems @amimas agrees with me, feels less alone :D

https://github.com/facebook/docusaurus/issues/2736#issuecomment-634396631

[2020-10-14 09:43] slorber commented on #2736
@rafaelrdealmeida you are overcomplicating things.  Your site is https://unesp-labri.gitlab.io/docs/idocs/, you should just use baseurl = /docs/idocs/ so that our js/css URLs use this pathname prefix as well.

This is totally unrelated to groups, subgroups or whatever, it's just related to what is the pathname prefix of your homepage.

Closing this issue because I don't think we should provide a d

[2020-10-14 09:43] #2736 closed

[2020-10-14 09:51] slorber commented on #3317
Worth studying the NextJS i18n routing RFC: https://github.com/vercel/next.js/discussions/17078

[2020-10-14 09:58] slorber commented on #3581
I'm sorry but if you want me to invest time in helping you, please invest first your time to create a proper issue, with all the relevant infos summarized.

If you have a bug related to ideal image plugin, please explain what you tried, what you expected, and what you got, for each of your attempts.

[2020-10-14 09:58] #3581 closed

[2020-10-14 10:19] slorber commented on #3579
Hi @charlax

That seems related to an existing issue and there is a potential user-land solution, so I'm closing in favor of the other issue:

https://github.com/facebook/docusaurus/issues/3272#issuecomment-688409489

[2020-10-14 10:21] slorber commented on #3272
Another issue with this symlinks error: https://github.com/facebook/docusaurus/issues/3579

Maybe we should consider switching symlinks to false by default. Not sure about the impact of this, so we'd rather be prepared to revert if users report bugs after release

[2020-10-14 10:41] slorber commented on #3547
In the function you still need to tell if you need to rewrite or not the link, so you've be able, for each link, to return the same value, or return the replaced link.  How do you do this? Can you give an example fn implementation that you'd use on your site? Do links to rewrite have a proper way to identify themselves? You could maybe use a prefix like `[MyDocPage](githubBranch:///docs/myDoc)` or

[2020-10-14 13:38] jcs98 commented on #3584
@slorber I would love to take a shot at this
Can you please guide me with a starting point?

[2020-10-14 16:15] jcs98 commented on #3584
Thank you! I will try this :+1:

[2020-10-14 17:32] omry commented on #3547
If this is an explicit function call it can just always rewrite the url (it should not be called otherwise).

---
This is interesting, questions inline.

[code]
The most important question: how would that be used on the callsite?
Following the example from Link:
[code]
Will that become:
[code]
?

[2020-10-14 18:44] leeyspaul commented on #3582
Great, thank you!

[2020-10-14 18:48] leeyspaul commented on #3526
Totally! Happy to help brainstorm with a proposal of sorts if you're looking to do that. @slorber

[2020-10-15 02:13] azzyx commented on #3583
ok, thanks,  instead of the package of @docusaurus/core and @docusaurus/preset-classic   version 2.0.0-alpha.65,
i chose the version  2.0.0-alpha.43 , and  it worked.

[2020-10-15 09:58] slorber opened #3590 "Algolia search results page: handle docs multi-instance + contextual search"
## 🐛 Bug Report

https://v2.docusaurus.io/search/?q=doc

The Algolia search results page has currently a few problems:
- It does not include the next/unreleased version in the dropdown
- it does not support docs multi-instance (for example ios v1+v2, android v1+v2+v3 on same site)
- it does not use the new contextual search feature (see https://github.com/facebook/docusaurus/pull/3550)

I consider

[2020-10-15 10:16] #3396 closed

[2020-10-15 11:15] Simek opened #3592 "Add ability to configure docs page metadata"
## 💥 Proposal

Currently the docs pages metadata is hardcoded and there is no option to customize it. It is not a separate component, but it is a part of `DocItem` file which makes the swizzle a bit risky. There are also no dedicated CSS class names which will help the users to customize the appearance of metadata.

**What would be nice to see:**
* docs page metadata extracted to the separate comp

[2020-10-15 12:35] slorber commented on #3583
Hi,

If you are linking to a file in /static folder, this windows/chinese bug is probably related to a newly introduced webpack file-loader system. You should be able to upgrade to more recent versions like alpha 56 or 58 I think.

By using a md link like `[link](pathname:///myChineseFileName.pdf)` you should also be able to  upgrade to alpha 65, as the `pathname://` prefix "disable" the webpack f

[2020-10-15 12:36] slorber commented on #3583
Interested to know if it works for you if you remove the Chinese chars from the filename

[2020-10-15 14:44] slorber commented on #3547
You probably don't want to rewrite this URL if it's a link to another document, or the homepage. This function can potentially break your site internal links if you don't use it carefully., as you have the ability to rewrite / to /doesNotExist or whatever.

---

Yes exactly, this should work.

[code]

We could eventually find a way for you to provide the component globally to all MDX files, so tha

[2020-10-15 15:13] vickywane commented on #3513
@lex111 @michaelknowles i could fix this by adding a round opaque arrow ( up or down) icon to scroll to the top.

If we are worried about it obscuring other content, the button could be made to fade out on the screen after few seconds of inactivity using scrollEventListeners.

I would like to implement this.

[2020-10-15 16:19] omry commented on #3547
Okay, this sounds good to me.
I think we are just missing the ability to set user metadata per version, that preferably overrides user metadata sets in the config and access it, something like:

versions config:
[code]

[code]
get_value(key) can look like:

[code]

If you do not think get_value should be a part of the core I just need access to the metadata dictionary and to the current version  s

[2020-10-15 18:30] rafaelrdealmeida commented on #2736
Hi @slorber ,

thanks for the reply, your indication to adjust the baseurl=/docs /idocs/ worked and the site is live, thanks! With the few lines in gitlab-ci.yml the site works.

I was going to do a pull resquest in the documentation to put delploy through gitlab pages (would that be a bad idea?). But I understand your indication that other hosts are more suitable for this (Netlify, Vercel, Surge,

[2020-10-15 20:19] hamzahamidi commented on #3521
Is it Ok to use the code source of the action created by Next.js ?

[2020-10-16 02:17] EricAtMSFT commented on #3513
I have a simple prototype working in my fork here: https://github.com/EricAtMSFT/docusaurus

I tried a few things and landed on the button being inline, materializing after 400px of vertical scrolling, displayed as a small overlay on the content so as to not disrupt the sometimes long side bar content. It has a gradient to make it less noticeable. On mobile it snaps to align with the Hamburger but

[2020-10-16 03:49] xianshannan commented on #3515
I work for lerna config below.

[code]
Just set the nohost for `@docusaurus/*`.

[2020-10-16 08:27] iamterryclark opened #3597 "Make an array of filenames based on a folder to dynamically render a table"
I would like to collect all filenames with .zip types in a folder and have them render a table in Docusaurus. I am currently able to use jsZip to see inside the zip files and pull out information.

I am having issues using `fs`, as it is not s its not a module found inside Docusaurus node modules even if I directly install this with `npm install --save fs`. And also I cannot use `require.context`

[2020-10-16 08:40] slorber commented on #2736
Great @rafaelrdealmeida

For the baseurl problem, this problem appears very frequently (no matter the host), and I decided we should do something about it: https://github.com/facebook/docusaurus/issues/3584

About deployment docs, I don't really like the idea that we bias towards Github, or Gitlab, particularly when they are not the best deployment options.

I'm not familiar with Gitlab much so ca

[2020-10-16 08:57] slorber commented on #3521
@hamzahamidi thanks for your contributions.

The issues with MLH tags are for MLH interns joining us for 2 months.
As they just arrived I'd like to see how we assign the issues with the MLH tags first, and maybe delegate those issues to other contributors if MLH interns are already busy.

If you are looking to help on something, maybe we can get in touch on Discord so that we find an issue for you

[2020-10-16 13:26] jumpersdevice opened #3598 "Docs-only mode still pointing to an inexistant index.js"
Hello, thanks for this software. I followed the instructions https://v2.docusaurus.io/docs/docs-introduction/#home-page-docs
but it's still pointing to an inexistant ./src/pages/index.js and get 404.
I recreate that file and the 404 error is gone. I want introduction.md to be the index, can anybody help me please?

when I try to put slug:/ it will show an error and wont let me compile, saying / is

[2020-10-16 14:37] slorber commented on #3598
Hi

You are right: you should both delete the src/pages/index.js and use slug: /

We do use slug: / on our own website and it works

![image](https://user-images.githubusercontent.com/749374/96271738-87716500-0fcd-11eb-99ed-44c6c3a0178d.png)

you don't give us the exact error message, and the md you added to the issue does not even have slug: /

Please give the exact md document you use (with slug

[2020-10-16 16:31] slorber commented on #3597
Hi @iamterryclark

I can't help you for the inability to use Node fs API unfortunately, it's not really related to Docusaurus.

There are multiple technical ways you can provide the generated table data to Docusaurus (custom fields, custom webpack loader, remark plugin...)

It is a bit out of the scope of Docusaurus to provide such a feature, but you have the building blocks to implement it yourse

[2020-10-16 16:31] #3597 closed

[2020-10-16 16:42] slorber commented on #3547
You can pass additional global data to your site by using the "customFields" of the config:
https://v2.docusaurus.io/docs/docusaurus.config.js/#customfields

So basically, you can pass a map `versionName->customVersionConfig`.

And access it globally to do whatever you want in your custom Link or other components:

[code]

Eventually, we could allow to assign custom data per version, so that it's

[2020-10-17 00:48] jumpersdevice commented on #3598
hi, thanks for your answer, please check the error:

`Starting the development server...
Error: Document slug cannot include "/".
    at Object.processMetadata [as default] (/root/docs/node_modules/@docusaurus/plugin-content-docs/lib/metadata.js:88:15)
    at async /root/docs/node_modules/@docusaurus/plugin-content-docs/lib/index.js:122:34
    at async Promise.all (index 6)
    at async Promise.al

[2020-10-17 07:29] omry commented on #3547
I think if we don't know the version as can default to master somehow.
otherwise this looks good.

By the way, what do you want to call the function `useVersion()` and not something like `getVersion()` or `getVersionMetadata()`?

[2020-10-17 13:29] slorber commented on #3598
I also need the docusaurus version, as I suspect you are on an older one (in which case try to upgrade)

[2020-10-17 13:32] slorber commented on #3547
Because we read the version from context through a hook, so the function would also be a React hook, that all start with use by convention

[2020-10-17 14:30] jumpersdevice commented on #3598
What is the easiest way to check that? thanks

[2020-10-17 14:45] slorber commented on #3598
You can see versions in package.json, your lock file or node modules, looking for @docusaurus/core.

If you did not upgrade in the last months, please upgrade.

[2020-10-17 15:57] jumpersdevice commented on #3598
2.0.0-alpha.58 is what im using. ill upgrade and let you know if it works
thanks

[2020-10-17 19:56] slorber commented on #3383
This NextJS related discussion about advantages of Webpack 5 is interesting, regarding the deterministic output

https://stackoverflow.blog/2020/10/07/qa-with-the-creators-of-next-js-on-version-9-5/

[2020-10-18 02:29] rafaelrdealmeida commented on #2736
HI @slorber,

It will be really good to adjust this baseurl question (it creates some confusion)

I agree with you about Deploying to GitHub/GitLab. I tested it on the render and the deployment went well. I believe that this point could be highlighted in the excellent documentation of docusaurus.

https://sitelabri-teste01.onrender.com/
https://www.novo2.labriunesp.org/

But I still think that ser

[2020-10-18 07:16] dhitimedin commented on #3466
I have a similar issue with swizzle
[Local Search] [INFO]: The following documentation versions were detected: English, next
Component "SearchBar" doesn't exists. "SearchBar" is swizzled instead of "SearchBar".
Error: SearchBar is an internal component, and have a higher breaking change probability. If you want to swizzle it, use the "--danger" flag.

[2020-10-18 07:33] arifszn commented on #3466
The issue is different though and searchbar swizzle works. Run: `npm run swizzle @docusaurus/theme-classic SearchBar --danger`

[2020-10-18 07:38] dhitimedin commented on #3466
I am trying to get lunr search https://github.com/lelouch77/docusaurus-lunr-search . They prescribe npm run swizzle docusaurus-lunr-search SearchBar. Is the same as npm run swizzle @docusaurus/theme-classic SearchBar --danger ?

[2020-10-18 07:59] arifszn commented on #3466
In that case, run: `npm run swizzle docusaurus-lunr-search SearchBar --danger`

[2020-10-18 10:17] dhitimedin commented on #3466
It gives the same issue:

% npm run swizzle docusaurus-lunr-search SearchBar --danger

[Local Search] [INFO]: The following documentation versions were detected: English, next
Component "SearchBar" doesn't exists. "SearchBar" is swizzled instead of "SearchBar".
Error: SearchBar is an internal component, and have a higher breaking change probability. If you want to swizzle it, use the "--danger" fl

[2020-10-18 11:32] arifszn commented on #3466
Sorry for the typo. The command should be `npm run swizzle docusaurus-lunr-search SearchBar -- --danger`

[2020-10-18 15:01] dhitimedin commented on #3466
Great it progressed but I am still stuck. Firstly it gave the following message on swizzle:

[Local Search] [INFO]: The following documentation versions were detected: English, next
Component "SearchBar" doesn't exists. "SearchBar" is swizzled instead of "SearchBar".

Success! Copied docusaurus-lunr-search SearchBar to src/theme/SearchBar.

Then while doing a build it gives the following error mes

[2020-10-18 15:08] arifszn commented on #3466
Please refer to this [issue](https://github.com/lelouch77/docusaurus-lunr-search/issues/25) or create a new issue in [docusaurus-lunr-search](https://github.com/lelouch77/docusaurus-lunr-search/issues).

[2020-10-18 16:47] amimas commented on #2953
In my opinion, this tool needs to focus in it's core functionality, which is to generate a static documentation site that is easy to maintain.

Publishing and deployment doesn't really fit in that core function although it can easily mistaken for thinking otherwise.

The generated site can be deployed in so many ways. For example:

- github pages
- gitlab pages
- docker image
- aws cloud
- azure c

[2020-10-18 16:58] amimas commented on #2736
I also don't think the docs should include deployment instructions for github/gitlab or anything else.

Having said that, it might be helpful for someone to have a blog post about very specific deployment process or strategy. Not sure if docusaurus would like the blog on their site.

[2020-10-18 18:41] ArtFlag opened #3606 "Content tagging for single-sourcing"
🚀 Feature

The idea of single-sourcing is to generate different outputs with one set of source files.
A typical example is for private and public docs, where the private docs are a superset of the public docs.

This is done by tagging content that can be included or excluded at build time.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master

[2020-10-19 03:57] dhitimedin commented on #3466
Sure! Thanks.

[2020-10-19 09:54] Clindbergh commented on #3464
Above example would be generated from this directory:

[code]
[[tree credits](https://ascii-tree-generator.com/)], where all .md files have a `title` set, correct?

If later *Design Principles* itself becomes a folder (which will be then be an autogenerated category), e.g.

[code]

or if the category is an i18n name or something like *Why Docsaurus?*, we have a problem. Thus, I suggest to a `_cate

[2020-10-19 15:29] slorber commented on #2736
@rafaelrdealmeida

What do you mean by "adjust"?  What should we do exactly to make it clearer apart showing. a big error message with help instructions (see https://github.com/facebook/docusaurus/issues/3584). Should we do something else?

We don't have that. I believe Github deployment is much more common than Gitlab though, and we documented GH pages better. Not sure Gitlab usage is superior to

[2020-10-19 15:31] slorber commented on #2736
@amimas I wouldn't be against publishing a blog tutorial on how to deploy Docusaurus on Gitlab. As a blog post posted at a given time, we don't really have to "maintain it"

[2020-10-19 15:43] slorber commented on #3606
@ArtFlag , we don't currently support this in core, but that may already be possible to build in userland

- You can include/exclude docs from sidebars dynamically (see https://github.com/facebook/docusaurus/issues/3285#issuecomment-691982670) (not ideal because  it's per doc, and the doc would just be "hidden", still published without sidebar)

- You can toggle a remark plugin for public deployme

[2020-10-19 18:21] sserrata commented on #3383
Hi @slorber! Deterministic IDs looks like a game changer with respect to the caching issue described here. Is upgrading to Webpack 5 on the D2 roadmap? Do you know of a good way to upgrade webpack 5 in dev to test?

[2020-10-19 18:50] SamChou19815 opened #3610 "[v2] Alpha 66 breaks classic site without logo"
## 🐛 Bug Report

In https://github.com/facebook/docusaurus/pull/3394, we no longer give logo field a dummy empty object if it's undefined, which will cause it to crash at line 19:

https://github.com/facebook/docusaurus/blob/14447707c223b1d075ad6d070f45e97e4aece05e/packages/docusaurus-theme-classic/src/theme/hooks/useLogo.ts#L15-L19

### Have you read the [Contributing Guidelines on issues](https:

[2020-10-20 07:02] rarkins opened #3612 "package.json repository/directory metadata incomplete"
## 🐛 Bug Report

The `package.json` files within packages/* contain incomplete metadata for source repo and source directory. e.g. as according to this advice from [npm's `package.json` documentation](https://docs.npmjs.com/files/package.json):

![image](https://user-images.githubusercontent.com/6311784/96551414-8cc2fe00-12b2-11eb-877e-419e05eaeaa8.png)

### Have you read the [Contributing Guideli

[2020-10-20 10:00] lex111 commented on #3612
Yes, of course, it would be great!

[2020-10-20 10:05] slorber commented on #3612
Is this something new related to npm 7 support for workspace?

Or is it something that could improve the npm package links? for example on this page? https://www.npmjs.com/package/@docusaurus/core

[2020-10-20 10:07] rarkins commented on #3612
@slorber it wasn't related to npm 7 specifically. I help run the [Renovate Bot](https://github.com/renovatebot/renovate) and correct source URLs help us with both automated grouping as well as changelog retrieval. An example of one which is missing source links is https://www.npmjs.com/package/@docusaurus/preset-classic

[2020-10-20 10:16] slorber commented on #3383
@sserrata unfortunately not, we need to ship i18n first and then move to beta. I don't know how much of a breaking change Webpack v5 would be, particularly for plugin authors that implement the `configureWebpack` lifecycle, so we may want this migration to be Docusaurus v3? Or postpone Docusaurus v2 RC to Webpack 5 migration? Don't know yet but hope to work on this in the upcoming months after i18

[2020-10-20 10:23] slorber commented on #3612
Thanks, I see. PR welcome ;)

Are you able to retrieve easily the changelogs, as we have v1 and v2 changelogs at the root?
We don't have a changelog per package.

We have an issue about Renovate Bot here, will have to check that and see how Docusaurus can benefit from it.
https://github.com/facebook/docusaurus/issues/3552

[2020-10-20 11:00] rarkins commented on #3612
@slorber happy to help on that aspect too. Anyway, for now please see the linked PR #3613

[2020-10-20 12:24] HonkingGoose commented on #3552
Hi @slorber, I noticed you got an offer from the creator of Renovate (@rarkins) to configure the Renovate bot exactly how you want.

I migrated from Dependabot to Renovate for all my repositories, and so far I'm really liking the bot and the team behind the bot. The team is really helpful whenever I have issues/questions, and the bot generally does the right thing by default (at least for my taste

[2020-10-20 16:04] the-spyke opened #3614 "[v2] Server build fails after updating to 2.0.0-alpha.66"
## 🐛 Bug Report

`start` command work fine. `build` command succeeds with the client, but fails on server throwing an error. Looks like some Webpack configuration goes wrong.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. clone https://github.com/the-spyke/undercut
1. `c

[2020-10-20 17:41] slorber commented on #3614
Hi,

This looks like a duplicate of this one:
https://github.com/facebook/docusaurus/issues/3515

This looks to me more like a yarn monorepo resolution bug or something that lead to the wrong version of a package being loaded at runtime.

There is a workaround that should work, and not sure what else we can do apart from waiting for our dependency to upgrade to Terser v5 (https://github.com/terser

[2020-10-20 17:41] #3614 closed

[2020-10-20 19:17] the-spyke commented on #3515
My deps tree using `@docusaurus/core@^2.0.0-alpha.66`:

[code]

Which gets resolved by Yarn into `node_modules` structure:

[code]

As it should be.

The only user of `terser@5` is Docusaurus, which is also a user of `html-minifier-terser` and `html-webpack-plugin`. Both of which use older `terser@4`. Looks like Docusaurus gives a config in `terser@5` format to those plugins as well, which fails w

[2020-10-21 01:41] weareoutman commented on #776
Hi everyone, I just created https://github.com/easyops-cn/docusaurus-search-local, which is originally forked from [cmfcmf/docusaurus-search-local](https://github.com/cmfcmf/docusaurus-search-local), but later fully rewritten to reach our goal: _up to date_, _maintainable_, _robustness_, _pretty look_, and mostly language of _Chinese_ supported. We have already using it in our production (but not

[2020-10-21 07:46] dhitimedin commented on #776
Great! I will try right away. Does it support Hindi as a language?

[2020-10-21 07:53] dhitimedin commented on #776
UI does not work properly on mobile.

[2020-10-21 08:04] weareoutman commented on #776
@dhitimedin Hope it will help you. It currently supports all [lunr-languages](https://github.com/MihaiValentin/lunr-languages) + Chinese, but Hindi is not in it yet.

I actually have not tested it with mobile devices. But it can be fixed easily by apply css media queries. I'll fix it later.

[2020-10-21 08:07] dhitimedin commented on #776
Great! Would be helpful. My users use my site mostly from mobile. Do keep me posted on the steps required to rectify.

[2020-10-21 08:10] dhitimedin commented on #776
Getting the following error while installing it:

node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/yanyiwu/nodejieba/releases/download/2.4.1/nodejieba-v2.4.1-node-v72-darwin-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for nodejieba@2.4.1 and node@12.18.0 (node-v72 ABI, unknown) (falling back to source compile

[2020-10-21 08:14] weareoutman commented on #776
@dhitimedin I think this is not the right place to trouble shooting this error. Could you please fire an issue at [easyops-cn/docusaurus-search-local](https://github.com/easyops-cn/docusaurus-search-local)?

[2020-10-21 08:48] HonkingGoose opened #3617 "Use React 17 with Docusaurus v2"
## 💥 Proposal

Use React 17 with Docusaurus v2.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Relevant quotes from the React 17 official blog post:

---

## References:

[Official React blog post about version 17](https://reactjs.org/blog/2020/10/20/react-v17.html)

## I'm already using

[2020-10-21 09:19] weareoutman commented on #776
@dhitimedin I just moved nodejieba from dependencies to peerDependencies (which is only required for language of zh), and a new version has published (v0.7.0), you can try it. It means that you will not get nodejieba installed by default, and the install error above would be no longer an issue.

For further questions, please fire issues at [easyops-cn/docusaurus-search-local](https://github.com/ea

[2020-10-21 09:23] charlax commented on #3579
Thanks, creating local plugins is exactly what I was looking for.

[2020-10-21 09:23] #3579 closed

[2020-10-21 09:37] jcayzac opened #3618 "Internationalization support"
## 🚀 Feature

Support internationalization.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Because it's mentioned in the introduction, I assumed V2 would already have support for internationalization. From deeper inspection it appears I was wrong and it's still lacking.

## Pi

[2020-10-21 09:41] jcayzac commented on #3618
I see there's some complicated brainstorming going on at https://github.com/facebook/docusaurus/issues/3317 about translation services. All our organization needs right now is a way to map doc content paths to languages, like on MDN, and this is a deal breaker forcing us not to use Docusaurus for our public docs for now.

[2020-10-21 09:51] jcayzac commented on #3618
Closing since implementation seems to be coming in #3325

[2020-10-21 09:51] #3618 closed

[2020-10-21 10:43] slorber commented on #3618
Yes, the first part is handled, working on the 2nd part right now ;)

[2020-10-21 10:46] slorber commented on #3579
Great.

I'm thinking of a solution to make this more idiomatic.
Perhaps allow to pass configureWebpack directly in siteConfig, or add a local plugin to all newly initialized Docusaurus sites

[2020-10-21 10:48] slorber commented on #3617
As I don't see any new React 17 feature that we would benefit much from, I'd rather not be an early adopter and wait a bit to make this upgrade safer. We'll do it, but it does not need to be right now.

[2020-10-21 10:57] slorber commented on #3515
I don't agree @the-spyke , If html-minifier-terser requires Terser 4, it should rather install a duplicate Terser4 package under html-minifier-terser node modules, which is not the case. As the 2 terser versions are incompatible, we should expect 2 versions to be used in practice. It is what actually happens in non-monorepos, or when you use nohoist, and what we actually want.

Note: we upgraded W

[2020-10-21 11:22] the-spyke commented on #3515
@slorber `terser@4` is required by 2 packages, `terser@5` by one. Yarn hoists the most used `terser@4` to the top level, and less used `terser@5` is installed into the subtree reducing `node_modules` size. Yarn does everything right and according to the Node resolution algorithm, while simultaneously flattening the tree. If there's an issue, then somebody is loading a module from an invalid locati

[2020-10-21 12:36] slorber commented on #3515
@the-spyke I don't know what to say, but if a package declares needing terser 4, and yarn makes it use terser v5, it looks unexpected to me, as we really want to stick to v4. I don't know what to do about this apart proposing a workaround until we upgrade everything to use terser v5 (which is not yet possible)

[2020-10-21 12:37] perry-mitchell opened #3620 "Poll option for `docusaurus start` doesn't work"
## 🐛 Bug Report

I'm trying to use polling as I can't get watching to work, due to the `EMFILE` node error. I've increased all of my watch limits but this doesn't help. I've opted to use the documented `--poll` cli flag.

When following the v2 instructions for using `docusaurus start`, I've tried to configure following in the following ways:

 * `docusaurus start --poll` - results in `EMFILE` erro

[2020-10-21 12:43] perry-mitchell commented on #3620
Output of the `docusaurus.config.js` error is as follows:

[code]

[2020-10-21 13:05] #3612 closed

[2020-10-21 13:14] slorber commented on #3552
Hi,

I'm not very familiar with the tool but already seen it used in some places.

Willing to try Renovabot to upgrade dependencies, and any help from you or @rarkins would great.
Will have to check with FB if it's ok to use this bot first.
I guess only a repo team member/admin can set it up right?  (seems like I may have the permissions)

How complex is it to setup, and configure so that we don't

[2020-10-21 13:34] slorber commented on #3620
Hi

We don't implement this option ourselves, we just "forward" the cli attribute to Webpack dev server config, so if there is a polling but, it's more likely to be in Webpack than in Docusaurus, and I can't do anything about it.

But I don't understand how `Error: docusaurus.config.js not found` is related to the poll option in any way. When this error happens it's usually because you run the cli

[2020-10-21 13:35] #3610 closed

[2020-10-21 14:36] perry-mitchell commented on #3620
Thanks @slorber for the quick response. Completely get that it's a webpack **function**, but it looks like the error is primarily in docusaurus as it's crashing. Could you please confirm which format is correct out of the options I mentioned? Or provide an example of `--poll` if none of mine are correct?

I checked this, and have been running in the same folder as `package.json` and `docusaurus.co

[2020-10-21 14:41] HonkingGoose commented on #3552
**TLDR:**

- You need admin rights to install the app.
- You can tell the app what repositories it can check.
- You can reduce the noise by configuring Renovate so that it doesn's overwhelm you
- If you want I can set it loose on my fork of Docusaurus, so that you can see the onboarding pull request, and we can tinker with it there?
- Read the [Renovate docs on reducing noise](https://docs.renovat

[2020-10-21 15:40] the-spyke commented on #3515
@slorber Yarn doesn't make it use `tesrser@5`. The `node_modules` structure in my [message](https://github.com/facebook/docusaurus/issues/3515#issuecomment-713082823) is valid and corresponds to the specified dependencies and Node resolution algorithm.

[2020-10-21 15:52] slorber commented on #3620
So I think you are right, currently we can't pass a number through the cli, only a boolean, otherwise the number is interpreted as the `siteDir`, not the poll value.

Will make the config not found error message clearer in this case so that you know what is happening.

![image](https://user-images.githubusercontent.com/749374/96745196-26c79b00-13c6-11eb-903c-2114a739909e.png)

Not sure yet if I ca

[2020-10-21 16:01] perry-mitchell commented on #3620
@slorber Did you manage to get `--poll` working at all? I'm happy with a default value for the interval, but I can't get it to function at the moment, and see the same error you're getting.

[2020-10-21 16:08] slorber commented on #3620
@perry-mitchell , I don't know  how  the webpack dev server poll works,  I can just tell you that `--poll 500` currently does not work  and you can only pass a boolean/true by simply using `--poll`

And double-checked, this config is correctly forwarded to webpack dev server options (https://webpack.js.org/configuration/watch/#watchoptionspoll)

The next release will allow to use `--poll 500` (htt

[2020-10-21 16:11] slorber commented on #3620
As I don't have your watch problem I can't reproduce it locally and help you more.

You can try to modify locally the `node_modules/docusaurus/lib/commands/start.js` file and see if anything work.

Current options are:

[code]

try to hardcode whatever you want here and see if it improves anything

[2020-10-21 17:16] #3620 closed

[2020-10-21 17:32] Idzikowski-Casey commented on #3363
![image](https://user-images.githubusercontent.com/65414051/96755898-4a2c1f00-13a1-11eb-93ed-f680db4d356f.png)

We're getting these errors when we try the production build, not the dev. They are the same as the first comment. It broke our CI/CD. No errors occur when building the dev version.

[2020-10-21 18:07] slorber commented on #3363
@Idzikowski-Casey

Are you on latest version?
Are you using a monorepo?
Do you reproduce the error locally?
Do you have a repro that I can inspect (you can take your private site and remove anything sensitive until you have a minimal repro case)?

[2020-10-21 19:56] perry-mitchell commented on #3620
@slorber Sure, I'll try those. But `--poll` is definitely broken for me currently, as I'm constantly getting EMFILE errors even after a reboot:

[code]

I'll test soon and update.

[2020-10-21 23:59] Ravi-Kaushish opened #3623 "markdown json parser is broken"
## 🐛 Bug Report

While creating documentation for a product I found the docusaurus's JSON parser is broken.
I needed to show a JSON for which I used
[code]

and it shows an error in my JSON on the colon after my first key.

The same JSON is correctly being parsed and shown by the older version in my other documentation.

## To Reproduce the error use this JSON in markdown file.

[code]

(Write you

[2020-10-22 07:22] rarkins commented on #3552
Thank you @HonkingGoose! The above is great advice.

Renovate will always start with an "onboarding PR" which forecasts how many PRs are required, and lets you update the onboarding config in-PR and preview the results. But for maximum experimentation then installing it into a fork would be best for tuning it until you're ready for it on the main repo. You can see an example onboarding PR for my f

[2020-10-22 09:10] slorber commented on #3623
What does it mean exactly to use the above JSON in a document?
Please provide the whole document source, and the exact error message you have.

We don't implement any json parser, so it's unlikely "our" json parser is broken.

[2020-10-22 09:22] #3590 closed

[2020-10-22 09:59] lunelson commented on #3236
@slorber yes functions for wrapping root and/or page element would also solve https://github.com/facebook/docusaurus/issues/2891. I see that you've indicated it as low-priority, but IMO it's rather important, e.g. for components or context-providers that may be maintaining global state and doing async operations, such as an analytics consent-manager which is causing me trouble at the moment

[2020-10-22 10:32] HonkingGoose commented on #3552
I like the dashboard idea! That way the maintainer can pull the updates on a schedule convenient for them.
I also like the dashboard because then you have easy visibility on what you're doing with the bot.
It also prevents slorber from getting flooded with pull request the minute he turns the bot on.

Dang, that's really handy! :+1: You can say: "leave me alone Renovate bot, only bother me on Mond

[2020-10-22 10:33] slorber commented on #3236
@lunelson in the meantime alpha66 declare a new component "LayoutProviders" that you can swizzle and wrap with custom providers.

For minimum maintenance burden, you can also check this doc to "enhance" an existing theme comp without duplicating its code: https://v2.docusaurus.io/docs/using-themes/#wrapping-theme-components

[2020-10-22 10:36] slorber commented on #3620
If you hardcode the poll settings you want in both Chokidar and Webpack Dev Server, and still get an error, you should report the bug to these tools directly, as I'm not able to do anything else about it.

[2020-10-22 10:47] HonkingGoose commented on #3552
I've looked at the on-boarding pull request on @rarkins's fork of Docusuarus.
Renovate sure would open a lot of pull requests (**51**), that's way too much for any maintainer to deal with at once.
We need to prevent flooding the maintainer with all those pull requests.

Maybe it's a good idea to ask @slorber how they want the bot to work.
Then you/we can configure Renovate on the fork according to

[2020-10-22 10:56] rarkins commented on #3552
Yes

FYI default behavior is maximum 2 per hour and 20 concurrently, and both of those are configurable.

Ultimately, there's a lot of out-of-date dependencies here, even when most non-major updates are being ignored from that calculation (it's mostly major). I would say you might want to keep ranges as-is until there's less to upgrade, but maybe to monthly lock file maintenance to keep locked ver

[2020-10-22 16:33] slorber commented on #3434
@isaac-philip are you still interested to work on this? because we might want to implement this soon and can assign this to someone else otherwise

[2020-10-22 19:08] Southclaws opened #3625 "The code generator has deoptimised the styling of undefined as it exceeds the max of 500KB."
## 🐛 Bug Report

It's not _super_ important it's just odd because there's no description of exactly where this warning is coming from, and the presence of `undefined` indicates something's not working quite right. It doesn't appear to break anything (though, our wiki is pretty huge so I haven't checked every single page!)

### Have you read the [Contributing Guidelines on issues](https://github.co

[2020-10-22 19:36] lex111 commented on #3625
First of all try updating to the latest version of Docusaurus, you are currently using a very old and unmaintained Docusaurus version.

[2020-10-22 21:52] Ravi-Kaushish commented on #3623
what I meant by json parser is the markdown file parser.

I want to Implement something like this given on
https://cookbook.nodered.org/basic/set-message-property-fixed

![flow json](https://user-images.githubusercontent.com/24990000/96933297-d2174380-14dd-11eb-895e-aec3d028b7b9.PNG)

I want a json block section inside my document markdown file. In order to highlight that json block just like we d

[2020-10-22 21:55] Ravi-Kaushish commented on #3623
@slorber I have just figured out a way to make it work. Thanks for the reply.

[2020-10-22 21:55] #3623 closed

[2020-10-22 22:13] Southclaws commented on #3625
Oh, it didn't seem that old, I tried going up to .66 but that didn't seem to build at all so I went back.

[2020-10-22 22:43] lex111 commented on #3625
Regardless of this issue, you are better off using the latest version of Docusaurus.

[2020-10-22 23:42] #3625 closed

[2020-10-23 06:02] AvroraPolnareff commented on #2604
Hello! I want to help solve this issue.
As I can see, there are several implementation options here:

1. Should I leave the old tags and add new ones or replace them?
2. Which date should be specified in the "lastmod" tag: the date of the last build of the project or the date of the last page change? If the second, are there any easier ways to do it?

[2020-10-23 12:39] RDIL commented on #2604
Most likely the last build time since even just tiny changes end up changing the chunk hashes, so its constantly being modified.

[2020-10-23 12:47] slorber opened #3628 "Scrollbar style: blog sidebar != docs sidebar"
## 🐛 Bug Report

We should make the sidebar scrollbar styles consistent.

![image](https://user-images.githubusercontent.com/749374/97005303-8c3e9780-153e-11eb-993c-46f3583dbe27.png)

Reported by @Simek on RN website, as it leads to declaring these styles manually: https://github.com/react-native-website-migration/react-native-website/blob/dev/website/src/css/customTheme.scss#L1254

[2020-10-23 13:34] allc opened #3629 "Runme demo link in README.md does not work"
## 📚 Documentation

In README.md, the demo link to Rumme (https://runme.io/run?app_id=0dd80306-47bb-4e80-95dc-dc95eb05d3fd) does not work.

Instead of linking to the demo, it links to a page saying "No app has been found with ID "0dd80306-47bb-4e80-95dc-dc95eb05d3fd." and suggests to regenerate a new button.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/doc

[2020-10-23 14:43] slorber commented on #3629
Thanks for reporting.

@belokonm as you implemented this in https://github.com/facebook/docusaurus/pull/2811, do you know why it does not work anymore now?

Note, we'll likely have a codesandbox template soon: https://github.com/facebook/docusaurus/issues/1699

[2020-10-23 14:45] slorber commented on #3629
https://runme.io/

We should rather just remove that badge

[2020-10-23 15:00] martavis commented on #3379
Just checking in to see if anyone can help?

[2020-10-23 15:13] slorber commented on #2604
@RDIL FYI Webpack 5 might help to make the js chunks more "stable" (see my recent comment in https://github.com/facebook/docusaurus/issues/3383), we may try to migrate after i18n is ready.

Not sure what we should do for this date. Also not sure how the sitemaps plugin could access the "last modification date" of the page, as this plugin is decoupled from the others.

Is it mandatory to add it to

[2020-10-23 15:16] jdevalk commented on #2604
Last modified is somewhat of a must for XML sitemaps indeed.

I think for hreflang I'd go for adding it to the page instead of the XML sitemaps as that makes debugging a lot easier and maybe even makes it accessible to other features within docusaurus, like a language switcher.

[2020-10-23 15:32] slorber commented on #2604
Thanks, will do that.

About lastModified, some plugins already read git history to get the last modified date. We can enable also to hardcode it through frontmatter.

I think we should:
- call `addRoute` apis with `lastmodified: lastModifiedFrontmatter || lastModifiedGit || lastModifiedFS` when it's possible
- use that data when generating the sitemaps. If not available, add the date of the build

[2020-10-23 15:35] #3629 closed

[2020-10-23 16:24] jdevalk commented on #2604
I would not add it then. Having it change all the time when it's actually _not_ changing is also not beneficial.

Agreed.

[2020-10-23 18:21] hugo-vrijswijk commented on #3028
Any updates on this? It's a little weird to have an essentially closed-source dependency

[2020-10-23 23:25] TheodoreChu opened #3631 "Linking multiple PDFs in one line causes parsing error"
## 🐛 Bug Report

Linking multiple PDFs in one line in a `.md` file causes parsing error.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a folder in the `static` folder called `content`
2. In the `content`, folder, run the following commands to download sample pdfs:

[2020-10-24 00:20] Southclaws opened #3632 "Error: Plugin docusaurus-plugin-google-analytics is used 2 times with id=default."
## 🐛 Bug Report

I upgraded to the latest version and got this

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## To Reproduce

Install google analytics plugin on a docusaurus instance (it might happen with other plugins but we only use the GA one)

Try it here https://github.com/openm

[2020-10-24 01:45] Idzikowski-Casey commented on #3363
@slorber
Thanks for such a quick response and sorry I didn't see this till just now.
Our version was alpha.59 however the same error occurred when we upgraded to alpha.62. The error is occurring locally, but only on the production build, the dev image is building fine. We use Docker to containerize our app and our docusarus app resides within a directory in our overall project. I'll attach the lin

[2020-10-24 07:42] Beluk opened #3633 "Text not fully shown on print when having code blocks with scroll bars."
## 🐛 Bug Report

Text not fully shown on print when having code blocks with scroll bars.

## To Reproduce

1. Navigate to https://v2.docusaurus.io/docs/markdown-features
2. Ctrl + P.

## Expected behavior

On print, the code block should break-word like it was before pull request [https://github.com/facebook/docusaurus/pull/2241/files](https://github.com/facebook/docusaurus/pull/2241/files)

## Ac

[2020-10-24 11:08] cseas opened #3635 "npm WARN deprecated @hapi/joi@17.1.1"
## 🐛 Bug Report
Running the following command as instructed in the docs leads to a series of warnings:
[code]

The warnings displayed are:
[code]

## Your Environment

- Docusaurus version: 2.0.0-alpha.66
- Operating system and version (desktop or mobile): Ubuntu 20.04.1 Desktop

[2020-10-24 15:47] belokonm commented on #3629
Thank you, @slorber, for fixing this so quickly.

[2020-10-24 17:04] isaac-philip commented on #3434
[code]
As  per the commit I have added the code to plugin and theme,
errors mean can't go forward to run and verify.

the plugin-content of the docs I copied similar from the one for the blog and would need some refactor too,
specifically what is the alternative to `blogPost` as I have kept `docTag`

[2020-10-25 17:59] #3633 closed

[2020-10-25 21:54] L-U-C-K-Y commented on #2736
We would also be happy to be able to deploy Docusaurus on Gitlab as we could public internal docs with GitLab access control.

As @rafaelrdealmeida states, deploying in root works, but having it in sub-projects does not properly display the docs. For us, it would be quite difficult to have all Docusaurus repos in the root directory exclusively.

[2020-10-26 08:53] lunelson commented on #3236
Thanks for the tips @slorber, good to know about those new components, but indeed yes the remounting-on-route-change problem remains open

[2020-10-26 08:58] limkinZero commented on #3526
I could help with spanish. This feature is a must

[2020-10-26 14:18] #3635 closed

[2020-10-26 14:26] #3430 closed

[2020-10-26 14:36] slorber commented on #3434
@isaac-philip I can't help much if there is no PR.

If you open a PR (even draft), I can see the real code, the actual netlify error, I can comment on the PR, and might as well commit to your branch to fix issues (if you grant me permission, which is the case by default)

[2020-10-26 14:47] slorber commented on #3632
Hi,

If you use the classic preset with `googleAnalytics` themeConfig, you already use the google analytics plugin, as it's included in the preset.

So you actually have 2 instances of the google analytics plugin running on your site, which is likely not something you want right?

I'll improve the error message to make this clearer

[2020-10-26 14:47] #3632 closed

[2020-10-26 14:53] slorber commented on #3363
@Idzikowski-Casey I can't even run the branch on alpha 59 locally, is this normal?

![image](https://user-images.githubusercontent.com/749374/97187834-27d04200-17a3-11eb-9121-f8a870960c75.png)

Also, this is not good, you should have the same version for all docusaurus core packages:

![image](https://user-images.githubusercontent.com/749374/97187960-49c9c480-17a3-11eb-9ff2-85c94c797685.png)

[2020-10-26 15:12] slorber commented on #3028
Still in discussions 🤪

Let's track it here: https://github.com/facebook/docusaurus/issues/3575

[2020-10-26 15:12] #3028 closed

[2020-10-26 15:27] bendtherules commented on #3109
Yes, this is a issue with local dev server, but works correctly on prod build. Many users might be confused with this and spend countless hours trying to "fix" it.

[2020-10-26 15:29] slorber commented on #3631
Agree, this is a bug.

The following:

[code]

gets parsed fine by MDX: https://mdxjs.com/playground

so this issue is due to our remark plugin that rewire link to static files as links + webpack file-loader require calls.

A possible workaround is to opt-out to these require calls by using the `pathname://` escape hatch, which enables to fall back to regular linking (which will work fine, because

[2020-10-26 16:28] #3445 closed

[2020-10-26 17:07] slorber commented on #3552
Hi and thanks for the infos.

My Facebook manager is ok to install such a bot, and I confirm I don't have permissions to do so myself.

The dashboard looks nice.

Please note that we have docusaurus-1 and docusaurus-2 on the same repo.
Docusaurus 1 might use outdated dependencies, but we don't specifically want to upgrade them unless there's a  strong reason to do so (`website-1.x` + `packages/doc

[2020-10-26 17:17] slorber commented on #3109
I can't reproduce on the examples given in production build, so yeah that might be a dev only issue, which is a bit different from production due to rendering on the client and having hot module reloading wired etc...

I'm not sure we can do anything about it, but if you have any suggestion for a fix, or how to document this behavior, don't hesitate to submit a PR

[2020-10-26 17:30] Southclaws commented on #3632
Ah, I didn't know it was added by default now. Thanks1

[2020-10-26 18:54] HonkingGoose commented on #3552
Yes this make sense! We now have some general requirements to configure the bot the right way.

I propose we take @rarkins up on his offer to configure the bot for this project. He knows the ins and out of the bot and how to configure it to your wishes.

[2020-10-26 21:57] Idzikowski-Casey commented on #3363
@slorber I think this issue you are having is due to not having the CLI for our project installed. The `npm start` command is configured to be `sparrow docs-up` once the command line is installed.

To do this, once the [Sparrow](https://github.com/EarthCubeGeochron/Sparrow) is cloned run `git submodule update --init`
in the sparrow directory. Then run `make install-dev`.

Then try running `sparrow

[2020-10-26 22:04] lex111 commented on #3631
Strange, but I can't reproduce this. I cloned the demo repo, run the site and don't see any errors :man_shrugging:

[2020-10-26 22:33] TheodoreChu commented on #3631
Sorry, I forgot that I removed the bug from the demo. I added the following sentence back into the [`pdf-bug.md`](https://github.com/TheodoreChu/docusaurus-bug-report-demos/blob/main/docs/pdf-bug.md) to reproduce the error:
[code]
Please pull for the latest commit. Thanks.

[2020-10-27 04:45] rafaelrdealmeida opened #3643 "Indicate blog customization in the documentation"
## 📚 Documentation

Hello, the docusaurus documentation is very good, congratulations to the contributors.

But I have some difficulty understanding the files and settings to personalize the blog.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

Does docusaurus v2 not point to the possibility

[2020-10-27 06:10] bendtherules commented on #3109
Can someone point to which file handles this section link scrolling logic?

[2020-10-27 08:44] slorber commented on #3363
@Idzikowski-Casey unfortunately I don't have time to provide extensive help to everyone.  If you want me to help solve this problem,  please invest the time to remove your proprietary stuff from your project first and provide me with a regular Docusaurus project that I can simply run by cloning master and yarn install / yarn start. The ideal for me is to have a separate repo with a master deployme

[2020-10-27 08:45] slorber commented on #3632
it is added only when your preset classic has the googleAnalytics config attribute

[2020-10-27 08:59] slorber commented on #3109
@bendtherules I don't know well this part so you'll have to look in the codebase to find it. But also consider that anchor linking is native to browsers so it's not even sure we wrote any code for that.

[2020-10-27 10:14] bendtherules commented on #3109
Cool, i will try will out and see.

On Tue, 27 Oct, 2020, 2:29 pm Sébastien Lorber, <notifications@github.com>
wrote:

[2020-10-27 12:27] slorber commented on #3643
Hi,

We can definitively improve the documentation, if you have suggestions don't hesitate to send PRs directly.
I'd like to re-org everything in this doc, but that will be done later.

[2020-10-27 17:23] rafaelrdealmeida commented on #3643
Hi @slorber ,

I am writing down the points that I feel could be added to the documentation. Next week we should finish adjusting our docusaurus. After that I did PRs.

Do you have any guidance or requests regarding documentation that I can help with?

[2020-10-27 18:41] isaac-philip commented on #3434
@slorber done the needful.
Thanks for the help again!

[2020-10-28 14:02] Southclaws opened #3652 ""Docs markdown link couldn't be resolved" infinite loop on build or start"
## 🐛 Bug Report

I upgraded to 66 recently for our [docs site](https://github.com/openmultiplayer/wiki) and since we're doing translations that are in-progress, there are a lot of broken links (because translators copy the english, change the text and keep the markdown - so links and images, etc) which is fine, I don't want translators to remove links then re-add them later it'll just get confusin

[2020-10-28 15:33] HonkingGoose commented on #2930
I really like the improvements that are suggested here (colored bar left side of adminition, colored icon, and colored title), keep up the good work. :+1: :heart:

I hope this lands into the default Docaurus framework soon, so that I can benefit from this in my project! :smile:

[2020-10-28 16:43] slorber commented on #3652
Hi,

I'm not sure what's the error that you are reporting here?
Is it just the infinite loop, or is it also the error message?
Because I see your Vercel deployment also has this error message.

As far as I understand it is a cosmetic terminal issue, and is not blocking you from building your site right?

Note: I'm working on proper i18n support right now, will soon look for early adopters to onboa

[2020-10-28 17:15] amimas commented on #2736
Is the `baseUrl` property set? I think it defaults to root and configuring that to match the expected site root should take care of it. I think @slorber   already mentioned that above.

Did that not work?

[2020-10-28 17:22] slorber commented on #3643
Not much guidance, we have undocumented things, and documenting them will definitively be better than not :)
Just try to put the doc in the correct place. Also code blocks are not searchable easily so. we'd rather have all searchable content documented outside of codeblocks as well.

Once I ship i18n I'll reorg the docs. We need something better before translation our own website :)

[2020-10-28 17:22] Southclaws commented on #3652
The page on localhost never loads, but if I pipe output to a file, it works fine. I think it's detecting if it's writing to a TTY and if it is, redrawing the entire terminal because normally there's a progress bar for the client and server build.

[2020-10-28 18:39] sammychinedu2ky commented on #1699
I'm going to work on this issue

[2020-10-29 02:23] shadowtime2000 opened #3655 "Purge CSS Docusaurus Plugin"
## 📚 Documentation

The Docusaurus classic preset ships the entire Infima CSS framework with the site which results in a lot of unused CSS. An official Docusaurus plugin to remove unused CSS would be great, and it would be nice if it was added to the classic preset.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporti

[2020-10-29 08:16] slorber commented on #3655
Hi,

That seems like a good idea.
We'll also likely need this if we want to provide a Tailwind theme: https://github.com/facebook/docusaurus/issues/2961

[2020-10-29 12:03] KumarAbhirup opened #3657 ""TypeError: Cannot read property 'replace' of undefined" when docusaurus build"
## 🐛 Bug Report

I am using Docusaurus 2.

I get this error when I run `docusaurus build`,
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Use the following `docusaurus.config.js`
[code]

2. Run `docusaurus build`.

## Behavior

`docusaurus start` works perfectly fi

[2020-10-29 15:35] slorber commented on #3657
hi

this is a known issue affecting yarn workspace / monorepos

you'll find workarounds here: https://github.com/facebook/docusaurus/issues/3515

[2020-10-29 15:35] #3657 closed

[2020-10-30 00:14] shadowtime2000 commented on #3655
We could also just do a PostCSS plugin and then users could use the PurgeCSS plugin inside of it.

[2020-10-30 08:45] niks3089 opened #3659 "git clone failed when running npm run publish-gh-pages"
## 🐛 Bug Report

Following the tutorial
When I try and run `GIT_USER=user CURRENT_BRANCH=master npm run publish-gh-pages`,
I see the following error:

[code]
The issue is same as https://github.com/facebook/docusaurus/issues/2258
However, this is seen on Mac and the workaround mentioned there doesn't work.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docus

[2020-10-30 09:00] slorber commented on #3655
make sense, would you be interested to contribute such plugin?
I think we can make it a core plugin

[2020-10-30 09:03] slorber commented on #3659
Hi

This part. look suspicious to me: `git@github.com:repo/docs.git`

are you sure your config file has the required fields?
Otherwise we might try to clone a bad  repo, we can't guess the repo URL to clone if we don't have the  needed config  infos

[2020-10-30 09:21] niks3089 commented on #3659
Closing the issue since the repo was private. Changing to public fixed the problem.

[2020-10-30 09:21] #3659 closed

[2020-10-30 13:01] actiew opened #3660 "How swizzle all themes"
## ❓ Questions and Help

![image](https://user-images.githubusercontent.com/72982237/97707817-d1406c00-1af2-11eb-9766-88ef57a45c45.png)

[2020-10-30 13:05] #3660 closed

[2020-10-30 14:33] elipapa opened #3661 "what's the most robust way of importing the default CSS from an html static page?"
## 📚 Documentation

It's unclear what would be the preferred way of importing the default CSS from an html static page.

I have the need to host static `.html` pages in the `/static` folder and would like to style them like the rest of the docusarus  website.
In docusaurus v1 it was [possible to access it](https://docusaurus.io/docs/en/custom-pages#adding-static-pages) at `${baseUrl}css/main.css`.

[2020-10-30 15:21] #3631 closed

[2020-10-30 16:57] shadowtime2000 commented on #3655
I would be interested in contributing this plugin. Looking through the documentation and the core package I think I would need to use the `configureWebpack` function to accomplish this.

[2020-10-30 20:54] phated opened #3663 "Allow an ergonomic way to filter plugins between dev & prod."
## 🚀 Feature

Allow an ergonomic way to filter plugins between dev & prod. We were asked to open an issue about this in Discord - ref https://github.com/gulpjs/gulpjs.github.io/issues/123#issuecomment-718696325

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

For gulp's website

[2020-10-30 21:49] nategiraudeau commented on #3628
@slorber, can I work on this issue?

[2020-10-30 22:11] MichaelStromberg opened #3664 "Validation errors in classic scaffold project during config reload"
## 🐛 Bug Report

Using the installations instructions from the [Getting Started - Installation](https://v2.docusaurus.io/docs/installation) page produces a working scaffold but fails if the docusaurus.config.js is modified while running the development server (triggering a   config reload).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/maste

[2020-10-30 22:14] MichaelStromberg commented on #3664
Never mind. It looks like this was a side effect of using Notepad++ in Windows on a file that's in WSL2. When I use vi in a different terminal to edit the config, everything works.

[2020-10-30 22:14] #3664 closed

[2020-10-31 11:40] elipapa commented on #3661
thanks for the reply @slorber
i was not referring to custom css, but rather the default css from @docusaurus/theme-classic

[2020-10-31 16:06] slorber commented on #3372
Until I figure how to integrate this properly in Docusaurus, here's a PR on the ReactNative website with some ideas to fix trailing slashes issues in userland: https://github.com/facebook/react-native-website/pull/2297

[2020-10-31 16:25] slorber commented on #3663
thanks, make sense ;)

as I said on discord, some of those plugins already enable only in prod, but yeah having this conditional feature will be useful

[2020-10-31 16:59] slorber commented on #3628
yes thanks :)

[2020-10-31 17:03] slorber commented on #3661
The CSS file loaded by the classic theme is `infima/dist/css/default/default.css` (in node_modules)
For the docusaurus website, it is loaded through webpack css loader.
You could just put this file in /static and load it in HTML pages

[2020-10-31 17:15] slorber commented on #3655
thanks

configureWebpack is a good way, let me know if this does not work out

[2020-10-31 19:59] merceyz commented on #3324
Fixed in https://github.com/yarnpkg/berry/pull/1851, update to the latest yarn and it should work :)

[2020-10-31 20:43] TheodoreChu opened #3668 "Proposal: upgrade Remark to v13.0.0"
## 💥 Proposal: upgrade Remark to v13.0.0

It looks like the mdx-loader is using Remark v12.0.0: https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-mdx-loader/package.json#L39

Remark v13.0.0 was released in mid-October. The release notes explain that "It replaces the 5+ year old internals with a new low-level parser: [`micromark`](https://github.com/micromark/micromark).": http

[2020-10-31 22:36] mdhsl opened #3670 "[v2] Failed to deploy: window is not defined"
## 🐛 Bug Report

Got an error while compiling the project into 'production' mode.

I found several workarounds on Google but none of them were satisfying.

I am using a custom plugin  to allow the use of external libs injected via npm like Leaflet or OpenLayers as well as my own project (osh-js) located at a different level of the current directory.

You can get any details into the directory http

[2020-11-01 22:47] JanCizmar commented on #3670
I am facing the same issue. Is there any way to disable building of the server part?

[2020-11-02 07:07] mdhsl commented on #3670
I have found a workaround (or maybe it is juste the right thing to do!) from [here](https://www.gatsbyjs.com/docs/mdx/importing-and-using-components/#lazy-loading-components)

Lazy loading seems to fix this issue

[2020-11-02 09:49] jcs98 commented on #3521
Hello @slorber may I take this up?

[2020-11-02 13:39] vanbasten17 opened #3672 "include external sourced files into build"
## 🚀 Feature

Be able to pull plain text information from external sources and build it up with docusaurus build.

Example: Retrieving an external markdown file to be injected into a specific route.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
We would like to source github's

[2020-11-02 15:25] slorber commented on #3521
yes thanks, let me know if you need me to do something about it

[2020-11-02 15:33] slorber commented on #3324
thanks

@ylemkimon I'm closing but we can reopen if this does not work for you

[2020-11-02 15:33] #3324 closed

[2020-11-02 15:36] slorber commented on #3668
Thanks, we'll look into upgrading to Remark 13 but probably a bit later

[2020-11-02 15:41] #3628 closed

[2020-11-02 16:09] slorber commented on #3670
Hi,

You can't acces window on the server.

The workaround is the right thing to do, we even have a core component to solve this problem :)
https://v2.docusaurus.io/docs/docusaurus-core/#browseronly

Will see if we can improve the error message and link to that page

[2020-11-02 16:09] #3670 closed

[2020-11-02 17:09] slorber commented on #3672
Hi, this is something I'd like to support.

However, keep in mind that Github README is commonmark, and we are using MDX. The implementation diverge on the HTML elements, so you'll have to avoid using such elements if you want the readme file to work in both Docusaurus and Github pages.

Unfortunately, for now MDX is not 100% compatible with commonmark (https://github.com/mdx-js/mdx/issues/1125),

[2020-11-02 17:21] jcs98 commented on #3521
Hi,
This is what I have in mind:
On a new PR, the GitHub action will run `yarn build` and then
Calculate the build size as the sum of all the `lib` folders in the 15 docusaurus packages
And also the time it took to execute the build

Can you please tell me if this is okay or something else is expected?

Example comment by the build-size-bot:
<table>
<tr>
	<td><b>Package Name</b></td>
	<td><b>Build

[2020-11-02 18:14] slorber commented on #3521
Hi @jcs98

Tracking the size of our NodeJS code is probably not the most important thing to track.

What matters most are:
- tracking build time (on our init template + our v2 website)
- tracking static output size (size of HTML files, size of JS bundles etc...)

The system should be able to prevent major perf regressions such as:
- we included lodash in theme-classic by mistake, and client side J

[2020-11-02 19:26] mdhsl commented on #3670
OK for closing the issue but browseonly does not fix the problem.
The problem happens while importing the component such like:

import LeafletView from "../../source/osh/ui/view/map/LeafletView";

only this cause the error. But the lazyLoading can help for that. just to clarify ;).

Thx

[2020-11-02 20:28] Danon opened #3676 "Docusaurus + /docs takes hours to build on Github actions"
## 🐛 Bug Report

Docusaurus app, when run `npm run build` and/or `npm run deploy` works locally, but on github actions it takes hours; and fails anyway (Github terminates it after 360 minutes).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Here's the repo with the failure:

[2020-11-02 20:29] Danon commented on #3676
I'm attaching the build step log:
[build.log](https://github.com/facebook/docusaurus/files/5477860/1_build.txt)

[2020-11-02 20:36] Danon commented on #789
I tried running the docusaurus 2 on GH actions, but got some hangs: https://github.com/facebook/docusaurus/issues/3676

[2020-11-03 03:12] clairefro commented on #3317
Hi there, eavesdropping as I've also been grappling translation approaches for another project

Regarding translation management in a single repo scenario, are you aware of git localize? A system that incorporates or mimics this could make for happy devs

https://gitlocalize.com/

[2020-11-03 03:22] DsCodeStudio opened #3677 "renderReloadPopup.js 6:554-564 Critical dependency: the request of a dependency is an expression"
## 🐛 Bug Report

[code]

I want to add PWA to my site. but something went wrong and I'm not sure if it's a bug or not.

At the same time I configured Algolia to provide document search, but after almost a week, it doesn't work, and I don't see any indexing information in the Algolia Dashboard, is this something I need to add indexing manually? I configured apiKey, appId, indexName, but it didn't w

[2020-11-03 08:57] slorber commented on #3317
thanks @clairefro , didn't know about this one, will take a look :)

[2020-11-03 09:49] lex111 opened #3678 "Custom CSS content should be append to the end of bundled CSS file"
## 🐛 Bug Report

During a little refactoring, I realized that the custom CSS files content is **not** at the end of final CSS file `styles.css` (as it expected). This makes it impossible to override the Docusaurus component styles without applying the `!important` rule (which in turn is bad practice).

@slorber could you please investigate this issue? Can we "force" the custom CSS content to be at

[2020-11-03 11:30] vanbasten17 commented on #3672
Hi @slorber , thanks for your time! Would you mind sharing with me some guidelines to create a plugin to support this? I'll try to do this if I can invest some time. Thanks

[2020-11-03 14:11] slorber commented on #3672
@vanbasten17 the best is to read the docs (https://v2.docusaurus.io/docs/lifecycle-apis/), understand the lifecycles to read FS data, create pages etc...
The "pages" plugin is likely easier to get some inspiration.

But you'll have to figure out how to replace MDX by a regular MD parser/renderer. It's not something I ever did so I can't really help you more than that.

[2020-11-03 14:45] slorber commented on #3678
I don't find an easy way to do that.

We need client modules to be added in CSS first because Infima is a client module, and the theme css modules should be able to override Infima.

Looks like we need another system to be able to have 3 kind of css:
- client modules (infima, admonition etc...)
- theme imports (ie css modules etc...)
- custom css

I'm not sure how we can make this but it's unlikel

[2020-11-03 14:52] slorber commented on #3677
Hi,

I don't know about the PWA

For Algolia DocSearch,  I see you have indexName: "prod_env".
I can't see your config, but it may be a config issue.

@shipow was wondering what's the DocSearch story for those that manage their own Algolia appId like it seems to be the case here? Shouldn't we recommend to use the docusaurus-2.json config or something?

[2020-11-03 15:01] slorber commented on #3676
Hi

Please including a npm/yarn lockfile and upgrade to latest docusaurus version.

We'll see if this happens again on latest version, and with a more deterministic build.

[2020-11-03 15:03] slorber commented on #3670
Yes you have to lazy load that lib like I suggest here: https://github.com/mac-s-g/react-json-view/issues/121#issuecomment-670431408

[2020-11-03 15:31] Morriz commented on #2337
Is it not possible to customize a sidebar title/label now without changing the page title?

[2020-11-03 15:31] DsCodeStudio commented on #3677
The Algolia DocSearch issue is already being addressed, Algolia DocSearch hasn't synced the key to me yet, and they say they'll take care of it soon!

So now the problem is PWA, I'm not particularly sure how to integrate the docusaurus-pwa plugin in docusaurus. I configured it according to the docs and this problem came up, not sure if it's my configuration or a bug, but removing the plugin made t

[2020-11-03 15:38] slorber commented on #2337
@Morriz yes it is, using sidebar_label frontmatter.

[2020-11-03 15:39] slorber commented on #3677
Create a branch with Docusaurus + PWA in your repo and I'll look at it when I have time

[2020-11-03 15:43] DsCodeStudio commented on #3677
wow~, All I could say is--thanks. 😊

[2020-11-03 15:48] DsCodeStudio commented on #3677
I created this branch

https://github.com/DsCodeStudio/DsCodeStudio-Docs/tree/Docusaurus+PWA

[2020-11-03 15:52] slorber commented on #3652
Seems to work for me on macos with yarn install && yarn start

![image](https://user-images.githubusercontent.com/749374/98008645-fe439600-1df4-11eb-8c45-272890f9dfee.png)

[2020-11-03 18:49] Morriz commented on #2337
Is that documented? I could not find it

[2020-11-03 18:50] Morriz commented on #2337
Nevermind. Search worked. I expected it to be in one of the sidebar item types

[2020-11-03 19:29] lunelson commented on #3372
I've been solving this issue mainly by conforming URLs to the desired format using a function within the `Link` component—since all internal links have to pass through here at some point; one complexity with this is that if you are using the `baseUrl` option you have to consider root-based URLs that are outside of the your sub-directory to be external, i.e. static anchors not router-links...

[2020-11-03 20:04] rafaelrdealmeida commented on #2353
Hi,

I'm trying to change the blog layout. But I am not finding the place to customize the layout. Can you indicate that?

the current layout is this:
![Captura de tela de 2020-11-03 16-49-51](https://user-images.githubusercontent.com/18035347/98033873-e2d88b00-1df4-11eb-8b3f-e75cae877b28.png)

I'm trying to alteral to:

![Captura de tela de 2020-11-03 17-02-30](https://user-images.githubuserconte

[2020-11-04 05:10] bradumbaugh opened #3680 "https://v2.docusaurus.io does not load correctly on Safari for Mac or iOS"
## 🐛 Bug Report

https://v2.docusaurus.io doesn't correctly load on Safari for Mac or iOS.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

- Using Safari on a Mac
    - Safari - Version 14.0 (15610.1.28.1.9, 15610)
    - macOS Catalina - 10.15.7 (19H2)
    - Also tried this o

[2020-11-04 09:26] lex111 commented on #3678
Maybe custom CSS files will include after main CSS file as separate `link` element? That is, we will exclude custom CSS content from main CSS bundle (styles.css). Can this be done?

[2020-11-04 09:49] #3584 closed

[2020-11-04 10:12] maraisr opened #3682 "Strange flicker on refresh"
If you check the notes over at https://github.com/testing-library/testing-library-docs/issues/661 which sent me here.

The rough idea is that the search boxs' keyboard hint flickers on windows.

[2020-11-04 10:51] lex111 commented on #3682
Apparently you mean that the control key icon flickers on page load (because it changes depending on used OS).

@francoischalifour could you please suggest any options to avoid this?

[2020-11-04 11:03] francoischalifour commented on #3682
Hey—this is due to how SSG and therefore Docusaurus (I believe) works. Let me know if I've misunderstood something.

Since a Docusaurus website gets generated on a server, we don't know yet what the user's OS will be, and therefore what shortcuts to display. We need to wait to load the page to have this information.

Hence, [we change this shortcut in an effect](https://github.com/algolia/docsearc

[2020-11-04 11:07] maraisr commented on #3682
Yeah i think that would be best—halt all OS specific things till client side. The same would also have been true for dark mode, light mode stuff (https://joshwcomeau.com/gatsby/dark-mode/).

Is this something easily done? I could help with a PR! 🤩

[2020-11-04 11:11] lex111 commented on #3682
@francoischalifour Yes, you are right, as I understand it is also relevant for Gatsby (preview TypeScript website with applied doc search v3 https://ts-with-algolia-search.vercel.app/ faces the same issue).

Well, I think this is a good option.

[2020-11-04 11:33] francoischalifour commented on #3682
Sounds good!

@maraisr Happy to receive a PR on the [`next`](https://github.com/algolia/docsearch/blob/next/packages/docsearch-react/src/DocSearchButton.tsx) branch to display `.DocSearch-Button-Keys` only once we get the navigator platform. 🙂

[2020-11-04 11:52] #3680 closed

[2020-11-04 11:57] slorber commented on #3682
If there's a finite set of keys, it's could be possible to render all the keys, but only show one of them, thanks to OS-specific CSS?
The critical CSS is blocking so we are sure it's loaded before the input renders.

Not sure how reliable it would be to detect with CSS the OS though...

[2020-11-04 12:01] slorber commented on #3682
CSS variables is also an option, for example same as dark mode, we'd inject a --docsearch-action-key variable in styles at js init time, and use it in a ::after { content: var() } ?

(may not work well for docusaurus due to lazy loading the js)

[2020-11-04 13:47] jumpersdevice opened #3683 "Dark/light images in MD"
Hello,

Tried discord, search and couldn't find anything or get anyone to reply me so I though i'd post here. Can anybody explain how you use a dark image in an MD when the theme is switched to dark and automatically switch to a light version of that image when the theme is set to light?

Thanks

[2020-11-04 13:50] #3683 closed

[2020-11-04 13:59] jcs98 commented on #3521
Thank you @slorber
I have started looking at a few things.

Can you please confirm if "tracking static output size" is calculating the size of the folder `website/build` or something else?
Sorry if I am missing something here.

I also looked at some existing tools:

- [bundlesize](https://github.com/siddharthkp/bundlesize) that can be integrated with circle ci
- the one that next.js uses (https://

[2020-11-04 14:15] slorber commented on #3683
Hi,

This problem is not specific to docusaurus but is related to dark mode support in general for server-rendered apps.
- You can add a non-alpha opaque background to your image
- You can try to convert it to svg and read css variables of the theme to color it
- You can append 2 images in the html, and use CSS queries to display one or the other
- You can render the image only on the client, base

[2020-11-04 14:18] slorber commented on #3683
Example using CSS to select a theme-specific image:

[code]

This is pseudo-code, can't guarantee it will work but it's worth trying

[2020-11-04 14:20] slorber commented on #3678
this can probably be done but I don't know how yet

[2020-11-04 14:24] slorber commented on #2353
hi @rafaelrdealmeida , all the blog components are in the classic theme

![image](https://user-images.githubusercontent.com/749374/98123213-d8c89200-1eb1-11eb-821e-61caabfbb47c.png)

The one displayed in your screenshot looks like the BlogPostList component, that you can swizzle

[2020-11-04 19:53] chrisdostert opened #3686 "v2) Ability to associate content with a category"
## 🚀 Feature
Allow categories to have content i.e. be doc pages themselves.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

It's often the case you want the behavior that clicking on a category actually shows a page (index page) for that category.

You then of course can have s

[2020-11-04 21:10] DerT94 opened #3687 "docusaurus.config.js - Errors when change"
## 🐛 Bug Report

(A clear and concise description of what the bug is)
I have just installed a fresh version of Docusaurus.
When I make a change to the file "docusaurus.config.js" I get several errors.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes
(Write your answer here.)

## To Reproduce

(W

[2020-11-04 21:36] lex111 commented on #3687
Very strange, I used your config on the new-created website and didn't get any errors.
Try running `yarn docusaurus clear` and then `yarn start` again.

[2020-11-04 22:12] lex111 commented on #3678
Hm.. what about "lazy" load custom CSS, something like as in Algolia's doc search?

[2020-11-05 00:15] charleskorn opened #3688 "Syntax highlighting uses inline styles, making it difficult to use Content Security Policy"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Set a Content Security Policy for your site that includes `style-src 'self';` with either a `<meta>` tag or HTTP header, eg.

[code]

2. Add a code block o

[2020-11-05 06:01] charleskorn opened #3689 "Using inline SVGs from Inkscape fails with "SyntaxError: unknown: Namespace tags are not supported by default.""
## 🐛 Bug Report

Using a SVG created by Inkscape using its default Inkscape-extended SVG format with the [inline SVG](https://v2.docusaurus.io/docs/markdown-features#inline-svgs) feature fails with ``SyntaxError: unknown: Namespace tags are not supported by default. React's JSX doesn't support namespace tags. You can set `throwIfNamespace: false` to bypass this warning.``

### Have you read the [C

[2020-11-05 06:04] charleskorn commented on #3689
This issue seems to be fixed if [SVGO optimisation](https://react-svgr.com/docs/options/#svgo) is switched on for SVGR: https://github.com/facebook/docusaurus/blob/83db07e5b4dbb667a7a1703883e0bf0b79a4d858/packages/docusaurus/src/webpack/base.ts#L221.

Making the following change to that line solves the problem for me, as the default configuration for SVGO removes all editor-related namespace tags:

[2020-11-05 06:29] rocosen opened #3690 "Code blocks is failed"
## 📚 Documentation

Code blocks is failed。

![微信截图_20201105142435](https://user-images.githubusercontent.com/49807007/98205493-3cff5a80-1f73-11eb-8dde-914951c51a34.png)
![微信截图_20201105142639](https://user-images.githubusercontent.com/49807007/98205498-3ec91e00-1f73-11eb-9ea8-42ad3379f9e8.png)
![微信截图_20201105142651](https://user-images.githubusercontent.com/49807007/98205500-3ffa4b00-1f73-11eb-8f14

[2020-11-05 06:29] rocosen commented on #3690
Code highlight and copy button disappear

[2020-11-05 06:35] #3690 closed

[2020-11-05 06:36] rocosen commented on #3690
I upgraded the version and did not update node_modules .

[2020-11-05 08:49] lex111 commented on #3689
I think that would be great.

[2020-11-05 10:32] apurvaojas opened #3692 "Providing static-assets directory from Configuration"
## 🚀 Static Assets Directory from configuration

Users should be able to provide `staticAssetsPath` from the `docusaurus.config.js`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To have freedom, to choose directory structure of project.

## Pitch

Currently user are bound to

[2020-11-05 11:15] DerT94 commented on #3687
I also found out that the error only occurs when I start it with `yarn run start --host 0.0.0.0`
As explained in the documentation.

https://v2.docusaurus.io/docs/installation
![image](https://user-images.githubusercontent.com/58786605/98234113-40d5b180-1f60-11eb-914d-54bcd784aa06.png)

When I use `yarn start --host 0.0.0.0`, there are no errors.

No difference after `yarn docusaurus clear`

[2020-11-05 11:40] slorber commented on #3688
What do you suggest to fix this?
What other sites are doing for syntax highlighting?
What are you trying to achieve with your CSP in the first place?

[2020-11-05 11:44] slorber commented on #3678
this only works if that CSS will only be displayed on HTML that is not immediately visible, otherwise it will produce FOUC.
I'd rather make Webpack output another css file, that seems the proper solution.

[2020-11-05 11:47] slorber commented on #3686
Duplicate of https://github.com/facebook/docusaurus/issues/2643

Note: Kubernete category is not collapsable. What's your suggestion for having a collapsible category that is also a link? What's the action on click?

[2020-11-05 11:47] #3686 closed

[2020-11-05 11:48] lex111 commented on #3687
@nebrelbug weird, shouldn't `npm run start` convert into just `yarn start` in your library?

What kind of errors?

[2020-11-05 11:50] lex111 commented on #3678
Agree, so we need to create new webpack entry specially for the custom CSS files?

[2020-11-05 11:56] slorber commented on #3521
Yes, we'll likely want to track if the site of a Docusaurus site grows, mostly in website/build.

We need to define the relevant metrics for our usecase, and figure out how to measure them and track them over time to avoid regressions.

Some metrics I can think of:
- Build time
- Webpack chunks bundle sizes (can maybe found in Webpack manifest / stats output?)
- Lighthouse score
- Accessibility sc

[2020-11-05 13:49] slorber commented on #3521
Don't hesitate to try multiple services at the same time, we can try many of them, and after a while only keep the ones that we find the most useful.

Just try to get a not too verbose output, because measuring the size of all the /build folder is probably not very relevant for our usecase.

You can also try SaaS services as well, and see if they offer open-source free licenses.

[2020-11-05 14:15] slorber commented on #3678
I think yes, and find a good api to express that for users, maybe something like siteConfig.customCSS = string | string[]
Maybe we should even deprecate theme.customCSS as it could be confusing?
We should document the difference in term of CSS ordering between this new API and the clientModules

[2020-11-05 14:26] DerT94 commented on #3687
@lex111
the same as before
![image](https://user-images.githubusercontent.com/58786605/98253172-00376180-1f7b-11eb-8e74-f553e5536bc2.png)

The strange thing is.
When I make a change to a documentation page after changing docusaurus.config.js, the page updates correctly and no error message appears.

[2020-11-05 14:34] slorber commented on #3687
@DerT94 can you upload a repro on github that constantly produce the error above on yarn start?

can you try on another computer?

[2020-11-05 20:22] se8870 commented on #3652
Not working for me, running wiki locally makes loop for 3 hours straight.

[2020-11-05 20:55] MichaelStromberg opened #3700 "Meta description incorrectly capturing JSX code in MDX docs"
## 🐛 Bug Report

When investigating the meta description for the docs pages, we observe code fragments rather than something else like a tag line. This often leads to unsatisfying excerpts when pasting content in a chat client like Slack or MatterMost:

![MatterMostLinkToDocusaurus](https://user-images.githubusercontent.com/1630804/98291144-82b22800-1f5f-11eb-93b7-94cad2ff4b91.png)

There have bee

[2020-11-05 21:51] lex111 commented on #3678
I'd rather leave the `customCSS` in the theme config, but just put them at the end of final CSS by default (i.e. after the CSS modules). If this can be achieved, it will be very very good.

[2020-11-06 07:22] DerT94 commented on #3687
@slorber
I do not think that is necessary.
It can be recreated with a freshly created environment.

After some tests I found out that the error only occurs when I edit the files remotely (SFTP).
So it doesn't seem to be an error with docusaurus.

[2020-11-06 07:57] compojoom commented on #3408
I just ran into the same thing. The message is rather confusing, but what is even more confusing is that the suggested `--danger` flag doesn't work.

I can make component swizzling work only for the provided example in the docs - `Footer` - for anything else it fails to find the component.

[code]

[2020-11-06 08:40] compojoom commented on #3408
Well, actually I was running this with `yarn run swizzle` -> which in terms calls `docusaurus swizzle, but the arguments I was passing `--danger` was not passed over.

[2020-11-06 10:00] slorber commented on #3408
@compojoom yes this is confusing, we'll fix this.

Afaik older npm/yarn might need `-- --danger`, the `--` permit to pass  extra args.

[2020-11-06 10:01] #3689 closed

[2020-11-06 10:03] slorber commented on #3687
ok so let's close this

A deterministic repro is generally necessary, particularly when you encounter an error that others don't encounter.
If you invest time in providing a repro, I'm more akin to invest time to solve your problem, as I don't want to spend my time uselessly trying to solve a problem I can't even reproduce.

[2020-11-06 10:03] #3687 closed

[2020-11-06 10:07] slorber commented on #3678
I don't think it's a good idea, because the theme would need a new plugin lifecycle to be able to add this css at the bottom of the stylesheet.
I don't think as of now it would be great to introduce a new plugin lifecycle just for this usecase, we'd rather make this a core feature instead?

[2020-11-06 11:08] lex111 commented on #3678
All right then, I just wanted to avoid another deprecated filed (and use new filed instead), as this is a manual process by the users.

[2020-11-06 14:30] jcs98 commented on #3521
Thank you for the direction!
I'll try a few different things and keep you posted.

[2020-11-06 16:50] #3700 closed

[2020-11-06 16:51] slorber commented on #3700
thanks, should be fixed by https://github.com/facebook/docusaurus/pull/3703

[2020-11-06 16:54] #3663 closed

[2020-11-06 16:55] slorber commented on #3678
Yes. I guess we could keep the theme customCss field, but maybe deprecate it in the doc and add a Joi warning? (afaik it's possible to have Joi validation warnings instead of errors, but I don't think our code can handle warnings already)

[2020-11-06 16:58] slorber commented on #3652
Can you both share your env?
Both on Windows?

[2020-11-06 17:00] lex111 commented on #3678
Sounds good, but now we need to figure out how to do what we want :thinking:

[2020-11-06 17:12] MichaelStromberg commented on #3700
That was impressively fast - thank you for the awesome work on Docusaurus!

[2020-11-07 11:27] Danon commented on #3676
@slorber Thank you!

I updated `"@docusaurus/core"` from `"2.0.0-alpha.61"` to `"2.0.0-alpha.66"` and it builds in no time now! Thank you.

[2020-11-07 11:27] #3676 closed

[2020-11-07 12:13] jumpersdevice opened #3710 "Live Editor: HTML code not working"
Hello guys, hope you're doing good.

I've successfully implemented the Live editor plugin with npm as recommended in https://v2.docusaurus.io/docs/markdown-features/#interactive-code-editor
It's working perfectly, however, i'm trying to create a live example of a simple html page and isn't working. Is this the default setting? only javascript and some other languages work.

Thanks

[2020-11-07 12:42] Danon opened #3711 "Cannot destructure property 'permalinkToSidebar' of 'docsMetadata' as it is undefined."
## 🐛 Bug Report

Inability to run a page both in prod and dev mode.

### Have you read the [Contributing Guidelines on issues]
Yup

## To Reproduce

1. Install docusaurus `2.0.0-alpha.66`

## Expected behavior

Ability to build a page:

1. `docusaurus build` and/or `docusaurus start`

## Actual Behavior

[code]

## Your Environment

- Docusaurus version used: 2.0.0-alpha.66
- Environment name and

[2020-11-07 14:28] slorber commented on #3676
Great 😜

[2020-11-07 21:15] iamrubayet commented on #3119
can i work on this ????

[2020-11-08 10:39] utkarsh867 commented on #3520
@slorber I'd like to take a shot at this issue.

It would be great to have some pointers on what migration features can I start with?

[2020-11-08 10:40] DsCodeStudio commented on #3677
I fixed all the bugs. I'm going to close this Issues.

[2020-11-08 10:40] #3677 closed

[2020-11-08 19:15] fauxsoup commented on #376
This issue still exists in remarkable as used with docusaurus v2, but now the workaround fails. If I specify:

[code]

The result is a table containing the unformatted string "string | number". The HTML tags appear to be stripped based on a view of the DOM tree. Not sure if it makes sense to revive this old bug or file a new one? I'll also file upstream with Remarkable.

[2020-11-09 12:14] slorber commented on #376
@fauxsoup we are using MDX in v2, not remarkable.

You can try what works and what doesn't here: https://mdxjs.com/playground

[2020-11-09 12:15] slorber commented on #3677
Great.

@DsCodeStudio do you mind sharing how you solved the renderReloadPopup issue?

[2020-11-09 12:17] slorber commented on #3119
Yes @iamrubayet

Note that someone already tried to work on this here:  https://github.com/facebook/docusaurus/pull/3178

[2020-11-09 14:02] slorber commented on #3710
Hi,

We use react-live, so I suspect it's mostly useful for React and JS code, not really HTML or CSS
https://github.com/FormidableLabs/react-live

[2020-11-09 14:44] #3195 closed

[2020-11-09 14:51] slorber commented on #3520
Hi @utkarsh867

Sorry, forgot to link to the previous issue which has much more details: https://github.com/facebook/docusaurus/issues/3103

You'll also find PR comments interesting:
https://github.com/facebook/docusaurus/pull/3015

The migration cli is throw-away code as it won't be used for a very long time, but it wouldn't harm to clean it up a bit and make it easy to understand, as the current

[2020-11-09 15:30] slorber commented on #3711
Hi,

Your site used to work right?

Can you find out the commit that breaks it?

[2020-11-09 18:20] chrisdostert commented on #3686
@slorber thanks for pointing me at that existing ticket. Re: action on click) i'd expect if you click on a category it will show the index of that category as well as showing any sub categories (i.e. expand that category) in the nav. I don't know the value of collapsing docs you're currently reading so additional clicks on the same category i'd expect to do nothing, clicks on other categories (whe

[2020-11-10 02:59] DsCodeStudio commented on #3677
My problem is caused by a path, my custom path does not work, the error message says the icon file was read from the img directory.

After testing PWA on all platforms with no problems, this bug was ignored. I'm still testing other features.

When I comment renderReloadPopup.js, it still compiles correctly, with no errors!

so, I didn't completely fix this bug,It still exists.

renderReloadPopup m

[2020-11-10 09:54] TomPeirs commented on #2643
Is there any update on this feature?
Is there any proposed solution for now?
Currently I have a duplicate entry in my sidebar representing the category file. This of course looks a little bit ugly.

[2020-11-10 09:58] sarthakkundra commented on #3524
Hey @slorber I would like to take this up!

[2020-11-10 10:11] slorber commented on #2643
This is quite often requested (https://github.com/facebook/docusaurus/issues/3686) so we'll try to find a solution, but it will come after i18n support.

In the meantime, if someone wants to design the API surface and write an exhaustive RFC, so that it is flexible and suit all the use-cases reported, that would help.

The design of this feature is not so straightforward as we are not sure yet how

[2020-11-10 10:19] slorber commented on #3686
I thunk this could be confusing,  can you find an example online reproducing this behavior?

Also it's better to move the discussions to the opened issue

[2020-11-10 11:13] utkarsh867 commented on #3520
I'll be going through the issues you linked above and get back with some ideas that I might have!

Thanks!

[2020-11-10 11:58] HonkingGoose commented on #3690
Wild guess incoming, did you perhaps update to `@mdx-js/react v1.6.20` or `@mdx-js/react v1.6.21`?
I'm having problems with my code blocks not working also, and it also affects things like Git syntax highlighting, so it's not just JavaScript highligting that's broken.

See https://github.com/mdx-js/mdx/issues/1320 for more on the possible `@mdx-js/react` breakage.

[2020-11-10 13:27] slorber commented on #3524
Hi,

I'll get in touch on Discord so that we can work together on this,  but I'm finishing some i18n work first.

We'll use a separate org as we did for RN migration (https://github.com/react-native-website-migration/react-native-website), will create it soon.

In the meantime, you can fork Jest and try to migrate it locally, and take note of all the potential difficulties for this migration. We'l

[2020-11-10 14:58] lex111 commented on #3181
Implemented in #3706.

[2020-11-10 14:58] #3181 closed

[2020-11-10 15:02] lex111 commented on #3109
In fact, we documented it a long time ago that some functionality might not work in the dev server. So I'm closing this issue, but If you have suggestions for improving this docs, please create a PR.

![image](https://user-images.githubusercontent.com/4408379/98690940-8dfdbd00-237e-11eb-8f63-47c894c48b5b.png)

[2020-11-10 15:02] #3109 closed

[2020-11-10 15:03] Mihonarium commented on #3181
Good job, thanks!

[2020-11-10 15:05] lex111 commented on #3495
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:05] #3495 closed

[2020-11-10 15:07] lex111 commented on #3361
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:07] #3361 closed

[2020-11-10 15:08] lex111 commented on #2881
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:08] #2881 closed

[2020-11-10 15:11] lex111 commented on #2805
Already merged and ready for use.

[2020-11-10 15:11] #2805 closed

[2020-11-10 15:12] lex111 commented on #3422
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:12] lex111 commented on #2494
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:12] #2494 closed

[2020-11-10 15:16] #2883 closed

[2020-11-10 15:17] chrisdostert commented on #3686
@slorber re: example online) yes it's exactly how the k8s docs linked above work

[2020-11-10 15:18] #2152 closed

[2020-11-10 15:19] chrisdostert commented on #2643
Just wanted to add that this is how the [kubernetes.io](https://kubernetes.io/docs/concepts/overview/) docs work which to me are great. Would love to have this be available (if not default) behavior in docusaurus!

[2020-11-10 15:20] lex111 commented on #2999
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-10 15:20] #2999 closed

[2020-11-10 15:31] lex111 commented on #3668
Not exactly true, we are using Remark 12 to execute tests. To render MD content, we use `@mdx-js/mdx`, which in turn uses Remark 12. But as far as I understand, it's quite difficult to migrate to the new remark in mdx-js. Therefore, this upgrade does not depend on us at this time.

[2020-11-10 16:07] lex111 commented on #2848
After a bit of investigate, I found out that it is possible to set the `BROWSER` environment variable so you can use it in npm script like this:

[code]

But I am closing this issue because there is insufficient data to further fix it.

[2020-11-10 16:07] #2848 closed

[2020-11-10 16:20] MatanBobi opened #3719 "Non truncated blog feeds"
## 🚀 Feature

When working with the blog feed, in testing-library's, we would like a way to contain the full article and not just a truncated version of it within the feed since we don't really care about retention or something like that.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Mo

[2020-11-10 16:41] se8870 commented on #3652
I'm on windows.
Using cmd.

What do you mean?

[2020-11-10 16:51] nickmccurdy commented on #3719
Adding to the rationale here, I would expect most Docusaurus sites to be for community projects that on't need to be monetized. I think leaving blog posts non-truncated by default and adding an option for the old behavior (if encouraging site traffic or reducing feed size is necessary) would be even better.

[2020-11-10 17:00] nickmccurdy commented on #3719
Also, this should be relevant to both V1 and V2. If approved, perhaps it should be backported from 2 to 1 or merged into 2 after 1.

[2020-11-10 17:16] nickmccurdy opened #3720 "V2: Enable feeds by default in blog plugin"
## 🚀 Feature

The blog plugin should enable feeds by default.

## Motivation

Docusaurus 1 enables both blogs and feeds by default. Docusaurus 2 extracts the blog into a separate plugin so it makes sense that blogs aren't enabled by default, however I would expect feeds to also be enabled by default with the blog plugin.

Additionally, feeds would be useful to most users as it's unlikely that blog

[2020-11-10 17:16] lex111 commented on #3466
It seems our fault is that when we release new packages we do not mark them as `latest` version in npm.

![image](https://user-images.githubusercontent.com/4408379/98707301-ef2e8c00-2390-11eb-8a62-fa358b03156f.png)

Thus, if we execute `npm install --save @docusaurus/theme-live-codeblock`, then we get an obsolete (.39) version:

[code]

Therefore, to get the actual version (in which `ReactLiveScop

[2020-11-10 18:00] yangshun commented on #3575
Apologies for the delay. I'm working on making the repo public just to give more visibility into the source code. Will do so by the end of the week.

[2020-11-10 23:28] lukewhyte commented on #3711
Just updated to `2.0.0-alpha.66` and uncovered the same bug. However, I was able to solve it by clearing out `node_modules` + `package-lock.json` and doing a fresh install of my repo.

[2020-11-11 01:40] Seanmclem commented on #3424
this problem still appears to exist. Probably because the classic template doesn't have a tsconfig or anything. However, the tutorial that tells you that you can just use a tsx file if you want -uses the classic template and makes no mention of tsconfig

[2020-11-11 02:01] vthirupathi commented on #3522
Hi, is this still a desired feature? I'm considering working on it

[2020-11-11 02:14] vthirupathi commented on #586
Hi, I'm interested in implementing this. Is it still a desired feature?

[2020-11-11 06:16] sammychinedu2ky commented on #1699
#3717

[2020-11-11 14:23] lex111 commented on #3551
Pay attention to the version of the package used, so use the same package versions (i.e. you need replace `.39` with `.65` in your case). In future releases, we will try to avoid this problem by labeling new packages as `latest`, not just `next`.

I am closing this issue at the moment, but feel free to reopen it if you have any difficulty with it again.

[2020-11-11 14:23] #3551 closed

[2020-11-11 15:27] Danon commented on #3711
Helped, thanks .

[2020-11-11 16:33] lex111 commented on #3711
By the way, maybe the new Docusaurus command `yarn clear` would help in this case, try it if you experience this error next time. So in the meantime, I am closing this issue.

[2020-11-11 16:33] #3711 closed

[2020-11-11 17:02] lex111 commented on #3081
If you click the "Support Server" hyperlink the issue should reproduce.

But this is correct behavior, since the header is placed at the bottom of page, so when we click on the anchor link to it ("What is Rythm's Discord Server used for?"), we reach the end of page. In other words, we cannot scroll further directly to this heading in this case.

![image](https://user-images.githubusercontent.com/4

[2020-11-11 17:11] lex111 commented on #2879
I guess this is no longer a relevant issue, so I will close it.

[2020-11-11 17:11] #2879 closed

[2020-11-11 17:12] Repulser commented on #3081
I believe in this case you haven't reproduced the issue correctly. The docs have moved from staging to https://rythmbot.co/docs/
If I click the "Support Server" hyperlink on https://rythmbot.co/docs/misc_help I get here, without the information in sight:
![image](https://user-images.githubusercontent.com/23503317/98841996-94a93480-2451-11eb-8d36-0f74e1f42fd5.png)

Note that this only happens if yo

[2020-11-11 17:17] lex111 commented on #2979
Sorry for such a long delay, but since this issue is from v1, it's hard to say when this will be fixed.
We are focused on working on v2, so maybe you can make the upgrade to the new version of Docusaurus?

[2020-11-11 18:35] lex111 commented on #3081
Yes, thanks, now I see what the issue is. Indeed, this is related to the loading of images, rather we need to somehow detect that resources was loaded, and only then scroll to the header.

[2020-11-11 22:33] allanaaa opened #3728 "Anchor tabs when changing focus (or otherwise compensate for a changing page length)"
## 🚀 Feature

As per https://docusaurus-2.netlify.app/feedback/p/scroll-updown-when-switching-synced-tabs-with-different-content-heights-to-follo
+1. We are finding this unwieldy. (See https://github.com/OpenRefine/OpenRefine/issues/3309).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Mo

[2020-11-11 23:03] lex111 commented on #3728
Agree, this is a really unpleasant thing, we will try to fix it.

[2020-11-12 00:17] TheodoreChu commented on #3668
Great, thanks for the clarification @lex111.

[2020-11-12 11:25] slorber commented on #3728
Weird, if you scroll a little bit,  this does not happen anymore and the browser is able to figure out how to keep the scroll position (at least Chrome, Firefox seems to struggle even more)

[2020-11-12 11:35] slorber commented on #3081
Hopefully, soon we might use Suspense to load images, and delay navigation until images are all loaded (not sure it's a good idea but could solve the problem).

Something I noticed also, is that the TOC item is not "visible", maybe we should call "scrollIntoView" on highlighted TOC item?

[2020-11-12 12:11] #3408 closed

[2020-11-12 12:19] TomPeirs commented on #2907
This is still an issue.
If the auto-hide sticky navbar is disabled then anchor links will jump slightly to far.

If the auto-hide sticky navbar isn't enabled (which is default behavior), then the scrolling offset should be changed.

[2020-11-12 13:28] #2901 closed

[2020-11-12 13:35] TomPeirs commented on #2907
Hey @slorber ,
The fix  #3724,  does not fix the issue described here.
I tested out the deployment in the related issue  https://deploy-preview-3724--docusaurus-2.netlify.app
-> Clicking on something in the Table Of Contents scrolls to that location however, the header itself is hidden under the toolbar.

[2020-11-12 13:41] slorber commented on #2907
agree, there is still a probleme to solve

[2020-11-12 13:45] slorber commented on #586
hi @vthirupathi , we won't implement this in v1, and it's already implemented for v2.

Closing this issue

[2020-11-12 13:45] #586 closed

[2020-11-12 13:47] slorber commented on #3522
Hi @vthirupathi , this is still a desired feature, but we need to factorize some code to make this happen first, and then we'll likely delegate it to MLH interns.
We are not yet looking for external contributors for this issue.

[2020-11-12 14:02] slorber commented on #3720
Why not having a feed by default, but it's a breaking change.

Good first issue

[2020-11-12 14:06] slorber commented on #3719
Ok for an option to have non-truncated feeds.

I don't know much about RSS feeds and best practices regarding monetization/conversions, but if you can back up your claims by some authority link that explains why it's better to have non-truncated articles in feeds, we can make this the default.

[2020-11-12 14:08] slorber commented on #3719
v1 is in low maintenance mode, it's not very important to backport this feature now, we'll encourage people to adopt v2 instead.

[2020-11-12 14:11] slorber commented on #3686
@chrisdostert the K8s doc is not an SPA and does not really have collapsible sidebars.
The sidebar remains static over the lifetime of the page, there is no arrow that will rotate, you just click a link and goes to another page with a different sidebar in a different state.

But this is a mode we could support in Docusaurus: remove the arrow, navigate on click, and only expand the sidebar when we

[2020-11-12 14:15] slorber commented on #3652
Anything useful to share. But knowing you are both on windows is a good first step 👍

Unfortunately, I don't have windows, but if someone can help figure this problem out that would be nice

[2020-11-12 15:13] MatanBobi commented on #3719
I can take this one if it's ok :)

[2020-11-12 16:01] #3379 closed

[2020-11-12 16:22] cindygu4 commented on #3720
Hi, I'm interested in taking on this feature if that's okay :)

[2020-11-12 17:00] slorber commented on #3720
yes thanks

[2020-11-12 20:13] vthirupathi commented on #2875
Hi, is this currently being worked on? If not, I'd like to take a stab at it if its still a desired issue

[2020-11-12 20:15] vthirupathi commented on #3464
has anyone begun work on this? I'd like to take a look myself

[2020-11-12 20:57] allanaaa commented on #3728
I forgot to ask: Do you have any quick fixes or workarounds for the time being?

[2020-11-12 20:58] SeanGroff commented on #3466
@lex111 I noticed this as well. After installing `@docusaurus/theme-live-codeblock@next` I still get the same error reported in this issue. I'm on a Mac.

[2020-11-12 21:50] lex111 commented on #3466
@slorber this is strange, can you please provide steps to reproduce or even better demo repo?

[2020-11-12 21:56] SeanGroff commented on #3466
@slorber Sure!
Here's the repo you can clone and hopefully reproduce the problem.
Repo: https://github.com/SelectQuoteLabs/SQForm/tree/master/SQFormDocs

I'm currently using a Mac using Node v14.15.0

[2020-11-12 22:02] lex111 commented on #3728
Perhaps disabling tab choices syncing will help in your case?

[2020-11-12 22:19] lex111 commented on #3466
@SeanGroff thanks,

Please try two options:

- Run the command `npm run swizzle @docusaurus/theme-live-codeblock ReactLiveScope --danger`

- If that didn't help, then try swizzling component via Yarn:  `yarn swizzle @docusaurus/theme-live-codeblock ReactLiveScope`

[2020-11-13 04:25] beeradley opened #3735 "Selecting a search result does not pull up the corresponding anchor link"
## 🐛 Bug Report

On production https://v2.docusaurus.io, when you select a header anchor from the search results, you're navigated to the correct page—but not to the correct anchor. This bug occurs on desktop Safari, but not iOS Safari.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Re

[2020-11-13 07:13] DsCodeStudio opened #3736 "I wanted to add the ability to hide the document sidebar, but it didn't work."
I wanted to add the ability to hide the document sidebar, but it didn't work.

From this https://github.com/facebook/docusaurus/pull/3615

I found that the online website works, and downloading the source code test revealed that there is no integrated feature to hide the document sidebar.

This would be extremely helpful to improve the online reading experience for users.

Is it not officially onl

[2020-11-13 08:18] slorber commented on #3736
This is unreleased, will be released soon

[2020-11-13 08:18] #3736 closed

[2020-11-13 08:24] slorber commented on #2875
Thanks, you can work on it

Le jeu. 12 nov. 2020 à 21:14, vthirupathi <notifications@github.com> a
écrit :

[2020-11-13 08:26] slorber commented on #3464
Sure please do, thanks

Le jeu. 12 nov. 2020 à 21:15, vthirupathi <notifications@github.com> a
écrit :

[2020-11-13 08:28] joeplaa commented on #2979
@lex111 this is quite a coincidence. I'm migrating to v2 as we speak. Not because of this issue by the way.

[2020-11-13 08:29] lex111 commented on #3598
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-13 08:29] #3598 closed

[2020-11-13 14:01] slorber commented on #3735
It may be only on Safari, because Chrome seems to work fine

[2020-11-13 15:52] DsCodeStudio commented on #3736
OK, thank you!

[2020-11-13 15:59] beeradley commented on #3735
@slorber Hmm, I'm seeing it intermittently on Chrome, too... and, actually, it looks like it occasionally works on Safari, too—but not all the time. If you navigate around a bit in the left sidebar, land on some doc, and then run the "project structure" search, sometimes it takes you to the anchor, but the majority of the time it does not.

Inspecting the search results, I'm seeing this link for t

[2020-11-13 17:09] slorber commented on #3735
Was wondering: why do you have a trailing slash in the first place?

I think this might be related to if the bundles of the target page are already prefeteched or not, but hard to be sure

[2020-11-13 17:38] dsmmcken commented on #454
Comment for future searchers. If you are running your own agolia crawler you MUST set your own app ID from your agolia account.

appId: 'BH4D9OD16A', is tied to the docsearch free account appId, and is hardcoded as the default.

Set your appId in the docusaurus.config.js as

[code]

Might be worth a note on the https://v2.docusaurus.io/docs/search/#connecting-algolia section that appId must be set

[2020-11-13 17:48] slorber commented on #454
@dsmmcken docs PR are welcome :)

[2020-11-13 18:07] beeradley commented on #3735
Yeah, I'm not sure—I agree it looks suspect.

[2020-11-13 18:15] iamrubayet commented on #3526
I can help you with Bengali

[2020-11-13 21:04] dio opened #3746 "[v2, classic]: Rendering CodeBlock inside a table fails with a specific content/children"
## 🐛 Bug Report

I have a repro repo here: https://github.com/dio/bracket-mystery

In https://github.com/dio/bracket-mystery/blob/master/docs/doc1.md, I put:

[code]

Try to run yarn build:

[code]

However, if I remove the square bracket around the string 30s,

[code]

It compiles fine.

## To Reproduce

I have a repro repo here: https://github.com/dio/bracket-mystery.

[code]

## Expected behavi

[2020-11-13 22:09] taylorreece opened #3747 "#3394 appears to have broken swizzle"
## 🐛 Bug Report

#3394 added a reference to `../../utils/useThemeConfig`. That's fine if components are in `@docusaurus/theme-classic`, but if you swizzle a component you cannot reference that module.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

## Expected behavio

[2020-11-13 22:27] lex111 commented on #3746
@dio hi, it looks like an MDX bug. Since you are facing with this, could you please create an issue in the MDX repo?

Content was split into several parts (as an array eventually):

![image](https://user-images.githubusercontent.com/4408379/99127082-81949100-2618-11eb-9684-b0c8966f3884.png)

[2020-11-13 23:45] dio commented on #3746
@lex111 sure. How do you get the above output? So I can present the issue better. Thanks!

[2020-11-14 02:55] inix opened #3748 "[Question] How to add access control option?"
## ❓ Questions and Help
Dear developers,I know this is a static site generator, but I want to add access based control option, which I can expose site doc pages to register users.
I want to integrated with a dynamic cms such as Wordpress.
How to config it?
Thanks

[2020-11-14 08:21] lex111 commented on #3746
You can test your MDX snippet [here](https://mdxjs.com/playground/), although you will see that it renders without errors, but the internal content is split into several parts. For example, if you just use the `code` tag in a table cell, then this error is reproduced on the MDX Playground:

![image](https://user-images.githubusercontent.com/4408379/99142895-520e7480-266a-11eb-933f-364ae46f4c8d.png

[2020-11-14 21:39] garrettjstevens opened #3751 "[v2] Fails to build if markdown image alt-text has double quotes"
## 🐛 Bug Report

If the alt-text for an image in a markdown file has double quotes, docusaurus will not build.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create docusaurus page with classic template
1. To any markdown file, add an image with double quotes in the alt t

[2020-11-15 08:58] rudasn commented on #3464
+1 for this feature.

The use case is that docusaurus docs are autogenerated, and keeping track of said files in the sidebar file will surely lead to issues.

What I did to resolve this issue, is have a separate script (eg. `guides-sidebar.js`) that picks up `md` folders and files from a given directory (eg. `website/guides`) and generates a compatible sidebar that can be `require`d from the main

[2020-11-15 13:41] MatanBobi commented on #3719
Taken from the [RSS 2.0 Spec](https://validator.w3.org/feed/docs/rss2.html):
![image](https://user-images.githubusercontent.com/12711091/99186430-ed7e1300-2758-11eb-9c38-0cc1b48c1321.png)

I think we should keep the title and URL even if the description contains the whole item.
Any thoughts? I've already started working on this btw.

[2020-11-15 15:55] Morriz opened #3755 "All official @docusaurus/* packages should have the exact same version as @docusaurus/core"
## 🐛 Bug Report

@docusaurus/plugin-ideal-image versioning does not move with core. It's last published package is `2.0.0-alpha.37`, and npm start now throws an error:
[code]

[2020-11-15 16:25] Morriz commented on #3755
Same goes for @docusaurus/plugin-content-docs ;(

[2020-11-15 17:12] Morriz commented on #3755
Ok, I figured out that if I install it @next it will pick up the core version:
[code]

Can this be added to your docs?

[2020-11-15 17:20] Morriz opened #3756 "Document installing plugin@next"
## 📚 Documentation

It took me some time to figure out that installing a plugin as documented was giving me errors (See #3755 ) because the version would not match core. Example:
[code]
This would install the latest published version of the plugin, which was `2.0.0-alpha.37` at the time of writing.

It turns out that installing a plugin `@next` somehow does install it at core version, which I did

[2020-11-15 17:22] Morriz commented on #3755
Re-opening as this is problematic and should be looked at. If this can only be solved by adding docs, then please do so. I just added a request for that as well.

[2020-11-16 06:23] nickmccurdy commented on #3719
If I remember correctly the generated description didn't seem to include the title and URL

[2020-11-16 09:35] emilnewel commented on #3736
@slorber can you give us an estimate on how soon is soon? 😄

[2020-11-16 11:25] slorber commented on #3736
The next release, very likely this week

[2020-11-16 11:29] slorber commented on #3755
Hi @Morriz

I think one issue is enough for this.
If you know a good place where to document this, please let us know (we accept docs PRs)

[2020-11-16 11:29] #3755 closed

[2020-11-16 11:31] slorber commented on #3756
We indeed want to align versions, the error is on-purpose fail-fast behavior to avoid more nasty issues due to incompatible versions.

According to you, what changes should be made to the docs to make this clearer?
Would you mind submitting a PR doing this update?

[2020-11-16 11:40] slorber commented on #3751
Thanks, you are right, our remark plugins should escape those quotes properly

[2020-11-16 11:50] jacksongoode commented on #1921
Hi.

I wanted to bring this topic back up since there doesn't currently appear to be a way to generate a TOC from an .mdx/.js - only through markdown. Is there a hacky way to achieve this through html alone?

I am rendering new pages with content in an mdx and it would be nice to have a TOC for them.

[2020-11-16 13:26] slorber commented on #3748
We don't support protected routes out of the box, but it does not mean it's not possible.

The protected routes of your side should only be rendered client-side, fetch the protected data using the cookie, and render it. It's the same technique for all SSGs, so you can reuse the existing Gatsby knowledge for example.

We have a browser only component here: https://v2.docusaurus.io/docs/docusaurus-c

[2020-11-16 14:21] #3751 closed

[2020-11-16 14:33] slorber commented on #3747
yes that's bad, we'll fix that asap

[2020-11-16 14:37] Simek opened #3758 "[v2] content parsing issue inside the markdown table"
## 🐛 Bug Report

It looks like on the React Native website we currently experiencing MDX parsing issue inside the markdown table:
* https://reactnative.dev/docs/next/button#color

One of color hashes is not rendered in code block besides that the both entries are using the same code:
* https://github.com/facebook/react-native-website/blame/master/docs/button.md#L147

### Issue preview
<img width="

[2020-11-16 16:04] slorber commented on #1699
Let's keep it open for now,  as we need:
- Add documentation, highlight the ease to try Docusaurus (why not embedded codesandbox in Docusaurus 🤪 )
- Ask for adding it to official templates (https://github.com/codesandbox/codesandbox-client/issues/5135)
- docusaurus.new domain?

[2020-11-16 16:40] slorber commented on #3758
It looks like MDX is not able to parse it correctly, even using the playground https://mdxjs.com/playground/, so it seems it's not our fault

[code]

becomes

[code]

For those usecases it may be better to avoid interleaved of MD inside of JSX in table contents. Maybe you can just replace those cases by `<inlineCode>#hex</inlineCode>` directly?

[2020-11-16 16:46] beeradley commented on #3735
I took a look at this — it looks as though the search results come back with the hashtag after the slash. Not sure if that somehow impacts the routing, etc.

[2020-11-16 18:20] jacksongoode commented on #1921
Great! In the mean time, is there any way to fake a markdown header (through js) for the TOC rules to interpret?

[2020-11-16 19:03] slorber commented on #1921
I don't know of a good way to do this unfortunately.

This is not very convenient, but you can keep all the headings in original doc, and only put content in mdx fragments

[2020-11-16 23:18] #3746 closed

[2020-11-17 06:59] lex111 commented on #3466
In order to reduce staled issues, I am closing this issue, but feel free to open it again if needed.

[2020-11-17 06:59] #3466 closed

[2020-11-17 07:03] lex111 commented on #2833
Since we removed the `useLogo` hook (see #3730), this issue is no longer relevant, so I'm closing it.

[2020-11-17 07:03] #2833 closed

[2020-11-17 07:04] lex111 commented on #2646
Since we removed the `useLogo` hook (see #3730), this issue is no longer relevant, so I'm closing it.

[2020-11-17 07:04] #2646 closed

[2020-11-17 07:31] sammychinedu2ky commented on #1699
Awesome. So I guess I would have to wait till it's ready before I document. Since I would be making reference to the official template in codesandbox during documentation

[2020-11-17 10:31] #2918 closed

[2020-11-17 17:52] Morriz commented on #3756
"NOTICE: To circumvent npm errors due to incompatible versions installed between core and plugins, we advise to install all packages at version "next". Example:

`npm install -S @docusaurus/core@next @docusaurus/plugin-ideal-image@next`"

Maybe something like this?

[2020-11-17 19:48] caabernathy opened #3770 "Exception starting site after v2 migration"
## 🐛 Bug Report

Running the v1 to v2 migration script results in an error when running the `yarn start` command. I saw this recently when I was migrating a real site and here reproduced it from the basic site generated for v1.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[2020-11-17 22:18] lex111 commented on #3770
Sorry for the inconvenience, to fix this issue now, try bumping the Docusaurus packages as shown below:

[code]

@slorber apparently this is another negative consequence of the fact that we do not mark packages as `latest`.

https://github.com/facebook/docusaurus/blob/8f2d898f22a3d10fbb76abc866fb4b91547df33c/packages/docusaurus-migrate/src/index.ts#L25

![image](https://user-images.githubuserconte

[2020-11-18 10:10] thanh-vinh opened #3773 "Failed to start Docusaurus server on an `exFAT` drive"
## 🐛 Bug Report

Failed to start Docusaurus server on an `exFAT` drive on Windows. It doesn't happen on MacOS.

## To Reproduce

1. Create new project on an `exFAT` drive

[code]

2. Start project

[code]

## Expected behavior

The server start successfully

## Actual Behavior

Compiled with some errors

[code]

## Your Environment

- Docusaurus version used: `2.0.0-alpha.66`
- Environment name an

[2020-11-18 14:07] slorber commented on #3747
This will be fixed by moving the utils in a new `@docusaurus/theme-common` package.

https://github.com/facebook/docusaurus/pull/3775

[2020-11-18 14:46] Simek commented on #3575
@yangshun Friendly bump 😉 What's the current status of OSing Infima?

[2020-11-18 15:00] #3747 closed

[2020-11-18 15:17] #2907 closed

[2020-11-18 16:54] slorber commented on #3770
yes, we'll fix this on next  release hopefully

[2020-11-18 17:25] lex111 commented on #2403
I think I can close this issue, since the opening of this Issue we have done a lot of work to improve accessibility. There are also a11y issues, but a lot of them are related to the third party packages that we use. However, to prevent staled issues, I'll close this one now.

@jaimeiniesta thank you again for providing access to your awesome service Rocket Validator!

[2020-11-18 17:25] #2403 closed

[2020-11-18 17:38] lex111 commented on #3748
You may find it helpful to read this issue https://github.com/facebook/docusaurus/issues/2769
Since we cannot implement this in any way, I close the question.

[2020-11-18 17:38] #3748 closed

[2020-11-18 21:08] slorber commented on #3756
Hi

Last release used the latest tag

We're going to remove @next refs from the doc

Can you confirm it works better for you now?

Le mar. 17 nov. 2020 à 18:52, Maurice Faber <notifications@github.com> a
écrit :

[2020-11-18 21:18] TomPeirs opened #3780 "npm ERR! notarget No matching version found for @docusaurus/init@next"
## 🐛 Bug Report

Tonight I tried to create a docusaurus instance on my windows machine.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Have node installed Node.js version >= 10.15.1
 --> I currently run node v14.15.0
2. Install Yarn Yarn version

[2020-11-18 23:13] yahu1031 opened #3782 "Dart Code is not colorizing in browser."
## 🐛 Bug Report

\```dart title="main.dart"
import 'dart:html';

void main() {
  var header = querySelector('#header');
  header.text = "Hello, World!";
}
\```
This doesn't recognize dart language, where as if I make it as `java` it does give the code colors.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-

[2020-11-18 23:15] vikhramt007 commented on #3720
Me and @cindygu4 are working on this feature.
We're new to Docusaurus, so we just wanted to ask what enabling feeds by default looks like and how we can test it out.

[2020-11-19 00:34] camiluc commented on #3780
same issue using npm@7.0.12 and node@15.2.1 on windows 10 home 2004
tom's workaround works fine ❤

[2020-11-19 08:10] nickmccurdy commented on #3720
@vikhramt007 @cindygu4

I believe you can implement this by changing the [Joi `type` validation schema](https://github.com/facebook/docusaurus/blob/3ea2f8cfdeaa7aa611f93f27955835afa3716496/packages/docusaurus-plugin-content-blog/src/pluginOptionSchema.ts#L68-L73) to use `'all'` (which produces `['rss', 'atom']` in the internal config) by default.

Generating the site should get you `/blog/rss.xml`

[2020-11-19 09:26] jaimeiniesta commented on #2403
Hey, thanks to you for improving the accessibility of Docusaurus!

I'll just leave a more up to date report, as this week axe-core released a new version with new rules.

https://rocketvalidator.com/s/f0ba95e1-c6a1-40c5-8e30-860e24a8fce6

If anyone wants a free account to work on fixing those issues just ping me.

[2020-11-19 11:18] slorber commented on #3780
Hi,

Yesterday's release changed a bit the way we use npm dist tags: we don't use @next anymore now, and all v2 packages are published with "latest" tag.

I'm in the process to remove all `@next` refs from the doc, it's only a temporary doc  issue ;)

[2020-11-19 11:19] Simek commented on #3782
Hi @yahu1031,

you need to add Dart to the Prism `additionalLanguages` configuration field:

[code]
You can read more about syntax highlighting features and configurtation in the docs:
* https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

### Result
<img width="620" alt="Screenshot 2020-11-19 121659" src="https://user-images.githubusercontent.com/719641/99659504-3ee01800-2a61-11e

[2020-11-19 11:36] yahu1031 commented on #3782
@Simek Thanks for the help ❤️

[2020-11-19 11:36] #3782 closed

[2020-11-19 11:41] slorber commented on #3756
It looks like it work as expected now, you don't need the next tag anymore to get latest packages

[2020-11-19 11:47] slorber commented on #3720
yes changing the Joi default value could be enough.

you can test it with unit tests: missing blog feed config leads to rss+atom
you can test it locally with `yarn build:v2` and checking files in `website/build` as explained  by @nickmccurdy

[2020-11-19 11:48] #3756 closed

[2020-11-19 11:48] #3780 closed

[2020-11-19 14:51] Simek commented on #3575
@yangshun Another issue emerges - https://github.com/facebook/docusaurus/pull/3739#issuecomment-730417696...

[2020-11-19 19:21] justinryder opened #3787 "Sidebar.js Doesn't Gracefully Ignore Unknown Props"
## 🐛 Bug Report

If you add an unknown prop to an otherwise valid saidebars.js, instead of gracefully ignoring the props, the build fails.

## Reasoning/Issue This Causes Us

We are using Docusaurus within an Nx monorepo and we want to create a schematic that will auto generate a new docs page and update the sidebar. To do this, we will need to programatically identify which category to add the ne

[2020-11-20 11:00] emilnewel opened #3788 "Custom local fonts do not load."
## 🐛 Bug Report

Custom **(Locally stored)** fonts do not load. I have seen that there is documentation for importing Google Fonts, but have not yet seen anything that can help with fonts that are stored locally.

I am probably calling the fonts incorrectly, but due to no documentation being present for fonts that are stored locally, and no errors showing up I have no clue why my fonts will not lo

[2020-11-20 11:38] rolandpeelen opened #3789 "ID's don't seem to propagate?"
## 🐛 Bug Report

When adding `@docusaurus/preset-classic` multiple times, there is an error the `id=default` is used twice. Even when manually specifying another id.

It looks to me that the preset-classic is not propagating the `id` properly.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

#

[2020-11-20 11:43] aeneasr opened #3790 "[v2] allow defining additional filters for algolia when using contextualSearch"
## 🚀 Feature

#3550 introduces `algolia.contextualSearch` which is great as it simplifies indexing of versions and languages. However, it removes the ability to define other filters.

It would be great if we could allow both side-by-side and only throw warnings when language or version is overwritten.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus

[2020-11-20 11:46] slorber commented on #3789
Hi,

Presets are a composition of multiple plugins and a theme, they are not really meant to be used twice per project.

What is the purpose of using it twice? What result do you want?

[2020-11-20 11:46] #3789 closed

[2020-11-20 12:38] rolandpeelen commented on #3789
@slorber - Thanks for getting back to me so quickly! Perhaps we're just setting our stuff up wrong. But basically, we want to run two documentation pages. We're currently doing it but we're on an older alpha. Upgrading broke this for us.

See: https://docs.tenzir.com/

Any idea how we could set this up differently so we would have similar results?

[2020-11-20 13:46] slorber commented on #3789
Do you have a public repo for that site?

Which version are you using, and why upgrading is broken exactly?

Docs multi-instance plugin is a pretty new feature from this summer, still not very well documented (https://github.com/facebook/docusaurus/issues/3299)

You'd rather just add an extra @docusaurus/plugin-content-docs rather than an extra classic preset, because you don't want. to have twice

[2020-11-20 13:55] slorber commented on #3790
Hi,

We allow you to override Algolia searchParams.

![image](https://user-images.githubusercontent.com/749374/99807896-69ed6900-2b40-11eb-9b24-7698bf160e22.png)

Do you think we should somehow merge contextual search facetFilter with the one you provide in config?

[2020-11-20 14:04] slorber commented on #3787
Hi,

Not totally sure to understand what you are trying to do, but you can write your sidebar in any format you want. What matters is that you feed Docusaurus with the correct json format, but you can write your sidebar in yaml and transform it to json with js code if you want to.

We forbid unknown keys. because we want to fail-fast, avoid bad configs, typos etc.

If you want to add a key to your

[2020-11-20 14:09] aeneasr commented on #3790
Yes, I meant the `facetFilters`. So the config would look something like this:

[code]

This currently fails with:

[code]

caused by [this diff](https://github.com/facebook/docusaurus/pull/3550/files#diff-19c66dd8d83a5c392fcf66b5644bceb7cf8db5701ed8b9186349990f1460a31fR53).

However, it would be nice to add additional filters to the default docusaurus filters - for example to browse specific proj

[2020-11-20 14:13] aeneasr opened #3791 "async config loading"
## 🚀 Feature

It would be great if it was possible to return a promise which resolves the docusaurus config!

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

The primary motivation is that we want to fetch the sidebar from a remote location. We currently use one docusaur

[2020-11-20 14:14] rolandpeelen commented on #3789
@slorber

Thanks for getting back to me. It looks like the link to multi-instance stuff is working! Thanks!

[2020-11-20 14:41] aeneasr opened #3792 "[v2] link checker cli command"
## 🚀 Feature

The very useful feature which checks if links are working is currently only exposed via `docusaurus build` or `docusaurus start`. It would be great to have `docusaurus lint` (or check or whatever) which would run the link checking without executing a build / compile.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBU

[2020-11-20 16:07] slorber commented on #3790
I added this security because I didn't want users to forget to remove their facetFilter when enabling contextual search, otherwise it would likely mess-up with contextual search.

We'd rather think about a more explicit API to enrich the contextual filters with new ones, instead of removing this security.

[2020-11-20 16:18] aeneasr commented on #3790
Sure that works for me also! Could also be a function:

[code]

[2020-11-20 17:15] nvquanghuy opened #3793 "[v2] How to hook into React Router events?"
I'm trying to integrate a simple image zooming library. Basically when clicking on an image, it's expanded so that user can see the image better. Something like this: https://kingdido999.github.io/zooming/

My attempt is to create a plugin that inserts the script to the body.

After some playaround, this is what I ended up with:

[code]

However, this solution feels very hackish since I have to li

[2020-11-21 02:31] ctlajoie commented on #2643
I would definitely like to see this as well. I have encountered the requested functionality several times just today on different sites. In addition to the [kubernetes.io docs](https://kubernetes.io/docs/concepts/overview/) mentioned by @chrisdostert:

- [GitHub docs](https://docs.github.com/en/free-pro-team@latest/packages/getting-started-with-github-container-registry)
- [DITA docs](https://www.

[2020-11-21 14:26] arcanis commented on #2576
I just tried to use Docusaurus for one of my projects so I investigated a bit. I think there are two things at play. The first is the following error:

[code]

This is because `@docusaurus/core` calls `importFresh` ([here](https://github.com/facebook/docusaurus/blob/533bc6ad9a63ab4771d0c43c05b895ce66ca8b98/packages/docusaurus/src/server/presets/index.ts#L37)) in order to load the plugin. This thir

[2020-11-21 15:37] wooorm commented on #3668
We spoke a while back about separating markdown from mdx, e.g., `.md` is markdown, `.mdx` is MDX. If that’s implemented, then it should be possible to upgrade to remark@13 for the markdown part, leaving MDX to using remark@12 (or, what’s it on? I think MDX is on an older version) for now?

[2020-11-21 23:09] vjpr commented on #2528
@slorber I just tried multiple instances with a setup similar to https://github.com/facebook/docusaurus/blob/master/website/docusaurus.config.js#L61

But it errors while looking for:
`docs/.docusaurus/docusaurus-plugin-content-docs/default/site-community-doc-1-md-87a.json'`

but the file is here instead:

`docs/.docusaurus/docusaurus-plugin-content-docs/community/site-community-doc-1-md-87a.json'`

[2020-11-22 14:25] willianhf opened #3798 "Can't start a new project"
## 🐛 Bug Report

When I try to scaffold a new project with `@docusaurus/init` it's giving me the following error:
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Open the terminal and run `npx @docusaurus/init init my-website classic`

## Expected behavior

The proj

[2020-11-22 19:51] pgruetter opened #3799 "[v2] Can't scaffold new website"
## 🐛 Bug Report

I can't scaffold a new website as described [in the docs](https://v2.docusaurus.io/docs/installation#scaffold-project-website).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Execute `npx @docusaurus/init init my-website classic` on Ubuntu

## Expected b

[2020-11-22 21:20] vjpr commented on #3791
I need this too.

I use async functions to locate all the packages in a monorepo and then add plugins for each package.

[2020-11-23 03:01] vikhramt007 commented on #3720
@slorber
Hi, we started  to work on this feature, and we would like some clarification on whether "missing blog feed configuration" means
`feedOptions: {type: '', title: 'myblog'}`  or `feedOptions: {title: 'myblog'}` ?

If its the former, how would we change feedOptions.type so we don't receive any validation errors? If its the latter, how would we approach this?
Thanks

[2020-11-23 11:33] slorber commented on #3791
That makes sense, we'll add this soon.
This is not the case currently but I guess most lifecycle hooks and Docusaurus apis should be async first, so that you are never forced to use blocking apis.

So parts of the core are still using blocking io, but we'll move progressively everything to non-blocking

[2020-11-23 11:36] slorber commented on #3799
Hi,

Can you tell me the output of `npx @docusaurus/init --version` ?

[2020-11-23 11:42] slorber commented on #3798
Hi,

You can't be on alpha 69 because it's not released yet 😅

Can you run `npx @docusaurus/init --version` ?

Are you using Docker ou Kubernetes? Your error seems related to these technologies  according to Google.

[2020-11-23 11:45] slorber commented on #2528
Thanks @vjpr , noted to take a look at this soon.
Do you mind opening a new issue for this?

[2020-11-23 11:59] slorber commented on #2643
Thanks for showing some examples. We'll try to find an API that allows all these slightly different UX so that you can choose the one you want.

At the same time it's confusing if the item you click on immediately change position. I guess it's an acceptable tradeoff, but we should probably not enforce this specific UX.

[2020-11-23 13:39] pgruetter commented on #3799
[code]

There really isn't much else to show here. I don't have any stacktrace or error message apart from the ones pasted here.

No, I did not until now! I totally mixed up the numbers and thought I'm on a later version. I just followed [this answer](https://askubuntu.com/a/480642/153219) on StackOverflow to update to the latest version (not stable!). Now I'm on node v15.2.1 and the command runs

[2020-11-23 13:39] #3799 closed

[2020-11-23 13:59] vjpr opened #3801 "In `plugin-content-docs`, when `path` contains a dash, anything after the dash is dropped"
## 🐛 Bug Report

From: https://github.com/facebook/docusaurus/issues/2528#issuecomment-731650327

[code]

But it errors while looking inside default:
`docs/.docusaurus/docusaurus-plugin-content-docs/default/site-community-doc-1-md-87a.json`

...but the file is in community instead:

`docs/.docusaurus/docusaurus-plugin-content-docs/community/site-community-doc-1-md-87a.json`

### Have you read the

[2020-11-23 14:26] mpsq commented on #3584
This feature is causing CSP rules to fail in production when `unsafe-inline` is not set. Although this is a nice to have, should we keep this feature only for dev mode and remove it for the production build?
Let me know, if you guys agree with this, I am happy to work on it.

[2020-11-23 15:08] slorber commented on #3584
I see

@mpsq most issues happen when users try to deploy to their prod env imho, so I'd rather give you an option to disable this option, but keep it enabled by default.

What should we do to pass that unsafe-inline rule? just remove the banner with inline style?

[2020-11-23 15:27] aeneasr commented on #3791
Great to hear that this is on the roadmap @slorber! It will help larger projects and ecosystems with multiple build chains avoid a lot of duplication and hacks :)

[2020-11-23 15:28] slorber commented on #3799
thanks for reporting @pgruetter , as we have the problem even for Node 10/12 we still need to figure this out.

Looks like `@latest` solves the problem for older node versions: `npx @docusaurus/init@latest init my-website classic`

[2020-11-23 15:31] mpsq commented on #3584
Thanks for you super quick answer.

Inline styles are an issue yes, but more importantly, the following snippet:

[code]

[Source](https://github.com/MLH-Fellowship/docusaurus/blob/e053743707631994822adfff225608ad5f12ef20/packages/docusaurus/src/client/baseUrlSuggestionWarning/BaseUrlSuggestionWarning.tsx#L32)

Is causing "even more" trouble since it means enabling `unsafe-inline` for `script-src`

[2020-11-23 15:36] slorber commented on #3793
Hi,

We have an undocumented "onRouteUpdate" event, but it fires too early (before the content of the new page is actually rendered)

I need to fix it, but until then you can use it, but you'll still need the setTimeout due to the bug unfortunately 😓
This is because we navigate to the new URL before rendering it, the rendering of the new page happens a little bit afterward (once. bundles are loade

[2020-11-23 15:36] #3793 closed

[2020-11-23 15:38] slorber commented on #3584
We'll add a flag to disable then.

This inlining is required, because the banner has to be displayed when the js/css assets can't load, so we can't un-inline them 😅

[2020-11-23 15:47] yangshun commented on #3575
@Simek We're done with the necessary checks in the internal repo, just need one final step of squashing the commit history before the Open Source team can make the repo public. As this week is an off-week for FB employees, we estimate that the repo will only be officially made public early next week. Thanks for your patience!

[2020-11-23 16:42] andrewtruong commented on #3788
You can load fonts by dropping the `.woff` into `static`, and adding this to your `custom.css`

[code]

[2020-11-23 16:49] slorber commented on #3584
will be fixed by https://github.com/facebook/docusaurus/pull/3802

[2020-11-23 16:59] slorber commented on #3798
Might be related to https://github.com/facebook/docusaurus/issues/3799

Can you try `npx @docusaurus/init@latest init my-website classic` ?

[2020-11-23 17:03] slorber commented on #3799
will be fixed by https://github.com/facebook/docusaurus/pull/3803

[2020-11-23 17:10] slorber commented on #3792
If you have a page with `<Link to={`/docs/${docSlug}`}>`, we can't check if this link is broken without evaluating the code (ie building the site).

The link checker currently collects all the links that are statically rendered and compare them to existing routes, which permits to detect all the broken links reliably.

Having a link checker that works ahead of time would be a completely different

[2020-11-23 17:43] justinryder commented on #3787
We're trying to programatically update the sidebars.js when adding a new docs page, since this will be done via an Nx schematic.

e.g.
[code]
would run the create doc schematic, adding a `component-3.md` file with a template docs page and update `sidebars.js` to reference component-3 in the relevant category based on which library was specified.

I suppose based on the info you provided, our best

[2020-11-23 17:49] aeneasr commented on #3792
I see, thank you for the explanation! Is there any other way to speed up the build time?

[2020-11-23 18:17] slorber commented on #3790
We can't allow such callback in node config because this callback has to be applied on client-side (after we compute appropriate contextual facet filters from current browser URL).

I couldn't find any good API for these additional filters, and I think it's safe to just remove the security: the user will notice if search doesn't return anything, and this is documented.

Fixed in https://github.com

[2020-11-23 18:18] slorber commented on #3792
After i18n it's likely that we'll focus on perf.
The Webpack 5 migration is likely to improve things significantly according to some feedback from NextJS.

[2020-11-23 18:18] aeneasr commented on #3790
Cool thanks!

[2020-11-23 18:29] slorber commented on #2576
Thanks @arcanis, not very familiar with these problems but trying to figure this out 😅

Due to issues in the past, we actually have a runtime check to ensure all versions are the same, as using different versions often lead to unexpected failures.

![image](https://user-images.githubusercontent.com/749374/100000530-fce90600-2dc1-11eb-80e1-2a0d805b500b.png)

[2020-11-23 18:43] #3790 closed

[2020-11-23 18:46] slorber opened #3805 "Algolia plugin SearchPage does not respect configuration"
## 🐛 Bug Report

Use some algolia config like:

[code]

Due to the presence of `bad:filter`, it should actually never find any result.

But the current search page does not respect the plugin configuration options.

We should rather make the search page results consistent with the navbar search input / modal results,  and use the plugin  options.

[2020-11-23 18:58] slorber commented on #3801
Thanks @vjpr
Can you give me more details about the error you see?
You probably have more output than just ENOENT?
How have you figured this error out?

I'm able reproduce something locally, by using a - in the path of our own website, but I don't see the same error as you.

![image](https://user-images.githubusercontent.com/749374/100003338-30c62a80-2dc6-11eb-8c8f-040ff13b56cd.png)

I am unable t

[2020-11-23 19:02] slorber commented on #2576
We are going to release very soon, let me know tomorrow afternoon if you still have issues with latest version, or if we can close this issue

[2020-11-23 19:08] slorber commented on #3787
yes that's it

you could do

[code]

Quite related to this other issues where users would like to auto generate the sidebar according to the FS structure, with some potential userland solutions: https://github.com/facebook/docusaurus/issues/3464

Important  note: when versioning docs, we snapshot using the docusaurus sidebar format as json, we don't run your custom code on versioned docs anymore (

[2020-11-23 19:08] #3787 closed

[2020-11-23 19:10] slorber commented on #3770
Does it work for you now @caabernathy ?

[2020-11-23 21:34] emilnewel commented on #3788
@andrewtruong, this does nto seem to work for me.

![image](https://user-images.githubusercontent.com/31038044/100017064-3fb2da00-2dd2-11eb-9c0c-fd7349726042.png)

As you can see in the image, according to chrome the font is "Setimo" but this is not the correct font.

This is my current folder structure :
[code]

Inside of custom.scss I have:

[code]

Any ideas? 🤔

[2020-11-23 21:41] emilnewel commented on #3788
I figured out that by changing the format to `format("truetype")` the font would load locally. But when I tried to build and serve the fonts went missing again. :/

[2020-11-23 22:19] lex111 commented on #3788
Strange, but your font works for me (see https://epic-pike-f3b627.netlify.app/).

[2020-11-23 23:01] emilnewel commented on #3788
Can I take a peek at your code and compare to my own?

[2020-11-23 23:06] lex111 commented on #3788
Here it is, based on the comments in this issue:

[code]

[2020-11-23 23:21] emilnewel commented on #3788
Welp, this is super weird.

I removed my css and pasted yours. Didn't work.
I removed `node_modules`, `build/` and `package-lock.json` and did a fresh npm install. Didn't work.

When I wake up tomorrow I'm gonna try scraping the whole project and adding it back together piece by piece. Maybe I'll  find something that is breaking things.

[2020-11-23 23:26] lex111 commented on #3788
Try running `yarn clear` (`docusaurus clear`), it might help. Look at the Network tab, there should be requests that load fonts:

![image](https://user-images.githubusercontent.com/4408379/100026753-6ab22380-2dfc-11eb-961c-85d18341e58c.png)

[2020-11-24 01:30] willianhf commented on #3798
Sorry, I didn't saw the unreleased tag 😑.
Not using either.

That worked for me, thanks!

[2020-11-24 01:30] #3798 closed

[2020-11-24 02:19] vikhramt007 commented on #2875
Hi, me and @cindygu4 have constructed a plan for this. We're having trouble figuring out which file in the source would be responsible for displaying the warning?

Also, in `website/sidebars.js`, how is `docs-introduction` resolved. As in, how does it know this refers to `docs.md`?

[2020-11-24 07:26] Piyush-Chandel commented on #1834
I would like take https://github.com/hhvm/hacklang.org ... should i take  ?

[2020-11-24 09:51] slorber commented on #2875
Hi @vikhramt007

I don't know what is the best place to handle this in the code.

Sidebars use doc ids, that are generated from the FS location or by frontmatter.

![image](https://user-images.githubusercontent.com/749374/100077539-c30c1400-2e42-11eb-8646-9bf58ef1610c.png)

It's probably better to discuss first what you plan to build exactly, and its API, before rushing on implementing it, or you'

[2020-11-24 09:52] slorber commented on #1834
Hi @Piyush-Chandel

I can't tell. myself if Hacklang is interested to migrate to Docusaurus 2 so it is a good idea to ask them first.
It looks to me this is a highly customized v1 site, and it does not look like an easy one to migrate.

[2020-11-24 11:03] slorber commented on #2576
@arcanis fix released in 2.0.0-alpha.69

[2020-11-24 11:14] emilnewel commented on #3788
That's exactly my issue, the fonts just will not load when I do `npm run build` and `npm run serve`.

I tried doing running `yarn clear` but it didn't work.

[2020-11-24 11:25] slorber commented on #3584
https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.69

let me know if this works for you

[2020-11-24 11:30] slorber commented on #3788
@emilnewel can you share an updated repro/branch with the advice above applied?

Can you host the build somewhere so that we can inspect it easily?

[2020-11-24 13:11] emilnewel commented on #3788
No need, I got it to work by adding `font-family:  'Setimo'` to the top of `:root` in `custom.scss`. For some reason just having `--ifm-font-family-base: 'Setimo'` was not enough.

[2020-11-24 17:13] mpsq commented on #3584
Yes, it is all good now, no more CSP issues :tada:
Thanks Seb!

[2020-11-24 17:27] terrafrost opened #3809 "making it so docusaurus uploads to subdirectory instead of web root"
I posted this [on stackoverflow](https://stackoverflow.com/q/64971286/569976) but have not gotten a response, hence this post, here:

Anyway, from node_modules\docusaurus\lib\publish-gh-pages.js:

[code]

My question is...  why is the documentation being uploaded to a subdirectory? What if I wanted it uploaded to the root directory? How might I do that?

The front page of a docusaurus v1 website i

[2020-11-24 18:01] slorber commented on #3809
Hi,

We Docusaurus only provide a way to build a static/Jamstack website.

The path at which you deploy this static site is your responsibility, and its config is specific to the host, we don't control it not can document exhaustively the dozens of available hosting solutions. The only real thing in our control is the "baseUrl" param, so that the site built know its subdirectory. If you plan to ho

[2020-11-24 18:01] #3809 closed

[2020-11-24 18:01] slorber commented on #3584
great :) 👍

[2020-11-24 21:31] tomchen opened #3810 "In docs only mode, the secondary 'docs' is gone"
## 🐛 Bug Report

In "docs only mode" (set the main docs' `routeBasePath` to '/'), the secondary docs (added by @docusaurus/plugin-content-docs plugin) is gone (showing "Page Not Found").

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Use Docusaurus 2's official website sourc

[2020-11-24 22:20] sarthakkundra commented on #2267
@yangshun Any plans of applying Docusaurus to GSoC 2021?

[2020-11-25 03:01] yangshun commented on #2267
We would try I guess.

On Wed, Nov 25, 2020, 6:20 AM Sarthak kundra <notifications@github.com>
wrote:

[2020-11-25 06:36] sarthakkundra commented on #2267
D2 gas definitely matured a lot since the last application so I'm thinking it'll be worth a shot.

[2020-11-25 07:27] Beluk opened #3814 "fix(v2): wrap code blocks on print not working anymore"
fix(v2): wrap code blocks on print not working anymore in 2.0.0-alpha.69.

[2020-11-25 09:49] #3788 closed

[2020-11-25 09:59] ayshiff commented on #3805
@slorber Can I work on this ?

[2020-11-25 10:30] slorber commented on #3814
Hi,

I'm sorry but I'm not able to understand what you are talking about.

Can you write a proper bug report with details please?

What is expected behavior, what is actual behavior?

@lex111 do you understand?

[2020-11-25 10:48] slorber commented on #3810
Hi,

This is something we should figure out, but the order of the docs plugin currently matter, because we are using nested ReactRouter routes for each plugin version.

If the first docs instance catch /* instead of /docs/* (due to using routeBasePath: /), then it will also catch /community/team, but unfortunately /community is not a subroute of the /* parent route,  but a subroute of the /communi

[2020-11-25 10:57] lex111 commented on #3814
Actually, it works, you can make sure this by following the [link](https://v2.docusaurus.io/docs/typescript-support) and then pressing Ctrl + P to print this page. Long lines in code blocks are wrapped.

![image](https://user-images.githubusercontent.com/4408379/100215954-bf4fbe80-2f22-11eb-8924-1d1ea8e6d5f4.png)

[2020-11-25 11:03] tomchen opened #3815 "More TOC options (to integrate in-page TOC into the global TOC & make global TOC's top-level items link to article)"
## 🚀 Features

Options to add:

1. Could there be an option to control whether in-page headings TOC on the right is integrated into the global TOC on the left? [VuePress](https://vuepress.vuejs.org/guide/), [Docsify](https://docsify.js.org/#/quickstart) and [vuejs.org/v2/guide](https://vuejs.org/v2/guide/) put the two TOC together as one.
2. In the global TOC on the left of the page, could we be a

[2020-11-25 11:23] aarongarciah opened #3816 ""footer.logo.alt" is not allowed to be empty"
## 🐛 Bug Report

This is exactly the same issue as https://github.com/facebook/docusaurus/issues/3350, but this time in the footer config instead of the navbar config.

When I use an empty string for `footer.logo.alt` in my config, I get the following validation error:

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#repo

[2020-11-25 11:34] Beluk commented on #3814
Right, on 2.0.0-alpha.70 (unreleased) it looks working again. I did not test this version.

[2020-11-25 11:54] slorber commented on #3814
@Beluk alpha 69 was released yesterday and we didn't change anything related to this on master

[2020-11-25 12:08] MatanBobi commented on #3719
@slorber I've implemented this and I did get the full post in the description but it was plain markdown and nothing rendered it.. I saw that in the classic-theme you use `MDXProvider` to render the MDX.. Any ideas what we can do here for the feeds?
Thanks!

[2020-11-25 12:11] slorber commented on #3805
yes @ayshiff thanks, but let's first see how complex it might be

Note, some users want to use both contextual search + additional facetFilters at the same time (https://github.com/facebook/docusaurus/pull/3804)

@shipow @francoischalifour the Algolia API we use for that search page looks different than the one we use for the Navbar input/dropdown (DocSearch), wonder if you know how we could make

[2020-11-25 12:12] #3816 closed

[2020-11-25 12:24] tomchen commented on #3810
What if I don't want
`/docs/` to become `/`
`/docs/design-principles` to become `/design-principles`
`/docs/contributing` to become `/contributing`
...,
I just want
`/docs/` to become `/`,
and
`/docs/design-principles` will stay the same
`/docs/contributing` will stay the same
....
I didn't check the code underneath, but I imagine the second should be easier to do?

[2020-11-25 12:28] slorber commented on #3719
I see

The thing is, a user might be able to add mdx interactive components in the blog post. In such case, what should be the behavior of such feed? The feed reader won't be able to render the React component, but we can still render such component and get it as a static HTML string (it's just it won't be interactive anymore).

You should likely call ReactDOM.renderToString to generate the feed a

[2020-11-25 12:35] Beluk commented on #3814
Well, that's really strange. I'll try to explain what i did:

In 2.0.0-alpha.66 i edited locally the CodeBlock\styles.modules.css and add the lines
[code]
After that i did
`yarn build`
`yarn serve`

and after that visiting my page and press print, the code block was wrapped fine.

Then i changed the package.json and replaced  the number 66 to 69

    "@docusaurus/core": "2.0.0-alpha.69",
    "@doc

[2020-11-25 12:35] slorber commented on #3719
Looks like mdx/runtime is what we are looking for: https://mdxjs.com/advanced/runtime

Something like this may work

[code]