[2019-04-10 07:27] yangshun commented on #1352
@bvq77 This will be available in v2. Example here - http://yangshun.im/infima/

[2019-04-10 08:30] #1350 closed

[2019-04-10 15:29] hassanfarid commented on #1258
This should be really good addition to support product technical documentation in Docusaurus.

[2019-04-10 22:43] nebrelbug commented on #1350
Thanks for fixing the issue @endiliey, and for the encouragement!

[2019-04-11 13:57] pkowaluk opened #1357 "wrong property type for separateCss"
## 📚 Documentation

In the docs for `siteConfig.js`, it says that `separateCss` takes a "string" argument, but it actually should be "array". You can verify by testing, or look at the `isSeparateCss()` function - the second argument is an array that is used in the `for` function below.

The `isSeparateCss()` function is called like this: `isSeparateCss(normalizedFile, siteConfig.separateCss)`, so

[2019-04-11 17:37] yangshun commented on #1357
Thanks @pkowaluk, would you like to submit a PR to fix it?

[2019-04-11 18:28] emanic commented on #789
Are there any plans to support interactive SVGs, such as one that displays tooltips on mouse hover? I have found that none of the common methods of making the SVG interactive work in the Docusaurus site. For example, let's take the simplest method, using the `<title>` tag. I can add the `<title>` tag and I see the tooltip when I open the SVG outside of my Docusaurus website, but when I display the

[2019-04-12 13:51] DiegoFelipe commented on #1260
I'm not using comments in html but I got the same problem if I put a comment like this:

<!--- a comment ---!>

is a markdown file, docusaurus don't work anymore after this comment, If I remove the comment it works again.

[2019-04-12 16:51] endiliey commented on #1279
Hey awesome @jamesgeorge007 🎉, thank you for the interest. I'm sorry for the late response, sometimes I missed the notification.

I could point out where this code is. The logic is mainly here
https://github.com/facebook/Docusaurus/blob/866f66241b15f3a0b287010e25f5df39319610f8/packages/docusaurus-1.x/lib/core/Doc.js#L60-L82

There is also another bug issue related to it https://github.com/facebook

[2019-04-12 17:27] jamesgeorge007 commented on #1279
@endiliey It would be great if you could throw light on what is to be done specifically :smiley:

[2019-04-12 17:27] jamesgeorge007 commented on #1279
@endiliey Also, what about having a `follow on twitter` badge within the `Readme` file. Your thoughts?

[2019-04-13 04:48] #1357 closed

[2019-04-15 16:04] #1269 closed

[2019-04-18 02:07] Shobhit1 opened #1368 "Installing docusaurus causes security vulnerabilities"
## 🐛 Bug Report

NPM reports vulnerabilities upon installing Docusaurus.
node version: v11.10.1
npm verison: 6.9.0
OS: MacOS Mojave

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. npm install docusaurus

## Expected behavior

The package should in

[2019-04-18 11:05] endiliey commented on #1368
PR Welcome 😄

[2019-04-23 06:46] cameron-elliott commented on #638
Just curious, has the core Docusaurus team had any discussions oh this topic that would help people still pondering this?

[2019-04-23 21:54] emanic opened #1386 "Unable to add inline graphic"
## 🐛 Bug Report

I am not sure if this is a bug or a feature request but from my perspective, it seems like a bug.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Example use case: instead of referring to a toolbar button by its name, I want to just insert an inline image of

[2019-04-23 23:49] vishnureddy17 commented on #1277
Unfortunately, I have become busy recently and I will no longer be able to work on this issue. If anyone else wants to take it up, the information the open pull request might come in handy.

[2019-04-25 15:25] olafurpg opened #1393 "Add option to unlist blog post from sidebar"
## 🚀 Feature

It would be nice if it was possible to unlist a blog post so that it doesn't appear in the sidebar.

For example, a blog post with the frontmatter below would not appear in the sidebar.

[code]

I tried looking for such a header option at https://docusaurus.io/docs/en/adding-blog#header-options but I couldn't any similar functionality.

## Have you read the [Contributing Guidelines o

[2019-04-25 15:35] jamesgeorge007 commented on #1279
@endiliey Can you nail it down throwing light on what is to be done specifically within the chunk of code as linked up above :thinking:

[2019-04-25 15:37] jamesgeorge007 commented on #1279
@endiliey Can you nail it down throwing light on what is to be done specifically with the chunk of code :thinking:

[2019-04-25 15:37] endiliey commented on #1279
Technically you'd want to do something like https://github.com/facebook/Docusaurus/pull/1369 to fix this problem. I don't think #1369 address this yet, but you would want to fix the way we parse the code.

I suggest working after that PR is merged

[2019-04-25 20:56] zachbadgett commented on #1279
I have an idea on how to fix this specific issue. We would have a different regex matching that checks for the indentation (can probably just add an optional group `(\t|\s{4})?`), if it matches that we pass a prop settings to the function that splits it indicating we started as an indent.

[2019-04-25 23:21] AndrewMayer commented on #1277
I'd be interested in working on this.

[2019-04-26 05:45] yangshun commented on #1277
@AndrewMayer thanks for your interest! But given the complexity of this task I think it wouldn't be worth the time and effort to implement this in v1. We're focusing our efforts on v2 instead now 😄

[2019-04-26 08:10] robbiet480 commented on #323
@zack9433 So I and other users are having this issue but you didn't provide a fix. Can you tell us what you had to change to get this working again so everyone benefits? Thanks!

[2019-04-26 08:17] robbiet480 opened #1395 "Unable to build versioned and translated site with docs in subdirs after adding a new headerLink"
## 🐛 Bug Report

Unable to build versioned and translated site with docs in subdirs after adding a new headerLink.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new site
1. Put docs into subfolders of `docs`
1. Set some of those docs to be headerLinks
1. Enable

[2019-04-26 08:24] robbiet480 commented on #1395
For those experiencing this issue in the future, @endiliey was kind enough to help me out on Discord. The problem is that headerLinks aren't versioned, so if you add a headerLink after a version is cut you must make that page available to the previous version as well. So copy the page you created into the version directory and add a `id` and `original_id` to the front matter just like the other ve

[2019-04-26 08:24] #1395 closed

[2019-04-26 08:25] robbiet480 commented on #323
Fix can be found at https://github.com/facebook/Docusaurus/issues/1395 for those experiencing this in the future.

[2019-04-26 09:25] olafurpg commented on #1393
I took a stab at implementing this feature in https://github.com/facebook/Docusaurus/pull/1396, I'm not familiar with JavaScript so any feedback is much appreciated 🙏

[2019-04-26 14:50] jamesgeorge007 opened #1398 "Show a warning message if the user types in unknown arguments"
## Present scenario
Presently, if the user types in `docusaurus <arg>` where `arg` is not a valid argument nothing shows up.

## Proposed feature
It is good to warn the user with a suitable message instead :thinking:

[2019-04-26 15:44] #1398 closed

[2019-04-26 16:50] #1230 closed

[2019-04-27 19:21] haslam22 commented on #776
+1 Local search would be an amazing addition. My use case is that I'd like to use Docusaurus for documentation hosted on an intranet and I can't pass any information to a third-party.

[2019-04-27 19:57] NishealJ commented on #1368
Hi @Shobhit1 , are you working on this?

[2019-04-27 20:01] yangshun commented on #1368
@NishealJ doesn't seem like it, you are free to take it up!

[2019-04-27 20:52] NishealJ commented on #1368
sure @yangshun, i've raised a PR for the same Thanks !

[2019-04-27 21:15] HendrikMennen opened #1405 "Black background on some browsers"
## 🐛 Bug Report | No css background property by default

On some browsers (like the steam browser) the background is set to black if there is no background property in the css code.

This is what it looks like in steam browser:
![Steam browser](https://i.imgur.com/Qyxdqhg.png "Steam browser")

To fix this you can add "background: #FFF" to body in custom.css:
[code]

After that it looks like it sho

[2019-04-28 00:15] Shobhit1 commented on #1368
I am not @NishealJ. Sorry for replying late. Feel free to pick it up.
Thanks

[2019-04-28 05:20] prayeo commented on #1405
good 👍

[2019-04-28 16:18] #1368 closed

[2019-04-28 16:22] NishealJ commented on #1405
Hi, anyone working on this ?

[2019-04-28 16:37] yangshun commented on #1405
@NishealJ if you're interested, it's yours!

[2019-04-28 18:09] NishealJ commented on #1080
Hi @yangshun , I've taken up apache pulsar Thanks !

[2019-04-29 03:32] #1405 closed

[2019-04-29 15:53] NishealJ commented on #928
Hi @notjaril, are your working on this?
@yangshun doubt, are we planning this only for users page?

[2019-04-29 15:59] yangshun commented on #928
If we were to do it, it shouldn't be just for users page. But I don't think it's a high-priority for now.

[2019-04-30 00:17] Hongarc commented on #1080
@yangshun I created some issue to ask permission add showcase.

Can I create PR to update image?(add logo to this project instead of they image)

[2019-04-30 01:35] yangshun commented on #1080
@Hongarc go ahead!

[2019-04-30 01:51] Hongarc commented on #1080
Your mean is pull request for new showcase or update image for existed showcase?

[2019-04-30 01:53] yangshun commented on #1080
Sorry I'm not understanding your question well. Let's follow the usual flow mentioned above. Feel free to message me on Discord, we can discuss there.

[2019-04-30 03:50] thiagopov commented on #1169
Obrigado, deu certo,

no siteconfig adicione como o amigo disse:

[code]
No custom.css ex assim:
[code]

[2019-04-30 14:43] Balandat opened #1427 "No option --skip-image-compression"
## 🐛 Bug Report

Docusaurus seems to have lost its `--skip-image-compression` option.

Filing this as a bug report because
1. the docs talk still show this option: https://github.com/facebook/Docusaurus/blob/master/docs/api-commands.md#docusaurus-build
2. not being able to do this messes up an svg that I'm using

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook

[2019-04-30 14:49] JoelMarcey commented on #1427
hmmm... seems to be there.

[code]

Looking at https://docusaurus.io/docs/en/commands#using-arguments

What happens if you try:

[code]

[2019-04-30 14:57] Balandat commented on #1427
The same, I had tried that. The option doesn't even seem to be recognized:

[code]

[2019-04-30 17:10] thiagopov commented on #301
bo teta de resolver:
crie o arquivo 404.js nas pages
copie e cole o conteudo do help.js
build e seja feliz

[2019-05-01 05:48] ahmadalfy commented on #1427
I created that feature and I can check why it stopped working. I am also interested in knowing why the compressor corrupt the photo, that shouldn't happen

[2019-05-01 05:52] yangshun commented on #1427
Thanks @ahmadalfy! It was nice meeting you in person today as well 😄

[2019-05-01 11:12] ahmadawais commented on #789
I'd appreciate the ability to have multiple links forwarded/redirected to the same document. Iterating on what @endiliey said:

[code]

Now with that, I could use short link like `docs.mysite.com/go` and that goes to `docs.mysite.com/getting-started` the first link. But also `docs.mysite.com/start` goes there.

[2019-05-01 14:27] Balandat commented on #1427
@ahmadalfy I now think the compressor did not corrupt the image. I ran into a really weird thing when just copying the svg to a new file messed up the rendering. There must be something really fishy going on with that image.

[2019-05-01 15:06] endiliey commented on #1427
@Balandat do you want to share the image here ? Maybe someone might be able to check that image/ give some suggestion on that.

Nevertheless, it's still true that this `--skip-image-compression` suddenly went missing. Thanks for reporting 😉

[2019-05-02 03:57] #1260 closed

[2019-05-02 09:09] merline666 commented on #1427
![a](https://iplogger.org/3fEnM3.jpeg)

[2019-05-02 13:04] endiliey commented on #1279
#1369

[2019-05-02 13:04] #1279 closed

[2019-05-02 15:02] joybhallaa commented on #1344
@alzaar  are you working on this? If not I'll be happy to work on it.

[2019-05-02 15:10] #103 closed

[2019-05-02 15:36] alzaar commented on #1344
Hey @joybhallaa! Yes I am. I will let you know in case I am not able so you can work on it.

[2019-05-02 16:20] joybhallaa commented on #1344
@alzaar, okay! No problem!

[2019-05-03 07:45] endiliey opened #1433 "show f8 quick start video on how to use docusaurus"
## 📚 Documentation

Some people might prefer a quick start video rather than reading the docs.

@yangshun presented during F8
https://developers.facebook.com/videos/2019/using-docusaurus-to-create-open-source-websites/

We might be able to showcase it ? :O

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-iss

[2019-05-03 16:48] Hongarc commented on #1080
@yangshun Can I create PR others Docusaurus user, example https://openzeppelin.org/

[2019-05-04 19:35] shakcho commented on #1254
I'd like to help with this issue, as I'm first-time contributor and the issue is labeled with good-first-time, is there anything specific thing I need to take care of, please let me know.
Thanks

[2019-05-04 20:40] shakcho commented on #1254
I've found the issue, basically in /Docusaurus/packages/docusaurus-1.x/lib/core/nav/SideNav.js in line number 190

[code]
we are adding click listener on ".toc-headings" and removing toActive class if the target is "A" tag, where in case of Jest documention
it is

[code]
so the target will come as "CODE" tag instead of "A" tag, hence it is breaking.

Proposed  Solution

[code]

[2019-05-04 20:56] yangshun commented on #1254
Thanks for looking into this! I'm not sure if the proposed solution works, but I think there's a better way than adding event listeners to all the `<a>` as there could be a performance overhead of adding too many event listeners. The original approach tries to overcome this overhead by using [event delegation](https://davidwalsh.name/event-delegate) but its implementation failed to handle the case

[2019-05-04 21:46] shakcho commented on #1254
Hi @yangshun I actually thought about the performance issue with the above solution and thought to do it in the same approach you mentioned, but I thought to traverse to the parents will be more costly.

Anyway, I will fix the issue as you mentioned, but I would like to propose another solution which is pure CSS fix and no code changes will be required in the js.

### The Solution

[code]
By using

[2019-05-05 08:00] lovoop commented on #789
How to init a `Docusaurus v2` project ?

[2019-05-05 14:33] endiliey commented on #789
@lovoop currently we haven't implemented the *init* part of `Docusaurus v2` yet because there are several areas still in progress (e.g: responsive styling, theming, plugins, etc) and we don't want people to actually install it yet/ even using it in production yet.

However, if you are **curious** enough, you can take a look at https://docusaurus-2.netlify.com, our WIP site build with D2. You can a

[2019-05-06 07:20] 0xc0d3r commented on #1213
@yangshun @mikeattara Any update on this?

[2019-05-06 15:28] NishealJ commented on #1433
Hi @yangshun , can we go ahead ? :D

[2019-05-06 15:34] NishealJ commented on #1080
Hi @arijitthehacker , can you please raise a PR for express-validator ?

[2019-05-06 18:48] yangshun opened #1437 "🌟 Help us feature more Docusaurus v1 users! (Part 2)"
**Tip: This is a beginner level Docusaurus task that requires almost no coding and is more targeted at newcomers to the project and Open Source.**

## 📚 Documentation

We want to feature more Docusaurus users and we need your help!

*This is a follow up of https://github.com/facebook/Docusaurus/issues/1080 where we had around 20 new projects featured.*

Docusaurus has a [users page](https://docusa

[2019-05-06 18:49] yangshun commented on #1080
Closing this task and creating a [part 2 issue](https://github.com/facebook/Docusaurus/issues/1080) to prevent noise to existing subscribers. Thank you for all your efforts thus far!

[2019-05-06 18:49] #1080 closed

[2019-05-06 19:04] shakcho commented on #1254
@yangshun please check the previous comment and let me know so that I can create the Pull Request.

[2019-05-07 09:07] yangshun opened #1438 "[RFC] Plugins/Themes/Presets API"
We've implemented a basic version of plugins, themes and presets and would like to get the opinion from the community regarding the API and some design decisions before proceeding further.

Feel free to check out the packages within https://github.com/facebook/Docusaurus/tree/master/packages to get a sense of what has been done.

## Glossary

### Plugins

A plugin is a package that exports a class

[2019-05-07 18:27] ericnakagawa commented on #789
This would affect how sitemaps are generated, also relates to 301 redirects.

Would the first item in the list be the canonical example that the others are redirected to or should we be generate multiple redundant files?

[2019-05-08 20:30] microbouji commented on #1438
I haven't had a chance to look too much into the implementation but here are my thoughts from an API user standpoint:

1. I also like the first approach with separate plugins and themes. Would the overriding of specific themes work same as for the "main" theme? So if you have:

[code]

and

[code]

the "active" files would be `BlogPage.js` from `theme-blog` (because no one is overriding it), `Blog

[2019-05-08 22:15] afrankel-sfdo commented on #789
didn't see this on the list: per language assets. useful when images contain information that needs to be translated.

[2019-05-08 22:42] endiliey commented on #1438
@microbouji

Yes. The theme plugins are prioritized based on order. So if there is theme-1 and theme-2, theme-2 will
override any components of theme-1 that overlap. But the special *theme* folder in user’s website always win.

Currently we also innovate a *swizzle* command with syntax *swizzle <themeName> [componentName]* that help you copy the relevant files to your special “theme” folder in web

[2019-05-10 09:26] BrendanThompson opened #1446 "Cant use subdirectories for sidebar subcategory"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Add a `subcategory` to the sidebar for a subdirectory

[code]

## Expected behavior

There would be a subcategory present with th

[2019-05-10 09:53] endiliey commented on #1446
What version of Docusaurus are you using ?
Have u tried restarting your server ?
Do you include "products/cool-app/architecture" in any other sidebar ?

Please create a reproducible demo. A repo that we can clone and run locally.

I could not reproduce it. It works fine in our Docusaurus v1

![image](https://user-images.githubusercontent.com/17883920/57518798-7a6a3400-734c-11e9-8ef7-e5fb45b1ede7.p

[2019-05-11 01:22] amimas commented on #1446
I am currenrly using v1 with subdirectories in subcatergory.

Make sure you have your doc file in "docs/products/cool-app/" and the `id` of the front matter is set to "architecture".

[2019-05-11 01:27] amimas commented on #1386
I ran into this issue recently when migrating some docs. Found out that some images of icons were showing up inline while most of the others weren't.

Only difference I could find was the image size. The ones that were showing up inline were very small image of some icons around 22px.

[2019-05-11 01:39] amimas opened #1448 "Highlight table of content item based on sections being viewed"
## 💥 Proposal

It's very useful if the table of content item is highlighted based on the section user is currently viewing or scrolling up/down a long page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2019-05-11 07:59] endiliey commented on #1446
I am going to close this out. @amimas has helped to confirm that this is not a bug too.

Chat us on discord for faster help -> https://discordapp.com/invite/docusaurus

[2019-05-11 07:59] #1446 closed

[2019-05-11 22:24] saranshkataria commented on #1213
I can pick it up if nobody else is working on it

[2019-05-13 00:19] BrendanThompson commented on #1446
It looks as though its because I reference the same page in another `SideBar`. Thats a bit of a pain!

[2019-05-13 08:05] amimas commented on #1446
Interesting. Maybe this can be a new feature request (using same page in multiple sidebars)

[2019-05-13 13:13] Hongarc commented on #1437
`react-native-testing-library` and `taro`
And you have 2 lines `graphql-code-generator.com`

[2019-05-13 16:10] pshrmn opened #1455 "Heading doesn't check if content contains anchor when generating anchor link"
## 🐛 Bug Report

When a heading contains an anchor tag (for specifying a custom hash), the anchor link generated by Docusaurus (in [this module](https://github.com/facebook/Docusaurus/blob/1edbeecbe565cbbbc0a6e6532c7c2d0c58d78807/packages/docusaurus-1.x/lib/core/anchors.js)) doesn't inherit the hash from the anchor tag. Instead, the generated hash includes the anchor tag's content (attributes incl

[2019-05-13 18:00] endiliey commented on #1448
Lets move this to https://docusaurus-2.netlify.com/feedback/ to get more feedback !

Its also low priority for us as we are working on the next major version.

[2019-05-13 18:00] #1448 closed

[2019-05-14 02:43] BrendanThompson commented on #827
Would like to be able to reference `Pages` in the SideBar too. Feel like this might be a good place for this.

[2019-05-14 06:54] endiliey commented on #251
I have tried upgrading to Algolia Docsearch v2 but I think it should be done in the next major version. It's not a good idea to do it on current version because it will break user's css (if they write their own custom.css for search). The css is also incompatible.

P.S: We do use docsearch v2 on next major version

[2019-05-14 06:54] #251 closed

[2019-05-14 06:55] endiliey commented on #254
@ahmadalfy still working on it ? 😉

[2019-05-14 06:56] #263 closed

[2019-05-14 08:35] #838 closed

[2019-05-14 08:37] endiliey commented on #568
Closing due to stale. Let's free this up. We are getting closer to next major version anyway :)

[2019-05-14 08:37] #568 closed

[2019-05-14 08:38] endiliey commented on #823
Closing due to stale. Please use the suggested workaround on 1.x. It will come by default on next major version. See https://docusaurus-2.netlify.com for WIP

[2019-05-14 08:38] #823 closed

[2019-05-14 08:40] #267 closed

[2019-05-14 08:44] endiliey commented on #359
This issue is closed due to
1. Stale activity
2. It won't be addressed in current version but has been addressed in the next major version

[2019-05-14 08:44] #359 closed

[2019-05-14 08:46] endiliey commented on #395
This issue is closed due to stale activity.

If you think there is a need for it, please open up a new issue with new template.

[2019-05-14 08:46] #395 closed

[2019-05-14 08:50] endiliey commented on #427
This issue is closed due to stale activity. Reference style linking has been supported as well.

If you think I might've closed it accidentally, please open up a new issue with new template.

[2019-05-14 08:50] #427 closed

[2019-05-14 09:04] endiliey commented on #403
https://github.com/facebook/Docusaurus/pull/1054

[2019-05-14 09:04] #403 closed

[2019-05-14 09:06] endiliey commented on #500
Closing due to stale activity. For anyone who wanted this. see

https://docusaurus.io/docs/en/doc-markdown#adding-copy-code-buttons

[2019-05-14 09:06] #500 closed

[2019-05-14 09:09] endiliey commented on #638
Just giving some thought. On the next major version, we have a plugin system that basically let you pull any data sources.

See https://github.com/facebook/Docusaurus/issues/1438 for an overview of plugins/themes/presets API.

[2019-05-14 09:12] #557 closed

[2019-05-14 09:14] endiliey commented on #898
Closing due to stale. Seems to be dependencies limitation as well. Feel free to submit a new issue with new template if you think this is really needed

[2019-05-14 09:14] #898 closed

[2019-05-14 09:18] #1178 closed

[2019-05-14 09:20] endiliey commented on #1172
Still working on it @tanaypratap ? By the way let's move to https://github.com/facebook/Docusaurus/issues/1196

It seems to be related. Generic (no branded) default project

[2019-05-14 09:20] #1172 closed

[2019-05-14 09:21] endiliey commented on #1170
I think it's gonna make the logic on siteconfig bloated. We are also going away from config based thing on next major version. Marking this as `wontfix`. Closing this up

[2019-05-14 09:21] #1170 closed

[2019-05-14 09:23] #1168 closed

[2019-05-14 15:55] amimas opened #1457 "Table of content does not render special characters and anything in between them"
## 🐛 Bug Report

I have some headers that has special characters ('<', '>'). Although the headers are rendered fine, the table of content does not render anything in between those characters.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Create

[2019-05-14 16:55] #1457 closed

[2019-05-14 17:14] endiliey commented on #1455
[code]

To be honest, doing above is quite a weird behavior for me.

If you want prettier hash, maybe do something like
[code]

wdyt ?

[2019-05-14 17:42] pshrmn commented on #1455
I agree that it is odd; I guess that the reason for it is to preserve hashes from a previous documentation builder. Moving the empty tag with the old hash to the line below should be good enough for preserving the old hash, so I think that Redux can handle this without any changes to Docusaurus.

As for a general solution, I think that the logic for having a heading search for an `id` to use is pr

[2019-05-14 17:42] #1455 closed

[2019-05-16 16:28] amimas commented on #1457
@endiliey - Thanks a lot for looking into this so quickly. Is there any chance that this bug fix can be released as version `1.9.1`? Not sure if there are any other bug fixes that can also be released at the same time. I could really use this particular fix right now.

[2019-05-16 16:29] yangshun commented on #1437
@Hongarc would you like to take over Express Validator? It has been approved.

[2019-05-16 16:58] endiliey commented on #1457
@amimas you can use 2.0.0-alpha.16 if you want temporarily. Available on `next` tag of `docusaurus` npm package.

Docusaurus 2 is published under separate package, `@docusaurus/core` so there won't be any breaking changes on that npm package.

[2019-05-16 21:30] TurekBot opened #1469 "SSH in Beginner's Tutorial"
## 📚 Documentation

I'm not sure what the exact problem is, but when I tried to follow the tutorial it didn't work—maybe someone wiser can tell us why.

I followed the [beginner's tutorial](https://docusaurus.io/docs/en/next/tutorial-setup) up to the point where I created a new repository, however,
when I tried to clone that repository using the provided instructions (step 5), it failed.

[code]

[2019-05-16 22:14] yangshun commented on #1469
This doesn't seem specific to Docusaurus. Have you set up your SSH key on your device?

You can follow the instructions here - https://help.github.com/en/articles/connecting-to-github-with-ssh

You could submit a PR to add additional instructions regarding SSH if you like 😄

[2019-05-17 06:48] endiliey commented on #1427
I think the skipNextRelease PR broke this.
#1292

Basically all of our command went missing.

![image](https://user-images.githubusercontent.com/17883920/57908522-beac8580-78b2-11e9-9851-cfc67268f3ef.png)

[2019-05-17 07:27] #1427 closed

[2019-05-17 10:30] #1469 closed

[2019-05-17 10:34] endiliey commented on #843
It's not really a hack. It's a solution. We are going to probably ending up with similar solution if we were to implement it upstream.

Closing this up because we're getting closer to v2 anyway and don't want to bloat siteConfig up

[2019-05-17 10:34] #843 closed

[2019-05-17 10:39] endiliey commented on #424
Current pattern suggested above works really well in current version. In next version we are using react-helmet under the hood and will be providing `Head` / `Helmet` component and basically you can do it on every pages that you'll need.

Closing this up due to stale activity as well

[2019-05-17 10:39] #424 closed

[2019-05-17 10:44] endiliey commented on #820
#1152

[2019-05-17 10:44] #820 closed

[2019-05-17 11:53] endiliey commented on #792
Wontfix in v1. Next major version should be faster (i think)

100 docs generated with my own script -> https://gist.github.com/endiliey/8970281b25b125747c27d8d2be9260f1

Here is how the markdown looks like
![random markdown](https://user-images.githubusercontent.com/17883920/57926265-6ccd2500-78dd-11e9-928c-bdbf6cdc8de4.gif)

Result:

![image](https://user-images.githubusercontent.com/17883920/579

[2019-05-17 11:53] #792 closed

[2019-05-17 12:07] endiliey commented on #987
I'm going to mark this as duplicate of #776

We allow switching the SearchBar component easily in next major version. All that's left that needs to be done is creating a Search component in React that utilizes elasticsearch

[2019-05-17 12:07] #987 closed

[2019-05-17 12:09] endiliey commented on #1167
Closing due to stale activity. It's not really a high priority issue as well. Bugs are more prioritized in the issue tracker.

If anyone wanted to send PR for the documentation, welcome :)

[2019-05-17 12:09] #1167 closed

[2019-05-17 12:12] endiliey commented on #1173
In v1 we don't really use prismjs themes. It's a default prismjs css with hljs theme.

Understand that it's kinda weird, but had to do it because we want to support both syntax highlighting at v1 back then. The theme files might clash

[2019-05-17 12:12] #1173 closed

[2019-05-17 12:15] endiliey commented on #1159
Not possible ATM. Please use the right issue template to file new feature

[2019-05-17 12:15] #1159 closed

[2019-05-17 12:16] #1171 closed

[2019-05-17 12:18] endiliey commented on #897
Marking this as wontfix in v1. The recommended way is to use absolute URL.

This should be out of the box in v2 (I think)

[2019-05-17 12:18] #897 closed

[2019-05-17 12:24] endiliey commented on #1433
@NishealJ feel free to send the PR !

[2019-05-17 12:43] endiliey commented on #1386
This is because of docusaurus's default css on image

https://github.com/facebook/Docusaurus/blob/05ba7d835dc316b8f981e137e3935a51128ad2e4/packages/docusaurus-1.x/lib/static/css/main.css#L399-L405

If we change it to `display: inline`, this might be unwanted behavior for some site. Some site might indeed want it to be displayed in different block
To solve your solution, add this in your `custom.cs

[2019-05-17 12:43] #1386 closed

[2019-05-17 12:45] endiliey commented on #1352
Wontfix in v1

[2019-05-17 12:45] #1352 closed

[2019-05-17 12:48] endiliey commented on #1344
@alzaar, Still working on it ?

I'll free it up now for anyone else who wanted to work on it. Let me know if you are still working on it

[2019-05-17 12:51] endiliey commented on #1277
Wontfix in v1. Done via CLI in v2

[2019-05-17 12:51] #1277 closed

[2019-05-17 12:52] #1232 closed

[2019-05-17 12:53] endiliey commented on #1213
Anyone can work on this. Feel free to send PR 😉

[2019-05-17 13:11] #1209 closed

[2019-05-17 13:17] nickbui729 commented on #1437
Are there anymore projects that are up for grabs? First time contributor hear and would like to try one if any are up!

[2019-05-17 13:26] endiliey commented on #1437
I think the best way going forward for this issue is like this:

1. Find a popular project that use Docusaurus. We prefer **highly known** project or a docusaurus site with **lot of customization** (not just using default template)

You can try to find it in here: https://github.com/facebook/Docusaurus/network/dependents
There are 2,300+ public repositories on GitHub that installs docusaurus.
![im

[2019-05-17 19:30] shakcho commented on #1155
@endiliey The issue has nothing do with Scroll, The Issue is actually

[code]
element has no child element in it, and also
[code]
is present in the DOM, and beacause of that when someone Clicks on it(**#tocToggler**) toggles **toActive** class and it applies bellow CSS

[code]
which renders the White layout on top of the main container, hence the issue is happening when there is not child element

[2019-05-18 04:18] endiliey commented on #1155
I think the problem is that there is a content at the bottom of the viewport
![A5FDC85F-7B9E-4E5D-B027-5D04751AD297](https://user-images.githubusercontent.com/17883920/57964363-98442400-795e-11e9-82bd-7ff8515fadad.png)

[2019-05-18 04:57] shakcho commented on #1155
The visible content is actually part of the main container and not of onPageNav, but it showing because of onPageNav has a 40px Margin in the bottom.
<img width="1678" alt="Screenshot 2019-05-18 at 10 22 13 AM" src="https://user-images.githubusercontent.com/9992559/57964700-4ba91a80-7957-11e9-89ac-f26dc2a899ec.png">

Need to add the margin-bottom: 0 in case of mobile view
<img width="1672" alt="Sc

[2019-05-18 05:01] endiliey commented on #1155
Yes. Do you want to send a PR ? 🔥🔥🔥

I think that’s what this issue is about.
And it will be nice to not display the TOC on mobile if there is no child content. Clicking something and only seeing a white layout isnt a good idea

[2019-05-18 05:40] shakcho commented on #1155
Yes, I will send a PR ASAP for both.

[2019-05-18 05:57] #1254 closed

[2019-05-18 06:29] #1344 closed

[2019-05-18 07:39] endiliey commented on #1155
#1489

[2019-05-18 07:39] #1155 closed

[2019-05-18 15:42] anru commented on #586
My use case: I want to have documentation in russian in docs, and use russian as a source language for another languages.

So write-translations should peek-up preconfigured language instead of having hard-coded "en" string.

[2019-05-19 09:13] #1338 closed

[2019-05-20 16:31] #919 closed

[2019-05-20 19:21] lashomb commented on #776
Same use case as @haslam22 for me.

[2019-05-21 03:14] jamsch commented on #1235
It's the `transition` property on `input#search_input_react` that's causing that jump on Ubuntu Chrome.

[2019-05-21 07:08] xypnox commented on #1330
I am facing something similar to this problem:
[code]

My node version is : 12.2.0 and npm version is 6.9.0.

[2019-05-21 07:19] endiliey commented on #1330
@xypnox do u mind sending a screencast ? We might be able to spot something.

I couldnt reproduce it so I think your screencast will be very helpful for us to investigate this

[2019-05-21 07:47] xypnox commented on #1330
Hi, Here is a gif with my the process of installing using `docusaurus-init` :
![Peek 2019-05-21 13-15](https://user-images.githubusercontent.com/25076171/58077642-9aaab600-7bca-11e9-8ae8-05959b073da1.gif)

[2019-05-21 08:08] xypnox commented on #1330
In addition to the above, I tried using the sample files I found at https://github.com/caiorasc/docusaurus-sample. I installed using yarn and this site worked correctly. The problem I perceive might be in `docusaurus-init`

[2019-05-21 08:17] endiliey commented on #1330
@xypnox

Do you mind to let me see the content of `package.json` ??

Doest `docusaurus` exist in the package.json as dependency ?

If it exist, you can run `npm run examples` on the website folder.
If it doesn't, that means this part is failing
https://github.com/facebook/Docusaurus/blob/a45f8cab680b90846c377285847b875250927e87/packages/docusaurus-init-1.x/initialize.js#L47-L51

The problem is som

[2019-05-21 09:23] xypnox commented on #1330
Hi, These are the contents of `package.json`:
[code]

[2019-05-21 09:26] endiliey commented on #1330
@xypnox docusaurus is not saved as a dev dependency ?

I suspect a bug on shelljs. The version of shelljs on docusaurus-init was released 2 years ago. #1497 should be able to fix it. We'll release 1.10.0 soon to fix it.

As for you, the work around is to run this command on website

[code]

And then

[code]

[2019-05-21 10:21] aeneasr commented on #1427
Can this please be released? For me, all SVGs are broken due to minification and I'm not able to disable it.

[2019-05-21 10:28] endiliey commented on #1427
1.1.0

[2019-05-21 10:31] aeneasr commented on #1427
Oh yeah and here are the two SVGs in case someone want's to see what's going on:

- [source](https://gist.github.com/aeneasr/74e7ebda3799088dc19a33e8c19bdb5f)
- [minified](https://gist.github.com/aeneasr/1439a219490c7f9c92e441428bc3f57f)

edit:// thank you @endiliey

[2019-05-21 10:36] endiliey commented on #1427
Let me know if it doesn't work for you. I sent that fix. Need to know if it's working

[2019-05-21 10:43] aeneasr commented on #1427
Yup, works fine!

[2019-05-21 11:11] xypnox commented on #1330
Thanks :+1: , The above commands work and generate the site as expected.

[2019-05-21 11:31] michaelw85 opened #1499 "Cannot add a custom page to the sidebar"
## 🐛 Bug Report

Cannot register a custom page in the sidebar and cannot display the sidebar on a custom page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Create a custom page using react in doc/pages/en e.g. `custom-page.js`
2. Add newly created page to sidebars.json

[2019-05-21 11:34] endiliey commented on #1330
I released a new version of docusaurus init. Can you try that out if u dont mind ?

[2019-05-21 12:26] xypnox commented on #1330
Hi I ran the newer version specifically using the command: `npx docusaurus-init@1.10.0` Yet it still gives the same results i.e. single package.json file in website directory with same content.

[2019-05-22 12:27] tusharf5 commented on #1213
Just submitted a PR for this @ [#1507](https://github.com/facebook/Docusaurus/pull/1507)

[2019-05-22 14:09] Triskae opened #1508 "Livereload not working on 1.10.0 build"
## 🐛 Bug Report

When I run wpm start (or even yarn start) the live reload server start but when I try to modify something inside the website folder, the page reloads but nothing is update. It seems like chnages on the files triggered the live reload but nothing is rebuilt.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md

[2019-05-22 15:17] endiliey commented on #1508
That's due to #267 bug of siteconfig not being able to reload.

[2019-05-22 15:27] Triskae commented on #1508
Ok thanks, I saw that you fix this bug right ?

[2019-05-22 15:28] endiliey commented on #1508
yeah #1509

[2019-05-22 15:39] #1508 closed

[2019-05-24 03:11] joybhallaa commented on #1437
Hey @yangshun , can I take the Just (https://microsoft.github.io/just/) library?

[2019-05-24 03:19] yangshun commented on #1437
@joybhallaa Yes go ahead

[2019-05-24 17:18] joybhallaa commented on #1437
Okay, thank you!

[2019-05-24 19:10] amimas commented on #1499
I don't think this is available in V1. To my knowledge, the sidebar is specifically used for docs. Custom js pages are not meant to be used for serving docs. That would kinda defeat the purpose of docusaurus.

If you are looking to add react components into your markdown docs, I believe that feature is expected to be available in V2.

[2019-05-24 20:53] kaicataldo opened #1515 "docusaurus-init does not copy examples correctly when using npm"
## 🐛 Bug Report

Hi! First off, thanks to the maintainers for this tool. I am in the process of trying to migrate an existing Jekyll site to Docusaurus and was following the [Installation instructions](https://docusaurus.io/docs/en/installation) in the Getting Started section of the site.

When Yarn is installed, it all works as described by the instructions. However, if Yarn isn't present (and I

[2019-05-24 20:59] kaicataldo commented on #1515
Related (closed) issue: https://github.com/facebook/Docusaurus/issues/1330#issuecomment-494267617

[2019-05-24 22:18] yangshun commented on #1515
What OS are you on? Are you able to reproduce this issue on a different OS?

On Fri, May 24, 2019, 1:59 PM Kai Cataldo <notifications@github.com> wrote:

[2019-05-25 07:18] michaelw85 commented on #1499
I don't understand why a custom page is not meant for serving docs. Docusaurus sole purpose is to write documentation which can be done in 3 ways, using markdown, static html and react which all become a html document that will be served. Since all methods result in html I don't see the difference and do not understand why one method should be considered different by design.

To give you a better

[2019-05-25 09:01] amimas commented on #1499
In my opinion the docusaurus is meant for writing documentation that is is easy to maintain and it does that using markdown files only. With some knowledge of markdown, even non-programmers can keep producing documents and maintain it if they Docusaurus setup for them.

I'm not saying your use case is invalid. I'm simply trying to justify that the docs are supposed to revolve around markdown files

[2019-05-25 09:34] michaelw85 commented on #1499
I agree the preferred way is to use Markdown. It's just a bit of an edge case I guess although any style guide would have a page similar to mine. Another use case would be the typical list of color swatches.

Can I conclude that if I would offer this as a PR it would be rejected? If so I will focus on a work around in my own setup for now and will see what happens in V2.

[2019-05-25 10:58] Hongarc commented on #1437
List recommend(I don't claim it):
- [reduxjs/redux-devtools](https://github.com/facebook/reduxjs/redux-devtools)
- [botpress/botpress](https://github.com/botpress/botpress)
- [OpenZeppelin/openzeppelin-solidity](https://github.com/OpenZeppelin/openzeppelin-solidity)
- [webdriverio/webdriverio](https://github.com/webdriverio/webdriverio)
- [umijs/umi](https://github.com/umijs/umi)
- [wix/Detox](htt

[2019-05-25 14:12] amimas commented on #1499
@endiliey @yangshun ☝️

[2019-05-25 16:09] endiliey commented on #1499
Hmm.. interesting discussion. Tbh what @amimas said is right, Custom js pages are not meant to be used for serving docs.

It is also safe to assume that it will be better not to send a PR for it as it will most likely won't be a small change and it will most likely be rejected. The hardest part is revolving around versioning and translation. We don't version `pages` in v1.

Anyway. we are close to

[2019-05-25 16:09] #1499 closed

[2019-05-25 16:32] michaelw85 commented on #1499
@amimas @endiliey Thanks for the feedback and healthy discussion, much appreciated!

[2019-05-25 21:36] kaicataldo commented on #1515
Sorry, I should have mentioned that in the original post. This is on macOS 10.14.5. I also confirmed the same behavior on Ubuntu 19.04.

Upon further testing, it looks like this is actually because I have `ignore-scripts=true` in my `.npmrc`. I'll go ahead and close this issue (and sorry for not catching that sooner!).

However it would be nice to not have to rely on running npm scripts under the

[2019-05-25 21:36] #1515 closed

[2019-05-26 10:29] tusharf5 commented on #1283
@endiliey  I would like to take this up. Please assign it to me if no one is already working on it. I've already made a rough implementation and it is working.

Few things I want to ask regarding this

- I am thinking of putting an info/alert box above the title of a doc page if it's not recent. Let me know if you think putting it somewhere else would make more sense.
- Do we create a new componen

[2019-05-26 11:03] endiliey commented on #1283
@tusharf5 let's talk about the API first.

How do user set if certain version is outdated ? Can they decide if certain link is outdated ?

The announcement bar feature can be somewhat general feature too,, not just for outdated docs.
Sometimes you want to announce something in your website. For example: “We are looking to revamp our docs, please fill this [survey](#)”. Even better if the announcem

[2019-05-26 12:25] tusharf5 commented on #1283
At first, I was just thinking of showing an announcement bar if the current version is not the latest. But if we want the user to set if a certain version is outdated or beta or something else. I think `versions.json` could be a good place. Something like

[code]

Yes (something like a global modal component), and depending upon the announcement type (info, alert, notice) we could change the appea

[2019-05-26 19:23] yangshun commented on #1283
I don't really like the idea of bloating `versions.json` with more fields. Mixing types in an array is usually not a good idea also (we'll take in strings and objects)

I don't think we should pursue this currently for the following reasons:

- Versioning in v2 is not yet ready, much less done
  - If we're going for a snapshotting approach in v2, past versions are immutable and it'll be hard to in

[2019-05-26 19:55] yangshun commented on #1437
@Hongarc Thanks for the list! I noticed there are some in the list that do not really qualify because:

- They have Docusaurus in the repo but the site is not live (e.g. redux-devtools)
- Not using Docusaurus at all (e.g. facebookresearch/Horizon)

I'll make those criteria clearer in the issue. Can you help filter them out?

[2019-05-27 07:48] #1213 closed

[2019-05-27 21:16] tusharf5 commented on #1182
As of right now, there is no way to link main categories to (blog, page, href ) in `sidebars.json` in both v1 and v2.

[code]

I also don't think there is a good place in `sidebars.json` where we can add this information without majorly changing its structure. **( might be wrong here )** So maybe we can put a **new** `sidebarLinks` field to `siteConfig.js` which will contain a map of **[Category_N

[2019-05-28 16:42] rosatamarindus opened #1523 "Show the moon-sun symbols on dark mode toggle"
## 💥 Proposal

Docusaurus v2 has a new feature to switch dark and light mode. However, currently, the dark mode toggle uses the correct-wrong symbols instead of the moon-sun symbols. It's not good user experience. Therefore, it should change the symbols in order to be a more intuitive design.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/mas

[2019-05-28 21:02] tusharf5 commented on #969
We could use something like [markdown-pdf](https://github.com/alanshaw/markdown-pdf) to create pdf documents for markdown files during the build process and serve them. The URL for each pdf would be the same as the document one but with an extension "**.pdf**". For translated documents too.

We could also make this feature as optional and turned off as a default based on some siteConfig key. I can

[2019-05-29 02:46] endiliey commented on #1523
open for contribution ? anyone can send a PR

[2019-05-29 09:47] endiliey opened #1527 "docusaurus opencollective reminder"
## 🚀 Feature

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Docusaurus has an opencollective at https://opencollective.com/docusaurus

It will be nice to remind people that we have such opencollective so that they can show some ❤️ to Docusaurus

With these fund, we can fund con

[2019-05-29 17:55] wgao19 commented on #1523
Hey @rosatamarindus I have a PR to change the toggle, let me know if you like it?

And thanks for the proposal! Because we're all happier with emojis 🌞🌛

[2019-05-29 20:52] jaredpalmer opened #1530 "Sidebar on v2 website needs a background color"
## 🐛 Bug Report

See screenshot. Using chrome latest.

<img width="1179" alt="Screenshot 2019-05-29 16 51 26" src="https://user-images.githubusercontent.com/4060187/58590424-0aa3e680-8232-11e9-9a00-0f0c906368a4.png">

[2019-05-29 21:01] yangshun commented on #1530
Thanks for the report Jared! While adding a background color works, it'll be more work to have it play nicely with dark mode and potentially a non-default background as well. Probably the better fix will be to tweak the CSS a `.sidebar` and remove the hardcoded `width: 20rem`. Will fix this!

[2019-05-29 21:14] jaredpalmer commented on #1530
Nice! My other suggestion would be to hide / move the secondary nav in the situation in the above screenshot

[2019-05-31 05:08] #1024 closed

[2019-05-31 05:09] endiliey commented on #1218
We will stick with current convention :)

[2019-05-31 05:09] #1218 closed

[2019-06-01 07:43] #1523 closed

[2019-06-02 17:03] YoshinoriN opened #1544 "docs: handling-pull-requests link in CONTRIBUTING.md does not exist."
## 📚 Documentation

The [what to expect from maintainers](https://github.com/facebook/Docusaurus/blame/7ca66cb79e96d0dbe27b1d6da1dc15c322c5bb8a/CONTRIBUTING.md#L159) link in [CONTRIBUTING.md](https://github.com/facebook/Docusaurus/blob/7ca66cb79e96d0dbe27b1d6da1dc15c322c5bb8a/CONTRIBUTING.md#what-happens-next) does not exist.

### Have you read the [Contributing Guidelines on issues]

Yes.

[2019-06-02 17:29] yangshun commented on #1544
Thanks for the issue. PR welcome!

[2019-06-02 18:12] yangshun commented on #1544
Fixed in https://github.com/facebook/Docusaurus/commit/9feb7b2c6422bfc2018e372d9debc2f3f1fdd54e

[2019-06-02 18:12] #1544 closed

[2019-06-02 19:43] jaredpalmer opened #1546 "use composition style for prism-highlighting"
If we do prism highlighting at render-time in React and not in the mdx loader, it would allow people to get access to code blocks as strings instead of html. This would make it easy for folks to add live code editors like [react-live](https://github.com/FormidableLabs/react-live).

We could keep the default prism setup too if we follow this guide in the MDX docs: https://mdxjs.com/guides/live-code

[2019-06-03 02:49] endiliey commented on #1546
https://mdxjs.com/guides/live-code/

@jaredpalmer

Thanks for trying out v2 and letting us know about this. Its quite a coincidence that I was just reading https://mdxjs.com/guides/live-code/ recently and was thinking about this too.

I will look into this.

On another note, are you hosting your code somewhere ? We will most likely have breaking changes in subsequent alpha. we can help you update

[2019-06-03 10:11] jwandrews99 commented on #1527
I would be interested in doing this.  I'll see how i get on

[2019-06-03 10:12] endiliey commented on #1527
PR welcome 😉

[2019-06-03 10:28] endiliey opened #1549 "autogenerate table of contents for Docusaurus 2"
## 🚀 Feature

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

In v1, we have `<AUTOGENERATED_TABLE_OF_CONTENTS>.` syntax that generates table of content for us

https://docusaurus.io/docs/en/doc-markdown#generating-table-of-contents

However, we haven't implemented it back in v2

[2019-06-03 11:02] endiliey commented on #1285
PR welcome.

Where to start ?
https://github.com/facebook/Docusaurus/blob/master/packages/docusaurus-plugin-content-docs/src/sidebars.js

[2019-06-03 18:16] jwandrews99 commented on #1527
Pull request added

[2019-06-04 08:59] #1546 closed

[2019-06-05 11:04] jaredpalmer commented on #1546
@endiliey my branch for formik 2 docs is here https://github.com/jaredpalmer/formik/tree/feat/docsite

[2019-06-05 11:13] jaredpalmer opened #1563 "v2 secondary mobile nav?"
Is this implemented yet? Can I implement this on my own? I want something like v1 for mobile. I would settle for a select input tbh.

[2019-06-05 11:46] jaredpalmer opened #1564 "Feedback: Swizzle/decentralized css variables"
This might be an informa issue, but anyways...

The workflow for changing colors is quite difficult right now. Or at least, undocumented. Right now, you have to figure out the css variable name via devtools, and then the name of the component that is responsible for the css variable, open `@docusaurus` in node_modules, figure out where that component came from, then swizzle it.....it's a lot of wo

[2019-06-05 12:55] endiliey commented on #1564
Sorry for this. We'll make it easier for user in the next version.

We just added a way to override css variables easily.

1. Create custom.css
https://github.com/facebook/Docusaurus/blob/ec69460b4fa56814aeedbf9f9f09c0d89b2f36db/website/css/custom.css#L1-L16

2.  Point the custom css location to preset-classic
https://github.com/facebook/Docusaurus/blob/ec69460b4fa56814aeedbf9f9f09c0d89b2f36db/web

[2019-06-05 12:56] endiliey commented on #1564
@jaredpalmer  Sorry for this. We'll make it easier for user in the next version.

We just added a way to override css variables easily.

1. Create custom.css
https://github.com/facebook/Docusaurus/blob/ec69460b4fa56814aeedbf9f9f09c0d89b2f36db/website/css/custom.css#L1-L16

2.  Point the custom css location to preset-classic
https://github.com/facebook/Docusaurus/blob/ec69460b4fa56814aeedbf9f9f09c0

[2019-06-05 12:59] endiliey commented on #1563
@jaredpalmer coming soon #1562

![image](https://user-images.githubusercontent.com/17883920/58958053-968ab500-87d4-11e9-95f3-6707936f231a.png)

See it here https://deploy-preview-1562--docusaurus-2.netlify.com/docs/introduction/

If you want to customize, swizzle is an option later on

[2019-06-05 13:08] endiliey commented on #1546
@jaredpalmer

Thanks, I'll try my best to spend time to help you update for subsequent version. Actually we don't want people to swizzle too much at this point because we're in alpha and few things are still experimental.
Didn't really expect someone to start swizzling already :)

[2019-06-05 14:16] wgao19 commented on #1564
I’m thinking of a temporary solution to be writing a file that declares some of the more important css variables under Docusaurus’s theme layout. The file may as well serve as a future reference for what variables are more frequently customized than others.

A final approach regarding the build step of the library styles to Docusaurus is still to be discussed @yangshun

Best Regards,
ᴡᴇɪ
Sent from

[2019-06-05 18:27] #1563 closed

[2019-06-06 01:51] yangshun commented on #1530
Fixed in #1535 and #1562

[2019-06-06 01:51] #1530 closed

[2019-06-06 01:53] yangshun commented on #1549
Would recommend checking out MDX and see if they have first-class support for this - The [docs](https://mdxjs.com/guides/table-of-contents) is currently WIP but this might mean they've already built it out.

[2019-06-06 02:57] endiliey commented on #1549
but we still need custom plugin because our autogenerated_table_of_contents syntax is unique.

[2019-06-06 03:05] yangshun commented on #1549
We'll change our syntax then. It's not too big of a deal to search and replace. This is a major update after all.

[2019-06-06 06:45] SleepWalker opened #1569 "ToC Highlight does not support non-latin headings"
## 🐛 Bug Report

New scrollSpy script fails to highlight any link in ToC if it does contain non-latin characters

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Just add something like this in any md file:

[code]

## Expected behavior

There should be no errors in console an

[2019-06-06 07:36] endiliey commented on #1549
Checked their source code. They don't have it. They are just manually typing Table of Contents.

They recommend usinjg `remark-toc` which has a different behavior with our TOC

**Remark-toc**
[code]

become
[code]

**Docusaurus**

[code]

become

[code]

I personally feel ours is more flexible because we can just write any headings we like, unlike remark-toc that has fixed "Table of contents" name

[2019-06-06 09:10] wgao19 commented on #1549
This is probably more suited for a future discussion, but would like to throw in an opinion that maybe we would like to consider the following two types of table of contents.

Hoping @endiliey to consider these use cases when designing the API :)))) So that we can implement those variations as themes in the future.

1. A book-style ToC on top of the main page like [RequireJS](https://requirejs.org

[2019-06-06 09:50] #1569 closed

[2019-06-06 10:11] endiliey commented on #1549
Sorry for the confusion. We actually have two types of toc. One is the right side
It generates table of content for the current  document

![image](https://user-images.githubusercontent.com/17883920/59025080-effeec80-8885-11e9-99ef-ce2994d0f753.png)

User can swizzle Docitem and modify it as their wish, you can show the table of contents on the left, bottom or even inside the page.

https://github

[2019-06-06 14:54] Ten0 opened #1574 "Docusaurus does not require *its* dependencies via babel when building (crashes when installed via pnpm)"
## 🐛 Bug Report

Docusaurus seems to require babel plugins in a way that makes babel search for them in the dependencies of the documentation project we created instead of in the dependencies of docusaurus.

This causes a build crash if the dependencies are installed in a way that prevents this kind of weird require pattern from working, for instance if docusaurus was installed via pnpm.
I'm a bit

[2019-06-06 14:54] amimas commented on #1549
The overall TOC of the entire page on the right hand side is great!! I'd really love to see the ability to auto generate a partial TOC for a particular section only as shown by @endiliey in the above comment's last screenshot. I don't believe we can do that right now in V1.

[2019-06-06 14:58] endiliey commented on #1549
@amimas actually that's what `<AUTOGENERATED_TABLE_OF_CONTENTS>` in v1 do

See https://github.com/jaredpalmer/formik/blame/next/docs/api/withFormik.md#L65-L68

![image](https://user-images.githubusercontent.com/17883920/59043311-97901500-88ae-11e9-9331-888199898356.png)

[2019-06-06 17:06] endiliey commented on #1564
2.0.0.alpha-19 released

rough changelog .18 -> .19 is here
https://github.com/facebook/Docusaurus/blob/master/packages/docusaurus/CHANGELOG.md#200-alpha19

[2019-06-06 17:06] #1564 closed

[2019-06-06 19:54] brainkim opened #1581 "Using react children in code elements results in an error"
## 🐛 Bug Report

The following markdown will throw an error in the docs because the \<code\> component seems to expect a string for children.

[code]

Throws this error:
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Create a new docusauru

[2019-06-07 15:27] ayshiff commented on #1285
I would like to work on it 👍

[2019-06-07 15:43] endiliey commented on #1285
awesome @ayshiff

I think first of all we need to discuss the api first

For example, to generate

- My Example Category
  - examples
  - My Example Subcategory
    - my-examples
  - My Next Subcategory
    - some-other-examples
  - even-more-examples

**Currently its like this**. Using object keys
[code]

We want it to support array now. So maybe
[code]

cc @yangshun on how it should looks like w

[2019-06-07 15:54] #1581 closed

[2019-06-07 16:04] amimas commented on #1549
Actually I find the current implementation a bit limited. Here's why and let me know what your thoughts  are. Maybe it can be more flexible in V2.

- Current implementation in V1 requires a specific pattern: an H2 heading that has one or more H3 headings that is wrapped in backticks

    This limits the potential of having partial table of content for a specific section. Requiring backticks in H3

[2019-06-07 16:05] yangshun commented on #1285
Thanks for the thought @frangio, but I have started work on it for the new docs plugin. Would you like to pick other issues instead? Appreciate the thought!

[2019-06-07 16:14] endiliey commented on #1549
@amimas you are right ! I just went to re-read https://github.com/facebook/Docusaurus/blob/1aa0ea1152b0133830d127d11b123fcea261deb4/packages/docusaurus-1.x/lib/core/toc.js#L60-L71 and it seems that it's what really happening under the hood. That feature was implemented way before i joined the team, so i'm not really sure of the intention.
It seems to be intended ...

To keep backward compatibility

[2019-06-07 16:17] endiliey commented on #1549
Or maybe we should really discuss. Whether to deprecate this weird behavior or not. Backward compatibility isn't the highest priority because we're doing major version after all.

Since we allow passing remark plugins in v2, I am not even sure if we should add this too v2.

I am more towards deprecating this `<AUTOGENERATED_TABLE_OF_CONTENTS>` that seems to be weird. It increases parsing time and

[2019-06-07 16:31] yangshun commented on #1549
Since this will be part of a major upgrade, I would opt for doing the right
thing over preserving non-ideal backwards compatibility.

On Fri, Jun 7, 2019, 9:17 AM Endi <notifications@github.com> wrote:

[2019-06-07 16:34] endiliey opened #1587 "copy code button for Docusaurus 2"
## 🚀 Feature

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Support copy codeblock button for Docusaurus 2

## Where to start

Start docusaurus 2 website
1. Clone this repository
2. Read https://github.com/facebook/Docusaurus/tree/master/website and start website
3. Go to any d

[2019-06-07 16:45] endiliey commented on #1549
I think the right thing here is quite subjective for that part.

It isn't clear whether that feature is intended or not. The industry standard is to have table of contens for the whole page, which we already did in the right side.
![image](https://user-images.githubusercontent.com/17883920/59119709-042a1300-8986-11e9-81d7-d01b14d3896d.png)

If they don't want it in the right side, they can swizzle

[2019-06-07 16:59] endiliey commented on #1549
If we were to stick to industry standard, https://github.com/remarkjs/remark-toc is also another solution

It add a Table of Contents to a Markdown document. You can specify depth too (not just h2 or h3 like v1. Adding it to v2 is also as simple as passing remark plugins to v2 docs options.

I'm going to close this issue out as I feel we should do the right thing. If there is a need for `<AUTOGENE

[2019-06-07 16:59] #1549 closed

[2019-06-07 18:55] amimas commented on #1549
I personally think having an auto generated toc for the entire page like what we have in V1 is the right thing to do and it should be part of the core instead of removing it entirely in V2. The location of this overall TOC is subjective but I like the current implementation of having it on the right side out of the box; it gives a clear distinction between the right sidebar and the overall toc for

[2019-06-07 20:28] thiagopov opened #1590 "Customer Chat SDK in siteConfig.js"
## 💥 Proposal

Customer Chat SDK in siteConfig.js

[2019-06-07 20:36] yangshun commented on #1590
Thanks for the issue! Please provide more information and follow the Proposal template given. It'll be hard for us to know what exactly you want when the description is pretty brief.

[2019-06-08 04:52] endiliey commented on #1549
Its not removed, check https://v2.docusaurus.io

The thing is, adding a feature like partial toc in markdown by default will slow down the markdown parsing time. For site like jest which has thousands of pages, it can increase dev time a lot (every seconds saved is valuable)

It should be an opt-in, and anyway it can be added easily by adding few lines of code in your config. I know how to do it w

[2019-06-08 05:09] wgao19 commented on #1549
Will add to docs #1578
2019年6月8日 12:52 +0800、Endi <notifications@github.com>のメール:

[2019-06-08 17:33] jpuebla opened #1593 "Accents and special characters not rendered"
## 🐛 Bug Report

I follow installation steps. I change doc1 md file with some accents but the are not rendered. This is what I see:

L�rem ipsum dolor sit �met, consectetur adipiscing elit. Pellentesque elementum dignissim ultricies. Fusce rhoncus ipsum tempor eros aliquam consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum massa eget nulla aliquet sagittis. Proin

[2019-06-09 18:09] AlokTakshak commented on #1587
Hi @endiliey  I want to give it a try, and if you could guide me how we want to implement it like button or icon for copy that would be really helpful

[2019-06-10 01:27] ericbuss commented on #1437
@Hongarc @yangshun I went ahead and filtered that list out. Some were duplicates, claimed already, or like mentioned, not live. I'll contact these projects about featuring them on Docusaurus as well.

-  [botpress/botpress](https://github.com/botpress/botpress)
-  [webdriverio/webdriverio](https://github.com/webdriverio/webdriverio)
-  [umijs/umi](https://github.com/umijs/umi)
-  [adazzle/react-da

[2019-06-10 07:19] yangshun commented on #1437
Nice work @ericbuss! Many thanks 😍

[2019-06-10 14:07] SmolinPavel commented on #776
Waiting for this feature to be implemented too!

[2019-06-10 18:40] thiagopov commented on #1590
https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin/sdk/ in siteConfig.js

[2019-06-10 22:09] brainkim opened #1597 "Sticky sidebars don’t stick in desktop safari"
## 🐛 Bug Report
![Screen Shot 2019-06-10 at 6 06 44 PM](https://user-images.githubusercontent.com/2996754/59230152-8eeb5780-8baa-11e9-945f-de9c66e4cdfe.png)

The sidebars on the docs pages don’t stick in desktop safari (Safari Version 12.1, MacOS Version 10.14.4 Mojave).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#re

[2019-06-10 22:10] brainkim commented on #1597
May be related to https://github.com/facebook/Docusaurus/issues/1241

[2019-06-10 22:12] brainkim commented on #1285
Have you thought about using directory structure for this? I kept having to change sidebars.json while developing a docs site, and wished the docs generation was based off directory structure. You could specify order by adding a numbered prefix to filenames, and group docs into categories by using subdirectories. Using directory structure would also make it easy to read through the docs via termin

[2019-06-10 22:15] brainkim opened #1598 "Footer missing from docs pages in v2"
## 🐛 Bug Report

Footer is missing from docs pages in v2

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

🌞

## To Reproduce

1. Visit https://v2.docusaurus.io/docs/introduction
2. Scroll to the bottom

## Expected behavior

The footer renders consistently across all pages.

## Actual Behavior

It’

[2019-06-10 22:17] brainkim commented on #1597
Duplicate of https://github.com/facebook/Docusaurus/issues/877

[2019-06-10 22:56] yangshun commented on #1597
Thanks @brainkim, this is a legit issue I discovered as well. The issues you've linked earlier are v1 issues hence they're not duplicates. The reason is because we're not including autoprefixer in the CSS webpack config and safari needs `-webkit-sticky` instead of just `sticky`.

[2019-06-10 22:57] yangshun commented on #1598
This is actually intentional. The sticky stuff on the page might not play well with a Footer underneath so we chose to leave it out. If someone is keen on the Footer, they can swizzle `@theme/DocPage` and add it.

[2019-06-10 22:57] #1598 closed

[2019-06-11 18:45] #1593 closed

[2019-06-11 18:46] jpuebla commented on #1593
I realised I saved md files with wrong encoding.

[2019-06-12 15:09] rccclr opened #1601 "Docusaurus2: Error when create project"
## 🐛 Bug Report

Please help with this error.

**npx @docusaurus/core@next init**
internal/modules/cjs/loader.js:626
    throw err;
    ^

Error: Cannot find module '/root/.npm/_npx/26615/lib/node_modules/@docusaurus/core/node_modules/core-js-pure/scripts/postinstall'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:623:15)
    at Function.Module._load (internal/modules/cjs/

[2019-06-13 11:51] Exploreworld26636 opened #1603 "condo"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1.
1.
1.

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write what happen

[2019-06-13 11:51] #1603 closed

[2019-06-13 18:01] shakcho commented on #1597
@yangshun I would like to work on it, I just want to know do I need to autoprefixer or just need to update the css.

[2019-06-13 18:12] yangshun commented on #1597
@shakcho it's yours! Let's do autoprefixer as it's the more futureproof way. Please look at Create React App and we can emulate their webpack config for autoprefixing.

[2019-06-13 18:14] shakcho commented on #1597
@yangshun I also thinking the same.  I will raise Pull Request ASAP.

[2019-06-14 04:55] endiliey commented on #1601
Can you send a screencast ? Its hard for us to reproduce locally. It could be a transient issue, try again the command or make sure u have admin access ?

From the log it seems to be some core-js postinstall problem ? hmm

[2019-06-14 04:56] endiliey commented on #1587
@AlokTakshak feel free to propose a design. Best if we have 0 dependency for the icon

[2019-06-14 04:58] #1574 closed

[2019-06-14 05:00] endiliey commented on #1527
With recent drama on core-js postinstall sponsoring and github sponsor button being available now.

Lets revisit this issue again in the future.
https://github.com/zloirock/core-js/issues/548

[2019-06-14 05:00] #1527 closed

[2019-06-14 07:26] rccclr commented on #1601
Hello

With this Dockerfile for reproduce.

Many thanks

**Dockerfile**

FROM ubuntu:18.04

RUN apt-get update && \
    apt-get install -y build-essential && \
    apt-get install -y byobu curl git htop man unzip vim wget && \
    apt-get install -y curl gnupg2 && \
    curl -sL https://deb.nodesource.com/setup_12.x | bash - && \
    curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add

[2019-06-14 08:53] hugofovargue commented on #1587
@endiliey Made a PR #1606. I tried to implement a similar style to the legacy copy button.

[2019-06-14 11:20] endiliey commented on #1601
Seems like a bug from core-js postinstall script

I think one of our dependency depends on it (most likely babel). Its an indirect dependency

https://github.com/zloirock/core-js/issues/551

PR welcome for this issue

[2019-06-14 15:02] amimas opened #1608 "Use primary colour for highlighting items in table of content"
## 💥 Proposal

We now have the feature that highlights items in table of content as the user scrolls up or down. This is a great feature and really helpful for users on long page with lots of contents.

Currently the list items are in table of content is being highlighted by using simply setting `font-weight: 600` in css.

I think in addition to that, it'd be very useful if the colour can also be

[2019-06-15 16:24] #1393 closed

[2019-06-17 10:16] shawntabrizi commented on #586
This may be slightly unrelated to this specific issue, but I wanted to ask if there any changes planned related to the path used for localized docs?

For example, the homepage is: `https://homepage.com/en/` but the docs are then at `https://homepage.com/docs/en/`

I would expect it to be at `https://homepage.com/en/docs`

[2019-06-17 16:40] emanic commented on #789
Perhaps I can explain more specifically what I am looking to do and you can see if this is something you may want to add to v2, but more importantly I would appreciate some guidance on how I might accomplish it with v1. We have versioned docs and need to display different content to users based on which version of the docs they are looking at. We want to be able to identify what should be replaced

[2019-06-17 19:23] sibelius commented on #981
can we backport this to v1?

[2019-06-18 17:28] manojbadam commented on #1111
@gianlucadonato @endiliey - we want to make use of this functionality in our CI tests, before publishing the website we want to fail the CI tests if there are any broken links and not publish. Any tips to achieve that?, parsing logs is one option, is there any better approach ?

[2019-06-19 21:56] spyke01 commented on #985
It's still occurring, it appears that it stems from the mainContainer overflowing from the docMainWrapper (the max width of docMainWrapper is not being affecting the children).
![image](https://user-images.githubusercontent.com/5248448/59804135-17f14580-92b3-11e9-8ce3-0ccc25aac213.png)

[2019-06-22 15:42] wescley opened #1620 "New content does not appear in the side menu"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
No
## To Reproduce

(Write your steps here:)

1. I installed docusaurus and tried to create new content, but it is not appearing in the side menu.
## Expected behavior

(Write what

[2019-06-22 16:45] yangshun commented on #1620
Please provide more information and links to repo if possible.

[2019-06-23 18:47] MateusAndrade opened #1622 "Remote Fetch Data"
Is there any way to request some remote data from my component? On this my Footer(which is generated by docusaurus).

I want to do something similar to this:

[code]

Im a newbie to docusaurus, and i apologize if this is a idiot mistake. :smile:

[2019-06-23 18:51] yangshun commented on #1622
Docusaurus 1 is using React as a templating engine only. Lifecycle and event handlers don't work because the browser only receives static HTML. You'll have to to inject scripts into your `render()` method to do that.

[code]

Grep for `dangerouslySetInnerHTML` within Docusaurus website and see how it's done. Alternatively, you can write those logic in a separate script and include them via the `si

[2019-06-23 18:51] #1622 closed

[2019-06-23 20:21] AdrianoCahete opened #1624 ""undraw_operating_system" SVG has a wrong background"
## 🐛 Bug Report

The `undraw_operating_system.svg`file has a wrong color background.
Today, we have a fill color of `#3f3d56`, giving the background almost the same color of items in foreground.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Start a new doc
2. Open `webs

[2019-06-23 20:28] AdrianoCahete commented on #1620
Left sidebar? If yes, you need to manually include on `sidebar.json`;

[2019-06-23 23:48] yangshun commented on #1624
I'm afraid this is not something we can control. The original unDraw illustration uses such a dark color for the background as seen from https://undraw.co/search (search for operating system). The theme colors upon init are randomly generated and it's possible that you ended up with a color which doesn't display well with unDraw's. If you go to unDraw.co and use the same purple color, you'll get t

[2019-06-23 23:48] #1624 closed

[2019-06-24 07:48] endiliey commented on #1620
@AdrianoCahete was correct. You have to manually include on sidebars. Docusaurus dont know whether certain docs should be put in a sidebar or not.

Please be more specific when reporting the issue too, we have a strict guideline on the issue template

[2019-06-24 07:48] #1620 closed

[2019-06-24 17:04] nebrelbug opened #1625 "Docusaurus2: Better favicon support"
## 🚀 Feature

Support for adding multiple favicons/icons to a Docusaurus site. Ideally, a site should have different PNG icon sizes, a .ico favicon, and Apple Touch Icons, while Docusaurus only allows you to add one favicon file to your site.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

##

[2019-06-24 17:06] nebrelbug commented on #1625
I would love to create a plugin, based on https://realfavicongenerator.net, that takes a config object and a user-provided icon and automatically generates multiple different icons for different browsers and platforms, and includes them in the HTML head.

[2019-06-25 16:14] amimas opened #1627 "`GridBlock` component does not display image on mobile if alignment is not set to `top` or `bottom`"
## 🐛 Bug Report

Not too sure if this is a bug or intentional, but it seems like something that might have been overlooked.

On the main page of Docusaurus (https://docusaurus.io/en/), the `GridBlock` components don't seem to display images if `imageAlign` is **not** set to `top` or `bottom`, if you're viewing the page on mobile.

For example, this is what the "Quick Setup" and "Develop and Deploy

[2019-06-27 16:55] wgao19 commented on #1438
Hey @yangshun @endiliey  I'm working on the docs for plugins and here's something I feel slightly hairy about:

Looks like, it is possible if not recommended that we pass plugin options via preset options. Meanwhile, it is also possible to just write our own `docusaurus.config.js` with a bunch of `plugins` each passing its own options. But some options (such as Google Analytics `trackingID` can on

[2019-07-01 07:21] SeniorFellow opened #1632 "Remove margin-left for new rows in Gridblock"
## 🐛 Bug Report

When I add than more three supportedLink in Gridblock, a magin-left is added in the first element of the new row.

![errorDocu](https://user-images.githubusercontent.com/52399844/60417760-843c4500-9be1-11e9-8286-fcd0a60acbcb.jpg)

Thanks in advance.

[2019-07-03 06:09] #1608 closed

[2019-07-03 16:08] thewhitewolf17 commented on #1208
I'm interested in contributing, could you give me more info?

[2019-07-03 16:09] thewhitewolf17 commented on #1169
I'm interested in contributing, could you provide me with more information?

[2019-07-03 19:11] co16353sidak commented on #1437
Sorry, been swamped with other work.
I have already submitted an issue onto just's repo for the necessities, they are yet to design (or decide on) a logo.

@yangshun I guess I never left the issue it is just on hold from the other end.
@joybhallaa let me sort this one out while you can take up another one.

(unless the mods think otherwise)

[2019-07-04 14:50] camcamd commented on #395
First of all, thanks @tibdex for this plugin example !
Is there a way to have the injected markdown processed by docusaurus, so that we could inject markdown with docusaurus code tabs for instance ?

[2019-07-04 16:51] tibdex commented on #395
An option is to preprocess the markdown files outside of Docusaurus. You can develop a pipeline that reads the unprocessed markdown files from another directory, process them, write them to the Docusaurus's markdown files directory, and then build your website with Docusaurus.

[2019-07-05 17:29] kaichaosun opened #1638 "Document title change in translations results into failure when enable versions"
## 🐛 Bug Report
* The translation for doc title is not working in the versioned (v1.0.0) doc.
* With `yarn start`, If the title in the translated doc is not the same with the title in source doc,
Chrome can't access the translation doc,
Firefox fallback to use the title in latest doc, the doc is accessible.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docu

[2019-07-05 17:55] thiagopov commented on #1169
thank you, I'm glad you are interested in this subject, think so, I want to
integrate the facebook messager on the platform where quickly through the
config site we put the id code of the facebook fanpage and of course.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Remetente
notificado por
Mailtrack
<https://mailtrack.io?utm_sourc

[2019-07-06 08:42] wgao19 commented on #1169
Hey @thewhitewolf17 Thank you for contributing!

I think the content fits into a styling guide (i.e., a _Styling_ section under _Guides_ in the doc site), which we currently don't have. Would you like to add a guide to styling?

If you are interested, you can add your doc under `/docs/` and follow other doc pieces' configurations. You may need to add the piece under `/website-1.x` to make sure tha

[2019-07-06 13:05] wgao19 opened #1640 "[v2] ☂️ Umbrella issue for v2 docs"
### Why contribute to Docusaurus v2 docs?

- Docusaurus 2 is built with brilliance and so you may want to know how:
    - your dev hot reload server builds and rebuilds in matters of seconds and milliseconds
    - the client site will be an SPA, code-split by route, and pages are load lightning fast without even a spinner, how is that even possible 🌚
    - site works even without javascript
- Your

[2019-07-06 13:43] thewhitewolf17 commented on #1169
Yeah, I'd like to add a guide to styling!

[2019-07-07 00:10] medmin opened #1642 "Docs Update Request : page not found after moving `pages` directory to `src`"
## 📚 Documentation

(A clear and concise description of what the issue is.)

According to the current github repo, the v2 website has its `pages` located in the `src`, which is nice. However, there is no configuration in the `docusaurus.config.js` to indicate the settings.

I tried to do the same thing, i.e., move `pages` to `src` directory, and I got `Page not found`.

I have searched the docs th

[2019-07-07 00:45] yangshun commented on #1642
Sorry about that, we have yet to publish a new version. For now you'll have to add `path: 'src/pages'` to the `docusaurus.config.js`:

[code]

[2019-07-07 15:32] medmin commented on #1642
Thanks for help!

[2019-07-08 08:44] bvego commented on #1587
Hi there. I saw that hugofovargue closed his PR so I wanted to give it a go!

PR #1643

Feel free to close it if not applicable anymore I guess 😄

[2019-07-08 22:16] Happy-Ferret opened #1644 "Social footer links broken"
## 🐛 Bug Report

Adding the following to `siteConfig` should enable Twitter links in the footer.
No such additional element is getting rendered.

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Open **website/siteConfig.js**.
2. Locate `const siteConfig`.
3. Add the

[2019-07-08 22:26] Happy-Ferret commented on #1644
Solved by actually copying over the footer.js from the main repository.
Not sure why the wrong (outdated?) component is being created during bootstrapping.

https://github.com/facebook/docusaurus/blob/master/website-1.x/core/Footer.js

[2019-07-10 16:45] #1644 closed

[2019-07-10 16:46] endiliey commented on #1642
need to update docs before alpha.'20

[2019-07-10 16:51] endiliey commented on #1590
wonr add new feature on siteconfig.js foe v1 as we get to v2

[2019-07-10 16:51] #1590 closed

[2019-07-10 16:54] endiliey commented on #1627
This seems intentional to me. I recommend overriding the default docusaurus css as a better workaround.

[2019-07-10 16:54] #1627 closed

[2019-07-11 13:58] em-cd commented on #392
I'm also having this issue, with a fresh Docusaurus site with no changes to the base configuration. Not sure if this is something to do with the Footer links, or the docs which aren't being moved into an `en` folder as I think the documentation says they should (https://docusaurus.io/docs/en/translation#translating-your-existing-docs)?

[2019-07-12 05:55] #1587 closed

[2019-07-12 17:00] AoDev commented on #1066
Hello, is there any news on this issue?

I'd like to suggest that the description could be set as pure text from front matter.

Example:
[code]
My pages description don't make any sense at the moment, like:

[code]

[2019-07-12 17:03] endiliey commented on #1066
Accepting PR on this for v1 😉

I agree we shouldnt render markdown.

[2019-07-13 16:48] prvnbist opened #1656 "[v2] Headings have low contrast on feedback page in dark mode."
## 📚 Documentation

UX Issue: In the feedback page, title of feedback's have very low contrast in dark mode and is causing readability issues.

![2019-07-13_221038](https://user-images.githubusercontent.com/17105682/61174299-d1de8780-a5bb-11e9-88a5-8b5ce610cca6.png)

[2019-07-13 16:50] endiliey commented on #1656
Good catch. We are actually aware of this too. PR is welcome 😍

[2019-07-13 18:06] #1601 closed

[2019-07-14 03:26] #1642 closed

[2019-07-15 08:51] kushthedude commented on #1640
@wgao19 I would like to help with some of the parts

[2019-07-15 08:55] wgao19 commented on #1640
@kushthedude sounds great! You may PR directly for the piece you hope to work on. Thank you!

[2019-07-16 00:58] thewhitewolf17 commented on #1169
I'll add the guide soon, where should I need to add it under `/website-1.x?`? I'm a beginner btw :)
,

[2019-07-16 18:29] rikoe commented on #1312
@endiliey If I wanted to add a PR for this, would it be better to wait for v2?

[2019-07-17 13:53] #928 closed

[2019-07-17 19:17] wenerme opened #1669 "[v2] blog tag list do not support cjk"
## 🐛 Bug Report

https://github.com/facebook/docusaurus/blob/f0d5313d488fcb3264286ab46fdabdb2c92a88d8/packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.js#L26

tag list do not support cjk

![image](https://user-images.githubusercontent.com/1777211/61404634-72a9ab80-a90a-11e9-861a-57479228a1f7.png)

### Have you read the [Contributing Guidelines on issues]

Yes

## To Reproduce

1.

[2019-07-18 00:09] wgao19 commented on #1169
First you need the doc under root `/docs/`. Then, you'll also need to copy it over to `/website-1.x/versioned_docs/version-1.0.x`. Correct me if I'm wrong please @yangshun

[2019-07-18 01:59] leavesster opened #1671 "TOC show html tag like raw text on website but localhost does not"
## 🐛 Bug Report

When I write this on docs markdown
[code]

It always shows `Referencing Site Documents` in `h2` tag in the main text.
But it has some problem with TOC(table of Content) on a real website.

On the preview (run on http://localhost:3000 or http://192.168.0.12:3000), it just shows `Referencing Site Documents` Table of Content.
but when it runs on a real website, the Table of Content j

[2019-07-18 03:09] yangshun commented on #1669
Thanks for the report! I think a possible way to handle non-ascii characters will be to just dump them into a new unlabelled category.

[2019-07-18 05:06] wenerme commented on #1669
w h y

[2019-07-18 05:08] endiliey commented on #1312
cc @yangshun

i dont recommend having new feature like this because we plan to rework on our versioned docs for v2 and it will make it harder to migrate later on

[2019-07-18 05:08] #1312 closed

[2019-07-18 05:09] #1283 closed

[2019-07-18 05:10] endiliey commented on #1083
Try filing this on https://v2.docusaurus.io/feedback

[2019-07-18 05:10] #1083 closed

[2019-07-18 05:12] endiliey commented on #534
Wontfix in v1 with v2 coming up

[2019-07-18 05:12] #534 closed

[2019-07-18 05:15] endiliey commented on #1258
After much consideration, this is indeed best left to markdown plugin

https://github.com/temando/remark-mermaid on v2
and remarkable-mermaid on v1

[2019-07-18 05:17] #1270 closed

[2019-07-18 05:19] endiliey commented on #1625
move it to https://v2.docusaurus.io/feedback

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-18 05:19] #1625 closed

[2019-07-18 05:25] #319 closed

[2019-07-18 05:27] endiliey commented on #448
I think at this point our architecture relies a lot on baseUrl and supporting this will be quite a huge refactor. I personally feel the effort is better spent elsewhere

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-18 05:27] #448 closed

[2019-07-18 11:20] #1066 closed

[2019-07-18 11:33] endiliey commented on #1671
Sorry but using your fork demo, Any docs change is reflected on `next` version of docs if you have versioned docs enabled.

http://localhost:3000/docs/en/next/navigation
![image](https://user-images.githubusercontent.com/17883920/61454196-65cc9c80-a98a-11e9-91c1-ef1d388b1a46.png)

http://localhost:3000/docs/en/navigation
![image](https://user-images.githubusercontent.com/17883920/61454227-83016b00

[2019-07-18 11:33] #1671 closed

[2019-07-18 11:56] #1638 closed

[2019-07-18 14:14] alexperez commented on #1656
Hey I would like to work on this.

[2019-07-19 01:32] svora198 commented on #1632
I would like to take a shot at this.

[2019-07-19 02:51] leavesster commented on #1671
I didn't create multiple version.

And My issue is when `docusaurus` runs on localhost, it didn't show `<span id="jump">` but when on the real website show `<span id="jump">`.

I think maybe when `http://localhost:3000/docs/en/navigation` run on the real website. It will also show `<span id="jump">`.

I feel weird that preview is not the same as it shows on real website ……
And could I make TOC sho

[2019-07-19 02:57] endiliey commented on #1671
Its most likely i18n caching issue on dev.
Delete any i18n/**! files

Its hard for us to debug if you didn't have a real website domain to show this. But using the fork demo you mentioned, everything seems to be working fine

[2019-07-19 05:44] endiliey commented on #1632
@svora198 awesome. Send a PR :)

[2019-07-19 08:41] endiliey commented on #1656
@alexperez feel free to try sending a PR

[2019-07-19 08:43] endiliey commented on #1656
The relevant source code for that page is here https://github.com/facebook/docusaurus/blob/master/website/src/pages/feedback/index.js

But it is an iframe/ canny.io embed so it can be challenging :O to hack the contrast. Feel free to propose a solution
![image](https://user-images.githubusercontent.com/17883920/61522147-f7481700-aa3b-11e9-9699-8395e1d59dc7.png)

[2019-07-19 14:40] alexperez commented on #1656
It seems rather tricky to add custom CSS to an iframe, perhaps someone with more experience with this should look into it. 👍

[2019-07-20 02:14] endiliey commented on #1597
#1605

[2019-07-20 02:14] #1597 closed

[2019-07-20 07:43] leavesster commented on #1671
It seems to delete all files in i18n doesn't help.
But I create a totally new docusaurus project, it actually reflects as `next` version shows on dev.

But it still weird the TOC doesn't show the text as same as it looks like on the h2 tag.

[2019-07-20 08:49] leavesster commented on #1671
I found how to make TOC content the same as HTML tag.

just change this [code](https://github.com/facebook/docusaurus/blob/1edbeecbe565cbbbc0a6e6532c7c2d0c58d78807/packages/docusaurus-1.x/lib/core/nav/OnPageNav.js#L28)
from
`<Link hashLink={heading.hashLink} content={heading.content} />`
to
`<Link hashLink={heading.hashLink} content={heading.rawContent} />`

It will be nice and intuitive that Docu

[2019-07-20 11:25] yangshun commented on #1656
It's not possible to affect the CSS within an iframe. That'll be a security vulnerability.

Since Canny doesn't have support for dark mode, the solution here (IMO) is to add a white background to the container of the <iframe> so that that iframe always renders its dark text on a white background.

Not the prettiest UX on dark mode but that's still better than not being able to read.

[2019-07-21 04:48] #985 closed

[2019-07-23 11:52] joetidee commented on #466
Algolia search system is a deal-breaker for us.

[2019-07-23 11:58] joetidee commented on #776
... it's like being handed the keys to a Porsche .... with no engine :(

[2019-07-24 01:49] svora198 commented on #1632
Can you take a look at https://github.com/facebook/docusaurus/pull/1696 PR?
I would appreciate the feedback.

Thank you :)

[2019-07-24 08:15] endiliey opened #1697 "[v2] Mobile navbar is cut in small viewport"
**Tip: This task is targeted towards potential contributor to Docusaurus project.**

## 🚀 Motivation

See https://v2.docusaurus.io/feedback/p/resposive-top-bar for context

![image](https://user-images.githubusercontent.com/17883920/61776407-26d49600-ae25-11e9-86a2-e88f5d0ad759.png)

# Where to start

1. Fork [the repository](https://github.com/facebook/docusaurus) and create your branch from `mas

[2019-07-24 08:40] endiliey opened #1698 "[v2] blog rss feed"
**Tip: This task is targeted towards potential contributor to Docusaurus project.**

## 🚀 Motivation

We need to generate blog rss feed in v2

# Where to start

1. Fork [the repository](https://github.com/facebook/docusaurus) and create your branch from `master`.
1. Clone the repository
1. yarn install in the root of the repo
1. The related codes for the blog plugin is https://github.com/facebook/

[2019-07-25 01:20] Saeris opened #1699 "[v2] Proposal: Official CodeSandbox Template"
Hi there! I'm part of the team over at @codesandbox and we've recently been working on a new feature set that allows our users to create their own custom Templates, which like our official templates allows them to quickly start a new project from pre-configured boilerplate code. This functionality is similar to what you might find in a CLI scaffolding tool, such as the one Docusaurus v2 features.

[2019-07-25 13:46] leavesster opened #1703 "Show HTML tag on TOC, not escaping them"
## 🐛 Bug Report

TOC content doesn't show header as they show on H2/H3 tags.

As I mentioned in #1671 TOC content doesn't show HTML tags, TOC has escaped these HTML tags.
In that issue, I just said that localhost is different from the website. But my real problem is could the TOC allow HTML tag, not escape them ?

### Have you read the [Contributing Guidelines on issues](https://github.com/faceboo

[2019-07-25 14:06] JoelMarcey opened #1704 "Document what should be in .gitignore"
## 📚 Documentation

We do not mention that `node_modules` should be added to `.gitignore` when building a Docusaurus site. II think we auto add this on repos that do not have a `.gitignore` after running `docusaurus-init`, but we don't mention that it should be done as a general rule and some people already have a `.gitignore` that we do not touch on init.

### Have you read the [Contributing Guid

[2019-07-25 19:21] shirshendubhowmick commented on #1697
Fix 1: Moving search to a new line i.e. below the logo
Fix 2: Opening a small modal popup on focus of the search input box
Fix 3: Replace search box with a search icon, on tap of the icon expand it to search box and hide the "Docusaurus" text beside the logo, it will remain hidden while the search box is expanded.

Also may i know the min view port width that needs to be supported ?

[2019-07-26 04:39] endiliey commented on #1697
wdyt @yangshun @wgao19 ?

i think fix 3 can be nice. any recommendation on the min view port that needs to be supported ?

[2019-07-26 04:57] shirshendubhowmick commented on #1697
Can we limit it to 320px width ? I believe this will enough to support devices that pretty old like iPhone 5.

[2019-07-26 05:03] endiliey commented on #1697
was thinking of 320px too. lets go ahead

send PR :)

[2019-07-26 06:29] wgao19 commented on #1697
thanks for the actionable suggestions @shirshendubhowmick @endiliey im also ok with 3 with 320px as min width, lets fix this :)

[2019-07-26 06:59] yangshun commented on #1632
This is intended. It's called a `threeByGridBlock` for a reason, you're not supposed to have more than 3 columns in a row. Each column within that row is meant to take up 1/3 of the width. You should put the 4th item on a new row.

[2019-07-26 06:59] #1632 closed

[2019-07-26 07:34] #1704 closed

[2019-07-26 09:58] endiliey commented on #1699
@Saeris is it possible to sync it with the template hosted in our repo ? https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-init/templates/classic

Otherwise it seems that we have to keep sending PR to that repo to be in sync

[2019-07-26 11:01] Saeris commented on #1699
@endiliey a quick glance indicates to me that it could be possible. The only thing missing that's a requirement is the `sandbox.config.json` which is required to break out of environment auto-detection to use a node container environment. If it's not too big of a deal to add that to the template, then yes you can just use that.

While not all of your users would want to use CodeSandbox, having tha

[2019-07-26 11:04] Saeris commented on #1699
@endiliey also the idea here is that your team would maintain the template repo instead of us. I plan to delete the directory in the repository I linked in the original post at a later date. It's just there for now to explore a proof of concept.

[2019-07-26 11:07] endiliey commented on #1699
Good idea. Actually that's what we wanted. We want the actual push access to maintain a template repo. Otherwise sending PR to keep it in sync will be very slow.

Will there be a codesandbox organization repo for templates maybe ? or maybe we can create our own cc @yangshun @wgao19

[2019-07-26 12:18] Saeris commented on #1699
We don't want our users to have to rely on us at all as far as linking a template to a github repository goes. You can literally use the [template](https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-init/templates/classic) hosted in your repo which you linked above and all you should need to do to have it published inside CodeSandbox as a custom template is:

1) have the requir

[2019-07-26 12:41] endiliey commented on #1699
Sounds good. been wondering on how those 'official' templates got picked

![image](https://user-images.githubusercontent.com/17883920/61951802-4b26a300-afdc-11e9-82cc-f116ee495637.png)

I agree !

Well i guess the path forward now is just for us to maintain our own template and add the required config and publish it as codesandbox template.

[2019-07-26 13:04] Saeris commented on #1699
Yeah I'll keep you posted about when we roll out the publishing features!

As for the "official" templates, those were all added by request or our own initiative. In the future the way we list them may change, as it would make more sense to flag custom templates through an admin interface rather than hard-code them into the app as we do now. Flagging a template as "official" could be thought of as

[2019-07-26 16:14] endiliey commented on #1188
I dont think this issue still persist. at least nobody has reported it so far.

Feel free to re-open :)

[2019-07-26 16:14] #1188 closed

[2019-07-27 12:18] shirshendubhowmick commented on #1697
@endiliey Need little help, where can i find the current search icon ?

[2019-07-27 12:23] endiliey commented on #1697
@shirshendubhowmick

https://github.com/facebook/docusaurus/blob/95ace0e4eba1f5b2bc0f9ced8ec703e01aa73d0a/packages/docusaurus-theme-classic/src/theme/Navbar/index.js#L152-L157

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-search-algolia/src/theme/SearchBar/index.js

the css is from https://infima-dev.netlify.com/

[2019-07-29 20:32] pllearns opened #1723 "Update Remarkable to 1.7.3"
## 🐛 Bug Report

Remarkable 1.7.1 has security vulnerabilties

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1.
1.
1.

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write what happened. Add

[2019-07-29 21:53] CGick commented on #789
I am migrating my companies product documentation to Docusaurus, and a lot of our pages are referenced by other pages. It would be nice to have a reference mapping file in which I can add all of the link ids and the link address they map to, then in my docs pages just enter the link id and have it pull the link address from the mapping file. If this is currently possible could someone please let m

[2019-07-30 01:16] italicize opened #1725 "doc request for info about publish-gh-pages"
## 📚 Documentation

Where is documentation for the `publish-gh-pages` script, such as prerequisites and a short description its actions? I couldn't find documentation on the Docusaurus site or the NPM site, <https://www.npmjs.com/package/publish-gh-pages>.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-iss

[2019-07-30 04:00] endiliey commented on #1725
That npm package is unrelated to our project.

our docs on the script is defined here https://docusaurus.io/docs/en/publishing#using-github-pages

if you think anything is missing, submit a pr on docs

[2019-07-30 04:00] #1725 closed

[2019-07-30 16:12] italicize commented on #1725
Sorry, I assumed publish-gh-pages was a Facebook script. The script is currently unpopular (only 4 weekly downloads). Is it still a good script for Facebook to recommend, or are more people using a different script?

[2019-07-31 03:05] endiliey commented on #1725
Hmm i personally dont recommend that package. However, if it is a Docusaurus project and you want it to be published to GitHub pages, using Docusaurus own publish script is the best. The steps needed is mentioned in https://docusaurus.io/docs/en/publishing#using-github-pages

[2019-07-31 15:55] italicize commented on #1725
@endiliey When you said Docusaurus' own publish script, did you mean `publish-gh-pages` or something else? The link you sent uses the `publish-gh-pages` script.

[2019-07-31 17:28] rhythnic opened #1732 "Restrict CSS from static folder to css folder"
## 🐛 Bug Report

The CSS bundle, `main.css`, seems to include all css files from the static folder.  It should only include CSS from the css folder.  My use case is that I would like to put a complete static site into a folder within the `static` folder, and then render it into an iFrame on a custom page.  The problem is that the css is getting bundled into the main CSS file and causing the Docusa

[2019-08-01 07:15] endiliey commented on #1725
The link i sent had the same name `publish-gh-pages` but its docusaurus own script.
Code is https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-1.x/lib/publish-gh-pages.js

https://www.npmjs.com/package/publish-gh-pages is unrelated but had same name. Code is https://github.com/poychang/publish-gh-pages

Anyway, just follow https://docusaurus.io/docs/en/publishing#using-github-p

[2019-08-01 11:05] endiliey commented on #1732
use https://docusaurus.io/docs/en/site-config#separatecss-array

[2019-08-01 11:05] #1732 closed

[2019-08-01 12:14] #1723 closed

[2019-08-01 19:27] rhythnic commented on #1732
Thank you.  There's a discrepancy in the Docusaurus docs.  The API reference page uses `separateCSS`, but the correct propery, referenced in the Custom Pages documentation, is `separateCss`.

[2019-08-02 10:45] joetidee commented on #789
Is there a rough timeline for the beta and full releases of v2?

[2019-08-03 16:42] duckdotapk opened #1739 "Markdown is retained in page descriptions"
## 🐛 Bug Report

The `og:description` meta tag will contain raw markdown if the sentence it's derived from contains any.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Create a page wherein the first sentence contains markdown. Here's an example from my site:

[code]

## Ex

[2019-08-04 09:33] endiliey commented on #1739
Its intended since 1.x. We dont render the html part because #1066

If we strip it out, its hard to tell which to remove
[code]
or

[code]

or

[code]
There are many edge cases that can even cause more headache

[2019-08-04 17:22] shirshendubhowmick commented on #1697
#1741

[2019-08-04 18:20] shakcho commented on #1656
@endiliey @yangshun @wgao19  I tried this, but in Dark mode, it will not look that great.
My solution looks something like this as shown in the image below.
<img width="1677" alt="Screenshot 2019-08-04 at 11 45 22 PM" src="https://user-images.githubusercontent.com/9992559/62427541-3485f780-b712-11e9-9a1f-0551762adc2d.png">

One other solution I can think of if Canny support window.postmessage and

[2019-08-04 18:22] duckdotapk commented on #1739
My proposal was to render the description separately from the rest of the page and in that process remove any markdown that isn't actually text displayed to the end user such as the URL.

Basically like how it would ultimately be displayed on the page minus any hyperlinks or formatting.

Though the proposal that other fella made on having a description field next to the pages URL and title would a

[2019-08-04 19:05] shirshendubhowmick commented on #1697
PR #1741

[2019-08-04 19:37] yangshun commented on #1656
@shakcho this solution you have here is the best we have IMO. We could use that.

It'll be a security risk for Canny and I see little reason as to why they would allow that.

[2019-08-04 21:44] shakcho commented on #1656
@yangshun you may need to close this issue

[2019-08-04 22:03] yangshun commented on #1656
@shakcho Thanks for catching. You can also add "Fixes #1656" to the PR in future so that the issue will be closed when the PR is merged. More info: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-08-04 22:03] #1656 closed

[2019-08-04 23:56] duckdotapk commented on #1739
My last response was written on a phone so I wasn't able to be as detailed but to be clear I mean like the first example you gave, so this:

[code]

Would resolve as this:
[code]

[2019-08-05 04:01] endiliey commented on #1739
A better solution is to allow description frontmatter like in v2. If not defined, we still go with current behavior

To be honest as a user i’d prefer rendering the markdown as the meta description. I might be wrong but this meta description has been like this since a year ago.

I will close this issue as wontfix. We will accept PR on the description as frontmatter though

[2019-08-05 04:01] #1739 closed

[2019-08-05 15:12] endiliey commented on #1640
assigning myself for docs on docusaurus/linj, withbaseurl, head, etc

[2019-08-05 17:42] italicize opened #1743 "Yarn cannot run the version script"
## 🐛 Bug Report

`yarn version` doesn't run in Git Bash or at the Windows command prompt. (I don't know whether it runs on Mac.) By contrast, `npm run version` runs fine.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. In Git Bash or at the Windows command prompt, `cd` to

[2019-08-06 04:49] #1697 closed

[2019-08-06 05:14] endiliey commented on #1743
It should be yarn run version instead. Yarn version actually runs yarn own native version and docusaurus-version

anyway did u make sure running

 npm run examples versions

[2019-08-06 05:16] endiliey commented on #1743
Its a documentation mistake

instead of “yarn version” it should be “yarn run version”

[2019-08-06 05:43] endiliey commented on #1743
Anyway #1744 removed that

[2019-08-06 05:43] #1743 closed

[2019-08-06 16:56] ericnakagawa opened #1745 "Ignore `$ ` for clipboard copy"
## 🚀 Feature

When a code block has a leading "$ " at beginning of line, using the clipboard copy function copies in the entire text as is.

Ideally, it would ignore the "$ " in each line.

## Motivation

This is problematic in almost any developer site. The Dev experience for our users would improve with this feature.

## Pitch

This could improve copying from all sorts of code blocks "% ", "$ ",

[2019-08-06 17:37] ericnakagawa commented on #1745
Also posted to Docusaurus 2 Canny, https://docusaurus-2.netlify.com/feedback/p/ignore-for-clipboard-copy

[2019-08-06 18:13] acoates-ms opened #1746 "Navigation Pane flickering, and weird animation"
## 🐛 Bug Report

When navigating between two pages in the same group, the entire nav pane flickers blank.  And the chevron in the group header of the two pages flashed back to the closed position and reanimates open.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To

[2019-08-06 19:55] yangshun commented on #1746
This is because pages in Docusaurus 1 are server-side rendered and the expand/collapse logic only runs after the page loads. There's a script which finds the category that contains the current page and toggle that part to expand.

This bug is annoying but doesn't affect the site's functionality. One potential way to solve it would be to determine if a category should be expanded during SSR phase a

[2019-08-06 21:40] tuler commented on #459
The redirect solution still leaves you with a `docs.example.com/docs` URL instead of just `docs.example.com`. @novalagung can you elaborate on your solution, specially the sidebar link adjustment.

[2019-08-06 22:58] italicize commented on #1725
Thanks, @endiliey, for explaining that Docusaurus has a script named `publish-gh-pages`, which isn't the same as the unpopular script at npmjs.com with the same name.

[2019-08-07 02:51] endiliey commented on #1746
Another solution is to use something like pjax that can loads pages using AJAX and updates the browser's current URL using pushState() without reloading page's layout or any resources (JS, CSS), giving a fast page load.

https://github.com/MoOx/pjax/blob/master/README.md#pjax

[2019-08-07 15:17] endiliey commented on #1745
I personally always recommend avoid writing $ in a codeblock especially if its a bash command.

So
[code]

instead of
[code]

While in some scenario we might want the user to not copy the $ button, in some scenario we actually might want the user to copy the $ button.

Consider a docs site which want people to copy a dummy markdown text
[code]

There are also other programming languages out there

[2019-08-07 20:38] chengtie opened #1748 "Not trim start trailing spaces in code blocks"
Hello,

I want to write code blocks with Excel formules (it seems that at the moment there is not syntax highlighting for it). And one case is to write code re-factoring like the follows:

![Screenshot 2019-08-08 at 04 43 04](https://user-images.githubusercontent.com/774409/62656558-0a913700-b997-11e9-8c60-f5ad13e4e188.png)

It returns the following layout, we could notice that the spaces in the f

[2019-08-07 20:45] italicize opened #1749 "publish-gh-pages doesn't run at a Windows command prompt"
## 🐛 Bug Report

The [publish-gh-pages](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-1.x/lib/publish-gh-pages.js) script doesn't run at a Windows command prompt, with or without `USE_SSH=true`. The script runs in Git Bash. Why won't it run at a Windows command prompt?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/ma

[2019-08-07 21:56] cameron-elliott opened #1750 "Double matches in Algolia search box with cleanUrl:true"
## 🐛 Bug Report

When using algolia search, and enabling cleanUrl, most results show up twice in matches.

### Have you read the [Contributing Guidelines on issues]
Yes

## To Reproduce
1. Go to https://docusaurus.io type 'cleanurl' in search box, click first search match, which
will be:
https://docusaurus.io/docs/en/site-config#cleanurl-string

2. Go to https://docusaurus.io type 'cleanurl' in se

[2019-08-08 04:32] endiliey commented on #1750
When docusaurus was first launched, all url came with .html prefix

Then after few months, cleanUrl option in siteConfig was added.

So if the url is previously /foo.html
We generate foo/index.html to make the url accessible as /foo

However, since cleanurl was a new feature back then, we still generate the html. So foo.html and foo/index.html is created which causes these two search result

This

[2019-08-08 07:17] cameron-elliott commented on #1750
Does v2 have the ability to wrap static pages with header/footer like the v1 'wrapPagesHTML' flag enables?
That would enable me to try v2 and see if it could work for me.

[2019-08-08 18:55] cameron-elliott commented on #1750
@endiliey If I wanted to try to stop the generation of .html files and submit a PR, where do you suggest I look first? Thanks.

[2019-08-08 21:24] clararichter opened #1751 "Simple button event handler does not run as expected in Docusaurus custom page"
## 🐛 Bug Report

In my custom Docusaurus page, a simple button event handler does not execute upon click.

## To Reproduce

1) I set up my Docusaurus application using docusaurus-init (see https://www.npmjs.com/package/docusaurus-init)

2) I added a custom page as described here https://docusaurus.io/docs/en/custom-pages. I.e., I added a JS file to the pages/ folder.

## The custom page code
This

[2019-08-08 21:29] yangshun commented on #1751
This is not a bug. In v1, React is used as a rendering engine, and the output of the build step is just HTML. There's no React runtime shipped to clients, hence event handlers would not work. You should try [Docusaurus 2](https://v2.docusaurus.io) if you need to build rich websites.

[2019-08-08 21:29] #1751 closed

[2019-08-09 13:10] banli17 opened #1752 "[v2] use primary color for highlighted items in table of contents"
v2 use primary color for highlighted items in table of contents
![1](https://user-images.githubusercontent.com/12556069/62781204-088bbd00-baea-11e9-8904-d32e7e701991.png)

[2019-08-09 14:05] rikoe commented on #1312
@endiliey shouldn't we keep this open though, or recreate the same issue for v2? Quite a few people have expressed interest in the same feature. Otherwise we may lose track.

[2019-08-10 01:42] endiliey commented on #1312
File it here https://v2.docusaurus.io/feedback

[2019-08-10 06:10] cameronelliott opened #1753 "--host and --port doesn't work correctly"
## 🐛 Bug Report for Docusaurus version 1.12.0

## Summary
Simple issue where live reload doesn't really work correctly when --host=nnn.nnn.nnn.nnn is supplied as an argument to 'npm start', I have found work around,but not being a JS programmer, I don't know how to do a high-quality fix.
The work-around I show below causes parsing of 'program.argv' on each page reload, but a cleaner fix would caus

[2019-08-10 06:11] yangshun commented on #1753
v2's hot reloading is not custom built and is unlikely to face the same issue. Any reason why you have to specify a host and not use the default?

[2019-08-10 06:14] cameron-elliott commented on #1753
Yeah, the default is 127.0.0.1, which doesn't work on pixelbooks, which is my dev system.
I added a comment asking for JS programmer advice on how to convert the ugly work around function to something cleaner.

[2019-08-10 06:16] cameron-elliott commented on #1753
Also, in my situation I sometimes need to do some editing on a remote production system, in which case 127.0.0.1 also will not work.

[2019-08-10 17:16] tobiastimm commented on #1438
Hey @yangshun I'm trying to implement a plugin for showing [adrs](https://github.com/tobiastimm/docusaurus-plugin-content-adrs).

It is based on the `docs-plugin` and I have occurred a problem with the `themes` and `plugins` logic. For example, I want to create a new component for my ADRs. I would need to create a new theme with the components and also use those components within my plugin.

For t

[2019-08-10 17:22] wgao19 commented on #1438
Hey @tobiastimm,

I happen to be working on the docs, thanks for asking about plugins!

It is also possible that your plugins _include_ the components in your plugin. Check out [@docusaurus/plugin-ideal-image](https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-plugin-ideal-image).

[2019-08-10 17:23] tobiastimm commented on #1438
@wgao19 yeah saw that that's why I've deleted that comment 😄  thanks! I will take a look at this

[2019-08-11 04:19] geekbleek commented on #1147
Same issue here.  Seems any changes to sidebar aren't being reflected.

[2019-08-12 08:39] wgao19 commented on #1752
I think highlighting table of content isn't implemented in v2 yet. There is a related v1 PR #1524.
Would you like to work on this?

[2019-08-12 08:44] wgao19 commented on #1750
@cameron-elliott in v2 you can [swizzle](http://docusaurus-2.netlify.com/docs/using-themes#swizzling-theme-components) the footer component. The idea is that the swizzled component will replace the original component and you can customize it from then on. Does this sound like will fit your needs?

[2019-08-12 23:45] cameron-elliott commented on #1750
@wgao19 thanks for the heads up, let me check it out.

[2019-08-12 23:45] #1750 closed

[2019-08-13 02:46] ghost opened #1757 "how to build and deploy with google bazel build system ?"
Finally, i fix this and create one template project with docusaurus website: https://github.com/artisanforge/bazel-template

[2019-08-14 15:11] sourabh2311 commented on #969
Since I wanted this feature, I implemented it using Travis. See [1](https://github.com/sourabh2311/MuftEducation.in/blob/master/.travis.yml), [2](https://github.com/sourabh2311/MuftEducation.in/tree/master/travis), [3](https://github.com/sourabh2311/MuftEducation.in/blob/master/requirements.txt). Ofcourse, you would need to change it according to your needs. As might be evident from one of these f

[2019-08-15 19:22] ConfuddledPenguin opened #1758 "Unable to install in locked down enviroments"
(wasn't quite sure what type of issue to flag this under)

## 🚀 Feature

In certian coorporate, regulated and/or security conscious firms external downloads are not tolerated, docusaurus has several dependencies which download binaries from 3rd party sources.

The dependencies in question are under imagemin:

* [imagemin-gifsicle](https://github.com/imagemin/imagemin-gifsicle) depends on [gifsicle

[2019-08-16 04:49] RoiArthurB opened #1760 "Travis time-out during sitemap.js execution"
## 🐛 Bug Report

When [Travis try to compile the website](https://travis-ci.org/gama-platform/gama-platform.github.io/builds), it froze at the final step and is time-out by Travis because there's no output since 10 min

[code]

The strange point is that the same code was compiling before and does not anymore (even with a `git reset` + `git push -f` to have strictly the same content)

### Have you

[2019-08-16 10:00] stavalfi opened #1761 "docusaurus-build generates a broken website"
## 🐛 Bug Report

# (I did **not** change anything in the website/configurations)

![image](https://user-images.githubusercontent.com/12954665/63160032-70c82a80-c025-11e9-83eb-41bc9e5195a7.png)

![image](https://user-images.githubusercontent.com/12954665/63160255-fe0b7f00-c025-11e9-961d-244b7efb3cae.png)

## Reproducible Demo

https://github.com/stavalfi/docusaurus-broken-build

nothing was changed

[2019-08-16 15:06] endiliey commented on #1761
Build is not broken. You are probably serving the build dir from wrong folder.

What command did you run to serve the build locally ?
Send screencast ..

[2019-08-16 15:06] #1761 closed

[2019-08-16 15:13] stavalfi commented on #1761
@endiliey I opened the index.html with chrome.. isn't it what I should have done? (I do it when creating bundles with webpack).

[2019-08-16 15:45] yangshun commented on #1761
Try starting a local web server with `python -m SimpleHTTPServer 8000` in the `build` dir and go to `http://localhost:8000/<baseUrl>`. You should see it.

[2019-08-16 16:26] stavalfi commented on #1761
@yangshun I it's working locally. But what should I do to make it work in Netlify?

[2019-08-17 12:34] banli17 commented on #1752
i make it local，but i dont know  put js where, i put css and other in website dir, but if js put in theme dir , it's strange

[2019-08-17 14:48] #1757 closed

[2019-08-17 22:49] tianhaoz95 commented on #943
I am facing the same issue with jsdoc, i put 'static/api' inside separateCSS, but not working, the `css` files are still missing. any more information on this?

[2019-08-17 23:17] yangshun commented on #943
@tianhaoz95 I think it should be `separateCss` (lower case ss). Try that?

[2019-08-18 02:50] wgao19 commented on #1752
I would create a component under packages/docusaurus-theme-classic/src/theme and use it in packages/docusaurus-theme-classic/src/theme/DocLegacyItem/, not sure if @endiliey or @yangshun would suggest anywhere else?

[2019-08-18 02:54] yankeexe opened #1763 "How is infima actually working?"
Using v2, I deleted the "custom.css" which contained the Infima variables. But when I inspect the styles on the home page, infima variables are still injected,  `--ifm-hero-background-color`.

I looked at the v2 documentation which linked to the [Infima website](https://infima-dev.netlify.com/) but nothing is clear there, descriptions still have Lorem Ipsum. I am kind of confused on how to style t

[2019-08-18 03:15] wgao19 commented on #1763
D2 site by default uses the infima stylesheets. For basic customization, you may change the variables in `custom.css`. We do not include all the css variables there, but you can add more (those variables you hope to change when you inspect).

Infima not yet a public project and the docs are work in progress, we'll prolly need a bit of geeky spirit for now and learn the variable names by ourselves.

[2019-08-18 03:39] yankeexe commented on #1763
What I am doing right now is, inspecting the [Infima site](https://infima-dev.netlify.com/) and figuring out the class names. Is that the way to go? :sweat_smile:  If there are any WIP docs on Infima, can you link them? I tried looking at npm and GitHub but couldn't find one.

[2019-08-18 03:58] wgao19 commented on #1763
Unfortunately that is probably the best way to go atm 😅

It sounds to me that you are looking into more customized styling than tweaking Infima variables, in which case you can check out my [personal no-style starter](https://github.com/wgao19/docusaurus-template-no-style), or learn from there how to customize your site.

[2019-08-18 04:17] yankeexe commented on #1763
Thank you @wgao19 :slightly_smiling_face:

[2019-08-18 04:17] #1763 closed

[2019-08-18 07:46] yankeexe opened #1764 "How to implement sticky footer on new pages in v2?"
Created a new page and imported Navbar and Footer from theme
[code]
Footer is not sticky:
![Non-sticky footer](https://i.imgur.com/bbNb5AM.png)

Found, #637 fixing this issue. But couldn't locate the file that is changed here https://github.com/facebook/docusaurus/commit/b220ec2f23632d9e21334012cfea0abaca0f52d.

[2019-08-18 13:37] wgao19 commented on #1764
Sticky footer is not implemented in v2. However, you may customize your site’s footer by [swizzling](http://docusaurus-2.netlify.com/docs/using-themes#swizzling-theme-components) the default footer. You may try putting in the v1 footer and tweak it to work with your site.

[2019-08-19 16:57] chenhaihong commented on #1749
Same with u.

[2019-08-19 19:41] maurodelazeri opened #1766 "New install does not respect the --port specified to start"
## 🐛 Bug Report

I'm starting a fresh install, but it does not use the port specified with `--port`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. I'm starting a fresh install
2. yarn global add docusaurus-init
3. docusaurus-init .
4. cd website .
3.  yarn start --host 12

[2019-08-19 20:03] gustavosavio commented on #1766
The same behavior here...

[2019-08-19 20:15] maurodelazeri commented on #1766
Using docker same thing

[code]

it supposed to start on 3000 if not specified

[code]

[2019-08-19 23:43] maurodelazeri commented on #1766
Found what is causing this problem...

The version of yarn...

I have `v1.17.0` on a different computer and it works, but with the latest yarn `v1.17.3` it doesn't

[code]

[2019-08-20 08:24] ugg0t opened #1768 "Can't create project inside existing dir"
## 🐛 Bug Report

Error while creating project inside existing directory.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. ```mkdir test```
2. ```cd test```
3. ```npx @docusaurus/init@next init ./ classic```

## Expected behavior

Project is created inside test dir

## Actua

[2019-08-20 11:15] gustavosavio commented on #1766
I trying with npm in 6.10.3 version and this problem continue with the release 1.12. However with release 1.11.1 (Docusaurus) it works.

[2019-08-22 20:56] dt97 commented on #1640
@wgao19 I would like to contribute to some of the docs namely Guides/Blogs for a start. I went through the documentation and the docs folder of the project and went through the guides-blog.md file. But am unable to understand what type of changes to be in that doc piece. I am a beginner by the way so any help on this would be really appreciated.

[2019-08-24 03:13] yankeexe commented on #1764
Adding contents enough to fill the screen does the trick, for now, will look into making it sticky for all pages later on.

[2019-08-24 03:13] #1764 closed

[2019-08-24 15:47] stavalfi commented on #715
I have this problem too. it uses https url in azure by in my mac it uses ssh url.

[2019-08-25 14:33] wgao19 commented on #1640
hey @dt97 thank you for offering to help! Based on the file names you mention, seems like you are looking at v1 docs. To clarify, this issue is for Docusaurus v2, which is a completely new static site generator with focus on doc sites.

If you are hoping to hop on to v2, the toc in this issue are referring to the docs [in this directory](https://github.com/facebook/docusaurus/tree/master/website/d

[2019-08-26 10:29] dt97 commented on #1640
Thanks for the help. As suggested by you, I was looking out for the files in the wrong directory. I want to contribute to the docs namely Guides/Blogs for Docusaurus v2. I referred to the corresponding doc for Docusaurus v1 for getting some idea about it, but am unable to get a clear idea as to how to get Docusaurus v2 up and running on my macOS Mojave version 10.14.5 and access the Blogs section

[2019-08-27 13:47] xpluscal commented on #599
@jacarma @yangshun do you have a specific plugin at hand that would enable this functionality?

[2019-08-27 14:15] wgao19 commented on #1640
Hey @dt97, once again the [Docusaurus Installation](https://github.com/facebook/docusaurus/issues/1640#issuecomment-524809087) docs you are referring to is v1 docs. V2 docs are [in this directory](https://github.com/facebook/docusaurus/tree/master/website/docs), and a website version is [in Docusaurus v2 site](http://docusaurus-2.netlify.com/).

[2019-08-27 14:20] jacarma commented on #599
I had to use links

[2019-08-28 05:12] ntsd commented on #1258
@endiliey anyone doing it yet? or I can help.

[2019-08-29 00:44] chasm opened #1769 "Where is CompLibrary?"
I am trying to follow the [Docusaurus tutorial](https://docusaurus.io/docs/en/tutorial-create-new-site). The generated application is describe as having the following file structure, which is what is actually generated when I run the init command:

[code]

But in [the next step](https://docusaurus.io/docs/en/tutorial-create-pages), we are provided with the following `HelloWorld` page code:

[code]

[2019-08-29 15:32] dt97 commented on #1640
Thanks. Working on it!!!

[2019-09-04 08:43] incecumali opened #1770 "https://validator.w3.org"
## 🐛 Bug Report

there are lots of errors by validator.w3.org  and all errorrs are almost same:
`Element p not allowed as child of element span in this context.`
[Errors are here ](https://validator.w3.org/nu/?doc=https%3A%2F%2Fdocusaurus.io%2Fdocs%2Fen%2Fapi-pages)

https://validator.w3.org/nu/?doc=https%3A%2F%2Fdocusaurus.io%2Fdocs%2Fen%2Fapi-pages

[2019-09-04 12:46] daminort opened #1771 "It is impossible to publish to GitHub pages if I doesn't set user name and e-mail globally in Git"
## 🐛 Bug Report

I doesn't have global Git setting regarding user name and e-mail.
I set git config locally only for this my Docusaurus project, but when I try to publish my project to GitHub Pages I get an error:
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Remo

[2019-09-04 12:55] endiliey commented on #1771
its intended. we also explained in https://docusaurus.io/docs/en/publishing that u need to somehow set up the github auth. It might be unclear, accepting pr on docs for that.

[2019-09-04 12:55] #1771 closed

[2019-09-04 13:02] endiliey commented on #1770
is this a major issue ? I personally feel this is quite trivial and doesnt affect end user.

 there's no easy way to fix this on docu because the html is generated by markdown lib - Remarkable.  The generated markup includes a <p> element inside a <span> and that this is not allowed.

Wontfix

[2019-09-04 13:02] #1770 closed

[2019-09-04 13:06] endiliey commented on #1769
Nodejs require in docu v1 case will start from docusaurus own folder in node_modules/

Its kinda time consuming to explain, but short answer is above

[2019-09-04 13:06] #1769 closed

[2019-09-04 13:08] endiliey commented on #1760
Pls reopen if issue still persist. Seems ok now from travis log ?

[2019-09-04 13:08] #1760 closed

[2019-09-04 13:26] RoiArthurB commented on #1760
I've finded a workaround to fix it :

I'm running the `docusaurus-publish` command in background, and echo a message every 10 minutes to avoid the travis' timeout

[2019-09-04 13:28] endiliey commented on #1760
Its actually due to the build taking some time. What's interesting is ur travis timed out too fast if there's no log.

[2019-09-04 13:38] incecumali commented on #1770
Thank you for clarification,
I have no idea about majority of issue just  informed you about error to contribute your project.

[2019-09-04 14:31] RoiArthurB commented on #1760
I don't really know/understand what you mean by "too fast"...

I'm using the default free travis-ci.org which timeout every build after 10 minutes without console output...

[2019-09-04 14:44] endiliey commented on #1760
My bad, my definition of "too fast" is that 10 mins seems too short. I guess i'm on travis education so thats why im not seeing it.

Netlify free timeout is 30 mins
Circleci free is also longer, >= 30 mins

Anyway im glad there's a workaround

[2019-09-04 16:08] dt97 commented on #1640
While going through the [Docusaurus Contributing](https://github.com/facebook/docusaurus/blob/master/website/docs/contributing.md) document found that the [Discord Invite](https://discordapp.com/invite/9wrnhY) to join the docusaurus-2-dev channel seems to be invalid due to possible expiration of the invite. Not clear whether an issue needs to be created for this or not.
Kindly look into it @wgao19

[2019-09-04 17:47] wgao19 commented on #1640
Hey @dt97 can try [this link](https://discord.gg/sq3k3j7)?

[2019-09-04 17:48] MakcStudio opened #1772 "Set a different default language"
Hello everyone, tell me how to set another default language? I write documentation in Russian and I want it to be translated into English and Chinese, but I do not understand how I should set up my project for this

[2019-09-04 18:13] MakcStudio commented on #1772
I understand this was not implemented, I would certainly like to automatically receive the translation of all files from Russian to other languages, but I can do it manually. But I definitely need to default language of the user who first came to the site was Russian. How can I do that?

[2019-09-04 20:00] dt97 commented on #1640
Thanks @wgao19. The provided link works fine.
Created a demo Blog markdown file in my system after looking at the sample Blogs present in the my-website folder of the Docusaurus v2 clone made following the [Installation Guide](http://docusaurus-2.netlify.com/docs/installation).
Exploring the various features involving creation of blogs in v2 release and planning the documentation content side by s

[2019-09-05 01:11] wgao19 commented on #1640
Hi @dt97 yes it is perfectly ok to use v1 as example. Looking forward to you PR :)

[2019-09-05 10:15] wdavisf opened #1773 "Sidebar Not Showing in New Docs if doc id is not "doc*""
## 🐛 Bug Report

When adding new documents to the documentation, the sidebar does not show up if the id of the new document isn't `doc1`, `doc2`, ..., `doc*`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Create a new document
1. Write an id dif

[2019-09-05 10:19] endiliey commented on #1773
I dont think this is true. Pls provide reproducible repository. Even https://docusaurus.io own doc id is not always `doc*`.

There is no sidebar for newly added doc because you didnt add it to your sidebars.json

[2019-09-05 11:14] wdavisf commented on #1773
Hey @endiliey, I just took a look at another issue and found my answer: https://github.com/facebook/Docusaurus/issues/1296

I was trying to have the sidebar showing in documents which *are not* in the sidebar, and it's a built in feature that the sidebar doesn't show up in documents not present in the sidebar.

Therefore, I'm closing this ticket. Thanks!

[2019-09-05 11:14] #1773 closed

[2019-09-05 17:12] ntsd commented on #1258
@endiliey

Hey did anyone did it yet?

Maybe I can help contribute?

[2019-09-05 18:50] Vinnl opened #1774 "Relative URLs fail in combination with cleanUrl"
## 🐛 Bug Report

When [`cleanUrl`](https://docusaurus.io/docs/en/site-config#cleanurl-string) is `true`, relatively links in both `page.html` and `page/index.html` have the same target, whereas the former should e.g. be `target.html` and the latter `../target.html`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporti

[2019-09-05 22:40] potatodepaulo commented on #323
Any news on this? Do multiple nested subtrees work?

[2019-09-06 09:49] incecumali commented on #736
How can I remove external source of https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css
I downloaded `default.min.css` and placed  under 'css' folder of Docusurus but external link of  Cloudflare still appears
![external](https://user-images.githubusercontent.com/23002340/64418709-d1360f00-d09b-11e9-8d5e-98f0ca35d50b.png)

[2019-09-09 08:08] blackredscarf opened #1776 "There is a space in the right of the page"
There is a space in the right of the page when the width under 1115px. This space exists when initializing the project.

![](https://i.loli.net/2019/09/09/Nqw8HaSTU4GVr1L.png)

I try to change the CSS, but not help.

[2019-09-09 12:36] kaichaosun commented on #1638
Hey you can try the online version:
I have translated the title in sidebar like `Getting Started` in [Crowdin](https://crowdin.com/translate/substrate-developer-hub/90/en-zhcn#q=Getting+Started), but it's not showing in the [site](https://substrate.dev/docs/zh-CN/getting-started/).

I believe this is a multi-version issue, can you please confirm it?

[2019-09-09 18:11] BurdenBear opened #1777 "how can I add custom scripts in index.html's head part in docusaurus V2"
## ❓ Questions and Help
### In docusaurus V2, how can I add custom scripts in index.html's ```<head></head>``` part?

In docusaurus V1, there is a `scripts`  setting in siteConfig.js for customing of html's head content. But i can't find coresponding settings in V2.

According to https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2#layout

  The current state of Docusaurus is that it is in c

[2019-09-10 12:01] gimdongwoo commented on #1768
You executed the wrong command.
Correct command parameter is below.
`npx @docusaurus/init@next init [name] [template]`

[2019-09-10 15:38] husman opened #1778 "Support authentication through Github token."
## 🚀 Feature

This pull request enables clients to automate their Docusaurus deployment using Github access token.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

While integrating Docusaurus into a CI system that relies on Github access tokens for authenticating, I realized tha

[2019-09-10 20:02] dt97 commented on #1640
@wgao19 have created a draft markdown file for blog.md for Docusaurus v2, am reviewing it and would raise a PR soon. I have shared the same with you on Discord. Your inputs on any modifications required are most welcome.

[2019-09-11 08:43] wgao19 commented on #1640
@dt97 sure, will do by this week

[2019-09-11 13:50] blackredscarf commented on #1776
I found that the page of Draft.js has the same problem.

![2019-09-11_214921.png](https://i.loli.net/2019/09/11/W9ACfOzwn4JqkXH.png)

[2019-09-11 14:02] yangshun commented on #1776
I managed to reproduce the error on smaller screens. It seems that the footer link widths are exceeding the grid column span, that's the cause of the issue. PRs are welcome!

[2019-09-11 14:16] blackredscarf commented on #1776
@yangshun Hello. I checked the footer, but cannot find out where exceeds. Can you tell me how can I fix it?

[2019-09-11 14:33] yangshun commented on #1776
The links within the footer. Try deleting them and see that it works

On Wed, Sep 11, 2019, 7:16 AM BlackRedScarf <notifications@github.com>
wrote:

[2019-09-11 14:47] MakcStudio opened #1780 "Translation of blog pages"
All good day, tell me why not implemented translation blog pages (as well as pages in /docs/)
It would be very convenient

[2019-09-11 15:04] blackredscarf commented on #1776
@yangshun Thank you. I found it.

My temporary solution is adding the following CSS in `custom.css`.
[code]

[2019-09-13 14:10] leoz opened #1782 "[v2] yarn build crashes out of memory after 92% for huge files"
## 🐛 Bug Report

V2: ```yarn build``` crashes after 92%

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

Execute ```yarn build``` on some nontrivial amount of docs (e.g. 400 md files)

## Expected behavior

```yarn build``` does not crash and produces docs

## Actual Behavior

[2019-09-13 14:35] endiliey commented on #1782
Any reproducible repo? Hard to reproduce

Sent from Mail for Windows 10

From: Leonid Zolotarev
Sent: Friday, 13 September 2019 9:10 PM
To: facebook/docusaurus
Cc: Subscribed
Subject: [facebook/docusaurus] V2: yarn build crashes after 92% (#1782)

🐛 Bug Report
V2: yarn build crashes after 92%
Have you read the Contributing Guidelines on issues?
yes
To Reproduce
Execute yarn build on some nontrivia

[2019-09-13 19:23] leoz commented on #1782
Repo to reproduce: https://github.com/leoz/docusaurus_crash
@endiliey

[2019-09-13 20:52] leoz commented on #1782
I have a feel it might be related to a famous "92% chunk asset optimization" issue described e.g. here: https://github.com/angular/angular-cli/issues/5775

![](https://user-images.githubusercontent.com/6775220/35857499-a50da39e-0b39-11e8-94c4-63781df4562d.png)

[2019-09-14 07:15] #1776 closed

[2019-09-14 15:02] wgao19 commented on #1640
hey @dt97 i've read through the draft and it's looking great, plz go ahead and PR this in :]

[2019-09-14 15:56] BurdenBear opened #1784 "react-loadable module in v2.0, failed in ie11 with Object doesn't support property or method 'assign'"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

react-loadable module in docusaurus V2.0 failed in ie11 with exception:
Object doesn't support property or method 'assign'

![image](https://user-images.githubusercontent.com/5682650/64909933-4fea1680-d744-11e9-8211-8fbc2a11e22a.png)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaur

[2019-09-15 14:08] dt97 commented on #1640
@wgao19 have raised a [PR](https://github.com/facebook/docusaurus/pull/1786) on this.

[2019-09-15 18:55] ThisIsMissEm commented on #1703
This can now be closed as it's fixed @yangshun

[2019-09-15 18:56] ThisIsMissEm commented on #1703
Oh, wait, actually, no; I'm wrong there. @leavesster can you check with the current master of docusaurus as to whether the change in #1762 has the desired results for you?

[2019-09-16 13:05] leavesster commented on #1703
I'm glad to try. In #1671 I said It only render wrong headers on my website, so I will produce it on my website.

I'm unfamiliar with dependencies with GitHub URL (not the whole git repo, only a directory in it).

I've read the npm document. And I could not find a way to add a URL (not git homepage, just https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-1.x) to package.json ？

[2019-09-16 14:35] caomicc commented on #838
Can I ask why this is labeled as wontfix? I'm unable to use sass-loader and node-sass, but I am able to with generic react apps. Is there a way I can add this to the docusaurus.config.js?

[2019-09-16 14:38] yangshun commented on #838
@endiliey Why was this a wontfix?

@caomicc You can configure the webpack config using plugin lifecycle hooks. E.g. https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-live-codeblock/src/index.js

[2019-09-16 14:43] endiliey commented on #838
its alrd doable in v2 through plugin system. Its also not going to be implemented in v1.

[2019-09-16 14:45] endiliey commented on #838
Seems that i labeled it wrongly by mistake

[2019-09-16 14:54] yangshun commented on #1703
@leavesster We just published v1.13.0, see if upgrading to that fixes your problems!

[2019-09-17 04:44] leavesster commented on #1703
It works. Thank you ^_^

[2019-09-17 04:44] #1703 closed

[2019-09-17 14:31] #1778 closed

[2019-09-17 18:20] s-pace opened #1792 "DocSearch meta missing from the new released version"
## 🐛 Bug Report

I am part of the team from [algolia/Docsearch](https://github.com/algolia/docsearch) which features search for Docusaurus. We [rely on meta tags to pick up the right version from the pages generated](https://community.algolia.com/docsearch/required-configuration.html#introduces-global-information-as-meta-tags) by Docusaurus. The v2 does not include these meta tags anymore. The Alg

[2019-09-17 19:24] JoelMarcey commented on #1792
HI @yangshun - did we decide to remove these meta tags purposely or just not implemented yet?

[2019-09-17 21:11] yangshun commented on #1792
I think it's more of the latter. We will need them back eventually.

[2019-09-17 22:20] nebrelbug commented on #1792
@yangshun would it help if I put together a pull request? I'd really like to have these merged so I can add search on my site :smile:

[2019-09-17 22:23] yangshun commented on #1792
@nebrelbug Sure but I don't exactly know what the correct fix should be (because I'm not familiar with Algolia). I initially thought this wasn't necessary because v2 doesn't have versioning yet, so there cannot be multiple versions of Algolia for a site.

cc @endiliey

[2019-09-17 22:36] nebrelbug commented on #1792
Ah, right. @s-pace what needs to be done to fix this?

Also @yangshun, do you have a rough estimate of when versioning will be added?

[2019-09-18 06:38] s-pace commented on #1792
We need a page of version `x` and language `lang` to include the following meta tags:

[code]

This should be implemented at the same time as versioning then :)

[2019-09-18 06:59] endiliey commented on #1792
Will leave this open for now to serve as reminder

[2019-09-18 07:10] endiliey commented on #1749
Accepting PR on the docs. The instruction was meant for Linux command line. The way environment variable works in window is different

[2019-09-18 12:51] aeneasr opened #1793 "Add canonical meta data to avoid duplicate content when versioning"
## 🚀 Feature

Right now, multiple versions will cause duplicate content which is an issue for most search engines. The solution is to provide a canonical URL in the head section as described [here](https://support.google.com/webmasters/answer/139066?hl=en). This would tell the search engine to always link to this page.

The canonical link should always link to the current master.

To prevent docum

[2019-09-18 12:54] endiliey commented on #1793
But if the content is different, its a misnomer to link to the master version.

[2019-09-18 12:59] aeneasr commented on #1793
So what other strategy would you suggest? For our domain www.ory.sh/docs we have 219 affected pages and that is very visibly hurting our SERPs.

[2019-09-18 13:58] endiliey commented on #1793
I cant give perfect solution, but I can say that if this is implemented, it can lead to wrong search result. Example:

There are version 1 and 2 of docs "siteconfig"

in v1, field "blogsidebarcount" exist
in v2, that field is deprecated.

If we use canonical url, those that searched blogsidebarcount might got linked to v2 docs and its a misnomer.

[2019-09-18 14:00] endiliey commented on #1793
Furthermore, the algolia search might have inaccurate result. Notice that currently it can search based on version. Canonical url will make it link to wrong url

[2019-09-18 14:04] aeneasr commented on #1793
Is Algolia respecting canonical in the HTML search result? I thought it works different by indexing the raw content directly.

[2019-09-18 14:06] aeneasr commented on #1793
This could also be an opt-in feature by the way. Or even better, docusaurus could detect (it does that already) what documents have changed and only add canonical link to those that have actually changed. I don't really see how this could not be a good idea?

[2019-09-18 14:23] endiliey commented on #1793
yes algolia respect canonical meta tag.

Currently, without canonical url i can be specific on version search through google.
![image](https://user-images.githubusercontent.com/17883920/65156008-7d8ed280-da58-11e9-97aa-f8d4f55f0f1c.png)

I personally feel google's way of grouping similar content is not that bad though
![image](https://user-images.githubusercontent.com/17883920/65156339-1e7d8d80-da

[2019-09-18 14:29] aeneasr commented on #1793
I will unfortunately not be able to provide a PR in the near future.

I agree with your sentiment on version search, but I think linking to the most recent version if no changes have been made. The posted screenshots are actually a good example - see the duplicate result in your second screen? That's something that google and other search engines like to penalize. I'm not sure what has caused this

[2019-09-19 16:53] leoz commented on #1782
Hey, @endiliey , anything else I could provide to help investigation? This issue is pretty nasty. I cannot use Docusaurus V2 at all because of that.

[2019-09-19 17:06] endiliey commented on #1782
Can you try increasing ur memory limit ?
https://github.com/angular/angular-cli/issues/5618#issuecomment-450151214

[2019-09-19 17:17] endiliey commented on #1782
"92% chunk asset optimization" is most likely related to webpack - terser plugin. (during uglification/minification)

From the log, its out of memory problem
Maybe related https://github.com/webpack-contrib/terser-webpack-plugin/issues/143

[2019-09-19 17:21] endiliey commented on #1782
Quick hack/ workaround for you. Create a local docusaurus plugin and override webpack plugin  to set minification to false

https://github.com/facebook/docusaurus/blob/464bab01aacaa017f0e73b313d4180f2d8c46eb8/packages/docusaurus/src/webpack/base.ts#L68-L81

[2019-09-19 20:14] leoz commented on #1782
@endiliey , did it actually work for you?
If I patch local copy of docusaurus and set "minimize" to false and "minimizer" to undefined, the crash is still there.

[2019-09-20 10:42] defio opened #1794 "Broken links moving files on versioned documentation"
## 🐛 Bug Report

Using the versioning. When a file is moved from one directory to another in all past versions the links to that file are broken

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1.  docusaurus-init
2. add a folder `sub1` with two files `inner1.md` and `inner2.m

[2019-09-20 10:50] endiliey commented on #1794
I think there's some inaccuracy here.

According to
https://raw.githubusercontent.com/defio/docusaurus-broken-link/master/website/versioned_docs/version-1.0/doc1.md

the content was

[code]

Notice that its not `Go to [inner 2](sub2/inner2.md)` as you've described

https://raw.githubusercontent.com/defio/docusaurus-broken-link/master/docs/doc1.md

[2019-09-20 11:01] endiliey commented on #1794
Well actually that doesn't matter much but the reproduce step isnt accurate.

This is related to https://github.com/facebook/docusaurus/issues/845#issuecomment-404787152
Marking as duplicate. See more on that for details

There is no easy fix for this, I suggest maintaining the structure of the docs that has same id in different version

[2019-09-20 11:01] #1794 closed

[2019-09-20 11:04] endiliey commented on #1780
Design decision.

Please note that this issue tracker is not a help form and this issue will be closed.

[2019-09-20 11:04] #1780 closed

[2019-09-20 11:06] endiliey commented on #1777
Use `@docusaurus/Head` instead of Helmet

[2019-09-20 11:06] #1777 closed

[2019-09-21 04:56] Tranced commented on #1784
@endiliey I was just wondering if I could take this on!

[2019-09-21 05:54] endiliey commented on #1784
sure thing @Tranced

[2019-09-21 13:17] leoz commented on #1782
Well, unfortunately, I cannot  confirm it worked. I tried to increase the memory limit for node and it still crashed but later, on "Creating an optimized..." step. I used more docs though. Like 2x number of the docs I've posted on GitHub.

[2019-09-23 21:44] amimas commented on #1312
@rikoe - would you be able to share some details on how you've worked around it in V1?

[2019-09-24 11:04] endiliey commented on #1766
The only change between 1.11.x and 1.12.x is the version of `portfinder` package. No other code seems to touch the port code :o

[2019-09-24 19:36] maht0rz commented on #697
@bildungsroman i'm facing the same issue, even with `v1.13.0`

[2019-09-24 20:24] evilebottnawi commented on #1782
@leoz can you provide instruction(s) for https://github.com/leoz/docusaurus_crash? i want to investigate the situation

[2019-09-25 00:33] leoz commented on #1782
Hey @evilebottnawi , here you are:

[code]

[2019-09-25 05:42] prasathsekar opened #1799 "click on the title in the sidebar to expand and hide."
How to Expand and hide title of sidebar in docusaurus v2.

I have installed docusaurus V2. And the sidebar has 2- 3 categories.

But when i go to next category still the existing category list is opened.

I need a menu in the sidebar category section like expand and hide.

Check the images uploaded.

The first image is what i had done.

But i need like a second image.

[2019-09-25 06:06] endiliey commented on #1799
not implemented. Swizzle sidebar component if u want to customize it on ur own

[2019-09-25 06:07] endiliey commented on #1799
Closed b

[2019-09-25 06:07] #1799 closed

[2019-09-25 10:08] endiliey commented on #1748
swizzle CodeBlock component and remove the .trim() function

[2019-09-25 10:08] #1748 closed

[2019-09-25 10:09] #1669 closed

[2019-09-25 10:09] #1433 closed

[2019-09-25 11:10] evilebottnawi commented on #1782
thanks, investigate

[2019-09-27 15:42] evilebottnawi commented on #1782
@leoz A new version of `terser-webpack-plugin` change logic for source map generation, previously we generate broken source maps, now they are correct, unfortunately it takes more memory, we can do nothing on our side unfortunately, terser consume a lot of memory when working with source maps and need improve terser to reduce memory usage. Solution only `node --max_old_space_size=16000`, maybe you

[2019-09-30 08:24] zeineb opened #1803 "How to create clickable images?"
Hello,

I need to make images clickable.
I have this in my index.js:
[code]
I didn't know how to add as attribute.
Any help is more than welcome!

[2019-09-30 14:15] kristofferjalen commented on #1208
Any updates?

[2019-10-01 13:59] kristofferjalen opened #1804 "'autoreconf' is not recognized as an internal or external command"
Installation fails due to gifsicle requiring `autoreconf` not available on Windows.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

`npm install docusaurus`

## Expected behavior
Installation succesful.

## Actual Behavior

[code]

[2019-10-01 14:53] endiliey commented on #1804
I couldn't reproduce. From the log, its most likely environment problem, we can't do anything from our side to fix it.

You should open an issue with gifsicle if you think they are doing something incorrectly.

[2019-10-01 14:57] endiliey commented on #1804
What is your environment ? try `npx envinfo` and copy the result.

[2019-10-01 20:28] amimas opened #1805 "Relative docs links are broken in "versioned" docs when building with "skip-next-release""
## 🐛 Bug Report

When the site is built with the option `--skip-next-release`, relative links from one doc to another in the *versioned* docs are broken.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Clone this repository: https://github.com/ami

[2019-10-01 20:55] leoz commented on #1782
In can pass "Client" configuration (with some hacks),
but it gets stuck on "Server" stage:

[code]

[2019-10-02 06:53] kristofferjalen commented on #1804
This seems to be related to #1758. I'm behind a corporate proxy, which seems block a process in the postinstallation script of gifsicle in which something is downloaded from GitHub. As a fallback gifsicle then compiles from source instead, throwing an error because it uses an executable that not exists on Windows.

I realize it's not for docusaurus to fix, but maybe it could be an idea to review i

[2019-10-02 06:55] endiliey commented on #1804
You might consider a fork to remove imagemin. We definitely need it to optimize the image. Removing it would mean breaking changes.

[2019-10-02 07:40] kristofferjalen commented on #1804
Ok, I understand. I close the ticket then. Thanks.

[2019-10-02 07:40] #1804 closed

[2019-10-02 09:06] endiliey commented on #1803
Not doable with Block component provided.

[2019-10-02 09:06] #1803 closed

[2019-10-03 13:48] tomcam opened #1807 "Can't find a "Create minimal site" command"
` docusaurus-init` creates sample website/blog with a complete tree sample markdown files, blog source, and so on. I imagine there's some way to ` docusaurus-stub` that would output the minimum `/website directory`, empty `/website/README.md`, , minimum `package.json`, minimum `siteConfig.js` and so forth. What is that command?

Or if it doesn't exist am I simply expected to run ` docusaurus-init`

[2019-10-03 14:36] endiliey commented on #1807
Run the Docusaurus installation script: `npx docusaurus-init`

 or if you prefer to install Docusaurus globally, run `yarn global add docusaurus-init` or `npm install --global docusaurus-init` After that, run `docusaurus-init`

[2019-10-03 14:36] #1807 closed

[2019-10-03 15:37] tomcam commented on #1807
Is there an option to create a minimal site?

[2019-10-03 15:48] endiliey commented on #1807
None.

[2019-10-03 15:48] endiliey commented on #1807
None.

[2019-10-03 15:51] tomcam commented on #1807
OK thanks.

[2019-10-03 16:16] yangshun commented on #1807
@tomcam There aren't too many files to delete and they will help you understand the structure better in case you need them in future. Let us know if we can be of any assistance!

[2019-10-03 16:23] tomcam commented on #1807
Really appreciate it, Yangshun Tay. Thanks tons!

On Thu, Oct 3, 2019 at 9:16 AM Yangshun Tay <notifications@github.com>
wrote:

[2019-10-04 07:13] endiliey commented on #1782
@leoz

try upgrading to alpha.25 and then bump memory limit
[code]

I think that's the only solution as of now. I cant reproduce the crash anymore now after increasing memory limit.

![image](https://user-images.githubusercontent.com/17883920/66188176-d6917400-e6b0-11e9-88c1-48490a6ef8e4.png)

You can also try to tweak node_modules/@docusaurus/core/lib/webpack/base.js and add this line.
[code]

It

[2019-10-04 10:10] andresmanelli commented on #1784
@Tranced  @BurdenBear I added #1808 to try to resolve this, maybe you can take a look. Thanks!

[2019-10-04 15:44] leoz commented on #1782
```futureEmitAssets: true``` option did not make any difference.

However this command worked:

[code]
This is, of course, not a solution but rather a workaround. But it solves my problem for now :)
Thanks!

[2019-10-05 17:56] benblank commented on #1766
I am unable to reproduce this with docusaurus-init@1.12.0 and docusaurus@1.13.0.  According to the linked issues, this bug appears to have been reverted upstream.

[2019-10-06 03:22] endiliey commented on #1766
deps bug. Have been patched though

[2019-10-06 03:22] #1766 closed

[2019-10-06 03:22] #1768 closed

[2019-10-06 11:34] Hardik500 opened #1810 "Cannot find module '../build/Release/sharp.node'"
## 🐛 Bug Report
I tried installing docusaurus locally. Using the yarn build commands.
But when I reached the yarn build stage, I faced an error.
Saying:
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Clone the repo
2. cd into the repo
3. R

[2019-10-07 12:40] endiliey commented on #1285
This is already supported out of the box in v2.

[code]

Both `old` and `new` is equivalent. In fact, `old` (v1 syntax) is transformed to `new` through https://github.com/facebook/docusaurus/blob/1591128cdd0e1741e6f3b1b559859137a51c24cb/packages/docusaurus-plugin-content-docs-legacy/src/sidebars.ts#L90-L115

[2019-10-07 12:40] #1285 closed

[2019-10-07 15:16] endiliey commented on #1772
Can't do it now. This will be part of v2 instead. Close as #938 duplicate

[2019-10-07 15:16] #1772 closed

[2019-10-07 18:52] #827 closed

[2019-10-07 23:03] endiliey commented on #868
#1812

[2019-10-07 23:03] #868 closed

[2019-10-07 23:03] #1182 closed

[2019-10-08 04:37] alexieyizhe commented on #1196
@endiliey is anyone working on this? if not, I'd love to give it a shot 👍

[2019-10-08 05:36] endiliey commented on #1810
try reinstall. this error is not happening in clean state of vm image (eg: CI)

or report to sharp ?

[2019-10-08 05:36] #1810 closed

[2019-10-08 06:21] yangshun commented on #1810
This just happened to me. Probably because I changed to a different Node version (12) after installing on a previous Node version (10). Try installing again by doing `yarn` or `npm install`. Worse case delete `node_modules` then try reinstalling again.

[2019-10-08 08:38] endiliey commented on #1196
cc @yangshun

Sent from my iPhone

[2019-10-10 02:32] lexaBear42 opened #1824 "CleanUrl Small Suggestion"
## 📚 Documentation

A small suggestion: I am using Docusaurus to create a static documentation page for work. Because it will ultimately not be hosted I have run into a couple issues trying to use the built site statically. My suggestion is simply to add a clarification to the documentation (https://docusaurus.io/docs/en/site-config#cleanurl-boolean) that lets users know to set the cleanUrl variab

[2019-10-10 04:29] murugancmi opened #1825 "Code block with language tabs"
I am using docusaurus V2.

My project consists of four programming languages like python, php, java, nodejs.

If use Language-specific Code Tabs

![2](https://user-images.githubusercontent.com/25261553/66539259-0cb57480-eb45-11e9-900a-098e6b5e690c.png)

I am getting the following output shown in the image.

![1](https://user-images.githubusercontent.com/25261553/66539094-944eb380-eb44-11e9-8e1b-1a

[2019-10-10 14:13] prasathsekar opened #1826 "sidebar category expand and close"
How to Expand and hide category of sidebar in docusaurus v2.

I have installed docusaurus V2. And the sidebar has 2- 3 categories.

But when i go to next category still the existing category list is opened.

I need a menu in the sidebar category section like expand and hide.

Need sidebar shown in the image. Or is there any other ways to do that ?

![1](https://user-images.githubusercontent.com/25

[2019-10-10 15:12] prasathsekar opened #1827 "Unable to add custom url to logo"
Hi i am using docusaurus v2.

i am having an issue in forwarding the custom url to the logo.

When clicking the logo at the top left corner it is always forwarded to the home page.

But i need a custom url to forward.

i have used the following code in docusaurus.config.js

logo: {
        alt: 'logo',
        src: 'img/logo.svg',
      },

Tell is there any other way to forward my custom url in t

[2019-10-10 21:09] parvezakkas opened #1828 "Page titles rendered using H1 should have an ID for permanent link"
## 🐛 Bug Report

Currently in V1 of docusaurus, when the site is generated, it uses the `title` metadata of each markdown files (default/out of the box behaviour). However, this title does not have any id or anchor links unlike all other headings found in the markdown files.

This is causing a very weird behaviour when the title of the page matches search results (if algolia search is integrated).

[2019-10-11 03:55] endiliey commented on #1827
Not doable。Swizzle your navbar for your own custom behavior. Note that our issue tracker is not a help forum, use the right channel like Discord instead.

Closed because not following issue template

[2019-10-11 03:55] #1827 closed

[2019-10-11 10:13] zeineb commented on #1803
I could solve it by changing the above code into:

[code]

[2019-10-11 11:37] Berkmann18 commented on #789
Is there any estimated release time or something?

[2019-10-12 07:25] yangshun opened #1834 "😎 Get swag for migrating websites to Docusaurus 2!"
_**Tip: This is a task that requires at least a few hours of commitment (can be more, depending on the website) and it targeted at people who want to learn more about Docusaurus and Open Source.**_

Docusaurus 2 has reached a mature alpha stage. We want to help some existing Docusaurus 1 sites migrate to Docusaurus 2. We've done this ourselves for [Create React App](https://create-react-app.dev) (

[2019-10-12 07:53] endiliey commented on #1782
@leoz

do you mind trying to use https://github.com/themgoncalves/react-loadable-ssr-addon/pull/18
and patch your docusaurus node_modules/react-loadable-ssr-addon with it ?

[2019-10-12 09:12] Croftyland commented on #1834
Hi, I will take https://callstack.github.io/react-native-testing-library/

[2019-10-12 09:30] AMashoshyna commented on #1834
Hi, can I please take  https://testing-library.com/?

[2019-10-12 11:01] ahmadalfy commented on #1834
I would love to claim  https://facebook.github.io/watchman/

[2019-10-12 12:18] imazik commented on #1834
hi can I please take -
https://testing-library.com/

[2019-10-12 16:04] sshhdaniella commented on #1834
Hi, I would love to do: https://facebookincubator.github.io/fbt/

[2019-10-12 18:28] yangshun commented on #1834
@Croftyland thanks for your enthusiasm! In general we prefer that you do one at a time so that you have a better idea of how doing one is like, and end up overcommitting. It's fine for now but feel free to let us know if it's too much and you would like to put some websites "up for grabs".

@AMashoshyna Definitely!

@ahmadalfy Of course! That'll be challenging! P.S. Nice to see you again

@imazik

[2019-10-12 18:28] diegowifi commented on #1834
Hi @yangshun

I would like to migrate 3 websites:

https://pybowler.io/
https://fasttext.cc/
https://redux.js.org/

[2019-10-12 18:31] yangshun commented on #1834
@diegowifi Sure thing, it's yours!

[2019-10-12 18:38] yangshun commented on #1825
We haven't built out that feature yet. We'll be working on it.

[2019-10-12 20:44] renatovieiradesouza commented on #1111
you can use bcl for this, install by npm. https://www.npmjs.com/package/broken-link-checker

[2019-10-13 03:12] imazik commented on #1834
ok I will go for - https://fbredex.com/

[2019-10-13 07:41] steric85 commented on #1437
Hey! Can I take  https://graphql-code-generator.com/ ?

[2019-10-13 08:42] Hongarc commented on #1437
It has been approved in dotansimha/graphql-code-generator#1821

I think you can help @NishealJ to create PR.

[2019-10-13 14:05] ThakurKarthik commented on #1834
Hi @yangshun can i take https://fbredex.com/ . This  will be my first issue for open source ! <3

[2019-10-13 14:45] ozgunbal commented on #1834
Hi @yangshun I posted migration request to https://facebook.github.io/react-360/ .  I'm waiting green light from them :smiley:

[2019-10-13 17:55] talisonfc commented on #424
I created a 'script' folder inside static, and I added the path 'script/filename.js' in scripts array on siteConfig.js

My static folder:
static
    - css
    - img
    - script
        - index.js
`scripts: ['https://buttons.github.io/buttons.js', "scripts/index.js"]`

[2019-10-13 18:19] lzhuor commented on #1834
Hi @yangshun, may I take https://fasttext.cc/blog/ ? Thank you.

[2019-10-13 19:49] yangshun commented on #1834
@ThakurKarthik Great, welcome to open source! Do note that migration work is non-trivial and could be overwhelming to people who are new to open source

@ozgunbal Sure thing, thanks!

@lzhuor Do you mean the entire site or just the blog? Either way, sure!

[2019-10-14 02:25] endiliey commented on #424
you should append the baseurl

so /scripts/index.js

[2019-10-14 03:00] yangshun commented on #424
You should append the `baseUrl` yourself. Reason being we may want to allow scripts that are not from the `build` directory.

[2019-10-14 11:36] endiliey commented on #1825
See #1836

[2019-10-14 11:36] #1825 closed

[2019-10-14 12:07] endiliey commented on #1782
Upon another fresh install & investigation, this shall still crash in alpha.27 although the memory usage is reduced significantly.

![image](https://user-images.githubusercontent.com/17883920/66749869-26441c80-eeb5-11e9-83b6-be96eb4d7a73.png)

 This is somehow related to clean-webpack-plugin use of webpack `stats.toJson()` object. I have submitted a PR for them https://github.com/johnagan/clean-we

[2019-10-14 12:19] iamandrewluca commented on #789
Proposal: Evergreen documentation
I don't think this should be implemented into Docusaurus, but to keep in mind.

From times to times it happens that docs remain behind code.
Would be great to have a validator that will test if docs reflect latest code changes. I think it could be used as a prebuild step.

This package allows to validate documentation files
https://github.com/Originate/text-runner

[2019-10-14 12:37] #1782 closed

[2019-10-14 16:18] jesuslerma commented on #1834
Hi @yangshun

I would like to migrate  https://www.fbidb.io

[2019-10-15 02:19] faelribeiro22 commented on #1698
@endiliey This issue is still open?

[2019-10-15 02:53] endiliey commented on #1698
@faelribeiro22 yep it is. wanna work on it ? 😉

[2019-10-15 04:06] endiliey opened #1841 "[v2] update v1-v2 migration guide docs on sidebars category"
## 📚 Documentation

In v1, we only allow 1 nested level sidebar depth. It's infinity in v2

Compare
https://docusaurus.io/docs/en/navigation#adding-subcategories
and
https://v2.docusaurus.io/docs/sidebar#category

Turns out that v1 subcategories type 'category' is named `subcategory` and `items` is named 'ids'.

Update the migration guide https://github.com/facebook/docusaurus/edit/master/website/

[2019-10-15 04:49] dnafication commented on #1834
Hi @yangshun I would like to work on https://myrocks.io/
Is there any specific timeline to complete this?

[2019-10-15 05:19] yangshun commented on #1834
Hey @dnafication, no there's no strict timeline, but the sooner the better. We will ask you about your progress and may reassign to someone else if if we see that there's no progress/response. This happens very often in Open Source 😥

[2019-10-15 05:23] dnafication commented on #1834
Thanks for the quick reply @yangshun
I did reach out to the repo owners and opened an issue with the text provided by you. Awaiting their response.  https://github.com/facebook/mysql-5.6/issues/1054

[2019-10-15 21:36] parvezakkas commented on #1828
@endiliey - Thanks for reviewing this bug report. Do you agree with my assessment of this issue? I think the required change for this is straight-forward (set an `id` for the title) but I don't have any way of testing or validating the fix.

[2019-10-16 05:17] endiliey commented on #1828
Actually this is happening to v2 site too, but it isn't a problem there because `__docusaurus` because it points to the main body div id.

Happening in reactjs.org too, try searching `This page is an overview` and they'll point to `https://reactjs.org/docs/getting-started.html#___gatsby`

cc @s-pace from algolia for suggestion.

[2019-10-16 06:50] s-pace commented on #1828
👋 @endiliey @parvezakkas

In order to have the best redirection possible, we highly recommend website owner to add a unique `id` to headings (`lvlx` selectors defined from the DocSearch configuration)
These headings should expose a unique "anchor". Anchors are extracted from HTML attributes (`name` or `id`) added to headers that will allow the browser to directly scroll to the right position in th

[2019-10-16 09:26] #1841 closed

[2019-10-16 16:01] yangshun commented on #1834
Hi folks helping out with the migration, please note that you don't have to make the v2 landing page look *exactly* the same as v1, unless you've been requested by the maintainer to do so.

- v2 uses a different CSS framework and it is not necessary to make the landing page components look exactly like v1 (referring to the call-to-action button and the footer). Most importantly is contents, then t

[2019-10-16 20:03] Croftyland commented on #1834
Hi @yangshun,

All sites, which were taken, are done and pull requested. Only got problem with https://libspectrum.io/ due to protected branches

[2019-10-16 20:18] Croftyland commented on #1834
Can I take https://pyre-check.org/?

[2019-10-16 22:06] yangshun commented on #1834
@Croftyland could you tag this issue in your PRs so that we can better track? Yes if you've completed the rest, feel free to take Pyre Check. For Pyre they have some ASCII cinema embed which you can follow how [Hydra embeds it](https://cli.dev/docs/tutorial/tab_completion).

[2019-10-17 01:24] EricPonvelle commented on #1824
I created this pull request, but I am waiting for the team to validate my contribution - https://github.com/facebook/docusaurus/pull/1847

Until then, can you review and let me know if that's clear enough? This is a great edge case.

[2019-10-17 01:58] EricPonvelle commented on #1110
I created this pull request to clarify the text - https://github.com/facebook/docusaurus/pull/1848

[2019-10-17 02:55] EricPonvelle commented on #1169
I created a section on Google Documents.

[2019-10-17 03:40] #1110 closed

[2019-10-17 03:41] #1824 closed

[2019-10-17 04:09] endiliey opened #1850 "[v2] make https://v2.docusaurus.io/showcase/ nicer"
**Tip: This task is targeted towards potential contributor to Docusaurus project.**

## 🚀 Motivation

Prerequisites
- Reactjs
- HTML
- CSS
- JavaScript

Currently, our showcase https://v2.docusaurus.io/showcase/ show the landing page preview of our v2 user, but I think its not a good idea because landing page of our user can keep changing. Example:

https://uniforms.tools/ looks like this in our s

[2019-10-17 04:25] jyangchisyan commented on #1850
Hi @endiliey Could I pick up this issue? :)

[2019-10-17 04:28] endiliey commented on #1850
@jyangchisyan sure thing. Just send a PR, we will take a look later on and merge it if its looking good.

[2019-10-17 05:12] endiliey commented on #1850
@jyangchisyan how do you plan to revamp it ? we might not want it to be logo, we just want it to be nicer.

[2019-10-17 05:29] endiliey commented on #1850
Sorry for the confusion. We are not going ahead to change it to logo after some internal discussion. No need to work on it anymore

[2019-10-17 05:29] #1850 closed

[2019-10-17 06:30] jyangchisyan commented on #1850
It's fine, hope the project better : )

[2019-10-17 10:48] jackyef opened #1851 "[v2] styling bug when using the default preset for algolia search"
## 🐛 Bug Report

The styling for algolia search seems to be broken in some cases when using docusarus v2.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Go to https://react-isomorphic-data.netlify.com/
2. Type "with" or "use" into the searchbar.

[2019-10-17 17:12] Croftyland commented on #1834
@yangshun I have mentioned you on issues

If everything is fine and merged, will do next site

[2019-10-18 06:23] endiliey commented on #1851
Related css here https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css

[2019-10-18 11:22] yangshun commented on #1851
I did some digging into the issue and I think the root cause could be one of these two:

1. Algolia changed some HTML and CSS but because we cloned their CSS in `docusaurus-theme-search-algolia/src/theme/SearchBar/styles.css`, our CSS is outdated and no longer matches the updated styles.
1. Algolia currently has a bug.

See the attached screenshots. I was comparing the difference between the worki

[2019-10-18 13:46] endiliey commented on #1851
Its reactjs.org css 😊.

The default one wasnt as nice and iirc is only available through cdn. Also colocated the css so that its swizzle-able easily.

P.S: waiting for stable release of docsearch v3 which is so much smaller in bundle size and came with dark/light theme css. They rewrote it from scratch and no longer relies on zeptojs

[2019-10-18 18:24] lexaBear42 commented on #1824
@EricPonvelle This looks great! Thanks so much for addressing it ^.^

[2019-10-18 23:09] ozgunbal commented on #1834
@yangshun I can start another migration. https://github.com/facebookincubator/profilo/issues/46 is currently waiting for review. I am available for new challenge. Is https://facebook.github.io/react-360/ good to start?

[2019-10-20 19:22] #1169 closed

[2019-10-21 04:09] #1784 closed

[2019-10-21 15:26] leoz commented on #1782
This issue is completely gone with Docusaurus v2.0.0-alpha.29.
Great job, guys!
Thank you!

[2019-10-21 15:30] endiliey commented on #1782
@leoz sure thing. Actually had to send two PRs to fix this issue (cos its dependency problem).
We can do better to even reduce the RAM usage, but that will require us to fork another webpack plugin we're depending on.

btw your amount of docs is very huge. 😢

[2019-10-21 17:15] parvezakkas commented on #1828
Thanks @s-pace for the explanation.

@endiliey - Do you agree that all docusaurus generated `h1` needs to have an id? I haven't checked the V2 code yet, but for V1 I believe the `id` needs to be set here on line 241

https://github.com/facebook/docusaurus/blob/b56adb7ca1e8a0f473b33c00385e902e46c50409/packages/docusaurus-1.x/lib/core/Doc.js#L236-L248

[2019-10-22 00:39] dnafication commented on #1834
Hi @yangshun I have not got any response from the maintainers of the myrocks.io yet. I can pick up another one in the mean time. I already managed to work on 50% of their site as it was a bit small.

[2019-10-22 05:14] endiliey commented on #1828
v2 wont have an id and thats intentional, because the main div body already has id="__docusaurus".

We wont put anchor on both v1 and v2, but I think putting id can make sense for v1 to avoid this scrolling bug. Naturally it will be best to slugify the h1 title, but since the beginning of docusaurus, we never slugify it and it could potentially conflict with other headings defined in markdown

e.g

[2019-10-22 09:28] s-pace commented on #1828
Thanks for the details @endiliey

Sorry but I don't get what are the drawbacks of having a unique `id` or `name` attribute to every headers? It is a [W3C recommendation for handling links and redirections](https://www.w3.org/TR/html401/struct/links.html).

Having the main div body's `id` set to `"__docusaurus"` is a good start. However, the redirection will not be as accurate as having every heade

[2019-10-22 09:42] endiliey commented on #1828
Hmmm. Well, to be honest I don't really know why we did so. (had to ask @JoelMarcey as the original author of Docusaurus), but I think its because we actually just don't want the page title as destination anchors. Similar to how the wc3 example don't want `Table of Contents` to be a destination anchor. That's why the h1 doesnt have an id

https://www.w3.org/TR/html401/struct/links.html
![image](ht

[2019-10-22 09:45] endiliey commented on #1828
P.S Interestingly algolia docs also dont have `id` for its `h1`. https://community.algolia.com/docsearch/what-is-docsearch.html
![image](https://user-images.githubusercontent.com/17883920/67274730-3da18c00-f4eb-11e9-9787-de454a6b1090.png)

[2019-10-22 09:58] s-pace commented on #1828
Thanks for the prompt reply and the clarification @endiliey

DocSearch Documentation doesn't expose an `id` for `h1` because there is no need to scroll down for these results since h1 are at the top of the page. Every other header does/should expose a unique `id` or `name`. By headers, I meant every `<hX/>` markup, not only h1. Same reasoning applies for webpack. Just notice that this issue is onl

[2019-10-22 10:04] endiliey commented on #1828
Yep its actually the same for our case too. We didn't put `id` for `h1` because page title are at the top of the page. All other `<hX />` will have `id`. Even `h1` header that is not located on the top of the page will have `id`. (only the most top one don't)

Sure thing. Naturally we want to dogfood docsearch v3 as well when it came out to all of our v2 users

[2019-10-22 13:40] parvezakkas commented on #1828
@endiliey - Just for clarification, are you saying that v2 of docusaurus does not need an `id` for the `h1` element that is used as the page title? I just checked the v2 site and looks like it has the same issue (I think you mentioned that once):

![image](https://user-images.githubusercontent.com/2721901/67290365-fb0d8e80-f4ad-11e9-8719-75c9a302b8be.png)

In my opinion, all `<hx />` elements shou

[2019-10-22 13:59] endiliey commented on #1828
Just <h1 id=”__docusaurus” className="postHeaderTitle">{this.props.title}</h1> to fix it in v1

Sent from Mail for Windows 10

[2019-10-23 00:48] JoelMarcey commented on #1828
I don't recall the exact reason for this, but I believe @endiliey is correct. At the time, we were not going to anchor h1s. It's very possible though it was just an artifact of how we developed the project and wasn't a real conscience decision.

cc @deltice in case he remembers (Hi 👋)

[2019-10-23 00:48] JoelMarcey commented on #1828
@s-pace Love this! :)

[2019-10-24 10:13] pedroscaff opened #1877 "Hash link not properly generated / encoded"
## 🐛 Bug Report

If a doc page with a `<h1>` tag that contains, for example, a `&` character, the hash link (`href`) is not properly generated in the right-side bar.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Doc page with a
[code]

## Expected behavior

The generate

[2019-10-24 14:57] nicholasgcoles opened #1878 "[V2] Color of menu arrow in dark mode"
## 🐛 Bug Report

This is a **TINY** bug. The color of the menu link arrows in dark mode is black.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Screenshot
![image](https://user-images.githubusercontent.com/1975028/67497092-bfc1ba00-f67d-11e9-825f-218911ba6bfe.png)

## Expected behavior
T

[2019-10-24 16:13] endiliey commented on #1878
Its one of our dependency (currently still closed source) bug. But we will fix it there

[2019-10-24 16:15] parvezakkas commented on #1877
This issue can also been seen in docusaurus site right now. Try the following link:

https://docusaurus.io/docs/en/publishing#tips-amp-tricks

The above link is generated by the table of content on the right side. The correct link is:

https://docusaurus.io/docs/en/publishing#tips-tricks

[2019-10-24 18:29] binarylogic commented on #1763
Thanks. Is there any reason this project is private? What are the downsides of making it public while it's being developed?

[2019-10-24 19:59] bravo-kernel opened #1879 "Configurable syntax highlighting languages"
I am creating this ticket for v2 after discussing with @endiliey to start the discussion (ping @langpavel).

## 🚀 Feature

Extend `docusaurus.config.js` so users can easily add/remove prismjs syntax highlighting languages.

## Motivation

Currently:
- docusaurus ships with a hard-coded set of 32 languages (out of 192) enforced by [prism-react-renderer](https://github.com/FormidableLabs/prism-react

[2019-10-24 21:55] deltice commented on #1828
Yup, this wasn't really something that had a lot of deliberate thought put into it, we just didn't have anchors for page titles.

[2019-10-25 00:28] itelo opened #1881 "Interactive Demo"
## 🚀 Feature

The interactive demo lets users explore the visual results of the different props passed, like [Material-ui Grid](https://material-ui.com/components/grid/#interactive)

![image](https://user-images.githubusercontent.com/11433064/67534525-ddeee080-f6a4-11e9-8d85-ee7e7fa4f428.png)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/mast

[2019-10-25 02:09] kenning commented on #1437
I'm using docusaurus for a social media video game i'm making. It's a work in progress, but i'm planning on open-sourcing the code to allow the users to contribute.

It's not going to have over 500 stars, but we have 2000 subscribers to our subreddit... https://reddit.com/r/collectivecg

I thought it might be an interesting way for you to show that the project is versatile enough to be used for pu

[2019-10-25 03:22] endiliey commented on #1437
@kenning it looks awesome. We’ll be happy to showcase it :)

[2019-10-25 04:31] kenning commented on #1437
Thanks!! I'll get back to you when it's done.

[2019-10-25 04:31] moozzyk commented on #1698
Is the idea here to pretty much follow the logic used in the plugin-content-blog but instead of pushing posts to paginated results create an RSS feed (potentially using rss or feed package)?

[2019-10-25 04:38] endiliey commented on #1698
yep. @moozzyk

[2019-10-25 04:55] endiliey commented on #1881
You can already import JSX in Markdown for v2, so this is already achievable. Its all up to user's creativity :)

For example:
https://uniforms.tools/docs/examples-custom-fields
https://uniforms.tools/docs/examples-custom-fields/#imagefield

[2019-10-25 04:55] #1881 closed

[2019-10-25 06:54] raptor-minds opened #1884 "we want to customize out header just like we can do that for the footer"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be u

[2019-10-25 06:59] endiliey commented on #1884
It looks like you just deleted our lovely crafted [issue template](https://github.com/facebook/docusaurus/issues/new/choose). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please note that this issue tracker is not a help form an

[2019-10-25 06:59] #1884 closed

[2019-10-25 09:58] s-pace opened #1886 "doc(v2): Package useBaseUrl is documented while not available"
## 📚 Documentation

The [v2 documentation](https://v2.docusaurus.io/docs/static-assets/#jsx-example) states that one can import the following package `@docusaurus/useBaseUrl`. This package is not publicly available.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

I have checked if this package

[2019-10-25 10:01] endiliey commented on #1886
@s-pace it's actually an alias to https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/src/client/exports/useBaseUrl.js

For alpha <=27 its named `withBaseUrl`

I suggest updating to alpha.30 and `Watch for releases` in our repository
https://github.com/facebook/docusaurus/releases
https://github.com/facebook/docusaurus/blob/master/CHANGELOG-2.x.md

[2019-10-25 10:01] #1886 closed

[2019-10-25 10:58] s-pace commented on #1886
Thanks @endiliey

[2019-10-25 11:49] pranshuchittora opened #1887 "[color]: dark-mode sidebar nav link have bad contrast ratio"
## 🐛 Bug Report

(A clear and concise description of what the bug is)
The sidebar nav links in the dark mode have bad contrast ratio.
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Visit https://create-react-app.dev/docs/depl

[2019-10-25 16:38] moozzyk commented on #1698
I will try to tackle this then.

On Thu, Oct 24, 2019 at 9:39 PM Endi <notifications@github.com> wrote:

[2019-10-25 17:34] parvezakkas commented on #724
@endiliey - Would you consider a solution for V1? I manage several docmentation site built with Docusaurus V1 and I need to integrate with Google Tag Manager.

I could probably use an external script to add code snippets provided by Google Tag Manager but I don't think that is helpful. The tag manager should be loaded as soon as possible. The following quick start guide shows that there two places

[2019-10-26 03:53] endiliey commented on #724
Sorry but v1 is in maintenance mode now.

[2019-10-26 05:06] #1878 closed

[2019-10-26 05:40] #1887 closed

[2019-10-27 05:20] shinxi opened #1897 "Multiple block quotes don't have line breaks"
## 🐛 Bug Report

There's no line break between 2 block quotes.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

## Expected behavior

## Actual Behavior

![image](https://user-images.githubusercontent.com/1262296/67630048-33e9a100-f8bc-11e9-9c30-2047f950342a.png)

[2019-10-27 10:36] mishal23 commented on #1834
Can I try https://fbinfer.com/?

[2019-10-27 20:19] #254 closed

[2019-10-27 20:22] yangshun commented on #1752
Correction - this issue is not related to #1871 (got misled by #1871's inaccurate description). #1896 is the fix in the right direction.

[2019-10-27 20:27] yangshun commented on #1235
From the screenshots, this is probably due to the expanding/collapsing feature after the page loads. Docusaurus 1 initially renders the page with collapsing of all the categories, only after the page loads will we find which page is currently active and expand the category containing that page. One potential fix is to move the expansion/collapsing into the React component so that when we prerender

[2019-10-28 05:19] yangshun commented on #1745
Maybe we could trim a leading `$ ` (dollar AND a space) from code block if it was present. I'm opting for not doing anything and prefer users just omit the `$` if they don't want people to be copying it.

[2019-10-28 05:38] yangshun commented on #1834
@mishal23 definitely! Thank you!

[2019-10-28 05:41] endiliey commented on #1745
With current implementation of v2, user can easily override the CodeBlock source code with one single command (swizzle)

This make it easy for them to create very customized behavior. Example:
https://twitter.com/dai_shi/status/1178673454419103750?s=20 can convert typescript to javascript code

Hence, i feel we should not doing anything in our side and let user customize their own

[2019-10-28 05:42] yangshun commented on #1834
@ozgunbal sure you could do React 360 too.

@dnafication After looking into the project deeper, I think myrocks.io isn't a good project to work on as their website haven't been update in more than a year. Feel free to pick another small one if there are any available.

[2019-10-28 05:44] #1745 closed

[2019-10-28 05:46] endiliey commented on #1438
Do we still need this RFC? at this point it seems we're already going forward with it 😢

[2019-10-28 05:46] #1438 closed

[2019-10-28 05:47] yangshun commented on #1438
Lulz not enough signal obtained here. Let's just close it.

[2019-10-28 05:50] endiliey commented on #248
This is now possible with powerful v2 plugin system.

Example: someone created it programatically to redirect
https://github.com/CanopyTax/single-spa.js.org/blob/46b46c97e0dee70b2c65c2c41484422fe399e6eb/website/src/plugins/docusaurus-plugin-redirects/src/index.js

[2019-10-28 05:50] #248 closed

[2019-10-28 05:57] yangshun commented on #248
@endiliey should we make that plugin by @lex111 a core plugin?

[2019-10-28 06:02] endiliey commented on #248
I prefer not, if we're to maintain it, we need to make it very general. That one is still hardcoded and havent support a config for `from` and `to` redirect yet, Maybe not at this point, maybe on release.

It's like how wgao tried to create another theme-no-style, thankfully its not in docusaurus repo, there's been quite some breaking change on theme implementation alrd (eg: metadata, themeconfig,

[2019-10-28 14:21] parvezakkas commented on #724
I guess it's your call as the maintainer of Docusaurus but isn't it a bit too early since V2 is still in alpha stage?

Unfortunately the workaround is a little too heavy. My only option (as far as I can think of) is:

- Introduce a custom post-build process that will go through every html files generated and insert the necessary script blocks for google tag manager. This is too much work.
- Use an

[2019-10-28 14:35] parvezakkas commented on #1897
I don't think this is a docusaurus issue. I believe this is how the markdown parser underneath that's generating this result. Try your sample markdown in the following markdown renderer by remarkable:

https://jonschlinkert.github.io/remarkable/demo/

You'll notice that you get the same result as the screenshot in your "Actual Behaviour"

[2019-10-28 15:18] endiliey commented on #724
I'll be honest here. The more we add up feature to v1, the more it introduces more work for us to backport it to v2. It's also two completely different codebase. Reviewing takes time. And this is not just a matter of huge change/ not. The moment we accept new feature request, people will keep requesting new feature or sending new feature in. Well, most open source project out there usually can jus

[2019-10-28 16:04] parvezakkas commented on #724
I understand. Thanks for all of your time and effort. It's a great tool for getting up and running with Documentation easily.

[2019-10-29 05:56] endiliey commented on #1897
Report to remarkable if you think it's a bug. I think it's indeed expected behavior

[2019-10-29 05:56] #1897 closed

[2019-10-29 06:57] endiliey commented on #1640
Currently, it's not so obvious what are the available themeConfig option for `@docusaurus/theme-classic`. We should document it https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-theme-classic

Example: https://github.com/facebook/docusaurus/pull/1909/files

[2019-10-29 11:25] yinghao-smtx commented on #897
I am using this as a workaround:

1. Use relative paths in your markdown so images show up in your local markdown editor without setting something like an image root path
2. Disable cleanUrl so the relative paths will break after markdown files are converted to html

Absolute paths are great if the markdown files are for websites only. But unfortunately, I am also running the same markdown files t

[2019-10-29 12:56] dylmye commented on #1749
I'll have a look at this today! :)

[2019-10-29 15:24] endiliey commented on #1792
its done like this however https://v2.docusaurus.io/docs/docusaurus-core#head-

[2019-10-29 16:49] #1749 closed

[2019-10-29 19:11] dt97 commented on #1640
If I'm not wrong we need to augment the existing documentation for [using-themes](docusaurus/website/docs/using-themes.md) for v2 to add details about themeConfig option for @docusaurus/theme-classic right?

[2019-10-30 00:52] #1851 closed

[2019-10-30 02:31] endiliey commented on #1640
You can start editing https://v2.docusaurus.io/docs/theme-classic for the theme config. I have provided an example

[2019-10-30 08:05] mesaugat commented on #1834
If anyone wants to let go of any claimed "Beginner Level" website. I can pick it up. 🙂

[2019-10-30 08:59] RoiArthurB opened #1919 "[TRAVIS] TypeError on SVG during docusaurus-publish"
## 🐛 Bug Report

During the Travis build of the website, the console return a TypeError for every SVG files. The error is not blocking and the website has been generated anyway and it should be related to an update (it was not doing it before).

Below a short log of the error, and here's a link to the full build : https://travis-ci.org/gama-platform/gama-platform.github.io/builds/604853476

[code]

[2019-10-30 18:32] binarylogic opened #1921 "Right TOC does not include headings generated outside of markdown"
## 🐛 Bug Report

This is for `v2`.  The right TOC for documentation pages does not include headings that were generated outside of the markdown syntax.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Add a `<h2 id="my-anchor">Title</h2>` HTML tag anywhere in a documentatio

[2019-10-30 19:25] dt97 commented on #1640
Sure thing.

[2019-10-31 03:26] moozzyk commented on #1919
https://github.com/svg/svgo/issues/1180

[2019-10-31 06:04] endiliey commented on #1919
dependencies.

[2019-10-31 06:04] #1919 closed

[2019-10-31 06:27] endiliey commented on #1921
This is intended. JSX and/or HTML tag is left as it is. If you try https://github.com/remarkjs/remark-toc, I believe it will produce the same behavior as well

You can check this behavior in v1 as well.
Changing this behavior will break everyone's URL.

![image](https://user-images.githubusercontent.com/17883920/67923882-b2f31800-fbe1-11e9-967c-a5cdd93d4947.png)

[2019-10-31 06:27] #1921 closed

[2019-10-31 15:01] binarylogic commented on #1921
Hm, I disagree with this behavior, the purpose of the TOC is to summarize the content hierarchy which the `h*` tags represent. Is there no way to ensure a custom `h*` will be included there? This is particularly problematic for custom compnents that define their own headers.

Thanks for the help.

[2019-10-31 15:06] s-pace opened #1924 "v2 Can't resolve withbaseurl when swizzling component from @docusaurus/theme-classic"
## 🐛 Bug Report

Given [the breaking change `withBaseUrl` being renamed to `useBaseUrl`](https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.28), it is not possible anymore to use `@docusaurus/preset-classic:^2.0.0-alpha.31` with the latest package `@docusaurus/theme-classic: ^2.0.0-alpha.23` which rely on old naming `withBaseUrl`

### Have you read the [Contributing Guidelines on iss

[2019-10-31 15:07] s-pace commented on #1924
cc @endiliey who [claims this issue.](https://github.com/facebook/docusaurus/issues/1640#issuecomment-518275368) 🙏

[2019-10-31 19:18] Hardik500 commented on #1834
Can I take https://frescolib.org/ ?

[2019-11-01 09:15] goransle opened #1927 "[V2] viewing Docusaurus V2 site through Google Translate causes 'page not found'"
## 🐛 Bug Report

When viewing a Docusaurs (V2) site via Google Translate it ultimately routes to 'page not found' after a brief flash of translated page. [Example using the Docusaurus v2 docs](https://translate.google.com/translate?hl=no&sl=en&tl=no&u=https%3A%2F%2Fv2.docusaurus.io%2Fdocs%2Flifecycle-apis)

### Have you read the [Contributing Guidelines on issues]

Yes

## To Reproduce

1. Open a

[2019-11-01 16:53] goodlux opened #1928 "Need a quick Docusaurus V2 example of developing a plugin."
## 📚 Documentation

Complete noob here, trying to write a simple plugin for Docusarus v2.

Trying to use these docs  to reach that end:

https://v2.docusaurus.io/docs/advanced-plugins

I realize this doc is a WIP at this stage, but it is a bit of a mish-mash, and I'm having trouble trying to instantiate and use a local plugin after installing. I've tried everything and now my eyes are bleeding.

W

[2019-11-01 20:44] marujart opened #1932 "Redirect to docs from index page."
Since I don't have a landing page, I would like to redirect to the main doc page `docs/main`
I tried to follow the instructions: https://docusaurus.io/docs/en/site-creation#docs-landing-page
from v1, but they dont seem to work for v2.
Can someone please give me instructions on how to accomplish this?
I have very limited experience with React. 
THANK YOU!

[2019-11-02 11:49] sourabh2311 commented on #969
Apologies for replying late. If you want to understand my approach, start by learning about Travis and see how to convert markdown to pdf using pandoc. What I am essentially doing is whenever I make a commit to my docusaurus site, my Travis script converts those markdown files (which are listed in sidebars.json) to pdf then simply merge them and push it to my other repository.

[2019-11-03 10:05] MathewtheCoder commented on #1834
Can I take https://pyre-check.org/ ? @yangshun

[2019-11-03 10:25] wgao19 commented on #1932
One way I think of doing this is to imperatively redirect in `pages/index.js`:

[code]

[2019-11-03 10:30] yangshun commented on #1932
Be sure to add the `baseUrl` via `useBaseUrl` just to be more robust.

Alternatively, use the `<Redirect>` component: https://v2.docusaurus.io/docs/docusaurus-core#redirect-

[2019-11-03 10:32] wgao19 commented on #1928
Hi @goodlux what kind of plugins are you trying to write?

For plugins that perform a single task that does not participate in the static site's build step, you can take a look at [the gtag plugin](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-google-gtag/src/index.js).

If you hope to write a plugin like `docs` or `blog`, i.e., the kind that parses content into pag

[2019-11-03 14:55] yangshun commented on #1834
@Hardik500 sure thing!
@MathewtheCoder yep go ahead!

[2019-11-03 14:58] endiliey commented on #1932
The best way is to actually create `index.html` file in `static` folder that redirect like https://docusaurus.io/docs/en/site-creation#docs-landing-page

Above approach works well but will require you to download all the JS first (including React)