[2021-02-03 21:44] dulinriley commented on #2724
@slorber I'm running into this issue as well for the Hermes website, using "@docusaurus/core@2.0.0-alpha.69".

Was this fixed in any newer version of docusaurus?

[2021-02-04 09:01] slorber commented on #2643
Came across this Hashnode doc homepage: https://support.hashnode.com/

I think this kind of UI can be nice for the auto-generated category index:

![image](https://user-images.githubusercontent.com/749374/106868855-95a7d600-66cf-11eb-988e-7b8d474edd1e.png)

If there are nested items on a 3rd level we could add a `(count)` text and if there are too many level2 items we could add some kind of accord

[2021-02-04 10:30] slorber commented on #2724
Hi @dulinriley

I don't see the /doc folder in that repo 😅

If the image is in /static, my reco would to to avoid relative paths. These paths are useful when you want to colocate assets close to the doc (possibly translate/vesion them alongside the markdown files).

If a file is in /static/img/foo.png, you should just use `/img/foo.png` and it should work in all cases.

I can give more advice if y

[2021-02-04 10:59] slorber commented on #4165
Yes definitively, but it's not so simple.

We use react-loadable as a core lib that does not support React 17.

![image](https://user-images.githubusercontent.com/749374/106883076-c4c64380-66df-11eb-8a79-428aa9cd5bf0.png)

As the lib is not very maintained, we should likely migrate to loadable-components, or create our own fork of react-loadable (probably the simplest solution)

[2021-02-04 12:35] HonkingGoose commented on #4165
Also seems related to #3617.

[2021-02-04 17:00] RDIL commented on #4138
I'm going to rebuild the plugin loader to allow plugins to interact with each other.

[2021-02-04 17:54] dulinriley commented on #2724
The link is to a subdirectory of the Hermes repo. If you go one directory up from `website` you'll see `doc` as one of the subdirectories.

I can try putting them in the static directory instead and see if that fixes my problem

[2021-02-04 18:02] dulinriley commented on #2724
I moved the images to the `/static` directory but that didn't solve the issue, I still get:
[code]
That's adding the following to the docs/IR.md file:
[code]

(and after moving the directory `doc` to `website/docs`)

[2021-02-05 01:52] Zamiell opened #4180 "Broken Markdown link detection should also work for internal links"
One fantastic feature of Docusaurus 2 is that it warns me if I have a broken link in one of my Markdown files:

[code]

This feature is really helpful and a huge time saver!

However, this feature does not work with internal links on the page.

For example, consider the following Markdown file:

[code]

Docusaurus won't warn me about the bug in this file, which is a real bummer. =(
Is this somethi

[2021-02-05 05:22] f0rb1d commented on #3526
@slorber Hi there. Lots of content have been translated since I commented. I want to see preview and adjust translations based it. Could you please also enable the language on the website? Thank you in advance.

[2021-02-05 13:59] KishaniKandasamy opened #4181 "Couldn't Visit the page without its prefix"
## 🐛 Bug Report

My docs contains a downloads page . when routing to download page I couldn't  visit the  page without its docs prefix.I need **downloads only to be active** but here both doc and downloads   are in active.
I change the path in  docusaurus.config,js and try to solve this but It won't work as I expected.Can anyone help me?
![105868307-03e5fc00-6031-11eb-81f8-ed02465e2ea1](https://us

[2021-02-05 14:03] HonkingGoose commented on #4181
For anybody who wants to help, here is the source repository for the website: https://github.com/KishaniKandasamy/apisix-website

[2021-02-05 14:45] slorber commented on #4181
Thanks @HonkingGoose

If it's a standalone page not in any sidebar, you'd rather make it a "markdown page":
https://v2.docusaurus.io/docs/next/creating-pages/#add-a-markdown-page

Please keep issues for bug reports, and use github discussions or Discord if you struggle to achieve your goal

[2021-02-05 14:45] #4181 closed

[2021-02-05 14:54] slorber commented on #3526
Hi @f0rb1d

Unfortunately, I don't see much content that has been translated so far.
https://crowdin.com/project/docusaurus-v2

![image](https://user-images.githubusercontent.com/749374/107048872-b3f1fc80-67c9-11eb-9698-ba5e27a5de40.png)

I think we don't want to put online translations that are mostly incomplete, but rather have a minimum threshold to put the translated site online, maybe around

[2021-02-05 15:05] slorber commented on #4180
Yes, we definitively want this feature, duplicate of https://github.com/facebook/docusaurus/issues/3321

[2021-02-05 15:05] #4180 closed

[2021-02-05 15:17] slorber commented on #2724
@dulinriley can you show me a failing PR so that I see what you are attempting to do exactly?
Give me a link to the exact image + the doc of that PR, and I'll tell you what to do
It's hard to debug something remotely that I can't inspect 😅

[2021-02-06 02:30] Zamiell opened #4182 "Broken Link"
Hello,

When using Docusaurus, I got the following error message:

[code]

This appears to be coming from the following line of source code:

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/theme/hooks/useThemeContext.ts#L17

This link of `https://v2.docusaurus.io/docs/theme-classic#usethemecontext` is broken, so I have no idea what to do next.

[2021-02-06 07:56] Ningensei848 commented on #3526
@slorber Hi ! 👋 Greetings from Japan 🗻 🗾 🏯 👺

I couldn't find the Japanese folder, so I will help you with the translation as soon as the subfolder is added.

p.s.
I found that the Japanese folder exists in the [v1 project](https://crowdin.com/project/docusaurus). I'm going to practice using [CrowdIn](https://crowdin.com/) a bit there until a new folder is created in the v2 project.

[2021-02-06 09:31] vamsi3 commented on #4182
#4183 I made a PR to fix the broken link.

[2021-02-06 10:17] vamsi3 opened #4184 "Support for Code Tabs"
## 🚀 Feature

Support for Code Tabs primarily in docs which is similar to this from Docusaurus v1.

https://docusaurus.io/docs/en/doc-markdown#language-specific-code-tabs

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Many open-source projects involve using multiple languages

[2021-02-06 12:49] lex111 commented on #4184
Please read this doc https://v2.docusaurus.io/docs/next/markdown-features/tabs

[2021-02-06 12:49] #4184 closed

[2021-02-06 21:31] lex111 commented on #4182
Thank for the report, it has been fixed in #4183.

[2021-02-06 21:31] #4182 closed

[2021-02-07 03:04] RDIL opened #4186 "Strange error presented"
## 🐛 Bug Report

Hey all,

I just created a new docusaurus site as part of a brand new tutorial series I'm filming about it, and... I got the strangest error.

I tried reinstalling with yarn, clearing my cache, etc, but nothing worked.

Error:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2021-02-07 07:15] hyochan commented on #3317
Really thanks for this! Is there any goal to use `FBT` optionally?

[2021-02-07 09:33] lex111 commented on #4186
Couldn't reproduce this using Windows machine with Node version 14.15.4.

Are you sure you are creating new project with the `npx@docusaurus/init@latest init my-website classic` command?
In any case, we need the reproducible repo.

[2021-02-07 11:57] KishaniKandasamy commented on #2193
The docs link is broken when I add  routeBasePath: '/', .Is there any solution to solve this ?

[2021-02-07 12:32] KishaniKandasamy opened #4187 "docs link is broken when adding routeBasePath: '/',"
// docusaurus.config.js
module.exports = {
  // ...
  presets: [
    [
      '@docusaurus/preset-classic',
      {
        docs: {
          routeBasePath: '/',
        },
      },
    ],
  ],
};
The docs link is broken when I add routeBasePath: '/', .Is there any solution to solve this ?

[2021-02-07 15:30] bumblefudge opened #4191 "dependabot is throwing high-severity warnings on version of `immer` - warning pasted below"
Dependabot cannot update immer to a non-vulnerable version
The latest possible version that can be installed is 1.10.0 because of the following conflicting dependencies:

@docusaurus/core@2.0.0-alpha.70 requires immer@1.10.0 via a transitive dependency on react-dev-utils@10.2.1
@docusaurus/preset-classic@2.0.0-alpha.70 requires immer@1.10.0 via a transitive dependency on react-dev-utils@10.2.1
The

[2021-02-07 16:16] RDIL commented on #4186
I used @canary

[2021-02-07 19:23] lex111 commented on #4191
Related PR: https://github.com/facebook/create-react-app/pull/10412

[2021-02-07 20:12] matthew-dean commented on #3515
Of the suggested solutions, this is the only option that worked for me. Doing `nohoist` on the `docs` package did not work.
[code]

[2021-02-08 09:19] slorber opened #4192 "Use the color-scheme CSS property"
## 💥 Proposal

There's a CSS property for color-scheme that I was not aware of and that could be useful for Docusaurus:
https://twitter.com/argyleink/status/1358060379000037377
https://drafts.csswg.org/css-color-adjust/#color-scheme-prop

[2021-02-08 12:48] Rahulm2310 commented on #3513
Is this issue available? I would like to help. Thanks 🙂

[2021-02-08 12:52] Rahulm2310 commented on #3417
Hello, I am a first timer. Is this issue available ?

[2021-02-08 14:52] slorber commented on #4187
Hi,

Please include more context or we can't help you.
Use new.docusaurus.io to provide a repro.

Also this does not look like a bug but rather a question, and we have github discussions for that.

If you change the basepath for docs (if if it's / and not /docs), then for sure you have to fix all your site links that include `/docs/` because they are now broken.

[2021-02-08 14:52] #4187 closed

[2021-02-08 14:57] #4088 closed

[2021-02-08 14:58] slorber commented on #4186
[code]

Couldn't reproduce with canary either

[2021-02-08 15:00] slorber commented on #4191
see also https://github.com/facebook/docusaurus/discussions/4093

I think @yangshun reported internally at FB that we are waiting for this CRA fix

[2021-02-08 15:01] slorber commented on #2193
Fix the broken docs link

[2021-02-08 15:05] RDIL commented on #4186
Thats not good!  When I get home I'll upload the repro to a repository with node_modules included

[2021-02-08 15:19] slorber commented on #3513
@Rahulm2310 I think we should not implement this feature until we have a clear idea what the UX on mobile should be => https://github.com/facebook/docusaurus/issues/2220

(if we did, it would only be temporary, so if you have a nice temporary solution to suggest, why not, but we may not keep it in the long term)

[2021-02-08 15:30] slorber commented on #3417
@Rahulm2310 the feature is still available but as you can read, we are not sure yet of the design of this feature in the first place.

If you want to contribute to this feature, the first step is to define the behavior / API we actually want for this feature.

[2021-02-08 15:32] slorber commented on #3317
Thanks @hyochan . We don't plan to have first-class support for FBT, but I clearly want to make the integration possible. That goal will be reached when we'd be able to integrate FBT demos directly in its documentation here: https://facebook.github.io/fbt/

[2021-02-08 16:01] slorber commented on #3526
@Ningensei848 I've enabled japanese here: https://crowdin.com/project/docusaurus-v2/ja

[2021-02-08 18:30] nicolas-actyx opened #4197 "Rendering behaviour of custom react components"
## 🐛 Bug Report

When visiting our documentation website https://developer.actyx.com/, the rendering behavior is quite strange (see below clips). The homepage contains custom react components that are then imported in `index.js`. When visiting the website or reloading it, the components are either rendered not at all with all of the text appearing first and then after a split second the components

[2021-02-08 23:01] lex111 commented on #4197
Try setting the height and width for the hero.svg image, something like this (via `style` or `width`/`height` attributes):

![image](https://user-images.githubusercontent.com/4408379/107292357-be86ed00-6a7a-11eb-8208-2c425eba580d.png)

[2021-02-09 01:56] dulinriley commented on #2724
@slorber I made a PR for this: https://github.com/facebook/hermes/pull/450

That PR contains the error message. For that PR I also tried moving the `doc` directory underneath the website directory but that didn't fix it.

[2021-02-09 04:45] fross123 commented on #1059
What would a plugin look this look like? I'm trying to solve this one at the moment as well. I haven't really found a way to get the .rst files from sphinx to build in a format thats useful to use in Docusaurus.

[2021-02-09 05:39] JoelMarcey commented on #1059
cc @brianjo @dmitryvinn-fb

[2021-02-09 07:22] noworneverev commented on #3526
Hi @slorber, I can help with Traditional Chinese (zh-tw). Thanks.

[2021-02-09 08:29] slorber commented on #3526
Thanks: https://crowdin.com/project/docusaurus-v2/zh-TW

[2021-02-09 15:31] #4157 closed

[2021-02-09 16:39] HonkingGoose opened #4208 "Constrain max-width of admonition box"
## 🚀 Feature

Pick a sensible `max-width` for the admonitions box to prevent them from becoming excessively large.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

I made some mock-ups for new admonitions in the Infima repo (see https://github.com/facebookincubator/infima/issue

[2021-02-09 17:43] papanito commented on #1258
@ghost I did as suggested but it complains

[code]

[2021-02-09 19:05] slorber commented on #2961
FYI the next release will have a `configurePostCss` lifecycle, can be useful for Tailwind until we have first-class support
https://github.com/facebook/docusaurus/pull/4185

[2021-02-10 16:26] slorber commented on #2724
Hi @dulinriley

You need to run `yarn add url-loader -D` to the website folder and it works.

I think it fails because the md image paths are converted require() calls, needing `node_modules/url-loader` to exist, but it does not exist because it's just a transitive dependency of Docusaurus. Will try to see how to fix that.

[2021-02-10 18:05] dulinriley commented on #2724
Is it just a dev dependency, or is it needed for the production website build?

[2021-02-10 18:28] slorber commented on #2724
yes sorry it is useful to run yarn build if you build on the CI (so remove -D)

[2021-02-10 18:35] slorber commented on #3526
0% is 0% no matter the versioning system.

We also use the "hide duplicates strings" feature from crowdin so if 2 versions are similar strings aren't counted multiple times. So when you see "5%" Chinese, it's pretty accurate of the amount translated of upstream docs, just a little bit lower (at least in our case as versions are quite similar).

Translations are already fetched whenever code is mer

[2021-02-11 08:07] lokha opened #4213 "I want to give my opinion on version 2"
good afternoon, I'll start by saying that your documentation is very good. and I chose you by comparing with many options

i am using the first version of your documentation

you are now actively developing version 2. but why then did I install the first version for myself?

I don't like the design of version 2. The first version was nicer to the eye. I'm talking specifically about the documentati

[2021-02-11 10:04] slorber commented on #4213
Thanks

How can I answer that 😅  we advise to use v2

![image](https://user-images.githubusercontent.com/749374/107622165-bdf77d80-6c57-11eb-83c7-4c1a8fd79241.png)

The v2 is fully customizable, so even if the default look-and-feel does not please you, you can achieve what you want anyway.

Look at the showcase for v2 site examples:
https://v2.docusaurus.io/showcase

With custom designs:
- https:/

[2021-02-11 10:04] #4213 closed

[2021-02-11 10:12] lex111 commented on #4165
I don’t really understand how this issues is related to Docusaurus in your case, because your site is not place in separate package?

https://github.com/vazco/uniforms/blob/ec5030886f0af285657583e58654b29ef280c153/packages/uniforms/package.json#L27-L29

As for `react-loadable`, it implicitly supports React 17, doesn't it?

https://github.com/jamiebuilds/react-loadable/blob/6201c5837b212d6244c57f37

[2021-02-11 11:14] radekmie commented on #4165
@lex111 it's because we use Lerna to manage the repo and the website (using Docusaurs) has a playground, that imports the packages. To make it work, we either have to have the same versions everywhere or install non-local (npm) versions of the packages. In this case, we lose the functionality to develop the website using local packages completely.

[2021-02-11 11:19] slorber commented on #3526
I've set up a preview deployment for staging locales.
Will add any locale for which there is active translation work going on.
For now I just added `zh-CN`.

- Preview: https://docusaurus-i18n-staging.netlify.app/
- Netlify site: https://app.netlify.com/sites/docusaurus-i18n-staging
- Trigger a build: `curl -X POST -d {} https://api.netlify.com/build_hooks/602511032ce0923d1b6cd220`

I did not auto

[2021-02-11 12:23] lokha commented on #4213
ok, so here's a suggestion: make the background darker like it did in version 1 and / or make the text color lighter. because when completely black text on a completely white background, it looks too contrast

for example, these themes look nicer to me than the standard one:
https://infinum.github.io/eightshift-docs/docs/basics/basics
https://support.hashnode.com/docs/mapping-domain/

[2021-02-11 15:26] RDIL commented on #4027
## Progress report

In my PR, I have successfully repaired development and production builds.

### Dependencies

This change requires updating a ton of dependencies. It has also added, removed and changed a few, such as:

[code]

### Things that _do_ work

- Development server is perfectly fine
- Production build works (throws a type error on netlify right now, about to fix after clicking the comm

[2021-02-11 17:52] carlskii opened #4216 "Using injectHtmlTags() to add script to header"
Hi,

I'm using the latest v2 and have followed the docs [here](https://v2.docusaurus.io/docs/next/lifecycle-apis#injecthtmltags) for injectHtmlTags() e.g.

[code]

However, it does not appear to be injecting my script file. Is there a specific folder structure that the plugin should be within ?

[2021-02-11 20:48] carlskii commented on #4216
I didn't define the plugin in the `docusaurus.config.js` file.

[2021-02-11 20:49] carlskii commented on #4216
I didn't define the plugin in the `docusaurus.config.js` file.

[2021-02-11 20:49] #4216 closed

[2021-02-11 20:59] carlskii opened #4217 "Embedding animation (script) in document"
Hi, I need to embed some animations into my documents. These are created in Tumult Hype and would normally embedded as scripts within a div. e.g.

[code]

However this seems to break the MDX parsing. Is there a way to deal with this uses case using plugins ?

[2021-02-12 10:43] slorber commented on #3526
FYI the classic theme also ships with some default translation bundles for theme labels, like "next" / "previous" pagination buttons etc...

If you. want to help, please create a similar translation bundle for your language.

You can just copy this file and localize the messages:
https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/codeTranslations/fr.json

[2021-02-12 11:23] slorber commented on #4165
![image](https://user-images.githubusercontent.com/749374/107762113-ccfc2f80-6d2c-11eb-9854-50bd9c94a034.png)

It accepts any React as a dependency, but this is quite unsafe in practice.

componentWillMount should have been completely removed in React 17, but it seems the removal has been postponed to React 18, so my assumption was wrong and we are lucky this time! (cf my comment: https://github.c

[2021-02-12 16:04] #3617 closed

[2021-02-12 16:04] #4165 closed

[2021-02-12 16:07] slorber commented on #3841
FYI next version will use React 17 by default, and I've published a fork of `react-loadable` to get rid of the dev deprecation warning.

https://github.com/facebook/docusaurus/pull/4218

We'll still have to migrate or find a solution to support React 18 though so I'll keep this issue open

[2021-02-12 16:27] slorber commented on #4217
Hi,

We have github discussions and Discord for questions.

Yes it breaks MDX parsing, as documented you have to use JSX and curly braces.

[code]

Also I don't think React would allow you to add a script inline directly in a mdx doc like that, but you can use site config or `@docusaurus/Head` instead.

I don't know anything about Tumult Hype

[2021-02-12 16:27] #4217 closed

[2021-02-12 21:59] csestito opened #4221 "Algolia DocSearchPage doesn't inherit searchParameters"
## 🐛 Bug Report

The search parameters e.g. facets passed into searchParameters are used for the SearchBar, but don't carry over to the DocSearchPage.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

If possible, use https://new.docusaurus.io to create a CodeSandbox reproducib

[2021-02-15 17:13] slorber commented on #4221
Yes you are right

Duplicate of https://github.com/facebook/docusaurus/issues/3805

[2021-02-15 17:13] #4221 closed

[2021-02-15 18:58] slorber commented on #4197
Hi,

You are using Styled-Components on the homepage, and it is producing FOUC because we don't extract the critical CSS of your homepage during the SSR process, and the HTML files don't contain the required styles.
You can see the problem by simply disabling the JavaScript and loading your site.

Unfortunately, we don't support CSS-in-JS yet, and it would require some kind of docusaurus-plugin-st

[2021-02-15 18:58] #4197 closed

[2021-02-15 19:03] eshkaflex commented on #3526
Hello! I can help with Russian Language.

[2021-02-15 19:17] slorber commented on #3526
Russian enabled :)
https://crowdin.com/project/docusaurus-v2/ru

I've re-enabled the top30 Crowdin locales, that will be simpler as your locale is more likely to already be enabled.

[2021-02-16 01:04] jcayzac opened #4227 "@docusaurus/init@latest not compatible with Node LTS"
## 🐛 Bug Report

`@docusaurus/init@latest` has transitive dependencies on `chokidar@2` and `fsevents@1`, which are broken on Node 14+.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. `npx -y @docusaurus/init@latest init docusaurus-docs classic`

## Expected behavior

Proj

[2021-02-16 06:25] renatodex commented on #3317
Just heard that the Docusaurus team got some progress with the i18n feature!
That's awesome! I'm the owner of Fables & Goblins, an Open Source RPG System oriented in a Goblin world.
And we are using Docusaurus to host the Online Book documentation:
htttps://www.fabulasegoblins.com.br

Currently, it's entirely written in Brazilian Portuguese, but I would like to try the latest non-stable version to

[2021-02-16 08:09] bennodev19 commented on #3236
So the fouc has something to do with docusaurus and not with styled components?
https://stackoverflow.com/questions/66212466/css-styles-get-applied-with-1s-delay-styled-components?noredirect=1#comment117063613_66212466

[2021-02-16 08:19] slorber commented on #3236
It has something to do with both.
If you use server-side rendering like Docusaurus, Gatsby or Next, a CSS-in-JS like Styled-Components need proper integration with the framework to ensure critical CSS is inlined in the HTML files.
It is documented on SC here: https://styled-components.com/docs/advanced#server-side-rendering

[2021-02-16 08:30] bennodev19 commented on #3236
ok.. so the issue can only be fixed in docusaurus itself?
I will take a look into this..
Wanted to find out a bit more about server side rendering anyway ^^

[2021-02-16 08:30] slorber commented on #3317
@renatodex we'd appreciate if you try it and give us feedback, but in my opinion, it's already working fine and you should try it. Just use the `@canary` npm dist tag

[2021-02-16 15:02] gurrrung opened #4228 "the website is horizontally scrollable"
## What is the current behavior?

Website is being scrollable horizontally for pages like:
https://v2.docusaurus.io/docs/api/themes/configuration
https://v2.docusaurus.io/docs/markdown-features

![Screenshot from 2021-02-16 20-10-38](https://user-images.githubusercontent.com/30543444/108080543-ff43bf00-7095-11eb-8a45-2a7221ea65f4.png)

## What is the expected behavior?

It should not be horizontal

[2021-02-16 17:04] sarthakkundra commented on #4228
@gurrrung I can't recreate this. What's the OS and browser you're using? Also if you can provide your screen dimenstions, that'd be great

[2021-02-16 18:08] RDIL commented on #4227
Nothing we can do about this, its all downstream dependencies.  You will need to file an issue in the WDS repository.

[2021-02-16 18:38] slorber commented on #4228
Yes it's a bug thanks, duplicate of https://github.com/facebook/docusaurus/issues/3870

[2021-02-16 18:38] #4228 closed

[2021-02-16 18:48] narwold commented on #4027
We are anxiously awaiting this as we have recently migrated our monorepo to Webpack 5, and Docusaurus is the one project that's keeping us from making it a complete migration. Thanks for all the work that's being done on this!

[2021-02-16 20:44] renatodex commented on #3317
Thank you @slorber, I really appreciate all of this awesome work!

[2021-02-17 01:07] felipecespedes commented on #3526
Can help with Spanish of Latin America

[2021-02-17 07:57] ArtFlag opened #4231 "Custom css not loaded the same way with `yarn start` and `yarn build`"
## 🐛 Bug Report

I have a simple setup using the classic theme in which I've modified the admonition styling.

In my case, I have only overridden the `admonition` class and `admonition-tip|note|important` classes. I didn't touch the `alert` class which is also used in the admonitions.

- When I build my output with `yarn start` I get this, which I what I expect:

<img width="742" alt="Screenshot 2

[2021-02-17 09:06] fernandoxhds commented on #4013
Muito bom

[2021-02-17 10:47] slorber commented on #4227
@RDIL will upgrading to Webpack 5 upgrade the deps? If that's the case I'd close it as "duplicate" of the Webpack 5 migration

In my experience despite this warning Docusaurus works fine on Node 14

[2021-02-17 10:58] slorber commented on #4013
FYI the `@canary` npm dist tag and upcoming release allows to provide an editUrl function.

https://v2.docusaurus.io/docs/next/api/plugins/@docusaurus/plugin-content-docs

You can do  `if (version === "1.0.0" ) return undefined;` or whatever you want.

[2021-02-17 10:58] #4013 closed

[2021-02-17 11:10] alexander-akait commented on #4027
You don't need `pnp-webpack-plugin` plugin, because webpack has built-in PnP support

[2021-02-17 11:11] slorber commented on #4231
I suspect this is related to https://github.com/facebook/docusaurus/issues/3678

We should find a way to ensure that the custom CSS provided by the user is always at the end of the stylesheet and allows to override properly the theme CSS modules + infima

[2021-02-17 11:21] gurrrung commented on #3870
This issue only happens when a line is too long in code, in case of small width code, this if fine.

[2021-02-17 12:59] BiosSun commented on #3272
Set `resolve.symlinks: false` is works. But when I modify the docs, the local site does not auto refresh and display the new modified content.

[2021-02-17 13:56] RDIL commented on #4027
Yeah we removed that

[2021-02-17 16:17] bennodev19 commented on #3236
ok.. I investigated some time in fixing this issue..
but I couldn't figure out how to implement such thing in docusaurus..

so is there a plan in creating a styled-component integration for docusaurus in the near future
or should I rather switch to css modules :/

[2021-02-17 16:26] RDIL commented on #4227
Yeah, it should work fine on Node 14, and the update should in theory address this.

[2021-02-17 17:19] javidrashid commented on #4079
Fellows to document what would be the good UI, there is no such fixed UI experience. You can come up with a general meaningful UI with minimum content, links and submit a PR for review.

# Look a the existing features and come up with the best experience as you.

# How init template can be improved

# Redesign the existing template. (UI/UX)

[2021-02-17 17:23] lunelson commented on #3236
@bennodev19 the solution requires an API to be made available from docusaurus, similar to Gatsby's `wrapRootElement` and `wrapPageElement` APIs, or Next.js' `_document.js` and `_app.js` APIs, that enable intervention at the root of the application to provide as well as collect data. These APIs don't exist (yet)

[2021-02-17 18:18] slorber opened #4238 "Improved Showcase page: tags + search engine + migrate v1 users"
This issue is for Major League Hacking fellows only.

## 🚀 Feature

The v2 showcase page lists various Docusaurus 2 sites: https://v2.docusaurus.io/showcase

Problems:
- Many v1 sites are using v2 now, we should showcase them on v2 too! (https://v1.docusaurus.io/en/users)
- one site is quite different from another site
- the list is quite long and expected to grow over time
- there's no easy way t

[2021-02-17 18:32] bennodev19 commented on #3236
yeah sure.. I tried to create such interface/api.. but I wasn't able to bring it to life..
so I wanted to know if other people (with more knowledge in this area)
have planned to invest some time in creating such api ^^

[2021-02-17 18:39] slorber opened #4239 "Presets allow illegal option attributes"
This issue is for Major League Hacking fellows only.

## 🐛 Bug Report

Docusaurus aims to be "fail-fast" and validate strictly the configuration to prevent user mistakes.

We have found that some user sites are using wrong preset configs by mistake:
https://github.com/facebookincubator/CG-SQL/blob/master/website/docusaurus.config.js#L129

[code]
The mistake here is that `googleAnalytics` should be

[2021-02-17 18:58] slorber commented on #3483
already fixed, tests run on Windows now

[2021-02-17 18:58] #3483 closed

[2021-02-17 19:05] slorber commented on #4227
thanks

so lets's close in favor of https://github.com/facebook/docusaurus/issues/4027

If this is not fixed after upgrading to Webpack 5, please re-open

[2021-02-17 19:05] #4227 closed

[2021-02-17 19:09] slorber commented on #3236
@bennodev19 that's something we want to work on but is not so simple.
APIs are forever so we'd rather find a good abstraction for CSS-in-JS integration that will work for all the libs, not just SC.
We could copy Gatsby's abstraction but it's also a good time to study what has worked well and not so well for Gatsby by studying all its CSS-in-JS plugins a bit.

You'd rather convert to css modules if

[2021-02-18 07:46] ChangeHow opened #4245 "yarn start not working"
## 🐛 Bug Report

after installed all depencies for docusaurus@v2@latest and run `yarn start` in a few minutes, the progress of building client files still in zero-percent. like the screenshot below.

![image](https://user-images.githubusercontent.com/23733347/108322159-19011580-7200-11eb-89bc-4b64e3aea1a4.png)
but `yarn build` and `yarn serve` working well.

## To Reproduce

1. npx @docusaurus/ini

[2021-02-18 08:59] slorber commented on #4245
Hi,

It is not clear to me what is not working exactly, you don't really explain.

Can you submit a repro of your issue,  including the Yarn lockfile, and explain what's not working exactly?

Maybe it's related to Macbook Pro M1? Could you try  the same on another computer?

[2021-02-18 10:28] jhackett1 commented on #3309
it would be great to add the `pathname:///` trick to the docs? i just needed to do this [for the sidebar](https://v2.docusaurus.io/docs/sidebar#creating-a-generic-link) and needed to go hunting for this issue.

[2021-02-18 10:56] #3870 closed

[2021-02-18 14:06] radekmie commented on #4165
@slorber: any chance for a release anytime soon?

[2021-02-18 14:16] slorber commented on #4165
@radekmie we'll release soon, maybe next week.

In the meantime the `@canary` npm dist tag will get you React 17.

(it's not so risky to use IMHO. If we release it's basically just putting a release tag on an existing canary release)

[2021-02-18 14:45] #4231 closed

[2021-02-18 14:45] slorber commented on #4231
@ArtFlag can you try the `@canary` npm dist tag and see if your issue is fixed by https://github.com/facebook/docusaurus/pull/4240 ?

Otherwise we'll re-open

[2021-02-18 15:54] ArtFlag commented on #4231
Hi Sébastien,

Thanks for the quick action and follow-up 👍

If using the canary dist is just about `yarn remove docusaurus && yarn install docusaurus@canary`, then I experience the same problem 😢

If not, then how should I use the canary dist?

[2021-02-18 19:30] lex111 commented on #4231
Apparently the canary release for fix to this issue was not created https://github.com/facebook/docusaurus/runs/1927814807

[2021-02-19 03:10] ChangeHow commented on #4245
Thank you for answer,

First of all,  i think i don't explain what i met exactly. After running `yarn start` in my site dir a few minutes, the pregress of building client files contain **0**, so i took this screenshot.

I just use latest docusaurus to initialized my website in my components-lib, after then(installed all the dependencies), i run `yarn start`, but my console seem to get stuck so i h

[2021-02-19 03:21] ChangeHow commented on #4245
That so funny,

It's seem repaired by itself when i try to re-initialize my project to get yarn-lock and output during initializing.

I think the problem i met maybe the listening port get took up or anything else.

It's maybe a useless issue.

[2021-02-19 03:21] #4245 closed

[2021-02-19 18:06] slorber commented on #4231
@ArtFlag  you can use canary versions found in https://www.npmjs.com/package/@docusaurus/core

[code]

![image](https://user-images.githubusercontent.com/749374/108543596-92266880-72e5-11eb-8b7d-7c7cb80da3cf.png)

[2021-02-19 18:55] slorber commented on #4028
Searching for `site:v2.docusaurus.io + "your docusaurus site did not load properly."` does not show any result with that exact string, so it should be fixed in next release

[2021-02-19 20:17] lex111 commented on #2220
What if in mobile navbar just render content from the doc sidebar (without other doc versions, if any)? Something like this:

![image](https://user-images.githubusercontent.com/4408379/108555938-4389c600-7307-11eb-866d-f1d48923e0e3.png)

As a hint, we can display docs version to the right of "Docs":

![image](https://user-images.githubusercontent.com/4408379/108556575-4802ae80-7308-11eb-80b2-ded63

[2021-02-19 21:08] markerikson commented on #2220
That'd be a good first half :) The other half is making the in-page TOC available again, presumably via the bottom right floating button.

[2021-02-19 21:19] lex111 commented on #2220
Hmm, maybe we can modify the local TOC like this: (this is a quick prototype so don't mind the UI).

![ezgif com-gif-maker (18)](https://user-images.githubusercontent.com/4408379/108562631-3671d480-7311-11eb-957b-00020f38e3ba.gif)

Accordingly, the lower-right floating button turns into a lower-right back to top button. How do you like this option?

[2021-02-19 21:54] markerikson commented on #2220
Looks fine to me! :+1:

[2021-02-19 22:46] RDIL commented on #4027
@anshulrgoyal by the way, its 0.5 seconds faster after the upgrade.

[2021-02-19 23:08] perrygovier opened #4255 "V2 Ideal Image functionality"
## 🐛 Bug Report

The Ideal-Image plugin is not currently functioning as described on the [documentation page](https://v2.docusaurus.io/docs/api/plugins/@docusaurus/plugin-ideal-image). It does display an LQIP placeholder image, as described, but the various sizes of the image are not generated or used. The plugin does some processing as the filesize of the image changes (increases slightly), but i

[2021-02-20 15:35] ArtFlag commented on #4231
Using these versions, I get scss modules errors in 2 of my components that I didn't have with the latest non-canary versions:

[code]

I'm still using `"docusaurus-plugin-sass": "^0.1.11"`. Is it expected or am I doing something wrong?

[2021-02-20 17:38] slorber commented on #4231
Yes there's a bug in the sass plugin after we upgraded some depenczncies

I've opened a PR but it's not merged yet, but you can use the git fork as
dependency temporarily

Le sam. 20 févr. 2021 à 16:35, Arthur <notifications@github.com> a écrit :

[2021-02-20 19:00] lisa761 commented on #4238
Hey, just a doubt, other than adding the sites that have migrated from v1 to v2, to v2 showcase, we also need to remove it from v1 users list, right? I found some sites that are present in both, viz React Native.

[2021-02-20 19:47] bennodev19 opened #4258 "'useThemeContext' in nested Component?"
## 🐛 Bug Report

Note: I am not sure whether this is a bug or not.. but I wanted to mention it at least.

As soon as I outsource a Component, which has some relation to the 'useThemeContext' hook.
-> the Component is no direct child of the Layout View..
I am getting this error.  (see below)
![grafik](https://user-images.githubusercontent.com/57860196/108605607-5f4ba580-73b5-11eb-95c2-2aed5a4b200b.

[2021-02-21 12:04] enesozturk opened #4260 "Twitter Card Preview"
## 🚫 Questions and Help

Hi. Thanks for that wonderful library. I am trying to set a twitter card preview for my documentation. I am using v2. Firstly I used `image` and `twitterImage` in **themeConfig** in `docusaurus.config.js` like below but it did not work.

[code]

After that I saw [Head](https://v2.docusaurus.io/docs/docusaurus-core#head) component in your documentation. Tried like below but

[2021-02-21 21:25] markerikson commented on #2220
Could we get this prototype polished and added to the next release? I'd love to use it in the Redux docs, right now.

[2021-02-21 23:40] lex111 commented on #2220
As I understand new release is very soon, especially since in global data hook missed necessary data (`sidebar`), so I'm not sure that we can deliver this feature by the next release.
cc @slorber

[2021-02-22 07:54] theankurkedia commented on #2961
@nahtnam The one with `tailwind.config.js: important: '#tailwind'` did prevent default styles for other docusaurus pages. I tried `tailwind.config.js: corePlugins: { preflight: false}` and it worked for me.

[2021-02-22 08:44] ArtFlag commented on #4231
Your fix works 🥳 !

Thanks 👍

[2021-02-22 14:38] slorber commented on #4083
@lex111 is the infima PR enough to improve the blog layout? IMHO it's not so I'll re-open but let me know what you think.

[2021-02-22 14:40] slorber commented on #4238
Hi @lisa761

It's not too important to keep the v1 site up to date now, just leave it untouched and make sure the v2 showcase looks good :)

[2021-02-22 14:48] slorber commented on #4260
Hi,

As the issue template explains issues are not for questions.
Also please submit a repro using new.docusaurus.io with your exact setup, or provide a github repro repository.

`twitterImage` is docusaurus v1. Maybe you are reading the v1 doc instead of the v2 doc or mixing version. Make sure to read the appropriate version and help us help you by providing all the infos that could be useful, (i

[2021-02-22 14:48] #4260 closed

[2021-02-22 15:22] lex111 commented on #4083
@slorber yes, for solve this issue we need to release new version of Infima, then slightly change blog markup during upgrading to its new version. Can you want to release new version of Infima?

[2021-02-22 17:04] enesozturk commented on #4260
Hi, thanks for responding. Sorry for being missed description of issue template. I will move issue to Discussions if I cannot solve. Firstly I was reading v1 and after a while noticed and checked v2 as well.

The content of my issue not includes **just** "I tried that but it didn't work". I shared all my configs and code snippets and told what I did to solve. Thanks for resource, I will check.

[2021-02-22 17:28] jhackett1 opened #4268 "clientModules are still evaluated server-side instead of client-side"
Hello,

i'd like to include some third party global javascript code in my docusaurus website.

the third-party code is _not_ ssr-safe - it includes references to `window` and `document` objects and i can't change it (eg. to wrap it in an _if document then..._ conditional).

## To Reproduce

I've written a tiny js file that imports the js code and initialises it. it looks a bit like this:

[code]

[2021-02-22 17:49] slorber commented on #4268
Yes that seems like a bug to me.

You can probably work around this temporarily by using:

[code]

The client modules seems to be imported on the SSR pipeline with `import clientModules from '@generated/client-modules';`. We'll figure out how to avoid importing them in the server.

[2021-02-22 17:53] jhackett1 commented on #4268
good to know i'm not going mad! your workaround does the trick for now

[2021-02-22 18:15] slorber commented on #4258
Not 100% sure to understand what you are trying to do, and what is an "outsourced component".
Do you have a branch with your failing attempt on your repository?

The theme context requires a theme provider to be set up at the top.

If you use this component around your "outsourced component", it may solve the issue:

[code]

[2021-02-22 18:42] slorber commented on #4255
Hi,

I'm not too familiar with this plugin of our codebase and the original author is [not there anymore](https://v2.docusaurus.io/blog/2020/01/07/tribute-to-endi).

Will have to retro-engineer bit all this a bit to understand what is happening, particularly as we seem to be using a fork https://github.com/endiliey/react-ideal-image)

We use it on Docusaurus site Showcase and it seems to actually

[2021-02-22 18:54] bennodev19 commented on #4258
With outsourcing a Component I mean that the Component isn't built
in the Component it is used in.. to reduce redundant code..
![grafik](https://user-images.githubusercontent.com/57860196/108753826-83d68780-7545-11eb-81a7-d50d7185a403.png)
![grafik](https://user-images.githubusercontent.com/57860196/108754038-bc766100-7545-11eb-9ab8-f02aced14b3e.png)

I tried to reproduce the issue in a from scrat

[2021-02-22 19:40] #4191 closed

[2021-02-23 02:40] reubenbijl opened #4272 "Build broken with "TypeError: _interopRequireDefault is not a function""
## 🐛 Bug Report

Initial installation of docusaurus is unable to build

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Install docusaurus using the [installation instructions](https://v2.docusaurus.io/docs/installation)
1. npx @docusaurus/init@latest init my-website classic
2

[2021-02-23 03:34] #4272 closed

[2021-02-23 11:08] slorber commented on #4258
Ok I understand the problem.

Docusaurus tries to render everything you put in `src/pages` as standalone pages, including components from `src/pages/components`.

So basically, the StartCodingView leads to a standalone page at `/LandingPage/components/StartCodingView/`

See also: https://v2.docusaurus.io/docs/next/api/plugins/@docusaurus/plugin-content-pages

You should play with this pages plugin

[2021-02-23 11:08] #4258 closed

[2021-02-23 11:11] bennodev19 commented on #4258
ok thanks for the hint.. I will give it a try ^^

[2021-02-23 12:42] thiagoalves commented on #4272
@reubenbijl I have the same situation here. The build fails inside a docker container but it works on the host machine

Have you managed to solve it?

[2021-02-23 12:53] slorber commented on #4272
Are you on alpha 70?

Wonder if it's not related to using symlinks? Reminds me another issue

Le mar. 23 févr. 2021 à 13:43, Thiago Alves Silva <notifications@github.com>
a écrit :

[2021-02-23 13:22] thiagoalves commented on #4272
@slorber  Yes, alpha 70

I noticed that when I add `docusaurus2-dotenv` to the dependencies list I get the error.

This is my package.json:

[code]

[2021-02-23 13:39] slorber commented on #4272
I don't know what is this dotenv plugin or what it does 😅

[2021-02-23 13:46] thiagoalves commented on #4272
It is mentioned here:

https://v2.docusaurus.io/community/resources#integrations

[2021-02-23 14:59] ArtFlag opened #4276 "theme-classic(v2): fonts do not render the same way across browsers"
## 🐛 Bug Report

I'm not sure if I should put this as a bug, feel free to update.

The fonts do not render the same way in Firefox and Chrome (the only browsers I've tried).
It is particularly obvious in the sidebar and when overriding the title font, like in my case:

<img width="570" alt="fonts" src="https://user-images.githubusercontent.com/25686502/108861319-62ca7100-75ef-11eb-8bb3-4d43a19d6e0

[2021-02-23 15:00] slorber commented on #4272
@thiagoalves accept almost any community link PR on this page, does not mean we approve or reviewed the code too deeply :)
I won't be able to tell how this plugin affects your Docusaurus unfortunately

[2021-02-23 15:23] thiagoalves commented on #4272
For the record: I have upgraded some packages and the problem seems to be gone:

    "@mdx-js/react": "^1.6.21" -> "^1.6.22",
    "docusaurus-lunr-search": "^2.1.9" ->  "^2.1.10"
    "core-js": "^3.8.3" -> "^3.9.0"
    "mobx": "^6.0.4" -> "^6.1.7"
    "react-select": "^4.0.2" -> "^4.1.0"
    "swagger-ui-react": "^3.40.0" -> "^3.43.0"

[2021-02-23 17:09] gurrrung commented on #4192
As far as I have understood from the article, we just have to use the color-scheme `dark` for dark mode and color-scheme `light` for light mode? These should switch when the user switches dark to light or vice versa, right?

[2021-02-23 23:00] Dannyholt opened #4280 "Add a unique CSS class to body tag which uses the docs ID"
## 🚀 Feature

Can we get some CSS classes to the `body` tag or maybe `main-wrapper` which uses the docs id. This would allow us to style specific docs without impacting other docs on the site which may not want/need that styling. Similar to what WordPress does on their `body` tag which uses the page or posts unique ID.

The examples below grab the `getting-started` class from a doc with an ID of *

[2021-02-24 05:04] polarathene commented on #3464
[I was looking into this feature for a project that's migrating away from Github Wiki for their docs](https://github.com/docker-mailserver/docker-mailserver/issues/1825) (links to detailed discussion comparing the merits between MkDocs and Docusaurus v2 for a community project with few maintainers, reliant on contributors and minimal web dev experience for most).

[MkDocs by default generates the

[2021-02-24 06:20] Zamiell opened #4281 "Left Arrow and Right Arrow Hotkeys by Default"
## 🚀 Feature

"Left arrow" and "right arrow" should be hotkeys that are mapped to pressing the navigation buttons at the bottom of the page.

This would allow users to quickly and painlessly navigate through a Docusaurus site.

## Motivation

A common use case for a Docusaurus site is to flip through various documentation, looking for something specific. To accomplish this, it is useful to press "

[2021-02-24 10:49] Pl8tinium commented on #3464
hi i have nothing to do with all of this but here are my 2 cents....
i just wanted to enforce your last point @polarathene. im currently searching for an alternative for raneto and it bogs me that there is no auto generation for the sidebar. Its marked as a big point in my disadvantages list, bc of the manual additional steps i need to take.

[2021-02-24 11:19] polarathene commented on #3464
@Pl8tinium for the time being you can leverage the docusaurus plugin I mentioned or other solutions shared here prior.

If you'd like to consider MkDocs I can confirm it's easy to setup locally if opting for the more featured (by default) MkDocs `Material` theme, which provides a Docker image for quick sandboxed `build` and `serve`. Setting up the Github Actions workflow is also pretty easy for de

[2021-02-24 11:26] slorber commented on #3526
FYI it's now possible to translate the MDX files, as Crowdin added support for the .mdx extension.
Just, please don't translate the JSX syntax in the MDX documents

[2021-02-24 12:04] Pl8tinium commented on #3464
thanks for that suggestion.

i should have said ... "that there is no _integrated_ auto generation"

still probably going to pick docusaurus bc of the customizability

[2021-02-24 16:34] Zhouzi opened #4288 "ReferenceError when Markdown file contains HTML with curly braces"
## 🐛 Bug Report

I have automatically generated Markdown files (`.md`) that contain HTML. The page crashes if that HTML contains a pair of curly braces:

[code]

Results in: `ReferenceError: html is not defined`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. https://code

[2021-02-24 16:41] Zhouzi commented on #4288
I just stumbled upon the [feature request](https://docusaurus-2.netlify.app/feedback/p/support-both-md-and-mdx) and [RFC](https://github.com/facebook/docusaurus/issues/3018).

Feel free to close this issue if you think it's a duplicate.

[2021-02-24 16:42] #4288 closed

[2021-02-24 16:52] perrygovier commented on #4255
Thanks,

We have a ways to go in migrating our current site over, and this is a feature not implemented in our current site either. So fixing it means an SEO gain, but nothing is lost without it. An alternative approach would be to use an image processor proxy like Imgix. In the next few weeks, I'll evaluate whether it'd be better/faster for us to get this working or just use a proxy. Thanks and k

[2021-02-24 17:40] roydukkey opened #4290 "`ssrTemplate` does not work with `yarn start`"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

* Added `class="test"` on the HTML element of the SSR template

1. Does **_not_** apply custom template with `yarn start`
2. Does apply custom template with `yarn build && yarn serve`

## Expected behavior

I wou

[2021-02-24 17:41] covalentbond opened #4291 "v2: PWA installation resulted to saying Site can't be reached"
## 🐛 Bug Report

Website showing the "The site can't be reached", once the website was installed offline!

Error shown in the console: `The FetchEvent for "https://v2.docusaurus.io/" resulted in a network error response: an object that was not a Response was passed to respondWith().`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTR

[2021-02-24 17:43] JoelMarcey opened #4292 "Migrate the Magma website from v1 to v2"
## 📚 Documentation

The Magma team would like their site migrated from Docusaurus v1 to v2.

https://magma.github.io/magma/

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2021-02-24 17:44] JoelMarcey commented on #4292
cc @lisa761

[2021-02-24 17:45] JoelMarcey commented on #4292
cc @jaredmullane

[2021-02-25 07:16] Itsaadarsh commented on #4281
Yes, I totally agree with this can I start working on this feature?

[2021-02-26 13:43] slorber opened #4301 "Create ARCHITECTURE.md"
## 📚 Documentation

We should have a doc to help new contributors onboard and understand the Docusaurus internals.

We need this particularly for external contributors and MLH fellows.

Also asked here (+ basic architecture answer): https://github.com/facebook/docusaurus/discussions/4300

Also advised by this blog post: https://matklad.github.io/2021/02/06/ARCHITECTURE.md.html

[2021-02-26 17:01] slorber commented on #4079
The idea for me would to be create a minimalistic documentation site for Docusaurus site itself, so that it kind of serve as a realistic example.

We want to spark immediate joy to the user and let him try Docusauurs in a step by step guide where each action provides immediate gratification by seeing the result of the action.

I don't think the user needs to understand everything about Docusaurus

[2021-02-26 17:21] slorber commented on #4281
That seems a bit hacky to me.

I'm not against this, but before rushing on implementation, we should study that building this is not an anti-pattern, particularly ensure it respects accessibility rules

Do you know any authoritative accessibility source that explains if such navigation is a good idea?

Any major site using a similar navigation pattern?

[2021-02-26 17:40] slorber commented on #4292
What I see:
- Sources at https://github.com/magma/magma/tree/master/docs/docusaurus
- Site is versioned, using incremental doc updates
- No translations
- Not too much CSS
- Custom pages exist but they seem unused (ie we only use md docs)
- Need to redirect the `.html extension`

Notes and questions:
- Where is the `./docs` folder for master docs?
- The existing navbar tries to look like the main

[2021-02-26 17:54] slorber commented on #4290
The SSR template is for SSR, ie `docusaurus build`.

`yarn start` does not do serve-side rendering so it would be odd to be able to customize the HTML file with a config attribute named `ssrTemplate`.

`yarn start` is using another template for dev.

We may be able to factorize those 2 templates as a single template however, and add a config that permits to customize both yarn start and yarn dev a

[2021-02-26 20:58] sserrata opened #4305 "Algolia search modal displays wrong labels on mobile"
## 🐛 Bug Report

The Algolia search modal is (initially) displaying the wrong grouping labels for search results. Clicking on the labels themselves somehow updates them to display the correct label. Please see screen recording for example.

https://user-images.githubusercontent.com/9343811/109354172-02cc0880-7843-11eb-8f2e-20389e978397.MP4

### Have you read the [Contributing Guidelines on issues]

[2021-02-26 21:00] sserrata commented on #4305
Please note that this behavior is not reproducible using Chrome's built in mobile browser emulator.

[2021-02-26 21:03] Zamiell commented on #4281
When you say "such navigation", which you referring to?
a) using left and right arrow keys to flip between pages
b) using left and right arrow keys to scroll the page horizontally

For A, scribd.com (a common document viewing website, [325th most popular website in the world](https://www.alexa.com/siteinfo/scribd.com)) uses arrow hotkeys to flip through pages. That is a pretty close analogy to wha

[2021-02-26 21:26] Zamiell commented on #4281
Another point to discuss here is that we should expect Docusaurus pages with a horizontal scroll bar to encompass a really tiny percentage of deployments, maybe <= 1%.

This is because by default, when typing up Markdown files and using Docusaurus to display them (e.g. the default use-case of the product), you would never normally get a horizontal scroll bar.

For example, the following things **w

[2021-02-26 22:33] roydukkey commented on #4290
I was unaware. Maybe the docs could clear this up a little. Maybe they already do, but I've not been reading the docs in order, so this point might be covered in a doc I've not yet read. I was using this page primarily to come to the conclusions I had when I wrote this issue:

**https://v2.docusaurus.io/docs/docusaurus.config.js#ssrtemplate**

Also, my use case is not validate since I found it is

[2021-02-26 23:15] slorber commented on #4290
Great to know thanks

Will close for now, but we'll see if someone can come up with a need for this

[2021-02-26 23:15] #4290 closed

[2021-02-27 00:36] jaredmullane commented on #4292
Hi @slorber, thanks for the help! The master docs are kept under the```magma/docs/readmes/``` folder and the versioned docs are kept separate. The Docker config is I believe related to the ```create_docusaurus_website.sh``` file which runs a local version of docusaurus using Docker.

It would be great if we could add a lightweight homepage like Flux (https://facebook.github.io/flux/) but in terms

[2021-02-27 05:58] iamrubayet commented on #4301
can i work on this ?

[2021-02-27 22:47] lex111 commented on #1927
Accidentally noticed that now this problem does not cause when trying to translate a Docusaurus site via Google Translate. I think we can close the issue for now.

[2021-02-27 22:47] #1927 closed

[2021-02-28 00:31] vjpr opened #4314 "Allow configuring the title of a sidebar link in `sidebar.js` in `plugin-docs`"
I thought it would be possible to do something like this: `{type: 'doc', id: 'foo', title: 'Foo'}`.

However it doesn't work `Error: Unknown sidebar item keys: label.`.

Say you want to automatically generate your sidebar from the file system structure inside `sidebar`.js`...this would be useful.

[2021-02-28 01:20] Zamiell commented on #3321
If anyone else is desperately waiting on this feature, I was able to get broken link detection set up in CI for my Docusaurus website using `remark-validate-links` and a GitHub action.

- [Here's my GitHub action YAML file](https://github.com/hanabi/hanabi.github.io/blob/main/.github/workflows/spell-check.yml) (line 34-35 are the relevant lines)
- [Here's my lint.sh file](https://github.com/hanabi

[2021-02-28 11:39] lisa761 opened #4316 "List of sites still using v1"
## 📚 Documentation

List of sites that are still using Docusaurus v1:
- [ ] [Ax](https://ax.dev/)
- [ ] [Bowler](https://pybowler.io/)
- [ ] [FastText](https://fasttext.cc)
- [ ] [Instant Articles Builder](https://facebook.github.io/instant-articles-builder/)
- [ ] [Jest](https://jestjs.io)
- [ ] [MakeItOpen](https://makeitopen.com/)
- [ ] [Netconsd](https://facebookmicrosites.github.io/netconsd/)

[2021-02-28 18:33] rbalicki2 opened #4317 "Bug: `onBrokenLinks: 'throw'` incompatible with importing markdown files containing relative links from other folders."
## 🐛 Bug Report

`onBrokenLinks: 'throw'` incompatible with importing markdown files containing relative links from other folders.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

* Set `onBrokenLinks: 'throw'`
* Import a file from another folder. e.g. import `folder/shared/S

[2021-03-01 00:10] Romstar commented on #2961
Any idea on a timeline for first-class support?

[2021-03-01 01:03] lex111 commented on #4186
@RDIL it looks like this is already staled issue, so I will close it right now, but if the problem is still present, feel free to reopen it.

[2021-03-01 01:03] #4186 closed

[2021-03-01 01:10] lex111 commented on #3887
@ashu231083 @OverloadedOrama apparently this was fixed in #4263, so I'm going to close this issue. But feel free to write about deployment issues if they arise.

[2021-03-01 01:10] #3887 closed

[2021-03-01 11:15] Kimi-Gao opened #4319 "Sometimes the color is missing when running `yarn build`"
## 🐛 Bug Report

Sometimes the color is missing when running `yarn build`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES

## To Reproduce

If possible, use https://new.docusaurus.io to create a CodeSandbox reproducible demo of the bug.

(Write your steps here:)

1. Add below code in `custom.c

[2021-03-01 14:18] armano2 opened #4321 "dark mode: Callouts/admonitions"
## 🐛 Bug Report

Dark mode is missing default styles for admonitions/alerts

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

https://v2.docusaurus.io/docs/markdown-features#calloutsadmonitions in dark mode

![image](https://user-images.githubusercontent.com/625469/109509955-bf

[2021-03-01 17:28] slorber commented on #4321
Hi,

We plan to have a new admonition design, there's this Infima issue to track it:
https://github.com/facebookincubator/infima/issues/55

[2021-03-01 17:28] #4321 closed

[2021-03-01 17:36] slorber commented on #2961
@Romstar no timeline to be defined, as it requires a significant amount of refactoring work to avoid duplicating everything between the themes

[2021-03-01 17:43] slorber commented on #4317
I'm sorry but I have a hard time to understand your repro steps, probably because we use different terminology to express different things.

Do you have a repro (new.docusaurus.io is helpful) or a repo branch I can inspect with that error? (give me the doc path/url, and the md link snippet in that doc).

Do you have any concrete markdown code snippet to share? Do you have any error screenshot to s

[2021-03-01 17:44] slorber commented on #4316
Thanks @lisa761 , that will be very helpful :)

[2021-03-01 17:49] slorber commented on #3321
Thanks @Zamiell that's useful to know how you made this work :)

We'll probably build something more "integrated" on top of the existing broken links checker (which only runs at built time), but having a remark linter could also be helpful to "pre-check" the links.

[2021-03-01 17:51] slorber commented on #4314
That's something we could add easily, will ask one of our MLH fellows to take a look at this.

[2021-03-01 17:58] slorber commented on #4314
@vjpr we agree that you want to "override" the doc title set in frontmatter through the sidebar file?

What's your usecase for defining a name in sidebars.js instead of using the doc sidebar_label frontmatter?

Should it be named label? (because your snippet show "title")

Label is already allowed by the other sidebar types like category and link so it could be more consistent.

[2021-03-01 18:08] vjpr commented on #4314
I want the page title to be sentence case. My file is ‘foo.md’ and I want
the page title to be ‘Foo’.

My ultimate use case is to have an “auto sidebar” that matches the file
system structure. Seems like this would be a pretty popular use case also.

At the moment I do this manually.

On Mon 1. Mar 2021 at 18:58, Sébastien Lorber <notifications@github.com>
wrote:

[2021-03-01 18:08] vjpr commented on #4314
Label is good.

On Mon 1. Mar 2021 at 19:08, Vaughan Rouesnel <vrouesnel@gmail.com> wrote:

[2021-03-01 18:14] slorber commented on #4314
Yes but why don't you set this sentence case syntax in the doc frontmatter exactly?

https://v2.docusaurus.io/docs/next/api/plugins/@docusaurus/plugin-content-docs#markdown-frontmatter

[code]

Is there any case where you would want a sidebar label that can't be hardcoded in the frontmatter? and for what reason?

[2021-03-01 18:35] slorber commented on #4301
@iamrubayet it should rather be the job of the maintainer team to write it, as you probably don't know all the architecture details of Docusaurus as much as we do.

But if you feel you can tackle this and want to work on a first draft, why not, and we could complete this doc to make it more exhaustive

[2021-03-01 18:41] slorber commented on #4292
Thanks

Why are the docs in /readmes, that looks quite unusual 😅

Do you use Docker in dev or you just run yarn start?

Actually, you have a homepage already but you "overwrite" it with a JS redirect here: https://github.com/magma/magma/blob/master/docs/docusaurus/static/index.html

The Flux homepage is basically the default Docusaurus homepage so it shouldn't be too hard to set this up 😆

Yes we

[2021-03-01 19:00] vjpr commented on #4314
It's just inconvenient to have to add a `sidebar_label` to each frontmatter. I create documents all the time and  I just don't like the repetitive work, and I also have to remind team members to not forget either.

[2021-03-01 19:36] roydukkey opened #4322 "Cannot differentiate `BlogListPage` and `BlogPostPage` for styling"
## 🚀 Feature

Add class names to individuate blog theme components.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Having a class name to differentiate blog list pages from post pages would allow styling the pages using the [global style methodology](https://v2.docusaurus.io/d

[2021-03-02 11:29] slorber commented on #4314
So, adding `sidebar_label` in the md doc is less convenient than adding `label` in `sidebars.js`?

I don't understand why exactly this is less convenient. In all cases if you need a custom sidebar label the creator of the document would have to remember to add that custom label

[2021-03-02 14:05] vjpr commented on #4314
My `sidebar.js` is a function that reads the filesystem, and generates the items automatically. So I want to be able to add `label: sentenceCase(id)` for each file. Right now this is not possible, which means every file I create I have to add the frontmatter manually.

Aside: I would also like to be able to configure the frontmatter via the `sidebar.js` file too. E.g. I want to set `hide_title: fa

[2021-03-02 14:29] Simek commented on #4319
I have spotted the similar issue on the React Native website. After upgrade from `alpha.66` to `alpha.70` this problem started to appear on main website. On `alpha.68` the missing color was only present in the PWA app.

The current problematic style and the fix:
<img width="425" alt="Screenshot 2021-03-02 143215" src="https://user-images.githubusercontent.com/719641/109662999-ec3bef00-7b6b-11eb-8e

[2021-03-02 14:36] exah commented on #3236
Hey guys,

I found super hacky way to collect styles for `styled-components`, but I **do not recommend** it to anyone. Most likely it breaks hydration and forcing react to re-render the whole tree, sadly I don't know how to force non-production build to check, but honestly this is much better then FOUC.

I'm voting for public api, which will allow returning your own element before passing it to `r

[2021-03-02 15:00] slorber commented on #4319
Can you try with `USE_SIMPLE_CSS_MINIFIER=true docusaurus build` ?

[2021-03-02 15:05] slorber commented on #4192
@gurrrung the first step is actually to find out how this CSS property can be useful in any way for Docusaurus.

I have no time currently investigate this, and have not really read the links yet.

Before rushing on implementing anything, the first step is to find out whether we want to use this CSS property or not. We may decide that it's useless for our case and just close this issue.

[2021-03-02 16:24] slorber commented on #4314
I see thanks

Allowing to add frontmatter through the sidebars file is a more generic solution, maybe we should just focus on that to enable all use-cases?

What if the frontmatter is defined in the doc and the sidebar, which one wins? Should we shallow-merge or fully replace one frontmatter by the other?

[2021-03-02 18:55] vjpr commented on #4314
I feel like explicit frontmatter should win.

On Tue 2. Mar 2021 at 17:24, Sébastien Lorber <notifications@github.com>
wrote:

[2021-03-02 22:20] jaredmullane commented on #4292
I am not sure on this one. The docusaurus was set up before I began working on the product.

I believe the Docker portion is just to run it in dev. My sense is we should just do ```npm run serve``` or yarn.

That would be great. Thanks again!

[2021-03-03 00:14] zerkms commented on #2494
@yangshun <Suspense> and React.lazy fail to build

[code]

[2021-03-03 01:10] sibelius commented on #2494
We should be using BrowserOnly component

Is BrowserOnly documented somewhere?

[2021-03-03 01:17] zerkms commented on #2494
https://v2.docusaurus.io/docs/docusaurus-core#browseronly

[2021-03-03 01:38] Kimi-Gao commented on #4319
@slorber thanks, `USE_SIMPLE_CSS_MINIFIER=true docusaurus build` works fine, there maybe an issue with advanced minification of CSS bundle.

[2021-03-03 11:10] slorber commented on #4319
Thanks @Kimi-Gao

Can you try to use the `@canary` build without that env variable?

This bug may have been fixed already

[2021-03-03 12:23] conradnewton opened #4335 ""yarn start" fails, while "yarn build" / "yarn serve" succeeds with new website"
## 🐛 Bug Report

When I attempt to start the developer server with the command `yarn start`, I get what looks like a success message, but opening the browser at `http://localhost:3000` gives a site not found message.

Nevertheless, everything else seems to be working. I can type `yarn build`, followed by `yarn serve`, and the preliminary website is visible as expected at `http://localhost:3000`.

[2021-03-03 12:33] mrousavy opened #4336 "GitHub Actions deployment error: "Git push failed""
## 🐛 Bug Report

I am trying to use GitHub actions to automatically build my documentation from the `main` branch (`docs/` folder) and deploy it to the `gh-pages` branch.

I've followed [the official guide](https://v2.docusaurus.io/docs/deployment#deploying-to-github-pages), but can't seem to get it working.

[code]

This is my GitHub Action:

[code]

### Have you read the [Contributing Guidelines

[2021-03-03 13:09] mrousavy commented on #4336
I think this happens because I set `USE_SSH: false`. But if I use `USE_SSH: true`, the git command fails at git clone....

* [Here's](https://github.com/cuvent/react-native-vision-camera/runs/2022240319) the GitHub action log output with `USE_SSH: false`
* [Here's](https://github.com/cuvent/react-native-vision-camera/runs/2021930307) the GitHub action log output with `USE_SSH: true`

[2021-03-03 13:54] mrousavy commented on #4336
Why does it even try to git clone again? When this code runs it already is in the git repo...

[2021-03-03 17:19] JHKroger00 opened #4341 "Translations API only seems to be working for "src/pages" directory"
## 🐛 Bug Report

I'm currently working on a project that uses Docusaurus v2 to generate documentation pages. We've been following the updates regarding the i18n functionalities to be released in `2.0.0-alpha.71` (as per the [documentation](https://v2.docusaurus.io/docs/next/i18n/introduction)).

Our site needs to be available at multiple languages (the default locale is portuguese, but it should s

[2021-03-03 18:02] lex111 commented on #4319
This is bug in clean-css, which I reported in the [issue](https://github.com/jakubpawlowicz/clean-css/issues/1156), so we will wait for release with bug fix for that.

[2021-03-03 18:48] slorber commented on #3719
There's a pending PR here, let me know if the implementation looks good to you, but to me it does not because it assume the blog post content is a regular string

[2021-03-03 18:55] #4319 closed

[2021-03-03 18:55] slorber commented on #4319
merged

Try again with the latest `@canary` and we'll re-open if this is not fixed

[2021-03-03 19:08] slorber commented on #4341
Thanks, you are 100% right, there is a problem.

I see what is happening and it will be fixed tomorrow.

[2021-03-03 19:13] JHKroger00 commented on #4341
Thank you very much for the quick response! Kudos to the Docusaurus team!

[2021-03-03 19:37] mrousavy opened #4343 "Deployed website doesn't render correctly, local one does"
## 🐛 Bug Report

I'm trying to set up docusaurus for my open source project, but can't seem to get it configured correctly. I've tried to find some sort of steps I missed, but I did everything as it is mentioned in the official guides.

When I run `docusaurus build` and `docusaurus serve`, the website looks like this:

<img width="1916" alt="Screenshot 2021-03-03 at 20 33 58" src="https://user-ima

[2021-03-03 19:45] mrousavy commented on #4343
Nevermind, not a docusaurus bug. It's a GitHub pages issue. Ran `git checkout gh-pages ; git push origin --delete gh-pages ; git push origin`, now everything works

[2021-03-03 19:45] #4343 closed

[2021-03-03 21:48] facultymatt commented on #3450
Thanks @kumaraditya303 for the PR. Yes @slorber we do this quite frequently - we always use Docusaurus for the landing page / docs and then create react app for the application. Testing out the new flag now. Thanks again!

[2021-03-04 00:10] lex111 commented on #4192
In fact, this is really not very useful for us (at least for the classic theme).

[2021-03-04 01:13] vjpr commented on #2700
A workaround to make it configurable is:

[code]

[code]

Have to use hacky comments because frontmatter is inaccessible. See: https://github.com/facebook/docusaurus/issues/3935

[2021-03-04 12:00] slorber commented on #4341
thanks

Will be fixed by https://github.com/facebook/docusaurus/pull/4345

Please add your site to the showcase when it's ready ;) we want i18n sites there

[2021-03-04 12:24] JHKroger00 commented on #4341
I believe that's perfect for now! We'll begin using it as soon as it's merged and available.

Thanks a lot!

Will do :)

[2021-03-04 13:58] #4341 closed

[2021-03-04 14:00] slorber commented on #4192
let's close this then, it was just an idea to explore

[2021-03-04 14:00] #4192 closed

[2021-03-04 14:04] slorber commented on #4341
merged, let me know if `@canary` fixes it. It  seems it works for us too as we have translated components in src/components

[2021-03-04 14:24] slorber commented on #4335
Please try this outside of Docker.
If this still does not work we'll do something about it and re-open the issue, otherwise it's related to your usage of Docker for which we don't provide first-class support

[2021-03-04 14:24] #4335 closed

[2021-03-04 14:32] slorber commented on #4336
can you try the new workflow introduced by this PR?
https://github.com/facebook/docusaurus/pull/4263

I'm not too familiar with GH action, would have to inspect the code. more carefully to understand this problem

[2021-03-04 14:44] JHKroger00 commented on #4341
Using `@canary` seems to have fixed the issue. I was able to translate components which were located in `src/components` and `src/theme` folders, as well as in the root of the `src` directory.

I'll let you know if we come across some other difficulty using the translations API, as we continue to use it through our website.

[2021-03-04 14:49] MatanBobi commented on #3719
Hi @slorber!
Sorry, I didn't get a chance to solve this one and I have a WIP draft on my local machine..
Regarding what you wrote, I strongly agree. I'll try to add that functionality soon if this won't be solved in that PR already.

[2021-03-04 15:20] SimenB opened #4347 "Trim whitespace on higher resolutions"
## 💥 Proposal

When looking at documentation, there is a large swath of extraneous whitespace between the left hand ToC and the content which is not present on the right hand side.

![image](https://user-images.githubusercontent.com/1404810/109984295-e9740200-7d03-11eb-8dec-456ef1a6da15.png)

This is the `margin` added the the `container`.

![image](https://user-images.githubusercontent.com/140481

[2021-03-04 15:24] slorber commented on #4341
thanks ;)

[2021-03-04 16:24] orta commented on #4347
Yeah, I can see the tension here - that TOC throws off the centering for the main content. For large screens adding an offset for that extra whitespace would probably ease some of the 'this doesn't _feel_ centered'.

Personally, I'm a fan of "if they want to make it obscenely wife, then let them" - which is why [the TypeScript website is remains aligned](https://www.typescriptlang.org/docs/handboo

[2021-03-04 16:46] #3728 closed

[2021-03-04 16:52] #2986 closed

[2021-03-04 17:14] lex111 commented on #4347
Actually, we already increased the container size for large screen. However, we haven't applied this changes yet, but it should get better after that, see https://github.com/facebookincubator/infima/pull/62 for mode details.

| Before   | After    |
| -------- | -------- |
| ![image](https://user-images.githubusercontent.com/4408379/110002005-fefa2380-7d25-11eb-903c-45e013e530a0.png) | ![image](ht

[2021-03-04 17:48] SimenB commented on #4347
That's way better 👍 But there's still extra space on the left - any particular reason for that?

[2021-03-04 18:09] lex111 commented on #4347
I can’t tell the exact reason because I didn't choose this layout, but I would assume that taking the container to full width will make the text harder to read (as mention above). A lot of docs sites limit the container width, so similar was done in Docusaurus as well.

[2021-03-04 19:21] lex111 commented on #4276
Indeed, now we have such inconsistency in fonts. But that's because we don't specify the same font anywhere but we are relying on system font stack (see https://systemfontstack.com/ or https://www.digitalocean.com/community/tutorials/css-system-font-stack for more details).
As I understand it, many CSS frameworks follow this pattern, so we done same. If you don't like it, you can override CSS vari

[2021-03-04 19:21] #4276 closed

[2021-03-05 13:59] slorber commented on #4314
After thinking about this, I think we should just let the sidebar provides its own label

That would be a bit weird to allow the sidebar config to override doc frontmatter, and there's already a workaround where you can assign a `customProps` data structure to  each doc, so basically this is already possible to override sidebar label and frontmatter with this setting + swizzle the sidebar comp and

[2021-03-05 14:03] slorber commented on #4322
Make sense, all docusaurus pages should have a convenient way to target them with custom CSS.

We should have one wrapper class per "plugin" (like blog-wrapper), and unique classname per unique page types for better granularity.

Assigning this easy task to MLH fellows

[2021-03-05 14:16] slorber commented on #4305
@francoischalifour @shipow  it looks like a DocSearch bug, maybe there's a bad/missing React key somewhere?

[2021-03-05 15:29] szaimen commented on #3999
I'm closing this since the better idea was proposed in https://github.com/facebook/docusaurus/issues/2643#issuecomment-773146441

[2021-03-05 15:29] #3999 closed

[2021-03-05 15:39] szaimen opened #4353 "Allow to link to Github Discussions?"
## 🚀 Feature
It would be great if there was a way to add a link to Github Discussions below every docs article So that any interested person would be enabled to discuss a docs site without having to open a PR.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Currently, the only

[2021-03-05 15:59] szaimen commented on #4353
Alternatively, a way to integrate Disqus should work as well.

[2021-03-05 18:36] #3322 closed

[2021-03-05 23:12] jaredmullane commented on #4292
Just want to double check, is there anything else you need from our side @slorber? Thanks again for all the help and hope that you have a great weekend. :)

[2021-03-06 01:39] jacksongoode commented on #2712
With some recent updates, would a custom sidebar toc be possible? In my case, I am rendering through MDX for a step by step tutorial component.

[2021-03-06 11:32] moonrailgun commented on #3719
In my pr https://github.com/facebook/docusaurus/pull/4330, I already change render from plain text to Full Markdown support, but without customize component.

and i dont think its a good idea for add config to choose whether show full content for blog. Its not a content website, you know.

For feed of docusaurus, I wanna know is any other suggest about that? I am glad with someone still use rss, a

[2021-03-07 07:42] MatanBobi commented on #3719
@moonrailgun
Actually, I do think it should be a config, one of the purposes of RSS feeds is to attract people to your site and gain visitors, not all use cases should show all content.

If you're working on that, I'll delete my draft, but for further work you do on OSS, it's generally a good idea to ask in the issue if someone is still working on a feature :)

[2021-03-07 10:01] vamsi3 commented on #4347
Is there currently any way to customize the width of the main content by a user?

[2021-03-07 10:23] moonrailgun commented on #3719
I am soooo sorry for that because i have not found your issue before.

and for config, maybe your can add a config above my work? Also i dont think its right, but more customize way is not a bad work, right?

[2021-03-07 11:35] SimenB commented on #4347
Makes sense, but it looks sorta unbalanced when the left side ToC goes to the far left regardless of container width

[2021-03-08 07:37] shubhamayush12 commented on #3185
Hello Can I work on this . But being a Beginner can you help me on what needs to be done

[2021-03-08 10:00] Pierre-Gilles opened #4363 ""prependBaseUrlToHref" is defined as a string in Joi validation, and it's supposed to be a boolean in the doc"
First, thank you very much for Docusaurus, it's a great tool that we use for another open-source project, Gladys Assistant 🙂

When I read the doc here: https://v2.docusaurus.io/fr/docs/next/api/themes/configuration, I see that the "prependBaseUrlToHref" option is a boolean:

<img width="867" alt="Screenshot 2021-03-08 at 17 56 46" src="https://user-images.githubusercontent.com/7365207/110305613-d7

[2021-03-08 14:51] slorber commented on #2712
Hi,

The sidebars is currently highly coupled with the Docs plugin.

What do you want to display exactly in this sidebar?
You said "sidebar TOC", but we have both sidebar (left) and TOC (right), are we sure to talk about the sidebar here?

Have you tried using a secondary sidebar or a secondary docs plugin instance? If so, can you explain why this did not work for your usecase?

If we decoupled th

[2021-03-08 15:11] slorber commented on #4363
Thanks :)

Please add your site to our showcase: https://v2.docusaurus.io/showcase

Yes it looks like a validation error and should be a boolean.
I find this option a bit confusing and would even like to remove it in the future, not sure it's worth to fix it as it would encourage usage 🤪 if only you report this bug it should not be very widely used 😅

Note the latest Docusaurus alpha has i18n supp

[2021-03-08 15:20] slorber commented on #4363
Can you please try using `pathname:///fr` and let me know if it works for your usecase? (href or to should both work)
If that's the case I'll look at removing this option and documenting this betterr

[2021-03-08 16:51] BogdanDor opened #4364 "[Proposal] Change design of package @docusaurus/core."
Change design of package @docusaurus/core.
This code has implicit dependencies and is hard for newbs. Logic this package interwined with infrastructure code. Modules interact with file system, network and third-party libraries. Tests also have problems. By tests hard understand what does package. Tests is written for individuals files and they probably check implementation, not interface, that use

[2021-03-08 18:18] slorber commented on #4364
Sorry but I have a hard time understanding this proposal.

If you have a concrete thing you can improve PRs are welcome, but please don't refactor everything at once because it's really hard to review for me.

[2021-03-08 18:21] slorber commented on #3522
no progress but we now have a "configurePostCss" hook and users are already using Tailwind with Docusaurus here: https://github.com/facebook/docusaurus/issues/2961

[2021-03-09 07:49] SimenB commented on #4347
As an additional data point, this is not an issue on blog posts as the ToC hugs the content

![image](https://user-images.githubusercontent.com/1404810/110436280-54cb2480-80b4-11eb-9bd6-73efd34d1ec2.png)

[2021-03-09 10:48] slorber commented on #4353
On the upcoming release (very soon, you can also use the `@canary` dist tag) will have `editUrl()` function to customize the URL to your wish, and the i18n support allows you to "override" the default "edit this page" label.

We also have the ability to swizzle the doc page and add custom logic for your own needs.

I find your use-case a bit weird, and it's already possible to implement today. If

[2021-03-09 10:48] #4353 closed

[2021-03-09 10:52] slorber commented on #4353
I believe it's already possible to add Disqus to Docusaurus,  using swizzle and something like https://github.com/disqus/disqus-react

I don't think we should support this in core, but just enable you to do the integration yourself

[2021-03-09 12:05] szaimen commented on #4353
Thanks!
May I asked if it is possible to customize the default docs template in some way so that I am able to use that component https://github.com/disqus/disqus-react on all docs files?

[2021-03-09 13:00] armano2 commented on #4336
there should not be a need for additional token configuration as checkout already provides this functionality

https://github.com/actions/checkout#push-a-commit-using-the-built-in-token

[code]

[2021-03-09 13:07] mrousavy commented on #4336
@armano2 I'm pretty sure that won't work as I have already tried that before. I will check again later though.

@slorber so that's just moving the ssh-agent step into a dedicated action right?

I have currently got it working like this:

[code]

I'm not sure if that's the best, fastest or safest way, but it works. I'll try to remove all of the SSH stuff so I don't need to worry about the private/p

[2021-03-09 13:14] mrousavy commented on #4336
@armano2 okay so I just tried it like this:

[code]

and it did not work. It fails at git clone again:

![Screenshot 2021-03-09 at 14 13 33](https://user-images.githubusercontent.com/15199031/110475838-a3db7e80-80e1-11eb-9bbe-bbcb704d55d1.png)

[2021-03-09 13:42] slorber commented on #4353
yes this is the swizzle feature that I mentioned and it is indeed documented

[2021-03-09 16:36] plocket commented on #3567
I just ran into this issue and did not find the errors clear because I assumed that the instructions at https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode would include everything we'd need to do to change to only having docs.

Maybe the documentation for docs-only-mode needs to be improved. For example, adding instructions about where we'd need to edit references to `/docs/` might he

[2021-03-09 16:40] #4083 closed

[2021-03-09 20:37] szaimen commented on #4353
Thanks! I'll investigate 👍

[2021-03-09 22:26] MateuszDabrowski commented on #4347
Just bumped docusaurus version to 71 and saw the increased container size for a large screen and must say I really hope in the future version there will be an option to switch back to the previous spacing.

Sure, the new approach allows for more text to be displayed on the screen and less empty space, but at the same time, due to width, it makes reading much worse.

There is a good reason why the

[2021-03-10 15:21] dcousineau-godaddy opened #4378 "[v2.0.0-alpha.71] Error: PostCSS plugin autoprefixer requires PostCSS 8."
## 🐛 Bug Report

I upgraded our internal documentation site to v2.0.0-alpha.71 (from alpha.69) and started receiving several errors along the lines of:

[code]

I _believe_ it's related to the upgrade to `autoprefixer@10` from #4355 (as `autoprefixer@10` requires postcss 8). Checking my package-lock.json's (I run a similar monorepo to this official docusaurus monorepo) `@docusaurus/core` correctly

[2021-03-10 16:01] lukewhyte commented on #4378
Same issue here on upgrading from 2.0.0-alpha.70 to 2.0.0-alpha.71 this morning.

[2021-03-10 16:27] slorber commented on #4378
Thanks for reporting, make sense.

Also using npm @lukewhyte ?

[2021-03-10 18:57] slorber commented on #4378
the problem looks a bit similar to https://github.com/facebook/docusaurus/issues/3515

Was wondering if any of you had a public repo so that we can at. least reproduce this somewhere? Apparently, this does not happen on newly initialized apps so it's hard for us to do anything without a repro.

@dcousineau-godaddy you are using lerna but npm6 which does not support workspaces?

[2021-03-10 19:00] #3208 closed

[2021-03-10 19:00] #4291 closed

[2021-03-10 19:18] slorber commented on #4347
All this is quite opiniated, but remember that in any case you can add custom mediaqueries or customize the existing widths by overriding css variables.

Ideally I'd like to see if Facebook could provide us a design review or something because I'm not good enough in design to know what's best for Docusaurus 😅

[2021-03-11 01:39] Yorkemartin opened #4389 "Nav bar that routes relative to the current doc plugin Id"
## 🚀 Feature

An example:

I have three instances of docs, each segmented into three categories with their respective sidebars: "concepts" "guides" and "reference". These docs can be called "V1" "V2" and "V3", but are fixed docs once released so versioning isn't helpful in the canonical sense. When on "V2"-"Concepts" - clicking the Guides button on the navbar will take me to "V2"-"Guides", along w

[2021-03-11 05:03] armano2 commented on #4124
you don't need some custom package for this as node supports this out of the box,

eg. instead of `path.join` just use `path.posix.join`
https://nodejs.org/api/path.html#path_path_posix

[2021-03-11 07:59] HondryTravis opened #4392 "need docs Edit this page translate in simple chinese."
Hope to add Chinese footer ‘Edit this page’ translate in simple chinese

[2021-03-11 09:07] HondryTravis opened #4393 "change Edit this Page button text, PLS :D"
## 🚀 Feature
![image](https://user-images.githubusercontent.com/24218012/110760903-24d57a00-828a-11eb-9a78-9f04270b01ac.png)

how did i can change this text in simple chinese ??

[2021-03-11 09:23] MateuszDabrowski commented on #4347
I agree it is an opinionated topic, but I believe the consensus is that the recommended width for a block fo text is somewhere between 600 and 800px wide. I agree that it would be awesome to have a design review by someone that is an expert on the topic.

In the meantime, I did exactly what you suggested - overrode the CSS variables to limit the width and centre the content.

I also had to centre

[2021-03-11 09:36] slorber commented on #4393
It is possible with alpha71 and the i18n support to override any theme label, and we provide default translations for many languages so if you just configure Chinese hans/hant as default locale in i18n config Docusaurus will show translated labels

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/codeTranslations/zh-Hans.json#L33

[2021-03-11 09:36] #4393 closed

[2021-03-11 09:38] slorber commented on #4392
please don't open twice the same issue, duplicate of https://github.com/facebook/docusaurus/issues/4393

[2021-03-11 09:38] #4392 closed

[2021-03-11 09:52] slorber commented on #4124
Looks like @armano2 you mentioned `path.posix` instead of `upath` and deleted that comment?

Both can be a solution, but apparently, they do not have the exact same behavior: https://github.com/anodynos/upath/issues/26

[2021-03-11 10:26] slorber opened #4394 "v1 site does not deploy due to CircleCI"
## 🐛 Bug Report

Opening this bug report mostly to document this issue.

When we merge on master some new code, CircleCI is supposed to run, and deploy the v1 website on GH pages if there is any git diff change.

[code]

The problem is that some of our users are using a Github pull bot that opens a PR to sync their fork whenever we push to master.

https://github.com/kadirselcuk/docusaurus/pull/41

[2021-03-11 10:38] slorber commented on #4394
Hopefully,  `$CIRCLE_PR_USERNAME` is not set in this case, as it's only set in forks.

![image](https://user-images.githubusercontent.com/749374/110774444-18d3c300-825e-11eb-8e1f-05fbf2c2d1f3.png)

While this one (new name for deprecated `CI_PULL_REQUEST`) seems to be able to be  set in upstream:

![image](https://user-images.githubusercontent.com/749374/110774514-2c7f2980-825e-11eb-9ff7-ef7558d72

[2021-03-11 10:43] armano2 commented on #4124
that's why i deleted my comment :)

[2021-03-11 10:55] slorber commented on #4394
fixed by https://github.com/facebook/docusaurus/pull/4395

[2021-03-11 10:55] #4394 closed

[2021-03-11 11:52] MisterFISHUP opened #4397 "[v2.0.0-alpha.71] Did not install docusaurus-plugin-sass successfully"
## 🐛 Bug Report

I tried to install `docusaurus-plugin-sass` but got a lot of errors in terminal.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

I just ran the following commands to init a project and to install `docusaurus-plugin-sass`:

1. `npx @docusaurus/init@latest ini

[2021-03-11 13:25] StanGirard commented on #3930
@sidvenu Have you found any workaround for now to get it working?

[2021-03-11 18:24] slorber commented on #3930
if anyone has an existing site online with the UX problem, that would likely help to understand better what a solution could look like

[2021-03-11 18:40] slorber commented on #4397
Sorry but I can't reproduce using a quite similar env.

Assuming it is a temporary issue.

Please try again, try also on another computer, and if it still fails, send a full log + a repro

My full log:

[code]

[2021-03-11 18:40] #4397 closed

[2021-03-11 20:57] MisterFISHUP commented on #4397
Thank you for your reply. `npm install --save docusaurus-plugin-sass` still didn't work for me, but then I checked the plugin's [github repo](https://github.com/rlamana/docusaurus-plugin-sass) and tried with `yarn add docusaurus-plugin-sass` and it worked worked like a charm.

[2021-03-12 04:54] polarathene commented on #4336
The checkout action default is a shallow clone of the commit. You may need to pull the full history to properly be in sync when doing a push.

[code]

Alternatively, as I have noticed (with a different deployment approach), `gh-pages` branch may not share a common commit if it was never branched off. For me this causes some issues with my Git GUI, I wouldn't be surprised if it causes any issues wi

[2021-03-12 07:10] Pierre-Gilles commented on #4363
@slorber Good idea! Just added gladysassistant.com here => https://github.com/facebook/docusaurus/pull/4408

That's an amazing news! Right now, what we did is that we built two separate Docusaurus website (one in EN/one in FR) who shared React components ^^ I can't wait to migrate to the official i18n support :)

You mean like this ?

<img width="363" alt="Screenshot 2021-03-12 at 15 04 18" src="h

[2021-03-12 09:27] slorber commented on #4363
I saw that. Somehow it's what the i18n support does, it's just you won't need to duplicate site configs.

Hmmm I believe it may work better with "to" instead of "href", for some legacy reasons there's a distinction in the way these 2 attributes are handled, but I'd like to remove that distinction

[2021-03-12 09:31] HondryTravis commented on #4393
thanks a lot. :D 🐳  @slorber

[2021-03-12 11:52] ZER0-X commented on #3526
I'm translating the **Arabic** language.

In the plural rules, can i use the variable more then one time?
like: aaa {count}|bbb {count}|ccc {count}|

[2021-03-12 12:24] orta opened #4411 "Remark plugins with config"
## 🐛 Bug Report

There isn't a way to define a remark plugin which supports configuration:

[code]

( `["name", { config }]` is a general convention for it )

This might be supported but the validator fails

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

## Expected b

[2021-03-12 12:29] orta opened #4412 "Config validation errors do not say the expected types"
## 🐛 Bug Report

In #4411  I used a config entry which didn't pass validation, but I _didn't_ know what the actual shape should be (I found a comment showing it somewhere else)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

You can use the steps in #4411 - but any incorrect

[2021-03-12 14:26] slorber commented on #4389
Hi,

I'm not totally sure to understand your usecase, a better description would be appreciated, and also if you can put a deploy preview of your doc site with 3 docs instance online on Netlify/Vercel/whatever, that would help to figure out the UX you try to achieve.

This looks kind-of related to https://github.com/facebook/docusaurus/issues/3930

My idea was we could build a generic system where

[2021-03-12 14:26] slorber commented on #3930
FYI some idea I have that could also solve this issue: https://github.com/facebook/docusaurus/issues/4389#issuecomment-797522687

[2021-03-12 14:50] StanGirard commented on #3930
@slorber That is exactly what we are looking for. Thanks for being so pro-active.

[2021-03-12 15:02] msteller-connyun opened #4414 "TOC is missing when content imported via mdx"
## 🐛 Bug Report

When an mdx file is imported into an other mdx file, the imported content is ignored by the TOC.

## To Reproduce

1. Create a mdx file with some headlines (#, ##)
2. Import the mdx file into an other one and call the mdx file as a jsx component

main.mdx:
[code]

## Expected behavior

The headers from demo.mdx should be visible in the TOC of main.mdx

## Actual Behavior

TOC igno

[2021-03-12 16:04] Simek opened #4415 "Preserve sidebar height when toggling sidebar"
## 🐛 Bug Report

Refs: #4311

Currently the left sidebar do not preserve the height on some of short pages (with long sidebars?), when toggling between collapsed and expanded states.

This is causing the visual "jump" of footer each time user interacts with sidebar mode.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#re

[2021-03-12 16:16] slorber commented on #3567
@plocket any doc PR is welcome if you feel you can improve the instructions

[2021-03-12 16:22] slorber commented on #4412
Make sense, we should improve obscure error messages when possible so that user does not need to look at the doc.

This is actually the default Joi error message that you get using the schema:

[code]

But there are ways to customize it with  `.message()` afaik.

Will assign to MLH fellows, should be an easy contribution :)

[2021-03-12 16:24] slorber commented on #4412
BTW, the `Joi.object()` type seems suspicious to me, is it a correct way to declare a remark plugin?

[2021-03-12 16:38] slorber commented on #4411
Seems reasonable to accept `string | [string,object]` here.

Not 100% sure but we probably need:

1. to allow that config in the schema
2. to support passing strings and require those strings?

2) is probably optional, but we do allow this for plugins and presets (including local relative paths), where users can write `['/myPlugin', options]` and it works too, can be useful to support for remark p

[2021-03-12 16:40] slorber commented on #4411
The funny part is that we only accept strings for the site plugins 😅 and we only accept functions for remark plugins 😅

We'll make sure that we can accept strings and functions in both cases (related to https://github.com/facebook/docusaurus/issues/3934)

[2021-03-12 16:51] slorber commented on #4414
Yes, this is a known issue I'd really like to get solved, but it does not seem easy to solve :'(

Duplicate of https://github.com/facebook/docusaurus/issues/3915

[2021-03-12 16:51] #4414 closed

[2021-03-12 17:53] LeonMontealegre opened #4417 "[v2.0.0-alpha.71] @docusaurus/init --use-npm fails"
## 🐛 Bug Report

Initializing a docusaurus v2 repository using `npx @docusaurus/init@2.0.0-alpha.71 init NAME classic --use-npm` fails on `npm install` with an error about being unable to resolve the dependency tree.

This comes along with the effect that if you install it without `--use-npm`, delete `yarn.lock` and `node_modules`, and attempt to `npm install`, the same error appears.

## To Repro

[2021-03-12 18:06] slorber commented on #4417
Can you provide the actual error log please?

[2021-03-12 20:02] orta commented on #4412
I'd call it  _unlikely_ - because the examples in the mdx documentation (which I assume you pipe into) are only:

[code]
Maybe [string, {obj}]` isn't allowed either from the diocs

[2021-03-12 22:25] zkochan opened #4419 "[V2] Links are broken"
## 🐛 Bug Report

Links are broken, when opening a doc page directly, when navigating to the page from home page, links work.

related issue https://github.com/pnpm/pnpm.github.io/issues/94

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Open this page: https://pnpm.js.org/

[2021-03-13 08:19] johnnyreilly opened #4421 "[2.0.0-alpha.71] Docusaurus Node/SSR could not render static page with path=[PATH] because of error: Cannot read property 'replace' of undefined"
Heya!

I've a fairly vanilla Docusaurus site that I'm using for blogging alone.  ~~I think (I'm not sure) that the problem may lie with the `@docusaurus/plugin-client-redirects`.~~ Actually I think not; I tried excluding that plugin and the issue still presented.

## 🐛 Bug Report

I think I've just encountered a bug with Docusaurus 2.0.0-alpha.71.  I upgraded from 70 and started to encounter error

[2021-03-13 08:24] slorber commented on #4419
Hi

This is a known issue due to using relative links and having your host provider adding a trailing slash

You can use absolute paths, relative paths to file (including md extension) or configure your host.

What is your host?

Duplicate of https://github.com/facebook/docusaurus/issues/3372

[2021-03-13 08:24] #4419 closed

[2021-03-13 10:08] zkochan commented on #4419
GitHub pages is our host

[2021-03-13 12:08] Mihonarium commented on #4281
Arrows are already used to navigate across the tabs (and it's really convenient!). I think it could be somewhat confusing if the same hotkey changes the page depending on whether a tab is in focus. If the outline isn't shown, it's impossible to predict what will happen if you press a button, which can lead to unexpected behavior.

Maybe use something like Ctrl+Arrow?

[2021-03-13 12:26] Mihonarium opened #4423 "Accessibility issue: navigation across links in the menu that isn't displayed"
## 🐛 Bug Report

When navigating using Tab/Alt+Tab, after the usual navbar the focus navigates to the invisible links in "navbar-sidebar".

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Open https://v2.docusaurus.io/docs/, press Tab 13+ times. Before getting to the sidebar,

[2021-03-13 17:02] ashutoshkumars opened #4425 "Support docs without frontmatter"
Hi,
  I was trying to find a way since docuaurus ver 1 to find a way I could publish md files without making any change to conform them to frontmatter, I wanted to get rid of putting "id" in hundreds of files. In ver 2, that problem was solved. But i find that since my filenaming is in format word1_word2_word3.md (eg:"system_design_documents.md", i *do* need to add frontmatter to take care of 2 th

[2021-03-13 17:13] ebanDev opened #4426 "[v2.0.0-alpha.71] cb.apply is not a function on npx init"
## 🐛 Bug Report

When I run the command `npx @docusaurus/init@latest init a-name classic`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Open a terminal as root on debian
2. Run `npx @docusaurus/init@latest init snowden-summary classic`

## Expected behavior

Erf, it shou

[2021-03-13 18:17] slorber commented on #4426
Can you please provide a full error log?
Can you try with a node LTS version li'e 14.x?

Le sam. 13 mars 2021 à 18:13, Eban ***@***.***> a écrit :

[2021-03-13 20:11] lex111 commented on #4421
Thanks for the report, it will be fixed in #4428.

However, I should inform you that due to the specificities of JSX, the contents of `pre` will be rendered in one line (i.e. without expected line breaks). To avoid this, you will either need to use a triple backtick or the CodeBlock component. I don't know how to automate this for you, but to get the correct code blocks formatting you need to use

[2021-03-13 20:44] johnnyreilly commented on #4421
Ah fascinating - yeah it turns out there's some `<pre`s tucked away in some historic blogs. I'll have to fix these up

https://github.com/johnnyreilly/blog.johnnyreilly.com/search?q=pre&type=

[2021-03-13 21:18] lex111 commented on #4423
Thanks for the report, this one dropped from my radar somehow, but will be fixed in #4429.

[2021-03-14 05:57] johnnyreilly commented on #4421
Cleaned my `<pre`s  - this turns out to have been a helpful bug to me :smile:

[2021-03-14 05:58] #4421 closed

[2021-03-14 08:47] johnnyreilly opened #4431 "Proposal: blog archive - is it handrollable?"
Of late I've been in the process of porting my blog from Blogger to Docusaurus.  I've covered a lot of ground and I'm currently dual publishing to both Blogger and to Docusaurus.  I have a critieria for switching which I've documented [here](https://github.com/johnnyreilly/blog.johnnyreilly.com#migrating-to-docusauras).

## 🚀 Feature

The one thing that I really miss is Blogger's "Blog Archive". T

[2021-03-14 09:33] ebanDev commented on #4426
Hi tried with node v14.16.0 and it works ! Thanks !

[2021-03-14 12:58] Simek commented on #4280
Hi @Dannyholt, this PR should fix your issue:
* https://github.com/facebook/docusaurus/pull/4311

It have introduced the new `className` for the docs plugin pages wrapper:

CC: @lex111

[2021-03-14 17:39] johnnyreilly commented on #4431
I have now handrolled a blog archive using webpack's [`require.context`](https://webpack.js.org/api/module-methods/#requirecontext)

https://github.com/johnnyreilly/blog.johnnyreilly.com/pull/18

There may well be a better way?

[2021-03-14 17:53] Dannyholt commented on #4280
@Simek

Unfortunately, this won't fix my issue as I would prefer to target specific docs via CSS whereas the `main-docs-wrapper` will appear on all docs as far as I can tell. :)

What I'm after is let's imagine we have a doc called `hello.md` the wrapper would add the docs `ID` as a class. For example:

[code]

Which you could then use to style elements for that doc only. For example:

[code]

[2021-03-14 18:45] Simek commented on #4280
Yeah, you are right, I didn't get the problem which you correctly.

As a temporary workaround, if change should apply to only content of one, selected page, you can add `className` to the element or `div` wrapper with `className` around it. You can use HTML tags quite freely in MDX.

Here you can see the example of React Native components grid:
* https://github.com/facebook/react-native-website/bl

[2021-03-15 02:21] Pierre-Gilles commented on #4363
Same problem with "to" instead of "href" !

[2021-03-15 15:40] slorber commented on #4426
@ebanDev can you consistently reproduce this with Node 15?

We'll keep this open for now and wire Node 15 CI checks, we must be ready for it

[2021-03-15 15:54] slorber commented on #4417
Thanks @leandrooriente

I guess we can close now thanks to https://github.com/facebook/docusaurus/pull/4436, let me know if you still see an issue

[2021-03-15 15:54] #4417 closed

[2021-03-15 16:00] slorber commented on #4431
Hi

Currrently the blog plugin does not create any archive page but we could add this easily.

You can also swizzle the BlogSidebar component if you want to implement this as a sidebar.

I don't think sidebar items receive post dates for now but we could add them to the props

[2021-03-15 16:00] lex111 commented on #4426
Apparently this is a cache-related (or another "operating system bugs") issue, so it really can be closed for now https://stackoverflow.com/questions/63429304/npm-err-cb-apply-is-not-a-function

[2021-03-15 16:40] johnnyreilly commented on #4431
Thanks @slorber

I've been able to implement my own blog archive fairly straightforwardly - you can see it here:

https://blog.priou.co.uk/blog-archive

And the code for it is here:

https://github.com/johnnyreilly/blog.johnnyreilly.com/blob/main/blog-website/src/pages/blog-archive.js

I'm fairly happy with the implementation. The thing that gives me pause for thought is that it relies upon `requi

[2021-03-15 16:50] #4423 closed

[2021-03-15 16:50] slorber commented on #4423
Should be fixed by https://github.com/facebookincubator/infima/pull/97

[2021-03-15 16:54] slorber commented on #4431
This is exactly what the plugin API is made for :)

You use NodeJS FS API, compute json props, pass them to `@theme/BlogArchivePage`, and then render it with regular client-side React code.

Our doc is not very organized but you'll find some inspiration here:
https://v2.docusaurus.io/docs/lifecycle-apis#actions

[2021-03-15 18:43] slorber commented on #4425
What about naming the doc `System Design Documents.md` ?

[2021-03-15 18:53] johnnyreilly commented on #4431
Do you mean in this plugin? https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-plugin-content-blog

[2021-03-15 19:01] slorber commented on #4280
This is quite related to https://github.com/facebook/docusaurus/issues/4322

We could add some unique classname to any doc/blog/markdown page to allow to target it more easily.
For docs, maybe a version classname could be useful too

[2021-03-15 19:03] slorber commented on #4322
FYI there's also a need to be able to target with CSS a specific doc/version/blog/page: https://github.com/facebook/docusaurus/issues/4280

Ie we probably want a classname like `docs-wrapper doc-item-page version-1.0.0 docId`?

[2021-03-15 19:07] slorber commented on #4431
Yes this one.

If you want to contribute this let me know, you probably just need to add something like:

[code]

And then add a `@theme/BlogArchivePage` component to the classic theme.

Your design on twitter looks good enough for now

[2021-03-16 06:46] ashutoshkumars commented on #4425
Adding space in filename breaks the navigation urlencodes the url which somehow don't look clean (although its a subjective opinion)

The "# title" never makes it. Even if there is no frontmatter title, the "# title" is never set as title, because docusaurus doesnt process any markup content for meta purposes.

[2021-03-16 08:22] SimenB opened #4439 "PWA logs warning in Chrome 89"
## 🐛 Bug Report

Opening https://v2.docusaurus.io/ and looking in the console, you'll see

[code]

Link for convenience: https://goo.gle/improved-pwa-offline-detection

(Note that this also applies to e.g. youtube.com, so I assume it'll affect most sites with a PWA?)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#report

[2021-03-16 18:22] slorber commented on #4425
![image](https://user-images.githubusercontent.com/749374/111359348-af074f00-868b-11eb-95b7-20ae7b87cab7.png)

![image](https://user-images.githubusercontent.com/749374/111359379-b7f82080-868b-11eb-9fe9-d8336f442fbc.png)

You mean you don't like the `%20` here?

I think we should just slugify this filename (ie you would end up with `/my-test`).

This would also fix the error when using filenames w

[2021-03-16 18:45] shinebayar-g commented on #3464
This is much needed feature. We have tons of markdown files divided into subfolders. It would be brilliant if Docusaurus supported targeting subdirectories instead of 1:1 matching everything. It's indeed error prone, we just noticed couple of docs weren't actually mapped to the sidebar because of developers didn't update the `sidebars.js` file.

[2021-03-16 18:54] Yorkemartin commented on #4389
This would address my issue perfectly, I would love it if this were implemented

[2021-03-16 20:28] mentrena commented on #2144
This is still happening. Like Jafar mentioned it can be reproduced by just trying to write swift code in a markdown file.

[Here](https://mentrena.github.io/SyncKit/RealmAPI/classes/RealmAdapter) is an example, all those code snippets should be highlighted.

[2021-03-16 23:31] avoliva commented on #1499
Why is Chrome saying this link is unsafe?

[2021-03-17 01:39] mattisdada opened #4445 "v2: Allow custom extensions to be passed into the Webpack file loader"
## 🚀 Feature

The ability to provide your own list of file extensions to be loaded via file loader or a specific directory that will always be loaded in via the file loader.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I currently have a YAML file that needs to be downloaded

[2021-03-17 01:47] yangshun commented on #1499
That domain name is no longer active. Please refer to other available v2 sites.

[2021-03-17 02:03] mattisdada commented on #4445
My workaround for this issue was to do the following:

[code]

There might be some other Docusaurus hook that allows generating the full url without relying on location, but I wasn't able to find it...

[2021-03-17 09:34] slorber commented on #4445
That's not entirely true, you can add whatever you want to the webpack config with `configurreWebpack`, including file-loader configs, so if we add this, it would only be a "shortcut" for something that is already possible today.

Something like this might work:

[code]

Note we have multiple output folders for static assets currently. If we enabled to configure a list of extensions, do we want al

[2021-03-17 09:43] slorber commented on #2144
Works for me

![image](https://user-images.githubusercontent.com/749374/111447117-67290c00-870d-11eb-8b43-79007bf0d2fa.png)

You likely read the docs too fast:

![image](https://user-images.githubusercontent.com/749374/111447265-8de74280-870d-11eb-84f2-ca5d546ffc33.png)

[2021-03-17 12:03] hugo-vrijswijk commented on #4378
@slorber I am also running into this. But weirdly not on alpha.71, but when upgrading to alpha.72. The repo is publicly available here: https://github.com/stryker-mutator/stryker-mutator.github.io/pull/251.

It looks like `@docusaurus/cssnano-preset` has a dependency on postcss `^7.0.2` while `@docusaurus/core` has a postcss dependency of `^8.2.7`

[2021-03-17 12:05] mentrena commented on #2144
You're very right, thank you!

[2021-03-17 14:59] #4079 closed

[2021-03-17 16:07] javidrashid commented on #4322
@ShinteiMai  to work on this.

[2021-03-17 16:15] javidrashid commented on #4431
@slorber To update the PR details coming from other than MLH fellows.

[2021-03-17 16:15] slorber commented on #4431
@johnnyreilly are you planning to add this to Docusaurus? Because we are trying to figure out if MLH fellows should work on this.

FYI what we want is something like this, directly in the blog plugin: https://blog.johnnyreilly.com/blog-archive

[2021-03-17 16:18] javidrashid commented on #4412
@ShinteiMai to  look in to this.

[2021-03-17 19:27] johnnyreilly commented on #4431
Noob question: what are MLH fellows? Is it this? https://fellowship.mlh.io/

I'd like to contribute this, yes. But I don't have a specific timeframe for when I'd do this in mind; my OSS has to fit in around my other commitments of work and family; both of which are busy at present.

I'm totally fine if you'd like someone else to work on this instead if you're targeting a speedy go-live

[2021-03-17 20:31] slorber commented on #4431
Yes this is it

So we'll keep it on the MLH task queue.

Just ping us if you want to claim this issue.

Le mer. 17 mars 2021 à 20:27, John Reilly ***@***.***> a
écrit :

[2021-03-18 02:15] RA80533 opened #4454 "Scrolling causes a noticeable stutter on Docusaurus v2 websites"
## 🐛 Bug Report

## To Reproduce

1. Go to [the docs section on the Docusaurus v2 website](https://v2.docusaurus.io/docs/)
2. Scroll to the top of the page
3. Attempt to scroll further upwards

## Expected behavior

### [Docusaurus v1](https://docusaurus.io/docs/en/installation)

<img width="1324" alt="Screen Shot 2021-03-17 at 9 01 38 PM" src="https://user-images.githubusercontent.com/32469082/11

[2021-03-18 03:37] armano2 opened #4455 "Deduplicate npm libraries (shelljs/execa, del/mkdirp)"
After going trough code i noticed that currently this project relies on multiple packages that essentially do same thing

should we use `shelljs.exec` or `execa` for cli commands?

should we use `fs-extra` or `shelljs` for file manupulation eg. rm, cp etc.
should we keep using libraries like: `del`, `mkdirp`?

[2021-03-18 06:03] johnnyreilly commented on #4431
Thanks @slorber - Docusaurus is really amazing BTW.  A month ago I was on Blogger and wasn't planning to go anywhere.  Encountering Docusaurus made me reconsider.  I really like it; great work to all involved!

[2021-03-18 07:05] Sleaf commented on #4378
upgrade `docusaurus-plugin-sass `to `0.1.12` works  to me

[2021-03-18 09:24] MatanBobi commented on #4439
I see this one also..
I looked at the `fetch` handler we have and it looks like it looks for [matches in the cache](https://github.com/facebook/docusaurus/blob/02cd5d343b8a9cd9fe5bb0975448a830567ee96a/packages/docusaurus-plugin-pwa/src/sw.js#L115) but I couldn't find any place where we `add` to the cache, is that done automatically? I'm not too familiar with service worker's cache behavior..

[2021-03-18 09:58] slorber commented on #4431
Thanks :)

Would also love to move my blog to Docusaurus, but it needs some extra features first (like React-Native-Web support)

[2021-03-18 14:47] weareoutman opened #4456 "Provide a way to let plugins use a compatible version of Joi"
## 🚀 Feature

Provide a way to let plugins (such as [my plugin](https://github.com/easyops-cn/docusaurus-search-local)) be compatible across Docusaurus versions, which both use Joi to do validation of options.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Currently Joi disall

[2021-03-18 15:08] slorber commented on #4456
Hey, totally agree on this, it was on my todo list.

We'll expose this:

[code]

[2021-03-18 15:53] slorber commented on #4455
I don't know what we should do but would be ok to have a single lib instead of many if possible.

However please don't refactor too much at once, it's hard for me to review everything and still find time to iterate on features/bugfixes

[2021-03-18 16:14] dcousineau-godaddy commented on #4378
@slorber sorry I missed the notification (I need to turn on my github notifications for this account)

Correct, this is `npm@6` without npm workspaces. For your background, `npm@7` workspaces aren't quite fully baked and we have issues even using the workspaces directly. As far as I've been informed by friends close to the situation npm workspaces are a ... first pass and public beta and not quite

[2021-03-18 17:42] slorber commented on #4456
PR: https://github.com/facebook/docusaurus/pull/4459

You'll need to require min version alpha 73 once released

[2021-03-18 18:27] #4456 closed

[2021-03-18 19:17] slorber commented on #3526
Hi!

FYI I enabled "ko" and "ja" locales on staging!

https://docusaurus-i18n-staging.netlify.app/

[2021-03-19 01:40] mattisdada commented on #4445
@slorber Thanks for that, I looked around and I couldn't find the Webpack escape hatch in the docs 😅.

I think it's still worth while for something that is a bit more systematic for this, maybe I overestimate how often docs are generated with downloaded files?

Otherwise I'm perfectly happy for this issue to be just closed, your answer is a good solution.

[2021-03-19 09:24] slorber commented on #4445
Thanks for the feedback

This is the first time anyone request that, so I'll just close for now, and see if this is requested again in the future

[2021-03-19 09:24] #4445 closed

[2021-03-19 09:28] Pierre-Gilles commented on #4363
FYI, I migrated to Docusaurus latest, it's really nice! Congrats on the work on i18n 👏

[2021-03-19 10:19] slorber commented on #4363
Thanks!

Can confirm there is something wrong with the `pathname://` protocol here and the baseurl is appended by mistake

[2021-03-19 10:46] slorber opened #4465 "<Tabs> should be insensitive to ordering mismatches"
## 🐛 Bug Report

[code]

When the `values` array is not in the exact same order as the `<TabItems>`, we end up with a really weird experience:

Clicking on Android focus the Web tab (ie it does not focus the tab you click on)

![image](https://user-images.githubusercontent.com/749374/111768586-68427080-88a8-11eb-8624-b615ba5542a5.png)

Reported here: https://github.com/facebook/react-native-websit

[2021-03-19 12:14] armano2 commented on #4465
i can work on this

[2021-03-19 16:04] collabnix opened #4469 "Staging environment"
I have a developer website based on docusaurus. Would like to know what general practice do people follow for staging and production environment . Before pushing my changes to prod site, I want to showcase it to my management. Do suggest.

[2021-03-19 17:12] #4465 closed

[2021-03-19 17:25] slorber commented on #4469
Hi, please remember issues are not for questions.

If you use a modern Jamstack / static hosting solution like Netlify or Vercel, each PR against master will have a "deploy preview" enabling you to review the changes online with a unique URL. Once you merge the PR to master, it will automatically deploy to production. This is the workflow I would recommend.

See for example https://github.com/face

[2021-03-19 17:25] #4469 closed

[2021-03-19 17:28] slorber commented on #4465
Thanks @armano2

please don't delete your comments even if they become useless, it is confusing for me 😅  and even stale comments can be useful for history

Note: if you want to improve tabs a bit more, I think it can be cool to fallback to first tab in case no default tab has been provided as props, currently it shows nothing which imho is weird

[2021-03-19 17:54] armano2 commented on #4454
i'm going to work on this

[2021-03-19 18:46] tecfella opened #4474 "[v2.0.0-alpha.72] - customCss - Error: true is not a PostCSS plugin"
## 🐛 Bug Report

Custom themes are broken in v2

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

No

## To Reproduce

versions
[code]

[code]

build output
[code]

## Expected behavior

It would build

## Actual Behavior

does not build

(Write what happened. Add screenshots, if applicable.)

## Yo

[2021-03-19 19:32] lex111 commented on #4474
Shouldn't the value of this field be an array? Try below code and let us know.

[code]

[2021-03-20 02:53] armano2 commented on #4087
few notes, issue is actually trivial to fix as we are can easily get stacktrace from webpacks by changing formatter

https://github.com/facebook/docusaurus/blob/9bdb9eb6305af6b661c90ede7837ba4c7b670bce/packages/docusaurus/src/webpack/plugins/LogPlugin.js#L20-L25

[2021-03-20 03:29] armano2 commented on #4087
issue is actually located in

[code]

https://github.com/facebook/create-react-app/blob/5fc8350c89ff730cdfd067bbd86a90dab393d21b/packages/react-dev-utils/formatWebpackMessages.js#L58-L61

if there are more than one 2 lies in error message, all other error lines are getting stripped from it

[2021-03-20 06:13] pjchender commented on #4378
As @Sleaf mentioned, I upgrade `docusaurus-plugin-sass` to `0.1.12`. It works for me after removing `node_modules` and `package-lock.json`, and run `npm install` again.

[2021-03-20 08:51] johnnyreilly opened #4477 "allow redirects to RSS / atom"
## 🐛 Bug Report

I'm not sure if this is a bug or a feature request.  My blog used to live on blogger and exposed an atom feed at `feeds/posts/default`.  I thought I'd probably be able to implement a redirect to the `/atom.xml` to support people who haven't updated their feed readers.  Didn't work so I thought I'd raise here.

### Have you read the [Contributing Guidelines on issues]

Yes

## To R

[2021-03-20 11:13] covalentbond commented on #4314
hey @slorber, We were migrating our Docs from `Vuepress` to `Docusaurus` and have over 200 markdown files in each 18 versions. So we do not want to modify every markdown files with Front matter like these:

[code]
 Is there any way possible that we can change the **title/sidebar_label** of the files from `sidebar.js` only.

But adding label to a` type: 'doc'` like shown below, doesn't seem to work

[2021-03-21 01:40] armano2 commented on #4085
@vjpr there is a way to setup this, maybe not as straight, but you could look what i did in typescript-eslint

https://github.com/typescript-eslint/typescript-eslint/pull/3147

https://github.com/typescript-eslint/typescript-eslint/blob/2abb09226d9158e67f9d4c91b30c50cadc4de3c6/website/docusaurus.config.js

[2021-03-22 09:33] hugo-vrijswijk commented on #4378
I think this is unrelated to sass. The example repo I linked above does not have any sass-related dependencies in its package-lock

[2021-03-22 09:36] tecfella commented on #4474
Hi Thanks for getting back to me.

I have tried an array - it still gives the same error.

[2021-03-22 13:38] Aslemammad opened #4489 "Unterminated template"
I have some md files like:
[code]

They have some code snippets like js or ts.
I see this error:
[code]
docusaurus.config.js
[code]
sidebars.js
[code]

[2021-03-22 14:36] lex111 commented on #4474
Hmm, could you provide reproducible repo?

[2021-03-22 14:38] lex111 commented on #4489
We need the contents of `/docs/api/optics.md` file to understand what is the reason of this error.

[2021-03-22 16:19] kaytwo commented on #395
For anyone looking for a succinct alternative to these options, as of at least Docusaurus `2.0.0-alpha.72`, you can do this:

[code]

Fully inline substitution or multiline doesn't work ([but may work once Docusaurus bumps mdx to v2](https://github.com/mdx-js/mdx/issues/628). For those of us coming from Jekyll, this approach works for very basic frontmatter substitution within the document.

[2021-03-22 16:54] slorber commented on #4489
Are you sure it's the exact source you get the error with? no local modification?

Your error shows `atomWithImmer` which does not even appear in your source doc in the link above

Can you run `docusaurus clear`? Can you create a smaller repro using new.docusaurus.io?

[2021-03-22 17:02] lex111 commented on #4489
This is probably due to the multi-instance docs, because their [paths overlap](https://github.com/pmndrs/jotai/blob/feat/docs-website-docusaurus/website/docusaurus.config.js#L9).

[2021-03-22 17:13] slorber commented on #4477
Hi

`@docusaurus/plugin-client-redirects` can only create client-side redirects, and is expected to redirect to an existing Docusaurus page route. RSS feeds and sitemaps etc are not applicable because those files are created in a postBuild hook and are not actual SPA routes. We could enhance the plugin to support client-side redirects to RSS and sitemaps but I don't feel it's something I'd like to

[2021-03-22 17:13] #4477 closed

[2021-03-22 17:25] slorber commented on #4489
Ah yeah, good catch.

What are you trying to achieve here with mult-instance @Aslemammad ?

FYI you don't need multi-instance to have distinct sidebars:
- https://github.com/facebook/jest/blob/master/website/sidebars.json
- https://jestjs.io/docs/api

Should we document this better?

[2021-03-22 17:47] armano2 commented on #4029
mdx 2.0 introduced breaking change, comments `` are not longer allowed in code, and thus mdxjs can't be used for simple markdown files

[2021-03-22 17:51] slorber commented on #4314
@covalentbond can you help me understand your usecase better?

What does a source doc look like? (content + filename, ideally Git repo?)

Why is it complicated to add frontmatter to the 200 docs and why it is better to do that on sidebars.js instead? Wouldn't this complicate the maintenance on the long term as authors won't understand how to set the doc title?

What data do you want to provide wit

[2021-03-22 18:01] slorber commented on #4029
There are also disagreements in the MDX core contributors:
- https://github.com/mdx-js/mdx/pull/1425
- https://github.com/mdx-js/mdx/issues/1385

There's also a "fork" [xdm](https://github.com/wooorm/xdm) project from Titus himself.

Let's not rush on this migration for now and see how things evolve.

[2021-03-22 18:30] johnnyreilly commented on #4477
Okay wait - I see what you mean. I'd browsed the `gh-pages` branch and spotted files like this which represented my redirects:

https://github.com/johnnyreilly/blog.johnnyreilly.com/blob/gh-pages/2020/12/azure-pipelines-meet-jest/index.html

I didn't open the files, but assumed it just contained the same content as the original file. I assumed they weren't actually redirects; more duplicate conten

[2021-03-22 18:32] #4454 closed

[2021-03-22 18:39] johnnyreilly commented on #4477
Yeah - done:

![image](https://user-images.githubusercontent.com/1010525/112041187-ff742600-8b3d-11eb-8114-5572c23279f9.png)

[2021-03-22 18:50] covalentbond commented on #4314
Hey, my usecase is similar to what's stated in #4425 . We have existing markdown files without frontmatter in it. Now to only add sidebar labels and title to each file, we might need to edit those existing files. Instead we are looking out for alternatives to just pass `sidebar_labels` through modifying only the `sidebar.js`, because editing all the doc file is painful and will also update the tim

[2021-03-22 18:59] slorber commented on #4477
yes :)

[2021-03-23 02:41] kaytwo opened #4492 "Proposal: enable option to propagate arbitrary frontmatter data in globals"
## 🚀 Feature

Expose markdown frontmatter in page globals.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I'd like to programmatically generate docs/pages based on custom metadata stored in the frontmatter of my docs. In my use case, I'm building a course website, where the do

[2021-03-23 07:53] Aslemammad commented on #4489
@slorber @lex111 Actually [that](https://github.com/pmndrs/jotai/tree/feat/docs-website-docusaurus/website) is the source code, and I wanted to show the docs folder in the sidebar as i showed above:
[code]
something like this.

[2021-03-23 15:35] arifszn commented on #4268
After updating from `2.0.0-alpha.68` to `2.0.0-alpha.72`, getting this error on build.

![image](https://user-images.githubusercontent.com/45073703/112173009-66b5d700-8c1f-11eb-9e64-2235073be4d7.png)

[2021-03-23 16:05] slorber commented on #4489
As you showed where?

I'm not able to understand what you mean by this tree sorry

![image](https://user-images.githubusercontent.com/749374/112177897-9ce06000-8bf9-11eb-87f3-0457024c24be.png)

But it looks to me you are trying to use docs multi-instance with some kind of path overlap (docs + docs/api) and you should not do that.

You'd rather not use multi-instance if you just want 2 distinct sid

[2021-03-23 16:05] #4489 closed

[2021-03-23 16:22] slorber commented on #4492
Hi,

I understand your motivation to create additional pages, but I don't think adding this data to the global site data is the best option here. As you noted it's going to increase the size of the whole site, including the homepage etc.

What I would suggest instead is to look at extending the original docs plugin to create those additional pages.

We don't have an official doc for this but you c

[2021-03-23 17:07] #4425 closed

[2021-03-23 17:23] AdamBebko commented on #1769
I'm also wondering how to restore this functionality

[2021-03-23 17:27] slorber commented on #3464
FYI, we have decided that this feature is a top priority for the beta launch, and I'll work on this very soon!

Will read again all your comments before I start.

It is a very visible feature that can make Docusaurus more intuitive for newcomers: some end up creating a doc file and don't really understand how to navigate to this doc file, as it requires reading the doc to know about the `sidebars.

[2021-03-23 17:31] slorber commented on #1769
I have many things to backport in the migration cli/doc, including a solution for the comp library migration.

In the meantime, you can copy the comps here and use them in place of the v1 components: https://github.com/facebook/jest/tree/v27.0.0-next.5/website/src/components/v1

For simple cases, you can use the new `<Interpolate>` component  instead of `<MarkdownBlock>`, as shipping a full MD par

[2021-03-23 17:40] satanTime commented on #4474
installing `postcss@8` explicitly solves this issue. No need in wrapping the resolve with an array.
[code]

[2021-03-23 18:07] arinthros commented on #3464
@slorber I love the 'slice' concept. We follow this general structure when using Docusaurus v2.

[code]

[2021-03-23 18:08] slorber commented on #4474
@tecfella do you have a monorepo? can you try postcss 8 as said above?

Also log the value you pass to `customCss`?

[2021-03-23 18:12] kaytwo commented on #4492
This does make sense, thanks! I built the most basic version as I could (using a super basic test component in my site at `@site/src/components/calendar.jsx`, I added the new plugin to both the docusaurus config and package.json, but no luck.

<details>
  <summary>Here's the error:</summary>

[code]

</details>

<details>
  <summary>the new plugin source:</summary>

[code]

</details>

<details>

[2021-03-23 18:15] satanTime commented on #4474
If you want an example with the issue, unfortunately, it is not a min sample: https://github.com/ike18t/ng-mocks/pull/326, if to remove `postcss` from changes then you should get the error.

[2021-03-23 18:34] slorber commented on #4314
- #4485 allows using `# Title` instead of frontmatter to define the page/doc title + sidebar doc label.
- #3464 will add support for auto-generated sidebars

Does this cover all your use cases?

I don't feel sidebars.js is a good place to "override" the frontmatter (but it make sense to override the "sidebar_label" frontmatter), as it is possible to create docs that don't belong to any sidebar for

[2021-03-23 18:48] slorber commented on #4314
FYI  the PR of @besemuna here https://github.com/facebook/docusaurus/pull/4500

Allows to declare the sidebar label of a doc through `sidebars.js` instead of using `sidebars_label: My Label` frontmatter.

Does not allow (on purpose) to override the doc title frontmatter that will be used in page/document heading/title.

So, not sure it will solve any of your pain points, but still think it's usefu

[2021-03-23 18:57] slorber commented on #4492
If you have a public github repo with a branch and your code I can see how to fix it.

You can't pass any json to "modules" directly here, but you can pass a path to a son file containing the data you want (we have a `createData` action for that)

Modules means something Webpack can require.

It's a bit deep in our code but you'll find this link useful:
https://docusaurus.io/docs/next/lifecycle-ap

[2021-03-24 02:16] kaytwo commented on #4492
Thanks for your help on this, I got it to work - unfortunately the metadata available directly through the `docsPluginEnhanced` approach will allow direct access to the docusaurus metadata and the filenames which would allow for recovering the frontmatter variables but it would be a pretty roundabout approach, and the new page would still need to be themed to fit in with the rest of the site.

At

[2021-03-24 02:30] kaytwo commented on #4492
Do plugins get processed in the order of the plugin array? Would this type of preprocessing be possible using a plugin? e.g. pass it a glob of files you care about, and then generate the new mdx file, which then gets processed by the docs plugin itself to create the summary page.

[2021-03-24 11:26] vjpr commented on #3464
Great to see this taking priority!

This is the right approach.

I would stress that it would be great to have a hook function that allows full customization of the sidebar allowing anyone to override the default implementation (that function would take arguments of all id file mappings as I mentioned elsewhere).

Re-ordering can be difficult. Prisma use a cli tool though -> https://github.com/pri

[2021-03-24 11:39] HonkingGoose opened #4509 "Use symbols to denote "swizzle safety" on CLI for run swizzle"
## 🚀 Feature

Use a symbol to denote swizzle component "safety" instead of relying on color alone.

See this picture to see the current Swizzle CLI output: https://user-images.githubusercontent.com/749374/112303335-7293ae80-8c9c-11eb-834b-114ae28fd5ab.png

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/masterYe/CONTRIBUTING.md#reporting-new-is

[2021-03-24 13:20] slorber commented on #4509
make sense, will assign this to a MLH fellow

[2021-03-24 13:37] slorber commented on #4492
why don't you like this approach?

Yes but in any case if you are creating a page that is not handled directly by the classic theme you would have to style it anyway? You can reuse existing theme components to do so.

You mean write `calendar.json` to  disc and import it in `src/pages/calendar.jsx`?

That would definitively work, and some sites do that already (Jest site fetch opencollective contr

[2021-03-24 13:39] slorber commented on #4138
@RDIL not sure what you mean but I don't think it's a good idea, or at least we should talk about this :)

---

Related issue with a good amount of infos on how to extend a content plugin: https://github.com/facebook/docusaurus/issues/4492

[2021-03-24 14:28] kaytwo commented on #4492
This may be my mistake - I couldn't find where custom frontmatter was persisted within the existing data structures (only all of the metadata generated by docusaurus), so the solution I could think of would be to:

1. capture the various `@site/docs/homeworks/homework1.mdx` etc. source file references in `contentLoaded`
2. open those files, read their frontmatter with a yaml/markdown parser
3. sen

[2021-03-24 15:07] quicklearning123 opened #4510 "How can I disable the highlight(V1)?"
There is a firewall here, so I can't open the link
[code]

[2021-03-24 17:16] slorber commented on #4492
FYI the debug plugin might be help to inspect the available content: https://docusaurus.io/__docusaurus/debug/content

You are right, and we should make sure to provide you with this info. For now the only work-around is to re-read the file again 😅 would be happy to accept a PR that add `frontmatter` to `DocMetadataBase`

Only docs display the sidebar currently, and if you want to display the side

[2021-03-24 17:26] slorber commented on #4510
I don't understand your problem, please add more explainations

[2021-03-24 17:26] slorber commented on #4510
questions should be using github discussions

[2021-03-24 17:26] #4510 closed

[2021-03-24 17:41] MisterFISHUP opened #4512 "[v2.0.0-alpha.72] Layout of doc pages without a sidebar looks awkward"
## 🐛 Bug Report

The layout of a doc page without the sidebar looks awkward to me. The page content is deviated to the left too much, so as the right toc. In addition, the left and right paddings of the page look unbalanced, since there is almost no padding on the left but there is a large padding on the right. See screenshots below.

**Before (with sidebar), looks good:**
![Screenshot from 2021-0

[2021-03-24 18:59] MisterFISHUP opened #4513 "[v2.0.0-alpha.72] Lack of space between headings and sticky nav bar"
## 🐛 Bug Report

It's not really a bug but rather a small problem of layout. When clicking on a heading of some markdown page (in the right toc or page content), we jump to the heading, and if the nav bar hides on scroll (with `hideOnScroll: true` in config), the heading has a decent top padding/margin. But with sticky nav bar (which is the default setting), the top padding/margin somehow disappea

[2021-03-25 10:37] HonkingGoose commented on #4347
You could also take inspiration from TailwindCSS (and their Typography plugin) for how to format text nicely.

TailwindCSS v2 has a `max-w-prose` property that formats text nicely:

| Class | Properties |
| --- | --- |
| `max-w-prose` | `max-width`: `65ch` |

- https://tailwindcss.com/docs/max-width#prose
- https://github.com/tailwindlabs/tailwindcss-typography

[2021-03-25 15:24] sandyabhi commented on #4513
Hi @MisterFISHUP I would like work on it

[2021-03-25 16:44] MisterFISHUP commented on #4513
Awesome! Thanks!

[2021-03-25 16:59] tecfella commented on #4474
I rebuilt my repo from scratch, found the missing piece

Turns out adding  the file `./babel.config.js`
[code]

Thank you all for your help and suggestions.

I spent ages thinking there was a problem processing css from rehype-katex and remark-math. All good!

[2021-03-25 17:47] slorber commented on #4474
oh really? This should definitively work without that file

[2021-03-26 07:55] SimenB opened #4518 "CSS is different between local development build and built for prod"
## 🐛 Bug Report

When running `docusaurus start` the CSS is different than running `docusaurus build` followed by `docusaurus serve`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

## To Reproduce

1. Check out https://github.com/facebook/jest/pull/11229
1. Run `yarn` from root
1. `cd` into

[2021-03-26 09:00] sandyabhi commented on #4513
@MisterFISHUP can you tell the page name I didn't find this page

[2021-03-26 11:34] gHashTag opened #4519 "A very common reason is a wrong site baseUrl configuration."
Your Docusaurus site did not load properly.
A very common reason is a wrong site baseUrl configuration.
Current configured baseUrl = / (default value)
We suggest trying baseUrl = /

My [baseUrl](https://github.com/gHashTag/jscamp/blob/877595d27c22bda42b62c7adea36257f40aa4693/docusaurus.config.js#L14)
```baseUrl = '/'```

![2021-03-26 16 30 53](https://user-images.githubusercontent.com/6774813/1126

[2021-03-26 12:14] slorber commented on #4519
Can you provide a repro?
Is it open-source or available online?
Can you show browser console logs? The css likely fails to load for some reason.

[2021-03-26 13:50] slorber commented on #4518
Hi,

As explained in DM, this is not an issue with Docusaurus itself but rather it's an issue with the site that has conflicting CSS rules that are too dependent on CSS insertion order.

CSS is code-splitted by Webpack and lazy-loaded and inserted in pages on demand.

For example when you go to https://jestjs.io/help, the following CSS files load:

![image](https://user-images.githubusercontent.co

[2021-03-26 13:50] #4518 closed

[2021-03-26 14:15] SimenB commented on #4518
I still think it's a bug that dev and prod do not agree on a fresh navigation (or refresh) on the same page. It's not about navigation in that case - some prod optimization breaks css insertion order. The fact other frameworks may or may not have the same bug doesn't make it any less of a bug.

But of course if we fix this for Jest it doesn't really impact me anymore, so I'm happy with that resolu

[2021-03-26 15:52] slorber commented on #4518
It also affects other projects of the React ecosystem.

https://github.com/facebook/create-react-app/issues/7190
https://github.com/gatsbyjs/gatsby/issues/9733
https://github.com/gatsbyjs/gatsby/issues/9733

If you have any solution to fix this problem let me know, but I don't have any apart advising you to scope your styles and make them independent or insertion order and specificity issues.

All

[2021-03-26 16:38] xianjie-li opened #4520 "customize an alias like `@site`"
## 🚀 Feature

when developing some small libraries, need to simulate user imports directly in the development environment.

config alias
[code]

and use in doc page
[code]

[2021-03-26 17:39] slorber commented on #4520
There is a `configureWebpack` hook, you can use it to add your custom webpack aliases

[2021-03-26 17:39] #4520 closed

[2021-03-27 03:03] Josh-Cena opened #4523 "Inconsistent layout between Docs and Blog"
## 🐛 Bug Report

The container sizing is different in Docs and Blog.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Build a site with both `Docs` and `Blog`.

## Expected behavior

The sidebar and the main container should have the same sizing in Docs or in Blog.

## Actual

[2021-03-27 08:42] gHashTag commented on #4519
@slorber  https://github.com/gHashTag/jscamp

[2021-03-27 09:58] slorber commented on #4519
Thanks, I'll need more details to be able to help you

Le sam. 27 mars 2021 à 09:43, Server Serverlesskiy ***@***.***>
a écrit :

[2021-03-27 10:08] gHashTag commented on #4519
What else is needed?

[2021-03-27 13:01] sandyabhi commented on #4523
Hey @Josh-Cena I would like to work on it

[2021-03-27 13:53] slorber commented on #4519
Is it open-source or available online?
Can you show browser console logs? The css likely fails to load for some reason.

It would help if you explain on which computer you have the problem and give details of the env browser, versions and everything. Please be exhaustive

[2021-03-27 13:58] Josh-Cena commented on #4523
@sandyabhi Sure 😂 I think some swizzling should be enough? I haven't looked into the layout-related code

[2021-03-27 14:03] Josh-Cena commented on #4523
I can see that the rationale is probably because the docs sidebar is collapsable, so a fixed-width container is used instead of a grid layout. I think we can use the same sidebar width for blog as well.

[2021-03-29 05:22] alex88 commented on #2494
I've tried BrowserOnly around the RedocStandalone component but that didn't help, same Buffer error

[2021-03-29 14:46] slorber commented on #2494
It's not always enough to wrap in `<BrowserOnly>`, you might also use a "lazy require" and ensure that the lib is not initialized eagerly.

See  a possible solution here: https://github.com/mac-s-g/react-json-view/issues/121#issuecomment-670431408

![image](https://user-images.githubusercontent.com/749374/112854619-5170fa80-90ae-11eb-8e01-f0ab26d1beb2.png)

[2021-03-29 16:34] kamsar opened #4530 "Enhancing a theme component can only be done once"
## 🐛 Bug Report

If more than one plugin enhances a theme component (https://docusaurus.io/docs/using-themes/#for-plugin-authors), such as `docusaurus-theme-live-codeblock`, subsequent enhancers past the first will receive `undefined` for the imported component to enhance from `@theme-init`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/maste

[2021-03-29 22:34] aszecsei opened #4534 "Pipe + other character inside non-top-level <code> block renders as plain text"
## 🐛 Bug Report

When in a non-HTML context (that is, no top-level HTML tag exists), escaping a single pipe within a `<code>` tag works as expected, but adding any other characters causes the contents of the `<code>` tag to render as plain text (not as code).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-

[2021-03-29 22:36] flossypurse opened #4535 "Out-of-the-box syntax highlighting is broken for at least Java, PHP, & Ruby."
## 🐛 Bug Report

Out-of-the-box syntax highlighting is broken for at least Java, PHP, & Ruby.

There may be others...

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

Yes.

## To Reproduce

If possible, use https://new.docusaurus.io to create a CodeSandbox reproducible de

[2021-03-29 23:34] Josh-Cena commented on #4535
According to the [docusaurus doc](https://docusaurus.io/docs/markdown-features/code-blocks#syntax-highlighting),

Which doesn't include Java, PHP, or Ruby. You have to manually include them in the config.

I have encountered the same thing, and I wonder why they didn't choose these languages to support out-of-the-box...

[2021-03-30 00:48] flossypurse commented on #4535
Ah, yes just figuring this out.
The thing is - those languages used to be included by default.
I was confused because we upgraded our site, and discovered that some of the languages stopped working...

Appreciate it @Josh-Cena Thank you!

[2021-03-30 00:48] #4535 closed

[2021-03-30 08:18] slorber commented on #4534
Agree there seems to be something wrong.

The following should work consistently:

[code]

Using the MDX playground, it looks like MDX does output the code blocks in both cases:

https://mdxjs.com/playground/

![image](https://user-images.githubusercontent.com/749374/112956916-3b604a00-9141-11eb-9ff4-7e506a1ae69d.png)

So it may be a problem in Docusaurus integration.

Not sure which MDX version i

[2021-03-30 09:24] slorber commented on #4530
Yes, this is a limitation of current theming system.

I'm not sure how to solve this problem, but agree it could be nice to be able to enhance a component multiple times in a row. For now the best option is to add all your enhancement logic in a single wrapper, which may lead to copying some existing enhancers code and maintaining it over time.

Was wondering, what's your usecase for this? It does

[2021-03-30 13:56] caiiiycuk commented on #3961
I found the reason. As I said I ejected CodeBlock and it have `rangeParser` in imports:
[code]

So, when I comment this import then everything works. But how I can use it, even if I install `parse-numeric-range` package docusaurus 2 is not working with same error.

[2021-03-30 13:58] kamsar commented on #4530
The use case is that I wanted to use both `@docusaurus/theme-live-codeblock` and also another custom plugin that ingests code examples from a separate repository of patterns similar to https://github.com/saucelabs/docusaurus-theme-github-codeblock - both need to extend the CodeBlock component.

For now I disabled the live codeblock as I can get along without it.

[2021-03-30 14:50] msteller-connyun opened #4537 "Production build without SSR"
## 🚀 Feature

Allow production builds without SSR

## Motivation

I’v some custom plugins/webpack-loaders which seems to require the window object.
Works fine in dev build, but fails to build for prod thanks to SSR.

I don’t need SSR, a normal SPA is good enough for my purpose.

`<BrowserOnly/>` is not resolving my issues.

## Pitch

Add a new flag to build

`build no-ssr`.

[2021-03-30 17:52] slorber commented on #4537
I don't think it is something we want to support unless there are strong args and many people asking for this.

Docusaurus is focused on content-centric websites and SEO, SSR, Jamstack is important for such sites.

Why is your build failing? BrowserOnly may be not enough, you might also need a lazy require instead of a top-level ES import.

https://github.com/facebook/docusaurus/discussions/4514

[2021-03-30 17:52] #4537 closed

[2021-03-30 17:56] slorber commented on #4530
One possibility is to create a comp like `src/comps/MyCodeBlock` instead of `src/theme/LiveCodeBlock`.

Then you could swizzle `theme/MDXComponents` and make  sure markdown code blocks use your component instead of the theme component

[2021-03-30 18:02] #3961 closed

[2021-03-31 03:41] AbhinavShah421 commented on #2628
Hey,
I am also facing this issue please let me know that what is the proper solution for this.

Error: ENAMETOOLONG: name too long, open '/home/kyle/Development/Forks/xr3ngine/packages/docs/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-docs-server-classes-src-services-gameserver-subdomain-provision-gameserver-subdomain-provision-class-gameserversubdomainprovision-md-6cd.json'

[2021-03-31 14:40] jquense commented on #2961
@slorber if someone wanted a tailwind theme now-ish, would you suggest waiting a bit more, or plowing a head and making their own. Is it still a mid term goal? It seems like abstracting common logic from themes, is a fairly significant undertaking and likely requires some rethinking of how themes work?

[2021-03-31 15:55] ibraheemdev opened #4540 "Include code snippets"
## 🚀 Feature

I'm not sure if you can do this currently, but it would be nice if there was a way to include code snippets from a file:
[code]

## Motivation

Many other static site generators include this feature, and having it would make migration easier. It would also allow you to test/compile those examples in CI to make sure the code is up to date.

Is this possible currently with react compon

[2021-03-31 16:14] ibraheemdev commented on #4540
Oh, I just saw that this is possible [from this example](https://github.com/facebook/docusaurus/blob/master/website/src/pages/examples/markdownPageExample.md#import-code-block-from-source-code-file). Maybe documentation should be added to the code blocks or files section?

[2021-03-31 19:14] ibraheemdev commented on #395
Is it possible to reference the site config inside of a markdown code block?

[2021-03-31 19:41] slorber commented on #395
Not sure what you mean @ibraheemdev, any example code snippet to share and the expected result you want?

[2021-03-31 19:44] slorber commented on #4540
Yes, I wanted to create some kind of recipes section but if you feel like adding this to code blocks is helpful, PR is welcome 😉

[2021-04-01 00:45] MisterFISHUP opened #4542 "[i18n] Making website title translatable"
## 🚀 Feature

First of all, the i18n feature of Docusaurus is terrific, thanks a lot!

It seems that the website's title can't be translated. It's not a big problem if the website title is just a simple name or doesn't have much meaning. However, It's really not ideal especially when the website uses languages that use different alphabet: imagine the main language of the website is Chinese (or Heb

[2021-04-01 07:23] duanwilliam opened #4544 "@docusaurus/remark-plugin-npm2yarn redundant imports"
## 🐛 Bug Report

The `@docusaurus/remark-plugin-npm2yarn` official plugin adds an import node for the `@theme/Tabs` and `@theme/TabItem` components if it successfully transforms a code block. This triggers a SyntaxError if the imports for them have already been defined in the file, or otherwise added (for example, through another plugin that fails to check for this).

    ./relative/path/to/file.m

[2021-04-01 10:31] slorber commented on #395
This is not possible with md syntax but you can use MDX

[code]

[2021-04-01 12:10] slorber commented on #2961
@jquense I think you'd better implement that theme yourself for now, and we may be able to benefit from this third-party implementation once Docusaurus has refactored its theme system.

The goal is to share the same UX across all the official themes, and just have to implement the UI / head / styled components for each theme. We should also try to make it so that theme refactors are less likely to

[2021-04-01 12:23] slorber commented on #4542
Thanks for the feedback :)

This has been reported here too: https://github.com/facebook/docusaurus/discussions/4480

I was thinking of adding `i18n/en/site.json`  or something, allowing you to provide title and tagline for example.

I think it's a better place to translate content, particularly when you have  a long list of locales: not sure we want to maintain a lot of translations in the config

[2021-04-02 03:01] mattroseman opened #4549 "Title tag not defaulted to just config title if no page title"
## 🐛 Bug Report

When a Layout component doesn't have a `title` prop passed in, the site title set in `docusaurus.config.js` isn't used as a fallback.

This only happens when building and serving as in prod, just calling `npm serve` doesn't cause this issue
This seems to be a recently introduced bug, as it worked in 2.0.0-alpha.70

### Have you read the [Contributing Guidelines on issues](https://

[2021-04-02 05:31] lucalves opened #4550 "The showcase is showing old version of Repeater.js"
## 🐛 Bug Report

The showcase in the documentation is showing **Channel.js**, but it has been changed to **[Repeater.js](https://repeater.js.org/)**.

![channel](https://user-images.githubusercontent.com/17712401/113383627-b8b2d700-935a-11eb-8cf4-15a7d02db7bf.png)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting

[2021-04-02 05:56] lucalves commented on #4550
I opened a PR to correct this in #4551.

[2021-04-02 07:47] HondryTravis opened #4552 "#Theme in C# #: i lost my c# code color"
in my code, i change this language type to cpp, this theme is right ,but i changed type to cs. it's just like this.

in vscode, i changed this language type to cs
![image](https://user-images.githubusercontent.com/24218012/113394406-c2742300-93ca-11eb-828f-3af96f0e5fe6.png)

in website
![image](https://user-images.githubusercontent.com/24218012/113394234-76c17980-93ca-11eb-8d9c-14d653bdb426.png)

[2021-04-02 07:55] #4552 closed

[2021-04-02 08:06] HondryTravis opened #4553 "[Theme Bug]: in csharp/C# code, i lost my code color. : - ("
## 🐛 Bug Report

in my code, i change this language type to cpp, this theme is right ,but i changed type to cs. it's just like this.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(No)

## Actual Behavior

1. in vscode, i changed this language type to cs
![image](https://user-images.githubusercon

[2021-04-02 08:09] gHashTag commented on #4519
The problem disappeared. I'm sorry. I close the task.

[2021-04-02 08:09] #4519 closed

[2021-04-02 10:21] #4550 closed

[2021-04-02 10:24] slorber commented on #4553
As documented, Docusaurus does not support all languages by default, and you have to provide additional config to enable more languages:
https://docusaurus.io/docs/markdown-features/code-blocks#syntax-highlighting

[2021-04-02 10:24] #4553 closed

[2021-04-02 13:11] serut opened #4555 "Doc: Contextual search only works when algolia is active for 1 day"
## 📚 Documentation

If you have a versionned documentation and you want to active Algolia search engine :

- Day 0: You don't have any search engine on your documentation
- Day 1: You register to the DocSearch program
- Day 2: You receive your `apiKey` and `indexName`. You set these infos, plus `contextualSearch: true` inside the config file, but there is no result on your app, even if your docume

[2021-04-02 15:04] slorber commented on #4555
Doc PRs are welcome if you feel something should be improved here.

I believe you are wrong. Contextual search does not change anything to  how Algolia see the pages, so those pages are indexed the same say with/without contextual search. It only has an impact  at query time.

However, if Algolia crawl your site before your add the algolia plugin to your site, Algolia won't receive the proper meta

[2021-04-02 15:04] #4555 closed

[2021-04-02 15:19] HondryTravis commented on #4553
@slorber thinks a lot :D

[2021-04-02 16:06] slorber commented on #3383
@sserrata a Webpack 5 PR is ready for review and I published a canary release: https://github.com/facebook/docusaurus/pull/4089

If you preserve the `node_modules/.cache` folder across 2 builds, the 2nd build should be much faster. Let me know if that works better for you.

I'm not sure however that the deterministic output of Webpack 5 will satisfy you, as the runtime chunk hash still seems to ch

[2021-04-02 16:35] slorber commented on #3383
@sserrata if you don't use cache-control headers (like "immutable") to hashed assets on your CDN, you can try to remove the hash from js filenames output.

On Netlify, it will still provide etags-based caching, which is not too bad imho (and I guess most users don't even set more aggressive caching headers on their CDN)

If you use `configureWebpack()`, you can pass a config such as:

[code]

As f

[2021-04-02 21:30] Romstar commented on #2961
Actually, can you try this: // tailwind.config.js
module.exports = {
  prefix: 'tw-',
}

The prefix solved the collision issue for me.

[2021-04-03 06:40] duanwilliam opened #4565 "Sidebar menu dropdown arrow size varies on long width lines"
## 🐛 Bug Report

Lines whose length are close to but do not exceed the maximum length for a sidebar menu item (classic theme; don't know if it affects others) affect the location and size of the dropdown arrow.

Encountered while building pure CSS sidebar menu, of which, whoever it's built by, will ideally not have this issue so it may not necessarily be the highest priority.

### Have you read th

[2021-04-03 11:00] tony commented on #599
Perhaps related #3927

[2021-04-03 19:12] christophemenager opened #4566 "Impossible to launch playground with alpha.72"
I am sorry not to follow the usual bug report template, but I think this one is very easy to reproduce.

## Repro steps
1. Go to https://docusaurus.io/ and click on "Playground"
2. In codesandebox, try to switch to v72 in package.json (for both dependencies, as described in the documentation)
3. The default node version of the sandebox in 10 but it appears v72 requires node 12
4. I did not manage

[2021-04-03 19:26] christophemenager opened #4567 ""Blog-only" configuration with alpha.72"
First of all, thanks for the amazing work on this project ! 👍

Source code : https://github.com/christophemenager/christophem-blog
Blog in production : https://chrichri.netlify.app/

I am running a "blog only" version of docusaurus and I followed [the documentation here](https://docusaurus.io/docs/blog#blog-only-mode) without any issue, it works like a charm BUT :

## The newly released i18n featu

[2021-04-04 08:22] penumatv opened #4569 "Unable to reduce the Sidebar width for Docs page"
## 🐛 Bug Report

Unable to reduce the sidebar width, I would like to reduce the sidebar width for my Docs page. After inspecting the page, I notice the standard width is 300px and this is coming from a variable `--doc-sidebar-width: 300px;`
So, I tried to override this CSS variable by placing the below code in the` src/css/custom.css` page

<img width="441" alt="bug" src="https://user-images.githu

[2021-04-04 17:58] HonkingGoose opened #4572 "README contains outdated Circle CI badge, switch to GitHub Action status badge"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Go to the `facebook/docusaurus` landing page.
2. Look at the README.
3. See badge for CircleCI; "Build failing"

## Expected behavior

README displays a badge that says: "Build passing".

Repository admins ca

[2021-04-05 16:58] #4572 closed

[2021-04-05 17:23] slorber commented on #4566
Thanks, will be fixed in https://github.com/facebook/docusaurus/pull/4574

[2021-04-05 17:46] slorber commented on #4567
Thanks, this is indeed a bug due to a typo, that I just fixed in https://github.com/facebook/docusaurus/pull/4575

The build process was sensitive to the order in which the user provides the locales, and thought it had reached the last locale to build of the list. In the end, Docusaurus just builds your site in "fr" and never in "en"

Temporary workaround: put the default locale first in the list:

[2021-04-05 17:56] #4567 closed

[2021-04-05 21:18] mpmccauley opened #4576 "Production build requires refresh to update content"
## 🐛 Bug Report

I am using Gitlab to host the repo for my docusaurus site. Right now we have multiple people committing basic changes to the pages in docs/*.  There have been no changes to the other files, just the content within the documentation. Each Friday we pull all changes to a separate node server and build/serve the new content.

The new build and serve does not reflect the changes in th

[2021-04-06 12:22] sserrata commented on #3383
Thanks @slorber, we'll begin testing ASAP. I appreciate the tips.

@glicht, FYI

[2021-04-06 12:44] slorber commented on #4576
Hi,

Unfortunately I can't help you with so few informations and no site to inspect. You probably do something wrong as it works for others but I can't tell you what.

If you want me to inspect your problem,  please create a repro scenario using a public repo, and make it easy for me to understand how to reproduce the problem (including all the exact steps). We'll re-open if all this is provided,

[2021-04-06 12:44] #4576 closed

[2021-04-06 13:02] #4509 closed

[2021-04-07 04:06] hckhanh opened #4584 "Cannot use @docusaurus/theme-live-codeblock with Yarn 2 (Berry)"
I get this error:

[code]

Is there any way to workaround with this?

[2021-04-07 06:39] covalentbond commented on #3408
hey @slorber I also faced this error "`${INTERNAL_COMPONENT}` is an internal component, and have a higher breaking change probability. If you want to swizzle it, use the "--danger" flag."

I think we could bring more clarity in the Error message by saying something like "If the error still exists, `try -- --danger`.
If yes, I would like to file a PR for the same.

[2021-04-07 16:28] #4566 closed

[2021-04-07 16:40] slorber commented on #3408
I'm not sure what you mean @covalentbond .
"If the error still exists" does not look like correct to me.
About `-- --danger`, the double `--` is needed for npm only, not yarn, but would be happy, to adapt to  the user's package manager automatically

[2021-04-07 17:06] slorber commented on #3366
FYI soon a site without sidebars.json will have its sidebar autogenerated by default.
Not sure if this affects you, just wanted to let you know.
https://github.com/facebook/docusaurus/pull/4582

[2021-04-07 18:04] MateuszDabrowski commented on #3366
Thank you for the heads up @slorber !
Tested my site and it seems that with the addition of empty `sidebars.json` I should be ok with my custom sidebar on the folder level. And from what I have seen in #4582 this `{}` `sidebar.json` should be enough to block autogeneration.

[2021-04-08 11:29] MarkFarmiloe commented on #2394
In [docusaurus/packages/docusaurus/src/client/normalizeLocation.ts](url)
any trailing /index.html is knocked off the path.
If you knock off any trailing / as well with
`pathname = pathname.replace(/\/$/, '');`
on line 23, this seems to fix this bug.

But I don't know whether this would break anything else.
But it does seem to me that if you want to normalize, then allowing both /foo/bar/ and /foo/

[2021-04-08 20:44] Irev-Dev opened #4588 "Ideal-image: support non-blurry images in dev"
## 🐛 Bug Report

`@docusaurus/plugin-ideal-image` doesn't work properly in dev, it never loads the full resolution images leaving only the blurry image like so.
![image](https://user-images.githubusercontent.com/29681384/114086811-73f8e400-98f6-11eb-82d5-793d90aaa018.png)

It appears to be fine for production/when built.

### Have you read the [Contributing Guidelines on issues](https://github.com

[2021-04-09 06:44] Labirintami opened #4589 "DocSidebar performance issues: useless and unoptimized re-renders"
## 🐛 Bug Report

The `DocSidebar` component should be re-rendered if its content is changed. But now the sidebar is re-rendered each time when the content of the page is scrolled. As a result, the system requires more and more memory, performance is reduced significantly. It becomes difficult to work with documentation, the pages slow down in performance, the interface responses with delay.

We've

[2021-04-09 15:08] slorber opened #4591 "Strict frontmatter validation"
## 🚀 Feature

We should validate docs/blog/pages frontmatter against a Joi schema:

- prevent the user to use bad frontmatter
- display friendly error messages when this happens
- allow unknown frontmatter (user can assign additional metadata to each doc)
- unit-test this validation logic
- try to use the frontmatter TS types in the theme?

Some initial work has been done in https://github.com/fac

[2021-04-09 15:42] slorber commented on #4589
Thanks.

I believe this has been fixed in https://github.com/facebook/docusaurus/pull/4473

We'll release the next version soon.

In the meantime, you can try to use the `@canary` version and let me know if this fixes the problem for you.

In general, I think our sidebars is not very optimized, even if it re-renders uselessly we should try to make this re-render faster. Larger sites with large sid

[2021-04-09 15:51] slorber commented on #4588
Not 100% sure because the original author is [not there anymore](https://docusaurus.io/blog/2020/01/07/tribute-to-endi) but I guess it was on purpose, as we don't want the dev server to resize all the images and slow down the DX.

If anyone wants to add support non-blurry ideal images in dev, PRs are welcome as long as they don't degrade the DX.

[2021-04-09 15:55] alstn2468 commented on #3526
# `themeClassic/codeTranslations/ko.json` has a comma at the end.

![image](https://user-images.githubusercontent.com/30997311/114207104-f89b3f00-9996-11eb-90af-8e5e6831d8de.png)

## Flow

1. `yarn install`
2. `yarn start -- --locale ko`

## Error Message

[code]

[2021-04-09 15:56] beatrizoliveiira opened #4592 "upgrade breaks redoc from 2.0.0-rc.48 to 2.0.0-rc.51"
My site with docusaurus version 2.0.0-alpha.72 breaks with this update:

Failed to compile
[code]

[2021-04-09 15:57] slorber commented on #4584
Can you provide more details about your env? That would be helpful when someone has time to investigate this.

Versions (docusaurus, yarn), OS... a publicly available repro is welcome

Is this error just a log or does it prevent the site to start/build?

[2021-04-09 16:12] slorber commented on #3526
@alstn2468 this was a mistake that has been fixed already but is not released yet (next week, you can try to use `@canary` in the meantime). I've setup unit tests so that it does not happen again.

[2021-04-09 16:17] alstn2468 commented on #3526
@slorber Thank you for your quick reply.

[2021-04-09 16:20] slorber commented on #4592
Please report issues properly, include all relevant details, and provide a sandbox repro.

We can't do anything with your issue description, as the problem can be anything. Maintainers will only invest time to help you if you invest time in describing your problem correctly in the first place.

[2021-04-09 16:20] #4592 closed

[2021-04-09 16:32] slorber commented on #4569
You are right, this is something annoying as the custom CSS is not inserted last it may not have the final word.

This is a concrete example of this more general issue: https://github.com/facebook/docusaurus/issues/3678

[2021-04-09 16:32] #4569 closed

[2021-04-09 16:44] MisterFISHUP commented on #4513
The easiest way to solve this would be to add the following css globally:
[code]
since a heading is always linked to some anchor tag inside the heading tag.

[2021-04-09 17:22] sibelius commented on #3934
what is the proper way to create a plugin inside a docusaurus project?

right now I have this structure:

- docs
- src/pages

where should I put my custom plugin and how to include in the docusuarus config?

[2021-04-09 17:26] slorber commented on #3934
You can create `website/sitePlugin.js` and use it in your config `plugins: ['./sitePlugin.js']`

Good example on the RN website: https://github.com/facebook/react-native-website/blob/master/website

[2021-04-09 17:41] sibelius commented on #4592
redoc needs fs node module not availabe on web, so we can fallback fs using a custom wepback

[code]

[2021-04-09 19:12] Irev-Dev commented on #4588
Okay thanks @slorber

I'll add that when ever you navigate to a page with an ideal image on it there is a cryptic error in the console too.
```:3000/docs/:1 Uncaught (in promise)```

[2021-04-09 19:23] slorber commented on #4592
I see

You can use configureWebpack on the config itself as a shortcut

[2021-04-09 19:27] sibelius commented on #4592
is there an example somewhere?

[2021-04-09 20:27] ChayceJRoss commented on #4591
I'd be willing to help with this.
To be clear front matter is the content found at the top of the markdown files?
`---
title: Some Title
---`

I'm guessing the first step is to define the schema?

[2021-04-10 08:08] slorber commented on #4592
Oh, can't find it in the doc 😅 maybe I just dreamed of this, will have to
double-check.

Le ven. 9 avr. 2021 à 21:27, Sibelius Seraphini ***@***.***>
a écrit :

[2021-04-10 10:55] kidwm commented on #4000
@slorber FYI, https://javascript.plainenglish.io/your-pwa-is-going-to-break-in-august-2021-34982f329f40
`plugin-pwa` may need to update to make it install as PWA by default configs.

[2021-04-10 14:10] MarkFarmiloe commented on #3372
In [docusaurus/packages/docusaurus/src/client/normalizeLocation.ts](url)
any trailing /index.html is knocked off the path.
If you knock off any trailing / as well with
`pathname = pathname.replace(/\/$/, '');`
on line 23, this seems to fix this bug.

But I don't know whether this would break anything else.
But it does seem to me that if you want to normalize, then allowing both /foo/bar/ and /foo/

[2021-04-10 14:34] f0rb1d commented on #3526
@slorber Just FYI, the Simplified Chinese translation has already reached the minimum translations requirement. You might want to have a peek on the staging site and deploy it on production if it looks good.

[2021-04-10 20:23] Joshverge commented on #4591
@slorber I'd like to help!

[2021-04-11 15:11] ajeetraina opened #4597 "Displaying content in the sidebar"
I am working on [this](https://developer.redislabs.com/howtos/chatapp/) page and want to display the existing listing on the left side sidebar. I don't want to list this title on the left sidebar as it will get overcrowded but just to ensure that the fixed sidebar at least get listed([just like page](https://developer.redislabs.com/howtos/ratelimiting/))

[2021-04-11 15:12] #4597 closed

[2021-04-11 16:48] slorber commented on #3526
Thanks for your work everyone, we now have good progress in fr, ko and zh-CN!

As requested by @f0rb1d , fixed some issues + I'm enabling ko + zh-CN in production with https://github.com/facebook/docusaurus/pull/4599

[2021-04-11 17:56] lukaskoeller commented on #4588
I am experiencing the same behavior in development. Image stays blurry and there is an error saying `Uncaught (in promise)`.
<img width="639" alt="Screenshot 2021-04-11 at 19 55 25" src="https://user-images.githubusercontent.com/10390627/114315568-de30a500-9aff-11eb-9806-cb25320ae22e.png">

[2021-04-12 00:11] lex111 commented on #4565
Fixed in https://github.com/facebookincubator/infima/pull/106 and during next Infima upgrading, we will close this issue.

[2021-04-12 09:47] Labirintami commented on #4589
Hello, Sébastien (@slorber)!

Thanks for the quick response!

We've checked [the version of `@canary`](https://www.npmjs.com/package/@docusaurus/preset-classic/v/2.0.0-alpha.cb403afa9).

As we can see from the `Profiler` tab in React dev tool, DocSidebar is still re-rendered on each scroll of the page.

![](https://lh5.googleusercontent.com/MmKK_pYbLQelOmiuLzGRKLAczLGRQ-VvQhl6TpYX86EmGLuqcgOB85fr0

[2021-04-12 13:09] anushkrishnav commented on #1834
I can work on https://ax.dev

[2021-04-12 14:37] Labirintami commented on #4589
I have been working with documentation for about 15 minutes, making changes to some pages and opening them via Sidebar.

The tab started to consume 794 Mb (Chrome on Macbook Pro 2016). My colleagues have the same problems in Chrome on Windows.
![794Mb](https://raw.githubusercontent.com/Labirintami/imgs/3adffffaf7da72a6d6ad8479557b14acf004b967/image_2021_04_12T14_06_54_959Z.png)

If you want to tes

[2021-04-12 16:15] slorber commented on #4589
You can try again with the latest canary, that should be a bit better, let me know.

Will look at how to improve perfs more very soon so let's keep the issue open

[2021-04-12 16:33] #4534 closed

[2021-04-12 16:34] slorber commented on #4534
please try the latest `@canary` release and tell us if the bug is fixed

[2021-04-12 16:39] #4549 closed

[2021-04-12 16:44] slorber commented on #4591
As we have 2 volunteers, I suggest:
- @ChayceJRoss works on docs: packages/docusaurus-plugin-content-docs/src/docFrontMatter.ts
- @Joshverge works on blog: packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts

Can you please review each-others and make sure both PRs have some kind of consistency and similar test structure?

Yes @ChayceJRoss those are the exhaustive list of frontmatter op

[2021-04-12 16:52] slorber commented on #4512
@MisterFISHUP just wondering why did you close this issue?

I'd like to fix these layout issues and agree that it looks awkward

[2021-04-12 16:59] #4513 closed

[2021-04-12 21:04] davidjgoss commented on #638
Thanks for doing that @rohit-gohri - looks great! I've added an update to my post.

[2021-04-13 06:30] achimnol opened #4605 "JSON syntax error in the new Korean translation introduced at 2.0.0.alpha72"
## 🐛 Bug Report

The default Korean translation added in 2.0 alpha72 has a JSON syntax error preventing successful builds.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

If possible, use https://new.docusaurus.io to create a CodeSandbox reproducible demo of the bug.

1. Jus

[2021-04-13 06:35] achimnol commented on #4605
I'm just wondering why this error did not happen during the reviews of #4390.
Is there some configuration that allows ignoring trailing commas in JSON?
Since I'm not a daily nodejs developer, there might be something I have missed.

[2021-04-13 06:46] achimnol commented on #4605
Okay, I found that [it's fixed in the master](https://github.com/facebook/docusaurus/commits/master/packages/docusaurus-theme-classic/codeTranslations/ko.json) after trying to fix it by forking.
Looking forward to the next alpha release.

[2021-04-13 06:47] #4605 closed

[2021-04-13 09:22] slorber commented on #4605
yes it's fixed and added tests to make sure it does not happen again ;)

will release it soon

[2021-04-13 11:35] Tulean opened #4607 "Markdown: Parsing fails when putting a Typescript type outside of the code block"
## 🐛 Bug Report

Hello I am having an issue with being unable to parse markdown generated by microsoft api-extractor. The problem is that I am having some interfaces outside of the code block for example Array which parses Array as text and as an html tag. Which results in an error requiring me to provide a closing tag as well even though it should be an Array with a string type.

What is happenin

[2021-04-13 11:43] slorber commented on #3464
# Asking for feedbacks

I've made some progress on this feature and would like to have your feedbacks.

## Sidebar configuration:

You can use a new sidebar item type `autogenerated`, and it will generate a sidebar slice :

[code]

By default, a Docusaurus site will auto-generate from its `website/docs` folder.

The default/fallback sidebar config in case sidebars.js is absent:

[code]

A "sidebar

[2021-04-14 04:50] MisterFISHUP commented on #4512
Oh, my bad. Thanks for your time, I'll reopen this issue.

[2021-04-14 08:20] slorber commented on #4607
We use the MDX parser and your markdown must be compatible with it. It is not a bug and is the current intended behavior.

You can check if MDX can compile your markdown with https://mdxjs.com/playground/
- If your md compile in the playground,  and does not compile in Docusaurus, it is a bug.
- If your md does not compile in the playground, we can't do anything currently.

MDX will not like `Arra

[2021-04-14 08:20] #4607 closed

[2021-04-14 08:47] Tulean commented on #4607
@slorber thanks for the thorough explanation. I was also suspecting that, I tried to replace the parser with some plugins but it seems that it does not work yet. I will keep an eye on it.

[2021-04-14 11:57] Labirintami commented on #4589
Thank you so much for the update! Yes, it's gotten better. DocSidebar no longer seems to redraw when scrolling the page.

Also, for the test, I worked with the documentation for about 20 minutes. I was opening different sections of the documentation through the Sidebar.

It now uses 466 MB of memory. And even if you do nothing, the memory is not cleared.

![](https://raw.githubusercontent.com/Labi

[2021-04-14 13:32] ngaer commented on #3930
Currently could be solved using custom NavbarItem (`src/theme/NavbarItem.js`)
[code]

[2021-04-14 13:56] slorber commented on #3930
Thanks @ngaer , looks like a nice temporary workaround

[2021-04-14 16:13] slorber commented on #3464
Let me know if anyone has any feedback or concern with my implementation, names or anything.

The PR is ready to merge, just need to add the doc now so will likely merge it tomorrow.

[2021-04-14 16:26] felipecrs commented on #3464
The proposed design seems very good to my perspective. I don't have any concerns.

[2021-04-14 16:29] arinthros commented on #3464
@slorber I read through this the other day, and had some time to process. Overall I think this is a great approach, well done. I don't think we would have a use case for numerical sort ordering of auto-generated content, we prefer the default alphabetical ordering of file names/titles so it's easier to find in the nav. But maybe there are others who would use numbering?

Sounds good to me. It's ex

[2021-04-14 16:31] arinthros commented on #3464
If we want a custom sort order, we would manually do that in the sidebar.js file and use slices for the rest. So maybe slices would ignore plucked files, kind of how object spread works in React?

`const { title, url, ...rest } = props`

[2021-04-14 17:02] ta11ey commented on #3911
Recently had this same issue and fixed it by extending the custom webpack with
[code]

[2021-04-15 11:04] slorber commented on #3464
Thanks for the feedbacks, so it seems my implementation is good enough to merge.

@arinthros

For now we don't "deduplicate" items, so basically you can do that and end-up with the sidebar slice being generated twice:

[code]

I don't think we shuld do anything clever regarding this kind of situation.

We could add a way to include/exclude some docs by using glob patterns:

[code]

I don't think t

[2021-04-15 14:05] slorber commented on #3911
going to close this with PR migrating to webpack 5: #4089

let me know if you still have the issue after we migrate to webpack5

[2021-04-15 14:20] #3464 closed

[2021-04-15 14:20] #4314 closed

[2021-04-15 16:28] slorber commented on #4589
Hi,

I'm trying to inspect that problem on our site but I didn't see such a high memory usage.

Tried to refactor and optimize a bit more but I suspect it won't change much for you: https://github.com/facebook/docusaurus/pull/4617

To be sure we are profiling the same site, can you please deploy the site you have problems on somewhere (like a Netlify URL or something), so that we can profile the e

[2021-04-15 16:36] #4322 closed

[2021-04-15 22:00] jakehsiao commented on #4591
I'd like to help too, where I can grab?

[2021-04-16 06:18] nilsocket commented on #3018
Is it possible to have something simple, which works out of the box.

I need math blocks, I see MDX documentation, it's too messy and complicated.

Docusaurus seems to work on the basic assumptions or at-least targeted
to only those users who are front-end developers, know JSX, React, ...

or

Is there a simple way to get math blocks support.

Thank you.

[2021-04-16 07:48] slorber opened #4625 "Improve markdown infrastructure: global markdown config, new lifecycles..."
## 🚀 Feature

Problems to solve:
- The markdown config (remark/rehype plugins) is often duplicated between multiple plugins
- There's no central place to configure markdown/MDX for the whole site at once
- It's not possible to build markdown-enhancement Docusaurus plugins
- It's not possible to disable the default emoji plugin (https://github.com/facebook/docusaurus/discussions/5450)

We should al

[2021-04-16 07:50] slorber commented on #3018
@nilsocket I don't think math blocks (latex/katex?) are really related to the markdown parser. But you are right, and we should make this easy. Can you explain better your usecase on this new issue I just created? https://github.com/facebook/docusaurus/issues/4625

[2021-04-16 08:20] nilsocket commented on #4625
I write notes of whatever I study in markdown files organized into folders.

I use [vscode-markdown-preview-enhanced](https://github.com/shd101wyy/vscode-markdown-preview-enhanced), which works perfectly for all my use-cases.

I need my content to be accessible, on other devices like mobile, for revision purposes.

I was thinking to host a local server which serves `.md` files.

As I'm not familia

[2021-04-16 08:20] #4512 closed

[2021-04-16 08:22] slorber commented on #4512
Thanks @MisterFISHUP

@lex111 has centered better the content here https://github.com/facebook/docusaurus/pull/4621#issuecomment-821006630

Was wondering, what's your usecase for using docs without any sidebar? Why don't you use a page instead?
I'd like to add a warning to protect about that as it's quite often due to having forgotten to add a doc to the sidebar (we would be able to disable this w

[2021-04-16 08:26] slorber commented on #4591
@jakehsiao we can't split more the work than it is already.
If we don't have news from @ChayceJRoss and @Joshverge under 7 days we'll assign that to you.

[2021-04-16 09:28] #4565 closed

[2021-04-16 12:34] MisterFISHUP commented on #4512
@lex111 Thanks for fixing this problem.
@slorber You are not wrong, I ended up using a page instead of a doc page with no sidebar, but I still feel it's a work around in my case.
I use docs to write something like a book/a diary, and I would like to have a preface page. Chapters in this book will have urls `/book/chapter1`, `/book/chapter2`, etc, and I want the url of the preface page to be just `

[2021-04-16 14:49] MisterFISHUP commented on #4542
@slorber Agree with you, and yes it is not evident how to design this API...
Besides the title, it would also be nice to be able to choose different `img` (social share image preview) for different locales, since this image often contains the site title (and other words/sentences depending on the current locale).
I also noticed the `html` in footer is not translatable. I can imagine some cases whe

[2021-04-16 14:56] Joshverge commented on #4591
@slorber maybe @jakehsiao could grab the work assigned to me? I haven't been able to make much progress since I'm a beginner at ts/js

[2021-04-16 21:04] duanwilliam opened #4634 "First Markdown heading directly following a h1 Markdown heading is rendered as <p>"
## 🐛 Bug Report

A Markdown heading directly following a h1 Markdown heading at the top of the file is rendered as a paragraph.

This seems to only occur when the h1 Markdown heading is the first non-frontmatter content in the file, and is directly followed by another Markdown heading.

Separate title frontmatter does not affect the bug; however, including any content before the initial heading, o

[2021-04-16 21:34] duanwilliam opened #4635 "Allow MDX imports to be above h1 heading"
## 🚀 Feature

With the current frontmatter-less parsing, the h1 heading must be at the top of the file, excluding frontmatter, for it to be used as the title rather than the filename. It'd be useful if import nodes could be placed above the heading without compromising the h1 heading's function as the title.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/doc

[2021-04-17 00:58] ywjr commented on #4591
mysite   is  ok  on   alpha.7   ，  when  upgrade     to   alpha.73,    The following error occurred：

D:\doc\helpcenter\helpcenter>yarn upgrade @docusaurus/core@2.0.0-alpha.73 @docusaurus/preset-classic@2.0.0-alpha.73
yarn upgrade v1.22.5

:\doc\helpcenter\helpcenter>yarn start
yarn run v1.22.5
$ docusaurus start
Starting the development server...
ValidationError: "title" must be a string
    at O

[2021-04-17 01:02] ywjr commented on #4591
Document title should be allowed to use Chinese or other languages

[2021-04-17 01:17] duanwilliam opened #4638 "Metadata not parsed for autogenerated categories when dirname is subdirectory"
## 🐛 Bug Report

Using a `type: autogenerated` with dirName not `.` results in category metadata not being parsed.

The bug does _not_ appear when no sidebar file is specified, nor when `dirName` is set to `.`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

https://codesandbo

[2021-04-17 11:52] ajeetraina opened #4639 "How to add social media button in Docu v2.0?"
Any idea how to add social media button in Docusaurus v2. 0?

[2021-04-17 14:49] michalsanger commented on #4255
@perrygovier it's probably not obvious from the documentation, you should configure the plugin behaviour in `docusaurus.config.js`, not via props of `Image` component. See the Docusaurus config as an example:

https://github.com/facebook/docusaurus/blob/c8cf48a355b01356c0be541a4c16a1907ad0bc3a/website/docusaurus.config.js#L139-L147

[2021-04-17 18:05] valentine opened #4640 "[v2.0.0-alpha.73] autogenerated sidebars: have a stripNumberPrefixes option in config file?"
Hi,

I just upgraded my Docusaurus to alpha.73, and noticed https://github.com/facebook/docusaurus/issues/3464, https://github.com/facebook/docusaurus/pull/4582 and https://github.com/facebook/docusaurus/commit/db79d462abd0fb04423a8a43b2e04a1dc643ad6d.

[My site](https://github.com/valentine/docs.hackerspace.sg/tree/develop/docs/plenum) has its Markdown files named as `yyyy-mm-dd.md`, and alpha.73

[2021-04-18 09:54] geekodour commented on #4638
Just tried this locally, it seems the `position` is also not taken up it seems so that leaves the ordering of items in the sidebar to be manually arranged by updating filenames.

[2021-04-18 17:36] technikhil314 commented on #3513
I too would like to help on this.

And regarding the proposed solution by @Vishal19111999. I feel the long press can still be achieved with failr and less amount of code. But drag thing might ask for a big chunk of code that is well tested on all touch and pointing devices.

Well I too am new to this community and in fact this would be my first ever contribution here.
So please correct me if I am

[2021-04-19 05:03] johnnyreilly opened #4642 "2.0.0-alpha.73 can't handle tags which could be parsed as numbers"
## 🐛 Bug Report

As of 2.0.0-alpha.73, docusaurus will choke on tags that can be parsed as numbers.

Consider the following:

[code]

The `203` tag above is bad news and will lead to an error like this:

[code]

See: https://github.com/johnnyreilly/blog.johnnyreilly.com/pull/35/checks?check_run_id=2377642622

You can workaround it by changing `203` to be `'203'`, but ideally this wouldn't be neces

[2021-04-19 06:51] yuxxeun commented on #3526
Hey! I can help with Bahasa which is Indonesian language.

[2021-04-19 07:44] slorber commented on #4638
Hey, I think there's a misconception on how this feature is supposed to work.

When you use `dirName: "tutorials"`, it won't read the category metadata file at all not create a category for the tutorials folder

It will just read the docs of that subfolder and also the sub-subfolders. If you want a category, you have to add it explicitly to the sidebar.

The reason for this is that this allows to

[2021-04-19 07:50] slorber commented on #4591
@ywjr can you give us the title that gets rejected exactly? Why do you think it's because of the Chinese language?

[2021-04-19 07:51] slorber commented on #4639
swizzle the theme components and change what you need to change

[2021-04-19 07:53] slorber commented on #4642
Make sense, I'll add the Joi {convert: true} option, that should fix it.

Also worth logging the doc frontmatter in the error message 😅

[2021-04-19 07:55] ajeetraina commented on #4639
Can you elaborate @slorber ??

[2021-04-19 07:56] johnnyreilly commented on #4642
So I saw the failure when the GitHub Action ran - I than ran `yarn build` locally and looked at the stack trace. I then added a bunch of `console.log` statements to where the error was thrown, and that allowed me to identify the problematic post.  So not super hard, but required hacking away in `node_modules`

If you point me in the direction of the relevant bit of code I'd be happy to submit a fi

[2021-04-19 07:58] johnnyreilly commented on #4642
Is it here? https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/blogFrontMatter.ts

[2021-04-19 08:02] slorber commented on #3526
Thanks @yuxxeun , you can submit your translations here already: https://crowdin.com/project/docusaurus-v2/id

[2021-04-19 08:10] Labirintami commented on #4589
Hi, Sébastien!

We've deployed the documentation:
https://docs.dhtmlx.com/suita/
https://github.com/DHTMLX/docs-suite/tree/7.1

And I don't see the same high memory consumption as on localhost.

The sidebar starts to slow down at 60-70 Mb memory consumption.

All you need to do to get this is to open pages 3,4,5 nesting levels and click on them.

The test lasted a little over 7 minutes, the memory

[2021-04-19 08:10] #4634 closed

[2021-04-19 08:16] slorber commented on #4589
The memory consumption in dev can be due to the webpack dev server, in-memory caching or something. Not sure I can do anything about it easily.

We are migrating to Webpack5 so it may improve soon: https://github.com/facebook/docusaurus/pull/4089

I'm going to close because I think if the memory of the prod website remains acceptable, and in dev you can refresh the page when needed as a workaround

[2021-04-19 08:16] #4589 closed

[2021-04-19 08:17] slorber commented on #4635
agree, using imports at the top of the file should be supported

[2021-04-19 08:21] slorber commented on #4639
@ajeetraina it is documented, have you read the doc?

[2021-04-19 08:22] slorber commented on #4639
Also, this is not an issue, please use discussions or Discord for questions

[2021-04-19 08:22] #4639 closed

[2021-04-19 08:25] slorber commented on #4642
Yes that's here, I'd prefer to use "convert" as in the end we want the tag to be a string.

Can you also add a try/catch around the `attempt` to log the frontmatter in case of error? that would be helpful for users to debug.

Also can you add a test for this specific usecase of title (ensuring we don't remove the convert: true option)

Also related to https://github.com/facebook/docusaurus/issues/

[2021-04-19 08:47] slorber commented on #4640
Agree we should have a global docs plugin option for this in addition to the existing frontmatter.

I'd like the config to allow you to pass a custom function `parseNumberPrefix` to parse file/folder names as position+rest the way you want, using `false` to disable this feature. Would it work for you?

Agree, as using dates in filenames is probably a common pattern.

Agree.

You can write a custom

[2021-04-19 09:00] Zhouzi commented on #4492
I have a similar use case where I want to generate docs from a GraphQL schema and have it integrated with the rest of the docs. Since the documentation would be automatically generated, I'd prefer not to write files to the disk. I first tried to hook into the docs plugin's `loadContent()` to add items that would be caught by `contentLoaded()`. But as you had foreseen, it is not trivial as the docs

[2021-04-19 10:47] ywjr commented on #4591
After testing again, the title in the MD file cannot be empty. If it is empty, an error will appear.

 In addition, when the title field in the MD file is Chinese, there is no problem

[2021-04-19 14:16] ywjr commented on #4591
I don't think it's a bug, but it's suggested to give which document's title is empty. Thank you

[2021-04-19 16:07] sw-yx opened #4644 "Search page always returns blank, since upgrading from alpha 66 to alpha 72"
## 🐛 Bug Report

We have written this up in our own issue here: https://github.com/temporalio/documentation/pull/357

TLDR, Since we upgraded from alpha 66 to alpha 72, our search page has been broken (returns no results no matter what you type in)

- Working: https://deploy-preview-326--mystifying-fermi-1bc096.netlify.app/search/?q=workflows
- Broken: https://deploy-preview-327--mystifying-fermi-

[2021-04-19 16:09] slorber commented on #4591
Ah I see, so you had something like `title: ` right?
What was your motivation to have an empty title like that?

[2021-04-19 18:16] duanwilliam commented on #4638
I think the issue's more of that the autogenerated sidebar items _do_ recognize and create subcategories, except these _subcategories_ do not have metadata recognized unless `dirName='.'`.

i.e. if I have a docs directory structure of
[code]
where the category metadata defines
[code]
, an autogenerated sidebar item with `dirName: '.'` gives a sidebar with the structure
[code]
If I don't want a wra

[2021-04-19 23:08] valentine commented on #4640
Yes, this would be great. It sounds like it'll at least revert back to the behaviour from alpha.72.

I think choosing between either the batteries-included or flexible API approach might depend on how many other users end up requesting to sort stuff by ascending/descending order. I think ascending/descending sort, at the very least, could be a reasonable complement to the new autogenerated sidebar

[2021-04-20 00:01] ben-qnimble opened #4647 "Markdown Footnotes Not Properly Numbered"
## 🐛 Bug Report

I can't find documentation on the Docusaurus website, but according to https://www.markdownguide.org/tools/docusaurus/, Docusaurus uses the [Remarkable](https://github.com/jonschlinkert/remarkable) markdown processor. And that processor supports footnotes, as shown in their [manual](https://pandoc.org/MANUAL.html#footnotes) and also in the  [The Markdown Guide](https://www.markdow

[2021-04-20 07:05] dustinlacewell opened #4648 "Document Typescript Monorepo Usecase"
Monorepos are in vogue. So is TypeScript. It's going to be a common usecase to want to utilize components from a typescript component library in the same monorepo.

Please document this use-case. Currently, doing the steps at https://docusaurus.io/docs/typescript-support and utilizing https://github.com/atomicpages/docusaurus-plugin-module-alias and https://github.com/tleunen/babel-plugin-module-r

[2021-04-20 12:49] slorber commented on #4644
As answered on the temporal issue I think you have a DocSearch config issue, which prevents your site to use facet filters and contextual search in general.

I think fixing the config with the DocSearch team will solve the issues and allow to return results.

The search page is a bit legacy and we'll have to refactor it.
As it's not the most widely used page (most users use the search dropdown) it

[2021-04-20 12:49] #4644 closed

[2021-04-20 13:09] slorber commented on #4648
Why isn't it good enough, what were the concrete problems that you faced? Do you have a repro?

Monorepos and TypeScript are both large subjects, it's unlikely we'll be able to document everything about those 2 topics but there might be some low-hanging fruits to document indeed.

[2021-04-20 13:20] #4635 closed

[2021-04-20 13:25] slorber commented on #4647
Hi,

We use MDX, and you can test your md syntax in the MDX playground here: https://mdxjs.com/playground/

![image](https://user-images.githubusercontent.com/749374/115403164-76a7e300-a1ec-11eb-8253-ce7e5217dabb.png)

It seems that this behavior is from MDX, so I believe you should report it here if it is for you the wrong behavior to have.

You can also track this issue in case you'd like to use

[2021-04-20 13:25] #4647 closed

[2021-04-20 13:58] Kamarulzamansalehudin opened #4650 "#hasbiallah"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

If possible, use https://new.docusaurus.io to create a CodeSandbox reproducible demo of the bug.

(Write your steps here:)

1. Step 1...