[2020-08-14 14:52] #2528 closed

[2020-08-14 16:18] anshulrgoyal commented on #3278
@slorber Can u add MLH tag to this issue and I have created a PR for it.

[2020-08-14 16:40] anshulrgoyal commented on #3275
I think changing webpack-dev-server config should work.
@Ako92 this should work https://webpack.js.org/configuration/dev-server/#devserveropenpage

[2020-08-14 16:43] slorber opened #3285 "RFC: docs version configurations"
## 💥 Proposal: docs version configurations

A complete docs plugin cleanup/refactor (#3245) is going to make it much easier to add more flexibility to the docs plugin.

This could be the time to introduce version-specific configuration.

I'd like to have the opinion of the community of what all the usecases are, so that we can craft a good API to cover them.

## Existing version metadata:

As of t

[2020-08-14 16:50] slorber commented on #2302
Hey everyone.

I believe we already addressed some things of this issue.

- The pages and site config are not going to be versioned.

- The docs plugin can be "multi instance": https://github.com/facebook/docusaurus/issues/2528#issuecomment-674112728

- The [new navbar items "versionDropdown" and "docsVersion"](https://v2.docusaurus.io/docs/theme-classic/#navbar-docs-version-dropdown) should cover

[2020-08-14 16:51] #2302 closed

[2020-08-14 16:56] slorber commented on #852
Hey there

Can you read this RFC and tell me if you think it could be suitable for your usecases?

https://github.com/facebook/docusaurus/issues/3285

[2020-08-14 16:57] slorber commented on #852
Note, it's possible to use multiple times the doc plugin on the same site now, I think it could be useful if you want to aggregate multiple docs in a same. site with different versioning. For example, iOS SDK in v1, v2, v3, and Android SDK in v1, v1.1...

See https://github.com/facebook/docusaurus/issues/2528#issuecomment-674112728

[2020-08-14 17:09] slorber commented on #3212
@zepatrik can you tell me what you think of this RFC?

https://github.com/facebook/docusaurus/issues/3212

[2020-08-14 17:12] slorber commented on #2302
In case you are interested to check these "internal" hooks, see the DocsVersionNavbarItem.tsx component, which permit to display in the navbar the current version, with a fallback to the "latest version".

As you see, it's not so straightforward to use as `useActiveVersion` will not necessarily return a result if you are on a page (like the homepage), on the 404/search page etc... We need a fallba

[2020-08-14 18:03] slorber commented on #2851
Hey,

I think we can close this but tell me if there's something more to discuss

[2020-08-14 18:03] #2851 closed

[2020-08-14 18:04] slorber commented on #3013
see https://github.com/facebook/docusaurus/issues/3285

[2020-08-14 18:08] bravo-kernel commented on #3285
Thanks for taking the time to prepare this PR, much much appreciated. As an end-user I can't really contribute other than that it would be most useful if we could rename/label `next` (and yes I did see that note about retro-compatibility).

[2020-08-14 18:57] slorber opened #3286 "RFC: docs version page + version archiving cli"
## 💥 Proposal

A Docusaurus 2 site can grow over time mostly due to:

- Number of docs
- Number of versions
- Number of languages (once supported)

At the same time, we are a React SPA and the build times are impacted by the number of pages to build.

Some users who have lots pages will likely want to improve the build time, and "archive" older versions, as no contributions are being made to these

[2020-08-14 19:11] slorber commented on #3285
Thanks, I've added more content but yes we should definitively be able to configure the path/label for `./docs` if you don't like /next and Next :)

[2020-08-14 19:33] #3278 closed

[2020-08-14 21:43] Dannyholt commented on #3285
This looks awesome!

[2020-08-14 22:50] markerikson commented on #3285
I  _think_ this sounds like it's in the right direction.

Right now React-Redux is the only one of the Redux docs sites still on DSv1, specifically because it's the only one that deals with versioned docs.  Be happy to use PRs there as a testbed for trying out improvements to DS's versioning setup.

[2020-08-15 04:00] uanaoeng opened #3288 "Updating content without refresh page after clicking links on the left sidebar"
## 🚀 Feature
Updating content without refresh page after clicking links on the left sidebar

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
Improve reading experience

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-08-15 10:12] zepatrik commented on #3285
A short case study on how we use the version features:
Docs are written for the current master in the `./docs` directory. This is confusing for contributors, especially because of the problem described in #3212.
When there is a release we pin the version and copy the `./docs` content to `./versioned-docs`. Having the current master docs is a nice feature for us as we can have discussions with the

[2020-08-15 12:55] slorber commented on #3288
Sorry but I don't understand 😅

Le sam. 15 août 2020 à 06:00, uanaoeng <notifications@github.com> a écrit :

[2020-08-15 16:29] danielsxz opened #3289 "Using multiple global css files"
## 📚 Documentation

I'm not sure how to use multiple global CSS files. Similar to Docusaurus v1, I wish to split up my CSS into multiple global CSS files. There isn't any information about this specific use case in the documentation.

My CSS files are difficult to separate in different modules, so using CSS modules is out of the question.
The other options is to import all my CSS files in the cust

[2020-08-15 19:11] Ako92 commented on #3275
dev server auto open browser is fine
when you change baseUrl in docusaurus.config.js and start the project it show browser with new baseUrl. Thats fine

The problem is that i should change this url
![image](https://user-images.githubusercontent.com/24778140/90319759-423ea180-df50-11ea-97b6-ca6148a0da93.png)

[2020-08-15 20:44] davidkartuzinski commented on #3279
@anshulrgoyal - No problem about the errors!  They makes sense. I understand this is alpha, and it is already so polished with in terminal messages and instructions! So great. I consider this issue my ignorance, not anything "wrong" with docusaurus.

Your instructions helped me to understand what was happening. What I did to fix this issue was to go into the node_modules/@docusaurus/ and delete th

[2020-08-15 20:44] #3279 closed

[2020-08-16 15:52] Satyam opened #3291 "The serve command does not respect baseUrl"
## 🐛 Bug Report

If a site config has `baseUrl` set to anything but `'/'` such as when a site is meant for GitHub, the `docusaurus serve` command won't work since `build` will add the `baseUrl` to links, but `serve` does not respond to it.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To

[2020-08-16 20:37] joshribakoff opened #3292 "catch invalid version in versions.json at build time"
## 🚀 Feature

Handle invalid/missing versions

## Motivation

Better DX

## Pitch

If you have an invalid version, eg you assume you can hand edit the file, the build passes & the app throws some runtime error(s) when you try to run it

[2020-08-16 20:45] joshribakoff opened #3293 "search is broken"
## 📚 Documentation

Pasted "docsVersionDropdown" into search box at top right of the docs page & hit enter, nothing happens. Search seems broken?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

[2020-08-16 20:53] joshribakoff opened #3294 "Ability to turn off the "next" version / make editing docs easier"
## 💥 Proposal

After cutting a version (eg 1.0.0), the docs exist at both `docs/` and `versioned_docs/version-1.0.0`. If for instance, I want to fix a typo, it seems like I would have to edit both copies anytime a change is made?

It seems like the versioning feature presumes I want a `next` version. However, I only just released 1.0.0 with no breaking changes under development, so I don't need or

[2020-08-17 10:24] DyncMark commented on #3131
Excuse me! I need your help.

Today I have checkout [quickfixed branch](https://github.com/DyncMark/ArRTCWebDocs4.0), it looks like great, but there are some problems with `image is undefined 404`. Do you know what the problem is

![image](https://user-images.githubusercontent.com/15116881/90385343-8dbe9000-e0b5-11ea-90e9-bf4d062a2743.png)

[2020-08-17 10:30] slorber commented on #3131
sorry but I can't dedicate too much time helping you. Please try to get help on Discord first.

Your image problem might be related to using baseUrl, and this baseUrl is maybe not added in the image path (we made a PR recently so that you don't need to use useBaseUrl hook, but not released yet, so in the meantime you may need that hook, read the doc to know more)

[2020-08-17 10:37] chudongvip commented on #3131
Thanks for your reply. Because my English is not very good, So I can not find a good solution, but I will always pay attention to you and the official documents. : )

Thanks again.

[2020-08-17 10:44] slorber commented on #3294
Hey, this is a known problem that many have, that I plan to solve with this RFC: https://github.com/facebook/docusaurus/issues/3285

The idea would be in your case that, when v1 is ready to be published, you don't version it immediately with the cli, but instead you keep it in ./docs, and the config allows you to define the label/path of the current version, so that you can have "Version 1.0.0" at

[2020-08-17 10:44] #3294 closed

[2020-08-17 10:49] slorber commented on #3293
Hi,

Search is not broken, it does not look up inside code blocks, and this string only appears in a codeblock.
https://v2.docusaurus.io/docs/theme-classic/#navbar-docs-version-dropdown

So it's more a docs issue: we should add every options available in code blocks documented outside of code blocks, so that search can find it. Do you want to improve the doc of these items?

---

See also

https:/

[2020-08-17 10:50] slorber commented on #3292
Sorry but I'm totally unable to understand what you are talking about 🤪

[2020-08-17 11:00] slorber commented on #3291
Thanks @anshulrgoyal

I don't see any option in the [serve](https://github.com/vercel/serve-handler#options) package that fit this need unfortunately :/

Maybe we can use a trick with symlinks: https://github.com/vercel/serve-handler#symlinks-boolean

like create a symlink in /build/baseUrl

@Satyam for now the best is to move the /build folder to /build/baseUrl , and serve build, so that you can

[2020-08-17 11:06] anshulrgoyal commented on #3291
@slorber I found rewrites and it works.

[2020-08-17 11:06] anshulrgoyal commented on #3291
[code]

[2020-08-17 12:29] slorber commented on #3289
Hi,

Why do you think exactly it would be more convenient to maintain a list of css files in js config, instead of CSS ? At some point you have to define the files to include.

The theme classic offer you the ability to register a single css file. We could improve and allow to pass an array of css files instead but I feel it's unnecessary.

Nothing prevents you from writing your own local site plu

[2020-08-17 12:29] #3289 closed

[2020-08-17 14:53] Satyam commented on #3291
@slorber , as an interim solution it works. My npm script now has
[code]
Just an additional warning:  when it finishes the `serve` command announces that you can check the site at `- Local: http://localhost:3000`, which is misleading and confusing since it usually picks some build left over by some previous `build` that doesn't work with `serve`.  The actual address to be used is `- Local: http://

[2020-08-17 15:18] joshribakoff commented on #3292
Edit `versions.json` and put a bad version in there, try to build, the build passes only to crash at runtime when trying to load the site.

[2020-08-17 15:20] joshribakoff commented on #3293
Actually, yes, search was broken. I could not search at all last night. Today I can search again.

It wasn't even popping up saying "no results found", literally nothing happened just like I said. Maybe Algolia was down & there is insufficient feedback to the end user if it is down?

[2020-08-17 15:21] joshribakoff commented on #3293
Ah, I see the problem. If you paste a search term that simply has 0 results, you get no feedback. If you type the term in character by character, you at least have a chance to see some results & then see them go away.

Ideally there should be a popup that says "no results found for 'docsVersionDropdown'", right now it just acts like the search is broken.

[2020-08-17 15:28] joshribakoff commented on #3294
I've bookmarked the RFC to read later, what you described sounds exactly like it will solve the issue, and the workarounds I posted in the OP seem tenable in the meantime, so it is fine to remain closed. Thanks!

[2020-08-17 15:30] joshribakoff commented on #3285
It's probably out of scope, but in addition to the notes I left on #3294 one other thing I wanted to point out that's worth considering that as a user I'd maybe like to include code snippets on my home page, which could differ between versions.

[2020-08-17 15:36] slorber commented on #3294
great to know

Answering there as I think it's out of scope of this RFC:

pages are not versioned, and is decoupled from the docs plugin, so you'd have to implement this on your own, because pages know nothing about versions

[2020-08-17 15:44] slorber commented on #3292
This is handled in this big docs refactor PR: https://github.com/facebook/docusaurus/pull/3245

[2020-08-17 15:44] #3292 closed

[2020-08-17 15:48] slorber commented on #3293
![image](https://user-images.githubusercontent.com/749374/90415743-d4aa8680-e0b1-11ea-8d8f-6a6824a662db.png)

To me it does exactly that, no?

[2020-08-17 15:52] s-pace commented on #3293
Same as @slorber

I couldn't reproduce this issue. I can confirm you that the search was up last night.

[2020-08-17 15:52] joshribakoff commented on #3293
https://youtu.be/5YCfHz_R4j0

video showing the reproduction.

[2020-08-17 15:53] #3288 closed

[2020-08-17 15:54] joshribakoff commented on #3292
Ah weird it's handled in a docs refactor ;)

Thanks!

[2020-08-17 15:54] slorber commented on #3293
@joshribakoff this is docusaurus v1, v1 does not even have docsVersionDropdown feature 🤪

[2020-08-17 15:56] s-pace commented on #3293
Yes the issue is only on docusaurus v1. There is no "no result" dropdown.

[2020-08-17 16:06] anshulrgoyal commented on #3291
@Satyam I have fixed but am not sure it is ideal solution or not.

[2020-08-17 16:18] joshribakoff commented on #3293
@slorber that also explains the "no results" :)

@s-page this seems correct, up to you all whether to backport that or not, just figured I'd make you aware.

[2020-08-17 16:21] joshribakoff opened #3298 "Space missing in HTML"
## 🐛 Bug Report

Weird behavior w/ spaces being lost.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

I have a index.js page:

![Screen Shot 2020-08-17 at 9 15 21 AM](https://user-images.githubusercontent.com/4021306/90419003-c127fd00-e06a-11ea-8d15-15470e5e46a2.png)

The HTM

[2020-08-17 16:22] slorber commented on #3291
@anshulrgoyal we likely won't be able to find a best solution unless serve implement something, so a good enough solution not requiring to move the build folder will be useful

You could also add a redirect like:

[code]

so that a user trying to open http://localhost:4000 will be redirected automatically to the http://localhost:4000/baseUrl

[2020-08-17 16:23] slorber commented on #3298
This is likely a JSX/React issue, we can't change anything to that. If you think it's specific to Docusaurus we might reopen

Just put {' '} to force a space where you need it

[2020-08-17 16:23] #3298 closed

[2020-08-17 16:26] slorber commented on #3266
Fixed in https://github.com/facebook/docusaurus/pull/3245

The fallback doc will be the first doc of the first sidebar (maybe we'll make it configurable but that seems a good enough heuristic for now, better than random doc)

[2020-08-17 16:26] #3266 closed

[2020-08-17 16:29] slorber commented on #3236
Note, we might introduce a way to wrap root element in this PR: https://github.com/facebook/docusaurus/pull/3153

[2020-08-17 16:30] joshribakoff commented on #3298
Yes it happens if pasting that into Create React App as well. Thanks!

[2020-08-17 16:32] anshulrgoyal commented on #3291
@slorber Images don't work with rewrites

[2020-08-17 16:34] omry commented on #3266
Yeah, I agree this is a good for now. Thanks for fixing!

[2020-08-17 16:35] slorber commented on #3231
Repro is broken. It's not clear if you want docusaurus v1 or v2 as the FS structure looks a bit to melt the 2. You'd rather use v2 and init a brand new fresh v2 site, as documented

[2020-08-17 16:35] #3231 closed

[2020-08-17 16:37] anshulrgoyal commented on #3291
I treid this and it works fine:

[code]

[2020-08-17 22:16] NikitaIT opened #3299 "V2: document docs plugin multi-instance"
## 📚 Documentation

### Usecase
As a developer, I want to be able to create 2 pages of documentation.

### Why am I writing this?
This is often necessary, and oftentimes developers don't find the right way to do it. One of the official examples from the examples page in the documentation:

- Works: https://buildtracker.dev/docs/guides/guides
- Not works: https://buildtracker.dev/docs/guides/

###

[2020-08-17 22:22] NikitaIT commented on #3299
P.S. I think this configuration is not intuitive, so it can be seen as a suggestion for simplification.

[2020-08-18 04:06] chudongvip opened #3300 "[v2] npm install --save @docusaurus/plugin-ideal-image no response"
![image](https://user-images.githubusercontent.com/16483109/90469209-cbb9c380-e14a-11ea-888e-f84b539beb55.png)

PS: install with VPN, and I can visit the Google web site.

[2020-08-18 04:09] chudongvip commented on #3300
Please follow the steps below to reproduce it

- git clone https://github.com/facebook/docusaurus.git
- cd website
- npm i

[2020-08-18 04:13] mattmillerart opened #3301 "https mode not working due to missing WDS option"
## 🐛 Bug Report

According to the docs (actually, not sure if this is in the docs) setting `process.env.HTTPS=true` should start webpack dev server in https mode. This does not work because a missing option in the webpack dev server config.

Here is the webpack dev server docs showing the `https` option: https://webpack.js.org/configuration/dev-server/#devserverhttps

Here is the Docusaurus config

[2020-08-18 04:23] facultymatt commented on #3301
Related, Docusaurus should probably mirror the options of CRA for setting custom certs: https://create-react-app.dev/docs/using-https-in-development/ to keep things consistent

[2020-08-18 06:28] michelcourbon commented on #3031
hello, try it offline during vacation !! the problem is the same.. unable to use local uri..  like ./img  !!! the /img proposed create error in the 2 pages of the blog.. thanks

[2020-08-18 10:55] slorber commented on #3299
Hey @NikitaIT

The docs multi-instance system is brand new, it wasn't working before alpha 61, and we can definitively improve the doc (I left it undocumented on purpose so that we can get a bit of feedbacks of early adopters before writing some doc.

Both options look valid to me, but it will also depend on how you see versioning working on your site, and what URLs you want. If you have 2 plugin

[2020-08-18 11:02] slorber commented on #3300
The plugin is there as you can see: https://www.npmjs.com/package/@docusaurus/plugin-ideal-image

If you can't fetch it, it's definitively not our fault and we can't do anything about it

[2020-08-18 11:02] #3300 closed

[2020-08-18 11:13] slorber commented on #3031
Hi,

The problem is due to using relative paths.

![image](https://user-images.githubusercontent.com/749374/90506268-3cb1a900-e154-11ea-91ff-3eebf1cf7752.png)

These paths are resolved against the current URL the user is browsing, so they can work on one page, and fail on another.

It is indeed working if you use non-relative paths including the baseUrl: `/courbon/img/img-perso.jpg`

[2020-08-18 11:13] #3031 closed

[2020-08-18 11:20] slorber commented on #3301
Thanks, agree we should fix that.

Someone willing to submit a PR?

[2020-08-18 12:41] colriot opened #3303 "Links validation failures after updating to 2.0.0-alpha.61"
## 🐛 Bug Report

We are in the process of migrating Litho UI Framework website to Docusaurus v2. After updating Docusaurus setup to `alpha.61` we started getting weird behaviour of not seeing the content of `static/javadoc` folder on the website and prod build started to fail on links validation step.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus

[2020-08-18 14:41] slorber commented on #3152
We'll likely need this feature to improve the translation experience too.

Feedback from v1: https://github.com/facebook/docusaurus/issues/648

If user is editing primary language, we should link to Github, otherwise we should allow user to link to his own translation system URL. We use crowdin but should be able to configure whatever system we want, so having a function is probably the best optio

[2020-08-18 14:47] slorber commented on #648
this is something we'll try to improve in v2 with https://github.com/facebook/docusaurus/issues/3152

[2020-08-18 15:07] slorber opened #3305 "V2: blog "draft" frontmatter"
## 🚀 Feature

v1 has `draft: true` frontmatter for blog posts so that the page of the blog post exists but does not appear

https://github.com/facebook/docusaurus/pull/1396

Let's not forget to port it to v2.

It's an easy feature so if someone wants to give it a try :)

Note: we should ensure that the created page for the blog post does not appear in the sitemaps, otherwise that draft blog post c

[2020-08-18 15:18] slorber commented on #3303
Hi,

This is a security we put in place to detect broken links. This will catch false positives, like there, because Docusaurus is not aware of the `/javadoc` path, as it did not create it.

Note, at the end of the error message, there is an explanation about a setting so that instead of throwing, it errors, warn, or ignore all broken links.

Also, if you use full URLs (including the domain) these

[2020-08-18 16:16] colriot commented on #3303
Hi @slorber! Thanks for your answer. I'll add some clarification questions:

* I tried generic config for link checker not throwing, but we still would like this functionality for the website. Plus, this doesn't solve reload issue.
* You said Docusaurus doesn't know about `static/javadoc`, but it's in the same state as `static/images` and with images we don't have any problems in our case. Does Do

[2020-08-18 17:12] NikitaIT commented on #3299
It seems setting id in the classic with versioning is unnecessary, and breaks the documentation. So I remove `id: "w1"` from the example.

[2020-08-18 18:22] slorber commented on #3303
Hi,

The escape hatch is mostly for sites that use a baseurl like `/myWebsiteBaseUrl` and yet they want to link to some page that is "outside" of the baseurl. If the content is in `/static/javadoc`, we should prevent the broken link checker to report `/javadoc` as a broken link. As this system is new, I didn't think about that case :) And yes images go through a different path, using webpack's fil

[2020-08-18 18:48] dschaller commented on #3268
@slorber I recall seeing some of the updated packages having a peer dependency of >webpack@5. I could have misread that though.

[2020-08-18 19:20] omry commented on #3285
One use case is that we are disabling some sidebar items based on environment variables to hide some internal (but not sensitive) docs.
the same website is hosted both externally and internally, and internally it is built with that environment variable set.

In fact, the versioned sidebars not being dynamic is causing issues with that.

[2020-08-19 09:16] michelcourbon commented on #3031
thanks a lot !! great work... and now it works fine !! so you can complete example with such detail

[2020-08-19 09:40] slorber commented on #3103
Note, it's worth checking review comments on the initial PR for additional things to improve: https://github.com/facebook/docusaurus/pull/3015

[2020-08-19 10:05] slorber commented on #2965
Hey, this is not totally related but I found out about this tool used on ReactNativeWebsite: https://github.com/get-alex/alex

[2020-08-19 13:17] colriot commented on #3303
Hello @slorber,
Thanks for explanation and for taking care of it!
Though I'd still consider everything inside the `static` folder as part of "inside" baseurl stuff :) Do I get it right, that all the content of `/static` is deployed at the same level of baseUrl? Like, in our case, `images`, `videos`, `javadoc` would be deployed at `<baseUrl>/images`, `<baseUrl>/videos` and `<baseUrl>/javadoc` respe

[2020-08-19 14:29] slorber commented on #2724
@jknoxville I think @anshulrgoyal found out why the url loader does not work in your case, because the docs are outside of the website, and it does not resolve against parent/website/node_modules but against parent/node_modules.

Adding URL loader in the parent is likely to solve this issue, but we'll also add resolution to `website/node_modules`, as it's likely to be useful for those migrating fr

[2020-08-19 14:42] jknoxville commented on #2724
Yes exactly, I didn't see a reason to move them, but can do if it's necessary. I'd prefer that than having to turn the parent into a JS package.

[2020-08-19 14:57] slorber commented on #2724
No it should be supported, we don't want to force users to move folders as it seems it can messup a bit the git history 🤪 we are currently experiencing that in RN website migration

[2020-08-19 15:31] slorber commented on #3303
# Validation errors (broken links found)

Yes, things in ./static are part of the site.

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/src/server/brokenLinks.ts#L132

Actually the code only consider files like myFile.html, it does not consider folders like build/javadoc/index.html
We should make it consider the folder too if that folder contains an index.html file. Will tr

[2020-08-19 16:25] slorber commented on #3303
For the broken links, it should be solved in https://github.com/facebook/docusaurus/pull/3308

For the navigation failure, I'm not sure but I don't feel there's a regression there, it's likely that it didn't work in early versions of Docusaurus 2 and I don't see a better solution than the `pathname://` prefix for now. Do you have an example?

[2020-08-19 16:38] eriveltonelias commented on #3285
I think it will good to remove the `/docs` folder and keep only related to version-specific because it is too confusing for people who want to contribute the first time or don't know how docusaurus handle it.

if the user can choose which folder to copy from when running the cli the current version will not be necessary here, or it's used in other places?

that's super exciting 😍

can we make this

[2020-08-19 16:43] markerikson commented on #3285
Totally disagree on this.

A lot of our docs are _not_ version-specific (installation, tutorial, usage guide, etc).

Also, I _want_ to have a `/docs` folder as the obvious place where the "latest" docs live.

[2020-08-19 16:45] #3303 closed

[2020-08-19 16:50] slorber commented on #3303
Unfortunately I don't even think the `pathname://` escape hatch works, as it seems filtered by our markdown parser.
There's no easy way to assign some metadata to a markdown link.

The problem is a bit different here and I don't think there's an easy way to solve it.

Unlike the broken link checker that can do its job at the end of the build, we have to choose what should be done when an user clic

[2020-08-19 16:57] eriveltonelias commented on #3285
if you create on versioned_docs a fixed version? like `current` and with version aliases, you can handle all permanent links, if you do that will follow the same behavior as today, it's just my option :)

[2020-08-19 16:57] slorber opened #3309 "Unability to link to an internal non-SPA link"
## 🐛 Bug Report

Related to https://github.com/facebook/docusaurus/issues/3303#issuecomment-676541070

Imagine you have `/static/javadoc/index.html`

You should be able to link to this page using

[code]

or

[code]

Yet, the link uses `history.push()` as it thinks it's an SPA internal link, and we end up with the 404 as no SPA route is found.

It works after a refresh though, or if we use an URL

[2020-08-19 17:00] slorber commented on #3303
I've opened a proper issue to track this problem: https://github.com/facebook/docusaurus/issues/3309

[2020-08-19 17:18] slorber commented on #3285
Thanks for the feedback everyone ;)

---

@markerikson

It's something new on which I'd like to onboard some users and get feedbacks before writing official docs, but we have "multi docs instance" support, and it's already live on our website. Here's "community docs", a standalone, unversioned docs instance:

https://v2.docusaurus.io/community/support

---

@eriveltonelias

We are currently trying

[2020-08-19 17:26] eriveltonelias commented on #3285
gotcha, that makes sense. :)  if we don't keep the full history preserved it will be a huge issue for all use cases? I'm just curious about that because on react-navigation I don't think we expect to have a full history preserved of commits when copy v5 to v6.

[2020-08-19 17:47] slorber commented on #3285
For rnav v4-v5 we probably don't care as it's a rewrite.

For RN website it's clearly a blocker that 2 maintainers of the site rapidly reported :)

[2020-08-19 23:07] arcvats commented on #3301
Can I take this one?

[2020-08-20 09:41] Daggy1234 opened #3312 "Unable to create app in directory on Windows"
## 🐛 Bug Report

The npx creation of a docusaurus app fails because of the Windows user directory name has a  space in it.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

- [x] Yes I have

## To Reproduce

(Write your steps here:)

Create a directory with a space in it.
ie) \Desktop\My Blog
and ru

[2020-08-20 09:43] Daggy1234 commented on #3312
Just to be clear this can be resolved if I change 'My Blog' to 'MyBlog'

[2020-08-20 10:51] colriot commented on #3303
## Validation errors (broken links found)

Thank you! That sounds right to me 😃 . Considering that any arbitrary number of subfolders will be handled.

## Navigation failures

From #3278 I understood that all root (`/blabla`) links would be wrapped by `useBaseUrl()` automatically. And that was the last part we were missing for Docusaurus migration, because out website is deployed both externally t

[2020-08-20 11:02] colriot commented on #3309
I'd strongly vote for the idea that `*.md` files (and their authors) should not care about the implementation details, i.e. navigation methods.
"Does the link represent a valid URL?" - "Yes."
Then it should work without any attribution and augmentation in the Markdown. Similar to how static website generators handle it. Imagine people migrating to Docusaurus from Jekyll and being forced to fix all

[2020-08-20 11:27] vj-codes commented on #1834
@slorber Anything still left?I would love to contribute!

[2020-08-20 11:52] Repulser commented on #3081
Hey! Anything new on this issue?

[2020-08-20 12:13] slorber commented on #3301
yes thanks ;)

[2020-08-20 12:28] PalAditya commented on #3239
Hi, this seems like a nice issue to get started with this project. May I work on this please?

[2020-08-20 12:37] slorber commented on #3303
At some point we have to choose.

Supposing we use a `/baseUrl`, this markdown link

[code]

Can lead to one of the following navigation method being used

- `history.push('/baseUrl/javadoc')`: this is what breaks your site, as `/baseUrl/javadoc` is not a SPA route
- `window.location.href = '/javadoc'`: this is not your case (as your javadoc is under the baseUrl path) but other sites may want to l

[2020-08-20 12:47] slorber commented on #3309
I agree that we should try to provide good defaults, and not modify the docs for this.

As explained there: https://github.com/facebook/docusaurus/issues/3303#issuecomment-677638781
A valid markdown link may lead to different kind of navigations, with or without baseUrl

Jekyll is not a SPA, it does not have to choose between `history.push(path)` (spa navigation) and `window.location.href = path`

[2020-08-20 13:05] slorber commented on #3081
Not from me and unfortunately can't dedicate time on this until versioning and i18n have progressed.

Help from the community is welcome for now.

[2020-08-20 13:06] slorber commented on #3239
hi @PalAditya yes definitively.

Note there is a `test:v1Migration:migrate` command at the root of the monorepo that might help :)

[2020-08-20 13:08] samhatoum opened #3315 "Mobile dark mode is not respected"
## 🐛 Bug Report

Docusaurus is not respecting mobile dark mode on load, but it does detect it when it's switched dynamically if the page is open. It does not detect it when the mobile dark mode is flipped and the page is not visible.

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CO

[2020-08-20 13:09] slorber commented on #1834
Hi @vj-codes

We have many v1 sites left to migrate but they are rather complex ones. We are currently working on ReactNative website, and later this will likely be Jest. These sites are complex and will help us understand what features in v2 are missing.

I don't know exactly which  easy v1 sites easy to migrate are left but if you find one or if someone ask for help here on Discord, don't hesita

[2020-08-20 13:21] slorber commented on #3315
Hi,

as documented, you need to enable an option:

https://v2.docusaurus.io/docs/theme-classic/#color-mode---dark-mode

![image](https://user-images.githubusercontent.com/749374/90774994-9357e800-e2f8-11ea-814e-940dc9452e5c.png)

Maybe the default to disabled surprise you, but if we defaulted to true, this has also been confusing for some users.

Also, is this really related to mobile at all? Do y

[2020-08-20 13:45] samhatoum commented on #3315
Thanks for the super prompts response. You're right, I somehow missed that. Sometimes I miss big callout cautions like this: 😂
<img width="585" alt="Screen Shot 2020-08-20 at 9 41 33 AM" src="https://user-images.githubusercontent.com/2021955/90777389-59bbb880-e2c9-11ea-8134-260131cfd3ac.png">

So about the toggle. How does one enable it on mobile?

Please feel free to close this issue

[2020-08-20 15:49] slorber commented on #3315
:)

The toggle appears in the sidebar on mobile:

![image](https://user-images.githubusercontent.com/749374/90794484-2438be80-e30d-11ea-8c7b-7fd08bf86b9f.png)

I don't know exactly how you made it disappear but the initial template should normally have it.

[2020-08-20 15:49] #3315 closed

[2020-08-20 17:49] slorber opened #3317 "RFC: Docusaurus v2 i18n"
Docusaurus v2 i18n
---

Here is a brain dump of many things to consider for i18n support in v2.

I'll keep this issue updated over time, but feel free to comment if you have anything to say, particularly if you used v1 i18n support and can provide valuable feedback.

Superseed this older issue (that still have interesting content): https://github.com/facebook/docusaurus/issues/2651

---

# Existin

[2020-08-20 18:12] slorber commented on #3309
@coliff just seen this SO answer from @yangshun https://stackoverflow.com/a/55940426/82609

I suggest you try to add https://github.com/vitaliy-bobrov/remarkable-extlink with target=_blank, and Docusaurus will not try to navigate to it as a SPA link

[2020-08-20 18:24] slorber commented on #2651
Hey there. I'm closing this issue in favor of a new one: https://github.com/facebook/docusaurus/issues/3317

I'm working on i18n, and have already integrated a few feedbacks from this issue already.

[2020-08-20 18:24] #2651 closed

[2020-08-20 18:27] slorber commented on #586
Here is an issue for i18n in v2 where we'll try to fix problems reported in this issue.

https://github.com/facebook/docusaurus/issues/3317

[2020-08-21 08:05] limkinZero commented on #3272
Hi @slorber

I`m trying to use version feature with docusaurus v2 (2.0.0-alpha.61) and get the same error:

[code]

[2020-08-21 08:05] limkinZero commented on #3272
Hi @slorber

I`m trying to use version feature with docusaurus v2 (2.0.0-alpha.61) and get the same error:

[code]

[2020-08-21 08:38] rrousselGit opened #3318 "Document how to use Prism Plugins / add Prism diff-highlight plugin"
## 📚 Documentation

Prism comes with the ability to use prism plugins to add extra functionalities – such as [diff-highlight](https://prismjs.com/plugins/diff-highlight/) to combine the syntax highlighting of a language with the `diff` feature.

It is currently unclear how to enable prism plugins.

I've tried playing with `swizzle` to extract the code-highlighting renderer, but failed to implement

[2020-08-21 08:54] slorber commented on #3318
We use react-prism-renderer and it does not seem to support the ability to add such plugin, so unfortunately we can't support this unless they add support, but that seems not planned:
https://github.com/FormidableLabs/prism-react-renderer/issues/2

[2020-08-21 08:54] #3318 closed

[2020-08-21 08:58] slorber commented on #3272
Hi,

Can you give us more infos on your env?

Are you both on Windows?

Wonder if you use a fs path with spaces in it or something? That can lead to issues sometimes.

[2020-08-21 13:33] slorber opened #3320 "Need for DocNavbarItem (v1 feature)"
## 🚀 Feature

A feature of v1 has not been ported to v2: the ability to link to a sidebar.

For example, the ReactNative website has 3 sidebars: docs, components and apis.

https://reactnative.dev/docs/getting-started

![image](https://user-images.githubusercontent.com/749374/90900430-b4d4d480-e3c9-11ea-8959-afa9b31e4fca.png)

The layout need to be able to link to one of the 3 sidebar, and also be

[2020-08-21 15:16] slorber opened #3321 "Detect broken anchor links"
## 🚀 Feature

We can detect broken links now, but another thing that can break easily is anchor links. As we currently auto-generate ids based on heading text, rewriting a heading can break linking, and it's not easy to notice it.

We need a way to check anchor links at build time too, fail fast, and report errors

[2020-08-21 15:19] slorber opened #3322 "Ability to set heading anchor link id (useful for i18n)"
## 🚀 Feature

There are 2 usecases for letting user choose its own anchor ids instead of generating them from text.

The i18n process. If a translator translate the heading of a doc, the auto generated ids will change, which means that incoming anchor links from all the other places will break, and this can be annoying. See also the section on i18n RFC: https://github.com/facebook/docusaurus/issue

[2020-08-21 18:37] ylemkimon opened #3324 "v2 doesn't work with Yarn 2 with `enableGlobalCache`"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues]
Yes

## To Reproduce
[code]

## Expected behavior
Build the project successfully.

## Actual Behavior
[code]

## Cause

Docusaurus uses [`importFresh`](https://github.com/facebook/docusaurus/search?q=importFresh) to require presets and plugins.

From https://github.com/yarnpkg/berry/issues/706#issuecomment-576020156:

## Yo

[2020-08-24 10:21] davidjsteele opened #3329 "Bootstrap template not rendering"
## 🐛 Bug Report

Creating new OOB starter project using npx command with experimental Bootstrap template.

![image](https://user-images.githubusercontent.com/7621977/91026678-014f2880-e5f3-11ea-99d9-c5ada5412eaf.png)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Run npx

[2020-08-24 22:59] martavis opened #3330 "(v2) Metadata isn't included in build"
## 🐛 Bug Report

There is no metadata other than `title` showing in the build.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Install v2 alpha 61
1. Add metadata to docusuarus config
1. Run build

## Expected behavior

I expected to see meta tags `title`, `description`, `

[2020-08-25 09:49] colriot commented on #3309
👀

@slorber thanks a lot!
Do you have any ETA for this? I'm not sure what might be the priority of this. Also, while this is not implemented, what would you recommend right now to make these links work after the first click? (do we have any option to support `baseUrl` now, or are we forced to use absolute URL for some time?)

[2020-08-25 20:59] slorber commented on #3305
Thanks @imskr you can work on this

[2020-08-25 21:24] imskr commented on #3305
@slorber Thanks since I am new here. Just to confirm, I have to make changes [here](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/blogUtils.ts) right?

[2020-08-26 04:40] albin-joseph-wiznet opened #3337 "Opening a pdf link shows page not found"
## 🐛 Bug Report

# Opening a pdf link shows page not found

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## To Reproduce

1. Step 1. head to (https://doc.wiznet.io/docs/Product/iEthernet/W5500/datasheet)
2. Step 2.. hit any of the following links
- W5500 Datasheet v1.0.9 - English
- W5500 Datash

[2020-08-26 05:31] albin-joseph-wiznet commented on #3337
edit

[2020-08-26 06:49] iamshouvikmitra opened #3338 "Spelling Mistake"
https://github.com/facebook/docusaurus/blob/306d3afc0a79340999a8e8bb2568c4965611a555/packages/docusaurus-theme-classic/src/theme/hooks/useAnnouncementBar.ts#L20

should have been
[code]

[2020-08-26 09:31] fasolens commented on #3337
I think it is because:
https://v2.docusaurus.io/docs/static-assets/#caveats
point 2.
I have the same issue and I set to open pdf links in new tab to workaround this.

[2020-08-26 14:50] metasaver commented on #3223
thanks

[2020-08-26 15:14] s-pace commented on #2629
👋 @ranyitz

Thank you for rising this issue.

I am part of the DocSearch team.

It seems that the reproducible environment you are referring to does not have DocSearch enabled. [The algolia setting is not configured from the siteConfig.js](https://github.com/ranyitz/docusaurus-algolia-exports-bug/blob/master/website/siteConfig.js#L48).

[As you can see on the jest website](https://jestjs.io/docs/e

[2020-08-26 16:08] ranyitz commented on #2629
Thanks @s-pace! It's important to note the docusaurus 2 doesn't have this bug, and I believe most of the community will move to use it sooner or later. Closing

[2020-08-26 16:08] #2629 closed

[2020-08-27 03:34] Prince007-bd opened #3341 "My Site"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Step 1...
1. Step 2...
1. Step 3...

## Expected behavior

(Write what you thought would happen.)

## Actua

[2020-08-27 07:59] #3341 closed

[2020-08-27 08:41] slorber opened #3342 "Cleanup themes default/fallback values"
![image](https://user-images.githubusercontent.com/749374/91417254-cc401180-e850-11ea-94f4-789d962df003.png)

https://twitter.com/jaredpalmer/status/1298332787792109570

With the new theme validation/normalization, default values are applied ahead of time.

We should cleanup every piece of code that defines default/fallback values in the views unnecessarily because we don't want these fallback val

[2020-08-27 08:43] slorber commented on #3338
thanks, will be fixed in https://github.com/facebook/docusaurus/pull/3343

also related: https://github.com/facebook/docusaurus/issues/334

[2020-08-27 08:55] slorber commented on #3305
Hey @imskr yes it's the place.

Seems like it's actually already implemented: https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/blogUtils.ts#L126

Maybe only the docs is missing, can you double-check and add the doc please?

Also curious, can you check the sitemaps plugin behavior regarding this draft frontmatter? (we can track/fix this in a separate is

[2020-08-27 08:55] #3338 closed

[2020-08-27 09:05] slorber commented on #3337
Hmmm yes we should handle this better. Actually we have already merged #3096 that should improve this but it's not yet released (probably next week).

In the meantime you can use this:

https://v2.docusaurus.io/docs/markdown-features/#common-assets

Note you can require a pdf file in static folder (no relative path needed) with `require("@site/static/myPDF.pdf").default`.

[2020-08-27 09:33] slorber commented on #3330
Hey @martavis , on Docusaurus v2 website it works for me:

![image](https://user-images.githubusercontent.com/749374/91423592-08777000-e859-11ea-8fa1-fc8f7a17d600.png)

![image](https://user-images.githubusercontent.com/749374/91423562-00b7cb80-e859-11ea-9b42-103708916db0.png)

2 ways I can help you:
- you submit a PR on d2 website so that I can see the issue in the deploy preview (we won't merge

[2020-08-27 09:36] slorber commented on #3329
Thanks

Yes the bootstrap theme is still a work in progress and not totally usable yet.

I don't have much time to work on it currently, if someone wants to improve it please do

[2020-08-27 09:55] slorber commented on #3294
I don't really understand your suggestion sorry 🤪 can you be more concrete?

It's already possible to use docs-only mode for that, where a doc is at the root of your site: https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode

Also if you want to can create src/pages/v1/myPage.jsx, and src/pages/v2/myPage.jsx already, and have totally different code. I don't see what we can do to improve

[2020-08-27 09:57] slorber commented on #3324
Thanks, let's track this but currently don't know how to fix it 🤪

[2020-08-27 10:07] slorber commented on #3299
Sorry but I don't understand what you mean 😅 if you can send a PR to Docusaurus website that allows me to show the problem on the deploy preview that would be helpful.

[2020-08-27 12:17] slorber commented on #3309
I'll try to make this possible soon, as I think there is currently no workaround to solve your problem. Need to figure out which solution/api first, have some ideas but not sure which is best.

It's not possible to apply baseurl in markdown absolute links so that it works fine on your 2 distinct envs.

[2020-08-27 14:41] joshribakoff commented on #3294
Sounds like you already have the feature I was suggesting then and it just wasn’t super obvious. I’ll try it out again in the future. For now I turned off versions because it was a bit cumbersome to edit the dupes files. Thanks for the reply!

[2020-08-27 14:43] imskr commented on #3305
@slorber Yeah sure let me check!

[2020-08-27 14:59] imskr commented on #3305
@slorber Please review the PR

[2020-08-27 15:09] imskr commented on #3342
@slorber I would like to start working on this!

[2020-08-27 17:36] slorber commented on #3337
Actually it was'nt exactly working as I thought, so this pr should fix it: https://github.com/facebook/docusaurus/pull/3347

[2020-08-27 17:44] slorber commented on #3309
So, I made this PR to make the `pathname:///javadoc` escape hatch work.

https://github.com/facebook/docusaurus/pull/3347

It's not an ideal solution as it requires updating markdown but it should work with or without baseurl, as seen on this page: https://deploy-preview-3347--docusaurus-2.netlify.app/classic/markdown-tests/

Other ideas I have are more complex to implement, and I'm not even sure

[2020-08-27 17:54] colriot commented on #3309
@slorber not sure I got it right. Does that implement the default behaviour to add `baseUrl` for both SPA and non-SPA navigation, and `pathname://` is needed only for non-baseUrl links? Or is it "you need to use `pathname://` for all non-SPA links"? If the latter then is it a temporary solution or final decision?

[2020-08-27 17:59] slorber commented on #3309
`/javadoc` -> considered as internal link -> will show 404 page
`pathname:///javadoc` -> considered as external link -> will open in a new tab

Both will be prefixed by baseUrl (if any) so that links are not sensitive to baseUrl.

It's not a final solution, but if we find a better one, there should be a simple migration path (like just removing the `pathname://` prefix in all your docs, quite easy

[2020-08-27 17:59] #3305 closed

[2020-08-27 18:03] colriot commented on #3309
@slorber sorry! I updated the comment in between, after actually checking the Testing Page. I see your point, I guess quicker solution is better for now (sad, that we need to have this special case when writing docs :))

While testing I guess I found at least one strange thing:

[2020-08-27 19:03] slorber commented on #3309
Yes, I'll figure out how to make this configurable from the outside later.

Yes you are wrong both should resolve to the same path, one is a relative path, the other is absolute but it's the same path in the end

[2020-08-27 21:24] ataube opened #3349 "ThemeConfig: Navbar items href validation error"
## 🐛 Bug Report

I upgrade from 2.0.0-alpha.54 to 2.0.0-alpha.61, and get a validation error for the following config (which used to work before)

[code]

Error: `ValidationError: "navbar.items[0].href" must be a valid uri`

My webserver is hosting 2 sites, and I need to jump out from docusaurus to another static html side on path `/foobar`. The path has a dynamic base url, because the site gets h

[2020-08-27 22:37] Vinnl opened #3350 ""navbar.logo.alt" is not allowed to be empty"
## 🐛 Bug Report

When I use an empty string for `navbar.logo.alt` in my config, I get the following validation error:

However, since the logo in my navbar is redundant with the actual project name next to it, I don't want screen readers to read out anything for the logo - it would just duplicate the project name.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebo

[2020-08-28 08:49] marikaner opened #3351 "Inconsistent `Redirect` component behavior"
## 🐛 Bug Report

Running docusaurus with redirects locally and on Github Pages produces different results. I have a markdown file that is supposed to redirect to another page:
[code]

When running locally requesting `<path>/redirect-to-a` in a browser redirects me to `<path>/a` which is exactly what I want. On Github Pages it (sometimes) redirects me to `<path>/redirect-to-a/a` which gives me a 40

[2020-08-28 09:36] slorber commented on #3350
Hi,

![image](https://user-images.githubusercontent.com/749374/91546395-a84d0080-e922-11ea-8521-988e3b3b9671.png)

In my opinion it is better that the screen reader reads your alt text vs the image filename

[2020-08-28 09:39] Vinnl commented on #3350
@slorber That is about leaving out the alt text altogether :) I want to specify an empty alt tag, i.e. `<img src="logo.svg" alt=""/>`.

[2020-08-28 09:41] slorber commented on #3350
I see.

Do you have a link from an authority that claims alt="" is a recommended practice in some cases?

[2020-08-28 09:41] Vinnl commented on #3350
@slorber Just added it to my previous comment! :)

[2020-08-28 09:42] slorber commented on #3350
thanks, will accept a PR (just need `.allow('')` in theme validation) or will make one soon

[2020-08-28 09:59] slorber commented on #3349
Hi,

Can you give more details please?

What are the fully qualified URL(s) this link should lead to?

Have you tried `to: /foobar` instead of href?

Honestly this part of the code is a bit messy and it's hard to change anything without introducing a breaking change.

At some point we should be able to tell the router if we should do a regular HTML navigation, or history.push(), and the current AP

[2020-08-28 10:07] slorber commented on #3342
Please do @imskr  :)

[2020-08-28 10:41] thanasis00 opened #3353 "False reporting broken link when link is an email"
## 🐛 Bug Report

In a .md file I have a link with an email:

[code]

and when I build the website I get the error: Broken links found!

as it tries to resolve the email link to an actual internal url, but it's not a website url.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[2020-08-28 10:50] #3350 closed

[2020-08-28 10:58] slorber commented on #3353
Hi,

[code]

this is not a valid link and will lead to the 404 page as we try to navigate to it: http://localhost:3000/docs/next/support@test.com

You should use the `mailto:` protocol:

[code]

[2020-08-28 10:58] #3353 closed

[2020-08-28 12:38] slorber commented on #3351
Hi,

It is not clear to me if you are using baseUrl or not, but docusaurus serve should work if you don't use any baseUrl.

There is an issue to support baseUrl out of the box in docusaurus serve here: https://github.com/facebook/docusaurus/issues/3291

First thing would be to remove any baseUrl and check if the problem still happen without any baseUrl.
Also worth checking if the issue is not rela

[2020-08-28 12:39] slorber commented on #3291
@anshulrgoyal was wondering if you did a PR already to fix this issue, or should I create one?

[2020-08-28 14:06] marikaner commented on #3351
Hey @slorber,

thanks I already made some progress based on your suggestions above. I am now able to locally run build + serve with the pages looking as expected. Redirection in this mode however does not work.

Anyways, this is the code for our documentation: https://github.com/SAP/cloud-sdk/tree/documentation and those are the Github pages: https://sap.github.io/cloud-sdk.

It seems to be indeed

[2020-08-28 15:37] dhitimedin commented on #776
I am looking for local search support for Hindi language. Any suggestions or a sulution?

[2020-08-28 15:48] lelouch77 commented on #776
@dhitimedin  You can make use of this https://github.com/MihaiValentin/lunr-languages/pull/6

[2020-08-28 16:05] #3301 closed

[2020-08-28 16:05] #3239 closed

[2020-08-28 17:16] slorber commented on #3285
Hi there.

Just wanted to let you know that alpha 62 has been published and gives the ability to configure per version paths/labels. The rest of this RFC will come later.

https://github.com/facebook/docusaurus/pull/3357

https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.62

[2020-08-28 17:18] omry commented on #3285
Thanks @slorber, can you point to a doc page explaining how to use this?
I know it's annoying (I am facing the exact same issue with Hydra), but I think release notes should contain links to relevant doc pages to improve adoption of new features.

[2020-08-28 17:24] slorber commented on #3285
You can check this:

https://v2.docusaurus.io/docs/versioning#figure-out-the-behavior-for-the-current-version
https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-content-docs

[2020-08-28 17:59] SamChou19815 opened #3360 "(v2) Blog only mode becomes much harder to use after alpha-62"
## 🐛 Bug Report

In the documentation, it mentions that preset classic can support blog-only mode seamlessly: https://v2.docusaurus.io/docs/blog#blog-only-mode

However, several changes in alpha-62 makes it much harder in two possible scenarios of blog-only mode usage:

1. alpha-62 will start complain and abort when docs folder or `sidebars.json` is missing. This means that if we are using preset-

[2020-08-28 19:30] ketangupta34 commented on #3329
can you provide a bit more information bout the same

[2020-08-28 19:36] ataube commented on #3349
Hi, thanks for your feedback, using `to: /foobar` with target solves the problem. A more explicit api surface would be definitely nice to have.

[2020-08-28 19:36] #3349 closed

[2020-08-28 20:19] ketangupta34 commented on #3329
@slorber I would like to start working on this. some more information regarding the issue would be helpful.

[2020-08-28 21:55] ymolists commented on #638
@bourdakos1  . Thats amazing !

I have multiple projects each with one openapi spec. It seems its meant to have only one spec ? I can  open an issue on the repo if you think this is easy to support.

[2020-08-29 00:05] bourdakos1 commented on #638
@ymolists thanks 😁 feel free to open an issue, Ill take a look and see how hard it will be to add

[2020-08-29 01:17] martavis opened #3361 "[v2.0.0-alpha.62] Can't build using docusaurus-plugin-sass"
## 🐛 Bug Report

On build, I receive this error pertaining to `docusaurus-pluging-sass`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
## To Reproduce

(Write your steps here:)

1. Install Docusaurus v2.0.0-alpha.62
1. Install and add `docusaurus-plugin-sass`
1. Build Docusaurus

## Expected

[2020-08-29 09:04] adrianmcli opened #3362 "(v2) Version label is now mandatory or on by default after upgrading to alpha.62"
## 🐛 Bug Report

Versioning is now imposed on the user since upgrading to alpha.62 (from alpha.61).

As a project that does not want to use versioning in their docs at all, it's weird to have a version label at the top of each page imposed upon us. There's also no clear way to disable this without swizzling.

I would hope that at the very least, there should be an easy way to disable it. But I thi

[2020-08-29 13:41] slorber commented on #3362
This is likely a little regression from my big docs plugin refractor. Will be fixed in the next release, in the meantime you can swizzle the comp temporarily

[2020-08-29 16:29] slorber commented on #3361
Thanks, submitted a fix to the plugin:
https://github.com/rlamana/docusaurus-plugin-sass/pull/5

[2020-08-29 17:16] martavis commented on #3361
Thanks!

[2020-08-29 19:28] NikitaIT commented on #3299
@slorber This is not very important, just when adding folders with versions, the second instance of the plugin docs parses them again(without disableVersioning). Because both plugins do it at the same time, this leads to an error. The error is expected, but I decided to write about it here, just in case.

[2020-08-30 03:44] bethesque opened #3363 "(v2) "ENOENT: no such file or directory" after upgrading from alpha.61 to alpha.62"
Thanks for everyone's work on this awesome product. It has been really useful for us.

## 🐛 Bug Report

When running `npm run build` after upgrading from alpha.61 to alpha.62, the website does not build, and this output is repeated for many/all pages:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-

[2020-08-30 10:31] bravo-kernel opened #3364 "onBrokenLinks: false positive"
## 🐛 Bug Report

## The Bug:

`onBrokenLinks` should not flag/parse below markdown as a broken link.
[code]

## Why?

As can be seen above, it is not a link, because there is a space between `[]` and `()`

## To Reproduce

1. Insert above markdown into a Docusaurus page
2. Run `yarn build`
3. See that file updated in step 1 is flagged for containing a broken link

## Your Environment

Docusaurus a

[2020-08-30 10:44] bravo-kernel opened #3365 "Versioned index.html not executed"
## 🐛 Bug Report

We have a live site using file `docs/index.html` to redirect users to the first actual page of our docs (`quick-start`).

That `index.html` file was created following the advice given by Endi in [issue 1932](https://github.com/facebook/docusaurus/issues/1932#issuecomment-549144816).

We made a version cut:

- and named it `v4`
- that cut now contains `index.html` (full path thus `

[2020-08-30 11:23] MateuszDabrowski opened #3366 "[v2.alpha.62] sidebars.json is required after upgrading from alpha.61 to alpha.62"
## 🐛 Bug Report

After update from alpha.61 to alpha.62 I'm not able to start a server with my website due to a missing 'sidebars.json' file. It was not required previously. I'm using custom sidebar js files for multiple doc roots: https://github.com/MateuszDabrowski/mateuszdabrowski.pl (one in /docs, one in /ideas)

### Have you read the [Contributing Guidelines on issues](https://github.com/face

[2020-08-30 11:24] MateuszDabrowski commented on #3362
The same problem might also impact the custom sidebars approach for doc only page: https://github.com/facebook/docusaurus/issues/3366

[2020-08-30 11:35] MateuszDabrowski opened #3367 "[v2.alpha.62] subpages are not opening at all after upgrading from alpha.61 to alpha.62"
## 🐛 Bug Report

After updating to alpha.62 I'm able to open main page of my site, but subpages are not loading at all.
After checking Network logging it seems that all files are loading correctly but the content file itself - it returns blank.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-08-30 11:38] MateuszDabrowski commented on #3367
Additional information:
On initial npm run start I also received error:
[code]
that blocks compilation. Once I deleted the homePageId setting and added slug, the compilation finished.

I'm not able to check whether this fixed the issue or not, due to the above bug.

This, however, shouldn't be the reason for the above bug, as also other pages, that did not have homePageId before, are not loading.

[2020-08-30 17:49] slorber commented on #3364
Hi,

It is likely that you actually have a link to /required somewhere.

onBrokenLinks does not do anything at the markdown level, it catches paths from rendered links, so there is a link somewhere

[2020-08-30 17:52] slorber commented on #3366
Thanks, this is related to a big docs plugin refactor here: https://github.com/facebook/docusaurus/pull/3245

Will make the sidebars optional again in next release

[2020-08-30 17:56] slorber commented on #3365
Hi,

Adding html and js files inside /docs or /versioned-docs folders won't do anything, and it's not the advise of Endi which was to put this file in /static

You should just use the redirect plugin for such usecase. Or use server-side redirects (preferably).

What we can do is to redirect automatically /docs/ to /docs/quick-start, if you don't use any "home doc", I think it makes sense by defaul

[2020-08-30 17:59] slorber commented on #3363
Hi,

Have you tried building locally, not on Travis? Is there an option to "clear cache" in Travis or something?

[2020-08-30 20:24] adrianmcli commented on #3362
I think I'll stay on alpha.61 for now, but it might be a good idea to have a test case for this. I think not having versioning is much more common than having it.

[2020-08-31 01:36] bethesque commented on #3363
I only created the Travis build to demonstrate the problem for this issue. It uses a clean workspace each time. The issue happens locally on my mac, and also on Netlify (see this build here https://app.netlify.com/sites/docs-pact-io/deploys/5f4b05887660070007b38902).

There may have been some documentation on upgrade steps between 61 and 62 that I missed, but I couldn't find any, and the search wa

[2020-08-31 07:40] slorber commented on #3362
@adrianmcli this thing is theme-specific. One theme might choose to show the label while another might not, and you can implement your own theme too :)

Historically the classic theme has no UI test, so it would be odd that I just add one for this particular case when there are so many more tests to write (and I need to make progress on i18n), but yeah that would be great to have more tests here.

[2020-08-31 07:51] TomBrien commented on #3363
I see the same when building (`yarn build`) on Netlify. When running the development server (`yarn start`) I am seeing:

[code]

[2020-08-31 09:32] slorber commented on #3363
@TomBrien the dev error is something else. You should get it fixed by using "debug: false" on the classic preset config, but can yu help me reproduce it? I tried running your data home assistant repo from master, and upgrading to alpha 62 does not produce this error in dev on my computer. Can you open a dedicated separate issue with repro steps please?

[2020-08-31 09:53] bethesque commented on #3363
The same errors occur when running `npm run start` btw.

[2020-08-31 09:57] slorber commented on #3363
@bethesque I am actually running your site, and the error I have in dev is not the same at all. I get a runtime console error:

![image](https://user-images.githubusercontent.com/749374/91707910-cdd74580-eb80-11ea-86e9-e19f1e696914.png)

If you look at your package lock on the deps upgrade commit you can see that there's still docusaurus core at alpha 61, that's probably the problem. All deps we p

[2020-08-31 10:08] krillboi commented on #3285
The version aliases part makes me very happy!

[2020-08-31 10:23] slorber opened #3370 "Proposal: docusaurus clear command"
## 🚀 Feature

Having a clear command can be helpful, because sometimes errors are related to caching.

I think this clear command could just be a shortcut for:

[code]

We should recommend users to try this command before reporting bugs, and also after upgrading Docusaurus version.

[2020-08-31 10:27] slorber opened #3371 "Proposal: prevent @docusaurus package version mismatches"
## 💥 Proposal

As seen here: https://github.com/facebook/docusaurus/issues/3363

If you have some @docusaurus/* packages on alpha 61, and some on alpha 62, the site might not work correctly.

Sometimes users try to upgrade but one dep is left to an older version, and we have cryptic error messages at dev/build time.

We should prevent running a Docusaurus site if the @docusaurus packages do not ha

[2020-08-31 10:29] slorber commented on #3363
PR is there: https://github.com/facebook/docusaurus/issues/3363

I've opened some new related issues btw:

https://github.com/facebook/docusaurus/issues/3371
https://github.com/facebook/docusaurus/issues/3370

[2020-08-31 10:29] #3363 closed

[2020-08-31 10:39] slorber commented on #3363
@TomBrien can you tell me exactly how you got this error in dev? With which repo/branch/commit I can reproduce it?

Is it gone now or still there?

[2020-08-31 10:48] marikaner commented on #3351
So after investigating this a bit, I am pretty sure that this is related to these existing issues:  https://github.com/facebook/docusaurus/issues/2654, https://github.com/facebook/docusaurus/issues/2394, https://github.com/facebook/docusaurus/issues/2134. Therefore I'll close this as a duplicate and hope that these issues will be addressed 😊

[2020-08-31 10:48] #3351 closed

[2020-08-31 10:58] slorber commented on #3351
This behavior is proprietary to the hosting solution.

I also think it may be related to the file system structure we use: `./odata-v2-client/index.html` and not `./odata-v2-client.html`

Maybe we could change that, but that seems like a risky change and not sure to understand all the implications of this.

If we allow this, I'd rather make it opt-in somehow.

This behavior is provided by a deps:

[2020-08-31 12:17] slorber opened #3372 "Fix trailing slash issues (depend on hosting provider)"
**Edit**: as part of the analysis to solve this issue, I'm writing a guide to describe factually the behavior of various static site generators and static hosting providers: https://github.com/slorber/trailing-slash-guide

## 💥 Proposal

Fix trailing host slash issues: write `/myDoc.html` instead of `/myDoc/index.html`

We have a few issues that are related to docs trailing slashes: #2654, #2394,

[2020-08-31 12:17] slorber commented on #3351
I've opened a dedicated issue: https://github.com/facebook/docusaurus/issues/3372

[2020-08-31 12:25] slorber commented on #3372
Seems related to https://github.com/markdalgleish/static-site-generator-webpack-plugin/pull/53

[2020-08-31 12:57] slorber commented on #2394
Hey, I found the original issue description not so easy to understand (particularly that md files are in zip files 🤪  that does not help to scan this issue). To clarify the problem, here's what I understand:

- Locally you have a page at `/folder/myDoc`
- It contains a relative link like [myLink](../folder2/myTargetDoc), supposed to navigate to `/folder2/myTargetDoc`
- As this link is relative, th

[2020-08-31 13:23] TomBrien commented on #3371
I believe (although not tested) a solution to this is packages outside of `@docusaurus/core` makings sure the `peerDependency` is pinned to a particular version. This should ensure dependabot and friends realise the two packages need updating in one PR rather than allowing them to update independently.  E.g. for [preset-core-classic](https://github.com/facebook/docusaurus/blob/master/packages/docu

[2020-08-31 13:28] jacksonmgoode commented on #3299
Thanks @NikitaIT for a great tutorial on getting multiple, separate and unique, documentation pages!

[2020-08-31 13:34] jacksonmgoode commented on #2712
Just a follow up question, sidebars don't recognize header html tags, but only markdown header tags. Is there anyway to have the sidebars look for html header tags? Or perhaps convert html to markdown (within a .mdx file)?

[2020-08-31 13:56] theodorDiaconu commented on #3361
Thanks @slorber . We wait for release of the plugin creator.

[2020-08-31 14:35] slorber commented on #3371
Yes, we should do that for all ^2.0.0 refs.

The problem is also that Lerna publish does seem to add back the ^ on every publish, so even if we prevent users from using an older deps, we should also ensure that they don't get a newer version that mismatch with the others (ie all at alpha 62 except one at alpha 63)

I think a runtime check would be more reliable.

We had this idea of "docusaurus do

[2020-08-31 16:27] slorber opened #3374 "normalizeUrl bug leads to routeBasePath issues"
## 🐛 Bug Report

The "normalizeUrl" pure utility function looks like to it has a bug.

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-utils/src/index.ts#L281

Tried to add the following test cases:

[code]

And the 2 and 3 test cases failing seems unexpected to me

I think this is the reason why blog/docs option `routeBasePath: ''` fail, while `routeBasePath: '/'` works.

I

[2020-08-31 16:48] slorber commented on #3126
Hey,

I think accepting '' as a value was a bad idea that actually lead to errors later, but still think that '/' should work for your usecase. Please tell me if you think you can't use '/' instead, because '' will be rejected in alpha 63.

https://github.com/facebook/docusaurus/pull/3375

[2020-08-31 17:05] slorber commented on #3362
Will be fixed in https://github.com/facebook/docusaurus/pull/3376

[2020-08-31 17:12] slorber commented on #3330
closing for now

[2020-08-31 17:12] #3330 closed

[2020-08-31 17:35] slorber commented on #3367
@MateuszDabrowski I don't see the errors you mention here.

See my PR to your repo with alpha 62 working (dev + prod mode).

https://github.com/MateuszDabrowski/mateuszdabrowski.pl/pull/1

![image](https://user-images.githubusercontent.com/749374/91748938-131b6780-ebc1-11ea-9e82-db24b719a04b.png)

I'll fix the sidebars.json issue reported here: https://github.com/facebook/docusaurus/issues/3366

T

[2020-08-31 17:35] #3367 closed

[2020-08-31 17:57] slorber commented on #3366
BTW as a side note, instead of your "sites" docs instance without any sidebar, you could also try to use Markdown Pages, released recently.

[2020-08-31 18:17] slorber commented on #3366
Will be fixed in https://github.com/facebook/docusaurus/pull/3376

Still kept a yellow warning as using docs without sidebar is probably a niche usecase

[2020-08-31 19:05] martavis commented on #3330
I finally got a chance to check this out again. I had major issues breaking my builds.

It turns out that this was a user error. I have a higher-order component wrapping my pages to check for a public vs private page and it block the `Head` component from rendering. Everything works.

[2020-08-31 19:11] adrianmcli commented on #3362
Thanks @slorber!

[2020-08-31 19:13] MateuszDabrowski commented on #3367
As mentioned here https://github.com/MateuszDabrowski/mateuszdabrowski.pl/pull/1 it seems that the issue with subpages not opening might have been either bad downloads of the files during npm install or non-numbered change in files of the alpha.62 or a problem with mine machine. Today the same steps as yesterday allowed all subpages to load correctly.

[2020-08-31 19:20] MateuszDabrowski commented on #3366
Ahoj @slorber,

As for /sites path and my-toolset - I opted for making it a docs page because of the markdown support and built-in table of contents (could have swizzled it, but wanted to wait to post-alpha stage with swizzling). Same for pages like http://localhost:3000/sites/privacy or http://localhost:3000/sites/licence
Markdown Pages makes one of the reason no longer valid, so once table of co

[2020-08-31 22:09] fallion opened #3378 "Scripts cannot have data- attributes"
## 🐛 Bug Report

For use with Plausible analytics a script needs to be added to the website, however Plausible uses `data-` attributes. These do not pass the validation of the scripts section.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

(Write your steps here:)

1. Creat

[2020-08-31 23:09] bethesque commented on #3363
Thanks for the quick response and the PR @slorber 🙏

[2020-09-01 07:16] martavis opened #3379 "Swizzled SearchPage is not respected"
## 🐛 Bug Report

After swizzling Search component from `@docusaurus/theme-search-algolia`, the swizzled component is not rendered.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Install alpha 62
1. Create new project
1. Add Algolia settings
1. Swizzle `SeachPage` componen

[2020-09-01 10:29] marikaner commented on #2463
I encountered the same issue. Does anyone know a workaround for this?

[2020-09-01 12:22] maksnester opened #3380 "onBrokenLink ignores relative paths without file extension"
## 🐛 Bug Report

Let's say you have a file Overview.mdx and reference it from another document.

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Sure

## To Reproduce

1. Use base path in your docusaurus config
1. Create 2 files
1. Reference one file from another without file extension

##

[2020-09-01 14:31] #3362 closed

[2020-09-01 14:31] #3366 closed

[2020-09-01 14:35] sserrata opened #3383 "Core D2 dependency filename changes between builds breaks Netlify indexing"
## 🐛 Bug Report

Docs/files that are otherwise unchanged between builds are marked as changed when the `runtime~main.<hash>.js` filename changes. This occurs since all generated HTML files import `runtime~main.<hash>.js`. Since static site hosts like Netlify rely on file hashes for indexing this results in files incorrectly getting marked as changed between builds, which can greatly increase the o

[2020-09-01 14:37] slorber commented on #3364
@bravo-kernel closing for now as I think it's an error on your site.

If you think it's on Docusaurus side, please give me the code, the md doc path, the exact broken link error message, and a deploy preview

[2020-09-01 14:37] #3364 closed

[2020-09-01 14:40] slorber commented on #3360
Hey @SamChou19815

Here is an attempt to fix this issue: https://github.com/facebook/docusaurus/pull/3382

[2020-09-01 16:17] littlespex commented on #2394
@slorber I believe this issue happens on any link that does not contain a trailing backslash. We had to revert to docusaurus v1, so I no longer have a working example.

[2020-09-01 17:19] slorber commented on #3383
Thanks for reporting this.

Does this happen on Docusaurus 2 website too?

Does this happen if you change no md files at all?

Only one md file?

[2020-09-01 17:27] slorber commented on #3380
Hi,

Will check this later.

Can you tell me which link should I put in the docusaurus 2 site you mentioned?
Preferably, if you can open a PR where the deploy preview does show a broken link, yet it was not catched at build time, it's the perfect repro to fix the bug for me :)

[2020-09-01 17:33] slorber commented on #3378
Thanks, will be fixed in https://github.com/facebook/docusaurus/pull/3385

[2020-09-01 17:40] #3378 closed

[2020-09-01 17:49] slorber commented on #3379
Can confirm something weird is happening.
Unfortunately I have no idea why it does not work.

Probably related to webpack aliases ordering or something.

[2020-09-01 18:03] martavis commented on #3379
If that's correct, I want to reference #3211 to be thorough.

[2020-09-01 19:15] sserrata commented on #3383
I would imagine it does, as all D2 sites appear to generate these dependencies.

No, it only seems to happen after changing an md file, CSS or a custom page, i.e. `/src/pages`. Basically, whatever is necessary to regenerate `runtime~main.<hash>.js` and other dependencies.

Yes, the screenshot I referenced in this issue was produced after editing a single md file. As you can see, building after mod

[2020-09-02 09:22] slorber commented on #3371
Should be fixed by https://github.com/facebook/docusaurus/pull/3386

[2020-09-02 09:32] novoselovaleksandr opened #3389 "Error: Please set the GIT_USER environment variable!"
## 🐛 Bug Report

I can not deploy my docusaurus site. I try:
 cmd /C "set "GIT_USER=novoselovaleksandr" USE_SSH=true && yarn deploy"
and i get an error:
![image](https://user-images.githubusercontent.com/28715828/91964652-d9657080-ed28-11ea-82dd-82dcdc68cf06.png)
This is a part of my docusaurus.config.js
![image](https://user-images.githubusercontent.com/28715828/91964763-00bc3d80-ed29-11ea-8fa0-0

[2020-09-02 09:42] #3371 closed

[2020-09-02 09:46] slorber commented on #3389
Hi,

I don't know enough about windows nor have a windows computer to test this, but maybe you could try to use `echo % GIT_USER%` or something in the command to verify that the env variable is set correctly?

I guess the syntax may also depend on the Windows kind of shell you use.

You'd rather ask for help to the community on discord, I'm pretty sure you'll find someone that is able to deploy fr

[2020-09-02 09:53] slorber commented on #3379
Thanks for your analysis @martavis

I won't have time to work on this short term unfortunately, but if you or someone help find the cause that would be :)

[2020-09-02 10:10] slorber commented on #3383
I see, thanks.

Not sure to have time to check that problem currently but will keep it in mind.

Curious:
- what is the size of your site?
- how many docs (including versioned)?
- what's the build time without any change? (ie you press "redeploy" on netlify)
- what's the build time with a single doc change?

I find it surprising to see a difference of 15min between builds just for the Netlify proc

[2020-09-02 10:35] slorber opened #3391 "Algolia search broken after new release"
## 🐛 Bug Report

Everytime we publish a new Docusaurus release, the Algolia search fets broken for a while, until the new version is indexed.

@s-pace said:

[code]

@francoischalifour said a temporary solution would be to send an empty PR to https://github.com/algolia/docsearch-configs/blob/master/configs/docusaurus-2.json: as they merge it, it would trigger site reindexation

---

This problem i

[2020-09-02 10:40] s-pace commented on #3391
If you want to add several values for a specific meta tag, you will need to follow this template:

[code]

Please note the use of single quote and double quote. The value of the `content` attribute must be a valid JSON.

[2020-09-02 14:24] slorber commented on #3391
Thanks @s-pace , giving it a try here: https://github.com/facebook/docusaurus/pull/3393

Can we sync on Discord? Once I merge it, we should trigger docusaurus site reindexation otherwise site search would be broken.

Also not sure if this is what you want?

![image](https://user-images.githubusercontent.com/749374/91996033-d07c9b00-ed38-11ea-8c2c-ac953319c8b1.png)

[2020-09-02 15:25] s-pace commented on #3391
Followed up on Discord. We need simple quote here.

[2020-09-02 18:11] sserrata commented on #3383
Roughly 1500 docs and growing.

See above. We aren't currently using the versioning feature.

It varies, but it can still take as much as 26 minutes total to complete the Netlify build. When files changed, we can expect that time to increase +10-15 minutes or more.

+10-15 more minutes with a single file change, depending on which dependencies need to be regenerated, i.e. renamed.

We're working w

[2020-09-02 18:26] nabeelio commented on #3362
I get this error when trying to use `disableVersioning: true` to try to hide the label too:

I'm not sure that error makes sense - I _want_ to disable versioning when my site isn't versioned. Is this related? Didn't want to open something new if it is.

[2020-09-02 19:39] slorber commented on #3362
AFAIK apart swizzling there is no way to disable it in alpha 62, but will release alpha 63 soon.

The error means it's not possible to disable versioning if your site is not versioned. Versioning is indeed already disabled.

[2020-09-02 19:47] nabeelio commented on #3362
Yeah I'll wait for an update. And thanks for clarifying, makes sense, I guess I was confused by the version stuff showing up.

[2020-09-03 00:56] markerikson commented on #3024
Saw an example of this again this evening:

![image](https://user-images.githubusercontent.com/1128784/92059075-3fb8b600-ed5e-11ea-9dde-c1b68ab2efef.png)

I decided to compare the header tags for Redux, which is on DS v2.alpha-54, and React-Redux, which is still on DS v1:

| Tag               | Redux                                             | React-Redux

[2020-09-03 06:45] imskr commented on #3342
@slorber I have made a PR #3394

[2020-09-03 08:48] krillboi opened #3395 ""Cannot find module '@docusaurus/core/lib/webpack/plugins/LogPlugin'" when trying to add @docusaurus/plugin-pwa"
## 🐛 Bug Report

I am trying to use the PWA plugin after upgrading to alpha.62. But now when I try to run `docusaurus start` it fails with the message "Cannot find module '@docusaurus/core/lib/webpack/plugins/LogPlugin'".

I added the plugin by running `yarn add @docusaurus/plugin-pwa`.

Afterwards I created `static/manifest.json` with the following content:

[code]

Then I added the following to

[2020-09-03 09:18] krillboi commented on #3395
Nevermind, I'm an idiot and installed the plugin in the wrong directory.. carry on.

[2020-09-03 09:18] #3395 closed

[2020-09-03 09:28] slorber opened #3396 "Contextual doc version search (Algolia/DocSearch)"
## 🚀 Feature

A site can be versioned.  In such case it's likely we want to use an Algolia DocSearch facet filter so that we don't end up with duplicate results:

[code]

This works, but also has some drawbacks: if you are currently browsing v1, and last version is v2, when you search, you will find v2 results.

We should make this facetting behavior contextual/dynamic, instead of being hardcoded

[2020-09-03 09:45] slorber commented on #3024
Currently this can be changed by swizzling the @theme/Layout comp and changing the header value, but if someone wants to contribute a new theme setting to that we can override the existing value, I'd be fine with that

[2020-09-03 10:15] slorber commented on #3383
Thanks for the feedback, that's probably one of the largest Docusaurus site :)

Really hope we could improve these build times

v2.0 is still in alpha and we are focusing on the final release. Removing Webpack at this point in v2 would be an annoying breaking change for v2 early adopters and plugin authors so I don't see it happening. I'm working with Facebook for a few months on Docusaurus, can't

[2020-09-03 12:35] #3391 closed

[2020-09-03 12:58] maksnester commented on #3380
@slorber hi, sorry if it's not clear enough. The issue is about using relative link without the `.md` extension. It's actually mentioned [here](https://v2.docusaurus.io/docs/versioning/#linking-docs). But here is the [PR](https://github.com/facebook/docusaurus/pull/3398) anyway.

So if you open the Contribution page and click the "Getting started" link - it leads to 404. And it's not reported by b

[2020-09-03 13:07] #3337 closed

[2020-09-03 13:09] slorber commented on #3320
Also seen this on ReactNativeWindows site (Docusaurus v1): https://microsoft.github.io/react-native-windows/

[2020-09-03 13:10] #3360 closed

[2020-09-03 13:19] slorber commented on #3380
Hey.

The problem is due to the hosting environment that add a trailing / automatically.

Due to this training slash, the relative link resolution is different:
- https://deploy-preview-3398--docusaurus-2.netlify.app/classic/docs/contributing -> resolve to /docs/installatipn
- https://deploy-preview-3398--docusaurus-2.netlify.app/classic/docs/contributing/ -> resolve to /docs/contributing/installa

[2020-09-03 13:48] jeremyhager commented on #3389
I've had a similar issue before where I needed to change the quotes - so for your example you may need to do the following:

`cmd /C "set 'GIT_USER=novoselovaleksandr' USE_SSH=true && yarn deploy"`
Notice the single quotes vs. double.

I will say I just ran `cmd /C "set "GIT_USER=jeremyhager" && yarn deploy"` within command prompt and it seemed to work just fine. However PowerShell will treat quot

[2020-09-03 14:02] slorber commented on #2152
Hey, late to the party but we have provided a way to easily add components to the react-live scope:

https://v2.docusaurus.io/docs/markdown-features/#interactive-code-editor
yarn run swizzle @docusaurus/theme-live-codeblock ReactLiveScope

I've tried to support adding automatically imports of MDX into the react-live scope, so that it can be done "automagically", like Gatsby does, but it's kinda mo

[2020-09-03 14:06] slorber opened #3399 "Document client lifecycle events"
## 📚 Documentation

We have client lifecycle events that allow to hook into the navigation, but it's not documented.

https://github.com/facebook/docusaurus/pull/1591

Example usage in the google analytics plugin:

![image](https://user-images.githubusercontent.com/749374/92125468-5ebb5480-edff-11ea-980a-932b111f1b51.png)

[2020-09-03 14:16] markerikson commented on #3024
Since I've never tried doing the "swizzling" thing before, any pointers on how to do so?

[2020-09-03 17:01] slorber commented on #3391
So, it seems it worked, search is not broken just after the alpha 63 release :)

Next will be contextual search: https://github.com/facebook/docusaurus/issues/3396

[2020-09-03 17:25] slorber commented on #3366
Released alpha 63 🎊  please spread the word 🙏
https://twitter.com/docusaurus/status/1301562737693138944
https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.63

[2020-09-03 17:26] slorber commented on #3362
Released in alpha 63 🎊  please spread the word 🙏 and tell me if this works fine for you
https://twitter.com/docusaurus/status/1301562737693138944
https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.63

[2020-09-03 17:27] nabeelio commented on #3362
Awesome! I will try it out later tonight and let you know if there are issues!

[2020-09-03 18:50] nabeelio commented on #3362
Ok, looks like it's gone now. Had to remove my `node_modules` directory first and rerun it and seems like the label is gone. Thanks!

[2020-09-03 20:26] MateuszDabrowski commented on #3366
Confirmed! The label also disappeared from the pages :)

[2020-09-03 20:31] sserrata commented on #3383
Thanks for the tips. I believe the following module is where the dependency file names are generated (at least where the hash portion gets added):

https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/src/webpack/base.ts#L65

I might be misunderstanding but I thought immutable hashing wasn't reliant on filename, but on including a cryptographic hash in the script/link tag. If `ba

[2020-09-04 04:29] kyle-wilson opened #3402 "[v2.0.0-alpha.63] Inline <code> element background-color incorrect in light mode"
## 🐛 Bug Report

Hi, v2.0.0-alpha.63 has introduced a bug with inline code elements (produced by single backticks in markdown) such that it always uses the dark mode color scheme, even in light mode. For reference, I believe the standard light mode code element background-color is supposed to be `#ebedf0`.

For example, see [the current docusaurus v2 site](https://v2.docusaurus.io/docs/docusaurus.

[2020-09-04 08:31] TomBrien opened #3403 "Inline HTML break markdown formatting"
## 🐛 Bug Report

Using inline HTML (i.e. `<img ... />`) causes further markdown formatted script to fail. Possibly related to #3402

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a simple page containing, for example:
[code]
2. Build site

## Expected behavior

Exp

[2020-09-04 09:00] harishbala1o opened #3404 "Whole source color is picked up and transmitted while copy pasting"
I'm using the same code as mentioned in **code-blocks-buttons.js** for copy button function for a code block but source colour is picked up and transmitted while copy-pasting. A screenshot  is shared below for reference when a code is copied and pasted

![codeblock](https://user-images.githubusercontent.com/36741511/92221417-119cb880-eebb-11ea-8f07-805b8ab269a8.png)

[2020-09-04 10:37] slorber commented on #3403
Hi,

This is the behavior of the MDX parser that we use.

You can test it here: https://mdxjs.com/playground

![image](https://user-images.githubusercontent.com/749374/92230354-44d74b80-eeab-11ea-88d7-566d5c6fa073.png)

You should report such issues to MDX directly

Note: MDX 2 could solve it already?

[2020-09-04 10:37] #3403 closed

[2020-09-04 10:41] slorber commented on #3402
Thanks, you are right there's something wrong here.

Older PRs (like https://deploy-preview-3207--docusaurus-2.netlify.app/build/docs/next/docusaurus.config.js) do not have this problem, and indeed the debug plugin `code {}` css should rather be scoped

[2020-09-04 10:49] slorber commented on #3383
I'm not sure what you mean, but if the content of the file changes, we indeed want the filename to change. Changing the filename is a common practice to automatically invalidate http cache, used by a lot of people (including Gatsby etc). We really want to keep this because it has clear benefits.

The issue is that if one doc changes, only a fewoutput filenames should be modified, not many/most/all

[2020-09-04 12:28] slorber commented on #3402
We'll get this fixed for the next release, in the meantime you can just turn the debug plugin off by using {debug: false} in the classic theme (it enables it in dev by default). Does this workaround work for you?

[2020-09-04 12:45] #3402 closed

[2020-09-04 12:54] slorber commented on #3024
`yarn docusaurus swizzle @docusaurus/theme-classic Layout --danger`

This gives you the ability to "override" any theme component (like gatsby shadowing)

We add "--danger" because we can't guarantee the classic theme code will not be upgraded (or API surface updated), and you won't benefit from such upgrades, so if you can avoid swizzle it's better.

The theme whitelist a list of components that

[2020-09-04 14:08] slorber commented on #3024
Next release will allow to override any meta header:

https://github.com/facebook/docusaurus/pull/3406

[code]

[2020-09-04 14:28] slorber commented on #3389
Thanks, can you try again with simple quotes @novoselovaleksandr ?

Also, any help to improve windows doc is welcome ;)

[2020-09-04 14:34] slorber opened #3407 "/docs/ should redirect to /docs/myFirstDoc ?"
## 🚀 Feature

Supposing we use docs without any "home doc" (ie there is no doc at path `/docs/`).

I think it make sense to redirect `/docs/` to `/docs/myFirstDoc`, using a client side redirect.

By "first doc", the existing heuristic is "first doc found in the first sidebar"

I guess it could also make sense to redirect `/docs/unknownDoc` to `/docs/myFirstDoc` instead of showing the 404 page? Not

[2020-09-04 14:35] slorber commented on #3365
Closing, see also this proposal feature: https://github.com/facebook/docusaurus/issues/3407

[2020-09-04 14:35] #3365 closed

[2020-09-04 14:36] #3024 closed

[2020-09-04 14:43] slorber opened #3408 "Bad error when trying to swizzle a theme component"
## 🐛 Bug Report

Run `yarn workspace docusaurus-2-website swizzle @docusaurus/theme-classic Layout` on this repo

![image](https://user-images.githubusercontent.com/749374/92251752-97296400-eecd-11ea-80ed-9c2a2c8418cb.png)

The error is expected as it's an internal theme component, not necessarily recommended for swizzling (at your own risks).

But this message seems unexpected to me.

[2020-09-04 14:46] bravo-kernel commented on #3365
Thank you, that proposal is awesome.

[2020-09-04 15:09] imabp commented on #3399
I would like to work on this issue. Can you guide me @slorber about this.

[2020-09-04 18:14] abadon7 commented on #3370
Hi @slorber, I would like to work on this. I suppose the idea is to have a "yarn clear", am I right?

[2020-09-04 18:38] krakowski opened #3409 "External component is not rendered within document"
## 🐛 Bug Report

Placing `@material-ui/core`'s `Button` component inside a document results in the component not being rendered.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Create a new project and add `@material-ui/core` dependency

[code]

2. Place the following snip

[2020-09-04 19:25] kyle-wilson commented on #3402
Yes, that workaround works. Thanks!

[2020-09-04 19:40] abadon7 commented on #3370
@slorber, I already see in package.json a "clear" command: `"clear": "yarn rimraf website/.docusaurus && rimraf -rf website/node_modules/.cache && yarn lerna exec 'yarn rimraf lib' --ignore docusaurus"`
The only thing that I see missing is the `rm -rf build`. Please guide me and let me know what you have in mind. Thanks.

[2020-09-04 19:50] slorber commented on #3409
Hi, you mean inside the MDX document?

Can you display what is the html output produced in the dom tree?

Can you produce a repro?

[2020-09-05 08:08] krakowski commented on #3409
Hi @slorber,

there is no sign of the component within the DOM. By "repro" you mean steps to reproduce this issue? I included them under `To Reproduce`. Additionally, I created a repository where the mentioned steps were applied.

https://github.com/krakowski/docusaurus-3409 (https://github.com/krakowski/docusaurus-3409/commit/e1cc088c8ff1973d86f9ac2883ff589b7d02b152)

[2020-09-05 19:44] slorber commented on #3370
Hi

This clear command is for our own repo. What we must provide is a cli for all repos, should be added to packages/docusaurus using commander

[2020-09-05 19:47] slorber commented on #3399
Hi

Unfortunately I don't have more Infos. This requires reading the source code, understanding what it does exactly, and documenting the exposed api

[2020-09-06 01:51] CyborgMaster commented on #3272
I'm running into the same issue, when trying to use files that a symlink in from another directory.  Are you aware of any issues with symlinks?

[2020-09-06 02:02] CyborgMaster commented on #3272
It almost seems that docusaurus isn't finding the files and compiling them from markdown into js files?  Or maybe webpack can't handle symlinks?  I don't have enough background to really say.

[2020-09-06 02:10] CyborgMaster commented on #3272
It may have something to do with this https://github.com/webpack/webpack/issues/1643

[2020-09-06 03:04] kewp commented on #3272
Yes! @CyborgMaster this is what fixed it for me.

For me, my user folder `c:\users\karl` is actually a symlink to `c:\users\karlp`. If I try run `npm run start` from the symlink folder it fails but it works from the actually one!

I assume what you're thinking is correct - that webpack doesn't understand symbolic links. Somehow some of the files are not being found.

[2020-09-06 07:02] jaguarondi opened #3410 "Typo in markdownPageExample.md"
## 📚 Documentation

Markdown import example in `website/src/pages/examples/markdownPageExample.md` imports the wrong chapter, see this comment:
https://github.com/facebook/docusaurus/commit/f234c407f1f279a76ab388df2bab4f33e8eadf85#r42067403

[2020-09-06 14:38] EloFran opened #3411 "swizzle no working"
## 📚 Documentation
**the function does not work:**
from: [https://v2.docusaurus.io/docs/using-themes](https://v2.docusaurus.io/docs/using-themes)
yarn run swizzle @docusaurus/theme-classic Footer

**Error:**
[code]

[2020-09-06 15:27] joshribakoff opened #3412 "Show stack traces"
## 💥 Proposal

Show stack traces on any error

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

Example:

I'm developing a plugin, when I try to run the CLI I just get this, which doesn't tell me where the error is, I now have to basically add `console.log` everywhere to try to bisect the prob

[2020-09-06 16:30] joshribakoff opened #3413 "auto generated API docs for Typescript users with Typedoc"
## 💥 Proposal

I've created a basic [typedoc](https://typedoc.org/) plugin, it simply loads the HTML created by the "minimal" HTML template, grabs the various "sections" and passes them to a component the end user can override and "dangerously renders the HTML" inside the docusaurus header & footer. It also supports mono-repos with multiple packages that need to create typedocs for each package. I

[2020-09-06 17:09] joshribakoff commented on #3413
Link to my custom plugin (I can convert to TS & cleanup if the proposal is accepted): https://github.com/rx-store/rx-store/pull/81

[2020-09-07 00:13] joshribakoff opened #3414 "Duplicate menu items don't get unmounted, corrupted sidebar"
## 🐛 Bug Report

Duplicate menu items don't get unmounted

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

Put two items with the same name in a sidebar
![Screen Shot 2020-09-06 at 5 10 35 PM](https://user-images.githubusercontent.com/4021306/92338247-fde08600-f063-11ea-89e1-0

[2020-09-07 07:32] yceballost opened #3415 "Deploy w/ Github Action path error"
Hi guys,

Im trying to use deployment workflow in my repo but the action throw some errors

My site is under a second level `repoRoot/mySite`

I think the problem is that I have to change some path in the workflow, but.. I don't know where 😅

Error =>
[code]

my config file (the same as documentation page)
[code]

any ideas? I am quite new with actions :)

Thanks!

[2020-09-07 07:50] Kurtmcmurt opened #3416 "CSS support - being able to call an array of CSS files in the config"
## 🐛 Bug Report

When trying to pass an array of CSS files to the config
[code]
I initially started the project including 4 different CSS files in an array like this:
[code]
This was working for some time and then all of a sudden stopped. I performed some local sanity techniques like clearing the cache, deleting the build folder and the .docusuaurus dir to no avail.

**This works in test. It only

[2020-09-07 09:07] TomBrien commented on #3403
Just to update, `MDX@2` apparently fixes this. Is there a plan to update Docusaurus 2.0 to use MDX 2?

[2020-09-07 11:02] MateuszDabrowski opened #3417 "Draft feature for Doc Pages Frontmatter"
## 🚀 Feature

The blog post has a feature of `draft` tag in frontmatter.
It would be great to have the same option for Doc pages that are under construction - to be able to work on them locally, but not publish via deployment (even unlinked, they are visible in the Algolia search for example).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/ma

[2020-09-07 12:38] slorber commented on #3417
Yes, makes sense, and can also be added to markdown pages as well.

Btw they should also be filtered by the sitemaps plugin so that SEO don't index them. Or maybe the pages can still be there but we should just add a noindex nofollow in metas, is that enough?

If someone wants to work on this, that's cool, otherwise I'll do it

[2020-09-07 12:41] slorber commented on #3403
I guess we want to keep up to date with mdx but not sure we want to be early adopters at this point, so maybe worth waiting a bit for the 2.0 release, initial fixes, and proper migration documentation.

[2020-09-07 12:44] slorber commented on #3416
Agree we should support an array, someone wants to contribute that? Should be pretty easy.

@Kurtmcmurt it would surprise me if this works in test (test or dev???), and not in prod through, as the code is currently:

![image](https://user-images.githubusercontent.com/749374/92389073-a4865e80-f118-11ea-8437-8ad2367426f0.png)

[2020-09-07 12:44] MateuszDabrowski commented on #3417
Filtering them fully from production would be a better way from my perspective, as we just don't want users to get there (either via google or algolia or else). Great point with pages!

[2020-09-07 13:09] slorber commented on #3414
Oh, this is weird 🤪

It happens only in prod or also in dev too?

I've made a PR here that should fix it for alpha 62. Please report me if alpha 64 does not fix this problem.
https://github.com/facebook/docusaurus/pull/3418

[2020-09-07 13:16] slorber commented on #3412
Are you on latest docusaurus version alpha 63?

Also can you tell me how to produce this error, if you where able to find out?

[2020-09-07 13:19] #3414 closed

[2020-09-07 13:28] slorber commented on #3413
Hi,

That looks interesting.

As I'm working on i18n support I don't have much time to review this currently.

But I've seen @phryneas doing some interesting things on improving TS documentation for Redux in Docusaurus. https://twitter.com/phry/status/1302662810707660801

That would be nice to have a more general discussion on how we could provide good TS support on Docusaurus as TS is clearly bec

[2020-09-07 13:31] slorber commented on #3411
Hi, can you give more context about your env please?

Do you have a published opensource site to give us?

In which folder are you? OS? Does the folder contain spaces or special chars or whatever?

Every detail is important to help solve this bug, as running this same command on Docusaurus 2 site itself does work.

[2020-09-07 13:36] slorber commented on #3410
thanks @jaguarondi . Why not submitting a PR directly? you can just press the "edit" button on the source file :)

[2020-09-07 13:41] slorber commented on #3272
Thanks for reporting this.

Do you think we can do anything about it?

Note we have this `resolve.symlinks: true` in config (https://webpack.js.org/configuration/resolve/#resolvesymlinks).

By using a local site plugin + configureWebpack you should be able to override any default setting we set, so maybe it's worth checking if you find a final config that works for your usecase?

[2020-09-07 13:44] plusmultiply0 opened #3419 "Deploy on render failed with command not found"
I follow the guide on document to deploy my site on Render but it failed with<code>docusaurus-build: not found</code>.
I don't know why I got this. Please help me! Thanks!

here is the **log** from Render

Sep 7 09:15:41 PM  ==> It looks like we don't have access to your repo, but we'll try to clone it anyway.
Sep 7 09:15:41 PM  ==> Cloning from https://github.com/plusmultiply0/docSite...
Sep 7 09

[2020-09-07 13:50] kewp commented on #3272
Not sure how to fix this. I've tried creating a `webpack.config.js` locally and setting the config you mention, @slorber , but it has no effect. Not sure how to create a local site plugin as you suggest either.

[2020-09-07 14:00] #3415 closed

[2020-09-07 14:52] slorber commented on #3419
Hi

I don't know specifically Render, but you can't run `docusaurus-build` command directly. It's either `yarn build` or `npm run build`

[2020-09-07 14:52] #3419 closed

[2020-09-07 15:59] slorber commented on #3272
@kewp we don't read any webpack.config.js file.

The doc to create a local plugin is very simple:
https://v2.docusaurus.io/docs/using-plugins#creating-plugins
https://v2.docusaurus.io/docs/lifecycle-apis#configurewebpackconfig-isserver-utils

I think something like that:

[code]

[2020-09-07 16:03] kewp commented on #3272
Hi @slorber . Yup that worked too :)

[2020-09-07 16:24] CyborgMaster commented on #3272
@slorber, that worked for me too.  I added the plugin you provided in your comment and now the symlinked files work.

I'm obviously not understanding something here, but it feels completely backwards to me that in order to get docs that are symlinked in to work we have to set `resolve symlinks: false` in the webpack config.  But hey, it works.

Thanks for you help!  This may be super specific to o

[2020-09-07 16:26] ashscodes opened #3420 "Service Worker Path Is Incorrect After Yarn Build On Windows Server"
## 🐛 Bug Report

We are running 2.0.0-alpha.63 and have just added your PWA plugin.

We serve a production build of Docusaurus via IIS. Our docusaurus build is pulled from our GitLab server to a build directory on the Windows server where we run the relevant yarn commands (install > build). The contents of the build directory that is output by yarn build is copied to the folder where the IIS site

[2020-09-07 16:28] slorber commented on #3272
Also saw this webpack setting and found it confusing, but as far as I understand it, true means webpack will try to "replace" the symlink by its real location, not that it will enable some kind of mode that works with symlinks.

I don't know either why in Docusaurus we have symlinks: true exactly, not sure we'll be able to know now

[2020-09-07 18:15] joshribakoff commented on #3413
Yep, I followed @phryneas on Twitter after they posted that. I also plan to utilize that in my docs, as converting code samples & manually checking them is error prone.

Auto generated API docs, and tested & type checked code samples in docs are both affordances I got used to in other language(s) & framework(s) other than JS / React, its nice to see the tooling catching up :)

Even if a user is no

[2020-09-07 19:12] phryneas commented on #3413
Heyo :)

I'm pretty sure these two things won't get in each other's way - I wrote the stuff I wrote because the `@reduxjs/toolkit` docs are *very* hand-written and I wanted to have some deduplication between docs & code comments without sacrificing that style. Our types are so complex that no generated API doc would ever make sense for them - believe me, I've tried.
So: pretty different use case.

[2020-09-07 20:06] joshribakoff commented on #3413
Sounds good I’ll ping you. I actually have flip flopped on whether api docs should be generated or hand written

For example, in RX Store I have a store() function which creates the store, and returns a <Manager /> component. The generated api docs did not pickup the manager component, it only initially picked up the store() closure that wraps it. I initially presumed our types would be too comple

[2020-09-07 22:34] phryneas commented on #3413
Yeah, the thing is that we actually went the other way of "code for tooling": The types allow for an amazing IDE/IntelliJ experience.
But to do that, there's stuff like workarounds for slightly different behaviour of different TypeScript versions etc. in there. Types to code ratio should be around 3:1 and almost all of those types are generic and conditional. No use in showing that to any user :D

[2020-09-08 03:14] abadon7 commented on #3370
Hi.

:sweat_smile: Thanks. Now I get it. I haven't worked with commander yet, but I think I can do it with some of help.

[2020-09-08 13:17] marikaner opened #3421 "Redirects to static content don't redirect"
## 🐛 Bug Report

In our docs, we have API docs listed by version. I wanted to add a link that always points to the latest version of the API docs, aka: `api/latest/` should redirect to `api/1.28.1/` e. g.
The url is correctly replaced, but the redirect does not happen and I am left with a "Page not found" error. The status code is 200, while I would expect a 301. When reloading the page I am actua

[2020-09-08 14:25] jonnyasmar opened #3422 "Site becomes stale (nav stops working) after idle for extended period of time"
## 🐛 Bug Report

After leaving a page idle for some extended period of time, navigation seems to stop working. Clicking any SPA link on the page triggers the loading bar which progresses indefinitely and never loads the page. A refresh resolves the issue immediately.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#report

[2020-09-08 17:22] slorber commented on #3419
If you don't succeed running these commands with npm/yarn, you can also see if you have a file here: `website/node_modules/.bin/docusaurus-build`.

If that's the case you should be able to run it directly: `./website/node_modules/.bin/docusaurus-build`

[2020-09-08 17:34] slorber commented on #3422
Hi,

Do you have an opensource site with link to source code and live version?

Idle for a while, how long was it last time it happened?

What is your production host?
Has the site been redeployed in the meantime?

I suspect this may be related to rebuilds during Idle time, and according to deployment setup, older files required to navigate may not be available anymore. If this happens again, plea

[2020-09-08 17:37] jonnyasmar commented on #3422
This is a lot of excellent stuff to go on @slorber , thanks!

I don't have anything open source that I can share right now, but I will consider all of this feedback and see if I can't create a repro deployment or at least provide more info, here. Thanks!

[2020-09-08 17:49] #3410 closed

[2020-09-08 21:12] MateuszDabrowski commented on #3417
Optional feature: links pointing to resource in draft mode could show "Work in progress" page instead of 404.

[2020-09-08 21:30] GMarkfjard commented on #3417
@slorber  As a part of my masters studies I'm tasked with contributing to some open-source projects. This issue seems to be a great start and I would love to be assigned to this issue!

As a contribution to the discussion I do agree that a human readable message is to prefer over a 404!

[2020-09-09 04:22] plusmultiply0 commented on #3419
@slorber
Thanks. But, I have upgraded my site to v2.0 and it succeeds deploying on Render.

[2020-09-09 06:41] tiagob opened #3424 "[v2] Usage with TypeScript"
## 🐛 Bug Report

Regression of https://github.com/facebook/docusaurus/issues/2675

## To Reproduce

[code]

Follow steps https://v2.docusaurus.io/docs/typescript-support#setup.

Rename `src/pages/index.js` to `src/pages/index.tsx`.

VSCode displays the following errors:

- Cannot find module '@docusaurus/Link' or its corresponding type declarations.
- Cannot find module '@docusaurus/useDocusaurusC

[2020-09-09 08:40] slorber commented on #3424
Hey,

We are still figuring out how to provide the best TypeScript experience in Docusaurus, by trying to use it first on Docusaurus 2 site itself.

@SamChou19815 has done some initial work, and you could probably get started by using a `src/types.d.ts` file containing:

[code]

We don't have much TS code in our website yet, but hopefully we'll migrate over time and be able to recommend a good TS

[2020-09-09 08:42] ayshiff commented on #3374
@slorber Can I grab this one ? 👍

[2020-09-09 08:42] slorber commented on #3419
good choice, great to know :)

[2020-09-09 08:42] KarlisKarlstrom commented on #3416
Hey @slorber,

I'm a final year student of a masters program called IT and Management. As part of my studies, I'm encouraged to contribute to an open source project. A friend mentioned docusaurus and I really like the project.

It seems like this issue might be a good place to start to learn about the project and I would be super excited to be assigned to it and try and contribute!

[2020-09-09 08:58] riccardozambito commented on #3285
Sorry but I don't understand some aspects of the new feature. if I may ask:
1) Have iI to create my versions in order to have "versioned_docs" folder?
2) What will be the structure of folders related to the example of the documentation?

Thanks!

[2020-09-09 12:52] slorber commented on #3416
Thanks @KarlisKarlstrom, welcome on board!

You can submit a PR, this contribution should be quite easy to get started

Useful tips:
- Add support for array of strings
- We still need to support a single string for retrocompatibility
- Need to handle the themeConfig Joi validation (unit tests on that part are welcome)
- Dogfooding: I suggest we use the array version on Docusaurus website itself by

[2020-09-09 12:53] slorber commented on #3374
yes @ayshiff thanks ;)

[2020-09-09 13:18] slorber commented on #3417
@GMarkfjard yes please submit a PR 👍

I do agree that it can be convenient and quite simple to filter these draft pages in production, so that the pages only exist in dev.

However, I do think that it should be possible to have draft pages exist in production, yet being filtered on the homepage.

I do use this workflow on my own blog to get early reader reviews (by sending a real production link)

[2020-09-09 13:31] slorber commented on #3421
Hi

What you are looking for is the "version alias" feature, that I plan to implement as part of this RFC, probably in October: https://github.com/facebook/docusaurus/issues/3285

We also have a redirect plugin BTW, maybe it will work better for your use case, as it will be able to redirect URLs like `/docs/latest/myDoc` too, not just `/docs/latest/`
https://v2.docusaurus.io/docs/using-plugins/#do

[2020-09-09 13:36] slorber commented on #3421
Ohhh but wait, this page is not managed at all by docusaurus right?

https://sap.github.io/cloud-sdk/api/1.28.1/

Docusaurus/React won't even be able to render such an external page, that's why it shows Docusaurus 404

You can't Redirect to external pages with the Redirect component, this is for redirecting client-side with SPA-like navigation (based on `history.push("")`).  If you want to redirec

[2020-09-09 14:04] slorber commented on #3285
@riccardozambito your questions do not seem to be related to new features planned in this RFC, so it may be preferable to open a separate issue (or ask for help on Discord), as this issue focus on the **new** versioning capabilities, not docs versioning in general. Discussions on this issue are related to people already having a versioned site, and having pain points that they would like to be sol

[2020-09-09 14:21] colriot commented on #3309
@slorber I've tried to update current version to `alpha.63`, and now I'm getting "Error: Markdown link url is mandatory." error. So, before website would compile, but some links won't work. Now it's not even passing through compilation.
[code]

I saw the code around it: https://github.com/facebook/docusaurus/commit/c7fc781ce09c7899527685cad82cd925e7e7f7af#diff-58bf8f2cad3b8c1c7da9cd722792b33fR122-

[2020-09-09 19:46] mohamedsgap commented on #3329
hey @slorber, Can I take this one ?

[2020-09-09 20:56] tiagob commented on #3424
I like how CRA works. Including a TypeScript template in the `init` would be awesome.

[2020-09-10 02:59] tiagob commented on #3424
Adding the `src/types.d.ts` didn't work.

The @docusaurus/module-type-aliases is [outdated on npm](https://www.npmjs.com/package/@docusaurus/module-type-aliases) (2.0.0-alpha.51). It doesn't declare those modules.

https://github.com/facebook/docusaurus/blob/v2.0.0-alpha.51/packages/docusaurus-module-type-aliases/src/index.d.ts

It has since been updated but not published to npm. Can someone publi

[2020-09-10 06:30] tiagob commented on #3424
I see, if you install it at the correct version it works. `yarn add -D @docusaurus/module-type-aliases@v2.0.0-alpha.63`

[2020-09-10 07:21] saadpasta commented on #3399
@slorber I like to take this up.

[2020-09-10 07:31] imabp commented on #3399
@slorber can you help me with the file locations where to start
I am ready to read the source code and contribute.

[2020-09-10 07:33] saadpasta commented on #3399
@imabp Here you go, good luck ✌
https://github.com/facebook/docusaurus/blob/1f00d15c7439fdbfb37d57f0cafdaedb2b34ef41/packages/docusaurus-plugin-google-analytics/src/analytics.js

[2020-09-10 07:37] saadpasta commented on #3399
onRouteChange is a navigation hook that would help you do run something when a route change.
For E.g If you want to show a pic of a cat on every route change then you would use this hook.
Make sure you navigate this in [Navigation ](https://docusaurus.io/docs/en/navigation) Guide

[2020-09-10 08:19] marikaner commented on #3421
Hey @slorber,

thank you for your response. I tried various combinations of the urls - with slashes, without and also linking to the index.html directly. I think you are right, this is not managed by docusaurus, because we had a similar issue before, when we tried linking to the api docs from a different page. This resulted in a broken link error, which we were only able to solve by using the abso

[2020-09-10 13:18] imabp commented on #3399
🥺 Thankyou @saadpasta for giving me the chance to contribute.😊
 😅 As it will be my **first contribution** **in Docusaurus.** (if merged)

Yes I noted it. I will get back here itself, if I need any help .
Thank you once again 🤗

[2020-09-10 14:07] slorber commented on #3421
Hey @marikaner, I understand that it might be useful that Docusaurus is aware of this `/docs/latest` route, otherwise it will be reported as a broken link if you try to link to it, right?

I was able to do something like this, but it's a bit hacky:

[code]

The problem is that you first have to navigate to an empty doc page before being redirected so the user feedback feels a bit weird.

---

But

[2020-09-10 14:16] slorber commented on #3399
@saadpasta thanks for helping @imabp :)

You can look for "onRouteUpdate" in the project's source code to find the relevant entry points to document :)

However this is a v2 feature, so this must be documented in the v2 website ;) (not in the v1 navigation guide)

[2020-09-10 14:23] slorber commented on #3329
Yes thanks, I can't dedicate any time to the bootstrap template currently, so any help to improve it would be welcome. I guess we are open to any kind of contribution as long as it becomes better ;)

[2020-09-10 14:52] #1805 closed

[2020-09-10 14:54] slorber commented on #3420
Thanks for reporting the issue.
Unfortunately I don't have any windows machine to be able to reproduce this easily, so any help would be appreciated

[2020-09-10 15:11] slorber commented on #3409
@krakowski not 100% sure but I think you should add an empty like between the import and the comp usage.

I'm asking for source code and a live site version because it saves me time, and enable to debug this remotely without having to fork, clone, yarn install, run everytime, so if you can provide a live site on Netlify or something that's appreciated.

[2020-09-10 15:16] slorber commented on #3409
Pretty sure this is due to a missing line break, as I can reproduce an error on the MDX compiler.

You can try MDX syntax at https://mdxjs.com/playground

Unfortunately can't change anything about that. We'll likely update to MDX 2.0 when it's ready and maybe it fixes this issue, but don't know.

You should normally have an error with such code, as I can reproduce on our own website in dev mode by

[2020-09-10 15:16] #3409 closed

[2020-09-10 15:22] marikaner commented on #3421
Hey @slorber,

I was able to use the workaround for links unknown to docusaurus, when linking directly. In the second step I tried to follow your suggestion and redirect using the redirect plugin (server redirects are unrealistic right now).
Unfortunately I am unable to make it work with paths that are unknown to docusaurus:

[code]

This is my configuration:
[code]

I cannot use the pathname work

[2020-09-10 15:35] colriot commented on #3309
@slorber thanks! No, I don't think it makes sense, but thank you for the workaround.

* To the context of errors: is it possible to add more info about it? Like, a line in Markdown where this error happened. Or, filled in the `title` of the link. I.e. `Error: Markdown link url is mandatory. filePath=docs/recycler-collection-component.md, title=LinearLayoutManager`
as I guess that field supposed to

[2020-09-10 15:57] ashscodes commented on #3420
Thanks for the response. I appreciate it has an additional requirement in reproducing the issue. Do you know which part of the build process created that function at least? I can't go on record as saying I will find a fix, but I can take a look at where the function is created to see if there is anything I can see and try a few things in our environment.

[2020-09-10 19:09] atomicpages opened #3430 "@hapi/joi is deprecated"
## 🐛 Bug Report

This isn't exactly a bug, but `joi` is moving out of the `@hapi` org. Probably a good idea of docusaurus v2 moves to the current version, too.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes. I'd like to contribute this fix 😄

## To Reproduce

No repro steps. This is purely fo

[2020-09-10 19:31] fasolens commented on #3309
I have tried to use the pathname:// with version alpha.63 but it not recognise it. Should I add something to use the hatch?
Can it be used in sidebar with link category item?

[2020-09-10 19:40] ashscodes commented on #3420
I think I found the issue, @slorber, after looking at the source for [docusaurus-plugin-pwa](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-pwa/src/index.js). It's using `path.resolve` which adds the drive letter on Windows, so it will never be the relative path on the built site. [Node.js Path docs](https://nodejs.org/api/path.html#path_path)

Suggest changing [this

[2020-09-10 22:05] ashscodes commented on #3420
Thought I would try and submit this. #3431

[2020-09-11 03:44] isaac-philip opened #3434 "[v2] tags to doc same as tags to blog"
# 🚀 Feature

Request for copying feature of `/tags` from `/blog/tags` towards `/doc/tags`

-----------

Basically require a way to categorize the docs in groups and refer them in sidebar and also on the uri path of `/doc/tags` similar as how we have for `/blog/tags`

--------

thanks to @slorber for guidance to create this request

[2020-09-11 10:54] slorber commented on #3309
@colriot I've fixed the error message and added the line number here:

https://github.com/facebook/docusaurus/pull/3435

![image](https://user-images.githubusercontent.com/749374/92915367-c93a4900-f42c-11ea-98f8-f528e62d8a69.png)

@colriot I don't understand what you mean, what does not make sense exactly? because we seem to agree that this error message needed to be fixed no?

The Sass issue is r

[2020-09-11 10:55] KingGanZeng commented on #2863
@yangshun I have the same problem. But how can i add webpack loaders in docusaurus.config.js?

[2020-09-11 11:01] yangshun commented on #2863
@KingGanZeng https://v2.docusaurus.io/docs/lifecycle-apis/#configurewebpackconfig-isserver-utils

[2020-09-11 11:02] slorber commented on #3309
@fasolens I just tested on Docusaurus 2 site and it works for me. The best way to help me help you is to show me actual code (preferable a git branch that I can run) where I see what you are trying to do, and what are your exact expectations.

[2020-09-11 11:17] KingGanZeng commented on #2863
@yangshun Thanks. I got this. But for beginner, I think you should add [creating-plugins](https://v2.docusaurus.io/docs/using-plugins#creating-plugins) before coding `configurewebpackconfig`. Otherwise, we may not know where to import and use this configuration.

[2020-09-11 11:41] jknoxville commented on #3285
We do this in facebook to differentiate internal builds of websites from public ones, based on env variables e.g. [here](https://github.com/facebook/flipper/blob/master/website/sidebars.js#L97) and [here](https://github.com/facebookresearch/hydra/blob/master/website/sidebars.js#L138-L143).

At the moment this works fine for unversioned docs, but not for versioned ones due to the frozen `.json` fil

[2020-09-11 13:00] anshulrgoyal commented on #3413
Typedoc have a plugin for docusaurus v2. It can outputs markdown and sidebar.json

[2020-09-11 13:07] slorber commented on #3413
Oh that's cool. I'm leaving for holidays tomorrow so I don't have time to follow this issue but hope you'll find your way to have good TS support on your sites in the meantime!

https://github.com/tgreyuk/typedoc-plugin-markdown/tree/master/packages/docusaurus-plugin-typedoc

Maybe @tgreyuk will be interested to discuss this topic as well? :)

[2020-09-11 13:08] anshulrgoyal commented on #3413
I am converting a typedoc website to docusaurus.

[2020-09-11 13:11] slorber commented on #3285
@jknoxville thanks for letting me know. The tradeoff is that if we copy the sidebars.js file directly, it is likely that relative paths used for imports will break. Should we create a json file, and let you change it back to a js file if needed? Or should we write a js file and maybe this would break imports?

I guess we could rewrite relative imports and process a bit the AST, but this is signifi

[2020-09-11 13:14] lunelson opened #3437 "v2: allow overriding default remark plugins in `content-docs`"
## 🚀 Feature

I would like to override the default remark plugins in the [`content-docs`](https://v2.docusaurus.io/docs/using-plugins/#docusaurusplugin-content-docs) plugin: for example, to have control over the markup generated by `remark-admonitions`. Perhaps we could have an option to turn the default ones on/off?

Or alternatively: the `content-blog` plugin allows the options `beforeDefaultRem

[2020-09-11 13:16] ark120202 commented on #3413
@phryneas have you seen [twoslash](https://www.npmjs.com/package/@typescript/twoslash) by @orta, which is used on the new TypeScript website? It looks quite similar to the type-checking part of your remark plugin

[2020-09-11 13:28] slorber commented on #3430
Oh, thanks for letting me know, that can be annoying, as we recommend users to declare their own Joi schema in plugins.
Hope the old/new validation will be compatible with each others so that the transition is smooth.

I think we should upgrade to latest Joi, and also maybe expose Joi singleton in `@docusaurus/utils-validation` , and recommend plugin authors to use this singleton, so that when doi

[2020-09-11 13:28] colriot commented on #3309
@slorber

Yay! Super cool! Thanks

Sorry for confusion. I thought your questions was related to the empty link. And I meant that this empty link didn't make any sense – was just an error, I guess.

I see now it's merged. Thanks for pointing this out!

[2020-09-11 13:34] slorber commented on #3421
Oh you are right, the redirect plugin is made to redirect to existing docusaurus pages. And when I said to use `pathname://` it was for markdown links, not

The solution could be to add this redirect in `./static/api/latest/index.html`:

[code]

If you need it to be dynamic, you should generate this file as a build step and put it in the generated `/build` folder.

As long as at the end of the bui

[2020-09-11 13:37] slorber commented on #3309
great @colriot  :)

the Sass fix is not published to npm yet, so you can use this workaround in the meantime: https://github.com/rlamana/docusaurus-plugin-sass/pull/5#issuecomment-685099274

[2020-09-11 13:54] slorber commented on #3437
Make sense, we should have an option like beforeDefaultRemarkPlugins for all plugins supporting remark to make all this uniform (blog + docs + pages)

[2020-09-11 14:51] krakowski commented on #3409
Hi @slorber,

you are right, it is working with an empty line in front of the component, although I didn't get any errors on the command line... it is still showing `Compiled successfully` without an empty line and the component is not being rendered. In any case, thank you for your time investigating this! Next time I will definitely provide a live demo. :slightly_smiling_face:

It's also worth n

[2020-09-11 15:01] joshribakoff commented on #3413
Two slash doesn’t document apis it’s purpose built for showing where errors occur in typescript snippets

The typedoc plugin looks interesting I’ll check it out!

[2020-09-11 15:08] slorber commented on #3409
Great to know 👍

Yes I think a totally empty line is required after ES imports, not sure exactly why but it's MDX specific.

Maybe try to paste your full markdown in the mdx playground and see if you get an error? that's surprising that you don't get an error

[2020-09-11 16:30] ashscodes commented on #3312
Not sure if this has already been fixed by another commit, but thought I'd check this and I can't reproduce it.

[code]

The site starts without issue.

[2020-09-11 17:14] slorber commented on #3312
Thanks for reporting!

Maybe you don't have the same version of windows/docusaurus or not using the same shell?

If you can both report more details about your env that would be helpful ;)

[2020-09-11 17:20] ashscodes commented on #3312
I was just trying to see if I could reproduce @Daggy1234's issue, but couldn't. Happy to try again if I know what version of Docusaurus and Windows it was attempted on. 😝

[2020-09-11 17:26] omry commented on #3285
You mean at runtime or at build time?

[2020-09-11 17:38] Daggy1234 commented on #3312
Sure lemme share
Windows: 2004 Home
Yarn: 1.22.5
Node: 12.16.2
Npx: 6.14.4
Command Prompt

Terminal Session:
[code]

Thats about it!

[2020-09-11 17:40] Daggy1234 commented on #3312
Its very clear based on the Error That it tried to make the directory Mentioned.

[code]
Works fine producing a directory.

[2020-09-11 19:23] phryneas commented on #3413
@ark120202 Yeah, they both do type-checking but with very different focus.

Mine focuses of actually creating JavaScript code in the end, and on type-checking against an existing code base (your library) and a `node_-_modules` folder. It even simulates a file system, so each code block is a "folder" and can contain multiple files that reference each other.

Twoslash on the other hand focuses from

[2020-09-12 04:35] damusix opened #3442 "Can we make documentation website about documentation?"
## 💥 Proposal

I would like to politely and respectfully propose we keep politics out of our work environments. I'm all for showing support for what you believe in, but it would be nice if we could keep code docs about code docs and not politics. Not everyone agrees with the principles or political views of BLM and it's a bit annoying / triggering / distracting to see my favorite tools constantly

[2020-09-12 07:41] imabp commented on #3399
@slorber I had to close #3443 as I didnt sign for CLA before creating pull request.

So after signing up the CLA, I created pull request #3444 . But its showing, that, I havent signed up the CLA yet.
Can you please help me out.
![image](https://user-images.githubusercontent.com/53480076/92990349-7d090a80-f4f9-11ea-8d37-83989658aa85.png)

[2020-09-12 16:23] isaac-philip commented on #3434
I can volunteer but new to the project code.

can @slorber or anyone give this issue a starting point where I need to look to understand existing tags functionality.

it can help anyone willing to contribute to this issue.

thanks!

[2020-09-12 18:07] facultymatt opened #3445 "v2: Add support for key, cert, ca when using https"
## 🚀 Feature

When using https it's common to provide your own key, cert, and ca. These options can be configured in webpackDevServer but need to be supported by Docusaurus `start` command to make them work. This feature request is for supporting these options, and doing so the same way Create React App does to keep the experience consistent.

Here are the docs: https://webpack.js.org/configuratio

[2020-09-12 18:09] facultymatt commented on #3301
Thanks for the fix! Opened a new issue as suggested for the custom cert config: https://github.com/facebook/docusaurus/issues/3445

[2020-09-13 15:43] imskr commented on #3275
@slorber This is open?

[2020-09-13 18:23] stevenguh commented on #2846
This an example github action that I am using to deploy to gh pages with `peaceiris/actions-gh-pages`. This action works fine without a new deploy ssh key.
[code]

[2020-09-14 09:10] KingGanZeng commented on #2863
I have tried this, but still got the same error:
[code]

Here are my configuration:
[code]

And where i import this:
[code]

Then i got another error:
[code]

I have no idea what happened in it.

[2020-09-14 09:32] krillboi opened #3447 "Launching Docusaurus V2 as installed PWA on Windows just shows manifest.json instead of the site"
## 🐛 Bug Report

After installing `v2.docusaurus.io` as a PWA on Windows through Chrome and then relaunching it, I am just greeted with the `manifest.json` file. See gif below:

![pwa-bug](https://user-images.githubusercontent.com/59022282/93068429-b918a880-f67c-11ea-9166-5a41ce701b0e.gif)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master

[2020-09-14 11:06] jknoxville commented on #3285
@slorber

Out of those two options, the second sounds preferable to me. I presume relative imports are rare so most of the time it'll be fine, but in cases where they are needed, it will fail loudly, and someone will have to fix it, rather than a silent "failure" of the json file just containing the wrong things. With guidance to always import from "@site..." then it would be better still with no

[2020-09-14 16:21] tommilligan commented on #3221
@petejohanson I think your issue may be the same as mine - configuring links to relative external pages via `themeConfig`.

Would #3449 fix this issue for you?

[2020-09-14 18:06] petejohanson commented on #3221
@tommilligan Sure seems like that would address the issue I had to work around, yes.

[2020-09-14 19:28] tjperry07 commented on #3299
I tested out version 1 on a clean install, and it returns a 404 error when navigating to Resources.
See the code here.

[2020-09-14 21:15] facultymatt opened #3450 "[v2]: Add option to skip dependency install when initializing new Docusaurus project"
🚀 Feature

When initializing a new Docusaurus project, a user might wish to skip the dependency install and handle it later on their own. This would be done by passing a flag such as `npx @docusaurus/init@next init [name] [template] --skip-install `. This is supported in other React ecosystem libraries such as Storybook, and there is an open issue on Create React App for this feature, too: https:/

[2020-09-14 21:16] facultymatt commented on #3450
This change would wrap the following lines in a conditional based on the flag: https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-init/src/index.ts#L154-L164

[2020-09-15 02:15] atomicpages commented on #3411
I ran into an issuer early on as well while trying to swizzle `@docusaurus/theme-live-codeblock`. I was able to solve it by using the current `next` version of docusaurus.

Here's a snipped of the command running fine on macOS Catalina and `docusaurus@2.0.0-alpha.64`

[code]

[2020-09-15 03:01] longlho opened #3452 "[v2] build -> deploy doesn't work"
## 🐛 Bug Report

`build` -> `deploy --skip-build` doesn't seem to work. I'm trying to `bazel` docusaurus and am stuck at this step.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. `docusaurus build --out-dir=foo my-custom-website`
1. `docusaurus deploy --skip-build --dir=f

[2020-09-15 10:09] ashscodes commented on #3447
I've test this in the new Microsoft Edge on Windows 10 and in Chrome/Microsoft Edge on MacOS and it's doing the same thing. Our personal app is working. I suspect it might be an issue in the `manifest.json` file here [manifest.json#L7](https://github.com/facebook/docusaurus/blob/9bf4dfb2759759c14d99df6daebbacf833109d78/website/static/manifest.json#L7). I _think_ the _scope_ and _start_url_ should

[2020-09-15 11:52] ashscodes commented on #3420
Fixed in #3436 and 2.0.0alpha-64

[2020-09-15 11:52] #3420 closed

[2020-09-15 17:26] isy opened #3454 "[v2]: Not require GIT_USER when using ssh"
## 💥 Proposal

GIT_USER environment variable is required for deploying, but in case of SSH, I think there is no problem without GIT_USER.

If USE_SSH is true, I'd like to fix it so that GIT_USER is not needed. Is there any problem with this?

https://github.com/facebook/docusaurus/blob/6e43c9bd34fc3afbde07da52f91220de0582d204/packages/docusaurus/src/commands/deploy.ts#L29-L32

https://github.com/f

[2020-09-16 02:33] atomicpages commented on #3430
@slorber I'd like to stake claim for this issue 😄

[2020-09-16 16:17] arifszn commented on #3389
Faced same error. Switching to window's default cmd worked.

[2020-09-17 00:49] amimas commented on #3396
Is this related to V2? I'm currently using V1 and it works the way you explained it should. Whichever version of documents I am on, the search results are from that version only.

[2020-09-17 00:56] amimas commented on #3434
I would really love to see tagging capability in the docs. This has been one of the top requested feature from my docs site's tech writers and ux team.

I imagine we could use the front-matter data at the top to contain an array of values that will be considered as "tags" for the corresponding page.

Having the this tagging feature will open other opportunities in addition to what is mentioned abo

[2020-09-17 01:06] amimas commented on #3417
I agree that it should be a configurable option. Or at least not expect everyone to have their drafts publicly available even if it's not reachable from another page.

But I wonder if this is only about drafting new docs. What if someone wants to make changes to several existing docs as draft?

Also, I think the term draft is a bit overloaded here. In a typical setup, all docs are already in "draf

[2020-09-19 02:05] felipecrs opened #3463 "Enhance documentation about adding Docusaurus in an existing repository"
1. You might want to add an example of the folder structure to make it very clear how it would look like (mentioning the parent folder), such as:

[code]

2. I also see that some projects, even with docusaurus v2, prefers to use the docs folder in the root directory rather than in the site's directory. Personally, I also prefer that and I believe that it makes much more sense, since the `docs` are

[2020-09-19 02:19] felipecrs commented on #3413
I can think of 2 different scenarios:

1. Create TypeDoc docs that integrate with Docusaurus through Markdown:
    [typedoc-plugin-markdown ](https://github.com/tgreyuk/typedoc-plugin-markdown/tree/master/packages/docusaurus-plugin-typedoc) does this very well! /cc @tgreyuk

1. Create TypeDoc docs which integrate with Docusaurus through other means:
    There is nothing currently that I know of, b

[2020-09-19 02:55] felipecrs opened #3464 "Auto generate sidebar according to the docs folder structure"
## 🚀 Feature

Auto generate sidebar according to the docs folder structure.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

For me, it seems to be redundant to manage both the sidebars file and the `docs` folder structure, since the sidebars can be inferred from it.

Also, ever

[2020-09-19 07:16] lex111 commented on #3389
Resolved in #3459

[2020-09-19 07:16] #3389 closed

[2020-09-19 10:21] ayshiff commented on #3437
Can I work on it @slorber ?

[2020-09-19 14:01] arifszn opened #3466 "Swizzling ReactLiveScope does not work"
## 🐛 Bug Report

I am having problem in swizzling the react-live scope. I have installed a fresh project with @docusaurus/theme-live-codeblock installed just to be sure but same error occurs.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. `npm install --save @docusaurus/t

[2020-09-19 15:26] arifszn commented on #2152
#3466 Can you please look at the issue? Our work has stopped because of this.

[2020-09-19 15:33] gasolin commented on #1258
since mdx support react compoennt, in v2 import than write react component just works

[code]

[2020-09-19 19:31] Mac-Kett commented on #3434
I want to volunteer if you do this

[2020-09-20 07:33] Turkyden commented on #2258
Nice, it work ! Thank you sir.

[2020-09-20 11:29] dhitimedin commented on #776
@ lelouch77 When I try to do that I get series of warning while installing a exception when I npm run swizzle docusaurus-lunr-search SearchBar.

Trace pasted below:

npm WARN deprecated mkdirp@0.3.0: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)
npm WARN @cmfcmf/docusaurus-search-local@0.3.0 requires

[2020-09-20 15:30] praveenn-vbi commented on #776
@dhitimedin Thats happens on version of dosucarus ... Try running `npm run swizzle docusaurus-lunr-search SearchBar --- --danger` Thanks

[2020-09-22 06:45] niheaven opened #3471 "[v2] Couldn't link to static assets with Chinese characters under sub-dir"
## 🐛 Bug Report

When linking to static assets (pdf or xlsx, etc.) directly from markdown files, and if the file is under some co-locate subdir and has Chinese characters in its path name (filename or dirname), then the parsing engine will give some error as following:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING

[2020-09-22 15:11] lunelson commented on #3372
@slorber fwiw this is fixable on Netlify by changing your post-processing settings. They have a UI bug, where the master checkbox to disable post-processing __does not disable the pretty URL setting__, and that is what causes e.g. `https://v2.docusaurus.io/docs/2.0.0-alpha.63/installation` to 301 redirect to `https://v2.docusaurus.io/docs/2.0.0-alpha.63/installation/`. You have to just turn them a

[2020-09-22 18:37] fanny commented on #3464
We could have the both options. It seems a good proposal for me.

[2020-09-22 18:55] fanny commented on #3434
If anyone have interest in contribute I can help you.

You'll need to create a new component in the theme for docs tags: https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/theme/BlogTagsListPage/index.tsx

The logic of the route `tags` [here](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/index.ts#L151). You'll p

[2020-09-23 09:35] KarlisKarlstrom commented on #3416
Sorry for the late response. I have implemented changes to index.js and I seem to be able to push an array of css files declared in docusaurus.config file. I tried this out by extracting docsearch.css as suggested by @slorber, as well as passing several other smaller css files. Thanks for all the tips, I'll submit a PR shortly for review :+1: !

However, I'm struggling with understanding the valid

[2020-09-23 10:28] harishbala1o commented on #3404
Hi hello is there any update on this?

[2020-09-23 11:17] slorber commented on #3434
Hi

Will be back from holidays on Monday 28.

We have 2 volunteers so I suggest the first one work on it 😉 I guess the
idea is to make it consistent with the blog comp and try to share some
theme code.

Le mar. 22 sept. 2020 à 20:00, Fanny <notifications@github.com> a écrit :

[2020-09-23 11:19] slorber commented on #3464
Hi

Will be back from holidays on Monday 28.

How do we keep retro-compatibility?

Also what if we want b before of a?

Le mar. 22 sept. 2020 à 19:37, Fanny <notifications@github.com> a écrit :

[2020-09-23 11:26] slorber commented on #3466
Hi

Will be back from holidays on Monday 28.

Will check new issues when I'm back. Afaik we already have an issue where swizzling fails to override original comp. In the meantime give a try to patch-package

[2020-09-23 11:27] slorber commented on #3437
Yes thanks 😉

Le sam. 19 sept. 2020 à 11:22, Rémi Doreau <notifications@github.com> a
écrit :

[2020-09-23 11:32] slorber commented on #3430
Thanks

Before investing too much in this maybe it's worth to sync and describe
what you plan to do exactly

Le mer. 16 sept. 2020 à 03:33, Dennis Thompson <notifications@github.com> a
écrit :

[2020-09-23 13:25] felipecrs opened #3475 "New Markdown header import_content_from"
## 🚀 New Markdown header `import_content_from`

A user can specify the path to another Markdown file, which will be used to serve as the content of the current file. Especially useful for folks who want to use the repository's `README.md` as one of the docs in Docusaurus.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#r

[2020-09-23 14:23] maksnester opened #3476 "Version dropdown is not rendered when there is only next and some other version."
## 🐛 Bug Report

Version dropdown has no dropdown.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Have only one /docs folder without versions
1. Run `yarn run docusaurus docs:version 1.x`
1. Add versions dropdown to the navbar

[code]

## Expected behavior

Dropdown with

[2020-09-23 14:37] lex111 commented on #3476
Already fixed in https://github.com/facebook/docusaurus/pull/3472 but thank you for the report.

[2020-09-23 14:37] #3476 closed

[2020-09-23 15:31] maksnester opened #3478 "docusaurus docs:version overwrite option"
## 🚀 Feature

Add some `--force` or `--overwrite` flag to `docusaurus docs:version` command.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Sure.

## Motivation

Currently, the `docusaurus docs:version` command fails if a version is already exists, but for version range like 1.x, it might be conv

[2020-09-23 15:39] felipecrs commented on #3464
If this ends up with a new option in the `docusaurus.config.js`, such as `inferSidebarsFromFolder`, we could simply make it default to `false`.

Prefixing numbers in the files: `1-b.md`, `2-a.md`.

[2020-09-23 18:28] KarlisKarlstrom commented on #3416
I see that there already is a PR for this now, #3474 . Will follow to see if I can pick up on how the validation should be implemented.

[2020-09-24 08:07] slorber commented on #3478
Hi

I think I answered on Discord already but you don't need to version 1.x,
you can rename /next to /v1.x instead

Le mer. 23 sept. 2020 à 16:32, Maksim Nesterenko <notifications@github.com>
a écrit :

[2020-09-24 11:47] m-vdb commented on #3321
That would be amazing! We were thinking about adding this to our documentation setup (I was initially looking into something like [`remark-validate-links`](https://github.com/remarkjs/remark-validate-links)).

[2020-09-24 12:12] divya-mohan0209 opened #3482 ""yarn run publish gh-pages" not picking up CSS files under website/static directory"
## 🐛 Bug Report

I am using docusaurus v1.14.5 to host static content generated & styled by Sphinx. The workflow looks like this:

RST & .py files (Python) -> HTML + CSS + JS files  --> This is done by Sphinx & I've placed this under the website/static folder.

I then made modifications to the siteConfig.js per this documentation - https://docusaurus.io/docs/en/publishing & deployed to GH-pages.

[2020-09-24 12:26] dude-awesome commented on #638
damn we really need  something like this. any ETA for this feature?

[2020-09-24 15:56] Simek opened #3483 "Make Jest tests cross-platform (fix Jest tests on Windows)"
## 💥 Proposal

Make Jest tests cross-platform (fix Jest tests on Windows). The tests are failing mostly because of various paths related issues. I was trying to fix some of them but without a success (using [`slash`](https://github.com/sindresorhus/slash) and [`path.normalize`](https://nodejs.org/api/path.html#path_path_normalize_path)).

* #3481 - this PR adds the test step to the Windows CI

###

[2020-09-25 13:35] sambeckingham opened #3484 "Navbar logo is broken in Firefox (both V1 and V2)"
## 🐛 Bug Report

I first noticed this issue working on the [Yew](https://yew.rs) docs.  Upon attempting to fix it, it appears it's not coming from Docusaurus but rather from the styles provided by Infima.

I cannot verify this of course, because Infima appears to have removed its [git repo](https://github.com/facebook/infima). However, I can't see anywhere in the Docusaurus repo that would impleme

[2020-09-25 14:21] jmk-developer commented on #3482
Hey, I'm having the same issue.
I think the issue is that the site is looking in the wrong place for stylesheets.
For example, on my site everything is here: sitename.github.io/website including the HTML and CSS.

sitename.github.io/website/index.html works, but it's looking for something like sitename.github.io/style.css instead of sitename.github.io/website/style.css.

No idea how to fix this.

[2020-09-25 14:37] divya-mohan0209 commented on #3482
I think I figured this out, you need to pass the paths where your
customized css files to the separateCss:[] directive in the siteConfig.js
file.

This helped me. Hope it works for you too!

Regards,
Divya

On Fri, 25 Sep, 2020, 7:52 PM JMK, <notifications@github.com> wrote:

[2020-09-25 20:38] lex111 commented on #3484
@sambeckingham which version of Firefox are you using? I cannot reproduce this.

[2020-09-25 21:21] JoelMarcey commented on #2267
@yangshun, @slorber -- which of these are actually completed? Thanks!

[2020-09-25 22:39] jmk-developer commented on #3482
Hello. I found a different solution, but thanks for the help. Have a nice day.

[2020-09-26 04:27] kehuo opened #3486 "Please support Language-specific Code Tabs in Markdown!!!!"
## 🚀 Feature

In the [version1 document](https://docusaurus.io/docs/zh-CN/doc-markdown#language-specific-code-tabs), I saw Markdown supports Language-specific Code Tabs.

But in v2 document, i didn't see this feature.

## Motivation

## Pitch
Reason:
I plan to use docusaurus to build my self-learning website. In my markdown content, there are many codes needs to be displayed, I need to compare the

[2020-09-26 06:45] lex111 commented on #3486
This feature is actually supported in v2, here's [example in our docs](https://github.com/facebook/docusaurus/blob/master/website/versioned_docs/version-2.0.0-alpha.64/deployment.md#deploy):

![image](https://user-images.githubusercontent.com/4408379/94332312-d7679800-ffdc-11ea-9cc9-7936b530035a.png)

[2020-09-26 14:59] greghesp opened #3487 "[V2] Versioning Dropdown doesn't show "Next" version"
## 🐛 Bug Report

`type: 'docsVersionDropdown', position: 'left'` is not showing as a dropdown with `Current Version` and `Next`

 This produced by 3.x.x documents fine, and when i `yarn start` they show u

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Run `docusaurus docs

[2020-09-26 15:22] lex111 commented on #3487
Already fixed in #3472 but thank you for the report.

[2020-09-26 15:22] #3487 closed

[2020-09-26 15:34] greghesp commented on #3487
Ah so it is!  Thanks, will wait for `.65`

[2020-09-26 20:14] uditgaurav opened #3488 "versioned sidebar is not getting created while releasing a version"
## 🐛 Bug Report

I'm creating a new release but the versioned sidebars are not getting created. I'm using the following commands:
[code]

This creates the versioned_docs but not the versioned_sidebar.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce
[code]
## Expected behavior

[2020-09-26 20:25] fanny opened #3489 "feat(v2): Docusaurus-init template for cli, api"
## 🚀 Feature

I want to propose a new feature for our docusaurus-init CLI, to generate a structure that depends  documentation's type, in addition to our templates based on themes. So, for example, if I have a CLI docs, we could have:
[code]
In the case of APIs, we could have:
[code]

Currently we have `docusaurus-classic` and `docusaurus-bootstrap`, and although, they work pretty well, I was thin

[2020-09-28 04:16] Boluwatifeh commented on #2016
hi @endiliey i'm facing this issue, how do i fix it??

[2020-09-28 10:29] slorber commented on #2016
@Boluwatifeh unfortunately he won't answer: https://v2.docusaurus.io/blog/2020/01/07/tribute-to-endi

I'm working on v2, which is not far from a stable release, so it's worth considering migrating. i18n, the last missing feature for beta/RC/GA, is coming soon.

[2020-09-28 10:39] slorber commented on #3489
That seems a good idea to me to have better templates to cover various needs, or at least enhance the starter template we already by including more useful things.

Also wonder if having to many options won't increase the maintenance cost, as we may forget to update the templates. We'll likely also provide TS templates too, so wonder if we shouldn't just have a JS and a TS version, but more fully-f

[2020-09-28 10:46] slorber commented on #3488
Hi, this is a v1 bug and I'm not very familiar with its codebase as I mostly work on v2.

I can see you have a lot of versioned sidebars here: https://github.com/litmuschaos/litmus-docs/tree/master/website/versioned_sidebars

How comes it worked before and it does not work anymore now? Did you change anything? Did you update Docusaurus and think there is a regression?

It seems this 13 days old PR

[2020-09-28 10:50] slorber commented on #3487
thanks @lex111 👍

In the meantime you can try swizzling the DocsVersionDropdownNavbarItem component to backport the fix if you can't wait for next release

[2020-09-28 10:54] slorber commented on #3486
Feature is documented here: https://v2.docusaurus.io/docs/markdown-features/#multi-language-support-code-blocks

It's just not the same syntax as v1

[2020-09-28 10:54] #3486 closed

[2020-09-28 11:28] Boluwatifeh commented on #2016
Ohh @slorber I'm deeply sorry about what happened. So there's no fix for the issue until a beta us being released?

[2020-09-28 12:43] slorber commented on #2016
I think this should work in v2 and you shouldn't wait for v2 beta to try using it as it's quite stable already.

v1 do not receive many bugfixes atm as I'm working only v2. If you want this fixed on v1 soon, the best way is likely to send a PR.

[2020-09-28 12:49] Boluwatifeh commented on #2016
@slorber I'm facing the issue with v2. I tried running npm start after following the instructions from the docusaurus v2 website. I got the error "LiveReload server started on port 35729
Docusaurus server started on port 3000

[2020-09-28 12:51] slorber commented on #3482
great to know it works fine for you :)

[2020-09-28 12:51] #3482 closed

[2020-09-28 12:54] slorber commented on #2016
So you should open a separate issue with v2, and proper repro steps and error messages.

This issue was for v1, so if you have it with v2, I need at least the error message from v2.

[2020-09-28 13:17] slorber commented on #2267
@JoelMarcey

Docusaurus Debug Dashboard => done
Docusaurus 1 to 2 Migration Command => done (but could still be improved)

Offline Search => pending PR, will review it after i18n

Docusaurus Doctor => somehow related to the debug dashboard, and I'm not even sure this is needed anymore because we worked on making v2 much more failsafe and added broken links checking etc

Dynamic Social Cards => pen

[2020-09-28 13:27] slorber commented on #3484
Not able to reproduce either.

@sambeckingham will re-open if you provide a specific version of firefox with which it can be reproduced.

Note v1 does not use Infima, so it does not look like it's related to Infima to me, but rather a bug in a specific Firefox version.

[2020-09-28 13:27] #3484 closed

[2020-09-28 14:01] Boluwatifeh commented on #2016
Okay, I'd do that right away. Thanks

[2020-09-28 14:28] slorber commented on #638
@dude-awesome it's not planned that core Docusaurus contributors work on this.
We are a small team and should concentrate on core features, and let the community tackle specific needs in plugins.
If plugin authors are blocked to implement such features, we'll do our best to unlock them.

[2020-09-28 14:33] #3370 closed

[2020-09-28 14:57] aakhtar3 opened #3491 "Add drone.io support documentation"
## 📚 Documentation

Add steps to configure drone.io

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-09-28 16:03] slorber commented on #3416
Hi @KarlisKarlstrom , sorry for the delay, was on holiday.

I'm going to merge the customCss feature asap as it's needed to migrate ReactNative website. Validation is already done in the PR.

However, if you are interested to contribute, we could see how to split the CSS file of docusaurus 2 website in multiple parts

[2020-09-28 16:15] #3416 closed

[2020-09-28 16:30] slorber commented on #3464
Why not, but you'd rather add slug frontmatter to have nice url paths

I guess the category labels should be inferred from the folder names. So this means folder names should also have a number prefix for ordering.

That also means it's not possible to have docs without sidebar, nor multiple sidebars, nor refs or external links in sidebars, so this option is limited compared to have a proper sideb

[2020-09-28 16:32] #3491 closed

[2020-09-28 16:37] slorber commented on #3478
I think I answered you on Discord already.

Tell me if this does not work for you, but it should.

![image](https://user-images.githubusercontent.com/749374/94460861-a2fd0300-01b9-11eb-88ca-c32b164c0889.png)

[2020-09-28 16:37] #3478 closed

[2020-09-28 16:38] slorber commented on #3478
See in particular https://v2.docusaurus.io/docs/versioning/#figure-out-the-behavior-for-the-current-version

[2020-09-28 17:26] slorber commented on #3475
Hi,

This is more complex than you might think.

First we use MDX, and it's not 100% certain than your github Readme will work fine when parsed with MDX (particularly embedded html blocks).

Second, each plugin (docs, blog, pages) has its own MDX/Remark/Rehype config and set of features, and the loading of docs is somehow sandboxed per plugin. For example, the docs plugin has advanced features tha

[2020-09-28 18:06] slorber commented on #3372
Thanks @lunelson , didn't know about this bug, do you have a link to track this?

Also, I tested these options on my own website, but still have a trailing slash issue 😅  https://sebastienlorber.com/records-and-tuples-for-react

[2020-09-28 18:24] felipecrs commented on #3475
This is what I do currently...

[code]
https://github.com/felipecrs/megatar/blob/master/website/scripts/import-readme.sh

then:

[code]
https://github.com/felipecrs/megatar/blob/master/website/package.json#L8

However this sounds like a hack, this proposal was to make this use case more elegant. :-)

[2020-09-28 20:39] tusharnankani opened #3494 "🐛 bug: `Edit this page` not linked"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes!

## To Reproduce

(Write your steps here:)

1. Opened on [RunMe](https://runme.io/build?build_id=61e071bb-86d7-4e6d-92c7-9ed17595dacb)
1. When clicked on <kbd>Edit this page</

[2020-09-28 23:06] Boluwatifeh opened #3495 "Error running the docusaurus site"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Install the docusaursus init command (npm install --global docusaurus-init)...
2. Scaffold the site(docusaurus-init)..
3. Run cd

[2020-09-29 09:52] slorber commented on #3495
Is the v1 site not working, or it's just the browser window that does not open automatically?

For me it works, so maybe it's your env that makes it unable to get the browser opened?

Do you have the issue with v2 as well?

It's v1 and seems not critical to me, unless many others also have the issue?

[2020-09-29 09:56] slorber commented on #3494
You likely did not put the correct editUrl here: https://v2.docusaurus.io/docs/using-plugins/#docusaurusplugin-content-doc as you are pointing these edit links to docusaurus repo, and doc2 indeed does not exist in docusaurus repo.

[2020-09-29 09:56] #3494 closed

[2020-09-29 10:06] slorber commented on #3475
Afaik not atm, but I've opened this issue a few months ago: https://github.com/mdx-js/mdx/issues/1125

We'd also benefit from such a tool to migrate from docusaurus v1 to docusaurus v2.

---

Yes, copying the files is a temporary workaround for now.

Unfortunately, I should focus on shipping i18n, and solving critical bugs that don't have any workaround, so won't work on this right now.
If you wan

[2020-09-29 10:08] slorber commented on #3434
Hi,

@isaac-philip are you working on the tags feature? If not @Mac-Kett seems interested to work on it.

[2020-09-29 10:10] isaac-philip commented on #3434
sorry didn't see the latest messages till being mentioned now.

please proceed as I see people have messaged to guide and take up 😊

sounds great, thanks!

[2020-09-29 10:15] slorber commented on #3471
Hi,

I'm sorry but I'm unable to reproduce this issue.

![image](https://user-images.githubusercontent.com/749374/94545867-667ae700-024d-11eb-8809-d756bf65c9b4.png)

![image](https://user-images.githubusercontent.com/749374/94545843-5ebb4280-024d-11eb-8713-f78018e678c9.png)

![image](https://user-images.githubusercontent.com/749374/94545893-6e3a8b80-024d-11eb-9ee6-9a2e0c128e29.png)

I would need a

[2020-09-29 10:19] slorber commented on #3434
Thanks,

@Mac-Kett still interested to work on this?

[2020-09-29 10:25] slorber commented on #776
These swizzle error messages are tracked in https://github.com/facebook/docusaurus/issues/3408
It's definitively a bug but you should be able to swizzle using the --danger cli flag

[2020-09-29 10:25] slorber commented on #3411
Great to know, let's close it then

[2020-09-29 10:25] #3411 closed

[2020-09-29 11:18] slorber commented on #3043
Unfortunately the docs have been added to v1 instead of v2.

Will port these docs to v2, and also make it more idiomatic to know that ./docs is v1 as it's confusing.

[2020-09-29 12:48] #3437 closed

[2020-09-29 13:28] slorber commented on #3466
I wasn't able to reproduce

![image](https://user-images.githubusercontent.com/749374/94564497-54f30880-0268-11eb-9a81-cdc0da04ecb9.png)

Wouldn't be surprised if it was a Windows related bug, unfortunately I don't have windows 😅

[2020-09-29 13:34] slorber commented on #3463
Thanks for the suggestions.

Where should we put such docs exactly? Can you submit a PR?

[2020-09-29 14:15] slorber commented on #3417
Afaik we don't have the concept of "edit draft" and it'll be complicated to implement in markdown as we are not a CMS, but you could emulate this by copying the source doc and putting draft: true on the copy, or using a PR.

To me, draft frontmatter is only useful if you want the thing to be on master, and appear in production site so you can share it privately (cf. what I do with my blog posts to

[2020-09-29 14:23] slorber commented on #3396
@amimas according to what I see, yes contextual search works on v1, but not on v2.

I see this code on v1 responsible for contextual doc search:

![image](https://user-images.githubusercontent.com/749374/94570999-bff40d80-026f-11eb-9573-c45dd71b3e9c.png)

![image](https://user-images.githubusercontent.com/749374/94571031-cbdfcf80-026f-11eb-8bb5-b51ebc2451f8.png)

For v2 we'll need something simila

[2020-09-29 14:25] lunelson commented on #3372
@slorber If you changed the options and tested your site right away, it might not have worked: the changes seem to take a few minutes to propagate. For me the URL above now works without trailing slashes.

[2020-09-29 14:38] lunelson commented on #3372
@slorber Having pointed that out however, I must say that in my company's websites (including 3 Docusaurus v2 sites and potentially soon more), we will probably turn this Netlify feature back on.

This is because we have had the strong recommendation from an SEO agency that—while neither format (trailing-slash or not) is "better"—there *should* be 301 redirects to make sure that only one of the tw

[2020-09-29 14:48] arifszn commented on #3466
Then you may close the issue. Thank you for the response.

[2020-09-29 15:01] slorber commented on #3466
Even if there's a valid workaround, I'd like to confirm if someone can reproduce this bug on Windows before closing ;)

[2020-09-29 15:09] #3374 closed

[2020-09-29 15:33] mpsq commented on #3372
The sitemap can be generated with trailing slashes, that's what the option `trailingSlash` is for: https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-sitemap.

[2020-09-29 15:39] lunelson commented on #3372
@mpsq well, that's one down at least 😅

[2020-09-29 15:41] mpsq commented on #3372
Yes :) On your list, "URL patterns in router/anchor links" and "canonical link tags" are actually the same thing, they depend on how the `permalink` prop is generated. All you need is to enable/allow that prop to have a trailing slash.

[2020-09-29 16:26] lunelson commented on #3372
YES. This would be ideal.

@mpsq is there any chance you could give me an idea of where I need to intervene in my custom theme, to modify that `permalink` property in a way that will affect the router, and generated anchor and link tags all together?

[2020-09-29 17:00] mpsq commented on #3372
You could do it in your theme by tweaking `DocItem` / `Layout` and replace occurrences of `permalink` with `permalink + "/"`. This is super hacky though, a configuration property in core Docusaurus would be much nicer.

[2020-09-29 17:05] slorber commented on #3454
Hi,

I'm not using GH pages. Have you tested these changes locally and it works fine without GIT_USER and with USE_SSH?

Any help to setup and document carefully the GH deployment workflow is welcome, it's very likely we can improve those.

[2020-09-29 17:33] slorber commented on #3452
Hi @longlho

I can confirm running these commands at the root of our own monorepo don't work.

[code]

This is because you did  not provide the siteDir option. This does work:

[code]

[2020-09-29 17:33] #3452 closed

[2020-09-29 17:38] slorber commented on #3452
Note, as you have a monorepo for FormatJS, and it's less common/battletested to launch commands at the root of the monorepo.

Most of the time it should work fine, but you in case of troubles, you might as well consider:
- adding the website as a monorepo package and run `yarn workspace website docusaurus build`
- running the docusaurus cli from the website folder (can be done with `yarn --cwd web

[2020-09-29 17:43] slorber commented on #3450
@facultymatt I'm not against, but do you actually plan to use this feature?
I wonder if it's useful to add an option if nobody feels the need for using it right now, as it seems a particularly niche usecase and our userbase is likely smaller than CRA/Storybook. Any option that we provide and is never used is cluttering the project.

If so, as you have a good idea of how to implement it, are you in

[2020-09-29 17:51] slorber commented on #3442
seems the BLM banner has been removed by @JoelMarcey so closing

[2020-09-29 17:51] #3442 closed

[2020-09-29 17:53] slorber commented on #3275
@imskr I'll merge the first PR that solves this problem so if you find a solution let me know as it seems @Ako92 didn't

[2020-09-29 18:06] slorber commented on #2863
@KingGanZeng I think you should not require the local plugin but instead provide its path.

Check the doc here and follow it carefully, as you see we don't require plugins.

https://v2.docusaurus.io/docs/using-plugins/#creating-plugins

[2020-09-29 18:28] michelpf commented on #3466
I have the same in MacOS:

[code]

[2020-09-29 18:33] greghesp commented on #3487
I did try to swizzle it, however it seems to throw errors on every attempt
[code]

[2020-09-29 18:36] arifszn commented on #3466
If the scopes can be passed to the CodeBlock as a prop, I think it would be very helpful and most people would not need swizzling the component.

[2020-09-29 20:42] arinthros commented on #3464
I wrote a script for one of our monorepos that generates markdown from jsdoc comments, keeping the folder structure, and then auto-generates the sidebars.js while preserving any custom entries. It needs a few tweaks like alphabetizing and removing non-existent files, but it should give you a starting point for your project.

https://gist.github.com/arinthros/526df3ef12383d26903c1c8588211cca

The s

[2020-09-29 20:45] felipecrs commented on #3464
@arinthros  Sounds very cool!

Just to mention, the [`docusaurus-plugin-typedoc`](https://github.com/tgreyuk/typedoc-plugin-markdown/tree/master/packages/docusaurus-plugin-typedoc) also does that.

[2020-09-29 20:59] felipecrs commented on #3464
Not only. As per my initial proposal, further customizations for the categories could be made through an `index.md` in the root of each folder/category.

I was not thinking this way. I think we must add this feature in a way that you are free to use both methods (manual or auto-generated sidebars). Something like:

[code]

Notice that in `API` category, I referenced a folder, this means it's suppo

[2020-09-29 23:19] Boluwatifeh commented on #3495
This is my first time setting it up and after running npm start, the browser refuses to open automatically on the port 3000 as specified in the setting up guide

[2020-09-30 13:14] uditgaurav commented on #3488
@slorber we matched the versions:
- node: v8.10.0
- npm: 3.5.2
- platform: ubuntu:18.04
- docusaurus: 1.13.0
- sharing same repo

It works fine for Karthik but not for me. Any other env or parameter we should match?

[2020-09-30 13:30] slorber commented on #3488
Can you double check the exact command you run, from which folder, and both of you share your env?

I don't have a clue why it does not work just for you. As your colleague is able to version the docs and we really want to progress on v2 release, I'm not sure we should work on this (unless it affects more than 1 user).

[2020-09-30 13:46] slorber commented on #3495
You are right that the doc page says:

We are not coding this feature ourselves, it comes from a dependency: `"react-dev-utils": "^10.2.1",` that comes from create-react-app.

Can you run this node script locally and see if it works for you?

[code]

If it does not work, then it's either a problem on your computer, or on this lib

[2020-09-30 13:49] slorber commented on #3466
Does anyone has an open-source site repro on github to see if it's a problem on your site? As it works on my computer it's hard to debug this problem.

[2020-09-30 13:53] slorber commented on #3466
@arifszn I don't understand what you mean by that, how would you pass the scopes to the CodeBlock exactly?

[2020-09-30 13:54] #2894 closed

[2020-09-30 13:55] slorber commented on #3487
Thanks for reporting @greghesp , seems quite similar to https://github.com/facebook/docusaurus/issues/3466

[2020-09-30 14:07] arifszn commented on #3466
It was a suggestion if it is possible. Haven't looked at the code actually. I used the original react live as i didn't know how to swizzle manually.

[2020-09-30 14:07] slorber commented on #3464
Thanks for the infos.

I need to work on i18n, not sure there's a huge need for this right now, and we need to figure out a good API surface for this feature first, so unless someone wants to help design/implement this will wait, but we can keep the discussion about API design.

An idea could be to use a special kind of category type, somehow quite similar to your proposal but maybe more explicit.

[2020-09-30 14:37] slorber commented on #3312
Thanks, I wasn't able to reproduce on MacOS with a space, so it's likely a Windows-only error.

![image](https://user-images.githubusercontent.com/749374/94699858-19753e80-033b-11eb-924c-60b3c1f87238.png)

Have you tried with another Shell or with a folder without any space?

[2020-09-30 14:43] slorber commented on #3447
Thanks, you are right.

Tried to find a solution here so that our deploy preview under baseurl still work to install/test the PWA setup: https://deploy-preview-3438--docusaurus-2.netlify.app/classic/

But apparently this broken both after you relaunch the app 😅

[2020-09-30 14:45] ashscodes commented on #3312
I have a feeling this is a Node.js issue, possibly relating to user permission level. I'd confirm that it has the same behaviour when you run the shell as administrator and without elevation.

There is also a [Stack Overflow thread here](https://stackoverflow.com/questions/42678759/npm-error-on-every-command-eexist-file-already-exists-mkdir-c-users-user-ap) that suggests that the node environment

[2020-09-30 14:56] #3447 closed

[2020-09-30 15:16] DJM0 commented on #3367
I had the same going from alpha.61 to alpha.64 by editing my `package.json` and doing an `npm install`.

No errors from `npm start` (although I did remove the deprecated `homePageId` option) and the home page rendered as expected, but docs would show as blank/white pages with many React related errors in the console.

After finding this issue, I found removing both `node_modules/` and `package-loc

[2020-09-30 15:23] danielabbasi opened #3501 "Injecting dynamic meta tags into every page source"
## ❓ Questions and Help

### Problem

We have a private search service scraper that needs to scrape every page and find information in the meta tag where the content changes based on location. The logic for the dynamic content is currently in a custom hook and it uses `window.location.pathname`. This scraper is not using chrome headless therefore it can only see the source of the page ('view sourc

[2020-09-30 15:44] felipecrs commented on #3464
Awesome, your design is more refined than what I proposed. LGTM.

[2020-09-30 16:15] #3043 closed

[2020-09-30 17:40] arinthros opened #3505 "Cli --port option reports "something is already running on port ${number}""
## 🐛 Bug Report

When running the command `npm run serve -- --port 3000`, the system reports `Something is already running on port 3000`. The same behavior is exhibited for any port, both in local and CI environments. When running just `npm run serve` it boots up on port 3000 with no issues.

I have tested and confirmed this issue exists on a vanilla Docusaurus 2 installation.

### Have you read t

[2020-09-30 18:44] 93lykevin commented on #3329
Hi @slorber, can I take this if it is still open? This will be my first open source contribution if merged.

[2020-10-01 02:05] mathetos commented on #3299
I was able to get three different "docs" sections added while running version 2.0.0-alpha-64.

They each have sub-directories, and custom sidebars. Worked really well once I finally figured it all out. Often, when I added new docs into new sub-directories, I had to restart yarn for the new files to be recognized. Other than that, if this was explicitly documented it would have saved me at least an

[2020-10-01 04:45] skr571999 commented on #3483
Hey @slorber

Can I work on the Issue ?

[2020-10-01 09:29] lunelson commented on #3372
Again: yes

[2020-10-01 10:47] slorber commented on #3483
Hi @skr571999 , if you have Windows and can make the tests pass without breaking anything, this is welcome ;)

[2020-10-01 10:52] slorber commented on #3329
Hi @93lykevin, thanks for your help.

For now I'd rather not ask you to contribute to this task, as we are currently figuring out what we want for the "theme gallery".  Also @fanny is already working on this theme and it's likely that we'll ask an intern from MLH to work on our theme gallery. For now I'll remove the "help wanted" label here

[2020-10-01 11:37] fanny commented on #3489
This is my point.

Your idea related with TS and JS, sound more simple and maintanable. My idea is a way to make the templates more useful in fact. About the previews, the templates are the way that we test the changes in themes, so I think that if we have an e2e set of tests connected with our CI, should work, or as a preview for Netlify.

[2020-10-01 12:29] slorber commented on #3505
thanks, looks like a good first issue for hacktoberfest :)

[2020-10-01 12:30] slorber commented on #3299
sorry about that, I keep in mind to write this doc soon :)

[2020-10-01 12:31] slorber commented on #3329
even going to close for now so that we can create more helpful issues for instructions on what shuld be done on the bootstrap theme

[2020-10-01 12:49] skr571999 commented on #3483
@slorber ,Thanks

I have Window 10, I am new to testing but will try my best to pass them. 🚀

[2020-10-01 13:38] #3329 closed

[2020-10-01 13:58] slorber commented on #3020
As we have new MLH interns coming soon, was thinking about this issue.

To me, it's not totally clear if shortcuts should be provided by a plugin, by a theme, or both.
This feature is not very easy to design.

[2020-10-01 14:10] slorber commented on #3230
Fixed by #3284

[2020-10-01 14:10] #3230 closed

[2020-10-01 14:24] slorber commented on #2937
Hi @Zenahr , I'm closing due to heart reaction and no news, assuming it's solved

[2020-10-01 14:24] #2937 closed

[2020-10-01 14:25] #2882 closed

[2020-10-01 14:31] slorber commented on #2654
Closing in favor of https://github.com/facebook/docusaurus/issues/3372

[2020-10-01 14:31] #2654 closed

[2020-10-01 14:35] slorber commented on #2633
Hi,

We have added the ability to colocate images to their markdown usage file here, supporting relative image paths:
https://v2.docusaurus.io/docs/markdown-features#images

With versioning, it also allows to have one different asset per version, which enable you to version assets alongside the docs

Please open another issue if this is not good enough, but to me it is different yet more powerful

[2020-10-01 14:35] #2633 closed

[2020-10-01 14:41] slorber commented on #2603
Hey,

It is possible to use custom SEO components directly inside a markdown file, thanks to MDX. It is not the best DX but is quite flexible in what it can do

[code]

[2020-10-01 14:49] #2878 closed

[2020-10-01 14:52] #2717 closed

[2020-10-01 15:01] slorber commented on #1699
Hi @Saeris. I'm late to the party, but found this issue interesting and would like it to be completed.

Do you still work for CodeSandbox?
Do you have any up-to-date news to share about how we could create an official Docusaurus template on CodeSandbox?

As we have MLH interns joining us, that could be a nice task for one of them.

[2020-10-01 15:07] lex111 commented on #3044
I think we can close this issue, because it is hardly relevant anymore.

[2020-10-01 15:28] lex111 opened #3513 "Back to top button"
## 🚀 Feature

Feature request from [Canny](https://docusaurus.canny.io/feature-requests/p/back-to-top-button):

I think the back to top button in the v1 should be also implemented in v2. Long docs will need it.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Many docs sites hav

[2020-10-01 15:46] michaelknowles commented on #3513
The original design from v1 seems like a good start.  Are there other ideas?

[2020-10-01 16:07] michaelknowles commented on #3513
We could place the button above or to the side of the hamburger.

To the side seems like a good option since the hamburger will already be obscuring any text on this horizontal row.  Placing it above will mean another row of text is obscured.

Putting it as an option inside the hamburger doesn't sound great because I think scroll to top probably shouldn't take an extra click to get to.

[2020-10-01 16:21] slorber commented on #3312
Thanks for your analysis ;)

[2020-10-01 16:49] slorber commented on #3501
Hi,

First I'd suggest to upgrade to latest version.

As you need a HTML scrapper to see the meta tag, it has to be server-side rendered at build time, and be found in built HTML files. What I understand is that your scrapper does not run the ReactJS code, so you can't set the value using JS on client-side.

Here's how I was able to get this working, by wrapping the default layout component to "en

[2020-10-01 16:49] #3501 closed

[2020-10-01 16:56] taylorreece opened #3515 "Minify failure when building docusaurus site in a yarn workspaces with another project"
## 🐛 Bug Report

I have a Docusaurus-built site that shares a yarn.lock file with several other projects. Since bumping to Docusaurus to `2.0.0-alpha.64` from `2.0.0-alpha.63`, I have been unable to `docusaurus build`. I get this error:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2020-10-01 17:04] slorber commented on #3513
It's worth mentioning this other issue: https://github.com/facebook/docusaurus/issues/2220

As users are not totally satisfied with the current mobile layout/navigation, we should think about what design we really want first, and where the back to top button would fit in this fixed design.

[2020-10-01 17:24] Daggy1234 commented on #3312
So apparently running as Administrator worked. I guess thats node and not docusaurus.

Whats shocks me is  how everything but docusaurus works. Create-react-app, react-native all work fine.

[2020-10-01 17:51] mathetos commented on #3299
@slorber Not a problem at all, and not a complaint. Just wanted to chime in to validate that it's working and worth some solid docs. V2 really is slick, great work!

[2020-10-01 18:33] Saeris commented on #1699
Hey @slorber! Yeah I'm no longer officially with the team at CodeSandbox, however I can still be of help. We actually shipped the ability for anyone to create and share their own templates with the community a while back, so it's actually quite easy to publish and maintain an official template on your end. Here's some reading on that subject:

https://codesandbox.io/post/hello-template-universe-go

[2020-10-01 20:08] taylorreece commented on #3515
New info: one of my other projects has a dependency that has a dependency on `"file-loader": "^1.1.11"`. That seems to be causing me grief.

If I have a project in my yarn workspaces with just that dependency, I can replicate this issue. I've updated my repro repo to show an extra project with just that dependency. Somehow that older version `file-loader` is making its way into the Docusaurus buil

[2020-10-01 20:15] ThakurKarthik commented on #3445
@lex111 @slorber I want to work on this.Here is what i think I will be doing, I will be changing this line https://github.com/arcvats/docusaurus/blob/89a70622a6e48ac71b94369e6e0056270ebf46d2/packages/docusaurus/src/commands/start.ts#L145 to the return value of the [getHttpsConfig](https://github.com/facebook/create-react-app/blob/d5c0fe287a6bc24c60ee52ca768bdf3a10b937e1/packages/react-scripts/conf

[2020-10-01 21:51] Southclaws opened #3518 "Templating page elements for commonly re-used elements"
## 🚀 Feature

In our wiki, we have many pages with the same warnings on.

[code]

For example.

We would like to template this to make it easier to add (and maybe update in future) just like MediaWiki.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

To save time.

## Pitch

It

[2020-10-02 10:36] UmairKamran commented on #3505
Hi, @slorber. First timer here. May I take this issue for hacktoberfest?

[2020-10-02 12:03] Sayan-dev commented on #3513
What if the **back-to-top** button is visible when the user is scrolling up...instead of the hamburger button and stays for few seconds, and then is replaced by the hamburger button if the user doesnot scroll up

[2020-10-02 12:45] slorber commented on #3505
Hi @UmairKamran and welcome.

Yes please give it a try and also read comments on https://github.com/facebook/docusaurus/pull/3514 :)

[2020-10-02 13:02] slorber opened #3520 "Improve migration CLI"
## 💥 Proposal

We have a migration cli, to help migrating from v1 to v2, but it can still be improved a bit.

Note, we have a `/v1-migrated` deploy preview to review the current state of the migration cli: https://deploy-preview-3517--docusaurus-2.netlify.app/v1-migrated/

The idea would be to improve the migration cli so that we are almost able to migrate properly our own v1 website.

We likely w

[2020-10-02 13:08] slorber opened #3521 "Integrate Build Size Bot"
### Integrate Build Size Bot

Integrate build size bot (or alternatives) to run on PRs to detect bundle size and performance regressions whenever changes are made to the repository.

[Example of Next.js PR](https://github.com/vercel/next.js/pull/13799#issuecomment-639409718)

[2020-10-02 13:24] slorber opened #3522 "Theme gallery"
## Theme gallery

We'd like to have multiple Docusaurus themes.

For now:
- only the classic theme is usable, which does not give many options to users.
- the bootstrap theme is a WIP but not really usable yet.
- the community would also appreciate a Tailwind theme: https://github.com/facebook/docusaurus/issues/2961

We agreed that those themes should all rather implement the same UX and work with

[2020-10-02 13:29] slorber opened #3523 "Theme integration test suite"
##  Theme integration test suite

We want a theme gallery (https://github.com/facebook/docusaurus/issues/3522)  and share UX between themes.

This should enable to create a single Cypress integration test suite to validate the behavior of all the themes, as long as the test selectors are shared between each theme.

As the classic theme is the most advanced and the "reference"  theme, we can use it

[2020-10-02 13:35] slorber opened #3524 "Migrate Jest site to Docusaurus v2"
## Jest site

Jest is a Docusaurus v1 website using v1 i18n support.

@SimenB is managing the site and is willing to migrate to Docusaurus v2 once we release i18n support.

We'll need to:
- run the v1->v2 migration cli on Jest
- fix remaining issues manually to make Jest v2 site usable
- improve the migration cli if possible (https://github.com/facebook/docusaurus/issues/3520)
- I'll handle the i1

[2020-10-02 13:44] slorber opened #3526 "Help translate the Docusaurus 2 website"
## Help translate the Docusaurus 2 website

As Docusaurus v2 i18n implemetation is in progress (https://github.com/facebook/docusaurus/pull/3325), it would be nice to translate the Docusaurus 2 website.

It would help Docusaurus 2 adoption, but also dogfood the i18n implementation and Crowdin integration to ensure it's robust enough so that we can release a beta/RC/GA release.

Before doing that,

[2020-10-02 13:49] slorber opened #3527 "MLH fellowship - batch 2"
## 💥 Proposal

As new MLH fellowship interns will join us, here is a list of possible tasks that they could handle:

- ~~CodeSandbox template + create docusaurus.new domain (https://github.com/facebook/docusaurus/issues/1699)~~
- Social cards: sharing the link of a Docusaurus based site should make the link "attractive" with to a social card(https://github.com/facebook/docusaurus/issues/2968)
- ~~

[2020-10-02 13:56] slorber commented on #2267
Meta issue for the MLH 2nd batch tasks: https://github.com/facebook/docusaurus/issues/3527

[2020-10-02 13:57] #2267 closed

[2020-10-02 14:15] taylorreece commented on #3515
It seems to not be an issue with just `file-loader`, but with webpack looking into other projects' node_modules directories in general for dependencies. Maybe the webpack config that Docusaurus uses to build is configured to look in all projects, rather than in the local project and root directory (in that order)?

[2020-10-02 14:18] slorber commented on #3445
Thanks @ThakurKarthik , that makes sense to me.

Also having some doc on how to run the site locally under https would be nice, maybe some links to how to generate the certs etc. Would also make it easier for me to review ;)

[2020-10-02 14:19] slorber commented on #3312
Thanks, so let's close as it seems related to your local permissions setup

[2020-10-02 14:19] #3312 closed

[2020-10-02 14:31] slorber commented on #1699
Thanks for all these infos @Saeris 👍

What I think we could do is:
- Use our docusaurus-init cli to create the `./codeSandboxTemplates/docusaurus-init` folder
- Add `./codeSandboxTemplates/docusaurus-init/sandbox.config.json`
- Ensure the template dependency versions are bumped when we release new versions to keep it up to date
- Have a command to "regen" the template from the docusaurus-init cli,

[2020-10-02 14:37] slorber commented on #3518
Hi,

Is this what you are looking for?

https://v2.docusaurus.io/docs/markdown-features/#calloutsadmonitions

[2020-10-02 14:45] slorber commented on #3372
Thanks, didn't notice but it seems my site does not have trailing slashes anymore :)

But anyway we should figure out a portable solution that works even on GithubPages where you don't have many hosting options to tweak... still believe that my initial proposal might be a better solution, need to find time to test this on multiple hosts.

For workarounds to override the permalink, you may be inter

[2020-10-02 14:59] lunelson commented on #3372
@slorber thanks, I'll take a look at that too. One thing about the router and this URL format issue that I haven't tested yet, is whether active link class matching will still work if the router paths are also forced to have trailing-slashes...

[2020-10-02 15:21] taylorreece commented on #3515
Temporary workaround: if you `nohoist` the docusaurus project, and remove all `node_modules` directories and run `yarn install` again, the problem goes away. You do get duplicated directories in dependencies, as all of the docusaurus project's dependencies are no longer shared, but that's better than builds failing 🤷

[code]

[2020-10-02 15:36] skr571999 commented on #3483
Hey @slorber ,

As u mention, in PR #3481 about the `posixPath()` , while I was debugging, I found that some of the **Test Cases** are failing because of not using this function while comparing the paths. So i tried by using it, then they are working fine.

**Question** 🤔

1- Should I send the PR after passing all the test cases or will it be fine to send the PR after passing the **Test Case** for

[2020-10-02 15:45] slorber commented on #3483
Hi @skr571999

Honestly I don't know exactly how this problem should be solved and if posixPath is the solution.

You can make a draft PR with some fixed tests but I guess the idea is that the PR tests should pass otherwise we can't merge it.

If you find a way to enable windows jest tests package by package we could merge it even if all windows test are not fixed, but having. all tests running on

[2020-10-02 15:48] skr571999 commented on #3483
ok

I will look .

[2020-10-02 16:05] Saeris commented on #1699
That sounds good to me! Let me know if you have any other questions and I'll do my best to come up with solutions.

[2020-10-02 17:23] #3342 closed

[2020-10-02 17:52] slorber opened #3528 "v2: Add themeConfig.noIndex option"
## Feature

v1 had a noIndex option: https://docusaurus.io/docs/en/site-config#noindex-boolean

Let's add it to v2 too!

Also need to:
- edit the migration doc: https://v2.docusaurus.io/docs/migrating-from-v1-to-v2/#removed-fields
- edit the migration cli to migrate correctly this config

There are scripts to easily test the migration cli, look at scripts `yarn test:v1Migration:migrate && yarn tes

[2020-10-02 18:27] imskr commented on #3528
I can fix this! @slorber

[2020-10-02 22:37] Southclaws commented on #3518
No I mean I want to take one of these and template it. We have the same text in 100 pages, authors either copy paste or write again (which leads to slightly different admonitions). Templates would allow us to write one commonly used admonition (or any other type of markup) and place it everywhere (presumably using MDX).

MediaWiki has this feature, it's called templates too https://www.mediawiki.o

[2020-10-03 04:14] michaelknowles commented on #3513
@slorber OK, I'll continue discussion on that issue.

[2020-10-03 04:22] michaelknowles commented on #2220
In that last design are you still thinking you want to keep the hamburger icon in the bottom right?

The bonus of using a design like NextJS's is that it's then trivial to add the back to top button.  We could just add it as pictured below (the red circle) without having to share that space with any other UI components.

![image](https://user-images.githubusercontent.com/738582/94983141-bd561a00-0

[2020-10-03 13:47] UmairKamran commented on #3505
Hey @slorber and @arinthros, I've opened the PR #3531 to fix this issue. Hope you get the chance to review it soon. :)

[2020-10-03 18:36] utkarsh867 commented on #3275
@slorber Is this issue still open?

@sarthakkundra and I would like to take this up as a good first issue.

We think that we may have a workaround for the issue to fulfil the motivation. It looks like the lines starting with `wds` are actually from weback-dev-server. So modifying those would be out of scope. As per the motivation, a simple solution would be to add an output with the website's corr

[2020-10-03 20:02] greghesp commented on #3487
@lex111 Did this make it into .65?  I've upgraded but still not got the dropdown

[2020-10-03 21:02] lex111 commented on #3487
@greghesp is this still relevant to you? I just opened your website that uses .65 https://assistantrelay.com/, and I see that dropdown is displayed correctly. Or is it something else wrong here?

[2020-10-03 21:07] greghesp commented on #3487
Ah i wonder if there was some caching or something.  All looks to be working on my end now too!

[2020-10-03 21:12] lex111 commented on #3487
It may well be, I suppose. But great that this issue was resolved anyway!

[2020-10-04 11:23] skr571999 commented on #3483
Hi @slorber

I Worked over the Tescases and now Status is

![image](https://user-images.githubusercontent.com/31756244/95013970-64f05b00-0661-11eb-9ffc-e19f0ba6330f.png)

But there is one Problem that due to some changes the Build is not Successfully running. Because to pass some test case I have made some changes in utils files which are breaking the Build.

Due to this Problem I am thinking that

[2020-10-04 18:45] sarthakkundra commented on #3030
@slorber The current classic template for version `2.0.0-alpha.65` doesn't seem to have a dropdown menu for the docs. The generated site does seem to have some JS but that's only to store the theme preference. Please correct me if I'm wrong in understanding the issue or if any other changes are required.

![docusaurus V-alpha  65](https://user-images.githubusercontent.com/52133994/95024253-7c4e390

[2020-10-05 03:23] aakhtar3 opened #3537 "Enable Hacktoberfest Topic"
## 💥 Proposal

Can an admin add a new topic for the repo?
This will need to be added for contributors to get credit for Hacktoberfest.

![95018156-d3b2c180-062b-11eb-9f04-3e5e2a7bc534](https://user-images.githubusercontent.com/16447834/95037296-87519b00-0698-11eb-95c0-30922e201ce1.png)

![95018159-dc0afc80-062b-11eb-91ba-287a8161ae62](https://user-images.githubusercontent.com/16447834/95037300-8ae

[2020-10-05 10:40] slorber commented on #3537
I've pinged @JoelMarcey as I don't think I can enable this myself.

Related link of the Hacktoberfest opt-in thing: https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-05 10:57] slorber commented on #3030
Hi @sarthakkundra

The generated site is not versioned so it does not have a versions dropdown.

The best is to make sure that our own website (that you can run with `yarn start:v2`) mostly works with JS disabled, as the dropdown is already there for you.

[2020-10-05 11:06] slorber commented on #3275
Thanks @utkarsh867 you can take this issue.

Your solution can be a workaround if it's not possible to modify the URL displayed by WDS

[2020-10-05 13:14] slorber commented on #3483
Hi,

The PR we merge shouldn't break existing tests on Linux.

However if you feel it's simpler to enable Windows tests package by package, I think it's better to have half the tests working on windows than all windows tests disabled. We can improve incrementally as long as the Linux behavior is not changed.

[2020-10-05 13:15] slorber commented on #3528
Yes @imskr thanks

[2020-10-05 13:20] #3505 closed

[2020-10-05 13:23] skr571999 commented on #3483
ok, Thanks @slorber

I will send the PR after some Test Cases Fix completely.

[2020-10-05 13:27] slorber commented on #3518
Hi,

You could write a Remark plugin to transform the input MDX to whatever you want.

For example:

[code]

Would become

[code]

But at the end of the day, your MD document ends up being transpiled to JSX, so you could as well write it in the 2nd form directly.

Note: you can import one MDX from the other too, see for example https://v2.docusaurus.io/examples/markdownPageExample#import-mdx-and-m

[2020-10-05 13:32] slorber commented on #3518
See also a simple remark plugin to do that for you:

https://github.com/angeloashmore/gatsby-remark-find-replace

(looks to me it can be used  without Gatsby)

[2020-10-05 13:55] slorber commented on #3515
Hi,

It seems it's not the webpack terserPlugin (that you can disable with the cli option) that is causing this problem, but rather the HTML minifier (not possible to disable atm).

https://github.com/terser/html-minifier-terser

It's worth checking with `yarn why` which version is actually used. We  run `html-minifier-terser@5.0.5` but maybe another version has a bug or something?

You could modi

[2020-10-05 16:00] utkarsh867 commented on #3275
@slorber From what I understand after reading up about WDS, the URL displayed in the console makes sense because it indicates that the WDS is running at the specific port.

[2020-10-05 16:00] slorber commented on #3320
Note, this was also used in v1 docusaurus site:

![image](https://user-images.githubusercontent.com/749374/95103206-a30a7f00-0734-11eb-9857-893c4b3524f7.png)

And it was linking to docs, with the ability to have a specific class when the doc sidebar is active, so I kept a similar API for v2.

[2020-10-05 17:17] slorber commented on #3275
@utkarsh867 yes it makes sense for WDS and I'm not sure we can do anything about it anyway. If we don't change anything it's not a big deal.

Maybe just showing "docusaurus website is running at http://localhost:8000/baseUrl" is good enough?

I'll let @maksnester tell you why he thinks it's important. For me now having the baseUrl printed by WDS has never been a big deal, but I may lack the perspe