[2018-09-07 20:32] at758 opened #948 "Meaningful name to represent 1000"
## 💥 Proposal

Can we add a meaningful name to represent what 1000 is?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Can we add a meaningful name for what 1000 is, its not super clear why the check (i++ < 1000) is needed and also this function seems to be doing a lot of things. Would be better t

[2018-09-07 21:04] bildungsroman opened #949 "Post div overflowing on several pages"
## 🐛 Bug Report

In several of my docs, Docusaurus is inserting a `<span>` on render that makes the element overflow onto the right-hand navigation - see screenshots:

<img width="1920" alt="screen shot 2018-09-07 at 1 55 02 pm 2" src="https://user-images.githubusercontent.com/5382821/45242652-ad33c800-b2a5-11e8-9306-7ddb1c1510c5.png">

<img width="1920" alt="screen shot 2018-09-07 at 1 55 07 pm 2

[2018-09-08 22:27] olafurpg commented on #448
A workaround for this issue is to post-process the anchor links in the html files generated by `yarn run build`. I wrote a simple transformation in Scala using Jsoup that does a few things (actual [code](https://github.com/olafurpg/sbt-docusaurus/blob/0130fe2ee4918b3bdd90944f6fa767c37d3035f1/plugin/src/main/scala/sbtdocusaurus/internal/Relativize.scala) and [test suite](https://github.com/olafurpg

[2018-09-09 10:00] #911 closed

[2018-09-09 12:17] ashwini0529 opened #950 "Sponsors logo broken"
## 📚 Documentation

The image addresses for sponsors shows **Not Found**

<img width="927" alt="screen shot 2018-09-09 at 5 44 34 pm" src="https://user-images.githubusercontent.com/8419333/45264311-515d7080-b458-11e8-8094-5bac1e697429.png">

Browser details:
Browser: Chrome
Version 69.0.3497.81 (Official Build) (64-bit)

[2018-09-09 23:32] #950 closed

[2018-09-10 01:10] JoelMarcey commented on #949
@fiennyangeln is planning to take this issue. Thanks 👍

We've added an `issue: claimed` label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let us know so that we can remove the label and free it up for someone else to claim.

We'll check in with you periodically so that we can keep the task updated with the progress.

[2018-09-10 06:47] endiliey commented on #948
@JoelMarcey ?

[2018-09-10 13:37] prithvi16 commented on #823
Should I go ahead with adding Pjax to Docusaurus @yangshun ?

[2018-09-10 15:20] fiennyangeln commented on #949
@JoelMarcey @bildungsroman Hi, do you still have this issue? I tried matching all the site config and copy the entry but still unable to reproduce
<img width="1701" alt="screen shot 2018-09-10 at 11 18 43 pm" src="https://user-images.githubusercontent.com/24544912/45306742-fa3ac700-b54f-11e8-8be1-609be9cfb441.png">

[2018-09-10 17:20] JoelMarcey commented on #948
I believe we chose this as an arbitrary number to limit the number of possible categories. 1000 seemed like a good upper limit before things just got unwieldy. 😄

@deltice -- do you recall if 1000 had greater significance here?

[2018-09-10 17:34] at758 commented on #948
Thanks, @JoelMarcey would be helpful to add a comment there or have a name that is good enough to communicate this message along.

`CATEGORY_COUNT_THRESHOLD` maybe?

[2018-09-10 17:38] JoelMarcey commented on #948
Sure. We can do that. Would you like to submit a PR @at758 ?

[2018-09-10 17:40] at758 commented on #948
Sure I can do that.

[2018-09-10 17:54] endiliey commented on #948
Upon seeing at the code closely, best if we re-write this. This is a matter of building categories from all the docs metadata.

Current implementation is inefficient.. quite surprised it's been there since initial commit.

Cc @yangshun

[2018-09-11 14:38] fiennyangeln commented on #949
@bildungsroman I cant still reproduce the issue, but based on my observation of your screenshot, it seems like you add a custom css to it. To verify, can you take a picture of:
 1. your custom css in `static/css/custom.css`
 2.your main css line 2323?
The way to do it would be to click on the red box I highlight below

<img width="1920" alt="45242652-ad33c800-b2a5-11e8-9306-7ddb1c1510c5" src="http

[2018-09-11 17:19] daKmoR commented on #940
for now I'm doing a manual merge afterwards...

e.g. I run docusauruns and storybook build separately and then have an additional step afterwards to merge and publish them...

it's a good enough workaround for me... still a pitty it doesn't work out of the box

PS: feel free to close it if you think it's something docusaurus should/will not support

[2018-09-11 17:52] endiliey commented on #940
Hey @daKmoR,

Sorry, I missed this.

I think this is related to https://github.com/facebook/Docusaurus/issues/525.
`Nested folder named "static" inside static files folder causes build error`

Same issue using storybook, but that issue didn't have any reproducible issue. So we'll use this issue instead.

**P.S: This will work on v2 (we will post a blog about it soon).**

[2018-09-11 20:33] marcote opened #955 "Error loading Docusaurus for the first time"
## 🐛 Bug Report

Error: Cannot find module '/Users/marcote/code/dev/test-pages/website/node_modules/docusaurus/lib/pages/website/'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.resolve (internal/modules/cjs/helpers.js:30:19)
    at removeModuleAndChildrenFromCache (/Users/marcote/code/dev/test-pages/website/node_modules/docusaurus/lib/server/server

[2018-09-11 23:31] #940 closed

[2018-09-12 14:33] JoelMarcey commented on #949
We will wait for @bildungsroman to respond and then see if we can continue on with this issue.

[2018-09-12 14:33] JoelMarcey commented on #929
@endiliey Is this still something we need to fix?

[2018-09-12 14:35] JoelMarcey commented on #852
@kevinbarabash Would love a pull request if you are willing? 👍

[2018-09-12 14:58] endiliey commented on #929
Upon my investigation, it's actually caused by not having CNAME -> hence instead of https://sumochallenge.org/blog it became facebookresearch.github.io/sumo-challenge/blog so the CSS breaks due to wrong baseUrl.

But I haven't seen sumo-challenge publish the website yet to see the CNAME set takes effect in gh-pages

[2018-09-12 18:03] #731 closed

[2018-09-12 18:39] endiliey commented on #955
I couldn't reproduce. See this 👇

https://asciinema.org/a/NK7STe6Q2RWGmqrSoHlGXJ13M

Please send a reproducible repo

[2018-09-12 18:56] marcote commented on #955
@endiliey
I'm starting to think is an environment issue. I wasn't able to repro in another laptop. I'll close it. Thank you!

[2018-09-12 18:56] #955 closed

[2018-09-12 22:01] rafaelmotaalves opened #957 "Installation Guide doesn't specify local installation commands"
## 📚 Documentation

The [Installation Guide](https://docusaurus.io/docs/en/installation#installing-docusaurus), doesn't specify the commands to install Docusaurus locally in the created project, this makes it a little confusing.

Those commands would be:

`npm install docusaurus-init --save`

`yarn add docusaurus-init`

Should i make a PR to correct this?

[2018-09-13 10:11] nathfreder commented on #957
I think it is already there.
https://docusaurus.io/docs/en/installation#installing-docusaurus

[2018-09-13 10:11] nathfreder commented on #957
I think that it is already in there @rafaelmotaalves. You can see it at this link.
https://docusaurus.io/docs/en/installation#installing-docusaurus

[2018-09-13 13:36] Azcatchi opened #958 "Access restriction by password protection"
## 🚀 Feature

I want to make a wiki for my enterprise, but it would contain some sensitive information as well. I need some kind of restriction that only allows authenticated users to read the wiki contents. Could you please consider this request to allow us protecting our wiki ? Thanks in advance.

[2018-09-13 14:03] wszgxa commented on #947
Hi, @bildungsroman

I have tried it, the video will show liks this:
![screen shot 2018-09-13 at 9 56 15 pm](https://user-images.githubusercontent.com/6060475/45492893-0a48e580-b7a0-11e8-86ab-cac74abc157c.png)

I guess you video source url is incorrect. You can try to move your video file to `/website/static/video`. Add a `/` before you video src url:
[code]

But the video's style is not so good, I

[2018-09-13 16:10] endiliey commented on #947
Great point by @wszgxa. Thank you for helping to look into this. Awesome 😄

I shall close this issue because this is caused due to wrong source

[2018-09-13 16:10] #947 closed

[2018-09-13 16:50] kevinbarabash commented on #852
Cool!  I'm not sure when I'll be able to get to this, but hopefully before the end of the year. 🤞

We were looking at building a custom documentation tool because of this requirement as well as others.  I'd rather augment an existing tool than build something from scratch though. 🙂

[2018-09-13 21:02] samg commented on #823
Here's something of a hack I put together to address this on my own docusaurus site.

I load the following code in a script, using the `scripts` parameter in `siteConfig.js`.

[code]

This code checks to see if
* is an active nav item in the sidebar?
* if so is it scrolled outside the viewport?
* if so scroll the nav item into view and then scroll the document to the top (to avoid having other con

[2018-09-14 06:32] saranshkataria commented on #906
Is this up for grabs?

[2018-09-14 09:31] endiliey commented on #906
@saranshkataria yup. Send a PR in

[2018-09-14 09:49] prakhar-goel commented on #822
Same here.

[2018-09-14 12:32] #906 closed

[2018-09-14 12:33] yangshun commented on #822
@prakhar-goel Please provide steps for reproducing this issue and we can look into it 😄

[2018-09-14 12:58] chenglou opened #960 "Highlightjs custom highlighting config ignored in production"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. In `siteConfig.js`, in the `highlight` field, add this:
[code]
    where `reasonHighlightJs` is an existing callback that adds a new highlighter.
1. Run dev, see that the custom highlighting works

## Expected

[2018-09-14 17:28] endiliey commented on #960
As far as I'm aware, the only place where we define the highlightjs is only on that file. I checked the git blame and it seems that it has been like this since the initial release.

I think the patch is the correct way to do it. I implemented it this way for v2, although it seems that I didn't port it back to v1 😆

[2018-09-16 00:11] chenglou commented on #789
I really hope that Docusaurus can keep its initial simplicity; v2 sounds nice but there are several things I'm slightly worried about. By simplicity, I mean _both_ the interface and implementation (I'll explain why I care about the latter, aside from being an occasional contributor/debugger myself, at the end). Docusaurus' rather solid, that and the crowdin support are the two reason why we switch

[2018-09-17 07:21] testeratrsa opened #965 "Sidebar title and doc title don't change after updating it in file (2)"
## 🐛 Bug Report
yes

(A clear and concise description of what the bug is)
Sidebar title and doc title don't change after updating it in file

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

We guys tried to update the title of a markdown file but we can't do it. For the previo

[2018-09-17 14:42] fiennyangeln commented on #858
Hi I'd like to work on this

[2018-09-17 16:56] endiliey commented on #965
Should be fixed by https://github.com/facebook/Docusaurus/pull/917
Please upgrade your Docusaurus 😃

[2018-09-18 03:08] sunnylqm commented on #858
@fiennyangeln Here is my implementation which is quite rough https://github.com/reactnativecn/react-native-website/blob/production/cnwebsite/scripts/create-version.js  just for your reference

[2018-09-18 14:46] fiennyangeln commented on #858
thanks 😄 @sunnylqm

[2018-09-18 15:10] yangshun commented on #858
@fiennyangeln I'd recommend working on this feature in v2 instead with @endiliey. v2 code is now in the repository 😄

[2018-09-18 15:22] rishacha commented on #960
Hi, can I attempt this ?

[2018-09-18 15:52] cooltrooper opened #969 "PDF Download"
## 🚀 Feature

The ability for users to download an offline version of the document.

This would be ideal as a PDF with title page and table of contents.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Interested in using this as a documentation solution for client producs but PD

[2018-09-18 16:45] bildungsroman commented on #949
@JoelMarcey @fiennyangeln Sorry for not responding, I was out on holiday all last week.

Yes, I did add custom CSS and have been having a hard time in general getting it to overwrite the defaults in Docusaurus.

Unfortunately, when compiled by Docusaurus, the CSS is merged so line 2323 in `main.css` does not correspond with my line 2323 in `custom.css`, which is just setting an unused `.border-col

[2018-09-18 16:46] bildungsroman commented on #947
Thank you, @wszgxa!

[2018-09-19 00:57] deltice commented on #948
Yeah, I think this was just arbitrarily chosen and I may have forgotten about it as I continued working on the features. 😬 I don't believe there's any special about it.

[2018-09-19 04:56] rizafahmi commented on #853
Can I claim this issue?

[2018-09-19 16:48] muuvmuuv opened #971 "CLI: Option to choose which browser to open"
I'm using Firefox Developer Edition as my primary developing browser and when I do the `docusaurus-start` it opens my Firefox for private use only.
It would be nice to have somewhere an option to set the browser/browser path of choice.

[2018-09-19 16:51] muuvmuuv commented on #789
+1 for [Gatsby.js](https://www.gatsbyjs.org). This would make Docusaurus so flexible and modular

[2018-09-19 16:59] muuvmuuv opened #972 "More options for prism or any other hljs alternative"
## 🚀 Feature

I would like to use plugins for prism.js instead of highlight.js to have options like `line-numbers`or `invisible-characters`. It would be very useful for some docus.

## Pitch

In our project, we have many CLI commands and examples for different languages. Most of them have invisible changes that the user can not see and will be confused about, another thing is that user may want to

[2018-09-19 19:30] JoelMarcey opened #973 "Update to sumo-challenge.org works locally but not when published"
## 🐛 Bug Report

The sumo-challenge folks want to update their current website. But they are having problems. Their latest site is in `master`, but they cannot publish it. https://sumochallenge.org is still the old site.

Running the new, updated Docusaurus site for it locally works fine. When published as-is, it breaks with a continuous redirect.

### Have you read the [Contributing Guidelines on

[2018-09-20 04:42] testeratrsa commented on #965
I tried installing the newer version of Docusaurus (1.4.0) but still, I faced the same issue.
So I copied the title syntax from other markdown files which is working fine. And pasted it in issue throwing markdown file
Boom, Issue was solved. The syntax we have used have no differences. Why it did not work for the first time? and why it is worked for the second time? I don't get it.

[2018-09-20 05:13] endiliey commented on #965
Could be caching issue. Hard to tell without any reproducible repo. I'm closing this.

[2018-09-20 05:13] #965 closed

[2018-09-20 05:30] endiliey commented on #973
Caused due to incorrect site setup/ config

[2018-09-20 05:30] #973 closed

[2018-09-20 07:40] sunnylqm commented on #789
Can we have a roadmap for v2 like this? https://github.com/react-navigation/react-navigation/issues/4434  @yangshun

[2018-09-20 09:41] #972 closed

[2018-09-20 19:37] haraldur12 commented on #969
Could we use something like `react-pdf` ? I might be able to take a look at it.

[2018-09-20 22:19] cooltrooper commented on #969
Sorry I may have explained poorly. I believe react-pdf will render pdf's on the webpage. What I'm thinking would be a way to export your documents to a pdf as an additional format.

[2018-09-21 07:57] #929 closed

[2018-09-21 09:45] endiliey commented on #932
This is caused due to imagemin dependency on Docusaurus. I think the right place to file the issue is at https://github.com/imagemin

[2018-09-21 09:45] #932 closed

[2018-09-21 18:32] bildungsroman commented on #582
@yangshun Has any progress been made on this issue? I'm trying to do something similar with the following code in my `index.js`:

[code]

[2018-09-21 18:59] haraldur12 commented on #969
We could also achieve this with html2canvas module I think. There are a few ways to do that. However I am not sure which one would be the optimal way. If there is interest in it I assume I could take a look.

[2018-09-22 08:07] endiliey commented on #960
@rishacha sure, send a PR in 👍

[2018-09-25 15:36] huguestennier opened #981 "Live reload sidebars.json"
## 🐛 Bug Report

Live reload is working fine for `.md`s, but is it possible to make it work with `sidebars.json` ?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yep

## To Reproduce

1. Run `yarn start`
2. Update `sidebars.json`

## Expected behavior

I want the page to reload - not have to stop

[2018-09-25 15:53] hsluoyz opened #982 "Code block with language tabs"
## 🚀 Feature

Code block with language tabs

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

[My project](https://casbin.org/) is a library. It supports four languages: Golang, Java, PHP and Node.js. So I need to show code in multiple languages in my documentation.

## Pitch

I a

[2018-09-25 18:04] endiliey commented on #982
There is the problem of syntax though. How do we divine code block with language tabs ? :o

[2018-09-26 00:54] hsluoyz commented on #982
A way to do it is to extend the markdown grammar to support it. Like said [here](https://github.com/facebook/Docusaurus/issues/103#issuecomment-398252765), the text of the code block should be self-contained in the markdown instead of using external files. Then maybe we need to patch the markdown parser to support this new grammar. Javascript is then used to render it.

However, modifying markdown

[2018-09-26 15:19] JoelMarcey opened #983 "Add more details about versioning to the README"
## 📚 Documentation

Similar to what Babel did in https://github.com/babel/website/pull/1814

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2018-09-26 15:48] endiliey opened #984 "Upgrade to Babel 7"
## Motivation

Upgrade to Babel 7 as there are lot of breaking changes on that.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

People said Babel 7 is faster :)

[2018-09-26 16:29] sanzhardanybayev opened #985 "Content aligning breaks at IE v.11"
## 🐛 Bug Report

When you open **Documentation page** , layout breaks.
![image](https://user-images.githubusercontent.com/13291424/46094383-97962c00-c1db-11e8-9bed-df21a88c936c.png)

[2018-09-26 16:39] Atul9 commented on #983
I would like to work on this

[2018-09-26 16:40] yangshun commented on #983
@Atul9 it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-09-26 17:03] Atul9 commented on #983
@yangshun @JoelMarcey I have opened up a PR - #986

[2018-09-26 17:16] JoelMarcey commented on #776
@sbansal3096 is planning to work on this either for v1 or v2.

@endiliey @yangshun - are we planning on offering a local search implementation for v2. Or just a pluggable infrastructure for search?

[2018-09-26 17:18] endiliey commented on #776
Just pluggable search box. I think he can try it on v1, the main implementation part is on building the docs index.

[2018-09-26 19:27] MoogyG opened #987 "Add Elasticsearch"
## 🚀 Feature

Is it planned to add elasticsearch as an Algolia alternative ?

It would make the product full featured for internal IT documentation!

[2018-09-27 20:25] alkshendra opened #988 "UI issues with search input/results [responsive mode]"
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce
1. Go to any page on the docusaurus website
2. Resize screen < 1024px
3. Type anything in the search bar

## Expected behavior

Search results with a good UX.

## Actual Behavior

Issues when you type anything in the search bar, a

[2018-09-28 01:30] wszgxa commented on #928
Hi, @notjaril

Do you still work on this one?

[2018-09-28 07:08] #385 closed

[2018-09-28 07:08] #988 closed

[2018-09-28 08:48] pbares opened #990 "Customizable Head.js"
## 🚀 Feature

Currently, we can [customize the site footer](https://docusaurus.io/docs/en/custom-pages.html#customizing-your-site-footer). Would it be possible to also customize [the site header](https://github.com/facebook/Docusaurus/blob/master/v1/lib/core/Head.js)?

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#report

[2018-09-28 08:49] hsluoyz opened #991 "Got 404 for all translations on: https://docusaurus.io"
I want to see how Docusaurus implements its own translation as a reference, but what I found is that all translations of official website: https://docusaurus.io is down, all 404. For example: https://docusaurus.io/docs/zh-CN/installation

![image](https://user-images.githubusercontent.com/3787410/46198133-50747c00-c33e-11e8-89ab-9a1853a40d6e.png)

[2018-09-28 09:44] Haroenv opened #992 "Slightly too much padding around the docsearch logo"
## 🐛 Bug Report

The DocSearch logo has slightly too much padding around it, especially by the bottom.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

(Write your steps here:)

1. go to any docsearch page
1. make sure it has #989 deployed
1. see it's overly spaced

## Expecte

[2018-09-28 09:57] alkshendra commented on #992
This issue is fixed in #989, missed to mention it in my PR

[2018-09-28 10:00] Haroenv commented on #992
I trust you did that :) 🚀

[2018-09-28 10:00] #992 closed

[2018-09-28 10:29] endiliey commented on #990
Implemented in v2. We use react-helmet on v2.

Read more about it at https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2

[2018-09-28 10:29] #990 closed

[2018-09-28 10:41] endiliey commented on #991
[code]

[2018-09-28 10:52] #991 closed

[2018-09-28 11:00] endiliey commented on #991
Shall be fixed after this https://circleci.com/gh/facebook/Docusaurus/3297 is done

[2018-09-28 12:45] pbares commented on #990
Wow I miss that one, thanks !

[2018-09-28 12:54] endiliey commented on #990
By the way could you elaborate more on the limitation ?

[2018-09-28 13:14] hsluoyz commented on #991
I conformed that it's fixed. Thanks!

[2018-09-28 13:15] endiliey commented on #991
Thanks for reporting. Completely missed it.

[2018-09-29 18:28] yangshun opened #996 "[M2] Create New React components to scaffold a page on v2 - Docs"

[2018-09-29 18:28] yangshun opened #997 "[M2] Create New React components to scaffold a page on v2 - Page"

[2018-09-29 18:30] yangshun opened #998 "[M2][Blog] Blog RSS Feed"

[2018-09-29 18:30] yangshun opened #999 "[M2] Create basic theme"

[2018-09-29 18:30] yangshun opened #1000 "[M2] Create New React components to scaffold a page on v2 - Footer"

[2018-09-29 18:30] yangshun opened #1001 "[M2] Create New React components to scaffold a page on v2 - Blog"

[2018-09-29 18:32] yangshun opened #1002 "[M2][Blog] Basic Components - BlogNavigation"

[2018-09-29 18:32] yangshun opened #1003 "[M2][Blog] Basic Components - BlogPost"

[2018-09-29 18:32] yangshun opened #1004 "[M2][Blog] Basic Components - BlogPage"

[2018-09-29 18:33] yangshun opened #1005 "[M2][Blog] Render blog-specific frontmatter"

[2018-09-29 18:33] yangshun opened #1006 "[M2][Blog] Implement truncation marker functionality"

[2018-09-29 18:34] yangshun opened #1007 "[M2][Blog] Allow configuring the number of items on each page"

[2018-09-29 18:36] yangshun opened #1008 "[M2][Nav] Header links functionality"

[2018-09-29 18:36] yangshun opened #1009 "[M2][Nav] Secondary on-page nav"

[2018-09-29 18:36] yangshun opened #1010 "[M2] Sitemap"

[2018-09-30 13:54] SimenB opened #1011 "Allow custom links in ToC"
## 🚀 Feature

E.g. when writing API documentation, there might be aliases between functions. It would be nice to have them listed in the ToC at the top of a file for easier discoverability.

See https://github.com/facebook/jest/issues/5061

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

## Mot

[2018-10-01 11:47] sanzhardanybayev commented on #985
Kind of stupid bug, as who the hell uses IE in 2018? 😂 Especially developers 👨‍💻👩‍💻

[2018-10-02 09:08] mattkanwisher opened #1014 "Markdown doesn't render in OgDescription (metadata)"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. curl https://loomx.io/developers/docs/en/phaser-sdk-demo.html
2. You can see ```
<meta property="og:description" content="![Game screenshot](/developers/im

[2018-10-03 15:58] JoelMarcey commented on #776
@endiliey Do you mean he should only index `*.md` files and not worry about trying to index React pages, etc? If so, I think that is ok. I think @sbansal3096 should use an off the shelf indexer like lunr.js and run with that.

[2018-10-03 16:01] JoelMarcey opened #1015 "Last Updated Time Misleading"
## 🐛 Bug Report

The last updated time is misleading and possibly wrong. We don't want to take into account versioning in last updated -- only content changes. Also, the folder move to `v1` and `v2` might have made things out of whack a bit.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

##

[2018-10-03 16:02] JoelMarcey commented on #1015
@yangshun - do you agree that the times are misleading?

I am going to assign this to @fiennyangeln as part of her work on #980. She can fix this and use that same fix to put the last contributor of each document.

[2018-10-03 16:05] yangshun commented on #1015
Yes, I agree they are misleading, but they are not technically wrong, because moving a file is indeed updating it strictly speaking.

I'm not sure how else we can do better. Perhaps we can find the latest commit where it's not a movement but a modification.

[2018-10-03 16:08] JoelMarcey commented on #1015
Exactly. I chatted with @fiennyangeln this morning and that is exactly what she was going to look at doing. I think that would be more useful information to someone reading the docs.

[2018-10-03 17:19] JoelMarcey commented on #789
@chenglou Thank you so much for your thoughtful feedback. I am in 100% agreement with your overall premise that Docusaurus needs to be true to its original charter of "easy and simple" for open source websites. I believe the v2 leads, @endiliey and @yangshun, understand that and believe that too.

The `v2` folder has been added to the repo so we can keep tabs on the progress of the implementation.

[2018-10-04 02:37] fiennyangeln commented on #1015
@yangshun I feel like currently even if it's not moved, it will show the time when we start a new version, not when the content last changed before we create the version

[2018-10-05 12:55] ishanmihir19 commented on #323
@zack9433 Can you point which settings you changed to fix this issue. I seem to have run into the same issue.

then this is likely a bug in Docusaurus. Docusaurus thinks one or both of translations (currently set to: false) or versioning (currently set to: true) is enabled when maybe they should not be.
Thus my internal id for this doc is: 'version-1.4-designer-guide/introduction'. Please file an

[2018-10-08 08:09] #410 closed

[2018-10-08 08:09] #948 closed

[2018-10-08 08:15] #984 closed

[2018-10-08 08:16] #960 closed

[2018-10-08 11:48] ishanmihir19 commented on #466
+1

[2018-10-08 11:53] prudhvireddy123 commented on #466
I have implemented, search with Elastic lunar and node js for one of our internal sites. I will share the code tonight. That may be helping.

[2018-10-08 16:38] JoelMarcey commented on #466
Just as an FYI - @sbansal3096 is working on this as part of https://github.com/facebook/docusaurus/issues/776.

This is actually a duplicate issue.

Please follow #776 for updates.

[2018-10-08 18:03] #949 closed

[2018-10-08 18:11] bildungsroman opened #1024 "highlight nav item in onPageNav ToC when scrolling (add scrollspy)"
## 🚀 Feature

Highlight the current section in the onPageNav ToC that the reader has scrolled to, either by a background color or bold or adding a customizable CSS class.

Basically, the way scrollspy works in Bootstrap.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup.

## Motivation

If a page

[2018-10-08 22:27] alexdriedger opened #1025 "Throw better error for missing arguments on publish script"
## 🐛 Bug Report

I am trying to publish my site on Windows and `yarn run publish-gh-pages` and `npm run publish-gh-pages` fail in the same place

I have push access to the repository and can push from the command line.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Initia

[2018-10-09 06:45] tanhauhau commented on #436
Hi, how is the issue? i see it's a `good first issue`, can i take on it?

[2018-10-09 11:31] endiliey commented on #1025
Check the docs. https://docusaurus.io/docs/en/publishing#docsNav

You need to set several environment variable as well.

Example:

[code]

[2018-10-09 11:33] endiliey commented on #1025
Will be accepting PR for this so that the correct error can be thrown.

Related files are https://github.com/facebook/Docusaurus/blob/master/v1/lib/publish-gh-pages.js

[2018-10-09 14:36] JoelMarcey commented on #436
Hi @tanhauhau - sure. You can own this, thank you! I would make sure you keep in coordination with  https://github.com/facebook/Docusaurus/pull/946#issuecomment-428159560 as we are creating tabs for this page. But the content of the siteConfig Fields section can be modified as well.

We've added an `issue: claimed` label so that others will know not to start work on the issue. If you change your m

[2018-10-10 00:15] machikoyasuda commented on #823
@samg Thank you for your tip! 🎉 I am using it here: https://github.com/reactioncommerce/reaction-docs/pull/686, scrolling through over 130+ docs or so. Great to learn about https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView

[2018-10-10 15:46] areohbe commented on #871
Nesting works fine for `*.md` files, but I am unable to link to any static assets in a bundled directory.

I've tried in a assets subdirectory `docs/foo/assets/bar-example.png` and in the root directory `docs/foo/bar-example.png`.

Is this supported?

[2018-10-11 08:17] alexdriedger opened #1029 "No CSS on Published Site to GitHub Pages"
## 🐛 Bug Report

I tried initializing a project and publishing it to GitHub Pages and the page has no CSS.

![image](https://user-images.githubusercontent.com/21183154/46789563-97288580-ccf1-11e8-807a-cfe89bc5abc7.png)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Node 8.11

[2018-10-11 12:19] endiliey commented on #1029
The `baseUrl` in siteConfig should be set as `ModdingSlayTheSpire`.

Otherwise it will try to request css file from alexdriedger.github.io instead of alexdriedger.github.io/ModdingSlayTheSpire

Feel free to reopen if it doesnt work

[2018-10-11 12:19] #1029 closed

[2018-10-11 12:22] endiliey commented on #1024
https://getbootstrap.com/docs/4.0/components/scrollspy/#fat

[2018-10-11 12:27] alexdriedger commented on #1029
`baseUrl` needed to be updated to `/ModdingSlayTheSpire/` AND `url` needed to be updated to `https://alexdriedger.github.io`. I'll submit a PR to update the docs to include those changes

[2018-10-11 15:42] tanhauhau commented on #1008
this sounds like something i can do, @yangshun can help explain more?

[2018-10-11 16:49] bildungsroman commented on #1024
I know you can use Bootstrap and implement it that way, but for various reasons we didn't want to have to import Bootstrap just for one feature.

This solution ended up working for me - it could be incorporated into Docusaurus 2.0 quite simply IMO: https://github.com/Khan/KaTeX/pull/1557/files

[2018-10-11 16:56] yangshun commented on #1008
@tanhauhau Thanks for your interests! Sorry at the moment these v2 tasks are not up for grabs from the community as many things are still in flux. We'll open these up soon enough once v2 is more stable.

[2018-10-12 18:39] ravennasoftware commented on #848
This appears to be available again. Can I snag it? Should have some time this weekend.

[2018-10-13 02:02] endiliey commented on #848
@ravennasoftware, sure.

Send a PR in. Best asap so we can release 1.5 along with it

[2018-10-13 02:17] endiliey commented on #848
My bad. #937 should have closed this

[2018-10-13 02:17] #848 closed

[2018-10-13 04:14] tanhauhau commented on #1025
@endiliey I would like to work on this

[2018-10-13 04:47] yangshun commented on #1025
@tanhauhau it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-10-13 12:35] #436 closed

[2018-10-13 19:54] yangshun commented on #823
@prithvi16 Sorry for the late response. I think making pjax an opt-in feature would be really cool! Not sure how much work it involves but if it can be easily turned off/on we're keen to have it. Otherwise, the hack/tip by @samg works ok as well.

[2018-10-13 20:34] yangshun commented on #971
Just tested using `process.env.BROWSER` in the CLI via

[code]

and it indeed opened up in Firefox. Docusarus wouldn't need to implement this, instead we could add this tip to the documentation instead. This task is up for grabs!

[2018-10-14 03:09] prithvi16 commented on #823
Okay. Thank you for the response. Will submit a PR by the end of the week.

On Sun, Oct 14, 2018 at 1:24 AM Yangshun Tay <notifications@github.com>
wrote:

--

- Prithviraj Sukale

[2018-10-14 09:48] tanhauhau commented on #1025
I couldn't replicate the exact error
[code]
but I see it's not complaining correctly by not requiring me to set `GIT_USER`

[2018-10-14 13:16] tanhauhau commented on #1024
@endiliey can i work on this?

[2018-10-14 19:27] #1025 closed

[2018-10-14 19:28] #971 closed

[2018-10-14 19:30] yangshun commented on #1024
@tanhauhau it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-10-14 21:09] #1015 closed

[2018-10-14 22:06] yangshun commented on #568
@ahmadalfy How's your progress for this task? Let us know how we can help. If you are no longer available for this task, just let us know and we can free it up for someone else. Do keep us updated 😄

[2018-10-14 22:07] yangshun commented on #928
@notjaril How's your progress for this task? Let us know how we can help. If you are no longer available for this task, just let us know and we can free it up for someone else. Do keep us updated 😄

[2018-10-14 22:08] yangshun commented on #926
Closed by #936

[2018-10-14 22:08] #926 closed

[2018-10-14 22:09] yangshun commented on #853
@rizafahmi How's your progress for this task? Let us know how we can help. If you are no longer available for this task, just let us know and we can free it up for someone else. Do keep us updated 😄

[2018-10-14 22:13] yangshun commented on #458
@Happy-Ferret Due to inactivity, I'll be removing the "issue: claimed" label and making this issue up for grabs.

[2018-10-14 22:13] yangshun commented on #827
Removing the "issue: claimed" label due to inactivity.

[2018-10-14 22:34] yangshun commented on #958
@Azcatchi As Docusaurus generates static content, there's no way for Docusaurus to add auth restrictions. This has to be done on the web server layer which is beyond the scope of Docusaurus. I recommend that you look up the docs for adding auth to the web server you are using or put your contents behind a VPN.

Closing this issue as it's out of scope.

[2018-10-14 22:34] #958 closed

[2018-10-14 22:35] yangshun commented on #981
I agree this is something we should have, but I think making this work is not that easy. PRs are welcome!

[2018-10-14 22:38] yangshun commented on #957
When you do `docusaurus-init`, the generated files will include `docusaurus` in `package.json`. Only the person who initializes docusaurus will need to have `docusaurus-init`, to scaffold the project. From there on, other users just have to do `npm/yarn start`. Is there any confusion here?

Closing this issue as there doesn't seem to be anything wrong with the installation docs. feel free to reope

[2018-10-14 22:41] yangshun commented on #939
This would be helpful and a PR to add this to v1 would be nice but currently we're focused on working on v2. We'll make this possible in v2.

[2018-10-15 00:59] flovilmart commented on #939
Do you want me to proceed with the original PR or is v2 advanced enough that this isn’t something anyone want to merge and maintain. I don’t mind either

[2018-10-15 02:34] rizafahmi commented on #853
Hi @yangshun, I have some difficulties. **Just free it up**. If I can pull it through, I will reclaim if it's not already claimed.

[2018-10-15 04:15] yangshun commented on #939
Thanks, I think we'll focus on development efforts in v2 for now 😄

[2018-10-15 13:57] M4rk9696 commented on #853
Can I claim this?

[2018-10-15 16:19] fiennyangeln commented on #103
Hi I'm interested in this issue. Is it an appropriate bug to work on?

[2018-10-15 16:20] JoelMarcey commented on #853
We've added an `issue: claimed` label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let us know so that we can remove the label and free it up for someone else to claim.

We will check in with you periodically so that we can keep the task updated with the progress.

[2018-10-15 18:15] bildungsroman commented on #1024
@tanhauhau Thank you! This is how we ended up implementing it, if you need an example: https://docs.stackery.io/docs/using-stackery/dashboard/

[2018-10-15 19:10] aenuros opened #1039 ""Copy Code to Clipboard" Not Available at Start"
## 📚 Documentation

I installed Docusaurus per the instructions on the [installation page](https://docusaurus.io/docs/en/installation). I noticed that all the code blocks on the Docusaurus site and the example sites had a button on the upper right corner that you could click on to copy the code. However, when I created docs in markdown using the three backticks, the "Copy" button did not appear on

[2018-10-15 21:29] JoelMarcey opened #1040 "Add name of user underneath logo on users page"
## 🚀 Feature

Show name of project in addition to logo on showcase page.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Better user experience when reading our docs.

## Pitch

Right now we have a users' page for those projects who use Docusaurus and have asked to be or agreed

[2018-10-15 21:35] JoelMarcey commented on #1024
@bildungsroman - Hi. Unrelated to this issue, but I am curious if you are willing to put stackery.io on our user showcase page? https://docusaurus.io/en/users

[2018-10-15 21:35] yangshun commented on #1040
Would be good to add this feature to the generated starter project as well 🤔

[2018-10-15 22:01] bildungsroman commented on #1024
I'd love to! Should I open a PR to do that?

[2018-10-15 22:03] JoelMarcey commented on #1024
Absolutely. Please do.

[2018-10-15 22:44] mptap commented on #1040
@JoelMarcey Have raised PR for this: https://github.com/facebook/Docusaurus/pull/1043. Suggestions welcome!

[2018-10-16 11:51] ahmadalfy commented on #568
My bad I got hooked with other stuff. Give me one more trial this week and I will get it done

[2018-10-16 14:03] hsluoyz commented on #982
Hi, any update on this issue? @endiliey  @yangshun

GitBook and readthedocs already support this feature:

1. GitBook: https://github.com/GitbookIO/plugin-codetabs

![image](https://user-images.githubusercontent.com/3787410/47021726-94fd7580-d18e-11e8-810d-d50b1e73a5c6.png)

2. readthedocs: https://sphinxcontrib-contentui.readthedocs.io/en/latest/tabs.html

![image](https://user-images.githubuserc

[2018-10-16 17:15] JoelMarcey commented on #982
@hsluoyz - we have a [pull request in review](https://github.com/facebook/Docusaurus/pull/946) that can add tabbing to a docs page. I imagine we could repurpose the final version of that to do something similar to what is being asked for here.

[2018-10-17 09:06] woollybah commented on #1039
I also saw the Copy buttons and thought it would be a nice feature to add to my site too.
I ended up trawling through the Docusaurus sources to find all the bits I needed. Some documentation or a configuration option to enable it would be useful, I think.

It may also be worth adding something like the following to `code-blocks-buttons.css`, to remove the unsightly blue border that appears around

[2018-10-17 14:39] aenuros commented on #1039
I've whipped up a [very quick guide](https://gist.github.com/aenuros/443a6f50cd72e5b7eab29331dee03219) to adding the "Copy Code to Clipboard" button in. I am not sure where in the Guide organization it would belong. I was thinking Guide > Custom Pages, but I don't know if that's the best location for it in the guide.

Perhaps all this will come by default in [Docusaurus V2](https://docusaurus.io/b

[2018-10-17 15:49] sinodko commented on #1014
Is this issue free? I would like to look at it.

[2018-10-17 15:52] JoelMarcey commented on #982
@hsluoyz Also see #103 - as part of that, we are looking to adding code tabs too.

[2018-10-17 15:53] JoelMarcey commented on #103
@fiennyangeln - I think this is quite appropriate. Language Toggling would be great and a feature that people really have asked for. And anything else you feel could improve the code blocks too.

I will mark this issue as claimed by you 😄

[2018-10-17 16:15] yangshun commented on #1014
@sinodko it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-10-18 11:47] hsluoyz commented on #982
@JoelMarcey  Thanks!

Never thought the PR will be so fast! We are really looking forward to this feature! I will test it first when the feature is ready :)

[2018-10-18 15:10] Zwitty commented on #969
It might be possible to generate PDFs during the build using something like [pandoc](https://pandoc.org/) and then serve them with the document.

[2018-10-18 19:29] cooltrooper commented on #969
Concatenate markdowns, parse with pandocs to pdf?

[2018-10-19 08:10] sinodko commented on #1014
Hello @endiliey, If I've understood you correctly, raw HTML should be rendered here instead of markdown text. Am I right? Thanks :)

[2018-10-20 04:13] syn228 commented on #827
Could I try taking on the issue? I'm looking for an opportunity to contribute to an open source project for the first time!

[2018-10-20 05:00] SleepWalker commented on #827
Hello @syn228, I was busy a few weeks, but I want to finish with the issue, I've claimed.. I'm planning to return to this issue today or tomorrow.

[2018-10-20 06:04] endiliey commented on #827
#892 and #1026 should be super related to this

Sidebar item - subcategory
[code]

Sidebar item - url/href
[code]

Sidebar item - doc id (default)
[code]

Eventually we have

[code]

[2018-10-20 14:05] SleepWalker commented on #827
@endiliey, I've come up with the following format:

[code]

* `doc` — low level name for simple link to doc
* `ref` — link to some docId, but without binding this doc to current sidebar
* `link` — the type used to render any link in sidebar (doc and ref are converted to this type too). Should contain `href` and `label` fields
* `category` — category :) should contain `label` and `items` fields (I

[2018-10-20 18:14] SleepWalker commented on #827
@yangshun should this feature implemented for v1 too? I've read, that you're not accepting new features for v1

[2018-10-20 18:17] SleepWalker commented on #868
re-claimed :)

[2018-10-21 02:01] yangshun commented on #827
@SleepWalker If it's easy to support this for v1, I think we should do it. Seems like it should be doable on v1 too.

[2018-10-21 02:08] yangshun commented on #868
@SleepWalker it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-10-21 02:18] yangshun commented on #827
@syn228 Sorry about this, could you try looking for other issues to work on? Facebook has other open source projects as well which would be glad to receive your contributions.

[2018-10-21 04:40] #853 closed

[2018-10-21 04:40] yangshun commented on #853
Closed by #1049

[2018-10-23 10:55] endiliey commented on #101
Implemented in `v2`

This is how it works

https://github.com/facebook/Docusaurus/blob/5d60739f7c9263f3f8142f27c85b0180eeb1f19f/v2/lib/load/docs/metadata.js#L117-L134

[2018-10-23 10:55] #101 closed

[2018-10-23 11:19] Danon commented on #323
If I have a directory structure like this
[code]
Then in my `sidebars.json`, I need to put links like so:
[code]
which is fine for me.

My question is, what should `id`s of those `about.md` and `introduction.md` be? Can they be duplicated, each within different subdirectory? For example `Feature1/about` and `Feature2/about`?

[2018-10-23 11:30] endiliey commented on #323
@Danon yup. Because internally at Docusaurus their id will be `Feature1/about` and `Feature2/about`. So the id is namespaced.

Feel free to ping us on discord instead since GH issue reply might not be as fast

[2018-10-23 11:30] Danon commented on #323
What's your discord?

[2018-10-23 11:31] #981 closed

[2018-10-23 11:32] yangshun commented on #323
@Danon https://discordapp.com/invite/docusaurus

[2018-10-23 12:33] endiliey commented on #586
Implemented in v2.

[2018-10-23 12:34] endiliey commented on #439
Implemented in v2

[2018-10-23 12:34] #439 closed

[2018-10-23 12:35] endiliey commented on #806
Yes. But only in v2.

Coming soon

[2018-10-23 12:35] #806 closed

[2018-10-23 16:57] ericnakagawa opened #1059 "Better integration with docgen tools"
## 🚀 Feature

Add support for running Sphinx doc generation

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This support would allow building docs for Python projects like PyTorch.

## Pitch

Automatically allow configuration for running sphinx doc build steps when building a Do

[2018-10-23 23:56] SilleBille opened #1060 "Add feature to track docs from different branches"
## 🚀 Tracking docs from different branches

The current implementation allows reading docs from a *Single Branch* with *multiple dirs that point to different version docs*.

This feature would allow projects that base their *product version on different branches**.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting

[2018-10-24 01:07] #1014 closed

[2018-10-24 07:56] endiliey commented on #292
I believe this is now achieved in v2, should we close this @yangshun ?

[2018-10-24 07:56] endiliey commented on #267
Achieved in Docusaurus 2. Just FYI

[2018-10-24 08:10] SimenB commented on #292
There's a v2? 😀 Any changelog somewhere? The one in the root only mentions v1

[2018-10-24 08:20] endiliey commented on #292
Not yet released @SimenB. https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2

[2018-10-24 08:28] yangshun commented on #292
That's true, but that's considering the next release will be out soon. We don't have a launch date for v2 yet. But I guess we can close it for now and see whether there are any downsides of closing them before actually launching.

[2018-10-24 08:29] yangshun commented on #1039
Closed by #1047

[2018-10-24 08:29] #1039 closed

[2018-10-24 08:29] endiliey commented on #292
Kinda agreed on second thought 🤔. Nah maybe it's time for us to work to launch v2 sooner then before it backfires 😃

[2018-10-24 08:36] yangshun commented on #1060
Nice meeting you earlier @SilleBille! I don't have a good suggestion for that kind of branching model because if two docs are on different branches, it feels more correct to generate a website separately for each. Take Bootstrap for example, V4 dos are hosted at https://getbootstrap.com/docs/4.1/ and v3 docs at https://getbootstrap.com/docs/3.3/. They are separate websites. I don't think there are

[2018-10-25 13:47] #1010 closed

[2018-10-25 18:50] sinodko opened #1066 "Render pure text into the og:description meta tag"
## 🐛 Bug Report

Currently, after my Pull Request [#1054](https://github.com/facebook/Docusaurus/pull/1054) I realized that maybe it's not best option to render raw HTML into the og:description meta tag. I think that It just doesn't look nice or at least it doesn't help a readability at all. Maybe we could stick to the option of rendering a pure "text-like" output into the og:description.

### Hav

[2018-10-27 04:33] #257 closed

[2018-10-27 18:45] yacinehmito commented on #987
You can actually use Algolia's DocSearch internally. [See their docs](https://community.algolia.com/docsearch/run-your-own.html).

[2018-10-28 08:32] #1008 closed

[2018-10-29 03:27] iRoachie opened #1076 "Don't show error messages for prismjs missing languages"
## 💥 Proposal

Currently, it's possible to use `usePrism: true` to set prismjs as the syntax highlighter for all languages. However when a language that prismjs doesn't support is used, the errors are logged to console. Personally think this could be done much better.

[code]

References https://github.com/facebook/Docusaurus/pull/735#issuecomment-395484508

### Have you read the [Contributing Gui

[2018-10-30 18:06] huguestennier opened #1078 "Previous / Next page buttons don't use the page title as their label"
## 🐛 Bug Report

Using the latest `1.5.0` release, Previous/Next pagination doesn't use the page title as the label. It always default to `← Previous` or `Next →` instead of `Page title →`.

I tried other releases such as `1.3.2` and it's working, so something must have broke in newer releases.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/m

[2018-10-31 01:47] #1078 closed

[2018-10-31 18:09] #957 closed

[2018-10-31 18:23] yangshun opened #1080 "🌟Help us feature more Docusaurus users!"
**Tip: This is a beginner level Docusaurus task that requires almost no coding and is more targeted at newcomers to the project and Open Source.**

## 📚 Documentation

We want to feature more Docusaurus users and we need your help!

Docusaurus has a [users page](https://docusaurus.io/en/users) where we showcase projects using Docusaurus. This has the benefits of giving projects recognition and als

[2018-10-31 20:56] shahednasser commented on #1080
I'm interested in working on Formik

[2018-10-31 22:35] yangshun commented on #1080
@shahednasser Thanks, have updated the description with your name.

[2018-11-01 09:42] Rajekevin commented on #1080
Hello @yangshun ,
I am interested in working on Noderize

[2018-11-01 15:07] defionscode commented on #557
I would really like this

[2018-11-01 16:53] yangshun commented on #1080
@Rajekevin Thanks, have updated the description with your name.

[2018-11-01 17:02] noraj opened #1081 "baseURL behavior"
## 🐛 Bug Report

I don't know if it is related with #448 but I don't think that `baseURL` in `siteConfig.js` has the right behavior or I don't understand it.

- [x] I have read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

I understand that one have to put this config if the documentation is directly accessed unde

[2018-11-01 17:04] noraj commented on #1081
PS : please take a look at my `.gitlab-CI` and also give an example for GitLab under https://docusaurus.io/docs/en/publishing.

[2018-11-01 21:04] noraj commented on #1081
**erratum** : I just figured that was `projectName` that was use and not `baseURL` to create the extra sub-folder.

[2018-11-01 21:15] noraj opened #1082 "Renaming the website folder"
## 📚 Documentation

In the config file there is an optional `customDocsPath` to allow costuming of the doc folder name.
As the `website/` directory is the base directory, it can be renamed as we want, for example if conflicting with another folder because you put the docusaurus project inside your real software project.

So the documentation should say that we can rename it.

- [x] I have read the

[2018-11-01 21:50] noraj opened #1083 "Option switch to choose if minifying or not"
## 🚀 Feature

Adding a new param in the config file to choose if we want to minify the code during building or not.

- [x] I have read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

## Motivation

Code is always minified so he is ugly and unreadable.
Unminified code is not a problem for low traffic websites where t

[2018-11-02 15:47] clearwaterstream opened #1084 "Collapsus - The Collapsible Menu"
## 🚀 Feature

Collapsible menu . Sub-categories will get collapsed under the main categories. Examples: https://reactjs.org/docs/getting-started.html or https://docs.gitbook.com/getting-started

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes I have

## Motivation

We have a sizable amount of co

[2018-11-02 16:46] sunitasen commented on #1080
I am interested in react-360

[2018-11-02 17:05] maxaggedon opened #1085 "Use sidebar_label in pagination buttons."
## 🚀 Feature

Display `sidebar_label` (if existing) of the previous and next docs instead of the `title` in bottom pagination buttons.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

If it has been set, `sidebar_label` is meant to be used for navigation (it could even be renamed

[2018-11-02 17:20] #1040 closed

[2018-11-02 22:44] yangshun commented on #1080
@sunitasen It's yours! React-360 doesn't need permission because it's by FB. Go ahead and create the PR!

[2018-11-03 05:56] eliyasbaby commented on #1084
Yes.this is indeed.this would be an awesome feature.I also want to show a huge list of content in the side bar.without  the expand collapse option the huge list would be ugly

[2018-11-03 12:06] noraj commented on #1081
@yangshun Nice to hear.

[2018-11-03 20:30] andrewShillito commented on #1080
@yangshun Hello.  I'm interested in working on react-slate.

[2018-11-03 21:06] yangshun commented on #1080
@andrewShillito Go ahead. Thank you!

[2018-11-03 22:10] yangshun opened #1091 "Livereload not working on second try"
## 🐛 Bug Report

The local server does not livereload anymore after the first livereload.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Start the webserver
1. Edit anything v1/website/pages/index.js. See that the page refreshes.
1. Edit the same file again.

## Expected

[2018-11-04 00:04] andrewShillito commented on #1080
@yangshun Ok thank you! They have a couple of assets [here](https://github.com/zamotany/react-slate/blob/master/website/static/img/react_slate_icon.png) and [here](https://github.com/zamotany/react-slate/blob/master/website/static/img/react_slate_logo.png) that I was thinking might work. I'll check in with them, make a PR and if it works out cool and if not I'll select another project.

[2018-11-06 20:23] SimeonRoss opened #1094 "Document to document links don't work with sub directories"
## 🐛 Bug Report

I'm trying to use docusaurus with my docs in sub directories as we have a lot of files and want to keep things organised. I'm having trouble getting markdown links to work correct. When I'm linking to another markdown file in the same directory I've found you can only use a relative path. So, dirA/file1.md can like to dirA/file2.md by doing [text](dirA/file2.md) (incidently my IDE

[2018-11-07 10:20] MoogyG commented on #987
@yacinehmito this is not full self hosted, just the crawler. API calls are still made to Algolia servers.

[2018-11-07 13:16] lanthias opened #1096 "Links to other docs in built bundle are broken"
## 🐛 Bug Report

Linking to other documents by their id or filename results in a relative link which doesn't work in built bundle, but works with `docusaurus-start`

## To Reproduce

1. `docusaurus-init` a new folder
2. Make two files, `a.md` and `b.md` in the docs directory, with ids `a` and `b` respectively
3. Create a link in `a.md` as such: `[Click me](b)`

## Expected Behaviour

This takes me

[2018-11-07 14:12] lanthias commented on #1096
Closing, as I am now presuming this is expected behaviour and a problem with hosts

[2018-11-07 14:36] andrewShillito commented on #1082
@noraj I was thinking that the pictured section (under bullet 2) at [docusaurus installation page](https://docusaurus.io/docs/en/installation.html) would be a good place to add a note that the website folder name can be changed in the config file.  Does that sound like what you are looking for?
![img](https://user-images.githubusercontent.com/34523587/48137569-5ed48280-e270-11e8-83e3-d5bdd25cd83e.

[2018-11-07 18:10] yangshun commented on #1080
@andrewShillito By all means! Go ahead!

[2018-11-07 19:01] rstaib commented on #290
Is this issue fixed or not? Otherwise you will find [here](https://chillicream.com/blog/2018/11/07/docusaurus-docs-redirect) a solution.

[2018-11-07 19:17] noraj commented on #1082
@andrewShillito I think it will be better fitted in [getting-started-preparation.md](https://github.com/facebook/Docusaurus/blob/master/docs/getting-started-preparation.md) than in [getting-started-installation.md](https://github.com/facebook/Docusaurus/blob/master/docs/getting-started-installation.md). Maybe in the section **Preparation Notes**.

[2018-11-08 05:29] respinoza commented on #1094
I think this is related, if not let me know and I will open a new issue.
With this structure:

[code]

Have a file in `docs/index.md`

[code]

Now your `user/index.md` has this

[code]

When I build everything, the link `[Another file](another.md)` won't link to the HTML version, it still tries to open it with the `.md` extension and as expected, it breaks. If I switch that `.md` to `.html`, it op

[2018-11-08 05:34] alexperez commented on #1080
Hello @yangshun
I’m interested in working on hemera.

[2018-11-08 05:40] yangshun commented on #1080
@alexperez It's yours!

[2018-11-08 21:14] cmdcolin opened #1102 "Unable to run under node 6"
Hi there, I am encountering an error running docusaurus build under node 6

Basically there is code like this currently in docusaurus

[code]

And this gives an error with something like this

[code]

[2018-11-08 21:29] cmdcolin commented on #1102
Okay. Guess I missed that. Is there any way to warn about this because a mysterious syntax error can kind of waste a bunch of time...it only showed up on travis-CI and confused me a fair amount.

[2018-11-10 17:00] wgao19 commented on #1080
Hey @yangshun can I pick up React-Redux?

[2018-11-10 17:07] yangshun commented on #1080
@wgao19 definitely! I guess you don't need to ask for approval from React-Redux since you work on it 😉 Feel free to send us a PR anytime!

[2018-11-10 17:18] kahkhang commented on #1091
I'd like to attempt solving this issue! :)

[2018-11-10 17:19] yangshun commented on #1091
@kahkhang it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-11-10 20:10] yangshun commented on #1082
PRs are welcome for this 😄

[2018-11-11 14:36] #1091 closed

[2018-11-11 14:42] endiliey commented on #1094
Could be a regression. Do any of you happen to have a reproducible repo? That will be nice because I wasn't able to reproduce it >.<

[2018-11-11 22:38] noraj commented on #1082
@andrewShillito Thanks for you PR but you added information about `customDocsPath` (that's not a bad thing) that allows to modify the name of the folder named `docs` by default (that is documented here https://docusaurus.io/docs/en/site-config#customdocspath-string).
But my issue was talking about the ability to rename the `website` folder that is undocumented right now. I'll make a PR when I will

[2018-11-11 23:14] yangshun commented on #1082
Thanks for fixing this @noraj !

[2018-11-11 23:14] #1082 closed

[2018-11-12 06:49] Shriram-Balaji commented on #1076
@endiliey I'd like to take this up. Do you have something in mind, of how we can do better here? It looks like the error is thrown from `              require(`prismjs/components/prism-${language}.min`);
`

[2018-11-12 06:59] endiliey commented on #1076
Instead of throwing the error stack. Lets log that the language is not supported.

Any other idea is welcomed

[2018-11-12 10:39] #1076 closed

[2018-11-12 12:01] andrewShillito commented on #1082
@noraj Sorry I misunderstood that!  I will make sure to double check I'm not misunderstanding the issue before contributing next time.  Thanks.

[2018-11-12 17:42] JoelMarcey opened #1108 "Specify markdown flavor support"
## 📚 Documentation

We do not clearly specify the markdown flavor that we support. Let's specify it in our documentation.

I believe the right answer here is [GitHub Flavored Markdown (GFM)](https://github.github.com/gfm) since the original intent of Docusaurus was for projects to run on GitHub Pages.

Probably add it here: https://docusaurus.io/docs/en/doc-markdown

### Have you read the [Contrib

[2018-11-12 20:08] noraj commented on #1082
@andrewShillito Actually not a problem because your contribution is good too.

[2018-11-13 13:35] aeneasr opened #1109 "Building versions is completely broken"
## 🐛 Bug Report

Using `npm run version <tag>` causes the website to neither be compilable (`npm run build`) and yields broken configurations for `versioned_sidebars/*.json`. I'm running `^1.5.1`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

One issue that deals with that is #410 but it se

[2018-11-13 13:54] aeneasr commented on #1109
So removing `{doc: "index"}` from `headerLinks` resolves the build issue and I'm able to open `http://localhost:3000/en/versions` - but the links do not work and neither does manually opening `http://localhost:3000/docs/en/` or `http://localhost:3000/docs/en/1.0.0/`. I also don't think that removing the entry from `headerLinks` is something we want here (how else do I link to the docs?):

[code]

[2018-11-13 13:58] aeneasr commented on #1109
Seems like the broken links at `http://localhost:3000/en/versions` are caused by the template not being hydrated with the right data? [this source file](https://github.com/facebook/Docusaurus/blob/master/v1/website/pages/en/versions.js) has a much more complete definition where links are autogenerated. I think that should be used as template for `npm run examples versions` instead.

[2018-11-13 15:31] ablakey opened #1110 "Document that Docker is optional?"
## 📚 Documentation

Following the Getting Started documentation led me to a pretty great starting point for building my own documentation site. However it didn't mention that I would be getting a bunch of Docker-related files. These are great, but not always useful. Would it be a good idea to report somewhere that these files will exist and that they're optional and can be cleaned up if unwanted?

[2018-11-13 21:53] gianlucadonato opened #1111 "Show a warning message when links are broken"
## 🚀 Feature

Show a warning message in the console (maybe flaggable in the options) that outputs a log when a link inside the documentation is broken.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

It can happen to have brokens links in the documentation that are caused by a

[2018-11-14 14:33] hsluoyz opened #1112 "The translated documentation pages do not show the left ToC"
## 🐛 Bug Report

The translated documentation pages do not show the left ToC (table of contents).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

English: https://docusaurus.io/docs/en/installation
Chinese: https://docusaurus.io/docs/zh-CN/installation

## Expected behavior

[2018-11-14 15:09] aeneasr opened #1113 "`npm run version <v>` is confused when duplicate ids exist in different subfolders"
## 🐛 Bug Report

When the docs have a structure like this:

* foo
  * doc1.md (id: "baz", title: "FOO BAZ")
* bar
  * doc1.md (id: "baz", title: "BAR BAZ")

And versioning is enabled, then `npm run version ...` will copy those files despite no changes made. This causes the build pipeline to fail. If id's are made unique, (e-g- `id: "foo-baz" and `id: "bar-baz"`) this does not appear to be an issue

[2018-11-14 15:10] aeneasr commented on #1109
Found the underlying issue, see #1113

[2018-11-14 15:10] #1109 closed

[2018-11-15 01:37] tconnally opened #1114 "Static files in `blog/assets` is not working"
## 📚 Documentation

The following location location in the docs indicates what is possibly an incorrect procedure for adding graphics to a blog post. It says to create an "assets" folder in the /blog directory. This is apparently not working, and graphics should apparently live in /static/img, and use a path of /img/image-name.png. But this didn't seem to work in the testing I just did.

https://d

[2018-11-15 09:19] aeneasr commented on #410
This is still broken for me on `1.5.1`.

Definition

[code]

Yields

[code]

[2018-11-15 09:25] aeneasr opened #1115 "`npm run version` generates broken sidebars when subcategories exist"
## 🐛 Bug Report

Running `npm run version <x>` generates broken sidebars on version **1.5.1**.
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

## To Reproduce

Sidebar definition `sidebar.json`

[code]

yields after running `npm run version oryOS.9` in `./versioned_sidebars/version-oryOS.9-sid

[2018-11-16 15:45] huguestennier commented on #1085
Should be fixed in [v1.5.1](https://github.com/facebook/Docusaurus/releases/tag/v1.5.1).

See related PR : https://github.com/facebook/Docusaurus/pull/1079

[2018-11-19 07:42] #1108 closed

[2018-11-20 08:36] #1112 closed

[2018-11-20 08:48] endiliey commented on #1112
Thanks a lot for reporting @hsluoyz

![image](https://user-images.githubusercontent.com/17883920/48761618-12635b00-ece4-11e8-8d79-e8a363b5633d.png)

[2018-11-20 08:56] hsluoyz commented on #1112
Thanks for the fix, @endiliey.

BTW, when is the next release? Or is there a way to use the latest commit without a release? Thanks.

[2018-11-20 12:35] ymschaap commented on #1080
@yangshun I made this for [Babel](https://build.new/your-company/babel). It allows them to just fill out a form (instead of a fork, change file, add image, test, commit, PR), which will create a valid PR like [this](https://github.com/ymschaap/website/pull/11). Interested if I make the same feature available for Docusaurus?

[2018-11-20 12:53] arijitthehacker commented on #1080
Hi, I'm interested in working on express-validator.

[2018-11-20 13:35] yishuiliunian opened #1121 "the website is not running correct , just show messy code (not readable)"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. add some docs
1. edit the sidebars.json
1. run with `npm start`

## Expected behavior

website running correct, show my docs

## Actual Behavior

![2018-11

[2018-11-20 16:33] JoelMarcey commented on #1121
That output looks like nothing that Docusaurus would output.

Did you run `docusaurus-init` to see if the sample site would run correctly?

[2018-11-20 16:34] JoelMarcey commented on #1080
It's yours. 😄

[2018-11-20 16:51] yangshun commented on #1080
@ellereeeee it's yours!

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-11-20 16:51] yangshun commented on #1080
@arijitthehacker Go ahead!

[2018-11-20 16:54] yangshun commented on #1080
@ymschaap I'm unable to access the first link you provided, it leads to an error page. Based on what you are suggesting, it sounds awesome and we'd love to include it! Fill free to create a PR!

[2018-11-20 18:39] ymschaap commented on #1080
@yangshun @JoelMarcey my bad, that is my own localhost I linked to. The url is:

[2018-11-21 08:01] endiliey commented on #1121
Checked locally and unable to reproduce. Could be local issue

Try following https://docusaurus.io/docs/en/installation

[2018-11-21 08:01] #1121 closed

[2018-11-21 08:02] endiliey commented on #1115
This is related to incomplete PR of subcategories feature. We should update the logic for https://github.com/facebook/Docusaurus/blob/master/v1/lib/version.js

[2018-11-21 08:17] endiliey commented on #1114
We should replace all string occurrences of `assets/XXX` in all blog markdown just like in docs

Notice how we replace it in `docs.js` but not in `blog.js`

https://github.com/facebook/Docusaurus/blob/beca1697ffe733b1c13caacc4189e25264c828a2/v1/lib/server/docs.js#L128-L129

https://github.com/facebook/Docusaurus/blob/beca1697ffe733b1c13caacc4189e25264c828a2/v1/lib/server/docs.js#L108-L119

`server

[2018-11-21 09:12] maxaggedon commented on #1085
@huguestennier the PR you mention fixes a bug where the buttons always displays *previous* and *next*. With this fix, it displays the articles' `title` if existing. (Please correct me if I am wrong)

What I suggest is to display `sidebar_title` instead of `title`.

[2018-11-22 10:38] #1085 closed

[2018-11-22 12:30] tsmrachel commented on #1084
@endiliey @yangshun

Are there any plans to consider using React to add interactivity? Or should this be worked on using script injection?

https://github.com/facebook/Docusaurus/issues/582#issuecomment-382488782

[2018-11-22 12:48] endiliey commented on #1084
@tsmrachel that's our plan for Docusaurus v2

You can read on https://github.com/facebook/Docusaurus/issues/789 or https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2

Instead of pure static HTML, during build time we will create a server-rendered version of the app and render the corresponding HTML. A Docusaurus site will be essentially an isomorphic/universal application. This approach is

[2018-11-22 13:32] pixelastic commented on #251
FYI, the latest 2.6.2 version of docsearch.js also now displays suggestions as real `<a href>` links; allowing anyone to `ctrl`-click on the results to open them in a new tab \o/

This has been a long-awaited feature, and is now live :)

[2018-11-22 13:41] s-pace commented on #251
cc @endiliey @hramos 🆙

[2018-11-23 03:14] endiliey commented on #489
Maybe in the future 😊

![mdx-docusaurus](https://user-images.githubusercontent.com/17883920/48927422-baf60280-ef10-11e8-9e8f-b38b0a22d138.gif)

[2018-11-23 05:15] #1115 closed

[2018-11-23 07:49] endiliey commented on #1094
You should refer it as `[Another file](user/another.md)`

---
So I managed to spend some time and came up with a test case

docs/index.md
[code]

docs/hydra/bar.md
[code]

docs/ecosystem/bar.md
[code]

And it all worked perfectly.

![no-error](https://user-images.githubusercontent.com/17883920/48932482-20f58080-ef37-11e8-9ce0-83e7e7088977.gif)

## I'm going to close this issue.
## Please send a re

[2018-11-23 07:49] #1094 closed

[2018-11-23 07:51] #1113 closed

[2018-11-23 09:16] lensbart commented on #877
Right sidebar too, see: https://github.com/facebook/jest/issues/7296#issuecomment-441169441

[2018-11-23 14:43] #1111 closed

[2018-11-23 14:45] endiliey commented on #1060
I am not in a good favor of this issue >.<

Branching is actually a non easy concept and I think it's better to make things simple.

[2018-11-23 14:47] endiliey commented on #1066
opinion @yangshun @JoelMarcey ??

[2018-11-23 14:50] endiliey commented on #982
#1063 might be a better option.

[2018-11-23 15:20] respinoza commented on #1094
Did you try without the IDs at the top of the files? I believe that's when it breaks.

We opted to have everything in one level and avoid the issue.

[2018-11-23 15:31] endiliey commented on #1094
Yep, I did.

If bug persists. Please re-open a new issue with a reproducible demo 😊

[2018-11-23 21:19] zakariaharti commented on #1080
hello @yangshun
i'm interested in React-Leaflet

[2018-11-23 22:30] yangshun commented on #1080
@zakariaharti it's yours!

[2018-11-27 00:48] hsluoyz commented on #982
Thanks for the status update! This PR is really amazing! Cannot wait to try it :) @fiennyangeln @endiliey

[2018-11-27 15:22] ellereeeee commented on #1080
https://github.com/facebook/Docusaurus/pull/1130

[2018-11-27 15:33] ellereeeee commented on #1080
https://github.com/facebook/Docusaurus/issues/1080#issuecomment-437898837

[2018-11-27 15:36] ellereeeee commented on #1080
@yangshun My pull request was merged.

Help us feature more Docusaurus users! #1080

[2018-11-27 17:52] yangshun commented on #1080
@ellereeeee Thanks, it has been updated

[2018-11-27 18:35] entire opened #1131 "Sidebar title and doc title don't change after updating it in file (3)"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

The sidebar title and doc title don't change after updating it in file, specifically after creating a new version.

similar to issue to https://github.com/facebook/Docusaurus/issues/965 and https://github.com/facebook/Docusaurus/issues/813

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Do

[2018-11-27 20:10] SilleBille commented on #1060
@endiliey  is right. This feature does makes things a little complicated. To answer @yangshun  there is readthedocs which actually supports such a feature.

[2018-11-28 06:29] endiliey commented on #1131
When you create a new version, e.g 1.0.0

It means now you have 2 version (1.0.0 and next)

Everything in `docs` is next and `versioned_docs/version-1.0.0` is 1.0.0

So when you go to your dev server, localhost:3000/docs/doc1 is your 1.0.0 versioned docs

And localhost:3000/docs/next/doc1 is your next docs.

@entire

[2018-11-28 07:34] #879 closed

[2018-11-28 07:46] endiliey opened #1132 "Help us create the changelog for 1.6.0 !"
**Tip: This is a beginner level Docusaurus task that requires almost no coding and is more targeted at newcomers to the project and Open Source.**

## 📚 Documentation

We want to release v1.6.0 but we haven't updated the changelog since 1.5.1
I think it's a good contribution if someone wanted to pick this up 😊

## How can you help ?

From these changes at https://github.com/facebook/Docusaurus/com

[2018-11-30 01:09] rafaelmotaalves commented on #957
Got it, i was under the impression you would install it as a development dependency.

[2018-11-30 14:38] pixie79 commented on #359
bump - is there any update on this as it would be more ideal for us as different external parties work on docs and blogs. Then we can mount the two together for build.

Thanks

[2018-12-01 22:06] jakebolam opened #1135 "Support for custom commit message on publish"
## 🚀 Feature
Having a custom commit message on publish, would allow people to add commit messages such as:
- `[skip ci]` to prevent circleci attempting to build the branch

## Motivation
Want to use have a repo building with circleci, this repo has:
- Greenkeeper
- Docusaurus
- Alerting on failed builds

Greenkeeper requires 'build all branches' setting in circleci
When a publish happen `gh-pages`

[2018-12-03 02:04] markerikson opened #1137 "Page-to-page Markdown document links are not working"
## 🐛 Bug Report

Summary: In-page links such as `[some link text](./SomeFile.md)` are not getting turned into actual links to the final HTMl page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

A couple months ago, we set up the initial Docusaurus config for Redux.  That's b

[2018-12-03 06:31] markerikson commented on #561
I'd love to see something like this.  My specific use case is for the Redux FAQ pages like https://redux.js.org/faq/actions .  Right now, a header like this:

`### How can I represent “side effects” such as AJAX calls? Why do we need things like “action creators”, “thunks”, and “middleware” to do async behavior?`

Turns into a URL like:

`https://redux.js.org/faq/actions#how-can-i-represent-side-e

[2018-12-03 18:00] reintroducing commented on #1137
so i published my first docs page for an OSS project i'm doing and finally today pushed it out to production. ran into this as well, the sidebars seem to be linking fine but a path in the actual docs themselves did not. for instance, in `tasks-home.md` i'd have a link `[creating](tasks-creating)` which would then try to take me to `tasks-home/tasks-creating`.  i even tried to disable `cleanUrl` in

[2018-12-04 03:08] t00f opened #1140 "Compilation with version and sub-directories fails"
## 🐛 Bug Report

Recently @yangshun fixed an issue in the generation of the sidebar.json (See #1124)
However, I am now facing an issue when trying to compile a project with multiple version.

When compiling, it complains about the document id:
[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2018-12-04 04:34] t00f commented on #1140
@endiliey yes I upgraded to 1.6.0

[2018-12-04 04:40] #996 closed

[2018-12-04 04:40] #997 closed

[2018-12-04 04:40] #998 closed

[2018-12-04 04:40] #999 closed

[2018-12-04 04:40] #1000 closed

[2018-12-04 04:40] #1001 closed

[2018-12-04 04:40] #1002 closed

[2018-12-04 04:40] #1003 closed

[2018-12-04 04:40] #1004 closed

[2018-12-04 04:40] #1006 closed

[2018-12-04 04:40] #1007 closed

[2018-12-04 04:40] #1009 closed

[2018-12-04 04:40] #858 closed

[2018-12-04 04:46] endiliey commented on #1140
Fixed this in a commit cb1395e

Will release 1.6.1 as hotfix soon probably in couple of days (im currently away from keyboard, relying on mobile phone to merge & commit)

[2018-12-04 04:47] t00f commented on #1140
Thanks for the quick reply. Looking forward to 1.6.1!

[2018-12-06 01:29] markerikson commented on #1084
I could see this being useful for Redux as well.

[2018-12-06 05:45] nutann3 opened #1142 "Error on adding docusaurus package using yarn."
## 🐛 Bug Report

I'm unable to add docusaurus package using yarn on Mac

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

`yarn global add docusaurus`

## Actual Behavior

I got following output

![image](https://user-images.githubusercontent.com/11704747/49563943-f39dcf00-f947

[2018-12-07 15:15] aeneasr commented on #1140
Thank you for the fix! Would it be possible to release this? My doc toolchain is completely broken because of this :(

[2018-12-07 15:18] nichalko opened #1147 "[Help needed] Live Reload not working"
## ❓ Questions and Help

According to docs

I changed text in the footer, localhost:3000 tab blinked (just like it wanted to refresh), no change appeared.

Upon stopping service and starting again (npm start) change occurs.

Please halp

[2018-12-07 15:58] #1114 closed

[2018-12-07 16:10] endiliey commented on #1140
Just published v1.6.1

Sorry for the wait ! 😄

[2018-12-07 16:11] aeneasr commented on #1140
Awesome, thank you! :)

[2018-12-07 16:19] endiliey commented on #1142
this is due to : https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident

to solve the issue, add the following to your package.json file :

[code]

[2018-12-07 16:19] #1142 closed

[2018-12-07 16:20] endiliey commented on #1147
Just tried locally and it seems to work.

If you have questions, please check Stack Overflow or Discord or Twitter.

I recommend our [discord](https://discordapp.com/invite/docusaurus)

[2018-12-07 16:20] #1147 closed

[2018-12-07 16:47] aeneasr opened #1149 "After upgrade to 1.6.1: Error: Cannot find module '../../website/siteConfig.js'"
## 🐛 Bug Report

I don't know what's going on, I tried to upgrade to docusaurus 1.6.0/1.6.1 and now I'm getting `Error: Cannot find module '../../website/siteConfig.js'` when running `npm run start`. Tried several ways (remove node_modules) and also several OS (macOS, Windows) without luck.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/maste

[2018-12-07 16:49] aeneasr commented on #1149
If you checkout master, it will work. Here's the diff: https://github.com/ory/docs/pull/83 . I'm sorry if this sounds frustrated, but I really am. Have been trying to get this to work so hard but with every patch there is something new that doesn't work :(

[2018-12-07 16:58] aeneasr commented on #1149
By the way, 1.6.0 is working normally.

[2018-12-07 16:58] davidbudnick commented on #1149
Hi, I am having the same issue and fixed it by changing the path in: `node_modules\docusaurus\lib\server\utils.js`
`const siteConfig = require('../../../../siteConfig.js')`

[2018-12-07 17:06] JoelMarcey commented on #1149
I am curious on two fronts here:

1. Is it a Babel Cache issue? Like talked about at the bottom of the installation page:

or

2. What happens if you wipe the `node_modules` directory and `yarn install` from scratch again?

[2018-12-07 17:08] aeneasr commented on #1149
No this is not a babel issue, it's just that someone (specifically: https://github.com/facebook/Docusaurus/blame/master/v1/lib/server/utils.js#L15 ) assumed that the path is `../../website/siteConfig.js` (which might be true in development mode) but it's not when you're coming out of `node_modules`. It does not matter if this is yarn or npm.

[2018-12-07 17:09] aeneasr commented on #1149
The proposed fix works for me @davidbudnick

[2018-12-07 17:09] davidbudnick commented on #1149
![image](https://user-images.githubusercontent.com/18271248/49662109-9caffc80-fa10-11e8-8823-ad980d962b83.png)

[2018-12-07 17:12] aeneasr commented on #1149
I think it would be a good idea to have a test that uses docusaurus as a library as opposed to development mode - a e2e test. That would have probably found a lot of issues regarding the versioning, subcategory, and this one here.

[2018-12-07 17:19] davidbudnick commented on #1149
@aeneasr Are you making a pull request for the issue?

[2018-12-07 17:20] JoelMarcey commented on #1149
I am fixing it now.

[2018-12-07 17:22] aeneasr commented on #1149
Awesome, thank you! If you can, it would be really great if you could release a hotfix patch for that too! :)

[2018-12-07 18:09] #1149 closed

[2018-12-07 19:16] aeneasr commented on #1149
Don’t worry about it. Thank you for the amazingly fast response time, not common in OSS! :)

[2018-12-07 22:48] tibdex commented on #448
It would be great to support relative paths in a future release.

In the meantime, here's how you can transform absolute links to relative ones in a postbuild script:

[code]

[code]

[code]

[code]

[2018-12-09 01:09] markerikson opened #1152 "Default mobile theme has a 1px gap on some mobile devices"
## 🐛 Bug Report

Some site users have reported a 1px gap between the header sections on mobile devices, especially iPhones with iOS 12 and Safari / Chrome.

This gap appears on multiple sites, including https://react-redux.js.org, https://docusaurus.io/en/ , and https://facebook.github.io/create-react-app/docs , so it appears to be something about the default Docusaurus mobile theme.

### Have you

[2018-12-09 10:35] sveinpg commented on #1152
I think this can be fixed by disabling scaling on the website.
For instance by adding this meta-tag: `<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">`

If disabling scaling is not desirable, a background colour might do the trick.

[2018-12-10 10:20] endiliey commented on #1152
Duplicate of #820 but will leave this issue open since it might get more attention

[2018-12-10 16:47] dws-sam opened #1153 "`EditUrl` doesn't support sub-directories."
## 🐛 Bug Report
The edit buttons on the top of pages **within sub-directories** do not point to the appropriate edit URL on Github. The edit button points to `'editUrl+{fileName}'`. Pages within directories within the `docs/` folder should point to `'editUrl+{relativeFilePath}+{fileName}'`.

(Also it's worth pointing out that `custom_edit_url` documented [here](https://github.com/facebook/Docusaur

[2018-12-11 20:33] SimenB opened #1155 "Glitchy scroll on mobile"
## 🐛 Bug Report

Scrolling quickly up and down with a menu open on mobile shows the underlying content at the bottom of the viewport. See https://github.com/reduxjs/redux/issues/3292, but this is reproducible on Docusaurus' own website

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

## To Rep

[2018-12-15 04:35] fiennyangeln commented on #1155
@SimenB I can reproduce the above using iPhone X / 7 (both are Chrome 71) / Firefox desktop mobile mode (since I dont have Pixel3 at hand) but using different steps. So here is what I do to reproduce the gif linked for redux.js.org
1. Click on the API word as shown below
<img width="453" alt="image" src="https://user-images.githubusercontent.com/24544912/50039002-7cfa8300-0065-11e9-8999-bd0cfa48ad

[2018-12-15 04:50] fiennyangeln commented on #985
does this still exist? I dont have IE11, but I try to reproduce it using browserstack with the option below:
`OS: Windows, OS_version: 10, browser: IE, browser_version:11.0` and this is how it looks like.

<img width="1680" alt="screen shot 2018-12-15 at 12 47 27 pm" src="https://user-images.githubusercontent.com/24544912/50039142-eb404500-0067-11e9-99d0-6ea581681752.png">

[2018-12-16 07:08] nareshbhatia opened #1158 "MarkdownBlock does not work for complex markdown"
## 🐛 Bug Report

`MarkdownBlock` works for simple markdown, e.g.

[code]

But it does not work for complex markdown, e.g.

[code]

In this case, all markdown is output as text.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

## Expected behavior

Output should be an `

[2018-12-16 07:11] nareshbhatia commented on #1158
A followup question: is there a way to include a markdown file inside `<MarkdownBlock>`? or some other way of including a markdown file inside a React component?

[2018-12-17 01:54] endiliey commented on #1158
Basically what we do on Docusaurus is that

!. We read the markdown files, and parses it as a raw string. Example: `doc1.md`
[code]

2. And then pass that string to `<MarkdownBlock />` component
[code]

From technical point of view, it's very likely that the buggy part is the string provided as the `MarkdownBlock` children props.

What happen for your test case ?

Note that
[code]

could be differ

[2018-12-17 01:54] #1158 closed

[2018-12-17 02:04] #1152 closed

[2018-12-17 06:08] nareshbhatia commented on #1158
Thanks @endiliey. I will give it a try when I have some time. In the meanwhile, I worked around this issue by writing regular JSX in my component.

Incidentally, I just published my site: https://nareshbhatia.github.io/mobx-state-router/. Looks great! Thanks for all your efforts. Love Docusaurus 👍

[2018-12-17 16:03] davodaslanifakor opened #1159 "add different og:image for any page in dir docs"
Hi
## i want add custom og:image in any file.md in dir docs
how can i do it ..?

[2018-12-20 04:30] novalagung commented on #459
I ended up doing this: No changes on the docusaurus project at all. But after `yarn build`, I move everything inside `website/build/your-site/docs` into `website/build/your-site`. Then adjust the sidebar link programatically.

[2018-12-21 19:05] amimas commented on #323
Does this only support one level of sub-directory under `/docs`? Can I have a directory structure like `/docs/projectA/category1`? If yes, what should the configuration be in `sidebars.json`? It seems I cannot add multiple layers in the sidebar

[2018-12-24 05:47] mikeattara commented on #1080
Hello @yangshun I would love to work on node-serialport

[2018-12-24 08:52] yangshun commented on #1080
@mikeattara It's yours!

[2018-12-27 19:41] amimas opened #1165 "Embedding videos into markdown or pages or blogs"
## 🚀 Embeddable video

Since Markdown format doesn't yet support video format, It would be a really nice feature if Docusaurus could support embedding videos. Right now, I'm trying to embed a YouTube video to the homepage (`index.js`), but there isn't any straight-forward way of doing that as far as I've seen. I think this could be useful even in the Markdown files that are used for serving docume

[2018-12-28 05:53] amimas commented on #319
I'm currently trying out Docusaurus and if I end up using this, I'd probably use Gradle as the actual build tool. There are node plugin available for Gradle so that users/developers/contributors/CI-environments don't need node installed and you can execute all the npm/yarn commands.

[2018-12-28 17:27] amimas opened #1166 "Autogenerated versions.js page does not link back to versioned docs"
## 🐛 Bug Report

The `/versions` page shows a list of versions, but "Documentation" and "Release Notes" links are not working. On the browser, they are linking back to the same page (`/versions`).

Also, the documentation does not have any reference to where "Release Notes" are stored. Are they expected to be a tag in Github or can we have an actual doc published elsewhere or another static page/d

[2018-12-30 06:53] alexkrolick opened #1167 "Documentation for "core" layout components"
## 📚 Documentation

The default `index.js` uses several layout components from the hidden "core" folder. It would be nice to have a better guide on what these components are and what props they accept.

For example, I'd like to know if the GridLayout can center an image while keeping the text in the opposite grid left-aligned.

### Have you read the [Contributing Guidelines on issues](https://gith

[2018-12-30 07:00] alexkrolick opened #1168 "Config option for link styling"
## 🚀 Feature

Support options such as color and text-decoration for links within content.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Ja

## Motivation

**Current State**

Links can become indistinguishable from body text you select a dark color for the header bar using the `primaryColor` varia

[2018-12-30 07:04] alexkrolick opened #1169 "Documentation for adding Google Fonts"
## 📚 Documentation

Documentation is needed for how to add a Google Font (or other custom webfont) to a site.

- What doesn't work: Using `@import` in CSS
- What does work: Adding the stylesheet href from the Google Fonts `link` copy-paste block to the `stylesheets` array in `siteConfig.js`. Perhaps the option should also have a default value to make it easier to discover.

[code]

### Have you re

[2018-12-30 07:25] alexkrolick opened #1170 "Config option for support/community links"
## 🚀 Feature

When you bootstrap a site with Docusaurus, it generates default layouts for the help page and footer. These layouts contain many hardcoded values for support sites that could be abstracted out into a config option.

[code]

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Pitch

[2018-12-30 07:36] alexkrolick opened #1171 "Support for multiline Markdown in GridBlock content"
## 🚀 Feature

(**This may be a bug 🐞?**)

Add support for multiline Markdown inside Block components.

The default homepage layout has lots of places where text can be included inside "Block" components that take a config object. This can be difficult to manage if the text is long or contains formatting. It seems like single lines can contain Markdown links and basic formatting, but any multiline

[2018-12-30 07:43] alexkrolick opened #1172 "More generic default project"
## 🚀 Feature

The default examples contain lots of inline paths to things like `/img/docusaurus.svg` which have to be manually replaced. It would be easier to get up and running if the places where a default image like the project logo are likely to be used referenced either a config variable or a more generic path like `/img/logo-large.png`.

There are also a few Facebook branding things like the

[2018-12-30 07:51] alexkrolick opened #1173 "Document PrismJS theming"
## 📚 Documentation

Hihglight.js hasn't made progress on support for JSX in over two years, so a lot React-based projects will need to use Prism for highlighting instead. It seems like Prism understands the `highlight.theme` config option but it's unclear where it gets its themes - they don't have the same names as the Highlight.js ones except in a few cases like "default", and even then they look

[2018-12-30 23:39] SimenB commented on #319
Just https://github.com/zeit/pkg?

[2018-12-31 15:55] amimas commented on #1167
There are some info available in the following page of the docs.

https://docusaurus.io/docs/en/api-pages#provided-components

I think it'd be more useful if they are posted as separate page

[2019-01-01 10:18] mikeattara commented on #1080
@yangshun I would like to take up react-native-sensors
I am also working on adding a better logo for gulp

[2019-01-01 16:46] 19majkel94 commented on #1080
@yangshun
I've added myself 😄 (19majkel94/type-graphql)
https://github.com/facebook/Docusaurus/pull/1174

[2019-01-01 22:05] yangshun commented on #1080
@micksatana go ahead, thank you!

[2019-01-01 22:07] yangshun commented on #1080
@19majkel94 That's amusing. Thank you too 🎉

[2019-01-02 17:06] JoelMarcey commented on #1167
Definitely willing to look at a PR to make the docs more useful here.

[2019-01-03 13:29] will-stone opened #1177 "Locally served site's image links are broken when docsUrl is blank"
## 🐛 Bug Report

When the `docsUrl` setting is configured to put all docs in the root, i.e. `docsUrl=""`, images that are linked to in documents using `![example](assets/example.jpg)` are broken. Whereas this works fine when built/published; images are linked to correctly.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#

[2019-01-03 13:39] will-stone commented on #1177
PS, thanks for all the hard work! 😄 This is a great tool and we're in the process of moving over all our company docs to Docusaurus. Let me know if I can provide any more info.

[2019-01-03 21:56] nathfreder commented on #943
Can you give more information, I'm interested!

[2019-01-03 22:27] solo474 opened #1178 "Docs sidebar should be configuration less"
## 🚀 Feature

In a simple case, docs sidebar should to derived without the sidebars.json configuration file. by following a convention on directory structure and file naming.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

Reduce the configuration required.

[2019-01-03 23:03] yangshun commented on #1178
This approach involves quite a big of magic (reminds me of Rails) which makes Docusaurus usage less obvious and becomes harder to understand. I think being explicit is better.

Another issue with this approach is the ordering of the files within a category. How would you define the ordering if you don't have the `sidebars.json`? Alphabetical ordering is usually not what users will want.

[2019-01-04 02:15] huchenme commented on #701
Can we not through those errors in console?

[2019-01-04 15:32] amimas opened #1180 "Pop-up notification to the user if contents have been updated"
## 🚀 Feature

As an end user, if I am on the site and in the meantime the contents have been updated, it'd be really useful if a pop-up notification would appear (without being intrusive; maybe in the bottom left/right corner). The user can click on the "refresh/reload" button on that pop-up to view the updated contents. This is similar to how Google Inbox behaves when the app is updated if I'm vi

[2019-01-04 17:19] JoelMarcey commented on #1177
cc: @yangshun @endiliey - Have you seen this issue before?

[2019-01-07 07:56] haoqiang commented on #1080
Happy New Year ~

I'll take https://github.com/Khan/KaTeX then.

Interestingly there's an issue created by them already, but since I don't see KaTex in the user page, I'll just proceed. ref: https://github.com/KaTeX/KaTeX/issues/1753

[2019-01-09 17:12] o-t-w opened #1182 "Section titles in sidebar as links"
I would like category titles in the sidebar to be clickable links rather than just titles. Currently, the documentation I am working with has main categories that I would like to link to markdown pages. The categories have subcategories that are separate markdown files and that need to be listed underneath the main category titles.

[2019-01-11 12:54] rkistner opened #1183 "Document ids are confusing when using subfolders and versioning"
## 🐛 Bug Report

(Not sure if this should be a proposal instead).

When using both subfolders and versioning, document ids become quite confusing.

### Have you read the [Contributing Guidelines on issues]

Yes

## To Reproduce

1. Start with a file `docs/sub1/doc1.md`, with `id: doc1`. It is accessible as `/docs/sub1/doc1`, as expected.
2. Run `yarn docusaurus-version v2`.

## Expected behavior

[2019-01-11 18:14] silakanveli commented on #1147
Just installed Docusaurus. Exactly the same problem.

[2019-01-14 16:39] Tschakki opened #1184 "Default value of imageAlign is not used in renderBlock"
## 🐛 Bug Report

When a GridBlock component is defined and an image is specified, the default value for `imageAlign` is not used (see `GridBlock.js`)

## To Reproduce

1. For example, define a Gridblock component like described in https://docusaurus.io/docs/en/api-pages#complibrarygridblock,  (without `imageAlign`)
1. Render the page and verify the image is not shown.

## Expected behavior

Image

[2019-01-16 08:31] #1184 closed

[2019-01-16 12:48] george-hawkins opened #1187 "50px gap appears between title bar and nav bar when there are no header links"
## 🐛 Bug Report

When you have no `headerLinks` and the width available to display your site goes below 1024px then the navbar (that takes the place of the left and right sidebars) appears below the title bar, however there is a 50px gap between the two (where a second bar containing the header links would go, if there were any).

### Have you read the [Contributing Guidelines on issues](https://g

[2019-01-16 13:03] george-hawkins commented on #1187
**1.** This picture shows the gap between the title bar and the navbar:
![1-space-above-navbar](https://user-images.githubusercontent.com/5216161/51250129-c7895b00-1995-11e9-99cf-95f3a9fd5fae.png)

**2.** I fixed this by adding the following to `website/static/css/custom.css`:

[code]

This shows the result, i.e. no more gap:
![2-space-above-navbar-fixed](https://user-images.githubusercontent.com/

[2019-01-16 17:11] SimenB opened #1188 "crowdin-cli fails but docusaurus still deploy"
## 🐛 Bug Report

After merging a change in MD that fixed the link from GitHub's standpoint, the deployed website lost most translations from crowdin. See https://github.com/facebook/jest/pull/7638/files

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

[2019-01-17 16:49] rikoe opened #1189 ""Publishing your site" documentation doesn't work as is for GitHub Pages"
## 📚 Documentation

The [Publishing your site](https://docusaurus.io/docs/en/publishing) instructions for GitHub Pages does not work if followed as written.

It instructs me to specify the baseUrl as `/testProject` but this breaks when published to GitHub Pages. It only works if `/testProject/` is used, otherwise all the links and images are broken, as there is a missing slash from all URLs.

The

[2019-01-18 17:31] #1189 closed

[2019-01-22 19:12] mrchess commented on #459
Bluewhale solution doesn't work with Netlify.

[2019-01-23 15:35] JoelMarcey opened #1194 "Save Page to Disk Option"
## 🚀 Feature

Have the ability to save a page locally to a disk.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

via @jordwalke

Useful for reading offline.

## Pitch

Sometimes you know you will not have access to a network (e.g., plane) and would like to read some docs still

[2019-01-23 15:37] JoelMarcey opened #1195 "All markdown docs on one page"
## 🚀 Feature

Allow all your documentation to be on one page instead of separate links

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

via @jordwalke

## Pitch

Some people like to just see everything on one screen without having to click around (e.g., `prev`, `next`).

[2019-01-23 15:38] JoelMarcey opened #1196 "No branded docusaurus-init"
## 🚀 Feature

A no-branded, totally vanilla `docusaurus-init`

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

via @jordwalke

## Pitch

Have a version of `docusaurus-init` that does not include any logos, images, etc. Just vanilla.

Could be run like `docusaurus-init --no-brand`

[2019-01-23 17:46] amimas opened #1197 "Missing doc on managing sidebar when translation is enabled"
## 📚 Documentation

I've enabled translation on a site and I can browse to different locales of docs from `/website/translated_docs/<locale>/` directory. Although I have the contents translated, the sidebar remains in English.

Maybe it's a bug or missing feature, but based on the doc, I could find information on how to get the sidebar translation. I think there should be different copies of `side

[2019-01-23 17:49] amimas commented on #1194
I *think* using service worker and making the site/app PWA compliant will achieve this.

[2019-01-23 18:57] amimas opened #1198 "Enhance error message for build failures"
## 🚀 Useful details for errors for failures

I had commented out couple of mandatory fields in `siteConfig.js`. For example, I skipped `projectName` and `organizationName` because I hadn't setup the remote git repository yet.

Although the site was working fine on the dev server, I could not build the site. I kept getting an error like this:

[code]

After a lot of debugging, I found the root caus

[2019-01-23 22:32] JoelMarcey commented on #1188
@SimenB Hi! Have you tried to reproduce this more than once? Just wanted to make sure this wasn't something flaky.

[2019-01-23 22:47] SimenB commented on #1188
No, afraid to test again as it was 45 minutes of downtime even after the revert...

[2019-01-24 00:59] JoelMarcey commented on #1188
I am trying to figure out a way if this is a one-off or if we need to contact Crowdin about this. Because, I assume, you have made updates to docs like this in the past with no issues with the translations, right?

[2019-01-24 05:42] #1187 closed

[2019-01-24 06:41] SimenB commented on #1188
Yes, we've added and removed links without issue

[2019-01-24 09:05] mrchess opened #1200 "Docusaurus v1.7.0 Fails to Build"
## 🐛 Bug Report

Docusaurus fails to build.

## To Reproduce

[code]

## Expected behavior

It should build.

## Actual Behavior

[code]

[2019-01-24 13:31] jakebolam commented on #1200
We're seeing this across all of our projects too:
https://github.com/tophat/yvm/issues/297 see the [build reference](https://circleci.com/gh/tophat/yvm/3018?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)
https://github.com/tophat/RichTextView/issues/87
https://github.com/tophat/jenkins-timeline-plugin/issues/67
https://github.com/tophat/with-immutable-props-to-

[2019-01-24 14:21] JoelMarcey commented on #1200
https://github.com/facebook/Docusaurus/pull/1201 should fix the issue. I will get another release out with this fix in it.

[2019-01-24 14:53] JoelMarcey commented on #1200
https://github.com/facebook/Docusaurus/pull/1202

[2019-01-24 15:11] JoelMarcey commented on #1200
v1.7.1 published to npm - please let us know if is working now.

Closing this.

[2019-01-24 15:11] #1200 closed

[2019-01-24 17:24] JoelMarcey commented on #1200
@mrchess Have you tried v1.7.1 to see if this issue was resolved?

[2019-01-24 17:50] amimas opened #1203 "Linking to images in docs is broken when `docsUrl` configuration is used"
## 🐛 Bug Report

In my `siteConfig.js`, I configured `docsUrl: ''` so that when docs are served, I don't have the `.../docs/...` in the url.  This seems to break the image links/rendering.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

(Write your steps here:)

1. Add `docsU

[2019-01-24 17:59] jakebolam commented on #1200
Looking good for us now

[2019-01-25 08:16] yangshun commented on #1084
This has been released in 1.7.1.

[2019-01-25 08:16] #1084 closed

[2019-01-26 00:08] JoelMarcey commented on #1203
@yangshun Have you seen this before?

[2019-01-26 18:05] marvinchin commented on #1203
This seems to be related to #1177. I've tried to reproduce the problem and I think I may found the issue.

In development environment (i.e. running `docusaurus start`), the server seems to be serving docs assets at the url specified by the `docsUrl` attribute specified in `siteConfig.js`, while the generated asset links are still referencing `/docs/assets/ASSET_NAME`. The images are not found at t

[2019-01-26 19:03] amimas commented on #1203
While we are on this topic, is it possible to use an 'assets' directory relevant to the docs?

In current setup if I have docs in any subdirectories, and I refer to the assets from '/docs/assets/', it'll work fine. The dev server and built assets will produce static site and show the images. But, if you're viewing the markdown files (those in subdirectories) in github or any editor that can parse

[2019-01-28 06:09] Alquimista3301 commented on #1080
Hello @yangshun ,
I am interested in working on Detox :)

[2019-01-28 12:08] iRoachie opened #1206 "Control Meta tags"
Is it possible right now to add additional meta tags that affect **all pages**?

I'd like to set `og:image` that's different from the favicon/logo.

I saw in the blog post for [v2](https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2) that you use react helmet to set these internally. How might this be done that it would affect all pages (blog/docs included)

[2019-01-28 14:12] Themandunord commented on #638
+1

[2019-01-28 15:18] amimas commented on #1197
I may have found out what I need to do to get the sidebar translated. I believe I will need to use `sidebar_label` in the front-matter of markdown files and have that value translated for translated files. I haven't tried it yet, but I think this should resolve it. It just wasn't clear from the documentation on what should be done.

[2019-01-28 17:20] #1177 closed

[2019-01-28 19:59] CaptainT33mo opened #1207 "Collapsible sidebar Unicode chevron render issue"
## 🐛 Bug Report

The chevron (dropdown icon) on the Collapsible Sidebar is rendering differently on different systems.

## To Reproduce

I am running [docursaurus](https://docusaurus.io/docs/en/installation) on Chrome 71 for Windows 10 version 1809.

## Expected behavior

This is how it should render in all systems [https://i.postimg.cc/T1S3qD9h/Screen-Shot-2019-01-28-at-10-57-10-AM.png](https://i

[2019-01-28 20:00] CaptainT33mo commented on #1207
@yangshun

[2019-01-28 20:02] yangshun commented on #1207
I'll be fixing it with the SVG provided by @CaptainT33mo:

[code]

via inline SVG or CSS images and remove the unicode.

[2019-01-28 20:49] yangshun commented on #1080
@Alquimista3301 It's yours! Thanks!

[2019-01-28 22:35] kyldvs commented on #1196
I just ran into this too, was hard to make sure I found and removed all the branding. I think I still use a css class prefixed with fb in the footer I couldn't find to rename.

[2019-01-28 22:37] kyldvs opened #1208 "Include CI publish instructions for Azure Pipelines in docs"
## 📚 Documentation

It would be nice if the instructions for publishing via CI included instructions for Azure Pipelines as well: https://docusaurus.io/docs/en/publishing#automating-deployments-using-continuous-integration

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2019-01-28 23:36] avishnyakov opened #1209 "Add option to siteConfig.js to configure supported headers in front matter"
## 💥 Proposal

Add `SupportedHeaderFields` option or similar to siteConfig.js so that we can avoid warnings about unsupported header fields.

The use case is this one:
- We store additional metadata in markdown front matter section
- Docusaurus reports warning on "unsupported" header fields as per "Ignore and warn about unsupported header fields" #347

A suggestion is to move SupportedHeaderFields

[2019-01-29 06:03] #1207 closed

[2019-01-29 10:24] avishnyakov commented on #1203
Confirming, a same-same issue if docsUrl is used.

It would be very nice if there was a way to use document-relative assets, as @amimas suggested. In this case, both GitHub and VSCode or other editors can render markdown preview straight away. Currently, it feels very much like a guessing game if the image URL is right :)

[2019-01-29 10:36] plaa commented on #827
Any idea when this would be coming?

I'd prefer also the possibility to link to custom pages (though of course I can do that with href as well). We are generating our API documentation using ReDoc, which would be well suited to be a custom page.

[2019-01-29 10:37] avishnyakov commented on #1203
@yangshun legend! 1.7.2 seems to get the images right!

[2019-01-29 13:14] sunnykgupta commented on #823
@yangshun - I'm kind of available to pick this up immediately. Unless it has already been taken up and closed without closing the thread.

[2019-01-29 13:20] ahmadalfy commented on #1196
Can someone clarify what's the [hackathon](https://github.com/facebook/Docusaurus/labels/hackathon) tag? should contributors avoid doing efforts on it?

[2019-01-29 17:51] yangshun commented on #1203
All thanks to @marvinchin for fixing it!

[2019-01-29 17:51] #1203 closed

[2019-01-29 17:52] yangshun commented on #1207
Fixed and released in v1.7.2

[2019-01-30 21:54] clearwaterstream commented on #1084
Awesome, much thanks!!!

[2019-01-31 05:17] yangshun opened #1213 "Live reload not working when changing the title of doc file"
## 🐛 Bug Report

https://stackoverflow.com/questions/53939348/live-reload-not-working-when-changing-the-title-of-doc-file

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Refer to SO post.

## Expected behavior

Refer to SO post.

## Actual Behavior

Refer to SO post.

## Repr

[2019-01-31 05:19] mikeattara commented on #1213
@yangshun I will take it on

[2019-01-31 05:32] yangshun commented on #1213
@mikeattara it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

Please do try to reproduce the error first.

[2019-01-31 20:26] bruno-alencar opened #1215 "Language-specific Code Tabs (Code blocks) broke referenced links"
## 🐛 Bug Report

Hi,

I'm using some referenced links and I've had a problem, to use the new feature Coding blocks.

Referenced markdown links:
![markdown-links-issue](https://user-images.githubusercontent.com/13769562/52080698-92792d00-257f-11e9-9f3c-b65428fa8501.png)

I've tried to use the Language-specific Code Tabs

![markdown-code-issue](https://user-images.githubusercontent.com/13769562/5208

[2019-02-01 15:58] Xarkam opened #1217 "Cannot install if user folder contain spaces on Windows."
## 🐛 Bug Report
In accordance with documentation, `npx docusaurus-init` cannot install in my windows user folder because, I have spaces in name.

I discovered this after analyzing installation log.

[code]

The correct path is `"C:\\Users\\Xarkam Xarkam\\AppData\\Roaming\\npm-cache\\_npx\\8596"` but the cli cut into two argments because of the space.

[2019-02-01 16:56] amimas opened #1218 "Consistent links based on `cleanUrl` setting"
## 💥 Proposal

When `cleanUrl` setting is used, it works great but if this option is **not enabled**, every page shows ".html" at the end of the url. But, the "home" link (near the top-left corner of navigation bar) still points to the site url as "http://example.com/". Can it be made as "http://example.com/index.html" to be consistent? There might be similar links in the footer.

### Have you rea

[2019-02-02 13:12] jgibbarduk commented on #1059
+ 1

[2019-02-02 14:02] yangshun commented on #1218
There was a similar issue and fix brought up here - #1146. Many sites that do not have clean URLs still have their logo link as the clean version. Example:

- https://reactjs.org/docs/getting-started.html
- http://docs.vulcanjs.org/nutshell.html

So we prefer to stick with this convention.

[2019-02-03 03:52] amimas commented on #1218
Thank you for your reply. I'm sorry I cannot yet follow the logic behind sticking with this convention.

Since there is a configuration for clean url, in my opinion its usage should be consistent. Also, as it was already explained in #1146, this is needed for the situations where directory listing/indexing is not supported or does not automatically redirect to `/index.html`. Here's my current issu

[2019-02-03 04:02] amimas commented on #1218
I just understood now what you meant here and why you want to stick with this convention.

I do see your point. I personally prefer to use the clean url but unfortunately I haven't been able to use it in my case because of the issues I encountered in aws s3. I believe this is one of the many popular choices for hosting static site.

[2019-02-05 00:51] amimas commented on #1218
Thought I'd add some updates here. I have been trying to add some work-around in aws based deployment. Just for clarification, this is not an issue if you deploy to the root of the s3 bucket. Aws Cloudfront (used as a cdn for s3 bucket as source) has a setting to default to `index.html` if the client requested a url without specifying it. But, this only works if you deploy/upload built static file

[2019-02-05 16:36] amimas opened #1219 "Visual indication of external links"
## 💥 Proposal

A visual indicator for each links that will open in new window. For an end user, it's a good experience to know that clicking on certain links will open up a new window.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2019-02-06 03:35] nmoinvaz opened #1220 "Large table of contents gets cut off"
## 🐛 Bug Report

When you have a large table of contents with many items, some of them get cut off at the bottom of the page. A user visiting the site might not know there are additional items in the table of contents.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Sort of.

## To Reproduce

1. C

[2019-02-06 10:35] miftahrahmat opened #1221 "help me master"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

RangeError: Maximum call stack size exceeded
    at Stats.isDirectory (internal/fs/utils.js:288:15)
    at syn

[2019-02-06 11:01] yangshun commented on #1221
Sorry this error report is not helpful. Please fill up the template or ask on Stack Overflow.

[2019-02-06 11:01] #1221 closed

[2019-02-06 11:29] o-t-w opened #1222 "npx docusaurus init error - No siteConfig.js file found"
I ran `npx docusaurus init` and got the following messages:
[code]
When I do `ls` it shows that the directory is empty.

[2019-02-06 12:01] miftahrahmat opened #1223 "I have trouble when publishing my website, it looks like the css is not working, please help me"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2019-02-06 14:12] #1223 closed

[2019-02-06 14:13] yangshun commented on #1223
@miftahrahmat Please, please read the contributing guidelines before creating an issue: https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues

[2019-02-06 22:26] amimas commented on #1222
You have a typo/mistake in your command. It should be `npx docusaurus-init`. Notice the **-** (hyphen) in the command.

[2019-02-06 23:15] yangshun commented on #1222
Thanks @amimas for helping to debug!

[2019-02-06 23:15] #1222 closed

[2019-02-07 21:03] cryptoads commented on #776
Any update on this?

[2019-02-07 22:33] kyldvs opened #1226 "Add setting to prevent publish script from deleting CNAME file"
## 🚀 Feature

Add setting to prevent publish script from deleting CNAME (and potentially other) files.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

When setting up gh-pages with a custom domain name I need to add a CNAME file (It's also possible my website setup is wrong...bu

[2019-02-08 01:23] JoelMarcey commented on #1226
Hmmm.. Here is `gh-pages` for Docusaurus - https://github.com/facebook/Docusaurus/tree/gh-pages

The CNAME file hasn't changed in a year.

I wonder if something is missing in the way you are running this.

cc @yangshun

[2019-02-08 01:33] yangshun commented on #1226
@kyldvs Try using the `cname` [field](https://docusaurus.io/docs/en/site-config.html#cname-string) in `siteConfig.js` rather than adding your own CNAME file. Difference being we'll generate the CNAME file for you during build and you don't have to provide your own file.

We do that for [Docusaurus](https://github.com/facebook/Docusaurus/blob/master/v1/website/siteConfig.js#L18).

That should help

[2019-02-08 01:37] JoelMarcey commented on #1226
Oh - I thought he was using that :) yeah, that should fix it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-08 01:48] kyldvs commented on #1226
Perfect I will try this. I would recommend adding a brief mention of this option to the "publishing your site docs" so it is more discoverable. Probably near the end of this section: https://docusaurus.io/docs/en/publishing#using-github-pages

Where custom domains are mentioned: "(but it can also be accessed via https://docusaurus.io/ because of a CNAME),"

[2019-02-08 01:48] #1226 closed

[2019-02-08 01:54] yangshun commented on #1226
I'll do that. Thanks for the suggestion 😄

[2019-02-11 16:16] amimas commented on #448
Any update available on this item? This would allow me to have a review site deployed very easily. I can deploy the site in a different path other than what's mentioned in `baseUrl` but all the generated links are set to absolute path.

[2019-02-11 16:24] amimas commented on #1180
I was just going through some of the old issues and realized that this request is duplicate of #458 where it already raised the same request. Closing this item in favor of keeping track of the original request.

[2019-02-11 16:24] #1180 closed

[2019-02-11 16:25] amimas commented on #1194
@JoelMarcey - I think this is duplicate of #458. Would you agree?

[2019-02-11 19:46] amimas commented on #448
@JoelMarcey @yangshun - Would you be able to provide some feedback? If I can I'd love to look into implementing this and submit a PR for it.

[2019-02-12 01:50] JoelMarcey commented on #1194
@amimas - you are right 👍 Sometimes I lose track of which issues have been filed 😄

[2019-02-12 01:50] #1194 closed

[2019-02-12 01:50] JoelMarcey commented on #458
cc: @jordwalke

[2019-02-12 03:17] yangshun commented on #448
@amimas Sure, go ahead 😄

[2019-02-12 04:44] mrchess opened #1230 "Allow icon to be changed for navToggle"
## 🚀 Feature

Currently the `navToggle` is a 4-arrow icon. This causes confusion for a lot of my users as they are used to a more traditional hamburger icon. Everyone who I have showed the page to had no idea that is how you navigate, or see the table of contents.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-

[2019-02-12 18:22] amimas commented on #448
Any guidance available? I'm new to this and not really sure where to begin.

[2019-02-12 21:02] dhuber23b commented on #1198
A related problem with error messages occurs if there is an error in one of the js files needed to run the local server.

I accidentally introduced a syntax error into help.js.  Here is the error message that I got:

$ yarn start
yarn run v1.12.3
warning package.json: No license field
$ docusaurus-start
LiveReload server started on port 35729
Failed to start Docusaurus server: SyntaxError: Unexpec

[2019-02-13 22:10] bennmapes opened #1232 "Support for customBuildPath in siteConfig.js"
## 🚀 Feature

It would be convenient to include a `customBuildPath` (similar to the `customDocsPath`) property to the `siteConfig.js` file. This would allow developers to specify the build directory they want the site copied to.

## Motivation

The reason for this is that sometimes docusaurs will be nested inside a project and you might want to pull out the build files to a separate directory for

[2019-02-13 23:40] ForbesLindesay opened #1233 "og:url still has trailing /index.html even when cleanUrl is true in site cofnig"
## 🐛 Bug Report

og:url still has trailing /index.html even when cleanUrl is true in site cofnig

### Have you read the [Contributing Guidelines on issues]
yes

## To Reproduce

1. Create a new site using docusarus
1. set `cleanUrl` to `true`
1. set `url: 'https://www.bicyclejs.org'`
1. build the site

## Expected behavior

The header should contain:

[code]

## Actual Behavior
The header contains

[2019-02-14 03:48] jakebolam opened #1234 "AUTOGENERATED_TABLE_OF_CONTENTS does not work with translations"
## 🐛 Bug Report

AUTOGENERATED_TABLE_OF_CONTENTS does not work with translations enabled

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## To Reproduce

1. Enable translations
1. Add a doc page with some h3
1. Add AUTOGENERATED_TABLE_OF_CONTENTS

# Expected behavior
Generated for all language

[2019-02-14 03:50] jakebolam commented on #1234
On phone will update description when on PC.

Here's an example: https://allcontributors.org/docs/ko/cli/usage#%EC%BD%94%EB%A9%98%EB%93%9C%EB%93%A4

[2019-02-14 03:51] jakebolam commented on #1234
Reported here https://github.com/all-contributors/all-contributors/issues/196

[2019-02-14 03:53] jakebolam commented on #1234
Also issue number 1234 :tada:

[2019-02-15 02:11] yangshun commented on #1110
@ablakey Yes that's reasonable. Feel free to submit a PR for this!

[2019-02-15 02:44] yangshun commented on #789
A more detailed v2 document can be found [here](https://docs.google.com/document/d/1N_dA9W0CgMpNg9jl2kfWRKoB6yE5Up9isgTK9Ol1dLk/edit?usp=sharing).

Would like to give interested parties a heads up that v2's progress is delayed due to manpower constraints on our end. We hope to have a beta ready by mid 2019, dogfood on Facebook's Docusaurus sites, and launch in Q4 2019.

[2019-02-15 03:45] JoelMarcey commented on #789
That said, if anyone is interested in joining our effort as a direct contributor to v2 (or maintainer of v1), let us know. We would love the help.

[2019-02-15 09:40] sarneeh opened #1235 "Website layout jumping when navigating between docs pages"
## 🐛 Bug Report

The default CSS (I guess this is the reason) is making navigating between documentation sections pretty annoying, because the whole layout jumps around (example in "Actual behavior").

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Just roam around the secti

[2019-02-15 09:51] sarneeh commented on #1235
For some reason I assumed that `docusaurus` docs are server-side rendered, but they're not and I guess that's the reason - the content is being loaded after initial page load - am I right?

[2019-02-15 10:01] ablakey commented on #1110
Great. Glad to see I understand the situation. I'll tackle this next time I'm working on docs.

[2019-02-15 13:47] amimas commented on #982
I believe tabbed code block is now supported on latest version

[2019-02-15 13:51] hsluoyz commented on #982
I will try it ASAP, close it now.

[2019-02-15 13:51] #982 closed

[2019-02-15 14:50] JoelMarcey commented on #1235
@sarneeh - I actually don't see that behavior on https://docusaurus.io. May I ask what OS and browser you are using?

Also, no, this is not server-side. Everything is pre-built and served as static html.

[2019-02-15 15:09] sarneeh commented on #1235
@JoelMarcey Yeah I've already noticed that this is just static html - my bad! :)

I'm working on Ubuntu 18.04 + Chrome 72.0.3626.109.

[2019-02-15 15:16] sarneeh commented on #1235
I tested it on Firefox and this issue does not occur there. It might be something wrong with my Chrome on Linux :cry:

[2019-02-15 15:21] JoelMarcey commented on #1235
Do you have the latest Chrome version? I want to indeed make sure this is not a Docusaurus issue, but it does sound like it may be your browser specifically.

[2019-02-15 15:35] sarneeh commented on #1235
@JoelMarcey Yes, this is the latest version. I've also tried on incognito mode (without any plugins) and I have the same issue. What's interesting (or depressing :smile:) is that I didn't see this kind of behavior on any other site before :smile:

[2019-02-15 17:03] JoelMarcey commented on #1235
Do you see the problem on other Docusaurus sites? https://docusaurus.io/en/users

Prettier uses Docusaurus, I want to know if you see the problem in other places?

[2019-02-15 17:17] sarneeh commented on #1235
@JoelMarcey Yes, but I see this is completely non-deterministic. It sometimes happens, sometimes not. As you may already guess - it's this kind of a bug that I have no idea where could I look at to find the cause :cry:

[2019-02-20 10:10] CaptainT33mo opened #1238 "Feature Request - Ability to add Notes block (Callouts) in docs"
## 🚀 Feature
Ability to add `Warning`, `Info`, `Success` and `Danger` Notes (Callouts) block in Docusaurus.

## Motivation
The main source of motivation for this issue came from [Readme](http://readme.io) because I've used this in my company. And readme has this **Notes Block** which they call **Callouts** which support `Warning`, `Info`, Success and `Danger` Callouts as shown in the attached imag

[2019-02-21 07:52] sinchang opened #1239 "css break when hover algolia logo"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. visit https://docusaurus.io/docs/en/installation
2. search anything
3. hover algolia logo

## Expected beha

[2019-02-21 09:15] wilsonyou opened #1241 "Content Index does not show on the right side on a page in IE and Edge browsers"
## 🐛 Content Index does not show on the right side on a page in IE and Edge browsers
I test the docs as you suggest on my local computer and it works. But the following issue occurs:
Shown as below:

![image](https://user-images.githubusercontent.com/40747875/53157253-0d23ee00-35fc-11e9-8ed8-3815d157a0cb.png)

Could you help to figure out?

[2019-02-21 09:27] Nevon commented on #561
I agree with @markerikson and am in the same boat. For common errors, I would even like to embed a link to where users can find help within the application itself, but that means I need to have stable slugs that I can guarantee won't change even if I decide to change the wording of the title.

[2019-02-21 20:21] amimas commented on #1238
I'd love to see this feature. Just a quick comment on the examples used above. Typically you'd use Markdown's built-in code block for that type of contents. For example:

[code]
For tips or warning about certain info, it'd be great to be able to have different coloured content blocks.

[2019-02-21 20:24] #1233 closed

[2019-02-21 20:36] amimas opened #1243 "Config option for not including next release docs in the final build"
## 🚀 Feature

Provide a build option or a configuration so that we can choose whether or not to include the docs for the *next* release, when it's being built.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Being able to publish different versions of docs easily is a great feat

[2019-02-22 01:30] jakebolam commented on #1239
cc @s-pace

[2019-02-22 01:31] jakebolam commented on #1239
@sinchang I can't reproduce this on chrome here?:
<img width="1303" alt="screen shot 2019-02-21 at 8 30 55 pm" src="https://user-images.githubusercontent.com/3534236/53213619-a44a6f00-3617-11e9-8cdf-a747d3553d26.png">

[2019-02-22 01:34] yangshun commented on #1239
@jakebolam You have to hover over the "Search by Algolia" button/link at the bottom to see it.

[2019-02-22 01:38] jakebolam commented on #1239
Ahh yes, can reproduce!
<img width="1154" alt="screen shot 2019-02-21 at 8 38 04 pm" src="https://user-images.githubusercontent.com/3534236/53213908-a06b1c80-3618-11e9-892b-a862e97fb2ae.png">

[2019-02-22 07:56] #1239 closed

[2019-02-23 00:40] leonardfactory commented on #1238
I'm thinking about this too (docusaurus is awesome, except for missing asciidoc 😄!). I'm looking into  [Remarkable plugins](https://github.com/jonschlinkert/remarkable/blob/master/docs/plugins.md) as a way to add callouts, but I need to dig deeper.

[2019-02-23 21:45] ahtee commented on #1080
@yangshun
I'd like to take
* https://github.com/scalameta/scalafmt
I'm assuming this would use the `scalameta` logo (.png)

[2019-02-23 21:55] yangshun commented on #1080
@ahtee Go ahead!

[2019-02-23 22:03] ahtee commented on #1196
@kyldvs mentioned that it took a while to remove all branding, and this is a no-branding discussion, but what if there was a central place where you could change the branding everwhere if you did have a brand? and if that field is empty or `null` then it removes all branding..?

[2019-02-24 17:06] jakebolam commented on #1234
Looks like [`insertTOC`](https://github.com/facebook/Docusaurus/blob/487fd573e529b922cc7073879cc642af6b611ffc/v1/lib/server/docs.js#L108) needs to be called during [`write-translations`](https://github.com/facebook/Docusaurus/blob/487fd573e529b922cc7073879cc642af6b611ffc/v1/lib/write-translations.js#L59), but we can't write back to the same file 🤔

I'm not sure of the best approach here. @yangshun

[2019-02-25 06:37] cuddergambino commented on #1215
I'm also getting the same issue.

Only way I've found to workaround (other than manually link all references) is to include the link reference before and after the code block.

Example:
[code]

[2019-02-25 20:52] blemelin commented on #1215
Same here. I have multiple `DOCUSAURUS_CODE_TABS` section on the same doc. When I remove the last one, everything is fine.

[2019-02-25 21:47] yangshun commented on #1215
@fiennyangeln Do you have time to look into this?

[2019-02-25 23:49] JoelMarcey opened #1246 "Document how to find CSS elements to override"
## 📚 Documentation

https://docusaurus.io/docs/en/api-pages#styles talks about overriding default styles with custom styles, but it does not mention where to go to look for the default styles.

They are in `main.css` which can be inspected in one of three places:

1. `website/node_modules/docusaurus/lib/static/css/main.css` after doing a `docusaurus-init` or `yarn install` to start developing your

[2019-02-25 23:53] JoelMarcey opened #1247 "`npm install` throws error on `highlight.js`"
## 🐛 Bug Report

`npm install` within a `website` directory throws an error around `highlight.js`. `yarn install` actually works.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. `cd website`
1. `rm -rf node_modules`
1. `npm install`

## Expected b

[2019-02-26 00:32] ahtee commented on #1080
@yangshun here's the approval. Ill go ahead and make the pr

[2019-02-26 02:54] jpwain commented on #1247
More information here: https://github.com/highlightjs/highlight.js/issues/1984

[2019-02-26 04:16] JoelMarcey commented on #1247
@jpwain Thank you!

[2019-02-26 04:19] JoelMarcey commented on #1247
This has been fixed in highlight.js.

cc: @int3

[2019-02-26 04:19] #1247 closed

[2019-02-26 04:37] yangshun commented on #1247
Thanks for the tip @jpwain! @JoelMarcey I think the problem should be non-existent as highlight js has published a new version and `npm install` will pick that up.

[2019-02-26 04:39] JoelMarcey commented on #1247
Yep - I tested again on Redex and it was fine.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-26 05:05] madhu6759 opened #1248 "how to start the docusarus app permentely?"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2019-02-26 05:17] fiennyangeln commented on #1215
I will take a look at it tonight 😄

[2019-02-26 05:38] yangshun commented on #1248
@madhu6759 Sorry, please describe the problem clearer by updating the description. Feel free to reopen.

[2019-02-26 05:38] #1248 closed

[2019-02-26 16:50] yangshun commented on #1215
@cuddergambino I think as long as the link is above the code tab it is ok, so the link below the code tab can be removed, as @blemelin mentioned.

[2019-02-26 16:56] #1215 closed

[2019-02-26 17:30] ahtee commented on #1080
@yangshun in my pr #1250, some of the images arent showing up:

<img width="900" alt="screen shot 2019-02-26 at 12 29 17 pm" src="https://user-images.githubusercontent.com/5076085/53433432-5ab8a600-39c2-11e9-913f-504ebde20e68.png">

[2019-02-26 19:40] derekflint commented on #1166
@amimas I fixed myself although it seems this behavior should be auto generated with version creation.

Inside version.js I added:

const versionMap = {};
versions.map(version => versionMap[version] = `docs/${version}/doc.html`);

Then for url i added:

<td>
  href={versionMap[version]}>Documentation
</td>

[2019-02-26 21:30] dfadev opened #1251 "BrowserslistError: Unknown browser query 'dead'"
## 🐛 Bug Report

Site fails to start due to dependency issue

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

[code]

## Expected behavior

Site runs

## Actual Behavior

An exception is thrown:

[code]

## Reproducible Demo

[code]

[2019-02-27 06:48] ahtee commented on #1080
thanks for covering that linting :)

[2019-02-27 09:09] hassanfarid opened #1252 "Build static site once and deploy on multiple hosts"
## ❓ Questions and Help

I want to build my documentation for being hosted in multiple offline environments, hosted on docker containers. This requires following key features in static site generator,
* Use all resources (js / css), hosted locally with static html files.
* Configure `url` and `baseUrl` at deployment time (when docker container is started).

These two configurations can help achiev

[2019-02-27 12:12] o-t-w opened #1253 "Use a doc page as homepage"
I do not require a landing page for my website. I would like the home page to be a page I have in the docs e.g. /docs/about/

My feature request (maybe it is already possible?) is to forego having the default homepage.

This way the use can get directly at what they came for - the documentation. My site won't offer much else, so it seems logical to go straight there. I wouldn't even know what to p

[2019-02-27 14:58] JoelMarcey commented on #1253
This can be done. Other sites that use Docusaurus have done it. See:

https://docs.reactioncommerce.com/docs/intro.html

There are a couple of others on the users page - https://docusaurus.io/en/users

[2019-02-27 14:59] JoelMarcey commented on #1253
See the documentation for this here: https://docusaurus.io/docs/en/site-creation#docs-landing-page

[2019-02-27 18:43] yangshun commented on #1251
@dfadev Did you figure out the issue? Mind providing some insight?

[2019-02-27 19:54] jpwain commented on #897
Have any workarounds been found for this issue? I started using absolute URLs so my images render on the published website, but they don't show up for local builds as expected.

[2019-02-28 14:53] dfadev commented on #1251
No.  I wasn't able to repro on another machine.  Are you getting the same exception?

[2019-02-28 16:18] amimas commented on #1253
See the documentation for this here: https://docusaurus.io/docs/en/site-creation#docs-landing-page

I've used that example in one of my doc site also. I think it would be useful if we could simply have a configuration for it. For example, if we set `disableLandingPage: true` in the configuration, docusaurus will automatically generate the site with a `/index.html` that redirects to `/docs/index.ht

[2019-02-28 17:40] yangshun commented on #1253
@amimas We're prioritizing v2 work now and for v1 we will refrain from adding features and focus on doing bug fixes. I don't think this redirect is highly used so perhaps we should add it in v2 instead.

[2019-02-28 20:58] sailor27 commented on #1251
Hi, I am having the same exception when running `npm start` in the website directory.

[2019-03-01 00:04] amimas commented on #1253
@yangshun completely agree. This isn't a priority for current version.

Btw, do you have any estimate on v2 release date? Not sure how much of the targetted features have been added to v2 already.

[2019-03-01 00:07] amimas commented on #1252
I think this is related to #448

[2019-03-01 00:10] yangshun commented on #1253
Unfortunately it's not going as fast we would like it to be due to manpower constraints - one of our members is taking leave due to health, and I'm really swamped with my core work (Docusaurus is my side project). We hope to release a beta in the second half of the year. Follow the progress on the issue https://github.com/facebook/Docusaurus/issues/789

I really should do better on providing visib

[2019-03-01 09:54] ktutnik commented on #459
Everyone still having this issue, its already documented [here](https://docusaurus.io/docs/en/adding-blog#i-want-to-run-in-blog-only-mode)

[2019-03-02 22:08] erikh commented on #602
so fwiw S3 doesn't seem to set these mime types by default either. can't the link tag be adjusted?

[2019-03-03 15:55] Luanf opened #1254 "h3 topics with Markdown formatting causes a glitch on mobile"
## 🐛 Bug Report

Found this while investigating a Jest issue: https://github.com/facebook/jest/issues/7856
When navigating a "topics" (?) menu on a mobile screen size, clicking an h3 header that has Markdown formatting does not closes the menu.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

[2019-03-03 17:33] CaptainT33mo commented on #1241
Hi @wilsonyou ,
The reason right side sidebar is not visible in IE is because Docusaurus is using `@supports` **Feature Queries** which is not supported in **Internet Explorer** (see [this](https://www.caniuse.com/#search=%40support) link). However, **Edge** does support it so it will work perfectly fine in **Edge**.

I found **[Stickybits](https://css-tricks.com/stickybits-alternative-position-st

[2019-03-03 18:41] vieira opened #1255 "Warning: Each child in an array or iterator should have a unique "key" prop. when using Code Tabs"
## 🐛 Bug Report

Getting a warning: Each child in an array or iterator should have a unique "key" prop. when opening a page that uses [Language-specific Code Tabs](https://docusaurus.io/docs/en/doc-markdown), version 1.7.2.

## To Reproduce

Note: In the example below I added some spaces between ` to avoid breaking the style. In the markdown file I am using there are no such spaces.

[code]

Run `

[2019-03-03 20:15] ymschaap commented on #789
@yangshun @JoelMarcey I've been following the project for a while now. Have 10+ year in front-end development, experienced in react and would be able to commit time to join the effort on getting 2.0 launched.

[2019-03-04 05:44] sunpeinju opened #1256 "image"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## Motivation

(Please outline the motivation for the proposal.)

## Pitch

(Please explain why this feature should be implemented and how it would be u

[2019-03-04 05:44] #1256 closed

[2019-03-04 05:54] JoelMarcey commented on #789
@yangshun, @endiliey  -- what is the best way for @ymschaap and @henrystevens (who I chatted with offline) to get started helping with v2?

[2019-03-04 05:58] sunpeinju opened #1257 "static asset images doesn't support versioning"
## 🐛 Bug Report

I have a document which need to display some images, which are put under 'docs/assets' folder, and reference in the .md file like `![sample](assets/image1.png)`. Just followed the ![guide](https://docusaurus.io/docs/en/doc-markdown.html#linking-to-images-and-other-assets)

Next, I want to create a new version of the document and need to use an updated version of the image. I execu

[2019-03-04 05:59] yangshun commented on #1257
Unfortunately, this is one of the known limitations of versioning. We will address this fix in #789 when we rethink how we're implementing versions. You're welcome to send a patch for this bug 😄

[2019-03-04 06:36] endiliey commented on #789
This might need more discussion. But one of the useful thing that can be done for those who wanted to help with v2 is to actually test & play around with the [on-going v2 implementation](https://github.com/facebook/Docusaurus/tree/master/v2)

There is an instruction on how to run it locally.

[2019-03-04 08:08] sunpeinju commented on #1257
@yangshun thank you!

[2019-03-04 08:37] endiliey commented on #1255
cc @fiennyangeln

[2019-03-04 16:04] amimas opened #1258 "OOTB Mermaid code block"
## 🚀 Feature

[mermaidjs](https://mermaidjs.github.io/) seems to be a pretty neat tool that allows drawing diagrams using markdown. It'd be nice if Docusaurus can be integrated with that.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

Most documentation needs to show diagrams.

[2019-03-04 16:41] amimas opened #1259 "`sidebar_label` and `title` is incorrect for the first doc after creating the initial version"
## 🐛 Bug Report

I have multiple directories with markdown documents. After creating the initial version by running `yarn run version 1.0.0`, the very first page/doc has incorrect title and sidebar label.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:

[2019-03-04 17:24] yangshun commented on #1255
This should be quite an easy fix. Anyone is free to take it up 😄

[2019-03-04 18:26] amimas commented on #1259
I've just created a reproducible demo. Link to the repo is: https://github.com/amimas/docusaurus-1259

After the new version was created, the sidebar for `/docs/` shows "A doc". But if you go to `/docs/next/`, you'll see that it says "Main Page". The contents are correct. Somehow the sidebar label and the title of the page in the "released version" of the doc is incorrect.

[2019-03-04 23:44] Glavin001 opened #1260 "Code Tabs do not allow HMTL comments within code blocks"
## 🐛 Bug Report

Language-specific Code Tabs creates a new tab for HTML comments within code blocks.

Related to:
- https://github.com/facebook/Docusaurus/issues/103
- https://github.com/facebook/Docusaurus/pull/1063
- https://github.com/Unibeautify/website/pull/211

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporti

[2019-03-05 04:02] ael-mas commented on #1246
I'm interested in working on this issue if it is still up for grabs.

[2019-03-05 04:24] JoelMarcey commented on #1246
Thanks @ael-mas.

We've added an `issue: claimed` label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let us know so that we can remove the label and free it up for someone else to claim.

We will check in with you periodically so that we can keep the task updated with the progress.

[2019-03-05 06:28] #1257 closed

[2019-03-05 06:32] #1253 closed

[2019-03-05 06:51] endiliey commented on #1232
i prefer not having it on siteConfig as to not bloat it more. Maybe as a cli arg is better. Example: yarn build —outdir=buildPath

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-05 07:01] endiliey commented on #1183
While i agree it can be confusing, doing the change now will require all docusaurus user to manually edit their markdown file on the versioned folder.

Lets avoid major breaking changes for now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-05 07:01] #1183 closed

[2019-03-05 08:27] endiliey commented on #1165
this can be done easily if react component can be embedded in markdown.

The good news is this is super easy in v2, the bad news is we wont implement it in v1 for now due to architecture constraint.

i will be closing this issue since #489 has a similar nature

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-05 08:27] #1165 closed

[2019-03-05 08:28] #1060 closed

[2019-03-05 08:31] #45 closed

[2019-03-05 13:51] amimas opened #1261 "Referencing documents are not working if .md extension is used"
## 🐛 Bug Report

When referencing other docs using `.md` extension, Docusaurus is failing to generate a proper link.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Follow the steps mentioned here: https://docusaurus.io/docs/en/navigation#referenc

[2019-03-05 13:52] amimas commented on #1261
This issue was also brought up before in #1137  but not sure why it was closed.

[2019-03-05 14:02] amimas commented on #1261
Ooops. Just found my mistake. I had a typo in the doc file name that was being linked to.
Closing it.

[2019-03-05 14:02] #1261 closed

[2019-03-05 14:03] endiliey commented on #1261
#1137 was fixed by #1138 and hence got closed. I believe this might be a regression.

[2019-03-05 15:37] parthpp commented on #1243
@yangshun @endiliey @JoelMarcey What are your thoughts on this feature. We really need this for our project and I am interested in implementing this feature. As far as I can understand from the code base, I need to look into [generate.js](https://github.com/facebook/Docusaurus/blob/master/v1/lib/server/generate.js). Do you have any pointers/suggestion on where should I do a deep dive in the codeba

[2019-03-05 20:20] oneuptim commented on #1255
@yangshun I'd like to scoop this one up!

[2019-03-05 21:07] yangshun commented on #1255
@oneuptim it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2019-03-05 23:10] oneuptim commented on #1255
Sounds good! Thanks!

[2019-03-06 01:52] JoelMarcey commented on #1243
I am not adverse to implementing this -- it could possibly be a build option if we do it in v1. https://docusaurus.io/docs/en/command ?

[2019-03-06 14:09] endiliey commented on #1197
I am assuming you are not using Crowdin, (in which we recommend and suggest). The sidebar translation is done via `.json` file. Example: if you are using a chinese language/ `zh-CN`, crowdin-download will pull out a `zh-CN.json`.

You can look at this as an example https://github.com/loomnetwork/loom-sdk-documentation/tree/master/website/i18n

[2019-03-06 14:09] #1197 closed

[2019-03-06 15:55] amimas commented on #1243
I agree. Using a "build option" is probably a better approach. Something like `--skip-next-release-docs`

[2019-03-06 16:11] amimas commented on #1197
You're right. I'm not using Crowdin. I personally do like it but I don't think it's free (please correct me if I'm wrong). I think we need a little bit more flexibility with translation so that we can manage translation even without crowdin.

I thought I had raised a feature request for this, but can't seem to find it now.

[2019-03-06 16:23] endiliey commented on #1197
From my understanding, crowdin is free only for open source project. Well, technically not using crowdin is possible, but the user need vast understanding of how docusaurus v1 works. I strongly does not recommend managing translation without crowdin in the current version.

I was on leave up until recently, but I'll keep this in mind when we're developing v2 to allow user managing translation with

[2019-03-06 16:27] endiliey commented on #1243
I am not against this and will be happy to see this, but I think there are quite lot of places/ code that need to be changed to achieve this.

I personally feel creating your own script to remove the `next` folder from the `website/build` is much easier IMO. Just few lines of code to achieve the same thing 😄

[2019-03-06 17:40] endiliey commented on #1178
Remind me of webpack. Too much configuration. I think this is quite a good idea, but definitely not a high priority for now (we should focus on v2 :( )

If anyone want to implement this, we’ll be happy

[2019-03-06 17:42] endiliey commented on #46
Closing this due to inactivity and since its definitely part of v2 roadmap

[2019-03-06 17:42] #46 closed

[2019-03-06 17:44] #77 closed

[2019-03-06 17:48] endiliey commented on #570
Closing due to inactivity. Will do this in v2 like ‘import CompLib from “docusaurus/CompLib”’

[2019-03-06 17:48] #570 closed

[2019-03-06 17:49] JoelMarcey commented on #1197
Yes, Crowdin is free for open source projects, which is part of the reason why we chose them as a partner for Docusaurus. https://crowdin.com/page/open-source-project-setup-request

[2019-03-06 18:41] #1259 closed

[2019-03-06 18:43] jamesplease commented on #570
Cool, thanks for the update @endiliey ! I'm excited to see the improvements that land in v2!

[2019-03-06 18:52] yangshun commented on #1243
It definitely is, but links on the "All Versions" page might be broken :/

[2019-03-06 19:20] amimas commented on #1243
Yes, that can be done too and I have thought about it as well. Personally it just felt more like a work-around.

This feature request can be useful to others too. That's why I raised it here and if you agree, my friend @parthpp can help contribute. We just need a bit guidance as neither of has experience with Docusaurus' code base.

[2019-03-07 02:10] amimas commented on #1259
Thanks so much for the quick fix!! Can't wait to try it out.

[2019-03-07 04:57] endiliey commented on #1259
You can try it out locally. A very naive & easy way to test it out is to copy the changes https://github.com/facebook/Docusaurus/pull/1265/files into your node_modules/docusaurus

[2019-03-07 17:02] #489 closed

[2019-03-07 18:51] yangshun commented on #1246
Fixed in #1266

[2019-03-07 18:51] #1246 closed

[2019-03-07 19:03] parthpp commented on #1243
@yangshun @endiliey @JoelMarcey

I would like to propose the following design changes to implement this feature.
The build command `yarn run build --skip-next-docs` will build the static
website but will skip the current version of documents in `docs` or `siteconfig.customDocsPath`.
Thus on deployment of such a website there is no path of type `**/next**`. If
the website does not use versioning, t

[2019-03-07 19:35] amimas commented on #1243
under docs or siteconfig.customDocsPath when versioning is enabled.

You mean, that will happen only if the build command is used, right? I think we need to keep it as flexible as possible. Some use cases (i.e. open source projects) may want to include the next release docs when they build it.

[2019-03-07 19:45] amimas commented on #789
One of things I've noticed in the V1 is that when you have versioning enabled, each versioned docs require a `original_id`, which is supposed to correspond to another doc in the "next" release doc id.

I'm not sure why this is a hard requirement. Removing a doc from the next release seems to be a blocking issue if that doc exists in a versioned doc. I know the versioning mechanism is being looked

[2019-03-07 19:48] parthpp commented on #1243
Yes, it will only happen when the `--skip-next-docs` option is used. I have updated the comment to be more specific.

[2019-03-07 22:43] denismcdonald commented on #1230
Yes, from my viewpoint, this is a major usability issue.

[2019-03-08 01:20] ahtee commented on #1080
another addition could be https://microsoft.github.io/just/ 💯

[2019-03-08 01:28] yangshun commented on #1080
Thanks, updated with Just 😄

[2019-03-08 01:35] JoelMarcey opened #1269 "Random selection of colors when using docusaurus-init"
## 💥 Proposal

Right now we have one color patten when `docusaurus-init` is used. A green-ish color. How about we randomly select a color pattern? Either totally random or based on a set of good, visually appealing colors.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2019-03-08 02:44] fiennyangeln commented on #1260
I think this is due to our syntax choice for the CodeTabs and can be fixed by changing the syntax. However, we need to think of what syntax to use such that it doesn't overlap with any language syntax. E.g adding DOCUSAURUS in the syntax?

[2019-03-08 14:37] FabianTe commented on #1198
This happened for me too. The error message should me more clear

[2019-03-08 15:03] amimas opened #1270 "Add option for release date when creating versions"
## 🚀 Feature

The versions page currently shows a table with link to Documentation and corresponding release note. This request is to include a release date

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I had an interesting feedback from couple of stakeholders of the documenta

[2019-03-08 19:25] parthpp opened #1271 "Links to other documents in markdown files not resolved to html when versioning is enabled"
## 🐛 Bug Report

Links from one document in `docs` to the document in `docs` that are written in markdown syntax are not converted to html links when versioning is enabled.

Please refer to the following project and follow its readme to reproduce the bug : https://github.com/parthpp/Docusaurus-Broken-Links

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docus

[2019-03-08 19:31] parthpp commented on #1271
I think the problem is due to the [`metadata.mdToHtml`](https://github.com/facebook/Docusaurus/blob/master/v1/lib/server/metadataUtils.js#L73-L75) file returning prematurely when the metadata has `metadata.original_id`. Since all the versioned documents will have `metadata.original_id`, but since the method returns prematurely mdToHtml will not have links from md to html for these versioned docume

[2019-03-09 00:15] julians300 commented on #1251
I am getting the same issue. Anyone have an idea why this is?
`BrowserslistError: Unknown browser query 'dead'`

[2019-03-09 01:25] JoelMarcey commented on #1251
Are you getting this issue only with `npm start`? Does `yarn start` work? I know that `yarn --cwd website start` was causing an issue. I am wondering if `cd website; yarn start` works?

[2019-03-09 04:46] amimas commented on #1269
I'm not so sure about random/different colour pattern. I'm just not seeing any value in that since everyone will most likely modify the `siteConfig.js` to use their own colour scheme.

[2019-03-09 05:20] JoelMarcey commented on #1269
It's not a high priority feature, for sure. Something that would be a nice to have, possibly. And also allow folks to dive into the codebase to learn about Docusaurus and implement something.

[2019-03-09 06:39] co16353sidak commented on #1080
@yangshun
Would like to work on adding twitch's `twirp`, I find that it is not taken by anyone at the moment and could be a good addition to the user's page.

[2019-03-09 06:56] yangshun commented on #1080
@co16353sidak It's yours!

[2019-03-10 07:05] twhite96 commented on #1251
Getting the same error. `yarn start` and `npm start` give the same error.

[2019-03-10 07:18] twhite96 commented on #1251
There is a `BroswerList` object in your `package.json` in the main part of whatever app your docs live in. I deleted that and got it to work. Try that and see if it works for you.

[2019-03-11 00:44] JoelMarcey commented on #1251
cc @yangshun @endiliey ^

[2019-03-11 16:27] co16353sidak commented on #1080
@yangshun I have received the green light to use the Twirp logo, although we cannot use the twitch logo as that would require some serious permissions being a complete company and all.
But we can use the Twirp logo which seems to me as sufficient for doing this.
What do you say?

[2019-03-11 16:30] co16353sidak commented on #1080
Okay creating a PR for this.

[2019-03-11 16:31] yangshun commented on #1080
@co16353sidak Yes please go ahead. TIL that Twirp had a logo. Would be good for them to show it somewhere on their docs page.

[2019-03-11 16:33] ahtee commented on #1080
threads like this sometimes cascade into other pr's for other projects TIL!

[2019-03-11 16:39] co16353sidak commented on #1080
yeah, @ahtee added another issue 🎉 💯 but this rarely happens.

[2019-03-11 16:55] HeshamElbashandy commented on #1059
+1

[2019-03-12 13:39] co16353sidak commented on #1080
@yangshun @ahtee  would like to take up `just` as well, hopefully if I am allowed to take up another project. 🥇

[2019-03-12 21:02] frangio opened #1277 "Support for absolute customDocsPath"
Setting an absolute path as the `customDocsPath` doesn't work. This was unexpected to me as a user.

In many places `path.join` is being used (or even plain string concatenation), where I think `path.resolve` should be used, which would correctly work with an absolute path.

https://github.com/facebook/Docusaurus/blob/2da59ed4af381c905addabadac3aee7a0e45ef72/v1/lib/version.js#L118

[2019-03-13 00:46] leonardfactory commented on #1238
Hi @CaptainT33mo @amimas , I've actually developed this plugin for remarkable, [`remarkable-admonitions`](https://github.com/favoloso/remarkable-admonitions) which adds admonitions (callouts) support to Remarkable and hence Docusaurus

I've added some docs in the README to use it and a default CSS to match docusaurus style. Let me know what do you think, I'm starting to use it in my projects but s

[2019-03-13 01:07] yangshun commented on #1277
That's a good point. We're more mindful of this in v2 and do use `path.resolve()` where we are aware.

Feel free to submit a PR to fix this in the meanwhile!

cc @endiliey

[2019-03-13 02:38] amimas commented on #1238
It looks really nice. I'm going to try it out. Hopefully it can be integrated into Docusaurus so that it's available out of the box without needing custom configuration.

[2019-03-13 07:16] CaptainT33mo commented on #1238
It looks great @leonardfactory . I was actually working on the same but I didn't get the time to finish it and you've done a great job here.
I think this should be added in docusaurus 1.7.3 by default. 👍 💯

[2019-03-13 16:11] JoelMarcey commented on #1238
cc @yangshun @endiliey

[2019-03-13 17:49] emanic opened #1279 "Code tabs break numbered lists and cannot be indented"
## 🐛 Bug Report

I cannot currently nest the code tabs inside a numbered list. Normally, to nest something like a code block in a numbered list, you insert about three spaces in the Markdown. It shows up as an unnumbered paragraph in the HTML. Unfortunately, this does not work with Docusaurus and prevents use of the code tabs inside a numbered list.

In addition, unindented code tabs break the aut

[2019-03-14 04:51] endiliey commented on #789
@animas great for noticing this. This is also somewhat a painful point that I've encountered. Hence why we're thinking we should not assume every "updated" version docs has an "original" docs in the previous version. We are indeed looking to re-work on the v2 versioning mechanism.

[2019-03-14 07:32] leonardfactory commented on #1258
Non sure if the plugin is still updated but there is [remarkable-mermaid](https://github.com/Joe-Barber/remarkable-mermaid). I’m interested in this too but I haven’t found the time to test it

[2019-03-14 08:00] endiliey commented on #1271
Seems to be relative path problem on v1. This issue won't happen on v2.

Easy workaround for your case now is to do it like this: (Refer it with the subdirectory)

[code]

Fix is coming on #1281

[2019-03-14 08:03] #1271 closed

[2019-03-14 08:05] endiliey commented on #1251
Is it correct to assume that this bug only occurs if your docusaurus app lives inside another app with another package.json ? 👍

[2019-03-14 08:07] endiliey commented on #1260
@fiennyangeln That's a very easy and clean fix. Another fix is to not include those on codeblocks as part of tab.

Sometimes I wonder if these kind of feature should've best been left as a markdown parser plugin.

Wanna send a PR ? 😄

[2019-03-14 08:12] endiliey commented on #1238
I personally feel that markdown features are best left as markdown parser plugins for scalability purpose.

Keeping everything on docusaurus can make it hard to maintain. Furthermore, we moved to MDX as our default markdown parser on v2 (cos we want more React on Markdown).

However, we'll be accepting PR on the docs if someone want to mention how to add callouts with https://github.com/favoloso/r

[2019-03-14 08:13] endiliey commented on #1258
Gonna state it here, this is best left to markdown parser plugins.

[2019-03-14 08:16] endiliey commented on #1243
Your approach looks OK for me. Feel free to send a PR asap if you want it to ship within next release. This isn't a high priority though

[2019-03-14 19:27] parthpp commented on #1243
@endiliey [`build-files.test.js`](https://github.com/facebook/Docusaurus/blob/master/v1/lib/__tests__/build-files.test.js) uses the actual Docusaurus documentation to perform testing. I am just curious to know why we did not use a separate test data for this test?

[2019-03-14 21:09] parthpp opened #1282 "Broken links in html when document from previous version is removed from next release"
## 🐛 Bug Report

This bug is in association with #1271 and PR #1281. This bug exists in the Docusaurus 1.7.2 as well as it exists after the fix in PR #1281.

Let us say we have a markdown document `A` in version 1.0.0 and there are links to this document in another markdown file `B` in version 1.0.0. Now in the current or as we call it in Docusaurus the next version, we remove the document `A` and

[2019-03-14 21:26] parthpp commented on #1282
@endiliey After your fix in #1281 I have found another issue with markdown to html link conversion. Note that this bug happens in Docusaurus 1.7.2 as well as #1281. I think the basic problem is that [docs.mdToHtmlify](https://github.com/facebook/Docusaurus/blob/master/v1/lib/server/docs.js#L80) uses the `mdToHtml` to map `metadata.source` to html links. But `mdToHtml` never have `metadata.source`

[2019-03-15 01:23] thibaudcolas opened #1283 "Add warning banner for outdated docs versions"
## 🚀 Feature

A feature I miss from other tech docs builders that support versioning is the ability to show a banner on older versions, to redirect people to newer docs.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

For versioned documentation, it’s quite common for links poin

[2019-03-15 03:46] endiliey commented on #1282
Actually I am aware of this bug. This is duplicate of #845. Renaming or removing old versioned docs break links in next version. In fact this bug exists since 1.0.0 (way before I even helped to maintain this repo)

Sadly this is because the versioning mechanism of v1 expect that user shouldnt touch any of the versioned_docs file and it expects the previous version and next version of the docs is t

[2019-03-15 04:11] endiliey commented on #1282
I am going to close this issue as a duplicate issue. This does not mean we are going to ignore this.

I suggest a workaround for you to just replace the broken links with the correct link. As far as I am aware, this bug is very rare and the workaround is super simple too

[2019-03-15 04:11] #1282 closed

[2019-03-15 22:18] dfadev commented on #1251
@twhite96 is correct, thank you! -- I am able to repro this on multiple machines by placing the following `package.json` in my home directory:

[code]

[2019-03-15 22:33] dfadev commented on #1251
Am closing this because according to [Browerslist docs](https://github.com/browserslist/browserslist#queries), it's the expected behavior to search for a `browerslist` key in `package.json` in current **and parent directories.**

You can resolve this error by adding a `browerslist` key to `website/package.json`.

[2019-03-15 22:33] #1251 closed

[2019-03-16 10:41] endiliey commented on #1234
Interesting bug happening on docusaurus own website 😄

![image](https://user-images.githubusercontent.com/17883920/54473920-60631800-4819-11e9-9b50-d253f3cce815.png)

The cause is due to how crowdin deals with `<var>` string like `<TEST_WORD>`, `<AUTOTEST_STRING>`

`<AUTOGENERATED_TABLE_OF_CONTENTS>` somehow got transformed into its lowercase part `<autogenerated_table_of_contents>` and hence http

[2019-03-17 16:39] vikrantsinghthakur commented on #1234
Can I take this up as my first issue if no one else is already working on it?

[2019-03-18 04:53] #1255 closed

[2019-03-18 06:05] endiliey commented on #1234
@vikrantsinghthakur yes 😄 Will be waiting for your PR

[2019-03-18 18:21] parthpp commented on #845
@endiliey Continuing our discussion from https://github.com/facebook/Docusaurus/issues/1282.
This bug is might be a very time consuming problem for us since we might have many instances where document files are added, deleted or renamed between versions. A manual work around to hunt down all the links and convert them might not be feasible. Can you suggest an automated solution? If not, will you a

[2019-03-18 18:25] endiliey commented on #845
Docusaurus by default warn users for any unresolved link file.

@parthpp If there is a PR, will be happy to accept & review it.

[2019-03-18 18:31] parthpp commented on #845
@endiliey Thanks! Can you also shed some light on where are we with versioning topic in Docusaurus version 2 and when will version 2 of Docusaurus be released?

[2019-03-18 21:02] frangio opened #1285 "[v2] Sidebar definition relies on iteration order of JavaScript object keys"
Users should be able to precisely define the order in which categories will display in a sidebar.

The current implementation (v1, and I think also v2) doesn't properly guarantee that, because it relies on the iteration order of object properties, which is not guaranteed by the language. So the `sidebars.json` file has a very clear order as a text file, but once it's parsed as a JavaScript object

[2019-03-18 21:24] yangshun commented on #1285
Thanks for bringing this up! We're aware of this and will change the way we define sidebars in v2. A related question and answer on Stack Overflow: https://stackoverflow.com/questions/54595967/how-does-docusaurus-determine-the-order-of-headings-in-the-sidebar

[2019-03-19 01:22] nebrelbug commented on #789
Please, yes! That's been one of my main frustrations with Docusaurus.

[2019-03-19 03:41] frangio commented on #1285
Cool! Good to know you're planning to tackle it. I did look in the v2 issue but didn't see anything related.

[2019-03-19 17:35] vikrantsinghthakur commented on #1234
@endiliey So I was thinking, as a solution for this bug, the insertTOC function should add table for lowercase token too(which we are getting from crowdin) in rawContent. Would that be a correct fix?

[2019-03-19 17:41] nebrelbug commented on #458
@JoelMarcey Has there been any progress on this issue? I'd love to work on it, but I probably couldn't start working until the beginning of April.

[2019-03-19 17:42] nebrelbug commented on #789
What about offline support (probably by making the docs PWAs)? It would be relatively easy to set up, and it could be opt-in.

[2019-03-19 17:43] nebrelbug commented on #534
Has there been any progress on this?

[2019-03-19 17:48] JoelMarcey commented on #458
Hi @nebrelbug -- not much. We would love your help. Thanks!

[2019-03-19 18:19] jakebolam commented on #1234
@vikrantsinghthakur put up the PR and I can test it?

[2019-03-19 19:36] vikrantsinghthakur commented on #1234
@jakebolam Thanks, done.

[2019-03-20 06:35] yangshun commented on #789
We have started a Roadmap/Feature requests page thanks to the awesome folks at Canny.io. Have a to at it on our WIP v2: https://munseo-preview.netlify.com/feedback/

[2019-03-20 10:24] #1234 closed

[2019-03-20 10:55] endiliey commented on #1219
Actually this can be done in Docusaurus easily just by overriding your docusaurus `custom.css`

For example

[code]

You might prefer different color, but some people might not. I personally prefer not having any difference between link that open in a new tab or not. I just prefer it blue.

[2019-03-20 10:55] #1219 closed

[2019-03-20 10:59] endiliey commented on #1206
Going to assume this is a question. The answer is **no, it's not possible right now on current version**

Gonna close this issue, if you want to file a feature request, please use this template 😄

https://github.com/facebook/Docusaurus/issues/new/choose

[2019-03-20 10:59] #1206 closed

[2019-03-20 11:11] endiliey commented on #1218
This just caught my attention. Just read #1146 as well

I implemented the `cleanUrl` feature so I might be able to give more context on that. The backstory of `cleanUrl` setting is that we don't want to see any `.html` extension anymore. I think the convention here is slightly different.

[2019-03-20 11:16] endiliey commented on #1252
I think this is more of a continuous integration question. You can always use `environment variable` for this.

Jest, for example configure their algolia api key through their CI
https://github.com/facebook/jest/blob/c5fd7aae93764c13c259ae9a73846c10e84ae2a3/website/siteConfig.js#L113

Please note that this issue tracker is not a help form and this issue will be closed.

[2019-03-20 11:16] #1252 closed

[2019-03-20 11:18] endiliey commented on #1234
This is now fixed on master branch. Unfortunately we're one step too late to release it along v1.7.3

![image](https://user-images.githubusercontent.com/17883920/54680451-d979ac80-4b44-11e9-8151-932646642140.png)

Probably v1.7.4 !

[2019-03-20 22:20] yangshun commented on #1260
I found a Remarkable plugin that does something similar - https://www.npmjs.com/package/remarkable-codegroup

[2019-03-21 02:13] fiennyangeln commented on #1260
yeah but it requires jQuery and bootstrap as mentioned [here](https://github.com/facebook/Docusaurus/pull/1249) and [here](https://github.com/lwhiteley/remarkable-codegroup#description) so idk if it's ok to use it. What do you all think?

[2019-03-21 17:12] amimas opened #1295 "Adding new item to sidebar of the `next` release shows the wrong "sidebar_label""
## 🐛 Bug Report

I am creating a new page in a docusaurus repository where versioning is enabled. I added a new page for the "next" release docs and want to include it in the sidebar. The new page does appear with proper content but the sidebar label is incorrect.

I currently running on version 1.7.3.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusauru

[2019-03-22 10:08] Berkmann18 commented on #789
+1 For emojis and for offline support.

[2019-03-22 22:19] feature opened #1296 "Sidebar doesn't show for docs not in sidebars.json"
## 🚀 Feature

If you view a doc that isn't listed in the `sidebars.json`, the sidebar doesn't show. This makes page look a lot worse, breaks the consistency of the page layout with other docs, and makes it harder for users to navigate.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivat

[2019-03-23 08:10] feature commented on #1296
Alternatively, I think it would be even better if we could include docs in the `sidebars.json`, and simply just hide them from the sidebar. My reasoning for not putting docs in the sidebars, is that it will become too cluttered, but I think this idea would solve the problem even better than my original proposal.

[2019-03-24 02:07] amimas commented on #1296
Not really sure what you mean here. But, wouldn't it be confusing to see a sidebar even when that page does not belong to a sidebar? How would you control the next/previous page navigation?

Also, currently you can actually have completely separate sidebars for different groups/types of docs.

[2019-03-24 02:24] endiliey commented on #1296
The reason why I closed #865 is because the issue was solved through [our Discord](https://discordapp.com/invite/docusaurus).

The thing is: We allow multiple sidebars so if one doc doesn't want to be listed in a sidebar, there is a confusion on which one to show. I f you want a consistency on page layout, you can always override the css.

I'm gonna take the same stance as last time and close up t

[2019-03-24 02:24] #1296 closed

[2019-03-25 08:44] ybiquitous opened #1307 "Incorrect anchor link including an underscore character"
## 🐛 Bug Report

When an underscore character (`_`) is included in an anchor link, Docusaurus converts the underscore to a hyphen (e.g. `#foo_bar` → `#foo-bar`).

This behavior is different from GitHub's one, so it's very confusing. 😓

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes. 👍

## To R

[2019-03-25 08:48] ybiquitous commented on #1307
Here is a GitHub's behavior:

[![Image from Gyazo](https://i.gyazo.com/e37de4dc469cc5f7b54739d6184d154f.gif)](https://gyazo.com/e37de4dc469cc5f7b54739d6184d154f)

I hope Docusaurus would behave as same. 🙏

[2019-03-25 09:07] endiliey commented on #1307
What a tricky bug !

I made some test of headings https://gist.github.com/endiliey/f5256045e80c1c10436c6bdfce9c5961
Seems that it replaces all special characters except `_` to `-`
Docusaurus only replaces all special characters to `-`

[2019-03-25 09:54] #1307 closed

[2019-03-25 09:57] ybiquitous commented on #1307
Thank you so much for the quick fix! 😂

[2019-03-25 10:13] endiliey commented on #1295
Reproducible repo will be nice

[2019-03-25 14:21] amimas commented on #1295
Agreed. I tried to reproduce it in a simple setup, but that was unsuccessful. I will try create a similar setup/config or doc structure where I ran into the issue.

[2019-03-25 14:49] amimas commented on #1295
I cannot seem to be able to reproduce this issue again. Closing it. Sorry for the noise.

[2019-03-25 14:49] #1295 closed

[2019-03-25 15:38] endiliey commented on #1295
Sure. I suspect it could be because of live reload issue on v1. Sometimes when you add new document/ editing frontmatter and not restarting the server, this kind of bug can appear.

[2019-03-26 02:34] amimas commented on #1295
Thanks. I'll keep that in mind.

[2019-03-26 07:41] maht0rz commented on #919
Guys any chance this will be implemented soon?

[2019-03-26 16:36] pauljamescleary commented on #776
Any update?  Currently looking at static site generators for documentation.  Like most things about Docusaurus except for the search.  This is a nice project :)

[2019-03-26 22:01] rikoe opened #1312 "Support permanent versioned URLs for "current" version"
## 🚀 Feature

Docusaurus should support version-based permalinks for the current version of the documentation.

The current version does not have a versioned link until it becomes a previous version, meaning that it is not possible to provide a permalink to the current version.

E.g. `docs/doc1.html` points to version 2.0.0 (the current), and `docs/1.0.1/doc1.html` points to the previous version,

[2019-03-26 22:53] emanic commented on #789
Are there any plans to support variables and templating a la Liquid/Jekyll, go/Hugo? I did not see any mention of adding this in D2, but it would be extremely useful.

[2019-03-26 22:55] yangshun commented on #789
@emanic React is used as a templating library in v1, this is supported out of the box in v1.

[2019-03-26 23:01] nebrelbug commented on #789
@yangshun it would be very nice to allow customizing template engines as well.

[2019-03-26 23:46] yangshun commented on #789
@nebrelbug That'll be a little hard because the whole framework will be built upon the React ecosystem as we use React Router, React Helmet. Docusaurus' direction isn't to be so customizable at such a low level. That said, you can still use React as a shell to render your static HTML that's rendered using another templating engine, but I can't think of good reasons to do that.

[2019-03-26 23:52] endiliey commented on #789
About the template engines, I think that can be left as a plugin.

Possible example: let’s say we want to create a template that allows you to import code snippet from a file in markdown. That means we’re replacing all the “template syntax” string occurence in markdown with the actual code snippet. This can be done by overriding the webpack markdown-loader.

[2019-03-26 23:52] nebrelbug commented on #789
@yangshun ah, that makes sense.

@endiliey good idea!

[2019-03-27 00:07] amimas commented on #1312
I was going to raise this request soon. Glad to see someone else opened it already.

[2019-03-27 04:43] yangshun commented on #1080
@co16353sidak Sorry for the late reply. By all means!

[2019-03-28 09:55] orgertot commented on #1147
Me too...

[2019-03-28 12:34] endiliey commented on #1217
I use window myself and was not able to reproduce this

![image](https://user-images.githubusercontent.com/17883920/55157913-98167c00-5198-11e9-98a1-9e3ca3a2cf3c.png)

Furthermore, the cli for docusaurus-init does not take any argument. It installs in the current folder. As you can see in above screenshot, my folder name is even `spaces spaces spaces` and it still works.

Do you mind to send in sc

[2019-03-28 12:35] #1166 closed

[2019-03-28 12:52] endiliey commented on #1188
I just investigated this today (was away for quite a while). It turns out that this is happening because crowdin-cli fails to download that enormous amount of docs at some point (well, API sometimes fail)

And after that step, Docusaurus run `publish-gh-pages`. And as the behavior suggest, we don't check if there is any missing translated docs (because that's supposed to be provided by crowdin) an

[2019-03-28 14:46] SimenB commented on #1188
We have not seen this again, AFAIK

[2019-03-28 15:14] Xarkam commented on #1217
Hello and thank you for your answer.

Are you serious?

I give you an example in powershell/Dos and you answer me with ubuntu for windows.

If it's something linux only, please update your documentation.

[2019-03-28 15:27] JoelMarcey commented on #1217
@Xarkam I don’t think questioning @endiliey’s seriousness of his response is helpful or called for. He took the time to provide a thoughtful answer and asked for more information if you had it. In no way was he condescending to you, and I would hope for the same level of respect in return. Thank you.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-28 15:27] endiliey commented on #1217
My bad. I wasn't aware that it was on powershell/dos. There is no mention on it.

I wasn't able to reproduce it even with command prompt though.

![image](https://user-images.githubusercontent.com/17883920/55169801-5b567f00-51b0-11e9-9c5f-20ae5afd5a05.png)

[2019-03-28 15:35] endiliey commented on #1217
I'm really sorry. I still couldn't reproduce it.

![image](https://user-images.githubusercontent.com/17883920/55170629-d9675580-51b1-11e9-9043-67142ff3f8af.png)

If you don't mind, you can send us a screenshot/video to better describe the situation.
I'll be happy to do my best to help and *maybe we can fix it*. 😉

[2019-03-28 15:51] Xarkam commented on #1217
@endiliey thank you for response as part of my problem.
@JoelMarcey do you think that the first answer is in the context of my problem? I do not think so.

@endiliey I will take some time tomorrow to redo the procedure as indicated in the documentation.
It may be that in the meantime an update will fix the problem. Otherwise, it will be necessary to understand it cuts the path in two parts on my s

[2019-03-28 15:57] endiliey commented on #1188
Hmm.. I'm not going to close this issue up. But fixing this "bug" can be very tricky as it seems to be quite non-deterministic and a little bit hard to reproduce. But of course we should do a better job catching these.

I believe this is the reason why jest had lot of i18n 404 in the past. Thank you for the information @SimenB

[2019-03-28 16:40] JoelMarcey commented on #1217
@Xarkam That's actually not the point. Whether the initial response answered your question, there are more appropriate and respectful ways to make your disagreement known than "Are you serious?".

[code]

@endiliey is one of our most active and prolific Docusaurus contributors who is really trying to help improve Docusaurus. In no way was he purposely not trying to answer your question.

It is qui

[2019-03-28 16:54] JoelMarcey commented on #1217
Also, for now I will reopen this issue since it sounds like there may be some continued work towards a resolution here.

[2019-03-29 07:38] Xarkam commented on #1217
Hello, I just testing this morning.
![image](https://user-images.githubusercontent.com/331816/55216346-c8900180-51fc-11e9-9761-05abbc0a4d45.png)
![image](https://user-images.githubusercontent.com/331816/55216357-d0e83c80-51fc-11e9-9c45-29ce2736d90d.png)
Run install in normal user mode
![image](https://user-images.githubusercontent.com/331816/55216377-df365880-51fc-11e9-84ca-28db306d01c4.png)
Run i

[2019-03-29 08:19] endiliey commented on #1217
Looking at your log, it seems to be not related to docusaurus. But 'npx' package itself. You might want to file an issue at https://github.com/zkat/npx

However, I took my time to investigate and find that this issue you are facing is in fact happening with many other cli app too. See below, the log is very identical to your log.

# Running install in user mode
# https://github.com/zkat/npx/issues

[2019-03-29 08:19] #1217 closed

[2019-03-29 08:39] Xarkam commented on #1217
Thanks @endiliey.

If this problem is recurrent with npx, why no adding a note in getting started documentation about this ?
This would allow people who also encounter this problem to know what to do.

I did not follow the procedure with yarn because I thought that it did not concern me since I use node 10.

[2019-03-29 09:17] #1243 closed

[2019-03-29 15:18] JoelMarcey commented on #1217
@Xarkam - we encourage those that feel the documentation could use improvement to send a pull request to update it. We are generally very accommodating to such changes, assuming they provide value to those that use or are starting to use Docusaurus.

[2019-04-01 07:56] Kedar-K opened #1330 "Unable to get example website after `docusaurus-init`"
## 🐛 Bug Report

(A clear and concise description of what the bug is)
 Running `docusaurus-init` command gives only a single file i.e. `website/package.json`. Example website files are not found.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)
Yes.

## To Reproduce

(Writ

[2019-04-01 09:04] #1330 closed

[2019-04-01 09:36] yangshun commented on #1330
I just tried it and it seems to work. @Kedar-K you seem to have figured out the issue. Mind telling us your fix in case someone runs into the same problem in future?

[2019-04-01 10:31] Kedar-K commented on #1330
Sure @yangshun, my node version was `8.2` and as the documentation says

but when i followed this it didn't work due to some reason. When i updated node, it worked fine.

[2019-04-03 07:44] Keith-CY opened #1332 "Generated Pages of different languages have different content"
## 🐛 Bug Report

The [generated page of en-US](https://github.com/cryptape/citahub-docs/blob/gh-pages/en-US/0.21/cita/system/amend/index.html) has content, but the [generated page of zh-CN](https://github.com/cryptape/citahub-docs/blob/gh-pages/zh-CN/0.21/cita/system/amend/index.html) doesn't.

And the source code of this document is [here](https://github.com/cryptape/citahub-docs/blob/master/docs

[2019-04-03 09:28] endiliey commented on #1332
@keith-CY

The crowdin downloded docs seems to be wrong due to configuration

Instead of
‘’’yaml
source: '/docs/**/*.md'
    translation: '/website/translated_docs/%locale%/%original_file_name%'
‘’’

it should be

‘’’yaml
source: '/docs/**/*.md'
    translation: '/website/translated_docs/%locale%/**/%original_file_name%'
‘’’

Otherwise the subdirectory files wont be supported and crowdin download

[2019-04-03 13:07] CamiloGarciaLaRotta commented on #751
Wondering if there is a way to add the status bar color meta tags:
[code]

[2019-04-04 06:45] Keith-CY commented on #1332
@endiliey Thank you and I'll have a try(this config confused me a long time too).

I've checked the source code and found something leading to this problem.

The [code here](https://github.com/facebook/Docusaurus/blob/master/packages/docusaurus-1.x/lib/server/docs.js#L136) takes <code>!metadata.permalink.includes(`${docsPart}en`)</code> as a condition.

In my case, the `docsPart` is empty, and unl

[2019-04-04 10:05] endiliey commented on #1332
I just checked through your repo. It seems that the lead problem is due to current version of Docusaurus not being able to set non-english language as default language. See #938 #586

Apology for this !

However, the good news is that we are looking to fix this on the next major version. An overview can be seen at https://docusaurus.io/blog/2018/09/11/Towards-Docusaurus-2#translation

[2019-04-04 17:56] Keith-CY commented on #1332
Awesome, I will update once it's published.

[2019-04-04 17:56] #1332 closed

[2019-04-05 18:44] alexkrolick opened #1338 "Mobile navigation should show deepest breadcrumb instead of outermost"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes
## To Reproduce

(Write your steps here:)

1. Have a sidebars.json with some nested sections
2. View page on mobile
3. The outermost nav heading appears as the breadcrumb, e.g. "Frameworks" in instead of "DOM Testing Library"

##

[2019-04-06 14:42] vishnureddy17 commented on #1277
I would like to work on this.

[2019-04-07 12:51] jamesgeorge007 commented on #1279
@emanic @endiliey I would love to work on this :tada: I'm new here and am not that aware of the codebase. It would be great if you could throw light into what is to be done specifically (Preferably including code pointers) :clap:

[2019-04-07 16:11] murray-b commented on #1269
Hi @JoelMarcey ! I'd like to take this one if possible. Looking to get my feet wet with open source contributions and this seems a good place to start :)

[2019-04-07 17:29] storemey01 commented on #467
Hello i am facing same issue for xml. please check below link and help me to solve it

https://www.xml-sitemaps.com/validate-xml-sitemap.html?op=validate-xml-sitemap&go=1&sitemapurl=https%3A%2F%2Fwww.storemey.com%2Fsitemap_search.xml&submit=Validate+Sitemap

[2019-04-07 17:44] yangshun commented on #1269
@murray-b it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2019-04-07 19:45] murray-b commented on #1269
Hey!

Thanks for letting me have this one.

I had a quick question actually. If I were to be making a change to the
examples/basics/siteConfig.js file in docusaurus-1.x, how do I go about
seeing those changes reflected when I try and run Docusaurus locally? I
tried running npm examples from within the website-1.x directory to recopy
all of the files, but it only added a few extra files and didn't

[2019-04-07 20:50] murray-b commented on #1269
Considering ```primaryColor``` is used not only for the header background color (with a white text color), but also for buttons, sidebars, etc., the randomly selected color pattern should probably be limited only to a set of darker colors, correct?

[2019-04-08 05:37] yangshun opened #1344 "Redux docs next page link not working"
## 🐛 Bug Report

Docusaurus generates a 404 link in Redux docs.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Go to https://redux.js.org/faq
1. Go to the bottom of the page and click on "General"

## Expected behavior

Go to the [General page](h

[2019-04-08 12:10] the-darc commented on #776
I have the same issue here on a Internal project and solve it with a server side search.

I would like to send a PR with this solution at some time. But Unfortunately I do not have time to do it right now. For now it is available in [@the-darc/Docusaurus](https://github.com/the-darc/Docusaurus).

[2019-04-08 17:04] cryptoads commented on #776
Just implemented your fix.  Looks good!!  Cheers.

[2019-04-09 05:52] tanaypratap commented on #1172
I think this can help docusaurus to be used by more and more people. I would like to take this up. Please assign if you(@endiliey ) feel a PR to this issue can be merged.

[2019-04-09 05:58] endiliey commented on #1172
Sure @tanaypratap, feel free to take this up. We are definitely accepting for this kind of PR.

Few reasons:
1. Its not breaking anything
2. All the motivation above.

[2019-04-09 09:34] DavAz4D opened #1347 "Not secured website"
## 🐛 Bug Report

Not secured website using Safari

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Go to https://docusaurus.io
2. Clic on the top left logo linked to the welcome page (sometimes it may append after 2 clics)

## Expected behavior

We

[2019-04-09 10:02] #1347 closed

[2019-04-09 11:54] tanaypratap commented on #1172
That's cool. Expect the PR anytime next week. You can assign it to me or set assigned tag on it. I had to go through so many `good first issue` to find an issue which no one is working on.

[2019-04-09 12:13] akinariobi commented on #1220
I'd like to work on this.

[2019-04-09 15:47] yangshun commented on #1220
@akinariobi it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2019-04-09 16:17] #1220 closed

[2019-04-09 22:37] alzaar commented on #1344
Hey I am new to contributing on github. Can I take this issue ? Or is it taken?

[2019-04-09 22:55] yangshun commented on #1344
@alzaar it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2019-04-09 23:21] alzaar commented on #1344
Thanks! Could explain a bit more about the issue? I cloned the repo and am messing around with the code to see how it works.

[2019-04-09 23:25] yangshun commented on #1344
Hi @alzaar, I didn't do too much investigation into the bug, but I wrote down what I think could be the cause at the bottom of the issue. Did you manage to reproduce the bug?

[2019-04-10 00:15] nebrelbug opened #1350 "Docusaurus v2: improperly escaped routes on Windows"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. `git clone` and `cd` Docusaurus repo
2. `yarn install`
3. `cd website`
4. `yarn start`

## Expected behavior

The local server wi

[2019-04-10 00:17] alzaar commented on #1344
I am going to work on it and see if I can find the bug. But I will keep you posted!

[2019-04-10 05:12] endiliey commented on #1350
Thank you for reporting. It is very awesome to see a bug in v2 reported when we haven’t release even an alpha version of it yet 😂.

Things are still experimental on v2 and we still track things internally. I think its best to report such bug in our [Discord](https://discord.gg/CNft86U) for now at least until we release an alpha version of it so that people won’t get confused

By the way, thank you

[2019-04-10 06:45] yangshun commented on #1350
@nebrelbug Thanks for reporting! Would you have time to help fix this? The v2 team doesn't have Window devices so bugs like this got unnoticed. We'll definitely pay more attention to such issues in future.

[2019-04-10 07:24] byq77 opened #1352 "Collapsible links under subcategories in sidebar"
## 🚀 Feature

Would it be possible to make links under subcategories also collapsible like in case of categories in sidebar?

I would like the code:
[code]

to generate something like this:

[code]

Now option `docsSideNavCollapsible: true` in `siteConfig.js` makes only links under categories collapsible.