[2020-07-07 04:48] techieshark opened #3028 "infima github link broken"
## 🐛 Bug Report

This may belong in the infima repo but... that's the issue.

From the website:

https://facebookincubator.github.io/infima/

if you click on Github
<img width="966" alt="image" src="https://user-images.githubusercontent.com/1072292/86712750-b0926900-c060-11ea-93aa-50f55208429b.png">

you will see a 404 error. Is that because the repo isn't actually public?

### Have you read the [

[2020-07-07 05:01] FocalChord commented on #2924
@slorber Is it alright if I take up this issue to work on?

[2020-07-07 05:07] anshulrgoyal commented on #3028
Infima is actually in a private repo

[2020-07-07 06:46] techieshark commented on #3028
Thanks @anshulrgoyal.

Do you know if the plans are to open source it? (I assume that's the plan, since the footer says "Facebook Open Source".)

Otherwise, maybe this doesn't need fixing, depending on the outcome of  #2961 ?

[2020-07-07 10:15] teikjun commented on #2698
Issue: Should the next button lead to **(A)** an older post or **(B)** a newer post?

## Which behavior makes more sense?
#### Scenario 1: User finishes reading the newest blog post and looks for another blog post
Let's try visiting the newest post in [Docusaurus](https://v2.docusaurus.io/blog/2020/01/07/tribute-to-endi) and [Gatsby](https://www.gatsbyjs.org/blog/2020-07-02-Gatsby-Days-Reconfigure

[2020-07-07 10:37] yangshun commented on #2698
Thanks for doing the research! Let's go with the more popular option together with the naming change :)

[2020-07-07 11:36] teikjun commented on #2698
Roger that, I'll make a PR soon! :D

[2020-07-07 16:04] teikjun commented on #2199
I'll work on this for v2 :)

[2020-07-07 16:56] slorber commented on #3028
Hi

We'll try to publish Infima soon

[2020-07-07 16:57] slorber commented on #2924
Hi @FocalChord

I think this should be done in Infima, so I'm not against but we should see first with @yangshun if you can have access

[2020-07-07 23:47] cmdcolin commented on #969
I really like @KohheePeace solution and especially has the opportunity to load mdx components too in a way pure pandoc+md can not. I managed to get it running very quickly which is great.

I think pandoc, if it is your solution, might also be a good option too, but is a bit harder to setup

If you simply run like

[code]
for i in $(node read_sidebar.js); do
  # trim off the header of the markdown

[2020-07-08 09:25] slorber opened #3030 "Fix nav when no JS"
## 🐛 Bug Report

The site is able to work mostly fine without JS.
In such case, navigation is not SPA/history push based, but is a regular html nav (like Docusaurus v1)

But, docs have collapsible menus, and these menus won't expand without JS:

![image](https://user-images.githubusercontent.com/749374/86901397-d7a67480-c10c-11ea-86d7-2aa7713d3457.png)

I think we should find a html/css only solut

[2020-07-08 09:52] anshulrgoyal commented on #2267
I want to work on the search feature.

[2020-07-08 10:06] michelcourbon opened #3031 "URI avatar in blog is not visible with "more" option"
## 🐛 Bug Report

avatar URI like "img/img-perso.jpg" works fine in blog page, and isn't visible in "read more" page

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes of course

## To Reproduce

in blog directory, md file with this parameter :
- author_url: https://perso.univ-st-etienne.fr/courbon

[2020-07-08 10:15] anshulrgoyal commented on #3031
I think `author_image_url: /img/img-perso.jpg` this is correct

[2020-07-08 10:17] anshulrgoyal commented on #3030
I am working on this.

[2020-07-08 13:20] anshulrgoyal commented on #3030
@slorber Navbar dropdown work without js.
![image](https://user-images.githubusercontent.com/32068075/86923534-ccbf0480-c14b-11ea-8cf9-97323a480e07.png)

[2020-07-08 15:10] #2698 closed

[2020-07-08 15:54] slorber commented on #3030
ah yes it's :hover

so it's probably only the collapsible doc sections that don't expand without js (here, :hover is not enough, we need to support multi-level nesting)

[2020-07-08 16:31] anshulrgoyal commented on #3030
I am trying to use the hidden checkbox. This is a good example https://codepen.io/jboeijenga/pen/eqzal

[2020-07-08 17:08] slorber commented on #3030
hmmm, that could do the trick. Wonder what's the advantage of using something like tabindex and :focus-within ?

Will this work if I use tab navigation to give the focus to an item for example?

Here I used tab navigation, we can see it with the collapsible outline. In such case that should be nice to expand it automatically:

![image](https://user-images.githubusercontent.com/749374/86949059-6687

[2020-07-08 17:46] slorber opened #3035 "Who is using Docusaurus v1"
We are trying to automate the v1 to v2 migration with a CLI.

If you own a Docusaurus v1 open-source website, please report it here.
We want to see if the migration cli works on your site.

We already know some of those sites, from the spreadsheet of #1834, so it's not necessary to report if you are already in that list:

https://docs.google.com/spreadsheets/d/18SWTklRJVvOTOQEStTo8LXBc78ZMFdbdwp2E

[2020-07-08 18:23] shirakaba commented on #3035
React NativeScript’s docs are on v1: https://github.com/shirakaba/react-nativescript-site

[2020-07-08 19:53] dpkg opened #3036 "Markdown header `keywords` should render meta tag for blog post pages"
## 🚀 Feature
Adding `keywords` in markdown headers for **blog posts** should render the appropriate html meta tag for the corresponding blog's page, for helping search engines track the blogs.
(This probably is a bug since the docs mention it under [Markdown Features](https://v2.docusaurus.io/docs/markdown-features/#markdown-headers), but I'm not sure so filing it as new).

### Have you read the [

[2020-07-09 09:46] michelcourbon commented on #3031
more complement to add the resolution of the bug...

hello.. i'm impressive.. quick reponse.. I try it.. but some problems
with your proposition  author_image_url: /img/img-perso.jpg no image is present in pages "blog" or "http://localhost:3000/courbon/blog/Bienvenue"
I try the 2 other possibilities :

    author_image_url: ../img/img-perso.jpg image is visible in page "http://localhost:3000/courb

[2020-07-09 13:29] teikjun opened #3039 "Documentation for docs-only mode leads to missing sidebar and navbar"
## 📚 Documentation

After following the instructions to enable docs-only mode (https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode), the sidebar and navbar is missing from the page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

### To Reproduce
1. Init a new docusaurus site
2. Fo

[2020-07-09 15:02] #3036 closed

[2020-07-09 15:11] slorber opened #3041 "Warn when routes override each others"
## 🚀 Feature

If 2 plugins try to register the same route, we should warn the user.

This often happens when enabling things like docs/blog-only mode, and not deleting the /pages/index.js file

To be done just before the routesLoaded lifecycle

On D2 site, using / for docs home should lead to 3 overrides, as far as I remember there's:
- `/`
- `/search` (we have a docs/search + a page/search)
- `/?

[2020-07-09 15:12] slorber commented on #3039
Yes you are right.

Here the missing sidebar is due to having some kind of "merge" between the home page and the docs homepage. Basically / renders docs homepage, but receive as props the home page data 👎

I fixed some things recently to avoid route conflicts and be sure that we never "merge" 2 routes together this way, but only have one route override the other one, but we don't have a way to war

[2020-07-09 15:15] #3039 closed

[2020-07-09 15:16] teikjun commented on #3041
Yes, I'll work on it! :)

[2020-07-09 15:50] slorber opened #3042 "feat(v2): siteMetadata"
## 🚀 Feature

Currently, as far as I know, a site can't know which docusaurus version it is currently using

It would be useful to be able to get some metadata about the framework.

Algolia/DocSearch devs have expressed the need to be able to track which version of Docusaurus uses which version of DocSearch.

I think this does not belong to the site config: it is a new docusaurus context item that

[2020-07-09 16:57] #2925 closed

[2020-07-09 17:07] slorber commented on #3024
We could provide options to influence on the page metadata options, but it will be hard to satisfy perfectly all users in this regard, and handle all existing services using metadatas.

Unfortunately we don't know exactly the metadatas you need, unless you know exactly what you want ;)

If some users want to enforce some metadatas, it's possible to swizzle the components. No need to copy everythin

[2020-07-09 17:12] slorber opened #3043 "Doc for @theme-original and @theme-init"
## 📚 Documentation

I think this D2 feature is currently not documented.

If we want to override an existing comp, yet reuse the original comp (like, if you want to wrap it), there's a special import alias we can use.

It's worth trying if the following work and document this feature

[code]

That could be nice to find a tiny usecase for this feature on D2 website, for dogfooding and ensuring this

[2020-07-09 18:42] jmcshane opened #3044 "Docusaurus v2 alpha-55 build flaky"
## 🐛 Bug Report

Our publish pipeline for our docusaurus site occasionally drops files, we lose 3-4 pages every 4th/5th build. Publishing to github pages via `docusaurus publish`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. npm ci
1. yarn run publish-gh-pages
1. Run thi

[2020-07-09 21:26] JapneetSingh5 commented on #1834
Hi @yangshun, I'm currently working on migrating webdriver.io to v2. Are the stickers and your guidance still up for grabs? :p

[2020-07-10 00:50] SamChou19815 commented on #3042
I think it can be useful. The version information can also be included in all official plugins, and the debug plugin can help detect out-of-sync versions (e.g. core at alpha-58, theme-classic at alpha-56)

[2020-07-10 03:29] FocalChord commented on #3043
@slorber Could we have more detail about this one, I'm still confused as to what is required

[2020-07-10 08:49] slorber commented on #3043
Sorry I probably didn't explain this well :)

if you swizzle a comp, like the Footer, to customize it, sometimes you want to be able to import the original comp of the theme to wrap it.

The following does not work:

[code]

So I think we have a special import:

[code]

instead of

[code]

Unfortunately I don't think we have more details about that feature, it's something I know about because I in

[2020-07-10 10:44] slorber commented on #3042
Yes that's what I think too

For official plugins or not, I think we could do this in a generic way, to add plugin versions to this siteMetadata file:

- if plugin is in node modules, read the version from its package.json
- if plugin is a local js file, maybe fallback to the package.json version of the site (or null if no version specified)

The file could look like

[code]

I think we should use

[2020-07-10 10:49] slorber commented on #1834
Hey all, and @JapneetSingh5

We are working on a migration cli for v1->v2 migration, if you want to try it, get in touch

If you still have a v1 site to migrate, report it here: https://github.com/facebook/docusaurus/issues/3035

[2020-07-10 10:54] slorber commented on #3044
Hi @jmcshane

You are the first to report this kind of problem.

Please upgrade to latest alpha, and check that your CI setup is not the problem, by trying to build / deploy the site on your own machine.

It's likely we won't be able to solve this problem with a clear repro case.

I'm not very familiar with gh pages deployment, but what I see is that v1-v2 migration guide says to use `yarn deploy`

[2020-07-10 11:02] HeroicHitesh commented on #1834
@slorber I am interested in contributing. Where and how can I start the migration work?

[2020-07-10 12:01] JapneetSingh5 commented on #3035
https://webdriver.io/ is on v1

[2020-07-10 13:11] slorber commented on #1834
@HeroicHitesh as we are working on a migration cli, it's not worth migrating sites manually anymore. If you want to contribute to some other parts, we can get in touch on Discord

[2020-07-10 16:03] wez commented on #2697
I've been looking at updating this morning; I have added the `slug` lines to my front matter and the plugin config to the config, and have `.html` links working, but navigating to the non-html version of the links just shows a "Page Not Found" page when I run locally under `yarn run start`.
Is there some other configuration needed?
I'm hesitant to push this to gh_pages if the redirects don't funct

[2020-07-10 16:05] wez commented on #2697
Example of the local changes to clarify; I've applied a similar change to all of the `docs/*.md` files:

[code]

and the config:

[code]

[2020-07-10 19:22] slorber commented on #2697
Hi

The plugin only applies to the production build,

 It's not expected to work with yarn start

We don't want those redirects to need to be SPA-based and part of the app
(because it would need to load React and infra code, before being able to
redirect)

Le ven. 10 juil. 2020 à 18:06, Wez Furlong <notifications@github.com> a
écrit :

[2020-07-11 00:55] SamChou19815 commented on #3042
Detecting existence of `node_modules` in plugin's resolved path might not be a good idea, since it might give surprising result for monorepo setup. For example, this is the resolved path for all plugins in docusaurus repo:

[code]

There are no `node_modules` in the path, but they clearly belong to some package.

Therefore, I think all we can reliably do is to recursively walk up along the plugin

[2020-07-11 03:11] omry opened #3046 "antlr4 syntax."
## 🐛 Bug Report

While antlr4 is a supported syntax in [prism](https://prismjs.com/examples.html), it does not look like it's supported in D2.
This is likely due to the syntax not being included with D2. If this is the case, what is the best course of action?

## To Reproduce

Enter this antlr4 snippet and use antlr4 or g4 per the prism instructions as the language:
[code]

## Expected behavior
![

[2020-07-11 05:08] adrianmcli commented on #2850
Why can't we colocate our images with the Markdown files they belong to?

This means that I can't use the regular Markdown syntax for images (`![hello](./myImage.png)`) unless I put every image in the `static` folder? This is not very scalable if my docs site has many screenshot-heavy tutorials.

[2020-07-11 05:48] adrianmcli commented on #2956
The Markdown syntax really should be supported as well, like `![text](./path/to/image.png)`.

Also, relevant issue here: https://github.com/facebook/docusaurus/issues/2850

[2020-07-11 07:22] yangshun commented on #3043
`@theme-original` was added by me for the purposes you mentioned. `@theme-init` was added by @lex111 for reducing code duplication for the code blocks. They serve different purposes.

[2020-07-11 10:25] kirtan403 opened #3047 "Google Tag Manager - Doesn't recognize blog page change"
## 🐛 Bug Report

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Setting up a blog only website (Mentioned here: https://v2.docusaurus.io/docs/blog#blog-only-mode)
2. Adding google tag manager
[code]
3. It only logs the first page of the landing wh

[2020-07-11 10:26] skychx commented on #2717
sorry, I don't understand the meaning of "Swizzle the components"。

I read the  V2 documentation and it seems that only Docs has TOC, but V1's blog supports TOC

[2020-07-11 10:28] skychx commented on #2717
![image](https://user-images.githubusercontent.com/24872439/87222168-3afe0400-c3a4-11ea-90d2-dd0e947095ce.png)

![image](https://user-images.githubusercontent.com/24872439/87222163-333e5f80-c3a4-11ea-841f-ba423842d158.png)

[2020-07-11 19:22] omry opened #3048 "Detect internal broken links during build"
## 🚀 Feature
A website should fail to build if it has internal broken links.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Not relevant for feature requests, is it?

## Motivation

While building the website, it's all to easy to change the page filename and forget or miss incoming internal links

[2020-07-11 20:17] FA5I opened #3049 "Syntax Highlighting Does not Work Following Documentation Example"
## 📚 Documentation

Hi all, I am having a bit of issue with the highlighting stuff. I followed the tutorial here:

https://docusaurus.io/docs/en/site-creation

Now according to the docs, I can use highlightjs or prism to do syntax highlighting in a block.

My siteConfig.js file looks like this:

[code]

My react component on the front page of the site is just a modified version of the one created

[2020-07-11 23:44] omry opened #3051 "Sidebar category deep linking"
The sidebar of [hydra.cc](https://hydra.cc/docs/next/intro):
![image](https://user-images.githubusercontent.com/376455/87235822-72b17f80-c395-11ea-9ff8-a42b09a0d088.png)

A link to a doc page looks like : https://hydra.cc/docs/next/advanced/overriding_packages

however, linking to https://hydra.cc/docs/next/advanced/ ends up with an 404.

It would be great to create some surface to somehow show th

[2020-07-12 02:07] adrianmcli commented on #2907
What @slorber pointed out above still seems to be an issue. @yangshun could we re-open this issue? Or should there be a new issue opened?

[2020-07-12 03:38] adrianmcli opened #3052 "[v2] Allow Custom Dark Mode Toggle Emoji"
## 🚀 Feature

https://github.com/facebook/docusaurus/pull/1529 added emojis for the dark mode toggle that uses 🌞 ([Sun with Face](https://emojipedia.org/sun-with-face/)) and 🌜 ([Last Quarter Moon Face](https://emojipedia.org/last-quarter-moon-face/)).

<img width="221" alt="Screen Shot 2020-07-11 at 11 28 43 PM" src="https://user-images.githubusercontent.com/943555/87238249-4ebe6000-c3ce-11ea-9ac1

[2020-07-12 11:38] skychx commented on #2717
Finally, I use
[code]
change `src/theme/BlogPostPage/index.js` add the Toc

[2020-07-13 09:10] maksnester opened #3053 "async/await in examples with live editor doesn't work"
## 🐛 Bug Report

This code put in the live editor

[code]

throws a runtime error in the live editor, but that doesn't happen on react-live [demo page](https://react-live.netlify.app/)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yep

## To Reproduce

1. Open https://v2.docusaurus.io/docs/markd

[2020-07-13 12:13] rrousselGit opened #3054 "Clean installs are no-longer working"
## 🐛 Bug Report

Running `npm i` on an existing project creating a new project breaks the site, which no-longer starta

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

- npx @docusaurus/init@next init foo
- cd foo
- npm start

## Expected behavior

The site starts

## Actual B

[2020-07-13 12:28] slorber commented on #3054
Hi @rrousselGit

This seems related to this issue: https://github.com/jorgebucaran/colorette/issues/48

Using node 13.7 or 14.x, and enable ES imports, should solve the issue

[2020-07-13 12:28] #3054 closed

[2020-07-13 12:41] slorber commented on #3053
This `asyncAwait` thing seems to be an option of Bublé, the live transformer. Not sure where it is activated on the react-live demo.

We also use a fork of Bublé (`"@philpl/buble": "^0.19.7",`), don't know why exactly, will have to understand why

[2020-07-13 12:50] slorber commented on #3053
@kittens hi, do you think we should still use your buble fork (seems it is not updated, but optimize for bundle size) or maybe use latest from main repo?

Also, I'm not sure to understand how you react-live demo supports async await, I don't see the `asyncAwait: false` in the Bublé transforms

[2020-07-13 12:51] slorber commented on #3053
@kitten hi, do you think we should still use your buble fork (seems it is not updated, but optimize for bundle size) or maybe use latest from main repo?

Also, I'm not sure to understand how you react-live demo supports async await, I don't see the `asyncAwait: false` in the Bublé transforms

[2020-07-13 12:57] slorber commented on #2717
Yes @skychx you can swizzle the blog post page, it should have a property "rightToc" assigned to it, and you can reuse the Headings comp of the classic theme to render it.

Do you think we should provide this feature out of the box for blog posts too?

[2020-07-13 12:58] slorber commented on #3049
Hi,

Do you think we should make the doc clearer? What was your issue in the end?

[2020-07-13 13:03] slorber commented on #3052
Hi,

I'm not against that idea, and like your alternate emojis too

What do you think should be the API?

Should we only allow ascii-based emojis, or enable user to provide more easily custom components like SVG components?

In any case it's possible to swizzle the toggle and customize it anyway

Do you want to submit a PR?

[2020-07-13 13:11] slorber commented on #3051
Hi,

What do you mean by "the content of the toolbar instead". I don't think I see how this should work, and what to display exactly 🤪

Why do you want to link to a specific sidebar category?

[2020-07-13 13:17] slorber commented on #3048
agree, this is definitively something we need

[2020-07-13 13:26] slorber commented on #3047
Hi,

I'm not familiar with GTM, but there's this page to integrate in SPAs: https://developers.google.com/analytics/devguides/collection/gtagjs/single-page-applications

On navigate, we do something like:

[code]

Maybe we should fire such an event on navigate, so that it shows up on your GTM dashboard?

Maybe something like this?

[code]

???

[2020-07-13 13:32] slorber commented on #3043
Still not sure to understand the difference @yangshun 😅 why can't `@theme-original` be used for the CodeBlock comp?

[2020-07-13 13:51] #2199 closed

[2020-07-13 13:52] slorber commented on #2697
Does it work for you @wez?

[2020-07-13 13:56] acse-fk4517 commented on #3049
Hi @slorber, The issue for me seems to persist. What happened was the following. If I put say Scala code inside the MarkdownBlock that is generated for the Index.js page when I initialise Docusaurus, I get no Syntax highlighting inside it. This is despite the docs saying syntax highlighting is enabled.

So I guess this means syntax highlighting only works for actual markdown files, and not a Markd

[2020-07-13 14:42] slorber commented on #3049
You are using v1?

[2020-07-13 14:50] adrianmcli commented on #3052
If people can swizzle the component, I guess maybe we don't need this to be settable?

To be quite honest, I just really didn't like the default emojis (with the face).

I'd be happy if we could merge a PR to replace the default emojis with more sensible ones (like the ones I have).

[2020-07-13 15:29] acse-fk4517 commented on #3049
Yes, following the docs here:

[https://docusaurus.io/docs/en/installation](https://docusaurus.io/docs/en/installation)

[2020-07-13 17:29] yangshun commented on #3043
Alexey explained here - https://github.com/facebook/docusaurus/pull/2464#issuecomment-603802459. We definitely need better naming and better docs for this.

[2020-07-13 17:55] omry commented on #3051
Yes, actually I  think that the sidebar category should have a page.

That page can be auto generated from the sidebar items.
Extra points if you allow the user to customize it.
In some cases I actually manually created such a landing page, but I would really prefer that it would be associated with the category itself and not a page in it.

Example:
https://hydra.cc/docs/next/tutorials/intro

Not

[2020-07-13 18:01] wez commented on #2697
I got frustrated by not being able to see this working locally, and frustrated that I'd spent more time on this than I think I've spent in total on "doc infra" in the past several years, so I opted to revert back to jekyll where it was simple to enable redirections for the "wrong" style URLs to the desired `.html` URLs.  It doesn't look as good as docusaurus but doing so closes a half-dozen issues

[2020-07-13 19:37] maksnester commented on #2247
It's also an issue for me. I tried to create some live demo by using jsx components. And my component has an import of some component that has an import of browser-only code.

[code]

[code]

How to overcome that? I'm fine with having JSX components not being server-rendered. cc @yangshun

[2020-07-14 06:23] skychx commented on #2717
YES! I think this is a very useful feature to clearly show the structure of the article.

[2020-07-14 07:16] taylorallen0913 opened #3056 "RFC: Integration Testing"
## 💥 Proposal

As the codebase grows, it would be beneficial to add more/different kinds of testing strategies. I think integration testing with an automation tool like Selenium could improve coverage.

[NextJS](https://github.com/vercel/next.js/blob/canary/contributing.md#to-run-tests) implemented this style of tesing on top of all of their other unit tests and it works very well.

I can start a

[2020-07-14 11:03] slorber commented on #2697
Sorry that your experience wasn't as great as it should have been, and for the time lost giving it a try 😞

I didn't document that the plugin worked only for the production build on the initial release alpha 58, sorry about that. It is currently documented in the master branch [here](https://v2.docusaurus.io/docs/next/using-plugins#docusaurusplugin-client-redirects), but didn't backport it to the

[2020-07-14 11:12] slorber commented on #3051
That's an interesting.

How would you see the api for customizing this page working?

What do you want on this page by default?
A flat list of docs?
Or should it show nested categories?

[2020-07-14 11:16] slorber commented on #3052
As people are used to current icons and didn't complain much about those, not sure we want to replace those.

What about just providing ascii chars configuration options, so that you could easily replace those icons with the ones you like more?

Do you want to submit a PR for this?
I can assign this task to someone otherwise.

[2020-07-14 11:26] slorber opened #3057 "Markdown relative image paths"
## 🐛 Bug Report

In `/docs/myDoc.md`

`![text](./assets/image.png)`

This should be able to display an image in "/docs/assets/image.png`

---

Potential solution:
- MDX transpiles to `<img src="./assets/image.png"/>`
- we should find a way to make it transpile to `<img src={require("./assets/image.png").default}/>`

Note, this kind of trick probably exist in Gatsby codebase, so it's worth taking a

[2020-07-14 11:27] slorber commented on #2956
opened this new issue => https://github.com/facebook/docusaurus/issues/3057

[2020-07-14 11:28] slorber commented on #2850
=> https://github.com/facebook/docusaurus/issues/3057

we should make this possible

[2020-07-14 12:46] slorber commented on #3056
Hi,

We already have e2e tests that basically generate a fresh new D2 website and try to yarn build it.
https://github.com/facebook/docusaurus/blob/master/.github/workflows/e2e-test.yml

But that could be a nice addition to have additional end2end tests to verify the site's behavior.

Do you have in mind what kind of behavior you want to check with these tests?

I'd rather use Cypress than Seleniu

[2020-07-14 14:29] adrianmcli commented on #3052
Sure, I can try a PR this weekend.

[2020-07-14 14:43] omry commented on #3051
Let me start by specifying a few requirements I think exists to make this useful:

1. The API should allow me to fully specify my own page at minimum (manually, like I am doing in that intro link).
2. It should allow me to iterate on the sidebar list I am rendering the page for.
3. For each item in the list, it should provide a convenient way to access the metadata of the page:
[code]
## Initial A

[2020-07-14 15:03] omry commented on #3051
ideally we would have something better to name the file after than the text in the sidebar, but I don't think sidebar items has an id right now.

[2020-07-14 17:29] slorber commented on #3048
check #3059

[2020-07-14 18:42] omry commented on #3048
awesome, that was quick!

[2020-07-14 20:58] adrianmcli opened #3060 "Redirect plugin documentation should mention that effects only take on after build"
## 📚 Documentation

Re: the redirects plugin: https://v2.docusaurus.io/docs/using-plugins/#docusaurusplugin-client-redirects

I spent way too much time trying to figure out why my redirects were not working.

It turns out that I was only testing things in dev-mode (i.e. `docusaurus start`) rather than the built mode (i.e. after running `docusaurus build` and then serving it manually).

The documen

[2020-07-15 04:10] tvvignesh opened #3061 "Trailing slash breaks images"
Hi. I am using docusaurus v2. While everything works great, trailing slash is breaking images.

I have a markdown syntax like this where I am storing myimage in the same folder as the markdown file

[code]

It fails because of the trailing slash. If I fix in the website by maybe adding `../` it will not render in Github. Is there any way to make it work both in Github and the website as well?

Scr

[2020-07-15 04:13] tvvignesh commented on #3061
If I put it in static folder and try to access it that way, it will work in the website but will break when rendering in the Github repo. Was wondering what to do.

[2020-07-15 07:35] slorber commented on #3061
Hi,

Currently we don't support well using  relative md images, so it's hard to support both github + website at the same time.

This is something I want to solve in https://github.com/facebook/docusaurus/issues/3057

[2020-07-15 07:38] borekb commented on #3018
@slorber I'd like to create a prototype of CommonMark support but am unfamiliar with Docusaurus codebase so would really appreciate high-level guidelines if you will.

Roughly speaking, if I wanted to parse `.md` files as CommonMark, which parts of the codebase I'd need to touch? I can overwrite the code for now in a fork, i.e., it's not my ambition yet to make this a general solution supporting b

[2020-07-15 07:43] tvvignesh commented on #3061
@slorber Thanks for the clarification. Will use the absolute url till then. Feel free to close this issue if you want.

[2020-07-15 07:45] slorber opened #3062 "cli: docusaurus serve"
## 🚀 Feature

Not all Docusaurus users are familiar with Docusaurus, and frontend SPA tooling in general.

Some Docusaurus things only work for the production build (like the redirects plugin), yet we don't really explain how to test this production build locally, we only explain how to deploy to various hosting solutions.

We should offer an easy way for the users to test the production build loc

[2020-07-15 07:46] slorber commented on #2697
We'll also make a `docusaurus serve` command and recommend a way to test a production build locally => https://github.com/facebook/docusaurus/issues/3062

[2020-07-15 07:49] slorber commented on #3060
Hey @adrianmcli , I'm sorry you lose time figuring this out.

The admonition is here on master, it's just not in the alpha 58 release but in the next/master branch, that is going to be released soon in alpha 59, so it's only bad luck due to being an early adopter of the plugin😞

We are going to release soon a new version, so this will be solved. Just waiting for DocSearch v3

See also more context

[2020-07-15 07:49] #3060 closed

[2020-07-15 08:00] slorber commented on #3018
Hi,

My first intuition would be to rename "docusaurus-mdx-loader" to "docusaurus-md-loader", and provide a loader option to tell it to load the files as md or mdx. In the end, we need a React component anyway, using MDX, but in md mode, we could convert the html elements to JSX elements just before feeding mdx, so that mdx is happy?

Not sure, this would require some experiments.

[2020-07-15 08:25] borekb commented on #3018
Thanks a lot, I'll give it a go later this week or the next one.

[2020-07-15 09:30] SwaroopH commented on #3035
[EthVigil](https://EthVigil.com) is on v1.

Repo: https://github.com/blockvigil/ethvigil-docs

PR tracking v2 migration: https://github.com/blockvigil/ethvigil-docs/pull/22

[2020-07-15 12:49] adrianmcli commented on #3060
Thank you for your response, no problem I understand I am an early adopter 😄

[2020-07-15 13:09] anshulrgoyal commented on #3062
one of the user also complained about same on discord

[2020-07-15 13:35] anshulrgoyal commented on #3057
we can create a remark plugin for it and convert it to jsx before going to MDX.

[2020-07-15 16:44] slorber commented on #3057
yes if you can try to create a poc that would be cool :) I'm not very familiar with remark/rehype

[2020-07-15 16:52] anshulrgoyal commented on #3057
ok i will create a POC.

[2020-07-15 17:53] slorber opened #3065 "Component library for classic-theme"
## 💥 Proposal

- We should implement a component library for the classic theme.
- Those components would be reusable across the theme, and not coupled to a specific plugin.
- We could have a storybook for the theme
- We could do visual regression diffing using tools like Chromatic
- A user should be able to reuse such a component in custom pages

See also https://github.com/facebook/docusaurus/dis

[2020-07-15 18:24] sladyn98 commented on #2643
@yangshun Is this still a starter issue to be worked on if yes I could maybe give it a shot.

[2020-07-15 18:55] adrianmcli opened #3066 "Support activeBasePath and activeBaseRegex for Navbar dropdowns"
## 🚀 Feature

Allow setting of `activeBasePath` and `activeBaseRegex` on dropdown items for the navbar so the dropdown becomes highlighted when the user is in that particular section of the docs.

## Motivation

`activeBasePath` and `activeBaseRegex` are very useful for signalling to the user what section of the docs they are on.

However, this doesn't work for dropdowns. This reduces the immediat

[2020-07-15 19:42] prma85 opened #3067 "[v2] Sidebar menu also set active the Navbar menu"
## 🚀 Feature

When creating a multi-level docs page with different menus, normally we go with

`sidebar.js`
[code]

And for my nav bar, I would go with
`docusaurus.config.js`

[code]

However, there is no link between the navbar and when opening a Navbar, I will get only the menus for that navbar item, and due to this, the navbar link doesn't keep active when switching the sidebar items.

## Motiv

[2020-07-15 20:13] anshulrgoyal commented on #3057
I have created the poc but I need some help with webpack. I used url-loader in require to load image but it creates a wired base64 with export default embedded in base65 string

[2020-07-15 21:56] taylorallen0913 commented on #3056
I was thinking of testing some of the default pages such as home, blog, showcase, and community just to verify that everything renders properly. We can make this expandable to include things such as buttons and links.

[2020-07-16 06:01] anshulrgoyal commented on #3057
I fixed it and created a PR

[2020-07-16 06:11] anshulrgoyal commented on #3061
#3069 this solve relative images

[2020-07-16 09:00] slorber commented on #3066
Hi,

Afaik this is already working and documented:
https://v2.docusaurus.io/docs/theme-classic/#navbar-links

Look at Docusaurus v2 website, and its config:

[code]

[2020-07-16 13:09] slorber commented on #2492
Hey, I'm closing in favor of this similar issue: https://github.com/facebook/docusaurus/issues/2923

[2020-07-16 13:09] #2492 closed

[2020-07-16 13:10] slorber commented on #2923
Here's a first preview of what it could look like: https://deploy-preview-2971--docusaurus-2.netlify.app/

Interested by your feedback

[2020-07-16 19:40] claudiopro commented on #2907
I am noticing the same issue on the React Docs website, likely cause the BLM header increased the expected size of the navbar.

cc @rachelnabors
<img width="1392" alt="Screen Shot 2020-07-16 at 9 39 25 PM" src="https://user-images.githubusercontent.com/860099/87714958-dd572680-c7ac-11ea-9b22-a5c00d8a39c8.png">

[2020-07-17 08:29] LLejoly commented on #1761
I faced the same issue. and running an http server to access the build folder works. This extra step should be mentioned in the official documentation.

[2020-07-17 10:30] mingrammer opened #3071 "Syntax highlighting for Protocol Buffers"
## 🚀 Feature

(A clear and concise description of what the feature is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

We're using Protocol Buffers, but Docusaurus's markdown engine doesn't support syntax highlighting for protobuf language.

## Pitch

Someone like me may need

[2020-07-17 15:51] slorber commented on #3071
v1 or v2?

Do you have an open-source site?

Have you read the doc, and added the required v2 configuration?
https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

[2020-07-17 15:56] slorber commented on #1761
@LLejoly there's ongoing work to provide an official "docusaurus serve" command: https://github.com/facebook/docusaurus/issues/3062

This is a jamstack SPA project, not all http servers will work perfectly with it, so we'd rather recommend one.

[2020-07-17 20:57] harrykao opened #3072 "static assets don't get copied by `docusaurus start`"
## 🐛 Bug Report

The `docusaurus start` command doesn't copy static assets from the `static` directory into `build`.  However,`docusaurus build` works.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Add an image to the `static` directory in the root of the project.
1. Run

[2020-07-17 21:07] harrykao commented on #3072
Oops, I goofed! I forgot that `start` serves from memory. The real problem was that I didn't specify the correct path in the md file.

[2020-07-17 21:07] #3072 closed

[2020-07-18 10:10] mingrammer commented on #3071
I'm using v2.

I found a list of default languages Docusaurus supports now: https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/vendor/prism/includeLangs.js in that documentation link.

So I added this config to support protobuf. Thank you for help.

[code]

p.s. I think Protocol Buffers is also commonly used language, what do you think about adding the protobuf to the default l

[2020-07-18 11:28] slorber commented on #2907
@claudiopro I think reactjs website is a Gatsby site, not a Docusaurus site

[2020-07-18 15:16] psyycker opened #3075 "Only HTML is loaded using github pages"
## 🐛 Bug Report

By following the documentation written in Docusaurus, I'm trying to deploy using the gh-pages branch.
Problem being that only the HTML is loaded, the whole javascript etc is not loaded throwing 404 or content security issues

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

##

[2020-07-19 02:50] jordanliu commented on #3065
Having the components in a separate package can give some modularity, it can promote integrating useful components in custom themes as you've highlighted.

In terms of components, apart from the navigation - code blocks, announcement bars

[2020-07-19 16:57] jordanliu opened #3077 "[CONTRIBUTING.MD] #docusaurus-2-dev - Discord Link Dead"
## 📚 Documentation

Discord channel hyperlink is dead, -> "#docusaurus-2-dev".

The current discord link: https://discord.com/invite/9wrnhY
Proposed link (generated to never expire): https://discord.gg/n8nQEAS

![image](https://user-images.githubusercontent.com/9423525/87880405-7067aa80-c9bf-11ea-9daf-321b152af963.png)
Section Link: https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.m

[2020-07-20 04:05] krishnaUIDev opened #3079 "Build issue when i connect application with firebase."
Connected application with firebase. In the local env it's working fine. But when I do npm run build i am facing below error.

`ReferenceError: IDBIndex is not defined
(undefined) ReferenceError: IDBIndex is not defined
    at Module.<anonymous> (main:53625:38)
    at __webpack_require__ (main:21:30)
    at Promise.resolve.then (main:84540:4202)
Error: Failed to compile with errors.
    at compile

[2020-07-20 04:20] iafan commented on #2651
I've been exploring using Docusaurus for a multilingual site, only to realize v2 doesn't have any i18n layer. I have some experience with localizing products/documentation in various forms, including some automated localization pipelines, so here are my thoughts on how I would expect i18n to be handled:

1. I'd prefer i18n of an open-source project to be SaaS platform agnostic, so that Docusaurus

[2020-07-20 06:34] anshulrgoyal commented on #3062
I will take this issue

[2020-07-20 09:11] Repulser opened #3081 "Hashlinks from inside docusaurus only work a second time"
## 🐛 Bug Report

Hashlinks only work a second time on big documents when linked from inside docusaurus

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a document with a lot of headers in it
2. Create a document that hyperlinks somewhere around the bottom of the docu

[2020-07-20 10:02] #3079 closed

[2020-07-20 10:04] slorber commented on #3081
Hi,

Do you have your site hosted somewhere so that it can be easily checked? (you can drag@drop your build folder to Netlify for example)

Do you see this happening on other sites as well? (like D2 documentation?)

[2020-07-20 10:07] #3077 closed

[2020-07-20 10:12] slorber commented on #3071
Great to see it works for you.

Protobuf is commonly used but we don't necessarily want to include it by default, for bundle size reasons.

There are so many commonly used languages we could support by default, it's probably not a very good idea to include all of those.

The most we could do is make it more easy to include additional languages (I mean, being just a config, not using swizzle), but

[2020-07-20 10:12] #3071 closed

[2020-07-20 10:33] slorber commented on #3075
Hi,

You need to set a baseurl if you are not hosting the site at the root of your domain (`/vident`), like it is documented.

=> https://github.com/Vident/vident/pull/3

[2020-07-20 10:33] #3075 closed

[2020-07-20 11:29] Repulser commented on #3081
Hey @slorber
Please check out - https://staging.rythm.online/misc_help
If you click the "Support Server" hyperlink the issue should reproduce.

[2020-07-20 13:17] slorber commented on #3081
Thanks, definitively a bug.

Could also be related to
- https://github.com/facebook/docusaurus/issues/2907
- https://github.com/facebook/docusaurus/issues/2901

[2020-07-20 13:28] slorber commented on #3056
I think if we create a component library for the classic theme that would help test individual components in a storybook. (https://github.com/facebook/docusaurus/issues/3065).

I don't think it's needed to "verify that everything renders properly". Visual tests should rather be done in isolation, like in Storybook/Chromatic, and the nature of Docusaurus being a static site means that if things don

[2020-07-20 13:43] slorber commented on #3067
Hi,

If all the docs of your sidebar 1 have `/docs/components/` url prefix, and all the docs of your sidebar 2 have `docs/web-dev-docs/api/` prefix, you can highlight the navbar links by using the activeBasePath / activeBaseRegex features, that will "activate" the items when you navigate to them.

https://v2.docusaurus.io/docs/theme-classic/#navbar

[2020-07-20 13:50] slorber commented on #3051
This issue seems related to https://github.com/facebook/docusaurus/issues/2643

[2020-07-20 13:55] slorber commented on #2643
Hey, didn't notice this issue, that also seems related to a more recent one: https://github.com/facebook/docusaurus/issues/3051

@sladyn98 there's ongoing work to be merged on the docs plugin + a few other important refactors I'd like to do.
This won't be time lost to have such a POC of this feature, and would help collect feedback, but just be aware that you might not be able to rebase it easily,

[2020-07-20 14:00] slorber commented on #2643
Raw thoughts but here's a possible api:

[code]

Would render the introDocId doc.

[code]

Would render an automatically generated table of content of all the inner-tree of this category (we could later see how to make this view more useful by adding additional data to it, maybe a small doc summary or something)

[2020-07-20 14:43] slorber commented on #3049
It's unlikely we'll do much work on v1, as we try to ship a stable version of v2.

Do you use versioning or i18n in v1? if not I'd recommend you to migrate to v2. We can help, and are working on a cli to automate this process

[2020-07-20 14:46] slorber commented on #3046
https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

You need to swizzle and have the file here, as documented: `src/theme/prism-include-languages.js`.

It's not the case here: https://github.com/facebookresearch/hydra/tree/master/website/src/theme

[2020-07-20 14:46] #3046 closed

[2020-07-20 14:55] slorber commented on #2651
Thanks for your feedback @iafan . I agree with you on most parts. If you are on discord, that could be useful that we chat before I start working on this feature

[2020-07-20 15:10] DONRUBAYET commented on #1971
can i work on this ?

[2020-07-20 16:55] omry commented on #3046
Awesome, thanks!

[2020-07-20 17:47] prma85 commented on #3067
Hey @slorber
Thanks for your reply.
It works like a charm for the simple navbar item. However, if the item as sub-items (rendered as dropdown, the active class is not applied to it).

Not sure if it is the desired behaviour. Maybe it is a small bug?

[2020-07-20 18:32] slorber commented on #3067
you have to assign a path/regexp to each dropdown element.

See how it works on the docusaurus 2 website:

![image](https://user-images.githubusercontent.com/749374/87972997-23233000-cac8-11ea-866c-32ae59164003.png)

if we can do it, you can probably do the same :)

[2020-07-20 18:54] iafan commented on #2651
@slorber Of course. I DM'ed you on Discord.

[2020-07-20 21:09] prma85 commented on #3067
Yep, totally agree.

This is my navbar:

[code]

All the active links work for the exception of the Web-dev that is a Dropdown menu 🤔
Looking into the docusaurus navbar (https://github.com/facebook/docusaurus/blob/master/website/docusaurus.config.js) doesn't look too much difference in how I am creating it.

But it still doesn't active the navbar item, only the sub-items

[2020-07-20 21:29] yechs commented on #1971
Sure, please

[2020-07-20 21:58] BurntBrunch commented on #2990
Sorry for dropping this thread.

Nope, I had a pretty lengthy chat with Circle support and that's just not how Circle works anymore. You need a config on each branch or each commit to the branch will trigger a _failing_ build (as it won't find the config).

That's not a bad idea. Is there a recommended CI setup anywhere in the docs? It sounds like this would be a common gotcha for Circle users and

[2020-07-20 23:34] omry commented on #3046
Looks like there is no need to swizzle anything.
[This](https://github.com/facebookresearch/hydra/pull/801/files) did the trick.

[2020-07-21 06:07] DONRUBAYET commented on #1971
okay i am working on this..thank you

[2020-07-21 08:42] anshulrgoyal opened #3085 "Allow plugin to fail to load if unmeet @docusaurus/core version."
## 🚀 Feature
Currently, plugins can be loaded with a very version of D2 but some new version of plugin requires a new version of D2 core. We should add a lifecycle method to get the version of the D2 core. So the plugin can check whether the installed version of D2 is supported or not.
For example, If I use any plugin from the master with 2.0.0-alpha-58 of @docusaurus/core it will fail with a wire

[2020-07-21 08:48] slorber commented on #3067
I'm sorry but I'm unable to understand what you want. Can you display screenshots, link to code or something?

![image](https://user-images.githubusercontent.com/749374/88033128-3e7d5200-cb3f-11ea-8fad-5d146e1f9db3.png)

Here you can see 2 items can get highlighted: Docs and 2.0-alpha.54. You'd want something else to be highlighted?

For me, when you say "the dropdown menu", this is the whole ul w

[2020-07-21 09:02] slorber commented on #3046
ah yeah, this is surprising because it's not in the defaultly supported languages: https://github.com/FormidableLabs/prism-react-renderer/blob/master/src/vendor/prism/includeLangs.js

maybe you'll get a better support by using swizzle, and have partial/decent support now?

[2020-07-21 09:11] slorber commented on #2990
Afaik there is not. We already document many deployment solutions, it's hard to document as well all the CI solutions, as it would lead to some kind of expensive matrix to maintain. This problem is related to using CircleCI + GH pages specifically, not so related do Docusaurus ^^ you have to understand the tools you choose for CI and deployment by reading their doc.

Doc PRs are welcome if you fee

[2020-07-21 09:14] slorber commented on #1971
hey, not very familiar with this problem

but shouldn't we instead make projectName in the config be the source of truth, and eventually read an env variable from there?

Like

[code]

[2020-07-21 13:27] #3057 closed

[2020-07-21 13:27] #3061 closed

[2020-07-21 15:37] omry commented on #3046
Reading the docs, swizzle is to be used when I add my own language support. I am trying to use an existing language supported by prism here.

[2020-07-21 15:53] slorber commented on #3046
ah you are probably right maybe just turning on the lang is enough

[2020-07-21 16:02] prma85 commented on #3067
Sorry for not being clear
When I am saying dropdown menu, I mean the main item/title and not the internal list

![image](https://user-images.githubusercontent.com/1236101/88077700-c6ac2900-cb38-11ea-886e-f2119f3e1852.png)

The code I sent before is for this menu.
I can see the menu items inside of the dropdown being active but not the dropdown itself
Also, looking in the HTML generated, the div wi

[2020-07-21 16:03] omry commented on #3046
it is enough, not sure if prism somehow brings the language syntax at runtime or if it's comes packages with all of them after all.
it's small enough (1.17K).

[2020-07-21 16:08] yechs commented on #1971
The problem here is that, instead of letting siteConfig be the source of truth, it is being overridden when running `docusaurus deploy` from CircleCI.

You can see that the CircleCI built-in variable `CIRCLE_PROJECT_REPONAME`, which is name of source repo, overrides the `siteConfig.projectName` in the config. And here we are setting another environment variable `CIRCLE_PROJECT_REPONAME` to overrid

[2020-07-21 17:13] #3048 closed

[2020-07-21 19:03] DONRUBAYET commented on #1971
@yechs i am new here....can you point me which doc to change or i have to add new doc for this ? help me please

[2020-07-21 19:45] slorber commented on #3067
Will have to check tomorrow but maybe it requires a to attribute on the
parent item

Le mar. 21 juil. 2020 à 18:02, Paulo Andrade <notifications@github.com> a
écrit :

[2020-07-21 22:57] tobyhede commented on #1258
The component technique above doesn't seem to work with 2.0.0-alpha.56

[2020-07-22 07:46] anshulrgoyal opened #3089 "Use caching in github actions"
# 🚀 Feature
We should cache node_modules. For speeding Github Actions

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## Motivation
Yarn install takes a lot of time

## Pitch
Example from Github actions:

[code]

[2020-07-22 09:31] m-vdb opened #3090 "[v2] Support javascript src files (among others) in multi-version mode"
## 🚀 Feature

Hey there! We're in the process of setting up Docusaurus v2 at [Rasa](https://github.com/RasaHQ/rasa) and we've hit a roadblock. The basic use case is the following:
1. we want to build variables (from the code, code is in python) and include them in the doc
2. we want to require source files from the doc

Everything works fine until multi-version kicks in. For 1., we initially built

[2020-07-22 13:06] anshulrgoyal commented on #3090
Are u talking about pages?

[2020-07-22 13:15] maxifom opened #3092 "Change the docs-only section to clearly state, why you should delete pages"
## 📚 Documentation

Now the [(docs-only section)](https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode) states that:
`You should delete the existing homepage at ./src/pages/index.js, or else there will be two files mapping to the same route!`. But as I found out, you can keep the file at ./src/pages/index.js, but some markdown features like syntax highlighting wont work.

I propose to c

[2020-07-22 15:48] acse-fk4517 commented on #3049
@slorber - ok thanks, Ill try and migrate to v2 for my project

[2020-07-22 16:32] teikjun commented on #3092
Hi, it is possible that other features (apart from syntax highlighting and markdown) fail due to two files mapping to the same route. So, I think the current docs is more accurate.

For example, if we initialize a brand new site using classic theme and enable docs-only-mode without deleting `src/pages/index.js`, we get the following result: https://docs-only-repro.vercel.app/. The page does not ha

[2020-07-22 17:17] slorber commented on #3092
Hi,

What do you mean by "syntax highlighting won't work" ? That seems unrelated, can you create a repro?

This issue @teikjun , where we see the docs without nav/sidebar, was due to a bad "merge" of the bundles of 2 pages. It is normally fixed (don't remember if it's already released or not but I think it is). Now we shouldn't get weird "merges" and the pages will be "consistent": you either get

[2020-07-22 17:21] slorber commented on #3049
great

We are going to do a release very soon, you will be able to try the migration cli. Get in touch on Discord if this does not work or need help

[2020-07-22 17:27] slorber commented on #3090
@m-vdb can you share your POC website so that I can understand better?

Note, in MDX you can interleave react components into the markdown.

If you have this file in `/docs/folder/myJSFile.js`:

[code]

And this markdown in `/docs/folder/myDoc.md`:

[code]

This should render `<span>42</span>` in your doc just under the doc title

[2020-07-22 17:35] slorber commented on #3089
not very familiar with Github CI but if you can improve the build time let's do this ;)

afaik Netlify does this caching automatically, but don't know about github

[2020-07-22 17:43] slorber commented on #1971
I'm not very familiar with these problems, not sure I can help, but happy to merge a PR if you feel it improves the doc

It'd be nice to specify if you are on v1 or v2.
- v1 docs is in ./docs
- v2 docs is in ./website/docs

[2020-07-22 17:56] DONRUBAYET commented on #1971
i can do both i think ....

[2020-07-22 17:57] maxifom commented on #3092
Here you are: [repro](https://github.com/maxifom/no_syntax_highlight_bug)
So the only things I did was:
1. Set routeBasePath: '/'
2. Changed url,baseUrl,organizationName,projectName for deploy
3. DID NOT delete src/pages/index.js

I can see there is no highlighting in code section, also navbar and sidebar are missing
![image](https://user-images.githubusercontent.com/20924207/88211087-99fa2d80-cc6

[2020-07-22 17:58] slorber commented on #3067
@prma85 according to what I see in the code, `activeBasePath` is only used if you have a "to" in your parent element. Without it, it won't be a ReactRouter link, which provides us the active feature.

Can't you add a "to" attribute?

[2020-07-22 20:00] fiendish opened #3095 "Node 14+ dependency breakage alerts from docusaurus-init"
## 🐛 Bug Report

Invoked dependencies alert that they are broken in the current version of Node.js (14+).

See the warnings for chokidar and fsevents. (of course the other warnings are bad too).
[code]
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1

[2020-07-22 20:44] SebastianM commented on #2675
@lex111 I still get this error with `2.0.0-alpha.58`

[2020-07-23 03:13] ayan-b commented on #1208
I would like to work on this issue.

[2020-07-23 08:10] Drewbi commented on #3081
I had a look into this and I believe it has to do with when the element.scrollIntoView() method is called. I think in the case where you load in for the first time and then navigate to the hash link, it scrolls to the correct location before images have loaded, when they do load the page content is pushed down leaving the scroll location in the incorrect position.
As for the other cases where the

[2020-07-23 08:23] anshulrgoyal commented on #3089
Cache didn't show any visible improvement on windows recovering cache takes 4.5 mins. I am closing this issue.

[2020-07-23 08:23] #3089 closed

[2020-07-23 08:25] #3085 closed

[2020-07-23 09:32] slorber commented on #3095
Apart from a few warnings logged, was it a problem for you and prevent Docusaurus from working?

Let's take an example: "react-dev-utils": "^10.2.1",

We are on latest version, it's not our fault if the transitive deps of our dep have warnings, you should report the problem directly to the intermediate packages

+ it's not because a lib is declared by a deep transitive dependency and breaks on nod

[2020-07-23 09:32] #3095 closed

[2020-07-23 09:43] slorber commented on #1208
Thanks @ayan-b  for your PR

doc for v1 is done, but keep this issue open as it's not yet done for v2

[2020-07-23 09:52] DyncMark opened #3100 "[v2] how can i create a version"
![image](https://user-images.githubusercontent.com/15116881/88273659-1ba09880-cd0d-11ea-921d-6e7ea6ee2b04.png)

[2020-07-23 10:08] Drewbi commented on #3052
https://github.com/facebook/docusaurus/blob/5ccd24cc1f07efbd4e7c3fe68937e357c0e44855/packages/docusaurus-theme-classic/src/theme/Toggle/styles.module.css#L19-L24

Is there a reason the emojis are added in css instead of being passed in by the themeConfig/default value in the index.tsx file?

The API could be something like:
[code]

I'm interested in working on this if you weren't planning to @adri

[2020-07-23 10:55] anshulrgoyal opened #3102 "RFC: Creating a local search feature"
## 🚀 Feature
Add an official search plugin that doesn't use any external search.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation
All users don't have the option of hosting docs publicly.

## Pitch
Create a separate plugin that scraps the`/build/` folder to create an index lunr.j

[2020-07-23 12:27] teikjun commented on #3100
I'm able to reproduce the same error with npm, but it works fine with yarn. I'll try looking into this soon.
In the meantime, you should be able to create a version with `yarn run docusaurus docs:version 1.1.0`.

[2020-07-23 12:36] #2754 closed

[2020-07-23 12:36] #2808 closed

[2020-07-23 13:41] DyncMark commented on #3100
thanks for reply.  i have created a version with `yarn run docusaurus docs:version 1.1.0`.  but I have new error when I install `@docusaurus/plugin-client-redirects`, I tried `npm` and `yarn`, but I was unable to complete the installation.

[2020-07-23 14:00] spyke01 commented on #2889
I'll take a look into this.

[2020-07-23 14:02] teikjun commented on #3100
Just to double check, did you use `yarn add @docusaurus/plugin-client-redirects` to add the plugin?
Also, could you post a screenshot of the error and link us to your code (if possible)?

[2020-07-23 14:09] DyncMark commented on #3100
There are no errors,  always in the pending state. It's probability a network problem, cause I'm in China.

[2020-07-23 14:14] adrianmcli commented on #3052
@Drewbi sure, go ahead. But keep in mind that my particular use-case also requires letting users control the `fill` property since the sun emoji is black by default.

[2020-07-23 15:26] slorber opened #3103 "Improve migration cli"
## 🚀 Feature

The new migration cli works fine most of the case but there are still some things we can easily improve.

We have e2e tests that seems to produce a buildable site with the command:

[code]

But it fails if we use this command:

[code]

Some pages and markdown files produce errors. I'd like to get this end2end test working at the end of this issue, including the pages. This won't guar

[2020-07-23 15:36] #1208 closed

[2020-07-23 16:09] slorber commented on #3052
I'm not against darkIconFill, lightIconFill.

Are other css attributes potentially useful to customize?
If there are we might as well directly allow passing a darkIconStyle and lightIconStyle

[2020-07-23 16:16] adrianmcli commented on #3052
I think it's a good idea to pass in `darkIconStyle` and `lightIconStyle` as I eventually made extra customizations to align the icons properly:

[code]

[2020-07-23 16:18] slorber commented on #3100
@DyncMark you are right, but where did you see in docs to run `npm run docusaurus` ?

![image](https://user-images.githubusercontent.com/749374/88310894-830c1780-cd10-11ea-98a8-569356f41c6a.png)

As far as I know npm can only run registered scripts in package.json, so it does not work

But if I add this script: `"docusaurus": "docusaurus",` it now works:

![image](https://user-images.githubusercon

[2020-07-23 16:29] slorber commented on #3100
if you have an error with the redirect plugin, please verify your connexion and open another issue with a detailed bug report

[2020-07-23 16:29] #3100 closed

[2020-07-23 16:30] slorber commented on #3052
That's what I had in mind :p

[2020-07-23 18:23] oriooctopus opened #3109 "Hash link jumping not working when opening a new tab"
By hash link jumping I am referring to the behavior of, at a link such as [https://v2.docusaurus.io/docs/installation#problems](https://v2.docusaurus.io/docs/installation#problems), the page should automatically scroll to the hashed section when right clicking on a link and opening to a new tab

This can be reproduced by right clicking on any hash link that appears right next to the headers. **Thi

[2020-07-23 18:27] teikjun commented on #3100
@slorber I have added it to the migration PR! :)
The instructions that say `npm run docusaurus ...` came from here: https://v2.docusaurus.io/docs/versioning/#tagging-a-new-version. The docs are correct now that we have added the scripts.

[2020-07-23 19:20] teikjun opened #3110 "Incorrect section link behavior"
## 🐛 Bug Report

The section links go to an incorrect route when targeting a section on the same page. The relative link is appended to the baseUrl instead of the current url.
For example: On https://v2.docusaurus.io/docs/configuration, `[site-metadata](#site-metadata)`  links to
https://v2.docusaurus.io/#site-metadata instead of https://v2.docusaurus.io/docs/configuration#site-metadata

### Have

[2020-07-23 19:36] slorber commented on #3110
😔 Thanks will check tomorrow

Le jeu. 23 juil. 2020 à 21:20, Teik Jun <notifications@github.com> a écrit :

[2020-07-23 20:32] taylorallen0913 commented on #3065
I'd love to see storybook being implemented. My question is would you scope storybook to this proposed component library only, or the whole project? I could help with this.

[2020-07-23 21:14] prma85 commented on #3067
@slorber yes, it did the trick
But since this menu has no real link, I add the following
`to: "#",`
and it worked
thanks \o/

[2020-07-23 23:24] jordanliu commented on #3065
Great idea, I'd love to work on this as well. :smile:

[2020-07-24 00:16] Jonathannsegal commented on #3043
This does seem like an straightforward clarification to add to the docs. Started a PR with proposed changed based on Alexey's explanation. Let me know if this is something that is close to what is wanted or if this needs to be changed.

[2020-07-24 01:49] DyncMark commented on #3100
Thanks very much. It works fine now.
![image](https://user-images.githubusercontent.com/15116881/88354255-f191b980-cd92-11ea-94c4-1e2329ab8c2f.png)

I saw the document on [docusaurus2](https://v2.docusaurus.io/docs/versioning/#tagging-a-new-version) website and then I check out the  [docusaurus2 project](https://github.com/facebook/docusaurus/tree/master/website) from GitHub, but undefined the `do

[2020-07-24 06:41] svict4 commented on #3092
Just want to add that there have been multiple questions about missing sidebars/headers/footers (from myself included) on Discord that relates to forgetting to remove the `./src/pages/index.js` file when in docs-only mode

[2020-07-24 06:59] svict4 commented on #3109
Can confirm that appears to be an issue, but when running the dev server. The hash links work as expected when serving a build.

[2020-07-24 07:05] DONRUBAYET commented on #1971
@slorber  hi do you have discord or gitter ? i have something to discuss... :)

[2020-07-24 07:45] slorber commented on #1971
Yes I'm on discord, probably busy today though but next week should be fine

[2020-07-24 07:57] slorber commented on #3092
@svict4 I'm going to make a release as soon as possible and it should fix this issue. On the new release, you won't ever have a doc home with no navbar/sidebar (this is definitively a bug that shouldn't have happened in the first place).

If you keep the file in /pages/index.js, it will keep showing the homepage consistently (just checked, it does), and you should be able to figure out yourself th

[2020-07-24 08:00] slorber commented on #3100
great :) thanks

[2020-07-24 08:09] slorber commented on #3067
great

yes this is probably not very convenient but at least there's a workaround. Does "#" has any unintended side-effect?

[2020-07-24 08:18] prma85 commented on #3067
I didn't notice any side-effect. Looks all good :)

[2020-07-24 09:10] LittleboyHarry commented on #2675
@SebastianM I successful resolved this error on the current public 58th alpha version flowing the steps below：

1. read https://v2.docusaurus.io/docs/next/typescript-support/
2. specify the new version of `@docusaurus/module-type-aliases` package explicitly at the first step:

[code]

3. install `@types/react` if you use react hooks

[2020-07-24 10:40] #3110 closed

[2020-07-24 12:29] DONRUBAYET commented on #1971
@slorber okay..please give me your discord id .....

[2020-07-24 12:46] slorber commented on #1971
I'm just Sebastien Lorber there ^^

![image](https://user-images.githubusercontent.com/749374/88392551-7b09b180-cdbc-11ea-9886-2728c17e67aa.png)

[2020-07-24 13:05] slorber commented on #3065
Docusaurus core does not depend on Infima, but the classic theme does.
I think we should scope this to the classic theme, as all the comps we'll make would use Infima classes. What do you think @yangshun ?

We should setup some initial infra, and then we could split the work by migrating component by component, so there will be work for everybody :p

[2020-07-24 13:25] DONRUBAYET commented on #1971
@slorber  thank you

[2020-07-24 13:26] muhsatrio commented on #2717
may I shot PR for adding the "Recent Post" section on v2 docusaurus? @slorber

[2020-07-24 15:25] sserrata opened #3117 "ValidationError raised for empty or missing navbar.title"
## 🐛 Bug Report

The following errors were observed after upgrading to alpha 59:

* `ValidationError: "navbar.title" is not allowed to be empty`
* `ValidationError: "navbar.title" is required`

Currently, none of our D2 sites use `navbar.title` as we rely heavily on our logos to identify our sites. I suspect the same might be true for other D2 sites listed under Showcase.

### Have you read the [C

[2020-07-24 15:40] patrys commented on #3117
We're in the same boat, `Navbar`'s implementation explicitly allows to hide the title by setting it to `null` but the new config validation logic requires it to be a non-empty string.

[2020-07-24 17:32] NikitaIT opened #3119 "Accessibility: CodeBlock theme-classic"
Code block should be `code` or `pre`.
**The simplest example of why:** use a translator or a reader.
**Expected:** The code section should not be translated.

https://github.com/facebook/docusaurus/blob/0eb9c207cf57a29dbd1f319a69eac6e71d77bd70/packages/docusaurus-theme-classic/src/theme/CodeBlock/index.tsx#L212

[2020-07-24 17:47] teikjun commented on #3117
Thanks, I've opened a PR to allow `navbar.title` to accept empty string, null or undefined (field is optional now).
Feel free to let me know if there's anything else I should add.

[2020-07-24 18:10] slorber commented on #458
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:10] #458 closed

[2020-07-24 18:11] #3042 closed

[2020-07-24 18:13] slorber commented on #2956
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:13] slorber commented on #2850
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:14] slorber commented on #3061
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:14] slorber commented on #2919
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:14] #2919 closed

[2020-07-24 18:15] slorber commented on #2871
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:15] #2871 closed

[2020-07-24 18:15] slorber commented on #2813
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:16] slorber commented on #2697
FYI we now have the serve command shipped
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:18] slorber commented on #3013
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

(there's a new dedicated theme comp)

[2020-07-24 18:18] slorber commented on #2492
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:19] slorber commented on #2923
Hey all,  this is feature is now released!
If you like it, don't forget to retweet 😄
https://twitter.com/docusaurus/status/1286715187983048704

[2020-07-24 18:19] #2923 closed

[2020-07-24 19:04] sserrata commented on #3117
Thanks @teikjun, the change looks good to me.

[2020-07-24 19:14] sserrata commented on #3117
On a related note, I wanted to offer some feedback or a suggestion. The `title: Joi.string().required()` change wasn't mentioned anywhere in the release notes - at least, I didn't spot it. A question for the maintainers: have you considered adding a tool like [commitizen](https://github.com/commitizen/cz-cli) to your toolchain to help with versioning and changelog?

[2020-07-24 20:50] Steven-Harris opened #3122 "Add docusaurus.config.js override to the cli"
## 🚀 Feature

I have a couple of different environments I manage for development and I would like to be able to pass a config.js to the `docusaurus build` command to overrride the default path of docusaurus.config.js

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes.

## Motivation

fixability w

[2020-07-24 22:37] slorber commented on #3122
Hi

We could support this but you already can do something similar easily by
using environment variables.

In this config file you can run any node code including things like
process.env.MY_CONFIG_FILE

Le ven. 24 juil. 2020 à 22:50, Steven Harris <notifications@github.com> a
écrit :

[2020-07-24 22:42] slorber commented on #2717
Recent posts and TOC seems like useful things PR welcome 👌

[2020-07-24 22:44] slorber commented on #3067
Great. Tell me if alpha 59 gives you any trouble

[2020-07-24 22:44] Steven-Harris commented on #3122
Awesome! Thank you so much @slorber :D

[2020-07-24 22:44] #3122 closed

[2020-07-25 00:52] omry commented on #3013
https://twitter.com/Hydra_Framework/status/1286746227808165888

[2020-07-25 07:10] real34 commented on #458
Thanks for this work! Great job everyone. :clap:

[2020-07-25 08:35] slorber commented on #3013
🤗

Facebook has nice open-source mascots 😉

Le sam. 25 juil. 2020 à 02:52, Omry Yadan <notifications@github.com> a
écrit :

[2020-07-25 08:36] omry commented on #3013
Hydra and Slash are quiet unique. I don't think you will find any other projects with similar logos.

[2020-07-25 18:52] kirtan403 commented on #3047
Yes, probably. To be honest, I'm not familiar with how it actually works, but based on your links, it looks like that is the right thing to do

[2020-07-25 23:26] mattcorner opened #3125 "Error when including rehype plugins"
## 🐛 Bug Report

Unable to add rehypePlugins in docusaurus.config.js. Results in following error during `docuasaurus start` and `docusaurus build`.

`ValidationError: "rehypePlugins[0]" must be a string`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

(Write your steps here:

[2020-07-25 23:27] gazcn007 commented on #2850
@slorber this is awesome! retweeted :)

[2020-07-25 23:28] mattcorner commented on #3125
I should add that I get the same issue when following the documentation for adding rehype/remark plugins from the documentation:

https://v2.docusaurus.io/docs/markdown-features#configuring-plugins

[2020-07-26 21:03] Dannyholt opened #3126 "Can no longer remove /docs from the URL since v59"
## 🐛 Bug Report

Before v59 we were able to remove `/docs` from the URL by setting `routeBasePath: '',` whilst still being able to use pages see #2713. However, as of v59 `routeBasePath` can no longer be empty and adding a `/` to `routeBasePath` forces docs-only mode and therefore, no pages. This results in nav items to 404. :(

## To Reproduce

1. Use a landing page.
2. Add your nav items like th

[2020-07-27 07:47] m-vdb commented on #3090
@slorber yes that's exactly what we ended up doing. The reason why I asked about this is because I didn't find any documentation about it, and it felt like a hack. Is this the "official" way of doing it? Another thing that makes me think of it as a hack is the fact that you can import packages from under `src/` using the `@site/src/...` syntax. But it wouldn't work for this use case, am I right?

[2020-07-27 07:50] Drewbi commented on #3052
@adrianmcli I wasn't able to check your `color: #ffd557` use case as the emoji already shows up colored for me but hopefully if it worked for you in css it should work in this PR #3127

[2020-07-27 08:06] teikjun commented on #3125
Thanks, this is a mistake in the plugin validation. #3120 will fix this issue (and also other issues related to config validation)

[2020-07-27 08:35] teikjun commented on #3126
Thanks! #3120 adds empty string `''` to the list of accepted values for `routeBasePath`.

[2020-07-27 09:13] teikjun opened #3128 "Validation too strict for stylesheet and scripts"
## 🐛 Bug Report

The validation for stylesheets does not accept unknown fields.
The validation for scripts does not accept both defer and async.
As noted [in this article](https://flaviocopes.com/javascript-async-defer/), if you specify both, async takes precedence on modern browsers, while older browsers that support defer but not async will fallback to defer. So, it is valid to have both.

### H

[2020-07-27 10:07] hobadams opened #3129 "PWA plugin - TypeError: Cannot read property 'debug' of null"
## 🐛 Bug Report

I'm running `2.0.0-alpha.59` and have just added your PWA plugin.

I'm getting the following error:

[code]

My docusaurus config looks like this:

[code]

I get the error regardless of passing `debug` as an option or not.

Have you see this?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-

[2020-07-27 10:47] DyncMark opened #3131 "[v2] how can i create a docsVersionDropdown"
![image](https://user-images.githubusercontent.com/15116881/88533931-a3521400-d039-11ea-978b-9fce820307dd.png)

This is my `docusaurus.config.js`:

[code]

Has anyone come to help?

[2020-07-27 10:53] slorber commented on #3126
@Dannyholt , as far as I understand, you want docs to be at the root path, yet being able to provide custom pages also under "/".

Actually we had some important refactors on how docs are handled, as they were quite a few bugs, but we should support this usecase and will probably release a fix soon.

Can you confirm this only affect your homepage? or do you see other pages for which this is a prob

[2020-07-27 11:52] slorber commented on #3131
Hi,

You can't "create" a docsVersionDropdown, this is a special navbar item type that we introduced.

Please tell me exactly what you want to do and why so that I see what we can do for you.

[2020-07-27 11:58] #3117 closed

[2020-07-27 11:58] #3128 closed

[2020-07-27 12:04] DyncMark commented on #3131
Thanks for your reply. I want a control widget that can switch versions.

[2020-07-27 12:09] slorber commented on #3131
But isn't it already what it is?

If it's not working great for you please explain why exactly, I clearly need more than 10 words to be able to help you :)

[2020-07-27 12:30] slorber commented on #3090
@m-vdb we use MDX so anything supported by MDX is kind of official. We are not going to re-document everything MDX can do, so you should refer to MDX documentation for advanced usecases.

The `@site` alias is useful if you want to resolve paths against your site root directory. This is useful if you want to import the same component for all the same versions of the docs.

I'm still not really unde

[2020-07-27 12:30] slorber commented on #3090
I'm closing for now because it looks like what you do is fine, but willing to reopen if you give me more concrete information

[2020-07-27 12:45] slorber commented on #3047
@kirtan403 I don't use GTM myself, can you please open a PR? At least, try to test these changes on your site locally, and confirm that the proposed changes are what you are looking for.

[2020-07-27 13:11] slorber commented on #3117
This is a mistake that we'll release soon.

@sserrata We use proper commit messages already and lerna-changelog to generate our changelog. This change does appear in the changelog under "validation", as we started validating user-provided site config, theme config, plugin option config in this release.

I'm sorry this has been a breaking change for you in practice. BTW, the title has always been d

[2020-07-27 13:33] DyncMark commented on #3131
Thanks again for your patient answer！

ooh, I'm sorry， because my English is very poor, so I didn't describe it very clearly.

This is a [documentation website](https://docs.anyrtc.io/v4/rtc-web/), It opens very slowly, cause of I'm in China. So Today I  migrate docusaurus from v1 to v2 and it works now, At the same time, I also want to add a version switch to the site. look like
![image](https://

[2020-07-27 13:35] m-vdb commented on #3090
Thanks for pointing that out @slorber. If you feel that we're using Docusaurus v2 as intended, then we're good 👍

For reference, here is an example of our folder structure:
[code]

Everything under `sources/` + the `variables.json` is generated outside of the docusaurus build system and gitignored. We have custom plugins to include them in the docs. When we cut a new version, we assume that everyt

[2020-07-27 13:35] #3090 closed

[2020-07-27 15:30] slorber commented on #3131
Your config looks fine, but this dropdown only works if you use versioning. Have you already versioned your docs with the cli?

If you share me the source code it's easier for me to see what's the problem.

[2020-07-27 15:32] slorber commented on #3090
Yes that seems appropriate even if I don't understand everything ^^ anything in /docs will be versioned, everything outside will not

[2020-07-27 17:36] Dannyholt commented on #3126
@slorber

I mentioned this in Discord, but thought i'd mention it here anyway. It actually didn't cause any issue with the homepage or other custom pages as they worked as intended. The issue was the nav items in the header no longer worked went to the doc articles and instead caused a 404.

[2020-07-27 17:45] slorber commented on #3129
🤪 this made me crazy for the last 2 hours

Your site tries to register the service worker himself already in the file src/ServiceWorker.js, which messes up totally with what our pwa plugin is doing.

You have to remove that registration code.

Noticed this non-blocking error too, will see how to fix it:

[code]

[2020-07-27 17:45] #3129 closed

[2020-07-27 19:03] martavis opened #3135 "Double navbar after swizzling"
## 🐛 Bug Report

After swizzling the navbar, I'm hit with `useThemeContext is used outside of Layout component` if I try using it without the Layout component. However, using the Layout component produces a navbar already.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. In

[2020-07-27 19:30] prma85 commented on #3067
Hey @slorber, I just updated it to alpha 59 and not it generates errors on build 🤔  (works with yarn start tho)

[code]

![image](https://user-images.githubusercontent.com/1236101/88583196-214bf600-d00d-11ea-9235-4a9cde0cd299.png)

[code]

And this is my sidebar.js (works fine on alpha 58)

![image](https://user-images.githubusercontent.com/1236101/88583331-5a846600-d00d-11ea-9385-a1bba4cdfe2f.png

[2020-07-28 05:35] bhaskarhc opened #3136 "`Error: Broken links found!` facing on docusaurus build"
## 🐛 Bug Report

- Recent build are getting failed with an below error message ,

[code]

-  Replaced `links` with `items` on  **docusaurus.config.js**
-  Again all sidebar links getting broke on  `docusaurus build`

**Build Logs**

[code]

[2020-07-28 07:34] DyncMark opened #3137 "[v2] /bin/sh: autoreconf: command not found"
There are some errors when I try initialization the  repo with `npm i` or `yarn`.

![image](https://user-images.githubusercontent.com/15116881/88633091-1feefc00-d0e7-11ea-9a5d-10a71e697b7b.png)

[2020-07-28 07:57] hobadams commented on #3129
@slorber - thank you and apologies!

[2020-07-28 08:32] DyncMark commented on #3131
Dear friend.

I created a [repo](https://github.com/DyncMark/ArRTCWebDocs4.0), I committed the source code to it, and I invited you to be a collaborator.

[2020-07-28 08:39] slorber commented on #3131
The repo is empty, no code was pushed to it.

I suspect your problem is you didn't create any version of your doc with the cli, please tell me if you did that.

If you don't have a "versioned_docs" folder at the root of your site, this dropdown won't do anything

[2020-07-28 08:47] DyncMark commented on #3131
sorry, please try again.

yes, i create the repo with the cli. like this `npx @docusaurus/init@next init my-website classic`

[2020-07-28 08:51] slorber commented on #3131
@DyncMark I see your code, it looks fine, you have 2 versions + the next one.

Can you show me a live deployment of your site, or at least navbar screenshots or something, to show me exactly what is not working for you?

What do you expect, and what do you get?

[2020-07-28 08:55] slorber commented on #3137
Can you retry and confirm it's not related to your connexion?
We can see it seems related to a timeout

![image](https://user-images.githubusercontent.com/749374/88642323-a0e6cd00-d0c0-11ea-834d-c084a27fdb03.png)

I'm closing since this is not really related to Docusaurus, and we likely can't do anything about it.

There are issues about this on the internet already, like https://github.com/imagem

[2020-07-28 08:55] #3137 closed

[2020-07-28 08:58] DyncMark commented on #3131
This is our [website](https://docs.anyrtc.io/v4/rtc-web/).  but it missing versioning, I would like to have a drop-down menu like [https://v2.docusaurus.io/](https://v2.docusaurus.io/) to select different versions of documents.

[2020-07-28 09:24] OctavianUrsu opened #3139 "ValidationError: "navbar.items.target" is not allowed"
## 🐛 Bug Report

The following problem was encountered when upgrading to 2.0.0-alpha.59:

ValidationError: "navbar.items[1].target" is not allowed

I cannot add a target to the navbar link. The default is "_blank", but I would like the links to be "_self".

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-iss

[2020-07-28 09:35] slorber commented on #3131
@DyncMark this dropdown only works in alpha 59, but your live site is not alpha 59.

And the repo you gave me is alpha 59 BUT it does not build at all because you did not fix the errors reported by the error messages.

I tried it locally, quickfixed some errors locally and got this working:

![image](https://user-images.githubusercontent.com/749374/88646696-9da21000-d0c5-11ea-8076-e78a1b925d07.png

[2020-07-28 09:35] #3131 closed

[2020-07-28 09:49] slorber commented on #3136
@bhaskarhc broken links detection is not, and as it's shawn in the error message you can simply disable it if it's annoying to you.

However if you feel like it reports broken links while it shouldn't, I'd be interested to have more informations.

Do you have a public site, a public repo, a PR migrating your site to alpha.59?

If not, can you give us the real file structure of your site, the urls

[2020-07-28 10:04] slorber commented on #3139
Thanks,

That will be fixed in https://github.com/facebook/docusaurus/pull/3140

Can you tell me exactly what is the config of your navbar item?

[2020-07-28 10:13] OctavianUrsu commented on #3139
Thank you! This is my navbar item config:

{
    href: "https://github.com/OctavianUrsu",
    label: "GitHub",
    position: "right",
  },

[2020-07-28 10:23] bhaskarhc commented on #3136
@slorber  PTAL of code repo   https://github.com/mayadata-io/oep-e2e/tree/master/testplan

[2020-07-28 10:26] DyncMark commented on #3131
Hi bro.

I have some problems when I tried to update to alpha59.

first. I change the package.json, and then `npm i`

[code]

![image](https://user-images.githubusercontent.com/15116881/88653996-5c2e5680-d0ff-11ea-8dde-e861f694f205.png)

second, update with `npm i @docusaurus/core@next -S`, but get `@docusaurus/core@2.0.0-alpha.58`

![image](https://user-images.githubusercontent.com/15116881/88653

[2020-07-28 10:32] slorber commented on #3131
I'm sorry but you can see for yourself that the version exist: https://www.npmjs.com/package/@docusaurus/preset-classic/v/2.0.0-alpha.59

It is likely that you use some kind of NPM chinese proxy that is not updated with latest versions, this is not related to Docusaurus at all.

I can't spend all my day helping you on this, I've already done everything I could, by pushing a working version to your

[2020-07-28 10:46] slorber commented on #3136
@bhaskarhc this site is not alpha 59, can you provide me the site that produces the broken links

[2020-07-28 10:51] slorber commented on #3139
Thanks, it should be possible to add a target as soon as we release

[2020-07-28 10:52] #3139 closed

[2020-07-28 11:02] DyncMark commented on #3131
sure，I really appreciate your help ：）, I'll check the problem by my self. Keep safety.

[2020-07-28 11:03] slorber commented on #3067
Hi,

This is surprising, unfortunately I'm not able to reproduce.

I need more infos, if you can give me access to your site's code (or create a small repro) that helps.

Also I need to see the full content of the sidebar file (+ all the versioned sidebar files if available).

You can try to debug this with dichotomy: remove versions, remove docs, remove sidebar content, until your site work

[2020-07-28 11:11] bhaskarhc commented on #3136
By seeing the [ Failed build ](https://travis-ci.com/github/mayadata-io/oep-e2e/builds/177343318)  logs got that `links` key need to Replace with `items` in docusaurus config .
,  made replace chnages `links` with `items` in docusaurus.config and pushed  [ commit changes ] (https://github.com/mayadata-io/oep-e2e/pull/828) .
 @slorber  Whatever changes did that build is also got failed  with error

[2020-07-28 11:18] bhaskarhc commented on #3136
@slorber hosted domain https://e2e.mayadata.io/docs/getstarted

[2020-07-28 12:11] slorber commented on #3136
@bhaskarhc thanks. I now have proper informations to reproduce this bug:

Page `/docs/director/authentication/authentication` contains a link to an existing doc in the same dir: `[TCID-DIR-AUTH-LOCAL-ADMIN](TCID-DIR-AUTH-LOCAL-ADMIN)`

But this link is reported as broken:

[code]

That's what I  needed, and there's definitively something wrong happening here

----

You can temporarily ignore those

[2020-07-28 12:23] slorber commented on #3135
It's not clear to me what is your actual goal.

If you want to customize the navbar, you don't need to import it in your homepage, it's already included by the layout, so you just need to tweak your swizzled navbar.

Please tell me what you are trying to achieve

[2020-07-28 12:31] bhaskarhc commented on #3136
In my case all links are breaking.
Didn't try brokenLink settings . I dont want to ignore any link <or> page <or> doc .

[2020-07-28 12:51] #2192 closed

[2020-07-28 12:54] daniellavoie commented on #3136
Hi, I'm also encountering problems with broken link. In my case, it seems that relative path are not resolved properly

Here's a snippet of my document.
[code]

Generates this error:

[code]

It seems that the path are now absolute and not relative.

[2020-07-28 12:57] slorber commented on #3136
Yes I've noticed some strange behavior reported, will try to see where the regression comes from.

I think if you reference the docs with the .md extension it will work, but will try to get this fixed asap and publish a new version

[2020-07-28 12:59] daniellavoie commented on #3136
I also noticed a problem with external link references

Snippet in my document
[code]

Produces:
[code]

[2020-07-28 13:05] daniellavoie commented on #3136
I'm feeding more info as this may help with the investigation. For the given url:

[code]

It get resolved to `http://localhost:3000/reference-architecture` which is an absolute path and not a relative one. I tried without `.md` and I get the same result.

[2020-07-28 13:27] slorber commented on #3136
Yes I think there's a leading / added by mistake in relative links, will check where to remove it.

@daniellavoie for me using the .md extension does produce absolute links:

[code]

[2020-07-28 13:31] daniellavoie commented on #3136
I confirm I get the same broken link without and without `.md`. I'll wait for the fix on the leading slash before worrying about this specific behaviour.

[2020-07-28 14:40] MSanjaySharma commented on #459
Check Out [Docs-only mode](https://v2.docusaurus.io/docs/docs-introduction/#docs-only-mode) in the official Documentation of Docusaurus.

[2020-07-28 14:57] martavis commented on #3135
@slorber The issue is that the layout is not respecting the changes I have made. In the basic example repo, if I comment out the block from line 132-139 on the swizzled NavBar, I expect to see the dark mode toggle disappear. That is not the result.

[2020-07-28 15:08] slorber commented on #3135
@martavis so why report a totally different bug than the one you actually have in practice? 🤪

Editing a swizzled component should work if it's not the case please report this bug appropriately, this has nothing to do

First: we have a config option to disable this toggle. If it's your goal to remove the toggle, why don't you use it? (and if its not your goal, then what it is exactly? tell me the

[2020-07-28 15:35] martavis commented on #3135
@slorber Thank you for your help and quick replies. I reported what I thought was a bug, so I apologize because I'm not trying to waste anyone's time.

Commenting out the toggle was only meant to show that the swizzle wasn't respected. That is not my actual goal. My goal is to switch links depending on login status. So if the user is logged in, show different nav links than if not logged in. But f

[2020-07-28 16:20] slorber commented on #3136
I have a fix ready, but @daniellavoie this is totally unrelated to how links to .md extensions are resolved, this part of the code did not change recently, so please double-check that referencing a md file path work for you (it should).

If this does not work, it's a totally different bug to report with the full details

[2020-07-28 16:24] prma85 commented on #3067
🤔
the `yarn start` still works, but `yarn build` fails on building server with this error

I got my sidebars.js as much simple as possible

[code]

But I am still getting the error `TypeError: sidebar.map is not a function` 🤔

Repo: https://github.com/prma85/iQ.design.system.docs

[2020-07-28 16:29] prma85 commented on #3067
I only change was updating from alpha 58 to alpha 59
using alpha 58 still works, but since my azure pipeline has a yarn upgrade to always use the lastest internal versions of some packages, it also updates the docusaurus 🤔
so, it fails on the build and deploys 😢

[2020-07-28 16:49] slorber commented on #3067
@prma85 in such case you shuld avoid using semver ranges in your package.json so that azure stick to existing versions? This is very strange to have your CI not respecting lockfile, why is that?

About your problem, I don't have access to this repo that is private, if you send me an invite I'll look at this

[2020-07-28 16:52] ianschmitz opened #3144 "BrowserOnly causes React error"
## 🐛 Bug Report

The `BrowserOnly` component [returns `undefined` instead of `null`](https://github.com/facebook/docusaurus/blob/4247fc4bb13a628bc8229297af0467708aa83bbe/packages/docusaurus/src/client/exports/BrowserOnly.tsx#L19), which causes React to throw an error during a production build:

This was changed in https://github.com/facebook/docusaurus/pull/2976.

### Have you read the [Contributi

[2020-07-28 17:37] slorber opened #3148 "Be resilient to Swizzle case typos"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/749374/88700540-22fae400-d109-11ea-93fd-89845ca4caf6.png)

![image](https://user-images.githubusercontent.com/749374/88701045-cb10ad00-d109-11ea-8e8a-907b08f6f022.png)

Swizzling a comp with bad casing lead to a component swizzled with a bad name.

Webpack aliases we use for themes are case-sensitive, so we should either:
- find a

[2020-07-28 17:41] slorber commented on #3136
Will be fixed in next release (probably tomorrow)

[2020-07-28 17:41] #3136 closed

[2020-07-28 17:44] slorber commented on #3135
Hey @martavis , I almost went crazy with your repo 🤪

The problem is that you swizzled Nav**B**ar instead of Nav**b**ar, so you end up with the wrong case on your theme folder, and Webpack does not find it because it is case sensitive.

I've opened another issue with a better description so that we can find a solution to avoid this kind of problems: https://github.com/facebook/docusaurus/issues/31

[2020-07-28 17:44] #3135 closed

[2020-07-28 17:51] slorber commented on #3067
Thanks, I see

Sorry to have to change some implementation details of that component, unfortunately, it's required to fix some issues in the docs plugin. It is likely to happen again on next versions because there are other things I'd like to fix regarding the docs plugin and the exposed theme api surface which is currently a bit blurry and likely to cause such breaking changes.

About the links,

[2020-07-28 17:51] #3067 closed

[2020-07-28 17:55] martavis commented on #3135
@slorber I'm so mad at myself right now, thank you so much! I've been using Docusaurus for a couple of months now so I must have confused myself a while ago. Before the `useContextTheme` error was introduced, using the capital "B" was working fine...but I also imported my swizzled component manually so it didn't matter.

Anywho, thank you very much and you are well worth the sponsor! I'm truly gra

[2020-07-28 18:04] slorber commented on #3135
thanks ❤️

definitively not your fault, we should prevent this kind of mistakes, it also took me a while to figure this out.

I noticed the same item appeared twice in the webpack aliases, that seemed weird  🤪

    "@theme/Navbar": "/Users/sebastienlorber/Desktop/projects/docusaurus/packages/docusaurus-theme-classic/lib/theme/Navbar/index.js",
    "@theme/NavBar": "/Users/sebastienlorber/Desktop/p

[2020-07-28 18:06] davenquinn commented on #3136
FYI: I cannot find any documentation on the location or signature of the `onBrokenLinks` config setting to disable this behavior. This should be intergrated into whatever fix you create.

[2020-07-28 18:08] slorber commented on #3144
Thanks, totally agree: https://github.com/facebook/docusaurus/pull/3149

[2020-07-28 18:10] slorber commented on #3136
![image](https://user-images.githubusercontent.com/749374/88704382-48d6b780-d10e-11ea-8c8e-9dfbb2719c24.png)

https://v2.docusaurus.io/docs/docusaurus.config.js/#optional-fields

It takes 4 possible values, as documented

[2020-07-28 18:11] slorber commented on #3126
Hey, this is fixed in https://github.com/facebook/docusaurus/pull/3141

will be released soon, probably tomorrow

[2020-07-28 18:11] #3126 closed

[2020-07-28 18:13] davenquinn commented on #3136
I stand corrected!

I was also able to find this in the original typescript defs, but nice work on the documentation search.

[2020-07-28 18:17] #3144 closed

[2020-07-28 19:39] prma85 commented on #3067
@slorber Thanks

On v1 I was just adding a custom script and then, when loading the page, it was looking for the edit link and doing the necessary work for adding the extra button.

This doesn't work on v2 because the page is loaded and not the content for the first time. There are some milliseconds there with waiting for a render. The alternative was using `useEffect` in the `DocPage`. I could do

[2020-07-28 20:12] Mihonarium opened #3150 "After being clicked with a mouse, tab labels show the outline and have a background"
## 🐛 Bug Report

If you click on a tab label with a mouse, the label shows the outline. If you then point the mouse elsewhere, the clicked tab label still shows _var(--ifm-hover-overlay)_ as the background.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Using Chrome, go to

[2020-07-28 20:23] Mihonarium commented on #3150
If that's something that should be fixed, the fix should probably be implemented in https://github.com/facebook/docusaurus/tree/master/packages/docusaurus-theme-classic/src/theme/Tabs.

I'm not experienced with frontend at all and using Docusaurus for creating documentation for an API, and I avoided this behavior locally, but that's obviously not the actual way to fix the bug. I created a `TabsWra

[2020-07-28 20:58] FocalChord commented on #3148
I will try work on this issue!

[2020-07-28 21:09] FocalChord commented on #3148
Any idea why I get this error?

![Screen Shot 2020-07-29 at 9 08 38 AM](https://user-images.githubusercontent.com/31643423/88722305-1dd67d00-d17b-11ea-8f8a-c47d862a94b1.png)

[2020-07-28 21:14] krishnaUIDev opened #3151 "Navbar lable issue"
Need some help with navbar configuration. Currently, I am using the below config for the navbar. In local env, I can see navbar labels. But when I deploy app labels are not displaying. I am not sure what's wrong.

[code]

[2020-07-28 21:56] mkolar commented on #3035
Hey guys.

We still run docusaurus v1 at https://pype.club

I've played a bit with a migration to v2 a few months back, but had to drop it for other things. Would love to migrate in near future.

[2020-07-29 05:53] thesamet opened #3152 "docs editUrl should accept a function to handle specific cases"
## 🐛 Bug Report

In v2 alpha 59, the "Edit this page" links for content docs are generated by joining the `editUrl` with the `path` setting. I am using a markdown preprocessor that generates files into the provided path, so I would like the edit links to point at the original files, not the generated ones.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docus

[2020-07-29 11:08] bhaskarhc commented on #3136
@slorber is issue fixed version avaliable now ?

[2020-07-29 13:24] slorber commented on #3136
Hi, not yet but I will release in the next hours (unless there's a new important bug reported)

[2020-07-29 13:54] slorber commented on #3152
Hi,

This may not be ideal but you can use the `custom_edit_url` frontmatter in the docs directly

[2020-07-29 13:55] slorber commented on #3035
Hey,

The migration cli has been released, if you want, try it, and we can help in Discord

[2020-07-29 13:59] slorber commented on #3148
Thanks,

You have this error because of double VV, in addition to weird casing you have an additional letterr

[2020-07-29 14:04] slorber commented on #3150
Thanks, that looks like a visual bug to me.

We should fix it in Infima, the outline color of tabs should be in sync with the bottom border color
https://facebookincubator.github.io/infima/docs/components/tabs

Infima is not yet opensource

[2020-07-29 14:10] slorber commented on #3067
Sorry but I don't understand what you try to do. If this is not related to this issue at all, I'd rather discuss about this in another issue where you give me all the details, screenshots of v1 vs v2 etc...

All links with a protocol are not checked (it is a bug that adds a weird / at the beginning and let us think it's an absolute internal link, but it will be fixed very soon)

[2020-07-29 14:11] slorber commented on #3151
Please include all the needed infos:
- link to your repo (if public)
- link to your deployment
- screenshot of site working locally
- screenshot of site not working in deployment

[2020-07-29 14:16] slorber commented on #3151
Ok the links on your json seems valid, this is weird.

Have you tried a production build locally, with `docusaurus build` and `docusaurus serve`?

Are you sure your CI has no error and deployed successfully?

[2020-07-29 14:21] Mihonarium commented on #3150
@slorber

I mean, the bug is not the color of the outline, it's the outline itself being shown after a click.

In Chrome, the outline doesn't show up on https://facebookincubator.github.io/infima/docs/components/tabs/ if you click on a tab label, but it does on https://v2.docusaurus.io/docs/markdown-features/#tabs because there is a `tabindex` and the default browser behavior is to show the outlin

[2020-07-29 14:37] slorber commented on #3051
closing as https://github.com/facebook/docusaurus/issues/2643 is enough to track this

[2020-07-29 14:37] #3051 closed

[2020-07-29 15:02] thesamet commented on #3152
Thanks, I have a pretty small site, so this would be a reasonable workaround for the time being.

[2020-07-29 15:44] leoigel opened #3155 "Dev environment is different"
## ❓ Questions and Help
Why UI in dev environment is different from UI in production environment ?
### Please note that this issue tracker is not a help form and this issue will be closed.
Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus

[2020-07-29 16:02] slorber opened #3156 "Caching: output hashed assets to dedicated folders"
## 🚀 Feature

Currently, the build output looks like:
- ./build/index.html
- ./build/docs/myDoc/index.html
- ./build/someJs.hash.js
- ./build/someCSS.hash.CSS
- ./build/someImage.hash.png
- ./build/someOtherImage.jpeg

Having this flat structure with all file types (hashed or not) melted at the root makes the caching story more complex.

Hashed assets are safe to cache very aggressively, and we sh

[2020-07-29 16:05] krishnaUIDev commented on #3151
@slorber Please find the details below.

link to your repo (if public): [(https://github.com/krishnaUIDev/UI-Kit](https://github.com/krishnaUIDev/UI-Kit)
link to your deployment:

[code]
screenshot of site working locally:
![local](https://user-images.githubusercontent.com/24648588/88823775-7a459680-d193-11ea-9ea2-b2ec3c72416c.PNG)

screenshot of site not working in deployment
![prod](https://user

[2020-07-29 16:10] slorber commented on #3155
Hi, sorry I don't understand, can you provide screenshots or explain in detail how different it is?

Is it related to the navbar items not appearing?

There's an issue about that here: https://github.com/facebook/docusaurus/issues/3151

[2020-07-29 16:25] teikjun commented on #3151
![image](https://user-images.githubusercontent.com/46853051/88826124-ef988200-d1fa-11ea-9065-1510aee56802.png)

Hi, this seems to be a version alpha 59 site. Could you double check if you have pushed your local changes to your repository?

[2020-07-29 16:25] slorber commented on #3151
@krishnaUIDev , the navbar.items was previously navbar.links and renamed in alpha 59.

If you are not seeing navbar items, it's because you are not in alpha 59, and you are trying to use navbar.items while the renaming didn't happen yet 🤪

Also, you have both a yarn.lock and a package-lock. It is likely that you have differences between local dev and netlify because you use npm locally, and netlif

[2020-07-29 16:25] #3151 closed

[2020-07-29 16:29] #3155 closed

[2020-07-29 16:31] slorber commented on #3152
Great, let's close this for now and see if this becomes needed

[2020-07-29 16:37] slorber commented on #3150
I'm not an accessibility expert, do you have a document that explains best practices in this regard and clearly says that an outline should not be displayed on a clicked element?

If someone knows exactly what to do, PRs are welcome

[2020-07-29 16:41] thesamet commented on #3152
This would be an issue for some projects in the Scala community who use [mdoc](https://scalameta.org/mdoc/docs/docusaurus.html#installation) to preprocess and typecheck their markdown before passing it to Docusaurus. This breakage started when I explored updating to Docusaurus v2. Given that mdoc with Docusaurus v1 is already being used by a number of projects (see list in the previous link), I an

[2020-07-29 17:02] slorber commented on #3035
Many projects of the scala ecosystem are on v1 and use a solution called mdoc: https://scalameta.org/mdoc/docs/docusaurus.html#installation

[2020-07-29 17:03] slorber commented on #3152
Thanks, didn't know about all this mdoc ecosystem still on v1 (reported here https://github.com/facebook/docusaurus/issues/3035).

Is it the only problem you had by migrating to v2?

[2020-07-29 17:17] slorber commented on #3139
released in https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.60

[2020-07-29 17:18] slorber commented on #3125
released in https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.60

[2020-07-29 17:18] slorber commented on #3126
released in https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.60

can you tell me if it works?

[2020-07-29 18:05] Dannyholt commented on #3126
@slorber

Yes issue is now resolved. Thanks!

[2020-07-29 18:18] Mihonarium commented on #3150
While writing this comment, I found that there is a recommendation of using `:focus-visible`, which is not yet supported by Chrome, but can be added using [a polyfill](https://github.com/WICG/focus-visible) from W3C's WICG.

The outline on a tab clicked with a mouse is something unexpected and leads to inconsistent behavior across different browsers.

The documents are saying that you shouldn't re

[2020-07-29 18:31] thesamet commented on #3152
@slorber Yes, the rest was just changes that are documented in the migration docs.

[2020-07-29 18:47] krishnaUIDev commented on #3151
@slorber thanks. Its working as expected.

[2020-07-29 20:33] arthcp commented on #3136
I get this error thrown even after adding `onBrokenLinks: 'log'` to docusaurus.config.js. Am I doing anything wrong?

[2020-07-29 20:52] FocalChord commented on #3148
Hmm, why does nAVbaR work but not nAVVbAr?

[2020-07-30 02:23] yangshun opened #3159 "v2: facebook template not working"
## 🐛 Bug Report

Unable to start a website using the Facebook template via `@docusaurus/init`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Both public and internal methods aren't working:

[code]

[code]

## Expected behavior

Site runs

## Actual Behavior

### Public

[co

[2020-07-30 02:57] yangshun commented on #3159
This was reported by @brianjo internally. I told him to remove the offending fields in his `docusaurus.config.js` for now. Based on what I'm seeing in the theme footer implementation, not allowing users to customize `target` and `rel` is intended. So maybe we just have to update the template.

[2020-07-30 04:58] anshulrgoyal commented on #3148
@slorber My pr on swizzle should be merged first to avoid conflicts I think

[2020-07-30 05:02] anshulrgoyal commented on #3148
This is my pr for swizzle cli #3021

[2020-07-30 05:26] leoigel commented on #3155
No my issue is not related with #3151, I forked the repository and also cloned the repository, i went inside the file website and opened with the command npm start and got a different UI, i`m attaching a image.
![uibug](https://user-images.githubusercontent.com/29859021/88883975-48d5d500-d23e-11ea-8e99-68ac94c0263f.JPG)

[2020-07-30 05:58] leoigel opened #3160 "Image not loaded"
## 🐛 Bug Report

The image of Polymatch network company not loaded
On user area (https://docusaurus.io/en/users) the image not loaded
## Expected behavior
The behavior i expected is to see the logo or at least some image

## Actual Behavior
![polyimage](https://user-images.githubusercontent.com/29859021/88884832-1036fb00-d240-11ea-99bd-b9be3988ef01.JPG)

## Your Environment

  This problem  occur

[2020-07-30 06:08] BuckyMaler opened #3161 "Versions cannot be pinned as expected"
## 🐛 Bug Report

Pinning the versions of `@docusaurus/core` and `@docusaurus/preset-classic` results in different versions of `@docusaurus` packages being installed. I believe this is because of the version ranges specified in each package. For [example](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/package.json#L48).

### Have you read the [Contributing Guidelines on issu

[2020-07-30 07:38] slorber commented on #3161
Hi

I'm not sure what we can do about this.

Isn't it a package manager potential bug instead?

Can you upload your attempt to a repo? That's a more reliable repro case

Le jeu. 30 juil. 2020 à 08:09, Bucky Maler <notifications@github.com> a
écrit :

[2020-07-30 07:40] slorber commented on #3155
How is it different?

Please show 2 screenshot so that we can compare actual vs expected

Le jeu. 30 juil. 2020 à 07:26, leoigel <notifications@github.com> a écrit :

[2020-07-30 08:11] leoigel commented on #3155
I sent two screenshot from dev environment, so you see blurred images of Christopher "vjeux" Chedeau,Hector Ramos and Ricky Vetter, In addition can't see some sections the exist only in production environment  for example:
![quick Setup](https://user-images.githubusercontent.com/29859021/88897594-38c8f000-d254-11ea-94dd-8d795ab1e378.JPG)
![header](https://user-images.githubusercontent.com/29859021

[2020-07-30 08:44] anshulrgoyal commented on #3160
Hi
[code]
This the config provided by Polyamath. I checked image link it doesn't exists. You can provide an image or link we will add it.

[2020-07-30 08:54] BuckyMaler commented on #3161
@slorber I just opened a PR because I think it's as easy as pinning the versions inside of each package's `package.json`. I don't think it's a package manager bug.

[2020-07-30 10:31] creatorpiyush commented on #3156
hi, can I work on this issue?

[2020-07-30 12:21] martavis opened #3165 "Allow all redirects declared in @docusaurus/plugin-client-redirects"
## 🚀 Feature

Allow any redirect that is declared, regardless if it would override an existing path.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

This error:
[code]

I like Algolia's themed search page, but needed to modify it. Since there isn't a way to swizzle it, I had to

[2020-07-30 12:30] slorber commented on #3156
yes thanks

[2020-07-30 12:41] slorber commented on #3165
That looks like a hacky redirect from /search to /searching, why not fixing the problem at its root instead of working around the problem?

Why? Understanding the usecases you have is important to us.

Surprisingly, this is true, because it's not on the theme folder. I'd rather move it to /theme so that it can indeed be swizzled, and allow the user to pass his own impl too, like for the docs compo

[2020-07-30 12:44] araczkowski opened #3167 "How to custmize the message in PWA update"
## ❓ Questions and Help

I would like to change this message:

https://github.com/facebook/docusaurus/blob/0e0b219a549ff222632f17c30ccea9b7ca4783b4/packages/docusaurus-plugin-pwa/src/theme/PwaReloadPopup/index.js#L19

any hint how to do this correctly? Thx

[2020-07-30 12:44] #3161 closed

[2020-07-30 12:49] slorber commented on #3155
The /website folder is Docusaurus v2, the website you show in last screenshot is Docusaurus v1

If you try to run this repo locally, yu have to start the correct repo. Therre are scripts at the rook like `yarn start:v1` or `yarn  start:v2`

[2020-07-30 12:51] slorber commented on #3148
Yes we'll merge it first

@FocalChord this is expected, there's an additional letter here. You can't swizzle a component that does not exist in the first place, but you should be able to swizzle it if letters are ok but with an incorrect case

[2020-07-30 12:54] slorber commented on #3160
If someone can submit a PR so that we self-host all images here, that would be more reliable than using images from other domains

[2020-07-30 12:58] slorber commented on #3167
Hi, for now we don't offer a way to customize this component with configuration, but you can swizzle it to change the design or wording

[2020-07-30 12:58] #3167 closed

[2020-07-30 13:02] slorber commented on #3152
Would it work for you if the editUrl was a function that takes the absolute doc path, and then you return the edit url?

Something like:

[code]

[2020-07-30 13:28] slorber commented on #3159
I don't think it's true, as we spread the props:

[code]

as we add _blank and noopener by default, it can be removed from the template, but I think we should allow users to override these defaults if he wants to.

Some users have recently reported wanting to use _self in the navbar for example, I wouldn't be surprised if the need exists for the footer too.

[2020-07-30 13:30] yangshun commented on #3159
Then we should add it to the Joi schema, it's currently preventing people from using those fields.

[2020-07-30 13:46] #3159 closed

[2020-07-30 13:59] thesamet commented on #3152
Getting a function would be fine, though I think it would be preferable to get the relative path to the docs directory - this way the function would get the same input in dev and on CI.

[2020-07-30 14:28] eriveltonelias opened #3169 "Allow defining which version is "unmaintained" on the banner"
## Motivation

After this PR https://github.com/facebook/docusaurus/pull/2916 every version that isn't the latest one, is considered as unmaintained ( which is cool ), but on react navigation we still maintaining two versions **v4** and **v5**

## Pitch

 will be nice to define which version still maintained or unmaintained ( it will solve this use case ), maybe on docusaurus config or versions ?

[2020-07-30 14:57] leoigel commented on #3160
@slorber  you may explain in deep exactly you self-host all images?

[2020-07-30 15:00] slorber commented on #3169
There's a DocVersionSuggestions for that banner, you can probably swizzle it and make sure it displays nothing for a specific version.

If you feel we should provide a config option, curious to know what kind of api you have in mind exactly?

[2020-07-30 15:05] slorber commented on #3160
I mean images are not on other domains, they are hosted within the Docusaurus site itself, put in the /static folder or something

[2020-07-30 15:41] amimas opened #3170 "Deprecated dependencies in V1"
## 🐛 Bug Report

I'm doing a fresh installation of Docusaurus V1. Running `yarn install` produces following warnings about some of the dependencies that are deprecated.

[code]

I understand that most of the deprecation is coming from transitive dependencies. If those direct dependencies have been updated already, it'd be good to update Docusaurus V1 to use the latest version.

### Have you read t

[2020-07-30 15:54] eriveltonelias commented on #3169
Could you explain a little bit more about the DocVersionSuggestions?

if we swizzle it, the changes will be global for every type of banner? or it is flexible to change only the "unmaintained"? ( because this banner seems hardcoded )

I have two in mind:

1. add it to `versions.json` and it could be something like this:
[code]

2. add it on `themeConfig`
[code]

I don't like the first option becau

[2020-07-30 16:52] slorber opened #3172 "Algolia search does not find code in code blocks?"
## 🐛 Bug Report

Search for beforeDefaultRemarkPlugins

This term exist here in a code block: https://v2.docusaurus.io/docs/using-plugins/#docusaurusplugin-content-blog

[2020-07-30 16:52] slorber commented on #3172
@francoischalifour any idea?

[2020-07-30 16:57] mdfaizan7 commented on #3150
I have made a PR for this issue in #3171

[2020-07-30 17:09] Mihonarium commented on #3150
@mdfaizan7 thank you for the PR, but I don't think it would solve the issue.

It hides the outline from all the users, so you can't navigate with a keyboard or an assistive device anymore, and also leads to the hover-background being not shown when the tab is clicked but and the mouse is pointing at it.

The only way of solving the issue with the outline is to show the outline only when a user nav

[2020-07-30 17:43] slorber opened #3173 "src/page/_myComponent => do not create page"
## 🚀 Feature

Currently when we put any js/jsx/ts/tsx/md/mdx in src/pages, it creates a page, which encourage the users to create very large files and not split in subcomponents.

We should provide a way to create components in src/pages without creating pages, just so that they can be imported in pages.

I have often seen _ being used as a prefix to say that a file is a "partial" (another term so

[2020-07-30 17:48] anshulrgoyal commented on #3173
I will take it.

[2020-07-30 17:49] anshulrgoyal commented on #3172
the code block is not scrapped by default

[2020-07-30 17:50] anshulrgoyal commented on #3172
u need to add it scrap config

[2020-07-30 19:56] mdfaizan7 commented on #3150
@Mihonarium thank you for the review.

I have made another commit, this time I created an event listener to listen if the tab key is pressed or not. I also made a state variable which is a boolean. So if anytime the tab key is pressed, the value of that variable will be true and the outline will be shown. But if there is a mouse click then its value will be false, and the outlines will not be show

[2020-07-30 20:43] Mihonarium commented on #3150
👍 Good job!

But there's an issue: users can navigate using other things, not only Tabs and Shift+Tabs on the keyboard, so it's not really good to rely only on those. The :focus-visible polyfill by W3C's WICG I mentioned earlier tracks how a user navigated to a newly focused element and listens to a lot of events, without anything specific for tabs. Maybe it's possible to use it instead or to copy

[2020-07-30 21:18] Mihonarium commented on #3150
Locally, I was able to completely resolve the issue by adding 'https://unpkg.com/focus-visible@5.1.0/dist/focus-visible.min.js' to the scripts in the docusaurus config and by adding the CSS from [this comment](https://github.com/facebook/docusaurus/issues/3150#issuecomment-665823567) to the custom.css file.

So if it's possible to import the package from Tabs, that would probably work. (I don't kn

[2020-07-31 01:33] Kimi-Gao opened #3174 "The validation system prevents my website from starting after upgraded to 2.0.0-alpha.59"
## 🐛 Bug Report

I used `swizzle  component` to customize my Footer and also added some special configuration in `docusaurus.config.js`. However, the validation system prevents my website from starting after upgraded to 2.0.0-alpha.59

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Actual

[2020-07-31 05:27] martavis commented on #3165
I needed to modify it because I would like the page to sit behind a login. My definition of modification is to add a higher-order component that checks authentication.

For me, swizzling the Search page would be the root fix since it has a lot to offer similar to the DocPage, but may need tweaking to fit specific needs. I can create another ticket if you're in agreement.

[2020-07-31 05:37] anshulrgoyal commented on #3174
It is not a bug. You should use `customField` instead of `footer` to add `icp` field.

[2020-07-31 07:11] Kimi-Gao commented on #3174
@anshulrgoyal thanks, it works.

[2020-07-31 07:11] #3174 closed

[2020-07-31 08:05] slorber commented on #3165
yes that seems better to allow swizzling, I'm closing, waiting for the other issue

[2020-07-31 08:05] #3165 closed

[2020-07-31 08:32] mdfaizan7 commented on #3150
Thank you @Mihonarium for pointing out these points. I have refrained to use any other library or package to handle this bug. That's why I have not tried to use the <a href="https://www.npmjs.com/package/use-focus-visible">polyfill package</a> that you mentioned earlier.

I have now updated the code to listen to all the keys (except the meta, alt & ctrl key). So I now users can use any other key f

[2020-07-31 09:31] mdfaizan7 opened #3175 "After Opening the dropdown menu from nav with keyboard, it dosen't collapse back if I click on anywhere else by mouse"
## 🐛 Bug Report

After opening the dropdown menu from nav with keyboard, it doesn't collapse back if I click on anywhere else by mouse

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Use the Tab key to open the dropdown menu on the nav.
2. Click o

[2020-07-31 09:31] martavis opened #3176 "Allow Search page to be swizzled"
## 🚀 Feature

Add the ability to swizzle the Search page created by `@docusaurus/theme-search-algolia`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Personal motivation comes from the need to wrap an auth component around search functionality, and not wanting/needing to chan

[2020-07-31 09:47] mdfaizan7 opened #3177 "After opening the dropdown menu from nav with keyboard, it doesn't collapse back if I click anywhere else by mouse."
## 🐛 Bug Report

After opening the dropdown menu from nav with keyboard, it doesn't collapse back if I click on anywhere else by mouse

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Use the Tab key to open the dropdown menu on the nav.
2. Click on the screen outside the m

[2020-07-31 10:03] s-pace commented on #3172
👋 @slorber and @anshulrgoyal,

I am part of the DocSearch team.

Usually [we do not recommend indexing code samples](https://docsearch.algolia.com/docs/faq/#can-you-index-code-samples). These samples are often very similar and duplicated along your documentation such as examples. It introduces noise to the user experience. Displaying matching code would require to enlarge the snippeting to give th

[2020-07-31 10:11] #3175 closed

[2020-07-31 10:22] Mihonarium commented on #3150
Thanks! Now everything looks good and I think works properly.

The other reason why I tried to suggest the usage of the polyfill is that there could be other similar issues with things showing the outline when they shouldn't, and the polyfill would allow to easily fix those issues with CSS without needing to add any new listeners to the keyboard events or write the same code. But that wasn't as im

[2020-07-31 11:12] anshulrgoyal commented on #3172
Hi @s-pace,
I  am trying to build an offline search feature for docusaurus. Here is the PR https://github.com/facebook/docusaurus/pull/3153 and https://deploy-preview-3153--docusaurus-2.netlify.app are deployed link. It would be great if u can give some feedback.

[2020-07-31 12:14] eriveltonelias commented on #3169
@slorber definitely swizzle `DocVersionSuggestions` solve the problem and I don't think is really necessary this config since is so flexible, thanks!

[2020-07-31 12:14] #3169 closed

[2020-07-31 13:24] leoigel commented on #3160
Ok, i will be glad to work on this.

[2020-07-31 13:28] slorber commented on #3169
Great to know

The problem with Swizzle is that the API surface is less clear and we might do breaking changes on updates,  but this shouldn't be too hard to handle by reswizzling and comparing diffs

[2020-07-31 13:31] slorber commented on #3172
Hi @s-pace

Wonder if you have an idea to index correctly API items that are only found in code-block? Do we rather document everything outside of code blocks too?

[2020-07-31 13:35] #3150 closed

[2020-07-31 13:46] slorber commented on #3170
@amimas , are these warnings annoying you in practice?

I agree that it is annoying to see these warnings, however we can't always easily do something about it. See related issue: https://github.com/facebook/docusaurus/issues/3095

v1 is still maintained but it's not our primary focus to invest too much time in it. If you feel these problems are important to you, please send a pull request and hel

[2020-07-31 13:46] #3170 closed

[2020-07-31 14:05] amimas commented on #3170
Thanks @slorber  for looking into it. It's not really a matter of annoyance. I like to make sure my tools have up-to-date dependencies. It's a good practice I'm sure you'll agree.

I'm really glad to hear that V1 is still maintained. I'll be happy to send a PR when I'm back online again.

[2020-07-31 14:06] s-pace commented on #3172
I would definitely recommend to document all API items outside of code-block. It enables a better UX to redirect end users with scrolling to the exact matching item. It also helps to give the context of the matching item when the search query is matching the description of the API item. Last but not least, the relevancy would be better since [matching a `lvl3` / `<h3/>` element](https://github.com

[2020-07-31 14:20] McZenith commented on #3119
I gat this...

[2020-07-31 14:58] jknoxville commented on #2724
Hey @yangshun I'd be happy to work on this, but since the syntax of markdown is already pretty well defined, it would be a shame to have to use a different one.

Would it be out of the question to change the default to always prepend the baseUrl? I imagine it's much more common than wanting to link to "outside" of the docusaurus site. You could still do that by using <img> tags like the example ab

[2020-07-31 16:13] oriooctopus opened #3179 "Inline SVGs not rendering and break page"
## 🐛 Bug Report

This may be user error, as I feel like this is core enough that it would have already been reported, so I apologize if I waste anyone's time.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. npx @docusaurus/init@next init my-website classic
2. Add the follo

[2020-07-31 16:13] aeneasr commented on #2724
Linking to external images would work regardless of the automatic pre-use of useBaseUrl: `https://my-domain/my-image.png`. I don't think there's actually a use case for not base-url'ing the images given of how static files are loaded. I haven't used a single image reference without this property yet, and that includes hundred pages of docs :)

[2020-07-31 16:46] slorber commented on #2724
Hey, this issue is already solved imho, you can use relative image paths (and colocate the image to its doc too, if needed):
https://v2.docusaurus.io/docs/markdown-features/#image-assets

It uses webpack file-loader under the hook, which also provides nice benefits: we can now detect bad image paths at compile time, + add a hash to the image URL so that it can be cashed more aggressively.

I don't

[2020-07-31 16:46] teikjun commented on #3179
Hi, you can include svgs (and images) like this:

[code]
Or like this:
[code]

You can also choose to create a React component for the svg in another file. Then import it in your documentation. In this case, your doc file needs to end with `.mdx`.

[2020-07-31 16:57] jknoxville commented on #2724
Ah ok, thanks, I'll give that a go :)

I was trying to use relative images today but didn't realise you had to import them, so the build would fail unless I prepended them with `filepath://`.
It's not directly related but that error message could use some improvement. It just said something like "can't resolve module url-loader". I can imagine a lot of people hitting that.

[2020-07-31 18:13] slorber commented on #2724
hmmm, this is surprising because url loader is a core dependency, and is indeed a required dep for this feature to work.

Are you using something like yarn 2, pnp or something else? Did do yarn install? Can you run `yarn why url-loader`?

It may be because one of our package does not expose directly it as a direct dependency. Was precisely working on a bugfix of this part, we'll see in next releas

[2020-07-31 18:15] oriooctopus commented on #3179
Hi @teikjun thanks for your response. Unfortunately, even when the file is named mdx.mdx, the same error occurs

[2020-07-31 18:30] slorber commented on #3179
Hi,

[code]

This is not std javascript to import a svg, this is Webpack specific, and there's no unique way to handle a svg file import:
- we could get the SVG as a react component
- we could get the SVG as
- we could get a URL for downloading a svg source file...

This is not a bug to me, but a feature request, and Docusaurus user may want different behaviors according to their own usecases

---

[2020-07-31 18:33] slorber commented on #3177
thanks, definitively a bug to fix

[2020-07-31 18:59] slorber commented on #3156
@creatorpiyush I just merged this: https://github.com/facebook/docusaurus/pull/3180
With /assets/images, /assets/media, /assets/files:

I guess you can do the same and tell webpack to output in /assets/js, /assets/css...

[2020-07-31 19:02] oriooctopus commented on #3179
Hi @slorber  the thing is that in the docs https://v2.docusaurus.io/docs/static-assets#jsx-example states that inline svgs are an option.
I should also add I tried putting the svg import in an extrernal component and then importing that into the mdx file, with the same error

[2020-07-31 19:11] Mihonarium opened #3181 "Render the tabs only once"
## 🚀 Feature

To render all the TabItems instead of rendering just the default one, so click on a tab label just changes what tab is visible instead of triggering the rendering of the tab in the runtime of users' browsers.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

With a

[2020-07-31 19:12] slorber commented on #3179
Hmmmm, I didn't know we had that!

Need to check this next week, but I can confirm I see this webpack loader:

[code]

[2020-07-31 19:14] #3041 closed

[2020-07-31 19:19] slorber commented on #3181
A problem is: rendering all tabs ahead of time can also introduce a lag when we navigate to a large page with a lot of tabs in it :)

Maybe we could have an option to make them render more lazily, but not sure this would play well with server-side rendering, SEO and hydratation...

[2020-07-31 20:02] oriooctopus commented on #3179
Awesome! Thank you!

[2020-08-01 06:15] ifiokjr commented on #3152
The way I've worked around this is to set the `editUrl` to the path of the directory in which the docusaurus website is hosted **instead of** where the docs are located.

https://github.com/remirror/remirror/blob/c6b60307ba3cda053adedab6dc373f8bacabc181/support/website/docusaurus.config.js#L95-L97

That way the edit path is automatically set to the correct path.

[2020-08-01 12:18] jhalak27 commented on #3160
@slorber I am new here, can I work on this?

[2020-08-01 14:26] GeekBoySupreme opened #3185 "Updating Images from PNG to WebP"
## 🚀 Feature

Updating to WebP images instead of PNG

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To improve the Lighthouse Score of Docusaurus, updating the images would lead to significant performance gains.

## Pitch

WebP is a lighter image format that retains image qual

[2020-08-01 16:31] Ako92 commented on #3177
I want to Handle this problem. can you assign it to me?

[2020-08-01 16:38] Ako92 commented on #3176
I can work on this

[2020-08-01 16:58] slorber commented on #3177
Yes, thanks 😜

Le sam. 1 août 2020 à 18:32, Ako <notifications@github.com> a écrit :

[2020-08-01 16:58] slorber commented on #3176
OK 👍

Le sam. 1 août 2020 à 18:38, Ako <notifications@github.com> a écrit :

[2020-08-02 02:20] LittleboyHarry opened #3189 "Improve details about Travis CI deployment in docs"
## 📚 Documentation

I followed the Travis CI deployment steps:

https://v2.docusaurus.io/docs/deployment/#triggering-deployment-with-travis-ci

The problem is that **you have to allow more permissions scopes in personal access token** for successful building, otherwise build fail:

![image](https://user-images.githubusercontent.com/13063376/89113870-ec2a2280-d4a8-11ea-8e2f-57eea3cd7378.png)

Edit

[2020-08-02 15:38] Drewbi commented on #3052
Feature has been released so we can close this :)

[2020-08-02 18:34] #3052 closed

[2020-08-02 18:34] adrianmcli commented on #3052
Thanks everyone!

[2020-08-02 19:14] adrianmcli commented on #3052
@Drewbi I think we should also add documentation for this because I don't see it anywhere in the PR or on the site. Perhaps this page is suitable: https://v2.docusaurus.io/docs/theme-classic/#color-mode---dark-mode

[2020-08-02 23:17] AlexaCodex opened #3190 "Github delpoy not workig"
Deployed website using Version: 2.0.0-alpha.61 , page is getting rendered like below:

![image](https://user-images.githubusercontent.com/4513589/89134650-824c6000-d51e-11ea-95b2-ed7ac6952fab.png)

What setting should be used now that github pages are on : username.github.io?

[2020-08-03 01:24] Drewbi commented on #3052
@adrianmcli That is a good spot to put it, I must have missed seeing this when I was adding documentation. I added a brief example in the API page but I'll add some more here today. Thanks

[2020-08-03 01:42] thesamet commented on #3152
@ifiokjr I think that the situation in remirror is different than the one described by this ticket. It appears that in remirror there's no preprocessing of the markdown by an external tool. The input markdown for Docusaurus are the same files that are being edited.

[2020-08-03 06:47] ylemkimon commented on #3003
There are other implicit dependencies:
[code]

I'll send PRs to fix it.

[2020-08-03 07:30] adrianmcli opened #3193 "Detect external broken links on build"
## 🚀 Feature

Partly inspired by #3048, it would be nice to detect external links in the Markdown docs and signal to the user that they are broken.

Ref projects:

- https://github.com/tcort/markdown-link-check
- https://github.com/tcort/link-check

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Y

[2020-08-03 07:48] adrianmcli commented on #3052
@Drewbi thank you for your hard work!

[2020-08-03 08:53] aeneasr commented on #2724
Yup, this is apparently solved indeed. We can close it IMO :)

[2020-08-03 09:07] anshulrgoyal commented on #3193
It will increase build time and I don't think it makes less sense since external link may become dead after the build.

[2020-08-03 10:11] slorber commented on #2724
@jknoxville is it working for you? How did you find about `filepath://` by reading the source code?

[2020-08-03 10:14] slorber commented on #3003
Hi,

Merged the PRs, is this issue still an issue? Can we close now?

[2020-08-03 10:15] slorber commented on #3190
Hi,

Please provide more information, it's hard to do anything with such a bug report. A link to a public github repo, or an URL to the site is the minimum

[2020-08-03 10:20] slorber commented on #3189
Hi,

Agree we could do a better job here, can you help us improve this part of the doc by submitting a PR?

Maybe we could create a full section about github token creation, as it's also used on the Azure deployment doc (looks like a copy/paste)

[2020-08-03 10:40] slorber commented on #3193
Hi,

That's an interesting feature but I don't think we should make it part of Docusaurus.

This would make the build unstable, slower, dependant of the availability and speed of external link, + as. @anshulrgoyal said they can go offline after the build anyway so you actually prevent nothing.

You definitively can add this easily on your own with the package you linked if you really need this, an

[2020-08-03 10:40] #3193 closed

[2020-08-03 10:41] slorber commented on #3160
Hi

@leoigel already claimed this issue.

If it's not handled this week, you can take it @jhalak27

[2020-08-03 10:47] adrianmcli commented on #3193
I think that's a fair answer, thanks for taking a look!

[2020-08-03 10:48] adrianmcli commented on #3193
NTS: If I ever figure out how to make `markdown-link-check` work with Docusaurus, I should offer to make additional documentation that shows how to integrate it with Docusaurus' conventions (i.e. ignoring links to internal docs).

[2020-08-03 10:53] anshulrgoyal commented on #3193
@adrianmcli it is very easy to create a new remark plugin for it. I have created one for image and one for assets u can take a look.

[2020-08-03 10:54] anshulrgoyal commented on #3193
Here is my pr for assets check https://github.com/facebook/docusaurus/pull/3096

[2020-08-03 12:25] slorber opened #3195 "Migrate ReactNative website to Docusaurus v2"
## 💥 Proposal

Migrate the ReactNative website ([repo](https://github.com/facebook/react-native-website)) to Docusaurus v2.

This site is a complex versioned site, but has no i18n, so we can normally migrate it today.

It is a good test to try the new migration cli, and see if Docusaurus v2 has good enough feature parity with v1.

I'd like the Major League Hacking community folks to work on this m

[2020-08-03 12:49] slorber commented on #3172
Thanks

Closing this, but we'll need to document better some attributes that are only found in code blocks

[2020-08-03 12:49] #3172 closed

[2020-08-03 13:44] anshulrgoyal commented on #3179
I will take this.

[2020-08-03 13:47] RDIL commented on #3003
@slorber waiting on downstream to fix.

[2020-08-03 14:12] anshulrgoyal commented on #3179
I checked the code and the problem is that there are conflicting webpack-loaders for `.svg` files. Both `url-loader` and `@svgr/webpack` try to load svg. If we disable `url-loader` for `.svg` it works fine. @slorber what should we do?

[2020-08-03 14:15] anshulrgoyal commented on #3179
We can use something like this.
[code]
then it won't break existing websites.
[code]

[2020-08-03 14:32] slorber commented on #3003
downstream?

[2020-08-03 14:46] slorber commented on #3179
I think in the image loader of webpack:

[code]

we can just remove the svg from here, as:
- Using imports/requires, we expect to get a React comp
- Using md images, we already force the file-loader

Can you find a way to dogfood this feature somewhere by rendering an svg as both a md image + a mdx react component? That would help us not break this feature again in the future.

[2020-08-03 14:48] slorber opened #3198 "Static assets doc on 2 pages"
## 📚 Documentation

The static assets doc from there:
https://v2.docusaurus.io/docs/markdown-features#assets

Should probably be merged into:
https://v2.docusaurus.io/docs/static-assets/#jsx-example

(this is not a doc-only feature btw)

Anyone interested to do this merge and improve our doc?

[2020-08-03 14:55] anshulrgoyal commented on #3179
But if we remove `svg` from url-loader it might break pages for some users in the next release.

[2020-08-03 15:01] slorber commented on #3179
This is a new feature, I don't think it has been used by users in this small amount of time, and also, this feature is actually in contraction with our existing svg to React conversion in the first place, so I'd rather revert to the correct behavior we had before alpha 59, even if it's a breaking change.

[2020-08-03 15:08] RDIL commented on #3003
`react-loadable-ssr-addon`

[2020-08-03 15:11] slorber commented on #3003
@ylemkimon do you plan to do a pr to fix react-loadable-ssr-addon too ?

[2020-08-03 15:12] teikjun commented on #3198
Yes, I'll work on this :)

[2020-08-03 15:12] RDIL commented on #3003
I already opened a PR for it, the maintainer doesn't want to merge it

[2020-08-03 15:44] AlexaCodex commented on #3190
Hi @slorber this is the link : https://alexacodex.github.io/exampledocusau/docs/

[2020-08-03 18:06] jeffreyhawkins opened #3199 "Fresh install will not start... Syntax Error"
## 🐛 Bug Report

Followed steps in the Getting Started section (https://docusaurus.io/docs/en/installation) to install version 1.14.5 of Docusaurus.

node: v12.18.3
npm: 6.14.6
yarn: 1.22.4

## To Reproduce

mkdir mysite
cd mysite

npx docusaurus-init
cd website
yarn start

## Expected behavior

Expected the server to start so I could begin writing docs for my site.

## Actual Behavior

yarn start

[2020-08-03 18:35] slorber commented on #3199
Hi

Maybe try 1.14.4

As 1.14.5 was my first v1 release I might did something wrong. Will check
tomorrow

Le lun. 3 août 2020 à 20:06, Jeff Hawkins <notifications@github.com> a
écrit :

[2020-08-03 19:29] anshulrgoyal commented on #3198
MDX feature page is getting quite big. We should split it and create a new category. We can move it out of Docs catogory also since now Pages also support MDX.

[2020-08-03 19:30] anshulrgoyal commented on #3198
Creating a new MDX category should be noce for users searching reading docs.

[2020-08-03 21:15] thmarra commented on #3199
Same here

[2020-08-04 00:46] avkonst opened #3203 "Let Algolia to index text in `` code quoted blocks"
## 🚀 Feature

I have followed the best practice and included all variables, CLI options, and all other technical words and text snippets into a singe or triple code quotes:

[code]

Later I have enabled Algolia search and discovered that text in code blocks is not indexed by Algolia at all. Here is the example page from docusaurus docs https://v2.docusaurus.io/docs/cli/#docusaurus-build. Try to se

[2020-08-04 08:00] nikolasj commented on #3199
Same here((

[2020-08-04 09:23] slorber commented on #3203
Hi

Recently opened a similar issue here: https://github.com/facebook/docusaurus/issues/3172

But Algolia does not recommend it: https://docsearch.algolia.com/docs/faq/#can-you-index-code-samples

We should definitively make all things searchable, but it looks like indexing code blocks is not the solution

[2020-08-04 09:23] #3203 closed

[2020-08-04 09:24] slorber commented on #3203
If you really want this and come up with a PR with an opt-in option to index code blocks, I could merge this, but not confortable making this a default when it's not recommended

[2020-08-04 09:31] slorber commented on #3198
Yes I agree, but we shouldn't use a page for that because the mdx features are version-dependant.

A new sidebar category would be nice. We need a clear distinction of what md features are general, and which ones are doc-related (docs have additional features around linking using .md file paths, relative linking advised so that linking still work once the docs are versioned etc...)

[2020-08-04 09:38] s-pace commented on #3172
👋 @slorber
Just a follow up that thanks to algolia/docsearch-configs@cfc57386b1e8845231468b5206ca55829ba0d263 we are now indexing CLI options such as `--skip-build`
![image](https://user-images.githubusercontent.com/32097720/89278888-fa15aa00-d646-11ea-8fca-3bd9190da66d.png)

[2020-08-04 09:41] avkonst commented on #3203
I think the code in single quotes does not cause a problem as the recommendation was likely provided for the multi-line code blocks. Single quote inline code strings are usually used for styling purposes and not for the purpose to provide comprehensive examples.

Multi-line code blocks could have per block opt-in option, for example `searchable`:

[code]

Makes sense?

[2020-08-04 09:44] anshulrgoyal commented on #3198
Yeah, making more categories help in organizing docs.

[2020-08-04 11:21] ylemkimon commented on #3003
https://github.com/themgoncalves/react-loadable-ssr-addon/pull/22 is merged and included in the 0.3.0 release. I guess Dependabot will handle the bump?

[2020-08-04 11:24] RDIL commented on #3003
I got it

[2020-08-04 13:07] jknoxville commented on #2724
@slorber sorry for the delay getting back to you. This is the build error I get if I use a markdown image without importing that particular image with both the following syntax:
[code]
(where poisson.png is a file in the same dir as the markdown file referring to it)

[code]

[code]

I'm using yarn 1.17.0, the one that runs as standard at facebook.

I think the `filepath:///` thing was a red herri

[2020-08-04 13:58] kyfelipe commented on #3190
@AlexaCodex The request for static files is wrong, correct `baseUrl` for '/repo_name' . In your case, place baseUrl: '/exampledocusau/' in docusaurus.config.js

[2020-08-04 14:02] azagaya commented on #3199
Same here.

[2020-08-04 14:24] Kimi-Gao opened #3208 "PWA offline mode does not work"
## 🐛 Bug Report

PWA offline mode does not work after being installed from chrome url

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Reproducible Demo

[code]

![v2=bug](https://user-images.githubusercontent.com/12554487/89305140-dbdc9800-d6a0-11ea-977b-929592a31dfb.gif)
![Xnip2020-08-04_

[2020-08-04 14:31] teikjun commented on #3195
I'll work on this :)
@darshkpatel is interested to help too!

[2020-08-04 14:48] slorber commented on #3208
Hi,

Have you tri
![image](https://user-images.githubusercontent.com/749374/89308104-28f54580-d672-11ea-8c97-e42989fda959.png)

Why is it written "trying to install" here?

Can you try again, but make sure that the new service worker that is setup after installing the app is fully installed. Maybe the service worker didn't have time to download all the assets locally, and you put it offline before

[2020-08-04 14:49] slorber commented on #3199
sorry for that will take a look asap

[2020-08-04 16:18] Kimi-Gao commented on #3208
@slorber Thanks for your answering.

I agree that offline mode sometimes does not work because the app is not fully installed.

Here is what I have met. When I installed the app and first opened it, there was an error on the console:
![image](https://user-images.githubusercontent.com/12554487/89312544-f7986c00-d6a9-11ea-876a-edc1a4106f6f.png)
and offline didn't work, but when refreshed, all the as

[2020-08-04 17:18] slorber commented on #3199
Something weird I noticed is that on my computer, running `npx docusaurus-init init website` actually produces a v2 site instead of a v1 site.

But, the v2 site does not work due to a validation error:

![image](https://user-images.githubusercontent.com/749374/89324109-091c4c80-d687-11ea-9e60-202d9c557ff8.png)
Maybe this is a bug only I have for some weird reason...

Can you please tell me what's

[2020-08-04 17:20] slorber commented on #3208
Can you turrn debugging on in the PWA plugin options? And give me some more verbose console output?

[2020-08-04 17:29] jeffreyhawkins commented on #3199
I can confirm version 1.14.5 is in the package.json.

They only error I see is `SyntaxError: Unexpected token (37:15)` no other information is shown.

[2020-08-04 17:46] jeffreyhawkins commented on #3199
![Screen Shot 2020-08-04 at 1 46 21 PM](https://user-images.githubusercontent.com/31776619/89326829-f12dd400-d658-11ea-9bfb-f27da8044397.png)

[2020-08-04 19:00] thmarra commented on #3199
package.json
[code]

the logs:
[code]

[2020-08-04 19:55] craigpalermo opened #3209 "Validation error in themeConfig"
## 🐛 Bug Report

The new config validation reports that the following piece of configuration is invalid. However, it matches the [documentation for syntax highlighting](https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting).

[code]

Removing/commenting out the `additionalLanguages` line fixes the validation error.

## To Reproduce

1. Run `docusaurus start`

## Expected behavior

N

[2020-08-04 21:24] AlexaCodex commented on #3190
@kyfelipe thanks for suggestion. Unfortunately, it's still broken after baesurl change.

[2020-08-04 23:17] adrianmcli commented on #3066
@slorber good to know that this is supported. Can you help me figure out why this doesn't work?

I need some help w/ my `activeBaseRegex` regex for my dropdown. The dropdown is not getting highlighted, but the child items are. I've trimmed out some irrelevant properties but this is what I have in my config:
[code]
My doc files have the ID of `synthetic-tokens/doc1`, `oracle/doc2`, and `governance/

[2020-08-05 01:51] jordanliu commented on #3189
@LittleboyHarry need help with the PR?

[2020-08-05 06:23] FocalChord commented on #3148
@slorber Hi, can we get Anshuls pull request merged in please

[2020-08-05 07:52] teikjun commented on #3209
Thanks! It's a mistake, I'll fix it

[2020-08-05 10:05] martavis opened #3211 "Swizzling multiple components causes build to replace aliases"
## 🐛 Bug Report

After swizzling three components, I noticed one component was replaced (ignored?) during the build.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Install clean build
1. Swizzle DocPage, Footer and Navbar (or any 3 components)
1. Modify all three componen

[2020-08-05 13:27] #3209 closed

[2020-08-05 13:28] slorber commented on #3148
will try to review it asap, but this bug has higher priority: https://github.com/facebook/docusaurus/issues/3199

[2020-08-05 13:43] zepatrik opened #3212 "open the browser on latest instead of last release on `docusaurus start`"
## 💥 Proposal

When running `docusaurus start` the browser should open the latest tag instead of the last release. For people working only from time to time with docusaurus it is confusing that they don't see their changes and they spend time debugging why the change is not there.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBU

[2020-08-05 13:43] zepatrik commented on #3212
Btw I'm happy to contribute this proposal is accepted.

[2020-08-05 14:05] slorber commented on #3199
So, it is a bug introduced in this PR: https://github.com/facebook/docusaurus/pull/2331

The issue is on the Users page:
![image](https://user-images.githubusercontent.com/749374/89420281-cadc6700-d732-11ea-80fd-d68b8f4a5f94.png)

The v1 parser is Babylon v6, and v6 does not support React fragments. Replacing the fragment by a div or `<React.Fragment>` solves it.

I'm not going to upgrade Babylon

[2020-08-05 14:15] slorber commented on #3212
Hi @zepatrik . I totally agree and it's a chance I've planned to do as part of other things to change about docs/versioning.

As it's already something I have in mind, I'd prefer to work on this myself so that the API of all the features look consistent

[2020-08-05 14:19] #3199 closed

[2020-08-05 14:41] slorber commented on #3195
thanks :) can you open a draft/PR branch asap so that we can track/review progress?

[2020-08-05 14:58] felipewmartins opened #3215 "Failed to start Docusaurus server"
## 🐛 Bug Report

Fail to start docusaurus-server
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. run npx docusaurus-init
1. yarn start
1. Step 3...

## Expected behavior

Starts normally

(Write what you thought would happen.)

[2020-08-05 14:59] slorber commented on #3215
Duplicate of https://github.com/facebook/docusaurus/issues/3199

Already fixed, going to release right now

[2020-08-05 15:00] #3215 closed

[2020-08-05 15:03] mgr2178 opened #3216 "Issue"
## 📚 Documentation

(A clear and concise description of what the issue is.)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

[2020-08-05 15:16] slorber commented on #3215
Release 1.14.6, seems to work now

[2020-08-05 15:16] slorber commented on #3199
Release 1.14.6, seems to work now

[2020-08-05 15:28] #3216 closed

[2020-08-05 16:03] noraj opened #3217 "[Chore] version released without/before changelog"
Seems a version 1.14.6 is out and released on npmjs

https://app.renovatebot.com/package-diff?name=docusaurus&from=1.14.5&to=1.14.6

https://www.npmjs.com/package/docusaurus

![image](https://user-images.githubusercontent.com/16578570/89435715-8908ec00-d745-11ea-920c-d81b404bbe32.png)

But not github release, no git tag, not changelog entry yet.

https://github.com/facebook/docusaurus/releases
![i

[2020-08-05 16:15] Kimi-Gao commented on #3208
@slorber  FYI
![image](https://user-images.githubusercontent.com/12554487/89436777-47923400-d779-11ea-8645-1c79c8b7bc97.png)
![image](https://user-images.githubusercontent.com/12554487/89436863-6395d580-d779-11ea-90fe-20b99fdc8267.png)

[2020-08-05 16:23] slorber commented on #3217
Hi, I'm sorry, there is a delay between the changelog / Github release and the publication, because the release PR did include some update to the publication guide: https://github.com/facebook/docusaurus/pull/3218

Now it is ok, and the interval without available changelog would be shorter on next release.

The process can be enhanced, but I don't think we can atomically publish + push the changel

[2020-08-05 16:23] #3217 closed

[2020-08-05 17:04] slorber commented on #3172
thanks

wonder what you can do for the original usecase I had ^^ (beforeDefaultRemarkPlugins)

[2020-08-05 17:08] slorber commented on #3203
@avkonst the Docusaurus v2 algolia config is open-source: https://github.com/algolia/docsearch-configs/blob/master/configs/docusaurus-2.json

Feel free to submit a PR if you think it can improve the indexation, or discuss with @s-pace from Algolia.

Unfortunately, I'm not very familiar with all that, and can't dedicate too much time on this, as I need to work on i18n support

[2020-08-05 17:11] noraj commented on #3217
Usually many projects publish the changelog update in the same PR or even as part of the commit. So when the feature PR is merged the associated documentation & changelog is merged as well.
What is the interest of separating documentation and changelog update of the feature update in different PRs?

The most important thing is that the changelog is available when the new release is spread, but to

[2020-08-05 17:17] jevonearth opened #3219 "validation system false positive on URL with `#`"
## 🐛 Bug Report

Validation has false positive on URLs with `#` in the URL

### Have you read the [Contributing Guidelines on issues]

yes

## To Reproduce

1. Create a link definition in `docusaurus.config.js` as follows:

[code]

2. run `npm run build`

## Expected behaviour

Build should complete without error

## Actual Behavior

We get an error:

[code]

## Your Environment

`"@docusaurus/cor

[2020-08-05 17:18] slorber commented on #2724
This is weird
I have no idea what's going on but it's supposed to work.

These features are new so don't stay on alpha 58.
Are you sure you have all your deps on Docusaurus alpha 61?
May be worth to inspect your lockfile, or try regenerating it.

What gives `yarn why @docusaurus/core` ?
What gives `yarn why @docusaurus/mdx-loader` ?

Can you create a small repro?

Maybe try to remove the .docusaur

[2020-08-05 17:19] #3179 closed

[2020-08-05 17:28] slorber commented on #3219
Hi,

We use Joi for this validation, with the following rule: `Joi.string().uri()`

If Joi refuses your URI, this is because it's not a valid URI, or Joi has a bug (in which case you should report it)

Can you give me a link from a web authority that claims an uri with 2 hashes is a valid uri? I'm not sure it is.

If it's a Joi uri validation bug, you should open an issue to the Joi validation lib

[2020-08-05 17:35] petejohanson opened #3221 "Validation of footer `href` values does not allow URI references (e.g. `/foo/bar`)"
## 🐛 Bug Report

Upgrading from 2.0.0-alpha.55 to 2.0.0-alpha.61 of all my docusaurus packages has resulted in a validation failure in a *working* `docusaurus.config.js` file. In particular, In our project, I am deploying to Netlify, and using a `netlify.toml` file to add a redirect `/community/discord/join` URL that will redirect to the current Discord invite link.

In my footer, I've been using

[2020-08-05 17:37] slorber commented on #3217
"at the same time": unfortunately I can't guarantee 0sec there.

The changelog came a bit later for this release, because I was also updating the publish doc in the release PR (which I maybe shouldn't have do).

Next releases the interval will be smaller, like 5 or 10 minutes after, that seems acceptable to me. Also, many people are notified on new releases through github releases. I think it's un

[2020-08-05 17:46] jevonearth commented on #3219
It's unclear to me if using `#` is part of the RFC spec. My cursory impression is Joi appears to be dogmatic on that.

The link in question is to a SPA. The `#` portions to not get transmitted to a server. The end result here is that the new docusarus validation breaks links that we have had in place for a long time.

Encoding the `#` with `%23` will not work as a workaround, sadly.

[2020-08-05 17:55] slorber commented on #3003
Closing, will be in next v2 release

[2020-08-05 17:55] #3003 closed

[2020-08-05 18:13] slorber commented on #3221
Helpful infos summary:

- https://github.com/zmkfirmware/zmk
- https://zmkfirmware.dev/
- https://zmkfirmware.dev/community/discord/invite

The netlify redirect:

![image](https://user-images.githubusercontent.com/749374/89448189-83b49d00-d757-11ea-9f64-448742073f6d.png)

---

As it's not really affecting you deeply, I'm going to close and see if this problem comes up again.

As a workaround, you

[2020-08-05 18:13] #3221 closed

[2020-08-05 18:25] noraj commented on #3217
Yeah I understand for this specific case.

I'm not here to blame, what I'm trying to understand is why (what is the advantage of) doing it in a separate PR?

Yeah it's true that v1 EOL is soon and the are only rare update to fix some bugs.

I'm not trying to argue here, but I think this is totally wrong. I think among devs using npm packages a minority is notified of an update of one of their depe

[2020-08-05 18:31] slorber commented on #3219
Sorry for that. Also worth considering that before that we didn't do any validation, so you could pass any invalid URL as well. We don't really want to revert these validation logic.

---

I've opened an issue on Joi because I think if new URL() can parse your URL then Joi should rather accept it (I guess?).

https://github.com/sideway/joi/issues/2435

---

@anshulrgoyal @teikjun as you are famili

[2020-08-05 18:37] slorber commented on #3217
We restricted commits to master (on purpose, to prevent me from committing to master by mistake), so any publish has to go through a PR, on which we need to bump package dependencies etc...

I try to find a workflow that does not involve opening 2 PRs for the same release (like 1st for the changelog, 2nd for bumping the version)

I think the most I could do, is to first merge the PR with the updat

[2020-08-05 18:39] anshulrgoyal commented on #3219
we can add a `Joi.custom()` and check if `url.parse` work on the given url or not.

[2020-08-05 18:46] slorber commented on #3190
@AlexaCodex you don't make my life easy, I had to find your source code (that I asked you to provide) myself:
https://github.com/AlexaCodex/exampledocusau

This is clearly a baseUrl issue.

We can see that you changed the baseUrl on master, but you didn't redeploy to the gh-branch according to commit dates.

[2020-08-05 18:46] #3190 closed

[2020-08-05 18:48] slorber commented on #3219
That would be great thanks 👍

As we could use this in other places, please add it to the new package utils-validation

(also worth some tests might be refactored using methods of this package)

[2020-08-05 18:57] petejohanson commented on #3221
@slorber Thanks for the quick follow up. The only downside to using `DEPLOY_URL` is it doesn't update after a particular deploy is promoted to the active deploy for the site, so your production site ends up w/ the long annoying deploy URL instead of the "nice" URL.

I can use `process.env.URL` for now, but that doesn't *technically* work, should I deploy a preview with a different redirect in the

[2020-08-05 19:01] avkonst commented on #3203
Thanks. I have found a config for my project too, but do not understand it
too. I guess I will workaround it somehow.

On Thu, 6 Aug 2020, 05:08 Sébastien Lorber, <notifications@github.com>
wrote:

[2020-08-05 19:10] noraj commented on #3217
There is no issue with using a PR, on the contrary it's a good practice.

That's exactly what I'm trying to say. Why not having having only 1 PR including changelog, feature change, bumping version, doc change, etc. whatever there is 1 or 10 commits in the PR. But I understand it's already the case and we are just not udnerstand each other :laughing:. It's just that the "feature change" here seems

[2020-08-05 19:11] oriooctopus commented on #3179
Thank you @slorber !

[2020-08-05 19:15] slorber commented on #3179
thank @anshulrgoyal  :)

[2020-08-05 19:16] slorber commented on #3217
will try to improve it on next release

[2020-08-05 19:20] slorber commented on #3221
Not sure but maybe DEPLOY_PRIME_URL is a good fit?

[2020-08-05 19:49] slorber commented on #3208
@Kimi-Gao having the link to your site deployment / repo would also be helpful

[2020-08-05 20:21] metasaver opened #3223 "54 -> 61 no longer supports spaces in Doc Folder names"
## 🐛 Bug Report

After upgrading to 61, my folder names with spaces in them no longer work:

@xxx-docs/documentation-internal: Error: Unable to resolve valid document slug. Maybe your slug frontmatter is incorrect? Doc id=-1.intro / dirName=ea/guides/Documentation Site / frontmatterSlug=undefined => bad result slug=/ea/guides/Documentation Site/-1.intro

### Have you read the [Contributing Guideli

[2020-08-05 20:57] BurntBrunch commented on #2990
Nothing else to do here, thanks everyone!

[2020-08-05 20:57] #2990 closed

[2020-08-06 04:04] Kimi-Gao commented on #3208
@slorber  https://deploy-preview-347--thinkbucket.netlify.app  see more at this [PR](https://github.com/ThinkBucket/docsite/pull/347)

[2020-08-06 06:50] s-pace commented on #3172
👋  @slorber

`beforeDefaultRemarkPlugins` is too much present within the page. Elements matching `[class^='codeBlockContent_']` selector are too similar and it degrades the search experience. Last but not least, we [recommend that selectors match small piece of text to enhance the relevancy](https://docsearch.algolia.com/docs/required-configuration/#use-the-right-classes-as-selectors). These code

[2020-08-06 08:41] JulianGerhard21 opened #3224 "ESOCKETTIMEDOUT for @algolia/client-common dependency during installation / update"
## 🐛 Bug Report

Currently it is not possible to successfully run `npm install` because of a SOCKET Timeout for the dependency `@algolia/client-common`. I tried to update from alpha version 58 to 61 as proposed on the documentation guidelines.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

#

[2020-08-06 09:25] andrui commented on #3224
https://github.com/npm/cli/issues/1624

[2020-08-06 11:23] slorber commented on #3224
thanks

https://status.npmjs.org/

We can't do anything about it

[2020-08-06 11:23] #3224 closed

[2020-08-06 12:44] slorber opened #3226 "Swizzle + TypeScript plugin issues"
## 🐛 Bug Report

The docs plugin is implemented in typescript.
It is not a theme per-see, but contains some components/hooks.

We can swizzle it in JS:

[code]

Or in TS:

[code]

The problem is that the source code in JS is transpiled with tsc and looks ugly:

![image](https://user-images.githubusercontent.com/749374/89532978-f32b9a80-d7f2-11ea-999e-ac0ea10c18c4.png)

On the classic theme we have

[2020-08-06 12:48] slorber commented on #3148
merged @FocalChord

[2020-08-06 16:01] jknoxville commented on #2724
Thanks for the help @slorber

I regenerated the yarn.lock, and verified that it only contains v61 of any docusaurus packages, still the same thing.

However, I tried out using relative markdown images on the docusaurus website itself, and it works, so I can agree with you that relative images do in fact work and this issue can be closed :) there's just clearly something wrong with this other docus

[2020-08-06 16:34] slorber commented on #2724
Great to know :)

This is weird that it doesn't work on your website. Unfortunately without a repro it will be hard to troubleshot.

[2020-08-06 16:34] #2724 closed

[2020-08-06 16:53] rpajay commented on #2999
Facing the same issue on running
[code]
and
[code]

[2020-08-06 18:49] jagracey opened #3230 "Blog Mode: Disable or modify the date prefixes `/blog/2020/08/01/title-slug`."
## 🚀 Feature

For blog mode in Docusaurus V2, there should be a clean way to turn off the calendar date section within the URL path for each blog post, enabling more creative documentation use cases. In our own case we've built a "help center" (knowledge base) that would benefit from disabling the path prefix.

`example.com/blog/2020/08/18/title-slug`    ==>    `example.com/blog/title-slug`

### H

[2020-08-06 21:24] mattmillerart commented on #3125
This still seems to be an issue, following the docs at https://v2.docusaurus.io/docs/markdown-features#configuring-plugins I get an error in validation when using this config which is straight out of the docs

[code]

[code]

[2020-08-07 02:47] sri1980 opened #3231 "Unable to access document added in docs folder"
I am adding document in docs folder with extension .md .  Unable to access this document, getting 404.

Can you please help me do i need to make any config changes after adding doc-1.md in docs folder?

    Here is my project structure

             website
                  ---  docs
                              - doc-1.md

          **doc-1.md**

                 ---
                 id: page1

[2020-08-07 05:28] Tundeh commented on #3173
Can i work on this?

[2020-08-07 06:30] anshulrgoyal commented on #3173
I forget to attach the PR @Tundeh it is already fixed

[2020-08-07 06:55] Tundeh commented on #3173
Ok

[2020-08-07 07:00] Tundeh commented on #3226
can i take this? though I'm new here.

[2020-08-07 07:50] anshulrgoyal commented on #3231
Are u using D2 or D1?

[2020-08-07 09:41] lunelson opened #3236 "CSS-in-JS Rendering Hooks"
## 💥 Proposal: Hooks for CSS-in-JS Rendering Client and Server Rendering

So, the [[v2] ☂️ Umbrella issue for v2 docs](https://github.com/facebook/docusaurus/issues/1640) has the above open TODO (although the issue has been closed); and this is [also currently mentioned in the docs](https://v2.docusaurus.io/docs/styling-layout/#css-in-js) as "welcoming PRs".

I have some experience with the setup

[2020-08-07 10:17] sri1980 commented on #3231
I am using D1

[2020-08-07 10:27] Ako92 commented on #3177
I'm working on it
What is the expected behavior? There is two options:
1. Remove the tab key press functionality on DropDown
2. Add eventListener on window to toggle className "dropdown--show" if exists!

If  you have any other solution please share it with me.

[2020-08-07 11:34] slorber commented on #2930
@maximousblk your link doesn't work anymore, can you host it somewhere else please? https://github.com/maximousblk/docusaurus-playground/blob/master/src/css/custom.css

@yangshun can we safely change the styles of infima alerts without affecting other FB projects?

Anyone wants to work on this?

Seems we need to change alerts in Infima, + the style preset of this repo: https://github.com/elviswolc

[2020-08-07 11:49] maximousblk commented on #2930
@slorber so sorry for that. here is the css:

<details><summary>CSS</summary>

[code]

[2020-08-07 11:56] slorber commented on #2930
thanks :)

[2020-08-07 12:07] amrtachaurasia commented on #3160
@slorber I have figured out the entire error, changes are ready and want to work on this

[2020-08-07 12:25] slorber commented on #3231
Can you please create a repo? this kind of issue is hard to debug without it.

Did you try browsing `/docs/page1` instead of adding the HTML suffix? (see cleanUrl config option)

[2020-08-07 12:29] slorber commented on #3177
Thanks for working on this.

I'm not very comfortable with the current code that mutates the dom directly. Would be cool to refactor this and add some proper React state.

We should be able to use the dropdown without a mouse for accessibility, so the 2nd solution looks better to me. I've used such libs successfully in the past: https://github.com/Andarist/use-onclickoutside

[2020-08-07 12:33] darshkpatel opened #3239 "migration cli uses absolute paths instead of relative paths for customCss and sidebarPath"
## 🐛 Bug Report

The migration CLI uses absolute paths instead of relative paths for `customCss` and `sidebarPath`
Discovered while working on https://github.com/MLH-Fellowship/react-native-website/pull/37
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## To Reproduce
0. Create a v1 site `npx

[2020-08-07 12:53] teikjun commented on #3195
We're keeping track of the migration here: https://github.com/MLH-Fellowship/react-native-website/pull/37

[2020-08-07 13:25] Thor-x86 commented on #2930
I think those will be better if the title's color match with left-side line, but make it darker on light mode and lighter on dark mode

[2020-08-07 15:59] sri1980 commented on #3231
Here is the repo url

https://github.com/sri1980/website

I tried with 'docs/page1' also, it's not working.

[2020-08-07 16:04] teikjun commented on #3239
Thanks, I'm on it! :)

[2020-08-07 18:52] Ako92 commented on #3177
https://github.com/facebook/docusaurus/pull/3240 Pull request Link.
This is my first pull request on open source community. If there's any problem, let me know.
Thanks

[2020-08-07 19:38] mdfaizan7 commented on #3177
Thank You for the pull request @Ako92. It looks like this bug is fixed. Good Job 👍

[2020-08-07 20:04] slorber commented on #3160
@amrtachaurasia I'm sorry but we don't need help anymore on this issue, as there is already a PR here https://github.com/facebook/docusaurus/pull/3200

[2020-08-07 20:11] #3219 closed

[2020-08-07 20:15] slorber commented on #3226
Not sure it's an easy issue for a first one, but you can try :)

[2020-08-07 20:17] #3173 closed

[2020-08-07 20:18] slorber commented on #3125
@teikjun can you take a look please?

[2020-08-07 20:21] slorber commented on #3208
Thanks for the detailed infos, really helpful.

Will take a look next week

[2020-08-07 21:11] elviswolcott commented on #2930
@slorber the docusaurus preset lives in this repo. All the `remark-admonitions` package does is provide the remark plugin and *optional* styles. There's nothing stopping docusaurus from maintaining it's own stylesheet here.

[2020-08-08 05:01] Ako92 commented on #3176
Swizzle?? Can yo explain it more please?

[2020-08-08 06:06] martavis commented on #3176
Swizzling: https://v2.docusaurus.io/docs/using-themes#swizzling-theme-components

[2020-08-08 14:03] slorber commented on #3176
Basically this is just moving the SearchPage comp to the ./theme folder so that the swizzle cli can swizzle it

[2020-08-08 14:06] slorber commented on #2930
Thanks, we should probably do that, as it would be more convenient to maintain

[2020-08-08 14:07] slorber commented on #3231
Do you have the site online somewhere? That would help win some time debugging the problem

[2020-08-08 14:13] slorber commented on #3236
Hi,

This is definitively something we should have, but is not so easy.
We also need to extract critical CSS to inline it in the pages.

It's already been mentioned somewhere that we may need to do something similar to how Gatsby works (docusaurus-browser/docusaurus-ssr files...).

I don't have much more infos to provide, this needs exploration :)

Maybe a good start would be to study all the css-

[2020-08-08 14:26] #3160 closed

[2020-08-08 14:28] slorber commented on #2999
npm run start, not npm start run :)

![image](https://user-images.githubusercontent.com/749374/89712913-3cffb680-d994-11ea-88d9-cbe38f689cea.png)

[2020-08-08 14:42] slorber commented on #3066
@adrianmcli without a repro it's hard to tell, but as I said you, without the "to" attribute it's unlikely to work as of current code

[2020-08-08 16:49] adrianmcli commented on #3066
@slorber
Sorry, this is the actual code in the repo: https://github.com/UMAprotocol/docs/blob/master/config/navbar.js#L20-L41

[2020-08-08 17:21] lunelson commented on #3236
Yes, off the top of my head the necessary operations for CSS-in-JS libs tend to be:

- wrap the `<App />` component with custom Providers which enable collection and critical extraction
- set `<head/>` elements with those extracted styles, per page
- extend the babel config, usually to provide a custom JSX function
- ...and in the case of exctraction libs like `astroturf` and `linaria`: extend the

[2020-08-08 17:31] lunelson commented on #3236
Examples from Gatsby—note: many only require a babel plugin for the client side, and only modify rendering for the SSR part

- [emotion v11](https://github.com/emotion-js/emotion/tree/next/site/plugins/gatsby-plugin-emotion-next-compat)
- [emotion v10](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-emotion/src)
- [styled components v5.x](https://github.com/gatsbyjs/gatsby/bl

[2020-08-08 23:40] viztastic commented on #3136
I've just upgraded to alpha 61 and getting this error when I run `npx docusaurus --version` :
![image](https://user-images.githubusercontent.com/8556736/89721714-47699100-da24-11ea-866c-bffaa339cc83.png)

Tried to find where in the release notes it describes links as being renamed to items but I couldn't. Is this expected behaviour?

[2020-08-09 00:35] akrantz01 opened #3246 "[v2] Code block fails to render when using escaped HTML characters"
## 🐛 Bug Report

In a table, using `<code>` tags with any HTML entities (I think that's the right term) does not render the text as code. However, when the there is only an HTML entity in the code block and nothing else, it works as expected.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

#

[2020-08-09 09:51] teikjun commented on #3136
@viztastic Yes, this is the expected behavior. It was renamed in alpha.59, but it was not stated explicitly in the release notes.
You can just rename `links` to `items` and it should be good :)

[2020-08-09 15:01] Danon opened #3250 "Can't reference links to docs from Blog"
## 🐛 Bug Report

After update to 2.0-alpha61, the "broken links" util (which I find very helpful), said my link to doc from Blog was broken:

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

0. Add docs file, e.g. `file.mdx`.
1. Add blog post
2. Add li

[2020-08-09 15:32] teikjun commented on #3125
@mattmillerart thanks! It will be fixed in #3247

[2020-08-09 15:54] Ako92 commented on #3176
Is this what I have to do?

![image](https://user-images.githubusercontent.com/24778140/89736380-3c434f00-da7e-11ea-973e-8258aa2809fc.png)

[2020-08-09 17:10] slorber commented on #3250
Hi @Danon

Linking using md file paths only works for docs, it's not possible to link from/to blog this way, because the fs path to URL resolution system is plugin dependant (slug frontmatter etc...)

It is pretty sure that this link was not reported before, but it was actually broken in practice, so this new system likely catched a bug on your site :)

[2020-08-09 17:10] #3250 closed

[2020-08-09 17:23] Danon commented on #3250
@slorber Yes, you're right. Sorry to have taken your time.

[2020-08-09 19:53] borekb commented on #3018
## plugin-content-docs that supports CommonMark for `.md` files

We've experimented with plain Markdown support in an internal prototype and wanted to post the key results here.

### Summary

It's doable and not that complex – about 200 LoC. There's currently some ugliness like to get the ToC, we're converting AST to React components and then parsing it back to a string for which we didn't find a

[2020-08-09 19:54] borekb commented on #3018
An alternative approach would be to convert MD to MDX first and then just let the `mdx-loader` to its thing. But there probably isn't currently a convertor from MD to MDX in the unified ecosystem, though many pieces are in place: https://github.com/unifiedjs/ideas/issues/9.

[2020-08-10 01:37] amy-lei commented on #2717
I would love to work on the TOC feature! 😃

[2020-08-10 10:34] lunelson commented on #3236
@slorber on closer examination, after trying to hack this today: I'm guessing when you said "it's not so easy" you might have been thinking about `react-loadable`...? This scheme doesn't seem so far to be compatible with the HOCs that are needed for collecting CSS from the component tree

[2020-08-10 19:37] SanketDG opened #3255 "Minimal scaffold for init"
## 💥 Proposal

The current scaffold for init produces a lot of files in the scaffold, this may be overwhelming for someone who has never played with SSGs and similar systems before.

Someone may just want to show a bunch of markdown files that they already have in a well presented layout.

**Can we have a scaffold/theme where a minimal set of files are present for running Docusarus?**

To scratch

[2020-08-11 05:35] leoigel opened #3256 "Open and close the dropdown"
## 🚀 Feature

(A clear and concise description of what the feature is.)
Usually when dropdown is open the user can be able to close clicking on the page, this behavior not happen here, the user can close the dropdown just by clicking on one place.
### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

[2020-08-11 05:37] leoigel commented on #3256
if this issue is acceptable i would like to make pr!

[2020-08-11 06:05] huan opened #3257 "Typing mis-match in `index.js` generated from docusaurus-init"
The following code [`alt={title}`](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-init/templates/facebook/src/pages/index.js#L57) will call a `String(title)` and then get a `object: Object` string back.

The reason for that is because `title` is a [Fragements](https://reactjs.org/docs/fragments.html) we defined at [here: `title: <>Easy to Use</>`](https://github.com/faceboo

[2020-08-11 10:26] slorber commented on #3257
sorrry but I don't understand the problem. How all this is affecting you exactly? Do you have a live site with the bug being visible?

[2020-08-11 10:37] slorber commented on #3255
Hey @SanketDG

Personally I don't see the value of such a minimal scaffold. It's easier to get more files and delete the useless ones, than to start from scratch and add the useful things one by one.

Is it really just a pain to have to delete a few files?

With your minimal scaffold, what's left exactly?
You could remove the preset classic, and only have no page at all, which would mean the 404 w

[2020-08-11 10:37] #3255 closed

[2020-08-11 10:56] huan commented on #3257
Yes, I found a live site with this bug being visible.

<https://wechaty.js.org/docs/> is the current site that I'm working on, and it is using the default template from the `docusaurus-init`.

If you use the chrome inspect tool to inspect the image above "Easy to Use" text, you can find that the `alt` property of that image is `alt="[object Object]"`, which is expected to be "Easy to Use".

![imag

[2020-08-11 11:17] slorber commented on #3257
Thanks, will be fixed by #3258

[2020-08-11 11:34] #3257 closed

[2020-08-11 11:37] slorber commented on #3236
Thanks for the details @lunelson

I don't have time to investigate these things right now but we'll likely come back to it once i18n is there

[2020-08-11 11:40] slorber commented on #2717
yes @amy-lei thanks

[2020-08-11 12:05] SanketDG commented on #3255
@slorber

I will expand a bit on why I went ahead and did this. If you are coming from the whole "single page Github pages theme", Docusaurus is a little bit over the top. Most projects don't have a logo or a dedicated landing page, they just want to make sure they start with introducing the project and what it does, _in text_.

One definitely has to go through a few pages of the documentation and

[2020-08-11 12:18] slorber commented on #3018
thanks for those details, that looks interesting. If MDX provided a converter that would be great, also would helpful for v1->v2 migrations

I don't have much time to explore these ideas but we'll come back to it someday.

Note, not sure it's related, but there's a large docs plugin refactor here: https://github.com/facebook/docusaurus/pull/3245

[2020-08-11 12:24] slorber commented on #3255
You can create both a theme (which is just the UI), a preset (which is plugins + themes), a boilerplate...

We could accept whatever you build as long as the community finds it useful (is there is more than 2 or 3 people that want it), and it's not too painful to maintain for us.

But again I think what you want to build is biased toward your usecase. Why not a scaffold with just a homepage? Just

[2020-08-11 12:25] slorber commented on #3255
Note, we have a community page here, if you build something we can add what you build on this page: https://v2.docusaurus.io/community/resources

[2020-08-11 12:33] slorber commented on #3176
yes, and very that swizzling actually works (I may be wrong, you have to test the workflow)

[2020-08-11 13:17] #3125 closed

[2020-08-11 13:34] slorber commented on #3136
yes sorry it's not very visible on the changelog (should probably highlight more by editing the changelog next time) but it is in one of the PRs in the breaking changes: https://github.com/facebook/docusaurus/pull/2971

[2020-08-11 13:44] slorber commented on #3246
Sorry but reading this issue it's really hard to scan where exactly is the repro case (your link has a table with a lot of examples, not sure which one you feel is actually broken because it looks like the expected behavior to me, for all of them)

Is it even related to markdown tables at all?

We use MDX (and unlikely to change) that compiles markdown to JSX.

It may be worth checking if your exa

[2020-08-11 13:44] #3246 closed

[2020-08-11 13:51] slorber commented on #3066
@adrianmcli as I said, you absolutely need a to element on the parent item here

![image](https://user-images.githubusercontent.com/749374/89905338-58fc9580-dbea-11ea-871c-20c6e673201e.png)

even if it's useless and is like link `to: '/'` it will make the code use the ReactRouter NavLink. That's bad but it should work temporarily.

[2020-08-11 13:51] slorber commented on #3066
no `to` means `activeBaseRegex` gets ignored

[2020-08-11 14:09] slorber commented on #3230
Yes you are right we need a way to have better control of blog slugs.

I tried this:

![image](https://user-images.githubusercontent.com/749374/89906708-0328ed00-dbec-11ea-9ad0-8183491b1994.png)

And the URL was this: `http://localhost:3000/blog/2020/08/11/heyyy`. In such case we'd rather simply not adding the date to the URL at all.

Using markdown files without dates in filenames should be suppo

[2020-08-11 14:14] huan commented on #3257
Thank you very much for the quick fix!

[2020-08-11 14:48] slorber commented on #3223
Thanks, will be fixed by #3262

[2020-08-11 15:20] slorber commented on #3256
Hey, I think this is fixed by https://github.com/facebook/docusaurus/pull/3240

[2020-08-11 15:20] #3256 closed

[2020-08-11 15:20] #3223 closed

[2020-08-11 18:22] akrantz01 commented on #3246
Oh, sorry if it wasn't clear. I've updated the [gist](https://gist.github.com/akrantz01/05a917f9dea75fb73d9991beddc58c84) with images of the expected and actual results. I think it is related to markdown tables since I can't seem to get it to reproduce when its not in a table.

Is it the expected result to have the 6th example not render with the code tag around it? Here's the images from the gist

[2020-08-11 19:33] omry opened #3266 "docsVersionDropdown defaults to an arbitrary page"
I want to open by saying I love the new version dropdown.
I enabled it today and I ran into an issue where it picks some odd page in some scenarios.

Repro:
1. Go to [hydra.cc](https://hydra.cc/).
2. Select a version from the top bar.
3. You will get to https://hydra.cc/docs/advanced/app_packaging or https://hydra.cc/docs/next/advanced/app_packaging based on the selected version.

I would like it

[2020-08-11 19:57] leoigel commented on #3256
Sorry if i'm not clean but this is the actual behavior :

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/29859021/89942233-dcd37380-dc24-11ea-8b03-90760a949e3f.gif)

but i expect to this behavior :
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/29859021/89942814-e27d8900-dc25-11ea-9f1a-3d0f3bf01a3f.gif)

[2020-08-11 20:44] JeanMarcSaad commented on #3230
I'll be working on this 🙂

[2020-08-11 23:50] aimaj-anz opened #3268 "dependency warning on "serialize-javascript""
## 🐛 Bug Report

doing a clean yarn install of latest version, and yarn audit returns some vulnerability warnings:
https://www.npmjs.com/advisories/1548

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## To Reproduce

1. create new project
2. yarn install @docusaurus/core^2.0.0-alpha.61 and/or

[2020-08-12 02:42] mecm1993 commented on #3266
I was able to check the problem. First of all, when you hover over the versions dropdown in any other page except for `Docs`, the links point to `app_packaging`,

<img width="607" alt="Screen Shot 2020-08-11 at 10 38 44 PM" src="https://user-images.githubusercontent.com/8043309/89969106-96314980-dc23-11ea-9c14-079abcffe6d5.png">

However, when in `Docs` Intro section, the links point to the `intro

[2020-08-12 07:31] #3066 closed

[2020-08-12 07:32] adrianmcli commented on #3066
@slorber thanks so much for the clarification! perhaps it should be documented better, but I really appreciate you taking the time 😊

[2020-08-12 07:38] JeanMarcSaad commented on #3230
Hello @slorber

So after delving into the code, turns out this is already supported.

<img width="403" alt="Screen Shot 2020-08-12 at 10 27 18 AM" src="https://user-images.githubusercontent.com/25410209/89987619-07eeaf00-dc87-11ea-98ad-065d2c6e08d5.png">

In this block of code in `docusaurus-plugin-content-blog/blogUtils.ts`,
if frontmatter.id is defined, it will use it as the only slug and not ap

[2020-08-12 08:51] slorber commented on #3066
np 👍

i'd like to improve all that as it's not idiomatic at all

keeping this undocumented also helps to see how many users are struggling with this kind of issues :)

[2020-08-12 09:08] #3047 closed

[2020-08-12 09:16] slorber commented on #3230
Yes we should:
- rename id to slug (add a warning for users using frontmatter.id)
- document slug frontmatter
- fix the date parsing logic that use current date as a default pathname prefix when filename is `test.mdx`: it should just lead to `/blog/test` unless user is using slug frontmatter

Thanks

[2020-08-12 09:22] slorber commented on #3268
Thanks, will take a look at this soon.

[2020-08-12 09:38] kou029w opened #3270 "Deployment branch targets for environment variables are not working"
## 🐛 Bug Report

It cannot be deployed to the branch specified by the DEPLOYMENT_BRANCH environment variable, but is deployed to the master branch.

https://github.com/facebook/docusaurus/blob/98ccb3725d23c5e4ab0f26149bd2120c57c65a10/packages/docusaurus/src/commands/deploy.ts#L68-L71

If your project is named OWNER.github.io, the deployment branch will be master, even if you specify DEPLOYMENT_BRA

[2020-08-12 09:43] #2828 closed

[2020-08-12 09:47] anshulrgoyal commented on #3148
@FocalChord  are u still woking on it?

[2020-08-12 09:54] slorber commented on #3256
this is v1 site, and we are not investing too much in v1.
I'd accept a PR to solve this but not really willing to invest time in this fix myself

[2020-08-12 09:57] slorber commented on #3268
fixed by https://github.com/facebook/docusaurus/pull/3265

[2020-08-12 10:02] slorber commented on #3246
I don't know all the specifics of MDX, maybe it's a bad usage of this syntax, as MDX is not 100% compatible with CommonMark. MDX v2 may also improve this.

[2020-08-12 10:26] slorber commented on #3266
thanks :)

Yes this is an issue I have seen in the code. I'm going through a docs plugin refactor, which would make this much easier to fix (https://github.com/facebook/docusaurus/pull/3245)

The problem is the algo to know where to link to in this dropdown:
- use the homePageId (if it exists)
- use the doc with `slug: /`
- use the first doc on the list

The problem is that "the list" is unordered

[2020-08-12 13:53] anshulrgoyal commented on #3176
I will take it. If nobody is working on it. I will refactor it a bit in smaller components so it can be swizzled easily

[2020-08-12 14:16] anshulrgoyal commented on #2984
@slorber  we should close this

[2020-08-12 14:22] kewp opened #3272 "Couldn't start classic template: Module parse failed: Assigning to rvalue"
## 🐛 Bug Report

Tried to run the 'classic' template following the getting started steps https://v2.docusaurus.io/docs/installation

[code]

Failed when running `npm run start`. Lots of errors. (only showing partial log)

[code]

## Your Environment

- Docusaurus version used: 2.0.0-alpha.61
- Environment name and version: node 12.8.3
- Operating system and version: Windows 10

[2020-08-12 15:36] temannin commented on #3268
@slorber , does #3265 fix the issue? The audit report deals with copy-webpack-plugin and not terser-webpack-plugin.

[2020-08-12 18:05] dschaller commented on #3268
There is an additional update needed for `webpack` and `copy-webpack-plugin`. The minimum version of webpack required to patch the vulnerability is 5 which requires updating a few other dependencies who have a peer dependency on webpack@4.

It looks like the following packages all have a peer dependency of webpack@4:
[code]

[2020-08-12 22:44] FocalChord commented on #3148
@anshulrgoyal yes

@slorber Hi, as seen in the screenshot below, I get this error now

![Screen Shot 2020-08-13 at 10 44 12 AM](https://user-images.githubusercontent.com/31643423/90075609-edcdd300-dd51-11ea-9b8d-c8bb9bb54d98.png)

[2020-08-13 10:35] maksnester opened #3275 "Add baseUrl to the link suggested by the dev server on start"
## 🚀 Feature

When baseUrl is used, dev server should suggest opening the URL with that baseUrl. It should be `localhost:port/baseUrl` But now it suggests opening just `localhost:port`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yeah.

## Motivation

It would be more convenient. Now you click

[2020-08-13 14:14] jknoxville opened #3278 "Proposal: Prepend base url to absolute markdown links"
## 💥 Proposal

### Current state

At the moment you have two options for linking to another page on your docusaurus V2 site:
* Use a relative link, e.g. `[click here](./destination)`
* Write html with an absolute reference, and the useBaseUrl hook, e.g.
[code]

Restricting yourself to using the first method is fine if you know that you need to do this, but one advantage of markdown is that you can

[2020-08-13 15:22] anshulrgoyal commented on #3278
I can update my transformAssets remark plugin to perform this operation but I have to check with @slorber first.

[2020-08-13 15:28] anshulrgoyal commented on #3278
For images, I would suggest using relative paths. https://deploy-preview-3274--docusaurus-2.netlify.app/build/docs/next/markdown-features#image-assets

[2020-08-13 17:32] davidkartuzinski opened #3279 "Can't upgrade v2 from alpha.55 -> alpha.61 -Can't resolve 'docsearch.js'"
## 🐛 Bug Report

Thank you for docusaurus and Version 2 is already incredible.

I am trying to upgrade from alpha.55 to version alpha.61. I can't tell what I am doing wrong but I am getting an error

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read this.

## To Reproduce

1.

[2020-08-13 18:08] Ako92 commented on #3176
Pull Request:
https://github.com/facebook/docusaurus/pull/3280

[2020-08-13 18:38] anshulrgoyal commented on #3279
I am sorry for so many errors but it is not good practise to have an empty string without a reason.
- `homePageId` is the `id` of docs which is displayed at `docs/`
- `activeBasePath` will mark the item active

Try to update `@docusaurus/theme-search-algolia` plugin.

[2020-08-13 18:49] anshulrgoyal commented on #3279
@davidkartuzinski New release contains an update to algolia search plugin and due to your website swizzles searchBar it is broken.

[2020-08-13 18:50] anshulrgoyal commented on #3279
If u just delete it. It should work fine

[2020-08-13 18:55] anshulrgoyal commented on #3279
![image](https://user-images.githubusercontent.com/32068075/90175144-9c126080-ddc4-11ea-84a9-c122028a28cd.png)

[2020-08-13 18:57] Ako92 commented on #3177
Problem Fixed  and merged.
You can close issue!

[2020-08-13 22:55] #3177 closed

[2020-08-13 23:05] #2984 closed

[2020-08-14 09:50] #3148 closed

[2020-08-14 09:52] slorber commented on #3148
@FocalChord I merged the PR of @anshulrgoyal that address this issue

[2020-08-14 09:58] #3176 closed

[2020-08-14 10:07] #3270 closed

[2020-08-14 10:41] slorber commented on #3278
Hey @jknoxville

Actually, we already do this. I added this change recently, and such a link will automatically add the baseurl.

I don't like the "useBaseUrl()" hook very much, and it's something I want to get rid of, so that you can move your site from / to /baseUrl without having to add any code.

You will notice that in any PR we now deploy Docusaurus website under a baseURL, this ensures that

[2020-08-14 11:05] slorber commented on #3278
BTW, just saw that we have a broken image on the deploy previews :)

https://deploy-preview-3274--docusaurus-2.netlify.app/build/blog/2017/12/14/introducing-docusaurus

Whether we add baseUrl or use webpack file-loader, this  image should get fixed by the solution :)

[2020-08-14 11:29] slorber commented on #3272
I have no idea what's going on but it works for me.

Can someone reproduce this consistently?
Maybe it's specific to your env.

Can you try with yarn instead of npm?

Have you modified anything at all of the generated project?

Are you sure you are in the correct directory? I see you created `my-website`, yet the logs show you are in `firkin-www`

[2020-08-14 11:40] kewp commented on #3272
Hey @slorber

I just tried this on another machine (also Windows) and it worked fine. So you may be right - it might just be my env.

To answer your questions, though - I didn't modify anything in the generated project. And I was in the correct directory (the initial command using `my-website` was wrong).

[2020-08-14 12:11] Ako92 commented on #3275
I will handle it.

[2020-08-14 12:12] Ako92 commented on #3275
Please Just give me a little information about how to do that?

[2020-08-14 12:20] slorber commented on #3268
Hey, I'm upgrading the copy plugin here: #3282 to solve this issue.

We also have to upgrade the workbox-build package in the pwa plugin, when they upgrade here: https://github.com/GoogleChrome/workbox/issues/2601 (but this is less likely to affect many D2 users)

@dschaller I don't understand why you think we need to upgrade to Webpack 5?

[2020-08-14 12:27] slorber commented on #3268
Let's keep it open until we are sure it is really fixed + the pwa plugin is also fixed

[2020-08-14 12:29] slorber commented on #3275
@Ako92 I have no idea, maybe it's something out of our control inside Webpack :) Please investigate and tell us what you think

[2020-08-14 12:30] slorber commented on #3272
Ok great to know.

Not sure what I can do about this issue, so I'm closing, but let's reopen it if other users are affected and we get more info.

[2020-08-14 13:20] jknoxville commented on #3278
Wow, best response I could have hoped for! Thanks @slorber !

Just tried upgrading to 61 and the absolute link does indeed work as expected, brilliant!

[2020-08-14 13:30] anshulrgoyal commented on #3278
I will add support to convert images with the absolute path to go through webpack-loader

[2020-08-14 14:38] slorber commented on #3278
great to know it works for you :)

thanks @anshulrgoyal

[2020-08-14 14:52] slorber commented on #2528
Hey,

This is not properly documented (as there might be upcoming breaking changes in the config) but we can now have multiple instances of the doc plugin running on the same site.

We dogfood this feature on Docusaurus website itself:
- Docs (versioned doc instance): https://v2.docusaurus.io/docs
- Community (unversioned doc instance): https://v2.docusaurus.io/community

We don't need to version