[2019-11-03 14:58] #1932 closed

[2019-11-03 23:53] yangshun commented on #1927
Related to https://github.com/gatsbyjs/gatsby/issues/6300 as mentioned by @lex111

[2019-11-04 04:44] endiliey commented on #1927
iirc gatsby also had this problem, technically all app that uses client side routing had this problem.

Reactjs.org also had it ：（
https://github.com/reactjs/reactjs.org/issues/467

[2019-11-04 06:27] BrandonPessman commented on #1834
I would be interested in doing https://draftjs.org/ If it hasn't been grabbed! @yangshun

[2019-11-04 06:59] yangshun commented on #1834
@BrandonPessman go ahead! Just a note to change the index page to load draft js from npm via require/import instead of the current scripts approach!

[2019-11-04 13:35] lex111 commented on #1927
The problem is relevant for all of them now. I wonder if it’s possible to simply turn off client routing when viewing with Google Translate?

[2019-11-05 10:15] sundowndev opened #1939 "amp anchor conversion in sidebar"
## 🐛 Bug Report

The following markdown header in docs : `## Tips & Tricks` renders an anchors like `#tips-tricks`. But the same title in the generated sidebar renders an anchors like `#tips-amp-tricks`.

## To Reproduce

Example

https://docusaurus.io/docs/en/publishing#tips-tricks

[2019-11-05 16:21] parvezakkas commented on #1939
This is a duplicate of issue #1877

[2019-11-05 18:15] sundowndev commented on #1939
Never mind, thank you for pointing this out!

[2019-11-05 18:15] #1939 closed

[2019-11-05 22:22] binarylogic opened #1941 "Docs index page and navbar highlighting"
## 🐛 Bug Report

Note, this is for V2.

Currently, the `themeConfig.navbar.links` array requires that the `"Docs"` refer to an individual document. While this works there are 2 problems:

1. Users navigating to just `/docs` get a 404.
2. The `"Docs"` navbar item does not remain highlighted if the user navigates around to other pages with in the Docs section.

### Have you read the [Contributing Gu

[2019-11-06 06:51] endiliey commented on #1941
I don't think its a bug. The thing is, `themeConfig.navbar.links` is just a helper for you to link to internal pages, and "Docs" is just a **Label**.

In docusaurus, it is possible to have multiple sidebars. See https://v2.docusaurus.io/docs/sidebar
Example:
[code]

I could change my  `themeConfig.navbar.links` to
[code]

Which yields accessing /docs/introduction
<img width="958" alt="1" src="http

[2019-11-06 06:54] #1941 closed

[2019-11-06 07:01] endiliey commented on #1928
Another simpler example is https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-ideal-image/src/index.js

It tries to modify webpack config. and it provides a theme component. Much much simpler than pages plugin (i think)

Help on documentation is appreciated

[2019-11-06 07:45] #1698 closed

[2019-11-06 11:41] endiliey commented on #1927
Well actually there's also a bug in Google Translate for React. See https://bugs.chromium.org/p/chromium/issues/detail?id=872770

I am thinking that maybe the right fix/ workaround for ours is to check if we're in an iframe, and don't React.hydrate if that's the case. Just let everything be static site.

This shouldn't be hard in our case
https://github.com/facebook/docusaurus/blob/ff83e6f8bc2b8fb

[2019-11-06 12:02] itelo commented on #1881
hey @endiliey, based on the examples you give to me I created this:
![image](https://user-images.githubusercontent.com/11433064/68296388-42ca1380-0073-11ea-85c6-110170048429.png)

In mdx, the code is:

![image](https://user-images.githubusercontent.com/11433064/68296559-a6ecd780-0073-11ea-8da5-1b0fb869f8d8.png)

Is it interesting as a plugin or something like that to docusaurus? if so I could work

[2019-11-06 12:22] endiliey commented on #1881
Hmm well its not really a plugin i think. Its just normal jsx import :)

[2019-11-06 16:38] binarylogic commented on #1941
Thanks. I understand your example but is anyone actually doing that? It seems like you're favoring an edge case at the expense of sacrificing the commonly desired behavior. A _much_ better solution to your example would be a sub-menu under docs. Ex:

[code]

It appears [Infima supports this](https://infima-dev.netlify.com/), and I noticed it is a [feedback request](https://v2.docusaurus.io/feedbac

[2019-11-06 16:40] binarylogic commented on #1941
Oh, and it's still not clear how I can enable the `/docs` route, even if that's just redirecting to another page. Having `/docs` `404` is a pretty poor user experience.

[2019-11-06 16:43] phacks commented on #1834
Hi everyone! Not sure if that counts as a proper contribution, but I wrote the documentation for my company’s latest Open Source project ([Falco](https://github.com/theodo/falco), an automatic and easy-to-use WebPageTest runner to run performance testing against your websites), on Docusaurus V2 : https://getfal.co/.

[2019-11-06 16:44] binarylogic commented on #1921
Cool! If I was to work on this would a PR be accepted?

Can you explain this? Why would someone be using `h*` tags if they were not headings?

[2019-11-06 16:58] endiliey commented on #1921
Well, if you can find a popular markdown parser that includes html `h*` tag as part of TOC, maybe we can talk further on a PR.

But as far as I know. All popular markdown TOC generator exclude JSX and/or HTML tag
- https://github.com/jonschlinkert/markdown-toc (Docusaurus v1 use Remarkable as markdown parser and this plugin)
- https://github.com/remarkjs/remark-toc (Docusaurus v2 use MDX as markdo

[2019-11-06 17:09] garretteklof commented on #1640
From what I'm reading it seems like the Infima framework powering v2 is not yet public? I'm trying to figure out the best way to override globals (fonts), and while I see how to override the coloring scheme, I am unable to find a full list of `--ifm-` variables. Is there anywhere I could find these? Also, how should I be directly accessing the document <head> to pull in customizations like Google

[2019-11-07 04:28] endiliey commented on #1640
@garretteklof how about trying https://v2.docusaurus.io/docs/docusaurus.config.js#stylesheets

[2019-11-07 08:39] endiliey commented on #1941
I guess the main problem is more on **how to create** `/docs` route.

Because if `/docs` exist.
[code]

Will always be highlighted when you are in `/docs/introduction` for example. Our navbar highlighting is powered by react-router NavLink.

You might want to wait https://github.com/facebook/docusaurus/pull/1946 to land first before you can actually create `/docs` on your own even if its a redirec

[2019-11-07 09:43] zeineb opened #1947 "Javascript or Markdown?"
Hello,

I have a question: when creating a new page, what makes us choose js over md?

Thanks.

[2019-11-07 21:50] checkflowio commented on #1758
Yes, this is affecting me from using it at work too. It would be good to get this issue resolved.

[2019-11-08 06:35] #1752 closed

[2019-11-08 06:50] endiliey commented on #1947
No really specific reasoning. It's by design ?

It looks like you just deleted our lovely crafted [issue template](https://github.com/facebook/docusaurus/issues/new/choose). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please no

[2019-11-08 06:50] #1947 closed

[2019-11-08 09:09] muwenzi opened #1949 "Custom prism theme is overridden by theme-live-codeblock"
## 🐛 Bug Report

custom prism theme configured in `docusaurus.config.js `will be overridden by theme-live-codeblock.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

in `docusaurus.config.js`:

[code]

## Expected behavior

The theme of code blocks should be `nightOwl`

## Act

[2019-11-08 09:14] endiliey commented on #1949
Upgrade your theme-live-codeblock version to alpha.33

alpha.32 still uses the old `prismTheme`

[2019-11-08 09:15] #1949 closed

[2019-11-08 19:11] pcowgill commented on #459
In v2 of this project it would be great to have suppport for docs-only or blog-only versions of the classic init config

[2019-11-08 23:48] garretteklof commented on #1640
Yeah that would definitely allow me to import different styles, however that's not really my concern. I could probably hack in some `!important` statements inside the custom css stylesheet --- just trying to find the most elegant solution. Is there a full list of `--ifm-` variables anywhere? The [Infima](https://infima-dev.netlify.com/) doesn't look to have the docs ready. Thanks for the help rega

[2019-11-09 05:10] chenglou opened #1954 "Docusaurus 1.* dependency highlightjs' version needs to be constrained"
## 🐛 Bug Report

Docusaurus 1.* (tested on 1.9 til 1.14; might have missed a few in-between) has highlight.js as `^9.15.8`, which accepts `>9.16.1`. From my tests, docusaurus only works with highlight.js `<=9.15.10`

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your

[2019-11-09 05:14] chenglou commented on #1954
here's a stack trace:

[code]

cc @yyyc514 who contributes to highlight.js. Sorry for the disturbance.

[2019-11-09 08:55] endiliey commented on #1954
I wonder if this should be considered as highlight.js bug too since `reason-highlight` is working fine in `<=9.15.10` but broke in `>9.16.x`. According to semver, by right nothing should break since it's only a minor bump. It's a regression, I do think this need to be reported to hljs.

For docusaurus side, its kinda a hard call to pin dependencies to specific version since that means we won't be

[2019-11-09 14:42] yyyc514 commented on #1954
Would appear to be a regression at first glance.  A lot of internals have changed (despite the API and output remaining the same).  It appears `reason-highlightjs` is a grammar that has a self-referential ruleset at the top-level, which perhaps was supported previously, but the new processor doesn't like.

I will dig into more later and create and issue.

[2019-11-09 15:06] yyyc514 commented on #1954
@chenglou Looks like it's your code?

https://www.npmjs.com/package/reason-highlightjs

I couldn't find a GitHub link though, so maybe you only packaged it?

[code]

You can't do that last line... because contains has a "self", but in this case it would refer to the top-level, which makes no sense since the top-level include no matchers...

You have to remember the ruleset is just static data that

[2019-11-09 16:37] yyyc514 commented on #1954
See my additional thoughts on https://github.com/highlightjs/highlight.js/issues/2263.  Waiting to see if there is any additional information here before moving forward.

[2019-11-10 01:44] endiliey commented on #1954
Thanks a lot for the fast response @yyyc514 you are awesome 🙂.

I guess we’ll have to wait until @chenglou reply. I am not experienced with hljs language authoring so I cant comment much.

[2019-11-10 10:07] yyyc514 commented on #1954
Thanks I try. Yes, seems now we wait.

[2019-11-11 19:19] JohnSeals commented on #776
Any update on this? Or do I just have to build my own?

Thanks!

[2019-11-11 19:25] yangshun commented on #776
Just to set expectations, the Docusaurus core team won't be working on this anytime soon. Our priority is getting feature parity with Docusaurus v1.

[2019-11-11 19:34] JohnSeals commented on #776
Thanks for the quick reply @yangshun! So if I need to get local search running now is there a path you recommend? There are several options listed above but none of them seem to be really ready for primetime.

[2019-11-11 19:54] jamiedavenport opened #1960 "Lifecycle API documentation missing getBabelLoader utility function"
## 📚 Documentation

At https://v2.docusaurus.io/docs/lifecycle-apis/#utils, the documentation has `getCacheLoader` twice as arguments passed to `configureWebpack` and `getBabelLoader` is missing.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

I'd be happy to open a PR for this small fix.

[2019-11-11 20:41] lex111 commented on #1960
We look forward to your PR!

[2019-11-12 04:20] nianiaJR opened #1967 "The categories in sidebars.json don't show correctly"
## ❓ Questions and Help
I have mutiple (more than 2) categories in the sidebars.json，it only render the first and the last one in the page，I can't find how to fix online. thanks.

[2019-11-12 04:25] endiliey commented on #1967
Provide producible repo. Which version are u in. Where is ur sidebar file

It looks like you just deleted our lovely crafted [issue template](https://github.com/facebook/docusaurus/issues/new/choose). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or o

[2019-11-12 04:25] #1967 closed

[2019-11-12 06:34] nianiaJR commented on #1967
Thanks I have post this issue in stackoverflow with a reproducible repo: https://stackoverflow.com/questions/58813214/docusaurus-categories-in-sidebars-json-dont-show-correctly

[2019-11-12 06:58] endiliey opened #1969 "tagline and favicon should not be required fields"
## 💥 Proposal

Consider making https://v2.docusaurus.io/docs/docusaurus.config.js#tagline and https://v2.docusaurus.io/docs/docusaurus.config.js#favicon as part of themeConfig and not as required fields

In v1, it has to be required field because a lot of the React components need it and all the UI is locked-in. This is no longer the case in v2, i think its very coupled to theme-classic and this c

[2019-11-12 10:46] lex111 commented on #1960
Resolved in #1970

[2019-11-12 10:46] #1960 closed

[2019-11-12 11:45] krishnanunnir commented on #1969
Can I work on this issue?

[2019-11-12 11:46] endiliey commented on #1969
what do you think of this @yangshun @wgao19 @lex111 ? before we move forward

[2019-11-12 13:34] yechs opened #1971 "Add docs for cross-repo publishing using CircleCI"
## 📚 Documentation

Thanks to #764, we can publish the site to a different repo by setting `projectName` in `docusaurus.config.js` to the destination.

However, this behaves differently on CircleCI. The deployment script reads environment variable `CIRCLE_PROJECT_REPONAME`, which represents the name of the repository of the current project, and overrides the `projectName` configured in `docusaurus

[2019-11-12 13:42] ericcarboni opened #1972 "Update Brand Tagline"
## 💥 Proposal
Per [this comment](https://github.com/facebook/docusaurus/pull/1961#pullrequestreview-315184185) on a recent PR (https://github.com/facebook/docusaurus/pull/1961), I'm proposing we update the main Docusaurus tagline to make it more inclusive for the entire community. While I agree that it is easier to build pages with Docusaurus, the language could make people feel frustrated or isol

[2019-11-12 13:52] yangshun commented on #1972
In D2, we thought of dropping documentation from the tagline, because D2 is now a platform and can be used to build very generic websites, not just documentation.

Some similar taglines for inspiration:

My proposal:

cc @JoelMarcey

[2019-11-12 14:55] ericcarboni commented on #1972
Interesting! What about--

Bolded changes

[2019-11-12 20:58] lex111 commented on #1969
@endiliey I would make favicon a required field, and tagline - optional, but not both of them.

[2019-11-12 21:14] jamiedavenport opened #1973 "[V2] Handle /docs route"
## 🚀 Feature

Currently navigating to `/docs` will result in a not found page being shown (unless `pages/docs/index` exists). I'm proposing that we handle this gracefully by redirecting to the first doc page.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Showing a not found pa

[2019-11-13 03:26] endiliey commented on #1973
Determining the first “docs page” is very heuristic. We allow multiple sidebar or no sidebar at all. How do we know which one is the first doc page ? Do we sort by alphabet ? Or do we sort by first item in sidebar ? If there is sidebar A and sidebar B, which one to choose ? What if user doesnt have a sidebar ? (not all doc site has sidebar)

Some people might want their own custom docs page using

[2019-11-13 03:31] endiliey commented on #1973
Check https://docusaurus.io/ itself

There are Docs and Tutorial Section in headerlinks. Both have different sidebars. If i go to /docs, how do we know which one to choose ?

More problems go even more when versioning and translation came in. Do we go to /docs/en or /docs/ko or /docs/en/next or /docs/en/1.0.0 ?

The best solution is still creating your own “src/pages/docs/index.js” which is very f

[2019-11-13 08:40] lex111 commented on #1973
LGTM, maybe we should even reflect it in docs.

[2019-11-14 03:09] yyyc514 commented on #1954
@chenglou ping.

[2019-11-14 03:38] kenning commented on #1437
@endiliey We've put the site up, you can find it here: https://www.collective.gg/library/welcome/

There's a public github repo where people can make changes, it also has a good README to introduce the game and why it's on github: https://github.com/collectivecardgame/library

[2019-11-14 03:47] endiliey commented on #1437
send pr :) looks great

[2019-11-14 04:03] kenning commented on #1437
oh duh haha

[2019-11-14 15:14] wgao19 commented on #1969
im not sure about favicon, but i agree tagline should be optional.

[2019-11-14 15:59] flaurida opened #1993 "Cannot link directly to doc in sidebar"
## 🐛Cannot link directly to doc in sidebar

I am trying to link to a doc directly in the sidebar per the [v2 documentation](https://v2.docusaurus.io/docs/sidebar#doc).

## To Reproduce

(Write your steps here:)

1. Add doc link in `sidebars.js` code

[code]

2. Run `npm run start`

## Expected behavior

No compile errors, we see the link directly to the doc in the sidebar.

## Actual Behavior

It

[2019-11-14 16:08] endiliey commented on #1993
You can't do that.

First level of a sidebar name `docs` must be category

[code]

We should update the docs or at least do better in the error handling i guess

[2019-11-14 16:14] flaurida commented on #1993
Oh OK, thanks for clarifying!

[2019-11-14 16:14] #1993 closed

[2019-11-14 16:15] endiliey commented on #1993
Thank you. We'll warn it to user better in #1994

[2019-11-14 16:16] flaurida commented on #1993
Appreciate the quick follow up 🎉

[2019-11-14 19:22] lex111 opened #1995 "Dark theme blinks on refresh"
## 🐛 Bug Report

When loading a page with dark mode turned on, a light theme is visible for a while before the previously selected dark theme is applied.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Select dark theme in navbar
1. Reload (F5 or Ctrl + R) any page

## Exp

[2019-11-14 19:29] yangshun commented on #1995
Yeah we're aware of this issue. It's because the theme is only applied after page load, that's why we see the flash. It's a little annoying but possible to fix - gatsbyjs.org doesn't have this issue.

[2019-11-14 19:32] lex111 commented on #1995
A good example where there is no such issue - https://overreacted.io/ (yeah, powered by Gatbsy).

[2019-11-14 20:19] binarylogic commented on #1993
I actually disagree with this behavior. Why can't a category be a page? A side effect of this is that parent URLs don't work. Ex:  `/docs/category/child`, the URL `/docs/category` returns a 404.

Related general URL issues: https://github.com/facebook/docusaurus/issues/1941 and https://github.com/facebook/docusaurus/issues/1973

[2019-11-14 20:23] binarylogic commented on #1973
Re-iterating my comment here: https://github.com/facebook/docusaurus/issues/1941#issuecomment-550393562. I don't know how many people are actually doing this beyond the Docusaurus site. Moreover, it deviates from the URL structure. The navbar is representing top-level categories but the URL structure is not the same. As mentioned in my comment, it would be better to support drop-down items under "

[2019-11-14 20:24] binarylogic commented on #1973
Oh, and as a work around we did the following:

Add a `src/pages/docs.js` file with the following contents:

[code]

[2019-11-15 03:02] endiliey commented on #1995
Try reading this https://github.com/donavon/use-dark-mode/blob/develop/README.md#that-flash

To fix this, we need a setbody hooks to inject script into html body. So that it wont wait till React load to actually enter dark mode

[2019-11-15 22:01] hatzopoulos commented on #776
@JohnSeals

For what it's worth I got @the-darc's fork working for me with some modifications and it didn't take very long.

https://github.com/facebook/docusaurus/issues/776#issuecomment-480805342

[2019-11-16 01:35] JoelMarcey commented on #1972
I am good with something along the lines of the proposals from @yangshun or @ericcarboni

[2019-11-16 01:47] yangshun commented on #1972
I like "Docusaurus helps you to build powerful websites quickly, enabling you to focus on your content". Thoughts? @endiliey @wgao19 @lex111

[2019-11-16 02:58] endiliey commented on #1972
i like “Docusaurus helps you to build powerful websites quickly, enabling you to focus on your content” but after some thinking, what do we mean by “powerful”. Calling website “powerful” sounds weird to me 😆

“maintainable” or “stable” could be right (but the word isnt fancy enough)

how about “effective” or “efficient” 😱😅😅😅🤣🤣

[2019-11-16 02:59] endiliey commented on #1972
long-lasting :)

[2019-11-17 09:36] rbalet opened #2004 "cannot escape character within backtick within a table"
## 🐛 Bug Report
when using backtick within a table, the `pipe` `|` wont be espace by the `backslash` `\`

## To Reproduce
try this code within a docusaurus md file
[code]

## Expected behavior
escaping the `|` when using `\`

## Actual Behavior
Create a new column

[2019-11-17 09:40] yangshun commented on #2004
See here: https://stackoverflow.com/a/49834158/1751946

On Sun, Nov 17, 2019, 1:36 AM Raphaël Balet <notifications@github.com>
wrote:

[2019-11-17 10:22] lex111 opened #2006 "The same CSS files are injected several times when switching pages"
## 🐛 Bug Report

I noticed a strange bug when switching pages (Home -> Docs -> Blog) CSS styles are **duplicated** (re-injected as I understand it correctly).

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Open devtools and focus on styles (body eg)
1. Open Home page (htt

[2019-11-17 11:09] endiliey commented on #2006
Well, it's mostly because of https://github.com/facebook/docusaurus/blob/6204d9a9ec1a64cdbee53ca02c785da3380bf73e/packages/docusaurus-theme-classic/src/theme/Layout/styles.css#L8-L23

First of all, this requires a high level understanding of how webpack works.
The thing is, webpack mini-css-extract-plugin create one css file per js file and then the `splitChunk` try to cleverly take out a common o

[2019-11-17 11:11] endiliey commented on #2006
One solution is to move https://github.com/facebook/docusaurus/blob/6204d9a9ec1a64cdbee53ca02c785da3380bf73e/packages/docusaurus-theme-classic/src/theme/Layout/styles.css#L8-L23 to main bundle.

That's why people nowadays use css-in-js, it has better tree shaking ✌️

[2019-11-17 11:18] yangshun commented on #2006
It's what you said was true, it's weird behavior by webpack though. Reinjecting styles is a bad idea as precedence ordering matters. And I'd assume webpack wouldn't reinject the same style module again if the module has already been loaded before.

Regardless, this issue is probably something to do with webpack.

[2019-11-17 11:18] endiliey commented on #2006
Another solution is to extract all css into single file. But that is not a good idea as well since that means a lot of unused css in certain page. All has pros and cons.

I dont think this should be called as a bug, its not breaking any website. In fact, requesting one css file is better than requesting two files. Its also very small in size. It just happens to be the `body` selector so its notice

[2019-11-17 11:21] endiliey commented on #2006
Regardless, this issue is probably something to do with webpack.

But its actually two different files.

Page a need `a.css`
[code]
Page b need `b.css`
[code]

That's why going from pageA to pageB kinda override the same css.

[2019-11-17 11:22] lex111 commented on #2006
In fact, I am observing such a issue in reusable components.

I have a [Showcase](https://github.com/CanopyTax/single-spa.js.org/blob/master/website/src/components/Showcase/index.js) component that is used on the [home page](https://single-spa.js.org/) and on the [Users page](https://single-spa.js.org/users/).

If I go to the first page first, and why go to the latter and look at devtools, I will

[2019-11-17 11:24] endiliey commented on #2006
Let me put more investigation sometimes next week

[2019-11-17 12:03] endiliey commented on #2006
I did an investigation. So the assumption was right, our best solution could possibly be grouping all the css file only into one file. Otherwise, code-splitting CSS will result all of above.

I just checked Gatsby https://github.com/gatsbyjs/gatsby/blob/67d8b6be93bb4971dadf6aa8e305af2b53560155/packages/gatsby/src/utils/webpack.config.js#L494-L506 and Vuepress https://github.com/vuejs/vuepress/blob

[2019-11-17 12:04] yangshun commented on #2006
Yeah I agree. CSS is usually small in comparison to JS and it's ok to not split it.

[2019-11-17 12:48] #2006 closed

[2019-11-17 13:30] yangshun commented on #1972
I think let's go with something like "optimized websites"?

[2019-11-17 13:36] ayush000 opened #2008 "Links in AUTOGENERATED_TABLE_OF_CONTENTS are not generated correctly"
## 🐛 Bug Report

If `h3` has escaped angle brackets, the hash link generated is incorrect.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Add an escaped HTML tag to an `h3` header

[code]

## Expected behavior

Autogenerated TOC for the above heading should have the followin

[2019-11-17 13:37] ayush000 commented on #2008
I tested on v1.14.0

[2019-11-17 14:43] #1972 closed

[2019-11-18 15:40] JohnSeals commented on #776
@hatzopoulos I tried it here and got it working too. Thanks for the tip and thanks to @the-darc!

[2019-11-18 19:07] #1828 closed

[2019-11-18 19:40] parvezakkas commented on #2004
Actually, this is not a "Docusaurus" bug. It's coming from the remarkable markdown parser. Try your sample markdown here:

https://jonschlinkert.github.io/remarkable/demo/

This is how it is rendered:

![image](https://user-images.githubusercontent.com/2721901/69083957-26ce5680-0a11-11ea-900a-df63b7451399.png)

This issue should be raised in the remarkable repository, if one doesn't exist already:

[2019-11-19 01:42] chenglou commented on #1954
Hello! Sorry for the delay. Yeah you're right; I've checked my grammar and the 'self' might not make sense. I intended it to be recursive (a Reason module can contain another module), but [this line](https://github.com/reasonml-editor/reason-highlightjs/blob/ba65f0409ec5c01479ca2e1560d8b2cbf7a59025/index.js#L321) already does it.

Sorry for the trouble! Closing this issue.

[2019-11-19 01:42] #1954 closed

[2019-11-19 06:19] franc0is commented on #806
For what it's worth, I just tried this in V2 and it works :-).

[2019-11-19 07:14] rbalet commented on #2004
Thx @parvezakkas, the Issues didn't existed before, I open a new one here https://github.com/jonschlinkert/remarkable/issues/368.
I'll post a new comment when it's done on their side (or if it will be).

[2019-11-19 12:42] caiorasc commented on #806
Thanks, I'll try the v2

[2019-11-20 01:31] mbykovskyy opened #2016 "docusaurus-start doesn't work with projects that contain "pages" in their path"
## 🐛 Bug Report

Dev server crashes on file copy of files that contain `pages` in their path.

[code]

`server.js` grabs an incorrect path:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. mkdir -p bug/gitlab-pages
1. cd bug/gitlab-pages
1. npx docusaurus-init
1. cd

[2019-11-20 14:03] JohannesFerner opened #2018 "[v2] multiple docs one Installation"
## 🚀 Multiple docs

currently the docs live in `/docs`.
As we‘re having a quite extensive multi-platform and multi-legislation project, multiple separated docs (a) on path level (b) on folder structure would help us to clearly separate docs-concerns as well as having a workaround until i18n is available.

Samples:
`docs`
`docs-de`
`iOS`
`Android`

## Motivation

- i18n workaround till it’s shipped

[2019-11-20 16:34] endiliey commented on #2004
Upstream bug.

[2019-11-20 16:34] #2004 closed

[2019-11-20 16:35] #2008 closed

[2019-11-20 16:35] #1877 closed

[2019-11-20 16:52] #2016 closed

[2019-11-20 16:56] endiliey commented on #1198
I think this issue is very open ended (errors could always appear at certain place and so on).
Instead of keeping this issue open, we'll gradually accept PRs to enhance the error message better.

We will also try our best to enhance the error experience in v2.

[2019-11-20 16:56] #1198 closed

[2019-11-20 17:00] endiliey commented on #561
We won't do this in v1. But this is doable in v2 by writing your own remark plugins/ rehype plugins to alter the slug. The docs functionality itself is a plugin in v2, so we won't do it in config.

Closing :)

[2019-11-20 17:00] #561 closed

[2019-11-20 18:24] ayush000 opened #2021 "Side navbar (TOC) doesn't display content in escaped angle brackets"
## 🐛 Bug Report

TOC generated in side navbar doesn't honor escaping of angular brackets. Instead all content within angular brackets gets stripped.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Add `### function1 [array\<string>]` as `h3` in a markdown file (note the backs

[2019-11-20 18:25] ayush000 commented on #2021
This is an issue with v1.14.0

[2019-11-20 18:31] yangshun commented on #2021
Try using `&lt;` and `&gt;`? It's rendered as HTML.

[2019-11-21 02:12] ayush000 commented on #2021
Thanks @yangshun ! Using `&lt;` and `&gt;` fixes the problem.

I am keeping the issue open because using angle brackets should also output the same result in both TOC and sidebar nav.

[2019-11-21 05:04] #2021 closed

[2019-11-21 08:15] imbsky commented on #1834
Can I take https://fbinfer.com?

[2019-11-21 11:54] imbsky opened #2025 "@docusaurus/mdx-loader can not parse hr tag"

[2019-11-21 11:54] imbsky commented on #2025
[code]

[2019-11-21 15:06] Diokuz opened #2027 "Docusaurus 2, cleanUrl false and deployment to google cloud"
In the [migration guide](https://v2.docusaurus.io/docs/migrating-from-v1-to-v2) you wrote that cleanUrl option is removed and it is `true` now by default. That means, all urls have no `.html` extension ending. And that is a big problem for us)

The problem, is that our documentation is deploying as a static assets to Google Cloud Storage (https://storage.googleapis.com ...). That means, `clean` re

[2019-11-21 15:17] endiliey commented on #2027
We can't disable it, because its utilizing client side routing.

Create a redirect plugin like this
https://github.com/CanopyTax/single-spa.js.org/blob/master/website/src/plugins/docusaurus-plugin-redirects/src/index.js

https://github.com/CanopyTax/single-spa.js.org/blob/d1a69e197615fce069184b7e1634770db38eefb9/website/docusaurus.config.js#L116-L123

[2019-11-21 15:17] #2027 closed

[2019-11-21 15:20] endiliey commented on #2025
It looks like you just deleted our lovely crafted [issue template](https://github.com/facebook/docusaurus/issues/new/choose). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You need to provide reproducible markdown or repo.
But to

[2019-11-21 15:20] #2025 closed

[2019-11-21 16:17] Diokuz commented on #2027
Thanks! But Im not sure I understand your advice.

I cannot create file `my-document-url` which could redirect to `my-document-url/index.html`, because of two reasons:

1. `my-document-url` directory already exists, and I cannot place file with the same name
2. When I enter `my-document-url/index.html` in the browser, docusaurus replaces the actual content, loaded from server, with `Page Not Found

[2019-11-21 16:31] yangshun commented on #2025
Use `<hr/>` not `<hr>`

[2019-11-21 16:51] endiliey commented on #2027
Aha, seems that I misunderstood you previously.

Re-reading “That happens because my-document-url is not the same object as my-document-url.html, from google's point of view.” made me understand.

Its kinda a weird behavior by google though because usually most sites fallback to html or at least index.html

Hmmm.. Is there any way to redirect in the host u are using ? Such as accessing 404 get red

[2019-11-21 16:58] Diokuz commented on #2027
That is [possible](https://cloud.google.com/storage/docs/hosting-static-website#index-page), but our devops assured us that it is only available for buckets, which have cname. We are using https://storage.googleapis.com/ domain directly, so, looks like in our case it is impossible.

[2019-11-21 17:07] endiliey commented on #2027
Pretty sure there must be a way in which
you need to set a situation such that if a user requests the URL http://www.example.com/directory, it attempts to serve the file www.example.com/directory/index.html.

I dont know much abt google storage apis but its most likely web server configuration issue (?)

On the other hand, it will be nice if we can add cleanUrl false. But its a design decision bac

[2019-11-21 17:09] endiliey commented on #2027
Why not use zeit or netlify or even gh pages. Its a great solution too

[2019-11-21 20:39] imbsky commented on #2025
I'm sorry to delete the template, for example, if you are migrating existing doc to the docusaurus version 2, a certain number of special tags "<hr>" may be used. Also, the error is little unkind. Unless you solve them, the migration can be little difficult.

[2019-11-21 20:40] imbsky commented on #2025
and you can use `---` instead of `<hr />` in Markdown!

[2019-11-21 20:40] imbsky commented on #1834
@yangshun Done!

[2019-11-21 20:47] yangshun commented on #2025
We did mention this specific problem in our migration docs - https://v2.docusaurus.io/docs/migrating-from-v1-to-v2#update-markdown-syntax-to-be-mdx-compatible

[2019-11-21 20:48] imbsky commented on #2025
I didn't even know there was a v2 document... Thank you!

[2019-11-21 20:52] yangshun commented on #2025
No problem. It was in the migration task: https://github.com/facebook/docusaurus/issues/1834

[2019-11-21 20:59] imbsky commented on #2025
By the way, the issue of Infer had been inactive for a long time, so I migrated yesterday. In that case, I want to open a PR, but I don't know the person who manages the website of the Infer. Do you know who I should mention to? Please allow me to understand that you are on a different team. and I already create a preview site. https://github.com/facebook/infer/issues/1171

[2019-11-22 09:20] #1792 closed

[2019-11-22 13:19] SwaroopH opened #2031 "[v2] Colon in title or sidebar_label breaks markdown"
## 🐛 Bug Report

Adding a colon (`:`) to `title` and/or `sidebar_label` content in a markdown document causes an error in v2 - works fine on v1.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
Yes

## To Reproduce

(Write your steps here:)

1. Add a new markdown doc
2. Enter the following

[code]

[2019-11-22 13:23] endiliey commented on #2031
We use https://github.com/jonschlinkert/gray-matter now instead of our own extractheader function and this is more compliance with YAML spec.

You should use single quote string instead. Eg `Lesson EV001: Deploying and Interacting with smart contracts`

[2019-11-22 13:23] #2031 closed

[2019-11-22 13:26] SwaroopH commented on #2031
@endiliey Thank you! I tried escaping `:` but forgot to test the whole title as a string 🤦‍♂

[2019-11-23 04:27] endiliey commented on #1993
See https://github.com/facebook/docusaurus/pull/2032

[2019-11-23 08:04] endiliey commented on #1549
Did this get updated to docs ? @wgao19

I think we need to show its deprecated somehow

[2019-11-23 08:42] endiliey commented on #789
There is no rough estimated timeline, but I guess we're pretty close to beta at least.

If you want to see it shipped faster, try it today https://v2.docusaurus.io/ and give feedback.
You can also contribute by sending pull request, sponsoring us on Open Collective and/or chat with us on [Discord](https://discord.gg/docusaurus). We need help 😉

We don't want to release **unready** version, that's

[2019-11-23 09:08] wgao19 commented on #1549
@endiliey do you mind adding the guide in #2036?

[2019-11-23 09:18] endiliey commented on #1549
I think simply pointing it to this issue for reasoning is more sensible since the conversation above can explain it well.

[2019-11-24 02:53] omry opened #2041 "Deploy should only push if there is an actual change"
## 🚀 Feature

Running yarn deploy pushes the a version to the gh-pages branch even if there are no changes to the website.

## Motivation

Pushing the website even if there are no changes have a few bad side effects:
1. doubling the number of commits in the repo.
2. polluting git log output with irrelevant records
3. possibly increases the size of the repo (as force push it used).

The user can wo

[2019-11-24 07:05] yangshun commented on #1834
@diegowifi, @BrandonPessman, @lzhuor, @sshhdaniella, @Hardik500, @ozgunbal, @AMashoshyna, @ahmadalfy - checking in with you regarding the progress. Let me know if you are blocked so that we can step in to help, or if you're unable to proceed we can free it up for others.

[2019-11-24 07:07] diegowifi commented on #1834
Hi @yangshun I finished the Bowler transition to v2, there is just an issue with the footer, could you help me with that? We could keep this conversation in the discord channel 😄

[2019-11-24 07:11] yangshun commented on #1834
@diegowifi thanks! Please make a PR to the Bowler repo and we can discuss from there

[2019-11-25 07:02] ozgunbal commented on #1834
@yangshun I'm on it. I had given a break due to my other works, but I returned to this subject.

[2019-11-25 11:45] Hardik500 commented on #1834
@yangshun I am currently preparing for my exams. So if you want you can free it for others.

[2019-11-25 18:31] #1928 closed

[2019-11-26 09:57] ozgunbal commented on #1834
@yangshun What's the recent situation of migration in total? I couldn't open the google sheet above due to permission request.

Is there any help needed for another site?

[2019-11-26 16:18] shivangna commented on #1834
^ Seconded, @yangshun it would be great to get access to the google sheet link (I'm running into similar permission issues)

[2019-11-26 16:59] BrandonPessman commented on #1834
@yangshun Feel free to give mine up to someone if you need to. Unfortunately, I've been swamped with projects and studying for finals. I probably won't be able to tackle it for another few weeks.

[2019-11-26 18:16] mesaugat commented on #1834
Can I take https://fasttext.cc/ or https://reason-native.com/ ? @yangshun

[2019-11-26 18:20] yangshun commented on #1834
@mesaugat Reason Native is more actively developed, you can have that.

@BrandonPessman Sure, I'll do that. All the best for finals!

@shivangna Apologies, I have set the right access

[2019-11-26 18:27] yangshun commented on #1834
@ozgunbal would love your help with fbt website if possible 😄

[2019-11-26 18:49] ozgunbal commented on #1834
@yangshun you can assign fbt to me 👍

[2019-11-26 19:17] theaupoulat commented on #1834
Possible to take gulp or fastText ?

[2019-11-26 19:41] yangshun commented on #1834
@ozgunbal done, thank you!

@theaupoulat Sure, how about fastText?

Many thanks guys!

[2019-11-26 19:56] theaupoulat commented on #1834
sure !

[2019-11-27 04:01] hookabidoo commented on #1834
Hi, can I try with gulp please ?

[2019-11-27 14:50] raviy0807 opened #2058 "Slow to load embedded forms(like Microsoft forms) in markdown [v2]"
## 🐛 Bug Report

I am trying to embedded the microsoft forms in markdown pages.
In version 1, the form loading was quick. However, I face issue when embedding form in version 2.

## To Reproduce

(Write your steps here:)

1. Create a Microsoft form
2. Click on share button, it will provide the embedded code
3. Paste the coed in .md file

## Expected behavior

It should load the form quickly.

## A

[2019-11-27 15:30] thanasis00 opened #2059 "Multiple menu items active when using subdirectories in docs"
## 🐛 Bug Report

Using v2 docusaurus.

I have the following tree in the `docs` directory:

[code]
and the following `sidebars.js`:

[code]
Everytime I visit the `start-pages` page, both the `start-pages` and `patterns` menu items inside the sidebar are highlighted as active (have the class `menu__link--active`).

I've been fiddling with the code, but I'm not sure where the check to set the above c

[2019-11-27 16:22] endiliey commented on #2058
Please create reproducible repo, screenshots, and screencast if possible. Not everyone know what is `Create a Microsoft form`.

Creating a minimal repro removes most extraneous moving pieces, improving the signal to noise ratio, enabling the real problem to be seen.

[2019-11-27 17:18] #2059 closed

[2019-11-28 03:34] amimas commented on #2041
To me, this sounds like CI/CD related. I'm not sure if Docusaurus should really be responsible for this (even though it has built-in commands to publish to github pages). There are a lots of ways a static site can be deployed. Github page is just one of many of those options.

My perception is that Docusaurus is a static site generator that helps to build and maintain techincal docs site quickly.

[2019-11-28 03:57] yangshun commented on #2041
I agree with @amimas. It could be a helpful Docusaurus plugin that adds a smart deploy command but then again it's not specific to Docusaurus so maybe it can just be a cli tool?

[2019-11-28 04:05] omry commented on #2041
It looks like docusaurus already owns  this responsibility as evidenced by the the yarn deploy command.

I agree that it would make sense to move this responsibility to a different tool or plugin(s).

[2019-11-28 07:18] #2058 closed

[2019-11-28 07:18] #2018 closed

[2019-11-28 08:01] endiliey commented on #2041
Its not easy to work this out as the new plugin system will let you pull out data sources from elsewhere. Example: I can fetch from a realtime API and so every yarn deploy means I want to use the data from that current time I ran the command.

As suggested, this is indeed CI related and docusaurus should not try to handle everything with such limited manpower.

[2019-11-28 08:02] #2041 closed

[2019-11-28 08:03] endiliey commented on #2041
And yeah, actually yarn deploy to gh pages was there due to legacy reason of v1. In fact it can be moved as a plugin with “extendCli” hooks. But well, maybe something to revisit in future.

[2019-11-28 10:28] iamandrewluca commented on #1437
https://vector.dev/
https://uniforms.tools/

https://github.com/facebook/docusaurus/issues/789#issuecomment-557779238

[2019-11-28 10:37] JohannesFerner commented on #2018
Hey @endiliey
thanks - it works, i just additionally need to strip the /docs for the extra pages that i want to add.
Best,
Johannes

[2019-11-28 15:16] raviy0807 commented on #2058
i was able to resolve by putting the <iframe> syntax inside div in mdx file.

[2019-11-28 15:49] yangshun commented on #2058
Thanks but the repro steps will still be helpful. If it's too hard to add
the steps, maybe add a link to external documentation showing the steps? @_@

On Thu, Nov 28, 2019, 7:16 AM Ravi Yadav <notifications@github.com> wrote:

[2019-11-28 15:56] yangshun commented on #1437
Those are Docusaurus 2 sites and have already been added to the Docusaurus
2 showcase.

On Thu, Nov 28, 2019, 2:28 AM Andrew Luca <notifications@github.com> wrote:

[2019-11-28 21:13] amimas commented on #2027
I ran into a similar situation. I'm currently using V1 of Docusaurus and for deployment I use AWS services (S3 + CloudFront).

The problem is that when the static site assets are deployed to AWS S3 bucket, you'll have to send a request for an exact path of an object (i.e. a file). It doesn't work like a traditional web server where you're automatically redirected to "index.html".

In my case, I've

[2019-11-29 19:05] shivangna commented on #1834
@yangshun can I take logDevice?

[2019-11-29 20:24] yangshun commented on #1834
@hookabidoo Yes sure

@shivangna Go ahead

@Croftyland @ozgunbal @aswathkk @imbsky could you guys PM me your address on Discord (yangshun#8663)? I would like to send out the swag 😎

[2019-11-30 09:31] endiliey commented on #1793
Sorry, but we're not going forward with this.

[2019-11-30 09:31] #1793 closed

[2019-12-01 13:01] #1995 closed

[2019-12-02 02:19] binarylogic opened #2075 "[V2] Custom frontmatter/metadata is no longer available"
## 🐛 Bug Report

Custom frontmatter/metadata defined in markdown files is [no longer accessible](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-theme-classic/src/theme/DocItem/index.js#L66) within the `DocItem` component when it previously was.

It appears [this change](https://github.com/facebook/docusaurus/commit/9829f56b1e3ae790653e8958cc0ac8c7dcf2dc04#diff-cccb3a8017ec5

[2019-12-02 03:33] endiliey commented on #2075
Its not a bug. Its actually a bug that got fixed. Its never been documented anyway that you can access frontmatter through metadata. Even in v1 it will throw error if you add unsupported field.

You should not access frontmatter from metadata. Metadata is something done by plugin.

Example: /docs/guides/hello.md defined with frontmatter id: “hello” will have a metadata.id of “guides/hello”

If you

[2019-12-02 03:38] endiliey commented on #2075
reasoning is here

https://github.com/facebook/docusaurus/pull/1450

[2019-12-02 03:42] endiliey commented on #2075
Its also clear in the link you showed that https://github.com/facebook/docusaurus/blob/8a948102c3e31abcdfd6ee32a8e1d8e4b057c4c4/packages/docusaurus-theme-classic/src/theme/DocItem/index.js#L68 frontmatter is accessible. If only u looked at one line of code below 😅

[2019-12-02 03:42] #2075 closed

[2019-12-02 04:41] binarylogic commented on #2075
Thanks, I must have been using an older version of `DocItem/index.js` because the `frontMatter` definition was not included.

[2019-12-02 04:56] yangshun commented on #2075
@binarylogic We would discourage swizzling components at this point until we reach beta or even 2.0.0 for this very reason. Apologies for the changes.

[2019-12-02 12:46] drnazmulalam opened #2078 "Math Jax integration"
## 📚 Documentation

(Hi, I am writing mathematical equations using Latex, but not rendered properly. I would like to know the way I can write math in the markdown blog or page files and will be displayed on my web pages. )

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(yes)

[2019-12-02 18:20] imbsky commented on #2078
@drnazmulalam

[code]

[code]

[2019-12-03 11:59] rbalet commented on #2004
If somebody is looking for a quick fix. If found [here](https://stackoverflow.com/a/17320389/11135174) this solution.
`| <code>this pipe &#124; should be espace</code> | and this | not |`

[2019-12-03 13:24] endiliey commented on #2078
You’ll have to find a markdown plugin for this. This is out of scope of docusaurus imo.

[2019-12-03 13:24] #2078 closed

[2019-12-03 13:25] endiliey commented on #2078
If you are on v1, you can use katex https://github.com/Khan/KaTeX

They have remarkable-katex plugin which lets u write latex on markdown

[2019-12-03 14:08] FeynmanDNA opened #2082 "V1 Example Page/Index.js ProjectTitle Component Does Not Have Props"
https://github.com/facebook/docusaurus/blob/82ded54b1ae8c88c4aba2da642e8c3b7c90a996a/packages/docusaurus-1.x/examples/basics/pages/en/index.js#L38

I think the `ProjectTitle` component should have a `props` passed to it to be able to read `siteConfig`.

Otherwise this function is misleading (even though it is scoped under the `class HomeSplash`.)

[2019-12-03 14:15] endiliey commented on #2082
Its probably a typo here in https://github.com/facebook/docusaurus/blob/82ded54b1ae8c88c4aba2da642e8c3b7c90a996a/packages/docusaurus-1.x/examples/basics/pages/en/index.js#L65

We can just not pass props to it. Welcoming PR. This doesnt break anything anyway :)

[2019-12-03 16:28] equinusocio opened #2084 "Postcss Configuration"
## 📚 Documentation

Figured out that v2 uses PostCSS under the hood (to use autoprefixer) but the documentation doesn't mention it at all. Is there an official way to configure built-in PostCSS plugins and/or add new plugins? The standard way to do it by adding a `postcss.config.js` file in the project root doesn't work.

### Have you read the [Contributing Guidelines on issues](https://github.com

[2019-12-04 05:51] #2082 closed

[2019-12-05 19:20] davidhagg opened #2090 "Scaffolding a fresh v2 won't compile on windows"
## 🐛 Bug Report

I cannot get a clean fresh scaffolding to work on Windows 10.
Tried using both cmder and powershell

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1.Run
`npx @docusaurus/init@next init payments classic`

2.Then run
`yarn start`

## Expected behavior

The web

[2019-12-05 19:29] yangshun commented on #2090
Will be fixed in https://github.com/facebook/docusaurus/pull/2086

[2019-12-06 01:19] ataft opened #2091 "Image Zoom on Click"
## 🚀 Feature

I created a plugin (https://github.com/ataft/plugin-image-zoom) for zooming in on images when you click them, using the `medium-zoom` module.

I'm afraid that I did this incorrectly and was hoping for someone to either fix it or guide me in the right direction. My goal is to call the MediumZoom module after page loads. I found an undocumented Lifecycle API function called `onRouteUpd

[2019-12-06 04:37] ataft opened #2093 "Incorrect document reference path"
## 🐛 Bug Report

Document references are incorrect when there's a forward slash at the end of the URL. For example, document references in https://learn.flexitanalytics.com/docs/getting-started work, but do NOT work in https://learn.flexitanalytics.com/docs/getting-started/.

It appears that even when I go to https://learn.flexitanalytics.com/docs/getting-started, without the forward slash, that a

[2019-12-06 05:08] endiliey commented on #2093
You are referencing the document wrong. You are using relative url which is very domain provider specific (eg: netlify always append slash at end of url, and it might not).  It just happens that our local dev server doesnt do that appending.

Just checking your markdown. You are doing this

[code]

You are using relative url. Which doesnt even work on GitHub as well. Going to https://github.com/at

[2019-12-06 05:08] #2093 closed

[2019-12-06 05:49] #2090 closed

[2019-12-06 05:49] endiliey commented on #2090
We'll send a release soon. Sorry

[2019-12-06 05:49] ataft commented on #2093
It's not an issue with relative URL. I put an `.md` on all my references and that cleared everything up.

When I first started with Docusaurus, I had an .md on my first reference and it didn't work. I found a few issues (https://github.com/facebook/docusaurus/issues/1137 and https://github.com/facebook/docusaurus/issues/1261) and removed the .md, then it worked. I'm sure the issue was something el

[2019-12-06 07:05] endiliey commented on #2093
Aha, i guess its old v1 bug which should've been fixed.

[2019-12-06 08:53] eugenenelou commented on #1258
Hey did anyone did it on version 1?
remarkable-mermaid is not even on npm and I cannot make it work as is.

[2019-12-06 18:22] equinusocio opened #2097 "v2 Documentation on modifying webpack config"
## 📚 Documentation

This example showed in the v2 documentation ([here](https://v2.docusaurus.io/docs/lifecycle-apis#configurewebpackconfig-isserver-utils)) doesn't work and it throws an error:

[code]

Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: /Users/equinusocio/Repositories/Oval/docus/blog/2019-05-28-hola.md: Identifier 'React' has already been declared (7

[2019-12-06 18:24] brettpalmberg opened #2098 "Example Site in Install Instructions Failing on Windows"
## 🐛 Bug Report

Example site fails to compile on Windows

**SyntaxError: C:\projects\mysite\.docusaurus\registry.js: Octal literal in strict mode (9:103)**

Node Version: 12.13.1

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

I followed the installation instructions here: h

[2019-12-07 02:17] endiliey commented on #2097
Ah.. Of course it wont work. There is no such “my-custom-webpack-loader” ... Its just to indicate that you can add your webpack loader there/ you can modify your config.

But your error seems unrelated though ✌️
Did you import React in blog ⭕️

[2019-12-07 02:40] endiliey commented on #2098
Thanks for reporting. We'll release a fix soon

[2019-12-07 02:52] #2098 closed

[2019-12-07 06:05] endiliey commented on #2084
Please note that this issue tracker is not a help form and this issue will be closed.
If you have questions, please check [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus) or [Discord](https://discord.gg/docusaurus) or [Twitter](https://twitter.com/docusaurus)

But to answer your question, you'll have to modify the config internally with configureWebpack hooks.

[2019-12-07 06:05] #2084 closed

[2019-12-07 06:10] endiliey commented on #2091
Hmm there's many way to do this. And some approach might be more efficient but requires more steps.

Your approach looks quite OK. Another approach is to build a remark plugin that replaces all image with an image component that has medium-zoom attached to it. Another way is to replace the Image component replaced by MDX & add medium-zoom to it, and many many other ways.

I feel this scope is too

[2019-12-07 06:10] #2091 closed

[2019-12-07 07:30] equinusocio commented on #2097
What I posted above is the **example** from the documentation. i just created a project with the classic template and added this:

**plugins/cusotm-webpack-plugin/index.js**

[code]

The first error is: config.**module**.rules.push and not config.**modules**.rules.push like in the example. `config.modules` is undefined. The second error, after fixing this is what i posted above, the duplicated `Re

[2019-12-07 08:14] endiliey commented on #2097
PR welcome :)

[2019-12-07 08:32] equinusocio commented on #2097
Of course, the problem here it's that is not clear which is the correct way to do that. I don't know webpack very well.

[2019-12-07 08:48] endiliey commented on #2097
Hmm ok so you can actually direct modify the config like this

[code]

Or you return a partial config. This one will be merged with [webpack-merge](https://github.com/survivejs/webpack-merge)
[code]

[2019-12-07 08:49] endiliey commented on #2097
Example https://github.com/algolia/docsearch-website/blob/master/plugins/my-loaders/index.js

[2019-12-07 11:27] equinusocio commented on #2097
Ok, as per https://github.com/facebook/docusaurus/issues/2084 should we mention that v2 use postcss under the hood?

[2019-12-09 14:01] equinusocio commented on #2084
The issue is related to the documentation which doesn't tell anything about how to style things.

[2019-12-09 15:09] brettpalmberg commented on #2098
Thank you @endiliey.  I am really enjoying Docusaurus2.

[2019-12-09 16:10] nickmccurdy opened #2107 "Wrong path to sidebars.json in generated readme"
## 🐛 Bug Report

`docusaurus-init` will currently generate a `website/README.md` that references `website/sidebar.json`, which does not exist. It seems like it should be `website/sidebars.json`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. `docusaurus-init`

## Expected

[2019-12-09 16:11] nickmccurdy commented on #2107
I'll submit a PR if someone can please explain how to edit the template for both 1.x and 2.x

[2019-12-09 18:01] yangshun commented on #2107
@nickmccurdy try searching for the string "sidebar.json" in the repo? Alternatively, look at the existing READMEs, identify some distinctive strings in the README and search the repo for that string.

[2019-12-09 18:52] nickmccurdy commented on #2107
I have, but I don't know how to contribute to both 1.x and 2.x. Can I just edit both files, or do I need to be on different branches with multiple pull requests?

[2019-12-09 19:01] yangshun commented on #2107
Just edit in one shot on master :)

[2019-12-09 22:50] nickmccurdy commented on #2107
Seems like it was just 1.x

[2019-12-09 23:57] #2107 closed

[2019-12-10 04:10] FeynmanDNA opened #2109 "[v1] docusaurus-init only generates a website folder with docusaurus-examples"
## 🐛 Bug Report

I tried running `docusaurus-init` and the command only generated a `website` folder without `docs` and others. The generated `website` folder consisted of only a package.json and this line:
[code]
my node version: v13.3.0
my yarn version: 1.19.2

I tried both global docusaurus-init and npx, for npx:
[code]

[2019-12-10 08:39] divinekiatan commented on #448
Any updates on this? I am trying to open the files without hosting.

[2019-12-10 09:23] endiliey commented on #2109
According to this it should run the examples though

https://github.com/facebook/docusaurus/blob/ba7c38cf0fc3e384373e6da4147fb154a939279b/packages/docusaurus-init-1.x/initialize.js#L53-L59

Did it fails in your part ? It worked well for mine 😢
![image](https://user-images.githubusercontent.com/17883920/70516208-3270f100-1b69-11ea-8c13-bbccb23bcd1c.png)

Try running "yarn run examples" manually the

[2019-12-10 10:07] lex111 commented on #2109
<details>
<summary>Details</summary>
npx: установлен 24 в 2.838s
Website folder created!

Installing latest version of Docusaurus in website.

yarn add v1.19.2
warning package.json: No license field
info No lockfile found.
warning No license field
[1/4] Resolving packages...
warning docusaurus > @babel/polyfill > core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due

[2019-12-10 10:11] FeynmanDNA commented on #2109
@endiliey just realized this is very similar to what I encountered

https://github.com/facebook/Docusaurus/issues/1330

[2019-12-10 10:39] endiliey commented on #448
Just for the sake of people who revisit this issue in the future requesting “build artifacts without a web server”, here is my opinion.

I dont think its a good idea to support serving files without a webserver. At least from my point of view it causes lot more problems than bringing benefit.

It got to do with the protocol used to access the files. When you request anything over the web you're us

[2019-12-10 11:06] joeldenning opened #2112 "[v2]: CompLibrary documentation is out of date"
## 📚 Documentation

[The v1 -> v2 migration guide](https://github.com/facebook/docusaurus/blob/55e676cb2544af00c49b5d95d23fb68aca82a7af/website/versioned_docs/version-2.0.0-alpha.37/migrating-from-v1-to-v2.md#pages) says that CompLibrary is removed in v2. But [the docs for v2](https://github.com/facebook/docusaurus/blob/master/docs/api-pages.md) still say you can use them.

Which one is correct?

[2019-12-10 11:34] endiliey commented on #2112
I think you're misconfusing v1 and v2 docs ~.~

https://github.com/facebook/docusaurus/tree/master/website/docs is v2
https://github.com/facebook/docusaurus/blob/master/docs is v1

I believe we have never mentioned thats the v2 docs....
Even v1 and v2 site is different https://docusaurus.io/ https://v2.docusaurus.io/

[2019-12-10 11:34] #2112 closed

[2019-12-10 11:36] joeldenning commented on #2112
Ah I was looking at [the `next` version](https://docusaurus.io/docs/en/next/installation) on https://docusaurus.io! Wasn't on https://v2.docusaurus.info. Thanks for the clarification

[2019-12-11 06:47] saadpasta commented on #1834
Hye @yangshun can I take this one https://frescolib.org/ 😀

[2019-12-11 14:00] ericfourrier commented on #1258
any update on this ?

[2019-12-13 02:59] EvanDarwin opened #2120 "Add Full Support For TypeScript"
## 🚀 Feature

The ability to run docusaurus in a TypeScript environment

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

I would personally like to see this because myself and likely others prefer TypeScript to writing pure Node.js, and I believe it is a relatively small change.

[2019-12-13 08:05] andriijas opened #2121 "Navbar line break in create react app docusaurus site"
## 🐛 Bug Report

There's a strange styling bug, potentially from infima that makes the header on the docusaurus site for create react app line break in Safari (no other browser).

I tried to reproduce it on other sites without success.

I tried to fix it naively in https://github.com/facebook/create-react-app/pull/7831  but that would cause other issues as described in the comments.

## To Reprodu

[2019-12-13 23:24] yangshun opened #2123 "bug(v1): Old docs remain in the gh-pages branch"
## 🐛 Bug Report

The page "Converting Mutations" was removed from the docs but it still shows up in the Algolia results (search for mutation) can still publicly accessible at https://relay.dev/docs/en/converting-mutations.

~I suspect the deploy command is doing a merge with the existing files in the `gh-pages` branch and not removing the old files which no longer exist.~

Update: That's not the r

[2019-12-14 03:21] endiliey commented on #2123
Its not a bug. Its already by design. I have mentioned it so many times until I got bored that v1 versioning fallback functionality is like this 😂😂. Thats why I have been advocating the v2 snapshot versioning so many times.

Imagine that this is your first new site. We have two docs, `foo/bar.md` and `hello.md`
![image](https://user-images.githubusercontent.com/17883920/70111156-fd096680-1683-11ea

[2019-12-14 04:12] endiliey commented on #2123
Another scenario is https://relay.dev/docs/en/classic-guides-containers

and
https://relay.dev/docs/en/v7.0.0/classic-guides-containers

Relay-classic docs will always remain to every future version.

This is already by design, and the fix is definitely a major breaking change. Why not migrate relay to v2 ? Although It has languages enabled, it only enable 1 language which is english 😱

[2019-12-14 04:12] #2123 closed

[2019-12-14 04:59] yangshun commented on #2123
Oh hmm. Shouldn't the fallback only kick in if it can't find the docs in the current versioned_docs folder? The versioned_sidebar should be the source of truth for a version.

[2019-12-14 05:28] endiliey commented on #2123
Not every docs is bounded to a sidebar.

Even https://single-spa.js.org/docs/faq/ intentionally dont want a sidebar.

I can find lot of other cases like this.
Its by design, and unfortunately I am not the designer of the fallback functionality

[2019-12-14 05:31] endiliey commented on #2123
Babel for example has a lot of it

The high level docs is here https://babeljs.io/docs/en/7.0.0/plugins

and a lot of the ad-hoc docs is not bound to a sidebar (intentionally)
https://babeljs.io/docs/en/7.0.0/babel-plugin-transform-member-expression-literals

[2019-12-15 09:53] endiliey commented on #2120
Can you be more specific ? I think you didnt mean the node.js file, but rather the "web" js file as in `website/pages/index.tsx` instead of `website/pages/index.js` right ?

[2019-12-15 15:33] EvanDarwin commented on #2120
Correct, the actual React JSX templates.

On Sun, Dec 15, 2019 at 1:53 AM Endi <notifications@github.com> wrote:

[2019-12-15 18:46] EvanDarwin commented on #2120
I would additionally like to have the capability to support loading a `siteConfig.ts` file. It would allow for the possibility to have both a type-checked `siteConfig` export, and look something like this:

[code]

I'm going to start working on an example pull request.

[2019-12-15 20:21] 18dew commented on #1258
Nope i dont think so any one has writen any code over this yet ...

[2019-12-16 20:38] elharony commented on #2121
We can fix it by removing `flex: 1 0 0;` from `.navbar .navbar__items`. Not sure where to contribute it! 🤔

[2019-12-17 01:58] binarylogic opened #2131 "The `Redirect` component does not respond with a 3XX"
## 🐛 Bug Report

We've followed the advice described [here](https://v2.docusaurus.io/docs/docusaurus-core/#redirect) for redirects, and the problem with this approach is that crawlers do not recognize this as a redirect since the server responds with a `200`. I could be wrong, but this negatively affects how the site is indexed for search engines.

### Have you read the [Contributing Guidelines on

[2019-12-17 02:01] yangshun commented on #2131
Unfortunately this is a client-side redirect and I don't think we can set the HTTP response on the client side. Your best bet would be to configure it on the server, which I don't think GitHub pages supports. If you use Netlify for hosting, you can add a `_redirects` file (https://docs.netlify.com/routing/redirects/), which will give the correct HTTP code.

[2019-12-17 02:04] binarylogic commented on #2131
Thanks! We'll go with the netlify approach.

[2019-12-17 02:05] #2131 closed

[2019-12-17 07:40] saibonala opened #2133 "If a file name ends with html.md, server could not load the URL"
## 🐛 Bug Report

If a file name ends with html.md, the server could not load the URL. It is throwing an error
Cannot read property '1' of null at /docusaurus/lib/server/server.js:251:24

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Create a file with html.md in the docu

[2019-12-17 15:31] binarylogic opened #2134 "[v2] Sitemap contains links that result in 302s"
## 🐛 Bug Report

Hi. This isn't necessarily a bug report, but it is typically bad SEO practice for the sitemap to contain redirects. This is due to the fact that the URLs contained do not end with a `/`. This is a wider spread problem with linking in general across docusaurus, so I'm curious to hear what you think.

### Have you read the [Contributing Guidelines on issues](https://github.com/faceb

[2019-12-17 16:43] BobLamarley commented on #2097
How does this work, i've done the same as you :
Added plugins/my-loaders folder as dependencies
![image](https://user-images.githubusercontent.com/7857364/71015730-6792bb80-20f4-11ea-869d-c13ff9cdd81d.png)
Then, write my plugins/my-loaders/index.js content :
![image](https://user-images.githubusercontent.com/7857364/71015874-97da5a00-20f4-11ea-9289-e7e5bef56976.png)
Then 'npm start'
![image](https

[2019-12-18 05:13] ajmichels opened #2137 "Docker container fails to run. docusaurus-start not found"
## 🐛 Bug Report

I followed the steps described in the documentation for the "Installation" and "Docker" pages. When I attempt to run the container either using the standard Docker method or the Docker Compose method I am given an error about the `docusaurus-start` command not being found.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master

[2019-12-18 05:26] ajmichels commented on #2137
I started from scratch and it turns out the problem had something to do with how I had initialized docusaurus. I had done so from within an intermediate docker container and this somehow went wrong. When I started from the beginning and ran `npx docusaurus-init` from my host machine things seem to be working now.

However, I am getting the following warnings when running the docker build command.

[2019-12-18 05:26] #2137 closed

[2019-12-21 07:12] veeral-patel opened #2140 "Speed of getting started is truly remarkable (no action needed)"
Hi - I didn't have a feature request but wanted to thank you for creating this tool!

In particular, it really only takes 15-20 minutes to go from "sketch in my mind for a documentation site" to a fully functioning, nice looking documentation site that has the features I need (header/sidebar customization, search, ability to add/remove landing page). And that's the first time using the tool!

Plea

[2019-12-21 07:34] yangshun commented on #2140
Hey @veeral-patel thank you for the kind words! That's our aim - to get you started really quickly. Try out Docusaurus 2, which provides even more customizability.

For future reference, you could also tweet at us at [@docusaurus](https://twitter.com/docusaurus) to give feedback! 😄

[2019-12-21 10:26] lex111 commented on #2134
I think it depends more on the static site hosting provider. Or __maybe not__, because without trailing slash, this is about working with client navigation, so we really can safely add a slash at the end of the links.

[2019-12-21 18:37] veeral-patel commented on #2140
@yangshun actually, if you don't mind me asking, how can I enable a dark theme toggle on my documentation site?

I found it on your personal site here: https://yangshun.im/
As well as in this GitHub issue: https://github.com/facebook/docusaurus/issues/1995

I'm using Docusaurus 1 btw but I'm open to upgrading if necessary.

[2019-12-21 23:12] yangshun commented on #2140
It's a Docusaurus 2-only feature

On Sun, Dec 22, 2019, 2:37 AM Veeral Patel <notifications@github.com> wrote:

[2019-12-22 03:11] yangshun opened #2141 "Certain CSS styles not loading in Docusaurus 2"
## 🐛 Bug Report

Certain CSS modules styles are not loading. E.g. the theme toggle, the navbar styles.

This is caused by `style-loader@1.1.0` https://github.com/webpack-contrib/style-loader/issues/445 which causes overriding of the styles if the name of the CSS module files are the same.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/

[2019-12-22 06:42] #2140 closed

[2019-12-22 08:20] endiliey commented on #2141
style loader is only used in dev though. This affect prod as well ?

https://github.com/facebook/docusaurus/blob/8b26d92a397dea5cf41ceb6e54fa609f47c37a64/packages/docusaurus/src/webpack/utils.ts#L39

[2019-12-22 19:30] popuguytheparrot opened #2143 "Header position bug"
## 🐛 Bug Report

Header position fixed break side nav panel

![image](https://user-images.githubusercontent.com/19804652/71326332-3c500800-250a-11ea-9b02-d46065f8a3dc.png)

## To Reproduce

(Write your steps here:)

1. npx @docusaurus/init@next init docs classic
2. yarn start
3. on site go to Docs

## Expected behavior

Header position fixed break side nav panel

## Actual Behavior

Header positio

[2019-12-23 04:19] bravo-kernel commented on #2141
I can confirm that this is only happening locally, the Netlify preview shows as expected

[2019-12-23 04:20] bravo-kernel commented on #2143
@endiliey this is another side-effect of the other effects of https://github.com/facebook/docusaurus/issues/2141. Also only local.

[2019-12-23 07:31] popuguytheparrot commented on #2143
@endiliey same in gitpod
![image](https://user-images.githubusercontent.com/19804652/71342964-58d25b80-256f-11ea-90a9-85c77b2bb6fc.png)

[2019-12-23 08:36] Jafar-Khoshtabiat opened #2144 "highlighting swift code"
## 🐛 Bug Report

I have swift code in markdown. I mean something like this:

[code]

opened in vcode, vcode highlights this code correctly. but when rendered with docusaurus, it doesn't get highlighted and shows all the code in one color. same for ruby and objective-c code.
because markdown understands swift code, I thought it could be some issue in docusaurus.

how to produce:

write a markdown t

[2019-12-23 13:11] rayronvictor commented on #2141
Running `yarn run build` works as expected

[2019-12-23 19:27] EvanDarwin commented on #2120
Is there any documentation about how to set up a Docusaurus 2.x project? It is hard to test my changes when it is loading `docusaurus` instead of `@docusaurus/core`.

[2019-12-25 04:20] endiliey commented on #2144
Which docusaurus version are you in.

Please send a reproducible repo or at least actual working markdown example with proper language meta. https://componentkit.org/docs/composite-components is using objecive-c and properly highlighted.

[2019-12-25 04:20] #2144 closed

[2019-12-25 04:25] endiliey commented on #2134
Its because we're using client side navigation and during HTML rendering phase, it will render `/test` as `/text/index.html`.

However, depending on site hosting provider, it could request `/test/index.html` or `/test.html` when accessing `/test` for first page load (before client nav takes over)`.

Its a hard call to be honest :( not sure whats the best approach

[2019-12-25 05:06] #2141 closed

[2019-12-25 05:06] #2143 closed

[2019-12-26 13:27] bravo-kernel commented on #1879
Closing this request based on received feedback; will not be implemented as swizzling the code block is a proper alternative.

[2019-12-26 15:21] yangshun opened #2149 "[v2] theme syntax highlighting doesn't display properly on initial render"
Reported by @endiliey:

![bug](https://user-images.githubusercontent.com/17883920/71468093-73b70100-27f7-11ea-899c-c91e8d279421.gif)

[2019-12-26 16:35] rayronvictor opened #2151 "[V2] Configure multiple docs"
## ❓ Questions and Help

Is it possible to configure multiple documentation routes?

My motivation is that I need a doc route for 'Guidelines', another for 'API Documentation' and so on.

I'm trying to configure multiple `@docusaurus/plugin-content-docs` plugins but this error occur:

`Identifier 'React' has already been declared (21:133)`

My config:
[code]

[2019-12-26 17:29] #2151 closed

[2019-12-26 17:30] rayronvictor commented on #2151
I found that the v2 documentation has a topic about this.

[2019-12-27 05:37] #2149 closed

[2019-12-27 08:11] matmalkowski opened #2152 "[v2] Add support for MDX scoped components in live preview"
## 🚀 Feature
I'm trying to use v2 live code editor with MDX files, and seems like the context of MDX is not passed to the `LivePreview` component. I had a quick glance at the `docusaurus-theme-live-codeblock` and it seems like it could do something like described in here: https://www.christopherbiscardi.com/post/using-mdx-scope-in-react-live-scope/

Is this something we could add to the theme?

##

[2019-12-27 14:36] endiliey commented on #2152
PR welcome

[2019-12-27 15:13] matmalkowski commented on #2152
Great, will try taking a look 👍

[2019-12-27 18:49] matmalkowski commented on #2152
So, had a look into codebase, and seems like its bit bigger than I anticipated. The mentioned solution from the blog doesn't work, since `LiveProvider` requires passing actual modules into the scope, as in the docs:
[code]

{mdx} scope doesn't contains those by default, so it doesn't work I guess.

I found that gatsby-mdx did the global scope as configuration in the plugin, maybe this should be a

[2019-12-29 08:38] #2097 closed

[2019-12-29 13:35] Kimi-Gao opened #2157 "[V2] Parse error occur when heading contains `<` in mdx"
## 🐛 Bug Report

My docs site has broken since `2.0.0-alpha.40`, if the heading(h1, h2, ...) contains `<`, `<=` in mdx , it will break when run `yarn build` but it works fine in the development environment.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Add this line in m

[2019-12-29 19:45] bravo-kernel opened #2159 "[v2] Proposal: set custom_edit_url to 'null' to disable `Edit this Page` button"
Proposing this feature after approval for filing by @yangshun.

### Proposal

Add a frontmatter boolean to allow **per-page disabling** of the `Edit this Page` button. E.g.

[code]

### Why?

It's not always possible to generate a correct `custom_edit_url` like in this real-life example from the Pester website

1. additional markdown is  generated from a remote source
2. for these pages the global

[2019-12-30 02:24] endiliey commented on #2159
Since its a frontmatter and UI stuff. You can already do it without touching the docs plugin. Swizzle out the docpage component, if frontmatter is “set”, just hide it.

[2019-12-30 02:28] yangshun commented on #2159
I just thought of something - What if we use a convention of setting `custom_edit_url: null` to hide the edit URL? That would be much less work and we can reuse the existing front matter.

[2019-12-30 03:15] endiliey commented on #2159
yeah null works well too. Try to avoid modifying docs plugin

[2019-12-30 06:07] arnohovhannisyan opened #2164 "[v2] Prefetching Invalid Script"
## 🐛 Bug Report

After loading the page on a production build, a `prefetch` link is made to an invalid script called `1be78505.undefined.js`, which causes an error since it doesn't exist.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Navigate [here][prod] **or** build [t

[2019-12-30 10:03] bravo-kernel commented on #2159
Thanks for thinking about this. I would personally prefer to NOT use swizzling for this and make this (the `null` suggestion) a core feature. This way we can benefit of future releases without any changes.

I will ask for a PR, thanks ❤️

[2019-12-30 10:04] endiliey commented on #2164
fix will only come after new year. Most likely happening only in prod because of extra webpack optimization step that removes chunks that are too small, hence undefined contenthash. “webpackchunknames.contentHash.js”

Many options to fix this, with one of it just filtering out all those undefined prefetched links.

[2019-12-30 14:00] endiliey commented on #2159
PR welcome.

[2019-12-31 14:49] chmelevskij commented on #1258
With the current version it's pretty straightforward to integrate:
[code]
Then in init simply
[code]
Usage:
[code]

[2020-01-01 08:32] endiliey commented on #2157
Alpha40 introduced a html parser that validates HTML.

Adding https://github.com/facebook/docusaurus/blob/428e087eb7324374b367215d84006a44c7fad89a/packages/docusaurus/src/client/serverEntry.js#L87

[code]
will let it the build pass, but its quite weird that this shows as parse error. Any help is appreciated 😉

Maybe previously we're never HTML spec compliant

[2020-01-01 10:45] #2159 closed

[2020-01-01 10:49] #2164 closed

[2020-01-02 13:39] yangshun opened #2175 "bug(v2): search bar loses focus after clicking on it after initial load"
## 🐛 Bug Report

On a side note, loading the JS + style when user clicks on the search bar causes a re-render and the focus is lost. It has happened to me a few times on laptop but I didn't know why. But because of this PR I tried the search bar on mobile and it became very obvious what is happening.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/

[2020-01-02 13:42] yangshun opened #2176 "bug(v2): site loads dark theme if dark theme exists in localStorage even when disableDarkTheme is true"
## 🐛 Bug Report

Website loads dark theme if dark theme exists in `localStorage` even when `disableDarkTheme` is `true`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Set `themeConfig.disableDarkTheme: true` in `docusaurus.config.js`
1. Run `localStorage.theme = 'dark'`

[2020-01-03 02:06] dima opened #2182 "Extra padding/white space in Safari on some pages (v2)"
## 🐛 Bug Report

In Safari on Mac OS X some v2 pages render with extra padding below the footer. This is not the case in Chrome on the same OS.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

Navigate to https://v2.docusaurus.io/showcase/ and scroll down. Same problem can be

[2020-01-03 02:57] #2176 closed

[2020-01-03 18:15] codemonkey800 commented on #458
It looks like there hasn't been any progress on this issue. I'll spend some time this weekend and see if I can get a POC working 😃

[2020-01-03 21:48] satazor opened #2185 "External link in sidebar causes react warning"
## 🐛 Bug Report

Adding a menu item of type `link` with an external `href` causes the following react warning:

<img width="1112" alt="Screenshot 2020-01-03 at 21 41 53" src="https://user-images.githubusercontent.com/1017236/71750939-dcdeea00-2e71-11ea-9762-67cecf2bf937.png">

It looks that the culprit is in here https://github.com/facebook/docusaurus/blob/master/packages/docusaurus/src/client/exp

[2020-01-04 11:06] divyanshu-rawat commented on #2175
@yangshun I can work on this what do you say?

[2020-01-04 12:39] yangshun commented on #2175
@divyanshu-rawat I've started working on this in #2178 but it still doesn't work on mobile so this task cannot be closed. Since you wanna work on it, I'll merge #2178 and you can try to make it work on mobile as a continuation.

[2020-01-04 14:37] cybulskimateusz commented on #2175
Hey, iI'd love to try to fix it if it's no closed yet

[2020-01-04 19:09] #2185 closed

[2020-01-05 12:16] bravo-kernel opened #2190 "Problem using direct links (live/prod only)"
### Intro

It "looks like" there is a bug in production with direct links/routing(?).

- only occurs on live/production sites
- no errors when running locally using yarn start
- also, all pages used as examples below work fine when accessing them through the site (start at landing page, then click-through using menu of in-site links)

### Reproducable Error A

1. Browse to https://pester.dev/docs/

[2020-01-06 03:41] wcauchois commented on #1549
Would it be possible to add some more instructions to the blurb at https://v2.docusaurus.io/docs/migrating-from-v1-to-v2/#remove-autogenerated_table_of_contents? It directed me to this issue but it's unclear to me how to add remark-toc to my "remarkPlugins" configuration (that's not in the default docosaurus.config.js - where do I put that key?) or use it. Any simple explanation or pointer to a si

[2020-01-06 15:13] Victorkangsh commented on #2190
Same error, the version is 2.0.0-alpha.40.

[2020-01-06 15:45] markerikson commented on #2190
Hmmm.  Agreed that something is definitely going on with that RTK link, but it seems like only a few pages are being affected.  I also tried it with a few Redux core docs pages like https://redux.js.org/api/combinereducers , and they seem to work okay.

If I open that link, I do see the left sidebar very briefly, and then it hides itself.

[2020-01-06 17:35] codemonkey800 commented on #458
Alright, I made some decent progress. I'm currently experimenting with using the Webpack`offline-plugin`. I was able to get both the server and client Webpack configs to compile, but there's an issue with the generated service worker.

I just got back from vacation so I should have more time to look into it this week. I'll update if I encounter any blockers or if I make significant progress 😄

[2020-01-06 18:25] JoelMarcey commented on #458
@codemonkey800 Thank you so much for taking the lead on this.

[2020-01-06 19:56] EvanLovely commented on #2120
https://v2.docusaurus.io/docs/migrating-from-v1-to-v2

I'd love this too BTW!

[2020-01-06 21:22] codemonkey800 opened #2192 "Lint TypeScript files"
## 🐛 Bug Report

I'm not sure if this was intentional or not, but I noticed that the `lint` command is not even running on TypeScript files:
https://github.com/facebook/docusaurus/blob/188b150503294279f3fef42e1b5257cd8815ad65/package.json#L21

It's also not being ran in staging:
https://github.com/facebook/docusaurus/blob/188b150503294279f3fef42e1b5257cd8815ad65/package.json#L67-L76

Running `esli

[2020-01-06 21:23] codemonkey800 commented on #2192
I would love to create a PR eventually, but if anyone more familiar with the codebase or with more bandwidth could look into this, it would be wonderful 😄

[2020-01-06 23:56] callil opened #2193 "allow docsUrl in v2"
Looks like `docsUrl` is no longer supported in v2. Would love to be able to have more control over how these pages are presented.

My use-case: I have two top level areas called Guides and Docs within my sidebars. I would like to have the urls be `my-site.com/docs` and `my-site.com/guides` - right now each have to be pre-pended with `docs/docs/` or `docs/guides/`.

[2020-01-08 01:46] wgao19 commented on #2193
it is supported in docs config field `routeBasePath`

[code]

[2020-01-08 03:01] yangshun commented on #2193
Yeah what @wgao19 said. See the migration guide here - https://v2.docusaurus.io/docs/migrating-from-v1-to-v2#customdocspath-docsurl-editurl-enableupdateby-enableupdatetime

[2020-01-08 03:01] #2193 closed

[2020-01-08 03:32] trustyoo86 opened #2198 "Problem using nodejs 8.9.4 & npm 5.6.0"
## 💥 Proposal

Update documentation in getting started > installation.
My node version is 8.9.4, npm version is 5.6.0.
When I run command `docusaurus-init` in my environment, there is no `doc` folder, and only package.json file in the website folder.

So, Looks like it need to modify documentation.
It is run well in over node.js 9.0 version.

Thank you ✋

### Have you read the [Contributing Guidel

[2020-01-08 10:23] Tarektouati commented on #2133
@endiliey Can I work on this?

[2020-01-08 10:43] yangshun commented on #2133
Yes go ahead.

[2020-01-08 15:08] #2175 closed

[2020-01-08 17:16] jamesgeorge007 opened #2199 "[CLI]: 🔔Notify users if they're using an older version"
[update-notifier](https://www.npmjs.com/package/update-notifier) serves the purpose here. As from the tagline, `Inform users of your package of updates in a non-intrusive way`.

[2020-01-08 23:10] littlespex opened #2200 "[V2] SVG url in custom CSS throws a webpack build error"
## 🐛 Bug Report

When using an image url in the custom CSS file, webpack throws an error.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Create a new project via `npx @docusaurus/init@next init testsite classic`
1. Add an image to the `static/img/` folder
[logo-white.svg.

[2020-01-09 11:05] lex111 commented on #2200
@littlespex you need to use the absolute path (starting from `static`), by analogy as in [here](https://github.com/smashgg/developer-portal/blob/master/website/static/css/custom.css#L66).

[2020-01-09 18:10] littlespex commented on #2200
That worked. Thx!

[2020-01-09 18:10] #2200 closed

[2020-01-10 06:51] nikhilaravi commented on #1059
+1

[2020-01-10 07:08] SleepWalker commented on #2120
@endiliey it would be even better to be able to import `typescript`/`flow-type` from `mdx` files. Is such a feature acceptable?

[2020-01-10 21:45] jmcshane opened #2203 "Blog Recent Posts button has inconsistent behavior"
## 🐛 Bug Report

A blog post ends with a recent posts link that should behave the same as the header bar link to the top five most recent posts.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Write your steps here:)

1. Add blog configuration
1. Write blog post
1. Go to the

[2020-01-11 05:19] #2203 closed

[2020-01-11 08:05] bravo-kernel commented on #2190
## Root Cause Found

1. only pages with mixed-case frontmatter `id` field are affected by this problem
2. the built/live/production site lowercases URL

## Help Needed

I am no pro, especially when it comes to the server side of Docusaurus. Hopefully this is enough information for someone to chip in and help solve this problem ❤️

[2020-01-11 17:50] scottilee opened #2206 "Non-English Tutorial Section Images Render Markup"
## 🐛 Bug Report

Images in the tutorial section of https://docusaurus.io display larger and with markup `{.docImage}` if viewed in any language other than English.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

(Write your steps here:)

1. Navigate to https://docusaurus.io/

[2020-01-12 15:03] yangshun commented on #2133
Actually I can't even reproduce this issue. Can you give more detailed repro instructions?

[2020-01-13 05:29] ramakrishnan3 opened #2212 "[V2] | Build Fails on Server build | (undefined) API is not available in this browser."
## 🐛 Bug Report

Error: Sorry, the Vimeo Player API is not available in this browser.

This works well in the dev mode but the build throws an error.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?Yes

I am trying to import and use a React component in the .mdx files in the docs folder.

abc.mdx
im

[2020-01-13 05:35] yangshun commented on #2212
Probably the video component is non-compatible with server-side rendering because it uses browser-specific APIs (e.g. window), which isn't available on the server. This is not specific to Docusaurus. You could try to only render the component in a browser environment by doing

{typeof window  !== 'undefined' && <MyVideoComponent/>}

[2020-01-13 06:13] elviswolcott commented on #1238
Adding here because it is what came up when I searched for "admonitions" + "docusaurus 2".

I just upgraded a project to v2 and realized that meant remark instead of remarkable, so I wrote a remark plugin that does the same thing as `remarkable-admonitions` but for remark called `remark-admonitions`. It has styles that work with Infima as well.

https://github.com/elviswolcott/remark-admonitions

[2020-01-13 06:29] yangshun commented on #1238
Thanks @elviswolcott! We will want to incorporate it into theme-classic as part of the core offering. Would you have time to look into it? Otherwise we will add this to our backlog.

[2020-01-13 12:25] Tarektouati commented on #2206
Can I work on this?

[2020-01-13 13:34] glecetre opened #2213 "Files in node_modules are parsed on build"
## 🐛 Bug Report

When running the command `npm run build`, files in the `node_modules` folder are checked by the engine.

This creates a lot of unnecessary overhead and logs many errors in the console like so:

There also are some errors logged from the fixture files for the tests:

And some errors with BABEL, still in the node_modules folder:

### Have you read the [Contributing Guidelines on iss

[2020-01-13 16:05] elviswolcott commented on #1238
I'll try to get a PR together when I have some time later today/tomorrow.

I might be rewriting a bit of the plugin first because it's currently doing some overly complex stuff to parse SVG strings into MDAST so that everything can happen in a tokenizer when it should really be a tokenizer + a handler.

[2020-01-13 16:40] elviswolcott commented on #1238
@yangshun I've been poking around `theme-classic` a bit and I'm not quite sure where my package would fit in.

It looks like mdx/webpack setup should be handled by a plugin and styles by a theme. Is this the right path forwards?

[2020-01-13 16:55] yangshun commented on #1238
You're right. I think we just need to add your plugin to `preset-classic`, not the theme.

[2020-01-13 18:04] edwandr commented on #2157
After investigation i think it was related to the way EJS template was written : by using an escaped HTML tag instead of unescaped (cf https://github.com/tj/ejs#features) the build passed with a special character in title.

I've created a [pull request](https://github.com/facebook/docusaurus/pull/2214), @endiliey do you think it's a good solution ?

[2020-01-14 08:26] scottilee commented on #2206
@Tarektouati Of course, just assign it to yourself and provide updates here.

[2020-01-14 09:24] yangshun commented on #2206
@Tarektouati go ahead

[2020-01-14 09:45] glecetre commented on #2213
I realized this is due to the .gitignore file so I updated the bug description.

[2020-01-14 14:13] sarunast commented on #2120
I managed to get it work with TSX. Here is the example from my project:
https://github.com/sarunast/german-grammar/blob/master/webpackConfigPlugin/index.js

After that, you load it as a plugin. I guess it would be best if someone could create an actual plugin package.

[2020-01-15 03:02] brendanzab opened #2215 "Folding sections in code blocks"
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Sometimes it's nice to be able to fold away irrelevant sections in a full code example, so that you can focus on the important parts.

## Pitch

For example, i

[2020-01-15 03:05] brendanzab commented on #2215
I tried posting this [on Canny](https://docusaurus-2.netlify.com/feedback), but I ran into an error:

<details>
  <summary>Screenshot</summary>
<img width="306" alt="Screen Shot 2020-01-15 at 2 03 47 pm" src="https://user-images.githubusercontent.com/695077/72401415-0bc55c00-37a0-11ea-934b-14dd33e3f5c2.png">
</details>

[2020-01-15 04:36] gyl-coder opened #2217 "Does the picture support magnification?"
## ❓ Questions and Help

Does the picture support magnification?

[2020-01-15 05:18] wgao19 commented on #2217
if I understand this correctly, you may be thinking about zooming image on click, as similarly as #2091

as [replied by endi](https://github.com/facebook/docusaurus/issues/2091#issuecomment-562818757) this is recommended to be implemented as a plugin instead of a Docusaurus feature

[2020-01-15 05:26] #2217 closed

[2020-01-15 06:25] gyl-coder commented on #2217
@wgao19 Thanks，this is exactly what i want.

[2020-01-16 02:33] elviswolcott commented on #1238
I've got the plugin added through `preset-classic` but am not quite sure the best way to go about adding the styles.

[2020-01-16 02:54] markerikson opened #2220 "[V2] Change mobile theme button behavior to enable page heading TOC"
## 🚀 Feature

The Docusaurus v2 mobile theme does not currently implement a way to view the in-page headings TOC that appears in the right sidebar in the desktop theme.

**I propose altering the v2 mobile button behavior to consolidate all page nav link access from the upper-left hamburger button, and convert the lower-right floating button to showing the page headings TOC instead**.

#### Have yo

[2020-01-16 04:45] elviswolcott commented on #1238
Figured it out. Turns out `require`ing from scoped package in `client-modules.js` doesn't work (not completely sure why). I'll publish a new version of the package with the styles and open a PR with the necessary docusaurus changes tomorrow after some testing.

[2020-01-16 06:25] robinzimmermann opened #2222 "Active link in navbar loses highlight when you click on sidebar items (v2 only)"
## 🐛 Bug Report

This bug applies to v2. v1 seems to work correctly.

When you click a link in the navbar and the page renders, the navbar item is highlighted so the user has context to what area they are in. That highlight will disappear when you click around the sidebar, unless you click on the first link in the sidebar.

### Have you read the [Contributing Guidelines on issues](https://github.c

[2020-01-16 08:42] ramakrishnan3 commented on #2212
@yangshun Agreed. But I am using what you have suggested already in my code https://github.com/ramakrishnan3/ducusaurus-bug-report/blob/master/docs/doc2.mdx but it does not work.

[2020-01-16 10:49] FeynmanDNA commented on #2109
i reinstalled node (https://github.com/nodesource/distributions/blob/master/README.md), and now when i run `npx docusaurus-init` the generated files contain all the specified ones like the online guide said. i will close this issue.

[2020-01-16 10:49] #2109 closed

[2020-01-16 12:40] saibonala commented on #2133
@yangshun, You can reproduce the issue by naming your md file with just 'html' (eg. html.md). It should not prefix with any other string.

[2020-01-16 12:42] yangshun commented on #2133
@saibonala I've tried it. I wasn't able to reproduce it. What does "Open html.md with the docusaurus server" mean? Could you provide a URL for us to try? The repro instructions are not clear.

[2020-01-16 18:36] cmfcmf commented on #776
I have created a plugin for Docusaurus v2.0.0-alpha.40 that enables local search using [lunr.js](https://github.com/olivernn/lunr.js). The source is at https://github.com/cmfcmf/docusaurus-search-local
and you can try it live at https://cmfcmf.github.io/OpenWeatherMap-PHP-API.

If you have any feedback or issues, feel free to open an issue in my repository. It is a bit barebones right now, but see

[2020-01-16 21:09] tomrav commented on #776
@cmfcmf I just integrated your plugin to my v2 project, works out-of-the-box and as expected - AWESOME. Sadly it's on a closed system, so I can't show off.

Thank you for sharing!

[2020-01-16 21:13] JoelMarcey commented on #776
I can't wait to try this out!

cc @yangshun @jordwalke

[2020-01-16 23:53] rcline commented on #776
@cmfcmf You are my hero!  I was just about to do this and found you had just posted this solution only an hour earlier!! ❤️

Tested it out and works great! 🎉

[2020-01-17 06:58] saibonala commented on #2133
I mean to say after creating html.md file, open it with URL http://localhost:3000/html.md. This gives the mentioned error.

[2020-01-17 07:01] yangshun commented on #2133
But creating an `html.md` file does not allow you to access http://localhost:3000/html.md. That's not Docusaurus-intended behavior, so an error is acceptable. Creating a file `docs/html.md` will create a route at `docs/html/`.

This is not a bug.

[2020-01-17 07:01] #2133 closed

[2020-01-17 07:06] saibonala commented on #2133
We have a route like '/learn/app-development/widgets/basic/html'. When we access with localhost:3000, it is giving error. What is the problem with this route?

[2020-01-17 07:15] yangshun commented on #2133
Please provide an *repro with clear instructions*. The best repro would be your current repo. Many things could go wrong:

- There's a misunderstanding of how Docusaurus works
- `siteConfig.js` was misconfigured
- `sidebars.json` was misconfigured

I'm not able to help unless you give clearer steps.

[2020-01-17 07:20] saibonala commented on #2133
Repo URL: https://github.com/wavemaker/docs
FilePath: /learn/app-development/widgets/basic/html

[2020-01-17 10:53] gyl-coder opened #2223 "Document directory structure goes to the bottom （v2 only）"
## 🐛 Bug Report

![image](https://user-images.githubusercontent.com/33021341/72606731-13306500-395a-11ea-8052-299a69de660f.png)

I added a table to the document，but the table is too wide.

Document directory structure should be on the right，but now it  ran to the bottom.

Is there any way to solve it？

[2020-01-17 19:21] elviswolcott commented on #1238
#2224 is up to add admonitions!

[2020-01-17 23:08] jordwalke commented on #776
Very cool @tomrav

[2020-01-18 04:42] EvanDarwin commented on #2120
@sarunast Your PR looks great, and is a simple change like I imagined.

@SleepWalker I think you will want to make a separate issue for Flow support, if that's what you're looking to do.

[2020-01-18 12:38] DmitryOlkhovoi opened #2228 "Typo in docs"
In the example code under https://v2.docusaurus.io/docs/lifecycle-apis#utils section, there is a typo in webpack configuration.

`config.modules.rules.push` -> `config.module.rules.push`

[2020-01-18 13:33] bravo-kernel commented on #2228
Seems valid based on the webpack documentation.

https://webpack.js.org/configuration/module/#modulerules

[2020-01-18 16:39] DmitryOlkhovoi commented on #2228
`.module` not `.moduleS`

[2020-01-18 16:40] DmitryOlkhovoi commented on #2228
[code]

[2020-01-18 17:19] bravo-kernel commented on #2228
@DmitryOlkhovoi exactly but.... why not just put in a PR ?

[2020-01-18 19:53] lex111 commented on #2228
@DmitryOlkhovoi thanks, fixed in https://github.com/facebook/docusaurus/commit/f2137bb872b5ec54b7118b7046cdc88613f7fef6

[2020-01-18 19:53] #2228 closed

[2020-01-18 20:02] bravo-kernel commented on #2228
👍🏼

[2020-01-18 21:35] elviswolcott commented on #2215
I have built something like this before in Docusaurus v1, I can take a tool at itif it's something the maintainers think is worth having as a core feature.

[2020-01-19 13:52] cmfcmf opened #2229 "[v2] 404.html routePath does not include siteConfig.baseUrl"
## 🐛 Bug Report

The `routesPaths` parameter passed to the `postBuild` lifecycle event contains the wrong path to the `404.html` file if you have a `baseUrl` configured in `docusaurus.config.js`.

This results in wrong data generated by plugins that access the `routesPaths` parameter. An example is the sitemap plugin, which generates an invalid sitemap entry.

### Have you read the [Contributing G

[2020-01-20 02:55] #2120 closed

[2020-01-20 10:15] lex111 commented on #2190
1. This redirect does your hosting provider. Accordingly, this is not a D2 problem.
2. Use URL with trailing slash only.

When you go to direct links, Docusaurus does not manage this (redirects, trailing slashes), this is a static site, so the requested URL is important here, these problems depends on hosting platforms you use.

Try installing this package locally https://www.npmjs.com/package/ser

[2020-01-20 10:18] bravo-kernel commented on #2190
Thanks for explaining this @lex111, I will invest the time to get make this clear/learn.

It would be great if this is indeed a hosting issue (Netlify in this case).

[2020-01-20 10:21] bravo-kernel commented on #2190
:scream: https://community.netlify.com/t/my-url-paths-are-forced-into-lowercase/1659

[2020-01-20 11:09] bravo-kernel commented on #2190
@lex111 thank you for helping us out here ❤️. Looking at this I guess the only real solution for Netlify users would be using **lowercase ids**.

I will do some testing and if I can confirm, will propose a documentation PR advizing users to use lowercase ids to prevent issues with e.g. Netflify.

[2020-01-20 12:09] krillboi opened #2230 "Internet Explorer 11 support is poor with Docusaurus V2"
## 🐛 Bug Report

Navigating to v2.docusaurus.io using Internet Explorer 11 (in my case version 11.1565.16299.0) does not yield good results. I first discovered this about a week ago where doing so would yield a semi-broken site (not being able to open sidebar categories, many visual elements not displaying correctly etc.) but trying it just now, I actually just get a bunch of HTML displayed instea

[2020-01-20 13:13] krillboi opened #2231 "v2.docusaurus.io flashes raw HTML before loading site correctly when using Chrome"
## 🐛 Bug Report

Opening v2.docusaurus.io in Chrome (currently I'm using version 78.0.3904.97) gives me some weird flash of raw HTML before the site is loaded correctly. See my gif below. Might be related to another issue I've recently reported: #2230.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)

[2020-01-20 13:20] cmfcmf commented on #2230
I tested this as well; the IE developer console shows that IE chokes on `Object.assign`, which it does not support.

[2020-01-20 14:59] yangshun commented on #2231
You're right. The preview for that PR has this issue too. I'll revert it.

[2020-01-20 15:44] lex111 commented on #2215
I do not think that this feature should be included in core of D2. After all, you can create a plugin and enable it on demand, right?

[2020-01-20 15:52] lex111 commented on #2190
@bravo-kernel although maybe this is still a D2 problem, since our blog entry looks similar - https://v2.docusaurus.io/blog/2018/04/30/How-I-Converted-Profilo-To-Docusaurus -> https://v2.docusaurus.io/blog/2018/04/30/how-i-converted-profilo-to-docusaurus/ (redirect by Netlify)

And it works OK. I will try to do something with this, in the end we need to "simple" bring back the doc sidebar. But my

[2020-01-20 15:54] lex111 commented on #2192
@codemonkey800 PR would be great, especially since we already have TS support https://github.com/facebook/docusaurus/pull/2221

[2020-01-20 18:03] #2231 closed

[2020-01-21 08:10] krillboi commented on #2230
Fast response, thanks for that! :)

I can see that IE now is up again (probably after #2231 was fixed), though it is back in the "semi-broken" state I described earlier, so I'd say the support for the browser is still not great:

![docusaurus_ie_support](https://user-images.githubusercontent.com/59022282/72786421-d4d2c880-3c2d-11ea-9119-b5996478585a.PNG)

[2020-01-21 08:57] ramiel opened #2234 "Custom react components and versioning"
## 🐛 Bug Report

I can include react component in MDX files by referring to them with relative imports

[code]

But when I create a new version of the docs with `docusaurus docs:version` the reference is lost. Is there a way to use absolute imports instead?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-is

[2020-01-21 09:11] yangshun commented on #2234
Yep, it's mentioned in the docs - https://v2.docusaurus.io/docs/versioning#use-absolute-import-within-the-docs

[2020-01-21 09:11] #2234 closed

[2020-01-21 09:12] ramiel commented on #2234
Perfect. Sorry, I dug into the website before asking and somehow I missed it!

[2020-01-21 09:28] lex111 commented on #2230
@krillboi Unfortunately, it is unlikely that D2 will have full support for IE11, it is already a very outdated browser. Therefore, either use a modern browser, or use D1.

[2020-01-21 11:41] krillboi commented on #2230
@lex111 Thanks for the info :)

[2020-01-21 17:49] lex111 commented on #2190
@bravo-kernel I have created PR https://github.com/facebook/docusaurus/pull/2235. This patch should show the doc sidebar when going to the wrong URL path.

[2020-01-21 21:47] lex111 commented on #2222
@robinzimmermann That's right, in the config website D2 for the [Docs link](https://github.com/facebook/docusaurus/blob/master/website/docusaurus.config.js#L96), the URL is specified as `docs/`introduction, not `docs/`, so this is the correct behavior. We use React Router for nav bar, so from the point of view of this router, these are different paths and therefore the link should not be highlight

[2020-01-22 00:56] #2157 closed

[2020-01-22 01:00] #2229 closed

[2020-01-23 20:56] braco commented on #2078
@endiliey and how about for 2.0?

[2020-01-24 05:32] yangshun commented on #2078
In v2 you can add your own plugins to do this, so definitely not in v2.

[2020-01-24 18:20] robinzimmermann commented on #2222
Thanks @lex111

That leads me to ask:

1. This is different behavior than Docusaurus v1, where the navbar item stayed highlighted. Is it intended that this is not backward compatible? Or do I have a misconfiguration?

1. Is there a way to get the same behavior as v1? If a user lands on any of the documentation pages, for example, I'd like the **Documentation** navbar item to be highlighted so the

[2020-01-24 21:16] lex111 commented on #2222
@robinzimmermann fair enough! I did the PR https://github.com/facebook/docusaurus/pull/2243

[2020-01-24 21:58] robinzimmermann commented on #2222
That's great, @lex111, thank you very much. I look forward to trying it in the next release!

[2020-01-24 21:58] robinzimmermann commented on #2222
(Oh, what's the process: should I close this ticket?)

[2020-01-24 23:09] lex111 commented on #2222
@robinzimmermann no, this issue will automatically close after accepting the PR.

[2020-01-25 13:34] Ir1d commented on #2078
Hi @yangshun ,
I don't think there's support for remark + mathjax.
I tried to use `remark-math` for remark + katex, and added js and css of katex in docusaurus.config.js, but it doesn't render the proper math formulas. Any hint on this?

<details>
<summary>Details</summary>
presets: [
    [
      '@docusaurus/preset-classic',
      {
        docs: {
          sidebarPath: require.resolve('./sideba

[2020-01-25 22:36] davodey commented on #2212
@yangshun I've been hacking away at v2 and ran into something similar, and after several days it didn't dawn on me to do this.  This fixed the issue I had, and now I can go out for a beer :) cheers!

[2020-01-26 15:42] lelouch77 commented on #776
I create a offline search component using lunr.. Check it out ..
https://github.com/lelouch77/docusurus-lunr-search

[2020-01-26 15:42] lelouch77 commented on #466
I create a offline search component using lunr.. Check it out ..
https://github.com/lelouch77/docusurus-lunr-search

[2020-01-27 17:49] yangshun opened #2244 "bug(v2): unable to build site when swizzling components (when src/theme/NotFound.js is present)"
## 🐛 Bug Report

If a user swizzles `NotFound.js` as `src/theme/NotFound.js`, `yarn build` will fail.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Use this [branch](https://github.com/facebook/docusaurus/tree/repro-2244/website-build-fail)
1. In `website-build-fail`, ru

[2020-01-27 20:04] prma85 opened #2245 "Custom css file cannot read png and svg files"
## 🐛 Bug Report

Webpack cannot pass `PNG` and `SVG` files when they are called inside of a `CSS` file

## To Reproduce

(Write your steps here:)

1. Create a folder src/img and add any svg file or png file
2. Open your custom css files defined in the docusaurus.config.js --> presets --> @docusaurus/preset-classic --> theme --> customCss
3. Add the image as background to any class

## Expected beh

[2020-01-27 21:47] lex111 commented on #2245
@prma85 please see [this comment](https://github.com/facebook/docusaurus/issues/2200#issuecomment-572511917), images should be in `static/img` directory.

[2020-01-27 21:53] prma85 commented on #2245
Thank you @lex111
I tried to get it from static folder, but I got exactly the same error.
`background: url("../../static/img/github-brands.svg");`

[code]

[2020-01-27 22:07] lex111 commented on #2245
You specify the wrong path, it should be like this: `background: url("/img/github-brands.svg");`

[2020-01-27 22:23] lex111 commented on #2244
@yangshun are you sure that this error is due to the NotFound component? The fact is that v2 uses its own NotFound component and the website is building without errors

https://github.com/facebook/docusaurus/blob/master/website/src/theme/NotFound.js

[2020-01-27 22:45] prma85 commented on #2245
Oh, right, my bad. This actually worked, but I needed to add the `/hub.docs/` in the URL as it is my baseURL
Thank you @lex111 ;)

If you don't mind to answer two more questions, not related, I will really appreciate it.
1 - Is there a way in the config.js to select a different logo for when the website is dark? Or should I do it in the CSS?

2 - For v1, I had a custom script for the `window.addEv

[2020-01-27 23:28] prma85 opened #2247 "When using "window.addEventListener" the build fails for server side"
## 🐛 Bug Report

When building the doc website, the build is failing for the server if there is a use for the `window` since it doesn't exist in the server.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1. Create a custom page

[2020-01-27 23:57] lex111 commented on #2245
This is not provided in the config file, but you can easily do it through CSS, here is an example - https://github.com/smashgg/developer-portal/blob/master/website/static/css/custom.css#L66-L65

Try wrap the desired piece of code in `useEffect` hook.

[2020-01-28 00:00] lex111 commented on #2247
<details>
 <summary>Use `useEffect` hook like this</summary>

[code]

</details>

[2020-01-28 00:22] yangshun commented on #2244
@lex111 yes, I can't confirm whether only NotFound triggers this error but I can confirm swizzling NotFound will cause it. I'll try with swizzling other components as well.

I'm aware of that, hence I'm puzzled. Maybe using the npm version of Docusaurus has some subtle differences than using the monorepo's version.

[2020-01-28 00:24] yangshun commented on #2247
There's no `window` on the server, naturally it will fail. You should add some checks before running the code, e.g.:

[code]

Anyway what @lex111 said is right, you should put it within a `useEffect()`. If you put it directly in the main render path, events will be added on every call of the function and that's unlikely what you want. You will end up with too many even listeners.

[2020-01-28 00:24] #2247 closed

[2020-01-28 00:39] prma85 commented on #2247
Thanks @yangshun and @lex111
I tried it with the check but I still got the failing. I will try the use effect.

[2020-01-28 01:48] prma85 commented on #2245
This doesn't work since I need this script to be executed in all docs pages (MD files).

Is possible to override the react wrap page that renders the MD files?

[2020-01-28 02:52] yangshun commented on #78
This can be done with plugins now. Users can create their own pages programatically.

[2020-01-28 02:52] #78 closed

[2020-01-28 03:05] lex111 commented on #2245
You can to swizzle the DocPage component and put the necessary script there. @yangshun although there may be another option?

[2020-01-28 03:19] yangshun commented on #2245
Yeah I think swizzling is the only option for now. I have thoughts for exposing the original components under `@theme-original/...` so that swizzled components can still access the original component if they only want to wrap it. WDYT?

[2020-01-28 10:22] lex111 commented on #2245
@yangshun this is an interesting idea, although I do not really imagine how it should work.

[2020-01-28 11:05] xp4ck commented on #638
Just wondering if there is any progress? Maybe somebody works on creating a plugin for integrating OpenAPI schemas:) ?

[2020-01-28 13:09] yangshun commented on #2244
I can confirm that this breaks for all swizzled components, not just `src/theme/NotFound`. I tried with `src/theme/Footer` as well.

[2020-01-28 13:24] yangshun commented on #2244
⚠️ However, I also tried with a fresh `npx @docusaurus/init@next` installation but was not able to reproduce the issue. This is super weird.

[2020-01-28 20:53] prma85 commented on #2247
Didn't work with the `useEffect` since it gives me the same error when building. Even with the `if (typeof window !== 'undefined') {`

Doing the code in an external js file and loading it in the config inside of the `scripts` did the job 👍
The only additional thing was since there is no `window.onload` when changing between pages, I needed to extend the pushState to fire an event that I could chec

[2020-01-28 22:06] prma85 commented on #2245
The css doesn't work since the logo configuration adds an img element and not the background of the link. With this code, I ended up with two images, one as background and one as the img element. The solution was to add the css to the link and a display none for the img.

Doing the `yarn swizzle @docusaurus/theme-classic DocPage` and adding an `useEffect(addFeedbackBtn, [location.pathname]);` solv

[2020-01-28 22:06] #2245 closed

[2020-01-29 01:04] yangshun commented on #2247
You need to use both useEffect() AND the window check within it.

On Wed, Jan 29, 2020, 4:53 AM Paulo Andrade <notifications@github.com>
wrote:

[2020-01-29 05:44] prma85 commented on #2247
Oh yeah, I mean, I did it, but I got an error from server build, but since it is minified I am assuming that the error came from the same file. BTW, is there a way to build without minification? Like `docusaurus build --development`?

[2020-01-29 07:07] terrafrost opened #2252 "[v2] in-line css doesn't work for HTML tags"
## 🐛 Bug Report

In-line CSS doesn't work for HTML tags. It works in Docusaurus v1 but not v2.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Create demo.md with the following contents:

[code]

## Expected behavior

I'd expect the page, complete with the nav, to render - see see "hello w

[2020-01-29 07:55] yangshun commented on #2252
Docusaurus 2 uses MDX, so the HTML tags are JSX, and you should define them as

[code]

instead.

We probably should document this better.

[2020-01-30 21:26] ShrijanaCodes commented on #638
Hi, is there any update to this proposal? Are there any resources on best practices for documenting APIs using Docusaurus?

[2020-01-31 00:02] jartuso opened #2258 "Publish-gh-pages script fails -- error: git clone failed"
## 🐛 Bug Report

When trying to publish changes to our github pages hosted site, the npm run publish-gh-pages step fails with the following error code (full output from powershell attached)

generate.js triggered...
feed.js triggered...
feed.js triggered...
sitemap.js triggered...
Site built successfully. Generated files in 'build' folder.
7ce717117293691c87678f7b3cc7fbe015e946de
fatal: Too many a

[2020-01-31 06:23] sivakon commented on #2078
@Ir1d Could you please highlight where you managed to keep those plugin list in v2 docusaurus?

[2020-01-31 06:26] Ir1d commented on #2078
[update]: `remark-math` + `rehype-mathjax` also works. Thank you.
@sivakon https://github.com/Ir1d/oi-wiki-ng/blob/docusaurus/docusaurus.config.js#L84

[2020-01-31 08:27] sivakon commented on #2078
@Ir1d I get this error

[code]

[2020-01-31 08:52] Ir1d commented on #2078
@sivakon Im not developing that branch any more. And I'm not familiar with this error msg

[2020-01-31 16:44] niccord opened #2260 "Multilevel sidebar"
## 🚀 Feature

Add multilevel in the sidebar with more than the current two levels, so, for example, you can have:
-- Advance Guide
---- Main topic 01
------ generic part of topic 01
------ specific part of topic 01
---- Main topic 02
------ generic part of topic 02
------ specific part of topic 02

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob

[2020-01-31 16:51] yangshun commented on #2260
I believe this is supported? Just not documented. You can try adding more categories recursively like in [this file](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-docs/src/__tests__/__fixtures__/sidebars/sidebars-category.js).

Not sure why it wasn't documented. @lex111 do you have any context on this?

[2020-01-31 20:15] niccord commented on #2260
I have tried with sub-categories but it allows me to add only 1 level depth.
Is that feature available in another package or out-of-the-box on v1?
How do I enable it?

[2020-02-01 02:13] yangshun commented on #2260
Oh I was talking about v2. It's not supported in v1 and won't be. Please
use v2 instead

On Sat, Feb 1, 2020, 4:15 AM Nicola Cordioli <notifications@github.com>
wrote:

[2020-02-01 09:30] yanzhiwei147 commented on #776
Great! @endiliey Can we merge it into v2.

[2020-02-02 15:01] lex111 commented on #2252
Solved in https://github.com/facebook/docusaurus/pull/2257

[2020-02-02 15:01] #2252 closed

[2020-02-02 15:03] lex111 commented on #2198
PR is welcome :hand:

[2020-02-02 16:05] trustyoo86 commented on #2198
Thx, I'll fix `getting started` documentation typo from `Node >=8` to `Node >=9`, And Pull request. Thank you!! 👍

[2020-02-02 16:07] yangshun commented on #2198
We will support Node >=10, not Node 9. Anyway let's only close this after the PR is merged.

[2020-02-02 16:09] trustyoo86 commented on #2198
Okay. I understand. (compatible for current Node.js LTS versions)
Thank you ✋

[2020-02-02 19:48] JoelMarcey commented on #776
@yanzhiwei147 Endi [passed away](https://docusaurus.io/blog/2020/01/07/tribute-to-endi) last month 😔

@yangshun - is this something to be merged into v2?

[2020-02-02 20:25] #2198 closed

[2020-02-02 20:40] niccord commented on #2260
The v2 is still on alpha, that's why I used v1

[2020-02-03 01:09] yangshun commented on #776
I don't think we'll make this a core of v2 especially since we don't own the code. It could be left as a community-supported plugin.

[2020-02-03 04:45] da-kami commented on #2223
This also happens for wide code-blocks. In my opinion Docusaurus should add a scroll-bar to wide objects instead of breaking the design.

[2020-02-03 05:57] lex111 commented on #2223
This will be fixed in PR #224, please be patient. cc @yangshun

[2020-02-04 07:20] prasathsekar opened #2265 "Need collapsible dropdown inside markdown file"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus)

I have tried the following code:

<details>
<summary>
<i>Like this? </

[2020-02-04 07:41] LogicEveryWhere commented on #2258
same issue with identical environment

[2020-02-04 12:01] arnaud4d opened #2266 "Translated sidebar no longer translated once versioned"
## 🐛 Bug Report

Sidebar is properly translated through i18n folder json files. But a versioned sidebar does not show its existing translations, despites version ids are added to both json files and versioned markdown files.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1.

[2020-02-04 20:23] Tarektouati commented on #2206
@yangshun  Hey! I have been trying to reproduce the same bug as in the issue with multiple translations.
Sadly, I couldn't reproduce it, if not maybe it's the crowdin translated files could be buggy.
Thanks

[2020-02-04 21:43] LogicEveryWhere commented on #2258
Temporary solution!!
file ```website/node_modules/docusaurus/lib/publish-gh-pages.js```
line 20: ```const GIT_USER = process.env.GIT_USER.trim();```

just trim git user

[2020-02-05 13:27] phimage commented on #2266
Maybe the passed reference directory is not correct here
https://github.com/facebook/docusaurus/blob/a5996829efe759083be1689c349e13ef04f6806b/packages/docusaurus-1.x/lib/write-translations.js#L106

and must be replaced by something like that
[code]

[2020-02-05 15:59] yangshun opened #2267 "MLH Fellowship 2020 Ideas List"
*Note that all the projects listed here are targeting Docusaurus 2.*

### New Themes and Theme Gallery

**Difficulty**:  Medium

**Description**:  Docusaurus 2 introduces the concepts of themes and we have created an entirely new [CSS framework](https://facebookincubator.github.io/infima/) from scratch based on Docusaurus 1's theme. Some users will want to use their own CSS, for e.g. Bootstrap. He

[2020-02-05 17:48] focaaby opened #2268 "[v2] (undefined) ReferenceError: command is not defined at MDXContent"
## 🐛 Bug Report

It can not be built in Server stage.

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. Run the command `npx @docusaurus/init@next init my-website classic`.
1. Modify the config and add the markdown files.
1. Run the build command `npm build`

## Expe

[2020-02-05 19:08] tkdrahn opened #2269 "[v2] Navbar Dropdown Menu"
## 🚀 Feature

It would be nice to have the ability to configure a header/navbar item that turns into a dropdown menu.  This would allow quick navigation to multiple pages under one header item without taking up the entire horizontal navBar.  It could function much that way the "Language" dropdown looks, and would be configured in siteConfig.js

## Have you read the [Contributing Guidelines on issu

[2020-02-05 19:08] esvyridov opened #2270 "Allow to pass the copyright property as a function."
## 💥 Proposal
Copyright is a common place where we usually put a current year. If a site was built before New Year then after New Year the site still has an old year. To update the year a developer should rebuild the site. We could do that by allowing to put function or string to the **copyright** property.

For example if we take a look at home CRA page (02/06/20) we see 2019.

![image](https://u

[2020-02-05 20:02] reflectively commented on #969
Would love to see this feature!

[2020-02-06 00:06] ataft commented on #1257
I see that versioning has been added to Docusaurus v2 now (https://v2.docusaurus.io/docs/versioning). However, it doesn't appear that this issue has been addressed.

Should this issue be re-opened?

[2020-02-06 03:00] markerikson opened #2271 "[V2] Potential code block improvements"
## 🚀 Feature

v2 code blocks currently have the ability to highlight specific line numbers, like this:

[code]

However, highlighting lines based on line numbers is somewhat difficult to use.

The `gatsby-remark-prismjs` plugin has the ability to highlight individual lines by putting a `// highlight-next-line` comment in front, or [highlight ranges of lines](https://www.gatsbyjs.org/packages/gatsb

[2020-02-06 03:31] focaaby commented on #2268
Thanks for @lex111 !

[2020-02-06 03:31] #2268 closed

[2020-02-06 12:21] mgnfcnt opened #2272 "ERR_FILE_NOT_FOUND While Creating Docusaurus Files"
I am using Docusaurus to create documentation.
To create static files using below command.

     npm run build

But there is a problem in build directory. It is adding source as following:

    <script src="/styles.1c10c9f3.js"></script>

    <script src="/runtime~main.936f7875.js"></script>

    <script src="/main.5d1426ac.js"></script>

    <script src="/common.46a79f08.js"></script>

    <scrip

[2020-02-06 12:26] yangshun commented on #2272
You cannot double click the file to open the webpage. You have to spin up a web server to do that. Try https://stackoverflow.com/questions/17351016/set-up-python-simplehttpserver-on-windows

[2020-02-06 12:27] #2272 closed

[2020-02-06 12:30] mgnfcnt commented on #2272
https://v2.docusaurus.io/docs/installation#build

I want to create static html files so that I can publish them github pages(enterprise one).

[2020-02-06 12:32] yangshun commented on #2272
Yeah but you need a web server to host your files. You're opening the files on your local machine via the file:// protocol which wouldn't work here.

[2020-02-06 12:40] mgnfcnt commented on #2272
@yangshun I am trying to add this into existing project. How I can run both one?

[2020-02-06 12:44] yangshun commented on #2272
This question has nothing to do with Docusaurus, it arises from some misunderstanding of how the web works. I've linked you to a Stack Overflow post. In addition to the link above, check out https://stackoverflow.com/questions/38497334/how-to-run-html-file-on-localhost or if you have further questions, ask on Stack Overflow.

[2020-02-06 13:09] esvyridov commented on #2121
@andriijas Hi. I found a solution how we could make it looks like in Chrome. Does it look good to you? If so I'll do a PR for CRA
![image](https://user-images.githubusercontent.com/46542370/73939610-e63cf580-48fa-11ea-8e0b-4df5b35713d7.png)

[2020-02-06 13:23] andriijas commented on #2121
@esvyridov If you have better fix than this: https://github.com/facebook/create-react-app/pull/7831    - yeah!   Thanks!

[2020-02-06 15:13] esvyridov commented on #2121
@andriijas pr is ready - https://github.com/facebook/create-react-app/pull/8437

[2020-02-06 15:32] equinusocio opened #2273 "[v2] add a way to exclude components from SSR within JSX"
## 🚀 Feature

Add a way to exclude components from SSR in JSX. Maybe somethin like `<NoSSR></NoSSR>`.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?
yes

## Motivation

Right now, each time we use a react lib that doesn't support SSR we have to put this check `{typeof window !== 'undefined' && ....

[2020-02-06 17:15] andriijas commented on #2121
Okay lets get that in for now. The underlaying CSS framework of docusaurus isn't open source I think. Hopefully will get notified from this issue if it changes :D

[2020-02-06 22:02] pfongkye opened #2274 "Copying build assets failed when trying to deploy"
## 🐛 Bug Report

When trying to deploy a freshly built website on GitHub pages, I'm getting an error when the `deploy` script tried to copy `server.bundle.js` file to destination folder.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Environment

Windows 10

## To Reproduce

1. Follow ins

[2020-02-07 13:45] tioback commented on #305
In case you're not using languages, this isn't exactly a fix, but a workaround, so create a `languages.js` file on the project's website folder with the following content:

```module.exports = []```

[2020-02-07 17:12] prma85 commented on #2244
I am using it in my doc website (a custom NotFound.js) where the docusaurus is in the root of my repo and it works just fine. Before, when I had my `website` folder, I had the same issue.

[2020-02-07 17:16] tioback opened #2275 "User Showcase broken link on init template"
## 🐛 Bug Report

On a freshly created website, The "Add Your Company" button points to a broken link, resulting in a `404` error.

This is due to an supposedly optional `repoUrl` property inside `siteConfig.js` which is used to create the link.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes,

[2020-02-07 17:17] prma85 commented on #2258
This is what I have been using in azure and works just fine
[code]

Running it directly from my machine (windows 10) also worked without errors.

I hope it helps :)

[2020-02-07 17:19] tioback commented on #2275
I believe a proper fix would be changing `docusaurus-init` to create `users.js` a bit differently.

Instead of this:

[code]

Do something like this:

[code]

[2020-02-07 18:06] prma85 opened #2276 "Cannot use useEffect hook inside of a custom page (v2 only)"
## 🐛 Bug Report

When creating custom pages inside of `src/pages/something.js` I am not able to use the `useEffect` hook there.

I can use other hooks like `useBaseUrl` and `useRef` but the `useEffect` creates an error of `Error: Invalid hook call`

## To Reproduce

1. Create a custom page
1. Add the useEffect hook
1. Set a menu to access it
1. See the error in the console

## Expected behavior

T

[2020-02-07 20:28] lex111 commented on #2276
This is not a Docusaurus bug - you cannot call a hook (useBaseUrl) **inside** another hook (useEffect), this is described in the hook rules here -> https://reactjs.org/docs/hooks-rules.html#only-call-hooks-from-react-functions

[2020-02-07 20:41] tioback opened #2277 "Blog's Footer links point to invalid URLs (404 error)"
## 🐛 Bug Report

On a freshly created website, all local links at the footer of the Blog page are broken. The supposedly same links section works just fine at the main page.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I did.

## To Reproduce

Presuming linux, node, blc and docusaurus (v1.

[2020-02-07 20:44] tioback commented on #2277
A workaround for this bug is to create a `languages.js` file on the website root folder that exports an empty array, something like this:

[code]

It's ugly, but it works.

[2020-02-07 20:50] prma85 commented on #2276
I was thinking of the `useBaseUrl` as a function and not a hook. Good catch @lex111
Thank you :)

[2020-02-07 20:50] #2276 closed

[2020-02-08 11:44] #2223 closed

[2020-02-09 06:25] elviswolcott commented on #2270
I think it makes sense to have it as is. How I understand it the copyright date doesn't specify what year the copyright is valid, it specifies when you are making the claim (and lasts for the next 70 years). Thus, if I publish my website in 2019 and then the copyright date updates to 2020, my copyright notice is saying "In 2020, I copyrighted this work". That means someone who copied my work in 20

[2020-02-10 02:35] strtw commented on #2199
Hi @yangshun I've been [working on this in my fork](https://github.com/strtw/docusaurus/commit/c2529230765fc14c23f1a5f57397783daca8ebec) and have had some success getting the notification to display in testing for v 1.x. when I hard code the old version per [update-notifier's testing instructions](https://github.com/yeoman/update-notifier/blob/master/example.js). I'd be glad to be assigned the iss

[2020-02-10 10:10] esvyridov commented on #2270
@elviswolcott Oh, I didn't know about that. Thanks a lot for the explanation.

[2020-02-10 10:10] #2270 closed

[2020-02-10 14:38] MIhailsPopovs opened #2278 "Is there a way to restrict sending text for translation to Crowdin? (Docusaurus)"
In Docusaurus there is a great translation system (using Crowdin). But there seems to be no way to translate specific pages without sending page content text to Crowdin. Some texts might have sensitive information that can't be sent to Crowdin

[2020-02-10 16:32] phimage commented on #2266
There is another issue. If the page is not modified in the version then the markdown do not exist.
The is present in sidebar definition version-VERSION_NAME-PAGE_ORIGINAL_ID do not exists in translations files en.json (so not also in fr. jso, de.json, etc...)

In SideNav.js getLocalizedString we try to get localized string using this unknown id
https://github.com/facebook/docusaurus/blob/ef1af0a5b

[2020-02-10 18:20] strtw commented on #2213
Hi @glecetre, are you still seeing this issue? This is what I'm seeing:

<img width="548" alt="Screen Shot 2020-02-10 at 10 16 01 AM" src="https://user-images.githubusercontent.com/11788126/74177564-d5d49580-4bee-11ea-8b89-af924f62e8d6.png">

[2020-02-10 21:50] binarylogic opened #2280 "[v2] Unable to reuse content plugins"
## 🐛 Bug Report

Hi, we're attempting to add additional sections to our Docusaurus site powered by the `@docusaurus/plugin-content-blog` plugin. For example:

[code]

However, when we start the site we're presented with a bunch of syntax errors:

[code]

It appears that this markdown file is being double processed, even though the above plugin definition targets the `componens` folder (not the `bl

[2020-02-11 00:23] strtw commented on #2192
Hi @lex111 I'm working on this, happy to be assigned.

[2020-02-11 00:30] lex111 commented on #2192
@strtw you got it! :smiley:

[2020-02-11 00:51] lex111 commented on #2280
[code]

This will not create a new section, but will modify the existing one (blog). That is, `routeBasePath` indicates which root path the blog posts are available for (defaults to `blog`) and `path` is the place in the file system where the blog posts themselves are located (in MD).

In the current implementation, you are limited to docs and a blog, you can change the base URL paths, but you won

[2020-02-11 08:40] glecetre commented on #2213
I'm sorry I did not come back sooner but I understood the problem.
In my config file, I had changed the `customDocsPath` setting to avoid having a `/docs` folder, so I used the value `./`. So of course there was the `website` folder, containing node_modules, and it was parsed by the engine.

Maybe you would want to change that behaviour to prevent parsing the website folder, but my bug in itself c

[2020-02-11 08:40] #2213 closed

[2020-02-11 12:09] OndrejNepozitek commented on #2258
The problem is caused by a whiteline that is appended to the GIT_USER env variable on windows 10 when you run the `cmd /C "set GIT_USER=<GITHUB_USERNAME> && yarn deploy"` command. It can be fixed by running `cmd /C "set GIT_USER=<GITHUB_USERNAME>&& yarn deploy"`  instead (note the missing space between <GITHUB_USERNAME> and &&).

It's quite unfortunate that the command is included in the official

[2020-02-11 12:14] yangshun commented on #2258
Could you help to submit a PR for Windows? That would be much appreciated!

[2020-02-12 18:13] binarylogic commented on #2280
Got it. That would be a really great feature though. It seems odd that a plugin can't be reused with different parameters. I don't fully understand how it all works, but I'm curious if it's possible with a small amount of work?

[2020-02-12 18:22] lex111 commented on #2280
I realized that you want to define your own sections, roughly speaking, a page with a list of elements and a page with a specific element (similar to a blog), right? Currently this is not possible, plugins implement specific goals. But here's the question: how will you define your own template for new sections? I can’t even think of how it should be implemented conveniently and expandable for the

[2020-02-12 18:31] binarylogic commented on #2280
Sure.

I was hoping that I could customize [these options](https://github.com/facebook/docusaurus/blob/master/packages/docusaurus-plugin-content-blog/src/index.ts#L33-L45) and pass my own custom components.

I'm happy to simply copy this plugin and rename it, but that seems like a lot of duplication.

[2020-02-12 18:43] lex111 commented on #2280
The fact of the matter is that in this way you will override the options of the current  plugin. We need to think about how to do this most simply and conveniently for the user.

[2020-02-12 22:51] strtw commented on #2192
@lex111 Cool thanks! I submitted a PR

[2020-02-13 04:24] yosriady opened #2283 "[V2] .md extensions not stripped when linking to other documents"
## 🐛 Bug Report

When referencing other .md files, Docusaurus generates the HTML link `/dir/B.md` instead of `/dir/B`, returning Markdown instead of HTML.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Within `/docs`, create the following directory structure:

<img width="1

[2020-02-13 05:09] lex111 commented on #2283
I can not reproduce this :man_shrugging:

![screencast-localhost_3000-2020 02 13-08_07_09](https://user-images.githubusercontent.com/4408379/74403352-fd6a6e80-4e37-11ea-8ca3-a95dfdc8c1c8.gif)

[2020-02-13 05:53] #2283 closed

[2020-02-13 14:49] sserrata commented on #2244
I ran into this error only after I swizzled the `DocPage` component (had previously swizzled `DocItem`, `Navbar`, and `CodeBlock`).

After some troubleshooting, I landed on this issue and decided to try swizzling the `NotFound` component (in addition to `DocPage`). This resolved the issue for me.

[2020-02-13 15:00] dheerajmpai commented on #969
Actually React-pdf can do the job. We need to work on it

[2020-02-14 16:57] daldridge-cs commented on #2244
Similar to @sserrata , I had to swizzle all three of DocItem, DocPage, and NotFound to avoid the build error.

[2020-02-14 18:28] binarylogic commented on #2280
Got it. I'll close then.

[2020-02-14 18:28] #2280 closed

[2020-02-15 07:08] michizhou commented on #1834
Hey @yangshun is it alright if I take this one: https://facebook.github.io/watchman/ ?
Also what is the status of https://frescolib.org/ and the other websites that are on hold? Will they available for migration anytime soon? Will there be additional websites that need to be migrated in the future? Please let me know. Thanks!

[2020-02-15 12:52] KohheePeace opened #2284 "[V2] Copy button in CodeBlock ignores blank line"
## 🐛 Bug Report
Copy code by using "Copy" button in code block **ignores blank lines** when I paste to editor.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

Step 1... Visit https://v2.docusaurus.io/docs/creating-pages#adding-a-new-page
Step 2... Click "Copy" button in CodeB

[2020-02-15 16:49] mohamedsgap commented on #1834
Hi @yangshun Is it still possible to contribute to this issue ? If so I gonna wok on [Flipper](https://fbflipper.com/) and migrate it to Docusaurus 2!

[2020-02-16 09:33] mohamedsgap opened #2286 "[DOC] Adding Automating Deployments with Travis CI in Docusaurus V2"
## 📚 Documentation
When I tried to use Travis CI with Docusaurus V2, I didn't find any steps for automating deployments using CI with Travis CI or even Circle CI.

So I jumped back to Docusaurus V1 and I made a some update to Travis CI script to be suitable with Docusaurus V2.

I gonna fill a PR to update Docusaurus V2 Doc with  Automating Deployments steps with Travis CI.

[2020-02-16 09:35] mohamedsgap commented on #2286
so @yangshun  what do you think ? I gonna add my pull request ASAP :)

[2020-02-16 10:04] bravo-kernel commented on #2190
Copied from a Netlify notification email:

## Will this impact my SEO?

No. Forwarding traffic to a new domain extension using a 301 redirect is a proven technique that search engines are well aware of. Your inbound links will not be affected. Your search engine rankings will not be affected.

[2020-02-16 14:21] #2284 closed

[2020-02-17 12:31] vvni commented on #1640
Is it possible to support @ material-ui / styles of material-ui？

[2020-02-17 12:36] yangshun commented on #1640
@vvni mind elaborating more?

[2020-02-17 12:41] vvni commented on #1640
Using @ material-ui/styles on the server side requires additional processing, and the converted style needs to be entered into the html string.
![image](https://user-images.githubusercontent.com/50414099/74654704-e1632600-51c5-11ea-9716-e539f8488f86.png)

[2020-02-17 12:42] vvni commented on #1640
Thank you for your timely reply. Will you consider doing this support?

[2020-02-17 13:03] yangshun commented on #1640
Please file a separate issue, this issue is not the right place to discuss about it. We are shorthanded at the moment but maybe external contributors might help out.

[2020-02-17 13:04] vvni commented on #1640
Thank you for your reply.😬

[2020-02-17 15:59] henricook commented on #638
This is basically the reason we didn't choose docusaurus. Progress on this would be great, we loved everything else.

[2020-02-17 21:08] bravo-kernel commented on #2190
Confirmed as fixed in 2.0.0-alpha.41. Thanks @lex111 👏

[2020-02-17 21:08] #2190 closed

[2020-02-17 21:16] markerikson commented on #2190
Can you clarify what the actual fix is?

I was seeing the issue with a Redux Toolkit alpha API page yesterday, and tried deploying `alpha.41`.  Afterwards, it looked like the behavior was basically the same.  The left sidebar flashes briefly, then disappears.

Example link:

https://deploy-preview-352--redux-starter-kit-docs.netlify.com/api/createEntityAdapter

[2020-02-17 21:19] bravo-kernel commented on #2190
Are you sure you are running .41.

In my case the PR mentioned above now adds the sidebar when netlify redirects

https://docusaurus-powershell.netlify.com/docs/commands/New-DocusaurusHelp

to

https://docusaurus-powershell.netlify.com/docs/commands/new-docusaurushelp/

[2020-02-17 21:23] markerikson commented on #2190
Hmm.

I coulda sworn I did merge in `alpha.41` last night, but I was also doing it at 2 AM, and I see `alpha.40` at the tip of the current PR branch I'm working on:

https://github.com/reduxjs/redux-toolkit/blob/9842933e6a04d7ad83ef32911129b25f0798ba53/website/package.json

Lemme check this again this evening and confirm.

[2020-02-17 21:25] bravo-kernel commented on #2190
OK, I am seeing some issues with css not loading in the lowercase version atm but that could be my local browser.

You might be able to reproduce if you open a new browser window and then pasting my lowercased URL https://docusaurus-powershell.netlify.com/docs/commands/new-docusaurushelp/

[2020-02-17 21:25] bravo-kernel commented on #2190
Not happening when opening a **private** window.

[2020-02-18 02:16] DimaSerhin opened #2290 "[V2] Docusaurus project generation fails during installation"
## 🐛 Bug Report
`npx --ignore-existing @docusaurus/init@next init test classic` fails during installation of dependencies but the result is shown as successful project generation.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce
Environment: OSX, node v12.15.0, yarn 1.22.0, np

[2020-02-18 02:19] xianghongai commented on #1804
gifsicle pre-build test failed

[code]

![gifsicle](https://user-images.githubusercontent.com/2075006/74698218-0a240380-5238-11ea-9709-4e48bb56d413.png)

[2020-02-18 02:52] markerikson commented on #2190
This does not appear to be solving the problem for the Redux Toolkit docs.  Example as of right now, on `alpha.41`:

https://deploy-preview-352--redux-starter-kit-docs.netlify.com/api/createAsyncThunk

[2020-02-18 05:25] JoelMarcey commented on #638
@yangshun Do you know if there has been any work on this for v2, even if just planning? Thanks.

[2020-02-18 05:53] yangshun commented on #638
@JoelMarcey not planned. It's unlikely we'll pursue this effort as FB Docusaurus sites don't use it. We made v2 as a platform so that the community can support features on their own. Even if we were to build this, we don't use it for our own sites and maintainability will be an issue. This is better left up to community members who need to use it and can maintain it.

[2020-02-18 06:45] andreyhammer commented on #2290
seems issue here:
`"@docusaurus/theme-classic@2.0.0-alpha.41" is missing a bundled dependency "@docusaurus/utils". This should be reported to the package maintainer.
`

[2020-02-18 09:30] lex111 commented on #2190
@markerikson I just made a small fix and deployed your website, so everything should be OK https://hardcore-hermann-669593.netlify.com/api/getdefaultmiddleware/

[2020-02-18 11:13] lex111 commented on #2290
We release bug fix for this, so please use `2.0.0-alpha.43`. Sorry about that.

[2020-02-18 11:13] #2290 closed

[2020-02-18 14:22] bravo-kernel commented on #2190
@lex111 I can only speak for my own website but v43 solved all issues. Thanks for the quick fix 💯

[2020-02-18 14:24] popuguytheparrot opened #2295 "[v2] Toggle theme component not reacting on change system theme"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. start new project
2. go to system settings
3. change system theme
4. Toggle not change on current theme

## Expected behavior

Toggle will display the curr

[2020-02-18 14:25] popuguytheparrot commented on #2295
https://v2.docusaurus.io/ has same problem

[2020-02-18 15:29] yangshun commented on #2295
I'm not able to reproduce this. Once you toggle it manually, we write the value to `localStorage` and the system value no longer affects it. Please try on incognito mode and see if the same thing happens.

[2020-02-18 15:30] yangshun commented on #2286
Saw the PR before I could reply. Thanks!

[2020-02-18 15:33] yangshun commented on #2273
I created https://github.com/facebook/docusaurus/pull/2296 which can be used as a convenient API instead of a component. Do you have examples of the API in Next and Nuxt which I can take a look at?

[2020-02-18 15:38] yangshun commented on #2271
Sounds very useful indeed!

[2020-02-18 15:40] yangshun commented on #2269
Yep, I'm supposed to work on this. Making it show up on desktop is not hard, the main blocker here is the current Infima nav dropdown is not mobile-friendly. Will prioritize this.

[2020-02-18 15:40] popuguytheparrot commented on #2295
@yangshun i change system theme and Toggle not reacting on this

[2020-02-18 15:40] yangshun commented on #2260
@alexepshteyn please provide some examples or ask on Stack Overflow.

[2020-02-18 15:42] yangshun commented on #2265
This question is unclear and unlikely to be Docusaurus-specific. If you'd like to request for a new feature please change the issue description. Closing this for now.

[2020-02-18 15:42] #2265 closed

[2020-02-18 15:47] equinusocio commented on #2273
New Nuxt version has these components to handle check the environment from the template:
https://nuxtjs.org/api/components-client-only/

[code]

Nextjs has a `ssr: false` option to use with dynamic imports:
https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[code]

[2020-02-18 15:47] yangshun commented on #2295
Did you try incognito mode? Could you clear your `localStorage` and try again?

Is it just the toggle? Does the rest of the website respond to the change in the theme? A video recording would be helpful.

Unfortunately I don't have Windows and can't really debug there. If you have time I recommend you try debugging it. It's not very complicated. The relevant code can be found in `docusaurus/packag

[2020-02-18 15:59] yangshun commented on #2212
That's not syntactically valid code... I meant for you to render something behind the `&&`.

[code]

By the way when https://github.com/facebook/docusaurus/pull/2296 lands there will be a convenient API to check the execution environment and you no longer have to write `typeof window !== 'undefined'`

[2020-02-18 15:59] yangshun commented on #2212
Closing this as it's not a Docusaurus bug.

[2020-02-18 15:59] #2212 closed

[2020-02-18 16:03] yangshun commented on #1973
Maybe there can be a new config option for `docusaurus-plugin-docs` to redirect/render a specific page when `/<routeBasePath>` is accessed. WDYT?

[2020-02-18 16:07] binarylogic commented on #1973
That makes sense. My above work around works well for now. You can also setup a redirect with your host (Netlify).

[2020-02-18 18:03] lex111 commented on #2295
@popuguytheparrot good catch, I see this bug, it will be fixed in the next release!

[2020-02-18 18:16] lex111 commented on #2273
@yangshun I would add a similar component just because then we can insert code directly into JSX instead of using useEffect, for example, [for our Feedback page](https://github.com/facebook/docusaurus/blob/master/website/src/pages/feedback/index.js#L18-L25), we could do this:

[code]

[2020-02-18 18:23] yangshun commented on #2273
Ok I think we can add that, but it is better named `<ClientOnly>`/`<ClientRenderedOnly>`

[2020-02-18 18:32] lex111 commented on #2273
Fine, I wrote it on my todo list :notebook_with_decorative_cover:

[2020-02-19 02:23] markerikson commented on #2190
This is still somehow _not_ working right, at least on a specific PR branch.

This version, from [the PR that added .43](https://github.com/reduxjs/redux-toolkit/pull/369), works fine:

https://deploy-preview-369--redux-starter-kit-docs.netlify.com/api/getdefaultmiddleware/

I merged that PR to `master`, and then merged `master` into [a larger WIP PR with code changes](https://github.com/reduxjs/r

[2020-02-19 02:27] markerikson commented on #2190
Scratch that last comment.

I just tried clearing the Netlify cache and forcing a redeploy, and _now_, finally, the PR 352 preview link looks correct:

https://deploy-preview-352--redux-starter-kit-docs.netlify.com/api/getdefaultmiddleware/

- Sidebar on left side even though we went straight to the page URL
- Page TOC on the right side
- Content is the correct width

So, I'm going to claim this i

[2020-02-19 05:29] sreetamdas commented on #1834
Hey @yangshun is [https://facebook.github.io/watchman](https://facebook.github.io/watchman) still up for grabs? Would like to take it up

[2020-02-19 06:31] deniaz opened #2297 "Release v2.0.0-alpha.41 / v2.0.0-alpha.43 on npm"
## 🐛 Bug Report

v2.0.0-alpha.41 and v2.0.0-alpha.43 releases have been created on Github but not actually been released on npm. Since alpha.41 brings quite a few interesting features it would be great to ave it available.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

(Writ

[2020-02-19 06:49] yangshun commented on #2297
They've been released on npm. See [here](https://www.npmjs.com/package/@docusaurus/core). We have users who upgraded to alpha.43 and said that it fixed bugs for them.

Try manually upgrading to alpha.43 in your `package.json` or use the `@docusaurus/core@next` tag.

[2020-02-19 06:49] #2297 closed

[2020-02-19 06:51] deniaz commented on #2297
Ah, yeah I've realised the scoped packages have been released. The https://www.npmjs.com/package/docusaurus package and missing releases there confused me. Sorry about that.

[2020-02-19 06:56] yangshun commented on #2297
No problem, that's the v1 package and you're not the only one confused by it (I get confused sometimes as well). Thanks for the initiative!

[2020-02-19 11:48] tkdrahn commented on #2269
Thanks! Looking forward to it

[2020-02-19 13:35] mohamedsgap commented on #2286
I really appreciate that,

[2020-02-19 13:35] #2286 closed

[2020-02-19 16:02] prma85 opened #2298 "[v2] Relative links on MD files doesn't work as expected"
## 🐛 Bug Report

On v1 it works just fine.

When using the relative links it will work only when there is no `/` at the end of the URL. That means you will be fine if you navigate in the sidebar menu and open a relative link, however, if you share a link with someone, the browser (using Google Chrome) will add a `/` at the end of the URL and for this reason, relative links will not open anymore.

[2020-02-19 16:36] prma85 commented on #2260
@alexepshteyn is easy to create multiple sub-categories in v2

Check this example:
[code]

[2020-02-19 17:06] jamiedavenport commented on #1973
@yangshun Is there a benefit to having a config option for this over implementing a `src/pages/docs.js` page?

What about a combination of documentation and a default `docs.js` page in the template as the solution?

[2020-02-19 20:38] ltfschoen opened #2301 "docs: Update documentation to mention how to conditionally apply styles including media queries only to a specific Markdown page"
## 📚 Documentation

The documentation mentions that we can add global CSS in the .css file within website/static/css/ folder, but those styles apply to all the Markdown files in the doc/ directory

If you want to apply styles only to a specific Markdown file in the doc/ directory, but not any others, you can use HTML in the Markdown file itself (i.e. just add your styles within these tags i.e. `<s

[2020-02-19 23:38] astrotim commented on #1761
I'm seeing this as well. Any URL without a trailing slash redirects to localhost:8000

[2020-02-20 01:01] nebrelbug opened #2302 "[V2] Versioning Suggestions"
## 💥 Proposal

Hi! As I work on developing my Docusaurus site (https://squirrelly.js.org), I've noticed a few problems with the current versioning system.

1) Pages aren't versioned. This is a problem for me because on one page I host a live playground, and the syntax changes completely between the new and old libraries.
2) `docusaurus.config.js` isn't versioned. In my top bar, I link to different

[2020-02-20 02:10] #2222 closed

[2020-02-20 03:29] prma85 commented on #1834
Hey @yangshun I was going to comment that I can do the https://facebook.github.io/watchman
But @sreetamdas already want to do it.
I could do https://frescolib.org/docs/, but I am wondering if the multi-language support is something already implemented for v2 🤔

[2020-02-20 04:38] yangshun commented on #2182
It's probably not extra padding, it's because the footer is not rendered stickily on certain browsers, likely due to flexbox bugs/inconsistencies.

[2020-02-20 14:25] yangshun opened #2304 "[v2] move the quotes to remark admonitions"
## 📚 Documentation

We have a bunch of blockquotes in our documentation which looks like [this](https://v2.docusaurus.io/docs/cli#docusaurus-swizzle) and they are not very obvious because of the changes in v2's CSS.

Ever since callouts/admonitions have been [added in 2.0.0.alpha.43](https://v2.docusaurus.io/docs/markdown-features#calloutsadmonitions) by the awesome @elviswolcott , we can use them

[2020-02-20 16:12] braco commented on #969
Lack of this feature is why my company is moving away from Docusaurus

[2020-02-20 16:17] yangshun commented on #969
@braco thanks for the feedback. What will you be moving to?

[2020-02-20 17:43] spring-bu opened #2305 "[v2] How do I add a sidebar to a custom page?"
## ❓ Questions and Help

I created a custom page at pages/support/index.js,
[code]
How can I add the same style sidebar to this custom page? Like the sidebar in the docs, I want multiple pages to have separate sidebars, not just the docs.

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:

- [Stack Overflow

[2020-02-20 20:42] kav137 opened #2306 "Pages with redirects instead of translations when docsUrl === '' and path to file includes 'en'"
## 🐛 Bug Report

When `docsUrl` is set to an empty string, localization enabled and path to the file contains "en" letters, then pages with redirects would be generated instead of pages with contents. So, it is impossible to reach the content

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

##

[2020-02-20 23:16] prma85 opened #2308 "[v2] Bug with dark mode logo"
## 🐛 Bug Report

Based on the PR https://github.com/facebook/docusaurus/pull/2261

When using the dark logo option, it will work only for the switch button. The default logo will always the loaded, even if the first render is dark mode.

Using version 2.0.0-aplha.43

## To Reproduce

1. Define you logo and dark logo in the `docusaurus.config.js`
[code]
1. Load you site, and it should work
1. Switc

[2020-02-21 01:46] #2258 closed

[2020-02-21 02:43] daldridge-cs commented on #2302
For item 3 above, I would like to see a hook that provides current version and a list of all versions:
[code]
I wrote [something workable](https://github.com/daldridge/docusaurus-plugin-lunr/blob/master/src/theme/hooks/version.js) in my Lunr search plugin by using the `useLocation` hook from react-router and inspecting the path.  Would be much nicer to have Docusaurus provide a mechanism.

[2020-02-21 13:24] monapasan opened #2311 "[V2] docusaurus build becomes idle instead of throwing an error"
## 🐛 Bug Report

`docusaurus build` doesn't throw an error on a failing build which results in high idle time.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

(Write your steps here:)

1. Clone the repo https://github.com/monapasan/docusaurus-idle-when-error
2. run `npm run b

[2020-02-21 13:28] monapasan commented on #2260
I haven't found a way to have one level sidebar, e.g. without category:
-- Getting started (<--- is not possible without an additional level)
-- Advance Guide
---- Main topic 01

[2020-02-21 14:54] jamesgeorge007 commented on #2199
@strtw are you still working on this?

[2020-02-21 17:30] BoMiddleton commented on #2302
Do you have different `sidebars.js` files for each version? I assume you do. Do you have a separate directory for each version? You can still point to reusable files.

Check the Discord post at the bottom: https://discordapp.com/channels/398180168688074762/632470883058843648

[2020-02-21 22:17] nebrelbug commented on #2302
@BoMiddleton yes, I have all of that set up and working.

The problem is that the links in the top navbar only point to the most recent version, rather than whatever version the user is currently looking at.

Additionally, I can't display different pages depending on the version (unless I parse the URL, which is rather complicated)

[2020-02-22 00:51] dima commented on #2182
@yangshun there are plenty of working flexbox sticky footer examples that work fine in all the browsers. E.g. https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
I wouldn't say it's a flexbox problem per se, but maybe docusaurus sticky footer implementation can be improved.

[2020-02-22 05:48] Zhencha0Cai commented on #2304
Hi @yangshun , I have finished work to update quote to  remark admonitions. However, I find that the pre-commit prettier task mess up the the format of code. It removed the line break before and after the `:::`.
Any pointer to fix this?
https://github.com/Zhencha0Cai/docusaurus/commit/71c91d4928cd7048e4fb3a25f62182b3ce12311c

[2020-02-22 06:22] yangshun commented on #2304
Hmm I think you need to add a title. Try the following formats:

[code]

or add an empty line after the `:::`

[code]

[2020-02-22 13:36] trauts2 opened #2312 "Document how to produce a "json feed" containing all content as single JSON file"
## 📚 Documentation

Similar to [Hugo's index.json](https://xdeb.org/post/2017/06/11/make-hugo-generate-a-json-search-index-and-json-feed/).  I would like to know how to make a JSON output representing all site content and metadata.  Like this:

https://www.screencast.com/t/a3spUYaU1J0

This supports a variety of downstream transformations of site content, such as building a custom Algolia index, t

[2020-02-22 18:20] Zhencha0Cai commented on #2304
@yangshun. Thanks for the help.  I have to use this format to make it work.
[code]

Here is the PR. https://github.com/facebook/docusaurus/pull/2313

[2020-02-23 13:32] tomtongue opened #2314 "[V2] Adding "Draft" header option for Blog"
## 🚀 Feature
Draft post mode for Blog such as `draft: true`
This option enable to avoid publishing a post if the post has `draft: true` in the Header option.

Currently, Header options for Blog does not support "draft" tag such as that of Jekyll; [Posts | Jekyll • Simple, blog-aware, static sites](https://jekyllrb.com/docs/posts/#drafts), as shown in [Blog | Docusaurus](https://v2.docusaurus.io/do

[2020-02-23 15:18] lex111 commented on #2314
You can create any directory (for example, `drafts`) in the directory with the blog posts (`blog`) and move posts there that should not be published yet (`blog/drafts/post.md`).

[2020-02-23 15:22] yangshun commented on #2314
I think they want to be able to preview drafts during dev as well. I remember trying to implement drafts before but wasn't too successful due to how the tags data was processed. Not against this idea and following the Jekyll convention would be good.

[2020-02-23 17:48] lex111 commented on #2304
Resolved in #2313

[2020-02-23 17:48] #2304 closed

[2020-02-23 23:54] prma85 commented on #2298
I did a temp fix for this issue, but I would love to see what the docusaurus team has to say about this bug.

[code]

[2020-02-24 03:04] yangshun commented on #1640
I was browsing the pages at https://v2.docusaurus.io and I felt that the docs were very complete and hence I came to look at this issue and just realized that this issue is already 95% done! Amazing work @wgao19 and the others!

[2020-02-24 03:08] yangshun commented on #2267
Docusaurus wasn't selected for Google Summer of Code 2020. I guess we can keep this open as the ideas are still useful

[2020-02-24 03:16] yangshun commented on #2312
We don't have a good way to do that at the moment as we don't aggregate the data model during the bootstrap process into one single data structure, unlike Gatsby. Contents and data fetched within each plugin is scoped to that plugin. The only overall site-wide data we have is the routes, which is used by `docusaurus-plugin-sitemap` to create `sitemap.xml`.

But what you have proposed is a step in

[2020-02-24 03:34] yangshun commented on #2311
Thanks for reporting

[2020-02-24 03:37] yangshun commented on #2199
This would be a really cool feature to add!

[2020-02-24 05:29] yangshun commented on #1834
Hi all, as this point we have migrated most of the websites we want to and those which haven't been migrated are not highly used and as a result not high priority. We will have another wave of migration work when we have shipped versioning and translations. Thank you everyone!

[2020-02-24 07:48] lex111 commented on #2182
@dima could you provide more information for reproduce? Safari version, screen size?

[2020-02-24 20:59] lex111 commented on #2273
@equinusocio can you please give a specific example (or use case) when a similar component could be useful? Maybe the new API will help with this, could you look? https://github.com/facebook/docusaurus/pull/2296

[2020-02-24 21:39] equinusocio commented on #2273
@lex111 I don't have a public example available, but recently at @OvalMoney we used this react [data table component ](https://github.com/jbetancur/react-data-table-component#readme) which don't works inside docusaurus v2 mdx files because it's client-only and when running the build process, docusaurus throw an error about `missing window object` during the server building.

We had to wrap it insi

[2020-02-24 21:43] hasan1501 opened #2317 "[V2] Issues with relative url links in production"
## 🐛 Bug Report

When refreshing a page that has relative URL links, the URL links are broken.

**Note - Works fine on the local environment. Issues when in production**

Using version 2.0.0-aplha.43

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

(Write your steps here:)

1

[2020-02-24 21:45] lex111 commented on #2273
@equinusocio but could you give me a piece of code? I ask this more for documentation purposes, it would be nice to give a real-world example. This tiny component, so no problem with adding it to the core, but I want to get more information on its possible using, as previously I had a wrong idea about in which cases it can be used.

[2020-02-24 22:46] dima commented on #2182
@lex111 Safari version 13.0.5 (likely others too), Screen size 1024x768 and up. Just go to docusaurus home page at https://v2.docusaurus.io, https://v2.docusaurus.io/showcase or https://v2.docusaurus.io/blog and you should be able to scroll past the footer (= it's not fixed/sticky)

[2020-02-24 23:03] lex111 commented on #2182
@dima thanks for the input, however I still cannot reproduce this bug :(

Perhaps this is due to some kind of extension or something else adds space after the footer?

[2020-02-25 00:44] da-kami opened #2318 "[v2] Linking between blog markdown files does not handle the date correct in URL"
## 🐛 Bug Report

When linking to another `.md` file within the blog, the URL is not correctly constructed.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

Assuming that blog was already configured:

1. Create file `2020-02-24-some-file.md` in `/blog` folder
1. Create file `2

[2020-02-25 02:02] dima commented on #2182
@lex111 @yangshun Apologies for wasting your time on this. I tracked this down to an extension in Safari (Pocket). I have the same extension in Chrome with no side-effects of this kind. I will make sure to double check with other people before I report a UI issue again.

Thanks a lot for all your work on this project, it's a pleasure working with it.

[2020-02-25 02:30] yangshun commented on #2182
No worries, thank you very much!

[2020-02-25 02:30] #2182 closed

[2020-02-25 09:54] equinusocio commented on #2273
I don't if this is what you need, but this our case:

**data-table.mdx**
[code]

We had to exclude the component from the build process because it search for the `window` object.

[2020-02-25 14:21] yangshun opened #2321 "Add stylelint for linting CSS files about copyright headers"
We use ESLint for linting our files to make sure we have the appropriate copyright headers. Let's add a similar one for our CSS files as well so that if we add CSS files without the copyright header, CI will fail. This task involves a few things:

### Initial

- [ ] Install `stylelint` in the project root
- [ ] Look for an existing stylelint rule that can do what we want, or write our own
- [ ] In

[2020-02-25 14:25] yangshun commented on #2321
@scottilee would you happen to be interested in trying this task? It isn't Docusaurus-specific but can expose you to some Open Source tools.

[2020-02-25 14:31] lex111 commented on #2317
@hasan1501 for the links to other documents to work correctly, you need to specify the file extension (md/mdx), see https://v2.docusaurus.io/docs/markdown-features/#referencing-other-documents

[2020-02-25 14:31] #2317 closed

[2020-02-25 14:57] lex111 commented on #2298
@prma85 hmm, I can not reproduce this bug, could you give access to your repo docs to try to check on it?

[2020-02-25 15:04] yangshun commented on #2298
I've encountered a similar bug before, but in the end the reason was misuse of the path within the Markdown file and not using the right syntax. For the links to work, a file name (along with the extension) has to be used. If you do something like [docs](doc_test_2), Docusaurus doesn't treat it as a Docusaurus file and doesn't process it. The end result is it becomes a relative link and defaults t

[2020-02-25 16:03] prma85 commented on #2298
I am sharing here the md file and folder structure
So, I have
[code]

this is the content of the `configuring-the-sidebar.md`

[code]

So, the link should redirect to https://iqmetrix.github.io/hub.docs/docs/guides/configuring-environments#hub-v2, and it works when there is no `/` at the end of the url (if you use the navigation from the sidebar since it doesn't add the `/` at the end). However, i

[2020-02-25 17:12] lex111 commented on #2298
@prma85 Unfortunately, I was not able to reproduce this bug. Can you create a reproducible repo?

[2020-02-25 17:42] prma85 commented on #2298
Actually, looks like the original file has `[Hub v2 development environment](./configuring-environments#hub-v2).` and it was changed recently to `[Hub v2 development environment](./configuring-environments.md#hub-v2).` I don't see the error anymore for this page.

@yangshun you were right, the issue was because the link didn't have the `.md` at the end since it wasn't needed on v1 (the links on v1

[2020-02-25 17:42] #2298 closed

[2020-02-26 09:01] lex111 commented on #2212
@davodey could you please tell me how you solved the issue with Vimeo player?

[2020-02-26 09:02] lex111 commented on #1238
Resolved in ##2224

[2020-02-26 09:02] #1238 closed

[2020-02-26 10:25] equinusocio commented on #2273
Sorry i forgot to mention that the table component is this one
https://www.npmjs.com/package/react-data-table-component

[2020-02-26 15:31] amimas commented on #2302
I don't think "pages" should be versioned. I think the idea of "pages" is different from "docs", which has a completely different requirement.

If "pages" are versioned, then the following pages become very confusing:

[code]

You'll have to maintain a separate list of pages that should be versioned and should not be versioned. Pretty soon this is going to get out of control...

Since this thread

[2020-02-26 15:33] amimas commented on #2302
`docusaurus.config.js` also should not be versioned. That's a repo-wide/site-wide configuration.

That sounds like a bug. That doesn't happen in V1

[2020-02-26 16:25] tomtongue commented on #2314
Thank you! Yes, currently, I'll create `drafts` directory and put drafts on the directory. Do you think  it is needed to add the current document? If needed, I'll send pull request for this.

[2020-02-26 16:34] strtw commented on #2199
@jamesgeorge007 Haven't since my last post but would be glad to be assigned and continue working on it

[2020-02-26 18:35] nebrelbug commented on #2302
@animas I agree we shouldn't have versioned pages, but I would love for there to be a way to fetch the current version inside a page, using something like `useVersion()`

[2020-02-26 19:17] amilajack opened #2332 "bug (v2) html files with underscore prefix returning 404"
## 🐛 Bug Report

HTML files in `static` dir with underscore prefix are not resolved. Page shows `Page Not Found`. Only resolves underscores when running `docusaurus start`.

<img width="1024" alt="Screen Shot 2020-02-26 at 11 14 25 AM" src="https://user-images.githubusercontent.com/6374832/75378783-29024580-5889-11ea-9b61-f8268779501d.png">

### Have you read the [Contributing Guidelines on issues

[2020-02-26 20:13] amimas commented on #2302
I agree with this too. Just to be clear, I think you meant fetching the current version inside a "doc", not a page since... we're saying pages shouldn't be versioned and in that case, a page doesn't really have a context of what version you're looking at right now.

[2020-02-26 21:12] lex111 commented on #2332
This is not a Docusaurus bug, if you add the `.nojekyll` file to the `gh-pages` branch, this error will disappear.

See:
- https://lex111.ru/my-website/_foo.html
- https://github.com/lex111/my-website/commit/268ad5549793b257bad16fcbffb59682474f12c9

[2020-02-26 21:30] lex111 commented on #2302
We will add the `useVersion` hook, the more we need it to show the version of docs in navbar.

[2020-02-26 22:14] amilajack commented on #2332
@lex111 thanks! Also do you think docusarus should add the `.nojekyll` file by default?

[2020-02-26 22:20] lex111 commented on #2332
@amilajack no, I don’t think so, because this is an issue that applies only to GitHub Pages (in this case), and we should not care about this, since our task as a static site generator is to generate the proper build of website.

[2020-02-26 22:59] #2275 closed

[2020-02-26 23:58] nebrelbug commented on #2302
@lex111 let me know if there's anything I can do to help

[2020-02-27 00:04] lex111 commented on #2302
@nebrelbug well, if you want to implement a similar hook and create the corresponding PR - it would be very very cool :smiley:

[2020-02-27 00:07] nebrelbug commented on #2302
I'll take a look, but I wouldn't be able to do any work until Friday :smile:. I would enjoy contributing though -- though I've found several bugs and given feedback, I have yet to earn the `Contributor` badge by my name :)

[2020-02-27 02:14] #2295 closed

[2020-02-27 02:15] yangshun commented on #2332
This is interesting! While it's not a Docusaurus bug, I recommend we document these weird behaviors down in a new FAQ page or something - maybe https://v2.docusaurus.io/docs/faq? I can think of more stuff to add into it (e.g. some prerendering-related issues).

@amilajack would you be interested in creating one?

[2020-02-27 02:16] #2308 closed

[2020-02-27 02:28] amilajack commented on #2332
I’d love to document this. I was wondering what the correct place to document this was. I was thinking of adding it to the “publishing with GitHub pages” section. What are your recommendations?

[2020-02-27 02:55] yangshun commented on #2302
@nebrelbug These are hard problems you've mentioned.

We don't intend to add support for this. Versioning shall be a docs-only feature. Notice that the current versioned docs path is `docs/<version>/some-markdown`. This is intentional and by design. We want to support the use case of having multiple sets of docs, each with its own version. For example, you're building a mobile SDK for both iOS and

[2020-02-27 06:56] lex111 commented on #2332
I like this idea, it will be more convenient and predictable for users than creating a separate section (FAQs) for this. Although maybe in the future it might be worth writing something like that.

[2020-02-27 07:03] yangshun commented on #2332
Adding it to the "Publishing with GitHub pages" section sounds good!

[2020-02-27 10:20] lex111 commented on #2273
@equinusocio oddly, I tried using the example above, and did not get any build errors. Are you sure that the error was in this component?

[code]

[2020-02-27 15:52] yangshun opened #2336 "Docusaurus is hiring contractors!"
Do you have experience in React, Node.js, webpack, (just take a look at our `package.json`) and want to work on a really cool Facebook Open Source project (this one)?

The Facebook Open Source Team is looking for a contractor to help us deliver the next version of Docusaurus. You will work alongside @yangshun and @lex111 to deliver new features, fix bugs and improve the website framework used by m

[2020-02-27 15:59] Soviut opened #2337 "[v2] Allow title and label for docs in sidebars.js"
## 🚀 Feature

Currently, it only seems possible to specify `sidebar_label` in a page's frontmatter. It would be useful to be able to specify a `label` for `type: 'docs'` in `sidebars.js`.

[code]

My assumption would be that anything specified in `sidebars.js` would override the frontmatter.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/maste

[2020-02-27 16:07] equinusocio commented on #2273
The componet listed for `window` resize when the `hide` props is used:
https://www.npmjs.com/package/react-data-table-component#columns

[2020-02-27 17:56] lex111 commented on #2273
@equinusocio thanks, I added `hide` prop but still build is going to build successfully, what other options are there how to make build fail?

[code]

[2020-02-27 20:38] elviswolcott commented on #2271
I've built these features out for an internal site on docusaurus v1 before. I'll take a stab at implementing it with this syntax sometime next week if no one takes it before then.

[2020-02-27 22:04] LukasGentele opened #2339 "[v2] links: nav & footer links (href) without target="_blank""
## 🚀 Feature
Currently, I can set `href` for nav and footer links in `docusaurus.config.js` for the classic-theme but they always render with `target="_blank"`. It would be great if that could be disabled/changed, so that the link will open in the current browser tab rather than opening a new one.

## Have you read the [Contributing Guidelines on issues]
Yes

## Motivation
I think it is such an es

[2020-02-28 00:39] chenglou opened #2341 "table of content slugification differs from anchors slugification"
## 🐛 Bug Report

If a header is called, for example, `Tips & Tricks`, the table of content section would slugify that as `Tips-amp-tricks` whereas the actual hash from the header is `tips-tricks`

**This is more problematic than a mismatching anchor**. Docusaurus uses scrollSpy, which fails to find the anchor like so:
<img width="521" alt="Screen Shot 2020-02-27 at 16 34 17" src="https://user-imag

[2020-02-28 01:51] #2332 closed

[2020-02-28 05:56] lex111 commented on #2339
You can add the `target` attribute, and thereby override the default value, eg:

[code]

[2020-02-28 13:14] bodiam commented on #1258
Hi @chmelevskij , thanks for sharing. Is there any way to get this to work on Docusaurus 2?

[2020-02-28 13:55] lex111 commented on #2305
There is no such possibility, the doc sidebar is shown only on docs pages. If you need to add a sidebar to the regular pages, you can implement it yourself and add it to the `Layout` component of your pages.

[2020-02-28 13:55] #2305 closed

[2020-02-28 15:26] monapasan commented on #2152
Any updates on this?

[2020-02-28 22:58] LukasGentele commented on #2339
Thanks, @lex111. Any way this is possible for the `navbar.logo` option as well? Adding `target` does not seem to do anything for the logo option.

[2020-02-28 23:26] lex111 commented on #2339
Is it really necessary for a logo? I mean, do you really want external link to open in the current tab when you click on the logo? FYI was [recently](https://github.com/facebook/docusaurus/pull/2253) allowed to add an external link to `logo.href`, in which case it will open in a new tab (as expected).
If you mean that the internal link in the logo opens in a new tab, then this is also a rather str

[2020-02-28 23:35] LukasGentele commented on #2339
Got it but in my case it is expected actually and currently, it is very strange from a UX perspective. You can see what I mean here: https://devspace.sh/cli/docs/introduction

To explain what happens here: I have a website hosted on netlify and I only proxy the /docs/* routes to the docusaurus page => That means the / route is **not** made with docusaurus. However, using a `to` link, would load th

[2020-02-28 23:51] lex111 commented on #2339
Hmm, aha, if you set `href` as '/' then this will not work, there will be a 404 error. This is actually not a common use case. But it seems to me, we can add the ability to set the `target` attribute for logo url :thinking:.

[2020-02-29 00:25] LukasGentele commented on #2339
Yes, exactly. I got the 404 with to:/, so I switched to using href. Having logo.target would be great. Let me know if you want a PR for this.

[2020-02-29 01:20] JoelMarcey commented on #2341
@chenglou Your website is still on v1 of Docusaurus, right?

cc @yangshun

[2020-02-29 03:48] yangshun commented on #2341
Yes this is v1.

[2020-02-29 05:15] #1969 closed

[2020-02-29 05:20] #2314 closed

[2020-02-29 06:49] #2318 closed

[2020-02-29 11:27] #2339 closed

[2020-02-29 11:28] lex111 commented on #2199
@strtw go for it! Although before it would be nice to bring to completion of your previous PR https://github.com/facebook/docusaurus/pull/2282

[2020-03-02 00:51] bodiam opened #2347 "Can't switch between light/dark scheme anymore"
## 🐛 Bug Report

Basically, the title. I just updated my site to the latest version, and now I can't switch between light and dark more anymore. The site can be found at www.schematix.net

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

I don't really know. It used to work the

[2020-03-02 01:02] yangshun commented on #2347
Please point us to your code/repo. There seems to be classes added on the dark mode toggle which contains `cursor: not-allowed` and is the reason why it can't be toggled.

[2020-03-02 01:08] yangshun commented on #2347
The reason is because JavaScript is not being loaded on your page. Open your browser console and you'll see a ton of 404s.

In https://github.com/schematix-net/schematix-net.github.io/commit/03331a918c54d1f96181d9b53b9d140913609b62, only HTML files have been uploaded but references to the JS files within the `.html` files have changed. You have to reupload all the new build artifacts, not just HTM

[2020-03-02 01:08] #2347 closed

[2020-03-02 02:33] bodiam commented on #2347
@yangshun Ahh, I'm sorry for missing that. I thought I uploaded all build artifacts, but I'll have a look later to make sure I didn't miss anything. Thanks for the quick feedback!

[2020-03-02 13:17] ram-nad opened #2349 "Changing the language for one code tab should automatically change all code tabs to that language."
## 🚀 Feature

(A clear and concise description of what the feature is.)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

It would be helpful, if on changing a language tab for one code block, automatically changes the language on all code tabs. For sites having many such code blocks user might feel

[2020-03-02 16:27] tkdrahn commented on #2269
hi - any update on this one or ETA when u think it will be done?

[2020-03-02 18:38] chandankumar4 opened #2350 "Is there any way to create a nested dropdown sidebar"
## 🚀 Feature

(A clear and concise description of what the feature is.)

In the sidebar how can we create a nested dropdown menu items, Like the structure below
[code]

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Pitch

This requirement came from the [here](https://docs.litmuschaos.io/)

[2020-03-03 00:41] LukasGentele opened #2352 "[v2] wrong indenting / trimmed spaces in first line of code blocks"
## 🐛 Bug Report

When rendering a code block, docusaurus removes leading spaces from the first line of code. I am aware that there is #1748 already describing this issue and that it can be circumvented by swizzling the CodeBlock component but I think this should not be needed because the current rendering behavior is very unexpected (e.g. in comparison to how GitHub renders markdown).

**Live Exam

[2020-03-03 08:47] hsluoyz commented on #2349
Thanks for bring it up! We really need this feature!

[2020-03-03 08:48] yangshun commented on #2349
Yeah this would be really nice to have. We can do it in a similar fashion as the `ThemeProvider` and `useTheme`, but it would be `ProgrammingLanguageProvider` and `useProgrammingLanguage` in this case.

[2020-03-03 14:28] tochi-y commented on #2266
I got this problem too, and wish it would be resolved.

I did a workaround referring @phimage 's comments.
-  Replace all keys like `version-0.0.1/ADirectory/version-0.0.1-doc1` in `i18n/{locale}.json` with `version-0.0.1-ADirectory/doc1`
- If versioned markdown is not, copy existing old one

It properly worked. But this is just a workaround.

[2020-03-04 02:05] liushooter opened #2353 "How do I customize blog styles？"
I want to change docusaurus-v2 blog title style,
find this information in `@docusaurus/theme-classic/src/theme/BlogPostItem/styles.module.css` :

[code]

I change `src/css/custom.css`  following，no effect :

[code]

Help me，How do I customize blog styles？

[2020-03-04 04:43] elviswolcott commented on #2271
It looks life @KohheePeace has the code titles figured out. I can take a stab at the code highlight comments.

[2020-03-04 08:40] arganaphangquestian commented on #1258
Hy @bodiam , Here the code for v2
[code]

[code]

[code]

[2020-03-04 08:50] doup opened #2354 "[v2] Option to toggle docs category open by default"
## 🚀 Feature

Add a new property on the `@docusaurus/plugin-content-docs` `SidebarItemCategory` to set the default state as opened. This should affect only to that one category, no all the categories on the docs.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## Motivation

Improve UX.

## P

[2020-03-04 09:03] doup opened #2355 "[v2] Alternative way for handling code tabs or add docs preprocessing hook"
## 💥 Proposal

It would be nice to have an alternative way of defining code-tabs that doesn't rely on MDX `Tabs/TabItem`. This is specially interesting for teams that don't have MDX knowledge or that don't want to use it (for portability, readability…).

E.g. if one or more code blocks are next to each other convert them into code-tabs:

[code]

[code]
[code]
[load markdown] => [hook modifies mark

[2020-03-04 09:09] yangshun commented on #2355
Hard to tell if code blocks should be grouped together. One possible way is to add in metadata into the first line to define the group.

But overall I'm not very keen on adding more syntax if MDX can do the job. If you're going to have a new syntax, MDX can be that syntax. MDX is easy to use and is very expressive.

[2020-03-04 09:47] liushooter opened #2356 "Why not support ruby code highlighting？"
Ruby have been born for 25 years  😢

![](https://user-images.githubusercontent.com/1235106/75866105-84ab7080-5e3f-11ea-9a46-4e023be0c726.png)

[2020-03-05 02:18] imSrbh opened #2358 "npm version?"
## ❓ Questions and Help

 docusaurus-init
Website folder created!

Installing latest version of Docusaurus in website.

WARN engine sitemap@3.2.2: wanted: {"node":">=6.0.0","npm":">=4.0.0"} (current: {"node":"8.10.0","npm":"3.5.2"})
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated core-js@2.6.11: core-js@<3 is n

[2020-03-05 02:24] yangshun commented on #2358
What's your question? We require npm 10 and above.

[2020-03-05 02:24] #2358 closed

[2020-03-05 02:37] KohheePeace commented on #2356
Ruby is not imported by this library https://github.com/FormidableLabs/prism-react-renderer/issues/42#issuecomment-536218440

But you can import "ruby"
1. **Swizzling theme components**

[code]
https://v2.docusaurus.io/docs/using-themes/#swizzling-theme-components

2. **Import prism-ruby**
[code]
https://github.com/FormidableLabs/prism-react-renderer/issues/42#issuecomment-536218440

[2020-03-05 03:39] KohheePeace commented on #969
@yangshun Hi I implemented node script to generate pdf file through docs.
Generated Pdf: https://drive.google.com/file/d/19P3qSwLLUHYigrxH3QXIMXmRpTFi4pKB/view

## Asking
- I want to ask my approach is okay way before sending PR
- I want to know any requirement about this pdf feature (Design etc...)

## Approach
I immitated [mdx-deck approach](https://github.com/jxnblk/mdx-deck/commit/e83581cbd0ec

[2020-03-05 08:31] equinusocio commented on #2273
@lex111 Sorry for the late response, i've checked again and i can confirm that one of the data table component cause the issue. Here the error we get during building by removing our custom `<NoSSR>` that wrap the table inside the mdx file:

[code]

Here are the table props we're using:

[code]

A side note, we'are also using the component `createTheme` function to customize the table, and this may

[2020-03-05 11:01] jugglingcats opened #2360 "Component in MDX using hooks in separate package breaks rendering"
## 🐛 Bug Report

We're trying to document a component library that exists as a separate package (separate to the docusaurus project). Naturally some of these components use hooks, the most important being `useState`. However we're seeing the following error on rendering:

[code]
The same component, if copied directly into the docusaurus project works fine. Am struggling to understand why this woul

[2020-03-05 11:12] yangshun commented on #2360
Yeah beats me, weird behavior indeed. We do load external components in our docs but haven't faced such issues :/

[2020-03-05 13:12] jugglingcats commented on #2360
Is there a project I can look at where you're doing this successfully, or are they internal? Maybe I can spot what's different... Tx

[2020-03-05 13:37] maxarndt commented on #969
@KohheePeace could you explain what *oss* stands for in this context? I´m new to docusaurus and looking for a way to export docs as PDF so I tried your demo code-snippet. Unfortunately, the structure of my project initialized with `npx docusaurus-init` does not match your assumptions regarding stylesheet- and js-files etc.

Thank you for sharing and working on this project!

[2020-03-05 14:30] KohheePeace commented on #969
Hi, @maxarndt  If you just made site by runnning `npx @docusaurus/init@next init my-website classic`, You need to change url in `hoge.js`, from `http://localhost:3000/docs/introduction` to `http://localhost:3000/docs/doc1`.

You need to set initial url to start scraping.

[2020-03-05 15:41] rlamana commented on #838
For those looking for a fast way to add sass support, just include this plugin to your `docusaurus.config.js`: https://www.npmjs.com/package/docusaurus-plugin-sass

Let's start taking advantage of how modular v2 is :)

[2020-03-05 15:47] yangshun commented on #838
@rlamana add your plugin to the docs under styling?

[2020-03-06 03:51] theosherry commented on #2360
Hey @jugglingcats . Changing React and React-dom to a peer-dependency in your `example-lib` package will fix this. The problem must be 2 copies of React/React-dom are being loaded.

[2020-03-06 05:58] scottilee commented on #2321
/assign

[2020-03-06 06:51] liushooter commented on #2353
https://stackoverflow.com/a/58519684

[2020-03-06 07:15] liushooter commented on #2356
@KohheePeace  Thank you, I've learned.

[2020-03-06 07:28] jugglingcats commented on #2360
Thanks @theosherry that makes sense, should have realised.

For others here is some more info: https://reactjs.org/warnings/invalid-hook-call-warning.html

[2020-03-06 07:28] #2360 closed

[2020-03-06 09:21] theosherry commented on #2341
@chenglou @yangshun This issue was fixed with https://github.com/facebook/docusaurus/pull/2019

[2020-03-06 11:04] lukecollier opened #2362 "Docusaurus Enterprise Github pages website does not publish to master"
## 🐛 Bug Report

https://github.com/facebook/docusaurus/pull/689 did not fully implement the ability to use enterprise pages with custom urls. For example anything that does not end in .github.io will not publish to the master branch when using the deploy script. It will instead publish to the gh-pages branch.
https://github.com/facebook/docusaurus/blob/4aee06e74f7acd5fc2f58e8bdf2eb8ec75a1a576/pac

[2020-03-06 11:51] rlamana commented on #838
@yangshun Sure! I'll send a PR as soon as I can.

[2020-03-06 12:10] #2321 closed

[2020-03-06 12:12] yangshun commented on #2341
Hmm @chenglou are you using the latest Docusaurus v1?

[2020-03-06 17:22] jugglingcats opened #2364 "[v2] Ant Design components don't work correctly (body > div sets height 100%)"
## 🐛 Bug Report

The components we are trying to document use Ant Design (https://ant.design). The docusaurus stylesheet contains the following:

[code]

This causes a problem with Ant Design (and potentially other libs) as their code creates a div under body for some components, and expect these to not be 100% height. The additional height causes issue for mouse events and effectively locks up mo

[2020-03-06 20:22] Noah-Silvera opened #2365 "Cannot load local images in CSS"
## 🐛 Bug Report

If you use the React/Webpack import css style where css files are imported into js files like `import styles from "./index.module.css";` then background images loaded by URL's fail for **local** images such as png's, svgs, and jpgs.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

[2020-03-06 20:24] Noah-Silvera commented on #2365
I think this just needs an update to the webpack loader to support some basic image types.

[2020-03-06 21:49] lex111 commented on #2365
Use absolute path like this `background-image: url('/img/docusaurus.png')`

[2020-03-06 21:50] #2365 closed

[2020-03-06 23:39] lex111 commented on #2362
@lukecollier I understand correctly that in your case you are dealing with two different repositories? If so, can you set `CURRENT_BRANCH` and then cross-repo publish will work, or am I mistaken?

https://github.com/facebook/docusaurus/blob/4aee06e74f7acd5fc2f58e8bdf2eb8ec75a1a576/packages/docusaurus/src/commands/deploy.ts#L79-L84

[2020-03-07 03:25] yangshun commented on #2349
Assigned to @SamChou19815. Thanks Sam!

[2020-03-07 04:08] hsluoyz commented on #2349
BTW, will this feature be available on 1.x? We are still using Docusaurus 1.11.1 because we need the translation functionality.

[2020-03-07 04:12] yangshun commented on #2349
@hsluoyz we'll not be adding new features to v1. We'll be working on v2 translations this half so you can migrate to it then. However this is not hard to do in v1 given that you can hack together some scripts to be injected into the page.

[2020-03-07 04:13] #2364 closed

[2020-03-07 05:58] yangshun opened #2370 "[stylelint] improvements to stylelint rule (docusaurus/copyright-header)"
## 💥 Proposal

This is a follow up of #2361 and #2363 regarding improving our stylelint test (`packages/stylelint-copyright`)

- It is using the Tape test runner and is not integrated into our CI. If we move the implementation to Jest, it'll be run as part of the repo root's `yarn test` flow which is part of CI and that'll be great. stylelint's rules are [already using Jest](https://github.com/sty

[2020-03-07 07:28] #2352 closed

[2020-03-07 08:47] benClmnt commented on #2350
Hi, i think it is possible to do so in v2.

An example would be the [docusaurus sidebar page](https://v2.docusaurus.io/docs/markdown-features).

Here is in sidebars.js
[code]

[2020-03-07 10:29] adamstevens87 opened #2373 "'@docusaurus/useBaseUrl' showing in previous when sharing a link to docs on social media."
We must include:
`import useBaseUrl from '@docusaurus/useBaseUrl';`
...in order to use images in the pages.

When I share a docs page that includes this import, the preview (generated by Facebook, Whatsapp etc) shows this as the first line of content which looks poor.

![image](https://user-images.githubusercontent.com/16194236/76141675-70918a00-605e-11ea-914f-95ca1fcc9e2f.png)

I am using:

`"dep

[2020-03-07 16:08] yangshun commented on #2337
@Soviut do you not need to specify the front matter at all for it to work? o.o

I feel this is duplicating features and just making the docs feature more complicated. Not in favor of adding this.

[2020-03-07 16:10] #2121 closed

[2020-03-07 22:10] Soviut commented on #2337
It feels very inconsistent that I can specify a label for some sidebar items and not others.

The reason I proposed this is I have a lot of markdown fields being ingested from an external source into our Docusaurus project. None of which have frontmatter. It's far easier to write a bit of code in `sidebars.js` that walks the `/docs` directory and produces sidebar labels from the file names than it

[2020-03-08 05:38] bodiam commented on #1258
<img width="523" alt="image" src="https://user-images.githubusercontent.com/46468/76157313-3823a600-615b-11ea-888a-416521f91a59.png">

Thank you so much!! That's easier than I thought!

[2020-03-08 14:13] #1879 closed

[2020-03-08 14:13] #2356 closed

[2020-03-08 15:19] #2311 closed

[2020-03-08 16:11] bravo-kernel commented on #1879
Wow, I had no idea this was being worked on. Amazing surprise 🎉

[2020-03-08 16:12] yangshun commented on #1879
All thanks to @lex111 who does all the amazing work!

[2020-03-08 19:07] phoqe opened #2381 "Cannot find module '@babel/preset-typescript'"
## 🐛 Bug Report

Upgrading from alpha 43 to 44 in an existing project yields an error detailing a missing module, namely `@babel/preset-typescript`.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)

Yes

## To Reproduce

1. Be on an existing alpha 43 site
1. Upgrade the classic preset and core module

[2020-03-08 19:44] #2381 closed

[2020-03-08 20:23] cmfcmf opened #2385 "[v2] Module not found: Can't resolve 'prismjs/components'"
## 🐛 Bug Report

After upgrading to alpha 44 (and installing `@babel/preset-typescript` manually), I get this error when running `yarn start`:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. Upgrade site to alpha 44
2. `yarn add @babel/preset-typescript`
3. Try to

[2020-03-08 23:16] lex111 commented on #2385
Thank you for the report. Fixed in [v2.0.0-alpha.48](https://github.com/facebook/docusaurus/releases/tag/v2.0.0-alpha.48). Sorry about that.

[2020-03-08 23:16] #2385 closed