[2022-09-02 17:28] echarles commented on #8044
parse5 7.0.0 has just been released and a fix is already out with https://github.com/inikulin/parse5/pull/664

This may help

[2022-09-02 17:42] Josh-Cena commented on #8044
Yep, this is entirely an external issue: package A is importing package B and it breaks. Docusaurus doesn't control either. You can pin your transitive dependencies, or upgrade them again.

[2022-09-02 17:43] #8044 closed

[2022-09-03 16:52] lukedukeus commented on #7959
@osamajandali Can you post the code you used to get this result?

Thanks

[2022-09-04 22:55] ezbeazy commented on #6953
just a breadcrumb_label option in doc front matter would be great

[2022-09-05 05:40] johnnyreilly opened #8049 "Allow docusaurus.config.js to provide global link tags in the same way as global meta tags"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

In the same way as there's support for adding custom meta tags globally:

https://docusaurus.io/docs/api/themes/configuration#metadata

Could there also be support for adding cus

[2022-09-05 05:47] Josh-Cena commented on #8049
This is a very weird gotcha, but [`stylesheets`](https://docusaurus.io/docs/api/docusaurus-config#stylesheets) does exactly what you want (because `rel` is overridable). I've spoken in multiple places that it's probably a bad (unintuitive, at least) API...

[2022-09-05 05:52] johnnyreilly commented on #8049
So I'd hoped that stylesheets would work, but when I attempted it here it errored when I didn't supply an href:

https://github.com/johnnyreilly/blog.johnnyreilly.com/pull/277/commits/ba2e5f7c260da6015d1af1076e418ca411064ff3

This is the link I'm trying to render (no href):

[code]

[2022-09-05 05:57] Josh-Cena commented on #8049
Ah, that's right. It's a validation bug, then. Frankly I don't know if we should redesign the API or just relax the validation for non-`rel="stylesheet"` links.

[2022-09-05 07:21] johnnyreilly commented on #8049
I'd say that using stylesheets to configure something that very much isn't that is very unintuitive. I'd be tempted to copy paste the `metatags` API in the codebase to add a new `linktags` API which works exactly the same way and is configured alongside the `metatags` API.

What do you think?

[2022-09-05 15:10] Josh-Cena commented on #8049
Yep—agreed. I wonder how many people actually use it for `stylesheets`—for me it's about 40% of the time. 60% for non-CSS.

[2022-09-06 07:29] d8niz commented on #6294
Hi, any suggestions/improvements with this issue? I have the same error with the op as shown below

[code]

[2022-09-06 16:39] paulboocock commented on #7875
I noticed in #7769 it was suggested that this could be enabled/forced for a single code block. I have the odd code block where it makes sense to have it forced on, or at least enabled by default.

So this syntax (or similar) would be great for me:

[code]
[code]

[2022-09-07 10:23] slorber commented on #7999
`<DocBreadcrumb>` is used on both doc page and generated index pages, so it's not a good fit in your case. Also your feature is not really related to breadcrumbs in the first place, so it doesn't look right to swizzle this component.

I'd suggest swizzle --eject DocItem/Layout instead. It's larger to maintain, but gives you more flexibility to plug your own component in the global doc page layout.

[2022-09-07 10:44] slorber commented on #6294
@d8niz can't seem to reproduce on your repo here:
https://github.com/eclipse-muto/docs
https://stackblitz.com/github/eclipse-muto/docs

Please provide a branch with code that fails to build otherwise it's impossible to help

[2022-09-07 10:55] slorber commented on #6953
`frontMatter.breadcrumb_label` + `sidebarCategoryItem.breadcrumbLabel` 👍 we can easily add this today until we figure more advanced customization cases.

Anyone wants to send a PR?

[2022-09-07 10:55] d8niz commented on #6294
- I am truly sorry for not withdrawing the issue here after we fixed our issues (there was an actual  problem with our links) which i could not figure out by myself at the time

- When I found this issue i thought the problem might be similar (we recently upgraded to v2  that's why I was looking to the problem outside of our repository)

- We got our docs to be published [here](https://eclipse-mut

[2022-09-07 11:08] slorber commented on #8049
What about using the plugin API?

https://docusaurus.io/docs/api/plugin-methods/lifecycle-apis#injectHtmlTags

[code]

I understand it's not very convenient, intuitive or even easy to discover, but it should solve the issue.
I often think about creating some config shortcuts to expose these lifecycles in a friendly way. A bit like if each site always had 1 mandatory site plugin 🤷‍♂️

---

Curious

[2022-09-07 12:18] Josh-Cena commented on #8049
@slorber See for example: https://github.com/typescript-eslint/typescript-eslint/blob/8176fb15299943cbf20385eb0ea7ba877e193285/packages/website/docusaurusConfig.ts#L192-L215

All that `stylesheets` does is to add a `link` tag with a default `ref="stylesheet` attribute. It's not exclusively for CSS.

[2022-09-07 14:45] slorber commented on #8049
I understand, I mean later we may want to do something more like ensuring the stylesheet is inserted in the bottom, and prevent such usage where you override the rel: you'd rather use another API for non-stylesheet needs

[2022-09-07 14:48] Josh-Cena commented on #8049
That's cool for me as well, but we want something better than using plugin lifecycles. Let's just create a `headTags` root-level API that gets directly piped to `injectHtmlTags`?

[2022-09-07 15:49] #7767 closed

[2022-09-07 19:16] maxhr opened #8061 "Output directory of versioning - `{PLUGIN_INSTANCE_ID}_versioned-docs` should be configurable"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I want to organize the project to place the docs Markdown directories outside of Docusaurus root. .
[code]

I configure docs location in`docusaurus.config.js`:
[code]

To tag and

[2022-09-07 21:31] maxhr commented on #7871
If you make `blog/x/x.md` aliased as `blog/x` then users should have a way to make `blog/x/index.md` a 404 in case someone doesn't want this behavior and explicitly doesn't want an index file.

[2022-09-07 23:44] paularmstrong commented on #2961
Is there an umbrella task or list somewhere for the work to extract logic out of the classic theme and into theme-common to help out on making more themes possible?

[2022-09-08 02:03] backwardok opened #8063 "A11y: Tabs select when navigating with VoiceOver"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-08 02:06] Josh-Cena commented on #8063
I think tab presses should definitely switch focus between tab headings instead of jumping to the content afterwards.

[2022-09-08 03:21] backwardok commented on #8063
Hi @Josh-Cena! The issue isn't with the tab press behavior, it's with the navigation behavior (browsing/reading content). The behavior currently where the tabs are a single (keyboard) tab stop and tabbing forward skips the rest of the tabs is expected and matches with the documented pattern behavior for tabs. The behavior that's an issue here is that browsing through the content is triggering the

[2022-09-08 03:25] Josh-Cena commented on #8063
Ah! I've never used VO + right arrow before, so I don't know what it does. (I'm not an expert on VoiceOver anyway.) Well in any case, let's see how this can be fixed.

[2022-09-08 03:28] Josh-Cena commented on #8061
Sounds reasonable. Thanks for the detailed writeup! This has been one of the best issue reports in a while 😄

[2022-09-08 03:42] milesj opened #8065 "Additional Prism language does not work"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-08 03:48] Josh-Cena commented on #8065
I'm somehow sure this is because `twig` uses Prism hooks, and when they run, the global `Prism` instance has already unmounted. I don't know if we can do anything better than that. Maybe this will end up being a documentation update...

[2022-09-08 10:29] AlbertVilaCalvo commented on #7661
@slorber I'm very interested in having a global option to disable pagination for _all_ docs (including generated index pages).

I'm using Docusaurus to build my personal **Wiki** (knowledge base):
- Site: https://albert.wiki
- Source code: https://github.com/AlbertVilaCalvo/Wiki

I have many documents, all of them with Previous and Next links that I don't need, since the documents are not meant to

[2022-09-08 15:15] #8016 closed

[2022-09-08 15:18] #7989 closed

[2022-09-08 15:33] slorber commented on #2961
No umbrella issue but you could look at theme components and see if there is some code that is technical and not really related to theming/styles/CSS. Sometimes it's hard to extract, but there are still a few low-hanging fruits that contributors can help moving ;)

[2022-09-08 18:27] znat opened #8069 "Markdown filenames starting with `_` cannot be referenced in a sidebar"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-08 18:31] Josh-Cena commented on #8069
Hi this is a feature. Files starting with an underscore is a partial and won't be included, see https://docusaurus.io/docs/markdown-features/react#importing-markdown

You can either configure that with the plugin's `exclude` option, or you can change your file name to something else, and then adjust everything else with front matter, like:

[code]

[2022-09-08 18:31] #8069 closed

[2022-09-08 18:39] milesj commented on #8065
That would be unfortunate. Let me know if true, and I'll just copy `prism-twig` and rework it till it works.

[2022-09-08 18:50] znat commented on #8069
Oh thanks a lot, I missed that page.
My use case was integrating docs generated with `pydoc-markdown` so I can't go around `__main__` and `__init__` files.

[2022-09-08 18:51] Josh-Cena commented on #8069
Ahhh, then you need to change the `exclude` option. The default value can be found here: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#ex-config

[2022-09-08 19:06] JavierSegoviaCordoba opened #8070 "Yarn is showing a `npx` command"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

![image](https://user-images.githubusercontent.com/7463564/189205516-8e1f38df-fb66-49fd-89b7-9af0f8218e75.png)

### Self-service

- [ ] I'd be willing to address this documentati

[2022-09-08 19:08] Josh-Cena commented on #8070
Duplicate of https://github.com/facebook/docusaurus/issues/7908

[2022-09-08 19:09] Josh-Cena commented on #8070
This is very much working as intended (as in, even if we control the conversion process, we don't be able to change it). We have been constantly banging our heads on this about what the best way to denote execution of remote packages is, and ultimately we only found `npx`.

[2022-09-08 19:09] #8070 closed

[2022-09-08 21:11] milesj opened #8072 "Unable to resolve "Unexpected: no Docusaurus route context found""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-09 12:43] Josh-Cena commented on #7829
Closing because the current behavior is correct.

I think it's fine.

![](https://pbs.twimg.com/media/FPRVArRXIBkW10R?format=jpg&name=small)

[2022-09-09 12:43] #7829 closed

[2022-09-09 13:51] juliusmarminge opened #8074 "Reset to OS theme / colorMode should possible"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-09 13:52] juliusmarminge commented on #8074
I can submit a PR for this if you agree with my standpoint, but since I think this is intended I won't do anything until I hear back from you

[2022-09-09 14:50] Josh-Cena commented on #8074
The UX is quite hard to design. How should the localStorage value be deemed stale? Or should we not persist that value at all?

[2022-09-09 14:54] juliusmarminge commented on #8074
I usually don't persist it at all tbf but there is definitely a compromise to be made.

\+ If you don't use localstorage, the theme is always in sync with the user's device,

\- However say the user is on dark mode but want the page in light, the theme would reset to dark on every pageload.

I'd take the payoff and assume that users who want light pages probably has light mode enabled on their dev

[2022-09-09 14:57] juliusmarminge commented on #8074
On https://trpc.io we override this behavior by a bit hacky script implemented here https://github.com/trpc/trpc/pull/2664

[2022-09-09 15:01] Josh-Cena commented on #8074
I think refreshing definitely should not change the color mode—that would feel really shaky. The only question is whether we can invalidate the localStorage somehow in the following case:

1. Light mode is selected—either as default or as user choice
2. User's device switched from light mode to dark mode the next time the site is opened

I think to do that we have to persist the current system the

[2022-09-09 15:17] juliusmarminge commented on #8074
That sounds like a good idea. We could store a blob

[code]

and check if the mediaMatch === userPreferred in some way

[2022-09-09 15:42] juliusmarminge commented on #8074
I could play around and file a PR if you like?

[2022-09-09 15:42] Josh-Cena commented on #8074
Ah, sure, feel free to!

[2022-09-09 18:28] alliyya commented on #7818
Would be nice to also support custom icons too, or add that as an option in the front matter of docs in general.

[2022-09-10 11:41] johnnyreilly commented on #8049
Just noticed this discussion here after I'd submitted my PR!  I can understand the idea of special treatment for CSS given that it has a special usecase.  It's probably possible to handle that with a generic API but why change it given there's already a custom one in place I guess.

I wasn't aware of the ability to use the plugin API to achieve this, so thanks for sharing!  My feeling is that it d

[2022-09-11 18:11] noobyogi0010 commented on #8063
@Josh-Cena I've worked on a similar issue. Let me try resolving it.
Thanks

[2022-09-12 04:30] milesj commented on #8065
FWIW, I swizzled the prism stuff and commented out this line to move forward.

[code]

[2022-09-12 21:02] randallb commented on #5691
Hi-- I'm interested in working on this. It seems like it would be pretty simple... yeah? I'll give it a shot over the next lil' bit and let you know how far I get.

[2022-09-12 23:57] mrienstra commented on #6520
@Josh-Cena, thoughts on other options, so ESM migration can proceed? I don't see any movement on `yarnpkg/berry#3843`, and as you probably already know, chalk/chalk#531 says "This is a problem with Yarn PnP and should be reported on the Yarn issue tracker.",  so it's not going to get fixed on that end.

Is moving from yarn PnP to pnpm an option? Looks like doing so would require moving from depend

[2022-09-12 23:59] Josh-Cena commented on #6520
We are not using PnP. I'm saying migrating to ESM will break all users on PnP, which we are not going to do because we have E2E tests running on PnP and we are committed to support them.

[2022-09-13 00:27] mrienstra commented on #6520
Gotcha, I see that now, thanks for explaining it to me.

[2022-09-13 12:13] alexandrebodin opened #8091 "Getting invalid hooks error when loading markdown outside of docusaurs's root folder"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-13 14:15] AnteeHub opened #8094 "Dropdown items of navbar doesn't work well."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-13 14:21] Josh-Cena commented on #8091
Do you have a repo for me to clone? These kinds of errors are almost always dependency management faults, and without a repro it's hard to investigate.

[2022-09-13 14:31] peirstom opened #8095 "Hamburger menu for left-side navigation cannot be accessed by keyboard - Keyboard Navigation - Accessibility"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-13 15:11] alexandrebodin commented on #8091
Sure I push a branch on our monorepo so you can have a look :)
https://github.com/strapi/strapi/tree/chore/transactions. I pinpointed it into the helper-plugin package in packages/core. But couldn't find any real problem with the dependencies in there

[2022-09-14 22:10] anaclumos commented on #5878
Would like to hear any updates on this!

[2022-09-15 18:56] tesla809 commented on #3736
Has this been released yet? I am trying to use the `themeConfig.docs.sidebar.hideable` option, but it seems not to be working.

[2022-09-15 21:54] aileenxu14 opened #8102 "Open page to sidebar item that is not position 1"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I have a doc in my top navigation bar that upon opening I want to land on an item that is sidebar position 3. Is there a way to do this outside of changing the order of the items

[2022-09-16 11:58] benjie commented on #4445
I needed to import a file from the filesystem into the documentation to be included raw, to do so I added the following Docusaurus plugin to the list of plugins in `docusaurus.config.js`:

[code]

The plugin uses Webpack 5's `asset/source` type for any imports with `?raw` at the end. Then in my `.mdx` I could import the content by being sure to append `?raw`:

[code]

Thanks for all the guidance a

[2022-09-16 12:46] luisamor opened #8104 "Using <Translate> inside <options>"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-16 21:12] rcdailey commented on #2634
@yangshun doesn't look that great with dark mode enabled. Is there something that looks closer to the way the react native site does it?
![image](https://user-images.githubusercontent.com/1768054/190751348-3356dbe8-c0e0-4f2a-a9b9-4137ac776706.png)

[2022-09-18 10:35] rahul3002 commented on #8102
i would like work on this issue

[2022-09-19 08:25] alexandrebodin commented on #8091
Hi @Josh-Cena Would you have any pointers for me? Maybe some specific webpack config overwrites to force an alias for react to always be the same path 🤔

[2022-09-19 10:55] lsanchezalvarez opened #8112 "Getting "[ERROR] Error: Docusaurus found broken links!" when adding link to download files without extension."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-19 13:54] ArthurFlageul opened #8113 "How to exlude heading levels from the side TOC"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I'm trying to find out if I can edit the heading levels shown in the side TOC. I have found the page about the [TOCinline object](https://docusaurus.io/docs/markdown-features/toc

[2022-09-19 14:13] Josh-Cena commented on #8113
You can change the maximum and minimum, but you can't exclude levels in between (which sounds like a very confusing thing to do in the first place). Docs are here: https://docusaurus.io/docs/next/markdown-features/toc#table-of-contents-heading-level

Backporting docs changes is very tedious, but I'm going to do it in this case.

[2022-09-19 14:37] Josh-Cena commented on #8102
What does that mean? Let's say the sidebar structure is:

[code]

Do you wish it to navigate to "category 2" or "doc 3"?

Note that you have chosen the wrong template. Using "documentation" instead of "feature" means you missed a lot of the required content that we ask you to fill out in order to understand your use case.

[2022-09-19 14:40] #8113 closed

[2022-09-19 14:42] Josh-Cena commented on #8104
Hi—`Translate` is a `JSX.Element`, which is an object. If you want to use a string (which `option` accepts as its children), you need to use `translate()`. This is already mentioned in the docs: https://docusaurus.io/docs/i18n/tutorial#translate-your-react-code

[2022-09-19 14:42] #8104 closed

[2022-09-19 15:04] Josh-Cena commented on #8112
Hi, this is working as expected. Relative file paths are not asset links and won't bundle your files into the build output. In order to do that, you have to use `require` or add it to the static folder and link to it using its final URL. See: https://docusaurus.io/docs/static-assets#referencing-your-static-asset. For example, these should work:

[code]

[2022-09-19 15:04] #8112 closed

[2022-09-19 15:06] Josh-Cena commented on #8095
Interesting. I'm willing to accept a fix, but in which case would people be (a) using mobile layout and (b) using keyboard navigation?

[2022-09-19 15:10] Josh-Cena commented on #8104
Docs updated in https://github.com/facebook/docusaurus/pull/8115 to make it more explicit

[2022-09-19 17:04] chreniuc opened #8116 "TypeError: Invalid URL while trying to build with sitemap not set to false"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-19 17:39] aileenxu14 commented on #8102
In this particular instance I'd want to land on Category 2, but I have other instances where I may want to show Doc 2 or otherwise. For example, if I want to skip a "getting started" section that would typically be in position one, or if I want to highlight the most relevant section in a sidebar, or point to a "what's new" section that isn't in position 1. Right now, I can't find a way to activate

[2022-09-19 21:18] lsanchezalvarez commented on #8112
Joshua,
I am afraid that none of your suggestions work. Have you tried it with my project?
Cheers,
Luis

Sent from my iPhone

[2022-09-20 05:23] LittleboyHarry opened #8118 "The title of PaginatorNavLink button should be translated"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-20 08:24] apfelbox commented on #6872
The line is now

[code]

and is included in `@docusaurus/theme-classic`:

https://github.com/facebook/docusaurus/blob/main/packages/docusaurus-theme-classic/src/theme/prism-include-languages.ts#L32

How are you supposed to remove this file, without monkey patching in `node_modules`?

[2022-09-21 11:51] apfelbox commented on #8065
Same for me. Would be great to have this updated upstream
https://github.com/facebook/docusaurus/issues/6872#issuecomment-1252009927

[2022-09-21 11:57] ArthurFlageul commented on #8113
Argh, I can't believe I didn't find this. Maybe an admonition at the top of both pages would help to offer a redirection to ppl that want to noodle with the main toc but landed on the TOCinline page. Either way, thanks a lot 👍

[2022-09-21 20:40] motionsuggests opened #8122 "Inconsistent rendering of sidebar items"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-21 20:48] Josh-Cena commented on #8122
This is working as intended. The sidebar title metadata is a simple string, not a JSX element—it's always statically extracted from content via a simple regex before the Markdown is even parsed. In order to render this, we would have to ship an ad-hoc Markdown parser to the client side, which doesn't seem worth it. TOC doesn't suffer from this, because it's generated on-the-spot during Markdown pa

[2022-09-21 20:48] #8122 closed

[2022-09-21 20:58] Josh-Cena commented on #8118
Thanks for the issue! This is specifically happening for generated category index pages, because their metadata are not passed through as translated.

[2022-09-22 09:53] birjj opened #8124 "Autogenerated sidebar fails to parse category indeces when categories have non-latin characters"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-22 09:59] birjj commented on #8124
This appears to only be an issue on Windows. When building on a Unix server (e.g. the public URL) this issue does not reproduce.

[2022-09-22 10:10] birjj commented on #8124
After providing my own `isCategoryIndex`, and logging the arguments it is given, I see a difference in the `fileName` value:

[code]

[code]

It looks like the `fileName` is not correctly split when the path contains non-latin characters

[2022-09-22 10:42] wenerme commented on #4765
Possible to use mdx esbuild loader https://mdxjs.com/packages/esbuild/  to speedup the md build ?

[2022-09-22 13:20] motionsuggests commented on #8122
This makes sense. Thank you for the prompt response.

[2022-09-22 13:44] Josh-Cena commented on #8124
Thanks for the detailed report and taking time to look into this! We have this weird logic:

https://github.com/facebook/docusaurus/blob/6514f0784bd91bdce5d86be5fb1df338089db9d7/packages/docusaurus-utils/src/pathUtils.ts#L48-L70

I don't have access to a Windows device so I can't tell if that logic is still relevant today. Do you have sources on what kind of characters are accepted by Windows if t

[2022-09-22 14:01] dare-devilll commented on #8094
can I try working on it?

[2022-09-22 16:46] birjj commented on #8124
I do not have any official information, and have been unable to find any. The closest information I've gotten was [from the .NET documentation for `Path.AltDirectorySeparatorChar`](https://learn.microsoft.com/en-us/dotnet/api/system.io.path.altdirectoryseparatorchar?view=net-7.0) which mentions that

On an anecdotal basis I can confirm that both `C:/Users/me/Documents/dev/test/abc` and `C:/Users/m

[2022-09-22 17:00] Josh-Cena commented on #8124
Okay... hmmm... we may be better off normalizing all backslashes. Can simplify a lot of logic. We can see if someone uses arcane characters and complains.

[2022-09-22 19:48] birjj commented on #8124
I have done a bit of digging and found:

1. The code in Docusaurus is adapted from [sindresorhus/slash](https://github.com/sindresorhus/slash), which contains the ASCII limitation. That repository links to [this SuperUser answer](http://superuser.com/a/176395/6877) to justify the limitation, but that answer *doesn't* mention any ASCII limitations.
2. [Another answer to the SuperUser question](http

[2022-09-23 02:33] AnteeHub commented on #8094
Of course you can. And I am trying to find out what cause this at the moment...But unfortuanately I am still stuck here

[2022-09-23 02:33] AnteeHub commented on #8094
Of course you can. And I am trying to find out what cause this at the moment...But unfortuanately I am still stuck here

[2022-09-23 03:58] AnteeHub commented on #8094
A workable solution is setting type of  `DropdownItems` as `default` instead of  `doc`, the dropdown items perform as expect.
[code]

The document of `Navbar doc link` mentions:

So I wonder that maybe it is a **feature** ,but I found the website of React Native was using `Docusaurus v2.0.1`, but the dropdown items work well.

![image](https://user-images.githubusercontent.com/55703989/191889386-9

[2022-09-24 18:43] rxliuli commented on #7911
This doesn't really solve the problem, e.g. when importing a module from an external esm it will fail

[code]

[2022-09-24 20:38] juliusmarminge commented on #7264
When can we expect the first canary release that uses React 18? Saw that you have `3.0.0-alpha.0` but it's still on React 17?

[2022-09-24 23:50] azinit commented on #5689
Still actual!

[2022-09-25 00:20] Josh-Cena commented on #7911
@rxliuli Node ESM is orthogonal to TS. Even if you write TS in an ESM-like syntax, you are still downleveling it to CJS at runtime. Native support for ESM is tracked in https://github.com/facebook/docusaurus/issues/6520.

[2022-09-25 05:23] rxliuli commented on #4765
刚从 vite-vuepress 迁移过来，但我认为 docusaurus 还有很大的性能提升空间，一个基本构建性能对比。

docusaurus

[code]

vite-vuepress

[code]

文档站点的大概信息

[code]

不确定具体原因，但猜测可能包括下面几个

1. 使用 babel 而不是 esbuild/swc 这种原生编译器
2. 使用 webpack 而非更好的 bundle，例如 rollup？
3. 使用 mdx 而非 markdown-it（我很喜欢 mdast 系列的工具包，但它的 npm 包太过零散，很难相信它的性能是比较好的）

[2022-09-25 05:30] Josh-Cena commented on #4765
@rxliuli MDX is what we base our product on and advertise for. It is not replaceable. The JS loader is already customizable and our website uses SWC ourselves, and esbuild also works. Webpack _could_ be replaced, but it's too much work, and we have a plugin lifecycle literally called `configureWebpack` that would break if the config it injects becomes no longer compatible.

[2022-09-25 05:30] wenerme commented on #4765
Wow, 51s is so fast, My ci https://github.com/wenerme/wener/actions runs about 10-15m using esbuild loader, the loader only affects js/ts, but all docs are md, md parsing seems slow.

[2022-09-25 05:51] rxliuli commented on #4765
Using esbuild-loader, although it is still about twice as slow as vite-vuepress, it has improved some

[code]

[2022-09-25 06:07] baptisteArno commented on #6724
I added this file, then ran `pnpm install` then deleted this file remove all node_modules folders and ran `pnpm install` again, now it works. So strange.

[2022-09-25 07:40] zriyansh opened #8129 "DocCardList not rendering properly"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-25 22:22] jlvandenhout opened #8132 "Unify navbar dropdown and sidebar category styling experience"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

The navbar dropdown arrow is not configurable and by default has a different style compared to the sidebar category arrow. We'd like to propose unifying this styling experience:

[2022-09-26 02:32] AnteeHub commented on #8129
I am using devtools of Chrome to find what happens.  And I notice that you use some customer stylesheet rules in the page.Some css styles may cause it not rendering properly.

[code]

After I cancel the style, DocCardList render as default.

![image](https://user-images.githubusercontent.com/55703989/192182430-27812b7b-bb29-488d-8796-97d55a0fa3b2.png)
<img width="459" alt="image" src="https://user

[2022-09-26 05:30] roddc commented on #4748
I also have this problem on Chrome 70, I have added `chrome >= 70` into the browserslist, but  `Uncaught ReferenceError: globalThis is not defined` still occurs

[2022-09-26 07:57] roddc opened #8134 "Navigation bar does not work on old browser, polyfill issue"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-26 09:20] steventilator commented on #8072
I am facing the same error. It builds locally, apparently without errors, but when I open the site, I am greeted by this message:

This page crashed.
Unexpected: no Docusaurus route context found

The browser console logs:

[code]

I am on version 2.1.0.

[2022-09-26 17:20] mfaux opened #8135 "Build errors when `--out-dir` includes dot in path segment"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-26 18:04] zriyansh commented on #8129
yes this actually solves the problem, thanks @AnteeHub, also, have you played around with Live CLodeBlock? Because again that's not working in my local setup. Would really appreciate if someone somewhere did use it.

[2022-09-27 02:29] AnteeHub commented on #8129
Not yet.I've seen this on the official tutorial only :( .Maybe asking the others in discussion channel would help you to get the the answer.

[2022-09-27 02:44] Josh-Cena commented on #8135
This is tricky... This error seems to be directly thrown from `webpack`.

[2022-09-27 06:47] mfaux commented on #8135
Thanks for investigating!

[2022-09-27 13:13] Mr-spShuvo opened #8138 "baseUrl issues with Static Hosting Vercel and Netlify."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-27 14:16] #8129 closed

[2022-09-27 14:27] Josh-Cena commented on #8129
Thanks @AnteeHub!

[2022-09-27 15:12] Iwoks commented on #3689
Tries to save in optimized mode. And check mark removes metadata.

[2022-09-27 18:45] rwwilden opened #8139 "Slug with explicit .html extension breaks build"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-27 18:51] Josh-Cena commented on #8139
Could you try setting `trailingSlash: false`?

[2022-09-27 19:04] rwwilden commented on #8139
That doesn't seem to have any effect. I get the exact same error.

However, I think I have a work-around. If I define the slug as `/a/b`, the build succeeds and the resulting url becomes `/a/b.html`. I left `trailingSlash` as `undefined` in this case.

Not sure if this is still a bug now or expected docusaurus behavior :)

[2022-09-27 19:17] rwwilden commented on #8139
Ok, if I put the slugs as `/a/b` and set `trailingSlash: false`, I end up with urls like `/a/b.html`, which is exactly what I want.

I do think that it's a bit unclear from just looking at the slug to understand what the end result will be, but this now seems more like a feature than a bug :)

[2022-09-27 19:22] Josh-Cena commented on #8139
Setting `slug: /a/b.html` is a hacky but not obscure technique to ensure canonical URL, SEO, etc. all work the same as before. I'll need to experiment what happens with `trailingSlash: true`, but it shouldn't be too surprising.

[2022-09-27 19:32] rwwilden commented on #8139
Hm, getting broken links now that weren't there before. And I don't really understand the error message. What's the `23` and `24`?

    Exhaustive list of all broken links found:

    - On source page path = /programming/cloudfoundry/2019/02/26/net-service-broker-03:
       -> linking to 23 (resolved as: /programming/cloudfoundry/2019/02/26/23)
       -> linking to 24 (resolved as: /programming/cl

[2022-09-28 08:40] SimenB opened #8141 "Banner covers menu on mobile"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-28 11:36] slorber commented on #4748
@roddc afaik browserslist only impacts JS syntax and not APIs used

https://caniuse.com/?search=globalThis

globalThis is only available in Chrome 71 and we use it. I guess you are from China? You should find a way to upgrade, there are likely other things we don't support in Chrome 70, including some newer CSS syntax

[2022-09-28 11:58] slorber commented on #8112
It's really hard for me to understand what you are trying to do:
- where do you want to put the script
- why you talk about a script without extension
- what should be the final script URL the user downloads from

You are not really supposed to use relative paths to link to the static folder assets: those assets are always published alongside your site at the root baseUrl

If you want to prevent D

[2022-09-28 12:00] slorber commented on #6872
You can use patch-package for temporarily patching your favorite libs when needed

https://github.com/ds300/patch-package

Will catch-up later and try to figure out the problem

[2022-09-28 12:15] slorber commented on #3736
Create a repro detailing what doesn't work exactly with the actual/expected behavior and we'll look into it

[2022-09-28 13:40] apfelbox commented on #6872
Great, thanks! 🙌

swizzling the file works for now, as immediate fix

[2022-09-28 16:36] slorber commented on #8095
I'm able to focus the hamburger and navigate inside, but "enter" does not open it, and you need to press tab 😄

Also tabbing order might not be very good and once we reach the end we tab up to the hidden secondary menu (that is empty for the homepage)

<img width="770" alt="CleanShot 2022-09-28 at 18 35 51@2x" src="https://user-images.githubusercontent.com/749374/192837633-c1db21a1-0eb9-47ab-9601-

[2022-09-28 18:07] slorber commented on #8116
🤪 hard to understand but I figured it out:

[code]

I guess the value you provide is fine and we should instead ensure that our normalization process will always normalize it to add the missing `https://` protocol

Anyone want to contribute this?

[2022-09-28 18:24] Josh-Cena commented on #8116
I don't think that's a totally safe thing to do. We should just throw on anything that doesn't pass `new URL()` (which I thought we do already).

[2022-09-28 18:25] JoshuaKGoldberg opened #8142 "After many rebuilds, "FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-28 20:17] tarjelavik commented on #8138
Hi, just to confirm, i have to exact same issue on Vercel. I am trying to create a zone between two apps, but have not managed to get baseUrl to work.

Deployed with Vercel CLI.

[2022-09-29 06:56] AnteeHub commented on #8141
![image](https://user-images.githubusercontent.com/55703989/192960495-490afbf0-69ea-4573-9dee-149774aab290.png)

It can be reproduced on official website of [Docusaurus](https://docusaurus.io/)

[2022-09-29 07:09] andreipope commented on #2961
Hey @slorber ,

We love Docusaurus, and we're building our documentation website on top of it. We're also looking at using Tailwind, so I'm just wondering if you could shed some light on when the Tailwind theme will be available. I understand that you don't have an ETA, but it would be helpful to know whether it'll take weeks, months, or maybe even more. We're not sure if we'd be better off implem

[2022-09-29 07:31] thomasmattheussen commented on #6520
https://github.com/yarnpkg/berry/issues/3843 seems to have been fixed yesterday!

[2022-09-29 09:47] slorber commented on #8142
Also the first time I see something like that.

Maybe it could be a memory leak due to something custom, but it would be hard to know hat exactly without investing time profiling it.

For example, one memory leak was reported once writing a custom remark plugin here: https://github.com/facebook/docusaurus/pull/4997

Maybe worth giving it a try: https://engineering.fb.com/2022/09/12/open-source/mem

[2022-09-29 09:57] slorber commented on #8094
Hey,

This issue is duplicate of https://github.com/facebook/docusaurus/issues/8018 reported by @juliusmarminge and is a problem in `DocNavbarItem` `isActive()` function, not directly related to being in a dropdown.

Currently the doc item gets highlighted if any of doc of the same sidebar if browsed.

For React-Native website the issue does not happen because the 4 docs in the dropdown belong to

[2022-09-29 09:57] #8094 closed

[2022-09-29 10:19] slorber commented on #7818
It would be weird to allow you to provide a custom icon as frontmatter. Custom icons are not only emojis like we used there, but can also be svgs, images, react components... The best way to provide custom icons atm is with swizzling, and we'll make this easier

[2022-09-29 10:42] filipermit commented on #3013
I'm trying to change the text of the banner, I attempted Swizzling it, but I don't get many customisation options. Any help?

[2022-09-29 12:50] slorber commented on #8139
@rwwilden please when. you have a stacktrace, post it in its entirety. You removed the stacktrace from the error message, preventing us to immediately understand what's the issue, needing to reproduce it locally to understand the problem.

The stacktrace is:

[code]

This makes it clear for us maintainers that the problem is in our blog feed: we added a `readOutputHTMLFile()` method to create the

[2022-09-29 13:17] slorber commented on #3013
It's my plan to allow more flexibility options in Docusaurus on various axis: navbar items, footer items, sidebar (docs+blog) items... and also docs version banner items. See also temp workaround for custom navbar items here: https://github.com/facebook/docusaurus/issues/7227

For now we only provide a limited set of hardcoded banner item types, but we'd like to provide custom version banner items

[2022-09-29 13:33] slorber commented on #2961
Hey, I'm sorry but I have limited bandwidth, only work on Docusaurus 3d/week, also take holidays, have to spend like 50% of my time doing support and answering issues (like this one).

In conclusion, I have not much more than 1d/week to work on ambitious features for Docusaurus, and it's hard for me to tell you how much time it will take considering there are more urgent things to handle such as m

[2022-09-29 13:52] daniel-farina commented on #3793
Hello,

I read the new docs on the client lifecycle, but it's not now clear how to properly create hook with router.
Would it be possible to get a simple plugin example of a hook writing to the console the path everytime it changes?

Tysm for all the contributions!

[2022-09-29 14:07] slorber commented on #8138
Hey,

If you want to use `baseUrl: 'en'` then you should access should deployment on this URL: https://docs-test-q239acpv9-agora-gdxe.vercel.app/en/

You will note the following status code:

- 200 on https://docs-test-q239acpv9-agora-gdxe.vercel.app/
- 404 on https://docs-test-q239acpv9-agora-gdxe.vercel.app/en/

We can also see the problem on the CSS file it tries to load:
- 200: https://docs-te

[2022-09-29 14:09] #8138 closed

[2022-09-29 14:57] slorber commented on #8116
Fine with both solutions. Agree it looks safer to ask user to always provide a protocol 👍

Also thought it was the case 😅 Joi is just a pain

[2022-09-29 16:36] slorber commented on #8135
curious to know what led you to this conclusion?

---

Surprisingly the `build/product/6.0` folder exists after the error, so why can't it be opened 😅 maybe it tries to open it as a file?

[2022-09-29 17:00] slorber commented on #8072
@milesj can I get the exact code that produced which CI failure exactly? Because looking at the linked PR, it is merged and all CI is green so it's hard to inspect anything 🤷‍♂️

---

Same @steventilator, I will need a repro. If your site can build and only fail later, that looks like a different behavior than the one reported initially (where the CI fails).

---

Make sure to remove all your swiz

[2022-09-29 17:19] slorber commented on #8134
browserslist does not polyfill missing browsers api, it only affects syntax. If you want to lower the browser support you'll have to bring your own polyfills.

globalThis is widely supported today and we don't plan to remove it.
https://caniuse.com/?search=globalThis

Please simply upgrade your browser because there are likely other things we won't support (like some new CSS features)

[2022-09-29 17:19] #8134 closed

[2022-09-29 17:26] slorber commented on #3793
@daniel-farina it's your luckly day because we have exactly that here: https://github.com/facebook/docusaurus/blob/main/website/_dogfooding/clientModuleExample.ts

Open any of our deploy preview (disabled in prod) and see it in action in your console: https://deploy-preview-8137--docusaurus-2.netlify.app/

[2022-09-29 17:27] milesj commented on #8072
@slorber Yeah, it "just started working" randomly. I'm not sure what caused it, but...

Here's an example failing run: https://github.com/moonrepo/moon/actions/runs/3018212049/jobs/4852904913

And this is basically the code changes that were failing: https://github.com/moonrepo/moon/pull/304/commits/1cfbe9c8343f3de45e4d2c159582824477095aed

[2022-09-29 17:29] lewisjkl opened #8147 "CSS Minimizer: Call retries were exceeded"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-29 17:30] slorber commented on #8063
# Good first issue

This issue should be relatively easy to solve so I'm willing to delegate it to an external contributor.

## Disclaimer

We, project maintainers, have limited time and need to protect it.

We kindly ask you to invest your time, trying to be autonomous and proactive instead of expecting us to guide you step-by-step.

- Don't expect us to teach you the basics of Docusaurus: if you

[2022-09-29 17:33] Josh-Cena commented on #8147
If it's upgrading their version between minor versions that breaks, it's very likely their bug. Let's wait for a few days to see what follows.

[2022-09-29 17:34] slorber commented on #8072
🤷‍♂️ this seems unexpected. Maybe running "docusaurus clear" or whatever solved the problem. Maybe the CI cache auto clears on fails?

Going to close for now if nobody has the build issue anymore, but we can reopen if this happens again.

---

@steventilator your issue is different. If you have a runtime issue (ie error only appearing in console logs) that's a totally different case and you need t

[2022-09-29 17:34] #8072 closed

[2022-09-29 17:38] Josh-Cena commented on #8135
Ah, the debugging trick is called "inserting `console.log("HELLO")` everywhere" 😄

The error is thrown from here: https://github.com/facebook/docusaurus/blob/c6f5cf9ac75f9942203d1570697d928098abcaeb/packages/docusaurus/src/webpack/utils.ts#L243-L249

[2022-09-29 19:17] gchatz22 commented on #3736
Agreed with @tesla809, attempted this config in `docusaurus.config.js` and sidebar cannot be hidden
[code]
according to https://docusaurus.io/docs/sidebar#hideable-sidebar

[2022-09-29 19:23] Josh-Cena commented on #3736
@gchatz22 This should be in `themeConfig`, not `presets`.

[2022-09-29 20:01] mfaux commented on #8135
Can't beat `console.log`!

[2022-09-29 21:00] mrienstra commented on #6520
Nice! Looks like that change is available in `4.0.0-rc.22`. Run [`yarn set version canary`](https://yarnpkg.com/cli/set/version) if you want to try it. v4 release is still a little ways off ("may take a couple more months"), but:

... according to https://github.com/yarnpkg/berry/discussions/4895

[2022-09-29 22:27] gchatz22 commented on #3736
Okay still not functional unfortunately
[code]

[2022-09-29 22:36] Josh-Cena commented on #3736
The doc says the shape is:

[code]

So you are missing a `docs: {}` nesting there.

[2022-09-29 23:58] orsenthil commented on #8147
I hit this problem too. What will be a workaround?  I see the doc always recommends using the latest

[code]

[2022-09-30 00:38] ericpassmore commented on #8147
Doesn't appear to be a Docusaurus issue, workaround is to downgrade css-minimizer-webpack-plugin. That worked for me.
[code]
I encountered the same error with
- docusaurus@2.1.0 typescript
- node@16.17.1
- css-minimizer-webpack-plugin@4.2.0
- running `npm run build`

[2022-09-30 00:51] Josh-Cena commented on #8147
Closing in favor of https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/198. Whatever the root cause is, seems to be an upstream issue. Thanks for reporting!

[2022-09-30 00:51] #8147 closed

[2022-09-30 02:56] gchatz22 commented on #3736
Thank you although a bit confusing, it worked

[2022-09-30 06:48] ohitsjudd opened #8148 "[GitHub Pages Deployment] Client bundle compiled with errors therefore further build is impossible."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-09-30 07:02] surishubham commented on #8148
I have added a temporary solution by changing build command

"build": "docusaurus build --no-minify",

but it might effect on page performance

[2022-09-30 07:07] ohitsjudd commented on #8148
Can confirm doing this does build successful now

[2022-09-30 07:25] surishubham commented on #8148
yes, can build without minimize JS/CSS

https://docusaurus.io/docs/cli#options

[2022-09-30 09:27] slorber commented on #8135
😅 can't figure where this come from.

Hopefully it shouldn't block you: the workaround is just to rename the folder after a build and it should work?

[2022-09-30 09:47] slorber commented on #8148
Duplicate of https://github.com/facebook/docusaurus/issues/8147

Original issue in third-party dependency: https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/198

Temporary workaround is to pin the dependency to ensure it uses 4.1.0 instead of 4.2.0 (or use --no-minify but not so great)

[2022-09-30 09:47] #8148 closed

[2022-09-30 10:36] mfaux commented on #8135
It's not a blocker (sorry, I should have mentioned that). I have a workaround to test the build.

[2022-09-30 12:54] slorber commented on #3915
Note: the readingTime blog feature is also affected by this MDX imports problem.

---

Wondering, how many of you have been successful using a remark plugin to inline one MD doc into another? Have you published your solution?

Looks like this has been used successfully by at least 2 persons:
- https://github.com/facebook/docusaurus/issues/599#issuecomment-605847247
- https://github.com/facebook/do

[2022-09-30 13:23] slorber commented on #8132
True, the caret is added in `:after` and comes from Infima classes. In my opinion such elements should always be stylable in a more flexible way, at least with swizzle.

I think it doesn't always make sense to share the exact same icon in multiple places. But in this one I think it could make sense.

VitePress uses a similar icon for its dropdown and it doesn't look bad compared to ours so I'd be

[2022-09-30 13:37] Sas2k commented on #5878
yeah same here

[2022-09-30 15:56] slorber commented on #8061
Hey @maxhr , sorry for the delay.

To me, it is not necessarily the best idea to put the docs outside the site folder, and can lead to subtle bugs that might be surprising.

MD docs are compiled to React components with MDX, so your content files ARE real components after being compiled. If your docs folder (or any folder containing md content) is outside your site, there's a risk it resolves the

[2022-09-30 17:21] SanGeeky commented on #6472
@Josh-Cena I would like to work on this, is necessary to cover all the good practices mentioned, or can I submit the ones I can develop?

[2022-10-01 07:45] Pranav2612000 commented on #8139
Hey @slorber I'll like to work on this. I've read the disclaimer and don't expect the PR to be assigned but just wanted to give up a heads up to prevent some one else from working on the same task.

( I'll try create a PR quickly, but if you don't see a message in the next 12 hours, feel free to pick this up )

[2022-10-01 16:22] abe-winter commented on #3620
For what it's worth I also had this problem on a linux laptop
- finally solved by closing vscode, which was probably hogging all the watches (and which also uses chokidar internally)
- before that, I audited what chokidar was doing -- as far as I could tell, it wasn't doing anything egregious (like for example watching the entire node_modules tree). pretty sure it was tracking 11 globs which added

[2022-10-01 16:32] Pranav2612000 commented on #8139
I've been able to setup the project and am able to reproduce this issue. Will send a PR soon.

[2022-10-01 23:37] forgeRW commented on #8116
I'd like to work on this so here's my PR #8159 for your review

[2022-10-02 08:05] Pranav2612000 commented on #8139
I've created a PR which fixes this. Feel free to take a look when you get time

[2022-10-02 09:37] Pranav2612000 commented on #8141
@slorber
I'll like to work on this.
I tried the temporary workaround and it works. Do you want me to create a PR with it? Or do you want me to explore more and come up with a better solution?

[2022-10-02 10:56] a11rew commented on #8116
Ahh should have probably put in a heads-up that I was working on this

[2022-10-02 15:12] Josh-Cena commented on #8116
Yeah, it's always a good idea to at least give a heads-up—especially since it's October😅

[2022-10-02 15:31] #8116 closed

[2022-10-02 21:50] hrumhurum commented on #2410
The build command option does not cover the desired use case as we need to run `npm run serve` command as well and it should use the right build directory.

This means that the output directory should be specified in `docusaurus.config.js` file in order to be universally useful.

[2022-10-02 22:03] JoshuaKGoldberg commented on #8142
Got it, thanks - I'll move this issue over to typescript-eslint then. Cheers!

[2022-10-02 22:03] #8142 closed

[2022-10-03 14:08] JoelLau commented on #3185
hi, can i pick this up as part of hacktoberfest? i intend to convert all files to webp using tools such as https://github.com/hoipo/webp-converter-cli

[2022-10-03 14:25] lukaszch commented on #5689
Is the exclude from autogenerated sidebar option already implemented? I tried it, but it doesn't work in the 2.1 version.
I have only a docs-based site, where one of the docs pages is the initial page, which works great.
I only cannot find a way to hide it from the autogenerated sidebar.

[2022-10-03 21:23] becca-tiessen opened #8171 "Anchor links do not get scrolled to correctly (on production)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-04 03:41] Josh-Cena commented on #8171
Do you mean our deployed site? Do you have a link?

[2022-10-04 04:43] anaclumos opened #8172 "Navbar Highlighting Behavior for Nested Routes is different between Docs and Blog"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-04 04:45] anaclumos commented on #8172
I have found that it was my subroute redirection pattern that caused the issue. Closing the issue!

[2022-10-04 09:09] je-boska opened #8173 "Announcement bar covers 'Skip to main content' button"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-04 10:50] andreipope commented on #2961
Hi,

We appreciate you taking the time to answer our question. We just wanted to get more insight into this. Thanks for sharing all the useful information!

Best,
Andrei.

[2022-10-04 13:40] becca-tiessen commented on #8171
Hmm I forgot about the deployed site actually, I was referencing the playground/sandbox link that I used for the reproducible demo.

But I just checked the official deployed site with a link like this: (https://docusaurus.io/docs/styling-layout#mobile-view) and it does work... Are there significant differences between the deployed site and the playground environment? It looks to me like they're us

[2022-10-05 09:53] jkohlin opened #8178 "@algolia autocomplete-shared throws a warning regarding 'render' option"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-05 10:39] slorber commented on #8178
cc @shortcuts : that warning seems unexpected 🤔

On that repro the Algolia plugin is not even loaded (can be seen on https://ietpq9.sse.codesandbox.io/__docusaurus/debug/metadata)

[2022-10-05 10:40] slorber commented on #8178
Oh, just saw that the local search plugin has it as a dependency 😅 I don't know why

Can you explain @cmfcmf ?

https://github.com/cmfcmf/docusaurus-search-local/blob/main/packages/docusaurus-search-local/package.json#L26

[2022-10-05 14:52] slorber commented on #2410
Both build/serve commands take an output dir option, and there's even a `--build` option on the serve command. We don't plan to add output dir to the config sorry

[2022-10-05 15:08] slorber commented on #6032
A new interesting solution from @bluwy

[Whyframe](https://whyframe.dev/) permits to easily isolate the rendering of a React component inside an iframe.

There's a [Docusaurus plugin](https://whyframe.dev/docs/integrations/docusaurus) to try

[2022-10-05 17:10] #8063 closed

[2022-10-05 18:00] slorber commented on #3185
Hi

Docusaurus may have some pngs on its site but it's not a big deal, and users can use webp on their site if they want.

We also have process for resizing images and lambda to take showcase screenshots automatically

I'd prefer if we manage this ourselves instead of delegating to the community.

Also we may directly want to try using av1 as well in srcset if we want something optional

This issu

[2022-10-05 18:00] #3185 closed

[2022-10-05 18:02] Josh-Cena commented on #3185
The main issue we hit was that ideal-image does not support webp, or we would have converted them long ago. It's still on my todolist, though.

[2022-10-05 23:41] pdillon commented on #8091
I ran into a similar issue, but not with mdx. Not sure if this would work for you, but adding this to plugins in docusaurus.config.js worked for me:
[code]

[2022-10-06 09:12] slorber commented on #8091
yes 👍 good solution

Wonder if we shouldn't add this in core to ensure Docusaurus users would at most use a single version of React

Although the path may vary depending on single repo vs more complex monorepo setups, it should be possible to find a solution and ref the React version Docusaurus is actually using

[2022-10-06 09:42] slorber commented on #5689
If this issue is not closed, this means it's not implemented not released

I only cannot find a way to hide it from the autogenerated sidebar.

Interesting use-case to consider, thanks for reporting

[2022-10-06 13:20] #8173 closed

[2022-10-06 14:19] #8139 closed

[2022-10-06 21:14] coding-to-music opened #8183 "Module parse failed: Unexpected token (9:22)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-07 03:20] YazzyYaz opened #8184 "`current` Version in Docusaurus still shows `Next` label even if specified otherwise"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-07 09:57] anaclumos opened #8188 "Logo blinks too much when navigating through pages"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-07 10:02] slorber commented on #8183
Hey

Your repo is not brand new, so when did it start failing and what did you do exactly that triggered the failure? Have you tried reverting your changes one by one until it works again?

I see a huge commit where you steal a lot of our showcase code here and then it seems to fail deploying:
https://github.com/coding-to-music/docusaurus-classic-site/commit/c6e98bf881881954e341d58ec085326d1ce2e0e

[2022-10-07 10:24] slorber commented on #8188
Agree 👍

This is a known issue related to layout unmount/remount, already reported here: https://github.com/facebook/docusaurus/issues/4008

Duplicate and tracked here: https://github.com/facebook/docusaurus/issues/2891

A good workaround you can use today:
- define an explicit logo width/height
- add logo HTTP caching so that it doesn't have to be reloaded when navigating

[2022-10-07 10:24] #8188 closed

[2022-10-07 10:41] slorber commented on #8184
https://github.com/celestiaorg/docs

=> I don't see a versioned site here nor your modified config I could inspect, nor the live result showing me the problem and you didn't either include screenshots showing where the wrong label is displayed. This is really hard for me to double-check your setup and try to help you 😅

Have you tried creating a smaller repro with Docusaurus.new to be sure it's no

[2022-10-07 11:35] #8124 closed

[2022-10-07 14:21] slorber commented on #8171
@becca-tiessen when I access your url here:

https://developer.boldcommerce.com/default/guides/getting-started/quick-start#create-an-account

There is a "flash" where a banner appears first and then it gets replaced by the real content. The initial content does not contain the hash this is why it doesn't work.

You can debug with JS disabled (there are chrome plugins to easily disable it), this pa

[2022-10-07 14:21] #8171 closed

[2022-10-07 14:24] YazzyYaz commented on #8184
@slorber thank you so much for the support. It worked when I edited current.json and I will scope out CI automation for i18n directory.

Wanted to check, after I got it working, the navbars stay on latest path. For example, say I switch versioning from `latest` to `current`, which updates fine; When I click on another item on the navbar, it redirects back to `latest` rather than stay in `current`.

[2022-10-07 14:36] slorber commented on #8184
Hey @YazzyYaz, great that this is solved. I guess we can close then.

We have different navbar item types.
There's a type to link to a doc, and it will automatically use the link of the doc in the currently selected version (assuming the docId exists in all versions)

[code]

You can also try to implement your own custom navbar item if that doesn't work for your use-case (see https://github.com/fa

[2022-10-07 14:36] #8184 closed

[2022-10-07 15:12] becca-tiessen commented on #8171
Ah ok, I've checked with the rest of my team and we do have a hybrid setup that has caused us some issues in the past, sounds like we'll be adding this problem to the list.

Thanks so much for the explanation and for looking into this; much appreciated. My eyes ignored the flash before but it's obvious now. 👍

[2022-10-07 19:10] coding-to-music commented on #8183
Yes, it was building the showcase, then I attempted to edit the huge number of entries down to only a few, so I must have left a typo in that commit. I will work on it again - probably can be closed as not-a-bug it's operator-error lol. I can keep you posted on what I find if I do figure it out...

[2022-10-08 00:58] farlowdw opened #8189 "Inconsistent display when `b`, `i`, `s`, or `u` tags are used within `code` tags"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-09 01:58] coding-to-music commented on #8183
Will update if I find what it was, thanks

[2022-10-09 01:58] #8183 closed

[2022-10-09 09:59] Selflocking opened #8196 "The announcementBar cannot be translated"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-10 03:15] 0916dhkim commented on #4415
I opened a small PR to solve this issue here #8195

[2022-10-10 15:02] pg99696 commented on #8006
I would like to work on this issue. Please let me know if cleanup is still pending.

Also, please guide me from where to start as this is my first time on this repo.

[2022-10-10 15:05] Josh-Cena commented on #8196
Duplicate of https://github.com/facebook/docusaurus/issues/4542. This is so far untranslatable because we allow raw HTML so if you outsource your translations to an external workflow you risk XSS. We need to see how to harden the security so only pure decorative markup is tolerated.

[2022-10-10 15:05] #8196 closed

[2022-10-10 20:06] mturoci commented on #6411
@Josh-Cena @slorber I would like to pick up this issue, but have a few clarifying questions:

* Shall the existing JS focus be dumped entirely in favor of a simple anchor? (IMHO using native href is always preferred compared to JS so this is a good direction).
* `useId` hook cannot be used because the root docusaurus package (main package.json) depends on React 17 and theme-classic has also peer d

[2022-10-11 06:34] aandis opened #8201 "Link beside custom component does not render"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-11 06:38] Josh-Cena commented on #8201
Please see https://docusaurus.io/docs/markdown-features/react#markdown-and-jsx-interoperability, first example

[2022-10-11 06:38] #8201 closed

[2022-10-11 06:40] #8172 closed

[2022-10-11 09:59] JonnyBurger opened #8202 "Docusaurus chooses port 3000 even if it is busy"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-11 17:07] Josh-Cena commented on #8202
I've discovered the same recently. It doesn't seem to reproduce with two Docusaurus servers—only when one port is running something else.

[2022-10-11 23:08] dovholuknf opened #8205 "Quotes and apostrophes stripped from style"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-11 23:10] dovholuknf commented on #8205
trivial workaround for this issue exists to use a CSS variable. the quotes are not stripped from those.  For example adding:
[code]
and referencing it with:
[code]
can work around the problem

[2022-10-12 08:39] JonnyBurger commented on #8202
@Josh-Cena Correct, the explanation for this is that Docusaurus does `.listen(3000, "localhost")`, which doesn't cause this problem.

[2022-10-12 10:07] slorber commented on #5568
Use-case: reading frontmatter of other locales (mostly the default locale). IE when building fr, access both en+fr frontMatter

https://github.com/facebook/docusaurus/discussions/8197

[2022-10-12 10:41] slorber commented on #8205
According to my tests, the absence/presence of quotes has no impact 🤷‍♂️

Please prove me with a video of devtools that any of these 2 options would render a fantasy font. It renders Open Sans for me in both cases, so make sure you don't have a typo

<img width="306" alt="CleanShot 2022-10-12 at 12 36 26@2x" src="https://user-images.githubusercontent.com/749374/195321261-31ebf72b-7b98-4dfd-be04-2b

[2022-10-12 10:41] #8205 closed

[2022-10-12 10:54] slorber commented on #8202
😄

As far as I remember this code was copied from CRA in https://github.com/facebook/docusaurus/issues/3005 and we use the detect-port library: https://github.com/node-modules/detect-port

It seems to use a similar approach of attempting to create the server: https://github.com/node-modules/detect-port/blob/master/lib/detect-port.js#L101

Maybe we don't pass it the correct params? Or maybe it's wo

[2022-10-12 10:55] dovholuknf commented on #8205
Did you happen to test in Firefox? Chrome/brave exhibited the behavior for me but Firefox didn't.

https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
States, "Font family names must either be given quoted as strings, or unquoted as a sequence of one or more identifiers.” so stripping the quotes is a bug. I'll try filling it in the repo you indicate.

[2022-10-12 11:48] JonnyBurger commented on #8202
Dug deper:

- Docusaurus uses `detect-port@1.3.2` while Facebook uses `detect-port-alt@1.1.6`

`detect-port-alt` uses 4 steps to determine the port (see their comments): https://unpkg.com/detect-port-alt@1.1.6/lib/detect-port.js

`detect-port` uses only 3steps to determine the port, and the logic is significantly different: https://unpkg.com/detect-port@1.3.0/lib/detect-port.js

- Facebooks passes

[2022-10-12 12:08] slorber commented on #8205
Thanks @dovholuknf , the Mozilla doc you link to seems to say so indeed.

In practice it works for me in Firefox, and devtools even underline the currently selected font (nice DX, very convenient)

In both cases quotes or without, the Open Sans font is selected

![CleanShot 2022-10-12 at 13 59 31@2x](https://user-images.githubusercontent.com/749374/195337317-492e9ff6-e00f-4bad-886f-d4b4eb6033ac.pn

[2022-10-12 12:11] slorber commented on #8205
Oh misunderstood your sentence. I tested first in Chrome (latest 106) , and later in Firefox. Both worked fine for me 👍

[2022-10-12 12:44] dovholuknf commented on #8205
Sure, I posted this into the discord yesterday and another prolific user in that discord indicated they could replicate. I'll have to find that later today. I'll post it back

[2022-10-12 15:19] slorber commented on #8202
Thanks 💯

If only someone could just create a shared package that works for everyone 😅 looks like CRA is using detect-port-alt now (published by Dan Abramov, no fork repo linked 😓 ). That probably was for a good reason.

Interesting related issues:
- https://github.com/facebook/create-react-app/pull/2126 (led to forking)
- https://github.com/facebook/create-react-app/pull/2209 (`@timer/detect-port

[2022-10-12 17:43] slorber commented on #7667
I think there's an issue with our accessibility fix.

When we navigate from one page to another, triggering a global layout unmount/remount (ie navigating from homepage to docs or to blog), the dark mode switch will announce itself on navigation.

We should probably only make it announce after having been pressed once no?

[2022-10-12 19:45] F4r3n opened #8206 "docusaurus-plugin-client-redirects does not keep the query string."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-13 09:53] slorber commented on #4415
Note this page looks also weird on a vertical screen, we should fix that too:

https://docusaurus.io/tests/docs

![CleanShot 2022-10-13 at 11 52 52](https://user-images.githubusercontent.com/749374/195565394-1574e65e-dcc4-4a3e-851e-826e1452b03d.png)

[2022-10-13 19:55] pea-nut-z commented on #4415
A reproduction of (https://github.com/facebook/docusaurus/issues/4415#issuecomment-1209597904)

![menu_longer_than_content](https://user-images.githubusercontent.com/66141752/195693853-da5dfaa1-78cf-4dfe-8a8c-f274231ac7a9.gif)

I believe this only happens when the right content is shorter than the navbar menu. The footer shifts because the additional space needed to fit in an open navbar menu long

[2022-10-13 20:45] tavarescarolina commented on #8206
Hello, can I try to fix it?

[2022-10-13 21:16] pea-nut-z commented on #4415
Would you like a CSS detection for the vertical screen and then utilize the same navbar reveal on mobile devices - a button in the top left corner?

[2022-10-14 00:36] 0916dhkim commented on #4415
So something like `@media (min-aspect-ratio: 8/5)` ?

[2022-10-14 00:40] pea-nut-z commented on #4415
Found this (https://stackoverflow.com/a/5735636/14173622)

[2022-10-14 10:32] AviandraPutri-Jubelio opened #8211 "I cannot change docusaurus logo favicon.ico"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

Hi, please help,I don't understand why my logo didn't change to the new one after running "npm run build."

![image](https://user-images.githubusercontent.com/111033787/195825825

[2022-10-14 12:23] slorber commented on #4415
This is not a problem of vertical/horizontal/ratio but just having more vh than the sidebar + main content

<img width="1914" alt="CleanShot 2022-10-14 at 14 22 46@2x" src="https://user-images.githubusercontent.com/749374/195846004-32e5762c-8a98-4fc2-91be-35bbf0629467.png">

There are good existing repros to both problems here:
- https://docusaurus.io/tests/docs
- https://docusaurus.io/tests/docs/

[2022-10-14 15:14] pea-nut-z commented on #4415
Thanks for explaining that. Here is what I did.
<img width="674" alt="min_height-navbar" src="https://user-images.githubusercontent.com/66141752/195879591-9907b15f-851e-4ea5-a410-2d91290e6699.png">

Move the navbar to its outer container - "main-wrapper," so it will always take up the white space available, giving it a minimum height instead of depending on the content length.

The result
![give_n

[2022-10-14 16:07] #1258 closed

[2022-10-14 17:31] Dannyholt commented on #8211
The image in your screenshot is the nav logo, not the favicon. To change the nav logo, see the link below.

https://docusaurus.io/docs/api/themes/configuration#navbar-logo

[2022-10-14 17:33] #8211 closed

[2022-10-16 09:49] Danielku15 commented on #6923
I planned to upgrade `2.0.0-beta.17` to `2.1.0` but `useDocById` seems to be unavailable from the official API. So actually parts of my feature request which was solved in #6302 did not make it to the official APIs or was accidentally reverted in
https://github.com/facebook/docusaurus/commit/9473508c33132ac3c0ad7446ccd94fb7b386b085#diff-1ca3eb876a1746df7df2189265d991250dcbe1e54a9f23276d27b22da8b4d

[2022-10-16 17:23] mturoci commented on #7667
@slorber after a bit of investigation I found out that `aria-live` regions are reannounced every time the React component is remounted (inserted into the DOM) which makes sense.

The question is why is the ThemeToggle button reinserted on the navigation.

From my quick look into the code, it seems like the whole page is wrapped within react-router. The problem with this approach is that it tears d

[2022-10-17 06:21] dsousa12 commented on #3424
For me work this:

[code]

[code]

[2022-10-17 08:17] NekkiNeks opened #8218 "index.md doesn't work with other languages localy"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-17 12:07] randomJoe211 commented on #3930
Hi @ngaer, thank you so much for the workaround! 💐  It really helped.
One question is that after applying the workaround, the docsVersionDropdown of doc instances that are versioned also disappeared. How can I get them out, and only hide the docsVersionDropdown for the doc instances that are not versioned?

[2022-10-17 12:32] Josh-Cena commented on #8218
It's stlll actual because it's not published yet. Do note that it was closed a few days ago and there had been no release since.

[2022-10-17 12:32] #8218 closed

[2022-10-17 14:01] NiuZhuang commented on #6724
Many thanks. I tried below steps and it works as magic.

1. add .npmrc as below
[code]
2. delete root node_modules
3. delete doc package's node_modules
4. `pnpm i`

[2022-10-18 12:06] linkdao opened #8223 "can we add a new function: read summary.md as sidebar"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

there are too many document base gitbook or othes solution press，if we develop a new function make it easy to migrate. the roblems I encountered during the migration process is r

[2022-10-18 15:22] Josh-Cena commented on #8223
This issue is too underdeveloped to be actionable. Without a detailed API design and/or motivation/field research, please send it as a [Canny request](https://docusaurus.canny.io/) first, as the issue chooser has asked. Autogenerated should suffice in almost all cases and results in you writing nothing at all.

[2022-10-18 15:22] #8223 closed

[2022-10-18 22:19] alexander-akait commented on #4765
For CSS and HTML minification you can use https://www.npmjs.com/package/@swc/css (https://github.com/webpack-contrib/css-minimizer-webpack-plugin) and https://www.npmjs.com/package/@swc/html (docs https://github.com/webpack-contrib/html-minimizer-webpack-plugin#swchtml)

It is very fast, but young (but all bugs are fixing very fast), so feel free to check it.

In near future we will provide abilit

[2022-10-19 13:05] slorber commented on #8223
It's hard to understand what this issue is about.

But... I'll still try to be helpful:
- we support `index.md` and `readme.md` for autogenerated category index, not `summary.md`
- this naming convention can be customized, so you can implement support for `summary.md` yourself

https://docusaurus.io/docs/sidebar/autogenerated#category-index-convention

[2022-10-19 13:35] slorber commented on #7667
@mturoci the unmount/remount problem is a known problem (https://github.com/facebook/docusaurus/issues/2891) and not so simple to solve in the short term. I'm more looking for a solution considering we won't be able to fix this deeper problem immediately.

The layout should not automatically be applied to all Docusauurus routes: some sites need to have pages with a different layout. And there can

[2022-10-19 13:38] slorber commented on #8206
yes @tavarescarolina , you don't need to claim it, just open a PR. First PR opened and the issue is for you

[2022-10-19 13:45] slorber commented on #4415
@pea-nut-z honestly not sure what I want exactly, need to see it live and play with it to feel the UX on different edge cases.

Can you open a PR with this suggestion?

[2022-10-19 14:47] slorber commented on #6411
Something to consider:
- our current skipToContent behavior focuses in priority an existing `<main>` tag over
- we are keeping this behavior (for now)
- we are introducing an explicit "id" that is used more as a "fallback" in case no `<main>` tag exists. In this case, focusing on the `<Layout>` children container is reasonable behavior.
- when JS is disabled, it's not possible to replicate the sam

[2022-10-19 15:32] JontyMC opened #8226 "Typescript compilation error after swizzling"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-19 16:10] slorber commented on #8226
Hey,

It looks to me it is related to the package.json "exports" that we introduced recently.

Try this:

[code]

See also: https://github.com/tsconfig/bases/pull/122

[2022-10-19 16:27] #6411 closed

[2022-10-19 18:09] huwangtao123 commented on #7559
I update my website code to github, and github send me security warning regard "Trim". Why do you call it build-only dependency

It is part of dependency chain of docusaurus/mdx-loader.
I try to use the override in package.json, but no luck the trim 0.01 version still shows as dependency of remark-parse@8.0.3

[2022-10-19 18:21] Gownta opened #8228 "404 on .html/ URLs"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-19 18:22] Josh-Cena commented on #7559
You answered your own question: because `@docusaurus/mdx-loader` is only used during build-time, and is not code shipped to the Docusaurus runtime. Any malicious user does not have access to this code and cannot interact with it or exploit it in any way.

[2022-10-20 03:48] randomJoe211 commented on #3930
Thank you slorber! You are right about creating the if condition that makes sense for my project. I adjusted the condition as follows and it is working well:

[code]

As a workaround, this is good enough. Still, I look forward to a standard feature to resolve this issue.

[2022-10-20 05:30] wenerme opened #8230 "front matter validation does not print a good error message"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-20 08:11] slorber commented on #8230
Hey,

You have a markdown file that has `title: null` frontmtter that is not allowed by validation. This is the intended behavior.

I can agree that we don't make it easy to find the original md file that has the problem, so I'll consider it as a bug: we should at least print the file path in the error message

What does it even mean? How did it work before exactly? What did you change that led to

[2022-10-20 08:45] slorber commented on #8230
Added a local try/catch in our code and was able to print the problematic doc:

[code]

[2022-10-20 08:49] slorber commented on #8230
We are supposed to print a better error message, unfortunately the failure is swallowed because we don't await the returned promise:

[code]

Also a good opportunity to replace this code with the new Error Cause system (our Node.js version supports it)

---

A good first issue to solve for external contributors.

Please sent a PR directly if you can handle it (don't ask to claim it).

[2022-10-20 10:29] techieeliot commented on #5805
The comments on this issue are stale from last Hacktoberfest? Is the issue still relevant and claimed @slorber?

I just found this repo from a dev.to article, so I'll head over to your discord to see some help getting started if not here on this issue then another one.

[2022-10-20 12:22] ZarakiKanzaki commented on #7818
Hi @slorber ! I wanted to ask you a few questions. As far as I'm understanding the thread it seems there were multiple requests, the one that seems not to be completed is this following one, isn't it?

If so, I would love to contribute to this issue 😊

[2022-10-20 12:49] slorber commented on #7818
@ZarakiKanzaki we need a description on:
- category link in sidebars.js
- `_category_.json` files for autogenerated sidebars
- category items of type link (see https://github.com/facebook/docusaurus/issues/7818#issuecomment-1193840525)

Go ahead and open a PR then. As you can see people want to work on it but then go silent, so we don't claim issues anymore and just open the PR directly. Once the

[2022-10-20 12:51] ZarakiKanzaki commented on #7818
Thank you for your quick reply 😊  I'll try to open a PR asap

[2022-10-20 13:03] slorber commented on #6923
@Danielku15 TS not being able to see this API is another issue, but it exists at runtime, and you can solve the TS problem with this workaround: https://github.com/facebook/docusaurus/issues/8226#issuecomment-1284255963

Note that `useDocById` is not the implementation that gives you access to all docs details, and it can only be called on docs pages of the same version, but it should give you acc

[2022-10-20 13:23] slorber commented on #3030
Notes to myself:

Interesting suggestions on how to support a no-js version of the mobile drawer using recent CSS features: https://twitter.com/sebastienlorber/status/1582788081668616192

No-js search can likely be implemented with a simple GET form fallback redirecting to google site search URL:
https://www.google.fr/search?q=site:docusaurus.io&q=mdx

[2022-10-20 13:32] slorber commented on #8228
This is a hosting concern.

The responsibility of Docusaurus is only to emit `build/myPath.html` or `build/myPath/index.html`.

Not it is your responsibility to configure your host to serve this static deployment appropriately according to your need, and we can't do anything about it.

If the Docusaurus website answers 404, it is because we unchecked this Netlify hosting configuration (on purpose,

[2022-10-20 13:32] #8228 closed

[2022-10-20 13:33] slorber commented on #8228
https://docusaurus.io/docs/deployment#deploying-to-netlify

<img width="994" alt="CleanShot 2022-10-20 at 15 33 39@2x" src="https://user-images.githubusercontent.com/749374/196962986-172f6171-530a-491d-9862-c9246c2b97d0.png">

[2022-10-20 13:52] slorber commented on #8228
Note that we deploy Docusaurus deploy preview with `trailingSlash: isDeployPreview` (to dogfood both settings) so you can test the different behavior on any deploy preview easily vs prod site:

[code]

---

You'll find more details in this repo: https://github.com/slorber/trailing-slash-guide

The TLDR is: each host provider is different, nothing is standardized to host a static deployment, and yo

[2022-10-20 16:01] #8206 closed

[2022-10-20 16:06] Danielku15 commented on #6923
Thanks for the hint with the module resolution, will give that a try. Interesting to see that this is a common issue, I might have to check for my own lib if the different exports are handled correctly when consuming my library. 😅

I am aware that `useDocById` is not the full solution to this issue here, I also just use it for accessing the description of the same version which is fine for me. I a

[2022-10-20 18:34] debbly opened #8232 "Local dev environment shows correct file structure, but prod has a duplicate"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-20 19:01] Josh-Cena commented on #8232
Hi! Your [docs folder](https://github.com/LIT-Protocol/docs/tree/main/docs) have two `Ecosystem` folders:  `docs/Ecosystem` and `docs/ecosystem`. Whether they are treated as the same directory is system-dependent. Linux is case-sensitive, so these become two distinct categories on your CI environment. However, locally, Windows and macOS both see them as the same directory because these file system

[2022-10-20 19:01] #8232 closed

[2022-10-20 23:52] SheetJSDev opened #8233 "Admonitions with backticks elicit <mdxAdmonitionTitle /> warnings"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-21 03:29] shermanhui commented on #8230
@slorber I'm looking to get more involved in larger open-source projects - this looks like a great first opportunity.

Could you point me to where I can find more info about the Error Cause system you mentioned and how I can leverage that to resolve this issue?

In the meantime, I'll try to take a look at this on my own - thanks!

[2022-10-21 07:40] slorber commented on #8230
@shermanhui as mentioned above, if you want to contribute you can directly open a PR. If I have to spend time explaining things to you, it will be faster for me to solve the bug myself. Error Cause is a standard EcmaScript feature, you will find everything on Google or in the spec

@shanpriyan opened a PR already so it is too late now for this issue, but you can open a PR to another one if you wan

[2022-10-21 10:43] wenerme commented on #8230
I don't know is this related or not, but the katex error is also masked

https://github.com/wenerme/wener/actions/runs/3296716113/jobs/5436697247

[code]

Have no idea which file(maybe this https://github.com/wenerme/wener/blob/master/notes/algorithm/ml/cs221-reflex.md), which line cause the error.

[2022-10-21 19:18] sam-bryant commented on #7598
I'm encountering this issue as well.  I don't want to comment as to the amount of configurability that's built.  I'm essentially after the description.

I've also noticed that the card text has a length of one line.  It gets truncated with ...  It might be nice to allow for a few lines of text for a card.  Maybe that could be configurable.

And while I'm at it, to be honest, it would be pretty swe

[2022-10-21 19:59] d1onys1us commented on #7986
any status update or timeline on this? seems to be an important one. I have an logo with a font color that I need to change dynamically on the current color theme, and currently this bug means I need to keep the theme switcher toggle disabled for now. Thanks!

[2022-10-22 07:32] blessanm86 commented on #5689
We have docs in multiple repos. So we use git submodules
Maybe I'm doing things wrong

This is our folder structure
[code]

I am trying to generate a sidebar structure of

[code]

I am just trying to remove the submodules folder from showing up.
My sidebar config looks like this

[code]

I was hoping for something like
`{ type: 'autogenerated', dirName: '.' , exclude: ['./submodules/**/*.md']}`

[2022-10-22 08:53] sanggggg opened #8235 "`li` element with particular structure generate weird html on `docusaurus build`."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-22 14:43] lex111 commented on #4415
It shouldnt be that way, Ive fixed it erlier, apparently it's broken again https://github.com/facebook/docusaurus/pull/7025

[2022-10-23 15:16] Djunnni commented on #8233
can i try this?

[2022-10-23 16:36] SheetJSDev commented on #8233
[code]

Now open the web browser and navigate to http://localhost:3000/docs/intro .  Inspecting the console reveals the warning:

<img width="1295" alt="docusaurus8233warning" src="https://user-images.githubusercontent.com/6070939/197404161-cfb1269b-ec84-4278-b2ef-c0025a4974ea.png">

(note: this warning does not show up when building the production site)

package.json uses the following dependenci

[2022-10-23 16:50] jnikhila commented on #2853
I am also facing the same issue. When I use npm start or box docusurus start the localhost:3000 shows the css rendering. However, when I do nom run build followed by nom run serve the css is not rendering. Could you please help with this?

[2022-10-23 22:17] Jaya-sys commented on #8230
Hey, can you assign this issue to me?

[2022-10-23 22:18] Jaya-sys commented on #7818
Hey can you assign this issue to me?

[2022-10-23 22:29] Djunnni commented on #8233
thanks. i can try!

[2022-10-24 07:51] ZarakiKanzaki commented on #7818
@Jaya-sys  FYI

[2022-10-24 12:21] YazzyYaz opened #8238 "Crowdin Translation Download messes front matter"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-24 12:37] forresst commented on #8238
I'm not sure of my answer, but already in the original version, you have to remove the space before `:` in the frontmatter

[code]

In Crowdin, do the translation without putting the space before `:` :
[code]

From my experience, I think this will solve the problem

[2022-10-24 14:36] priley86 commented on #3236
hello Docusaurus friends 👋

I wanted to report having the same issue here w/ rendering any styled-components in my extended/swizzled Docusaurus templates. This caused a good deal of flicker and in some cases the CSS did not load initially at all. As of now, the workaround @exah describes above is working well for me when I render these components separately during the Layout rendering when the win

[2022-10-25 02:27] Djunnni commented on #8233
https://github.com/facebook/docusaurus/blob/e41133245ca4e6cee390da74ccfe305ccb2ddb25/packages/docusaurus-mdx-loader/src/remark/admonitions/index.ts#L141-L159
https://github.com/facebook/docusaurus/pull/7152#issuecomment-1145779682
 Temporary workaround, because it's complex in MDX v1 to emit.

maybe they will migrate mdx 2.0 then update this later

[2022-10-25 04:38] CarlosMarinAquino commented on #3526
I want to collab in the Spanish version, did you have one branch for this language?

[2022-10-25 04:48] ChristianMurphy commented on #8201
Also note the MDX 2 changes/improves markdown and JSX interop https://mdxjs.com/blog/v2/#improvements-to-the-mdx-format.
This syntax would/will be supported with https://github.com/facebook/docusaurus/issues/4029

[2022-10-25 08:07] SilverTee commented on #3526
you could do this here:
https://crowdin.com/project/docusaurus-v2/es-ES

[2022-10-25 17:38] wenerme commented on #7456
ReactContextError, maybe something wrong with react-live(but works at https://docusaurus.io/docs/markdown-features/code-blocks#interactive-code-editor) , have no idea why.

https://github.com/wenerme/wener/actions/runs/3322949327/jobs/5492675080#step:8:295

[2022-10-25 19:20] Josh-Cena commented on #8235
I made this little script that you can directly run with Node:

[code]

The output looks like:

[code]

[2022-10-25 19:46] #8238 closed

[2022-10-25 19:47] Josh-Cena commented on #8238
This is definitely not a Docusaurus issue since we aren't involved in the workflow. Please contact Crowdin for support—I'm curious to hear their feedback as well.

[2022-10-26 03:46] NickJLange opened #8247 "License Inconsistency in project dependency"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-26 05:20] Josh-Cena commented on #8247
Hi! `fast-folder-size` is depended on by `tree-node-cli`, which is a dev-only package, so it shouldn't have user-facing impacts. (If you run `npm install`, you shouldn't install it at all.) Still, that license looks incredibly naïve and unenforcable—@slorber Do you think you could remove it from `tree-node-cli`?

[2022-10-26 10:30] slorber commented on #2853
It is impossible to help without seeing your live site with the exact URL it's being served on.

As stated above it is likely a baseUrl configuration issue, but can be many different things in practice

[2022-10-26 11:05] slorber commented on #8238
There are many little annoying issues on Crowdin side that you should become used to. Sometimes a translator add a bad `<xyz>` somewhere. Sometimes they have markdown parser issues. Sometimes weird things happens and you can often fix them by deleting (or temporary renaming) and then reuploading the problematic file.

Agree it's out of the Docusaurus scope, unfortunately, we can't improve this ext

[2022-10-26 11:43] slorber commented on #8247
This is annoying 😅 Opened an issue here: https://github.com/yangshun/tree-node-cli/issues/34

Note that @yangshun and I are maintaining tree-node-cli so we can update it too instead of simply removing it. I think it's a valuable tool for test snapshots and would like to use it more in the future.

[2022-10-26 11:55] simoneb commented on #8247
I am the creator of that license and since I am also the author of that code, I'm free to decide how it's licensed. As for enforceablity, I can concur it's not easily enforced, but I'm glad somebody is noticing and if they can't be sure that the sub-products that code is used in cannot enforce the license themselves, they should rather not use it.

[2022-10-26 12:26] slorber commented on #8230
@Jaya-sys we won't assign any issue to someone not willing to even read previous comments on the issue claimed. Please be responsible

[2022-10-26 12:26] slorber commented on #8230
@wenerme that's a different problem, I suggest opening another issue for it

[2022-10-26 12:48] #8230 closed

[2022-10-26 12:53] slorber commented on #7986
I'll probably fix this as part of the React 18 upgrade, as we'll be able to see hydration error messages that I would have to fix one by one to complete this migration.

Note you might not need `useColorMode`, you can also use `html[data-theme="dark"` CSS selectors and we also have a `ThemedImage` component.

[2022-10-26 13:03] slorber commented on #7598
Related to https://github.com/facebook/docusaurus/issues/7818 where we allow a category to have a description. Will make sure that if the category links to a doc, we'll fallback to that doc description.

Pending PR likely to implement this: https://github.com/facebook/docusaurus/pull/8236

---

@sam-bryant regarding the card design, that's a different subject for which we'd rather have a dedicated

[2022-10-26 13:04] #8247 closed

[2022-10-26 13:07] slorber commented on #7818
Something else to address likely in the same PR @ZarakiKanzaki: https://github.com/facebook/docusaurus/issues/7598

If a category has a link to a doc, and that category doesn't have a "description" attribute, we can use the linked doc's frontMatter.description as a fallback value

[2022-10-26 13:33] Jwaegebaert commented on #4723
Is there an update regarding this issue? I would love to have this feature within docusaurus, or the option to configure a custom baseUrl would also be nice.

[2022-10-26 14:27] sanggggg commented on #8235
Thank you for your detailed reply @Josh-Cena.
I didn't know it was a problem with the `html-minifier-terser`, not the docusaurus. I have also fixed that invalid structure because this is not an appropriate markup syntax.

---

However, when I unintentionally wrote the above markup, it was too difficult to debug the reason why. IMAO, there should be some error or warning for this invalid syntax, no

[2022-10-26 16:52] #8233 closed

[2022-10-26 21:45] anaclumos opened #8251 "Add Syntax Preprocessors Layer"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Motivation

Would it be possible to add specific rules of nonstandard markdown syntax to be preprocessed when built?

## But Why would we?

This can allow much more diverse documentations tha

[2022-10-26 21:47] Josh-Cena commented on #8251
Hi! These are already triviallly implementable with [custom Remark plugins](https://docusaurus.io/docs/2.0.1/markdown-features/plugins#creating-new-rehyperemark-plugins). You just need to write the parser and transformer yourself. Docusaurus is not going to implement custom Markdown syntax unless there proves to be great demand—which there doesn't seem to be. Please file this as a [Canny request](

[2022-10-26 21:47] #8251 closed

[2022-10-27 08:11] Niko030303 opened #8252 "remark-math && rehype-katex installation command wrong"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

When I use this command to install package, it pointed out "Unknown command: "installation""
[code]

![image](https://user-images.githubusercontent.com/82041918/198228425-41cef17

[2022-10-27 08:52] Niko030303 opened #8254 "Plugin-content-pages preset options, 'routeBasePath' can't be ''"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

When I use default preset options
[code]
It pointed out that `ValidationError: "routeBasePath" is not allowed to be empty`
![image](https://user-images.githubusercontent.com/8204

[2022-10-27 09:00] slorber commented on #8251
I'll try to implement wikilinks and backlinking someday but not sure it will go in Docusaurus core.

---

For image figcaptions, there's likely already existing remark plugins you could use.

For example https://github.com/Microflash/remark-figure-caption

It's not exactly what you want but may be good enough?

Eventually, you can add a "figure" MDX component to parse the image URL caption directl

[2022-10-27 09:17] slorber commented on #8254
Hey

Somehow it's done on purpose because previously it lead to issues, although now with https://github.com/facebook/docusaurus/pull/3427 it shouldn't be an issue anymore.

We could either:
- forbid '' but print a better error message suggesting to use "/" instead
- allow '' to pass validation, as it should work fine now

Considering we have related validation for baseUrl (https://github.com/face

[2022-10-27 09:49] slorber commented on #8252
Thanks, it was a translation mistake on Crowdin

I marked as "hidden strings" all "npm install" instructions that should never be translated

[2022-10-27 16:37] Djunnni commented on #8254
@slorber

could you check my PR? i reflect your opinion

[2022-10-27 19:03] guerrero commented on #6315
It seems that, if `trailingSlash` is `undefined` the problem is still present and the base URL is duplicated in the meta tags for canonical and hreflang.

Here's a link to a repo to reproduce the bug:
https://github.com/tinybirdco/clickhouse_knowledge_base/tree/332fa84e6b9a22f984e64415b7ccabfa1f5d2669

Once the trailing `trailingSlash` is set to false everything works as expected.

Sorry in advanc

[2022-10-27 22:23] Josh-Cena commented on #8254
Frankly I don't get the semantic difference between `"/"` and `""`. Is the latter only useful to hack around the "multiple root plugins" issue? If that's the case I think we should continue to reject it until the actual issue is properly remedied. We already normalize slashes, but I don't think we should allow empty strings unless it has clear semantics.

[2022-10-27 22:37] Djunnni commented on #8254
I agree with your opinion, but here, even when routeBasePath is not defined, the root (/) path is entered by default. I'm not quite sure what the difference is with "" in this case.
I think it would be better to put it as an essential element rather than to remove the ambiguous case.

[2022-10-28 07:01] beijingjazzpanda commented on #3825
Same from Next.js users.

I have the same requirement for using `file://` protocol to browser html pages offline, without any local web server.
Some people need this for testing, or for sharing the website to others etc.
Most of the JamStack tools requires local web server for their experted static HTML, expect `MkDocs` I found so far.

Addition to the above solutions, another possible workaround

[2022-10-28 08:24] slorber commented on #8254
I don't even remember what this issue is exactly but I don't think it hacks around anything if we normalize '' to '/' anyway.

'/' works so if we normalize '' to '/' there won't be issues, it would work as if user provided "/" 🤷‍♂️

To me using "docs" (default plugin routeBasePath value) instead of "/docs/" is not particularly more semantically wrong than using '' instead of '/'.

---

`routeBaseP

[2022-10-28 08:50] slorber commented on #6315
@guerrero that would help me review this faster if you opened a dedicated issue and where your repro code has a deploy preview showing the problem that I can inspect without checking out your repo

Also if you have similar problems in hreflang headers that's worth reporting too

[2022-10-29 00:17] mrienstra commented on #6520
Update: the fix that adds support for the `package.json` `includes` field is also in the [Yarn `3.2.4` release](https://github.com/yarnpkg/berry/releases/tag/%40yarnpkg%2Fcli%2F3.2.4).

[2022-10-29 09:44] slorber commented on #8252
https://docusaurus.io/zh-CN/docs/markdown-features/math-equations#configuration

Now fixed:

<img width="989" alt="CleanShot 2022-10-29 at 11 44 04@2x" src="https://user-images.githubusercontent.com/749374/198824800-233cf196-e3df-485a-9353-8b997c191c89.png">

[2022-10-29 09:44] #8252 closed

[2022-10-29 15:02] slorber commented on #2968
@rotemtam implemended social cards in userland with swizzle:

https://github.com/ariga/atlas/pull/1201
https://twitter.com/_rtam/status/1585301256113098752

I hope we can find a good API for this feature, in the meantime it is definitively possible and quite easy to implement in userland ;)

[2022-10-30 05:39] anaclumos commented on #2968
Linking this for reference: https://github.com/vercel/satori

[2022-10-31 16:55] russurquhart commented on #6785
I am having this problem as well. I have tried deduping but no luck! What did you do to resolve it? I have deleted the package-lock.json file and still no luck.

[2022-10-31 17:34] YazzyYaz opened #8269 "Crowdin CI complains about no `blog` directory being present"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-10-31 21:41] YazzyYaz commented on #8269
Closing as I realized the fix was to remove a the line that references the `blog` from `crowdin.yml`

[2022-10-31 21:41] #8269 closed

[2022-11-01 17:05] xenon8 opened #8274 "Mermaid 9.2 falls over in Docusaurus 2.2"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-01 18:36] tisonkun commented on #3399
Hi @slorber!

I noticed that even I use `onRouteDidUpdate` it seems the value of `document.title` is still the previous one:

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/199311296-a2828ab7-8fcd-4baa-9353-ddbebb2403f6.png">

You can read the source code [here](https://github.com/korandoru/town/blob/6adc868618d20a66d684e7067851d69ec14e5ce7/globalClientModule

[2022-11-02 01:43] tisonkun commented on #3399
Resolved as https://github.com/korandoru/town/commit/eb510dfe3e32673eab2ba7756dbb197f1539455c.

This seems the same as https://github.com/facebook/docusaurus/pull/7424 that can be common.

[2022-11-02 07:40] SophiaBaby opened #8276 "in doc-only mode, i18n build error"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-02 07:48] #8276 closed

[2022-11-02 07:49] SophiaBaby commented on #8276
.

[2022-11-02 11:08] kavinkuma6 opened #8277 "`@docusaurus/core@2.2.0` depends on a deep dependency `got@9.6.0` which is a vulnerable version"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-02 11:23] slorber commented on #8277
Thanks for reporting

After taking a look, it's unlikely to cause any security trouble in Docusaurus, but we'll upgrade to v6.0

[2022-11-02 11:40] slorber commented on #3399
Thanks @tisonkun, can you please open a dedicated issue so that we can investigate?

Not 100% sure but I believe this is due to an undocumented behavior of `react-helmet-async` which "defers" the updates by default, maybe for perf reasons 🤷‍♂️ or just to replicate the behavior of the original Helmet.

Using `<Head defer={false}>` probably fixes it

[2022-11-02 11:46] slorber opened #8278 "onRouteDidUpdate does not seen new Head metadata"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-02 12:50] sonujangra27 commented on #1834
is it still active?

[2022-11-02 13:36] yangshun commented on #1834
Nope, the issue is closed.

On Wed, 2 Nov 2022, 8:51 pm sonujangra27, ***@***.***> wrote:

[2022-11-02 14:57] lachieh opened #8280 "[@docusaurus/eslint-plugin] Add plugin setting to recommended eslint config"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Motivation

In the documentation for the eslint-plugin, [the instructions mention](https://github.com/facebook/docusaurus/tree/7387aabbdc59a6401d0f2358350875f827b773f5/website/docs/api/misc/e

[2022-11-02 15:40] slorber commented on #8274
Thanks for reporting, can confirm something weird is happening.

See also:
- https://github.com/mermaid-js/mermaid/issues/3747
- https://github.com/facebook/docusaurus/pull/8282

[2022-11-02 20:32] YazzyYaz commented on #8238
@Josh-Cena @slorber I was able to fix the issue with a script:
[code]

And then call this script after you run `yarn crowdin:sync` and before you call the `yarn build` command. Resolved the issue.

[2022-11-03 00:10] Djunnni commented on #8254
If the progress is stopped, how about we discuss it again?

* allow '' for both baseUrl and routeBasePath, eventually emit a warning saying the value should rather be '/'

how about think that @Josh-Cena ?

[2022-11-03 00:12] Josh-Cena commented on #8254
Yeah, I'll agree with that stance. Well, I'll prefer to allow it, but normalize—I know it was previously used as a "multiple root plugins" hack, which is why I don't like `""`; but if we always normalize, I do prefer the non-erroring side.

[2022-11-03 00:45] Djunnni commented on #8254
is it happen in this repository? if some of case is exist. i want to know more. because i didn't hear vulnerabilities.

i readed [docusaurus routing](https://docusaurus.io/docs/advanced/routing)

i think it can be used "" because it works in root("/")

[2022-11-03 12:58] slorber opened #8285 "Proposal: add unlisted/draft banners in dev mode"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Motivation

https://github.com/facebook/docusaurus/pull/8004 brings support for `unlisted` to all 3 content plugins, including a banner to make it clear a content is unlisted:

![image](https

[2022-11-03 13:31] #5701 closed

[2022-11-06 19:05] johnnyreilly opened #8293 "A migration guide from Blogger to Docusaurus"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

There isn't a guide for migrating from Blogger to Docusaurus in the docs. I've written one, based upon my own experiences of migrating:

https://blog.johnnyreilly.com/definitive-

[2022-11-06 20:24] clebsonf commented on #8277
Just an update for those who are a little bothered by the vulnerability alert like me. You can overwrite in your package.json the dependencies that are vulnerable, for example:

[code]
https://github.com/clebsonf/ld.health/blob/1e9831fc73ce1696eaeff88adc3ed05262911b63/docs/package.json#L43-L46

[2022-11-07 05:50] jovezhong commented on #3317
Is that possible to load different font for different locale?

For example, by default I'd like to use `Inter` font, when the user switched to Chinese locale, I'd like to use a different font, say `noto-sans-sc`

I cannot find a proper way to do so. I run `yarn add @fontsource/inter` and set `--ifm-font-family-base: 'Inter';` in custom.css. Also `import "@fontsource/inter";` in pages/index.js

It'

[2022-11-07 05:57] CMCDragonkai commented on #3562
Oh man, I just hit this problem, was very confusing why the sidebars disappeared.

[2022-11-07 23:26] gabalafou opened #8297 "Multiple inline SVGs on a page can clash"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-07 23:47] Josh-Cena commented on #8297
See also: https://github.com/facebook/docusaurus/pull/8191

[2022-11-08 02:50] sean-perkins opened #8298 "Breaking change in v2.2.0 of MDX Loader"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-08 03:07] Josh-Cena commented on #8298
We do assume only content plugins use `mdx-loader`, because it's not a documented public API. Changes to its API surface are not a breaking change. Is it possible for `docusaurus-openapi` to add `markdownConfig: siteConfig.markdown,` to its mdx-loader options?

[2022-11-08 03:21] sean-perkins commented on #8298
Thanks for the reply @Josh-Cena. Yes, we can default a value for `markdownConfig` for this plugin to resolve the issue.

While I would expect changes to an undocumented API surface, I would not expect API additions to result in broken builds/types. This seems problematic as an unknown number of plugins could be impacted by this, without much visibility to this change in the CHANGELOG/commits.

Thi

[2022-11-08 03:26] Josh-Cena commented on #8298
I would maintain the ground that undocumented APIs are internal and we shouldn't send the message that we care about breaking users of these internal APIs. This is [stated in the docs](https://docusaurus.io/community/release-process#core-public-api):

We do normalize the `siteConfig.markdown` field and apply default values, so as long as you pass this field into `markdownConfig`, mdx-loader should

[2022-11-08 03:38] sean-perkins commented on #8298
Ok cool. I think we can close out this issue then 👍 I have a viable change to the plugin and others that run into a similar issue can come across this issue as a reference.

Thanks for the quick follow-up!

[2022-11-08 03:38] #8298 closed

[2022-11-08 03:39] Josh-Cena commented on #8298
Welcome! Thanks for letting us know :)

[2022-11-08 09:54] alexandrebodin commented on #8091
The proposed webpack config worked like a charm. Thanks for the tip 👍

I'm going to go ahead and close this issue now. Thank you for your help

[2022-11-08 09:54] #8091 closed

[2022-11-08 12:01] matevz opened #8299 "Offline rendering of mermaid diagrams"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

The mermaid plugin in the recent Docusaurus 2.2.0 release works on the client-side only. Add support for rendering mermaid graphs offline while building the static site.

### Has

[2022-11-08 12:47] Mysterious-Dev opened #8301 "Unlisted doc page accessible from auto generated category index"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

Even if a page is marked `unlisted` with front matter, she can be accessible (build site) from auto generated category index.

In the demo, `create-a-blog-post.md` is marked with

[2022-11-08 13:45] lebalz opened #8302 "support nested admonitions"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-08 16:24] scubamaggo commented on #4029
FWIW: I tried to start from @pomber's [theme ](https://github.com/pomber/docusaurus-mdx-2) and integrate remark-directive. Most updates where fairly simple, following this guide https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c.
I ran into a wall when I declared the mdx-loader as a type "module" to be interpreted by webpack. While the loader-runner is already able to load loade

[2022-11-08 21:36] jcstein opened #8304 "change-icon-for-page-previews"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I'd like to change the icon in the pink box in the screenshot attached, but I can't find guidance on how to do this in the docs. Is this possible?

<img width="319" alt="Screensh

[2022-11-08 22:30] tconbeer commented on #8277
With yarn, it's `"resolutions"` instead of `"overrides"`. Otherwise @clebsonf's workaround works great.

[2022-11-09 03:28] dirslashls opened #8306 "Cannot use hot reloading in Docker (continuation of #6722)"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-09 09:23] Alena5041 opened #8308 "Missing aria-label in nav"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-09 14:28] slorber commented on #4029
Not sure what you mean, but here's a WIP PR I'm working on to upgrade to MDX 2: https://github.com/facebook/docusaurus/pull/8288

So far it builds and display a site with some broken features and workarounds I had to setup. Will try to get our own full site building on MDX 2 asap.

Using ESM modules with dynamic imports doesn't seem to be the main problem of this migration, but rather some MDX cha

[2022-11-09 14:32] Josh-Cena commented on #4029
@slorber I haven't checked the code, but what's your decision on HTML comments? I'd rather build a preprocessing layer so those comments continue to be allowed.

[2022-11-09 14:51] slorber commented on #4029
😄  This is the processing layer I'm thinking of: `str.replaceAll('<!--', '\\<!--')`

Note that escaping HTML comments this way doesn't seem required if you use `format: 'md'`. I'll probably add a way to move from "mdx" to "md" format through frontMatter, and maybe use file extension-based format later. I guess it could help some md sites migrate

[2022-11-09 15:43] slorber commented on #8306
Thanks, can reproduce 👍

Likely a tiny parsing issue before we apply the validation.

---

Good first issue for an external contributor - please send a PR directly with a fix, don't claim the issue

[2022-11-09 15:55] slorber commented on #8304
We don't have an API for that apart using [swizzle](https://docusaurus.io/docs/swizzling) on the `DocCard` component.

It's unlikely we implement anything like this in the future because there are tons of way to provide an icon (React, emoji, font icon, SVG, SVGR...) and we wouldn't be able to find a good API that satisfies all usages. Swizzle remains the most flexible option for such use-cases.

[2022-11-09 15:55] #8304 closed

[2022-11-09 15:59] slorber commented on #8308
Thanks for reporting a11y issues.

I'm not an a11y expert, what do you suggest as aria-label here?

Is there a way to detect such issues easily as part of our CI?

[2022-11-09 16:10] slorber commented on #8301
Thanks for reporting, indeed it's likely an edge case I forgot in https://github.com/facebook/docusaurus/pull/8004 😅

[2022-11-09 17:13] slorber commented on #8298
Added in the Mermaid PR that we recommend third-party plugins using mdx loader to forward the new markdownConfig option:

[code]

More options will be added later, to control the global markdown behavior of your site

[2022-11-09 17:20] slorber commented on #8297
Yes, this was discussed in #8191 previously.

If someone want to submit a PR enabling to provide custom SVGO options, why not, but I'm not really willing to turn `prefixIds: true` by default or hardcode this setting.

[2022-11-09 17:22] slorber commented on #3562
What can we do to make it less confusing @CMCDragonkai ?

Yes, there's a `displayed_sidebar` frontmatter for that: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#displayed_sidebar

[2022-11-09 17:26] slorber commented on #3317
@jovezhong it's not possible, but indeed it makes sense to have per-locale stylesheets in general (allowing you to load fonts and define per-locale CSS variables).

I think I'll provide an API so that you can customize your site config on a per locale basis: this solves many use-cases we have like translating site titles etc... The bad news is that such an API is hard to design correctly, so it wi

[2022-11-09 17:38] slorber commented on #8293
Great 👍

I think it could be added to https://docusaurus.io/community/resources#articles, we don't really have any other place otherwise

[2022-11-09 18:26] jcstein commented on #8304
thank you @slorber - can you point me to more information on the `DocCard` component?

[2022-11-09 18:31] johnnyreilly commented on #8293
I shall PR!

[2022-11-09 19:40] gabalafou commented on #8297
Thanks for looking into this!

I may not be familiar with the conventions used in this repo, but I'm concerned that closing this issue could suggest to someone doing a web search that this bug is fixed.

And we're both in agreement that this is an open bug, right? At the moment, no fix has been put forward. The only way I was able to get around the issue was by using the `img` tag. But I can imagi

[2022-11-09 19:55] Josh-Cena commented on #8297
I do think it's a valid bug, but I've temporarily lost my god powers to reopen this. I think it's better if the option is on by default—it's too surprising to users with little benefits.

[2022-11-09 22:33] jovezhong commented on #3317
Thanks @slorber

Look forwards to such experimental API. Yes, it'll be nice to customize the title/tagline per locale.

Sorry I am not familiar with how docusaurus works. Is there a javascript file each page will load? Maybe I can import the custom font in that JS per locale and set font for `--ifm-font-family-base`

This is not a blocking issue for me.

[2022-11-09 22:47] JoshuaKGoldberg opened #8315 "TypeError [ERR_INVALID_ARG_TYPE] trying to 'yarn start' locally"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-09 22:52] Josh-Cena commented on #8315
Fun, last time I saw this was someone on Windows. Now we are getting it for mac??

[2022-11-09 23:49] Taofeek2438 commented on #8315
I will like to take this up

[2022-11-10 00:11] Josh-Cena commented on #8315
Weird, I can't reproduce this myself. @Taofeek2438 can you?

[2022-11-10 09:15] tisonkun opened #8317 "Redirect not work with relative path"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [ ] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-10 10:09] Alena5041 commented on #8308
You're welcome.

For main navigation, it can be `aria-label="Main"`, for sidebar `aria-label="Sidebar"`.

You can use [Axe](https://github.com/dequelabs/axe-core) to detect such issues, it is an accessibility testing engine for websites and other HTML-based user interfaces.

[2022-11-10 11:27] slorber commented on #3317
The way I see it is to enable config to receive the locale being currently built so you can register a per-locale stylesheet:

[code]

This is a bit weird as an API unfortunately because we would have to run this function once initially with `currentLocale: undefined` just to be able to retrieve the list of locales your site supports.

[2022-11-10 11:29] slorber commented on #8293
fixed in https://github.com/facebook/docusaurus/pull/8313

[2022-11-10 11:29] #8293 closed

[2022-11-10 11:32] slorber commented on #8317
This is due to your host doing a server-side redirect to `standalone/` so the relative link is resolved client-side in a different way

<img width="1092" alt="CleanShot 2022-11-10 at 12 30 28@2x" src="https://user-images.githubusercontent.com/749374/201079993-b88f97e9-0946-46b9-b125-92188afd0235.png">

You may have configured `trailingSlash` incorrectly for your specific host, leading to issues. M

[2022-11-10 11:36] tisonkun commented on #8317
Thank you!

[2022-11-10 11:36] #8317 closed

[2022-11-10 11:46] slorber commented on #8297
IMHO it's not a bug.

The bug is you using duplicate ids for multiple SVG elements in the first place.

Turning this setting on is a breaking change for users already targeting the id with CSS. And it will make the selectors more complex for users not needing the anti-clashing feature + the class name generation logic may change over time and create more issues.

If this setting was safe for 100%

[2022-11-10 11:50] slorber commented on #8297
this part is intriguing, can you detail what you have in mind?

[2022-11-10 11:54] slorber commented on #8304
I'm not sure what information you want exactly.

Have you read the doc and tried to swizzle? I won't write you a step by step tutorial so please read the doc and report what exactly is unclear. We'll improve the doc for all instead of helping a single user.

[2022-11-10 12:24] Alena5041 commented on #8308
It might be better if it would be possible to set the `aria-label` by a prop, the same way how you set it for navbar items in the docusaurus.config.js, just to give users a bit more control over the text content. Would you be interested in implementing it yourself or should I do it?

[2022-11-10 14:59] Josh-Cena commented on #8297
I think there's a long-standing misunderstanding here... SVGO does not preserve your original IDs; it _minifies_ your IDs. And it does so without a global state, so as soon as you have two SVGs with IDs, they are sure to clash. See this in the issue description:

Here's the repro:

[code]

[code]

When you load those two SVGs onto the same page, the IDs both become "a" and the `fill` both become `

[2022-11-10 15:07] #8274 closed

[2022-11-10 15:08] gabalafou commented on #8297
@Josh-Cena, I simplified my minimal repro on Stackblitz this morning and was about to essentially type up the same thing you just wrote. I was also getting the sense that there was a misunderstanding.

[2022-11-10 15:09] gabalafou commented on #8297
Oh also, I wanted to point out that I think it's telling that [SVGR implicitly enables the prefixIds SVGO plugin](https://react-svgr.com/docs/options/#svgo) when SVGO is toggled on.

[2022-11-10 15:26] slorber commented on #8308
Hi,

All aria labels should be translated and we provide default translations for them. If label is provided through config then it makes it harder for users to localized those, and I doubt many users will want to customize this anyway so it should probably not be an option.

The way to customize it would be:
- to swizzle the component
- to use the translation strings (you can customize the defaul

[2022-11-10 15:39] slorber commented on #8297
Oh I understand better now, I see thanks 👍

I'm ok to apply the same settings as SVGR.

We are using SVGR, so why isn't this automatically applied for us? Maybe they turned it on recently or did we override this by mistake?

Can turning this on cause troubles for existing users? I guess not because the ids were already modified 🤷‍♂️

[2022-11-10 17:22] gabalafou commented on #8297
I'm not 100% sure but I think Webpack SVGR exposes two separate configuration variables:

1. `svgo` (boolean)
2. `svgoConfig` (object of key-value mappings)

I think that if you use the true/false `svgo` boolean, then SVGR turns on the `prefixIds` plugin. But if you use `svgoConfig`, I think you're on your own.

But that's just my guess.

[2022-11-10 17:31] #8301 closed

[2022-11-10 23:52] Taofeek2438 commented on #8315
No problem chief @Josh-Cena

[2022-11-11 02:39] Airkro commented on #8299
For now, mermaid SSR needs to run a browser instance or use online services.

Many remark plugins can do that: https://www.npmjs.com/search?ranking=maintenance&q=remark%20mermaid

You can integrate one of them into the docusaurus.

In my case, I using [Kroki](https://kroki.io) / https://github.com/nice-move/remark-kroki to do that.

[2022-11-11 10:42] Alena5041 commented on #8308
Hi,

Thank you for the translation tip, I didn’t know about it! I agree with you, then we can just add the `aria-label` for the main and sidebar navbars, and it would be possible to change the values by translation strings.

[2022-11-11 13:41] pke commented on #7818
@slorber would it also be possible to provide an image to the auto-generator from within the doc that is then displayed in the index box for each page in a fixed size?

[2022-11-12 14:24] JoshuaKGoldberg opened #8327 "docusaurus-theme-classic > Heading's className prop does nothing"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-12 17:20] 0916dhkim commented on #4415
@slorber Would you look at #8328 and let me know what you think?

[2022-11-12 17:46] MaXFeeD opened #8329 "FATAL ERROR: JavaScript heap out of memory"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-12 20:17] liwufei opened #8330 "Modern JS already guarantees Array#sort() is a stable sort"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-13 01:50] dinowxyz commented on #6996
I encountered a similar problem. The issue seems to be that the `backdrop-filter` styling from the top nav bar gets extended to the sidebar as well, causing an unintended blur.

Using `@media` sizes to control the styling doesn't target the actual components themselves. This works ok for mobile but not for desktop. For example, you still want your nav bar to have the blur effect in all media sizes

[2022-11-13 05:36] tomohirohiratsuka opened #8331 "Improve the docs or error message for blog has no active contents"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

It would be great if we can get what is going wrong on our codes specifically from error messages.

For now, if the `/blog` dir doesn't have any contents or every contents have d

[2022-11-13 09:52] softmarshmallow opened #8332 "Optional Header & Footer disable (display content only) for embedded environments with query params"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Motivation

<img width="1680" alt="Screen Shot 2022-11-13 at 6 50 15 PM" src="https://user-images.githubusercontent.com/16307013/201515832-04fed540-f9d7-4627-b4cc-4dd163d4b7bf.png">

I'm plan

[2022-11-13 10:47] wenerme opened #8333 "Mermaid incorrect "Syntax error in graph""
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-13 19:03] medmin commented on #7227
There is a bug right now.

if i use custom-navbar, somehow, in the "position:right" navbar items, if they are links, the build always shows the last link item's href. but if you run "yarn start", all is good.

[2022-11-14 11:45] zmrhaljiri opened #8336 "Inaccessible markdown heading links"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-15 05:52] #8330 closed

[2022-11-15 07:34] tisonkun commented on #7087
@slorber Today I meet a requirement that exactly needs the version alias feature - for your information :)

[2022-11-15 07:35] tisonkun commented on #3285
@slorber Today I meet a requirement that exactly needs the version alias feature - for your information :)

See also https://github.com/apache/pulsar/issues/17438.

[2022-11-15 10:46] tisonkun commented on #7087
@slorber and I maunally do the redirect as https://github.com/apache/pulsar-site/pull/288.

[2022-11-15 18:51] tisonkun opened #8344 "Cannot refer to static assets: Module not found"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-15 22:57] jeacott1 commented on #7979
same issue. windows, with nvm managed node. everything else works fine.

[2022-11-16 01:54] tisonkun commented on #8344
Fixed by using `pathname://` as mentioned at https://docusaurus.io/docs/markdown-features/assets#static-assets.

[2022-11-16 01:54] #8344 closed

[2022-11-16 06:15] jeacott1 commented on #3825
@ohkimur it looks like your completely deleted your docusaurus-plugin-relative-paths project?
what happened?

[2022-11-16 12:21] slorber commented on #7087
@tisonkun FYI the redirect is always done better server-side.
If we ever build something it will be at most a client redirect and be less than ideal.

In my opinion your implemented solution is not ideal either, you'd better use a server redirect.

For example, using a _redirects file on Netlify it's as simple as adding one of those 3 declarations:

[code]

---

And the non-redirect alias can be a

[2022-11-16 14:08] wparad opened #8349 "Classic Theme incorrectly overwrites og:image meta tag"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-16 14:12] slorber commented on #8336
Makes sense, thanks for reporting.

Is this mandatory or an official a11y reco?

Many other solutions are not adding the link on the full heading, see for example:
- https://squidfunk.github.io/mkdocs-material/getting-started/
- https://vitepress.vuejs.org/guide/what-is-vitepress

Personally, I don't find the MDN implementation pleasant to look at for a regular user without any disability, and wou

[2022-11-16 14:56] #8333 closed

[2022-11-16 15:06] slorber commented on #8329
Thanks for the repro and heap dump 👍

Are aware of the high memory usage of Docusaurus, let's track this here: https://github.com/facebook/docusaurus/issues/4765

Unfortunately, Docusaurus v2 has been initially architectured by loading everything into memory, so it's unlikely we'll be able to fix this in the near future with a completely new streaming architecture.

There are some production build

[2022-11-16 15:06] #8329 closed

[2022-11-16 15:40] slorber commented on #8327
👍 ok to forward the Heading className prop

Good first issue for anyone willing to contribute - please submit a PR directly, and do not claim the issue

---

Note historically most components did not forward className in our theme, and it's an ongoing effort to add className forwarding everywhere it makes sense (and maybe later forwarding refs? although it's a more niche use-case).

For example, i

[2022-11-16 15:47] wenerme commented on #8333
@slorber The error is not caused by Mermaid.js, use the newer syntax,

[code]

with the config

[code]

https://github.com/wenerme/wener/blob/bc57f0d06ae1f98eb0bc42dab9a9d54ba88db406/site/docusaurus.config.js#L288-L294

[2022-11-16 16:33] slorber commented on #8333
🤷‍♂️ please create a smaller repo, and test your integration on that smaller repro. Otherwise I won't try to help.

Your issue is unclear (what does not work exactly? You don't really tell and I can only guess) and your repro is too big and your theme component overrides the default mermaid behavior.

[2022-11-16 16:38] wenerme commented on #8333
Thank for your time, I will look deeper, another next+mdx project has the same problem, seems not related to docusaurus.

[2022-11-16 16:45] blessanm86 commented on #4085
We are using docusaurus in our NX monorepo. The docs is 1 app.
It would be great if we could specify folders outside the docs app. This way we could pull the docs from other apps and libs folder.

[2022-11-16 16:51] slorber commented on #8333
`theme/Mermaid` is the theme component name we use now. If you need 2 different Mermaid systems to co-exist in parallel for whatever reason, you'll have to rename the older `theme/Mermaid` component otherwise it overrides the official one with very different behavior.

I can't guarantee that 2 distinct mermaid systems can coexist on the same Docuaurus site nicely. If you want to have that, you'll

[2022-11-16 16:52] #8327 closed

[2022-11-16 16:58] wenerme commented on #8333
Thanks, I don't know 2.2 use Mermaid as theme component, will rename this to another name.

[2022-11-16 23:52] priyatam opened #8351 "Scrolling behavior for pages with anchor tags is broken across Chrome, FF, Safari"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-17 02:01] mikeechen commented on #7880
@Josh-Cena is there still plan to move `@docusaurus/theme-classic` to peer dependency instead of keeping it in dependency? I've tried numerous approaches mentioned by #6724 and here, but nothing really prevails and I still get an error that #6724 mentioned. I do see two `theme-common` installed under two different hashes, but listing the packages to be hoisted didn't seem to have done anything on

[2022-11-17 04:05] tisonkun commented on #7087
@slorber Thanks for your information! The Apache Pulsar website is hosted on an Apache Web Server (of course, lol) and I'm still learning how to configure server-side redirections programmatically...

[2022-11-17 10:00] slorber commented on #7087
😅 I can't tell you how to configure Apache Web Server unfortunately, it's been a while I haven't touched that and I don't really regret it 😄

[2022-11-17 10:20] slorber commented on #8332
Hi

Docusaurus outputs static files, for which the header/footer is always present.

It is not possible to use a query string to dynamically create a different HTML output without the layout elements.

However it should be technically possible to read the query string on page load, and immediately hide the layout elements using JS + CSS through a Docusaurus client module with code like this:

[cod

[2022-11-17 10:20] #8332 closed

[2022-11-17 10:22] #8306 closed

[2022-11-17 10:42] slorber commented on #557
Hey

Docusaurus encourage the usage of versioning on a single Git branch, but nothing prevents you from reverting to the old more usual behavior of having multiple Git branches for each version.

In fact, it's possible to use a hybrid (Git branches + versioned folders), and this is exactly what we do ourselves for Docusaurus v1:
- https://github.com/facebook/docusaurus/tree/docusaurus-v1
- https:/

[2022-11-17 11:07] slorber commented on #8299
Users can already add remark plugins if they want this.

I'd rather let user use all these things in userland and provide feedback on what works best - before introducing anything relying on a headless browser in core.

[2022-11-17 11:18] #8351 closed

[2022-11-17 13:40] #8349 closed

[2022-11-17 13:43] wparad commented on #8349
Your repro screenshot doesn't match the issue ticket description. From yours it says `image: 'img/docusaurus-social-card.jpg'`, but in mine I wrote specifically:

[code]

I can easily switch to the `image` property to see if that fixes it, but as it is, it would be good if you could try to repro it with specifically the metadata specified.

[2022-11-17 13:46] slorber commented on #8349
Ok I understand.

Actually it's by design that this metadata field overrides any defaults that the theme set, and it is documented.

<img width="1048" alt="CleanShot 2022-11-17 at 14 45 53@2x" src="https://user-images.githubusercontent.com/749374/202462654-0d5dd0e1-07cf-4b92-810e-0d0c0bdfdc22.png">

[2022-11-17 13:48] wparad commented on #8349
What's the use case for that? How does that make sense?

We want to set fallbacks for everything, how do we do that correctly?

[2022-11-17 14:06] slorber commented on #8349
As far as I remember, `themeConfig.metadata` was initially introduced as a way to override the default `<meta name="twitter:card" content="summary_large_image" />` that the theme sets.

Remember theme metadata is not a site-wide metadata, and a Docusaurus site might use multiple themes with different configs and layouts.

Passing this theme metadata remains a default, and will always be overridden

[2022-11-17 14:12] slorber commented on #7818
@pke any example or mockup to share?

How such image should be provided, and displayed?

[2022-11-17 14:33] wparad commented on #8349
I think there are some actual things missing here:
* having both `image` in the `themeConfig` and `og:image` in the metadata, creates two different `og:image` <meta> tags, and same goes for any blog or dog with an `image` front matter attribute
* Adding the `head metadata` https://docusaurus.io/docs/markdown-features/head-metadata AND the `image` front matter to a post also creates two `og:image`

[2022-11-17 14:36] ThibaultJanBeyer commented on #3424
For the `module.scss` files I “solved” it by adding a type definition like this:

1. I created a `.d.ts` file within my `src` folder. The location does not seem to matter tho’
**definitions.d.ts**:
[code]

2. I quit vscode fully (ctrl+q)
3. I re-open it

And Typescript does not complain anymore.

However, I would appreciate this to not complain out of the box with docusaurus+typescript+docusaurus-

[2022-11-17 14:49] slorber commented on #3424
Docusaurus does not use sass internally and is modular, and we probably don't want to have any ref to sass in core.

We do have this:

[code]

It is the responsibility of the sass plugin to provide the appropriate declarations and/or install instructions

[2022-11-17 15:24] slorber commented on #8349
Please create repros for every case that you report, so that I can inspect those in practice.

Please avoid creating artificial use-cases. Don't use metadata image if there's themeConfig.image, or if you do, please justify your motivation do not use the API that is designed exactly for this use-case.

React-Helmet-Async is supposed to deduplicate metadata instead of inserting 2 tags, and in my exp

[2022-11-17 15:28] matevz commented on #8299
FYI how we're currently attacking this problem is having diagrams in separate .mmd files and then use [mmdc](https://github.com/mermaid-js/mermaid-cli) to generate the corresponding .svg files. Those are then referenced in the markdown as ordinary images. Our approach works, but involves some additional checks in CI so that the .svg files are always up-to-date with the original .mmd. Also, since t

[2022-11-17 21:24] priyatam commented on #8351
Seems inappropriate to close an issue when I took the time to share a Stackblitz repo to "reproduce the bug" with exact steps and all info asked in the issue template.

I would appreciate if you can reopen this issue to discuss troubleshooting steps to identify potential browser issues, mdx formatting issues, version issues, js isses (to name a few) to help Docusaurus early 2.x adopters currently

[2022-11-17 21:25] Josh-Cena commented on #8351
I would also appreciate a production link, thanks—development mode and production mode have a world of differences.

[2022-11-17 21:26] priyatam commented on #8351
I'm afraid I can't share a production link as it's an internal site for developers. Do you have a recommendation to troubleshoot browser issues?

[2022-11-17 21:27] priyatam commented on #8351
Does Dochub document this anywhere on the website - "development mode and production mode have a world of differences"?

[2022-11-17 21:29] Josh-Cena commented on #8351
Yes: https://docusaurus.io/docs/cli#docusaurus-start-sitedir

Does your issue actually reproduce in your internal production deployment? Are you deploying the output of `docusaurus build`?

[2022-11-17 21:30] Josh-Cena commented on #8351
(Also, I'd love to reopen the issue and help you walk through debugging, but my write access isn't renewed yet, so we'll need to communicate like this. Please also understand that if anchor links actually don't work, we'll get much more furious issues than this single one, so it's likely a deployment issue)

[2022-11-17 21:34] priyatam commented on #8351
Yes, using Docusaurus since early 2.x beta and it's deployed in prod mode with more than 30+ ejected theme components and UX overrides, custom sidebars.js and clientside Search -- working in prod. I recently found the issue with anchor links which was occurring intermittently on a few docs, but now across *all documents* making it a Sev1 issue.

You might be right that this is a deployment issue.

[2022-11-17 21:38] Josh-Cena commented on #8351
If there are many ejected theme components, this is very likely a theme conflict (e.g. race conditions). Docusaurus implements the scroll behavior with client code, so if your code also tries to respond to location changes, the two scroll events may conflict. This certainly requires vetting the entire custom theme implementation, which I understand can be tedious, but there isn't any way to make i

[2022-11-17 21:45] priyatam commented on #8351
Got it, appreciate your pointers to troubleshoot, Josh. I quickly scanned our ejected components from theme-classic - most of the changes are in css, some jsx wrappers with div tags - I didn't see any js event overrides. Could you point me to teh code for "Docusaurus scroll behavior with client code"?

CodeBlock
DocItem
DocPage
DocSidebar
DocSidebarItem
DocSidebaritems
Footer
Icon
NavBar
Toc
TocIt

[2022-11-17 21:48] Josh-Cena commented on #8351
Hmmm, frankly this is a hard issue to debug. If the changes are all CSS and markup, I have very little idea, sorry. FYI, this is our implementation:

https://github.com/facebook/docusaurus/blob/ca3dba5e5eab0f8b8a9b3388e2b2e637fe3a19a7/packages/docusaurus/src/client/ClientLifecyclesDispatcher.tsx#L30-L39

[2022-11-17 21:54] Josh-Cena commented on #8351
I took another look—the code I gave above is only used for in-site navigation. I believe the first anchor link navigation is using the browser's default behavior.

[2022-11-17 21:55] priyatam commented on #8351
Also, to step back — **I'm able to reproduce the bug** in a fresh Stackblitz repo, [here's the url](https://github-ttyuxa--3000.local-credentialless.webcontainer.io/docs/intro#start-your-site-4) (I had tp update since stackb;itcz throws off links after some time) on all three browsers.

This may have nothing to do with theme overrides.

[2022-11-17 21:57] Josh-Cena commented on #8351
Thanksgiving starts tomorrow, I'll try to take a look since I have more time to spare than usual. Nevertheless, you can confirm these links all work, right?

- https://jestjs.io/docs/jest-platform#jest-get-type
- https://docusaurus.io/docs/configuration#custom-configurations
- https://typescript-eslint.io/rules/consistent-type-assertions#assertionstyle

[2022-11-17 22:28] priyatam commented on #8351
Yes, the three links work.

[2022-11-18 05:23] viswa3760 opened #8355 "getting error i followed all steps"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I am unable to run docs and for me getting this error :The docs folder does not exist for version "v0.47". A docs folder is expected to be found at versioned_docs/version-v0.47.

[2022-11-18 10:13] slorber commented on #8351
@priyatam the StackBlitz url you share is a local URL. It only works for you because of how StackBlitz works. You can just share the Stackblitz code link instead of the preview because only the code link will work.

---

I'll reopen this issue if I see a Docusaurus 2.2 / canary site in production mode with the problem visible, and code I can inspect, without any swizzled component.

If you have sw

[2022-11-18 10:27] slorber commented on #8355
Please don't open low-quality issues on which we can't do anything

If you need support, Discord is a better place to ask questions. In any case you will have to present your problem in a better way if you want to receive help.

[2022-11-18 10:27] #8355 closed

[2022-11-18 14:07] tfrijsewijk commented on #7398
Leaving it here for fellow Googlers:

I was seeing this error because I had a `style="just-some-string-here" attribute in my .md file:

[code]

I did the same that @markerikson did [here](https://github.com/facebook/docusaurus/issues/7398#issuecomment-1166661176) which resulted in the following build error:

[code]

I went on searching for `style=` when I noticed the markup.

Thanks Mark for the i

[2022-11-18 16:05] ohkimur commented on #3825
@jeacott1 Yeah. I did. I want to invest my time into something different.

[2022-11-18 21:56] mikeechen commented on #7880
I ended up using `pnpm` feature to overwrite how dependency and peerDependency works in these packages documented here: https://pnpm.io/package_json#pnpmpackageextensions.

My configs ended up being:
[code]
that seems to do the trick of making sure they all look at the same version of `theme-common` that I specifically added to the dependency.

[2022-11-19 17:48] zmrhaljiri commented on #8336
Thank you for your reply!

IMHO it would be a violation of the [WCAG success criterion 2.4.4. Link Purpose (In Context) (A)](https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html), however, the user experience for users of assistive technologies is currently as described, so any approach that results in links having an accessible and meaningful name would be fine. There is a goo

[2022-11-19 18:17] justsml commented on #3825
@ohkimur I appreciate your OSS work!

Could you please put your docusaurus repos up as 'Archived'? Even temporarily?
Maybe even email me? 😅

(I'm trying to help a former student make sense of some README notes left by a previous dev. It has permalinks to your `docusaurus-plugin-relative-paths`, and all I see is 404s. 💔And the mystery deepens...)

If you'd rather not deal with it at all, I do under

[2022-11-20 00:50] jeacott1 commented on #3825
@justsml  - I've been using the script here which for my purposes works well.
https://github.com/facebook/docusaurus/issues/448#issuecomment-908777029

[2022-11-20 13:29] al1re2a commented on #4389
I don't know if it helps, but I added some CSS in `custom.css` to hide irrelevant version dropdown from navbar. The only problem is the dropdown elements in navbar have no CSS class included and I had to use the sequences of the dropdown in my CSS like this:

[code]

If only we could add some **custom CSS** into the dropdown elements, the problem would be solved peacefully. As a suggestion, It can

[2022-11-20 23:39] blacktop commented on #2564
Is there a fix for `armasm` ?

[2022-11-21 08:27] Alena5041 commented on #8308
Hi,

Would you be interested in implementing it yourself or should I do it?

[2022-11-21 08:50] vshitov opened #8357 "Mermaid in tabs. The arrows are not displayed in the second tab"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-21 12:11] lobanov4real opened #8358 "Empty md link make unworking site"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-21 15:06] slorber commented on #8308
Hi

It's an easy to contribute issue so I keep it for anyone willing to send a PR ;)

[2022-11-21 20:36] AryanSingh commented on #7544
is therea anyway to add read time to a doc currenlty?

[2022-11-21 22:28] skirianov commented on #8358
I run the latest build and tried to reproduce it, but the error handler is taking care of that. Can you provide more data/screenshots?

This is the test file I used

[code]

**Path:** /docs/general.md

On save I've got the following error, the same error is displayed on the build
`Error: Markdown link URL is mandatory in "docs/general.md" file (title: google.com, line: 3).`

[2022-11-22 07:54] lobanov4real commented on #8358
I create an empty link and save doc:
![image](https://user-images.githubusercontent.com/110660329/203255333-96087e1b-888d-49a7-a824-5a991079f2f6.png)
When I open site and all links not working:
https://www.awesomescreenshot.com/video/12684273?key=2d0029e30057bf0b88a6b445a6e56cce
When I delete an empty link:
![image](https://user-images.githubusercontent.com/110660329/203256311-af522fd5-88f4-46d2-9

[2022-11-22 09:14] vimwitch commented on #8297
Fix I'm using, bear in mind that this project is using `svgo@2.8.0` which has a different case for the `cleanupIDs` option:
[code]

[2022-11-22 15:42] flying-sheep commented on #8074
Some people won’t like it, but this is a tri-state piece of data. *Any* UI that allows switching between all three states is preferable to the current one which makes one of them inaccessible. Working is better than broken, and only once things work, UX starts to become a topic.

I built this little thing a while ago btw: https://flying-sheep.github.io/react-color-scheme-switch/

[2022-11-23 16:10] slorber commented on #8357
Can reproduce, not sure why it happens.

A good-enough temporary workaround is `<Tabs lazy>`, which will only render one tab at a time

[2022-11-23 17:06] slorber commented on #8297
Thanks for reporting and opening the discussion on the SVGO.

Again I'd rather follow their decision and stay on defaults, but we can make it easier to disable or reconfigure SVGO in Docusaurus. Having less "layers" should make it easier to debug, as you can just try to disable SVGO and see if it fixes things.

[2022-11-23 17:14] slorber commented on #8358
Please create a smaller stackblitz repro, not using Docker

[2022-11-23 17:49] slorber commented on #8336
What I see in practice is that tools like VoiceOver will announce better if the link has aria-label rather than using title. Isn't this a good-enough solution?

Duplicating the link title in a hidden element feels like a weird solution to me 🤷‍♂️

![CleanShot 2022-11-23 at 18 47 38@2x](https://user-images.githubusercontent.com/749374/203614945-59a9ad0d-7ed0-4d8a-8d01-9630558cbaf0.png)

Will read t

[2022-11-23 17:52] slorber commented on #8336
Can you tell exactly how we violate the spec according to you?

Unfortunately I don't have much time to read in details the whole docs 😅

[2022-11-23 17:57] slorber commented on #4389
@al1re2a we support passing a `className: "my-css-class"`, which is the default class prop for React components CSS.

Maybe it's not documented well enough?

However I think it's applied to the link instead of the parent dropdown container so we should probably apply this class to the parent instead, or give a way to pass a custom class to both elements independently?

[2022-11-23 20:19] #8302 closed

[2022-11-24 03:19] seldomlee commented on #8330
I encountered the same problem.how did you solve it?

[2022-11-24 05:12] r-lawrence commented on #8308
Hi @slorber and @Alena5041.  Im a first time contributor who navigated to this bug and decided to give it a shot.  I have created a draft [PR](https://github.com/facebook/docusaurus/pull/8366) for the issue and had some questions regarding if I processed this correctly.

when looking into this issue, I realized in the comments that "aria labels should be translated".  Im not entirely sure I unders

[2022-11-24 09:38] slorber commented on #8308
Thanks @r-lawrence 👍

@Alena5041 can you please help review the PR, added some questions/concerns about those aria labels.

Also wondering if we do the right thing on mobile? We don't use `nav` here for the docs mobile sidebar apparently so there's no reported missing aria-label. Do screen reader users also use Docusaurus with a mobile viewport?

[2022-11-24 09:50] slorber commented on #7818
@pke each docs sidebar item allows passing arbitrary data as a `customProps` attribute: https://docusaurus.io/docs/next/sidebar#passing-custom-props

This data is injected into the relevant sidebar item components as props too, so if you swizzle and theme component responsible for rendering a sidebar item, you can use that data here.

The components that render sidebar items include:
- the... side

[2022-11-24 09:53] slorber commented on #7544
The only way is probably to create a remark plugin that computes it, and expose it as a `export const readingTime = 42` on the doc.

Otherwise we'll have to provide this in core to make it easier

[2022-11-24 11:31] tyzion opened #8367 "Internationalization with multiple docs plugins"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-24 11:35] slorber commented on #8331
Hey

Docusaurus can build even if there's no content in your blog.

This error message is accurate to me: you have a link somewhere that points to `/blog`, but this URL doesn't exist on your site, and the generic broken link checker of Docusaurus simple reports it to you to prevent deploying a site with broken links.

This broken link checker is a last-resort check. It is unopinionated and doesn't

[2022-11-24 11:37] slorber commented on #8331
Going to close because I don't see a clear solution to improve the DX considering our modular architecture.

If you have any suggestion that is technically possible to implement, I'm still open to hear it.

[2022-11-24 11:37] #8331 closed

[2022-11-24 12:58] YazzyYaz opened #8368 "A Way to skip specific language builds if they fail and proceed with the rest of the supported languages"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

Often times, the introduction of localization and providing support to a community of translators will introduce encoding issues or other bugs that are hard to catch until deploy

[2022-11-24 13:55] slorber opened #8369 "Docs layout issue: content container does not grow to take all the available space"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-24 14:01] slorber opened #8370 "Docs sidebar layout issue when announcementBar visible"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-24 14:02] slorber commented on #4415
This issues' bug is fixed by @0916dhkim in #8328 👍 thanks

Opened 2 other related docs layout issues discovered in the process:
- https://github.com/facebook/docusaurus/issues/8369
- https://github.com/facebook/docusaurus/issues/8370

[2022-11-24 14:02] #4415 closed

[2022-11-24 14:52] Alena5041 commented on #8308
Hi @slorber,

Sure, screen reader users also use a mobile viewport. The fact that you change for mobile `<nav>`  for the `<div class="navbar-sidebar">` is not a problem in your case, because the main and sidebar navigations wrap into one main `<nav>`. But still, need to have `aria-label` on the main navigation.

[2022-11-24 16:04] matt-sd-watson opened #8371 "multiple pages deployed from github.io fail to render"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I have noticed that starting yesterday, my Docusaurus page fails to render properly:

https://camlab-bioml.github.io/cytosel-doc/

Initially I suspected that the baseURL was inco

[2022-11-24 16:09] slorber commented on #8336
Thanks for the explanations!

I guess we can move on and just add this new aria-label then, that looks like a good enough solution

Not saying those linked examples are good accessibility examples, just wanted to illustrate other docs sites preferring not having clickable anchor headings.

We also appreciate having a base of users caring about accessibility, as this helps up improve on topics we m

[2022-11-24 16:19] slorber commented on #8367
Hi

This is more a question / support request than a bug, so I'm closing.
You can ask on Discord for support, and if nothing help open a github discussion instead of an issue.

In your case you have 2 plugin instances so you have to have 2 i18n folders for docs, as documented here:

https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#translation-files-location

Multi-instance pa

[2022-11-24 16:19] #8367 closed

[2022-11-24 17:18] guardsofmagog commented on #8370
I'd like to work on this.

[2022-11-24 22:52] zmrhaljiri commented on #8336
Thanks a lot, much appreciated! If `aria-label` will be there, no need for me to swizzle then :) 💚

[2022-11-25 07:50] tyzion commented on #8367
Hi @slorber,

Sorry to have opened an issue, didin't know the existance of discussions.
I've tried on Discord too, but no one answered me.

Anyway thank you so much! I just made it work.
I totally misunderstood the `website/i18n/[locale]/docusaurus-plugin-content-docs-[pluginId]` part, sorry!

It would be an awesome way to translate the website!
All the best and thanks again!

[2022-11-25 11:10] hasezoey opened #8373 "Documentation about versioning across branches rather than a single directory"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

I have noticed that docusaurus lacks documentation about versioning across different branches rather than a single branch with a versioned directory, even if it is just a note ab

[2022-11-25 12:44] guardsofmagog opened #8374 "Docs sidebar layout issue when announcementBar is partially visible"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [ ] I have tried the `npm run clear` or `yarn clear` command.
- [ ] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-25 13:00] Josh-Cena commented on #8374
Duplicate of https://github.com/facebook/docusaurus/issues/8370?

[2022-11-25 13:11] guardsofmagog commented on #8374
They are certainly related - I started looking into #8370 and it felt like that was more an issue around the sidebar ad when combined with the announcementBar (fully or partially visible). This is more specifically when the announcementBar is only partially visible - but I'm happy for the issues to be merged.

[2022-11-25 13:21] guardsofmagog commented on #8374
It looks like `docusaurus-announcement-bar-height` is added to the bottom margin of the scrollable area of the sidebar - but only when the announcementBar is **fully** visible.

[2022-11-25 13:26] Josh-Cena commented on #8374
Good catch! If you think you could make the situation better, feel free to propose it in this issue or directly send a PR.

[2022-11-25 20:03] johnnyreilly opened #8376 "Provide ability to filter RSS / Atom feed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Description

My blog turns out to be quite large.  It was recently brought to my attention that the RSS feed wasn't working well for readers as a consequence.

At present, Docusaurus includes

[2022-11-25 21:01] r-lawrence commented on #8370
Hi everyone!
I have investigated this issue and believe I have created a fix in this [PR](https://github.com/facebook/docusaurus/pull/8377).  It appears that a CSS property of `fixed` is causing the overlapping issue seen in the above screenshot.  I have removed the CSS property and was hoping to get some reviews.  Thanks a bunch!

[2022-11-25 21:13] matt-sd-watson commented on #8371
appears to have been fixed now for all hosted on this server.

[2022-11-25 21:13] #8371 closed

[2022-11-26 09:36] Adrinlol opened #8379 "Docusaurus website renders without theme"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-27 05:52] al1re2a commented on #4389
@slorber Thanks for the tips. It worked for me perfectly.

Unfortunately yes. Although the `className` is supported in almost all Navbar elements, it is not mentioned in `docsVersionDropdown` at all. I would appreciate if it is documented as well.

[2022-11-27 09:07] johnnyreilly opened #8380 "RSS and Atom feeds fail validation"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-27 19:34] AryanSingh commented on #7544
@slorber hey there already exists a remark plugin for that: https://www.npmjs.com/package/remark-reading-time
how do i use it?

[2022-11-27 20:20] AryanSingh commented on #7544
@slorber is it possible to add, can you tell me how to add it, i will try to fork and add myself, if you can't add it in the main repo

[2022-11-28 14:49] davea38 opened #8383 "Autogenerated sidebar cannot stop urls having folder numbers being removed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-28 20:21] oneElectron opened #8386 "Sidebar not escaping characters"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-28 20:25] Josh-Cena commented on #8386
This is tricky to get right. The sidebar title does _not_ attempt any kind of Markdown parsing—backticks are not stripped, nor are underlines and asterisks. Escaping is also part of Markdown parsing—while I agree it's necessary and fits user expectation, I don't know what's a good algorithm for that. In the meantime, you can always use `sidebar_title` and/or the `title` front matter instead of rel

[2022-11-28 20:36] oneElectron commented on #8386
Would it be possible to ignore certain characters if the file type is markdown?
The only issue I see with this is if the user wanted to include a backslash.

[2022-11-28 20:37] Josh-Cena commented on #8386
For example, if the title is ``# The `\n` escape sequence``, we definitely cannot remove the `\` character there. This eventually means we have to make an ad hoc Markdown parser ourselves, which we are trying to avoid.

[2022-11-28 20:41] oneElectron commented on #8386
If you could ignore the first backslash but not the second this would solve the issue.
This also mimics the behaviour of markdown where two backslashes render out to one:
\\ (two backslashes)

[2022-11-29 01:37] elilambnz opened #8389 "ChunkAssetPlugin injection breaks imported web workers"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-29 02:59] Josh-Cena commented on #8389
It's too hard for me to understand what's going on. A repro is appreciated—"install the npm package in question", I have zero idea how to reproduce that.

[2022-11-29 05:48] elilambnz commented on #8389
@Josh-Cena my apologies, I've amended the issue with a reproducible demo and steps to reproduce. The error can be seen in the console after running the serve command.

Please let me know if there is any more info I can provide to help address this.

[2022-11-29 05:57] lacorda opened #8391 "[ERROR] Docusaurus server-side rendering could not render static page with path /site/."
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-29 08:55] lacorda commented on #8391
it's ok to use <BrowserOnly>

[2022-11-29 11:02] wiinxt commented on #7606
Hello, this may be off topic but I saw your point 2. @Josh-Cena

We have several `[...new Set()]` in our code base but they are not transformed well by babel, I try to disable `iterableIsArray` in my `babel.config.js` but it breaks others stuff (build is done but `Uncaught ReferenceError: exports is not defined` in browser console)

Is there a way to fix this just by a configuration change ? Or I

[2022-11-29 11:06] #8383 closed

[2022-11-29 17:33] msaini0r commented on #8370
@slorber I would like to work on this issue if it is available.

[2022-11-29 22:07] rachfop opened #8393 "Alternative Text for Images in titles"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-29 23:19] Josh-Cena commented on #8393
You do not need alt messages if the image is purely decorative (which is the case here—it's an icon). This is especially the case if your alt text is duplicated with the text content—it always signals _poor_ accessibility.

Imagine two cases. First one is where you are reading the page with a screen reader. When reading the title, the reader will tell you there's an image and its message, and then

[2022-11-30 00:17] #8393 closed

[2022-11-30 00:47] sibelius opened #8396 "can't build using react-embed"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-30 00:56] sibelius commented on #8396
fixed here https://gist.github.com/sibelius/af24052edf88c3c824d0627d9248699a

[2022-11-30 00:56] #8396 closed

[2022-11-30 06:16] matevz opened #8398 "Cannot use SVG in img element"
### Have you read the Contributing Guidelines on issues?

- [X] I have read the [Contributing Guidelines on issues](https://github.com/facebook/docusaurus/blob/main/CONTRIBUTING.md#reporting-new-issues).

### Prerequisites

- [X] I'm using the latest version of Docusaurus.
- [X] I have tried the `npm run clear` or `yarn clear` command.
- [X] I have tried `rm -rf node_modules yarn.lock package-lock

[2022-11-30 06:19] Josh-Cena commented on #8398
You need to use `require('!!url-loader!./assets/docusaurus-asset-example-banner-in-svg.svg').default`, because otherwise `svg-loader` kicks in. This is working as intended.

[2022-11-30 11:06] slorber commented on #8396
yes that's the good workaround solution

You can also try this package otherwise: https://github.com/PaulieScanlon/mdx-embed

[2022-11-30 11:32] slorber commented on #8398
We decided that all md/mdx/js/ts files will convert SVG to REact components automatically.

This is also what permits to support this:

[code]

We can't support your behavior without removing the behavior above, so indeed this works as intended and is not really a bug and I'm closing.

If you don't agree with our opinions you can use a plugin that modifies the svgr config using the `configureWebpa

[2022-11-30 11:32] #8398 closed

[2022-11-30 12:56] #8380 closed

[2022-11-30 12:57] #8308 closed

[2022-11-30 13:15] Alena5041 commented on #8308
Thanks @slorber and @r-lawrence for the quick solution to my issue

[2022-11-30 15:48] slorber commented on #8389
Thanks

Your repro is using react-py, which uses Service Worker lib comlinks + pyodide:
https://github.com/elilambnz/react-py

This puts the burden on me to understand the implementation details of your lib and how Docusaurus can mess things up here (if it is even our fault in the first place? 🤷‍♂️ ).

That would be convenient to create a repro using the full setup "inlined", ie removing the react

[2022-11-30 17:45] slorber commented on #8373
Hey

We don't document this because somehow it's a bit outside the scope of Docusaurus.

If you have versioned git branches; and put docs inside them, then you implicitly have versioned documentation too, and you are able to build a different Docusaurus site for each of those.

So basically you have multiple single-version Docusaurus sites (one per git Branch). And a single-version/unversioned Doc

[2022-11-30 20:10] Adrinlol commented on #8379
Thank you. Yes, this issue isn't reproducible locally with `docusaurus build` and `docusaurus serve`.