[2018-04-21 04:35] yangshun commented on #579
@phated What's the rationale behind having different separators from the norm? Front matter is usually separated using --- in YAML and +++ in TOML. Your use case seems quite rare.

[2018-04-21 04:43] yangshun commented on #237
I managed to reproduce it.

[2018-04-22 19:39] phated commented on #579
@yangshun GitHub actually renders the front-matter as a table - I've attached a screenshot.  This both looks bad and can be confusing for people (especially non-developers) that don't know what it is for.

<img width="976" alt="screen shot 2018-04-22 at 12 33 21 pm" src="https://user-images.githubusercontent.com/992373/39099156-2148e04c-462a-11e8-9ba9-0503612c2ffe.png">

The gulp docs live in the

[2018-04-22 19:43] stoffeastrom commented on #448
It would be really nice if this was supported. I just save my build artifacts on circle ci but the site will not work since it doesn't handle relative `baseUrl` e.g `./`

Problems seem to be that in the generated html files css and images are referenced as

`./css/main.css`
`./img/some-image.png`

when it should have been

`../css/main.css`
`../img/some-image.png`

since they are relative to their

[2018-04-23 03:46] #237 closed

[2018-04-23 13:31] ericnakagawa commented on #459
I support BlueWhale's solution.

[2018-04-23 22:51] #459 closed

[2018-04-24 11:15] jacarma opened #599 "Include .md file in another"
### Is this a bug report?

No, feature request

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Macos

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

I would like to "include" a piece of markdown inside other markdown pages.

We are using Docusaurus to write the docs

[2018-04-24 11:48] zenflow commented on #599
@jacarma This doesn't necessarily need to be supported by Docusaurus directly.. you can find or create a remarkable plugin to do this and use it in `siteConfig.markdownPlugins`. In this way you can implement whatever non-standard markdown features you can conceive.

(FWIW I would opt for simply presenting a document containing that info and using links... I don't think it's too inconvenient for us

[2018-04-24 16:34] yangshun commented on #599
@jacarma I haven't seen any existing usage of importing Markdown in other Markdown pages before. As @zenflow said, it would be more appropriate to use/write a Markdown plugin to do what you need.

[2018-04-24 16:34] #599 closed

[2018-04-24 17:10] alex254 opened #600 "markdown image reference can not find file in docs/assets -> 404"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

(OS, Node, npm, yarn)
Windows 10
Node v8.11.1
npm 5.6.0
yarn 1.6.0

### Steps to Reproduce

(Write your steps here:)
I ran into the problem a bit further down my own project; but initiated a new do

[2018-04-24 17:47] JoelMarcey commented on #600
Hi @alex254. Interesting, I assume you are using the latest version of Docusaurus (1.0.14 - which you can check by doing `npm outdated docusaurus` from the `website` directory).

I just tried this on OS X, and it worked fine.

So I am now led to believe that this may be a Windows support problem on our part.

What happens if you put the image in `website/static/img` and reference the image in mark

[2018-04-24 17:56] JoelMarcey commented on #600
Or if you have a way to try your test on a Mac or Linux machine, that could be another way to verify as well.

[2018-04-24 21:39] JoelMarcey commented on #600
@alex254 It is probably a bug with how we handle paths specifically for Windows, although I thought we fixed a bunch of that. I need to get my hands on a Windows machine to test. But that is my current working theory.

[2018-04-25 08:01] alex254 commented on #600
@JoelMarcey Ok, I'm going to continue with my project; thanks for the help! If you want to get the reproducable demo please use this commit: `https://github.com/iam-io/documentation/commit/10d5f232d0889f20e658e01202b8b54fa6af49ec`

[2018-04-25 08:34] dgracehmh opened #602 "problems with main.css during npm run build since 1.0.12"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

(Docusaurus version via `npm outdated docusaurus` or `yarn outdated docusaurus`, OS, Node, npm, yarn)
Package     Current  Wanted  Latest  Location
docusaurus   1.0.12  1.0.12  1.0.14

OS : Mac Hig

[2018-04-25 09:22] sebelga opened #603 "Need to add "index.html" to make dev server work"
Hi,

In my dev environement I need to add "/index.html" to

- root (ex: localhost:3000/index.html)
- blog (ex: localhost:3000/blog/index.html)

Otherwise I get a server timeout error (the page does not defaults to "index.html").

Any idea why that might be happening?
Cheers.

[2018-04-25 10:06] dgracehmh commented on #602
![screen shot 2018-04-25 at 09 21 09](https://user-images.githubusercontent.com/24386227/39239409-b030743c-4878-11e8-876f-e298975dfe09.png)

[2018-04-25 10:07] dgracehmh commented on #602
![screen shot 2018-04-25 at 09 21 24](https://user-images.githubusercontent.com/24386227/39239419-c42240d8-4878-11e8-95d0-d6b6a1feeef1.png)

[2018-04-25 20:19] yangshun commented on #602
@dgracehmh It could be something to do with your web server's settings. Docusaurus has been using the latest version and there aren't issues with it.

It would help if you could answer the following questions:

1. What web server are you using for serving the CSS? Docusaurus uses GitHub pages hosting
1. Try to run the website locally on localhost:3000. Does the warning still show and does the CSS

[2018-04-25 20:37] yangshun commented on #579
Thanks for the explanation @phated. I think the fact that GitHub renders the front matter as a table gives even more reason not to deviate from the standard front matter syntax. I do agree that the table is confusing, but that should be fixed on GitHub's side. I filed an issue at https://github.com/isaacs/github/issues/1229 and hopefully someone from GitHub sees it.

Since this use case is very ra

[2018-04-25 20:37] #579 closed

[2018-04-25 20:40] phated commented on #579
That's disappointing 😞 I'm 99.9% sure github engineers ignore that repo.

[2018-04-25 20:47] JoelMarcey commented on #579
Some of us internally have access to [GitHub's Maintainers feedback](https://github.com/maintainers) where there are repos to provide feedback and suggestions on how to improve GitHub, its tooling, etc. Those repos are more active, probably.

@yangshun and I can discuss whether to add this feature request / fix there. I do a think a plugin infrastructure can solve this without a fix on their end.

[2018-04-26 05:09] yangshun commented on #376
This is not a bug with Docusaurus per se and it's possible to get around it by using HTML. Refer to a possbile solution on [Stack Overflow](https://stackoverflow.com/questions/49809122/vertical-bar-symbol-within-a-markdown-table/49834158#49834158).

[2018-04-26 05:09] #376 closed

[2018-04-26 07:12] sebelga commented on #603
Hi @JoelMarcey

I have version 1.0.1 of "docusaurus-init" and version "1.0.14" of "docusaurus" in my project node_modules.
I am on Windows 7 64-bit

I can't provide a link as the repo is not public but here is my siteConfig.js (I only made update of some props and commented stuff)

[code]

Thank for your help!

[2018-04-26 15:39] #356 closed

[2018-04-26 16:13] dgracehmh commented on #602
@yangshun

1. I am using nginx to serve the site on an internal cloud via docker container.
2. Running locally is fine.
3. Sorry, my docs are not online. I've been deploying using exact same config (nginx + docker + Docusaurus) but when I update to 1.0.12 or beyond on the exact same config the css is broken.

I'm trying to dig in to figure out what changed since 1.0.11 to break my setup.

[2018-04-26 16:15] yangshun commented on #602
The change was that we added doctype to the top of each html file, and that
makes browsers less forgiving about non-standard practices. Please check
the content type of the CSS file being served. It shouldn't be anything to
do with cssnano

On Thu, Apr 26, 2018, 9:13 AM Darragh Grace <notifications@github.com>
wrote:

[2018-04-27 04:29] yangshun commented on #602
@darren128 Please check that your webserver is serving the CSS files using the correct HTTP `content-type` header - `text/css` and not `text/plain`.

Closing for now. Please reopen if you find that it is indeed a bug.

[2018-04-27 04:29] #602 closed

[2018-04-27 13:28] darren128 commented on #602
@yangshun Wrong person :)

[2018-04-27 13:30] JoelMarcey commented on #602
Oops. Sorry 😄

@dgracehmh ^^

[2018-04-27 13:49] dgracehmh commented on #602
Thanks for the pointers @yangshun  : I changed my nginx configuration (content-type header - text/css) and got it working again. I guess it's handy to have a record of it here in case someone else comes up against the something similar.

[2018-04-27 13:52] JoelMarcey commented on #602
@dgracehmh  Or if you think there is a place in the docs we should add something, a doc update PR might be a good thing too.

[2018-04-27 14:28] dgracehmh commented on #602
Done @JoelMarcey , hopefully it's ok - https://github.com/facebook/Docusaurus/pull/611

[2018-04-27 19:43] JoelMarcey commented on #467
Thanks @s-pace - I commented on the config changes over at https://github.com/algolia/docsearch-configs/commit/db60b72c31f58a08b6ad07ce8277d7d363baf161 with a couple of questions. Assuming those are good, then I think we can merge it.

[2018-04-28 03:39] JoelMarcey opened #613 "Remove project name in header bar on mobile"
### Is this a bug report?

No. Better user experience. See https://github.com/facebook/Docusaurus/pull/575 for discussion.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

N/A

### Steps to Reproduce

1. Go to docusaurus.io on mobile

### Expected Behavior

Cleaner header nav

[2018-04-28 03:40] JoelMarcey commented on #564
We are working with Crowdin to try to fix this.

[2018-04-28 03:41] yangshun commented on #613
This might be a problem for projects without a logo, like https://twitchtv.github.io/twirp/docs/intro.html

[2018-04-28 05:44] JoelMarcey commented on #613
@yangshun That is a fair point actually. In that case, we could just stick with the title or nothing maybe?

[2018-04-28 05:46] yangshun commented on #613
Sounds like a good idea. Hide the title if there's a logo, else do nothing 👍

[2018-04-30 06:32] yangshun commented on #567
Done thanks to @JoelMarcey!

Example - https://github.com/facebook/Docusaurus/pull/612#issuecomment-385321546

[2018-04-30 06:32] #567 closed

[2018-05-01 22:13] tibdex commented on #395
That would be an awesome feature!

Julen mentioned "version numbers, URLs, etc." but it would also be great to insert automatically computed markup from JSDoc for instance. Thus, if you decide to implement it, it would be nice to support the injection of Markdown (or HTML) markup and not only scalar values.

[2018-05-02 14:26] OlivierJM commented on #406
@JoelMarcey For me it was building and deploying without any problem but it couldn't locate the css and assets directory, on my localhost it was running okay, so I came across this thread and I decided to go with the suggested fix by @wang701, I created the source branch and deleted the master and the build & deployed works properly now.

Thanks @wang701

[2018-05-02 18:46] yangshun opened #625 "Facebook share dialog app not set up"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.0.14, Chrome 66

### Steps to Reproduce

1. Go to
2. Scroll to the bottom, click on "share"

### Expected Behavior

Should show a compose dialog where user can post to Facebook.

### A

[2018-05-03 04:28] yangshun commented on #613
Claimed by @amyrlam

[2018-05-03 17:54] #613 closed

[2018-05-04 02:36] #368 closed

[2018-05-04 03:05] yangshun commented on #585
@zenflow Would you be able to fix it? Unfortunately we only have Macs :/

[2018-05-04 03:09] yangshun commented on #534
I think this is a reasonable suggestion. PR welcome!

In future we might want to move to a bundler like webpack, rollup or parcel though.

[2018-05-04 03:10] yangshun commented on #525
Hey @vonagam , could you help us understand why there is another folder called `static` within `static`? Doesn't seem like a common thing to do.

[2018-05-04 03:16] yangshun commented on #436
@InternetExplorer7 How's your progress for this task? Let us know how we can help. If you are no longer available for this task, just let us know and we can free it up for someone else. Do keep us updated 😄

[2018-05-04 03:18] yangshun commented on #424
@zenflow Would you like to add update the docs?

[2018-05-04 03:25] yangshun commented on #413
Re-post of my comment in #515 in case anyone wants to take this up in future:

[code]

[2018-05-04 03:26] yangshun commented on #406
@wang701 Would you be keen to create a PR to update the documentation?

[2018-05-04 03:31] yangshun commented on #375
Has been fixed in #601 thanks to @ramiel!

[2018-05-04 03:31] #375 closed

[2018-05-04 03:34] yangshun commented on #344
I believe this feature is live. @microbouji correct me if I'm wrong 😄

[2018-05-04 03:34] #344 closed

[2018-05-04 03:54] yangshun commented on #254
Some preliminary findings - `li.navSearchWrapper` has a computed height of 30px on iOS devices but 22px on Android devices. Probably due to some inconsistency in flexbox.

[2018-05-04 03:56] yangshun commented on #56
Jest has been added. We can close this 😄

[2018-05-04 03:56] #56 closed

[2018-05-04 08:55] vonagam commented on #525
In my case i wanted to place output of [storybook](https://github.com/storybooks/storybook) [static build](https://storybook.js.org/basics/exporting-storybook/) into docusaurus. And it has folder named "static" in [build](https://github.com/storybooks/storybook/blob/323c523d1875d925e81d2903d8ee14d059b0f858/app/react/src/server/config/webpack.config.prod.js#L28).

[2018-05-04 16:31] JoelMarcey commented on #56
Good to close this - but I think we have more tests that we can add down the line. We should probably call those out separately.

[2018-05-04 16:33] yangshun commented on #56
Sure, there's another issue tracking tests here - https://github.com/facebook/Docusaurus/issues/263

We might be able to add them to that issue

[2018-05-05 18:50] yangshun opened #636 "Rename latestVersion to defaultVersion"
### Is this a bug report?

Kinda. Follow up on #554.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2018-05-05 23:15] yangshun commented on #636
Claimed by @Airse

[2018-05-05 23:36] cameronelliott opened #638 "OpenAPI or Swagger for REST APIs [Proposal]"
I want to say, I love how Docusaurus easily enables creation of sites & documentation at the same time. Nice job.

I am writing regarding a question or possible enhancement.
Are there any suggestions on how to use Docusaurus to document simple REST APIs ?

Obviously I can document by my API in markdown by hand, but I am wondering what the next level of efficiency would be where I have evolving API

[2018-05-06 01:39] Airse commented on #534
@yangshun I wouldn't mind working on this!

[2018-05-06 01:39] yangshun commented on #534
@Airse Awesome, it's yours!

[2018-05-06 04:02] ahmadalfy commented on #585
@yangshun I would love to claim and fix this.

[2018-05-06 04:07] yangshun commented on #585
@ahmadalfy That's great! Go ahead. Feel free to rewrite the CSS for the nav bar as well 😄

[2018-05-06 04:51] yangshun commented on #585
@ahmadalfy If possible, could you list down the IE11 issues you intend to fix as a comment here? We can then use this issue to track the fixes.

[2018-05-06 05:10] ahmadalfy commented on #585
@yangshun these are the issues that I found:

- [x] Navigation collapse
- [ ] Shorthand font format with `-apple-system` making the value invalid to IE11 and hence ignoring the whole declaration
- [ ] `flex-basis` and `padding` with `box-sizing: border-box` doesn't work as expected and hence causing cause on the second row of the features (one block per line, [screenshot 1](https://imgur.com/a/vRD

[2018-05-06 05:11] yangshun commented on #585
Oh gosh. Would love to see your fixes if you are up for it! 🥇

[2018-05-06 05:14] ahmadalfy commented on #585
I am working on it.

[2018-05-06 14:50] JoelMarcey commented on #585
@ahmadalfy Thank you for fixing these! ❤️

[2018-05-06 21:29] ahmadalfy commented on #585
@JoelMarcey you're welcome! Thanks for the motivation you gave me at F8 ❤️

[2018-05-06 22:47] ahmadalfy commented on #585
@yangshun the last issue (on installation page) is due to the image on the content. This is a really weird bug I don't think I have ever encountered it before. The image has `max-width: 100%` and it's width is reduced but *someway* its original height is occupying the space. I am not sure how 😭

Will investigate.

[2018-05-07 13:43] balloob opened #647 "Design of new sidebar is not aligned with rest of page"
### Is this a bug report?

Maybe?

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

1.0.15

### Steps to Reproduce

Run Docusaurus 1.0.15

### Expected Behavior

Align the nav sidebar with the other elements on that line on the page.

Here is a quick mockup by adding `padding-t

[2018-05-07 14:37] ahmadalfy commented on #647
@yangshun I reverted my commits that affected the layout and it had no effect. Not sure what caused that.

[2018-05-07 16:16] yangshun commented on #647
@ahmadalfy It's my changes that caused it. I can fix it today. If you would like to fix it instead please go ahead.

[2018-05-07 16:36] ahmadalfy commented on #647
Yup, that's quite simple. Let me take care of that

[2018-05-07 20:48] SimenB opened #648 ""Edit doc" should more seamlessly integrate with translations"
### Is this a bug report?

No, feature request

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yup

### Environment

`docusaurus@1.0.14`, the rest N/A

### Steps to Reproduce

(Write your steps here:)

1. Have a translation on Crowdin
2. Open the translation in the app
3. Hit "Edit"

### Expected

[2018-05-08 00:57] ahmadalfy commented on #647
@balloob check [here](https://deploy-preview-650--docusaurus-preview.netlify.com/docs/en/installation.html). I increased the space above.

[2018-05-08 01:11] amyrlam commented on #234
👋 I'm working on this issue!

Try a hard refresh for now, making sure to be on the `/next` URL to see docs changes in local development, e.g. http://localhost:3000/docs/en/next/doc1.html re: https://docusaurus.io/docs/en/versioning.html.

[2018-05-08 01:57] ahmadalfy commented on #568
@yangshun I would like to claim the image optimization part. I made some progress that looks good! I integrated imagemin > optipng. Checkout the size difference on the screenshot below 🎆

![image](https://user-images.githubusercontent.com/87611/39733586-c40d264e-5273-11e8-83d1-ec5c1e247abf.png)

I still need to add optimization for SVG and jpg 🕺

[2018-05-08 01:58] ahmadalfy commented on #568
By the way it increased the build time a few seconds but it is normal.

[2018-05-08 02:02] yangshun commented on #568
Cool, it's all yours! Yeah more processing definitely takes time. We can
add in a flag for compression in the build command that is set to true by
default.

On Mon, May 7, 2018, 6:58 PM Ahmad Alfy <notifications@github.com> wrote:

[2018-05-08 02:52] yangshun commented on #647
Closed by #650

[2018-05-08 02:52] #647 closed

[2018-05-08 02:53] JoelMarcey commented on #234
@amyrlam So excited to see you working on this ❤️

[2018-05-08 02:54] yangshun commented on #568
Gosh, BlueWhale.png is 1.3MB. If you don't mind, please help to compress the original image asset down to < 100kb in your PR too 👍

[2018-05-08 06:42] ahmadalfy commented on #568
Yes I was going to replace all the original images with the optimized the ones in the PR as well 😁

[2018-05-08 06:47] yangshun opened #651 "Blog sidebar is missing"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues]
Yes

### Environment

Chrome

### Steps to Reproduce

1. Load https://docusaurus.io/blog/

### Expected Behavior

See sidebar

### Actual Behavior

Sidebar is missing

### Reproducible Demo

Visit https://docusaurus.io/blog/

This broke in #646. @ahmadalfy would you be available to have a look?

[2018-05-08 06:50] ahmadalfy commented on #651
Sure, apologies for that

[2018-05-08 06:51] yangshun commented on #651
Not a problem, it hasn't been released to users, so it's all good. Thanks for the quick response!

[2018-05-08 18:28] willvincent commented on #638
We've been using [redoc](https://github.com/Rebilly/ReDoc) (outside of docusaurus) to display our api docs. I've been pretty happy with it. Rather than reinventing the wheel, you could just make that available to parse openapi/swagger format json files.

[2018-05-08 21:34] ahmadalfy commented on #651
When I reverted the change, I still see the same view.

Just to confirm, this isn't the sidebar you are talking about right?

https://imgur.com/a/SBJYA0j

[2018-05-08 21:56] ahmadalfy commented on #651
OK I found it, I wasn't seeing it because I thought it is deployed. Will fix that

[2018-05-09 15:38] gedeagas commented on #539
https://github.com/facebook/Docusaurus/pull/655
Working on it 👍

[2018-05-09 17:12] JoelMarcey commented on #638
@willvincent That is definitely a reasonable idea. The question I have been struggling with is which tools to support. Once you add support for one, you will get asked to support a lot more. Maybe that is ok. Start with one or two. That's why I think being able to plugin various tools or formats would be optimal. We can provide a couple for reference and then show how others could be incorporated.

[2018-05-10 02:58] #539 closed

[2018-05-10 03:00] #651 closed

[2018-05-10 03:47] gedeagas commented on #439
is anyone taking this @yangshun ? I can work on thing in the coming weeks

[2018-05-10 03:52] yangshun commented on #439
Sure thing!

[2018-05-10 04:03] JoelMarcey commented on #539
I guess my tag of `Difficulty: Advanced` was just a tad off, huh? 😛

[2018-05-10 14:14] ahmadalfy commented on #568
Should we update the list and remove optimizing the images?

[2018-05-10 14:47] yangshun commented on #568
Ok checked "Optimized images". Thanks for reminding

[2018-05-12 04:58] ahmadalfy commented on #438
@JoelMarcey  @yangshun  should we switch to Prism? I looked at [highlight.js](https://highlightjs.org/static/demo/) and couldn't find support for JSX.

[2018-05-12 12:18] sujono91 commented on #369
@JoelMarcey

Hi Joel, I'm interested to work in this issue. Could u give me the right direction of how to solve this issue? (such as message format, etc) 😄

[2018-05-13 21:00] SleepWalker opened #662 "Show onPageNav on mobile devices"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

-

### Steps to Reproduce

-

### Expected Behavior

The problem is, that when you are opening docs from mobile device it is very hard to navigate the document, because there is no ToC navigation at

[2018-05-13 23:38] yangshun commented on #662
Yes, it would a nice addition. Feel free to submit a PR for it.

[2018-05-14 18:04] JoelMarcey commented on #369
Hi @sujono91, thanks for taking this on.

I think there are a couple of ways to tackle this:

1. You can create a `console` message in https://github.com/facebook/Docusaurus/blob/master/lib/version.js if a `versions.js` file does not exist in the `pages` directory. This would solve the problem if someone ran the `version` script before creating the `versions.js` page (like is done when someone fol

[2018-05-15 03:13] yangshun commented on #500
@amyrlam In the current state, it's a bit hard to support adding it for Docusaurus users. Let's just add the copy functionality to Docusaurus 👍

[2018-05-15 16:14] endiliey commented on #218
Hi, can I get more detail on this ?

Are we adding social media button so that:
1. User can follow the website twitter account (for twitter), like and share the facebook page (for facebook)
Example:
<img width="351" alt="socialmedia" src="https://user-images.githubusercontent.com/17883920/40069219-47869abc-589d-11e8-81b2-2d7b60a4e4d2.PNG">

2. or User can share the website link (e.g: docusaurus.io

[2018-05-15 17:31] endiliey commented on #218
@yangshun
I wanted to submit a PR, but the Facebook Like & Share button won't work because the Docusaurus app is not set to public mode

<img width="515" alt="app in dev" src="https://user-images.githubusercontent.com/17883920/40072868-d0f36faa-58a7-11e8-807f-c1153252a42f.PNG">

Actually this is related to https://github.com/facebook/Docusaurus/issues/625
The fix is to set the app to public, (but

[2018-05-15 17:37] yangshun commented on #218
Yep that is tracked at https://github.com/facebook/Docusaurus/issues/625

[2018-05-15 17:49] endiliey commented on #218
@yangshun
Thanks for the fast reply, I guess I had to wait for #625 to be resolved. Let me know if I can be of any help

[2018-05-16 09:21] endiliey opened #667 "Enable comments on blog post"
### Is this a bug report?

Enhancement / feature request

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Proposal
It is very common to create/read/update/delete comments on a blog, and Docusaurus seems to lack that feature. Fortunately, Facebook SDK is already integrated to Docusaurus, so

[2018-05-16 12:46] gustavohenke commented on #406
Hello 👋,
I'm also seeing these errors. I read some of the comments on this thread and not all of them make sense to me.

I have the following setup:
- docs and website code are written/maintained in https://github.com/express-validator/express-validator
- they are published over to https://github.com/express-validator/express-validator.github.io

That said, I don't want to write docs anywhere that

[2018-05-16 19:19] ericnakagawa commented on #525
I've looked into this. The fix will require changing how we glob for files in a "static" directory.

[2018-05-17 00:01] JoelMarcey commented on #525
I will assign this one to you Eric. Thanks!

[2018-05-17 08:09] ysyfff opened #671 "The first build of Circle CI failed"
1. Copy the text of Circle CI to my project in .circle/config.yml and push it to master.
2. Start building on Circle CI, but the result of building is failure .
The error message is as below:
![image](https://user-images.githubusercontent.com/2571290/40164298-b81c5f4c-59eb-11e8-9563-49ba14851ce3.png)
3.But after that, when I push something again to master, it builds successfully! That is odd.

If

[2018-05-17 13:48] yansern commented on #603
I can confirm this is happening to me too. Like @sebelga I am also using Windows 7 64-bit.

Without copying the index.html files from the build folder, accessing http://localhost:3000 will stall for a long time until a timeout occurs.

After performing a fresh installation of docusaurus, I have to:
[code]
Then only I can open http://localhost:3000 properly.

[2018-05-17 14:33] endiliey commented on #603
Just adding some data here. With fresh install, I use Windows 10 64-bit through its WSL (Windows Subsystem for Linux) and it works fine. Tried using normal command prompt and it works fine as well. I couldn't reproduce the error.

[2018-05-17 15:12] JoelMarcey commented on #603
@yansern @sebelga @endiliey Not sure you have the means to test this, but if you perform the same steps on a Mac or Linux machine, I assume you don't get the issue?

I just want to pinpoint that this is a Windows-specific problem.

[2018-05-17 15:43] endiliey commented on #603
I don't have Mac but just tested it on Ubuntu 16.04.02 LTS with Node v8.10.0 and it worked fine.

[2018-05-17 23:17] #234 closed

[2018-05-19 07:10] endiliey commented on #413
Hi, I wanted to try working on this. But I have few questions:
1. Am I correct to assume that we need this feature more on the `production` site ?
2. Do we generate the cleanUrl file on demand only, or every build will have both files? (when `cleanUrl` is `true` in `siteConfig.js`)
[code]

[2018-05-19 16:47] #667 closed

[2018-05-19 20:26] Glavin001 commented on #219
This is what I did to add Disqus to every docs page: https://github.com/Unibeautify/website/pull/76/commits/a25dc1321d44cdcbf1c1626d86f0048031474589
Hope it helps someone else!

[2018-05-20 01:59] sujono91 commented on #369
@JoelMarcey Ok, I'll try it right now. Will let u know if i've any concern

[2018-05-20 16:04] endiliey commented on #369
Hi @JoelMarcey ,
Won't it be better to enforce not running the server & show the warning if `versions.js` doesn't exist ? If we only show warning on `version` script, they might still got the error

I see that there are other similar unclosed issue #228 #297 where versions HTML page are not being created.

[2018-05-21 19:06] phated commented on #257
This is something we need for the gulp docs.  Not sure if I'll have a chance to dig in but still wanted to follow.

[2018-05-21 19:34] JoelMarcey commented on #603
So this looks like a Windows support issue.

There is a PR - https://github.com/facebook/Docusaurus/pull/677 - it may not be directly related, but I wonder if it could help.

[2018-05-21 19:39] JoelMarcey commented on #406
@gustavohenke Hi. I assume you followed the instructions here: https://docusaurus.io/docs/en/publishing.html#using-github-pages, particularly the note deploying to user or organization sites.

[2018-05-21 21:52] endiliey commented on #603
It would be very helpful if there is at least a repository in which we can reproduce this bug. If this happens to all windows, then it's obvious that this need to be fixed.

Before all of that,  @yansern @sebelga can you try forking Docosaurus and try running it in your local server? Just to pinpoint it's not from old version bug

[code]

It assume that this only happens on dev server, which is re

[2018-05-22 01:05] qrevel opened #683 "Dependency error in 1.1.1"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Node: 10.1
Docusaurus: 1.1.1

### Steps to Reproduce

1. `docker run -it --rm node:10.1-alpine sh`
2. `npm install -g docusaurus`

### Expected Behavior

The installation happens without any proble

[2018-05-22 01:06] yangshun commented on #683
This has been fixed in https://github.com/yangshun/tree-node-cli/pull/2. We'll release a patch version very soon. Sorry about it!

[2018-05-22 01:30] endiliey commented on #586
I agree that we should support this. I wanted to try working on this after i'm out from hospital.

@JoelMarcey @amyrlam @yangshun @biezhi. What is the right behavior for this feature?

https://docusaurus.io/docs/en/translation.html
The current state is that
1. Pages with text that you want translated should be placed in website/pages/en folder.
2. Docs is just placed in docs folder as md

Let's sa

[2018-05-22 04:08] sujono91 commented on #369
@JoelMarcey I think we can close this issue

[2018-05-22 04:10] yangshun commented on #369
Yes you're right! For future reference, you can also add "Fixes #369" in your PR and when your PR is merged, the issue will be closed automatically 😄

[2018-05-22 04:10] #369 closed

[2018-05-22 04:32] #683 closed

[2018-05-22 05:16] qrevel commented on #683
👌

[2018-05-22 08:08] violabg opened #686 "onPageNav not showing on Safari"
### Environment

1.0.15

### Steps to Reproduce

(Write your steps here:)

1. open Safari (in my case 11.1)
2. go to https://docusaurus.io/docs/en/site-creation.html

### Expected Behavior

you should see the onPageNav on the right

### Actual Behavior

there is no onPageNav on the right

### Reproducible Demo

https://docusaurus.io/docs/en/site-creation.html

it works on Chrome and Firefox

[2018-05-22 08:55] violabg commented on #686
I found a solution:

main.css, line 1442

it should be:

[code]

[2018-05-22 09:12] endiliey commented on #686
Feel free to submit a PR ☺

[2018-05-22 10:07] yansern commented on #603
Hi @JoelMarcey & @endiliey, I have figured out the issue and it is proxy related.

I'm running behind corporate proxy and I have `HTTP_PROXY` & `HTTPS_PROXY` environment variable set. (I wouldn't use Windows 7 unless I had to, I'm a Mac user by heart lol.) I believe @sebelga might be also running behind corporate proxy.

I noticed that under `lib/server/server.js`, requests ending with `/` are han

[2018-05-22 10:26] endiliey commented on #603
@yansern Thank you for this knowledge & information. Let's see if this work for @sebelga due to him having proxy env set and we might need to consider adding this to documentation. Awesome, i learned something new today.

[2018-05-22 12:10] sebelga commented on #603
Sorry I haven't replied to previous messages.

@yansern effectively I am behind a corporate proxy with HTTP_PROXY env vars set. :smile:

And your fix worked indeed!
But it needs to be set without any spaces

[code]

Thanks!

[2018-05-22 12:20] endiliey commented on #603
That should be it then. I guess we can close this issue. Horaay 😀. Another thing is @yansern or @sebelga do you want to submit a doc PR for this ? I think that will be helpful. Cc @joelmarcey

[2018-05-22 13:00] sebelga commented on #603
Yeah sure I can do it. Should I include it in the "Installation" section? https://docusaurus.io/docs/en/installation.html

[2018-05-22 14:56] #603 closed, assigned to nobody

[2018-05-22 15:49] JoelMarcey commented on #586
@endiliey Hi!

Personally, I think your 1st option  (docs in Italian, `website/pages/it`) is the most user-friendly and easily understood option, but may be hardest to implement. Your third option may be the easiest to implement.

From my perspective, I think those are the options available to us and I believe, in order or my preference, it would be:

- 1
- 3
- 2

[2018-05-22 17:50] JoelMarcey commented on #586
I think it would be a great feature to have. I don't know if it is one of our most requested features (like Live Reload was), but still, as translations get more prevalent, it will be. So good to get out ahead of it.

❤️

[2018-05-22 22:44] endiliey commented on #586
Thanks for the reply. I was just wondering if we should focus more on fixing bugs, refactor or writing more tests to catch regressions, or maybe adding flow (static typechecker) to docusaurus codebase so that there will be less bugs & we can code confidently in the long run.

[2018-05-23 04:18] JoelMarcey commented on #586
@endiliey Hi! All of what you listed would be wonderful to have 👍 My advice to anyone who wants to contribute to Docusaurus, particularly if there are multiple possible projects/fixes, is to choose ones that you are interested in. That way you are working on something exciting to you and it will probably mean you will want to continue contributing in the future as well.

[2018-05-23 05:05] #686 closed

[2018-05-23 05:59] qrevel opened #692 "Can't install latest version of docusaurus with npm"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

Node 10+
Docusaurus 1.1.2

### Steps to Reproduce

[code]

### Expected Behavior

It should install the lastest version of docusaurus.
I found this [incident](https://status.npmjs.org/incidents/3rj

[2018-05-23 06:10] yangshun commented on #692
We received a similar report and it seems like rxjs is having the same issue as well https://github.com/ReactiveX/rxjs/issues/3729 and issues have been filed with npm https://github.com/npm/npm/issues/20711.

We'll monitor the situation and perhaps publish 1.1.3 if it persists.

[2018-05-23 07:17] amyrlam commented on #385
I'm game to claim the issue!

Seems like the styling of the search bar has been fixed as we replaced the site title with just an icon when on mobile.

To clarify, it seems like we want the Algolia results to extend to a much larger height? Maybe if it's cut off at height x it can be cut off at the middle of a row as well so that it's clear it can scroll? I can play around with the design. Here's a

[2018-05-23 11:26] Haroenv commented on #385
I'd suggest to show it full width at least, and probably quite a bit longer so it doesn't need to scroll

[2018-05-23 11:45] mattkanwisher commented on #403
Running into same issues, we are seeing raw markdown in the og:description instead of the rendered html

[2018-05-23 16:27] JoelMarcey commented on #692
npm claims to have resolved this: https://status.npmjs.org/incidents/3rjzvts6v98k

Is it still an issue for you @qrevel?

[2018-05-23 16:44] joshuaalpuerto opened #693 "Error on development when changing baseUrl"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment
Node: 8.9.1
Docusaurus: 1.1.1

(Docusaurus version via `npm outdated docusaurus` or `yarn outdated docusaurus`, OS, Node, npm, yarn)

### Steps to Reproduce

I followed the step on setting your land

[2018-05-23 17:05] mattkanwisher commented on #403
From our [package.lock here](https://github.com/loomnetwork/loom-sdk-documentation/blob/master/website/package-lock.json#L1450)
docusaurus@^1.0.12:

You can see if you ```bash
curl https://loomx.io/developers/docs/en/phaser-sdk-demo.html | grep og:description
[code]
="og:description" content="![Game screenshot](/developers/img/screenshot.png)"/>
[code]

[2018-05-23 17:44] gedeagas commented on #439
Hi, @yangshun can you check my code? https://github.com/facebook/Docusaurus/pull/694

[2018-05-23 20:14] JoelMarcey commented on #403
Interesting...

In other Docusaurus sites, that bug is gone:

[code]

or

[code]

The only thing I see different in yours, assuming you are indeed running Docusaurus 1.06 or greater, is that your og:description is an image. Maybe that could be the bug.

[2018-05-23 20:21] yangshun commented on #692
Closed by #615

[2018-05-23 20:21] #692 closed

[2018-05-23 20:59] amyrlam commented on #385
Thanks for the input - I'll tag you both on the PR, in case we need to workshop the design!

[2018-05-23 22:20] amyrlam commented on #387
I'll work on this with @jason-maier. He's new to Docusaurus, but has some SEO experience from his past career!

[2018-05-23 23:02] qrevel commented on #692
Everything's working with 1.1.3

[2018-05-24 16:47] johnotu commented on #436
I looked at the page but couldn't understand how "scattered" they are. Would sectioning them into tables or div groups fix it?

[2018-05-24 17:36] philipmjohnson opened #697 "[1.1.3] npm start -> RangeError: Maximum call stack size exceeded"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

Docusaurus 1.1.3

### Steps to Reproduce

(Write your steps here:)

1. clone https://github.com/openpowerquality/docusaurus
2. cd website
2. npm install
3. npm update

### Expected Behavior

The sy

[2018-05-25 04:12] endiliey commented on #693
@joshuaalpuerto: hi, do you have a repo we can clone to reproduce the issue?

[2018-05-25 04:42] joshuaalpuerto commented on #693
@endiliey
Sorry didn't provide a repro. Here is the repro, hope this help.

https://github.com/joshuaalpuerto/repro-docusaurus

Cheers!

[2018-05-25 04:47] joshuaalpuerto commented on #693
If someone can guide me. I would like to contribute :)

[2018-05-25 05:13] endiliey commented on #693
`yarn start` or `npm start` basically use Express to serve the files.

You can check
https://github.com/facebook/Docusaurus/blob/master/lib/server/server.js

[2018-05-25 06:05] joshuaalpuerto commented on #693
Thanks! I will take a look on this.

[2018-05-25 08:47] yansern opened #699 "High CPU Usage when running dev mode (Windows 7)"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

- Docusaurus 1.1.3
- Windows 7 (64-bit)

### Steps to Reproduce

(Write your steps here:)

1. yarn start
2. Open http://localhost:3000
3. Watch the node.exe process in Task Manager as it takes 80-9

[2018-05-25 09:04] endiliey commented on #699
H @yansern,

Could you try accessing your repo/website/node_modules/docusaurus/lib/server/server.js

Uncomment line 562.
https://github.com/facebook/Docusaurus/blob/407636a4d92b23fe59c31bbc58a0e3416d91f01f/lib/server/server.js#L562
Restart `yarn start` and see if this is still happening.

[2018-05-25 13:15] qrevel opened #701 "Fail to copy static image during build"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

Docusaurus: 1.1.3
Node: 10.1

### Steps to Reproduce

1. Use the same favicon file for both headerIcon and favicon

[code]

2. Put the favicon file in the static directory

[code]

3.  Run the buil

[2018-05-25 14:33] JoelMarcey commented on #699
Thanks @endiliey 👍

Hi @yansern - yes this is probably due to a bug we have in our Live Reloading functionality that we will be looking to hotfix soon.

[2018-05-25 21:45] ahmadalfy commented on #701
It will be useful if you can share the favicon image. It might be introduced due to [this PR](https://github.com/facebook/Docusaurus/pull/654)

[2018-05-26 00:12] JoelMarcey commented on #701
I just ran `yarn build` on the Docusaurus site, and I see `favicon.ico` in my build. So I am curious if @ahmadalfy may be right on this.

[2018-05-26 00:14] ahmadalfy commented on #701
What I am thinking of is that the file is an invalid image (like an icon using the `png` extension) and hence optipng fails to compress it and move it.

[2018-05-26 06:13] yangshun commented on #699
@yansern Please test out the fix in 1.1.4.

[2018-05-26 06:14] yangshun commented on #697
@philipmjohnson Please test out 1.1.4 and let us know if it fixes the issue for you.

[2018-05-26 06:45] endiliey commented on #693
hi @joshuaalpuerto, did you manage to resolve the issue ?
Sorry for the delayed response. I just got the chance to try your repo and I think there is no issue with the current server implementation.

When you change your `baseUrl` to `/project1/`, this means that instead of `localhost:3000`, you should access it at `localhost:3000/project1`

<img width="954" alt="doc" src="https://user-images.gith

[2018-05-26 09:47] joshuaalpuerto commented on #693
@endiliey  No worries! I was able to take a look at it yesterday for a limited time. But you are correct, it is accessible by adding the `baseUrl`. But shouldn't be automatic when redirecting to to the docs page as per [documentation](https://docusaurus.io/docs/en/site-creation.html#docs-landing-page). Perhaps the `baseUrl` should be automatically added. What do you think?

[2018-05-26 09:57] endiliey commented on #693
Actually this only happen when we use static `index.html`, you can try cloning Docusaurus repo, change `baseUrl` and `yarn start` will still work fine.

I'm not the maintainer of this repo, but that might be a good idea
Quick implementation:
[code]
https://github.com/facebook/Docusaurus/blob/b7be85843af2a07ead183dd8a467ebcf83e9a3e3/lib/start-server.js#L65-L66

[2018-05-26 10:05] joshuaalpuerto commented on #693
I will try this later and let you know! Thanks for your help!

[2018-05-26 16:33] philipmjohnson commented on #697
Unfortunately, I just did:

  * `rm -rf node_modules`
  * `npm install`
  * `npm update`
  * `npm start`

and got the error: `Error: Cannot find module 'react-dev-utils/openBrowser'`

Here's the full output:

[code]

[2018-05-26 16:39] philipmjohnson commented on #697
And there's more.  I did a:

 * `npm install --save-dev react-dev-utils`
 * `npm start`

And then got the following error:

[code]

[2018-05-26 16:47] philipmjohnson commented on #697
Got it to work, but had to:

* `npm install --save-dev babel-cli babel-preset-env`
* `npm install --save-dev react`

Here's the trail:

[code]

[2018-05-26 16:52] philipmjohnson commented on #697
My working package.json:

https://github.com/openpowerquality/docusaurus/blob/docusaurus-1.1.4/website/package.json

[2018-05-26 17:05] gedeagas commented on #395
HI, @JoelMarcey I am planning to take this after finishing https://github.com/facebook/Docusaurus/pull/694 but I think I will work with scalar values first. Is that okay?

[2018-05-26 18:32] JoelMarcey commented on #699
Actually on the assumption that 1.1.5 works now 😆

[2018-05-26 18:32] JoelMarcey commented on #697
@philipmjohnson Just published 1.1.5 - can you test now? Thanks for bringing this to our attention.

[2018-05-26 18:43] philipmjohnson commented on #697
I'm sorry to say this, but still getting the "env error" I got before, and fixed with additional package installs:

[code]

[2018-05-26 18:47] JoelMarcey commented on #697
Hmmm.. How are you testing this? I get that `env` error when I try to utilize a local version of Docusaurus for testing. https://github.com/facebook/Docusaurus/blob/master/admin/local-third-party-project-testing.md#clowntown

Particularly, I have to install `npm install babel-preset-env@^1.7.0`.

But this should work on a site that is using the package of Docusaurus on `npm`

[2018-05-26 18:49] JoelMarcey commented on #697
For example, I just created a new site via `docusaurus-init` and the `yarn start` brought up the site fine.

I am not saying there isn't anything wrong, I just want to make sure there is before doing yet another fix 😄

[2018-05-26 18:51] JoelMarcey commented on #697
In your site can you do the following:

[code]

[2018-05-26 18:52] JoelMarcey commented on #697
The `react-dev-utils` was definitely a legit issue. The `env` issue is a little more suspect to me because I have to do similar things when testing from a local version of Docusaurus.

[2018-05-26 20:52] philipmjohnson commented on #697
OK, the problem was I didn't delete package-lock.json before rebuilding. Now it works.

Thanks for all the troubleshooting.

[2018-05-27 00:34] JoelMarcey commented on #395
@gedeagas Sounds great! I think this is a feature that can be done in increments.

[2018-05-27 04:37] endiliey commented on #395
While I agree with @zenflow, if @gedeagas intends to build his own plugin, that's welcome too☺

[2018-05-27 13:31] sujono91 commented on #436
@JoelMarcey @yangshun
I'm interested to work on this categorization issue. My proposal (just an example):
[code]

[code]

If u've any categorization proposal before, pls lmk. I'll try to categorize all of them and give a full proposal here 👍

[2018-05-27 16:31] gedeagas commented on #395
Hi @zenflow @endiliey, I am planning to do just that 😄 .
Making a plugin for remarkable to support this on docusaurus 📦

[2018-05-27 19:00] zenflow commented on #395
Ok, but just to be clear: that plugin will not be included as a dependency of Docusaurus, right? It would be configured by users in their `siteConfig.markdownPlugins`?

I'm just a bit confused by the fact that this is a feature request for Docusaurus when nothing actually needs to change in Docusaurus for this to be supported

[2018-05-28 01:27] qrevel commented on #701
You might be right, here is the icon:

![favicon](https://user-images.githubusercontent.com/11804101/40593184-b100ddce-621e-11e8-8c9a-30b5a5fe0b62.png)

[2018-05-28 01:28] qrevel commented on #701
In addition, I think it has been edited with Preview on macOS.

[2018-05-28 07:29] endiliey commented on #693
Guess we can close this now

[2018-05-28 07:30] joshuaalpuerto commented on #693
[**UPDATE**]

Now the issue is when you type in `http://localhost:3000` you will not be redirected. Unless you type in the `host` and the `baseUrl` altogether `http://localhost:3000/project1`.

[2018-05-28 07:34] endiliey commented on #693
I think that's the right behavior. If you are using non default `/` as `baseUrl`, e.g: `/project1/` then you should not access it without `baseUrl` or even manually type it.

[2018-05-28 07:43] joshuaalpuerto commented on #693
thats what I actually meant when I said it should be automatically. Hmm, shouldn't it be base on your `baseUrl`?

[2018-05-28 07:47] endiliey commented on #693
Feel free to submit a PR for it 😄

Adding this for your reference on where to modify
https://github.com/facebook/Docusaurus/blob/b7be85843af2a07ead183dd8a467ebcf83e9a3e3/lib/server/server.js#L530-L533

[2018-05-28 07:49] joshuaalpuerto commented on #693
Thanks! Im actually checking the `server.js` now. Then I'll get back once I figure this out. 😄

[2018-05-28 10:53] joshuaalpuerto commented on #693
Hi @endiliey,

I was able to make changes on [server.js](https://github.com/joshuaalpuerto/Docusaurus/blob/81cce43c7f591d00ed248cc35387ce168a5a896e/lib/server/server.js#L534-L535)

Adding `baseUrl`:

[code]

You can actually check my [repro](https://github.com/joshuaalpuerto/repro-docusaurus). I point the `docusaurus` package to my forked repo. Implement changes [needed](https://github.com/joshuaa

[2018-05-28 13:50] endiliey commented on #693
@joshuaalpuerto
I don't own this repo but I believe that this repo is `PR Friendly` 👍
Feel free to submit one. No PR is too small if it's useful.

I can give some advice though, that changes in your code might introduce a bug. What if my req.path is `baseUrl/xxxx`, it will become `baseUrl/baseUrl/xxx`

[2018-05-28 13:54] ahmadalfy commented on #701
Can you try to check the integrity of the image using [this tool](http://www.libpng.org/pub/png/apps/pngcheck.html)? I need to update the command line tools before running it ([check this guide](http://macappstore.org/pngcheck/))

[2018-05-28 13:56] joshuaalpuerto commented on #693
You're correct. I was able to test only my use-case.  I will keep on checking then. Thanks!

[2018-05-29 07:54] yansern commented on #699
I can confirm at 1.1.5 does not exhibit high cpu usage. Everything is working well now! Thank you very much!

[2018-05-29 11:06] qrevel commented on #701
[code]

[2018-05-30 10:17] endiliey commented on #290
@ashleytqy, are you still working on this?

@joelmarcey, actually i am not really sure on the right behavior of this bug.

Should it be redirected to  https://docusaurus.io/docs/{lang}/installation.html?
What determines the default docs page (I believe that there is no concept of `default docs` page in Docusaurus) ?
What if its in another site (not docusaurus).

How about redirecting it to landing

[2018-05-30 16:17] ashleytqy commented on #290
Hi, sorry I’m no longer working on this!

[2018-05-31 02:01] tibdex commented on #395
Here's how variable injection can be done:

Put this in `siteConfig.js`:

[code]

Then, in one of the doc page, write:

[code]

And this is what Docusaurus would render:

![screenshot-2018-5-30 variable injection demo test site](https://user-images.githubusercontent.com/6574550/40756747-25ddfe98-6453-11e8-8e93-9be4c863a3f8.png)

As you can see, by leveraging [remarkable-embed](https://www.npmjs.co

[2018-05-31 04:37] #478 closed

[2018-05-31 07:37] endiliey opened #713 "Unable to change docs title"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Platform Agnostic
Latest Docusaurus (master branch)

### Steps to Reproduce / Reproducible Demo

1. Use latest master branch of [Docusaurus](https://github.com/facebook/Docusaurus) & install
2. Sta

[2018-05-31 13:55] yansern opened #715 "Publishing GH pages not picking up GIT_USER."
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.1.5 on macOS.

### Steps to Reproduce
I followed the instructions at https://docusaurus.io/docs/en/publishing.html and I executed:
[code]
but all I got:
[code]

### Expected Behavior

[2018-05-31 13:58] endiliey commented on #715
Did you configure your SSH already ? https://help.github.com/articles/connecting-to-github-with-ssh/

Alternatively, you can try
```GIT_USER=yansern CURRENT_BRANCH=master USE_SSH=false yarn run publish-gh-pages```

[2018-05-31 14:01] yansern commented on #715
@endiliey Yes, SSH is properly set up. I can clone repositories on GitHub using SSH urls.

The `USE_SSH=false` doesn't make a difference. `true` or `false` it still uses `https://undefined@github.com`.

[2018-05-31 14:05] endiliey commented on #715
That is weird because mine works. You might want to put your repo here so someone can try to reproduce it

[2018-05-31 14:09] yansern commented on #715
Okay, it seems that I have to use the `export` keyword in bash, then `publish-gh-pages` will pick it up properly.
[code]

[2018-05-31 14:15] endiliey commented on #715
That's weird, are you executing it one by one ? I think it should be in one line.
But if it works now, we can close this issue 😂

[2018-05-31 16:31] gustavohenke opened #717 "[Proposal] Cross repo publishing"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Skimmed through it, expect it to be the same as most other OSS projects

### Environment

Docusaurus ^1.0.15

### Steps to Reproduce + current behaviour

1. Have your docs code in a project repo. Make sure to have `maste

[2018-05-31 16:33] gustavohenke commented on #717
I'm willing to tackle this one if we agree on some way of implementing it.

I'm happy with having a env flag like `CROSS_REPO_PUBLISHING=true docusaurus-publish` for now, even though I know this is not very nice.

[2018-05-31 21:00] machikoyasuda opened #718 "Allow configurable URL value for "next""
### Is this a bug report?

✖️No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

✅ Yes

### Feature request

Currently, Docusaurus hardcodes the URL param for the pre-release `master` branch as `next`. The version link in the header and the URLs use the word `next`. I'd like to be able to configure

[2018-05-31 21:26] machikoyasuda commented on #718
@JoelMarcey @yangshun If it's alright with y'all, I'd love to work on this 🤓

[2018-06-01 07:53] Themandunord commented on #600
Same issue on our project. @JoelMarcey will you still look at this ?

[2018-06-01 16:26] JoelMarcey commented on #436
@sujono91 We would love for you to take this issue if you are interested, thanks!

[2018-06-01 17:26] JoelMarcey commented on #718
I would love a PR on this. Thanks! As long as it doesn't break existing functionality, then I think we could consider this.

[2018-06-01 17:27] endiliey commented on #600
This is related to Windows.

Tried on Linux
<img width="830" alt="linux" src="https://user-images.githubusercontent.com/17883920/40854439-10fe4782-6604-11e8-9f78-64b16fe3df65.PNG">

Tried on Windows
<img width="774" alt="windows" src="https://user-images.githubusercontent.com/17883920/40854448-17aed3b2-6604-11e8-88c9-f334bcd2854d.PNG">

[2018-06-01 18:01] endiliey commented on #715
Hi @yansern, I believe it's working for you now.
I'm closing the issue for now, feel free to reopen if you need more assistance.

[2018-06-01 18:01] #715 closed

[2018-06-01 18:04] endiliey commented on #693
Hi @joshuaalpuerto, any progress on this?

[2018-06-01 18:07] endiliey commented on #701
@ahmadalfy are you working on this ?

[2018-06-01 18:08] endiliey commented on #662
@SleepWalker are you going to work on this ?

[2018-06-01 18:10] SleepWalker commented on #662
Yep, but I'm really busy this week :(

[2018-06-01 18:11] endiliey commented on #662
I'll label it as claimed & check back on you next week, Would that be okay for you ?

[2018-06-01 18:22] endiliey commented on #662
@SleepWalker I'll label it as claimed & check back with you next week, Would that be okay for you ? You can let me know if you have preferred timeline

[2018-06-02 01:09] ahmadalfy commented on #701
@endiliey yes will check, my apologies for the delay

[2018-06-02 01:29] JoelMarcey commented on #713
Should we just always delete `i18n/en.json` and then regenerate when starting `server.js` or running `generate.js`?

[2018-06-02 01:35] endiliey commented on #713
What is intended from PR #158 is that user can override Docusaurus provided strings that a project may not like (for example ReasonReact would like to say "Edit" instead of "Edit this Doc" in English). So they can modify `i18en.json` directly

Related code:
https://github.com/facebook/Docusaurus/blob/fa20c93d5c1b5a9369cf1c5909955fc58f0dcb8e/lib/write-translations.js#L27-L31

https://github.com/fac

[2018-06-02 01:40] endiliey commented on #713
Hi @rickyvetter,
Just wanted to ask what is the intended / right behavior should be like when you implement #158 ?

[2018-06-02 02:34] joshuaalpuerto commented on #693
Hello @endiliey, I'm trying to understand the inner workings of the routes but I got busy this past days. However, I was able to try using `/project1/subproject/` for `baseUrl` and it seems working just fine.

[2018-06-02 02:37] endiliey commented on #693
Alright @joshuaalpuerto . I'm closing this issue for now as it seems it's been working for you. Feel free to submit a PR on the improved redirect when you have the time.

[2018-06-02 02:37] #693 closed

[2018-06-02 03:01] chenglou opened #719 "`utils.extractBlogPostSummary` naively cuts markdown at wrong places"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.1.5. The rest doesn't matter

### Steps to Reproduce

1. Create a new blog post
2. Write this exact content: https://gist.github.com/chenglou/2c7283a65804a0b481b932ae1c1ab18e#file-foo-

[2018-06-02 03:37] endiliey commented on #719
I can confirm this is a bug.
<img width="712" alt="bugg" src="https://user-images.githubusercontent.com/17883920/40870029-ce72e120-6658-11e8-9d17-ecb4bc5fa18f.PNG">

Your proposed solution on the right way seems good to me. Would love to see a PR from you for this @chenglou .

[2018-06-02 04:35] endiliey commented on #719
This is weird, I removed my node_modules & reinstalled & added that docs from your gist and it works now.

<img width="763" alt="work" src="https://user-images.githubusercontent.com/17883920/40870411-492f026a-6661-11e8-8e46-3f47cded86fa.PNG">

@chenglou
Did you get any error / the doc just went missing ?

[2018-06-02 05:08] endiliey commented on #600
@Themandunord @alex254 appreciate it if you could test out #720 and see if it's working for you

[2018-06-02 05:15] endiliey commented on #671
It seems that based on #670 this error might be caused due to CircleCI outage. I'm closing this for now, feel free to reopen if issue persists

[2018-06-02 05:15] #671 closed

[2018-06-02 05:35] endiliey commented on #242
@longility: Changes to docs/ are reflected in the next "master" version.

I am closing this issue. It is documented at
https://docusaurus.io/docs/en/doc-markdown.html#linking-to-images-and-other-assets

[2018-06-02 05:35] #242 closed

[2018-06-02 05:42] endiliey commented on #236
Does this bug still exists @ericnakagawa ?

[2018-06-02 05:50] endiliey commented on #235
I've tried running new site & not moving example docs to /docs
<img width="859" alt="test" src="https://user-images.githubusercontent.com/17883920/40871307-db7cad02-666b-11e8-993d-9d80ecfd6f82.PNG">

Correct error messages. Closing this

[2018-06-02 05:50] #235 closed

[2018-06-02 06:16] endiliey commented on #342
Hi @aadsm. I'm closing this issue due to inactivity & there seems to be no issue related to this now. Feel free to reopen if you need assistance 😄

[2018-06-02 06:16] #342 closed

[2018-06-02 06:38] chenglou commented on #719
The output in `build` isn't useful; just partially synced files. Is there some weird caching? Or are you using another version?

But you do see how following that code path can lead to exceptions right?

[2018-06-02 06:55] gedeagas commented on #395
Awesome @tibdex.
I guess my comment above is obsolete 😄

[2018-06-02 06:55] endiliey commented on #719
I'm using master branch of Docusaurus, but there isn't anything major difference from it to 1.1.5.

I do agree that the code path can lead to exceptions though. A workaround for now is to properly add truncate mark instead of letting it automatically truncated on char 250.

Trying to figure out if we should agree on certain length to truncate but make sure that parsed markdown tree is correct

[2018-06-02 07:37] endiliey commented on #358
I don't think this issue still exist, at least on Docusaurus 1.1.5
I used similar TravisCI config for my test website at endiliey.github.io and it's not published to subfolder

<img width="960" alt="saaaaaa" src="https://user-images.githubusercontent.com/17883920/40872080-ba916c68-667a-11e8-939c-e0222c87d5b3.PNG">

[2018-06-02 07:37] #358 closed

[2018-06-02 07:54] endiliey commented on #423
I will claim this issue for travisCI documentation

[2018-06-02 09:57] endiliey commented on #717
@gustavohenke
Could you tell us more on how do you plan to implement this ?

[2018-06-02 10:00] endiliey commented on #458
@Happy-Ferret are you still working on this ?

[2018-06-02 14:59] Themandunord commented on #600
@endiliey I can confirm that the issue is fixed when I reproduce your commit in my local environnent 😃

[2018-06-02 18:28] #600 closed

[2018-06-03 00:08] cameron-elliott opened #724 "Google tag manager or before/after body head opens/closes"
### Is this a bug report?
Not a bug, but a suggestion

### Have you read the [Contributing Guidelines on issues]?
Multiple times.

### Feedback and suggestion
Okay, please keep in mind, I am a developer, but not a JS developer, and obviously not a React developer too. I don't know the best ways to do stuff in the space, but want to provide some feedback.

First, I really think Docusaurus is very c

[2018-06-03 06:45] #228 closed

[2018-06-03 08:20] endiliey commented on #724
Thank you @cameron-elliott for the suggestion. To be honest, I found it hard as well when I first started to use & contribute to Docusaurus given that I have not much experience for web development.

In the current state, it is indeed true that it is tough to identify how/where to edit the JS/React to insert HTML, or <Script> stuff. Given that Docusaurus motto is somewhere along the line of "Easy

[2018-06-03 10:29] SleepWalker commented on #662
@endiliey that's okay

[2018-06-03 13:32] endiliey commented on #323
Hello everyone who wanted sub-directories support in Docusaurus. I have submitted PR #705 for it, please help me to test it if you want to see it shipped 😂

I've personally tested this subdirectories in docs/ directly on my test site.

This is a doc located like this
[code]

https://endiliey.com/docs/ko/docusaurus/introduction.html
<img width="922" alt="korean" src="https://user-images.githubuserc

[2018-06-03 17:30] endiliey opened #725 "Duplicate code in readMetadata.js & versionFallback.js"
### Is this a bug report?

No. Technical debt / better engineering. This is a very good first issue 😄

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Not applicable

### Problem
Look at
https://github.com/facebook/Docusaurus/blob/d28b864a59fabeea45add8c090a13de7d0530de5/lib/s

[2018-06-03 17:50] JoelMarcey commented on #719
So, chatting with @chenglou - his blog post was set up just right to run across this issue. Which is lucky for us because we now know there is an issue. That said, the Docusaurus blog works fine as I imagine most other blogs, so I don't think this is a widespread problem.

However, we should fix this. I am not sure of the best way to go about it though. I like what @endiliey said as a workaround p

[2018-06-03 20:00] ayshiff commented on #725
I would like to work on it ! :)

[2018-06-04 02:10] endiliey commented on #725
It would be nice to refactor the code.

cc @yangshun @JoelMarcey WDYT ?

[2018-06-04 02:45] JoelMarcey commented on #725
@endiliey Yeah, this is a good idea.

Hi @ayshiff ...

I think one simple improvement you can make is to take the duplicate code and pull it out into its own file/module. Unless you are thinking of something else @endiliey ?

[2018-06-04 03:45] JoelMarcey commented on #323
Hi @endiliey - You may have answered part of this in https://github.com/facebook/Docusaurus/pull/709#issuecomment-394222833, but our concern re: this change was always around how it would affect translations and versioning. You think translations still work well - that's great! Have you test with versioning too?

[2018-06-04 04:00] endiliey commented on #323
Yes i have tested site with
1. Just versioning
2. Versioning & translation
3. Just translation

[2018-06-04 04:43] endiliey commented on #406
Given that #716 gives the correct message and I see
`Docusaurus also supports deploying user or organization sites. These sites will be served from the master branch of the repo. So, you will want to have the Docusaurus infra, your docs, etc. in another branch (e.g., maybe call it source). To do this, just set projectName to "username.github.io" (where username is your username or organization nam

[2018-06-04 08:01] endiliey commented on #719
Actually, I did a little bit of investigation. I went for a fresh install 1.1.5, added blog post with that gist, ran `yarn build` & everything works fine. I'm unable to reproduce the bug. Are you able to reproduce it @JoelMarcey ?

I am not sure on how did I got that Unhandled Promise error before, could be because I was messing around with my node_modules before & the code itself for another PR.

[2018-06-04 17:43] endiliey commented on #467
Our sitemap is actually correct.
<img width="958" alt="sitemap" src="https://user-images.githubusercontent.com/17883920/40932617-85eab832-6861-11e8-8a18-a205c61fe74d.PNG">

The XML Viewer in chrome is wrong when we include alternate languages page on the sitemap.
Refer to https://github.com/ekalinin/sitemap.js/issues/37

I tried https://www.w3schools.com/xml/xml_validator.asp & it's actually valid

[2018-06-05 00:12] rickyvetter commented on #713
Thanks for the analysis @endiliey! Very thorough. You're correct in my intent. The goal was to allow overriding of all Docusaurus provided strings with project-specific defaults. I think those Object.assigns should probably be removed in favor of explicit checking.

[2018-06-05 00:57] JoelMarcey commented on #713
From a chat with @rickyvetter....

Delete - https://github.com/facebook/Docusaurus/blob/fa20c93d5c1b5a9369cf1c5909955fc58f0dcb8e/lib/write-translations.js#L158-L164

The custom lines above that should check if it exists in the file before writing.

[2018-06-05 01:40] endiliey commented on #713
I just checked Docusaurus repo & our documentation website at https://docusaurus.io/docs/en/translation.html

![screenshot_20180605-092708](https://user-images.githubusercontent.com/17883920/40949922-f123ae6a-68a2-11e8-9636-cfb2405becfd.png)

Found out that i18en.json is always ignored through .gitignore.
https://github.com/facebook/Docusaurus/blob/master/.gitignore
So actually the piece of code I

[2018-06-05 02:09] JoelMarcey commented on #713
Hi @endiliey While we don't check in the `en.json` file into Docusuarus, it is used when doing the uploads to Crowdin for translations. `write-translations.js` creates and uses that file for that purpose.

[2018-06-05 02:35] endiliey commented on #713
@joelmarcey that's true, but isn't it always a newly generated i18en.json since there is no local i18en.json in GitHub?

We always publish through continuous integration in which it uses the github repo as source of truth and there is no i18en.json when `write-translations` is executed, so it generates new i18en.json & upload it to crowdin. So the codes i mentioned is never used in production

[2018-06-05 20:00] SleepWalker commented on #662
@endiliey Here are some updates from me:

### ToC Hidden

![toc-hidden](https://user-images.githubusercontent.com/2536916/40998861-b80bb75c-6911-11e8-8ca2-0df4d8a1cda8.png)

### ToC Shown

![toc-shown](https://user-images.githubusercontent.com/2536916/40999432-85b2ac46-6913-11e8-895f-8987c983bfb7.png)

### Next steps

1. What do you think about an icon? Is it ok? If so, I can improve the 'close' s

[2018-06-06 03:47] endiliey commented on #662
@sleepwalker Wow, nice work.
The icon looks great to me, i am not an UI expert so I'll leave it to the expert @yangshun.

Do you have a mockup for 2nd?

I think it will be great to send a PR so we can play around with it & give feedback.
Anyway, thank you for the amazing work 😄

[2018-06-06 17:39] endiliey commented on #438
I have investigated this. One thing to note is that unlike highlight.js, prism.js doesn't support auto language detection.

Since highlight.js couldn't support JSX, do we want to:
1. Support two highlighters - highlight.js and prism and let the user choose as a configuration option.
or
2. Still use highlight.js for everything but use prism.js for jsx ??

My mockup for now

**Highlight.js (before)*

[2018-06-06 17:42] iRoachie commented on #438
What do you mean by auto-language detection?

You mean when if the language is not explicitly set? e.g ```js

[2018-06-06 17:42] endiliey commented on #438
@iRoachie yes

[2018-06-06 17:44] iRoachie commented on #438
Is this a requirement? The highlighter github uses for markdown doesn't do auto-language detection either.

[2018-06-06 17:47] endiliey commented on #438
I think it's not required 😄. Anyway, would you prefer to see option 1 or option 2 ?

[2018-06-06 17:49] iRoachie commented on #438
Think for now option 2 might be better. Don't think we have tests to check which languages might break using prismjs outside of `jsx` as compared to highlightjs.

[2018-06-06 18:00] endiliey commented on #438
Any thoughts @yangshun @JoelMarcey ?

[2018-06-06 19:09] SleepWalker commented on #662
For tablets I've decided to show onPageNav by default, but hide sideNav and leave the top bar with breadcrumbs from mobile:

![toc-ipad](https://user-images.githubusercontent.com/2536916/41059789-41d81380-69d6-11e8-8112-600edabdd073.png)

I'll submit PR soon

[2018-06-06 19:13] #564 closed

[2018-06-06 20:37] #413 closed

[2018-06-06 21:37] yangshun commented on #625
Fixed by @JoelMarcey !

[2018-06-06 21:37] #625 closed

[2018-06-06 22:43] JoelMarcey opened #731 "Try new Live Reload ports if default is taken"
### Is this a bug report?

Not really. Sort of.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

N/A

### Steps to Reproduce

1. Run yarn start on a site
2. Run yarn start on another site

### Expected Behavior

Both sites run.

### Actual Behavior

The server port will get to

[2018-06-06 22:46] JoelMarcey opened #732 "Translation links do not honor versions"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus version 1.1.5

### Steps to Reproduce

1. Go to docusaurus.io
2. Click on the version link in the upper left
3. Choose an earlier version or `next`
4. Choose a new language from the tran

[2018-06-07 04:01] ysyfff opened #733 "Why the onPageNav can not be shown in BlogPostsLayout?"
Hi,I want to show onPageNav in my blog, but I do not know how even after reading your source code.
And I don't figure out why it can't be shown in BlogPostsLayout with the siteConfig.onPageNav equals separate.
Can you help me?

[2018-06-07 04:07] JoelMarcey commented on #733
Hi @ysyfff  - a pull request that just landed https://github.com/facebook/Docusaurus/pull/682 should fix this problem in the next release.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-07 04:17] gustavohenke commented on #717
A few ideas:
- A naive env flag that simply bypasses the branch check [here](https://github.com/facebook/Docusaurus/blob/49c27b733bf62506acff3c55f92143dc0ef3ed86/lib/publish-gh-pages.js#L71-L74) 🤢
- An elaborate git remote check.
  If the target is `.github.io`, but the repo that contains the docs sources isn't tracking a `.github.io` remote, then you can proceed publishing it.

[2018-06-07 04:19] ysyfff commented on #733
Hi @JoelMarcey , thanks for telling this. You mean you have merged that code but not released. It makes sense.

[2018-06-07 04:21] #733 closed

[2018-06-07 06:01] endiliey commented on #731
Just gonna put the relevant codes/ tips to guide those who want to take this issue:

For now, the live reload had a fixed port as constant
https://github.com/facebook/Docusaurus/blob/49c27b733bf62506acff3c55f92143dc0ef3ed86/lib/server/server.js#L570-L575

Look at how we attempt to use different port when starting a server. Take inspiration from this & you'll solve this issue 😄
https://github.com/f

[2018-06-07 08:50] endiliey commented on #717
Tbh i think having to set an env flag and having to type `CROSS_REPO_PUBLISHING=true docusaurus-publish` is quite unnatural to do.

My understanding is that you want separate code repository. One is the one that contains docs while another one is the published code (just the built html/css file).

I think it's better to make it such that whether it's in the same repo / different repo, if I set my

[2018-06-07 09:31] endiliey commented on #438
Something like this @JoelMarcey ?
[code]

This is doable but one thing that i notice is if user use 'highlight.js' theme and use prism.js for certain language, their css might conflict. And highlight.js has so much themes.

Examples if i use GH Themes for prism.js out of https://github.com/PrismJS/prism-themes

[code]

<img width="507" alt="github theme" src="https://user-images.githubusercontent.

[2018-06-07 10:12] endiliey commented on #438
Something like this @JoelMarcey ?
[code]

Giving some examples:

[code]

<img width="515" alt="atom-one-dark" src="https://user-images.githubusercontent.com/17883920/41093552-35fd07e8-6a7e-11e8-8ff1-1dcfa52caa90.PNG">

[code]

<img width="512" alt="default" src="https://user-images.githubusercontent.com/17883920/41093559-397fe6ba-6a7e-11e8-8997-5401cfb10366.PNG">

[code]

<img width="519" alt="tom

[2018-06-07 11:16] bhouser commented on #717
As a developer, I find it valuable to have the docs in the same
repository.  The docs changes are then in the same commits/branches as the
corresponding code changes.

The ability the generate the documentation website from more than one
repository wozld he very useful at my company, where we are not using a
monorepo.

On Thu, Jun 7, 2018, 10:50 Endilie Yacop Sucipto <notifications@github.com>
wro

[2018-06-07 11:59] vaibhavsingh97 commented on #731
hi @JoelMarcey , can I take this up 😄
Looks like perfect place to start 👍

[2018-06-07 12:01] endiliey commented on #731
@vaibhavsingh97 It's yours

[2018-06-07 12:22] Luchanso opened #736 "Cloudflare"
Hey guys, cloudflare cdn not work in russia 😢
Could you put highlight.js styles into project?

![image](https://user-images.githubusercontent.com/2098777/41099175-5ddf63cc-6a66-11e8-8119-baf7d98fa6ef.png)

[2018-06-07 12:37] MartinKolarik commented on #736
Alternatively, https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/ works everywhere including Russia and China (and jsDelivr is already used for docsearch too).

[2018-06-07 12:45] Luchanso commented on #736
@MartinKolarik I thing all libs must be load from dev server, because docs can be using in private network without outside internet access

[2018-06-07 12:53] MartinKolarik commented on #736
It depends. For public docs the CDN is better, for private probably not, but the URL [is actually configurable](https://docusaurus.io/docs/en/site-config) (search for `themeUrl`).

[2018-06-07 13:02] Luchanso commented on #736
Yeah, you right 👍

[2018-06-07 13:29] endiliey commented on #736
Thank you @MartinKolarik for pointing it out. Does it solve your problem @Luchanso ? Otherwise we can close this

[2018-06-07 13:53] JoelMarcey commented on #736
![screenshot 2018-06-07 06 53 04](https://user-images.githubusercontent.com/3757713/41104086-77358af0-6a1f-11e8-8185-cde539fe7bbe.png)

Yep that should do it here, right? Closing. Please reopen if this doesn't solve your problem. Thanks!

[2018-06-07 13:53] #736 closed

[2018-06-07 13:59] JoelMarcey opened #737 "Document the ability to provide a custom layout"
### Is this a bug report?

No. See https://github.com/facebook/Docusaurus/pull/128 for implementation details.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

N/A

### Steps to Reproduce

See https://github.com/facebook/Docusaurus/pull/128

### Expected Behavior

N/A

### Act

[2018-06-07 14:02] JoelMarcey commented on #438
@endiliey 👍 Yep, something similar to that. I wonder if option 1 is easier or more clean 😆 But I think this should be ok. Let me look at the PR.

[2018-06-07 14:13] JoelMarcey commented on #717
Do you think that this would be a super common use-case? If not, then I don't mind an environment variable that can be used and is documented (e.g., @gustavohenke naive flag idea). Otherwise, we should consider this some more -- maybe we still use the flag, but having something in the core code that works could be better.

[2018-06-07 14:26] balloob opened #738 "Proposal: Add support for comments powered by Discourse"
For Home Assistant we use Discourse for commenting. [Discourse](https://www.discourse.org/) is open source forum software. The way it works is similar to how Facebook commenting works: you load a piece of JavaScript[1] and it will allow people to comment ([example](https://www.home-assistant.io/blog/2018/04/26/developer-site/)).

Would a pull request be accepted that adds support for configuring D

[2018-06-07 14:41] #323 closed

[2018-06-07 15:15] #732 closed

[2018-06-07 16:00] MartinKolarik commented on #736
If would be good if the default was something that works for everyone though.

[2018-06-08 00:59] JoelMarcey commented on #736
I think the default works for most people, but that's why we have the configuration options in case it doesn't in cases we do not know about. Are you saying this won't work for you?

[2018-06-08 01:03] JoelMarcey commented on #738
Hi @balloob Thanks for the feature request. We have add other issues discuss this too:

https://github.com/facebook/Docusaurus/issues/667
https://github.com/facebook/Docusaurus/issues/219

I would definitely be willing to review a PR. Does it prevent spam well?

[2018-06-08 02:01] balloob commented on #738
People can host their own copy and set up user registration as they like. We have it set up with email verification as a requirement before posting and have not seen any spam.

[2018-06-08 14:38] gustavohenke commented on #717
So this would mean simply removing the branch check, I guess?

I'm not sure. Perhaps?
I failed finding many projects that represent this, but a very popular one is Jasmine. Same setup:
[Source is here](https://github.com/jasmine/jasmine) and [docs are here](https://github.com/jasmine/jasmine.github.io).

My points in favour of this cross repo publishing is
- the coolest URL some folks can get is t

[2018-06-08 14:59] azu commented on #717
I've used cross repo publishing pattern.
Source repository and Website repository are in in a different place.

- Almin – Source [almin/website/](https://github.com/almin/almin/tree/master/website), WebSite: [almin.github.io](https://github.com/almin/almin.github.io)
   - Source repo includes website(Docusaurus). because I want to [update API document from source code](https://github.com/almin/alm

[2018-06-08 18:53] vacarsu opened #741 "Unable to run example docs"
### Is this a bug report?

yes

I just did a fresh install of docusaurus globally.
```npm install --global docusaurus-init```
I then cded into the website directory and ran npm run start. The server starts fine and my browser opened a tab at http://localhost:3000/

However I got this error:
[code]

[2018-06-08 22:40] JoelMarcey commented on #741
@vacarsu Hi - did you do `npm install --global docusaurus` or `npm install --global docusaurus-init` as discussed here: https://docusaurus.io/docs/en/installation

[2018-06-08 22:42] vacarsu commented on #741
Sorry it was docusaurus-init, updated the post.

[2018-06-08 22:48] JoelMarcey commented on #741
I just ran the following steps:

1. `npm install --global docusaurus-init`
2. `mkdir docusaurus-issue-741`
3. `cd docusaurus-issue-741`
4. `docusaurus-init`
5. `cd website`
6. `mv blog-examples-from-docusaurus/ blog`
7. `mv ../docs-examples-from-docusaurus/ ../docs`
8. `yarn start`

[code]

And the test site came up.

Please try running exactly as I ran and also provide more details about your sys

[2018-06-08 22:54] vacarsu commented on #741
I just tried that but I got the same issue.

[code]

looks like yarn is incompatible with a module as well?

[2018-06-08 23:01] JoelMarcey commented on #741
It looks like you are using a very old version of `yarn` - v0.19.1. It's probably not supported. We should document that like we did with `node` in the documentation.

Can you give me the versions you have of the following?

[joelm@kangkai-mbp:~/dev/docusaurus-issue-741/website]  $ yarn --version
1.5.1
[joelm@kangkai-mbp:~/dev/docusaurus-issue-741/website]  $ node --version
v8.11.1
[joelm@kangkai-

[2018-06-08 23:03] vacarsu commented on #741
Yeah I just noticed that and am updating yarn now when I compared our version numbers.
node version is 10.0.0
npm version is 5.6.0

[2018-06-08 23:06] JoelMarcey commented on #741
I hope upgrading `yarn` works and, if so, we should update the docs saying that `yarn 1.5` should be the minimum.

Interested in updating step 1 here: https://docusaurus.io/docs/en/installation with a PR? 😄

[2018-06-08 23:11] vacarsu commented on #741
Aha! updating yarn fixed the issue. Sure I can do that PR.

[2018-06-08 23:13] JoelMarcey commented on #717
I definitely think the most common case if having the raw docs and site close to the source code, but the built rendered HTML on `gh-pages`.

We are definitely willing to consider a pull request that makes your use case easier for anyone who needs it, whether through a environment variable or a more substantial code change.

[2018-06-08 23:56] JoelMarcey commented on #741
I am going to close this out. Thanks for the PR.

[2018-06-08 23:56] #741 closed

[2018-06-09 00:01] JoelMarcey opened #743 "Add back the information about extra search options for Algolia"
### Is this a bug report?

No.

We used to have more info on Search -- See version 1.0.11 docs - https://docusaurus.io/docs/en/1.0.11/search

This commit took a lot of that out - https://github.com/facebook/Docusaurus/commit/5afc0b0a1cd16b46a156276730deab3fcaf5d3ff

But it seems like that information may be useful - see https://github.com/reasonml/reasonml.github.io/issues/388

In that issue, @end

[2018-06-09 08:30] endiliey commented on #123
I think this is closed by #665

I saw prettier init script when docusaurus-examples are executed
<img width="475" alt="ghjk" src="https://user-images.githubusercontent.com/17883920/41189560-526ced64-6c02-11e8-910a-06f0cb05b4bd.PNG">

[2018-06-09 08:30] #123 closed

[2018-06-09 11:18] #467 closed

[2018-06-09 17:32] Kelltimo commented on #743
Hello,

 I would like to help and contribute on this! Would you recommend I just edit the "guides-search.md" file?

Thank you

Tim

[2018-06-09 18:32] yangshun commented on #123
Yes, nice catch. Thanks!

[2018-06-09 18:38] #438 closed

[2018-06-09 19:02] yangshun commented on #743
@Kelltimo Yes, you can look at https://github.com/facebook/Docusaurus/commit/5afc0b0a1cd16b46a156276730deab3fcaf5d3ff and see which changes make sense to be put back.

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to cla

[2018-06-09 19:03] yangshun commented on #731
@vaibhavsingh97 It's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-06-09 21:13] vaibhavsingh97 commented on #731
yeah sure, Right now I am learning react as I am not familiar with it. I will try to fix after that.

[2018-06-10 00:54] yangshun commented on #731
If I'm not wrong, this portion of the code doesn't require React knowledge; more of Node.js 😄

[2018-06-10 01:48] #662 closed

[2018-06-10 15:16] skratchdot opened #751 "Add <meta /> "description" tag"
### Is this a bug report?

Yes (more of a feature request).

It was mentioned in a PR comment (https://github.com/facebook/Docusaurus/pull/745#issuecomment-396055556) that we are missing a `<meta name="description" content="" />` tag.

There are probably some other things about the `<head />` tag we could add and clean up.  Here is a good resource to review:
https://github.com/joshbuchea/HEAD

###

[2018-06-10 15:29] endiliey commented on #751
Let's limit it to description tag for now.

[2018-06-10 16:35] #751 closed

[2018-06-10 18:50] JoelMarcey opened #754 "Use url-join to resolve URLs"
### Is this a bug report?

No. Enhancement. But could fix unknown or future bugs.

See https://github.com/facebook/Docusaurus/pull/745 for context.

https://github.com/facebook/Docusaurus/blob/master/lib/core/Head.js would be a good place to start with for a PR. instead of concatentating URL fragments with `+`, use the [`url-join` npm package](https://www.npmjs.com/package/url-join) instead.

###

[2018-06-10 21:28] vaibhavsingh97 commented on #731
@yangshun Oh! yes, I will soon send a PR 😄

[2018-06-11 00:32] #743 closed

[2018-06-11 08:32] marksou opened #758 "Add native Support for 2 Markdown Processors"
It would be good to add native support for a couple of the Markdown processors, namely:

Black Friday - [https://github.com/russross/blackfriday](https://github.com/russross/blackfriday)

and
Mmark - [https://github.com/miekg/mmark](https://github.com/miekg/mmark)

[2018-06-11 08:37] yangshun commented on #758
These two Markdown processors are written in Go, and it would be very troublesome for Docusaurus to call them because Docusaurus is written in Node/JavaScript. Is there any reason why you selected these two over the other JavaScript ones?

Also, is Remarkable insufficient for your needs?

[2018-06-11 09:03] marksou commented on #758
Hi, we use Mmark (for example) to enable us to use include files functionality. It means I can write a piece of markdown content, and then reference it in as many places as we like. This is not editor like functionality ( I use Sublime myself).

[2018-06-11 15:06] yansern opened #759 ""utils.getPath is not a function" on v1.2.0."
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment
NodeJS v8.11.2 (LTS)
Yarn v1.7.0
Docusarus v1.2.0

### Steps to Reproduce
1. Update docusaurus version in package.json to `^1.2.0`.
2. Run `yarn install` to install new version.
3. Run `yarn start`.

[2018-06-11 15:12] JoelMarcey commented on #759
@yansern Hi. Thank you for the report.

Did you upgrade from a previous version of Docusaurus or was this a fresh install?

[2018-06-11 16:59] yansern commented on #759
@JoelMarcey I did an upgrade. Changing back to 1.1.5 and I can run again! I’ll dig into HeaderNav.js later on 1.2.0 to see if I can find out what exactly went wrong.

[2018-06-11 20:12] JoelMarcey commented on #759
Hi @yansern - can you provide me the exact commands you used when you made the update so I can try to reproduce here? Were you on 1.1.5 when you made this upgrade?

[2018-06-12 00:14] shoota commented on #759
I have same problem.

[code]

[code]

[2018-06-12 00:16] JoelMarcey commented on #759
@shoota @yansern -- are you using `npm` or `yarn` to do the upgrade? I just tried an upgrade on a site that was on Docusaurus 1.0.9 to 1.2.0, and it worked flawlessly.

[2018-06-12 00:20] shoota commented on #759
I used `yarn`.

[2018-06-12 00:21] JoelMarcey commented on #759
Very interesting. Thanks. What version were you upgrading from? And did you just run `yarn upgrade` from the website directory?

[2018-06-12 00:34] shoota commented on #759
Sorry..., I solved this with running`yarn upgrade` in website directory.
I ran `yarn clean && yarn install`.And my repository is mono-repository with yarn workspace and lerna.

Thanks, @JoelMarcey !!

[2018-06-12 00:37] JoelMarcey commented on #759
@shoota 👍 Great!

Let me know if you can land https://github.com/userdive/agent.js/pull/641 successfully.

[2018-06-12 00:38] JoelMarcey commented on #759
@yansern Did you use `yarn` when you ran into this issue? If so, did you run `yarn upgrade` in the `website` directory too? If not, can you try that to see if you have success like @shoota. Thanks!

[2018-06-12 07:45] yangshun opened #761 "onPageNav menu mobile button should not show when user did not enable onPageNav in siteConfig"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.2.0

### Steps to Reproduce

(Write your steps here:)

1. Change `siteConfig.onPageNav` to `false` or remove the value.
2. Navigate to a doc page.

### Expected Behavior

The three dot

[2018-06-12 10:09] rupeshparab commented on #227
Hi @caabernathy
I would like to work on this issue
My initial impression is that the filename expected by the current script ends with '-sidebar.json', but in the directory it ends with '-sidebars.json'
https://github.com/facebook/Docusaurus/blob/master/lib/rename-version.js#L120

[2018-06-12 10:18] endiliey commented on #227
@rupeshparab it's yours

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-06-12 10:42] lili21 commented on #713
same issue here.

[2018-06-12 12:45] rupeshparab commented on #227
@endiliey
I have raised a PR for fixing this issue, do let me know if I need to make any changes in the PR

[2018-06-12 15:02] #227 closed

[2018-06-12 16:40] JoelMarcey commented on #759
I am going to close this out now. https://docusaurus.io/docs/en/next/installation#updating-your-docusaurus-version should hopefully provide the right way to upgrade.

[2018-06-12 16:40] #759 closed

[2018-06-13 01:56] Thai56 commented on #761
If no one has taken this I would like to give it a stab.

[2018-06-13 02:08] endiliey commented on #761
@thai56 it's yours

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-06-13 04:20] Thai56 commented on #761
#767

[2018-06-13 04:36] JoelMarcey commented on #713
I don't want to put the `showstopper` label on this, but this is a very high-pri bug as 1.2.0 brings it out into plain view for people.

This should be the next thing fixed before anything else, imho.

[2018-06-13 04:38] JoelMarcey commented on #713
I will look at this some tomorrow. If anyone can look beforehand, that would be great. Even if, short-term, we have to break allowing custom strings to make sure people can modify the header metadata (e.g. title), I think we should consider that.

[2018-06-13 05:35] endiliey commented on #713
I have few alternatives
1. Don't allow custom strings. This is like 1.1.5

Delete
https://github.com/facebook/Docusaurus/blob/fa20c93d5c1b5a9369cf1c5909955fc58f0dcb8e/lib/write-translations.js#L27-L31

https://github.com/facebook/Docusaurus/blob/fa20c93d5c1b5a9369cf1c5909955fc58f0dcb8e/lib/write-translations.js#L158-L164

2. Allow custom string but maybe user has to explicitly name it `custom-en.j

[2018-06-13 07:06] ahmadalfy commented on #568
Let me take care of that 😃

On Wed, Jun 13, 2018 at 5:26 AM Yangshun Tay <notifications@github.com>
wrote:

--
Ahmad Alfy

alfy.me

[2018-06-13 10:57] anru commented on #759
jfyi, for me reason was babel cache.
If you are experiencing same issue, try clear your temporary directory or run docusaurus with BABEL_DISABLE_CACHE=1 env configuration

[2018-06-13 17:35] JoelMarcey commented on #759
Thanks @anru ... 👍

Are you willing to create a PR to update the installation documentation to add your findings as a note?

Adding a note to https://github.com/facebook/Docusaurus/blob/master/docs/getting-started-installation.md#updating-your-docusaurus-version

[2018-06-13 18:52] vaibhavsingh97 commented on #731
@yangshun @endiliey I had sent the PR https://github.com/facebook/Docusaurus/pull/769 😄
can you help me in testing, I don't know how can I do it? I have read the https://docusaurus.io/docs/en/installation.html but it talks about how can I install using `npm` or `yarn`

[2018-06-13 19:03] JoelMarcey commented on #731
Hi @vaibhavsingh97 -- https://github.com/facebook/Docusaurus/tree/master/admin should give you some docs on how to test your changes either with Docusaurus or another project.

[2018-06-13 21:58] vaibhavsingh97 commented on #731
Thanks @JoelMarcey successfuly tested and fixed the bug 😄

[2018-06-13 22:06] vaibhavsingh97 commented on #754
@JoelMarcey Can I take this issue? I would love to solve this 😄

[2018-06-13 22:32] yangshun commented on #754
It's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-06-14 03:39] JoelMarcey commented on #713
@endiliey

I think I kinda like option #2 after giving it some thought today. What we can do is load the generated `i18n/en.json` first and and get that in the `currentTranslations` array. Then load `i18n/custom-en.json` and either override current values in the array if there would be a duplicate or append to the array.

What do you think?

[2018-06-14 04:07] endiliey commented on #713
Sounds great @joelmarcey.

Are you going to work on it ? Otherwise, I can submit a PR when I'm back roughly after this week.

[2018-06-14 04:29] JoelMarcey commented on #713
I am going to give it a run - try to get a PR before the weekend.

[2018-06-14 07:56] vaibhavsingh97 commented on #754
@JoelMarcey @yangshun Sent PR 😄 https://github.com/facebook/Docusaurus/pull/771

[2018-06-14 07:58] vaibhavsingh97 commented on #713
@endiliey @JoelMarcey Can I try to fix this bug 😄

[2018-06-14 08:27] vaibhavsingh97 commented on #525
@ericnakagawa Are you still working on this issue? I am interested to fix this issue 😄

[2018-06-14 11:09] lili21 opened #773 "custom template ?"
It's annoying that I have to do the samething every time after `docusaurus-init` - change the directory name, change the config.

[2018-06-14 11:36] FarooqAR commented on #737
Can I take this issue?

[2018-06-14 13:45] JoelMarcey commented on #773
I am sorry that you are annoyed. That is never our intention.

We believe `docusaurus-init` is a good way to easily get started with one website. Run one script, change a couple of directories and you can see a site live and running.

For multiple websites, maybe use the configuration you modified for the first website as the starting point for those.

As there is nothing actionable on this issue,

[2018-06-14 13:45] #773 closed

[2018-06-14 14:16] JoelMarcey commented on #737
@FarooqAR Absolutely. Thank you very much! When you send the PR, we will review.

[2018-06-14 14:29] JoelMarcey commented on #525
@vaibhavsingh97 I believe @ericnakagawa would not mind at all if you work on this. 😄

[2018-06-14 18:11] JoelMarcey commented on #713
Hi @vaibhavsingh97 - I have a PR #775 out for this already. If you would like to have a look and provide any additional suggestions, that would be welcome 😄

[2018-06-15 08:57] endiliey commented on #717
Closed by #764

[2018-06-15 08:57] #717 closed

[2018-06-15 09:55] endiliey commented on #406
Closed by #716 & #764

[2018-06-15 09:55] #406 closed

[2018-06-15 10:01] #236 closed

[2018-06-15 10:12] FarooqAR commented on #737
@JoelMarcey Hasn't [pr#763](https://github.com/facebook/Docusaurus/pull/763) already solved this issue?

[2018-06-15 12:10] yanzhiwei147 opened #776 "Support local search"
### Is this a bug report?

NO

### Have you read the [Contributing Guidelines on issues]

YES

### Environment

None

### Steps to Reproduce

None

### Expected Behavior

None

### Actual Behavior

None

### Reproducible Demo

None

### Request new feature

I have a website in my intranet, it generated use gitbook. Now i perfer to use the excellent website generator, and deprecated gitbook. But th

[2018-06-15 17:13] anru commented on #759
@JoelMarcey done

[2018-06-15 17:13] JoelMarcey commented on #737
Ah -- I didn't even see that PR. Sorry. I guess it has been taken.

If you have feedback on the PR, please let us know in the PR itself.

[2018-06-15 18:22] JoelMarcey opened #780 "Trailing slashes in link causing next/prev buttons to break"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.1.5 or 1.2.0

### Steps to Reproduce

https://github.com/babel/website/issues/1693

### Expected Behavior

Links work

### Actual Behavior

Links don't work

### Reproducible Demo

I t

[2018-06-15 20:30] vinogradov opened #781 "Broken links to the documentation in NPM description"
https://www.npmjs.com/package/docusaurus-init

![image](https://user-images.githubusercontent.com/439939/41488103-399aba24-70fc-11e8-86ad-ec0c38341d45.png)

[2018-06-15 20:35] JoelMarcey commented on #781
Thank you @vinogradov - it is correct in the [actual README](https://github.com/facebook/Docusaurus/blob/master/docusaurus-init/README.md) for `docusaurus-init`. Not sure why it didn't make it to npm. We will have to publish a new version of docusaurus-init to get the update to happen I think.

[2018-06-16 10:13] endiliey commented on #780
This is actually caused by how relative path in href works.

In `https://babeljs.io/docs/en/babel-plugin-transform-runtime`
href of `babel-register` will translate to `https://babeljs.io/docs/en/babel-register`

In `https://babeljs.io/docs/en/babel-plugin-transform-runtime/`
href of `babel-register` will translate to `https://babeljs.io/docs/en/babel-plugin-transform-runtime/babel-register`

[2018-06-16 19:33] yangshun commented on #781
@JoelMarcey I can help to publish but I'm not sure if I have permissions to publish this package.

[2018-06-17 03:35] #780 closed

[2018-06-17 04:03] yangshun opened #784 "Add autoprefixer into CSS pipeline"
In the current CSS pipeline, we do:

- Variable substitution (via custom string replacement)
- Concatentation (via custom file concatenation)
- Minification (via cssnano)

We should do [autoprefixing](https://github.com/postcss/autoprefixer) as a final additional step.

[2018-06-18 06:46] endiliey commented on #718
Hi @machikoyasuda 😁
Are you still working on this ? Will be happy to help if you encounter a problem

[2018-06-18 06:59] endiliey commented on #390
Hi 😁,

I think tagline is being translated as of now.
Related code:
https://github.com/facebook/Docusaurus/blob/f33d977d1aa3bfc12296bf6522b1676e02adc1ca/lib/write-translations.js#L39-L43

Googled reasonml.github.io in which the title is `title ● tagline`. We can see that it's translated

![screenshot_20180618-144922](https://user-images.githubusercontent.com/17883920/41522293-e2fb03be-7307-11e8-80

[2018-06-18 06:59] #390 closed

[2018-06-18 07:03] #218 closed

[2018-06-18 11:17] vaibhavsingh97 commented on #784
@yangshun I am interested to solve this issue

[2018-06-18 11:40] vaibhavsingh97 commented on #525
@JoelMarcey @vonagam I am not able to reproduce the issue 😞

[2018-06-18 17:23] yangshun commented on #784
@vaibhavsingh97 Let's work on getting your existing PRs merged first before we move on to new issues 😄

[2018-06-19 02:08] jonathaningram commented on #103
I actually hacked together a plugin called "file tabs" to do this. I just wanted to use docusaurus to quickly prototype something, so the plugin was meant to be quick and dirty. Source is here: https://github.com/govau/platforms-alpha/blob/master/lib/shared/fileTabs.js

Install into your site like this: https://github.com/govau/platforms-alpha/blob/master/tell/website/siteConfig.js#L52

And here's

[2018-06-19 02:16] yangshun commented on #103
@jonathaningram This looks amazing! I also like that the code is stored outside of the Markdown file. We'll look into including it! 😄

[2018-06-19 14:33] #781 closed

[2018-06-20 04:40] cuongnv-ibl commented on #776
Do you mean Algoria Search locally ?

[2018-06-20 05:17] yangshun opened #789 "Docusaurus 2"
# Update 03/19/19

We have started a Roadmap/Feature requests page thanks to the awesome folks at Canny.io. Have a go at it on our WIP v2: https://v2.docusaurus.io/feedback/

---

These are some of the problems I'm seeing in Docusaurus now and also how we can address them in v2. A number of the ideas here were inspired by VuePress and other static site generators.

In the current JavaScript-based

[2018-06-20 12:09] ntlex commented on #776
In my company we are looking for a similar solution using Lunrjs, where you can simply index your article locally. At the moment it looks pretty impossible to workaround reactjs and extend the navigation bar to allow the search field to appear without an algolia setup.

[2018-06-20 13:06] ntlex commented on #776
@endiliey when is Docusaurus v2 coming ?

[2018-06-20 13:10] ahmadalfy commented on #789
+100 for moving the layout and styling outside Docusaurus' scope.

[2018-06-20 14:07] JoelMarcey commented on #776
@ntlex Hi. We are in the [planning stages](https://github.com/facebook/Docusaurus/issues/789) now.

[2018-06-20 14:58] altafakhai commented on #776
We have been evaluating a few tools to generate an internal help system in our company. The help system will be hosted behind the firewall and will not be exposed to public. To use the search feature, we need to have Algolia enabled, which wants the site to be public. Is there a way we can use the Search feature without Algolia? I really like Docusaurus and want to go ahead with it. However, the S

[2018-06-20 15:10] JoelMarcey commented on #789
Thanks so much for staring the planning process here @yangshun. These are wonderful.

I will say a request for a local/offline search option should be considered for v2 as well -- we have had that request multiple times as well.

Also, I feel it is important to reiterate this -- no matter what features we add for v2, we always want to make sure we adhere to the overall mantra of Docusaurus which i

[2018-06-20 15:21] JoelMarcey commented on #776
Hi @altafakhai - I think we just responded to your tweet as well. We do not have a simple mechanism to support search behind a firewall at this point. We are looking at options for v2. There is probably a way to embed a search feature on your custom pages, but that is not optimal, of course.

I believe that Algolia has an [offline feature](https://blog.algolia.com/with-algolia-offline-take-your-se

[2018-06-20 15:29] s-pace commented on #776
👋 @altafakhai

You can use DocSearch on your internal network if [you run it on your own](https://community.algolia.com/docsearch/documentation/docsearch-scraper/overview/). You will need to create your own configuration and then run it. We do not feature login so far but we are PR welcome. It is based on top of scrapy

You can inspire the configuration from the Docusarus's one.

Happy to help if

[2018-06-20 15:43] endiliey commented on #776
@s-pace I have a question.

If we run the scraper on our own, it will still push the the crawled results to the Algolia index (which is not our own network), and it's not "offline" search. Its just not requiring the website to be publicly accessible (as in to be crawled).

Is this correct ?

[2018-06-20 15:55] s-pace commented on #776
@endiliey Indeed.

You can still use algolia offline but regarding the use-case, it is what we will recommend.

[2018-06-20 16:13] endiliey commented on #789
This is exciting. webpack 🎉.

### Extra things that I think will be great to have
- Easy way to support redirect urls (301 Redirect, Not 404)
[code]
- Easy way to import from other documentation sites generator (e.g: gitbook)
- Download documents (pdf ??) 😄

### Questions
- Are we going only accept bug fixes for Docusaurus v1 ? Any PRs opened against v1 that are not bug fixes will be closed and fe

[2018-06-20 16:50] yangshun commented on #789
Added a section about search.

Yes! No worries we'll stick to this. It might just be troublesome for v1 users to migrate to v2 due to some potentially backward-incompatible changes we're making.

[2018-06-20 16:50] JoelMarcey commented on #789
Whether we do this for 1.3+ or v2, we should also considering standardizing on one or both of the following:

- `yarn` or `npm` in the documentation. Not both.
- Depending on whether we do the above, remove the other's `.lock` file. Decide if we want `.lock` files at all.

[2018-06-20 20:49] fredemmott opened #790 "docusaurus-init fails in Hack/PHP projects: `Error: ENOTDIR: not a directory, scandir '.../vendor/bin/hh-autoload'`"
### Is this a bug report?

(write your answer here)
Yes

### Have you read the [Contributing Guidelines on issues]
Yes
### Environment

Docusaurus was *just* installed via `yarn global add docusaurus`. Yarn outdated command fails:

[code]

Probably because this isn't a JS project.

### Steps to Reproduce

1. Install HHVM: https://docs.hhvm.com/hhvm/installation/introduction

[code]

### Expected B

[2018-06-20 22:15] yangshun commented on #790
@fredemmott I wasn't able to reproduce this issue. I cloned https://github.com/hhvm/hhast, did `docusaurus-init` and the `website` dir was generated. Do you have any symlinks in your dir?

It seems like it failed in the tree printing step but the directory skeleton generation step should have succeeded.

[2018-06-20 22:47] fredemmott commented on #790
no symlinks except as created by composer/git - this does mean that vendor/bin/hh-autoload is a symlink.

If composer isn't ran (equivalent to not running npm install):
- vendor/bin/hh-autoload doesn't exist
- there are no symlinks
- docusaurus-init works fine

[2018-06-20 22:55] yangshun commented on #790
I see. The tree printing library we're using doesn't support symlinks at the moment. But the skeleton should have been generated. Was the skeleton dir generated? Feel free to ping me on Work Chat to discuss about it, I'll be able to respond faster there 😄

[2018-06-21 08:32] yanzhiwei147 commented on #776
Thank everyone provide so much suggests. Now i express my solution:

1. Generate the `index.xml` to root directory while build website.
2. Add search bar on website.
3. Search from `index.xml` when search bar text change.

Information for your reference.

[2018-06-21 09:39] yanzhiwei147 opened #792 "Improve performance for generate static site"
### Is this a bug report?

NO

### Have you read the [Contributing Guidelines on issues]

YES

### Environment

[code]

### Steps to Reproduce

1. In `docs` directory, run `find . -type f -name '*.md' | wc -l` to get the count of markdown files:

![snip20180621_3](https://user-images.githubusercontent.com/5554220/41709992-223f3c68-7577-11e8-92b0-857a384041d8.png)

2. Run `yarn build`, and it build

[2018-06-21 09:54] altafakhai commented on #776
Thanks for the help, @JoelMarcey @s-pace

I will try to work with DocSearch and see if we get the desired results. Will keep you all posted with the progress.

Eagerly waiting for v2. 😃

[2018-06-21 15:38] Themandunord opened #793 "Scrollbar are always visible"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

### Environment

v1.3.0

### Steps to Reproduce

1. Go to the docs page
2. Go to the blog page

### Expected Behavior

The scroll bar need to be hidden when the content is not overflow.

### Actual Behavior

![imag

[2018-06-22 21:28] machikoyasuda opened #794 ""Edit" button does not respect the version of the doc"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Of course!11

### Environment

(Docusaurus version via `npm outdated docusaurus` or `yarn outdated docusaurus`, OS, Node, npm, yarn)

1.2.1

### Steps to Reproduce

(Write your steps here:)

1. Go to https://docusaurus.

[2018-06-23 16:03] endiliey opened #796 "Extension-less url with dot after last slash is not accessible"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus >= 1.2.0
Only in development server .. production has no issue

### Steps to Reproduce

1. Set `cleanUrl` in `siteConfig` as true
2. Create a `2018-05-27-1.13.0.md` file in blog folder
[

[2018-06-23 16:11] endiliey commented on #794
I think this might be intended. Changes are only made for `next` docs.

Let's say we are currently at 1.0.13. There is a typo that has occured since version `1.0.11`.
With the proposed behavior, if we fix the typo of the docs in 1.0.11, the typo will still occurs in 1.0.12 and 1.0.13.

But I do agree that the current behavior is slightly weird as well.

[2018-06-24 06:47] #790 closed

[2018-06-25 05:05] #793 closed

[2018-06-26 04:12] yangshun opened #804 "Migration of Docusaurus users to 1.3.0"
Not a real task per se, using this to track the migration status of users to 1.3.0:

- [Docusaurus](https://docusaurus.io) [[merged](https://github.com/facebook/Docusaurus/pull/791)]
- [React Native](https://facebook.github.io/react-native/) [[merged](https://github.com/facebook/react-native-website/pull/422)]
- [Jest](https://facebook.github.io/jest/) [[merged](https://github.com/facebook/jest/pu

[2018-06-26 22:16] hramos opened #805 "Build script returns zero exit code due to unhandled promise rejection, non-zero exit code expected"
It's possible for `docusaurus build` to encounter an error during a build, but the process returns a zero exit code. This causes systems like Circle CI to consider the build a success, and if your CI process happens to deploy automatically when tests are green, it could cause your [website to go down](https://twitter.com/RaphaelKats/status/1011724264146329600).

### Is this a bug report?

Yes

###

[2018-06-26 23:14] caiorasc opened #806 "Can I use an external react component inside Docusaurus?"
### Is this a bug report?

No, this is a doubt

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

yarn outdated v1.5.1, Windows 10, node v8.9.3

### Steps to Reproduce

I'm trying to use [redoc](https://github.com/Rebilly/ReDoc) as a react component, inside Docusaurus, but doesn

[2018-06-27 07:42] knowbody opened #808 "Title not centred vertically when no headerIcon"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus version 1.3.0

### Steps to Reproduce

1. Set `headerIcon` in `siteConfig.js` to be an empty string
2. Set some `title`

### Expected Behavior

In previous versions the title was centere

[2018-06-27 07:46] yangshun commented on #808
Shoots, that's embarrassing. Thanks for reporting it!

[2018-06-27 07:48] knowbody commented on #808
@yangshun there is also a slight issue with the height of the logo in the footer, also visible on the Rebolt page. Maybe it could be fix at the same time as that's also CSS issue

[2018-06-27 07:54] yangshun commented on #808
Gotcha, will investigate!

[2018-06-27 07:59] knowbody commented on #808
Thank you!

[2018-06-27 09:02] endiliey opened #810 "Unhandled promise & cryptic error in build-files-test.js"
### Is this a bug report?

No. Technical debt ? Maybe test bug.

I think maybe the jest matcher is actually failing
`(node:411) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: expect(string).toContain(value)`

https://github.com/facebook/Docusaurus/blob/c0aa98bd553f630ee51d4bd81642e7f518042f34/lib/__tests__/build-files.test.js#L90-L105

### Have you read the

[2018-06-27 09:22] yangshun commented on #808
@knowbody The footer logo issue is a user-controlled style and should be fixed on your side. The `height` attribute could be removed in https://github.com/callstackincubator/rebolt/blob/master/website/core/Footer.js#L95.

[2018-06-27 09:28] yangshun commented on #808
@knowbody I have a fix out at #811. We'll get it merged and release a 1.3.1 soon enough. When Rebolt docs is ready, it would be great if you could add your project to our [list of users](https://docusaurus.io/en/users)! Many thanks for using Docusaurus!

[2018-06-27 09:29] knowbody commented on #808
Will do now. Thank you for maintaining it!

[2018-06-27 15:45] #805 closed

[2018-06-27 17:21] #808 closed

[2018-06-28 05:39] njsokol commented on #466
This would be an awesome feature

[2018-06-29 08:15] #796 closed

[2018-06-29 08:54] KoenCa opened #813 "Sidebar title and doc title don't change after updating it in file."
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus v1.3.0
NPM v6.1.0
Node v8.11.3
Macbook Pro with MacOs High Sierra

### Steps to Reproduce

Tried to reproduce it in a fresh Docusaurus project, but can't reproduce it there. What I can s

[2018-06-29 10:46] endiliey commented on #813
@KoenCa
1. is it specific only to certain docs or any docs won't trigger the change of title ?
2. Did you try to rm -rf node_modules and reinstall ? Clearing the babel cache as well
3. Do you use versioning and/or translation ?

[2018-06-29 10:48] endiliey commented on #761
Closed by #768

[2018-06-29 10:48] #761 closed

[2018-06-29 12:33] endiliey commented on #813
@KoenCa

That's weird. My website use id on docs & warriorjs too. You can check how warriorjs use subdirectories https://github.com/olistic/warriorjs/blob/master/website/sidebars.json

If your docs is in `docs/projectA/test.md` with id `test` then it should be referred as `projectA/test` in sidebars

Can you try adding id and see if it works ?

[2018-06-29 12:44] KoenCa commented on #813
1. Added id to a doc file
2. Changed relative path in `sidebars.json` accordingly
3. Restart sever and navigating to page still works
4. Change title
5. Restart server and again no change

Adding an id doesn't work.

I seem to get this error quite often now while change title attritube or others:
[code]

But it doesn't crash my development server and live reloading of text on pages still works.

[2018-06-29 13:11] endiliey commented on #813
@KoenCa

Can you try to remove i18n folder -> npm run write-translations -> change some docs title -> npm run write-translations again and see if the title is changed in i18n/en.json

Since the workaround is related with deleting i18n I think it got to do with write translation

[2018-06-29 13:58] bram209 commented on #466
I would love this feature as well

[2018-06-29 14:11] JoelMarcey commented on #813
Deleting your current `en.json` should work and then do the right thing since you are on 1.3.0 -- although you can upgrade to 1.3.1 now too.

[2018-06-29 14:14] KoenCa commented on #813
@endiliey

Just tried it, it does change the `en.json` correctly when I follow your steps. Maybe it doesn't work properly when the dev server is running?

[2018-06-29 14:16] KoenCa commented on #813
@JoelMarcey

I don't see any 1.3.1 release yet?

[2018-06-29 14:18] JoelMarcey commented on #813
🤣 I got ahead of myself. I thought it went out last night. Should be today.

[2018-06-29 14:19] endiliey commented on #813
@KoenCa

so the workaround step has been reduced to
1. Run npm run write-translations
2. Start dev server

Does Everything updates like normal ?

[2018-06-29 14:22] KoenCa commented on #813
Yes, it is not necessary to remove the `en.json` file. Everything updates like normal without removing it.

BTW, maybe I should add that I first started with v1.2.0, then upgraded to v1.2.1 and then upgraded to v1.3.0.

[2018-06-29 14:28] endiliey commented on #813
@KoenCa

So if you only start dev server without running `npm run translation`, the title won't change ?

If yes, I think the problem is that dev server doesnt run write-translations when it should have

https://github.com/facebook/Docusaurus/blob/e9eef3976025c9f428baec725e6daf929384b5fb/lib/server/server.js#L9
https://github.com/facebook/Docusaurus/blob/e9eef3976025c9f428baec725e6daf929384b5fb/li

[2018-06-29 14:32] KoenCa commented on #813
@endiliey

Yes, changing title and only starting dev server won't change it. When running `npm run write-translation` it does change.

[2018-06-29 14:36] KoenCa commented on #813
@endiliey

Or this function goes wrong?
https://github.com/facebook/Docusaurus/blob/e9eef3976025c9f428baec725e6daf929384b5fb/lib/write-translations.js#L33

And thats why I sometimes get this error?

[code]

[2018-06-29 14:44] endiliey commented on #813
Seems so to me. This works for me but I think it didn't work for yours

![test](https://user-images.githubusercontent.com/17883920/42098556-d21e8aa4-7bed-11e8-864c-de19734bdd15.gif)

Can you try above step & let me know abt the logs that appears ?

[2018-06-29 14:49] KoenCa commented on #813
In the docusaurus project or my own?

[2018-06-29 14:50] endiliey commented on #813
@KoenCa yours

Just for context how many markdown files do you have 😂

[2018-06-29 14:57] KoenCa commented on #813
I just get logs like this:

[code]

The error log mostly happens when the server is already running.

I have 78 markdown files at the moment and more will come. I also have 48 PNG images in my docs assets.

[2018-06-29 15:02] endiliey commented on #813
Tbh, it's a little bit hard for us to fix without reproducible demo

How about this. We'll release 1.3.1 soon. Let's see if that solve your problem later. Otherwise I might need you to give me a reproducible repo, maybe you can omit the docs content if it's confidential. Sorry for the trouble

[2018-06-29 15:06] KoenCa commented on #813
No problem, I understand.

[2018-06-29 15:13] fredemmott commented on #790
https://github.com/hhvm/hh-apidoc/issues/29 is what led to this :)

[2018-06-29 20:40] JoelMarcey opened #814 "Bring back the facebook social button on blog posts"
### Is this a bug report?

No. It was just removed.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.3.0

### Steps to Reproduce

Go to https://docusaurus.io/blog/2018/04/30/How-I-Converted-Profilo-To-Docusaurus

### Expected Behavior

The button would be there.

[2018-06-29 20:41] JoelMarcey commented on #814
Not sure if it was removed with this: https://github.com/facebook/Docusaurus/pull/673, but that seems like something that could be related.

[2018-06-30 05:11] endiliey commented on #814
It was still there on #673
It was down after #757

It should be
[code]

According to https://developers.facebook.com/docs/plugins/like-button/

Instead of
[code]

[2018-06-30 05:18] endiliey commented on #813
@KoenCa
In the meantime, you can use this solution. Edit your package.json

[code]

Let me know if it works 😊

[2018-06-30 06:35] machikoyasuda commented on #718
@endiliey I was able to get around this issue with Netlify redirects, so I'm not working on this anymore!

Someone else can claim if if interested, or close it :)

[2018-06-30 06:54] endiliey commented on #718
I am closing this then. Trying to avoid extra feature (especially in siteConfig) before v2.

[2018-06-30 06:54] #718 closed

[2018-06-30 17:11] machikoyasuda commented on #718
@endiliey Thank you for your vigilant maintainership <3

[2018-07-01 04:18] chenglou opened #818 "Watcher failure in 1.3.1"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.3.1, macOS High Sierra, node 8.2.0, yarn 1.5.1

### Steps to Reproduce

(Write your steps here:)

1. New docusaurus project
2. have a non-trivial `baseUrl` (e.g. not a `/`) in `siteCon

[2018-07-01 04:21] endiliey commented on #818
Sorry, this is because the routing is stricter now in development server to use baseUrl correctly.
I'll send a fix for this.

[2018-07-01 04:50] chenglou opened #820 "Mobile doc nav has a 1px seam"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus 1.3.0, iOS 11 mobile safari, iPhone X

### Steps to Reproduce

1. Visit a docusaurus site in mobile browser
2. Scroll down main page
3. See a seam between the header and the nav

### Exp

[2018-07-01 16:42] #814 closed

[2018-07-01 16:42] #818 closed

[2018-07-02 01:29] nareshbhatia opened #822 "Phrase emphasis is not working"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

Docusaurus version 1.3.1

### Steps to Reproduce

Just add phrase emphasis in any document. For example:

    Some of these words *are emphasized*.
    Some of these words _are emphasized also_.

#

[2018-07-02 07:06] KoenCa commented on #813
@endiliey

Yes, it works 👍

[2018-07-02 11:19] knowbody opened #823 "Sidebar scroll position"
### Is this a bug report?

yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

all versions

### Expected Behavior

This is probabaly more of a feature request but could be also considered an UX bug.

I will explain on the RN docs.

So when the sidebar is quite long and I scr

[2018-07-02 16:32] ggalli opened #824 "search input placeholder"
Is there a way to change the placeholder created by algolia input search?

[2018-07-02 20:59] yangshun commented on #808
@knowbody We have released 1.3.1 which should fix the issue.

[2018-07-02 22:30] JoelMarcey commented on #824
I haven't tried it yet, but you might be able to add in `algoliaOptions`, something like:

[code]

Can you let us know if that works?

[2018-07-03 05:00] knowbody commented on #808
Thank you

On Mon, 2 Jul 2018 at 22:59, Yangshun Tay <notifications@github.com> wrote:

[2018-07-03 15:14] ggalli commented on #824
it didn't work :(

[2018-07-03 16:00] endiliey commented on #824
Seems to me that the placeholder is hardcoded in algolia docsearch

https://github.com/algolia/docsearch/blob/caad961c809e561f39efca8acdb0cfe5f0438ab9/src/lib/templates.js#L89

You can open a feature request issue in https://github.com/algolia/docsearch if you want. And it'll be available in Docusaurus. I'm closing this issue

[2018-07-03 16:00] #824 closed

[2018-07-03 16:51] s-pace opened #826 "Enhancing sitemap to help DocSearch scraping alternate links (i18n)"
### Is this a bug report?

Feature Request: Help [algolia DocSearch](https://community.algolia.com/docsearch/) to better handle Docusaurus user's sitemaps.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes
### Environment

Latest version
### Steps to Reproduce

Access the sitemap of any website

[2018-07-03 16:58] endiliey commented on #826
@s-pace

Do you have an example `sitemapindex` ? We use https://github.com/ekalinin/sitemap.js to generate our sitemap so I'll look into the sitemapindex one.

We have a config for Docusaurus user to use `.html` or no `.html`. I will fix the sitemap to be consistent on the url.

[2018-07-03 17:10] s-pace commented on #826
@endiliey Thank you for jumping on it so quickly.

`sitemapindex` is set base on [this scrapy's definition](https://github.com/scrapy/scrapy/blob/master/scrapy/utils/sitemap.py#L20). Could be set by adding the correct tag.

Makes sense. Both URLs are always available (having a 200 HTTP status). Example:

https://docusaurus.io/docs/es-ES/1.1.5/site-creation
https://docusaurus.io/docs/es-ES/1.1.5/si

[2018-07-03 17:15] endiliey commented on #826
I'll look into this one.

https://docusaurus.io/docs/es-ES/1.1.5/site-creation
https://docusaurus.io/docs/es-ES/1.1.5/site-creation.html
Could it be possible to make only one of them available?

I'm afraid that we'll have to preserve both urls for backward compatibility and I don't want to break someone's website 😢. Do you have any other suggestion ?

[2018-07-03 17:25] ericnakagawa opened #827 "Allow linking to hrefs for Sidebars"
### Pain point
For developers that generate API documentation from their code, it would be useful for Docusaurus to allow linking to these pages from a sidebar.

### How it currently works
Normally we only allow links to hrefs via the top level navigation. This feature would allow for more flexibility on single navigation pages.

### How it would work
Use a similar for processing-method for `sideb

[2018-07-03 18:51] endiliey commented on #823
@knowbody
Mind to give more information/describe it more clearly ? Seems to me this is quite normal given that user loads a new html page when choosing a doc.

[2018-07-03 18:57] yangshun commented on #823
If we convert Docusaurus into an server-side rendered SPA in v2, this problem would go away.

[2018-07-03 18:58] endiliey commented on #823
Maybe it looks like SPA now because there is no trailing `.html` 😂

[2018-07-03 18:59] yangshun commented on #823
The weird thing is that, Reason docs has the behavior that @knowbody wants. Try clicking on "Syntax Cheatsheet" from https://reasonml.github.io/docs/en/quickstart-javascript

[2018-07-03 19:05] endiliey commented on #823
@yangshun
Seems like a javascript hack for me

https://github.com/MoOx/pjax

No more full page reloads. No more multiple HTTP requests.

https://github.com/reasonml/reasonml.github.io/blob/source/website/static/js/pjax-api.min.js

[2018-07-03 19:09] yangshun commented on #823
Ah that's the trick. What an awesome trick. We can consider adding that to
core!

On Tue, Jul 3, 2018, 12:05 PM Endilie Yacop Sucipto <
notifications@github.com> wrote:

[2018-07-03 19:34] knowbody commented on #823
It would be awesome!

On Tue, 3 Jul 2018 at 21:20, Endilie Yacop Sucipto <notifications@github.com>
wrote:

[2018-07-03 19:46] s-pace commented on #826
Thanks for looking into this one. Let us know your feedback.

We will keep to put `".html$"` as a `stop_urls` then.

Just for sharing: you might want [to use canonical urls](https://support.google.com/webmasters/answer/139066?hl=en).

[2018-07-04 03:55] endiliey commented on #826
@s-pace i'm thinking to put 301 redirect on the `.html` version to still preserve the backward compatibility

Wdyt ?

Cc @yangshun

[2018-07-04 08:16] s-pace commented on #826
Should be fine indeed

[2018-07-04 12:47] KoenCa commented on #820
Hi! Can I solve this issue?

[2018-07-04 18:14] yangshun commented on #820
@KoenCa it's yours!

We've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-07-05 06:05] nebrelbug opened #831 "Servers aren't shutting down with CTRL+C"
### Is this a bug report?

Yes

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

### Environment

(Docusaurus version via `npm outdated docusaurus` or `yarn outdated docusaurus`, OS, Node, npm, yarn)

### Steps to Reproduce

(Write your steps here:)

1. Run `npm start` inside the "website" dire

[2018-07-05 06:18] yangshun commented on #831
Seems like a bug indeed. I narrowed down the issue to the `baseUrl`. Basically any `baseUrl` that's not `/` will cause the error. To unblock yourself now, you could use `/` for the `baseUrl` value now.

@endiliey any ideas?

[2018-07-05 07:32] jhsu802701 opened #832 "Need tests in the new Docusaurus app or a how-to guide or tutorial for adding tests"
### Is this a bug report?

No

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

I'd like to see functional tests provided in the new Docusaurus app or a tutorial or how-to guide on how to add tests to a Docusaurus app.  The tests would be for basic things like the content on the home page, the

[2018-07-05 13:00] endiliey commented on #826
Hi @s-pace,

According to  google's recommended way to indicate alternate language (https://support.google.com/webmasters/answer/189077?hl=en&visit_id=1-636663918916415691-3337098161&rd=1)

The sitemap should be in the form of
[code]

In addition, the sitemap has been in the form of `urlset` for quite a while, I'm quite hesitant to change it to `sitemapindex` type because that just means we are bu

[2018-07-05 17:29] nebrelbug commented on #831
Thank you both! Sorry that I didn't realize it was because of the baseURL. Should I download the new version tomorrow then?

[2018-07-05 17:43] nebrelbug commented on #831
I can now view the pages, but it still looks like the servers aren't shutting down. After a bit of Googling, it looks like it may just be a problem with Git Bash though.

[2018-07-05 17:49] yangshun commented on #831
I have yet to release 1.3.2. Will do it tonight 🌞

[2018-07-05 17:49] yangshun commented on #831
I have yet to release 1.3.2. Will do it tonight and let you know when I do 🌞

[2018-07-05 20:57] caabernathy commented on #789
Let's also think about integrating autogen systems into an upcoming version - see #78

[2018-07-06 07:55] Annasadra opened #834 "Submit"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

(Write your answer here.)

## To Reproduce

(Write your steps here:)

1.
2.
3.

## Expected behavior

(Write what you thought would happen.)

## Actual Behavior

(Write what happen

[2018-07-06 07:56] Annasadra commented on #834
No. Earth

[2018-07-06 07:58] yangshun commented on #834
Closing due to insufficient information. Feel free to reopen with more information if the issue persists. Alternatively, you can also ask on Stack Overflow as it doesn't seem like a bug in Docusaurus.

[2018-07-06 07:58] #834 closed

[2018-07-06 08:14] yangshun commented on #831
@nebrelbug v1.3.2 has been released.

[2018-07-07 07:08] nebrelbug commented on #831
Thanks! Finally got everything to work :)

[2018-07-08 12:58] muuvmuuv opened #838 "SCSS support"
## 🚀 Feature

I want to customize my docs with scss instead of using pure css.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## Motivation

It is way easier to style the theme by not copy and past the whole class structure again and again.

## Pitch

Fasten the styling process

[2018-07-08 20:48] muuvmuuv opened #840 "Highlighting is not really working"
## 🐛 Bug Report

Every code block with a language class do not render the language right becuase there is a space between them. Here is a image:

![bildschirmfoto 2018-07-08 um 22 43 05](https://user-images.githubusercontent.com/11534760/42423791-7c75d1e2-8300-11e8-97b5-2e463dc82972.png)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/C

[2018-07-08 21:17] yangshun commented on #840
@endiliey I think it's caused by https://github.com/facebook/Docusaurus/blob/master/lib/core/renderMarkdown.js#L27 having an extra space.

[2018-07-08 21:55] endiliey commented on #840
Great catch. Will send a fix asap 😁

[2018-07-09 03:17] #840 closed

[2018-07-09 09:07] muuvmuuv opened #843 "Async load of scripts or placed in footer"
## 🚀 Feature

I have noticed that all scripts are placed in the header, what is causing a huge page loading time. It is better to use the new `async` attribute or place them in the footer. So the page can load and render while scripts are passed asynchronously.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new

[2018-07-09 09:27] XzMitsui opened #844 "On the internal use of JavaScript in Docusaurus"
How can I receive the data that I want to request from JS and display it in the code block?

[2018-07-10 17:33] microbouji opened #845 "Renaming docs breaks links in old versions"
## 🐛 Bug Report

Renaming a doc file in the `docs` folder seems to break links of the form `[inner link](doc.md)` in the `versioned_docs` folder.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes.

## To Reproduce

1. `npx docusaurus-init`
1. Cut a new version.
[code]
1. The sample `doc2.md` has

[2018-07-11 05:16] yangshun commented on #844
This is better asked over Stack Overflow instead. You could ask on Stack Overflow and post the question link back here

[2018-07-11 05:16] #844 closed

[2018-07-12 09:28] muuvmuuv opened #848 "Allow adding attributes to import of scripts and styles"
## 🐛 Bug Report

I get an error when loading scripts from a CDN because there is no hash set to the CDN Url. This could be fixed by giving more options to the `scripts`-array in the config:

[code]

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. new Docusaurus
2. add CDN s

[2018-07-13 09:59] endiliey commented on #845
I just tried this out & have found the cause. I think the fix implementation is not trivial (lot of changes & might break other places) so might need some time to properly test & implement this.

Looking at:
https://github.com/facebook/Docusaurus/blob/a7a214fb3a36b3627e4346c2ddbcc4d01e3bf3a1/lib/server/server.js#L251-L272

This is where we change the [docs/plugin-transform-es2015-arrow-functions.m

[2018-07-13 17:36] microbouji commented on #845
Thanks @endiliey for looking into this and for the suggested workaround!

[2018-07-13 19:00] ggalli opened #849 "fonts on docusaurus"
How to insert an external font file on my docusaurus project?

[2018-07-14 06:18] jamato-pfm commented on #822
I'm having the same issue across all documentation.

[2018-07-14 07:49] endiliey commented on #849
You could insert the font file in your `website/static` and probably use something like font-face rule in your `custom.css`

[2018-07-14 07:49] #849 closed

[2018-07-14 14:04] endiliey opened #851 "docusaurus-translations & docusaurus-version not working"
## 🐛 Bug Report

There is a bug in our write-translations file, it couldn't understand ES6.
Note that this bug only occurs when we run `write-translations` when docusaurus is installed as a npm package

Related code:
https://github.com/facebook/Docusaurus/blob/master/lib/write-translations.js

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/mas

[2018-07-14 23:09] jamato-pfm commented on #822
Same here.

[2018-07-14 23:09] jamato-pfm commented on #823
This would be a wonderful feature.

[2018-07-15 05:41] #822 closed

[2018-07-15 08:35] sebdeckers opened #852 "Versioning with Multirepo and Monorepo"
## 🚀 Feature

Combine docs from several modules into a single site. Docs may exist in separate repos or a monorepo.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

👍🏻

## Motivation

I maintain a project comprised of several modules, each in their own versioning and documented repository. Other pro

[2018-07-15 12:24] steevehook opened #853 "Improve the docs regarding deployment"
## 📚 Documentation

The docs regarding deployment to gh-pages are ambigue. Always getting missing styles due to missing / when making requests for css or images. Thus making the website look quirky.

Explain in more details the steps to push the website to gh-pages and perhaps how the publish-gh-pages script works and some screen shots plus a more detailed explanation of siteConfig props related t

[2018-07-16 07:43] steevehook opened #855 "Document the possibility to namespace markdown docs"
## 🚀 Feature

Currently the approach is to stuff every doc inside docs folder and if the docs grows on an on, it's a bit hard to find the needed doc. What I've seen works but it's nowhere documented is to omit the id from markdown document and have them placed inside directories. Then later reference them as `/dir/doc`

Document the possibility of structuring the docs across directories aka name s

[2018-07-16 08:08] endiliey commented on #855
Thank you for this.

Just wanted to point out that this is not true, if an id exist, it can be referenced as `directory/id`, it just seems that it is not documented so clearly.

Example: `docs/make/adding-levels.md`
[code]

Then it should be referenced as
`"make/adding-levels",`

Reference of use case:
1. https://github.com/olistic/warriorjs/tree/master/docs
1. https://github.com/olistic/warriorjs

[2018-07-16 08:10] endiliey commented on #855
Thank you for this.

Just wanted to point out that this is not true, if an id exist, it can be referenced as `directory/id`, it just seems that it is not documented so clearly.

Example: `docs/make/adding-levels.md`
[code]

Then it should be referenced as
`"make/adding-levels",`

Reference of use case:
1. https://github.com/olistic/warriorjs/tree/master/docs
1. https://github.com/olistic/warriorjs

[2018-07-16 08:12] steevehook commented on #855
Sure, my pleasure to contribute man 😉

[2018-07-16 08:45] #851 closed

[2018-07-17 13:56] theletterf commented on #853
+1

[2018-07-17 15:06] theletterf opened #857 "CSS and IMG not loading in GitHub Enterprise Pages"
## 🐛 Bug Report

I work in a GitHub Enterprise environment. Publishing, as implemented by #689 , works well. Files are pushed to the repo with the same folder structure as in local. The site loads well in localhost:3000.

The problem is that the static pages reference '/css/main.css' instead of '../css/main.css'. The CSS is there. This happens with custom CSS and images, too. If I manually tweak t

[2018-07-18 05:31] sunnylqm opened #858 "Feature request: Add contributors list for each doc"
When cutting a version, use some git commands(`git blame --line-porcelain xxxx.md | grep -I "^author " | sort | uniq -c`) to get contributors info and add them to metadata or the header of each doc.

### Doc Title

`Contributors`: [foo](#)(60%), [bar](#)(40%)

...doc body...

I think this can encourage people to participate in improving docs.

[2018-07-18 07:14] theletterf commented on #857
I fixed this by changing the baseUrl from `/` to

`https://{githubHost}/pages/{organizationName}/{projectName}/`

In other words, I had to specify the full URL. That, I think, is not the expected behavior. The documentation should be updated to reflect that. Or #689 be fixed.

[2018-07-18 07:34] endiliey commented on #857
Did you try `pages/{organizationName}/{projectName}/` ?

[2018-07-18 11:31] #826 closed

[2018-07-18 13:43] endiliey commented on #387
I think this has been fixed 😄

You can set your own description meta
`<meta name="description" content="...">`

Refer to https://docusaurus.io/docs/en/api-pages#description-for-pages

Example:
[code]

Google's result:

<img width="491" alt="google-test" src="https://user-images.githubusercontent.com/17883920/42885385-60c582aa-8ad3-11e8-9fa5-ebdc31da8c1b.PNG">

I'm closing this. Feel free to re-ope

[2018-07-18 13:43] #387 closed

[2018-07-18 13:53] endiliey commented on #585
We had a css revamp on 1.3.0 #757

I tried this today (we are on 1.3.2) on IE11, the experience is not that bad. Seems quite functional to me

![ie11](https://user-images.githubusercontent.com/17883920/42885826-9e384040-8ad4-11e8-9666-62c686735eff.gif)

[2018-07-19 09:07] #855 closed

[2018-07-19 14:22] JoelMarcey commented on #857
Hi @theletterf - The `baseUrl` should generally not have a full URL, including `http(s)` associated with it -- can you try what @endiliey mentioned above?

[2018-07-19 23:18] cckellogg opened #861 "Linking to images in docs broken when there is baseUrl"
## 🐛 Bug Report

Document image links are broken when the site has a baseUrl. Instructions for linking to images within documents are here https://docusaurus.io/docs/en/next/doc-markdown#linking-to-images-and-other-assets. However, this does not work when the site has baseUrl other than "/".

## To Reproduce

1. Create an assets folder within the docs folder and add an image there
2. Add a new doc

[2018-07-20 06:16] XzMitsui commented on #410
@JoelMarcey  Hello there! I am a newbie who is using docusaurus, I have learned and have created my own website, of course, including the sidebar, but now I want to implement the subdirectory after clicking on the directory in the sidebar, again Let it shrink when clicked. The official documentation of the use of JS makes me confused, I hope you can help me, thank you.

[2018-07-20 06:42] XzMitsui opened #862 "How to click on the title in the sidebar to expand and hide."
I am learning to use Doususaurus and create my own website, of course, including the sidebar of the document, but at the moment I want to click on the title in the sidebar and bind to the page under the title (I call this the directory and sub Directory) Titles can be expanded and hidden. I seriously watched the introduction to scripts in the official documentation, but I am sorry that I have not

[2018-07-20 07:07] Fl4m3Ph03n1x commented on #410
@XzMitsui Since this issue is still open, I would assume the feature you are asking was not yet implemented.

[2018-07-20 07:23] endiliey commented on #862
This is something that is not implemented yet.

Closing this issue due to not following the issue template provided. You can open a new feature request issue if needed. 😉

[2018-07-20 07:23] #862 closed

[2018-07-20 07:31] theletterf commented on #857
@endiliey @JoelMarcey It work that way :-)

[2018-07-20 07:38] endiliey commented on #857
This is because GH Enterprise serve from one endpoint which is {githubHost} so the baseUrl should be set as according.

Closing this.

P.S We accept better documentation PR for https://docusaurus.io/docs/en/site-config.html#mandatory-fields documentation on https://github.com/facebook/docusaurus/edit/master/docs/api-site-config.md
😉

[2018-07-20 07:38] #857 closed

[2018-07-20 07:39] XzMitsui commented on #862
@endiliey Thanks for your answer.

[2018-07-20 07:42] endiliey commented on #861
Thanks for reporting this. Seems like a misleading documentation

Actually we should refer it to `(assets/` and we will replace it to `{baseUrl}/docs/assets/`
https://github.com/facebook/Docusaurus/blob/22f3a85a494ddf46bc29964a7989335a7dba4a9a/lib/server/docs.js#L79-L83

The RAW Markdown is below:
<img width="534" alt="correct-documentation" src="https://user-images.githubusercontent.com/17883920/

[2018-07-20 07:45] XzMitsui commented on #410
@Fl4m3Ph03n1x  Yes,it is. I tried it many times and it didn't work, and a development and maintenance person told me that this feature has not been implemented.

[2018-07-20 08:17] stephen-james commented on #857
Hi All, while the solution from @endiliey works for publishing (to GH Pages), I've found that when I run locally I need to use a baseUrl of `/` in order to serve images correctly.

The MD image links I am using are in the format:

![alt text](/docs/assets/{image-file.png})

I believe this is a side effect of applying the baseUrl in local development mode as per this commit : https://github.com/fac

[2018-07-20 09:47] Fl4m3Ph03n1x commented on #410
Make up your mind. Either it is implemented or it isn't.
I am stating that this feature is not yet implemented. You start your comment by saying I am wrong only to end it saying I am right.

[2018-07-20 10:29] endiliey commented on #857
@stephen-james

You should link the image with `![some alt text](assets/{image-file.png})` or even better -> `![alt text]({baseUrl}docs/assets/{image-file.png})`

Referring `(assets/` will be replaced to `{baseUrl}/docs/assets/`
https://github.com/facebook/Docusaurus/blob/22f3a85a494ddf46bc29964a7989335a7dba4a9a/lib/server/docs.js#L79-L83

The RAW Markdown is below:
https://github.com/facebook/Doc

[2018-07-20 13:26] DiegoFelipe opened #865 "Show sidebar when acessing a doc that is not listed in sidebars.json"
## ❓ Questions and Help

I noticed that when I access a doc that is not inside sidebars.json, the left sidebar doesn't shows up, but if I add this doc do the JSON is shows, I want the left sidebar to be visible, even id the doc that I'm accessing is not listed in this JSON file

[2018-07-20 15:15] endiliey commented on #865
### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We have a few channels:
- [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus)
- [Twitter](https://twitter.com/docusaurus)
- [Discord](https://discord.gg/docusaurus)

Otherwise, please open a feature request issue for this

[2018-07-20 15:15] #865 closed

[2018-07-21 08:00] helloworld commented on #784
@yangshun going to claim this, since it's been a while since @vaibhavsingh97 was interested 😃

[2018-07-21 09:44] yangshun commented on #784
@helloworld it's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-07-21 13:54] #861 closed

[2018-07-21 14:17] endiliey commented on #853
We accept PR on this 😉

Docs:
https://github.com/facebook/docusaurus/edit/master/docs/getting-started-publishing.md

Publish script:
https://github.com/facebook/Docusaurus/blob/master/lib/publish-gh-pages.js

[2018-07-21 23:02] helloworld commented on #848
@muuvmuuv I can't reproduce the issue using your example scripts (they all load as expected), but this is still a good feature to have.

@endiliey can I claim this? I think a simple check of if source is an `Object`, and simply spreading the object key/values as attributes would be sufficient, unless you would prefer whitelisting only the valid `script` tag attributes.

[code]

[2018-07-21 23:05] yangshun commented on #848
@helloworld it's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-07-21 23:53] helloworld commented on #810
@endiliey looks like this bug was fixed – should this issue be closed?

[2018-07-22 05:31] yangshun commented on #810
Thanks @helloworld. Closed via #839

[2018-07-22 05:31] #810 closed

[2018-07-22 06:50] muuvmuuv commented on #848
@helloworld maybe it is just a problem of my local running environment. But yes would anyway a good feature. I‘m looking forward to see this in the next updates

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-22 07:05] #784 closed

[2018-07-23 01:17] XzMitsui commented on #410
@Fl4m3Ph03n1x I don't understand what you mean. I mean, I didn't have a solution after trying it, and then opened up a new Issues, and a maintenance person told me so.

[2018-07-23 16:20] SleepWalker commented on #701
I've got the similar issue, while running build on Docker node jessie image, using yarn. There was a problem with `imagemin` can not build and, as a result the images won't converted (but silently. Probably in newer versions it is not silent anymore)

[2018-07-23 16:58] SleepWalker opened #868 "Allow using one doc id in multiple sidebars"
## 🚀 Feature

Allow the same document to be specified in multiple sidebars.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

Improve navigation across the docs

Currently we have a limitation. A document can be child of only one sidebar, which has a bad impact on navigation in ca

[2018-07-23 17:00] SleepWalker commented on #868
In case when this issue will be accepted, I can add support for custom links from #827

[2018-07-24 14:31] danerich commented on #466
This would be a great addition!

[2018-07-25 06:03] endiliey commented on #868
@SleepWalker

Are you planning to work on all of this or just the custom links support from #827 ?

[2018-07-25 06:15] SleepWalker commented on #868
I would like to work on all of this. I think, that two issues can be solved in one pull request, because it is, actually the same part of the code.

But we need to decide with config structure first.

[2018-07-25 07:53] SleepWalker commented on #868
that three dots was just three dots to indicate some "other" config entries. I've wrapped it in quotes so that it will be syntactically correct :)

[2018-07-25 09:22] SleepWalker commented on #868
ok.

What will we use for custom links from #827?

[code]

or

[code]

The first one is shorter. The last one is the most flexible. We can also support `doc` field there.

I think, that there will be very few cases, when the user will need to link to some external resources from sidebar, so we can stick with the last example, because it is the most generic. In future it will possible to add shortc

[2018-07-25 11:03] endiliey commented on #868
Lets go with the last one. Shouldn't be too hard to change it if needed. 👍

[2018-07-25 12:15] theletterf opened #871 "Page bundles / nested navigation"
## 🚀 Feature

I'd like Docusaurus to feature something like Hugo's page bundles:

https://gohugo.io/content-management/page-bundles/

As far as I can tell, Docusaurus only allows for a single level of documentation: all docs are in the same folder and there's no depth beyond that level. This prevents from creating complex documentation. For instance, in Docusaurus I cannot have something like...

[2018-07-25 12:32] endiliey commented on #871
@theletterf

This is not true. You can actually nest your doc as deep as you like.
Example:
https://github.com/olistic/warriorjs/tree/master/docs

[2018-07-25 12:35] theletterf commented on #871
Ha! Then it _is_ possible after all. Going to look into that. I couldn't find any reference on that in the docs...

[2018-07-25 12:57] endiliey commented on #871
You have to set the navigation on your own. (e.g: headerlinks). If you need high level TOC document, you can build your own markdown docs as a high level TOC doc. Else, high level TOC in sidebar might be possible as well (see #868)

Either way, I think the main point is that you can nest your docs so I'm closing this.

[2018-07-25 12:57] #871 closed

[2018-07-25 13:00] theletterf commented on #871
Thanks!

[2018-07-25 13:56] ggalli opened #872 "customizing header"
Can i customize the header component like the Footer.js ?

[2018-07-25 14:32] JoelMarcey commented on #871
@theletterf I thought we had the nested docs information on docusaurus.io, but maybe we didn't add it.

Would you like to submit a PR to add the information? Probably either in https://docusaurus.io/docs/en/site-creation or https://docusaurus.io/docs/en/site-preparation?

[2018-07-25 15:13] theletterf commented on #871
Sure.

[2018-07-26 00:45] JoelMarcey commented on #789
Adding Docusaurus format support to hh-apidoc is not a Docusaurus v2 feature necessarily, but we can consider as something to help grow the use of it.

https://github.com/hhvm/hh-apidoc/issues/29

[2018-07-26 01:37] fredemmott commented on #789
Ultimately I think it should be hh-apidoc's responsibility to provide documentation/metadata in a good format for docusuarus when wanted - but for user experience, it would be good if docusaurus were aware of it and would suggest/configure running it as part of the docusaurus build process rather than needing a separate predecessor step

[2018-07-27 12:05] endiliey commented on #872
Not at the moment. Will enable this on Docusaurus v2.

Please note that this issue tracker is not a help form and this issue will be closed.
If you have questions, please check [Stack Overflow](https://stackoverflow.com/questions/tagged/docusaurus) or [Discord](https://discord.gg/docusaurus) or [Twitter](https://twitter.com/docusaurus)

[2018-07-27 12:05] #872 closed

[2018-07-27 16:27] bettiolo opened #874 "Code blocks syntax highlighting specified in markdown ignored"
## 🐛 Bug Report

Language syntax specified in markdown code blocks is ignored, eg ` ```js ` and ` ```text ` render the same output.

Today's (27th July) revision `#75538395beb3bcd7591f586877d5971c51d4f5db` in master was supposed to contain the fix for the language highlighting.

In fact the css bug of `language- <lang>` is fixed and now the CSS attribute is `language-<lang>` without the space. Thi

[2018-07-27 17:09] endiliey commented on #874
Hi @bettiolo,

There is actually no `text` language in highlight.js, so it triggers the auto language detector defined in
https://github.com/facebook/Docusaurus/blob/75538395beb3bcd7591f586877d5971c51d4f5db/lib/core/renderMarkdown.js#L57-L58

and `javascript` was detected

You can check the [supported languages here](https://github.com/highlightjs/highlight.js/tree/master/src/languages)

[2018-07-27 17:55] #874 closed

[2018-07-28 05:32] endiliey commented on #813
@KoenCa I wonder if you still have the problem ? Couldn't find any similar report so I'll be closing this.

Ping me on [Discord](https://discord.gg/docusaurus) if needed

[2018-07-28 05:32] #813 closed

[2018-07-28 05:36] #794 closed

[2018-07-29 17:57] kevinbarabash commented on #448
The problem I ran into was I want to deploy to docs to both `khan.github.io/KaTeX` (for production) as well as `katex.netlify.com` (for testing).

[2018-07-30 11:20] chenglou opened #877 "Left nav sometime can't scroll on Safari"
## 🐛 Bug Report

(A clear and concise description of what the bug is)

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Open Safari, make sure browser is vertically small
1. Go to https://docusaurus.io/docs/en/installation
1. Scroll the main area til the bottom
1. Try to scr

[2018-07-31 04:44] endiliey commented on #868
@sleepWalker sure, you can refactor it to many files or maybe smaller functions instead of many files as long as it doesnt change functionality. Tests are great.

If there isnt too much refactor, a separate PR might not be needed.

[2018-07-31 17:04] bettiolo commented on #874
@endiliey I don't believe that it is the case, to avoid highlighting you use `no-highlight` or the alias `text`: https://github.com/highlightjs/highlight.js/blob/898bcd268fb684a6b94e0e817d0ec715178038be/src/highlight.js#L39

https://github.com/highlightjs/highlight.js/blob/898bcd268fb684a6b94e0e817d0ec715178038be/src/highlight.js#L91

[2018-07-31 17:05] bettiolo commented on #874
This should be reopen and addressed for the `no-highlight/text/plain` scenario

[2018-07-31 17:30] endiliey commented on #874
@bettiolo 👍

Just wanted to address that `text` or `no-highlight` or `plain` is in fact not a language in highlight.js. Language are: `javascript`, `basic`, `bash` anything defined [here](https://github.com/highlightjs/highlight.js/tree/master/src/languages)

See https://github.com/highlightjs/highlight.js/blob/master/README.md#getting-started
`no-highlight/text/plain` is just a way to indicate in

[2018-08-01 06:24] xeoneux opened #879 "Allow other routes than /docs in the url"
## 🚀 Feature

Please allow config to set the basic route for docs to something other than `/docs`

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

We do not use Docusaurus only to write docs but guides and tutorials as well.

## Pitch

Provides better customization?

[2018-08-01 16:25] stonebk commented on #454
@rafaelnsantos what was your solution?

[2018-08-02 07:16] #719 closed

[2018-08-03 07:32] Tom910 opened #884 "Custom path to doc"
## 🚀 Feature

Implement the ability to store documentation in different directories in the application

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yep

## Motivation

It is more convenient to store the documentation

## Pitch

[code]
in request.md
[code]
or maybe in sidebars.json
[code]

[2018-08-03 07:40] s-pace commented on #454
👋 Are you running DocSearch yourself or are you using the hosted version of it?

When we host it for you, you do not need to mention your appId but once you are using it on your own, [you need to specify it](https://community.algolia.com/docsearch/documentation/docsearch-scraper/overview/).

[2018-08-03 09:17] endiliey commented on #884
While this will be great, on versioned and/or internationalized documentation, this can be confusing as where to point the docs.

I think it will be a much more convenient and easier to write a small script to copy the docs on `packages/request/request-doc.md` to `docs/components/request.md` before you build your website.

WDYT ? @Tom910

[2018-08-03 14:36] JoelMarcey commented on #884
So you can choose the directory where the docs are stored (via `customDocsPath`) and have subdirectories within there. But you are asking for docs in multiple directories -- and, as @endiliey hinted at, would require a bit of a re-architecture of how we process the documentation.

[2018-08-04 07:25] endiliey commented on #701
This has been happening on my local (although randomly) as well. I thought it was a local issue but today I confirmed that it is not. In fact, Docusaurus itself is experiencing this.

Check https://circleci.com/gh/facebook/Docusaurus/2847

<img width="935" alt="jpegtran-promise" src="https://user-images.githubusercontent.com/17883920/43673714-0a9c866a-97fa-11e8-96e6-e1f5c6a99e4f.PNG">

The build s

[2018-08-04 11:59] #585 closed

[2018-08-04 14:40] #701 closed

[2018-08-05 17:31] Tom910 commented on #884
thanks, ok i will copy files before build

[2018-08-05 17:31] #884 closed

[2018-08-06 00:45] WillBrock commented on #410
It doesn't look like this is being worked on so I'll work on implementing this.

[2018-08-06 12:24] lwasylow commented on #448
Would be great feature as its quite painful to review build on local machine

[2018-08-06 18:29] JoelMarcey commented on #410
Thanks @WillBrock!

We've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that we can remove the label and free it up for someone else to claim.

We will check in with you periodically so that we can keep the task updated with the progress.

[2018-08-07 15:42] deevincentday opened #893 "Confused with getting started instructions"
## Getting Started Instructions need a bit more clarity.

I was following the instructions , I installed node and then Yarn
Then I was told to navigate to a github directory, I have not yet created a github repo.  It would be useful to include the creation of the repo in the instructions as not all writers are familiar with github.

So part way through the installation I now have to break off the

[2018-08-07 19:33] JoelMarcey commented on #893
Hi @deevincentday - sorry you are finding issues in the documentation for getting started. We are definitely willing to review and accept a pull request to clarify the documentation.

With respect to your issue:

- Once you install Node (yarn is optional), then you should be able to run the `npx docusaurus-init` script to get everything going. We have tried to make the installation of Docusaurus a

[2018-08-09 16:11] prudhvireddy123 commented on #466
+1

[2018-08-10 05:03] codering opened #895 "Add last updated time at bottom right corner for docs"
## 🚀 Feature

Add last updated time at bottom right corner for docs like [vuepress](https://vuepress.vuejs.org/guide/#gitbook) do

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

## Pitch

[2018-08-10 12:31] eimerreis opened #897 "Broken asset links when using cleanUrl setting"
## 🐛 Bug Report

When using the cleanUrl: true setting, docusaurus generates new sub folders for each site. For example, if you want clean url `/docs/Connectivity`, what docusaurus generates is a sub folder called `Connectivity` with an `index.html` file in it instead of the original `Connectivity.html`.

I really like the idea of this, but when the `index.html` within a cleanUrl subfolder referen

[2018-08-10 13:30] endiliey commented on #897
1.We actually produce connectivity.html and connectivity/index.html when cleanUrl is true.

2. How did you reference the image ?

Example:
[code]

Our documentation recommend on using absolute url path instead of relative path.

[2018-08-10 14:14] eimerreis commented on #897
@endiliey thanks for your fast reply!

you're right, we're actually not using absolute paths. I'll figure out if we can change this in our existing documentation.

Do you see this as an issue for larger projects? I'm thinking about big projects with existing markdown structures using relative paths, trying to use Docusaurus.

[2018-08-11 09:13] xeoneux opened #898 "APNGs do not animate after passing through OptiPNG"
## 🐛 Bug Report

If I add an APNG image, it stops animating after I build the docs.

Can we use a different `imagemin` plugin that supports APNG compression as well?

[2018-08-11 10:00] endiliey commented on #897
@eimerreis

Actually this relative path case will happen on i18n and/or versioned website as well.
1. i18n website has urls like `/docs/en/`, `/docs/ja`.
2. versioned website has urls like `/docs/next/`.
3. i18n & versioned website has urls like `/docs/en/next`

There are many ways to solve this either on Docusaurus side or user side, but I think it is really really straightforward for user to use

[2018-08-12 09:59] shaform opened #901 "Incorrect sitemap URLs when `baseURL` != `/`"
## 🐛 Bug Report

According to the [documentation](https://github.com/facebook/Docusaurus/blob/master/docs/api-site-config.md):

So we should set `url` as `https://reasonml.github.io` even though the root of the docs is `https://reasonml.github.io/reason-react/`.

But if we set it like that, the URLs in sitemaps would be:

- https://reasonml.github.io/examples

While it should be:

- https://reason

[2018-08-12 10:09] endiliey commented on #901
@shaform

Did you misconfuse two different websites ?

https://reasonml.github.io/reason-react/sitemap.xml
<img width="651" alt="/reason-react/" src="https://user-images.githubusercontent.com/17883920/44000883-8e254b82-9e5a-11e8-88f3-0a1d2a361700.PNG">

https://reasonml.github.io/sitemap.xml
<img width="432" alt="/" src="https://user-images.githubusercontent.com/17883920/44000894-add6df40-9e5a-11e

[2018-08-12 10:17] endiliey commented on #898
Hi @xeoneux,

I'm not aware of any imagemin plugin that supports APNG compression. If you are aware of any, a PR will be appreciated.

[2018-08-12 10:17] shaform commented on #901
Hi @endiliey, as the actual `reason-react` set `url` as `https://reasonml.github.io/reason-react` instead of `https://reasonml.github.io` as instructed by the documentation. Their sitemap.xml `https://reasonml.github.io/reason-react/sitemap.xml` is correct.

[2018-08-12 10:28] endiliey commented on #901
@shaform

Great catch. Thanks for reporting. This is a bug.
<img width="652" alt="react-native" src="https://user-images.githubusercontent.com/17883920/44001027-ce1afe6a-9e5c-11e8-8498-cf04e5207588.PNG">

Do you want to try sending a PR ?
We should add the baseUrl part

https://github.com/facebook/Docusaurus/blob/8f9f7a560236abdd403bbc1b7b0313dd99f65a2e/lib/server/sitemap.js#L62

https://github.co

[2018-08-12 10:32] shaform commented on #901
Sure, I'll try to come up with a PR today.

[2018-08-12 10:37] endiliey commented on #901
This part
https://github.com/facebook/Docusaurus/blob/8f9f7a560236abdd403bbc1b7b0313dd99f65a2e/lib/server/sitemap.js#L86

should be

[code]
<img width="950" alt="fixed" src="https://user-images.githubusercontent.com/17883920/44001124-7e441dde-9e5e-11e8-8325-a65d9e3f26a5.PNG">

Will wait for your PR 😃

[2018-08-12 11:49] #901 closed

[2018-08-13 05:14] xeoneux commented on #898
@endiliey thanks! That's what I found out too.

Is there a way to disable the Image Compression while building the docs so that none of the images get compressed, using a flag or adding a key/value pair to `siteConfig.json`?

[2018-08-13 05:18] yangshun commented on #898
Refer to this section on `docusaurus build` command - https://docusaurus.io/docs/en/commands#docusaurus-build

[2018-08-13 07:58] xeoneux commented on #898
@yangshun thanks! :D

[2018-08-13 08:30] #893 closed

[2018-08-13 14:15] JoelMarcey commented on #466
@KerimG I wouldn't say never. It is on on our [v2 roadmap](https://github.com/facebook/Docusaurus/issues/789).

[2018-08-14 15:44] zack9433 commented on #323
Hi @endiliey

I think versioning is broken on **v1.3.2** when I run `yarn run version  1.0.0` and create `versioned_docs` `versioned_sidebars`, `versions.json` correctly. After created version, I run `yarn start` and shows some error message

[code]

[2018-08-14 16:35] endiliey commented on #323
@zack9433 mind giving a reproducible repo?

[2018-08-14 23:06] zack9433 commented on #323
@endiliey seems like it's my settings problem and versioning is good right now. thx

[2018-08-15 17:25] gaui commented on #489
Would love to see MDX support like in [Docz](https://www.docz.site)

[2018-08-16 19:59] chenglou commented on #350
Just ran into this too!

[2018-08-17 16:33] ucdstudent95618 opened #906 "Facebook Like/Share Button"
## 🐛 Bug Report

The Facebook button in the footer is not being displayed accurately. The "Sign up" text is being wrapped around in the div and the number of people liking the page is not visible.

![css_issue 2](https://user-images.githubusercontent.com/19369949/44277645-38b6bd80-a200-11e8-8711-68e6f5871b9a.png)

`<div><span class="hidden_elem" id="u_0_5">You and 553 others like this.&nbsp;&nbsp;

[2018-08-20 17:49] JoelMarcey commented on #350
I just updated the translation docs for CircleCI 2.0.

https://docusaurus.io/docs/en/next/translation

I won't close this issue yet in case we want to do the Docker image (or we can move that to another issue).

[2018-08-20 18:00] JoelMarcey commented on #906
@ucdstudent95618 Thanks for catching this. Would love a PR if you would like to fix it. I didn't see it since I was already logged into FB, I think.

[2018-08-20 19:36] ucdstudent95618 commented on #906
Yea I'll fix it

[2018-08-20 19:36] ucdstudent95618 commented on #906
and you're welcome! :)

[2018-08-21 04:47] SleepWalker commented on #868
@endiliey, @ericnakagawa  I have a question about next/prev links at the page bottom in case, when we are using Object with href and label to define the sidebar link. In this case the link may point outside current site.

Should the next/prev navigation include this link or should we skip the link and point to the document next (or previous) to the link?

[2018-08-21 05:11] endiliey commented on #868
Cc @joelmarcey @yangshun

[2018-08-21 15:52] miralemd opened #908 "Console error thrown when onPageNav !== 'separate'"
## 🐛 Bug Report

Console error thrown due to missing element.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. set `onPageNav` in `website/siteConfig.js` to some value other than 'separate' (to hide the right side nav menu).
1. Go to [http://localhost:3000/docs/en/installat

[2018-08-21 17:00] #908 closed

[2018-08-22 06:59] prakhar-goel commented on #789
+1 for offline search using `lunrjs` or similar. We are using Docusaurus for internal company documentation and therefore cannot use default Algolia search. Ability to search through markdown files would be a great add on to the current version.

[2018-08-22 07:00] prakhar-goel commented on #466
+1 for offline search using lunrjs or similar. We are using Docusaurus for internal company documentation and therefore cannot use default Algolia search. Ability to search through markdown files would be a great add on to the current version.

[2018-08-22 07:15] yangshun commented on #823
@prithvi16 it's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-08-22 08:05] prithvi16 commented on #823
@yangshun  Thanks!

So how do you want me to do this? Should I use Pjax hack used by https://github.com/reasonml/reasonml.github.io/blob/source/website/static/js/pjax-api.min.js

Or something else?

[2018-08-22 08:28] yangshun commented on #823
Yes ReasonML's way looks good. If you can think of even better ways that would be appreciated.

[2018-08-22 08:36] pixelastic opened #910 "Live Docusaurus website not up to date with repo"
## 🐛 Bug Report

Hello,

I was about to file a PR to fix an issue with the DocSearch documentation on https://docusaurus.io/docs/en/search#docsNav (replacing `lang` with `language`). Then I realized that this change had [already been fixed](https://github.com/facebook/Docusaurus/commit/aa1f82649cd69d555812d3dc398f66ef081d18c9#diff-234041e8f66e13c16cdf52912fa6f77b) in the repo, but is not visible o

[2018-08-22 08:45] yangshun commented on #910
It is in sync, just that it's at https://docusaurus.io/docs/en/next/search, which is the trunk version. You were looking at the latest released version. We should release a new version soon though.

[2018-08-22 08:56] endiliey commented on #910
@yangshun i'll send a prerelease PR asap (maybe tonight) but I'll need your / joel help for the npm release.

Anyway, closing this.

[2018-08-22 08:56] #910 closed

[2018-08-22 08:57] prithvi16 commented on #823
Here's my proposal :
Store scroll location in local storage when user scrolls
and retrieve it on page reload.

[2018-08-22 08:59] yangshun commented on #823
What if someone opens multiple pages of Docusaurus in the same browser? It's not uncommon to right click -> open in new tab when browsing documentation.

[2018-08-22 09:00] prithvi16 commented on #823
Yes. :smile: . I will think of something else.
Do you have anything in mind?

[2018-08-22 09:00] pixelastic commented on #910
Oh I see. I assumed that the documentation website was following a different lifecycle than the project itself (allowing to update the docs without forcing a new release of Docusaurus itself).

I'll close the issue then, waiting for the next release :)

Thanks

[2018-08-22 10:50] SimenB opened #911 "Make `nav`s next to content take up full width"
## 🚀 Feature

Make the left and right hand `nav`s take up the outer width to facilitate easier scrolling

## Motivation

When scrolling, you have to have  the mouse above the ToC to scroll it instead of the page's content. On the right hand, it's easy to have the cursor too far to the right, scrolling the document instead of the content

## Pitch

I'm unable to take a screenshot of the pointer, bu

[2018-08-22 13:56] endiliey commented on #911
To sum it up, for example
https://jestjs.io/docs/en/configuration#modulefileextensions-array-string

![screenshot from 2018-08-22 21-48-41](https://user-images.githubusercontent.com/17883920/44467621-ed643b00-a655-11e8-8f22-8b20173a0719.png)

Expected behavior when scrolling at point
(1) -> scroll page content
(2) and (3) -> scroll sidebar
(4) and (5) -> scroll TOC

Current behavior when scrolling

[2018-08-22 14:00] SimenB commented on #911
Yup, perfect!

[2018-08-22 14:01] SimenB commented on #911
The left part is fine, but because of the alignment of the right one it's easy to have the cursor too far to the right

[2018-08-22 14:44] JoelMarcey commented on #895
Claimed by @sbansal3096

[2018-08-22 14:44] JoelMarcey commented on #877
Claimed by @sbansal3096

[2018-08-22 15:26] yangshun commented on #911
@fiennyangeln it's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-08-22 15:27] JoelMarcey commented on #911
@fiennyangeln Excellent! Thank you so much.

We've added an `issue: claimed` label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

Of course, I'll check in with you so that we can keep the task updated with the progress. 😄

[2018-08-22 15:27] JoelMarcey commented on #911
Ha ha ha @yangshun and I were thinking the same thing 🤣

[2018-08-22 17:49] SleepWalker commented on #868
@JoelMarcey That's a request from #827. It can be that the link will point to the same domain, but that may be a page outside of Docusaurus context (e.g. auto-generated API docs with their own layout and navigation).

So which of the two options are better? The second one looks better to me

[2018-08-22 20:38] JoelMarcey commented on #868
@SleepWalker  Thanks for the context.

Yeah, I am ok with option 2.

[2018-08-22 21:53] SimenB commented on #911
Another thing I noticed that's semi related is that while the left hand navigation gets a scrollbar, the right one does not. Intentional?

[2018-08-25 06:16] fiennyangeln commented on #911
Hmm, do you think its ok if i add another CSS Class to modify the change since i realize most of the css class used by the page like docsNavContainer and mainContainer are used by other page and my change (set flex:1 to the docsNavContainer and onPageNav, remove max-width:1400px and margin:0 auto in the docMainWrapper) will affect other page like Blog ?

[2018-08-25 18:47] Daniel15 commented on #350
Yeah, ideally we should use Docker instead of installing the dependencies on every single build. I forgot about this issue and guess I never got around to doing this :(

[2018-08-26 13:33] notlmn opened #916 "Conflicting localized strings cause mixed up values for title and sidebar labels"
## 🐛 Bug Report

Docusaurus uses the same object to have localized strings of both `title` and `sidebar_label` of a page, using `id` as key that maps to `title` of that page. This is fine in most cases, but if the `id` and `sidebar_label` of a page are the same then the keys conflict, causing both of them to mix up.

This leads to behavior like #324. This gets even weirder when the same values are

[2018-08-27 02:31] JoelMarcey commented on #911
Hi @fiennyangeln Would adding anything to our `custom.css` file help you here? https://github.com/facebook/Docusaurus/blob/master/website/static/css/custom.css

[2018-08-27 16:40] notjaril opened #918 "Next and previous buttons wrap and stack on mobile"
## 🚀 Feature

Changing the next and previous button styles so that they don't stack and wrap on smaller screens (either on desktop or mobile).

![img_7537](https://user-images.githubusercontent.com/15959269/44671053-636bf780-a9f2-11e8-8a2e-aa12d1021a5a.jpg)

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-iss

[2018-08-27 17:13] tanc opened #919 "Use 0.0.0.0 for livereload address"
## 🚀 Feature

At the moment live reload is hardcoded to use localhost for its address which stops it working inside a docker container. This request is to change it to 0.0.0.0 to allow livereload to work when visited from the host machine.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Mot

[2018-08-27 19:50] JoelMarcey commented on #918
@notjaril Thanks for the bug report. Do you have any interest in submitting a PR to fix this?

[2018-08-27 21:17] JoelMarcey commented on #918
@notjaril I like option 2 as well. 👍

[2018-08-27 21:28] yangshun commented on #918
Option 2 is great 👍 Sometimes we have extremely longer unbreakable strings because they are function names though, for example: https://facebook.github.io/react-native/docs/0.56/touchableopacity

Not sure how we can deal with that.

[2018-08-27 21:28] yangshun commented on #918
@notjaril it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-08-27 21:39] notjaril commented on #918
@yangshun I've noticed the extremely long strings as well. It should be okay, since the current CSS handles that case just fine by wrapping the text within the button anyway.

![aug-27-2018 17-34-28](https://user-images.githubusercontent.com/15959269/44687638-b8723280-aa1f-11e8-8286-e9c7ee8b548b.gif)

[2018-08-27 21:44] yangshun commented on #918
Yes, it wraps for text which have spaces in them. In the example I posted above, there are no spaces in them because they're code (function names/component names). In this case, we could use something like `text-overflow: ellipsis` for truncation.

[2018-08-27 22:01] notjaril commented on #918
Oh I see what you're saying. Truncation is a good idea - though I just noticed that the arrows (← →) are part of the text, and the next arrow (→) would get cut off if the text were truncated.

I'm thinking we could make the arrows its own DOM element inline with the text, that way only the text gets truncated. Any thoughts on how to get around it?

I'll think about this more and circle back.

[2018-08-27 22:05] yangshun commented on #918
Cool. Yes we could move the → into its own span

[2018-08-27 23:17] yangshun opened #922 "Blog post with title of 7.0.0 not working"
## 🐛 Bug Report

First reported at https://github.com/babel/website/issues/1780

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. Go to https://babeljs.io/blog/2018/08/27/7.0.0
1. Click on blog title

Original issue: https://github.com/babel/website/issues/1780

## Expected

[2018-08-28 01:58] notjaril commented on #922
It seems that all the links from https://babeljs.io/blog to that blog post (sidebar/read more/title) is working as it should.

The only link that's broken is the one attached to the blog post's title (https://babeljs.io/blog/2018/08/27/7.0.0). Is it possible to manually change the postHeaderTitle link?

[2018-08-28 02:30] endiliey commented on #922
#923 should fix this

[2018-08-28 02:38] nancyk25 commented on #906
Just fixed it. PR is[ here](https://github.com/facebook/Docusaurus/pull/924)

[2018-08-28 04:09] #922 closed

[2018-08-28 16:04] #324 closed

[2018-08-28 16:04] #916 closed

[2018-08-28 17:01] endiliey opened #925 "Create a basic README for new Docusaurus project"
## 🚀 Feature

When running `docusaurus-init`, we should at least create a basic README.md in `website` folder.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Pitch

This will help anyone who contributes to a project using Docusaurus on how to quickly get started. The README created in `web

[2018-08-28 17:02] endiliey commented on #246
Duplicate #925

[2018-08-28 17:02] #246 closed

[2018-08-28 17:12] endiliey commented on #99
Seems that https://docusaurus.io/docs/en/publishing.html#using-github-pages have mentioned how to manually publish without CI

[code]

[2018-08-28 17:12] #99 closed

[2018-08-28 17:17] #213 closed

[2018-08-28 17:18] endiliey commented on #97
`separateCss` https://docusaurus.io/docs/en/site-config.html#optional-fields

[2018-08-28 17:18] #97 closed

[2018-08-28 17:20] endiliey commented on #210
I think linting should be done via user side. It's not nice to crawl & check for external link.

[2018-08-28 17:20] #210 closed

[2018-08-28 17:22] #183 closed, assigned to nobody

[2018-08-28 17:27] #346 closed

[2018-08-28 17:28] endiliey commented on #334
I think we should leave linting stuff to user.

[2018-08-28 17:28] #334 closed

[2018-08-28 17:30] #345 closed

[2018-08-28 17:33] endiliey commented on #254
Is this still happening ? Don't have an iOS devices :cry:

[2018-08-28 17:34] #325 closed

[2018-08-28 17:36] endiliey commented on #310
Feel free to re-open a new one

[2018-08-28 17:36] #310 closed

[2018-08-28 17:37] html5cat commented on #254
Yes. There's also a 1 px gap between the nav bars now:
https://photos.app.goo.gl/ouZdT6FvVAvUKjTY6

[2018-08-28 17:40] endiliey commented on #737
Custom layout got removed because upon investigation it actually doesn't work :sob:

Let's leave custom layout on v2 implementation

[2018-08-28 17:40] #737 closed

[2018-08-28 17:42] #724 closed

[2018-08-28 17:48] endiliey commented on #832
This should be left to user.

[2018-08-28 17:48] #832 closed

[2018-08-28 17:49] endiliey commented on #249
Kind of duplicate #806

[2018-08-28 17:49] #249 closed

[2018-08-28 17:53] endiliey commented on #525
Couldn't reproduce as well. Feel free to reopen

[2018-08-28 17:53] #525 closed

[2018-08-28 17:55] endiliey commented on #494
Actually this is related to how the browser is still downloading the image.

[2018-08-28 17:55] #494 closed

[2018-08-28 17:57] endiliey commented on #804
@yangshun seems that no response for https://github.com/facebook/draft-js/pull/1797

[2018-08-28 18:01] endiliey commented on #848
@helloworld still working on this ?

[2018-08-28 18:07] #442 closed

[2018-08-28 18:11] endiliey commented on #738
I will close this since we already have FB comment for v1. On v2 user can extends their own layout and write React component so this is up to the user

[2018-08-28 18:11] #738 closed

[2018-08-28 18:13] #290 closed

[2018-08-28 18:14] endiliey commented on #219
Let's not bloat the siteConfig.js for now and stick to v2 roadmap to let user extends the layout itself / whether they want to add page rating or not

[2018-08-28 18:14] #219 closed

[2018-08-28 18:16] endiliey commented on #350
Let's move that to another issue

[2018-08-28 18:16] #350 closed

[2018-08-28 18:19] endiliey opened #926 "Docker for Docusaurus"
## 🚀 Documentation

At least document on how to create a docker image for Docusaurus project or anything related to Docker.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

[2018-08-28 18:28] endiliey commented on #399
This should be left to user though because we don't want to dictate the look/ layout of the pages.

[2018-08-28 18:28] #399 closed

[2018-08-28 18:36] endiliey commented on #754
I think we're doing quite good for now and let's not add extra dependency. We are moving to v2 anyway :smile:

[2018-08-28 18:36] #754 closed

[2018-08-28 23:09] notjaril commented on #925
I can take this on :)

[2018-08-28 23:13] JoelMarcey commented on #210
Not saying we shouldn't close this necessarily -- but I think this was in reference to *internal* links within the docs. To make sure we didn't type anything bad in [xxx](link-to-local-doc.md) or something.

[2018-08-29 01:02] endiliey commented on #210
I think i missed that. We could file a new issue if needed 😊. Old issue like this usually isnt seen by contributor, so new issue can kinda bump things up

[2018-08-29 04:02] deadcoder0904 commented on #494
@endiliey You can do it like Gatsby does. It uses Raster SVG so that images don't jump around. Don't believe me, try [my site](https://akshaykadam.me/apps/wip-desktop/). Just don't try on Safari. Also try throttling your internet connection to see the effect. I think it can be added to Docusaurus just like its been added to Gatsby. But if you don't want to, its Okay. I don't use this anyways :)

[2018-08-29 04:48] endiliey commented on #494
Hey, cool down :smiley:

I was triaging issues with ~5 months old with no activity. Well, it seems to me not to be descriptive enough and that React suspense API is not even released yet at the moment of writing.

It seems that I overlooked it, sorry for that. Everybody make mistakes.
Now I believe that it is more descriptive. You could've mentioned the example earlier.

Please open a new issue wi

[2018-08-29 04:58] yangshun commented on #804
I'll ping the maintainer tomorrow and at the same time update to a newer Docusaurus version.

[2018-08-29 04:58] deadcoder0904 commented on #494
Lol I'm not angry. Why did you think I'm angry 😂

I'm just opened the issue when I was using RNE. Besides I don't get angry. Also, I said it bcz I don't have a cool package to use Docusaurus. I just use Gatsby & make apps so I won't need to use this.

Docusaurus has a different use-case which I don't have bcz I am not making products for devs. Also, I did use the issue template above if you can se

[2018-08-29 05:04] endiliey commented on #494
Okay :ok_hand:

I'll file a new issue instead. Thanks

[2018-08-29 05:22] endiliey opened #928 "Progressive Image Loading"
## 🚀 Feature

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To improve the user experience. When visiting a page, for example: https://docusaurus.io/en/users
We can see that by default browser will not display the image until it is fully downloaded.

## Pitch

Note that Medium

[2018-08-29 12:44] notjaril commented on #928
I’d like to take this on!

[2018-08-29 13:15] #895 closed

[2018-08-29 16:50] ucdstudent95618 commented on #906
I haven't had the chance to fix it. So check nancy's PR @JoelMarcey :)

[2018-08-29 22:04] yangshun commented on #804
All projects have been updated to >= Docusaurus 1.3.0. Closing this!

[2018-08-29 22:04] #804 closed

[2018-08-29 23:50] dhuber23b opened #929 "Blog link breaks"
## 🐛 Bug Report

When you run the command:
yarn run publish-gh-pages
to publish your site, the blog page (assuming you have one set up) does not get the css.  As a result, the page looks ugly and unformatted.

The workaround, according to Joel Marcey, is to switch to the gh-pages branch and copy the file blog/index.html to blog.html.

I am not entirely sure why this workaround works, but it does.

[2018-08-30 02:00] JoelMarcey commented on #210
Sure. Let's file a new issue.

[2018-08-30 11:48] endiliey commented on #929
Hi @dhuber23b,

I sent a PR on https://github.com/facebookresearch/sumo-challenge/pull/1 to update Docusaurus.
Can you merge that and we'll work from there ?

Thanks

[2018-08-30 12:15] wszgxa commented on #926
Could I take this one?

[2018-08-30 13:06] endiliey commented on #926
@wszgxa it's yours!

I've added an "issue-claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-08-30 13:07] endiliey commented on #928
@notjaril it's yours!

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-08-30 14:11] JoelMarcey commented on #827
Claimed by @SleepWalker

[2018-08-30 17:35] MeinLieblingsmensch opened #932 "Vulnerabilities"
## 🐛 Bug Report

NPM reports vulnerabilities upon installing Docusaurus, on Node v10.6.0 MacOS High Sierra

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## To Reproduce

1. npm install docusaurus -D

## Expected behavior

Install Docusaurus without issues

## Actual Behavior

NPM reports th

[2018-08-31 05:43] endiliey commented on #928
You might want to check this out

https://github.com/Paul-Browne/lazyestload.js

[2018-09-01 03:05] wmhilton commented on #843
I found a hack to work around this for now! But it makes SUCH a HUGE difference in page load time it really should be built in to encourage best practices.

My Chrome Lighthouse audit (simulated Fast 3G) Time to First Contentful Paint when from greater than **10 seconds** to less than **2 seconds**. (I have a lot of JavaScript........)

The Footer is already customizable, so you can add a loop to

[2018-09-01 10:03] muuvmuuv commented on #843
@wmhilton great workaround for now!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-01 10:28] wszgxa commented on #848
Could I take this one?

[2018-09-01 10:52] endiliey commented on #848
@wszgxa sure 👍. Send a PR in

[2018-09-01 20:50] #925 closed

[2018-09-02 05:45] #918 closed

[2018-09-02 17:12] yangshun commented on #848
@wszgxa it's yours!

I've added an "issue: claimed" label so that others will know not to start work on the issue. If you change your mind about the issue, no worries! Just let me know so that I can remove the label and free it up for someone else to claim.

I'll check in with you periodically so that we can keep the task updated with the progress.

[2018-09-03 08:57] olafurpg commented on #448
This would be a nice feature addition. It would enable users to download an offline zip of the website, open `index.html` and everything works without a server. Another use-case is that it becomes possible to serve the same generated site from different base URLs.

For example, I'm using docusaurus for documenting Scala projects https://olafurpg.github.io/sbt-docusaurus/ I also release the documen

[2018-09-03 12:52] guigaoliveira opened #938 "Change default language"
Is possible to change the default language (from English to Portuguese for example)? I wanted to make English as the second translation option, not the main one.

[2018-09-03 13:40] flovilmart opened #939 "Allow for importing contents from another file"
## 🚀 Feature

The feature would let importing contents from an external file into a documentation file, in order to facilitate documentation reuse.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

YES!

## Motivation

While working on porting the https://github.com/parse-community/docs repo from the

[2018-09-03 16:38] daKmoR opened #940 "Adding more complex files to static breaks the build"
## 🐛 Bug Report

Adding more complex "folder content" to static breaks the build.

### Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

yes

## To Reproduce

1. checkout a storybook app
1. generate a static version of storybook
1. put that folder in assets/*

## Expected behavior

demos folder will be p

[2018-09-04 10:52] wszgxa commented on #263
I want to take on `lib/version.js`

[2018-09-04 13:59] kevinbarabash commented on #852
I would love to use Docusaurus but am in the same situation.

[2018-09-04 14:06] kevinbarabash commented on #789
It would be nice if https://github.com/facebook/Docusaurus/issues/852 could be addressed as part of v2.

[2018-09-04 22:15] mvm3k opened #942 "Docusaurus build and push commands do not copy *.css files from subdirectories of website/static."
## 🐛 Bug Report

yarn  run build and publish-gh-pages do not copy *.css files from our  website/static/api directory that contains Doxygen-generated API docs  into website/build. Is this intentional? All the other files, hundreds of them in a deep directory structure, are copied fine, but these two CSS files are ignored.

### Have you read the [Contributing Guidelines on issues](https://github.com

[2018-09-04 23:50] JoelMarcey commented on #942
I am working with @mvm3k now on this.

[2018-09-04 23:58] JoelMarcey commented on #942
After chatting with @mvm3k - I believe we just needed to use the `separateCSS` option for `siteConfig.js` as described here: https://docusaurus.io/docs/en/site-config#optional-fields

@mvm3k is testing it now.

He made a good point that we should probably add something about Doxygen integration at a higher level of our docs where this setting could be crucial for Docusaurus.

[2018-09-05 00:15] JoelMarcey commented on #942
This worked. 🎉

We still have a bug where files starting with `_` are are not getting built/published. Will look into that.

[2018-09-05 00:15] #942 closed

[2018-09-05 00:17] JoelMarcey opened #943 "Document how to integrate with Doxygen"
## 📚 Documentation

Clear and explicit documentation on how to integrate Doxygen-generated APIs.

## Have you read the [Contributing Guidelines on issues](https://github.com/facebook/Docusaurus/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

https://github.com/facebook/Docusaurus/issues/942

## Pitch

For those that build Doxygen based API docs so that the resulting HTML ca

[2018-09-05 07:52] EthanMarrs opened #944 "Minor documentation wording issue"
## 📚 Documentation

In the [Adding docs to the sidebar section](https://docusaurus.io/docs/en/navigation#adding-documents-to-a-sidebar), the sentence `"docs" is just a name. It has no inherit meaning. You can change it as you wish.` should most probably read `"docs" is just a name. It has no inherent meaning. You can change it as you wish.` -- ie. I think "inherit" should be "inherent".

### Have

[2018-09-05 09:36] #944 closed

[2018-09-05 15:43] JoelMarcey commented on #877
@sbansal3096 does not have a Mac (and thus Safari) to do this work.

[2018-09-05 16:01] JoelMarcey commented on #938
@guigaoliveira At this point, English is the default shown language. But you are correct that we should have an option to set what the default language is.

We actually have this as a feature request in https://github.com/facebook/Docusaurus/issues/586 - @endiliey is this something we should still target before v2?

Of course, the if you don't have translations on, you can just write your docs in

[2018-09-05 16:01] JoelMarcey commented on #938
I am going to close this as a duplicate of #586  - but feel free to comment there as well.

[2018-09-05 16:01] #938 closed

[2018-09-05 16:05] endiliey commented on #938
@JoelMarcey I'm targeting that on v2 to not hardcode english as default language.

One thing to note is that in current version, all pages are located in `pages/en/*.js`, it should be `pages/**.js` in v2

[2018-09-06 11:12] endiliey commented on #820
@wszgxa feel free to send a PR.

[2018-09-06 12:03] endiliey commented on #789
https://docusaurus.io/docs/en/versioning#fallback-functionality

If you've been using Docusaurus for a while, you might notice that the Docusaurus creates versioned docs **only and if only** the docs content are **different.**

Let’s say we have a docs file

## **docs/hello.md**

[code]

And then **we cut version 1.0.0,** Docusaurus will create **`website/versioned_docs/version-1.0.0/hello.md`**

[2018-09-06 21:47] yangshun commented on #820
@wszgxa Just a heads up, this issue may not be worth fixing because it's quite a small issue (had trouble reproducing the issue reliably), doesn't affect too many users, and a solution may involve dirty hacks.

[2018-09-07 17:52] bildungsroman opened #947 "Embeded videos not showing"
## 🐛 Bug Report

I am migrating a documentation site from Jekyll to Docusaurus, and a lot of the .md files have html sprinkled in at the moment, generally related to displaying images and video files. The images are wrapped in `<figure>` tags (for styling), and those are working fine.

The problem is with the video files - this is what they look like:

[code]
(I have to wrap the `<video>` tag in a